[2021-08-24 14:28] jodrisb commented on #2463
I am experiencing the exact same issue
[deployer@5a992cc941d7 ~]$ az --version
azure-cli                         2.25.0 *

core                              2.25.0 *
telemetry                          1.0.6

Extensions:
aks-preview                       0.5.24
azure-firewall                    0.12.0

Python location '/usr/bin/python3'
Extensions directory '/home/deployer/.azure/cliextensions'

Py

[2021-08-24 14:59] mostaqur opened #2511 "Long delay to all web request (Waitiing TTFB is large value)"
Hi,
I am using AKS to deploy my Tomcat based Java web application.
My cluster is using Kubernetes 1.19.11.
I install Ingress according to https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip guide.

I am using ClusterIP as service which is exposed through ingress. Infront of ingress I am using Application Gateway for public access.

I noticed every web request suffering from long delay a

[2021-08-24 20:18] phealy commented on #1990
The answer here is to use a custom subnet (bring-your-own subnet) instead of letting AKS provision a default subnet; if you do that, you can own and modify the NSG at the subnet level. "If you provide your own subnet, you have to manage the Network Security Groups (NSG) associated with that subnet. AKS will not modify any of the NSGs associated with that subnet. You also must ensure the security r

[2021-08-25 03:29] andyzhangx commented on #2289
since azure file server IP has changed, the only way to migrate now is as @phealy said `recreating the pod to trigger an unmount and remount of the share`

[2021-08-25 03:29] #2289 closed

[2021-08-25 07:00] #2375 closed

[2021-08-25 11:33] mauve commented on #2245
I just hit the same problem, trying to create an AppGW and Cluster in the same deployment:

The tracking ID for the failed deployment is `75a663e0-24c1-42ef-b0b2-8376a789d6b5` FWIW.

[code]

[2021-08-25 11:42] mauve commented on #2245
I tried moving the applicationgateway resource into a Bicep module (subdeployment) but it fails with the same error still.

[2021-08-25 16:41] mokhirashakira opened #2512 "Private AKS in an Unknown State"
**What happened**:

I created a private cluster using TF but the status of the cluster for Resource Health has been at an Unknown state.
[code]
Looking at the node and the pods in kube-system everything looks to be working as expected.

[code]

**What you expected to happen**:

For Resource Health to be in a Healthy state.

**How to reproduce it (as minimally and precisely as possible)**:

Here is

[2021-08-26 13:50] jclangst opened #2513 "cluster-autoscaler does not respect CriticalAddonsOnly taint which is the only taint available to system nodes"
**What happened**:

The system nodes only have the option to add the `CriticalAddonsOnly` node taint. The cluster autoscaler ignores the `CriticalAddonsOnly` node taint in scheduling computation and results in undefined and undesired behavior.

**What you expected to happen**:

The cluster autoscaler properly respects `CriticalAddonsOnly` taints on the system nodes during its scheduling calculatio

[2021-08-26 16:36] usrlocalang opened #2514 "2 Separate Node Pools. Autoscaling Enabled. But No Scaling Occurs on Specific Node Pool"
**AKS FailedScheduling**:

**Would have expected it to Scale up a node in the specific Node Pool that had insufficient CPU. **:

**Create an additional Node Pool with GPU's taint. Create a pod with no taints and give it more memory than what is currently on any of the existing default pool machines. Shouldn't it scale up another node in the default node pool so it can schedule the pod on that node

[2021-08-27 09:35] SimonPfeiffer opened #2516 "Insights for AKS shows overall memory usage of node and not the allocatable memory"
**What happened**: When monitoring the cluster in Azure portal we see memory usage of nodes based on the overall memory capacity of the node. This is a issue because it is not reflecting the actual allocatable memory percentage.

**What you expected to happen**: It should show memory percentage of allocatable memory like given on `kubectl top nodes`

**How to reproduce it (as minimally and precise

[2021-08-27 09:50] dev-samples opened #2519 "Update service principal skipping passwordCredentials[0].endDate (legacy AAD)"
I have some 1.18 AKS clusters running "legacy" AD (meaning client and server AAD applications and Service principals).

I have followed the guides here:

https://docs.microsoft.com/en-us/azure/aks/update-credentials#reset-the-existing-service-principal-credential
https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials
https://docs.mic

[2021-08-27 23:33] qpetraroia opened #2521 "Breaking changes in ReWrite Plugin CoreDNS 1.8.4"
AKS is currently running CoreDNS 1.8.3 and upgrading to CoreDNS 1.8.4 in September. A breaking change with the rewrite plugin with CoreDNS 1.8.4 has been identified.

This is an example for 1.8.3
[code]
The below is an example for 1.8.4 that won't break, which requires customers to update there configuration.
[code]
**What happened:** AKS is advising customers to update there rewrite plugin.

**Wh

[2021-08-28 12:32] jclangst commented on #2513
@marwanad A few stakeholders have worked together to generate a proposed solution which sounds aligned with your proposal for a new flag in upstream: https://github.com/kubernetes/autoscaler/issues/4097.

As for the missing features, I don't have the complete list, but I know that the "managed autoscaler" was making it hard to uncover the root cause for issues like this b/c we didn't have complete

[2021-08-29 01:00] #2321 closed

[2021-08-30 08:06] mauve commented on #2245
Any progress?

[2021-08-30 08:11] primeroz commented on #930
@alexeldeib thanks for this. I am planning to try this out but was wondering what is `(not finished)` yet ?

[2021-08-30 08:28] mostaqur commented on #2511
Hi,
Still waiting for the response. Anyone can help?

[2021-08-30 08:33] vidyasagarreddyc opened #2522 "Terraform for AKS idempotency not working"
**What happened**:

terraform idempotency not work for AKS, first time it will deploy successfuly, if i rerun same code without changin anything, it recreate cluster/components. Raised support request they ask to report here.

**What you expected to happen**:

terraform should not recreate any comopents, if no changes in terraform code

**How to reproduce it (as minimally and precisely as possible

[2021-08-30 13:08] zacharias33 commented on #2276
Hi I am experiencing a similar issue on Kubernetes version 1.19.11. The PID space of random node exhausted and my only solution for now is to restart that node. Do we have any updates on this feature?

[2021-08-30 14:39] miaooss commented on #930
Is the preview enabled on this, will be nice to test it?

`
![image](https://user-images.githubusercontent.com/12585926/131356466-69d17074-de5b-47c0-bad8-261530f1ddb9.png)
`

[2021-08-30 14:45] joaguas commented on #2514
other than what @marwanad already mentioned (make sure pod is not requesting more cpu time than what the node can provide) you can also check the cluster autoscaler events or issues: `kubectl -n kube-system describe cm cluster-autoscaler-status` . If you enable diagnostic settings you can also logs from the autoscaler pod itself:
`AzureDiagnostics
| where Category == "cluster-autoscaler"
| where R

[2021-08-30 15:03] marwanad commented on #2513
@jclangst fair enough, we're usually quick when patching and back-porting those upstream issues but totally understand if you're in a happy place with the unmanaged version.

The only downside is certain fixes/improvements that are AKS-specific that are bit of a hassle to get upstream (example the use of CriticalAddons taint is different than other providers). I'll probably resolve this issue (sin

[2021-08-30 15:21] joaguas commented on #2510
@mjaow with a private clusterthe API's fqdn resolves to that private ip from cluster's subnet meaning that even if you have an UDR with 0.0.0.0/0 set to hop through your FW, this private traffic will still be routed locally as there's the VNET's inherited advertised subnet(s) range(s).

This traffic should not be hitting your FW unless you're very explicitly routing 10.41.0.1/32 (or some mask smal

[2021-08-30 16:08] joaguas commented on #2505
Besides KEDA, you may also want to consider using AGIC - you expose application gateway metrics to azure's metrics adapter and use it as a source for a custom k8s metric which you can then base your hpa on. (currently beta) https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-autoscale-pods

As for your other issues:
1 - What does cli return on the az aks stop command?

2

[2021-08-30 21:28] Sathishkunisai commented on #2521
should we update coredns_custom configmap in the Azure AKS? please advise

[2021-08-30 23:25] jclangst commented on #2513
@marwanad Yes, I think that you can close this issue. I wanted to bring visibility to the AKS team in case you had opinions different than mine which is that a fix is needed in the upstream CA (see originally linked issue).

For visibility, just the inability to mess with the code was the biggest limitation given all of the "interesting" behavior that we are uncovering, especially in re-using conf

[2021-08-30 23:25] #2513 closed

[2021-08-31 04:32] learn2skills commented on #2497
- Issue not resolved

[2021-08-31 05:30] tomkerkhove commented on #2505
Actually I'd recommend not to do that since Azure Kubernetes Metric Adapter is no longer being maintained in favor of KEDA. You can easily pull the Application Gateway metrics and scale on that with the KEDA Azure Monitor scaler (https://keda.sh/docs/latest/scalers/azure-monitor/)

[2021-08-31 06:10] vijaypatnana commented on #2511
Hi,

@mostaqur we are in the same boat.

We recently upgraded our AKS clusters to 1.19.11 version in lower environments, since then we are seeing high TTFB for graphql app.

I am hitting an API call using curl command with **--write-out** option from AKS worker node, here is the output -

**time_namelookup=0.000028
time_appconnect=0.000000
time_connect=0.000213
time_redirect=0.000000
time_pretrans

[2021-08-31 09:52] ToxicWar opened #2523 "K8s 1.21 ISS value is a double-quoted twice string"
**What happened**:

With AKS cluster upgrade to k8s 1.21+ I found new behavior for service account authentication. Due to this change, the issuer is different from the **_kubernetes/serviceaccount_** issuer that default tokens are created with, so validation with Kubenetes’ default issuer will fail.

So, integration with Vault (via k8s auth plugin) now returns the `claim "iss" is invalid` error.

[2021-08-31 14:42] Sathishkunisai commented on #2521
Could you advise on the impact? as we are not using rewrite in our coredns_custom configmap

[2021-08-31 17:50] miwithro opened #2524 "Microsoft Defender for Containers - Image Scanning of Images attached to Pods"
Microsoft Defender is being converted to a daemonset.  This issue is to track the release of continual scanning.

[2021-08-31 17:50] miwithro opened #2525 "Custom Policy support for AKS"
Add Azure Policy Custom Policy support (REGO) to AKS.

[2021-08-31 17:51] miwithro opened #2526 "Microsoft Defender for Containers Process Runtime Security"
Adding Process Runtime Protection to Azure Defender for Kubernetes.

[2021-08-31 17:52] miwithro opened #2527 "Microsoft Defender for Containers Inventory"
Adding Inventory (White list) capabilities to Azure Defender for Kubernetes.

[2021-09-01 00:09] immuzz commented on #2036
https://github.com/microsoft/Windows-Containers/issues/24 Linked the issue to Windows Containers as its being tracked there.

[2021-09-01 00:09] #2036 closed

[2021-09-01 00:13] immuzz commented on #2115
Is there any specific feature you're looking for in WS2022? The work is being done right now to enable it with upstream K8s.

[2021-09-01 02:10] ganga1980 commented on #2457
Thanks  @kaplik for reporting and also helping on validating the fix. Fix has been rolled out to all the regions.

[2021-09-01 02:12] ganga1980 commented on #2457
Hi, @Azure/aks-leads , Can you guys please help on closing this issue as the fix has been rolled out to all the AKS regions?

[2021-09-01 02:29] #2457 closed

[2021-09-01 06:17] peter-bertok opened #2528 "Please support Windows Server 2022 in AKS"
Windows Server 2022 RTM is now available, and most of its new features are focused on containerisation.

In particular, the ability to use gMSA without having to domain-join the hosts is something that many organisations have been waiting for to enable migrations of on-prem legacy apps to containers.

Ideally, instead of simply "Windows", AKS should provide multiple image options, including "2019"

[2021-09-01 06:22] peter-bertok commented on #2115
@immuzz The ability to use gMSA identities for AD domain auth without having to domain-join the hosts is a killer feature of Windows Server 2022. Without it, many types of lift-and-shift V2C migrations are simply out of the question.

[2021-09-01 07:01] m85543 commented on #2327
Is this still true?

[2021-09-01 08:00] #2458 closed

[2021-09-01 09:14] pierluigilenoci opened #2529 "Zone balancing lost during cluster update"
**What happened**:

Premise: we have several node-pools with taint so that the pods are separated on the nodes according to internal criteria (ex: infrastructure pods only on system nodes, production pods on production node pools separate from development ones, etc). Node polls have a minimum size of 3 nodes, one for each zone, some applications are configured to always be present in each zone bec

[2021-09-01 10:50] 0dragosh commented on #2521
Is this rolling out to all AKS clusters or will the impact be limited to upgrades to an AKS patch version?

[2021-09-01 12:44] miwithro commented on #2522
@grayzu can you assist?

[2021-09-01 13:08] miwithro commented on #2327
@m85543 most likely not, we haven't locked in a Public Preview date yet.  We just started the Private Preview essentially.

[2021-09-01 15:35] mboutet opened #2530 "Crashloop of `csi-azuredisk-node` `DeamonSet` on `standard_nd12s` nodes"
**What happened**:

Logs from `azuredisk` container in `csi-azuredisk-node` `DeamonSet`:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

**What you expected to happen**:
No crashloops.

**How to reproduce it (as minimally and precisely as possible)**:
Create AKS cluster v1.21.1 (`East US` in my case) with `standard_nd12s` and observe crashloops.

**Environment**:
- Kubernetes v

[2021-09-01 16:01] MarekStrejczek-TomTom opened #2531 "Autoscaler does not split scale-ups to match available IP addresses"
**What happened**:
Many pods were created by HPA, cluster-autoscaler kicked in but didn't add as many nodes as expected.

Autoscaler logs (from Log Analytics) say that it wants to add 30 new nodes: `Final scale-up plan: [{aks-hugememory-35177555-vmss 5->35 (max: 39)}]`
We use kubenet networking and have 24 IP addresses in the subnet. Autoscaler didn't add any new nodes due to:
`Failed to increase

[2021-09-01 16:19] justindavies commented on #1890
Hi there, firstly apologies for takins so long to get back to you.  Are you still seeing this issue?

[2021-09-01 16:25] EPinci commented on #1532
Hey, as an update to this, there are two features coming up.
First one is "Scale down mode" #2061 that will allow you to "turn off" one nodes without decommissioning the image (and thus not loose the pulled images) and "Teleport" #1785 that caches image layers as already mentioned in the thread.
You can look at the mentioned issue for details.

Thank you.

[2021-09-01 16:29] EPinci commented on #1796
Hey, this is by design, the default system assigned identity that the cluster is associated with is meant to be used for the cluster to interact with the Azure backplane. To use identities with a Pod you have to explicitly create a User Assign Identity and attach it to the pods, this is also to prevent unintentional use of identities (think about having multiple apps in the same cluster that needs

[2021-09-01 16:29] mikepasco commented on #2072
@rmorilha we're sorry for the delay in reaching your issue. Can you please confirm if you are still having this issue? If so, can you please try with the latest API version and confirm if the behavior is the same?

[2021-09-01 16:34] qpetraroia commented on #2272
Hi @kaplik,

@zr-msft, can you take a look at this?

[2021-09-01 16:34] mikepasco commented on #1911
Requesting portal team to review this feature request.

[2021-09-01 16:34] justindavies commented on #2531
Hi there, is it a /24, or you have only 24 IP addresses in the subnet available?  Is this one pod per VM?  The scale operation as you said is failing as the request in its entirety will fail to be desired state.

[2021-09-01 16:35] phealy commented on #1644
@mayaherskovic @miwithro Could you please provide an update here?

[2021-09-01 16:36] EPinci commented on #1875
@paulgmiller Can you investigate, please?

[2021-09-01 16:37] mikepasco commented on #2043
@SrinuM we're sorry for the delay in reaching your issue. Can you please confirm if you opened a [Support Request](https://azure.microsoft.com/en-us/support/create-ticket/) and if you are continuing to see this issue?

[2021-09-01 16:39] justindavies commented on #2529
Hi there, have you made any changes to the surge configuration for upgrades?  @paulgmiller for reference

[2021-09-01 16:40] phealy commented on #1614
Will be addressed as part of #460

[2021-09-01 16:41] justindavies commented on #2528
Hi Peter, I'm the PM for Windows on AKS - we are working on supporting 2022, and gMSAv2 will be in public preview shortly.  Please get in touch if you want to be included on the current private preview for gMSA

[2021-09-01 16:41] qpetraroia commented on #2281
Hey, @zr-msft

Can you take a look at this?

[2021-09-01 16:45] mikepasco commented on #2074
@connectgirish3 please see the question above requesting more feedback and let us know if you are still facing this issue.

[2021-09-01 16:46] jmcshane commented on #1796
@EPinci thank you for your response. I understand that the AKS system assigned identity would not be appropriate for a single pod running in ACI. The goal is to be able to provide _some identity_ to the pods running in the virtual kubelet.

Now that ACI supports user assigned identities, the goal here is very simple. I would like the ACI provider to be able to grab a user assigned identity that th

[2021-09-01 16:47] EPinci commented on #1960
@akshaysngupta, can you address the latest comment of @CJJ69, please?

[2021-09-01 16:47] keikhara commented on #2057
This has been completed.

[2021-09-01 16:47] #2057 closed

[2021-09-01 16:49] miwithro commented on #1953
@akshaysngupta is there a fix here?

[2021-09-01 16:52] mikepasco commented on #2049
Updated as a feature request. @marwanad can you assist?

[2021-09-01 16:56] phealy commented on #2195
As @palma21 said, we are still working on improving functionality with the ALB team. However, if you're only targeting a single pod behind each port, you could consider following more of a game server operational mode: [put public IPs on all of your nodes](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools), then expose your services

[2021-09-01 16:56] EPinci commented on #2162
@MindaugasBudas Are you still experiencing the issue?
Have you upgraded you cluster since then?

Thank you.

[2021-09-01 16:56] elan-wrussell opened #2532 "Pod creation failing with "no available addresses""
**What happened**:
Within a node pool pods are stuck at ContainerCreating with the event:

**What you expected to happen**:
Nodes should run as per normal.

**How to reproduce it (as minimally and precisely as possible)**:
Unfortunately it is happening randomly and the only resolution appears to be to delete and recreate the pool.

**Anything else we need to know?**:
The cluster is using Azure CNI

[2021-09-01 16:57] mikepasco commented on #2084
@danimal521 can you please review this?

[2021-09-01 17:02] phealy commented on #2015
You can now [bring your own private DNS zone](https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone).

[2021-09-01 17:02] #2015 closed

[2021-09-01 17:51] petegrimsdale commented on #2245
@robbiezhang Is there a plan / timeline to get this issue addressed as a number of deployments will expect to create the Application Gateway in the same automation template as the AKS cluster with the AGIC addon

[2021-09-01 17:59] mikepasco commented on #2093
Closing as this is being tracked under https://github.com/Azure/AKS/issues/1515

[2021-09-01 18:00] #2093 closed

[2021-09-01 18:02] MarekStrejczek-TomTom commented on #2531
It's a /26 subnet (64 IP addresses out of which 5 are reserved by Azure) with 24 available addresses left.
There are several pods per node, but we need only one IP address per node (kubenet networking, not CNI).
I think a smart choice by autoscaler in this case would be to split the scale-up operation. My impression is that AKS used to split scale-ups as I don't recall having this problem before s

[2021-09-01 18:27] mikepasco commented on #2119
@V4A001 we're sorry for the delay in reaching your issue. Can you please confirm if you were able to complete the upgrade?

For reference, AKS will introduce an additional node into the nodepool during an upgrade - https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#plan-ip-addressing-for-your-cluster. You will not be able to resize the subnet once the cluster is deployed. If you do not

[2021-09-01 18:54] mayaherskovic commented on #1644
Yes. Azure Defender is working on a new daemonset that will be integrated to AKS as an AKS profile. The new daemonset will replace the need to install Log Analytics agent on AKS nodes and will be supported on all AKS clusters. Targeting to preview this during 2021

[2021-09-01 19:35] ahmelsayed commented on #2521
@qpetraroia It doesn't seem to be possible to do the equivalent of the original config that would work for both 1.8.3 and 1.8.4. i.e:

[code]

The alternative in 1.8.4 is

[code]

but that's invalid in 1.8.3.

[2021-09-01 23:31] mikenri commented on #2115
@immuzz
Another big benefit is a 40% smaller container image.
Windows container images take a long time to pull because they are so large.
Reducing image pull time by 40% would really help speed up AKS node updates/upgrades.

[2021-09-01 23:39] phealy commented on #2181
The general way I see this handled is with [Kured](https://docs.microsoft.com/en-us/azure/aks/node-updates-kured), which can reboot the nodes when /var/run/reboot-required is set. Because it respects draining nodes and PodDisruptionBudget it should do so safely.

You can also find the nodepool name by looking in .spec.providerID on the node objects, like so:
[code]

Let me know if this doesn't ans

[2021-09-02 00:24] qpetraroia commented on #2179
Hey @miwithro,

This needs more information. Please update, thank you

[2021-09-02 00:24] qpetraroia commented on #2180
Hey @miwithro,

This needs more information. Please update, thank you

[2021-09-02 00:27] qpetraroia commented on #2183
Hi @saaror,

Any updates on this issue?

[2021-09-02 00:37] hieumoscow commented on #2122
kubernetes.azure.com/mode=user is now one of the labels on user pool nodes. You can verify via `kubectl get nodes --show-labels`

[2021-09-02 00:37] #2122 closed

[2021-09-02 00:44] danimal521 commented on #2140
@justindavies is this on the road map (linked issues above)

[2021-09-02 00:51] danimal521 commented on #2368
Just following up on this, @NickKeller any updates?

[2021-09-02 00:57] qpetraroia commented on #2230
Hi @njuCZ,

This API was deprecated because it was actually a part of "ACS". As Azure Container Services moved over to Azure Kubernetes Service, this API was dropped. Thanks for bringing this to our attention, we will work on providing an equivalent to AKS.

[2021-09-02 01:03] danimal521 commented on #2372
@reinventit were you able to test this with calico?

[2021-09-02 08:02] pierluigilenoci commented on #2529
@justindavies we haven't changed anything to the surge configuration from the default configuration.

The cluster updates one node at a time, the problem is that it does not properly choose the AZ of the nodes it creates in order to keep the node pools balanced in the AZ.

Here is an example of what can happen:

1) Initial situation: 3 nodes in 3 different AZ (west-europe 1, 2 and 3), all works fi

[2021-09-02 08:02] mikkelhegn commented on #1796
@jmcshane - I'd recommend opening an issue in the virtual kubelet aci-provider repo.

[2021-09-02 08:32] reinventit commented on #2372
@danimal521  No, we have setup the cluster with 'Azure' network policies and switching to Calico is not supported as part of the k8s managed service.

[2021-09-02 10:07] alijahnas opened #2533 "Azure portal Read access"
Hello,

Could somebody please point to the right permission to give to a user in order for him to view the AKS resources (namespaces, deployments, etc.) from Azure portal?

We tried "Azure Kubernetes Service RBAC Reader" but it doesn't work. The only way we found is to add the RBAC binding directly in Kubernetes. Is there a way to do it from the portal?

Thanks

[2021-09-02 15:25] Shaybs commented on #2058
Any updates? Ephemeral Containers would be nice, tbh.

[2021-09-02 17:00] joaguas commented on #2531
Hi @MarekStrejczek-TomTom can't you just set CAS max nodes to stay within the the subnet limits?
To make things more predictable/manageable plan ahead the numbers of ips necessary for internal services or have the LB take IPs from a different subnet for services.

I believe the scale up behavior has been the same - the scale up plan validates the target node count overall, doesn't scale/plan/check

[2021-09-02 17:22] qpetraroia commented on #2521
Hi folks,

We have reverted the CoreDNS 18.4 rollout. This breaking change is no longer relevant.

Thanks,
Quentin

[2021-09-02 17:47] palma21 commented on #2336
Do you have this same issue with normally create clusters or just via capz?

[2021-09-02 19:03] LochanRn commented on #2336
I don't this issue any more it was only with capz though.

[2021-09-02 19:52] palma21 commented on #2336
Ok, let us know if you have any further issues!

[2021-09-02 20:40] miwithro commented on #2336
@thomas1206 can you have someone look into this issue?

[2021-09-02 20:51] miwithro commented on #2407
@vowne Please ensure you read through our AKS Upgrade document.

https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster

Regarding the timing of Istio I recommend you upgrade Istio first.  Very functionality, and then perform the AKS upgrade.  Just to be clear what AKS version are you on currently?

[2021-09-02 21:21] MarekStrejczek-TomTom commented on #2531
We use a few nodepools that host different workloads. They are all in the same subnet, but typically not all of them are equally busy. Therefore sum of max-sizes for all our nodepools is intentionally greater than subnet capacity. That would be ok as usually not all nodepools are fully busy at the same time. However with cluster-autoscaler not willing to partially execute scale-ups based on availa

[2021-09-03 00:01] miwithro commented on #2416
@thomas1206 @Anumita @Shashank3036 can you address?

[2021-09-03 02:26] zhiweiv commented on #2491
Issue not seen after update to latest Windows image.

[2021-09-03 02:26] #2491 closed

[2021-09-03 02:26] zhiweiv commented on #2490
Issue not seen after update to latest Windows image.

[2021-09-03 02:26] #2490 closed

[2021-09-03 08:52] ToxicWar commented on #2523
AKS cluster k8s v1.21.2 created from scratch
[code]

AKS cluster k8s v1.18.14

[code]

[2021-09-03 08:59] hieumoscow commented on #2523
Thanks @ToxicWar for the sync call, this is related to the Vault issue https://github.com/banzaicloud/bank-vaults/issues/1346. Current workaround is to put `disable_iss_validation: true`.
I am expecting that the next version of the vault plugin would be able to adapt to the new OIDC https value in **iss** field.

[2021-09-03 12:01] Ayushri-wipro commented on #2505
for az aks stop command, I am getting below error-

Unable to load extension 'aks-preview'. Use --debug for more information.
az aks: 'stop' is not in the 'az aks' command group. See 'az aks --help'. If the command is from an extension, please make sure the corresponding extension is installed. To learn more about extensions, please visit https://docs.microsoft.com/en-us/cli/azure/azure-cli-extens

[2021-09-03 13:11] mikepasco commented on #2425
Hi @Morriz we're sorry for the delay in reaching your issue. Can you please confirm if you are still facing this issue?

[2021-09-03 15:02] miwithro commented on #1343
@norshtein for awareness.  We are working on a feature to remove certificates from the local accounts which will address this issue.   We hope to have it available by early Oct.

[2021-09-03 15:02] miwithro commented on #877
@norshtein FYI.

[2021-09-03 16:25] artisticcheese commented on #2115
Where do you see 40% savings? I understand it's advertised as such but it looks like 10% savings based on images I have
PS C:\Users\artis> docker images
REPOSITORY                                  TAG                              IMAGE ID       CREATED       SIZE
mcr.microsoft.com/windows/servercore        win10-21h1-preview               1967dbbeedc5   3 weeks ago   5.1GB
mcr.microsoft.com/window

[2021-09-03 16:33] miwithro commented on #2519
Hello @dev-samples a few things aks first.

1. AKS 1.18 is no longer in support, are you working on an upgrade?
2. Legacy AAD is being deprecated, why not use Managed AAD?
3. Service Principals are being deprecated, why not use Managed Identities?

[2021-09-03 16:45] jemag opened #2535 "Support for cross-region loadbalancer"
Cross-region load balancer currently mentions the following limitation (https://docs.microsoft.com/en-us/azure/load-balancer/cross-region-overview#limitations):

- Are there any plans for making AKS integration possible with cross-region load balancer?
- Would it also be possible to have more details on why these loss of connectivity currently occurs?

Intended setup would be something like:
![ima

[2021-09-03 17:07] bmbadr commented on #2245
I passed the validation andnew AKS is deploued and AGIC is enabled. I used Bicep template (will work also in ARM obviously). I didn't mentioned the AppGW ID so the deployment should create a new one using the default name of "ingress-appgateway". AKS tried to create new AppGW but it could create only a new Managed Identity, and it shows this message in the portal:
"Ingress controller has not creat

[2021-09-03 18:00] #2033 closed

[2021-09-03 18:00] #1942 closed

[2021-09-03 18:00] #1817 closed

[2021-09-04 08:31] tomkerkhove commented on #2535
+1

[2021-09-04 11:31] merou opened #2536 "ReconcileStandardLoadBalancerError"
During deployment (bicep or UI) of AKS (tested on 1.20.9) I am getting this error code:
`ReconcileStandardLoadBalancerError`

[code]

### workaround
Somehow this is due to some resource tagging inherited from azure policies set in your subscription (or management grp),
once you remove (or exemption waiver) them, then it works.

[2021-09-04 13:53] AresiusXP commented on #2245
The point of the issue here is that we want to specify the AppGw created within the same ARM template, not leave it to be automatically created.

[2021-09-04 18:50] denniszielke commented on #2181
Sorry this is not solved. Kured has tons of issues and is no longer officially recommended for AKS. @palma21 can you comment?

[2021-09-06 02:07] bcho commented on #2523
Hi @hieumoscow one thing to confirm, does `disable_iss_validation: false` work for the 1.21 cluster?

[2021-09-06 09:34] andyzhangx commented on #223
try set up rook-ceph based on managed disk: https://github.com/Azure/kubernetes-volume-drivers/tree/master/rook-ceph, test result on rook is quite positive:
[code]

[2021-09-06 11:48] Anumita commented on #2416
Hey @aelij , The action "Microsoft.Resources/deployments/write" does not affect the k8s resources. Only data actions affect the k8s resources via Azure RBAC i.e the permissions mentioned in the dataactions field. So it will not affect the Azure RBAC you set for the k8s resources in the cluster. The action "Microsoft.Resources/deployments/write" is usually added for built-in roles.

[2021-09-06 13:29] jabbera commented on #223
@andyzhangx just an FYI I understand this solves the performance issue but you lose all of the advantages you get from azure files: Geo replication, easy access from on prem (windows) machines, standard RBAC and storage auditing, versioning, backup, etc etc etc etc. Its really a VERY poor substitute for a first party supported product.

[2021-09-06 15:46] GuyPaddock commented on #223
Another option is a managed storage provider on Azure, like Qumulo or NetApp.

[2021-09-06 20:42] JohnRusk commented on #223
cc @yuemlu FYI.

[2021-09-07 08:01] mostaqur commented on #2511
Hi,

This becomes a bit urgent. Anyone can help me, please?

[2021-09-07 14:26] dan-leanix commented on #1634
@palma21 Any news on that? It is still not available on AKS running Kubernetes version 1.21.2.

[2021-09-07 20:21] darrinthomascecil commented on #2073
For what versions of AKS are WinDSR enabled?

[2021-09-08 01:23] andyzhangx commented on #2492
the fix should be rolled out on all regions now.

[2021-09-08 01:23] #2492 closed

[2021-09-08 07:58] gtrubach opened #2537 "AKS metrics are not sent to Azure Monitor from time to time"
**What happened**: In our cluster we experience situations, when AKS metrics (CPU, memory, etc.) are missing for some time points.

![image](https://user-images.githubusercontent.com/10942688/132467606-ba15f9fa-4079-4000-aef5-3f0762efcfbe.png)
![image](https://user-images.githubusercontent.com/10942688/132470018-30262a5d-e21f-4f48-9626-3d2952872f2e.png)

The only place where I can see any errors i

[2021-09-08 09:43] sureshgoli25 commented on #1486
When this feature would be GA? Soon means in days or weeks or months or years?

[2021-09-08 12:30] pawelpabich commented on #2165
We just hit a case that is pretty much impossible without access to detailed  `kube-scheduler` logs.  Having read only access to all logs would be amazing.

[2021-09-08 12:51] pierluigilenoci commented on #2529
@msftbot ❤️

![giphy2](https://user-images.githubusercontent.com/36044817/132512333-799b5792-6562-46e3-a755-76fbb17476df.gif)

[2021-09-08 12:59] pawelpabich commented on #2165
`kube-scheduler` supports this flag: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

[2021-09-08 15:29] #2175 closed

[2021-09-08 15:30] #2269 closed

[2021-09-08 15:36] andbess opened #2538 "Pods fails to terminate on Windows nodes on AKS"
**What happened**:
Sporadically some of the pods fails to de terminated on Windows nodes

**What you expected to happen**:
All the pods are terminated automatically

**How to reproduce it**:
Since the issue happens sporadically, it's hard to reproduce

**Additional information**:
We experience the same issue in our AKS cluster as was reported in microsoft/Windows-Containers https://github.com/micr

[2021-09-08 15:47] palma21 commented on #2525
https://azure.microsoft.com/en-us/updates/custom-aks-policy-support-now-public-preview/

[2021-09-08 15:55] palma21 opened #2539 "GPU Multi Instance Support"
Support for GPU partitioning

[2021-09-08 15:59] palma21 commented on #323
https://docs.microsoft.com/en-us/azure/aks/custom-node-configuration

[2021-09-08 20:07] dprotaso commented on #2427
@Azure/aks-leads @Azure/aks-pm any updates?

[2021-09-08 23:32] palma21 commented on #2427
@peterpogorski

[2021-09-09 00:49] tsubasaxZZZ opened #2540 "Support On-demand Capacity Reservation"
On-demand Capacity Reservation is in public preview.
https://docs.microsoft.com/en-us/azure/virtual-machines/capacity-reservation-overview

I hope it will be supported AKS.
Are there any plans for support to AKS worker nodes?

[2021-09-09 06:51] aelij commented on #2416
@Anumita I understand it's usually added for built-in roles but if you look at other "reader" roles you'll see no write actions. IMO it should be removed.

Also please refer to my second question:

[2021-09-09 09:16] robincher commented on #2461
I think a workaround is to create App GW separately via terraform (or another other tool) ,and deploy an ingress controller with nodeport. I have tried this, but unable to achieve full-automation as the azure provider doesn't output some of the information required (specifically VM scale sets details for the App GW backend pool).

[2021-09-09 13:38] IlyaKiselevKolibri commented on #1846
We have a similar problem of the pod load imbalance. Do you have any updates, please? @Azure/aks-pm

[2021-09-09 13:56] phealy commented on #2461
The AKS solution to this, as you're aware, is to use the same RT on the AppGw subnet. I also understand why that can't work for you, and I think the proposed solution is worth looking into. However, as this change would be in the AGIC component, which is owned by the Application Gateway team, any work or updates on this issue should be tracked in Azure/application-gateway-kubernetes-ingress#931. P

[2021-09-09 14:40] thepaulmacca commented on #2245
I've just come across this issue myself and found this thread...really keen to get this resolved as it's the last thing preventing me from a complete deployment (like others here)

[2021-09-09 15:08] petegrimsdale commented on #2245
@palma21 can you help get an update on this issue

[2021-09-09 19:41] hieumoscow commented on #2523
Yes @bcho it does. We can close this issue new until the Vault team address this in their plugin. @ToxicWar feel free to open it back again if there are further issues

[2021-09-09 19:41] #2523 closed

[2021-09-09 21:15] krishnadce commented on #1846
We also have a similar requirement and planning to use IPVS. Whats the roadmap please? @Azure/aks-pm

[2021-09-10 02:25] SnoWolfT opened #2542 "Unable to create PIM assignments for AKS Azure Roles scoped to namespaces for AD groups"
**What happened**:
We started using the normal PIM approach and onboarded our resources for Azure Resources PIM. The issue is, We cant use the Azure AD Roles for Namespaces Binding using PIM as they won’t show up.

Can you help us out with this ?

MS Document:
https://docs.microsoft.com/en-us/azure/aks/managed-aad#configure-just-in-time-cluster-access-with-azure-ad-and-aks

**What you expected to

[2021-09-10 06:54] peter-bertok commented on #2528
@justindavies What's the best way to do that?

[2021-09-10 07:00] #2496 closed

[2021-09-10 07:00] #2467 closed

[2021-09-10 14:43] sureshgoli25 commented on #2014
t seems, the maintenance window having no effect on the auto upgrade channel on our test clusters. As we do not see node image upgrades happening during specific day and time in maintenance window. Also, there are no events or logs available to trace back.

[2021-09-10 14:47] PixelRobots commented on #2014
@sureshgoli25 what upgrade channel have you chosen for your cluster?  Only one will update the node images currently.

[2021-09-10 14:52] sureshgoli25 commented on #2014
Node images. It worked with maintenance window in around 11-Aug. Afterwords, there are no upgrades are happening. Though there are new node images available.

[2021-09-10 14:59] PixelRobots commented on #2014
Hmm seems strange. Have you disabled and reenabled the auto update and recreated the maintenance window?

Might be worth a try as it is still in preview and things can change.

[2021-09-10 15:00] #2461 closed

[2021-09-10 15:07] sureshgoli25 commented on #2014
Will try that as well and report back next week. As our preferred scheduled is usually Sundays early mornings...

[2021-09-10 19:42] palma21 commented on #2014
It worked on my test just now, but please do open a ticket if you don't see it working as expected. +@qpetraroia

[2021-09-10 23:44] tkorrapati1 opened #2543 "Cluster Autoscaler fails to trigger scale-up: 1 in backoff after failed scale-up"
**What happened**:
Cluster Autoscaler fails to autoscale the cluster even after realizing that scaling is needed.

I have I initially deployed the node pool with only one node. and on adding a pod it autoscaled as expected. A day later when I try to add new pods now, they are just getting stuck in pending "state"!

Error Observed
[code]

**What you expected to happen**:
I expected the cluster auto

[2021-09-11 11:28] #2336 closed

[2021-09-13 00:24] danimal521 commented on #2368
Hey @suraj2410 it appears that it has been corrected here: https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftcontainerservice

Are you still not able to create the SP? thanks!

[2021-09-13 04:55] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-09-13 07:11] JJ11teen commented on #1736
We're also looking for a way to turn down the amount of logging AKS does without having to disable Azure Monitor completely.

Ideally we'd like to lower the frequency of data pushed to the `LogManagement/Perf` table on a per k8s namespace level, leaving it as every minute for nodes and pods in production namespaces, but reducing it to every 3 or 5 minutes for pods in dev and staging namespaces.
We

[2021-09-13 07:20] mschuurmans commented on #2292
This is still an issue in the image with version "Ubuntu 18.04.5 LTS   5.4.0-1056-azure"

[2021-09-13 08:34] andyzhangx commented on #2289
The original issue would be solved by Kernel `5.4.0-1049-azure` (latest node image kernel: `5.4.0-1055-azure`), it has the SMB client fix for an issue in DNS resolution after Azure files storage failover, using private-link (only supported in Azure File CSI driver) would also solve this issue.

[2021-09-13 10:10] Anumita commented on #2416
@aelij , I agree. I will follow up that internally on removing that action. Referring to the second question, this is by design. All the Azure Kubernetes RBAC Reader/Writer/Admin roles (e.g  "Azure Kubernetes Service RBAC Reader") are mainly used for talking to api-server only (aka data action). The control plane roles are separate.

[2021-09-13 11:48] mblaschke commented on #2141
@robbiezhang
that's a security issue which needs to be addressed.

kubelet should automatically fetch their node certs from the apiserver to avoid any insecure communication and prevent MitM attacks. metric server should validate the trust chain.

[2021-09-13 14:53] miwithro commented on #1785
This has been pushed to October.

[2021-09-13 14:55] PixelRobots commented on #1785
Sad times. Can you share why?

[2021-09-13 14:56] miwithro commented on #1785
staffing.

[2021-09-14 00:24] tullydwyer commented on #2299
Tested today with a fresh AKS and the issue is not resolved. @feiskyer can you re-open? I think the bot closed prematurely because the `resolution/shipped` tag was added then removed?
![image](https://user-images.githubusercontent.com/7508115/133173641-19ebec46-06a0-4528-bab7-e6400d1afd39.png)

![Screen Shot 2021-09-14 at 10 13 06 am](https://user-images.githubusercontent.com/7508115/133173784-658

[2021-09-14 01:03] feiskyer commented on #2299
reopen the issue as the fix is still under rollout

[2021-09-14 04:44] Krupakarreddin commented on #2063
is this feature available in china

[2021-09-14 07:50] smartpcr opened #2544 "add support for maximum-dead-containers-per-container"
**What happened**:
dead docker images are not immediately cleared

**What you expected to happen**:
have a way to clear dead images from disk using `maximum-dead-containers-per-container`

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.21.6
- Size of cluster (how many worke

[2021-09-14 11:29] kriesto commented on #1972
Hello Everyone,

For those who are still facing this Error while using terrafom AKS module
Code="CreateVMSSAgentPoolFailed" Message="AKS encountered an internal error while attempting the requested Creating operation. AKS will continuously retry the requested operation until successful or a retry timeout is hit. Check back to see if the operation requires resubmission

try to set enable_host_encry

[2021-09-14 13:33] mokhirashakira commented on #2512
This was resolved on its own after a few days.

[2021-09-14 13:33] #2512 closed

[2021-09-14 13:53] djsly opened #2545 "Disabling Local Admin Account after the fact doesn't remove the Admin access"
**What happened**:
We have a cluster with Admin Local Account enabled, we can fetch the Kubeconfig Admin file and issue command ClusterAdmin since there static Certs is not revoked and the ClusterRoileBinding for this local account is still present.

**What you expected to happen**:
When you disable the Local Admin Account, the access of previously fetch admin kubeconfig should be revoked.

**How

[2021-09-14 14:17] miwithro commented on #2545
@djsly we are working on this one already.  @norshtein for awareness.  This should be mitigated this month.

[2021-09-14 15:19] Alexey-Tsarev opened #2546 "Basic load balancers are not supported with multiple node pools"
Hi, I faced with the

error message during last days.

Let me explain, I deployed an AKS cluster with the "Basic" load balancer and TWO node pools using Terraform. But I was not able to deploy it because of initial error (I tried DAYS in a row).
But today, my colleague was able and did it. I was surprised very much!
Let me demo this:
1)
<img width="821" alt="Screenshot at Sep 14 19-02-03" src="htt

[2021-09-14 15:43] djsly commented on #2545
Thanks @miwithro , do you know what the solution will involve ? touching the Binding only or also looking at disabling the Client Certs ?

[2021-09-14 15:54] miwithro commented on #2545
removing the client certs and replacing them with tokens.

[2021-09-14 16:11] miwithro commented on #2063
@Krupakarreddin not yet.  Adding in @norshtein for awareness.

[2021-09-14 16:52] dprotaso commented on #2427
Hey folks any updates on whether this is something that can be fixed?

[2021-09-14 18:35] burtsimpson commented on #1687
+1

Multiple pools would allow us to better designate targets in Azure DevOps pipelines.

[2021-09-14 21:19] JohnRusk commented on #1972
@kriesto I don't see how that setting relates to this issue.  What is the relationship? Also, host encryption is a good thing in terms of security.  I wouldn't feel comfortable with changing a security setting to fix the issue in this thread (which is not security related).

[2021-09-15 00:06] marwanad commented on #2531
You got lucky with the previous cases because you likely had different number of pending pods in one bulk so CA managed to scale at least once for you.

Max pool size is a different case because max pool size is a core CA construct while subnets are a cloudprovider issue.
CA doesn't do partial scale ups today (apart from the max count case). The cloud provider interfaces don't have a way today of

[2021-09-15 07:58] JasonWhall commented on #1787
Updated link for reference - https://docs.microsoft.com/azure/aks/open-service-mesh-about

[2021-09-15 08:55] MarekStrejczek-TomTom commented on #2531
Agreed, I could've just by lucky.

Understood - it's CA limitation, so it's a feature request that will affect:
* K8S cluster-autoscaler (upstream) - to extend interface.
* AKS - to utilize the extended interface, when it is available.

Do I understand it correctly that you are going to raise a request with upstream CA?

[2021-09-15 13:21] miwithro commented on #2347
@raeder1986 can you open a support case so we can remediate those clusters for you?

[2021-09-15 16:09] palma21 commented on #1875
When you define UDR you can't have any element of LB, as the error indicates they are mutually exclusive, please remove those lines and let us know how it goes.

[2021-09-15 16:11] denniszielke commented on #2546
It is not supported and Basic LB + NodePools should not be deployable (it actually has a couple of issues).
Can you share your terraform template?

[2021-09-15 16:17] palma21 commented on #1886
The load balancer IP addresses that are part of the outbound pool are all used by the backend pool, this means any of them can be used, you can't control/specify a specific one per service. This is a feature request we're looking into, which allows you to specify specific egress IPs per service.

A way to do this soon is when we release multiple load balancer support #2174, you can add a specific

[2021-09-15 16:40] palma21 commented on #2166
It should use listClusterUserCredential if it's an AAD enabled cluster (non AAD ones just have admin). Is that the case here?

[2021-09-15 16:53] phealy commented on #1807
We are well past version 1.1.5 at this point in time; is this issue still occurring for you? [You can see the NPM releases here](https://github.com/Azure/azure-container-networking/releases/).

[2021-09-15 17:38] dysinger commented on #2485
I reproduced this over and over. It only happens on AKS K8S >1.18. 1.18 with the docker container runtime works fine. As soon as you hit containerd it starts doing this 5 minute delay. 1.19, 1.20, 1.21 all have it. It's pretty consistent if you launch a 5 node cluster. You will see all the pods launch in a few seconds except for one or two that will be 5 minutes and some seconds. Never 3 minutes,

[2021-09-15 17:40] dysinger commented on #2485
As a test I launched a 3 node cluster on GCE using Kubernetes 1.20.x (containerd) in their us-east region. Linkerd launches quickly in a few seconds with no problems. Could this be an issue with Microsoft's fork of containerd?

[code]

[2021-09-15 19:00] #2469 closed

[2021-09-15 21:42] miwithro opened #2547 "CVE-2021-25741: Symlink Exchange Can Allow Host Filesystem Access"
A security issue was discovered in Kubernetes where a user may be able to create a container with subpath volume mounts to access files & directories outside of the volume, including on the host filesystem.
This issue has been rated High (CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:H/A:H), and assigned CVE-2021-25741.

#Affected Components and Configurations
This bug affects kubelet.

Environments wher

[2021-09-15 21:43] jimmyjamesbaldwin commented on #2166
@palma21 thats correct - IMO shouldn't be any need for the admin api credential call 🙂

[2021-09-15 22:10] miwithro opened #2548 "CVE-2020-8561: Webhook redirect in kube-apiserver"
A security issue was discovered in Kubernetes where actors that control the responses of MutatingWebhookConfiguration or ValidatingWebhookConfiguration requests are able to redirect kube-apiserver requests to private networks of the apiserver. If that user can view kube-apiserver logs when the log level is set to 10, they can view the redirected responses and headers in the logs.

This issue has b

[2021-09-15 23:20] brobichaud commented on #2114
I can confirm that once @AbelHu manually increased the drain timeout to 30 minutes on our two clusters this process now succeeds. We are running k8s v1.20.9 on these clusters and continue to use the very large 15GB Windows base image. The process did take a while as expected, but was seamless and much less error prone than the manual steps we were using before (creating a new nodepool and moving a

[2021-09-15 23:20] #2114 closed

[2021-09-16 00:24] qpetraroia commented on #2417
Hi @jabbera,

Do you need any further help?

[2021-09-16 00:36] qpetraroia commented on #2252
Hi @nicksc423

Are you still having these issues?

@justindavies, have you looked into this issue?

[2021-09-16 01:06] qpetraroia commented on #2296
Hi @JasonWhall,

Thanks for this, I just reproduced it and tagged it as a bug.

Thanks!

[2021-09-16 01:11] qpetraroia commented on #2183
Hi @JoseFMP,

I tried to reproduce your bug, but it ended up working just fine for me. Do you still have this issue?

[2021-09-16 01:16] AbelHu commented on #2114
@brobichaud Thanks for the feedback. AKS has set the default drain timeout to 30 minutes for both Linux and Windows now.

[2021-09-16 08:19] osama-okour opened #2549 "validate and block AKS vNet movement - suggestion"
![image](https://user-images.githubusercontent.com/90705643/133576513-115ed94f-2f25-4b74-bf6b-1fb697cd739f.png)

[2021-09-16 08:21] mosbahmajed commented on #2549
+1

[2021-09-16 08:37] thepaulmacca commented on #2245
Just thought I'd update this thread to help others here;

If using Bicep - if you have your AGW and AKS cluster in separate modules, you can add an `existing` resource to your AKS module:

[code]

Then enable the add-on like this, and it'll now pass preflight validation and do the deployment successfully:

[code]

[2021-09-16 08:38] suraj2410 commented on #2368
@danimal521 yup looks good now!
thank you

[2021-09-16 08:38] #2368 closed

[2021-09-16 13:52] DG007 commented on #2228
starting with dns prefix pdicloud-10 (now we are at pdicloud-12) all clusters are set with the dnsprefix as so "pdicloud-1-pdicloud-1x-xxxx". I believe the issue is with CLI not able to set the proper dns prefix provided via the dns prefix parameter

[2021-09-16 14:27] thpang commented on #1686
Any updates on this one. Seems to have been sitting idle for some time now with no clear solution. Running into this issue when using terraform to stand up the cluster with `private_cluster_enabled` where var.aks_private_cluster is true. Also have these items being passed to the `azurerm_kubernetes_cluster` resource:

[code]

[2021-09-16 15:46] brconnell4 opened #2550 "Unable to uninstall Azure PSP, argument no longer available in az-cli"
**What happened**:
When attempting to uninstall Azure Pod Security Policies to utilize Azure Policies instead, the argument for `--enable-pod-security-policy` is no longer available on az cli 2.28.0. I am unsure when the argument was removed, but this prevents end users from uninstalling the preview for Azure Pod Security Policies. When attempting to enable Policies for the cluster resource in Azu

[2021-09-17 01:52] andyzhangx commented on #2530
the fix has been rolled out to all public regions now, pls check again, thanks.

[2021-09-17 01:52] #2530 closed

[2021-09-17 06:00] #1644 closed

[2021-09-17 16:35] miwithro commented on #2542
Hello,
  The process to segment at the namespace level is to RBAC enable your cluster.  Then set a group membership at the namespace level.   Associate that group with PIM.

https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac

To help out I will add this guidance to the above documentation.

[2021-09-17 20:14] djsly commented on #2545
@justindavies / @miwithro  wouldn't it be best to keep the issue open till it's available ? or else, how to dp we track the progress ? Thanks

[2021-09-17 20:18] miwithro commented on #2545
Yes, can you re-open it?

[2021-09-17 23:06] djsly commented on #2426
Are we expecting CoreDNS 1.8.4 to be pushed automatically soon ?

[2021-09-19 18:00] #2542 closed

[2021-09-20 00:22] djsly commented on #2545
@miwithro i think you will need to remove the label "answer-provided"

[2021-09-20 08:25] brk3 commented on #2452
Hi, just posting an update on this in case it times out. I'm seeing tunnelfront being used in clusters I'm creating in the West Europe region, v1.21.2.

This is causing issues as [reference architectures](https://github.com/mspnp/aks-secure-baseline/issues/223) such are now assuming that all clusters have moved to konnectivity.

Is there anywhere I can read the official stance on tunnelfront vs ak

[2021-09-20 09:07] dentad commented on #1200
We have an issue where a custom tag with a value containing commas is migrated, but the dependent resource gets the value truncated just before the first comma. For multiple tags, each tag value get truncated the same way.

Not an issue with k8s 1.19.11, but an issue after upgrading the control plane only to 1.20.9.

[2021-09-20 10:26] aristosvo commented on #1200
Can we expect to also propagate to i.e. the ContainerInsights add-on? That would be really awesome!

[2021-09-20 10:41] joberget commented on #2547
@miwithro so no need to wait for example for version 1.22.2 or 1.21.5 in AKS? Kubelet is patched with version 5.4.0-1055-azure or newer of the kernel?

[2021-09-20 12:38] Morriz opened #2552 "azurefile pvc error with policy "Public network access onStorage accounts should be disabled""
**What happened**:

A pvc based on the (AKS provided) storage class "azurefile" could not be created on a managed AKS cluster, showing this error:
[code]

**What you expected to happen**:

The pvc to be created.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a pvc:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

[2021-09-20 14:06] rlees85 commented on #1122
I tried to achieve this today as it seemed it would be possible just by making a subnet, attaching a NAT gateway to it and then dropping in an AKS cluster with user defined networking.

WRONG.

AKS forces a route table to be present, with route `0.0.0.0/0` going to either a known private IP address or a VPN gateway.

NAT gateways do not provide a known private IP. Might be possible by spinning up

[2021-09-20 15:11] miwithro commented on #2547
No,  run a node image upgrade to the latest VHD and you are protected.

[2021-09-20 21:06] swgriffith opened #2553 "Node Public IP Host Network NSG Control"
When you create a cluster with Node Public IP enabled, and then try to expose a pod through the host network, there's no mechanism to update the cluster network security group to allow the pod traffic. You need to go into the MC_ resource group and manually edit the cluster NSG to allow the pod port through.

Need a recommended and supported approach. It would be great if there was a way to detect

[2021-09-20 23:45] dentad commented on #1200
We have an issue where a custom tag with a value containing commas is migrated, but the dependent resource gets the value truncated just before the first comma. For multiple tags, each tag value get truncated the same way.

Not an issue with k8s 1.19.11, but an issue after upgrading the control plane only to 1.20.9.

[2021-09-21 14:00] miwithro opened #2554 "CVE-2021-38647: Open Management Infrastructure Remote Code Execution Vulnerability"
# What is OMI?

Open Management Infrastructure (OMI) is an open source project to further the development of a production quality implementation of the DMTF CIM/WBEM standards. The OMI CIMOM is also designed to be portable and highly modular. In order to attain its small footprint, it is coded in C, which also makes it a much more viable CIM Object Manager for embedded systems and other infrastruc

[2021-09-21 14:55] markmassad commented on #205
Can we get an update on this?  It seems from @miwithro that a related feature (e.g. CustomNodeConfiguration) was closed back in January.  We have a few (large) tenants who cannot even touch AKS w/o forward-proxy support, especially in Gov.

[2021-09-21 23:33] sekiyak opened #2555 "[cluster-autoscaler] Prometheus metrics are not available"
**What happened**:
Enabled cluster autoscaler in our clusters, and was not able to find any related Prometheus metrics.

**What you expected to happen**:
We expected to have some cluster autoscaler metrics to be available in Prometheus, based on the following documentation:
https://msazure.visualstudio.com/CloudNativeCompute/_wiki/wikis/CloudNativeCompute.wiki/8967/Cluster-Autoscaler
https://githu

[2021-09-22 09:18] TilmanLacko-TomTom commented on #2058
Looking forward to use `HPAScaleToZero` once this is done..

[2021-09-22 10:25] umegaya opened #2558 "cannot restart statefulset with PVC: Multi-Attach error"
**Describe the bug**
we have aks that has 1 nodepool of 3 node, to run cockroachdb by using helm chart https://github.com/cockroachdb/helm-charts/tree/9a44d3cf217288c456fdc0c9c539ea184fec4ee3/cockroachdb
the chart creates 1 statefulset which size is same as nodepool size(3) and 1 pvc per pod (for persisting database files)

it runs nearly 1 year without any issues, but today I tried to restart 1 p

[2021-09-22 11:05] v1sion opened #2559 "Microsoft.ContainerService/managedClusters/stop/action not available for RBAC"
Hi, I'm trying to create a PowerShell azure function that auto shutdowns an AKS cluster, I added the role of "Azure Kubernetes Service Contributor Role" to the function, but I'm getting the following error `does not have authorization to perform action 'Microsoft.ContainerService/managedClusters/stop/action'`.
After reading https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-

[2021-09-22 14:42] Shaybs opened #2560 "Terraform destroy not working"
Error: deleting Node Pool "core2" (Managed Kubernetes Cluster "sp-test-cluster" / Resource Group "sp-test-resources"): containerservice.AgentPoolsClient#Delete: Failure sending request: StatusCode=0 -- Original Error: Code="OperationNotAllowed" Message="There has to be at least one agent pool."

When I use terraform destroy.

[2021-09-22 18:02] miwithro commented on #2552
@andyzhangx

[2021-09-22 18:34] miwithro commented on #2426
@robbiezhang who is tracking this one closely.

[2021-09-22 19:32] djsly commented on #2426
thanks @miwithro , a soonish upgrade would be nice to have, we started causing failures for our clients each time we deploy/upgrade our software stack...

[2021-09-22 20:03] dev-samples commented on #2519
Yes moving to managed ID but not for this cluster since managed ID requires a re-deploy which is not an option short term.

[2021-09-22 20:26] miwithro commented on #2519
@dev-samples.  No you can update an existing cluster to Managed Identity without a redeploy.

https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#update-an-aks-cluster-to-managed-identities

[2021-09-22 20:33] dev-samples commented on #2519
Interesting I will take a look at that. Was told MI required a redeploy.

Also I am still curious on how to renew/update the enddate in the passwordCredentials section below:

{
....
  "odata.type": "Microsoft.DirectoryServices.ServicePrincipal",
  "passwordCredentials": [
    {
      "additionalProperties": null,
      "customKeyIdentifier": null,
      "endDate": "2021-09-29T11:42:36.771052+00:0

[2021-09-22 23:20] djsly commented on #2545
I tried reopening but I couldn't

[2021-09-22 23:59] miwithro commented on #2545
Got it.  I removed the answer-provided tag.

[2021-09-23 04:30] mananpreetsingh commented on #2245
We are blocked by this to create a solution template offer in the marketplace. There is definitely an issue. This example template does pass validation though: https://github.com/Azure/azure-quickstart-templates/blob/19e2aa29b16e017d599661f7869756ebfd217bab/quickstarts/microsoft.network/aks-application-gateway-ingress-controller/azuredeploy.json#L1797

It seems like  if you specify aciconnectorlin

[2021-09-23 06:04] andyzhangx commented on #2552
The storage account creation failed due to policy `Public network access onStorage accounts should be disabled`.

`allowBlobPublicAccess` is added in azure file csi driver v1.6.0: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/782, if your cluster version is 1.21, set `volume.beta.kubernetes.io/storage-provisioner: azurefile-csi`; another workaround is bring your own storage account

[2021-09-23 06:20] andyzhangx commented on #2558
could be related to this issue: https://github.com/kubernetes-sigs/cloud-provider-azure/blob/bfc60a7659c734a293baa6d8f96ce56afa8a07b1/site/content/en/FAQ/known-issues/azuredisk.md#25-multi-attach-error, could you use workaround in the link?

[2021-09-23 08:03] tdihp commented on #2547
Try `az aks list -ojson | jq '.[] |  .id as $id | .agentPoolProfiles[] | select(.osType!="Windows") |  {id:$id, pool:.name, nodeImageVersion:.nodeImageVersion, imageVersionDate:(.nodeImageVersion | match("[0-9.]{10}").string) } | select(.imageVersionDate < "2021.08.26")'`

[2021-09-23 08:11] joberget commented on #2547
@tdihp Thanks, but I get the following:

`jq: error (at <stdin>:1295): null (null) cannot be matched, as it is not a string`

[2021-09-23 08:11] DanielHajduk2-TomTom commented on #2062
Would love to see this feature being supported by Microsoft directly. Same as for AWS and their https://github.com/aws/aws-node-termination-handler

When can we expect this to be delivered as its already "In Progress" ?

[2021-09-23 08:38] joberget commented on #2547
Looks like this is related to:

`This cluster is not using VirtualMachineScaleSets. Node image upgrade only operation can only be applied on VirtualMachineScaleSets cluster.`

[2021-09-23 09:24] F-Potter commented on #1244
Is there any progress yet on allowing windows container for kubenet CNI? Think a lot of people that have IP limitations would love to have this option.

[2021-09-23 10:37] mostaqur commented on #2511
I am repeating myself. Can anyone advise me at least from where I can get some help?

[2021-09-23 11:45] miwithro commented on #2547
@joberget Are you running VMAS?

[2021-09-23 12:20] joberget commented on #2547
Some clusters are running VMAS and some older are not using VMAS.

[2021-09-23 13:02] miwithro commented on #2547
@joberget is the node image upgrade failing on the VMSS nodes as well?

[2021-09-23 13:22] joberget commented on #2547
@miwithro how can we check if it is running the latest NodeImage on clusters without VMAS?

[2021-09-23 13:40] miwithro commented on #2547
@joberget you can run an az aks show -n -g

 "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2021.09.06"

or you can look in the portal

![image](https://user-images.githubusercontent.com/50749048/134517537-f2300836-0571-4c5f-b898-b01514703ace.png)

[2021-09-23 13:51] joberget commented on #2547
@miwithro  That value is empty here so it looks like it represents the same we see from az aks command where it says null.

[2021-09-23 13:53] miwithro commented on #2547
right that is expected in VMAS but not in VMSS, can you migrate to VMSS?

[2021-09-23 14:11] Morriz commented on #2552
Thanks for providing manual fixes. But does this mean you expect your out of the box experience to fail when people turn on that policy?

[2021-09-23 14:28] miwithro opened #2561 "Customer-Managed Key (KMS) for etcd in AKS"

[2021-09-23 14:28] miwithro opened #2562 "Trusted Launch Support in AKS"
[AKS Trusted Launch Public Preview](https://learn.microsoft.com/en-us/azure/aks/use-trusted-launch)  GA is estimated for end of Aug 2024.

[2021-09-23 14:29] miwithro opened #2563 "Azure Confidential VM Support in AKS"
Bring Confidential VM support to AKS

https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-computing-enclaves

[2021-09-23 15:25] joberget commented on #2547
@miwithro Looks like this is a feature request? https://github.com/Azure/AKS/issues/2325

[2021-09-23 22:18] mananpreetsingh commented on #2245
Workaround that I found for this bug:

* Create a workspace:
[code]
* Then while creating AKS cluster in ARM enable the diagnosticsetting in AKS cluster resource:

[code]

[2021-09-24 01:23] umegaya commented on #2558
@andyzhangx thanks!

we used statefulset and attached different pvc for each pods, so that does not seems to be the case.

we found actual problem is, our service principal for the aks expired a few days ago, detach on deleting pod was failed.

I think aks should keep consistency with this kind of failure, but it is not big problem because current aks uses managed id for service principal by defau

[2021-09-24 01:23] #2558 closed

[2021-09-24 02:18] tdihp commented on #2547
@joberget thanks for the update.

I've modified the script to ignore vmas and sharing a separate script to filter out affected vmas nodes. Note that further efforts will be needed from user side to locate the affected AKS clusters from the VM shown.

Updated jq script to filter all VMSS based nodePools:

`az aks list -ojson | jq '.[] | .id as $id | .agentPoolProfiles[] | select(.osType!="Windows"

[2021-09-24 06:35] joberget commented on #2547
@tdihp Thanks, works fine! But how do I upgrade nodes with VMAS?
[code]

[2021-09-24 07:17] tdihp commented on #2547
@joberget for VMAS based clusters, node-image-only doesn't work. I'd suggest to use below alternatives:

1. If possible to upgrade (i.e. the current node k8s version is not latest), trigger a k8s version upgrade. New VMs will all have latest nodeImages, and old VMs will be retired in the process.
2. If not possible to upgrade:
  1). Scale up new VMs which will have latest images.
  2). Drain the v

[2021-09-24 07:56] joberget commented on #2547
@tdihp Thanks, is there any way to migrate from VMAS to VMSS or do I need to setup a new cluster?

[2021-09-24 08:44] jmorcar commented on #223
New feature, SMB multi channel ... https://docs.microsoft.com/es-es/azure/storage/files/storage-files-smb-multichannel-performance

[2021-09-24 09:16] AdrianPletosu commented on #223
Unfortunately that doesn't help at all with this particular issue (dealing with a large amount of small files). Higher throughput via multiple SMB connections does nothing to alleviate the poor handling of metadata for numerous small files.

[2021-09-24 12:30] tdihp commented on #2547
@joberget AKS currently only offers the choice of VMAS/VMSS on creation unfortunately :(.

[2021-09-24 16:37] saaror commented on #2484
ACK team is looking this issue.

[2021-09-24 17:38] vishiy commented on #2484
@JonParton - Unfortunately this feature is not available now and it would a new one that we need to consider to give that flexibility (scrape interval per target).

[2021-09-24 20:00] mattstam commented on #2482
Should be everywhere by now, can close issue.

[2021-09-25 00:00] #2546 closed

[2021-09-25 00:00] #2536 closed

[2021-09-25 19:00] #2373 closed

[2021-09-25 19:00] #2364 closed

[2021-09-25 19:00] #2247 closed

[2021-09-26 01:00] #2422 closed

[2021-09-26 12:43] garrardkitchen commented on #1967
Is there an ETA update on this feature? 🙏

[2021-09-26 19:00] #2173 closed

[2021-09-27 01:00] #2202 closed

[2021-09-27 04:29] SatyKrish opened #2564 "Azure custom policy to modify `Microsoft.ContainerService/managedClusters/aadProfile.adminGroupObjectIDs` is not supported"
**What happened**:
We have 100s of Prod subscriptions and each have the ability to deploy cluster themselves. ARM template will only have `ManagedAAD` feature enabled, without assigning `adminGroupObjectIDs`.

We are trying to centrally govern `Administrator` access to AKS cluster using a custom policy to add specific AD group to `aadProfile.adminGroupObjectIDs`.  Although `az aks update` provides

[2021-09-27 05:59] huitingyeong commented on #2347
Hi I am facing the exact same issue in my environment. Any suggestions?

[2021-09-27 07:06] normander opened #2565 "AKS default for --node-osdisk-type parameter"
I've created a lot of AKS clusters in many different regions and I saw that this parameter has a different default for westeurope("Managed") , Azure china("Ephemeral").

Can someone help me with investigating why?

[2021-09-27 07:55] thunter1000 commented on #2276
Good morning this is also impacting us with Kubernetes version 1.191.11. When the PID space is exhausted this impacts our calico-node pod which impacts everything on the node. Restarting the node does seem to resolve the issue. Has this change been released yet?

[2021-09-27 08:43] JonParton commented on #2484
Thanks @vishiy / @saaror !

Thank you for the confirmation that this is not possible at the moment. I do think this would be a valuable addition, but I know it may be a bit difficult running up different ongoing schedules etc.

Let me know if you need any more info or anything I can do to help!!

[2021-09-27 09:22] y3sy opened #2566 "Azure RBAC for Kubernetes Authorization does not expire when user loses authorization in Azure RBAC"
**What happened**:
kubectl was able to read AKS objects after RBAC role assignment was removed. This continued for more than 1,5 hours after which I stopped monitoring.

**What you expected to happen**:
kubectl should be denied access to AKS cluster quickly after RBAC role assignment is removed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create AAD group with the command

[2021-09-27 09:38] kciredor opened #2567 "CNCF validation issues after AKS kubernetes upgrades"
Multiple Dutch municipalities using AKS are running into CNCF validation issues.

It looks like everything is fine when creating a new AKS cluster, but as soon as you upgrade the AKS cluster either via terraform or via the Azure Portal, CNCF errors will start to occur. This can be confirmed using Sonobuoy (up to most recent version).

Terraform based:
- Creating a new cluster with v1.20.9 = OK
- U

[2021-09-27 13:20] pierluigilenoci commented on #2529
@justindavies @paulgmiller any feedback?

[2021-09-27 14:12] dprotaso commented on #2427
bump @peterpogorski @palma21

[2021-09-27 21:14] skmit87 commented on #2165
@Yuri

Could you please elaborate what led you to this issue - 'ProvisioningFailed' , please describe the problem use case here and can you also let us know which log details are you most interested in - Any Support cases opened on this prior would be helpful for us .

[2021-09-27 22:07] venkatalolla commented on #323
@palma21 when will the `custom-node-configuration` is going to be **GA**?
https://docs.microsoft.com/en-us/azure/aks/custom-node-configuration

[2021-09-28 06:05] adoprog opened #2568 "Crash loops in azurefile-csi and azuredisk-csi (Error: open \\.\\pipe\\csi-proxy-filesystem-v1beta1: The system cannot find the file specified)"
**What happened**:

After the release https://github.com/Azure/AKS/releases/tag/2021-09-16 has rolled out to the region (East US) where our AKS cluster is deployed, windows nodes fail to run **azurefile-csi** and **azuredisk-csi**, both enter the crash loop with a similar exception: "Error: open \\.\\pipe\\csi-proxy-filesystem-v1beta1: The system cannot find the file specified."

![azure_error](ht

[2021-09-28 09:03] #2533 closed

[2021-09-28 09:41] andyzhangx commented on #2260
already provided the answer, this corner case issue was fixed on azure disk csi driver in v1.3.0

[2021-09-28 09:41] #2260 closed

[2021-09-28 09:50] andyzhangx commented on #2568
@adoprog can you `Upgrade` vmss model in the vmss page in azure portal? Create a new windows node pool could also mitigate this issue. Thanks.

[2021-09-28 09:54] adoprog commented on #2568
Yep, tried that - did not help. With the help of support engineer we've found out that many clusters are missing property called "enableCSIProxy" in a cluster definition. I suppose, the clusters that were upgraded from 1.18 and earlier are the ones that don't have it.

Unfortunately, this property is not exposed in UI or Azure CLI so we can't "enable" it on problematic clusters.

[2021-09-28 09:56] andyzhangx commented on #2568
Does creating a new windows node pool work?  @adoprog

[2021-09-28 09:59] adoprog commented on #2568
Rechecking it now, will report back in 10 mins

[2021-09-28 10:08] jmalkiew opened #2569 "Support nodes with Ephemeral OS with BYOK"
Node(pool)s with Ephemeral OS are not available for customers that have AKS clusters with a customer-managed encryption key.
Please add support for nodes Ephemeral OS for AKS clusters with a customer-managed encryption key.

[2021-09-28 10:12] adoprog commented on #2568
Creating new node pool does not help. The property is not there and the services crash just like in old pool.

[2021-09-28 10:18] ZeroMagic commented on #2568
@adoprog  Which region is your cluster in?

[2021-09-28 10:18] adoprog commented on #2568
East US

[2021-09-28 10:21] adoprog commented on #2568
Australia East - same issues

[2021-09-28 12:11] F-Potter commented on #1244
@wangyira @justindavies @keikhara could you please look at this, this is a major blocker for a large AKS cluster we want to setup. As seen above more people are having this issue.

[2021-09-28 12:40] andyzhangx commented on #2568
pls file an azure ticket, we already fixed one cluster in eastus region. The upgrade fix has already being rolled out, with one more day, it would be rolled out to all regions, while for those windows clusters that were upgraded to v1.21 without the upgrade fix, we need to manually workaround this issue.

[2021-09-28 12:45] andyzhangx commented on #2569
Ephemeral OS does not support custom managed key:
Temporary disks and ephemeral OS disks are encrypted at rest with platform-managed keys when you enable end-to-end encryption. The OS and data disk caches are encrypted at rest with either customer-managed or platform-managed keys, depending on the selected disk encryption type. For example, if a disk is encrypted with customer-managed keys, then t

[2021-09-28 12:50] andyzhangx commented on #2569
while you could add `diskEncryptionSetID: /subscriptions/{subs-id}/resourceGroups/{rg-name}/providers/Microsoft.Compute/diskEncryptionSets/{diskEncryptionSet-name}` in azure disk storage class to encrypt data disk with BYOK, e.g.
[code]

[2021-09-28 20:30] skmit87 commented on #2306
@pierluigilenoci  just confirming that you are looking to control log generation during deployment and not verbosity controls to 'view the logs' in loganalytics or Kubectl?

[2021-09-28 23:12] cailyoung commented on #2568
We've opened ticket `2109280060001140` for Australia East.

[2021-09-29 01:00] tullydwyer commented on #2299
Hi all,

I can now create Private Endpoints for AKS via the console.

Some points:
- I have not tested the network connectivity via the endpoint.
- The Private DNS configuration on the Private Endpoint does not work.
  - The Private Endpoint has no FQDN and no DNS records are created.

![image](https://user-images.githubusercontent.com/7508115/135183683-16243be3-50ef-4f05-b386-dfabd3fa16ec.png)

!

[2021-09-29 01:00] #2299 closed

[2021-09-29 05:34] #2552 closed

[2021-09-29 05:42] sonnyhcl commented on #323
As claimed in [Support for custom log options
](https://github.com/Azure/AKS/issues/1062#issuecomment-889109736), `containerLogMaxSizeMB`/`containerLogMaxFiles` should be avaiable as a valid node config. While I tried updating my AKS cluster and doesn't work.

So I have similiar question on when containerLog related config goes GA.

[2021-09-29 06:44] pierluigilenoci commented on #2306
@skmit87 I want to change the pod configuration to produce fewer logs. So yes, during the deployments.

[2021-09-29 06:50] pierluigilenoci commented on #2306
@palma21 @robbiezhang @justindavies @miwithro @vishiy @saaror @qpetraroia @keikhara
who should I bother to get feedback?

![sorry-to-bother-you-bother](https://user-images.githubusercontent.com/36044817/135217389-fb20532e-7f07-487f-b607-f872d25ae096.gif)

[2021-09-29 08:14] jmalkiew commented on #2569
@andyzhangx Thanks for your input. Just to make sure I understand you. It's not possible to create a node with an Ephemeral OS disk encrypted with customer-managed key, correct? We're in situation where we would like to give a try to a node pool with EphemeralOS and the cluster prevents us from doing that since the cluster uses customer-managed keys.

My understanding is as follows:

- currently n

[2021-09-29 08:31] andyzhangx commented on #2569
@palma21 @miwithro Ephemeral os disk is already the default os disk type now, and if one cluster has already set customer-managed key, there is conflict with these two settings, shall we remove the restriction that Ephemeral os disk node pool cannot be created with a CMK cluster?

[2021-09-29 08:34] mayankkthr opened #2570 "Ingress controller installation failing after node image upgrade - Error ImagePullBackOff"
**Kubernetes versions**
1.21.2
**Node image version**
AKSUbuntu-1804gen2containerd-2021.09.19

I am following this documentation - https://docs.microsoft.com/en-us/azure/aks/ingress-tls
Ingress controller installation fails with an error - ImagePullBackOff

The following command times out:

helm install nginx-ingress ingress-nginx/ingress-nginx \
    --namespace ingress-basic \
    --set controlle

[2021-09-29 08:56] adoprog commented on #2568
After the fix, both services run better but still crash randomly (East US cluster is usable, Australia East one - not really). We also have the ticket open and informed support team.

[2021-09-29 08:56] dzmitry-lahoda opened #2571 "max pods limit"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2021-09-29 08:56] #2571 closed

[2021-09-29 09:01] dzmitry-lahoda opened #2572 "max pods limit minum to 4"
## use case

1. i wan run gameservers on nodes
2. i know limit to pods per node is 4 for 2 core VM
3. i want to set that limit
Actual: azure minimum is 10
Expected: reduce min limit of max pods to 4

## options

### google

use gke

### big vms

6 core VM so can set big limit like 12 - to pricey and not always available globally on scale

### static policy

does not handles well less than core gam

[2021-09-29 09:02] andyzhangx commented on #2568
the windows node should have at least 4 cores CPU vm size, otherwise the driver pod would crash

[2021-09-29 09:05] adoprog commented on #2568
We tried D8S_v3 and D16S_v3 for Windows nodes, it fails on both.
csi-node-driver-registrar:v2.3.0 exits with no exception in a log

[2021-09-29 09:08] andyzhangx commented on #2568
@adoprog could you provide `kubectl describe po csi-azuredisk-node-win-xxx -n kube-system` output if it failed?

[2021-09-29 09:13] adoprog commented on #2568
[describe.txt](https://github.com/Azure/AKS/files/7250522/describe.txt)

Sure, I've attached the output.

[2021-09-29 09:15] adoprog commented on #2568
The errors on the pods are similar to the one below. Not sure if attaching crashes driver or driver crash causes this error.

MountVolume.MountDevice failed for volume "pvc-e91eaa3c-82cc-4ebb-bba6-95613aa556dd" : rpc error: code = Internal desc = could not format "22"(lun: "2"), and mount it at "\\var\\lib\\kubelet\\plugins\\kubernetes.io\\csi\\pv\\pvc-e91eaa3c-82cc-4ebb-bba6-95613aa556dd\\globalm

[2021-09-29 11:43] andyzhangx commented on #2568
@adoprog could you run:
 - `kubectl edit ds csi-azuredisk-node-win -n kube-system`
 - `kubectl edit ds csi-azurefile-node-win -n kube-system`

change `timeoutSeconds: 15` for `csi-node-driver-registrar` inside container livenessProbe, that would workaround the issue, thanks.
[code]

[2021-09-29 12:06] andyzhangx commented on #2568
@adoprog pls try delete the pod, that would trigger attach & mount process again, thanks.

[2021-09-29 12:10] adoprog commented on #2568
Tried that, did not help, same error occurs.

[2021-09-29 12:15] andyzhangx commented on #2568
@adoprog does new pod works? You may cordon that node, delete pod, make it reschedule to other node, if mount still not works, try provide node driver logs by https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/csi-debug.md#case2-volume-mountunmount-failed

[2021-09-29 12:23] adoprog commented on #2568
New service (i.e. new pod, new PV) worked. Log file attached.
[csi-azuredisk-node.log](https://github.com/Azure/AKS/files/7251770/csi-azuredisk-node.log)

[2021-09-29 12:27] andyzhangx commented on #2568
@adoprog I think it's related to abnormal state of driver a few moments ago, try cordon the node, delete pod in problem, and pod would be scheduled to the new node, so it's like new pod, thanks.

[2021-09-29 12:28] oliviergaumond opened #2573 "AKS managed identities have insufficient roles when enabling addons with a Contributor service principal"
## What happened
Creating an AKS cluster and enabling addons (AGIC ingress or OMS Agent) with a user with a contributor role leads to managed identities with incomplete role assignments. The managed identities are created but insufficient roles are assigned, leading to errors later when trying to use those resources.

Depending on the exact steps used to create the dependent resources the outcome

[2021-09-29 12:38] adoprog commented on #2568
Cordoned node, killed the pod, still the same error when attaching:

Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[kube-api-access-vrtsm data]: timed out waiting for the condition         Warning  FailedMount             47s (x8 over 3m12s)  kubelet, akswincsi000003  MountVolume.MountDevice failed for volume "pvc-8646cb0b-78cf-4383-86df-1b969523bd74" : rpc error:

[2021-09-29 12:58] adoprog commented on #2568
Error sequence in pod (maybe this helps):

1) AttachVolume.Attach succeeded for volume "pvc-8646cb0b-78cf-4383-86df-1b969523bd74"

2) Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[kube-api-access-7p2bb data]: timed out waiting for the condition

3) MountVolume.MountDevice failed for volume "pvc-8646cb0b-78cf-4383-86df-1b969523bd74" : rpc error: code = Internal de

[2021-09-29 13:10] andyzhangx commented on #2568
@adoprog can you run `k exec -it csi-azuredisk-node-win-hntvv -n kube-system -c azuredisk cmd` and then `type c:\k\csi-proxy.err.log` & `type c:\k\csi-proxy.log` to get csi-proxy logs on that node?

And have you used those PVCs on Linux node?

[2021-09-29 13:18] adoprog commented on #2568
type c:\k\csi-proxy.err.log:
![csi-proxy err log](https://user-images.githubusercontent.com/1315023/135276018-5f1b8334-bc45-4f44-88b2-4b1c10235737.png)

type c:\k\csi-proxy.log:
nothing

[2021-09-29 13:19] adoprog commented on #2568
What I also noticed, that old and new PVs have different tags format in Azure:

Old:
![tags_old](https://user-images.githubusercontent.com/1315023/135276295-5b7f4644-b245-4156-a84e-89d0f0a15514.PNG)

New:
![tags_new](https://user-images.githubusercontent.com/1315023/135276312-343b8444-6873-4def-8253-9ccef57cdc79.PNG)

[2021-09-29 13:20] dprotaso commented on #2427
Thanks @peterpogorski that's great to hear! Any rough estimate on when the eng team will be able to prioritize this issue?

[2021-09-29 13:28] andyzhangx commented on #2568
tag format are changed from azure disk csi driver v1.7.0: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/1009
And about disk format error, it seems those disks are broken, could you create new disks?

[2021-09-29 13:37] adoprog commented on #2568
Not really, we have hundreds of such instances each comes with disks, often with important data.

[2021-09-29 13:45] abarqawi commented on #323
@palma21 any ETA please ?

[2021-09-29 14:04] andyzhangx commented on #2568
@adoprog can you run Powershell command `Get-Partition` inside that Windows VM and paste the output? thanks.

[2021-09-29 14:09] adoprog commented on #2568
![disk](https://user-images.githubusercontent.com/1315023/135285325-64aa3074-1fec-44cc-9885-272f050f0da9.PNG)

[2021-09-29 14:34] andyzhangx commented on #2568
@adoprog thanks. I found this is a breaking change brought from upstream project: csi-proxy, already worked out a PR: https://github.com/kubernetes-csi/csi-proxy/pull/175, about how to mitigate this issue soon on AKS, I think we need to switch back to csi-proxy beta interface on AKS first.

[2021-09-29 16:12] denniszielke commented on #2561
How is this different from #845 ?

[2021-09-29 16:15] paulgmiller commented on #2529
Have you considered surging in 3 nodes with max surge? That's not garunteed to be balanced but is much more likely.

You can also set a poddisruptionbudget to make sure not more than one one replica is taken down at once.

[2021-09-29 16:17] miwithro commented on #2198
Here is the containerd guidance on garbage collection.

https://github.com/containerd/containerd/blob/main/docs/garbage-collection.md

[2021-09-29 16:19] phealy commented on #2166
Tagging @jenetlan @chandraneel again. Will also forward offline.

[2021-09-29 16:21] alftio commented on #2206
Missing the controller for the CSI driver

KB Article/TSG/Links
-------------------------------
[kubernetes-sigs/azuredisk-csi-driver: Azure Disk CSI Driver (github.com)
](https://github.com/kubernetes-sigs/azuredisk-csi-driver)
[Use Container Storage Interface (CSI) drivers for Azure Disks on Azure Kubernetes Service (AKS) - Azure Kubernetes Service | Microsoft Docs](https://docs.microsoft.com/en

[2021-09-29 16:21] phealy commented on #2228
Can you share the creation command you're using for the cluster, along with the output of `az version` if you're using Azure CLI?

[2021-09-29 16:23] justindavies commented on #2572
We set the minimum max-pods to be 10 to be able to accomodate system pods: https://docs.microsoft.com/en-gb/azure/aks/configure-azure-cni#maximum-pods-per-node.  Is there a reason you cannot accomplish the same thing with cpu requests on your workloads? In this case, setting the cpu request to 500m ?

[2021-09-29 16:32] phealy commented on #2258
When you deploy with `--network-plugin kubenet --network-policy calico`, calico is deployed using the operator. Per the information on the Felix Configuration page, when you're using the operator you can't make configuration file changes directly. Please use the [FelixConfiguration object](https://docs.projectcalico.org/reference/resources/felixconfig) via `calicoctl` or `kubectl` to update your c

[2021-09-29 16:32] EPinci commented on #2255
Hey, when using multiple ingress controller, also the ingress objects need to be annotated with the class of the controller you want to attach it to, regardless of namespaces. (see https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/)
Are you annotating the ingress objects?

[2021-09-29 16:34] chandraneel commented on #2166
Taking a look

[2021-09-29 16:38] miwithro commented on #2262
@Morriz is this still an issue?  We have many multiple enhancements to the CA since April.

Most notably.

https://github.com/Azure/AKS/releases/tag/2021-07-22

Behavioral Changes
Cluster autoscaler will now enforce the minimum count in cases where the actual count drops below that. For example, Spot eviction or changing the minimum count value from the AKS API. In the past, the autoscaler operate

[2021-09-29 16:43] dzmitry-lahoda commented on #2572
windows does not hosts system pods afaik. so for windows it can be 4 or 8, may be. hm, may be. but for sure not my limits.

limits will lags to games.

need to read more about requests.

[2021-09-29 16:47] phealy commented on #2412
Ticket was closed via support; automation was added in the meantime to both make issues of this type less frequent and faster for support to resolve.

[2021-09-29 16:48] miwithro commented on #2565
@andyzhangx @feiskyer have we set the default on sovereign clouds to match Public?

[2021-09-29 16:49] dzmitry-lahoda commented on #2572
probably this would be similar to `requests` on cpu. not sure how far different it will be.

[2021-09-29 16:50] miwithro commented on #2407
@vowne upgrade Istio then AKS.

[2021-09-29 16:55] phealy commented on #2362
@ruowan We attempted to reproduce this quickly without success - can you please share some more details?

- Is this still happening?
- What is your cluster CNI configuration?
- Does this happen when the pods are on the same node, different nodes, or regardless?

[2021-09-29 16:55] miwithro commented on #2338
@naioja can you please open a ticket with support?

[2021-09-29 17:02] miwithro commented on #2292
@cpuguy83 in case you were not aware?

[2021-09-29 18:37] phealy commented on #2323
@ti-mo are you still seeing this traffic? I've tried to reproduce and not been able to.

[2021-09-29 18:49] DG007 commented on #2228
az aks create --name pdicloud-12 --resource-group pdicloud-12
--admin-username k8sadmin --service-principal
$AZURE_CLIENT_ID --client-secret $AZURE_CLIENT_SECRET --ssh-key-value
./k8sadmin.id_rsa.pub --location $LOCATION --load-balancer-sku
standard --node-count $K8S_AGENT_COUNT --node-vm-size
$K8S_AGENT_VMSIZE --kubernetes-version 1.19.11 --load-balancer-outbound-ips
$stableIP --network-plugin az

[2021-09-29 20:03] skmit87 commented on #2306
@pierluigilenoci  yes we are evaluating this feature and requirements - if there are updates to share we shall come back to you. Thanks for clarifying this .  Btw may i know which of them are giving you maximum clutter among these ? (Unnecessary logging i.e)
Calico
CoreDNS
Kube Proxy
OMS Agent

[2021-09-29 21:22] miwithro commented on #2519
@dev-samples we added the migration capability early summer time.

[2021-09-29 23:38] andyzhangx commented on #2568
@adoprog how can I format a disk with `IFS` type? How was that disk created, by azure disk driver, if so, what's the k8s version? I would like to repro this issue, thanks.

[2021-09-30 01:00] #2335 closed

[2021-09-30 01:00] #2313 closed

[2021-09-30 02:06] zhiweiv commented on #2568
There is no workaround and we have to wait right? Some of csi pods began to crash without any actions.
[code]
[code]

[2021-09-30 02:20] andyzhangx commented on #2568
@zhiweiv
try this workaround: https://github.com/Azure/AKS/issues/2568#issuecomment-930098854

[2021-09-30 02:55] zhiweiv commented on #2568
Not work for me, we are using E2_V4 for Windows nodes.
[csi-azurefile-node-win-llrml.zip](https://github.com/Azure/AKS/files/7256293/csi-azurefile-node-win-llrml.zip)
[code]

[2021-09-30 03:03] andyzhangx commented on #2568
@zhiweiv the kubelet response on your E2_V4 node may be too slow, can you try E4_V4 node?

[2021-09-30 03:08] zhiweiv commented on #2568
Hmm, will the 4 cores be the least requirement for csi afterward? or just a temporary mitigation?

[2021-09-30 03:10] andyzhangx commented on #2568
@zhiweiv If you want to run as production, I think 4 cores should be the at least. Try 4 cores first, the automatic fix is already on the way.

[2021-09-30 03:11] zhiweiv commented on #2568
Our production clusters are using 4 cores, for testing clusters we prefer 2 cores to save cost. I will try 4 cores first.

[2021-09-30 03:38] andyzhangx commented on #2565
@alexeldeib is the feature owner, would you comment on this issue? Thanks.

[2021-09-30 03:56] #2206 closed

[2021-09-30 05:11] yuriwoof commented on #2165
Hi @Kaarthis I may mention another Yuri...
Anyway, in my scenario, I set up GluserFS cluster and create Stroage Class & PVC.
But I couldn't investigate the reason why ProvisioningFailed occur (it's limited in log level)

Let me loop in the MS internal email thread.

[2021-09-30 06:05] jmezach commented on #2414
It looks like this issue has been resolved now. At least I'm no longer seeing any lingering pods lying around on our cluster. Not sure since when though.

[2021-09-30 06:20] adoprog commented on #2568
@andyzhangx All the volumes have been created with K8S, same 1.21.2 version as before. The only difference I believe is that they were created before the release 2021-09-16 was applied and new node pool created.

[2021-09-30 06:22] zhiweiv commented on #2568
@andyzhangx
[code]

[2021-09-30 06:36] adoprog commented on #2568
@andyzhangx Not sure when and why partitioning has changed, but previously it was definitely possible to attach a K8S windows volume to a VM and browse the files. This is not the case with the "new" volumes.

[2021-09-30 06:45] ruowan commented on #2362
No happening. It's only happen on the specific node. When I disable the wrong node schedule, it recovery. I guess it may be caused by node network issue.

[2021-09-30 07:08] andyzhangx commented on #2568
@adoprog the volumes in problem were created before k8s 1.21 version, right?

[2021-09-30 07:12] adoprog commented on #2568
In some cases the volumes were created in k8s 1.21.

I tried it on test 1.21 cluster yesterday:
1) Created an instance with volume
2) Stopped the pods
3) Created new node pool (old node pool was also 1.21 but probably older image version)
4) Started the pods
5) An error occurs, the instance can't start due to volume attachment failure

[2021-09-30 11:49] andyzhangx commented on #2568
@zhiweiv sorry, my fault, your issue is another one, pls file an azure ticket, ask our support to add `"enableCSIProxy": true` into managed cluster properties since there was an upgrade scenario we missed(already fixed on current release)
[code]

[2021-09-30 11:53] andyzhangx commented on #2568
@adoprog sorry for the delay, finally we figured out that the disk attach failure was caused by last mitigation, we mistakenly used csi-proxy v1.0.0 binary for your clusters(while all other aks clusters are using v0.2.2 which does not have the compatibility issue), we will correct the csi-proxy config for all your clusters, and then our support will ask you to do vmss upgrade. After vmss upgrade,

[2021-09-30 11:58] pierluigilenoci commented on #2529
@paulgmiller as soon as I can I try to do it and see what happens.

[2021-09-30 12:23] pierluigilenoci commented on #2306
Thanks for the explanation.

The "noisiest" are certainly Calico (20% of the entire cluster logs), Kube Proxy (4%), and CodeDNS (1%). So 25% of the logs come from these services, we are talking about 1.5 Million logs lines a day.

[2021-09-30 12:32] pierluigilenoci commented on #2306
![bored-waiting](https://user-images.githubusercontent.com/36044817/135455483-0931acfe-7fa8-4b18-aa1b-bb580e63aac0.gif)

[2021-09-30 13:28] mosbahmajed opened #2574 "Add Valadation to prevent AKS stop/start for Virtual Machine availability set"
**What happened**: Stop AKS with Virtual Machine availability set is passing

**What you expected to happen**: AKS stop should be prevented

**How to reproduce it (as minimally and precisely as possible)**: Deploy AKS with VMAS and stop the cluster

**Environment**:
- Kubernetes version (use `kubectl version`): Current AKS Versions

[2021-09-30 15:36] nbusseneau commented on #2431
Hello @justindavies, I wanted to chime in on this: I feel like the original title `allow creation of clusters with 0 nodes or allow node-taints to be set on cluster creation` is probably more accurate, as the need is to be able to place arbitrary custom taints on the initial nodepool nodes before they are created, rather than `CriticalAddonsOnly=true:NoSchedule` specifically.

In any case, I wante

[2021-09-30 16:09] nbusseneau commented on #2431
I have just noticed there is already #1402 covering the `allow node-taints to be set on cluster creation` part, which we seem to have missed previously :D

[2021-09-30 16:17] phealy commented on #2572
@dzmitry-lahoda - a recommended pattern would be to properly set requests and limits on your pods so that they schedule appropriately, rather than cutting down the number of max pods, as system pods may be scheduled on your nodes. As as example, if you want each game server to have 1 CPU dedicated, set requests: cpu: 1 and Kubernetes will make sure that workload is scheduled appropriately.

Please

[2021-09-30 16:18] phealy commented on #2292
@mschuurmans We confirmed with upstream that this fix was backported in kernel `5.4.0-1047.49` for AKS - can you please provide what you're seeing under the newer image and a reproduction, if you have one?

[2021-09-30 17:32] dzmitry-lahoda commented on #2572
it is not option for game servers, limits is not option because of how k8s quietuses time over the limit

[2021-09-30 17:32] #2572 closed

[2021-09-30 18:29] keikhara opened #2575 "[New Regions] China East and North 3"
Targeting Nov

[2021-09-30 18:32] keikhara opened #2576 "[Availability Zone] Korea Central, Norway East​, Central India​, East Asia​, Sweden Central"
Targeting Nov

[2021-09-30 18:46] abhinavbakaya commented on #1477
@andyzhangx How can I confirm that the disk is in an unattached state when following your [workaround](https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/docs/known-issues/sizegrow.md).
Do I have to see the status of the pv?

[2021-09-30 20:19] thepaulmacca commented on #1967
I'm keen to know this as well. A bit concerning there's been no update for a while. Nothing stopping you from enabling it now, but would be good to know if that's advised or not at this time

[2021-10-01 06:47] garrardkitchen commented on #1967
I had attempted to add feature but sadly not available in UKSouth 🥲

[2021-10-01 08:00] thepaulmacca commented on #1967
Ah right ok, i was using it in West Europe. This is a good article to read if you haven't already https://pixelrobots.co.uk/2021/07/first-look-gitops-on-azure-kubernetes-service-using-the-aks-addon-preview/

[2021-10-01 08:27] mschuurmans commented on #2292
Might be some other bug then but when i'm mounting a DFS server using cifs im getting the error

[code]
The kernel version on the AKS node is `5.4.0-1056-azure`

After some digging i found maybe some related issues https://www.spinics.net/lists/linux-cifs/msg18290.html and https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1854887

The second is a bug i experienced when testing before but can no

[2021-10-01 10:14] andyzhangx commented on #1477
@abhinavbakaya you could check whether that disk is in vm data disk list by azure cli or portal.

[2021-10-01 10:45] Shaybs commented on #1866
@palma21 Thanks, we'd deeply appreciate the addition of the feature as would many other AKS users.

[2021-10-01 14:01] nbusseneau opened #2578 "Assigning node taints to system nodepool not working anymore, failing with `SystemPoolHasRestrictedTaint`"
Hello 😄

**What happened**: Creating system nodepools with node taints is not working since 2021-09-28, failing with the following error:

[code]

**What you expected to happen**: System nodepool is created with the node taint applied.

**How to reproduce it (as minimally and precisely as possible)**: Using the CLI:

[code]

**Anything else we need to know?**:

We recommend users to apply taint `n

[2021-10-01 14:07] nbusseneau commented on #1402
Hello 👋🏻 Are there any updates on that front?

[2021-10-01 14:43] andbaraks opened #2579 "Creating AKS cluster with a network address (.0) for DNS Service IP is allowed and doesn't return a validation error"
**What happened**: You will be allowed to create an AKS cluster with network address (.0) for DNS Service IP.
![image](https://user-images.githubusercontent.com/68290745/135635486-8976320e-7514-43da-b070-6e32ca546925.png)
![image](https://user-images.githubusercontent.com/68290745/135635850-ba3ebfa6-17c9-4968-8fa9-d5d33de9ee5b.png)

Creating a cluster that has the value of a network address (.0) f

[2021-10-01 15:39] webczat commented on #1122
What happens if you added an explicit 0.0.0.0/0 route with next hop type set to internet? there are some suggestions in documentation it would work. I also managed to set up nat gateway outbound, except I have done this for a separate node pool in separate subnet and it forced me to use azure networking instead of kubenet.

[2021-10-01 16:01] sumansla123 commented on #1972
Thank you @kriesto for the pointer. EncryptionAtHost feature needs to be enabled at the subscription to deploy the AKS cluster successfully with host based encryption set to true. In my case, this feature was not enabled in the subscription and code was breaking with "CreateVMSSAgentPoolFailed" error.

az feature register --namespace "Microsoft.Compute" --name "EncryptionAtHost"
az feature list -o

[2021-10-01 16:07] sumansla123 commented on #1972
Thank you @kriesto for the pointer. EncryptionAtHost feature needs to be enabled at the subscription to deploy the AKS cluster successfully with host based encryption set to true. In my case, this feature was not enabled in the subscription and code was breaking with "CreateVMSSAgentPoolFailed" error.

az feature register --namespace "Microsoft.Compute" --name "EncryptionAtHost"
az feature list -o

[2021-10-01 18:00] #2412 closed

[2021-10-01 18:00] #2407 closed

[2021-10-01 18:00] #2258 closed

[2021-10-01 18:01] #2255 closed

[2021-10-01 18:37] mayankkthr commented on #2570
Thanks to Azure support team for finding out the issue.
This is the response that I received from them.

 It seems the issue is caused by the new ingress-nginx/ingress-ngnix helm chart release it has been fixed by using version 3.36.0 instead of the latest (4.0.1):

helm upgrade -i nginx-ingress ingress-nginx/ingress-nginx \
--version 3.36.0 \

(Or)

# Use Helm to deploy an NGINX ingress controlle

[2021-10-01 18:37] #2570 closed

[2021-10-01 18:38] Kaarthis commented on #2540
@tsubasaxZZZ our team is evaluating this feature at this moment . Thanks for raising your interest here.  May i try to understand your business justification and impact as a result of this feature ?

[2021-10-01 19:27] lupusllc commented on #2485
We've been having this issue for a month now. We run a monthly maint script on our clusters which creates a duplicate node pools and kill the old ones. These clusters are running in West US and East US on 1.20.7. Due to these rpc i/o timeouts when pulling images, this work goes from usually taking 15+ min to 90-ish min.

I have been trying to isolate exactly what could be causing these issues. So

[2021-10-01 21:43] palma21 commented on #2578
AKS System pools only allow 1 taint `CriticalAddonsOnly=true:NoSchedule` or soft taints.
https://docs.microsoft.com/en-us/azure/aks/use-system-pools#system-and-user-node-pools

**AKS User pools support any taint.**

You can still any any taint manually via kubectl in a per node / temporary basis, but not to the node pool model/permanently.

[2021-10-01 22:49] nbusseneau commented on #2578
@palma21 Thanks for your answer.

Does that mean that when it was working (before 2021-09-28), this was actually not intended and should never have been working in the first place?

If that is indeed the case, do you have any recommendation on pod management by third-party CNI plugins?

Nit: I might have missed where this is specified, but I don't see where in the documentation it is specified tha

[2021-10-02 13:15] SwagataChaudhuri opened #2580 "Error creating multiple ingress controller with helm in the same AKS cluster"
# Error creating multiple ingress controller with helm in the same AKS cluster

## Steps to reproduce the error

1. Create the first ingress controller using the command as given in the tutorial [Microsoft Docs](https://docs.microsoft.com/en-us/azure/aks/ingress-basic)

[code]

2. Create the second ingress controller with a different name and namespace

[code]

   Error:

[code]

3. Create the sec

[2021-10-03 15:21] phealy commented on #2292
Actually, for something specific like that, please open a support case. You can also open a new issue if you'd like. As the specific bug this issue was referring to has been patched, this issue will close out and we can discuss on your new issue if needed. Thanks!

[2021-10-04 00:00] #2578 closed

[2021-10-04 01:00] #2096 closed

[2021-10-04 01:00] #2076 closed

[2021-10-04 07:00] #1388 closed

[2021-10-04 08:30] nbusseneau commented on #2578
Re-open please.

[2021-10-04 08:34] marco-svitol commented on #2325
Hi @palma21 any ETA for this?

[2021-10-04 09:15] gazpwc commented on #2569
We would also love to be able to combine CMK with Ephemeral OS disks, because this would allow us to have both: additional security AND disk performance.

[2021-10-04 11:15] SatyKrish commented on #2283
Any update on when you will be adding support for these RBAC actions? We are currently using `Azure Kubernetes Service Contributor Role`, but would like it to be fine grained.

[2021-10-04 13:30] sossickd commented on #2580
Can you check to see what version of the ingress-nginx/ingress-nginx helm chart you are using, as of 4.0.x controller.ingressClass was replaced by controller.ingressClassResource.name. Try running the following of the second helm deployment.

[code]

Also if you are running two nginx deployments you want to specify a different controller.ingressClassResource.controllerValue otherwise this can caus

[2021-10-04 15:56] PixelRobots commented on #2580
There is a known issue with the newest version of nginx-ingress controller.

"Ingress controller now (starting from v1.0.0) mandates cluster scoped access to IngressClass. This leads to problems when updating old Ingress controller to newest version, as described here. We plan to fix it in v1.0.4 (promise!!), see this."

https://github.com/kubernetes/ingress-nginx/releases

when installing it via

[2021-10-04 16:30] tkorrapati1 commented on #2543
Closing this now, as I've found out that issue was not with cluster autoscaler. Autoscaling backed off due to lack of public IP's in the subnet.  After adding more IP's with azure  support request, cluster autoscaler worked fine.

[2021-10-04 16:30] #2543 closed

[2021-10-04 16:42] genscape-agodfrey commented on #1788
This feature going to GA is very important to the continued use of AKS for us. I would love to see an update on when we can expect this.

[2021-10-04 17:42] macruz opened #2581 "[Feature] Add enable/disable GracefulNodeShutdown feature to kubelet custom configuration"
**Feature ETA: This feature is currently in backlog with no planned ETA.**

Starting on Kubernetes 1.21 and newer this feature is available:
- https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/

However there is no current options on AKS to use them.

This is a feature request to have this option added on the kubelet custom configuration table from the custom node configuration sec

[2021-10-04 20:01] Schnitzel opened #2582 "Release Notes for 2021.09.28 and 2021.10.19 image missing?"
Running `az aks nodepool get-upgrades` I get an image with `AKSUbuntu-1804containerd-2021.09.28` back:

[code]

But I can't find any release notes for this release here: https://github.com/Azure/AKS/tree/master/vhd-notes/aks-ubuntu/AKSUbuntu-1804

Can this be provided? As it makes it really hard to know which version of packages are installed without any release notes.
Thanks!

[2021-10-04 21:25] miwithro opened #2583 "CVE-2021-41103: Insufficiently restricted permissions on container root and plugin directories"
# Impact
A bug was found in containerd where container root directories and some plugins had insufficiently restricted permissions, allowing otherwise unprivileged Linux users to traverse directory contents and execute programs. When containers included executable programs with extended permission bits (such as setuid), unprivileged Linux users could discover and execute those programs. When the U

[2021-10-04 23:46] Kaarthis commented on #2165
Got it @Yuriwoof - which logs did you access for this and may i know if through the support case having increased verbosity helped you at all ,if so how ?

[2021-10-05 07:00] #2337 closed

[2021-10-05 07:00] #2328 closed

[2021-10-05 07:38] phillebaba commented on #2059
Is there any documentation for how this feature can be disabled in AKS?

[2021-10-05 08:00] sossickd opened #2584 "AKS Fails to build due to disabled feature: Microsoft.ContainerService/AutoUpgradePreview"
Since the release of the latest azurerm terraform provider 2.79.x the following error appears when building a new AKS cluster.

[code]

Downgrading the azurerm provider to 2.78.0 fixes the issue.

The following [MR](https://github.com/hashicorp/terraform-provider-azurerm/pull/13493) caused the issue on the azurerm terraform provider.

@tombuildsstuff mentioned in the [related issue](https://github

[2021-10-05 09:32] haitch commented on #2059
CLI will be ready shortly, but you can use API to disable it for now:

https://github.com/Azure/azure-rest-api-specs/blob/191a721de644cc3f872f4fe9d676cf366083a106/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-08-01/managedClusters.json#L3901

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/resource-manager/Microsoft.Co

[2021-10-05 11:49] pivendren commented on #2339
Is there any update on this? This would make my life a lot easier.

[2021-10-05 12:20] rupeshtech opened #2585 "How to assign Azure Pod Identity on local kubernetes(k8s) cluster (while developing)"
I am developing an application which uses Pod Identity to connect to Azure Sql Database.

After deploying it on Azure Kubernetes Service (**AKS**), POD(application) connects to Azure Sql using PodIdentity (Managed Identity).

**How can I assign the same identity to POD while running on my local k8s cluster?**

My deployment yaml looks like
[code]

[2021-10-05 13:19] Shaybs opened #2586 "Nodepool does not scale up when it has min of 0 to X"
Hi,

We've got some taints and labels on our nodepool which means that only certain pods will run on some nodepools. For our development system, we do not need one node that is up all the time. So we have set the minimum to 0 and maximum to 15. However, the nodepool does not scale after a deployment has been created and the pod gets stuck in provisioning and the nodepool does not scale up.

Shuaib

[2021-10-06 05:13] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-10-06 07:28] heoelri commented on #2252
I think this is documented here: https://docs.microsoft.com/en-us/azure/aks/faq#can-i-move-my-aks-cluster-or-aks-infrastructure-resources-to-other-resource-groups-or-rename-them

Moving or renaming your AKS cluster and its associated resources isn't supported.

It would be nice if there would be a flag or tag for resources that do not support moving or renaming, automatically set by for example AK

[2021-10-06 07:33] PixelRobots commented on #2502
Can we move this to "Public Preview (Shipped & Improving)" please.

[2021-10-06 15:12] sebader commented on #2151
any update on this now that AZs went GA in SA North? https://azure.microsoft.com/en-us/updates/south-africa-north-availability-zones-now-generally-available/

[2021-10-06 16:46] marwanad commented on #2586
@Shaybs can you paste the events on the pending pods? Autoscaler logs? It should tell you clearly why a scale up wasn't triggered.

Also, how are you setting those labels and taints? Through the AKS API?

[2021-10-06 16:47] Kaarthis commented on #2165
@yuriwoof  any luck with the MS Internal thread ? also happy to sync with you if you are available to discuss this.

[2021-10-07 04:17] Kaarthis commented on #2580
@phillipgibson  do you happen to know who can help here , does seem pertaining to upstream ?

[2021-10-07 06:56] mschuurmans opened #2588 "DFS mount in image 5.4.0-1056-azure"
When i'm mounting a DFS server using cifs im getting the error

[code]
using the command:
[code]
The kernel version on the AKS node is 5.4.0-1056-azure

After some digging i found maybe some related issues https://www.spinics.net/lists/linux-cifs/msg18290.html and https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1854887

The second is a bug i experienced when testing before but can now not rep

[2021-10-08 02:00] feiskyer commented on #1604
@justindavies @palma21 what do you think about this request?

[2021-10-08 06:52] tombuildsstuff commented on #2584
@palma21 FWIW we raised this issue with the AKS Team on Friday since this API behaviour differs from some other Azure API's where it's possible to set this a field to the default value (e.g. `none`) without being opted into the feature.

A `null` value and `none` aren't treated the same on the AKS side. The value when this is set to `null` isn't returned in the API response unless it's explicitly

[2021-10-08 10:10] petegrimsdale opened #2589 "Using Aks stop does not preserve a Pod when not part of a deployment"
**What happened**:  Using Aks stop and Aks start to manage a new AKS cluster - a single Pod had been deployed for testing.  On restart of the cluster the Pod was not started - this is not mentioned as a limitation in the docs.  Should this be supported or should a limitation be added to the docs to reflect this?

**What you expected to happen**: Pod to be recovered as per Deployments and other Kub

[2021-10-08 10:22] pierluigilenoci commented on #2529
@phealy thanks a lot.

I will try to test the proposed solution.

[2021-10-08 10:34] petegrimsdale opened #2590 "Get-AzAksCluster should reflect attributes shown from az aks show"
**What happened**:  Running Get-AzAksCluster does not expose the same attributes as az aks show which limits the use when using automations and using this to check cluster state - for example powerState to check if a cluster has been stopped

**What you expected to happen**:
The attributes available in the json object from az aks show should be available in the PSKubernetesCluster object

**How to

[2021-10-08 12:35] hulvei3 opened #2591 "Customize node configuration: Creating nodepools with custom config makes it impossible to update"
**What happened**:
When adding a new node-pool on AKS cluster with enabled preview for "CustomNodeConfigPreview", you cannot adjust sizing (didn't check other things) on the pool after creation.
Both cli and portal comes with

**What you expected to happen**:
The node-pool would be resized as normal (alternatively requiring the same config at each update)

**How to reproduce it (as minimally and p

[2021-10-08 15:34] marwanad commented on #2586
@Shaybs are you modifying taints on node objects directly? If so, this isn't supported in autoscaler. All nodes in a nodegroup are assumed to be similar as far as label and taints go. A random node is picked to be a blueprint of the nodepool and that becomes the basis of the scaling decision. If a node doesn't exist, the information is obtained from the AKS API properties.

[2021-10-08 18:17] Kaarthis commented on #2306
Appreciate the additional context - i ll comeback to you if we need more details, for now this is helpful!

[2021-10-08 22:24] RickardOh commented on #1953
Any updates. This is update is needed badly or a work around.
Is there no way to use agic in vnet1 -> (peering) vnet2 (AKS)

[2021-10-09 00:36] Kaarthis commented on #2573
I reproed with a Contributor role without Microsoft.Authorization Write permission and the Ingress got created following the Tutorial steps as mentioned. https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing.  I guess there is some configuration miss or steps missed on your end ? What is the Kubernetes version you are using here

[2021-10-09 20:23] oliviergaumond commented on #2573
It was Kubernetes version 1.20.9. The Ingress Controller does get created as well as the `ingressapplicationgateway-mycluster` managed identity. However, you can see this managed identity has access to the managed resource group `MC_myResourceGroup_myCluster_canadacentral` but not `myResourceGroup` where the Application Gateway is.

![image](https://user-images.githubusercontent.com/88553114/13667

[2021-10-10 08:06] rupeshtech commented on #2585
**Update:---------------------------**

I tried the the [standard walk thru][1] but still it is giving error.

 [![enter image description here][2]][2]

**According to me MIC is not working on local K8s cluster**. How can I get it working?

  [1]: https://azure.github.io/aad-pod-identity/docs/demo/standard_walkthrough/
  [2]: https://i.stack.imgur.com/CD23V.png

[2021-10-10 12:00] #2529 closed

[2021-10-10 19:00] #2387 closed

[2021-10-10 23:59] frachel opened #2593 "Feature Request: Add ability to specify the # of Application Gateway instances when using the 'az aks create' command"
When creating a cluster via the 'az aks create' command that specifies an Application Gateway for use with AGIC using the various "--appgw-xxx" options you end up with an Application Gateway with an instance count of 2, thus also taking 2 IP's from the subnet.

Can a parameter be added, such as "--appgw-instance-count <count>" to the "az aks create" command to control how many appgw instances to b

[2021-10-12 04:14] Kaarthis commented on #2582
Yeah i am am unable to locate that ubuntu release notes tagging few colleagues to see if they can provide answers @miwithro @justindavies

[2021-10-12 16:20] eugen-nw opened #2594 "AKS should cache container images that are repeatedly requested"
Downloading each image time and again from ACR is a waste of cycles.  Keep the cached images for only 1 day so the ACR secret’s expiration can kick in and disable the ACR downloads.  In our solution we do a lot of on-demand scale-out and the suggested improvement would help the scaled-out containers to start faster.

[2021-10-13 11:48] dstockton commented on #1767
GKE also has this now - https://cloud.google.com/kubernetes-engine/docs/how-to/oidc

[2021-10-13 12:05] ARD92 opened #2595 "[Feature request]: Support of node pool spread across different Vnets"
Currently when we create an AKS cluster, the node pool is within a single vnet. Issue #1338 allows one to create the node pool members with different subnets but not spread across vnets.

One will have to use vnet peering but the AKS cluster being managed is only within scope of the single vnet it was created.  if multiple vnets have to be managed each will be its own cluster.

This is an enhancem

[2021-10-14 00:43] hieumoscow commented on #2594
Hi @eugen-nw, can you describe your use case further? Currently the container image does get cached on the node after the first pull until that node is restarted by an upgrade.
From your message it looks like you are referring to scale out. What is the size of your image? For new nodes that never pulled the image, initial pull so still required, from then on then it is cached on that specific node

[2021-10-14 01:02] andyzhangx commented on #2588
same issue as https://github.com/Azure/AKS/issues/2292, @RenaShahMSFT do you know which kernel fixed this issue? AKS node kernel is now `Linux version 5.4.0-1056-azure`

[2021-10-14 01:11] andyzhangx commented on #2568
close this issue since the liveness timeout fix has been rolled out to all regions.

[2021-10-14 14:27] miwithro commented on #2585
@aramase can you assist?

[2021-10-15 08:09] bigbrozer opened #2596 "Unable to use VolumeSnapshot feature of CSI drivers in v1.21"
**What happened**: Upgraded from v1.20.9 to v1.21.2. Unable to use VolumeSnapshot feature of CSI drivers.

**What you expected to happen**: Create a `VolumeSnapshotClass` then a `VolumeSnapshot` resources for a disk, expect to have a snapshot available and visible in the portal.

**How to reproduce it (as minimally and precisely as possible)**:

The procedure we are following for upgrades is:

* U

[2021-10-15 10:15] #2482 closed

[2021-10-15 11:44] abnormall opened #2597 "Fail to reach another cluster by external ip:port"
**What happened**:
In one cluster, sender service is deployed. In another cluster, receiver service is deployed. The receiver  service is exposed by LoadBalancer.  The external ip:port is 52.191.20.176:50002.  When surfing the 52.191.20.176:50002 on the website, the receiver service will return "hello world".

In the  pod of sender service,  curling 52.191.20.176:50002 will return connection time

[2021-10-15 13:03] jakubneubauer opened #2598 "No incoming connection possible from POD in Terminating state"
It seems that network policy with ingress allowing communication from some PODs by label selector disallows communication from PODs in Terminating state. This makes graceful shutdown impossible for them if they need to communicate with the pod with ingress networking policy during graceful shutdown period.

**What happened**:
Two pods, let's say A and B. A is providing service, B is calling the se

[2021-10-15 13:10] jakubneubauer commented on #2598
This is our AKS networking:

API server address
kube-4b9e70e2.hcp.westeurope.azmk8s.io

Network type (plugin)
Azure CNI

Pod CIDR
-

Service CIDR
10.158.64.0/18

DNS service IP
10.158.64.10

Docker bridge CIDR
172.17.0.1/16

Network Policy
Azure

Load balancer
Standard

HTTP application routing
Not enabled

Private cluster
Not enabled

Authorized IP ranges
Not enabled

Application Gateway ingress

[2021-10-18 05:21] Harshith-Bhaskar opened #2599 "Bring-your-own OMS Agent identity"
**What happened:**
When using the OMSagent add-on, AKS creates a user-assigned MI in the generated resource group. This makes it harder to assign the required permissions as this identity requires Monitoring Metrics Publisher role to send AKS metrics to Azure Monitor.

**What you expected to happen:**
BYO managed identity for OMSagent2, so that we can have an identity created with necessary roles

[2021-10-18 07:38] bigbrozer commented on #2596
Thanks a lot @andyzhangx ! Everything is working properly right now. I did not pay attention that previous CRDs has been installed by the beta version and were not correctly removed. Sorry about that :-) I'm closing the issue.

[2021-10-18 07:38] #2596 closed

[2021-10-19 01:24] vidyasagarreddyc opened #2601 "file share on prem custom mount option not supporting"
**What happened**:

Unable to use mountOptions for onprem smb mount

**What you expected to happen**:

Create manifest with mountOptions

**How to reproduce it (as minimally and precisely as possible)**:

Create helm chart or any deployment with below deployment file
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: "test"
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Val

[2021-10-19 02:27] djsly commented on #2322
@AbelHu , will WinDSR see the day in AKS eventually. Do you think this issue can be ignored and WinDSR be finally enabled again without this ? I'm not sure if any tracktion is getting done to fix this :(

[2021-10-19 02:49] zhiweiv commented on #1976
@mainred
Does the ETA of GA remain unchanged? We have running Windows Containerd without problem since preview.

[2021-10-19 10:09] jmk47912204 commented on #2347
Exactly !!! We are facing the same issue. So basically what we need to do in-order to avoid or resolve the cluster certificate issue in AKS, Is there a difference between **user client certificate data** and **cluster certificate authority data**?

Because it's little confusing based on the [Microsoft WIKI](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation)

[2021-10-19 17:01] jhatcher1 opened #2602 "AKS node temporary disk still in use after unmounting"
**What happened**:
I am trying to create a ZFS pool on the temporary storage disk attached to each node in the cluster. Our workloads use this ZFS pool via `hostPath` volumes for temporary storage. I am using a privileged daemonset to run a setup script on the host, as recommended by this article: https://docs.microsoft.com/en-us/azure/aks/support-policies#user-customization-of-agent-nodes

The sc

[2021-10-19 20:38] aviaviavi commented on #2485
Thanks Jorge and Azure team! It appears containerd >= 1.5 solves the issue, available with Kubernetes 1.22+ on AKS.

[2021-10-20 16:44] vakalapa commented on #2598
Azure Network Policy Manager proactively cleans up a POD and its IP from relevant IPSets as soon as it gets an update event with "deletionTimestamp" set, creating issue in Azure-Container-Networking repo where NPM is.

The solution can be one of two things, either do not delete on update pod events, OR wait until after terminationGracePeriodSeconds expires to delete a pod.

[2021-10-20 16:58] trhumphries opened #2603 "Logs from Pods not always collected"
**What happened**: We have Azure Monitor with Container Insights hooked up to our AKS clusters. In some cases the log for individual pods are not being collected and forwarded to Azure monitor. In some cases no log entries for a pod are collected in other cases only part of the log entries get collected. We use Console logging for all of our logs. Note that in all cases I can dump the logs from th

[2021-10-20 18:26] miwithro commented on #205
@mihohoi0322 did you add in "trustedCa"?

[2021-10-21 05:03] mihohoi0322 commented on #205
@miwithro
Thank you for your comment.
I did not add 'trustedCa' this time because it was AKS for internal verification. Is this required?
I added a temporary string and tried again, but the same error was displayed.

[2021-10-21 09:45] v1sion commented on #2559
End up creating a custom role with the `Microsoft.ContainerService/managedClusters/stop/action` permission
Closing the issue

[2021-10-21 09:45] #2559 closed

[2021-10-21 21:41] mibollma opened #2604 "Enabling monitoring addon breaks IMDS access"
**What happened**:
When enabling the monitoring addon/oms_agent either through terraform or Azure CLI, pods are unable to access IMDS to retrieve their system assigned identity credentials.

**What you expected to happen**:
Enabling the monitoring addon has no impact on access to IMDS

**How to reproduce it (as minimally and precisely as possible)**:

**Terraform Cluster**
[code]
Replacing oms_age

[2021-10-22 00:58] aanandr commented on #1788
@genscape-agodfrey and @DavidZisky - sorry for the delayed response. Are you referring the separate subnet for Pods feature going GA? I am asking because there was another issue with the cluster that we were discussing.

@denniszielke - can you elaborate on what you mean by dedicated vnet support? Did you mean separate vnet (not just subnet) for Pods?

[2021-10-23 18:43] aido123 opened #2606 "Cluster Autoscaler - Balanced Similar Node Groups - Not balancing Similar Nodepools when scaling up"
**What happened**:

Scaling applications running on similar nodepools in different AZ's, does not result in the nodes across these AZ's been balanced

**What you expected to happen**:

Nodes in nodepools in different AZ's should be balanced

**How to reproduce it (as minimally and precisely as possible)**:

1. Enabled autoscaler profile  balance similar node groups
[code]

2. Create 3 nodepools, 1

[2021-10-25 09:48] hairmare opened #2607 "Cluster in North Europe region running images from mcr.azk8s.cn registry"
**What happened**:

I noticed that a AKS cluster running in North Europe was using images from the `mcr.azk8s.cn` registry.

**What you expected to happen**:

I would expect for a cluster that is not in china to only use images from `mcr.microsoft.com`.

**How to reproduce it (as minimally and precisely as possible)**:

Install aks, wait for a bit and check image sources.
[code]
**Anything else we

[2021-10-26 12:10] giskou opened #2608 "Windows pods cannot reach themselves via service IP"
**What happened**:
Windows pods cannot reach themselves via service IP

**What you expected to happen**:
A windows deployment with one replica and a service on top of it should be able to reach the service IP, which refers to itself.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an aks cluster with AzureCNI and some windows nodes
2. Deploy the following test applicat

[2021-10-28 10:40] Shaybs opened #2611 "Azure Files Dynamic PVC"
Followed the tutorial on:

https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv

And got the following error:

MountVolume.SetUp failed for volume "pvc-ca17f9d2-eab1-44c1-9d9d-b539b7badd40" : mount failed: exit status 32 Mounting command: mount Mounting arguments: -t cifs -o actimeo=30,cache=strict,dir_mode=0777,file_mode=0777,gid=0,mfsymlinks,uid=0,vers=3.0,<masked> //faaf4c04b2a8247

[2021-10-28 14:35] the1bit opened #2614 "Wordpress-Azure File Share: Images are not visible (alt texts are only visible)"
**What happened**: I created Wordpress on AKS which uses Azure File Share as Persistent Volume. I followed during the storage creation the official article: [https://docs.microsoft.com/en-us/azure/aks/azure-files-volume](https://docs.microsoft.com/en-us/azure/aks/azure-files-volume). I can install everything fine (plugins, themes, etc). When I upload any image, it appears on Azure Storage on the r

[2021-10-29 18:50] nehakulkarni123 commented on #2564
@miwithro I am taking a look.

Hi @SatyKrish, the modify effect only supports subset of properties today, but that list is continuously expanding. [Here](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/effects#modify) is more info about modify.

I will investigate on if this alias can be made modifiable and will update this issue accordingly. As a short-term workaround to remedia

[2021-10-30 07:32] chirangaalwis commented on #2378
@Kaarthis I noticed it when listing down the Pods. Saw the restart count. TBH this has been a while and I don't possess the logs. Pardon me.

[2021-11-01 07:59] scoof commented on #2437
Any news on this? We're stuck on 1.20 until this gets implemented.

[2021-11-01 10:53] kvendingoldo commented on #2092
I am really interested in too.

[2021-11-01 11:07] tsurankov commented on #2020
I think I managed this using another terraform provider https://registry.terraform.io/providers/gavinbunney/kubectl/latest
It allows to overwrite existing resources.
Here is the example. A custom CoreDNS configuration is located in the separate file named `Corefile` in the module's folder.
[code]

[2021-11-01 16:07] mauilion commented on #2092
This will be a neat feature!

[2021-11-01 17:00] mattmoor commented on #2327
Does this issue cover making the OIDC Issuer for service account token projected volumes public (like GKE/EKS)?

[2021-11-01 17:05] miwithro commented on #2327
@mattmoor that is correct.

[2021-11-01 17:12] mattmoor commented on #2327
Are there docs for trying to public preview?  Is that out?

[2021-11-01 17:32] miwithro commented on #2327
@mattmoor not yet.  Hopefully before the end of the calendar year.

[2021-11-01 19:57] kxs-jnadeau commented on #1788
@DavidZisky  What If we define the pod and worker subnets in their respective address spaces under the same vnet ?   In that case it seems possible to have a 192.168.X.X subnet for workers but a 10.X.X.X subnet for PODs  and only route/peer the worker one (or do I miss something) ?

[2021-11-01 20:18] phealy commented on #2614
@the1bit Uploading a file to the storage won't automatically make it appear in Wordpress; the database needs an entry for it. Your storage appears to be working properly from the AKS side. You'd need to use something like a WordPress plugin to import your uploaded files into the database - a quick search for "wordpress files not showing in media library" returns a number of results that appear rel

[2021-11-01 20:28] phealy commented on #2614
Followup - I reread and I see you say it works with disk. This suggests wordpress is not setting the appropriate permissions on uploaded files. Please check into that; it's nothing AKS can affect directly.

[2021-11-01 22:44] robbiezhang opened #2616 "[AKS 1.22] HttpApplicationRouting Addon is not working"
**What happened**:
HttpApplicationRouting Addon doesn't work on 1.22 cluster due to the deprecation of the ingresses.extesnions API.
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122
AKS team is aware of this issue, and is working on adopting the new image of the components.

**What you expected to happen**:
The HttpApplicationRouting addon should work on 1.22 cluster.

[2021-11-01 23:57] seguler commented on #2250
This was fixed a while ago. Closing.

[2021-11-01 23:57] #2250 closed

[2021-11-02 06:41] aido123 commented on #2606
Fix due for release between Fri 5th-Mon 8th November

[2021-11-02 07:48] the1bit commented on #2614
Hi,

I am sure that is not WP related, because I have similar installation with managed disk, which works fine.

Additionally I use the following permission for files:

[code]

I tried with 0755. In that case wordpress cannot access to files at all.
Please, give me an exact suggestion.

Thanks

[2021-11-02 07:59] akshay10505 opened #2617 "AKS Windows Node pool Change Time zone issue"
**What happened**:
We deployed web application in window's node pool. We want to change time zone with normal image builder. It's not happening.
**What you expected to happen**:
Want to set IST time zone for Windows Node pool.
**How to reproduce it (as minimally and precisely as possible)**:
Publish code with Docker file provided by Default by Microsoft in Visual Studio . There is no option there

[2021-11-02 08:32] akshay10505 opened #2618 "Memory management issue on Windows Node pool AKS"
**What happened**:
In windows node pool CPU utilization is getting scaled automatically but for Memory once memory is occupied it is not getting scaled down.
**What you expected to happen**:
Memory management issue
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster

[2021-11-02 10:42] MichalKoziorowski-TomTom opened #2619 "Newest 1.21.2 AKS and changed tags on outbound public ips"
**What happened**:
Previously, outbound public ips in node group had `type=aks-slb-managed-outbound-ip` tag set.
Newest deployments have `aks-managed-type=aks-slb-managed-outbound-ip` tag set.

I suppose it can be related to https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2021-10-15 - `Add aks-managed-cluster-rg and aks-managed-cluster-name tags to the node resource group` changes.

[2021-11-02 11:42] Schnitzel commented on #2582
this is happening again for `2021.10.19`:
[code]

there are no release notes here: https://github.com/Azure/AKS/tree/master/vhd-notes/aks-ubuntu/AKSUbuntu-1804

[2021-11-02 12:44] gtrubach commented on #2537
@vishiy - Sorry for the response delay. Interestingly, it hasn't happened since I created this issue. So it's pretty stable now. But when I created this issue the problem was going for around a week and metrics might be missing for a very long time (like hours, then I killed omsagent and some metrics began showing up, but then gone again). Can it be related to some patching/problems on Azure end w

[2021-11-02 13:48] andyzhangx commented on #2614
try 0744 as suggested by https://wpengine.com.au/resources/troubleshooting-wordpress-media-library/

[2021-11-02 14:49] miwithro commented on #2582
Thanks for reporting this @Schnitzel for the 9/28 VHD that was a hotfix release and we need to account for those on the release notes.   For the 10/19 we haven't cut a Release Notes for that release yet.

[2021-11-02 14:50] the1bit commented on #2614
I promise, I'll reconfigure with 0744 if it will work. Neverhteless at the moment it does not work.

I am waiting for you

[2021-11-02 18:21] anavinahar commented on #1122
https://azure.microsoft.com/en-us/updates/public-preview-nat-gateway-integration-with-aks-2/

[2021-11-02 20:18] justindavies opened #2620 "Windows Accelerated Networking"
Feature tracking for AccelNet for Windows on AKS

[2021-11-02 23:15] palma21 opened #2621 "[Feature Request] New Azure Policies for Kubernetes - Jan 2022"
Please comment with any built-in policy requests and use cases on the comments below.

[2021-11-02 23:29] gambtho commented on #2589
A few questions

- the pod doesn't exist at all after restart, or it's just not scheduled?
- just to confirm you deployed the service and the pod at the same time, and the service was there after restart?
- how long before the stop operation did you deploy the pod?

[2021-11-03 00:41] JungukCho commented on #2598
@jakubneubauer Thank you for sharing files and detailed instructions to reproduce the issue.
I could reproduce the issue and confirmed NPM has limitation.
We are working on the feature and update you when it is ready.

[2021-11-03 01:00] #2183 closed

[2021-11-03 01:00] #1831 closed

[2021-11-03 04:02] DanielWangZhanggui opened #2622 "Should create the same verison with AKS while enabling Virtual Node.."
**What happened**:
While enabling Virtual Node Addon on an AKS cluster, it creates a latest kublet version which may not be compatible with AKS version
**What you expected to happen**:
We can choose the version while using it. At least, it should create the same verison with AKS by default.

**How to reproduce it (as minimally and precisely as possible)**:
enable virtual-node add on

**Anything el

[2021-11-03 04:32] aanandr commented on #1788
Hi @DavidZisky - sorry for the delayed response.
1. Reg. picking addr space for Pods - yes, SNATing happens, but imagine a case where that address range overlaps with a range in a peered VNet. If a Pod tries to access an IP in that range it is difficult to route traffic to the actual desired destination (it could be another Pod or an endpt in the other VNet)
2. If you configure the 192.168.x.x. an

[2021-11-03 06:03] #2585 closed

[2021-11-03 06:03] #2485 closed

[2021-11-03 06:03] #2405 closed

[2021-11-03 06:03] #2394 closed

[2021-11-03 06:03] #2390 closed

[2021-11-03 06:03] #2362 closed

[2021-11-03 06:03] #1686 closed

[2021-11-03 06:12] andyzhangx commented on #2470
storage class migration doc provided: https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers#migrating-custom-in-tree-storage-classes-to-csi

[2021-11-03 06:12] #2470 closed

[2021-11-03 07:23] ganga1980 commented on #2604
Hi, @mibollma , looks like this is the issue with client library which you are using in your java container when both system and user assigned managed identity exists.  can you please run curl command - https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-curl and see if it works? if this works, then most likely issue with

[2021-11-03 08:48] aelij commented on #2194
Not stale :)

[2021-11-03 10:43] petegrimsdale commented on #2589
@gambtho The example I was using was very simple when validating the stop/start aks options when using some automations to control this.  To answer the above questions ( I know this is not a likely scenario as normally the Pods would not be deployed on their own but as part of a workload )

- following the restart the pod does not exist
- pod and service are deployed from the same yaml file and th

[2021-11-03 10:51] Morriz commented on #2425
not an issue anymore

[2021-11-03 10:51] #2425 closed

[2021-11-03 13:01] andriktr opened #2623 "Core DNS default forward override"
Hi,
I'm trying to override default AKS Core DNS settings with the following:
[code]
If I apply the configmap my core dns pods crashing with:
[code]
Default config already has a forward plugin in the block .:53

[code]
and it uses import plugin to add my override config, so I assume it's simply adds one more forward plugin directive from my custom config instead of overwriting the existing one.
Are

[2021-11-03 13:38] MasterKolka opened #2624 "AKS support of an external Azure NAT Gateway / external loadbalancer as outboundType option"
Feature request.

If I have multiple small AKS clusters it would be good to have an option to configure one egress gateway for all of them to reduce costs.

Similar feature request - https://github.com/Azure/AKS/issues/1122

[2021-11-03 13:43] jmp601 commented on #2274
This appears to be resolved now.

[2021-11-03 13:43] #2274 closed

[2021-11-03 13:54] vadmeste opened #2625 "AuthorizationFailed while exposing a load balancer"
**What happened**:
An intermitent issue while exposing a load balancer using an automation script.

Below is the output of ` kubectl describe svc nginx-ingress-ingress-nginx-controller -n extensions`

[code]

My template which creates the AKS cluster:

[code]

I create the load balancer using this:
[code]

**What you expected to happen**:
Creating a load balancer is always successful

**How to rep

[2021-11-03 14:10] danijam commented on #2495
@qpetraroia not the original poster but I believe I have hit the same issue as described.

Here is my bicep file that reproduces the same error.
[code]

Error:
[code]

[2021-11-03 14:49] Shaybs commented on #2611
@andyzhangx Thanks. It turns out I just needed to add the relevant services to the subnet to allow internal mounts.

Thx

[2021-11-03 15:03] #2611 closed

[2021-11-03 17:02] JungukCho commented on #2372
Hello @reinventit

Thank you for reporting issue.
I could not reproduce the issue on v1.4.9 and it worked as expected.
I may miss something.
To have better visibility of this issue, would you please let me know few things.

First, would you please let me know "Azure" network policies version (you can check image name by using "kubectl edit pods azure-npm-<randome> -n kube-system") and CNI type? Ot

[2021-11-03 17:28] SatyKrish commented on #2564
Thanks Neha for the response. I've tried with DINE (DeployIfNotExists) policy before, and it didn't allow me to deploy only the adminGroupObjectIDs/aadProfile property. Policy template required entire "Microsoft.ContainerService/managedClusters" resource to be defined.

[2021-11-03 19:41] bplasmeijer commented on #1785
Let make it happen.

[2021-11-03 20:22] yanrez commented on #2058
We are also interested in being able to use feature gates to enable alpha features. In our case it's HostProcess container support on k8s 1.22 . Would be very convenient to have way of enabling alpha features.

[2021-11-03 21:50] miwithro opened #2627 "CVE-2021-25742: Ingress-nginx custom snippets allows retrieval of ingress-nginx serviceaccount token and secrets across all namespaces"
A security issue was discovered in ingress-nginx where a user that can create or update ingress objects can use the custom snippets feature to obtain all secrets in the cluster.
This issue has been rated High (CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:L/A:L), and assigned CVE-2021-25742.

# Affected Components and Configurations
This bug affects ingress-nginx.

Multitenant environments where non-admi

[2021-11-04 00:50] robbiezhang commented on #2426
1.8.6 is rolled out to all the regions.

[2021-11-04 00:50] #2426 closed

[2021-11-04 01:30] djsly commented on #2426
confirmed! thanks a lot @robbiezhang , took some time but I'm sure this will be stable now!

[2021-11-04 06:49] bhargavmodi opened #2628 "Does AKS support Android Emulator Container?"
**What happened**:
It is required to create a jenkins pipeline for Android projects. In order to run the android test cases, it is required to start the Android emulator and execute in it through gradle script. Luckily, Google has published Android Emulator images(i.e. https://github.com/google/android-emulator-container-scripts/blob/master/REGISTRY.MD) which can be leveraged for this purpose.

Bu

[2021-11-04 09:57] dzmitry-lahoda commented on #2553
indeed, it is roadblocker to automatic provisioning of clusters. it is impossible to deploy automatically anything than simple http cluster from scripts

[2021-11-04 09:58] dzmitry-lahoda commented on #2553
people build brittle workarounds https://github.com/googleforgames/agones/pull/2124

[2021-11-04 10:18] oliviergaumond commented on #2573
Not sure about the last comment about the support case. I thought it was acknowledged that something needs to be fixed in code.

[2021-11-04 10:38] arkadiuszbach commented on #2623
Hi,
I have the same problem, I was trying to enable: `endpoint_pod_names` option in kubernetes plugin, using following:
[code]

Error:
`[ERROR] Restart failed: plugin/kubernetes: this plugin can only be used once per Server Block`

It would be great to be able to override those settings.

[2021-11-04 12:03] dzmitry-lahoda commented on #2553
also i cannot set ingress installed via helm with static ip as ingress requires static ip to be created within that hidden new group

[2021-11-04 14:24] miwithro commented on #2617
@AbelHu

[2021-11-04 14:26] miwithro commented on #2618
@justindavies

[2021-11-04 14:30] miwithro commented on #2619
@MichalKoziorowski-TomTom yes this is correct.  Changing the tag from a too general keyword to “aks-managed-“ prefix has been well discussed, and we have already got lots of customer feedback because of the too general keyword.

We should have communicated the Behavioral change earlier to customers.  That was an error on our side.

[2021-11-04 14:36] miwithro commented on #2573
@mscatyao is there a work item to address this?

[2021-11-04 14:37] miwithro commented on #2573
@robbiezhang is this a configuration update on the AGIC addon?

[2021-11-04 15:57] MichalKoziorowski-TomTom commented on #2619
Would it be possible to not have such changes in "not preview" or "stable" versions of AKS? Or at least not in same AKS patch level, like 1.21.2, but rather waiting for next 1.21.x one? Such changes are quite scary.

We are seeing more strange things, but not related to "Add aks-managed-cluster-rg and aks-managed-cluster-name tags to the node resource group" coming with latest deployments. Is it i

[2021-11-04 16:01] MichalKoziorowski-TomTom commented on #2619
Thanks

[2021-11-04 16:01] #2619 closed

[2021-11-04 17:50] ardacetinkaya commented on #1787
I am getting the following error when I try to enable addon.
Any help or idea?

(OpenServiceMeshAddonFeatureFlagNotEnabled) OpenServiceMesh addon is not allowed since feature 'Microsoft.ContainerService/AKS-OpenServiceMesh' is not enabled. Please see https://aka.ms/aks/previews for how to enable features.

When I list the addons;

    "description": "- enable Open Service Mesh addon (PREVIEW).",

[2021-11-04 18:00] #2614 closed

[2021-11-04 19:44] miwithro commented on #2582
@Schnitzel the latest release notes are out.

[2021-11-04 20:02] Danlewis3 opened #2633 "Evicted Pods"
**What happened**:
Pods that are evicted due to node availability or memory issues keep the evicted state visible in the portal and AKS. The garbage collector settings aren't available in AKS so we are unable to change the default value of 12500 until cleanup. If it hits a certain amount all nodes become un-responsive and slow.

**What you expected to happen**:
The ability to change the garbage co

[2021-11-04 20:06] Danlewis3 opened #2634 "AGIC Across Subscriptions"
**What happened**:
Currenty when you enable the Application integration via the UI it only shows the WAF's in the current subscription. But if you use a hub spoke model where the WAF is in a different subscription you are unable to attach it via the UI.

[2021-11-04 20:11] aidapsibr commented on #2115
Can anyone clarify why image savings are advertised as 40% when only 10% was seen? Is it just not ready yet, or does that apply to only nano?

[2021-11-04 23:07] philwelz commented on #2621
Hey,

idea for a policy:

- Block Labels `control-plane` & `admission.gatekeeper.sh/ignore` on namespaces - with these Labels users could exclude namespaces on purpose from all constraints defined in the cluster

[2021-11-04 23:12] JulioFor commented on #205
@mihohoi0322 I don't know if it worked becouse I have to ask for opening the urls in the proxy. At first I got the same error using az cli (az aks create):
(HTTPProxyConfigInputError) HTTPProxy and HTTPSProxy both cannot be empty.
But if you use ARM it seems to work. At lease it leaves you to create de AKS.
az deployment group create --name ExampleDeployment --resource-group myrg --template-file a

[2021-11-05 01:25] AbelHu commented on #2617
@akshay10505 @miwithro AKS does not support setting timezone in agent nodes. You can set timezone in your containers. This is guidance to set timezone in windows containers. https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/virtual-time-zone

[2021-11-05 01:25] #2617 closed

[2021-11-05 04:41] AbelHu commented on #2608
@giskou This issue is related to WinDSR. When disabling WinDSR, `kubectl exec -it deployment/win-webserver -- curl.exe -v --max-time 10 http://win-webserver:80 -H "Connection: close"` succeeds. cc @daschott

[2021-11-05 04:59] daschott commented on #2608
@AbelHu The cause of this is that Azure CNI is missing loopbackDSR policy support. Azure CNI needs to be extended with loopbackDSR policy to support connecting to DSR service that may redirect to source pod.

[2021-11-05 05:08] AbelHu commented on #2608
@daschott Do we still need AzureCNI support loopbackDSR policy even with the latest fix in WinDsr?

[2021-11-05 05:11] daschott commented on #2608
@AbelHu yes, this is still required

[2021-11-05 07:18] JulioFor commented on #205
@miwithro @mihohoi0322 Finally!!!! I made it work with az cli!! What was the problem? -the json format. It has to go without httpProxyConfig. It make sense since it says that it can't find the parameters. So the correct way to create de json is simply:
{
     'httpProxy': 'http://xxxx:8080/',
     'httpsProxy': 'https://xxxx:8080/',
     'noProxy':[
         'localhost',
         '127.0.0.1'

[2021-11-05 08:30] the1bit commented on #2614
Please don't close. I am waiting for your support. Thanks

[2021-11-05 10:02] mibollma commented on #2604
Currently I'm unable to reproduce the issue even though the setup didn't change much.
IMDS access works with curl and with the client library even when enabling the addon.
I'll close this issue for now, thanks for your support.

[2021-11-05 10:02] #2604 closed

[2021-11-05 10:10] giskou commented on #2608
@AbelHu How can I disable WinDSR in AKS?

[2021-11-05 10:16] smnmtzgr commented on #2608
@giskou are you using ingress-nginx?

[2021-11-05 10:17] giskou commented on #2608
@smnmtzgr yup

[2021-11-05 10:49] smnmtzgr commented on #2608
Have you tried setting this:
`controller:
  replicaCount: 2
  podAnnotations:
    co.elastic.logs/enabled: "true"
    co.elastic.logs/processors.add_labels.labels.aks.system: "1"
  publishService:
    enabled: true
  service:
    externalTrafficPolicy: Cluster
`

instead of _externalTrafficPolicy: Local_?

[2021-11-05 10:59] giskou commented on #2608
My issue is unrelated to nginx-ingress; it's pure pod networking.
I know that there is an issue with WinDSR and nginx-ingress but that's a different story.

[2021-11-05 11:12] OvervCW opened #2635 "Largest possible ephemeral temp disk for Standard_NC4as_T4_v3 differs from documented size"
**What happened**:

I tried to create a node pool with `Standard_NC4as_T4_v3` instances using ephemeral OS disks. Since these instances don't have an OS cache, I expect to be able to [use their temp disk for this purpose](https://azure.microsoft.com/en-us/updates/ephemeral-os-disks-for-azure-vms-for-additional-vm-sizes-is-now-generally-available/) instead.

According to the [NCas T4 v3 documentati

[2021-11-05 11:14] AbelHu commented on #2608
@giskou you can try @smnmtzgr 's suggestion. To disable WinDSR, AKS CSS will check it with you via your support ticket.

[2021-11-05 11:17] giskou commented on #2322
How was this issue resolved?
Should it be reopened due to https://github.com/Azure/AKS/issues/2608#issuecomment-961631220

[2021-11-05 11:21] giskou commented on #2608
@AbelHu but the issue I describe above has nothing to do with nginx.
Answering yes to the question "are you using ingress-nginx?" was very general and not related to this.
Even the question was totally out of topic.

[2021-11-05 11:26] AbelHu commented on #2608
@giskou Local has different route logic since you are using the service ip. https://blog.getambassador.io/externaltrafficpolicy-local-on-kubernetes-e66e498212f9

[2021-11-05 11:32] giskou commented on #2608
ExternalTrafficPolicy can only be set on NodePort and LoadBalancer service.
We are using normal ClusterIP services.

[2021-11-05 11:37] giskou commented on #2608
To sum up, I think there are two options here:
* fix Azure CNI to work with loopbackDSR (ideal, more permanent solution)
* disable WindDSR (workaround)

The second option will work for us, since we don't use calico policies on windows yet.
At some point we will, so the first option should be considered long term.

[2021-11-05 11:41] giskou commented on #2608
@AbelHu @daschott  Is there a case with Azure CNI for supporting loopbackDSR that we can follow?
Or is this even planed?

[2021-11-05 12:06] AbelHu commented on #2608
@giskou we are asking Azure Container Networking team to support loopbackDSR in Azure CNI.

[2021-11-05 13:52] JulioFor commented on #205
Omg it couldn't be that easy. When we use our windows nano images it gives us this:
Failed to save Kubernetes service 'xxxx'. Error: HTTPProxyConfig is not supported for OS type: .
Do I suppose that windows is not supported with this feature...?

[2021-11-05 14:07] miwithro commented on #205
Windows is not supported yet for this feature.  @justindavies to track on the Windows side.

[2021-11-05 15:25] miwithro commented on #2621
@karataliu @fseldow add the policy recommendations from @philwelz to our list.

[2021-11-05 19:20] ardacetinkaya commented on #1787
Is this add-on really GA for AKS? I could not enable it in my cluster, I got the above☝🏻 error when I try as documented.

[2021-11-06 18:00] #2606 closed

[2021-11-06 19:33] steav commented on #2206
Same problem with 1.19.13 (not upgrading, just after some nodes scaled + pods moved)

[2021-11-07 00:00] #2582 closed

[2021-11-07 05:46] chirangaalwis commented on #2406
Not stale, waiting for feedback.

[2021-11-08 02:27] feiskyer commented on #1026
Refer https://github.com/kubernetes/enhancements/issues/1435, the feature is still alpha in upstream

[2021-11-08 14:26] JamesDLD opened #2638 "Support multiple private endpoints for AKS for both API (kubectl) and Portal Access"
**What happened**: The portal view of following panels is not accessible when browsing through a second private link.
-  Namespaces
- Workloads
- Services and ingresses
- Storage
- Configuration

**What you expected to happen**:
When using a second private link it would have been great if the portal access that calls an url like "https://xxxxx-priv.portal.hcp.westeurope.azmk8s.io" had it's DNS aut

[2021-11-08 15:58] matt-garner-nw commented on #2621
- Deny use of Depricated API's
- Deny use of Default Service Account
- Require containers to use latest tag
- Require containers to be tagged
- Require containers to have limits set

[2021-11-08 17:39] rafavvf opened #2639 "tunnelfront constantly restart due liveness probe failed: cannot change locale (en_US.UTF-8)"
**What happened**:
I tried to upgrade my aks cluster version from 1.18 to 1.21, but I have an error with pod "tunnelfront", it was restarting constantly, when I describe the pod, this show me this: "Liveness probe failed: /bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)"

**What you expected to happen**:
I want to re deploy the pod, but it was in a production environment,

[2021-11-08 19:58] matt-garner-nw commented on #2621
Thanks @philwelz is there a policy to deny using latest tag?

[2021-11-08 22:50] miwithro commented on #2566
@y3sy the user credential would be active for up to 60 minutes but that is dependent on the AAD configuration.  That is the default, but can be tuned to time out the user on a more frequent basis.

[2021-11-09 10:43] mikkelhegn commented on #2622
Virtual Node only has one version, which is supported by the AKS service team. Can you provide more details on the version numbers you're referring to? The Virtual Kubelet, used by Virtual Node, implements the K8s client library here: https://github.com/virtual-kubelet/azure-aci/blob/master/cmd/virtual-kubelet/main.go#L37.

[2021-11-09 15:44] fethidilmi opened #2640 "AzureML can't attach a PrivateAKS cluster using a Public DNS zone"
**What happened**:
We have an issue with attaching a Private AKS cluster (using a public dns zone), as an inference cluster to a private AzureML cluster.

**What you expected to happen**:
We want to be able to attach a Private AKS cluster (using a public dns zone), as an inference cluster to a private AzureML cluster.

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy a pr

[2021-11-09 15:51] phealy commented on #2635
Some VM sizes have a maximum cached disk size that is lower than the total temp disk size, as you've discovered. This is not an AKS limitation; it is based on Azure Compute. You can find the exact maximum disk size allowed for a given SKU by using Azure CLI or the [Compute Resource SKUs list API](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list) - the capability name you're loo

[2021-11-09 16:10] OvervCW commented on #2635
@phealy Will that limit be added to the documentation at some point in the same way that the maximum cache size is documented for the [Fsv2-series](https://docs.microsoft.com/en-us/azure/virtual-machines/fsv2-series), for example?

[2021-11-09 17:13] phealy commented on #2640
Please see the (Azure ML documentation for attaching an AKS cluster](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-attach-kubernetes?tabs=python#limitations), specifically the limitations section:

As far as I'm aware this is not an AKS limitation but an Azure ML limitation, so the AKS team cannot do anything to enable this functionality.

[2021-11-09 17:16] tombuildsstuff commented on #1972
@paulgmiller @palma21 apologies for the ping, any thoughts on the above?

[2021-11-09 18:48] seanmck commented on #2628
No, KVM is not supported with AKS. The best alternative is Azure Pipelines:

https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/android?view=azure-devops

[2021-11-09 18:48] #2628 closed

[2021-11-09 19:53] phealy commented on #2639
As this is affecting a production cluster, please [open a support request via the Azure Portal.](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request#go-to-help--support-from-a-resource-menu)

[2021-11-09 20:17] phealy commented on #2625
I'm assuming, since you referenced automation, that you're connecting and deploying this application immediately after cluster provisioning. This can happen due to AAD replication delays, where the new cluster managed identity takes a few minutes to show up. This should automatically rectify in a few minutes, as replication will complete and the access will appear.

There are two main ways to deal

[2021-11-09 20:37] phealy commented on #2623
@andriktr AKS is set to inherit the DNS configuration from the nodes, which get their DNS configuration from the virtual network. [To set custom DNS servers, make the change via the virtual network configuration]https://docs.microsoft.com/en-us/azure/virtual-network/manage-virtual-network#change-dns-servers).

@arkadiuszbach There's currently no way to configure that in AKS. If you would like to r

[2021-11-09 20:50] ElkRom commented on #1338
Hi guys, do you have any updates regarding this issue?

[2021-11-09 20:52] andriktr commented on #2623
Hey @phealy

This is clear and obvious :), but currently we are in situation when we do not want to change DNS servers on vNet level additionally such change requires to reboot all the workers overwise this will not take effect.
If it's not possible to override default CoreDNS  config (at least coreDNS import plugin do not allows this) then this statement for [MS DOCS](https://docs.microsoft.com/e

[2021-11-09 22:47] palmerabollo commented on #1787
@ardacetinkaya yes, it was [officially announced as GA](https://techcommunity.microsoft.com/t5/apps-on-azure/open-service-mesh-osm-integration-with-azure-kubernetes-service/ba-p/2902151) on Nov 2.

I had to run the following command on my Azure account before creating the AKS cluster:

[code]

I agree it shouldn't be needed for a GA feature.

[2021-11-10 02:58] sylus commented on #2452
Err this just got rolled out to us in canadacentral just doing a acr link and now this happened and completely destroyed our connectivity.

[2021-11-10 06:59] ardacetinkaya commented on #1787
Thanks a lot @palmerabollo
It is now done. Time to dig more 😀

To have general info;  when I registered the feature with above ```az feature...``` 👆 It also displayed the following info

So I re-registered the provider
[code]
And then enable Open Service Mesh is done
[code]

[2021-11-10 08:05] shihying66 commented on #2452
+1 I just enabled --uptime-sla for one of our prod cluster in northeurope, it looks now Konnectivity-Agent is used instead of aks-link. Can we have a documentation on what's the impact?

[2021-11-10 09:37] vadmeste commented on #2625
As per my testing, the load balancer never gets a public IP when AuthorizationFailed shows up even after waiting for one hour. Also removing the load balancer doesn't work, kubectl delete svc never quits as well.

[2021-11-10 14:17] phealy commented on #2625
If you have a cluster in this state (or can get one to this state), please open a service request. It sounds like it might not be the usual replication delay, but a problem with assigning permissions, and support will need the ability to access logs that opening a request brings.

[2021-11-10 14:52] phealy commented on #2624
This is already possible using a single VNet and the bring-your-own VNet configuration (doc links: [kubenet](https://docs.microsoft.com/en-us/azure/aks/configure-kubenet) / [Azure CNI](https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni)). If you're using managed networking (where AKS creates the networks in the MC resource group and uses a separate VNet for each cluster), this isn't po

[2021-11-10 15:04] MasterKolka commented on #2624
@phealy Thanks! Haven't seen that feature. Could somebody add a page to the "Egress" section here - https://docs.microsoft.com/en-us/azure/aks/nat-gateway ? Thanks.

[2021-11-10 15:06] phealy commented on #2624
I've already got the doc PR written, actually! Just waiting on provisioning clusters in my test sub to validate syntax before I submit it.

[2021-11-10 17:33] phealy commented on #2624
@MasterKolka Doc PR merged, should be published in about an hour.

[2021-11-10 18:21] DavidDavids commented on #2181
I have a large customer looking for similar... I think the idea would best be phrased as a "Scheduled, Rolling Node Restarts in a NodePool".   The customer is interested in giving the underlying VM's the chance to get any patches @ the OS level regularly.  but the nature of their application is 24/7 365 days up time.

[2021-11-10 18:37] phealy commented on #2589
This is correct - a cluster stop drains all nodes prior to shutdown and thus any standalone pods are deleted. I've submitted a PR for a docs change, which should publish within 24 hours.

[2021-11-11 00:00] #2566 closed

[2021-11-11 00:00] #2519 closed

[2021-11-11 00:07] JungukCho commented on #2598
Hello, @jakubneubauer and @phealy

We added the feature in NPM and it will be enabled in a next NPM release.
If there is no concern, we can close this issue.

[2021-11-11 01:13] palma21 commented on #2564
I'll let @nehakulkarni123 @az-policy-kube speak to the DINE policy

Maybe this goes a bit around your problem but perhaps it's an easier fix. Have you looked into the Azure RBAC integration if your goal is centrally managing cluster admins? With it you can automatically define roles for all your clusters at whichever scope you decide.
https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac

[2021-11-11 01:19] palma21 commented on #2409
Sorry for the delay, this should now be fixed everywhere with the latest calico components. Let us know if you still have issues.

[2021-11-11 01:19] #2409 closed

[2021-11-11 01:36] Kaarthis commented on #2462
https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-storage

[2021-11-11 01:48] palma21 commented on #2505
The IPs are not removed because your services still want/need them, stop will just remove the agent node cost which is the highest. If you delete your service spec and then stop your cluster then you'd remove both.

The CLI error above was because you were missing the CLI extension.

I think Tom already captured most things on the scaling feedback. If you have questions that are tangent or orthogo

[2021-11-11 01:49] Kaarthis commented on #2506
What roles via RBAC has been assigned here - could you elaborate the steps done ?

[2021-11-11 01:56] clarenceb commented on #2597
Hi @abnormall, can you confirm a few things?

* The sender and receiver are in different clusters?
* Are you using Network Policies?
 *Are you using custom NSG rules on your AKS subnets?
* Are you running any service mesh in the clusters?

[2021-11-11 03:26] SatyKrish commented on #2564
Yes, we use Azure RBAC integration for Admin, Operator and User roles. Admin role is restricted in Production clusters, and instead we are exploring Just In Time access using Managed AD Integration.

Our plan is to create AKS cluster with an empty Admin AD group, and use PIM to grant Admin access to the AKS clusters. Since there could be 1000s of Production clusters across different subscriptions,

[2021-11-11 03:36] uvw commented on #2508
We experienced the same issue just yesterday (2021-11-09) while upgrading from 1.19.3 to 1.20.9. The only difference from the reporter is that we used Azure CLI to upgrade the cluster.

[2021-11-11 08:13] mehmettaskiner commented on #2058
Looking forward to have support for this, we need this to enable mixed protocols in load balancers.

[2021-11-11 09:01] philwelz commented on #2058
same here, but i would like a solution where i have to specifically enable alpha feature gates instead of have all enabled.

[2021-11-11 09:23] red-hood opened #2642 "Intermittent liveness probe failures for calico-node during high workload CPU usage"
**What happened**:
Answer: We are observing intermittent warnings regarding the liveness probe of all pods of the calido-node daemonset, mostly during high CPU load on the respecitive nodes. As the daemonset does not have any cpu (nor memory) requests defined, the most likely explanation is CPU starvation for the calico-node service.

**What you expected to happen**:
The configmap for the typha op

[2021-11-11 09:27] gazpwc commented on #2569
Hi @EPinci ,
is there any estimation when we can expect that feature? That would greatly improve our user experience.

[2021-11-11 10:09] jakubneubauer commented on #2598
@JungukCho thank you. Can you tell me, how can I recognize, or even better, be notified when it will be in production in Azure? Thanks

[2021-11-11 14:13] Chiodood commented on #2245
Any updates on this?

[2021-11-11 15:42] phealy commented on #2602
I've been unable to reproduce this issue with provisioing a cluster using `az aks create --name zfs2 -s Standard_D8ds_v4 --node-count 1 --node-osdisk-type Managed`:

[code]

I suggest putting a sync in after the umount to make sure the kernel has finished flushing the caches to disk. That's the most likely reason for jbd2 to stay running, and you don't have any waits.

[2021-11-11 16:09] miwithro commented on #2569
@jmalkiew @gazpwc I have added this to our backlog, and we will look at this next semester to unblock you.

[2021-11-11 16:33] miwithro commented on #2550
@brconnell4 --disable-pod-security-policy exists in the aks-preview extension not in the az cli.

az extension add --name aks-preview.

From here you can run az aks update --disable-pod-security-policy and then update your cluster to add azure policy.

[2021-11-11 17:10] nehakulkarni123 commented on #2564
Hi @SatyKrish, I'll make sure to provide an update on the modify capability soon. In the meantime, would you mind providing a sample of what your DINE policy looks like? I can try to adjust to see if this can be done.

[2021-11-11 17:45] jhatcher1 commented on #2602
Hi @phealy , thanks for your reply.

I'm also unable to reproduce this issue using `az aks create --name zfs2 -s Standard_D8ds_v4 --node-count 1 --node-osdisk-type Managed`

If I create the cluster through the Azure console (as I did originally, I forgot to mention this), I can consistently reproduce the issue, even if I add a sync after the unmount. Here's a screenshot of the configuration I did:

[2021-11-11 18:00] #2640 closed

[2021-11-11 18:00] #2635 closed

[2021-11-11 18:32] phealy commented on #2602
OK, that told me what I needed. When you deploy a standard configuration via the portal, one of the things it includes is [Azure Monitor](https://docs.microsoft.com/en-us/azure/aks/monitor-aks). You can turn that off on the Integrations tab by setting container monitoring to false.

Review page:
![image](https://user-images.githubusercontent.com/3046014/141349978-7a44f3f9-06c8-4e17-b45c-0a305d0344

[2021-11-11 18:33] phealy commented on #2602
If this doesn't fix your problem, please let me know and I'll continue to investigate!

[2021-11-11 18:47] jveski commented on #2440
@phillebaba Allowing packets from 192.0.2.100/32 is all you need for the current tunnel implementation.

As @danimal521 mentioned, we are in the process of rolling out [apiserver-network-proxy](https://github.com/kubernetes-sigs/apiserver-network-proxy) (aka Konnectivity), which will effectively NAT the traffic such that allowing ingress from pods labeled `app=konnectivity-agent` will be sufficien

[2021-11-11 18:47] #2440 closed

[2021-11-11 18:55] chandraneel commented on #2638
Portal uses the FQDN for the proxy endpoint, i would expect the private link feature to handle the mapping for the FQDN to the internal IPs in the private DNS zones. Will work with product team and get back here.

[2021-11-11 19:00] #2323 closed

[2021-11-11 19:04] JungukCho commented on #2598
@jakubneubauer I am sorry that we do not have notification mechanism yet. You can find release information here - [aks release note](https://github.com/Azure/AKS/releases).

For a next NPM release, we expect that it will be the mid of december timeline without releasing hiccups since we have couple of items to be released together.

Please let us know if you have concerns.

[2021-11-11 19:10] JulioFor commented on #205
I have tested this function in public and private aks mode and still don't understand the advantage of this function, since regardless of whether
the implementation of aks is public or private, you still need outbound traffic in both cases.
I thought that with this at least it would be removed the outgoing traffic but I have verified that no, it is still a requirement.
https://docs.microsoft.com/e

[2021-11-11 20:22] phealy commented on #2607
@hairmare can you please confirm whether the fix Ace referred to has fixed the issue for you?

[2021-11-11 20:47] hairmare commented on #2607
The affected cluster is still running images from `mcr.azk8s.cn`. I checked to see if `kubectl -n kube-system rollout restart daemonset csi-azuredisk-node` fixes the issue but the new pods use the cn registry as well.

Do we need to upgrade the cluster to get the fix?

[2021-11-11 20:49] phealy commented on #2607
I'd try a [node image upgrade](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade), which will restart things but will get the newest kubelet/cri versions.

[2021-11-12 07:20] gazpwc commented on #2569
@miwithro Great, thanks a lot! 👍

[2021-11-12 07:53] Haecki commented on #2569
@miwithro Hope your semester starts shortly... ;-)
This feature would be awesome and creates real added value!

[2021-11-12 10:00] JulioFor commented on #205
@miwithro I am still testing this feature and have a new issue that I think will be resolved in the future. I can't pull images.

Failed to pull image "alpine:3.13": rpc error: code = Unknown desc = failed to
  pull and unpack image "docker.io/library/alpine:3.13": failed to resolve
  reference "docker.io/library/alpine:3.13": failed to do request: Head
  "https://registry-1.docker.io/v2/library/a

[2021-11-12 15:05] palmerabollo opened #2644 "Missing prometheus.io/scrape annotation in coredns"
**What happened**:

Coredns pods are created with the annotation `prometheus.io/port` but the annotation `prometheus.io/scrape` is missing. That makes it hard to automatically scrape its metrics with an external Prometheus service.

**What you expected to happen**:

The coredns deployment must have an annotation `prometheus.io/scrape: "true"` added to its pod template.

**How to reproduce it (as m

[2021-11-12 15:24] ejderdal commented on #2452
I just go hit by this today. In one of our clusters konnectivity was rolled out. So far the effect I can see is that webhooks from API server to worker nodes fails occasionally.
[code]
Scaling up the number of pods behind the webhook service seems to mitigate the issue a little bit.

The konnectivity logs are full of
[code]

[2021-11-12 16:02] coreywagehoft opened #2645 "Dapr Addon: nodeSelector issues"
**What happened**:
We have AKS clusters with both windows and linux nodes, so we want to use a nodeSelector to make sure the Dapr addon only schedules to linux nodes.  Using the extension install docs if we use this configuration:
[code]

We get the following error in the extension-operator pod:

[code]

**What you expected to happen**:
Expected the extension to parse the node selector configurati

[2021-11-12 17:41] paulgmiller commented on #2508
So we've been relunctant to make this configurable becuase its really hard to know when your upgrade is stuck on a pdb when the drain timeout is really high. However we're pretty close to shipping eventing on nodes that would give custoemrs clues when an upgrade is stuck on a particular pod. After that we're open to making this configurable.

Something htat would be helpful for us we probably stil

[2021-11-12 18:00] #2624 closed

[2021-11-12 19:32] VSAfbol commented on #2639
I am seeing exact same issue. Also noticed that I get an error while trying to get to the live logs of the pod.

[2021-11-13 00:00] #2589 closed

[2021-11-13 18:00] #2550 closed

[2021-11-14 00:00] #2602 closed

[2021-11-14 00:01] phealy commented on #2506
@Krupakarreddin if you're still experiencing this issue, please open a service request. This will allow a support engineer to review your IAM roles and see what's happening.

[2021-11-14 00:06] phealy commented on #2579
A validation check has been added for this case:

![image](https://user-images.githubusercontent.com/3046014/141662586-1db05847-d348-4ea1-b5d2-c07c7b1105d4.png)

Please let us know if you're still seeing the issue!

[2021-11-14 00:09] phealy commented on #2635
@OvervCW Currently AKS only supports ephemeral disk on cache, not on temp. You are correct that the docs are wrong; I've submitted a request to the owning team for them to update them as appropriate. Thanks!

[2021-11-14 00:10] phealy commented on #2593
@akshaysngupta @mscatyao is this something you're willing to look at adding to the addon?

[2021-11-14 00:40] phealy commented on #2645
Like helm, values that set annotations that contain dots in the name need to be escaped so that the parser understands them properly. As your command was unquoted, it interpreted the `.` between kubernetes and io/os as another layer of the hierarchy, rather than part of the value you wanted set.

This formatting should work:

[code]

Let me know if you're still having trouble.

[2021-11-14 20:10] phealy commented on #2463
Is this issue still occurring? If so, please open a service request so support can look at your subscription.

[2021-11-14 23:01] phealy commented on #2603
In the future, for something specifically related to your cluster like this, please open a service request. This kind of transient problem is usually specific to a single cluster or region and needs to be investigated by support. If you're still experiencing the issue now, please open a support request. Otherwise, please open one if it reoccurs

[2021-11-15 05:06] fseldow commented on #2564
Hi @SatyKrish I made one DINE sample with full aks template, hope it may help you.
It can work for my own cluster. @nehakulkarni123 for verification
[code]

[2021-11-15 12:05] InDieTasten commented on #1785
I can confirm that auto-scaling with large images (18Gi) is borderline impossible, as scaling up takes up to 30 minutes per node. During that period, the previous resources are completely overloaded, and errors occur due to CPU maxing out.

@miwithro Any updates on the staffing end?

[2021-11-15 12:55] TomaszSlawski-TomTom opened #2646 "Pods cannot resolve external DNSes"
**What happened**:

I have couple of clusters and what I see is:
- clusters deployed before 11.11.2021 are OK
- clusters deployed 12.11.2021 and after are all failing

What the failure is:
- pods cannot resolve DNSes

What the difference is between failed clusters and OK ones (discovered for now):
- coredns pod is failing (`[INFO] plugin/ready: Still waiting on: "kubernetes"` all the time)
- tunne

[2021-11-15 14:12] phealy commented on #2463
In addition, please upgrade your Azure CLI client to 2.30.0 before trying again. Auto upgrade support was made GA and thus no longer requires the preview flag, but your Azure CLI versions are from when it was still in preview. This can cause incompatibilities.

[2021-11-15 15:07] coreywagehoft commented on #2645
@phealy thank you for the clarification, I think this would be good to add to the public documentation, because it is not immediately clear.

[2021-11-15 15:23] davidrigaudetatfr opened #2647 "Feature request: Add AKS availability zone for Switzerland"
**What happened**: it's an ER

**What you expected to happen**: Make this feature available

**How to reproduce it (as minimally and precisely as possible)**: N/A

**Anything else we need to know?**: for Etat FR, we can consume services only in  Switzerland !

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General desc

[2021-11-15 15:34] phealy commented on #2645
I put in a PR for that; it should get merged in the next few days.

[2021-11-15 19:36] miwithro commented on #658
Hey @wangyira here is the document for backups.

https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv#back-up-a-persistent-volume

[2021-11-15 20:52] miwithro commented on #1917
We are doing a Private Preview right now of Azure AD Workload Identity which works on Windows.  We should be moving this to Public Preview in Q2 2022, and then looking at GA shortly thereafter.

[2021-11-15 21:05] miwithro commented on #2063
@Krupakarreddin yes this is available in china.

[2021-11-15 21:06] miwithro commented on #2125
@Kaarthis FYI.

[2021-11-15 23:21] damienpontifex commented on #1785
Seems GCP are trying to solve the same problem https://cloud.google.com/blog/products/containers-kubernetes/introducing-container-image-streaming-in-gke
Apologies for tangent on topic, but thought it good to be knowledgeable across different solutions to this problem

[2021-11-15 23:44] JungukCho commented on #2372
@reinventit  Please re-open it if you face with the same issue.

@danimal521 I think it is ok to close it now and re-open it if someone reports this issue.

[2021-11-16 01:54] jayush commented on #2646
+1 we have seen similar issues with K8S 1.21 and custom DNS that impacted us and our customers.
cc: @palma21

[2021-11-16 02:55] om3171991 commented on #2463
@phealy - We are still getting this error without upgrading azure CLI. We will give 1 shot after upgrading.

[2021-11-16 04:46] DrewRomanyk opened #2648 "Properly GA Azure Files/Storage CSI"
**What happened**:

[The wiki on how to enable the Azure storage/file CSI driver](https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers) stated to use custom headers in order to activate it. [I sadly can’t do this with terraform since custom headers are not reliable to depend on](https://github.com/hashicorp/terraform-provider-azurerm/pull/14178#issuecomment-968789798) since it’s [designe

[2021-11-16 04:52] DrewRomanyk commented on #2648
After re-reading other comments I realized that it only applies to kubernetes clusters below 1.21, so this is only a temporary issue and the solution is to use the latest version

[2021-11-16 04:52] #2648 closed

[2021-11-16 11:51] legigor commented on #2646
It seems we've figured out the issue. Please check the output from here:

`kubectl describe cm azure-ip-masq-agent-config -n kube-system`

if nonMasqueradeCIDRs is empty?

We've discovered that it doesn't mask the entire block `10.0.0.0/8`

[2021-11-16 15:06] hadr10 opened #2649 "Azure file share as inline volume with private endpoint"
**What happened**: When we moved our storage account to private endpoint it stopped working in AKS in some countries.
Log from aks:
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/7622356f-f584-4036-80d5-2a6ae7f1b51b/volumes/kubernetes.io~azure-file/azure --scope -- mount -t cifs -o file_mode=0777,dir_mode=0777,vers=3.0,actimeo=30,mfsymlinks,<masked> //testin

[2021-11-16 15:11] xunil123 opened #2650 "DR for AKS in UAE regions"
**What happened**:
We are looking for DR for AKS in UAE region.

**What you expected to happen**:
As of now Availability zones are not available for AKS in UAE region and Microsoft suggesting us to use the Velero as a backup solution. Our production cluster is in UAE north and we configured Velero namespace backup in the same cluster. But in a DR scenario how can we use those namespace backups to

[2021-11-16 15:29] reinventit commented on #2372
Sorry for my late reply. Happy to see activity on this issue!

When I tried to reproduce the issue again and it seems to be working correct now. Because I'm using the managed AKS I'm afraid I can't see in retrospect what version we had the issue on.

Thanks for your help!

[2021-11-16 15:57] Shaybs commented on #2586
@marwanad Yes, we modify the taints by deleting the taint after the disk has been attached

[2021-11-16 18:17] TomaszSlawski-TomTom commented on #2646
Yes, it is it.
I my case `10.244.0.0/16` should be set. After this cluster is up and healthy.

[2021-11-16 20:51] legigor opened #2653 "azure-ip-masq-agent-config populated with empty nonMasqueradeCIDRs list for private cluster"
**What happened**:

We've created multiple private clusters and none of them been able to connect to resources in our VNet.
Pods CIDR is `10.244.0.0/8`, our VNet CIDR is `10.31.0.0/16`.

During the troubleshooting session we've discovered the config map `azure-ip-masq-agent-config` data looks like this:

[code]

so that iptables config looks like this

[code]

That means that when pods trying to c

[2021-11-16 20:52] legigor commented on #2646
Just created a separated ticked with detailed issue description #2653

[2021-11-16 23:24] MarkTopping commented on #2621
Thanks for asking Palma21.

A few quick ideas for additional policies that might be useful (or would be in my company's situation)

- require Services to be of a given type (i.e. ClusterIP to prevent teams from creating LoadBalancer types)
- require certain labels to be present (i.e I'd like to enforce aadpodidbinding, & an env label)
- require containers to have probes
- require certain annotatio

[2021-11-16 23:43] philwelz commented on #2621
@MarkTopping

* require Services to be of a given type (i.e. ClusterIP to prevent teams from creating LoadBalancer types)
  * you can block at least allow only internal LBs = https://github.com/Azure/azure-policy/blob/master/built-in-policies/policyDefinitions/Kubernetes/LoadbalancerNoPublicIPs.json
* require certain labels to be present (i.e I'd like to enforce aadpodidbinding, & an env label)

[2021-11-16 23:43] philwelz commented on #2621
not built-in yet

[2021-11-16 23:45] MarkTopping opened #2654 "Support admission controller mutations as to comply with Azure Policy"
I'd like to request/suggest a feature whereby Azure Policy (or similar) can modify inbound K8s manifests as to satisfy admission controller policies.

The primary rational and example I can give for requesting this is driven by the SecurityContext sections for Pod and Container specs. In a company which has a strong security posture we require these sections of the deployment manifest to be presen

[2021-11-16 23:47] MarkTopping commented on #2621
Hey. Yeah I'm aware of the first of those (and have that in place).... but I'd somehow missed the second one which on re-inspection I now see. thank you!

[2021-11-16 23:50] philwelz commented on #2621
i also thought about a block all types of `LoadBalancer` kind of policy  🤝

[2021-11-17 05:36] ramazankilimci commented on #1402
Is there any update for this?

[2021-11-17 09:06] andyzhangx commented on #2649
does pod recreation work in such scenario?

[2021-11-17 09:09] JanetSongAA opened #2655 "CustomNodeConfigPreview feature is not available on Azure China when will this feature be available in Azure CN?"
when I run below command and return error , I can't use Custom Node Config feature on Azure China now.
### az feature register --namespace "Microsoft.ContainerService" --name "CustomNodeConfigPreview"
Once the feature 'CustomNodeConfigPreview' is registered, invoking 'az provider register -n Microsoft.ContainerService' is required to get the change propagated
(InvalidResourceType) The resource typ

[2021-11-17 11:12] William-LP opened #2656 "Specify the requested agent pool node number when turning Cluster Auto Scaler off"
Hello !

In the  [2021-09-30's release note](https://github.com/Azure/AKS/releases/tag/2021-09-30) it says :

Out of this changelog I haven't been able to find out anything documenting this new behavior.

So I have fired-up a cluster to try this out, with `--enable-cluster-autoscaler --min-count 1 --max-count 5`  and then tried to disable cluster autoscaler while specifying the request number of n

[2021-11-17 14:21] davidrigaudetatfr opened #2657 "Be able to register AKS for HCI from one of Switzerland regions"
**What happened**: We can't register AKS for HCI in Switzerland North or West

**What you expected to happen**: be able to register AKS for HCI from Switzerland North or West

**How to reproduce it (as minimally and precisely as possible)**: During the registration phase of AKS in the HCI

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of

[2021-11-17 15:11] israelvaldez opened #2658 "Rotating certificates in an AKS cluster results in the windows-gmsa-webhook-controller-manager failure to start"
**What happened**:
After we rotated the kubernetes certificates of our Azure Cluster the windows-gmsa-webhook-controller-manager pod stopped working.

**What you expected to happen**:
The windows-gmsa-webhook-controller-manager should continue working after certificate rotations

**How to reproduce it (as minimally and precisely as possible)**:
Create an AKS cluster with gMSA turned on :
  - Creat

[2021-11-17 17:08] JungukCho commented on #2598
@jakubneubauer If you are ok, would you please close this and re-open issue if you have?

[2021-11-17 17:28] #2598 closed

[2021-11-17 18:00] hairmare commented on #2607
@phealy We tried to "node image upgrade" as per the docs but are failing to do so.

First we tried running upgrade with `--node-image-only`:
[code]
it returned `the following arguments are required: --kubernetes-version/-k`.

After adding `--kubernetes-version 1.21.2`  it complains about `unrecognized arguments: --node-image-only`.

After `--help` we decided to try a nodepool upgrade:
[code]

I al

[2021-11-17 18:00] #2645 closed

[2021-11-17 18:05] phealy commented on #2607
`--node-image-upgrade` is an argument to `az aks nodepool upgrade`, not `az aks upgrade`. An upgrade command like this should work:  `az aks nodepool upgrade --node-image-only --cluster-name <clusterName> --name <nodepoolName>`

[2021-11-17 18:08] phealy commented on #2607
OK, I would try removing or updating your `aks-preview` extension, as version 0.4.10 is from 2019-08-22.

`az extension remove -n aks-preview`
`az extension updating -n aks-preview`

[2021-11-17 18:13] phealy commented on #2645
@coreywagehoft in case you haven't seen it, [Limiting the extension to certain nodes (`nodeSelector`)](https://docs.microsoft.com/en-us/azure/aks/dapr#limiting-the-extension-to-certain-nodes-nodeselector) is in the docs now.

[2021-11-17 20:11] hadr10 commented on #2649
State before recreation:
kubectl get pods
NAME    READY   STATUS              RESTARTS   AGE
mypod   0/1     ContainerCreating   0          12h

Still the same sitiation after recreation
kubectl get pods
NAME    READY   STATUS              RESTARTS   AGE
mypod   0/1     ContainerCreating   0          3m15s

Log from pod:
Mounting arguments: --description=Kubernetes transient mount for /var/lib/kub

[2021-11-17 23:55] oliviergaumond commented on #2573
Bumping this again, as I don't think this is related to a support case

[2021-11-18 00:00] #658 closed

[2021-11-18 07:00] #2514 closed

[2021-11-18 07:00] #2501 closed

[2021-11-18 07:00] #2499 closed

[2021-11-18 07:00] #2498 closed

[2021-11-18 07:01] #2494 closed

[2021-11-18 07:01] #2464 closed

[2021-11-18 07:01] #2459 closed

[2021-11-18 07:01] #2401 closed

[2021-11-18 07:01] #2162 closed

[2021-11-18 07:01] #2047 closed

[2021-11-18 07:42] andyzhangx commented on #2658
could you provide your subs id? thanks.

[2021-11-18 10:22] MasterKolka opened #2659 "Feature request: ZRS managed disk and ZRS storage account Storage classes"
Hello,

It would be great to have an opportunity to create a cross-zone volumes where available.

https://azure.microsoft.com/en-us/updates/zone-redundant-storage-zrs-for-azure-disk-storage-now-generally-available/

Thanks.

[2021-11-18 13:26] siegenthalerroger commented on #2429
I can concur that I would prefer to have the ability to have a patch auto-upgrade of k8s, but having the node-image updated as soon as possible. Currently this is not possible (despite some of the documentation's wording making it seem like it). This is definitely required functionality IMO.

[2021-11-18 13:27] siegenthalerroger commented on #1486
@damienpontifex https://github.com/Azure/AKS/issues/2429 is tracking that specific case seeing as the auto-upgrade node-image and aks are so close to GA having it seperate seems prudent.

[2021-11-18 18:05] israelvaldez commented on #2658
@andyzhangx I sent you an email with it

[2021-11-18 18:45] jonielsen opened #2661 "float type for the Max Spot Prize in the ARM template"
Unable to set spotMaxPrice working when configuring a nodepool in AKS to use spot instances in ARM.

If you set the “spotMaxPrice” to int it complains it’s not a float. If you set it to float  it throws the following error:

"Unable to process template language expressions for resource '/subscriptions/37c2e377-09bc-405e-abbe-3d991eba61cd/resourceGroups/akstest7/providers/Microsoft.ContainerService

[2021-11-18 19:00] #2532 closed

[2021-11-18 19:15] javierlga commented on #2653
What kind of CNI are you using (kubenet or Azure)?

[2021-11-18 22:52] larryclaman commented on #2659
I'm not on the AKS team, but I think this feature is already available via the CSI drivers:  https://docs.microsoft.com/en-us/azure/aks/azure-files-csi#dynamically-create-azure-files-pvs-by-using-the-built-in-storage-classes

[2021-11-18 23:21] damienpontifex commented on #1486
@siegenthalerroger auto upgrade is now GA according to latest release https://github.com/Azure/AKS/releases/tag/2021-11-11

It just surprised me that this wasn't in the feature prior. Seems weird that I'd want say `stable` but that would somehow imply I didn't want node image updates in between stable version releases. Anyway, we can keep kured that we're currently using to update nodes, while sti

[2021-11-19 02:35] AbelHu commented on #2608
Fix PR in Azure CNI: https://github.com/Azure/azure-container-networking/pull/1116

[2021-11-19 02:49] andyzhangx commented on #2659
and for disk, you could follow this guide to create your own storage class: https://github.com/kubernetes-sigs/azuredisk-csi-driver/tree/master/deploy/example/topology#zrs-disk-support

[2021-11-19 02:49] #2659 closed

[2021-11-19 07:13] MasterKolka commented on #2659
@andyzhangx having a possibility to create my own storage class is not the same than having a built-in. Feature request is about that.

[2021-11-19 08:54] andyzhangx commented on #2659
There are quite a lot storage account types, aks won't create a built-in class for every account type:
`Standard_LRS, Standard_GRS, Standard_ZRS, Standard_RAGRS, Premium_LRS, Premium_ZRS`

[2021-11-19 08:58] MasterKolka commented on #2659
@andyzhangx at least for ZRS disks and storage since aks can be zone-redundant and run in multiple zones

[2021-11-19 09:09] m-soltani opened #2662 "[Feature Request] More Configuration possibilities for Managed AKS Load Balancer Profile in ARM Template"
**What happened**: _Managed Cluster LoadBalancer Profile_ setting within an ARM deployment is not fully configurable. We have a case which we need to add some Frontend IP Configurations and load_balancing rules and the corresponding health checks to the managed AKS load_balancer resource.

**What you expected to happen**: We would like to have a high degree of configurability here within ARM Templ

[2021-11-19 10:40] veerendra2 commented on #1477
Any workaround? in my case, I use Strimzi Kafka which I cant scale down.

[2021-11-19 14:06] larryclaman commented on #2659
@MasterKolka, I acknowledge that the documentation for how to achieve this could be better, as it is currently spread out over a bunch of different pages. I will look into improving that.

But as @andyzhangx noted, there's really no reason to "build this into" AKS as enabling a custom storage class is pretty trivial.  Follow the guidance on this page https://docs.microsoft.com/en-us/azure/aks/azur

[2021-11-19 14:22] MasterKolka commented on #2659
@larryclaman Thanks. But from infrastructure as a code way and having some amount of clusters it is required not to forget to make one additional deployment to a new cluster. (To not to have a problem when autoscaler is configured on the min amount of 2 nodes and can scale down, removing VM in a zone where some disk is allocated)

[2021-11-19 14:24] MasterKolka commented on #2659
This isn't a mandatory thing - it is a "nice to have".

[2021-11-19 14:41] larryclaman commented on #2659
If it made sense, you could change the "default" storage class for the cluister via https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/. But I would want to be very thoughtful about using zrs disks as my default storage class per guidance here:  https://docs.microsoft.com/en-us/azure/virtual-machines/disks-redundancy#zone-redundant-storage-for-managed-disks   eg curre

[2021-11-19 14:44] MasterKolka commented on #2659
@larryclaman this was just an example. It will be easier just to use some other storage class than deploying it + using later. Currently there is no other way than deploying my own storage class to solve this issue.

[2021-11-19 15:24] alex-goncharov commented on #2653
Exists on 1.21.2 with kubenet.

[2021-11-19 16:50] mattruma commented on #1200
What is the status of this? Seems like it is no long in public preview?

[2021-11-19 23:00] ekarlso commented on #2092
+1

[2021-11-20 11:51] thcp opened #2664 "AKS with Azure AD integration isn't working as expected with kubernetes provider."
**What happened**:

After trying all examples available under https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs, I'm still not able to use the kubernetes provider within an AKS with AD authentication enabled. Tried multiple approaches but none of then worked.

Its important to notice that while we could use  writing a local kubeconfig file, I rather not use this approach.

[

[2021-11-20 14:10] aristosvo commented on #2664
Hi!

An example of using AAD for login for the Kubernetes Provider can be found [here](https://github.com/hashicorp/terraform-provider-kubernetes/issues/1176#issuecomment-914574266). It requires kubelogin.

A different option is to use `kube_admin_config` instead of `kube_config` to enable useage of the Cluster Admin credentials for the Kubernetes Provider.

[2021-11-20 20:40] sephross opened #2665 "AKS node autoscaling fails to trigger - "pod didn't trigger scale-up: 1 in backoff after failed scale-up""
**What happened**:
AKS cluster, with autoscaling enabled, min 1 max 3 failed to trigger scale out leaving pod in pending state. Looking at events I see the following error:

[code]

**What you expected to happen**:
Expected AKS to automatically create new node in cluster and correctly schedule pod once resources are available

**How to reproduce it (as minimally and precisely as possible)**:
kubec

[2021-11-21 02:23] sephross commented on #2665
I was able to finally resolve this error, which turned out to be network related.

The cluster autoscaler for nodes was not kicking off due to an insufficient number of IP addresses remaining in the cluster vnet  to cover the max number of pods that could potentially be scheduled on the new node. Increasing the IP addresses in the vnet solved this issue.

Some the the information found in this art