[2020-06-03 20:21] jluk commented on #1641
@blessedwithsins follow-up internally with Chirag Pavecha please if you believe it's a product issue.

[2020-06-03 22:20] george-zenfolio commented on #1600
I got this to work for me....
Get the token for the dashboard out of this secret, remember to base64 decode it.
`kubectl get ServiceAccount kubernetes-dashboard -n kube-system -o json | jq '.secrets | .[] | .name`
Re-add the admin role, but use different name for the binding.
`kubectl create clusterrolebinding kubernetes-dashboard-admin --clusterrole=cluster-admin --serviceaccount=kube-system:kube

[2020-06-03 22:29] jluk commented on #1622
@borkod in the effort to get the help you need, could you open a support ticket for this issue instead of relying on our github troubleshooting? Both features managed identity and outboundtype are now GA and valid for full Azure support.

I think we can get pretty deep into troubleshooting without significant progress on github. I'm going to close this issue for now, but will answer any questions

[2020-06-03 22:29] #1622 closed

[2020-06-03 23:56] juan-lee commented on #1320
Indeed @jeffwilcox an expired service principal will cause dns to fail. I don't understand where there's a dependency between coredns and the service principal. I will report back when I figure it out.

[2020-06-04 00:44] jluk opened #1650 "Managed Identity AKS clusters - intermittent removal of identities on upgrade/scale"
The AKS team has uncovered two issues with Managed Identity enabled clusters.
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

1. During cluster scale for a managed identity enabled AKS cluster, the managed identities that are associated with the underlying nodes are removed intermittently. This is a known bug that will be fixed by AKS as a priority issue.
1. During cluster upgrade

[2020-06-04 07:47] mvvveen commented on #1534
Is this really broken or is it by design?

[2020-06-04 08:12] zodraz commented on #1534
As far I understand it's by design, a security level issue.

[2020-06-04 09:04] Aanuka opened #1651 "AKS - Inability to use BLB with multiple node pools"
**What happened**:
AKS Cluster scaled with a new node pool. During cordon on the first node pool and pods being moved over we noticed that a few services could not reach their external dependencies anymore. During investigation we saw that the pods where located on nodes in the new node pool and that their egress IP did not follow the same logic as described in:
https://docs.microsoft.com/en-US/az

[2020-06-04 10:03] MikkelHegn commented on #1428
The fix is currently rolling out: https://github.com/Azure/AKS/releases/tag/2020-05-25

[2020-06-04 12:01] jellebens commented on #1534
Don't think its by design, the az brows command merges the token in your kubeconfig if I understood correctly, but k8s user gets the wrong rights and does not have sufficient rights to do everything, I guess because its a major update, the api's have changed and so the current implementation does not work as intended anymore

[2020-06-04 12:23] zodraz commented on #1534
Yes that's right @jellebens, the real thing is related to the service account...Currently the "default" service account has not enough permissions, maybe they could link a Role with enough permissions, when you get the credentials via azure cli, but I suppouse that is measure to limit security issues...Even is a good practice like it is mentioned here to limit the dashboard...

https://www.stackro

[2020-06-04 12:33] matthewhartstonge commented on #1534
Currently version 2 of the dashboard only supports token login as per the docs:

"Currently, Dashboard only supports logging in with a Bearer Token" - https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui

As a note for everyone, I saw mention in the AKS change log that it looks like Azure/AKS are [deprecating/deciding to stop supporting/managing

[2020-06-04 13:31] MikkelHegn commented on #1454
Hi Lukas, probably a few months out as we're bundling other component changes in an upgrade of the Windows VHD.

[2020-06-04 16:20] jluk commented on #1494
Closing as this integration is completed

[2020-06-04 16:20] #1494 closed

[2020-06-04 18:02] marwanad commented on #1648
@sephriot  can you describe a pod? There should be an event indicating why the pod didn't trigger a scaleup

[2020-06-04 20:50] AAATechGuy opened #1652 "Unable to add new nodepool to existing AKS joined to a VirtualNetwork subnet"
# **What happened**:

# **Context**:
- I created AKS cluster, attached to a VN subnet (hypernet). Created a pod and things work fine.
- I create another node pool within the same AKS cluster, attached to the same VN subnet. Creating a pod in that pool, there seems to be DNS/network issues.

# **What you expected to happen**:
- the new node pool # 2 (testlinldc2) seems to have connectivity/ DNS iss

[2020-06-04 22:24] rakelkar commented on #1155
Is this supported now? Can you post a pointer to docs here?

[2020-06-05 06:21] sbkg0002 commented on #1441
Any word on this?

[2020-06-05 06:23] mscatyao commented on #1441
Should be going preview soon. Will keep this thread updated when it does go preview.

[2020-06-05 09:44] JayDoubleu commented on #400
@jluk Is this rolled out to portal and azure cli ? I don't seem to be able to replicate the new behaviour. Is there any extra steps/settings required for this to be enabled ?

[2020-06-05 11:48] parmus opened #1653 "Kubernetes cluster creation fails when there is a NAT gateway associated to the subnet at the time of creation"
**What happened**:
Creation of Kubernetes cluster fails is there is a NAT gateway associated to the subnet _at the time of creation_. If the Kubernetes cluster is created first and the NAT gateway added last, everything works just fine.

The exact error message is
[code]

**What you expected to happen**:
One of two things:
1) The cluster creation should succeed regardless which other components ha

[2020-06-05 12:05] nmeisenzahl commented on #1508
Hi all,
we have the same issue in a project and fixed it by containerizing the "DNS Forwarder VM" to run it inside AKS and therefore be able to access the private DNS zone entries. Of course this only works with one cluster. Furthermore, the containerized way helped us to get rid of the unmanaged VM (which was the main reason we build it). More details are available here https://github.com/whitedu

[2020-06-05 13:32] sephriot commented on #1648
| Type  | Reason | Age | From | Message |
| ------------- | ------------- | ------------- | ------------- | ------------- |
| Normal  | NotTriggerScaleUp  | 88s  | cluster-autoscaler  | pod didn't trigger scale-up (it wouldn't fit if a new node is added): 1 node(s) had no available volume zone  |
| Warning  | FailedScheduling  | 13s (x3 over 95s)  | default-scheduler  | 0/3 nodes are available: 1

[2020-06-05 15:06] bambash opened #1654 "Upgraded 1.16.9 cluster-autoscaler crash looping"
**What happened**:
Cluster was upgraded to 1.16.9 and the cluster autoscaler is now stuck in `Initializing`. After the control plane was updated, new node pools were added and old node pools were removed. The cluster-autoscaler process didn't update its configuration and began crash looping because it could not find the old node pools. The node pools were added and removed using Terraform.

From t

[2020-06-05 15:28] jluk commented on #400
@jaydoubleu the release may not be in your region quite yet, I will be placing the regions which have the change on this issue today.

The userflow is:
1. Setup a VNET you own to have the custom route table associated to the subnet you plan to deploy your cluster into
1. Deploy a new cluster and pass in the VNET you wish to use similar to this doc: https://docs.microsoft.com/en-us/azure/aks/config

[2020-06-05 15:59] Dharm19 commented on #1326
Is there any update on this from AKS team ? we are seeing this very frequently in our environments

[2020-06-05 16:15] marwanad commented on #1648
The `NotTriggerScaleUp` mentions why the scheduling predicates failed `1 node(s) had no available volume zone`. This is a `NoVolumeZoneConflict` predicate failure.

The core logic of CA works by taking a random existing node and assuming any new node in the same group will look exactly the same.  More info [here](https://github.com/kubernetes/autoscaler/blob/d4a6664b389b052293de8f2c0d16839564911e1

[2020-06-05 16:41] Chirs-uS opened #1655 "AGIC error mutating App Gateway config breaks fronted IP."
Hi. First ever GitHub issue raised so fingers crossed.

## Bug Description
The AGIC is somehow breaking the App Gateway front end private IP configuration. Errors appear in the logs similar to those reported in issues [#510](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/510), [#598](https://github.com/Azure/application-gateway-kubernetes-ingress/issues/598). The resource g

[2020-06-05 17:13] dmateos commented on #400
@jluk we are having issues with this in the australia-east region also, it keeps deploying its own route table (doesn't associate with subnet) and keeps writing to that instead.

This is a private cluster using a UDR.

Can you also clarify for me if the --outbound-type userDefinedRouting is required for this? and if not how using this is different than not using it.

Basically the two oposing docu

[2020-06-05 17:43] marwanad commented on #1648
Correct. The limitation is from the cluster-autoscaler core logic. The behaviour with a single nodepool that spans multiple zones is more or less non-deterministic. Having two separate pools should help or multiple single-zone node groups.

[2020-06-05 18:06] sakthi-vetrivel opened #1656 "Support for private cluster in US Gov"
Enabling support for private cluster in US Gov Texas, Arizona, and Virginia.

[2020-06-05 18:22] jluk commented on #1656
Adding AzGov tag to https://github.com/Azure/AKS/issues/948

Closing as complete

[2020-06-05 18:22] #1656 closed

[2020-06-05 19:53] bambash commented on #1654
Issue was caused by CPU quota limit

[2020-06-05 20:32] jluk commented on #984
The open PR is here, tracking for S171 release on 6/23

https://github.com/Azure/azure-cli/pull/13487

[2020-06-05 22:07] jluk commented on #1655
@Chirs-uS can you please transfer this ticket to the AGIC project (https://github.com/Azure/application-gateway-kubernetes-ingress/issues)? From your writeup it looks like you are self-installing the project (targeting a specific build), self installs of that project are not something AKS can troubleshoot but the AppGateway team can.

AKS only supports the integrated AGIC + AKS managed add-on whic

[2020-06-05 22:07] #1655 closed

[2020-06-05 22:13] jluk commented on #1645
@mac8005 as part of the v2.0 dashboard release, you can no longer use the service account unless you pass the bearer token with valid permissions.

Please pass the admin kubeconfig which will work as long as the access tokens are valid, not sure if that's what you tried above.

for Azure AD enabled clusters, you can retrieve your AAD token with the following command as well. Validate you have repl

[2020-06-05 22:15] jluk commented on #1627
Closing this as the fix should be released, but if people still hit this problem we will revisit/reopen.

[2020-06-05 22:15] #1627 closed

[2020-06-06 12:06] kopachevsky opened #1657 "CubeDNS and Azure CNI name lookup delay"
**What happened**:

Inside AKS cluster DNS name lookup gives delays with 2.5 seconds interval.

**What you expected to happen**:

We noticed our service to service communication delayed periodically up to 10 second, and delay duration always multiple by 2.5. See reproduce steps for details.

**How to reproduce it (as minimally and precisely as possible)**:

1. create AKS cluster with Azure CNI ena

[2020-06-07 08:09] soharaki commented on #982
Hi, I have a question.

How do I know if SpotInstance is 30 seconds away?

The [URL link](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/scheduled-events#endpoint-discovery) mentions an endpoint that can get the event. I have to keep calling the endpoint with polling, don't I?

Are there any other triggers that can register an eviction event?

[2020-06-07 11:23] jellebens commented on #1534
a workaround you can use the kube config approach (you can get it by using visual studio code or azure cli) the its located in c:\users\<your user>\.kube\config

[2020-06-07 14:14] JasonWhall commented on #879
+1 Have also been affected by this. I've updated my network policies to use one of the pre-existing labels on kube-system namespace when first creating a cluster, which is `control-plane: "true"`. Definitely not guaranteed but has the desired effect for now.

For reference some of the other labels that are present on the namespace:
[code]

Example policy:

[code]

It's also worth pointing out Cali

[2020-06-07 18:23] shapeofarchitect commented on #946
@here May I know if we can still get some feedback on this issue , I couldn't find the documentation around the audit log enabled in AKS service configuration. It seem that Azure Log analytics and monitor has been placed which isn't abstracted and we are forced to use them , we don't know the backend storage of each event and couldn't figure the reference architecture around that event if we think

[2020-06-08 07:54] strizzwald commented on #1468
I had a similar issue. In my case, the certs created by our AKS cluster had expired. I've resolved this by rotating the certs, here's the documentation on how to do that

https://docs.microsoft.com/en-us/azure/aks/certificate-rotation

[2020-06-08 08:02] Chirs-uS commented on #1655
Thanks for pointing that out. Ticket moved.

[2020-06-08 08:28] mac8005 commented on #1645
@jluk
Exactly. I don't want to use service account. I want that the Role Membership of the AAD User defines the permissions and reflects to the actions he can perform in the Dashboards.

Access Dashboard using **Chrome** and **Cluster Admin Credentials Token** works  :white_check_mark:
Access Dashboard using **Chrome** and **AAD User Access-Token from kube config** does not work :x:
Access Dashboa

[2020-06-08 11:57] andyzhangx commented on #118
@berndverst what's your aks version? I tried on AKS 1.16 and 1.17 clusters, it works as expected. The key point is run following two command immediately:
[code]

[2020-06-08 12:02] MikkelHegn commented on #1461
Regarding the CNI crash, I'm think it restarts, bringing the node back to a working state - do you see otherwise?

`kubectl top` does not take allocatable in to account, it reports the actual usage as reported by the kubelet summary API: https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#measuring-resource-usage. As the kubelet on Windows doesn't implement hard-e

[2020-06-08 12:43] AndresFPineros commented on #1508
Has anyone automated the link between the automatically generated Private DNS Zone and the Hub VNet? The fact that the Private DNS Zone is created with a random name is not helping at all for automation. If I could create my own zone and pass its reference to the cluster, automations would be straightforward.

[2020-06-08 12:58] nmeisenzahl commented on #1508
@AndresFPineros I tried it with an Azure Policy (append mode), but it did not work out (at least for me). Another option might be to build something event-based with Event Grid and Azure Functions but I didn't try that one.

[2020-06-08 13:42] AndresFPineros commented on #1508
@nmeisenzahl Thanks for the reply! I think I found an alternative but I havent tested it yet: https://github.com/terraform-providers/terraform-provider-azurerm/issues/5208

Basically, we can create a new Private Endpoint and a DNS Private Zone, and ignore the ones created by Azure. It sucks because we have unused resources and the private endpoint charges without being used.

I just saw that the P

[2020-06-08 14:02] nmeisenzahl commented on #1508
@AndresFPineros yes, this might work. At least for your setup.

In my case, multiple private clusters need to be resolved from on-premises using a DNS forwarder pod running in one of them. So basically one cluster would need to resolve all generated private DNS zones.

Re DNS forwarder: https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#on-premises-workloads-using-a-dns-forwa

[2020-06-08 14:02] timja commented on #1326
We deployed nodelocaldns on Friday, and haven't had a single DNS error since doing this, it also greatly improved the performance of our node.js applications as well, (this looks to be the reason: https://medium.com/@amirilovic/how-to-fix-node-dns-issues-5d4ec2e12e95)

n.b. we were unable to get nodelocaldns to work with the azure CNI, but it works with kubenet, we raised this: https://github.com/

[2020-06-08 14:04] timja commented on #1657
likely same as this: https://github.com/Azure/AKS/issues/1326, and it'll work with one node because there's not a conntrack issue as the network traffic doesn't need to be routed and tracked

[2020-06-08 14:05] timja commented on #1492
Any update on this?

We deployed nodelocaldns and it made a massive difference for us, (https://github.com/Azure/AKS/issues/1326#issuecomment-640626833)

[2020-06-08 14:08] mathieu-benoit commented on #1508
@AndresFPineros, does it help with your scenario? https://github.com/mathieu-benoit/myakscluster/blob/master/tf/jumpbox.tf#L111
Typically I'm getting the AKS's private DNS name via an external bash script to be able to link my Jumpbox's peered VNET.

[2020-06-08 14:57] akopachevskyy-globallogic commented on #1657
@timja  thanks, I seen this one, I thought it's not the same as long it's reproduced on cluster with no load at all, but anyway, maybe you can advice workaround? thanks

[2020-06-08 14:59] timja commented on #1657
See my last comment to the issue with how we worked around it,
surprised you would see it on no load though.

[2020-06-08 15:27] ilanpillemer commented on #152
just started happening to me again. 😢

[2020-06-08 15:32] bambash commented on #1654
Re-opening based on new findings. Updated the issue description.

[2020-06-08 17:20] bitsofinfo opened #1658 "Small PersistentVolumeClaims with default storage class take long time to be available"
Using AKS 1.16.9

I have PersistentVolumeClaims such as the below which I assume go against the default storage class.

Why do these take upwards of 3 to 4 minutes to be available? I feel like the slowness is once they are being mounted, is it formatting?

[code]

[2020-06-08 19:42] ruchikaguptaa commented on #1617
The deployment has been completed.

[2020-06-08 19:43] #1617 closed

[2020-06-08 22:21] alftio commented on #1657
Greetings,
@kopachevsky @timja
This an upstream known situation that is described as a race condition in Linux Kernel https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts

[2020-06-08 22:44] elsesiy commented on #367
Just ran it against `1.16.9` and it looks much better now, thanks.
[code]

[2020-06-09 00:33] edernucci commented on #1468
I had the same issue. I think MS should send a urgent e-mail to all aks customers prior march/2019. Maybe @jluk @jnoller can help with this communication.

[2020-06-09 04:49] dmateos commented on #400
We have redeployed are cluster and still having this issue.

At the moment we have to follow this pattern
1, Scale up the nodes
2, Check the unbound route table for the 172.16 route it adds
3, Manually add this to our real route table assigned to the subnet.

[2020-06-09 07:14] surya2155 opened #1659 "default-http-backend:80 (<error: endpoints "default-http-backend" not found>) errorwhen creating any ingress resource"
HI All,

When I am trying to create a ingress resource for my AKS cluster(ingress controller is already created), Ingress resource/rules is creating and I am able to see in the kubectl get ing. But when I do kubectl describe <ing name>, I am seeing a error: Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>). Is this expected?? I can see the desfault bac

[2020-06-09 07:36] tombuildsstuff commented on #400
@jluk is there a timeframe when `2020-06` will appear in the Swagger/Go SDK?

[2020-06-09 07:50] hallgeirl commented on #1461
Thanks for the clarification on kubectl top.

When the node comes into this state, it's not being fixed before I go into the Azure portal and restart the node itself. So it doesn't seem to fix itself by restarting...

[2020-06-09 07:51] MikkelHegn commented on #1461
Got it, do you know if the node goes in to an unhealthy state?

[2020-06-09 07:59] arminc commented on #1395
@monaka How come you are using port 10255 as it exposes it on port 10249? It seems you are looking at the metrics of kubelet and not kube-proxy.

Regarding the issue here: the metrics are only locally available, it seems it listens to localhost only and can not be accesses from outside. Prometheus can't access it.

[2020-06-09 08:18] hallgeirl commented on #1461
The node reports "Ready" on those nodes where this happens most of the time. We do see "NotReady" nodes from time to time, but these nodes that get stuck usually are just sitting there reporting Ready, even though pods are not able to terminate, or sometimes the readiness probes are not able to run. Until we reboot the node...

[2020-06-09 08:20] MikkelHegn commented on #1461
Thx - we only remediate notes which are `unhealthy` for a certain period of time: https://docs.microsoft.com/en-us/azure/aks/node-auto-repair#how-aks-checks-for-unhealthy-nodes

I'll follow-up to make sure we capture this condition.

[2020-06-09 09:28] hallgeirl commented on #1461
Thanks @MikkelHegn! :-) Looking forward to that change!

[2020-06-09 10:11] hallgeirl commented on #1188
I'll close this since I haven't seen this issue since last year.

[2020-06-09 10:11] #1188 closed

[2020-06-09 12:34] maneeshmenon opened #1660 "[Feature] AKS Support for custom Ubuntu image provided by user"

[2020-06-09 14:56] Jyoti492 commented on #736
@andyzhangx  Does the solution you mention only work if you grant access to the registry's resource group and not just the registry itself?

[2020-06-09 14:57] ItsDevender opened #1661 "OMSAgent is eating up 98% of CPU in cluster node - impacting other pods running in that node"
**What happened**:
omsgent is eating up most CPU in almost all nodes. we have 8 nodes (b8ms) AKS cluster. Serving 5 separate env. namespaces running application stacks in those 5 envs. We don't know why OMSagent takes up that much CPU keeping other pods at standstill. Sometime it makes any specific node red making whole cluster red and specifically pods that were running on that node - processes s

[2020-06-09 15:05] Jyoti492 commented on #736
thats strange because our resource group level access is handled by other team... do we need k8s secret as well to pull cross subscription ? because only some of our images fail with this error but others are getting pulled successfully without any k8s secret and RG level access

[2020-06-09 15:10] jayush commented on #982
Is there a timeline for when this feature will be GA'ed?

[2020-06-09 16:06] Jyoti492 commented on #736
@andyzhangx I even added the Reader access to the RG where the ACR is still it fails with same issue

[2020-06-09 16:12] vishiy commented on #1661
@ItsDevender - It should be 85% of its limits (which is 150millicores). Insights Ux says percentage w.r.t. to limits for the container.
Are you running any other log collection solution in the same node(s) ?

[2020-06-09 16:31] jluk commented on #400
@dmateos apologies for the delay this should be available in your region of deployment by tomorrow (Australia). If you wish to use your own egress paths, such as through an NVA you can use the UDR feature to have AKS no longer provide an IP for the load balancer and configure the backend pool for it. A primary scenario for that feature is if you cannot have any public IPs exist on your cluster.

@

[2020-06-09 16:34] marwanad commented on #1654
@bambash thanks for reporting (and providing repro)!

Can you file a support ticket and send the number so we can take a deeper look at the cluster?

[2020-06-09 16:36] bitsofinfo commented on #223
can azure please just provide an StorageClass impl that permit performant concurrency w/ without having to install all this extra stuff? I'm having trouble now even following what exactly I need to do.

[2020-06-09 16:43] paulgmiller commented on #1654
@bambash  are you willing to share you're clusters fqdn and a timeline sso we can take a closer look at what happened?

[2020-06-09 17:04] jluk commented on #1660
This is not on the roadmap today, as AKS offers standard Ubuntu options. Namely 16.04 today and 18.04 in the coming months. This enables AKS to provide the best managed options available and ensure your k8s clusters will function appropriately with any OS dependencies.

[2020-06-09 17:04] #1660 closed

[2020-06-09 17:04] GangRobinNiu commented on #1634
any follow-up on this request? It is a useful feature we want to use too in AKS.

[2020-06-09 18:14] paulgmiller commented on #1654
We figured out the info we needed and believe we have an internal bug 7123721 where this can happen though it should be pretty rare (basically we get a conflict updating these settings and don't retry).

[2020-06-09 18:17] bambash commented on #1654
hi @paulgmiller - I have a support ticket going currently 120060524006008. Thanks for looking into this!

[2020-06-09 19:52] bitsofinfo commented on #223
Re-reading the above, I installed the CSI driver on a AKS 1.16.9 cluster: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.7.0.md

I then created the following

[code]

All looks fine. I then ran a process which attaches this PVC to a pod.

That took approximately ~5-7 minutes for it to attach

My pod then cloned a fairly large git repo. ~2gb. and ~20k

[2020-06-09 20:32] mhsh64 opened #1662 "kubectl asking for authorization randomly when having a mix of MI and SP-based clusters in kubectl config"
**What happened**:
Deployed multiple clusters with Managed Identities, we already have SP-based clusters as well. So kubectl config has a mix of credentials for both MI and SP-clusters. The issue is after some time, the MI clusters asks for authorization again.

You must be logged int o the server (Unauthorized)
when refreshing the credential, it will work again.
**What you expected to happen**:
I

[2020-06-09 20:53] Pamir commented on #223
Hi @bitsofinfo
Could you please try. fsType: ext4
https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/59c841d1d561c82c546f3bf64b7a6e19f17cdb1b/deploy/example/disk/storageclass-azurefile-csi.yaml

azure-file premium storage at least should be 100GB

[2020-06-10 01:45] andyzhangx commented on #223
@Pamir [Azure File CSI Driver VHD disk feature](https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/disk) is actually unmanaged disk solution, it's single node read/write, if you are looking for multi-node read/write, it's not applicable. And azure file team are still working on improving the slow performance on read/write large mount of small files.

[2020-06-10 05:33] andyzhangx commented on #736
@Jyoti492 what's your k8s version? are you using managed identity or service principal?

[2020-06-10 10:46] kmoussa commented on #1603
Hi @kagowda , can you please update the FAQ section here [https://azure.microsoft.com/en-us/pricing/details/kubernetes-service/ ](https://azure.microsoft.com/en-us/pricing/details/kubernetes-service/ )not to confuse ppl, This is what is mentioned
![image](https://user-images.githubusercontent.com/12699056/84259193-60cf8900-ab18-11ea-919f-e2f47468e39c.png)

[2020-06-10 22:41] bitsofinfo opened #1663 "1.16.9: managed-premium, slow volume mounting/attaching: Unable to attach or mount volumes: timed out waiting for the condition"
I constantly see 3-5 minute waits where pods are stuck initializing w/ this kind of warning shown on `describe`. After 3-5 minutes the warnings on pods like the below example go away then things function as normal.

[code]
My PVC looks like this:
[code]

The PV + PVC both look fine upon describe. But pods referencing the PVC constantly hang up and take forever to initialize.

2 nodes: (Standard D2

[2020-06-10 23:31] JRolfe-Gen opened #1664 "Azure NPM agent crashing"
NPM module is crashing when a bad configuration is presented. Could you handle the bad configuration gracefully?
There are some undefined ports on two of the ingress rules.
[azure_npm crash.txt](https://github.com/Azure/AKS/files/4761724/azure_npm.crash.txt)

Container image "mcr.microsoft.com/containernetworking/azure-npm:v1.1.2

[2020-06-11 02:11] dennis-yemelyanov opened #1665 "Confused about LoadBalancer SKU"
I created a cluster using the 2020-03-01 version of the API without specifying any load balancer SKU in the template. When I run `az aks show`, it returns "loadBalancerSku": "Basic". which is confusing for the following reasons:

1. The cluster has multiple node pools and seems to be working fine (as far as I can tell). The [documentation](https://docs.microsoft.com/en-us/azure/aks/use-multiple-no

[2020-06-11 05:16] dennis-yemelyanov commented on #1627
Is there any documentation explaining how `count`, `minCount` and `maxCount` work together? What will happen if all 3 properties are sent in an update call for an existing cluster, and `enableAutoScaling` is set to true? Will the count property be ignored?

[2020-06-11 06:33] worldspawn commented on #1339
Its outlined here I believe: https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#resource-reservations

[code]

[2020-06-11 07:55] dmateos commented on #400
I think this is working fine for us as of yesterday.

We remade our test cluster and it took the route table we expected and has been writing to it with the UDR's in place.

[2020-06-11 10:07] garethmorris78 commented on #879
As long as the control-plane metadata label is guaranteed never to be altered then it can be used for network policies.  It is still less of a risk though to base it on a label that i can configure and control Vs having that dependency on a 3rd party .  But understand the need for MSFT to control the Kube-system namespace.  I've checked the CHANGELOG in this repo for AKS and label changes are comm

[2020-06-11 12:06] cubed-it opened #1667 "[1.16.9] Error from server (Timeout): the server was unable to return a response in the time allotted, but may still be processing the request (get secrets)"
[code]
![image](https://user-images.githubusercontent.com/11182260/84383535-bd03dd00-abec-11ea-8df9-71571136c8e5.png)

After Upgrading from 1.15.7 to 1.16.9 I'm unable to access the secrets of a single namespace.
The command timeouts long before the specified timeout.

Latency to access secrets of other namespace vaires noticeable. See post below.

Any help is appreciated

[2020-06-11 17:09] porrascarlos802018 commented on #1464
@andyzhangx  we found a cluster 1.16.9 with this value set to 5 minutes, is this still expected or shall we recreated it as suggested?

[2020-06-11 17:11] bitsofinfo commented on #1663
maybe related, https://github.com/Azure/AKS/issues/1464 the `--node-status-update-frequency=5m` on a cluster created

[2020-06-11 17:15] bitsofinfo commented on #1663
this definitely was the issue, reducing `--node-status-update-frequency=10s` massively improved the situation...

[2020-06-11 17:48] marwanad commented on #1627
@dennis-yemelyanov correct, the behaviour for templates if you have CA on and you change the `count` property is to ignore the input. This is because with autoscaler on, the `count` property deviates from the initial one in the template when autoscaler is on and breaks some validations on the current state.

[2020-06-11 18:06] dennis-yemelyanov commented on #1665
Found that the API behavior might be different from Azure UI/CLI. And, while there is no error when creating multiple node pools with the Basic LoadBalancer, this is not officially supported

[2020-06-11 18:06] #1665 closed

[2020-06-11 19:43] Mexicoder commented on #614
I am also experiencing this. any updates?

[2020-06-11 20:21] GuyPaddock commented on #1320
Is it possible that the expired principal causes log spamming, which causes excessive IO, which causes IOPS throttling, which brings down the node, ... and then the the cat, that killed the rat, that ate the malt, that lay in the house that Jack built, etc.

[2020-06-11 23:30] roben0 commented on #400
@jluk this problem has returned for us. ARM template deployment with Standard Load Balancer & outboundType = userDefinedRouting will fail if a route table is not associated to the subnet with error code 'ExistingRouteTableNotAssociatedWithSubnet' however if one is associated to the subnet it is ignored and AKS deploys its own route table which is not associated to the subnet and keeps writing to t

[2020-06-12 00:26] GaurangRLB commented on #1600
Got the same issue after updating to 1.16.9. Any update on this?

[2020-06-12 01:00] jluk commented on #1384
Closing this issue as complete. AzureCNI is fully supported and Kubenet will be fully supported once issue #400 is completed in release.

[2020-06-12 01:00] #1384 closed

[2020-06-12 01:19] kinkist commented on #1122
Hi.

We use kubernetes on AWS.

And when We operating AKS on Azure, We faced SNAT port exhaustion.
When we check that who using SNAT port.  All outbound of public IP except Azure DNS and Blob.
even Azure Paas Service (Azure SQL/Postgresql/Mysql/MariaDB) used SNAT port.

We plan to attaching NAT Gateway to Subnet of AKS node.

Can you check that which is better that LB attached NAT Gateway vs Subne

[2020-06-12 01:41] andyzhangx commented on #1464
We fixed this issue on early March 2020, so if your cluster was created before that date, pls add a new node pool, another workaround is using a daemonset to modify that kubelet flag and restart kubelet, here is an example:
[code]

[2020-06-12 01:53] andyzhangx commented on #1663
We fixed this issue(`node-status-update-frequency=5m`) on early March 2020, so if your cluster was created before that date, pls add a new node pool, another workaround is using a daemonset to modify that kubelet flag and restart kubelet, here is an example:
[code]

[2020-06-12 01:53] #1663 closed

[2020-06-12 02:18] andyzhangx commented on #1658
can you provide more details? e.g.
 - `kubectl describe po pod-name` to get all events

The slowness could be in disk attach

[2020-06-12 02:50] 4c74356b41 commented on #1600
this seems to be fixed with 1.18.x, but its in preview. the workaround would be to delete the kubedashboard addon from AKS and install it manually or something. MS doesnt seem to case about this issue somehow. even when talking to PG they just ignore you.

[2020-06-12 04:18] djsly opened #1668 "Metric Server Stops storing metrics when duplicate pods are found"
**What happened**:
cannot use `kubectl top` anymore
cannot use HPA as well.
[code]

**What you expected to happen**:
for `kubectl top` to work

**How to reproduce it (as minimally and precisely as possible)**:
once metric-server hits one duplicate pod, it stops storing metrics.
https://github.com/kubernetes-sigs/metrics-server/issues/316

**Anything else we need to know?**:
Bumping metric-server t

[2020-06-12 06:47] sivamca127 commented on #400
Hi,

we can able to map custom subnet to route table successfully . But i;ve another concern , if i want to add any custom route at present i don't find any available option in terraform aks. And Also , is there any way to  display newly create route table name?

kindly advise on this.

Thanks,
Siva

[2020-06-12 11:56] ShaggO commented on #1601
System information/context:
I've just upgraded an "old" cluster (1.14.6 -> 1.15.11 -> 1.16.9) that uses availability sets and now the http endpoint at port 10255 is missing. I've switched to port 10250 and set up a service account with clusterrole rules:
- apiGroups: [""]
  resources: ["nodes/stats", "nodes/metrics"]
  verbs: ["get"]

Problem: I want to verify the "self-signed" kubelet certificate

[2020-06-12 13:42] bitsofinfo commented on #1658
https://github.com/Azure/AKS/issues/1663

[2020-06-12 13:42] #1658 closed

[2020-06-12 20:47] ramirezalfredo commented on #1557
I was able to use the `CLI` to assign the Contributor Role to the vNet's Resource Group:
[code]
Service type: LoadBalancer works after role assignment:
[code]

[2020-06-12 21:24] mhsh64 opened #1669 "access token is not refreshed using the refresh-token for kubectl in Managed Identity aks clusters?"
**What happened**:
We have deployed AKS cluster with Managed Identity and AAD v2 enabled.
From command line, after getting az aks get-credentials, authenticated successfully and able to run kubectl commands, based on my cluster roles.
However randomly after minutes or hours, when I run kubectl commands, I am getting:

Error: You must be logged in to the server (Unauthorized)

Any idea why it happe

[2020-06-12 21:42] marwanad commented on #1648
Going to close this since question answered. Feel free to re-open if you have other related questions or concerns.

[2020-06-12 21:42] #1648 closed

[2020-06-12 23:10] new2helm commented on #590
how can I run a commnd sudo sysctl -w kernel.core_pattern=/tmp/core-%e.%p.%h.%t, using the daemonset and hostpath you mentioned? I get the error,  sudo:command not found error for the container

[2020-06-13 14:53] RoyKimYYZ commented on #614
I'm having same issue. Creating private cluster.

[2020-06-13 18:34] raswinraaj commented on #1600
The workaround I got was to use --admin at the end when logging in using az
aks command. It looks like the dashboard can be viewed only as an admin.

On Fri, Jun 12, 2020, 8:21 AM 4c74356b41 <notifications@github.com> wrote:

[2020-06-13 21:21] NMark02 opened #1670 "after AKS upgrade some pods are missing"
Hi
**What happened**:
We upgraded our AKS from version 1.15.10. to version  1.15.11, then to  1.16.8, and lastly to 1.16.9
Later, we discovered that some pods were missing. In addition, one the deployments is incompletely gone,

**Environment**:
We are running a cluster with 2 worker nodes.
Is there any way to know why some pods did not make it to the new nodes?
where I can find logs explaining th

[2020-06-14 04:17] 4c74356b41 commented on #1600
it doesnt matter, thats a different "issue" (not an issue tbh). so `az aks browse` works somehow, but `kubectl port-forward` won't help, as certificate is not accepted by any sane browser.

[2020-06-14 12:22] #360 closed

[2020-06-14 18:28] adinaclaudia commented on #1326
@timja How did you manage to deploy nodelocaldns on AKS? I am running into this issue: https://github.com/Azure/AKS/issues/1435 (the daemonset gets deleted automatically after 30-40sec). I have k8s 1.15.10 with kubenet.
My intent was to use nodelocaldns workaround until the feature is implemented in AKS.

[2020-06-14 18:30] timja commented on #1326
As mentioned in the comments remove the addon manager labels

[2020-06-14 18:33] bhicks329 commented on #1326
We were suffering from random dns timeouts on AKS and turns out our container security software had a bug that identified some of the dns replies as spoofs. Updated to the latest version and all good so far.

[2020-06-14 19:02] cubed-it commented on #1667
Well, it looks like etcd3 is not running properly after the upgrade...

[code]

[2020-06-15 06:36] szwed commented on #1668
Same issue with cluster in version v1.16.9 (after upgrade from v1.15.10).

[2020-06-15 06:50] gsxmax opened #1671 "[Feature Request] owner role in MC group"
**What happened**:
In prod environment, we only assign owner role to specific resource group. However, AKS will create a MC resource group with contributor role automictically. Thus, for example with that account, we are unable to assign the role "Reader" to the identity. https://github.com/Azure/aad-pod-identity#2-create-an-identity-on-azure

**What you expected to happen**:
We could use the acco

[2020-06-15 06:52] KomalNimje opened #1672 "Back-off restarting failed container In Azure AKS"
Linux container pod, with docker images from Azure Container registry, keeps restarting with restartPolicy as Always. Pod description is as below.

### **kubectl describe pod example-pod**

...

State:          Waiting
      Reason:       CrashLoopBackOff
    Last State:     Terminated
      Reason:       Completed
      Exit Code:    0
      Started:      Thu, 11 Jun 2020 03:27:11 +0000
      Fin

[2020-06-15 07:08] ForBravo commented on #1671
@gsxmax To clarity a little bit, [AAD Pod Identity](https://github.com/Azure/aad-pod-identity/blob/master/docs/readmes/README.role-assignment.md#performing-role-assignments) requires us to assign role `Managed Identity Operator` and `Virtual Machine Contributor` of the `ClusterResourceGroup` to the identity of AKS. It's not `Reader` role.

[2020-06-15 07:17] gsxmax commented on #1671
@ForBravo Thanks for helping me to clarify this

[2020-06-15 10:53] landro opened #1673 "SNAT allocated ports reset during scaling operation"
**What happened**:

I increased the minimum number of nodes in default pool (2->3 autoscaling pool), and that reset snat allocated ports back to default of 1024

**What you expected to happen**:

no change

**Environment**:

1.15.10

[2020-06-15 11:54] jochenhebbrecht commented on #1534
@jellebens I tried using the `Kubeconfig` login. But after providing my config file and pressing the **Sign-in** button, the page doesn't seem to move. I think that's because of what @matthewhartstonge says:

So I don't think the `Kubeconfig` login can work

[2020-06-15 14:37] PrabhuMathi opened #1674 "PVC is not creating all PVs with azure disk across the zones"
**What happened**:

Trying to create a statefulset with PVC azure disk. When the pod is created, PV is getting created with azure disks 98% in zone 1 and 2% is other zones. Did some research and tried labeling storage class label with "failure-domain.beta.kubernetes.io/zone: "1 2 3" still not helping. Any suggestions will help, thanks advance.

**What you expected to happen**:

Expectation is to g

[2020-06-15 15:37] neilswinton commented on #1087
We're running into this, too.  I really don't view the workarounds as options for production systems. The absence of pod metrics makes it hard to find the root cause of a node using too much CPU on AKS.  This may be an enhancement in a narrow technical sense but when you are trying to run a business on Azure it's a bug.

[2020-06-15 15:43] brobichaud commented on #1293
This remains an issue for us. We have a workaorund where we manage the upgrade ourselves. We provision a new node and then walk through this process for each node:

1. Cordon a node
2. Wait for all workloads to fully start on a different node
3. Upgrade the cordoned node
4. Uncordon the node

Works well but is very manual. Where all we need is for the AKS upgrade process to wait for all workloads

[2020-06-15 17:15] djsly commented on #1668
@jluk / @seanmck what's the plan now that aks-engine is merged ?  would a new AKS release fix all existing AKS version with a simple empty put ? or will the control plane be updated eventually once the new AKS release gets deployed on all regions ?

[2020-06-15 21:25] jluk commented on #1673
@landro do you have a support ticket tied to this issue we can inspect? cc @marwanad / @paulgmiller

[2020-06-15 21:28] jluk commented on #1670
Pods will routinely be displaced and rescheduled after a cluster upgrade because all nodes get replaced. If your pods are never returning, please open a support request so we can take a look at your cluster - it will be much faster for us to deliver help instead of ad-hoc via github.

You can view all control plane logs from AKS, including actions from the scheduler.
https://docs.microsoft.com/en-

[2020-06-15 21:28] #1670 closed

[2020-06-15 21:30] jluk commented on #1664
@jrolfe-gen please open a support request for this issue, we will need Azure Networking to contribute on this debugging.

[2020-06-15 21:30] #1664 closed

[2020-06-15 22:00] landro commented on #1673
No, not this exact case. I reproduced the issue on all of our 6 clusters.

We have a support ticket though for a reset that probably happened due to a reconciliation process triggered by AKS. See 120051822001429 for details.

We've had this value reset to the default several times now (either triggered by some management operation triggered by us, or some kind of management operation on the master

[2020-06-15 22:45] jluk commented on #1673
Thanks for sharing the SR @landro, it looks like this was a bug on your initial report which already has a fix captured for release. The acknowledgement of the issue and a notice of this fix should have come back to you on the support ticket, but I can patch in the info for you here.

It is rolling out on the active service release, which should be global in the next 8 days. This fix will be notat

[2020-06-16 01:56] andyzhangx commented on #1647
@gsxmax We are still evaluating this feature, it' not in our short term roadmap.

[2020-06-16 02:02] andyzhangx commented on #1674
disk in zone#1 cannot be attached to disk in zone#2, that's a restriction from azure disk.
You could add `volumeBindingMode: WaitForFirstConsumer` in azure disk storage class, by that way, the disk will be created after pod is scheduled to the node, and disk will be created in that zone. While again disk in zone#1 cannot be attached to disk in zone#2, that's a restriction from azure disk.

Here is

[2020-06-16 02:03] andyzhangx commented on #1674
let me know if you have any question

[2020-06-16 02:03] #1674 closed

[2020-06-16 02:32] ForBravo commented on #1671
@gsxmax One more thing to clarify. After provisioning the AKS, the account we used to provision the AKS **doesn't have any role** to the MC resource group, the identity of AKS has `Contributor` role to the MC resource group.
Our expectation is: since the account we used to provision the AKS has `Owner` role to the AKS resource, it should also has `Owner` role to the MC resource group.

[2020-06-16 02:42] andyzhangx commented on #1672
pls run `kubectl get po pod-name -o yaml` and `kubectl logs pod-name` to get more details why this pod is crashing, it's more like issue on pod itself

[2020-06-16 02:42] #1672 closed

[2020-06-16 03:29] saiyan86 commented on #1642
Hi @luigibk

Could you please try running this command on the problematic node and see if it works?
[code]

[2020-06-16 07:05] LoofahBu opened #1675 "Increase OS disk size of VMSS from Terraform azurerm module"
**What happened**:
I created a cluster through **terraform** but its OS disk is too small (Only 50GB). The [aks](https://registry.terraform.io/modules/Azure/aks/azurerm/4.0.0?tab=inputs) module create machine by **vmss** and all docker images are stored on OS disk. After few days, the alerting system will send notification to tell us `OS disk is full`.

**What you expected to happen**:
We can incr

[2020-06-16 08:40] PrabhuMathi commented on #1674
@andyzhangx Thanks for your response.
I'm aware disk in zone 1 cannot get attached in VM in different zone. Problem I'm facing is whenever a disk is requested in PVC azure is creating the disk is in zone 1. This happens 98% of the time when I tried.

[2020-06-16 08:44] andyzhangx commented on #1674
@PrabhuMathi can you try add `volumeBindingMode: WaitForFirstConsumer` in azure disk storage  class? thanks.

[2020-06-16 08:49] PrabhuMathi commented on #1674
Hi @andyzhangx  It worked, but my question  "why is disk is requested by PV, azure is creating the disk is in zone 1. This happens 98% of the times. This happening in storage class config with "volumeBindingMode: Immediate" event with label "failure-domain.beta.kubernetes.io/zone: "1 2 3" "

[2020-06-16 09:14] andyzhangx commented on #1674
I guess the pv-controller always tries  to schedule the pod to the first node, the PV zone value depends on `selectedNode`:
https://github.com/kubernetes/kubernetes/blob/73fa63a86d1d47d82b435ca85c2f350da06b08b9/pkg/volume/azure_dd/azure_provision.go#L253

[2020-06-16 09:18] palmerabollo opened #1676 "Add CoreDNS readiness probe"
**What happened**:

We face DNS resolution failures because DNS requests are sent to coredns pods before they are ready.

The deployment "coredns" in AKS does not have a readiness probe. The coredns-autoscaler creates new replicas when needed:

And AKS uses a service in front of those coredns pods. Since coredns dose not have a readiness probe, some DNS requests are sent to the new replicas before

[2020-06-16 10:27] ToruMakabe commented on #1675
@LoofahBu AKS's default value is 128GB and you can change it.
It seems that the Terraform module specify it fix as 50G.
https://github.com/Azure/terraform-azurerm-aks/blob/master/main.tf#L29

PR for the issue was posted but still open, I think the status of the module is not active...
https://github.com/Azure/terraform-azurerm-aks/pull/25

If you would like to use Terraform flexibly, I do not reco

[2020-06-16 12:34] bplasmeijer opened #1677 "Pull Windows images can take a while, also on autoscale"
**What happened**: Pulling a Windows image can take a while, and if ```autoscale``` is enabled, images need a second ```pull``` time on the newly created window nodes.

**What you expected to happen**:  Faster pull times or preload images on the node.

**How to reproduce it (as minimally and precisely as possible)**:

If I am using ```initContainers``` feature on my manifest, and when the ```init`

[2020-06-16 13:12] AnishJS commented on #733
Any update on this? It's a very persistent issue.

[2020-06-16 15:00] palmerabollo commented on #1676
This issue might be related https://github.com/coredns/coredns/issues/3403
AKS is currently using mcr.microsoft.com/oss/kubernetes/coredns:1.6.6 (k8s 1.16.9)

[2020-06-16 15:29] sauryadas commented on #1571
Any rough ETA? AML inferencing allows customers to create AKS clusters in their portal experience and is not able to filter the SKUs supported by AKS.

[2020-06-16 16:24] jluk commented on #1677
@bplasmeijer this is likely due to the large image sizes required of Windows images, can you share what the image size is?

[2020-06-16 16:28] jluk commented on #1675
@torumakabe is correct, AKS enables you to set this value when deploying and has a higher default. I also highly recommend you use Terraform Azure provider directly instead of via that module project.

https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#os_disk_size_gb

[2020-06-16 16:28] #1675 closed

[2020-06-16 18:21] keikhara opened #1678 "[Feature] AKS Windows support for AHUB"
Currently customers can go into each VM to change the licensing bits on to leverage AHUB. However, this can be very cumbersome. aks cli will be provided to modify the AKS nodes for AHUB.

[2020-06-16 18:34] googol commented on #1489
Hi, do you have any estimates on the GA timeline for this feature?

[2020-06-16 21:41] keikhara opened #1679 "[Feature] Windows AKS Mooncake available"

[2020-06-16 21:46] keikhara opened #1680 "[Feature] gMSA v2 support on Windows AKS"
current version of gMSA will require the nodes to be in a domain. gMSAv2 will not require being in the node as we are not recommending customers to log into the VMs.

[2020-06-16 21:53] keikhara commented on #1679
complete

[2020-06-16 21:53] #1679 closed

[2020-06-16 21:58] keikhara opened #1681 "[Feature] Network Policy Calico on Windows AKS"
Azure provides two ways to implement network policy. You choose a network policy option when you create an AKS cluster. The policy option can't be changed after the cluster is created:
- Azure's own implementation, called Azure Network Policies.
- Calico Network Policies, an open-source network and network security solution founded by [Tigera](https://www.tigera.io/).

[Documentation](https://docs

[2020-06-16 22:11] luigibk commented on #1642
Hi @saiyan86

Thanks for getting back to me. Just to be clear, the problem is not just a single node. The entire cluster (i.e. all nodes) is affected.
I don't have a cluster to test what you suggest at the moment, but I don't think it will work as all the pods are configured to still use the "standard" cluster-dns ip (10.0.0.10), whereas that rule only deals with the local-link address 169.254.20.

[2020-06-16 23:20] jluk commented on #400
Confirming all changes are fixed and globally released. Closing as GA.

@roben0 please try a new deployment an existing RT on the subnet you bring should be respected. If not please open a support ticket and AKS SRE will investigate for you.

@sivamca127 you need to set the route rules with the Azure VNet resource. The route table is a resource of Azure Networking.
https://www.terraform.io/docs/pr

[2020-06-16 23:20] #400 closed

[2020-06-17 01:30] elsesiy commented on #1650
@jluk Is there any progress/ETA on this? This is a blocking issue during cluster upgrade for us and we need to make some contingency planning if this doesn't get resolved soon, thanks.

[2020-06-17 01:34] teyou opened #1682 "nodepool autoscaling not working"
**What happened**:
Nodepool auto scaling not working

**What you expected to happen**:
To be able to scale up once it needs to

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a new cluster with 2 nodepool (1 for system + 1 for userpool)
<img width="698" alt="2-k8s-nodepools" src="https://user-images.githubusercontent.com/1115155/84844721-924ad600-b07d-11ea-9358-f153ae8

[2020-06-17 03:01] roben0 commented on #400
Confirmed as working OK for us now. Re-deployments last night and today seem to be using the existing RT correctly. Thanks for following up.

[2020-06-17 04:22] oscar60310 opened #1683 "Missing identity in MI enabled cluster"
**What happened**:
Missing identity in MI enabled cluster.

**What you expected to happen**:
A token should return from Azure Instance Metadata service endpoint when I sending request from pods.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create AKS with MI enabled.
[code]
1. Create a pod and send request to endpoint
[code]
   And the response will be
[code]

**Anything e

[2020-06-17 09:40] cubed-it commented on #1667
Looks like there was something wrong with the master after the upgrade. The support did a restart of the master components and now it looks fine.
Reference ticket 120061524002320 if required.

[2020-06-17 09:40] #1667 closed

[2020-06-17 11:32] PrabhuMathi opened #1684 "Kubelet endpoints are not getting updated after nodes scale up or down"
**What happened**:

When a node is scaled up or scale down in AKS cluster, kubelet end points are not getting updated with new subnets addresses.

**What you expected to happen**:

kubelet end points should get updated automatically when new node addresses.

**How to reproduce it (as minimally and precisely as possible)**:
In AKS cluster 1.16.9, scalup a node in vmss instance and validate kubelet

[2020-06-17 17:14] TomGeske commented on #1428
Fix has been deployed.
Going ahead closing this one. Feel free to continue commenting.

[2020-06-17 17:14] #1428 closed

[2020-06-17 17:44] marwanad commented on #1682
It seems like the service principal you're using doesn't have `Microsoft.Network/virtualNetworks/subnets/join/action` permission so its unable to send the scale requests. Can you please ensure your SP has those rights?

Those errors would usually be visible to you on the configmap but a bug from the core upstream project caused this issue and will be fixed in the next CA release.

[2020-06-18 00:24] jluk commented on #1197
Closing this as no longer on the roadmap given the kube-dashboard addon is set for deprecation. Details can be found here:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

[2020-06-18 00:24] #1197 closed

[2020-06-18 00:25] jluk commented on #1198
The managed kube-dashboard addon is set for deprecation, closing as a result.
https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

[2020-06-18 00:25] #1198 closed

[2020-06-18 00:27] jluk commented on #1482
Closing in favor of support request if still occurring.

[2020-06-18 00:27] #1482 closed

[2020-06-18 02:01] akramwaseem commented on #1057
I dont see any config lock under .kube folder, but I keep seen this when applying helm permissions or running kubectl commands.
@mschuurmans @esunder

[2020-06-18 03:02] zhiweiv opened #1685 "kubelet /stats not working on Windows"
We encouented same issue with https://github.com/kubernetes/kubernetes/pull/90554, we rely on /stats endpoint to monitor AKS clusters. It is not included in 1.17.6 yet(https://github.com/kubernetes/kubernetes/pull/91103).

Do we have plan to fix it in AKS asap?

[2020-06-18 06:22] usman-siddiqui-devops commented on #573
I am interested in this as well.

[2020-06-18 07:03] TomGeske commented on #1650
Fix is done and role out will start 6/22. It will take a few days to land in all regions.

[2020-06-18 08:26] robinkb commented on #1395
Can confirm that the metrics can be scraped in AKS with Kubernetes 1.16.9.

[2020-06-18 08:26] #1395 closed

[2020-06-18 09:10] mchudinov commented on #1573
The same problem for fresh installed AKS v 1.18.2

[2020-06-18 09:20] MikkelHegn commented on #1482
@immuzz Can you confirm you're looking into this?

[2020-06-18 12:29] galvesribeiro commented on #1650
@TomGeske will it require any actions from the customer side?

[2020-06-18 12:52] TomGeske commented on #1650
@galvesribeiro: no fix will be deployed as part of our API.

[2020-06-18 13:43] TomGeske opened #1686 "[Feature] Private Cluster: Simplify BYO VNet and DNS setup by decoupling node -> control plane communication from private DNS zone."
The AKS team uncovered issues with BYO VNet + DNS setup in AKS private clusters: https://docs.microsoft.com/en-us/azure/aks/private-clusters

In some cases, AKS private cluster creation fails for BYO VNet configuration when the DNS zone is not properly attached to BYO VNet or your Hub network. You may see messages like:

`Agents are unable to resolve Kubernetes API server name. It's likely custom

[2020-06-18 13:46] TomGeske commented on #1489
Current ETA is July 2020.

[2020-06-18 13:52] jstewart612 commented on #1492
@palma21 one thing you may want to take back to your folks is the currently proposed nodelocal daemonset is not tolerating itself sufficiently to prevent from inadvertent inability to assign to any nodes with custom taints on them.

I used these tolerations and they resolved that issue for us:
- operator: Exists
  effect: NoExecute
- operator: Exists
  effect: NoSchedule

[2020-06-18 15:05] tomkerkhove commented on #1565
😍 This feature

[2020-06-18 19:08] ecc256 commented on #1573
I can see 1.17.5 (preview), but not any 1.18.*

[2020-06-18 20:38] Robert-Stam commented on #893
Two related questions:
1) Is there a way (preferably via an Azure API call) to get the latest image available? Like the versions.
2) Could the current used image added to the agent-pool type, so we don’t have to grep that from the node itself (it’s there in an annotation)?

These 2 will help us in detecting if an update is available so we can apply that.

Thanks in advance!

[2020-06-18 21:33] palma21 commented on #893
There is. Does the below look like it matches your requirement?

https://docs.microsoft.com/en-us/rest/api/aks/agentpools/getupgradeprofile
[code]
And then on your pool you can always check the image with

`az aks nodepool show -n nodepool1 --cluster-name aks -g aks --query nodeImageVersion`

[2020-06-18 21:56] PixelRobots commented on #1677
My windows container image is just over 5gb last time I checked. And get the same issue.

[2020-06-19 09:25] rlevchenko opened #1687 "Allow migration from Basic LB to Standard"
### GA ETA: August 2025*
  *ETAs are estimations and are subject to change

[request] There are some features that rely on Standard LB only and aren't allowed on cluster with Basic Load Balancers. For example, we can't configure authorized IP ranges to limit access to the API server for now. If we don't have techinical limits, can you allow us to move from Basic LB to Standard LB without re-creati

[2020-06-19 14:00] brobichaud commented on #893
I'm very interested in this as well, especially for my Windows nodepools. I just tried the az command line on my cluster, both the linux and windows nodepools and I get no output. It's clearly querying as it takes a few seconds, but then nothing. Here's what I see:

[code]

I've got cli version 2.7. Any thoughts on why I get no output?

(as a side note, I'd love to remove the "preview" extensions

[2020-06-19 16:26] jluk commented on #893
@gtxistxgao to confirm the output behavior, it should at least confirm completion of the operation if you're on the latest version

@brobichaud the preview extensions can be removed with `az extension -n aks-preview` but keep in mind all preview features only have CLI support in that preview ext. When the features move to GA, they get supported in CLI core without needing the extension.

Hope this

[2020-06-19 17:15] oising commented on #1517
Thank you @krowlandson for this post -- very enlightening and well written. Definitely storing this in OneNote for future ref. It makes perfect sense that granting this scope to the service principal should fix the issue  - but I suspect the only caveat is that the same principal must be the one who created ACR and AKS for the permission to be effective. This is usually the case, but probably good

[2020-06-19 18:57] elsesiy commented on #1650
@TomGeske Thanks for the update. Can you please provide the deployment schedule?

[2020-06-19 20:08] akosbalazs commented on #1050
@jluk Any update or ETA on the Azure CLI support? In the meantime could you post an ARM template examples for scaling to 0 (and back) ? Thanks.

[2020-06-19 22:46] mohanrao commented on #1060
Hi,

With this multi-AZ support does AKS install multiple masters in multiple AZ's?

[2020-06-20 02:57] palma21 commented on #893
What is the version on the extension you're using? That's probably it since it can be using an older API version. Try to update it with `az aks extension update -n aks-preview` and try again.

If that doesn't work, could you paste the output of your extension version and the output of az aks show (without the query)

[2020-06-20 21:59] seanmck commented on #1689
Looks like an RP issue as problem repros in direct REST API calls as well.

[2020-06-21 00:58] mathieu-benoit commented on #1689
FYI @seanmck: I'm not able to reproduce the issue with Terraform: https://github.com/mathieu-benoit/myakscluster/blob/master/tf/aks.tf#L121

[2020-06-21 19:03] sanghamanvir13 commented on #548
Can anyone suggest what is the available fix for this? I am trying to do the role assignment from ARM template and getting this error for incremental deployments: RoleAssignmentExists

[2020-06-22 02:11] jdevalk2 commented on #1395
This issue is not resolved, on AKS 1.16.9
Nodeshell, netstat -a shows listening on 10249 on localhost, not the Node IP.

[2020-06-22 02:32] teyou commented on #1682
Below is tips from support just in case one of you also encounter the same issue

Use the following command to retreive the SP of the cluster

Verify service principal

Then use the following command and substitute the correct resource group to assign the

Finally enable nodepool autoscaling, if it’s disabled.

[2020-06-22 07:08] TomGeske commented on #1650
@elsesiy:  Which region are you looking for? Rollout is starting today.

[2020-06-22 07:09] elsesiy commented on #1650
@TomGeske We’re in multiple regions so an overview about all of them would be helpful, thanks

[2020-06-22 08:08] deyanp commented on #1650
@TomGeske , when will West Europe be done?

[2020-06-22 08:15] andyzhangx commented on #367
thanks for the update, close this issue now

[2020-06-22 08:15] #367 closed

[2020-06-22 09:02] andyzhangx commented on #1685
I have already ping the approvers, let's wait for the cherry-pick merged first. thanks.

[2020-06-22 13:09] 4c74356b41 commented on #1370
any ETA (apart from this year) on this, please?

[2020-06-22 13:10] galvesribeiro commented on #1650
@TomGeske Brazil South here.

[2020-06-22 13:23] TomGeske commented on #1650
I will update you once deployment is complete in all public regions.

[2020-06-22 15:40] PrabhuMathi commented on #1278
Hi, This is leads to deleting of data right? Facing the same issue in 1.16.9 version and need the data back of those disks. Any other option please suggest?

[2020-06-22 16:00] immuzz commented on #1482
@MikkelHegn Yes we are looking into this issue.

[2020-06-22 17:13] nidiculageorge opened #1690 "When I try to build a cluster using cli"
az: error: unrecognized arguments: --node-resource-group rg-seab-uat-aksnode

The parameters where passed correctly

$NodeResourceGroup= 'rg-seab-uat-aksnode'

az aks create `
    --resource-group $ResourceGroupName `
    --name $ClusterName `
    --node-count $NodeCount `
    --enable-addons monitoring `
    --generate-ssh-keys `
    --network-plugin azure `
    --aad-server-app-id $ServerAPPID `

[2020-06-22 18:41] alftio commented on #1478
@jluk Please let us know if there is any update about it ?
We have tested it with the next results.
1-V4 SKU VMs are still not shown in the AKS Wizard from the Portal.
2-Creating from CLI works in some situations.
3- Using Terraform worked fine.

Thanks

[2020-06-22 19:30] jluk commented on #1478
@alftio the CLI should work in every situation - did you hit errors in that client?

@jenetlan as FYI for the portal coverage of these new SKUs

[2020-06-22 20:47] biqas opened #1691 "az aks disable-addons -a monitoring"
Hi I tried to disable the monitoring for an aks cluster with the following command:
az aks disable-addons -a monitoring -g "RECOURCE_GROUP" -n "CLSUTER_NAME" --subscription "MY_SUBSCRIPTION"

this is the result i get:
Operation failed with status: 'Bad Request'. Details: The specified service CIDR 10.0.0.0/16 is conflicted with an existing subnet CIDR

How can I disable monitoring??

[2020-06-22 21:15] alftio commented on #1478
@jluk Thanks for the update. We ran the test one more time using CLI and it worked fine when the regions is "eastus2" . Other regions like "canadacentral"  or "westeurope" and different VM v4 sizes (Standard_D4a_v4,Standard_D4as_v4) are still failing.
The portal AKS Wizard is not showing the v4 SKU´s at all.

[2020-06-22 21:42] Berndinox commented on #1326
Same issue here: makes AKS literally unusable

[2020-06-23 03:05] andyzhangx commented on #447
To support UltraSSD, need to specify UltraSSD capability in VM set up, AKS team are working on that.

[2020-06-23 07:04] qinmaye commented on #212
DSC's Script resource to run custom script is a good way.

[2020-06-23 13:49] #1465 closed

[2020-06-23 14:10] MikkelHegn commented on #1132
Closing this issue with node image upgrade now in public preview.

[2020-06-23 14:10] #1132 closed

[2020-06-23 14:15] MikkelHegn commented on #1137
This got fixed in https://github.com/kubernetes/kubernetes/pull/87730, but introduced this issue: https://github.com/kubernetes/kubernetes/pull/90554, which is now fixed and deployed in AKS from 1.16.9+, 1.17.5+ and 1.18.1+

[2020-06-23 14:15] #1137 closed

[2020-06-23 14:17] MikkelHegn commented on #1228
Release: https://github.com/Azure/AKS/releases/tag/2020-06-15

[2020-06-23 14:17] #1228 closed

[2020-06-23 15:23] jluk commented on #1690
@nidiculageorge the node RG parameter only exists in the aks-preview CLI extension, ensure that is installed and re-run the cmd with a resource group name that does not exist. Lmk if this does not work for you, but I have reproduced it working on the preview extension.

[2020-06-23 15:23] #1690 closed

[2020-06-23 15:33] nidiculageorge commented on #1690
@jluk :can you please send the command line

[2020-06-23 15:46] Tbohunek commented on #400
Any chance to reopen this topic? It is a big issue that the BYO RT doesn't support MSI as it made our existing PROD deployment method impossible.
We need to have RT assigned on the subnet prior to creation that points at NVA, without it the deployment would fail as it cannot reach MS repos. But with it is now consideret BYO RT and due to MSI it won't deploy. Not good, really.

[2020-06-23 15:50] jluk commented on #1690
run `az extension add -n aks-preview` to add the preview module

[2020-06-23 15:52] jluk commented on #400
@Tbohunek thanks for raising your issue, we're working to patch in the MSI support for BYO RT on Kubenet. The limitation is caused by Managed Identity in its current form not allowing you to bring your own identity prior to cluster creation as you've seen.

This ticket (#1591) tracks that capability is on track to release in a few weeks. Could we continue the convo on your needs on that issue?

[2020-06-23 15:53] jluk commented on #1649
Please look to issue #1591 which enables bringing an existing identity, cc @TomGeske for the need of ACR perms

[2020-06-23 15:53] #1649 closed

[2020-06-23 16:01] Tbohunek commented on #1591
Hello @jluk , thanks for a super quick response.
This is an urgent issue for us, we were using MSI on pre-Prod deployments on a scenario which is now considered BYO RT, and our future deployments are now blocked. The issue is we should go Prod in matter of days, and we cannot deploy a functioning cluster now. Falling back to SPs has its own issues and would require us to redeploy the cluster once

[2020-06-23 16:09] nidiculageorge commented on #1690
@jluk Is there anything that we have to apply before deploying the cluster like this

[2020-06-23 16:12] TomGeske commented on #1591
@Tbohunek: current ETA is that we are planning to release public preview for BYO control plane MI this month.

[2020-06-23 16:27] vishiy commented on #1691
@biqas -  You seem to have CIDR collision. any update operation like enable/disable addon will fail if there is a CIDR collision. Looks like you added a new subnet to the VNet which is overlapped ? Please remove the subnet.

[2020-06-23 16:45] jluk commented on #1591
@Tbohunek the BYO RT functionality should have only impacted net-new scenarios in which you brought an existing subnet/rt to a cluster and AKS will now use the existing subnet.

Can you clarify what is breaking? If you are deploying MSI clusters today I presume you are manually adding routes to the route table AKS creates on your behalf, which should continue to work.

[2020-06-23 16:46] jluk commented on #1690
no, you should just run the same cmd as before the preview-module just has additional logic for the node rg parameter

[2020-06-23 16:49] Tbohunek commented on #1591
@jluk We have a subnet `subnet` with Route Table `rt1` assigned. We deploy the AKS cluster `cluster1`, this created Route Table `aks-agentpool-xxx` in AKS RG `mc_RG_xxx` which we then script-assigned to the `subnet1`.

Right now this is seen as BYO RT scenario and AKS no longer creates `aks-agentpool-xxx` Route table.

[2020-06-23 16:59] Tbohunek commented on #1591
What I see is that you need to update the AKS deployment chain of events so that the Managed Identity is created first and given permissions on the subnet and on the BYO RT before AKS begins to create routes in the BYO RT.

That doesn't sound too hard, but I know there are also issues that AKS deployment did not create Role assignments for the SP nor did it assign the AKS-managed RT to the subnet

[2020-06-23 17:17] joshhayskr commented on #400
Hello,

Would this fix impact the custom role documentation found here?:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking

We also have a hub and spoke model and the Enterprise is sensitive over who has full Network Contributor rights.  We generally try to avoid custom roles, but have one for this case.  We found we had to add the following two permissions to get

[2020-06-23 18:38] jluk commented on #400
@joshhaysky that is correct, for this additional custom RT scenario you'll need additional permissions we will have that document updated today

[2020-06-23 18:40] atrauzzi opened #1692 ""Error syncing load balancer: failed to ensure load balancer: timed out waiting for the condition""
Just encountered this today and all I can say is I'm completely confused as to how a message like this can be helpful in diagnosing any issue.

The language here makes no sense.

[2020-06-23 19:59] jluk commented on #984
This has been released and is now supported from Azure CLI version 2.8.0. Closing as a result.
[code]

[2020-06-23 19:59] #984 closed

[2020-06-23 20:05] jluk opened #1693 "Region: UAE Central"
Tracking issue for AKS support of the UAE Central region.

[2020-06-23 20:08] jluk commented on #1074
As mentioned previously you can manually disable the K8s dashboard, however we will be disabling the dashboard by default starting with clusters created on K8s 1.18 or greater.

Read more on the callout here: https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

[2020-06-23 21:21] islamtg commented on #1005
I have the same issue there should be a way to add a windows based pod in a pre-existing cluster. whats the point of creating a new cluster when I have a pre-existing one? there should be a way with in the add pod, to give the user parameter and the password and create that new pod.

is this something expected in the future. I am running the cluster at 1.16.9. I get similar results as the above, w

[2020-06-23 22:16] Tbohunek commented on #400
@jluk If we get it right though, AKS deployment should map the required Role assignments itself without the user having `/roleAssignments/write/` Action allowed on him. That's true or we need to do the role mapping ourselves?

[2020-06-23 22:16] slynickel opened #1694 "AKS Kubernetes Server Side Commit SHA Different then Public Repository?"
**What happened**: `kubectl version` reports a different git commit on the server compared to the client for the same tag. The server version commit doesn't exist in https://github.com/kubernetes/kubernetes

Questions:
* Am I looking in the wrong repository for the commit referenced server side?
* Does AKS roll it's own kubectl with a different commit history? So this is expected?
* Is it expected

[2020-06-23 22:46] luigibk commented on #1642
Hi @saiyan86

I have a working implementation and a PR for NodelocalDNS + (a very small) one for Kubernetes:

https://github.com/kubernetes/kubernetes/pull/92440

https://github.com/luigibk/dns/pull/1

the NodelocalDNS one is still only on my fork as it depends on the first one (even if it's not a big problem as it's just a change to the ebtables utility in there).

I have this running on one of o

[2020-06-23 22:59] jluk commented on #1692
Indeed this is an unhelpful error, if it's a show-stopper for your cluster can you please open a support request so we can take a look at what happened? We regularly groom error messages so they make sense, so we can definitely visit this one.

Closing in favor of support request as we'll need to investigate a bit into any LB issues.

[2020-06-23 22:59] #1692 closed

[2020-06-24 00:50] atrauzzi commented on #1692
No thanks, convincing any support personnel Microsoft employs even of the context of this discussion would probably waste weeks of back and forth. Azure support is just completely unviable.

I honestly suggest you take this up internally as it's a comically shorter path.

[2020-06-24 00:50] IvanJosipovic commented on #1349
Thanks for your post, the -agentpool was the missing key.

Here is the terraform that worked for me with a Managed Identity AKS cluster:
[code]

[2020-06-24 02:15] qinmaye commented on #212
You can see this [article](https://review.docs.microsoft.com/en-us/engineering/projects/ops/build-service/run-custom-script-on-vmss-by-dsc) to see more details. But it perhaps needs some Authority.

[2020-06-24 02:33] jakond1 opened #1695 "Prometheus scrape metrics for kube-proxy"
What Happened:

implementing prometheus matrics scraping of kube-proxy and found that matrics bind address are configured to localhost and thus we promethues exporters are not able to connect nodes.

AFAIK we cannot change the metrics bind address for the kube-proxy please suggest any other alternative

Reference: https://github.com/Azure/AKS/issues/1395

[2020-06-24 06:15] nidiculageorge commented on #1690
Thanks @jluk

[2020-06-24 06:41] timja commented on #1642
cc @feiskyer ^^

[2020-06-24 08:03] BartVanBerkel commented on #1650
@jluk & @TomGeske
I have just verified a deployment in West Europe, but I doesn't seem to be working as I would expect.

When I deploy a fresh cluster, I enable the omsagent and the dashboard. Which will result in 3 assigned identities (e.g. `**-agentpool`, `kubedashboard-**` and `omsagent-**`) on the VMSS.
If I then execute a `az aks scale` operation, then I'll only have the `**-agentpool` identi

[2020-06-24 11:59] TomGeske commented on #1650
West Europe isn't deployed yet. It will take a few days to complete.

[2020-06-24 12:59] landro opened #1696 "NSG generated by aks does not handle whitelising of internal ips correctly"
**What happened**:

I created an internal load balancer as described here: https://docs.microsoft.com/en-us/azure/aks/internal-lb#create-an-internal-load-balancer

I set the loadBalancerSourceRanges field on the service in order to whitelist ip src addresses

However, in the generated NSG, the default rule (65000) will allow any vnet traffic, basically meaning the whitelist is of no use.

**What y

[2020-06-24 14:11] Tbohunek commented on #1591
Hey,
So we did a workaround (un-peer vnet from hub to stop BGP routing to avoid using custom RT, deploy, then peer again). This seems to work to deploy with Managed Identities.
However @jluk , we noticed a defect where we are not able to provision istio ingress gateways due to missing permissions for the Managed Identity to read the subnet.

[code]

Is this already known? Manually adding role assi

[2020-06-24 15:13] jluk commented on #1351
This capability is now in public preview please visit aka.ms/aks/ppg for more information!

[2020-06-24 17:28] brobichaud commented on #893
@palma21 @jluk I updated my aks-preview extension to 0.4.53 and it is working now. Thanks for the help.

[2020-06-24 17:51] jluk commented on #1692
I'm sorry you've had a poor experience with some support cases, it's going to be difficult to reproduce your configuration setup to ensure we can address what occurred to your cluster.

We did an investigation and did find these error messages actually stem from upstream Kubernetes, so they aren't AKS specific. We'll be looking into how AKS could catch these errors and improve them as we have done

[2020-06-24 18:28] bandarusrinivas commented on #1109
is this issue solved in any future versions. I have an AK cluster running on 1.16.9 but the "OrchestratorVersion" sitting behind at 1.14.8. az aks upgrade failing?

az aks nodepool upgrade --name default --resource-group dev_rg-abc5oz2p -k 1.16.9 --cluster-name aaarkpgflyhisbbb
Operation failed with status: 'Bad Request'. Details: Upgrade agent pool version from 1.14.8 to 1.16.9 is not allowed, yo

[2020-06-24 18:30] bandarusrinivas opened #1697 "can't multi-jump versions for linux nodepool from 1.14.8 to latest version"
I have an AK cluster running on 1.16.9 but the nodepools "OrchestratorVersion" sitting behind at 1.14.8. I am using Terraform deployment but the nodepools are not getting updated

az aks nodepool upgrade --name default --resource-group dev_rg-abc5oz2p -k 1.16.9 --cluster-name aaarkpgflyhisbbb
Operation failed with status: 'Bad Request'. Details: Upgrade agent pool version from 1.14.8 to 1.16.9 is

[2020-06-24 18:51] atrauzzi commented on #1692
To be honest, it's 100% of my support cases have never resulted in any helpful outcomes. I usually end up with ISP-grade binder support.

The part in question here is _"timed out waiting for the condition"_. Not what k8s is generating.  I think it'll be up to AKS to leverage _context_ more to put more detail out beyond _"...the condition"_  :thinking:

Is it telling me to mow my lawn?

[2020-06-24 19:14] dbamaster commented on #1278
Yes, it will delete all the data in your PVC.

Cheers,

[2020-06-24 19:21] mfow commented on #688
Any updates on when we expect this feature to ship?

[2020-06-24 20:08] elsesiy commented on #1650
@TomGeske It would be really helpful if you can provide the deployment schedule here, is that a problem? I think the transparency will help users to plan accordingly.

[2020-06-24 22:04] raouf-massy commented on #141
hello
you forgot this command
az aks get-credentials --resource-group myResourceGroup --name myAKSCluster

[2020-06-24 22:58] jluk commented on #1697
You will need to upgrade from a 1.14.x version to a 1.15.x before you can target 1.16. The valid options are 1.15.11 and 1.15.12.

You can retrieve viable target versions by using get-versions command. Please let us know how that works for you.

[code]

[2020-06-24 23:00] jluk commented on #1050
CLI support has landed in the preview extension, please update and retry. I have confirmed it works.

Core CLI support has been merged and will release on the next release targeting 7/14.
https://github.com/Azure/azure-cli/pull/13996

[2020-06-24 23:01] SteveLasker commented on #688
We are continuing to make progress on designing a Notary v2 solution. As a community driven, cross cloud effort, it will take some additional time. But, we believe it will be better as a result as we engage people that understand the complexities.
Regarding the cross cloud focus, for those that just need azure: Customers want images from docker hub to be signed and have them moved to Azure. Custom

[2020-06-24 23:42] andyzhangx commented on #1278
pls provide your k8s version, pod events, the original disk attaching issue on AKS was fixed around Dec. 2019

[2020-06-25 00:29] patrickheinzelmann commented on #223
I wanted to speedup the Maven build process running in Jenkins on AKS, which takes ~ 9 min to execute. Instead of downloading the dependencies of the Maven build each time I run a build (~ 7 min for the download), I wanted to cache them and reuse the downloaded dependencies in the next build. As each build will create a new pod running the build agent, I wanted to attached a shared storage! I crea

[2020-06-25 04:08] naveenkumarsp opened #1698 "Accessing Private AKS cluster API via ingress or Azure Application Gateway- API pod missing in kube-system"
We have deployed a private AKS cluster. Since DNS servers hosted in on-prem servers our local DNS address is unable to forward the API endpoint to Azure private DNS.

Hence we are thinking to host the API using ingress or Azure ALB using URL re-write with Service account for Integrating the stack with DevOps tools and security scanning tools.

Please provide your thoughts and challenges on above a

[2020-06-25 04:56] PrabhuMathi commented on #1278
Currently running in 1.16.9

[2020-06-25 06:31] KylePolansky commented on #1524
I just frustratingly spent the past week fighting with this issue. When reading the documentation, I incorrectly assumed that

would mean that a 0.0.0.0/0 route to the internet would be sufficient egress.

The default routes are working for us with basic load balancer and I didn't realize that SLB would have all these additional restrictions. Perhaps I'm a bad reader assuming that the implicit NAT

[2020-06-25 06:34] TomGeske commented on #1650
Roll out started on Monday. WestCentralUS, AustraliaEast, CanadaCentral should be ready. The remaining once should be finished beginning next week. Hope that helps.

[2020-06-25 11:32] bandarusrinivas commented on #1697
Thanks @jluk , for the future purpose how do i know which version i can able to upgrade , in this case i was on 1.14.8 and wanted to step up to higher. Any Kubectl commands to know eligible nodepool version? Also when when i did upgrade my AKS cluster version why the nodepool are behind?

[2020-06-25 14:34] bandarusrinivas commented on #1697
update since my previous comment. Upgarde took more than an hour and i am finally able to upgrade nodepool 1.14.8 --> 1.15.11 --> 1.16.9. Thanks. other questioner for my education, how to upgrade nodepool along with AKS cluster version upgrade?

[2020-06-25 16:12] NileshGule opened #1699 "Unable to start container for Dotnet core exe on AKS cluster"
**What happened**:
I have been deploying .Net Core 2.1 containers for project type exe for more than 2 years.
The Kubernetes manifest file contains references to environment variables.
https://github.com/NileshGule/pd-tech-fest-2019/blob/master/k8s/TechTalksConsumer/consumer-deployment.yml

I have also upgraded this code to 3.0 version and it had worked perfectly until 2 weeks ago.
With the latest

[2020-06-25 16:24] lucasmaj commented on #1699
I would think container is starting but you programs is failing. Have you tried

`kubectl logs [container-name-here]`

[2020-06-25 20:20] jluk commented on #1697
Thanks for confirming, the upgrade operation can be checkpoint by clients differently which likely caused portal and cli to show an updated node version but the cli command was still running to completion.

If you use the az aks get-versions command, you can map valid versions from the left table of what version a resource currently is on.

If you run az aks upgrade, meaning you have run a managed

[2020-06-25 20:20] #1697 closed

[2020-06-25 20:33] ohorvath commented on #1050
It seems scaling to zero node with autoscaler also works. :)

[2020-06-25 23:05] jluk opened #1700 "Region: South Africa West"
Tracking issue for AKS availability in South Africa West, the region pair for South Africa North which is supported today.

Blocked due to capacity until 2022

[2020-06-26 00:32] starbloom commented on #1391
I am seeing the same issues overwhelming my Linux logs as well.  I am using the latest AKS 1.18.2 with Azure network plugin.  It doesn't seem to affect the pod function or virtual network operation in any way.

[2020-06-26 09:41] awilhelmer commented on #1283
we have got the same problem ...

[2020-06-26 14:54] porrascarlos802018 commented on #1468
+1
https://docs.microsoft.com/en-us/azure/aks/certificate-rotation
reboot nodes,
rebuild pods , everything back to normal operation.

[2020-06-26 18:26] jluk commented on #1591
@Tbohunek thanks for raising, we're looking into the missing permission for managed identity cc @TomGeske

[2020-06-26 19:16] Tbohunek commented on #1591
@jluk Cool, thanks. Do you also plan to include the required permission on BYO RT and Subnet, or are those two planned to be kept manual?

[2020-06-27 07:02] NileshGule commented on #1699
Thanks for the suggestion. It did turn out to be an application specific issue. I have been using Helm charts to deploy RabbitMQ on AKS cluster. Something changed in the RabbitMQ and the user ID and password were not getting set which cause the application container failure while trying to connect to the RabbitMQ service.

The issue can be closed

[2020-06-27 07:02] #1699 closed

[2020-06-28 14:35] biqas commented on #1691
I have not added any subnet manually.

These are the subnets I have.
![image](https://user-images.githubusercontent.com/5908247/85950482-47726d80-b95d-11ea-930e-475e01607bab.png)

[2020-06-28 20:29] JohnGalt1717 commented on #223
I too am having this issue. Just trying to get WordPress to be viable under Kubernetes.  I have been able to get it working by using an Azure Managed Disk in the Resource Group of the AKS Cluster and then simply using azureDisk as the volume type.

This solves the short term problem, but obviously doesn't solve the long term one, because an Azure Disk is basically Opaque and I can't manage the fil

[2020-06-29 01:50] zhiweiv commented on #1397
@MikkelHegn @immuzz  FYI
Issue can be reproduced on AKS 1.17.5 with following yaml on a single node Windows Pool. The total memory of svchost.exe increased about 50MB per day.
[code]

[2020-06-29 08:56] BzSpi commented on #223
@JohnGalt1717 You might be facing this issue, this was our case.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=900821

[2020-06-29 12:10] StianOvrevage commented on #1601
For those of you using ServiceMonitor CRDs this worked for me.

Update the `prometheus-operator-kubelet` ServiceMonitor, in our case it's in the `monitoring` namespace.

    kubectl edit servicemonitor -n monitoring prometheus-operator-kubelet

Change from `http` to `https` where applicable, and add `tlsConfig.insecureSkipVerify: true`.

[code]

Now both kubelet+cadvisor targets in Prometheus are

[2020-06-29 13:24] akosbalazs commented on #1050
Do you mean that a nodepool may autoscale down to 0 now? I'd be surprised because that feature (#1565) isn't ready yet and indeed when I try this command it doesn't let me set `--min-count` to 0 (even with the "preview extension" mentioned above):

[code]

If I set `--min-count` to 1 it will work but I don't think it will ever autoscale down to 0.

[2020-06-29 13:34] palmerabollo commented on #345
@jnoller I think there is a missing "prometheus.io/scrape" annotation in the coredns deployment (at least with k8s 1.16.x). Should I open a separate issue?

[2020-06-29 20:14] kagowda commented on #1603
Very happy to announce SLA for existing clusters in AKS public regions. We are still working to support Moon cake and Azure Government.

[2020-06-29 20:58] #791 closed

[2020-06-30 02:47] dhananjaya-senanayake commented on #1603
@kagowda , does this feature supports to be enabled from the Azure portal ?

[2020-06-30 03:29] leonard520 opened #1701 "[Already Patched] AKS patching of MitM attacks via IPv6 rogue router advertisements"
As mentioned in [issue](https://github.com/kubernetes/kubernetes/issues/91507), we have to upgrade our cluster to version 1.16.11 or above.
However, in another aspect, due to some breaking change in 1.17.x for CRD, we don't want to upgrade to 1.17.x for now.
Can we support version 1.16.11 or above?

[2020-06-30 07:38] ohorvath commented on #1050
I'm not sure what's happening, but I had multiple clusters which scaled down to zero even with a min count set to 1. I didn't change my arm templates or anything. Of course I can't repro now, but I have screenshots. :)

[2020-06-30 09:52] rlevchenko commented on #1687
Any thoughts? Since we have this guide https://docs.microsoft.com/en-us/azure/load-balancer/upgrade-basicinternal-standard , would it be the problem to allow such migration in terms of the AKS?

[2020-06-30 13:16] vivekananth commented on #1442
Hi,

We are in 1.14.6. Post July release our AKS stop working ?

[2020-06-30 13:22] TomGeske commented on #1650
Most of the larger regions including West Europe finished deployment.

[2020-06-30 13:23] galvesribeiro commented on #1650
@TomGeske Brazil South?

[2020-06-30 13:28] TomGeske commented on #1650
@galvesribeiro:  Brazil South not yet. Takes a few more days.

[2020-06-30 13:29] galvesribeiro commented on #1650
Ok thanks, looking forward for it.

[2020-06-30 14:19] BartVanBerkel commented on #1650
@TomGeske Just verified WestEurope, but still the same as in my previous [reply..](https://github.com/Azure/AKS/issues/1650#issuecomment-648664402)

[2020-06-30 16:30] jluk commented on #1050
@akosbalazs is correct, the support of CA scale to and from zero is still open and on track for delivery in the next 4-6 weeks as it requires adding support in the upstream CA project as well.

@ohorvath in the moment you should be able to manually scale to and from zero, but if CA is enabled when the node count is zero the scaling up functionality may not work. If you have a cluster entering a ze

[2020-06-30 16:31] jluk commented on #1565
As an update here, AKS supports manual scale to zero for all user node pools at the moment. This can be done through any client.

The work to support autoscale to and from zero is in-flight and we will have news to share in the coming weeks. Thanks for everyone's participation and feedback through this critical scenario!

[2020-06-30 16:34] jluk commented on #1442
@vivekananth the cluster will continue to function in operations like scale, but if you require Azure support you will need to upgrade the cluster into a supported version. Please reference the below document and FAQ for details:

https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#faq

Hope this helps.

[2020-06-30 17:31] vivekananth commented on #1442
Thanks that helps !!!

[2020-06-30 18:05] jluk commented on #1701
The issue linked is actually already patched in all GA versions running in AKS, so this should be covered already. Here is the relevant notice: https://azure.microsoft.com/en-us/updates/cni-security-vulnerability-in-older-aks-clusters-and-mitigation-steps/

Closing as a result of that, but just comment and will revisit.

[2020-06-30 18:05] #1701 closed

[2020-06-30 20:08] immuzz commented on #1397
@zhiweiv This seems like a Windows OS bug. Our devs are looking into it. Can you please go to https://github.com/microsoft/Windows-Containers/issues/35 and answer the questions our developers have to narrow down the problem and fix it.

[2020-07-01 04:03] keikhara commented on #1685
This will be fixed in AKS 1.17.7. Expecting end of this week roll out.

[2020-07-01 04:24] keikhara commented on #1677
what is the container image and version?

[2020-07-01 08:16] vivekananth commented on #1442
Is it possible to subscribe to aks version upgrade alerts through azure portal so we can get to mail box ?

[2020-07-01 14:34] DanielSCon40 commented on #118
@andyzhangx we are using v1.16.9 and it still does revert to initial state. Now I have two defaults.

[2020-07-01 15:56] dewanymca opened #1702 "Disabling Default service account for Namespaces"
Hi Team

As part of security review, we have been asked to move away from default service account and used custom service account per app. We have app written in .net core and we don't use any of kubernetes functionality calling Api-server to get data or soemthing like that. So what we are planning to do, just create service account with no role and rolebindings. Also disable serviceAccountAutomat

[2020-07-01 17:21] mikedizzle commented on #1303
I came across this issue and saw the announcement in Jan of 2019 (https://azure.microsoft.com/en-us/updates/aks-cluster-auto-upgrade/) that this is being worked on, but the feature isn't even in preview yet, correct?

[2020-07-01 19:03] rathishrms commented on #1573
same issue, no luck!

[2020-07-02 02:14] djsly commented on #1506
Subscribing... The sad part is that its not even Azure Support that issues the restart...

[2020-07-02 04:11] oscar60310 commented on #1651
Same problem. I can't find any VMSS which create by AKS node pools so it's not possible to add them to backend pool manually.
@Aanuka Do you have any solution?

[2020-07-02 08:57] pierluigilenoci commented on #1143
@palma21 is there any hope that it will be activated on AKS?

[2020-07-02 09:49] adhodgson1 opened #1703 "Creating agent pools using agentPoolProfiles object vs resources/Microsoft.ContainerService/managedClusters/agentPools"
Which is prefered, and are there any advantages to creating the additional agent profiles using the nested resources section in an ARM template as opposed to the older agentPoolProfiles array? I am looking to have an ARM template which will add node pools to an existing cluster if the cluster already exists.

[2020-07-02 11:44] jmos5156 opened #1704 "AKS using system assigned identities on VMSS to access other Azure resources"
Hello.

In deploying an AKS cluster in private mode I see that three managed identities are created in my case.
1) MI for the kube dashboard
2) MI for the OMS agent
3) MI for the agent pool

I cannot find any documentation surrounding the usage of these MI's. Is there any available that will describe what the AKS cluster deployment does when adding profiles/nodes to a deployment?

Further to this,

[2020-07-02 12:16] TomGeske commented on #1650
@BartVanBerkel can you retry? I tested scaling operation with a fresh cluster in West Europe and identities remain assigned.

[2020-07-02 12:17] TomGeske commented on #1650
@elsesiy: deployment into all regions usually takes ~2 weeks.

[2020-07-02 12:23] DanielSCon40 commented on #1075
Is there a timeline when this gets implemented? Are there any workarounds on how to make the scheduler use a different StorageClass by a special attribute?

[2020-07-02 12:46] karok2m opened #1705 "Question: Can I programmatically get all available Kubernetes versions in a given region using .NET SDK ?"
I am looking for a programmatic way to get available Kubernetes versions in a given region using .NET SDKs. Something similar to the following Azure CLI command:

[code]

Specifically, I am using `Microsoft.Azure.Management.ContainerService.Fluent.ContainerServiceManagementClient` class to create clusters and get details of existing cluster. I can use any other .NET SDK for this as well.

[2020-07-02 12:57] karok2m commented on #1705
I also posted the same question on StackOverflow: [Get all available Kubernetes versions in a given Azure region using .NET SDK](https://stackoverflow.com/questions/62696812/get-all-available-kubernetes-versions-in-a-given-azure-region-using-net-sdk)

[2020-07-02 13:05] BartVanBerkel commented on #1650
@TomGeske Looks better now. Thanks!

[2020-07-02 13:57] aristosvo commented on #1704
https://github.com/Azure/aad-pod-identity is AFAIK the solution to explicitly grant access to resources

[2020-07-02 15:23] jmos5156 commented on #1704
Yes, I agree this seems to be the method employed currently but I have also experienced that without deploying AAD POD and enabling System-Assigned Identity (SI) at the vmss level also seems to allow the pods to gain access to other Azure resources where the SI is granted permissions (ie. KeyVault).

It also seems like the latest API version of the microsoft.containerservice/managedclusters the re

[2020-07-02 16:54] xamox commented on #447
@andyzhangx

Is this a link to that documentation (i.e. how to enable it)?
I came across this article: https://nedinthecloud.com/2019/09/02/using-ultra-ssd-storage-with-azure-kubernetes-service/
I know it's a bit dated, do the Ultra Disk still suffer from the random zonality as described in that article?

[2020-07-02 19:01] ashishvermapu commented on #1523
I dont know why this was closed. it doesn't need vnet peering and should work the way you were expecting it to.

[2020-07-02 19:25] jluk commented on #1442
This change is now rolling out across all AKS regions and planned to complete in 1 week. You can validate if your region has received the change by running `az aks get-versions -l <region>`.

@vivekananth not yet through the Azure portal, however we are working to expose an emitted event through EventGrid when a new version is available.

[2020-07-02 19:25] #1442 closed

[2020-07-02 19:50] galvesribeiro commented on #1650
looking forward to see it on my end

[2020-07-03 00:38] andyzhangx commented on #447
@xamox UltraSSD support requires availability zone support: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-enable-ultra-ssd#ga-scope-and-limitations
We are working on integrating UltraSSD feature with AKS, it's going to release very soon, stay tuned.

[2020-07-03 01:33] robearlam commented on #1573
@ecc256 solution above worked for me.

[2020-07-03 02:55] qinmaye opened #1707 "az aks upgrade will remove extension."
**What happened**: When I use az aks upgrade, I found that it will delete the extensions. How can I solve it?

![image](https://user-images.githubusercontent.com/33417731/86427017-ba903100-bd1b-11ea-8385-7c8b4706f9b8.png)

[2020-07-03 04:54] djsly commented on #1668
Fixed in release: https://github.com/Azure/AKS/releases/tag/2020-06-29

[2020-07-03 04:54] #1668 closed

[2020-07-03 06:53] andyzhangx commented on #118
pls make sure you have prepared `default.yaml` file first(see above example: https://github.com/Azure/AKS/issues/118#issuecomment-627860179) and then run following command:
[code]

And if you run `kubectl delete sc default` first and run `kubectl apply -f default.yaml` command after a while, it may not work. Pls make sure `kubectl delete` and `kubectl apply` command runs **consecutively**. Also wh

[2020-07-03 06:55] andyzhangx commented on #1677
try use `mcr.microsoft.com/windows/nanoserver:1809` as base image, it only has 300MB

[2020-07-03 07:03] PixelRobots commented on #1677
Hello,

I wish I could use nanoserver, but my application does not like it.

Below is my slightly redacted docker file:

# Base OS for the container
FROM mcr.microsoft.com/windows/servercore:ltsc2019 AS container_base

# Build Base Image - Full .net core SDK installed

FROM container_base AS build_base
SHELL ["powershell", "-Command", "$ErrorActionPreference = 'Stop'; $ProgressPreference = 'Silent

[2020-07-03 10:08] TomGeske commented on #1650
@galvesribeiro it should be available in all remaining regions by now.

I'm going ahead closing this issue. Please continue commenting if you have further questions.

[2020-07-03 10:56] TomGeske commented on #993
Just as a heads-up Managed Identity is now available in China.

[2020-07-03 13:17] cdunford commented on #1513
@jnoller is there a plan to address this in some way? It seems like a severe limitation if we cannot expect nodes to restart successfully

[2020-07-03 13:18] Aanuka commented on #1651
No resolution yet.

[2020-07-03 15:49] andrewCluey commented on #274
Any news on this? I'm having the same issue too. Logged it with Microsoft and it was simply batted back saying they'd fixed with ```az aks upgrade .....``` (when in fact nothing had changed). Waiting for MS to get back with an update since I informed them nothing had actually changed and I still have nodes not ready and scaling operations failing.

The Scale-Sets report fine, they seem to scale co

[2020-07-04 19:22] 037g commented on #1659
I have the same problem. Were you able to fix this?

[2020-07-05 07:42] andyzhangx commented on #223
Update:
I am working on Azure File based NFS support right now, the wordpress on NFS pod could start up in around 6min with Azure File based NFS.

[code]

Actually the `time ( wget -qO- https://wordpress.org/latest.tar.gz | tar xvz -C ./wp )` time cost on NFS is still the same:
[code]

While for this wordpress application, I tried 3 times, it could really start up in around 6min(with one crash). S

[2020-07-05 21:47] tomaszms opened #1708 "Nodepool and aks version not available in Australia East"
**What happened**:
Two AKS clusters have been created in Australia East and Australia Southeast one month ago based on version 1.16.8. At the moment additional node pool can be created only based on version 1.15.11 and 1.15.12 in Australia East. Additionally, currently, during AKS creation, only the following version can be chosen in Australia East:
- 1.18.4 (preview)
- 1.18.2 (preview)
- 1.17.7
-

[2020-07-06 06:12] b-rajesh opened #1709 "Managed identity is not created on the same resource group as like AKS cluster"
I am creating the cluster with managed identities - "SystemAssigned". Now I wanted to use the AKS to integrate with ACR , so I am creating role association which need the principal_id of the managed identities and its resource group. It seems the managed identities are created in aks-cluster-node-group as default.

What is the best of reading this resource group which is automatically created as p

[2020-07-06 08:11] b-rajesh commented on #1709
ok, it seems i could use the name of the node resource group from the aks cluster(auto generated) and assign the same value to the resource group name for the role assignment.

[2020-07-06 08:11] #1709 closed

[2020-07-06 10:23] dewanymca opened #1710 "Security Context-Failed to Create CoreCLR"
We are trying to put security context at POD and container Level for .net core application. Below is snippet of yaml file which we used to enable securityContext:

***********************************
        securityContext:
          allowPrivilegeEscalation: false # Always use false
          privileged: false # Always use false
          readOnlyRootFilesystem: true # Recommended to use true

[2020-07-06 10:38] markmcgookin commented on #1600
I am having this issue as well.... what's weird is, we have two clusters, both upgraded from 1.14.x to 1.15.x then to 1.16.9 today one worked fine and dashboard worked fine (although you need to pick a kubeconfig file now). I usually use the azure cloud shell for this stuff, but you need to do the get-credentials locally, then you can still use that file.

The dashboard doesn't seem to be working

[2020-07-06 13:22] kwaazaar commented on #667
I tried this, but keep getting this issue. I have a container doing a curl statement in a loop with a 2 second pause in between attempt and get it about once every 20 attempts. I seems to happen on 3 clusters (OT, ACC and PROD). On those last two this seems to help pretty well. On the OT-cluster (1.16.9) it does not. All clusters are using Azure CNI and use private networking and a VPN connection

[2020-07-06 14:42] caruccio commented on #733
Simply removing the finalizers is not the way to go, since something may got stuck into the namespace.

Following this tip from https://github.com/kubernetes/kubectl/issues/151#issuecomment-402003022 I could identify an object still exists:

[code]

Inspecting the object I've found it alse has a finalizer:

[code]

Which makes sense since I just `kubectl delete ns/istio-system $(kubectl crd -o nam

[2020-07-07 00:28] tomaszms commented on #1708
AKS version 1.16.8 is not longer supported based on the latest release notes.

[2020-07-07 00:28] #1708 closed

[2020-07-07 09:04] michael-niemand opened #1711 "It says under Releases, that 1.17 is GA since a week, I can't seem to select it. What am I doing wrong?"
Under upgrade settings in our AKS cluster, there is still only 1.16.9 as the highest non-preview version.
There are 2 1.17 version in the dropdown, but both are preview versions only.

![image](https://user-images.githubusercontent.com/12845693/86754877-81b8ca80-c041-11ea-92c5-edb727f23835.png)

How can I see (and upgrade to) the 1.17. release that is supposed to be released since 1st of July?

[2020-07-07 13:35] michael-niemand commented on #1711
from what I understand from https://github.com/Azure/AKS/issues/1442#issuecomment-653182496 the change is currently in the process of being rolled out to all the regions and is projected to finnish within a week.

[2020-07-07 13:35] #1711 closed

[2020-07-07 14:15] adhodgson1 commented on #1704
I have developers unintentionally going down the same path as @jmos5156 where they grant the identity at the VMSS level access to external resources and this works for every pod on the cluster. It would be good to know the future of this workaround going forward so I can push people in the right direction.

[2020-07-07 14:20] jmcshane commented on #1704
The documentation for the managed identities can be found here: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2020-07-07 16:31] davejhahn commented on #1695
Same problem for me in 1.16.9, which was supposed to have been fixed in https://github.com/Azure/AKS/issues/1395

[2020-07-07 20:59] palma21 opened #1712 "Support of Ultra SSD"
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-ultra-ssd

[2020-07-07 21:28] devteng opened #1713 "Ability to use a statically created azure file share that was previously created in Azure File using persistent volume claim"
**What happened**:
Following https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#create-a-persistent-volume-claim
I want to create PVC that bounds to a existing Azure File Share in a storage account. I know that the doc want to mount the azure file inside the pod, but I want to use a PVC inside the pod.
**What you expected to happen**:
I have already created a storage account, file s

[2020-07-07 22:31] smartpcr opened #1714 "AKS provision failed with error code: OverlaymgrReconcileError"
**What happened**:
I was trying to provision AKS cluster using terraform, cluster was created successfully. Then I deleted the cluster and tried to create cluster again, the following error was returned:
[code]
**What you expected to happen**:
the cluster should be created without error

**How to reproduce it (as minimally and precisely as possible)**:

1. main.tf
[code]

2. aks terraform module
[

[2020-07-07 22:48] jluk opened #1715 "[Feature] [Successor to pod security policy (preview)] Support audit & deny of pod security policies based on Azure policies"
This is a tracking issue for support of pod security policies through the managed AKS Policy add-on.

State: Public Preview

Docs: https://docs.microsoft.com/azure/aks/use-pod-security-on-azure-policy

The scenario covers the ability to deploy Azure policies which can audit and deny requests which violate a policy which restricts what a pod can do. Common examples include running privileged contai

[2020-07-07 22:50] jluk commented on #1707
This is by design, custom VM extensions cannot be installed on AKS nodes due to the reconciliation management taken by the AKS service. Please visit this document to view work arounds for node customization such as using daemon sets.

https://docs.microsoft.com/en-us/azure/aks/support-policies#user-customization-of-worker-nodes

[2020-07-07 22:50] #1707 closed

[2020-07-08 01:27] andyzhangx commented on #1712
UltraSSD support on AKS would be ready very soon

[2020-07-08 01:38] wumingcp commented on #1707
@jluk Thanks for your reply, but I still have one question, how to install Azure Security Pack on each nodes? because currently we can use VMSS extension to install Azure Security Pack on worker nodes which run Windows OS.

[2020-07-08 03:47] smartpcr commented on #1714
if I change cluster name and redeploy, the provision succeed, seems only happens when I redeploy a cluster with same name after old one is deleted.

[2020-07-08 06:56] dragonfly91 commented on #1544
I'm also facing this error. Any updates on this?

[2020-07-08 08:14] zhiweiv opened #1716 "[Feature Request] make new-pod-scale-up-delay configurable in autoscaler profile"
Per https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md

That is exactly what we need for job pod pools. It is good to be able configure new-pod-scale-up-delay in AKS  autoscaler profile.

[2020-07-08 08:55] nidiculageorge opened #1717 "Kubectl exec command failing"
Hi Team,

Any idea why this command is failing

![image](https://user-images.githubusercontent.com/43850474/86898777-c23e4400-c126-11ea-9fa4-1ae04993a8e7.png)

We need to get into a pod and exec a curl command

[2020-07-08 08:58] zhiweiv commented on #1685
Verified fixed in 1.17.7.

[2020-07-08 08:58] #1685 closed

[2020-07-08 09:03] zhiweiv commented on #1717
Can you paste the image of this deployment?

[2020-07-08 09:22] nidiculageorge commented on #1717
@zhiweiv you mean the yaml file

[2020-07-08 09:26] zhiweiv commented on #1717
Seems arbabu/trojan-wall:v2 is a priavte image, do you know the base image it is using?

[2020-07-08 09:32] nidiculageorge commented on #1717
@zhiweiv thanks for the promp response.We will check and let know.

Basicall ia m trying to host a hello-world container in our cluster just to call from outside ,to check pods are running fine.Do you have ny yaml file fro tthat .After deployment I am trying to run the exec commnd to check one communication

[2020-07-08 09:33] zhiweiv commented on #1717
bash does not exist in your image, you can try ash.
`kubectl exec -it test ash`

[2020-07-08 09:35] nidiculageorge commented on #1717
@zhiweiv you mean

kubectl exec -it <podname> ash -n test

[2020-07-08 09:36] zhiweiv commented on #1717
Yes, that is an example, you should run kubectl exec -it podname ash -n test.

[2020-07-08 09:43] nidiculageorge commented on #1717
Great thanks @zhiweiv is there any commnd for curl,as curl is not working for ash,i think wget should work

![image](https://user-images.githubusercontent.com/43850474/86903875-8e1a5180-c12d-11ea-88db-bb45497609cd.png)

[2020-07-08 09:46] zhiweiv commented on #1717
You can use wget since it is available in your container.

[2020-07-08 09:50] nidiculageorge commented on #1717
@zhiweiv Just out of curiosity, how did you find out the image and which command can run it it

[2020-07-08 10:05] nidiculageorge opened #1718 "Upgrading the cluster to higher version from Azure portal wont upgrade the Nodepool version"
Hi Team,

When we try to upgrate the cluster from the azure portal ,it wont upgrade the Nodepool version.

Is it a bug. The Nodepool version remains the same.We have only one Nodepool ,and also when checked cannot upgarde to the same version as KUBERNETES VERSION.

[2020-07-08 10:08] zhiweiv commented on #1717
If bash is not available, it is probably an alpine based image, ash is the default shell of alpine linux.

[2020-07-08 10:15] nidiculageorge commented on #1717
Great thanks for the support

[2020-07-08 10:15] #1717 closed

[2020-07-08 11:05] gopu-gds commented on #1389
Any progress on this? All the Kubernetes secrets are shown in plain text in Azure console under Containers Environment Variables in Insights which undermines the meaning of Kubernetes secret. It's quite a security issue.

[2020-07-08 11:14] bhicks329 commented on #1389
I'm not sure this is an AKS issue and using environment variables for storing secrets is bad practice IMHO. Look at using something like keyvault CSI drivers or flex vol to have the secrets mounted directly into the pods.

You can stop environment variables from appearing in the logs by setting AZMON_COLLECT_ENV to false. I do however agree with the original raised issue that this should be false

[2020-07-08 12:09] btnguyen2k commented on #1050
If you use spot nodepool, it can be scaled down to zero without you triggering it. I believe this case is valid (i.e. not bug).

[2020-07-08 12:55] andyzhangx commented on #1713
you can use storage class directly if your cluster identity could access that storage account:
[code]

and the create a PVC using that `azurefile` storage class

[2020-07-08 13:05] slenky opened #1719 "Enable PodTolerationRestriction admission in AKS"
I'd like to deploy Kubeflow resources to AKS spot instances but Azure adds spot nodeTaints by default.

I need to either remove that taint from all spot nodes or use [PodTolerationRestriction](https://v1-14.docs.kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podtolerationrestriction) in the kubeflow namespaces.

[2020-07-08 13:19] devteng commented on #1713
Thanks Andy! I will try and update! I think the "shareName" in the StorageClass is the key!

[2020-07-08 14:02] devteng commented on #1713
Hi Andy, this is working! Thanks again!

Some questions if you do not mind. I am able to get this working, but I am wondering how the new PVC get the password to the storage account if it is bypassing the PV? I have removed the secret from the namespace.

The storage account is created in the AKS resource group and not in the shadow resource group. I assume that the nodes in the shadow RG have ide

[2020-07-08 14:08] andyzhangx commented on #1713
it would create `azure-storage-account-{storage-account-name}-secret` in `default` namespace using cluster identity.

[2020-07-08 14:08] #1713 closed

[2020-07-08 19:31] cimorar commented on #1683
The same in my case.
AKS 1.15.11, several different test clusters created with the same result when trying to acquire token.
[code]
Gettin token fails when testing using curl:
[code]

as well as in Azure Key Vault Linux extension, which relies on MSI:

[code]

I tried deploying clusters both with ARM and the CLI with --enable-managed-identity and all seemed to be ok:

[code]

[2020-07-09 03:07] zhiweiv commented on #1375
@daschott
Do you have ETA about DSR on Windows Server 2019?
The port exhaustion occurred a few times since Mar 2020 although the workaround was applied to AKS already.

[2020-07-09 09:38] QaiserAli commented on #1534
I have similar issue.
After upgrading to k8s version 1.16.7 i can see cluster-admins can login and see the dashboards. But when i try to login as a normal user (having permissions over  the namespaces), it throws the following error

`{
 "jweToken": "",
 "errors": [
  {
   "ErrStatus": {
    "metadata": {},
    "status": "Failure",
    "message": "MSG_LOGIN_UNAUTHORIZED_ERROR",
    "reason": "Unau

[2020-07-09 09:48] cimorar commented on #1683
Today I found a solution. I misunderstood the whole concept a little I guess.

Managed identity must be enabled also directly for the VM ScaleSet, not only for AKS service.
Once I enabled the VMSS MSI, all token operations succeeded and this error is gone.
I used [this doc page](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-v

[2020-07-09 09:49] eman32387 commented on #141
Yes. This solves the issue. Make sure also that you set the subscription if you have multiple.

[2020-07-09 13:01] jmos5156 commented on #1704
I think I've hit another problem. When assigning the identity at VMSS level, and K8 upgrade will recreate the node(s) and this clears the configuration from the scale set. Probably a 'hidden' reason for not using SI and referring back to AAD POD solution.

[2020-07-09 16:26] daschott commented on #1375
@zhiweiv unfortunately the ETA for an update release has slipped out to September due to COVID-19 situation and extensive validation that is needed. That being said, there is a private, test-signed binary that can be shared already for validation/testing should you request it.

[2020-07-09 21:28] marwanad commented on #1682
Fix has been merged. Will roll-out with next week's release.

Feel free to re-open the issue if it comes up again.

[2020-07-09 21:28] #1682 closed

[2020-07-10 08:51] palma21 commented on #1143
Yes, we can consider it

[2020-07-10 09:26] ifle opened #1720 "Virtual nodes never started"
**What happened**:
I have AKS linux cluster with virtual nodes based on ACI. But I've nver seen that pods started on ACI

**What you expected to happen**:
During load pods will be started on ACI

**Environment**:
- Kubernetes version: 1.16.7
- Size of cluster - 2 nodes
- General description of workloads in the cluster - java spring boot application

[2020-07-10 12:19] zhiweiv commented on #1375
@daschott
Will all these paths work in DSR on Windows Server 2019? I saw DSR mentioned in https://techcommunity.microsoft.com/t5/containers/windows-server-version-2004-now-available/ba-p/1419194.

[2020-07-10 14:21] TomGeske commented on #1650
We noticed that issue 2) wasn't properly deployed. I'm re-opening this one until we roll out the fix globally.

[2020-07-10 15:04] bramvdklinkenberg opened #1721 "Datadog cannot connect to the Kubelet after upgrade to 1.16.x"
**What happened**: After we upgraded our cluster from 1.15.10 to 1.16.10 we didn't get any logs anymore in Datadog.
The datadog agents where showing this error in the logs:
`2020-07-10 09:40:57 UTC | CORE | ERROR | (pkg/collector/python/kubeutil.go:38 in getConnections) | connection to kubelet failed: temporary failure in kubeutil, will retry later: cannot set a valid kubelet host: cannot connect

[2020-07-10 15:05] bramvdklinkenberg commented on #1721
I think/ Apparently the kubelet ca cert location changed which is why DD can no longer connect to the Kubelet.
To prevent or fix, add an extra volume, volume mount and dd env for the agent container.

`  volumes:
    - name: k8s-certs
      hostPath:
        path: /etc/kubernetes/certs
        type: ''
  volumeMounts:
    - name: k8s-certs
      readOnly: true
      mountPath: /etc/kubernetes/cert

[2020-07-10 15:05] #1721 closed

[2020-07-10 16:34] daschott commented on #1375
yes, assuming they worked on non-DSR for the host they should work for DSR as well after the patch has been applied. There will also be a patch released for 1903 to light up these paths that were missing for partial DSR implementation on 1903.

[2020-07-10 20:06] jloaiza commented on #1664
@JRolfe-Gen I have the same issue, did you open the support request? Have you had any response?
In my case I'm using the v1.1.4 image.

[2020-07-11 08:32] matlion opened #1722 ""kubectl decribe nodes" does not show correct size of attachable-volumes-azure-disk"
**Why I want to do this**:
I want to debug this scheduler error:
`Warning  FailedScheduling  <unknown>  default-scheduler  0/3 nodes are available: 1 node(s) exceed max volume count, ... `

**What happened**:
I call `kubectl describe nodes` to debug the node limits and see the allocated resources.
But the value for `Allocated resources: attachable-volumes-azure-disk` is always zero,
whereas `Capac

[2020-07-12 00:40] palma21 opened #1724 "CVE-2020-8558: Node setting allows for neighboring hosts to bypass localhost boundary"
From: https://github.com/kubernetes/kubernetes/issues/92315

AKS clusters have the API insecure port  disabled by default (`--insecure-port=0`) which makes this a medium on CVSS ration (5.4) CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:U/C:L/I:L/A:N

### How to mitigate

AKS will always offer patches for its GA versions. Because this issue is on the nodes kubelet/kube-proxy it will require an upgrade of those c

[2020-07-12 00:57] palma21 opened #1725 "CVE-2020-8555: Half-Blind SSRF in kube-controller-manager"
From: https://github.com/kubernetes/kubernetes/issues/91542

## ** On AKS ** the following versions have the fix
AKS will patch the control planes of its GA versions automatically. If you are in an AKS GA version, no action is required.
All the below versions in AKS have the fix:
- 1.15.7, 1.15.10, 1.15.11, 1.15.12+
- 1.16.7, 1.16.9, 1.16.10+
- 1.17.3, 1.17.5, 1.17.7+
- 1.18.1+

If you're not in a

[2020-07-12 03:16] zhiweiv commented on #1716
@marwanad
Does AKS plan to implement this in near future? Or just added it to backlog?

[2020-07-13 08:29] krishnadce commented on #1714
I also got the same error in EAST US region for the kubernetes version 1.17.7. Then, I ran it again with 1.16.10 and it worked.

`Error: waiting for creation of Managed Kubernetes Cluster "AKS-CLUSTEREASTUS" (Resource Group "RG-AKS-CLUSTEREASTUS"): Code="OverlaymgrReconcileError" Message="We are unable to serve this request due to an internal error, Correlation ID: <REDACTED>, Operation ID: <REDAC

[2020-07-13 08:51] palma21 commented on #1720
@MikkelHegn @macolso

[2020-07-13 12:31] slynickel commented on #1314
If I'm reading the change log right this should be fixed with the most recent AKS update. I'm never actually sure when the rollout occurs though (no way to know when a region gets it as far as I know).

https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2020-07-06

The wording of that last sentence seems problematic though. Is it the case that you can _only_ assign an outbound IP addres

[2020-07-13 16:42] marwanad commented on #1716
@zhiweiv yup it will be added soon. I'll follow-up with an update.

[2020-07-13 17:30] anadkatmeet commented on #482
Any update on this? I am facing this issue. My AKS version, 1.14.8 @mboersma

[2020-07-13 20:49] palma21 commented on #1314
The former works after this release. The latter requires upstream fixes to cloud provider but it's being worked on as well.
https://github.com/kubernetes-sigs/cloud-provider-azure/issues/267

[2020-07-13 21:01] jkantharaj commented on #1681
Hi Keiko, We are planning to use AKS/Calico Enterprise Edition combination for Network Policy. We are working with MSFT AKS Blackbelt and MSFT Solutions Architect. We were wondering to get an update on this feature and when is it planned for GA? Is it part of this semester? It would be immensely helpful to understand this for us to plan our implementation...

[2020-07-14 07:40] BlueBasher commented on #1644
We have experienced the same issue. IMHO there should be more configuration on an AKS nodepool that is set on the underlying VM Scaleset. Being able to specify the monitoring or diagnostic settings should be the minimum configuration you should be able to do.

[2020-07-14 08:59] oana-s opened #1726 "Unable access External IP of LB for Kafka"
I have an AKS cluster (server version : v1.16.10, Client version v1.18.5). I am deploying Strimzi Kafka using Helm Charts. For Kafka I need external listeners so that I can have consumers from outside. This used to work till ~1month ago. To be mentioned that this appeared in the same time as error "Directory permission is needed for the current user to register the application. For how to configur

[2020-07-14 12:16] dewanymca opened #1727 "Readonlyfilesystem container security policy"
Hi Team

We have been read only file system attribute in container security policy with .net Core app. .Net core stream input request to disk if size is greater than 30kb. And for those request we get read only file system. We understand it’s because of readonlyfilesystem attribute, but does this attribute make full file system including user space. Is there an option to make root file system read

[2020-07-14 13:36] jon-walton commented on #1669
I've also come across this. running `az aks get-credentials ...` gets things working again temporarily

[code]

[code]

[2020-07-14 17:05] mhsh64 commented on #1669
Yeah we still have this issue with no resolution yet.

[2020-07-14 20:51] solmon commented on #1517
Same her this seems to not work even with high subscription owner privileges...

[2020-07-15 07:30] kenans commented on #1591
@TomGeske Hey, I wonder if there's any update about the BYO control plane MI public preview so far?

[2020-07-15 07:40] TomGeske commented on #1591
Yes, Preview will be available very soon. We are currently wrapping up final items like cli and docs.

[2020-07-15 09:19] katatohuk commented on #614
Any updates on this issue ?

[2020-07-15 12:23] gustavosavio commented on #1570
I'm also interested in more than 10 nodepools. Is there anything new about that?

[2020-07-15 13:44] oscar60310 commented on #1683
@cimorar thanks for sharing, but I can't find the VMSS created by AKS.

[2020-07-15 15:49] jluk commented on #1625
ETA for GA is August, per AKS supported versions calendar

https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#aks-kubernetes-release-calendar

[2020-07-15 17:40] devteng opened #1728 "File share in Azure File is deleted when PVC is deleted even when storage class has reclaimPolicy Retain"
**What happened**:
Created a pod with a PVC backed by a Azure File storage class with the reclaimPolicy: Retain. When I delete the PVC, the file share in Azure File is deleted
**What you expected to happen**:
During clean up, I delete the pod, then delete the PVC but I want to retain the files in the azure share that the storage account is attached to.
**How to reproduce it (as minimally and preci

[2020-07-15 20:28] devteng commented on #1728
So by not defining a PV, the  persistentVolumeReclaimPolicy option is not being propagated. I end up creating a PV and set a claim to the PVC even though the PVC creates a dynamic PV anyways.

Solution is to add a PV with  "persistentVolumeReclaimPolicy: Retain".

[2020-07-15 20:28] #1728 closed

[2020-07-15 21:51] sanjaypatel2003 commented on #614
AKS deployment

All nodes did not reach Ready state. Expected: 3, Actual: 0
cli.azure.cli.core.util : Deployment failed. Correlation ID: 5b7da5a0-e272-4fa3-8ae8-0fed5bef763d. All nodes did not reach Ready state. Expected: 3, Actual: 0
Deployment failed. Correlation ID: 5b7da5a0-e272-4fa3-8ae8-0fed5bef763d. All nodes did not reach Ready state. Expected: 3, Actual: 0
Event: Cli.PostExecute [<functio

[2020-07-15 22:12] cimorar commented on #1683
If you have managed AKS, there is VMSS in ResourceGroup starting with MC_

[2020-07-16 00:38] asubmani opened #1729 "AKS cluster with pre-existing IP Address for API server (public and Private)"
**AKS does not allow selecting an existing I.P address for API server (public or private)**:

**Allow:

**provision an AKS cluster using any available method (portal, Terraform, az cli, powershell:

**IT security teams won't allow opening network firewall rules without an I.P Address**:

**AKS 1.16.9**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (N/A)
- regular AKS cluster (No

[2020-07-16 08:48] jmos5156 opened #1730 "AKS Cluster VMSS cannot be queried via Get-AzureRMVMSS or Get-AzVMSS or Get-AzResource or Get-AzureRMResource"
**What happened**:
After deploying a private AKS cluster with Linux and Windows node pools the VMSS's cannot be enumerated using the Powershell Cmdlets `get-azurermvmss` or `get-azvmss`. They do not return the list of scale sets from the AKS cluster.

The same applies to running `get-azurermresource` and `get-azresource`. The AKS vmss do not appear in the lists.

The command only works if you spec

[2020-07-16 11:34] hdiass commented on #1468
This should much more announced than it is...

[2020-07-16 18:01] palma21 commented on #1370
August 17th release. Thanks for your patience.

[2020-07-16 20:30] alexeldeib commented on #930
Looking at https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#configurations-for-local-ephemeral-storage

AKS seems to currently uses the first configuration, where root dir contains both "ephemeral storage" and other files. So we end up with /var/lib/kubelet + /var/log. This bit from the k8s docs explains the implications of splitting the two (emphasis mine):

Kubelet

[2020-07-16 21:40] posix4e commented on #487
Please reopen this issue. It's still an issue for me.

[2020-07-16 22:38] ohorvath commented on #1714
Same error here for 1.17.7.

[2020-07-17 08:29] palma21 opened #1731 "CVE-2020-8557: Node disk DOS by writing to container /etc/hosts"
From: https://github.com/kubernetes/kubernetes/issues/93032

### Am I vulnerable?

On AKS you can also create policies to disallow pods to be created with allowPriviledgeEscalation: true. See https://docs.microsoft.com/en-us/azure/aks/use-pod-security-on-azure-policy

### Affected ** Upstream ** Versions
kubelet v1.18.0-1.18.5
kubelet v1.17.0-1.17.8
kubelet < v1.16.13

### How do I mitigate this v

[2020-07-17 08:38] palma21 opened #1732 "CVE-2020-8559: Privilege escalation from compromised node to cluster"
From https://github.com/kubernetes/kubernetes/issues/92914:

### Am I vulnerable?
You are only affected by this vulnerability if you treat the node as a security boundary, since clusters in AKS do not share certificate authorities and authentication credentials.

Note that this vulnerability requires an attacker to first compromise a node through separate means.

### Affected ** Upstream ** Versio

[2020-07-17 13:10] oana-s commented on #1726
It seems that the local network was the one to blame; it was blocking the port 9094...

[2020-07-17 13:10] #1726 closed

[2020-07-17 14:09] egoienola commented on #118
Having tested it with 1.16, 1.17 and 1.18, I can confirm that any changes I make to the default sc get reverted within a minute. This is true for all storage classes provided by AKS. e.g. azurefile.

[code]
Note how in a matter of 1 minute, all my MountOptions customisations get reverted back. I encounter the exact same behaviour trying to modify the default sc, so have to end up creating a new sc

[2020-07-17 14:50] jluk commented on #968
Pod security policy (preview) will be deprecated on October 15th, 2020.

* Impacted customers were sent the communication via admin emails on July 13th.
* AKS release notes announced in
* [Existing PSP document contains a warning with details](https://docs.microsoft.com/azure/aks/use-pod-security-policies)
* The succeeding feature, Azure Policy for AKS contains a deep dive document for [pod securi

[2020-07-17 15:01] sussexrick commented on #1461
@MikkelHegn The last page you linked to says node auto-repair is not implemented for Windows Server node pools. Is there a plan/timescale for implementation?

[2020-07-17 17:29] ncole opened #1733 "API for Deprecated versions"
### Feature Request

Use case (version numbers are aribitrary, but recent):
* Deploy a Kubernetes cluster using 1.15.10
* After some time, 1.15.10 is deprecated because of a bug that is fixed in favor of 1.15.11.
* Clusters can only be made with versions 1.15.11, 1.15.12.

I would like to understand when my deployed 1.15.10 cluster is deprecated.  Either via `ManagedClusterProperties` or using the

[2020-07-17 23:31] jayush commented on #1733
In addition, it would be good to have a queryable way to find list of deprecated K8s versions so that products that are built on top of AKS can trigger auto-upgrades or notify customers of their product to upgrade. For instance when K8s 1.15 is deprecated we would like to do roll out upgrade to 1.16 before K8s 1.15 support is removed.

[2020-07-18 10:00] #1038 closed

[2020-07-18 11:42] glothriel commented on #1614
@aristosvo Did you manage to configure a Service of type LoadBalancer, that is listening on ipv6 address? If so, how did you do this? Is there any specific setup around azure network primitives required to make this working?

[2020-07-18 23:48] #1356 closed

[2020-07-19 13:38] nebed commented on #1695
same problem in 1.16.10 as well
Reference: #1395

[2020-07-19 13:39] nebed commented on #1395
This issue is also not resolved on AKS 1.16.10
Nodeshell, netstat -a still shows listening on 10249 on localhost, not the Node IP.

[2020-07-19 13:40] nebed commented on #1395
@robinkb please how did you scrape the metrics? as I still can't

[2020-07-20 01:38] zhiweiv commented on #1532
Any update?

[2020-07-20 06:23] kenans commented on #1591
@TomGeske Thank you for the information! Also I wonder if there's any plan to allow user assigned MI for Kubelet? I saw it was still "Not currently supported" from [the document](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity)

[2020-07-20 06:28] palma21 commented on #1733
Hi, Thanks for the feedback!

Azure Advisor today already provides you with a recommendation that is possible to alert on as soon as a k8s version is deprecated (you can also automate the alert into automation hooks if you desire).

![image](https://user-images.githubusercontent.com/7065724/87906424-75584880-ca17-11ea-892b-557477ab27fb.png)

We're currently adding the new version signal into Azure

[2020-07-20 06:29] palma21 commented on #1727
could you provide a bit more details on what your app is doing and your pod manifest?

[2020-07-20 06:34] palma21 commented on #1730
Please reach out to the Powershell repo as that is not AKS related (https://github.com/Azure/azure-powershell). Do you have the latest modules (up to date)?

Nonetheless is there a reason you want to get the underlying VMSS resource? As the regular cautionary advice bear in mind AKS does not support any operations done at the underlying IaaS level.

[2020-07-20 06:38] palma21 commented on #1729
Hi, thanks for the question.

Not sure I understood it fully. The AKS control plane is managed by MS so you're not able to select a public IP from your control to associate to it.

When you use private clusters - https://docs.microsoft.com/en-us/azure/aks/private-clusters - The ip comes from your node network and there shouldn't be any firewall rules needed to be open (for the API) you still need

[2020-07-20 06:41] palma21 commented on #1722
Could you provide us a bit more detail on what PV/PVC and pod/deployment manifest you're trying to apply?

CC @andyzhangx

[2020-07-20 06:50] andyzhangx commented on #1722
@matlion you could use following command to check all attached volumes on the node, and count.
[code]

[2020-07-20 08:01] matlion commented on #1722
This command shows, that a volume is attached to the node:
[code]
But no attached volumes are shown via describe node:
[code]

[2020-07-20 08:13] andyzhangx commented on #1722
@matlion yes, that's by design from k8s upstream, it's all defined here: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/attach_limit.go#L38-L39, and azure disk driver would return a max data disk count. To get the actual left size, you need to calculate by using `kubectl get no aks-agentpool-24805371-vmss00000a -o yaml | grep volumesAttached -A 20`

let me know if you have an

[2020-07-20 08:13] #1722 closed

[2020-07-20 08:28] armandgrillet commented on #1537
@jnoller I apologize for the direct ping but the current annotation is really out of date and I cannot find references of it in this repository thus I'm not sure about how to fix this issue. Can someone in the Azure team please have a look?

[code]

[2020-07-20 08:56] palma21 commented on #52
AKS currently supports scaling to 0 every pool except the system pool, which can be kept at a minimum. All other user pools can scale to zero. This month we'll also support autoscaling from and to 0.

By August 2020 AKS will allow as well the capability to stop/start the cluster which will stop/start all it's nodes in a supported manner.

We believe these should meet most the use cases of this iss

[2020-07-20 10:04] limz8319 commented on #326
it works for me

[2020-07-20 11:04] TomGeske commented on #1591
@kenans: Yes, that's definitely in our pipeline. Plan is to validate first bring your own control plane MI, once we are good we will others like Kubelet for bring your own.

[2020-07-20 12:10] bitsofinfo commented on #1516
not stale

[2020-07-20 12:35] andyzhangx commented on #1516
any update? Thanks.
@VybavaRamadoss @RenaShahMSFT @gunjanj

[2020-07-20 12:48] ohorvath commented on #1733
To be honest, notification after deprecation is way too late. We still have to provide the patch version in the arm template which can be removed from the api randomly by Microsoft. This behaviour caused production issues for us already. Of course we can query the api for the latest version available but that's also risky. We need time to test against the latest patch versions even it should be ok

[2020-07-20 13:20] fabiodoaraujo commented on #1320
I got the same issues. Pods stopped resolving Kubernetes service names.
During troubleshooting, the name resolution started working again and we got these events on kube-system namespaces:

[code]

[2020-07-20 15:10] ppanyukov opened #1736 "OMS: can we customise omsagent-rs-config config map?"
We are shipping all logs from AKS to Log Analytics. This is done by OMS agents.

Since Log Analytics is priced on per-byte of ingested volume, we would like to have the OMS log volume under control so that our CFO doesn't get a heart attack after the next Azure bill :)

What are the options for tuning the log collection volums/interval with OMS agent? I am talking about things wihch end up in thes

[2020-07-20 17:27] palma21 commented on #1733
Understood that's a bit of a different request than the above comments though.

It's a tricky problem because patch versions drop at any time "unannounced". So we try to keep 2 patch versions so that if you're on the latest one at all times you still don't break because that one would just slide to the last patch supported.

Would having an alias that allows you to deploy 1.16 or 1.17 without spec

[2020-07-20 18:07] palma21 commented on #1522
@MikkelHegn @macolso

[2020-07-20 18:09] palma21 commented on #1561
This is a specific case, my recommendation would be to open a support ticket so we can look at your cluster.

The cluster info and agent VM sku will be helpful in that case for us to take a look

[2020-07-20 18:09] palma21 commented on #1561
Closing for now, waiting for Support Ticket.

[2020-07-20 18:09] #1561 closed

[2020-07-20 18:09] #1560 closed

[2020-07-20 18:26] tcz001 commented on #1421
Hi @andyzhangx thanks for your solution, we are now seeing some vulnerabilities in this image you refered in your repo, do you mind sharing your Dockerfile and scripts to build the image, so that we can address those vuls inside, thanks

[2020-07-20 18:32] ohorvath commented on #1733
Thanks for your answer. Yes, if we can deploy the latest patch from ARM specifying only the minor version can solve our problems.

[2020-07-20 18:37] palma21 opened #1737 "Support create AKS cluster by specifying only kubernetes minor version"
Eg.

`az aks create -n AKS -g AKS -k 1.16`

Allowing to omit the patch version, default to latest patch.

[2020-07-20 18:38] palma21 commented on #1733
Ok I created https://github.com/Azure/AKS/issues/1737

To track that.

[2020-07-20 18:40] palma21 commented on #1552
Seems like a bug, @weinong @xizhamsft what do you think?

[2020-07-20 18:45] weinong commented on #1552
@palma21 I think the fix should be adding `Microsoft.ContainerService/managedClusters/read` to `Azure Kubernetes Service Cluster User Role` and `Azure Kubernetes Service Cluster Admin Role`

[2020-07-20 18:45] palma21 commented on #1552
Agreed. Added the ask

[2020-07-20 20:42] itszakko commented on #1052
Hi, is this still being worked on? It's still something we're having to hack around.

[2020-07-20 23:31] #1304 closed

[2020-07-21 01:19] curtdept commented on #1502
Staling out :(

[2020-07-21 01:38] shahga commented on #1639
This feature is needed to prevent cluster sprawl in large enterprises and it bring feature parity with Azure CNI

[2020-07-21 01:53] elsesiy commented on #1485
Shouldn't be stale :)

[2020-07-21 04:58] palma21 commented on #1376
Closing as per confirmation

[2020-07-21 04:58] #1376 closed

[2020-07-21 05:25] palma21 commented on #1314
Converting this into a feature request pending the completion of the above item.

[2020-07-21 05:43] palma21 commented on #1216
I'm closing this issue as the doc clarification was added.

In terms of explanation why the difference I can't speak by the other cloud providers as I don't have visibility on the workloads and customers there, AKS is fairly conservative in what regards to protecting the cluster against "rogue" or misbehaved workloads, which have caused a lot of issues in the past when workloads can race faster fo

[2020-07-21 05:43] #1216 closed

[2020-07-21 05:49] palma21 commented on #1090
marking as stale

[2020-07-21 05:49] #1090 closed

[2020-07-21 05:50] palma21 commented on #843
closing as stale

[2020-07-21 05:50] #843 closed

[2020-07-21 05:50] tomkerkhove opened #1738 "Support for multi-region clusters"
Support for multi-region clusters so that we can use one cluster with node pools across regions.

This would allow us to run workloads in a high available manner given workloads will be moved to alternative node pool if the current one is unavailable due to service outage.

This also provides a single-cluster experience for global platform scale.

In the case of HA, having a "secondary" / "fallbac

[2020-07-21 05:54] tomkerkhove commented on #1733
If you need feedback on those events, let me know! /cc @jluk

[2020-07-21 06:50] HollyQM opened #1739 "Please help improve error message accuracy for custom node resource group"
feedback from customer when customing node resource group with label starts with "_" he faced cluster deployment error and node not showing not ready

the error we saw from kubelet log:
Jul 17 00:04:55 aks-nodepool1-36196007-vmss000000 kubelet[3582]: E0717 00:04:55.892915    3582 kubelet_node_status.go:92] Unable to register node "aks-nodepool1-36196007-vmss000000" with API server: Node "aks-nodep

[2020-07-21 06:51] mislavcosic commented on #1592
@andyzhangx
A workaround is to create a private endpoint on the storage account. This way the file share has the private IP, so it can be mounted.

[2020-07-21 07:52] rvashishth opened #1740 "aks failed to provision pvc with azurefile-premium storage class"
**What happened**:
Failed to use default storage class `azurefile-premium`

**What you expected to happen**:
We should be able to create PVC with `azurefile-premium` storage class.  While other default storage classes as, `default`, `managed-premium` and `azurefile` works as expected.

**How to reproduce it (as minimally and precisely as possible)**:
1.  Create a spec file with below content
[code

[2020-07-21 08:20] ball-hayden commented on #1362
We resolved this issue by switching to GKE.

[2020-07-21 08:20] #1362 closed

[2020-07-21 09:45] andyzhangx commented on #1592
hi @mislavcosic  we already added private link support on latest azure file csi driver, it's currently only available on master branch: https://github.com/kubernetes-sigs/azurefile-csi-driver/pull/300

[2020-07-21 10:19] stmaute opened #1741 "AKS Node Pool Upgrade Strategy"
General question regarding the upgrade strategy of node pools. In the docs I found following description how node pools are upgraded to a new version. This upgrade process makes total sense to me.

Upgrade a cluster
To minimize disruption to running applications, AKS nodes are carefully cordoned and drained. In this process, the following steps are performed:

1. The Kubernetes scheduler prevents

[2020-07-21 10:22] stmaute commented on #274
Still an issue. But I observed that the new node get in ready state after 5 min. But regardless of the state of the new node the upgrade process is started. This should be fixed ASAP IMHO.

[2020-07-21 12:20] #1531 closed

[2020-07-21 12:23] rgrwatson85 commented on #1531
The reason this failed is due to the cluster using a custom route table. When a new node was created, it could not do any DNS resolution. We have worked with Microsoft’s global black belts to get this issue resolved.

[2020-07-21 14:14] djsly commented on #1417
I'm all for unification

[2020-07-21 14:18] ahelwer commented on #1206
This is still active.

[2020-07-21 14:35] RamakantDBA commented on #1573
As of v1.10.1 of the Kubernetes dashboard or kubernetes v1.16+ the service account "kubernetes-dashboard" can no longer be used to retrieve resources due to a security fix in that release. Thus the 'clusterUser' works.

[2020-07-21 15:05] andyzhangx commented on #1421
@tcz001 you could find docker image here: https://hub.docker.com/r/meltwater/docker-cleanup/

[2020-07-21 15:08] andyzhangx commented on #1740
@rvashishth the minimum size of premium file share is 100GB, and the error msg is now misleading, azure file team are working on changing the error message.

[2020-07-21 15:08] #1740 closed

[2020-07-21 15:10] andyzhangx commented on #804
This issue is already fixed in k8s v1.19.0 and latest azure file CSI driver.

[2020-07-21 19:46] ncole commented on #1733
To my knowledge, the Advisor doesn't help with tooling that doesn't use the portal.  Ideally the API will provide information that the current cluster's version is deprecated and action needs to be taken.

[2020-07-21 20:09] Bessonov commented on #1484
further activity occurs

[2020-07-21 20:12] Bessonov commented on #1381
further activity occurs

[2020-07-21 20:12] Bessonov commented on #1394
Action required from @Azure/aks-pm

[2020-07-21 20:17] palma21 commented on #1733
Advisor provides a rest API to get recommendations programmatically as well, but what I meant above is that you can create an alert, on my screenshot I think that's cut, which you can can hook any automation runbook.

For more custom event based driven that's the case for the event grid integration we're working on.

![image](https://user-images.githubusercontent.com/7065724/88102303-2f54cf00-cb54

[2020-07-21 22:02] DmitrySemchenok opened #1742 "Is there a way to configure flags on kube-controller-manager for HPA"
Hello. The question is following:
We currently need to set custom values to following flags on kube-controller-manager
--horizontal-pod-autoscaler-initial-readiness-delay
--horizontal-pod-autoscaler-cpu-initialization-period
Is there a way to configure those values on aks cluster?
If not then is there any other way to prevent HPA from collecting metrics of not ready deployments in cas of long pods

[2020-07-21 23:08] Silvenga opened #1743 "AAD Stopped Working"
**What happened**: AAD managed cluster no longer accepts authentication, even with admin keys.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Occurs with both the admin credentials and user credentials:
[code]
[code]

**Anything else we need to know?**:

We've also "Upgraded to AKS-managed Azure AD Integration" - https://docs.microsoft.com/en-

[2020-07-22 00:15] asubmani commented on #1729
Thanks @palma21,  we tried private clusters, however ran into the documented restrictions, especially the "UPTIME SLA". Also heard from community that this is not compatible with UDR mode.
We use Azure firewall and have found that allowing "application rule" to `*.hcp.eastus.azmk8s.io,*.tun.eastus.azmk8s.io,aksrepos.azurecr.io`  (among several others) is INSUFFICIENT,  as AZ FW looks for SNI-HEADE

[2020-07-22 06:00] aristosvo commented on #1743
Because AKS-managed AAD is GA since yesterday, it might have something to do with that.

Maybe removing the aks-preview extension for az cli and updating az cli to the latest version will solve the problem.

[2020-07-22 06:56] tomkerkhove commented on #1733
Once a cluster version is deprecated (and you are notified by approach above) you can:
1. Use [Pluto](https://github.com/FairwindsOps/pluto) to see if your apps are impacted
2. Add a new node pool with new Kubernetes version
3. Move workloads
4. Remove old node pool

[2020-07-22 06:59] tomkerkhove opened #1744 "Provide information on deprecated features in new Kubernetes versions based on current workload"
Kubernetes versions are being deprecated every now and then and it would be nice if Azure can help customers migrating off of it.

As of today, Azure Advisors already provides a heads-up on clusters that are deprecated, but it would be nice if it could help customers migrate to newer versions by showing them what features are deprecated based on current running workload.

That way, we have a bette

[2020-07-22 07:02] tomkerkhove opened #1745 "Provide opt-in for automatic cluster upgrades"
Provide opt-in for automatic cluster upgrades which handles the following upgrade process for us:
1. Add node pool with new version
2. Migrate workloads
3. Remove old node pool

This could be based on #1744 where the impact on the current workload has to be none existing, otherwise it would not kick in.

This would be Kubernetes PaaS for me given we don't want to worry about the cluster version an

[2020-07-22 07:29] aviorma commented on #1516
Same case, any update ?

[2020-07-22 07:39] ch-bohlen commented on #1669
You can use kubelogin (https://github.com/Azure/kubelogin) to work around this issue.

[2020-07-22 07:53] ch-bohlen commented on #1428
I am seeing some strange behavior on an AKS cluster configured to use managed identities which may be related to this issue:

Whenever a pod is scheduled on a node where one of its container images is not yet cached (or `imagePullPolicy` is `Always`), the pod goes into the `ErrImagePull` state (and finally into `ImagePullBackOff`) with the Docker daemon responding `Failed to pull image "<IMAGE>":

[2020-07-22 08:23] palma21 commented on #1744
Thanks for the feedback. Both AKS Diagnostics and Azure Advisor already provide deprecated API info for a particular cluster. It just doesn't show which specific API it is today.

Is the ask around the former or the latter?

[2020-07-22 08:44] palma21 commented on #1206
This should not be experienced on the latest client versions. Are you still seeing this?

[2020-07-22 08:52] palma21 commented on #1398
You cannot change kube-system component's manifests.

You can and we recommend you to use
1) system pools. All system components have soft affinity for system pools. https://docs.microsoft.com/en-us/azure/aks/use-system-pools
2) Taints and tolerations. Namely the criticalAddonsOnly taint which is already tolerated by all non-daemon set system components. Daemon Sets tolerate all.

let is know if y

[2020-07-22 08:52] #1398 closed

[2020-07-22 08:53] palma21 commented on #1400
AKS now only uses MCR

[2020-07-22 08:53] #1400 closed

[2020-07-22 08:53] xinity commented on #1107
if you plan to use this method, you have to choose between:
- adding another node pool (as a user node pool)
- remove the taints from your single system node pool or else your applications won't schedule on the newly created system node pool.

just saying @jluk @victornoel @simonetino :)

[2020-07-22 08:57] BernieWhite commented on #1286
I think this is still a valid issue.

[2020-07-22 09:02] TomGeske commented on #1428
@ch-bohlen: Are you using windows or linux node pools?

[2020-07-22 09:05] palma21 commented on #1405
This is not something we see on normal deployments,

For example, a simple

[code]
just works, same happens if I use ARM, python or go SDKs.

So it seems that the scenario under which this happens is restricted to what TF is doing.  When AKS is deleted all those resources are cleaned up as expected, but you need to send the call to delete it first. Could it be that TF is not following the same ord

[2020-07-22 09:12] palma21 commented on #1408
You could use the rotate certs to expire the admin credentials. But would this solve your PIM requirements instead:
https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac

After removing the role and waiting 5min the user no longer has access to cluster admin.

[2020-07-22 09:14] palma21 commented on #1422
This should be fixed. Let us know if you still experience it

[2020-07-22 09:14] #1422 closed

[2020-07-22 09:16] palma21 commented on #1426
@saaror do you have any updates if this is on the roadmap?

[2020-07-22 09:18] palma21 commented on #1443
You can enable via ARM. We can take this as a CLI feature request.

[2020-07-22 09:19] palma21 commented on #1444
Closing after answer was provided. Please do open another ticket if necessary

[2020-07-22 09:19] #1444 closed

[2020-07-22 09:22] palma21 commented on #1449
Thanks for the feedback, it's a great ask. Added to the backlog

CC @xuto2 @bowang-666

[2020-07-22 09:26] palma21 commented on #1450
AKS does not support the use the IaaS APIs for the resources under an AKS cluster. Only the AKS APIs

https://docs.microsoft.com/en-us/azure/aks/support-policies#user-customization-of-worker-nodes
https://docs.microsoft.com/en-us/azure/aks/faq#can-i-use-the-virtual-machine-scale-set-apis-to-scale-manually

Hope this helps clarify

[2020-07-22 09:26] #1450 closed

[2020-07-22 09:30] palma21 commented on #1475
You no longer need to explicitly introduce the load balancer parameter. An LB is still created but purely for outbound connection of the nodes. You can totally use only ILB for Inbound.

You can also restrict the traffic from the nodes only to the required endpoints or even provide your own egress method via UDR.

Ref:
https://aka.ms/aks/egress
https://aka.ms/aks/outbound-type

Let us know if you

[2020-07-22 09:30] #1475 closed

[2020-07-22 09:33] palma21 commented on #1504
Are you deploying the AKS nodes to a private vnet or deploying a private cluster? Seems this would benefit from direct help from our support team to guide you thought the steps. Could you open a support ticket via the Azure Portal for that?

I'll close this issue for now, but feel free to open a new one if you have further questions

[2020-07-22 09:33] #1504 closed

[2020-07-22 09:36] ch-bohlen commented on #1428
@TomGesk: I am using a Linux node pool.

[2020-07-22 09:37] tomkerkhove commented on #1744
This is definately helpful:
![image](https://user-images.githubusercontent.com/4345663/88160208-a2bb1700-cc0e-11ea-8bda-3f3718392fbc.png)

But I'd like to go to my cluster > Upgrade and have an overview of the impact if I were to upgrade (mockup):
![image](https://user-images.githubusercontent.com/4345663/88160936-a307e200-cc0f-11ea-9c2b-caf942e7f7e3.png)

[2020-07-22 09:40] palma21 commented on #1509
This is not a feature supported by the underlying capability: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption#customer-managed-keys

This would have to be supported by Azure first. User voice is likely the best place for that feedback for azure storage: https://feedback.azure.com/forums/217298-storage

@ramankumarlive is this something that is planned/in the roadmap?

[2020-07-22 09:43] mayank-saggar commented on #1487
@palma21 Will this update be a single global rollout or a phased one? Could you shed some light on how the older clusters will receive this update to 18.04?

[2020-07-22 09:43] palma21 commented on #1526
We didn't change anything in that regard, so my recommendations would be to open a support ticket so we can investigate further your cases

[2020-07-22 09:46] palma21 commented on #1540
As @djsly recommended, they way to do that is via a support ticket. We can look into your cluster to see what's different and apply any needed fixes if necessary.

I'll close this ticket for now

[2020-07-22 09:46] #1540 closed

[2020-07-22 09:48] palma21 commented on #1543
As per the doc the time the rules take to be applied can take up to 3 minutes. Several hours is not expected, nor is the second issue.

Could you open a support ticket so we may take a look at your cluster?

[2020-07-22 09:52] palma21 commented on #1487
https://github.com/Azure/AKS/releases

This means that only clusters 1.18+ will receive AKS Ubuntu 18.04 **by default**. Older clusters will receive 18.04 as they upgrade from their version to a 1.18 version.

[2020-07-22 09:55] palma21 commented on #1286
It shouldn't, the issue that caused OP was solved a few months ago. And the dependency has been removed. If there are any issues you've seen please do open a ticket or a separate issue

[2020-07-22 09:55] #1286 closed

[2020-07-22 09:59] nebed opened #1746 "Cannot Create Nodepool with nodelabel on AKS Kubernetes version 1.16.9 & 1.16.10"
**What happened**:
When i try to create a VMSS nodepool through Azure CLI and Terraform with following label `node-role.kubernetes.io/apps=telemetry` on kubernetes version 1.16.9 & 1.16.10 Nodepool gets created but remains in **Failed** state and does not get added in k8s.

The following error is returned on CLI in debug mode
[code]
The nodepool gets created successfully without labels.

**What yo

[2020-07-22 10:43] mohmdnofal opened #1747 "AKS to respect Node Pool Tags Key Name when it is a mixed case"
Hello,

AKS isn't respecting the "key name" when it's in mixed case for the node pool tags i.e. "InternetAccess", the name will always be converted to lowercase. The tag "value" case is respected though, could this be fixed, please?

Use Case: Firewall only allows VM access to the internet using the tags, the current tags that the firewall use is mixed case i.e. InternetAccess=Proxy SecurityZone=L

[2020-07-22 11:08] TomGeske commented on #1428
@ch-bohlen: Did you notice failed auth. attempts in [ACR](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-diagnostics-audit-logs). Did you try steps mentioned [here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-check-health).

[2020-07-22 12:04] denyo commented on #1087
As commented here: https://github.com/coreos/prometheus-operator/issues/926#issuecomment-662414013

In case anyone comes across this issue again with AKS and k8s `1.18.4`.
With the chart `stable/prometheus-operator` in version `9.2.0` removing the suggested change
[code]
fixes the issue.

So there was no need to patch anything on the kubelets with a fresh cluster.

[2020-07-22 13:10] TomGeske commented on #1591
We just shipped preview for bring your own control plane managed identity: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-control-plane-mi-preview. Give it a try and let us know how it goes.

[2020-07-22 14:05] Tbohunek commented on #205
Yes, we still want it! :)

[2020-07-22 14:32] bitsofinfo commented on #1119
not stale

[2020-07-22 14:37] tomkerkhove commented on #1479
Keep-Alive: 60 days

[2020-07-22 15:23] squillace commented on #1331
@bridgetkromhout? I think it's a good idea, but customers WILL question whether we "support" helm. But, as we do the same thing with kubectl (`az aks install-cli`), it makes sense here, too. Though I would ONLY install Helm 3. There is no good reason to make Helm 2 easier to install.

[2020-07-22 15:33] karok2m commented on #1331
@squillace, please note that  [`az acr helm install-cli`](https://docs.microsoft.com/cli/azure/acr/helm?view=azure-cli-latest#az-acr-helm-install-cli) already provides this functionality. So the issue can be close, imho.

[2020-07-22 15:40] Silvenga commented on #1743
So (lightly embarrassing).

I've been using WSL2 for everything Linux related (as the rest of my team). Turns out there's a clock drift problem (my WSL2 instance was over 2 days off from the host's clock) - https://github.com/microsoft/WSL/issues/5324. I assumed the standard Hyper-V Time synchronization services would be enabled, they are not (and of course ntp cannot run as a service under WSL2,

[2020-07-22 15:40] #1743 closed

[2020-07-22 15:46] bitsofinfo commented on #845
not stale

[2020-07-22 16:02] palmerabollo commented on #925
Just in case it's useful, this is the fix in aks-engine https://github.com/Azure/aks-engine/pull/3396, making its log level configurable.

[2020-07-22 16:18] jamesthurley commented on #930
I had a similar issue where I created a B2S node pool and each node had a P10 128GiB disk attached. I expected something more like a P2 8GiB disk, as the B2S VM size is meant to have 8GiB temp storage.

I found that by creating the node pool on the command line with `az aks nodepool add` you can specify `--node-osdisk-size` to override this. In my case I did `--node-osdisk-size 32` to create a 32G

[2020-07-22 17:05] luigibk commented on #1642
All PRs merged:

https://github.com/kubernetes/utils/pull/175

https://github.com/kubernetes/dns/pull/390

I am going to close this.

[2020-07-22 17:05] #1642 closed

[2020-07-22 18:57] alexeldeib commented on #1730
Seems surprising, are you sure you're using the same subscription? AKS VMSS are no different than other VMSS, unless .NET SDK/PowerShell have some bizarre caching I'm unaware of that experience is quite surprising.

Definitely check with powershell folks

[2020-07-22 18:58] alexeldeib commented on #1714
This is an internal error code, i'd recommend opening a support ticket with the unredacted operation/correlation IDs so support can see the full error code in the backend

[2020-07-22 19:02] TomGeske commented on #1633
@muellermatthias: Not sure I understand correctly. You can use your own user assigned MI, assign it to your VMSS and configure CSI driver to use it. More details are [here](https://github.com/Azure/secrets-store-csi-driver-provider-azure/blob/master/docs/user-assigned-msi-mode.md)

[2020-07-22 19:16] ncole commented on #1733
Thanks @palma21, I'll dig a bit deeper there.

[2020-07-22 20:45] squillace commented on #1331
I think not. But you're right, that the cli doesn't need another implementation of the same thing. But we do need an issue in the AKS docs that point out that they can install it by using that call. @iainfoulds

[2020-07-22 20:57] palma21 commented on #1729
Private clusters if definitely compatible with UDR. Uptime SLA is something we're working on right now for it.

I think your issue with Pod Identity will be solved with the addon, and great points on those use cases.

Happy to say we're looking at ways to support updates for all (sometimes it might be a bit disruptive, but will allow you to keep the same cluster config).

For max pods in specific,

[2020-07-22 20:57] #1729 closed

[2020-07-22 21:14] palma21 commented on #1719
That taint is added to avoid workloads to inadvertently land on those pools that can cause disruptions so we require an explicit toleration to the workloads that can go there.

Adding your ask for PodTolerationRestriction to the backlog

[2020-07-22 21:23] palma21 commented on #1710
That error is specific from dotnet trying to do something and not having access here's the related thread on the dotnet repo with workarounds. From the looks seems like the issue is the read only filesystem.
https://github.com/dotnet/runtime/issues/9336

Closing to allow the conversation to proceed there.

[2020-07-22 21:23] #1710 closed

[2020-07-22 21:59] yunjchoi commented on #1746
Hello Uchenna,

In 1.16, Kubernetes has blocked the ability to set `kubernetes.io-` or `k8s.io-`prefixed labels via --node-labels, other than the specifically allowed labels/prefixes documented [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md#proposal).

AKS is working on blocking the creation of such node pools with disal

[2020-07-22 22:08] nebed commented on #1746
Hi @yunjchoi Thanks a lot for the information

[2020-07-22 22:09] jluk commented on #1405
cc @tombuildsstuff in the event he knows if TF has some additional logic for resource deletion

[2020-07-22 22:17] palma21 commented on #1485
The AKS load balancer created by default has a Public IP for _outbound only_. So you need to allow outbound as per:
https://aka.ms/aks/egress

For ingress, and _if_ you have any public ingress IP, you don't have to, you shouldn't need to do anything unless you're explicitly blocking SLB to vnet default rule. In that case you should should allot that rule for the AKS subnet.

Hope this helps lmk if

[2020-07-22 22:20] yunjchoi commented on #1746
Let us know if you have more questions regarding this issue. We will update this thread and close it once the fix goes live.

[2020-07-22 22:42] palma21 commented on #1417
Good point, added generally to backlog

[2020-07-22 23:10] palma21 commented on #1484
We currently block if you add taints to all pools, if you created more than one pool this should work. We can consider adding an exception for soft taints.

[2020-07-22 23:12] palma21 commented on #1381
Do you still see this happening?

[2020-07-22 23:42] ahelwer commented on #1206
Okay I've run some tests again and looks like it has been fixed for ARM templates.

[2020-07-22 23:42] jluk commented on #1206
Closing this as I believe this is addressed, but we can revisit if the issue lingers

[2020-07-22 23:42] #1206 closed

[2020-07-22 23:57] keikhara commented on #1736
@vishiy Can you look into this?

[2020-07-23 00:03] vishiy commented on #1736
@ppanyukov we don’t have a customer specific way to tune the collection frequency for all our data types, yet. We are looking to make it configurable but it has few complexities in our UX that we need to tackle. But this change is something we have been exploring and will happen soon. We are also exploring ways to lower the cost. How much do you think is acceptable cost per node per month? Do u ha

[2020-07-23 00:15] saaror commented on #1426
We have this in our roadmap but please consider that to enable scrapping of all the Prometheus metrics out of the box will going to have cost implications. That being said we are also working on the cheaper storage solution from LA side so that should offset the cost issue.

[2020-07-23 01:14] jon-walton commented on #1669
I previously tried kubelogin and had the same issue. Today however, things appear to be working... @mhsh64 is it working better for you today too?

It looks like it went GA on Tuesday, perhaps it got fixed? https://azure.microsoft.com/en-us/updates/aksmanaged-azure-active-directory-support-is-now-generally-available/

[2020-07-23 01:29] avishnyakov commented on #1517
We've been having similar challenges. Did anyone find a working solution or comments on path forward from Microsoft?
cc @Azure/aks-pm

[2020-07-23 01:32] avishnyakov commented on #1517
Similar problem in https://github.com/Azure/azure-cli/issues/10191

[2020-07-23 02:04] alefred commented on #1573
Thats work for me. thanks!

[2020-07-23 02:17] mhsh64 commented on #1669
@jon-walton
Hi, good point, yesterday (Tuesday) I had the same issue, today I didn’t pay attention honestly. But I will check it closely from now.
Did it fix for you?

[2020-07-23 07:02] nmeisenzahl commented on #1381
Hi @palma21. I just tested it again with 1.17.7 and it looks good. I did not yet test the 1.18 preview.

[2020-07-23 07:57] palma21 commented on #1381
Thanks @nmeisenzahl! Let us know if you find any issues.

[2020-07-23 09:16] ch-bohlen commented on #1428
@TomGeske No, I am neither seeing failed auth nor failed image pulls in the ACR logs.
I just run the proposed health checks, they all complete successfully.

[2020-07-23 09:18] muellermatthias commented on #1633
@TomGeske Using a user assigned MI works for me. That's not the problem. But using a system-assigned MI would simplify the deployment process a lot.
Are there any plans on supporting system-assigned MIs instead of user-assigned MIs or is this technically not possible?

[2020-07-23 10:46] ppanyukov commented on #1736
@vishiy

This is a really tough question. If I asked my boss, he'd say "as little as possible, preferrably free" :)  I don't know how realistic to make this part of Log Analytics part of AKS Management Plane free tier, but that obviously would be ideal from our perspective. Or maybe some shared cost model.

The main issue here is that we have clusters which are in dev, and we really don't care muc

[2020-07-23 10:56] TomGeske commented on #1633
Are you talking about a MI enabled cluster or SP cluster? For security reason you may only want to use a MI that has access to your KeyVault. The System-assigned MI on MI enabled clusters has a broad set of permissions used for infrastructure operations like managing your nodes and network. It’s not recommended to use for KeyVault access.

[2020-07-23 10:57] TomGeske commented on #1428
I would suggest opening a support ticket with us.

[2020-07-23 11:26] jmos5156 commented on #1730
Thanks for the responses. We can replicate the issue on AzureRM module version 5.7.0 and 6.13.1. We now have a support ticket with Azure and they confirm the same. This could be more of a timing issue with Azure metadata refresh. We have found that by leaving a newly deploy private windows AKS cluster for some time, the cmdlets will work, however, the timespan is not concrete (can be mins or hours

[2020-07-23 11:39] jon-walton commented on #1669
I didn't have any trouble today

[2020-07-23 12:09] TomGeske commented on #1576
Current ETA is end of August

[2020-07-23 12:15] TomGeske commented on #1669
Can you update to latest CLI (2.9.1)?

[2020-07-23 12:20] TomGeske commented on #397
--admin is controlled by Azure RBAC role [(azure-kubernetes-service-cluster-admin-role)](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-kubernetes-service-cluster-admin-role). It basically ignores AAD and uses client certificates.

[2020-07-23 12:20] jon-walton commented on #1669
Oh that might be it. I'm back to working from home and this PC has 2.9.0

[2020-07-23 12:24] TomGeske commented on #1271
this one should be fixed. I'm going ahead closing this one. Feel free to keep commenting.

[2020-07-23 12:24] #1271 closed

[2020-07-23 12:48] TomGeske commented on #1553
Current ETA to wrap up final GA items is end of August 2020.

[2020-07-23 12:48] rogelioamancisidor commented on #52
@palma21  is this supported in kubernetes 1.17.7? I can see that when I add a new nodepool I can set it to `user`, but the parameter --min-count cannot be set to 0

[2020-07-23 13:12] muellermatthias commented on #1633
@TomGeske I didn't thought about this security issue, which makes the solution I wanted unfortunately quite unsuitable.
Thanks for the time and help.

[2020-07-23 13:12] #1633 closed

[2020-07-23 13:13] billpieper commented on #1669
I am experiencing this issue and am running CLI 2.9.1.

[2020-07-23 13:39] TomGeske commented on #1669
@billpieper: can you share your setup?
- kubectl version?
- are you using kubelogin?

[2020-07-23 13:41] billpieper commented on #1669
kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.7", GitCommit:"5737fe2e0b8e92698351a853b0d07f9c39b96736", GitTreeSt

[2020-07-23 14:12] christianbeland commented on #1087
I have an AKS cluster that uses AAD and I can confirm you that HTTPS is NOT on.

[2020-07-23 14:17] mhsh64 commented on #1669
I still have the same issue even after upgrading az and kubectl again to the latest version ☹️

[2020-07-23 14:18] joelw commented on #1087
@christianbeland Which Kubernetes version are you using? With 1.16.10 I found that HTTPS and the webhook authentication were both working correctly.

[2020-07-23 15:04] aristosvo commented on #1489
Is this feature really GA? It seems like there is something wrong with it according to https://github.com/MicrosoftDocs/azure-docs/issues/59359, plus I'm facing problems when trying to fix problems with the `azurerm` TF provider

[2020-07-23 15:08] 4c74356b41 commented on #1742
I'd like to add a more general question. is it possible to add\alter any flags at all? like enable alpha features?

[2020-07-23 15:09] TomGeske commented on #1489
@aristosvo: deployment is deplayed. You still require preview flags.

[2020-07-23 15:15] aristosvo commented on #1489
Wow, thanks for letting me know. We had rollout to PRD already planned, any predictions on the timeline?

[2020-07-23 15:24] 4c74356b41 commented on #1738
why would it be unbillable? well, unless vms are stopped.

[2020-07-23 15:32] tomkerkhove commented on #1738
Yes, because they are unallocated

[2020-07-23 15:33] christianbeland commented on #1087
Both clusters use 1.15.7

[2020-07-23 16:01] jluk commented on #1730
Thanks for confirming the state @jmos5156 I'm going to close this issue for now, in favor of the PS issue feel free to link it here. I'll add a tag noting an SR is opened as well.

[2020-07-23 16:01] #1730 closed

[2020-07-23 16:02] jluk commented on #1381
Closing for now, but we can revisit if more issues occur on this specifically. cc @aanandr

[2020-07-23 16:02] #1381 closed

[2020-07-23 16:12] 4c74356b41 commented on #1738
you can do this now with AFD or TM, you cant move disks between regions, so I'm not sure what's the exact benefit you are looking for. I dont think there is any issue with configuring 2 clusters in the same way, given gitops\helm\etc.

[2020-07-23 16:16] weinong commented on #1669
you probably hit https://github.com/kubernetes/kubernetes/issues/82776
the fix is in 1.19 (not yet released)

this is why kubelogin is promoted as that is released outside kubernetes cadence and we have full control. :)

if this happens on kubelogin, let us know.

[2020-07-23 16:24] tomkerkhove commented on #1738
I don't want 2 clusters, I just want one cluster with node pools across regions so that my workloads are automatically balanced in case of an incident.

[2020-07-23 16:26] jon-walton commented on #1669
@weinong any plans to make `az aks get-credentiale` write a kubelogin compatible kubeconfig?

[2020-07-23 16:39] weinong commented on #1669
great question. it's almost done. i think it will be available in next couple of weeks. this is one of the PR: https://github.com/Azure/azure-cli/pull/14441

[2020-07-23 17:23] jluk commented on #1747
Acknowledging we are looking into this

[2020-07-23 17:39] jluk commented on #994
This capability is now in public preview for support of AKS in RHC (resource health check).

https://docs.microsoft.com/en-us/azure/service-health/resource-health-checks-resource-types

[2020-07-23 18:29] rodriguezsergio commented on #252
Is this possible yet? I've been looking everywhere for a straight forward solution and thought I had something with the following but it does not work.

[code]
I then went and did the following:

[code]

The new nodes spun up, but did *NOT* join the kubernetes cluster. So clearly I messed up some AKS cloud-init joining functionality.

[2020-07-23 18:55] porrascarlos802018 commented on #1478
Standard_E16ds_v4  doesn't seems to be enabled on eastus for AKS, please advise when we could get them available.

[2020-07-23 18:58] ultimateboy commented on #252
@rodriguezsergio it has always been possible to use registries beyond ACR with an AKS cluster if access and credentials are handled. I do not see anything in your comment about a registry. Please open a new issue as this issue does not seem related.

[2020-07-23 19:05] rodriguezsergio opened #1748 "Custom kubelet config at cluster creation time"
**What I would like to achieve:** either through terraform (ideally), the CLI, or the Go SDK, I would like to have the ability to define docker registry credentials in the kubelet configuration file `/var/lib/kubelet/config.json` at `terraform apply` time so that I do not have to do `imagePullSecrets` in my manifests.

I see that I can add a "user" node pool to an existing Kubernetes cluster and t

[2020-07-23 19:05] rodriguezsergio commented on #252
https://github.com/Azure/AKS/issues/1748 opened

[2020-07-23 19:59] shivabommakanti03 opened #1749 "Ability to shorten the InstanceName value in LogAnalytics Workspace query"
When I try to remove preceding of the InstanceName in LogAnalytics it does not let me do it. And, in kusto query if I select InstanceName in summarize section I can only exclude anything that is related to InstanceName but not _ResourceID which is common in every InstanceName.

Please find screenshots below
![Screen Shot 2020-07-23 at 2 57 41 PM](https://user-images.githubusercontent.com/53050834/

[2020-07-23 20:13] wereeder commented on #1746
I am getting the same error, and not passing any labels to the command to add the nodepool.

Here is the command:
`az aks nodepool add --cluster-name _cluster_name_  --name nodepool --resource-group _rg_name_  --subscription _subscription_id_ --node-count 1 --mode User --node-vm-size Standard_D2_v2 --vnet-subnet-id _subnet_id_
`

I also get the same problem when I create the nodepool through the p

[2020-07-23 23:25] palma21 commented on #1476
Closing this as these updates have been rolled out in June.

[2020-07-23 23:25] #1476 closed

[2020-07-24 03:31] k8s42 opened #1750 "coredns-custom ConfigMap Hosts Plugin with Private IP Sporadically Doesn't Work"
**What happened**:
Followed this Microsoft article to create hosts file entry (using `coredns-custom` ConfigMap file) to resolve standard file storage account endpoints to the respective private IPs (using private endpoints):

https://docs.microsoft.com/en-us/azure/aks/coredns-custom#hosts-plugin

[code]
**What you expected to happen**:
Volumes should've mounted to the containers 100% of the time

[2020-07-24 04:57] vk185137 commented on #929
i had the similar issue **Status=403 Code="AuthorizationFailed"**

[2020-07-24 05:01] vk185137 commented on #929
here is the code:
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: sc-test
  namespace: kube-logging-test
provisioner: kubernetes.io/azure-file
reclaimPolicy: Retain
parameters:
  skuName: Standard_LRS
  location: eastus
  resourceGroup: *******
  storageAccount: *******
  shareName: *******

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sc-test-pvc
  namespac

[2020-07-24 05:02] vk185137 commented on #929
Can anyone help me on this.

[2020-07-24 05:06] programmersommer opened #1751 "securityContext doesn't work in deployment"
I am using AKS version 1.15.11 with 3 nodes and ASP.NET Core applications.
[Based on Best practices for pod security in Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/aks/developer-best-practices-pod-security) I am trying to add securityContext for deployment. But I am receiving next one exception:

If you want to reproduce, please add next part to deployment yaml:

[code]

When

[2020-07-24 05:30] tomkerkhove commented on #994
Great to hear! Unfortunately, I don't see it listed on that link; what is it checking for at the moment?

[2020-07-24 05:31] rodriguezsergio commented on #1748
I was able to accomplish what I wanted with a daemonset.

[2020-07-24 05:31] #1748 closed

[2020-07-24 06:52] TomGeske commented on #1750
+@palma21  to help.

[2020-07-24 07:04] TomGeske commented on #1751
@programmersommer: I think fsGroup needs to be on pod level: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/.

[2020-07-24 07:13] palma21 commented on #1750
@andyzhangx could this be related to the needed changes upstream for storage datapath?

[2020-07-24 07:15] palma21 commented on #1331
AKS Docs now is @mlearned, @zr-msft, @laurenhughes

Zach does our helm example already leverage this?

[2020-07-24 07:55] TomGeske commented on #1489
@aristosvo hopefully in a few days. I update this issue once the deployment starts.

[2020-07-24 08:00] palma21 commented on #52
are you using the extension CLI or main CLI? And could you share the versions?

[2020-07-24 08:09] rogelioamancisidor commented on #52
it should be the main CLI, and the version is azure-cli 2.5.1. Should I update it to 2.9.1?

[2020-07-24 08:27] ams0 commented on #1557
FWIW, I bumped into this today. I use Terraform (code here: https://github.com/ams0/terraform-templates/blob/80ca9858b09ed44ebb9b23bf3cd866c8d788861d/appgw-wildcard-aks/modules/aks/main.tf#L38) to assign the `SystemAssigned` identity the `Network Contributor` role on the custom vnet (in another RG). The problem is the propagation time of the role: for every run one or both cluster have their `helm

[2020-07-24 08:42] MuziSakura commented on #1050
Hi, I try to add another system node pool and change previous system node pool to "User" mode successfully. But I still can't scale that previous node pool to zero. Does it seems right?

[2020-07-24 08:52] TomGeske commented on #1557
@ams0 did you try bring your own user assigned: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-control-plane-mi-preview?

[2020-07-24 09:14] ams0 commented on #1557
@TomGeske I specifically wanted to avoid creating/managing the identity with Terraform. After all, UserAssigned and SystemAssigned should be equivalent except for the lifecycle.

[2020-07-24 09:16] palma21 commented on #1746
@wereeder could you provide the aks create command for that cluster paste the error that you're getting exactly?

That one seems to be different from this issue where unhallowed labels were being used. So it might warrant it's own issue

[2020-07-24 09:22] TomGeske commented on #1044
We recently published a new version of our egress doc [here](https://docs.microsoft.com/en-us/azure/aks/egress) to cover those questions.

I'm closing this one for now. Keep commenting if you have further questions.

[2020-07-24 09:22] #1044 closed

[2020-07-24 09:22] palma21 commented on #52
You'll need to use the latest CLI extension (aks-preview) until the next main CLI is released when this is GA.

Let me know how that goes.

I didn't answer in my previous reply but this should work for any supported kuberntes version on AKS.

[2020-07-24 09:24] TomGeske commented on #1069
This one should be fixed.

I'm closing this one for now. Keep commenting if you have further questions.

[2020-07-24 09:24] #1069 closed

[2020-07-24 09:29] TomGeske commented on #1146
This one should be fixed.

I'm closing this one for now. Keep commenting if you have further questions.

[2020-07-24 09:29] #1146 closed

[2020-07-24 09:33] TomGeske commented on #1718
Did you upgrade in Nodepool section?

![image](https://user-images.githubusercontent.com/3658893/88378463-56eca700-cda1-11ea-8a3e-2bf0eaf4c20b.png)

[2020-07-24 09:35] TomGeske commented on #1557
It's a chicken and egg problem. You need to assign permissions ahead of cluster creation to an identity that doesn't exist yet.

[2020-07-24 09:46] TomGeske commented on #1714
@smartpcr and @ohorvath : did you manage to open a support case with us?

[2020-07-24 09:51] TomGeske commented on #1705
@karok2m you can use our REST API to query this,
Did you manage to use the code sample provided @ StackOverflow?

[2020-07-24 10:04] TomGeske commented on #1704
jmos5156: For KV access you should consider using kubelet user assigned MI or use [pod identity](https://github.com/Azure/aad-pod-identity)

The removal of custom added MIs is a know issue. We are working on fixing it.

#1650

[2020-07-24 10:13] rogelioamancisidor commented on #52
ok. I have added the extension `aks-preview` now. Then I tried to add a new nodepool like like this `az aks nodepool add --resource-group mygrpname --cluster-name myclustername --name myname --node-vm-size Standard_NV6_Promo --min-count 0 --max-count 1 --node-count 1 --enable-cluster-autoscaler --mode user` and got the error message `agentPoolProfile.minCount is invalid`

[2020-07-24 10:21] TomGeske commented on #1703
agentPoolProfiles array is our current [API](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters)

By nested resources you refer to [linked templates](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/linked-templates)?

[2020-07-24 10:57] jmos5156 commented on #1745
I'd agree with this. Furthermore, we have seen that Azure will perform the upgrade on a node pool with only one node and not scale up or create a new pool, resulting in a total loss of service until the node pool is back up and K8 downloads images to start pods back up again.

[2020-07-24 12:04] jmos5156 commented on #1704
Hello,
Pod Identity does not yet work on windows nodes.
Which user is assigned to the kubelet? Is it the one named <aks cluster name>agentpool? If so granting this user access to KV does not work.

[2020-07-24 12:24] wereeder commented on #1746
Hi @palma21 I have attached the Terraform scripts I used to create the cluster
[terraform.zip](https://github.com/Azure/AKS/files/4971873/terraform.zip)

Here is the exact error I get when running az aks nodepool add:
Deployment failed. Correlation ID: c2fe1f3c-9e9c-41b3-b22a-509a61026a28. Not all nodes reached Ready state. Expected: 1, Actual: 0

[2020-07-24 12:44] JosPolfliet commented on #1565
Hi @jluk , any update on this?

[2020-07-24 12:49] Flodu31 commented on #274
Hello,

I have the same issue, on AKS 1.16.10...

Any update on this?
Thanks.
Florent

[2020-07-24 13:05] TomGeske commented on #1704
Okay, understand.

The one called agentpool should work. Are you using FlexVol or [secret store CSI](https://github.com/Azure/secrets-store-csi-driver-provider-azure) driver to access KV?

Please, share your configuration.

[2020-07-24 15:01] andyzhangx commented on #929
@vk185137 same issue as https://github.com/andyzhangx/demo/issues/8#issuecomment-662408547

[2020-07-24 15:42] roy-work opened #1752 "coredns errors, timeouts"
**What happened**:
We saw a few thousand errors from `coredns`:
[code]

"overflow unpacking uint32" seems to have nothing to do with overflow; AFAICT, it is a failed bounds check during the decoding of the DNS packet; it seems that coredns chooses some rather conservative sizes for its buffer for incoming UDP packets (512 B at one point; I'm not sure what the value used by the current version of c

[2020-07-24 15:53] karok2m commented on #1705
@TomGeske, I ended up using `Microsoft.Azure.Management.Fluent` package and its `IAzure` interface. The code looks something like this:

[code]

The peculiarity of this call is that it returns much more results than `az aks get-versions`. So I had to find latest patch version of a specific Kubernetes version (`1.16.x`) that I was looking for. But I would have to do this filtering in any case.

[2020-07-24 15:55] jluk commented on #994
PRs are in-flight with those details, we will update the OP with full links and info when merged!

[2020-07-24 15:58] jluk commented on #1050
@btnguyen2k that is indeed a valid case, but once you hit zero nodes due to Spot eviction - you will need to manually request more nodes even if CA is enabled due to issue #1565. Once we close that CA should automatically scale up from zero as well if Spot nodes are available at your maxPrice.

@MuziSakura can you open a new issue with the error you are getting when trying to manually scale a user

[2020-07-24 16:18] vishiy commented on #1749
@shivabommakanti03 - Based on your screenshot, you are trying to filter by _ResourceId *after* summarizing by  avg_value, time &  instance name. At that point your data set has only exactly those 3 columns and its values and not _ResourceId. You need to move your filtering before summarize.

[2020-07-24 16:33] TomGeske commented on #1739
@jluk for visibility on this feedback.

[2020-07-24 17:12] TomGeske commented on #1705
@karok2m seems like ListKubernetesVersionsAsync returns a string list only. You may want to use REST API to query and parse by yourself.

https://docs.microsoft.com/en-us/rest/api/container-service/container%20service%20client/listorchestrators

[2020-07-24 17:18] shivabommakanti03 commented on #1749
@vishiy Thanks for suggestion and I used my filtering before summarize but I still see my result giving full instance name which I am not expecting to see.

`Perf
| where ObjectName == "K8SContainer" and CounterName  == "cpuUsageNanoCores" and _ResourceId !contains "/subscriptions/xxxxxxxxxx/resourceGroups/xxxxxxxx/providers/Microsoft.ContainerService/managedClusters/xxxxxxxx/"
| summarize AvgCPUU

[2020-07-24 17:21] TomGeske commented on #1752
+@palma21 can you take a look here?

[2020-07-24 17:24] TomGeske commented on #1752
I found this error message also upstream in coredns project.

[2020-07-24 17:29] vishiy commented on #1749
How are you accessing the workspace query ux ? If you come from an AKS cluster, you are querying for that specific cluster resource. If you go to workspace directly in the UX and query you can query for *any* resource sending data to that workspace.

[2020-07-24 17:30] TomGeske commented on #1716
Current ETA for deployment is end of September 2020.

[2020-07-24 17:45] shivabommakanti03 commented on #1749
If you go to workspace directly in the UX and query you can query for any resource sending data to that workspace.

^^ this is my issue.

[2020-07-24 18:56] vishiy commented on #1749
did that resolve your issue ?

[2020-07-24 19:18] djsly commented on #1087
on my 1.15.10 cluster with AAD enabled

[code]

I don't have a cluster with no AAD

[2020-07-24 21:40] palma21 commented on #1745
@jmos5156 every nodepool upgrade creates a new node to drain applications too as described in the upgrade docs. If the nodepool has 1 node, it will create second one as buffer. Same for any number of nodes.

Does your application run in HA with pod disruption budgets? Otherwise no matter how many new nodes or nodepools are created, the drain will drain all pods for the node in parallel

[2020-07-24 22:21] palma21 commented on #1544
Please see:
https://docs.microsoft.com/en-us/azure/aks/troubleshooting#im-receiving-tcp-timeouts-such-as-dial-tcp-node_ip10250-io-timeout

and

https://docs.microsoft.com/en-us/azure/aks/troubleshooting#im-receiving-tcp-timeouts-when-using-kubectl-or-other-third-party-tools-connecting-to-the-api-server

Those errors means required communications paths are being blocked.

Either node to node commun

[2020-07-24 22:56] palma21 commented on #52
sorry I missed the parameter you placed there. You added --min-count and I read --count

--min-count will set it for the autoscaler. You can scale to 0 not autoscale to 0.

As I mentioned above

Autoscaler doesn't support autoscale to and from 0 today in Azure yet, because there are a lot of edge cases upstream and we chose to instead of supporting it with those edge cases, to actually fix those b

[2020-07-24 23:04] palma21 commented on #1746
Yes so your case is definitely different. Could you open a support ticket so we can take a look?

Feel free to post the number here for us to follow up. We can then bring the discussion there so we don't mix with this one.

CC @TomGeske

[2020-07-24 23:12] palma21 commented on #1565
Update here: https://github.com/Azure/AKS/issues/52#issuecomment-660897690

It's slated for the end of the month.

[2020-07-24 23:13] jluk commented on #1739
@hollyqm you mention the node resource group in the first sentence, but the error looks like an invalid label was attempted to be applied to a node and has nothing to do with the node resource group.

Was this node label applied via the AKS node pool API or was the node label applied via kubectl?

AKS validates API requests to set a node pool, but if the incorrect label was applied via kubectl tha

[2020-07-25 19:49] rwerlang commented on #274
Hello, what is the status on this issue?
Just had the same problem here on AKS 1.16.10.

There are no logs to support what happened.
This is critical, since it is happening in production environment.

[2020-07-25 22:14] kubealex commented on #173
still here in 1.18x

[2020-07-26 18:49] programmersommer commented on #1751
Thank you @TomGeske, for a quick response.
The link that you have provided says "Configure a Security Context for a Pod _or Container_". For example, in my case, I don't have pod yaml at all. I have containers configuration inside deployment yaml.

[2020-07-26 20:39] k8s42 commented on #1750
@palma21 @andyzhangx, are there any additional CoreDNS (or other) configuration changes needed to get this working?

[2020-07-26 20:57] saaratstaples commented on #1391
@palma21 - Can we please get this prioritized/assigned? This generates ~1GB of logs on each of our nodes.

[2020-07-27 02:23] feiskyer commented on #1312
/assign @norshtein

[2020-07-27 05:36] TomGeske commented on #1394
+@palma21

[2020-07-27 05:55] TomGeske commented on #1391
@palma21

[2020-07-27 06:02] TomGeske commented on #1468
@droessmj: We use self-signed certificates in AKS. That's most likely the reason why you see the error / warning message.

[2020-07-27 06:05] TomGeske commented on #1468
@edernucci: we do send communication to subscription owners for expiring cluster CA.  Let me check if we can start another round to resend.

[2020-07-27 06:27] palma21 commented on #1752
Yes this normally would be a malformed response, the following timeout is interesting though. Could any of your traffic be blocked by any chance?
I think the best way here is to open a support ticket since it's likely related to this cluster only so we may also involve the folks from Azure DNS.

[2020-07-27 07:48] TomGeske commented on #1687
@palma21

[2020-07-27 07:52] palma21 commented on #274
Hi folks, apologies this issue is seemingly without any response. The problem is that all the reports here are not consistent with one problem but likely with small isolated problems and the conflation of issues are making them hard to solve/pinpoint.

I've seen a few folks that were actually describing the by-design experience of upgrade: https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster

[2020-07-27 07:53] TomGeske commented on #1684
@PrabhuMathi: Which IP are you referring to? Node IP?

[2020-07-27 08:02] TomGeske commented on #1683
Just checking-in: @oscar60310 you can find the VMSS in your node resource group.

You can use az aks show to find the node resource group for your cluster.
`az aks show -n <cluster-name> -g <resource-group-name> --query 'nodeResourceGroup' `

[2020-07-27 08:05] PrabhuMathi commented on #1684
Hi @TomGeske it is node IP.
But, did some more analysis on this issue and identified AKS does not create a explicit kubelet service in the cluster.
This was created by our monitoring setup in Prometheus. We were using old setup and caused this issue. Fixed after updating the monitoring setup pointing to node service. You can ignore this from AKS perspective please.
Thanks,
Prabhu

[2020-07-27 08:06] palma21 commented on #1696
@feiskyer could you help?

[2020-07-27 08:08] palma21 commented on #1698
AKS is a managed service, you don't have visibility into the control plane components.

@TomGeske @feiskyer to help with the on-prem DNS setup

[2020-07-27 08:11] TomGeske commented on #1671
@ForBravo: AKS manages resources in your node resource group. Can you share your scenario why you want to have owner permissions to node resource group?

[2020-07-27 08:15] TomGeske commented on #1662
@mhsh64: Are you using AAD or client cert authentication?

[2020-07-27 08:20] palma21 commented on #1691
Any updates? If this is still a problem it's likely better to open a support ticket so we can take a quicker look into the cluster in question.

[2020-07-27 08:32] TomGeske commented on #1652
@AAATechGuy: Do you have connectivity inside your pod? msasg.visualstudio.com is a public FQDN.

[2020-07-27 08:37] TomGeske commented on #1684
@PrabhuMathi: Thanks for your feedback. I'm going ahead closing this issue. If you have further questions, please keep commenting.

[2020-07-27 08:37] #1684 closed

[2020-07-27 08:42] palma21 commented on #1659
Have you followed this tutorial https://docs.microsoft.com/en-us/azure/aks/ingress-basic?

[2020-07-27 08:42] TomGeske commented on #1698
Did you check [customer forwarder](https://docs.microsoft.com/en-us/azure/aks/private-clusters#hub-and-spoke-with-custom-dns) to forward DNS queries for or API server FQDN?

[2020-07-27 08:46] palma21 commented on #1651
Are you using AKS with Basic Load Balancer by any change? That seems like what would happen if you do.

Multiple nodepools require Standard Load Balancer.

Do you have a Support Ticket so we may verify your cluster?

[2020-07-27 08:47] naveenkumarsp commented on #1698
Hi tom, Thanks for reviewing.

As stated above the DNS servers are hosted on-prem.  Our AD team has tried configuring custom forwarder and they stated that its not possible.

Hence i was looking toward any alternative like exposing API via ingress endpoint through which we can access it in Azure VNET.

[2020-07-27 09:02] TomGeske commented on #1698
Can you share more details why it's isn't possible to use custom forwarder with on prem DNS? You may see this behavior with other services using private link.

As a temporary workaround you could consider using host file to access your API server.

[2020-07-27 09:08] palma21 commented on #1638
Thanks for the feedback @ohorvath. One of the driving functions of not exposing it in ARM is the fact that we don't want to expose those knobs on the API because they will become GA/default and we'd have to deprecate them after which generates a lot of influx for new/deprecated properties and burden for many of the clients.

We do understand the ask/problem. In your case do you have any room for t

[2020-07-27 09:12] TomGeske commented on #1644
+@mayaherskovic

[2020-07-27 09:13] palma21 commented on #1634
We don't support alpha features on AKS. We are considering providing the possibility to create sandbox cluster with alpha features enabled _for testing purposes_. As managed service we rely on stable or mature betas to guarantee our QoS.

We will be happy to consider including it early as soon as it graduates to beta on that k8s version.

I will mark this as feature request assuming the feature gr

[2020-07-27 09:17] palma21 commented on #1639
Unfortunately an Azure subnet can only have one route table, and each k8s cluster using requires a route table, and ownership of that route table to update it. So multiple clusters in the same subnet would conflict for updates.

It's also quite an error prone scenario for conflicting CIDRs.

So on the short term we're not planning to support this, but happy to gather this requirement for the neede