[2018-06-28 11:31] vcorr opened #488 "Node goes down momentarily when deploying"
We have started to experience a node going down (NotReady) for about a 1 minute every time we issue helm upgrade on a deployment.

kubectl describe lists the following warning
`Failed to update Node Allocatable Limits "": failed to set supported cgroup subsystems for cgroup : Failed to set config for supported subsystems : failed to write 2000171008 to memory.limit_in_bytes: write /sys/fs/cgroup/m

[2018-06-28 12:18] cwoolum commented on #485
Aaah, getting a provisioning error that seems related to permissions.

[code]

Does this mean that my clientsecret was incorrect when I provisioned my cluster? If so, is it possible to update it?

[2018-06-28 12:42] shahiddev commented on #289
I have a couple of clusters that I use for demos and I've configured vm autoshutdown on the worker nodes. I've not had any issues with the cluster and nodes coming online.
This was before and since GA (currently have one 1.9.6 cluster and one 1.10.x cluster).

[2018-06-28 13:02] shanepeckham commented on #161
Can we enable the PoSecurityPolicy Admission Controller on AKS? From the documentation for 1.11 it says "Pod security policy control is implemented as an optional (but recommended) admission controller."

[2018-06-28 14:12] tslavik commented on #167
@weinong Really? I have similar issue. My SP key expired and I generated a new one. But how could I change the key for AKS?

[2018-06-28 16:00] kblooie commented on #326
same problem here

[2018-06-28 16:19] Vlatombe commented on #453
This is related to the Monitoring feature. If I disable it, then the validation passes and I'm able to create a cluster.

[2018-06-28 16:52] shahiddev commented on #478
Just spent too long battling with similar issues - initially not pressing the grant permissions (RTFM!) and then the account I was using was a Guest from a different AD!

[2018-06-28 18:55] bpatra commented on #167
I can reproduce (try two times).
- Create AKS cluster with the online Azure portal and let the wizard create the Service Principal rather than using an existing one
- Do not create the LoadBalancer (or in my case the Ingress object)
- Wait approx. 24 hours
- Try to create it now->you get the error
`time="2018-06-27T20:49:29Z" level=error msg="azure.BearerAuthorizer#WithAuthorization: Failed to ref

[2018-06-28 18:56] cwoolum opened #489 "Unable to deploy OMS to new AKS Cluster"
I built a new AKS cluster with OMS already enabled. The omsagent pod fails to pull the image with error

[code]

I tried to use different versions of the image as well.

[2018-06-28 22:13] SurushS commented on #414
I run a Nginx Controller per namespace i use so i have multiple controllers with each multiple ingress rules per controller. the key is connecting the class name of the ingress (rule) with the ingress controller as shown below. That way works for me. AKS Azure gives each of my nginx controllers a public ip on azure.

This is a sample code i made quickly. Hopefully it helps you out.

[code]

[2018-06-28 22:22] SurushS commented on #415
I came across the same problem because we deploy our agents on aks as well. Unfortunately i think it's not an AKS issue but a Kubernetes issue in general. As you can see [here](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md). The newest version of Kubernetes (1.11) only supports these versions of docker v1.10: 1.11.2 to 1.13.1 and 17.03.x . That basically means 17.05 or hig

[2018-06-28 22:36] SteveLasker commented on #415
@slack can you pop in here on AKS version plans

[2018-06-29 01:47] alexsandro-xpt commented on #59
When we will have Kubernetes v1.10X at AKS?

[2018-06-29 02:01] derekperkins commented on #59
It's already available - 1.10.3

[2018-06-29 02:04] ablekh commented on #59
@alexsandro-xpt Kubernetes 1.10.x is already available in certain Azure regions. I have recently upgraded my cluster to 1.10.3 (`eastus` zone). To find out what K8s upgrades are available, follow this step: https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-upgrade-cluster#get-cluster-versions.

[2018-06-29 05:49] ams0 opened #490 "[FEATURE REQUEST] Configurable --cluster-domain"
Please allow a configurable internal dns domain using the flag `--cluster-domain`; `.cluster.local` is default but there are many cases that a different domain makes sense (inter-cluster communication, but also just aesthetic reasons).

[2018-06-29 06:03] toorog commented on #477
Same issue for me. Can be easily reproduced when using an arbitrary helm-chart do deploy a PVC and the pod using it:

1. Execute helm chart
2. Pod startup fails because volume is not yet available
3. Delete pod (manually) immediately
4. New instance of pod (started by still existing deployment) shows the error

After that you can do 3 and 4 over and over again. The only thing that seems to fix the

[2018-06-29 09:40] ams0 commented on #481
Exactly the same error, also testing the cluster-autoscaler, happened after the first 1->2 scale operation. Seems related to https://github.com/kubernetes/kubernetes/issues/63128 but how to renew certs in AKS?

[2018-06-29 09:56] maetthu commented on #357
Assigning SP the Owner role for the subnet didn't work for me, I still got the same permission error. Assigning Contributor to the Resource Group containing the vnet did. Since the vnet is the only resource in this RG, it might also work to assign Contributor to the vnet itself, though I didn't try that.

[2018-06-29 10:06] Grigsuv commented on #486
Is there any solution?

[2018-06-29 10:21] khsibr commented on #326
Fixed the issue by changing the SKU type of the _Public IP address_ from standard to **basic**.

[2018-06-29 10:56] jungopro opened #491 "Nodes not ready but pods are running"
[code]
In addition, I can't access the pods. So the error is that the pods **appear** to be in a running state, but are actually not up and running

[2018-06-29 10:58] YvonneArnoldus commented on #438
@joakimhellum-in thank you for the example.

I have tried your suggestion but I still receive a 503.

I have also upgraded stable/nginx-ingress to
CHART VERSION: 0.22.0 APP VERSION: 0.15.0

[2018-06-29 11:31] jalberto commented on #477
@andyzhangx version 1.10.3 just hit this again with grafana helm chart, using default StorageClass

[2018-06-29 13:07] strtdusty commented on #478
One thing we discovered with Microsofts help today is that you must have the Microsoft Graph API selected when you do the grant permissions step.

[2018-06-29 13:43] di9383 opened #492 "[bug] kubernetes-internal Azure ILB resource is not created if a specific IP address for a service is used in a service manifest during ILB initial depoyment"
Steps to reproduce:

1. Create service manifest with the loadBalancerIP defined in a 'spec' section:
`spec:
  type: LoadBalancer
  loadBalancerIP: 10.240.0.6
`
2. try to deploy it:
`kubectl apply -f .\ilb.yaml`

3. no 'kubernetes-internal' resource is created within the AKS resource group.

If the specific IP address is removed from the service manifest, the ILB resource is created.
All other stat

[2018-06-29 14:13] carloreggiani commented on #326
Unfortunally I have **basic** SKU, but the error is still there:

`Error creating load balancer (will retry): failed to ensure load balancer for service default/mssql-deployment: [ensure(default/mssql-deployment): lb(kubernetes) - failed to ensure host in pool: "network.InterfacesClient#CreateOrUpdate: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returne

[2018-06-29 15:59] IainColledge commented on #415
@SurushS Thanks for that, I did a little bit of nosing around and it does look like that is the case, Kubernetes currently supports 17.03.xx only.

I see there is another issue raised to up the supported version because they also want to use multistage builds.

https://github.com/kubernetes/kops/issues/5047

[2018-06-29 17:12] przemolb opened #493 "TLS handshake timeout"
I have 2 node AKS cluster running for a while in east US. It has been created as 1.9.* but a few days ago (week ?) upgraded to 1.10.3. It went fine and worked fine. Until today:
[code]
I have a few different AKS clusters and `kubectl get ...` works fine with them but with this particular one - doesn't. I have rebooted both nodes but it didn't help. I have scaled it down to 1 node and then back to

[2018-06-29 23:08] CecileRobertMichon commented on #488
Hi @vcorr, this is a known issue that has been fixed already. You can try to a) upgrade your cluster to apply the fix or b) apply the following mitigation steps on each node: 1.	Add “--cgroups-per-qos=true --enforce-node-allocatable=pods” (without quota) to KUBELET_CONFIG lines in /etc/default/kubelet,
2.	restart kubelet service by “systemctl restart kubelet”.

[2018-06-30 06:21] vcorr commented on #488
Thanks for the info!, we ended up creating a new cluster with bigger VM size and I assume the issue won't return as the nodes are now brand new.

[2018-06-30 06:21] #488 closed

[2018-06-30 13:06] DaveAurionix commented on #397
@amanohar Thank you for such a detailed answer.  This sounds really good.  AKS is working out really well for us.

@holmesb It's on my list to experiment with the AAD integration more, will post back when I can confirm findings (& understanding).

[2018-06-30 15:07] andyzhangx commented on #477
@jalberto how do you repro this issue? I tried AKS 1.10.3 with grafana helm chart, there would be `Multi-Attach error` when I drain one node, after a while, it could be recovered.
[code]

[2018-06-30 16:02] carloreggiani commented on #437
I resolved yesterday the "it does not have permission to perform action 'Microsoft.Network/virtualNetworks/subnets/join/action' on the linked scope(s)" error thanks to https://github.com/Azure/AKS/issues/357 for LoadBalancer services.
Hope to solve also Ecplise Che ingress problem: I'll try next week.

[2018-07-01 00:10] kvpt opened #494 "Kubernetes Dashboard errors"
Hi,

I created a Kubernetes cluster few days ago using AKS, it worked well, but today I can't use the dashboard anymore.
When accessing dashboard, this spam 404 errors from the api, see below.

![dashboard](https://user-images.githubusercontent.com/1446221/42129903-5268877e-7cd3-11e8-83c6-09b0af51fd2d.gif)

On the other hand, kubectl commands work fine.

[2018-07-01 08:30] shahiddev commented on #483
How did you create the service principal? Is it scoped to a resource group or subscription?

[2018-07-01 14:31] #484 closed

[2018-07-01 23:46] alexvicegrab commented on #418
Have had the same issue as well.

[2018-07-02 08:55] jalberto commented on #477
@andyzhangx how much is a "while" for you? I waited 45mins and it was not recovered.

If it helps, I just trigger the situation by upgrading the helm.

Now let's imagine it take an average of 30min, now imagine this happens because a real situation happens, I cannot wait 30 nor 15 nor 5min to a Disk to be mounted, that means production downtime.

[2018-07-02 09:04] andyzhangx commented on #477
@jalberto you could see in the above logs, "a while" means less than 1 min. How could I exactly repro your issue?
 - Set up a AKS cluster with k8s v1.10.3 with 2 nodes
 - `helm install stable/grafana`
 - drain a node?

[2018-07-02 09:20] tkubica12 opened #495 "Client IP not preserved with Advanced Networking and externalTrafficPolicy: Local"
**Expected behavior**
When Service of type NodePort or LoadBalancer is deployed with externalTrafficPolicy: Local, Service does respond only on nodes that run selected Pods and directs traffic only to local instances while not doing source NAT so client IP is preserved.

**Using Advanced Networking (Azure CNI)**
Service correctly responds only on nodes with Pod deployed and route traffic only loca

[2018-07-02 12:35] p8952 opened #496 "Kubernetes 1.8.7 : Pod sandbox changed, it will be killed and re-created"
We've deployed a number of 1.8.7 clusters in the past with no issues.

We attempted this twice on Friday, and a number of times today (Monday) but receive the error `Pod sandbox changed, it will be killed and re-created` when StatefulSets attempt to create pods.

We've tried the following node sizes, all which have the same issue:

Standard_F4
Standard_F8
Standard_D8_v3

Cluster:
[code]

StatefulS

[2018-07-02 12:42] p8952 commented on #496
This appears to be related to:

[code]

Our previous clusters did not have resource limits set, the ones which are now failing do. When I remove the resource limit from the Stateful Set the pod is created successfully.

[2018-07-02 13:06] p8952 commented on #496
🤦 `4096` should be `4096Mi`.

Please ignore this issue.

[2018-07-02 13:06] #496 closed

[2018-07-02 13:15] callumevans commented on #360
We've run into this twice in a week. Only solution we've found is to spit out a new cluster.

Seems like it _might_ be tied to our ingress rules or controllers. If we misconfigure them or do something specific that either Azure or Kubernetes doesn't like. However, we can nuke everything in the cluster, leaving a pod and a load balancer, and traffic still doesn't get through.

[2018-07-02 13:30] andyzhangx commented on #477
@jalberto what region is your AKS created? What's the config changes, delete pod? and make that pod reschedule on another node? Could you access azure portal to check whether that disk is still attached to original node after a few minutes?
Suppose there are two nodes, node#1, node#2, in the beginning, pod and azure disk is on node#1, and then rescheduled to node#2.
So you may provide me following

[2018-07-02 15:36] jalberto commented on #487
So as per documentation PODs will use first IP in the load balancer as output one, this makes very tricky to control which IP will be used, even more, Load Balancer IPs list seems can change in any moment, thi sjust happened to me, now I need to whitelist a new IP because it changed

[2018-07-02 15:38] jalberto opened #497 "LoadBalancer IPs list order changed"
rel: #487

So my Load balancer IPs was yesterday:
1. x.x.x.x
2. y.y.y.y

Today it is:
1. y.y.y.y
2. x.x.x.x

Meaning every service that I whitelisted with x.x.x.x is now not working

[2018-07-02 17:18] tomconte commented on #144
eastus2 is online now:

[code]

[2018-07-02 18:02] nayato opened #498 "Reserved IP Address does not work with Load Balancer service"
Guide provided here: https://docs.microsoft.com/en-us/azure/aks/static-ip
does not work with Reserved IP Addresses.
Getting an error:
[code]

[2018-07-02 18:12] wojciech12 commented on #418
I just got this issue on my prod, I did not touch it, AKS is a nightmare.

[2018-07-02 19:10] vsamidurai commented on #153
I'm facing same in issue North Europe

[2018-07-02 19:15] derekperkins opened #499 "New cluster fails with custom workspace-resource-id"
My user is the owner of the log analytics workspace, yet it fails to create because of supposed permission errors.
`--workspace-resource-id /providers/Microsoft.OperationalInsights/workspaces/mylogs/`

The client 'live.com#me@me.com' with object id '{id}' has permission to perform action 'Microsoft.ContainerService/managedClusters/write' on scope '/subscriptions/{id}/resourceGroups/nozzle/provider

[2018-07-02 19:16] derekperkins commented on #499
[code]

[2018-07-02 19:30] derekperkins commented on #499
I tried this in Cloud Shell as well and got the same error.

[2018-07-02 19:53] jim-minter opened #500 "Azure network plugin: pod can't access itself via its service IP"
With the azure network plugin, a pod listening on a TCP port (say 8080), and a service fronting that pod:

1. The pod CAN connect back to itself via localhost:8080
2. The pod CAN connect back to itself via \<pod-ip>:8080
3. The pod CAN NOT connect back to itself via \<service-ip>:8080

Point 3 is a problem: this should be possible.

Other notes:

The node itself, as well as other pods in the syste

[2018-07-02 19:54] jim-minter commented on #500
@khenidak @ritazh fyi - this prevents us from using the azure network plugin.

[2018-07-02 19:54] jim-minter commented on #500
@pweil- @kargakis @mjudeikis fyi

[2018-07-02 19:56] jim-minter commented on #500
https://github.com/Azure/azure-container-networking/issues/91 and https://github.com/Azure/azure-container-networking/issues/167 look pretty similar to this.

[2018-07-02 20:00] przemolb commented on #493
I raised a ticket with Azure support but no fix so far. To be honest it makes the whole Azure AKS pretty much unreliable for production environments ...

[2018-07-02 20:16] sauryadas commented on #499
@keikhara Can you please take a look?

[2018-07-02 20:59] sauryadas commented on #491
Can you please file support tickets for these issues ?

[2018-07-02 21:00] sauryadas commented on #489
@keikhara one more to take a look at ..

[2018-07-02 21:04] derekperkins commented on #499
I believe I found the cause of the error - it doesn't like the trailing slash. When I changed `--workspace-resource-id /providers/Microsoft.OperationalInsights/workspaces/mylogs/` to `--workspace-resource-id /providers/Microsoft.OperationalInsights/workspaces/mylogs`, it didn't throw that error. It seems like it should be a little more forgiving with that, but my problem appears to be solved for n

[2018-07-02 21:04] #499 closed

[2018-07-02 21:09] cwoolum commented on #489
Recreating the cluster fixed the problem.

[2018-07-02 21:09] #489 closed

[2018-07-02 21:12] sunnypatel commented on #101
Seeing the same

[2018-07-02 23:08] sharmasushant commented on #500
ack! we will look.

[2018-07-02 23:09] sauryadas commented on #476
Windows containers are not supported on AKS yet. Please use acs-engine or ACI

[2018-07-02 23:10] sauryadas commented on #476
Closing this . Windows support is in the roadmap but no ETA

[2018-07-02 23:10] #476 closed

[2018-07-02 23:43] nayato commented on #498
Considering Reserved IP is not available on ARM, I suppose that is expected.

[2018-07-02 23:43] #498 closed

[2018-07-03 03:23] aaron-bozit commented on #491
Thanks, just purchased a support plan and created a ticket.

[2018-07-03 06:06] YvonneArnoldus commented on #232
Hi,

I have the same issue (kube 1.10.3):

- Restarting the node
- deleting kube-svc-redirect, kube-proxy, kube-dns, tunnelfront

I have created a support issue but all that I got so far is that the pod I'm running should be on a bigger VM but even when I cap my resources or delete the pod from the cluster I have the same problem.

[2018-07-03 06:53] wonderb0lt commented on #368
I am using curl from within the cluster, [using this command from SO](https://stackoverflow.com/a/30739416/660848) with adding the CA file that is mounted in a pod. Previously, the command succeeded, but now it fails with this error message:

[code]

AFAIK, the API server is not reachable via the URL "apiserver" within the cluster. And even if so, "kubernetes.default.svc" should be supported as a

[2018-07-03 07:06] wonderb0lt commented on #368
However, it turns out, this is a problem with just one out of our three AKS instances. Unfortunately, I can't give a definite answer when that defective cluster has been created.

[2018-07-03 12:52] siliconcat opened #501 "Is 1.10.3 usable?"
Hi,

Yesterday I tried updating my 1.9.6 AKS to 1.10.3, but after doing that there seems to be a problem with certificates somewhere. Trying to `port-forward` or trying to display the dashboard will show problems such as:

[code]

Tried to create a new 1.10.3 cluster and still getting the same issue. I can get the list of nodes, pods, and all that, but some actions, such as port-forwarding or tryi

[2018-07-03 13:05] andyzhangx commented on #477
hi guys, I could not repro on my k8s cluster with helm grafana or wordpress, `Multi-Attach error` would only exist within about 1 min and then it recovered. One thing need to confirm that you are using azure disk as `ReadWriteOnce` accessModes, right? One azure disk could only be attached to one pod, otherwise it's not possible by design. My repro steps are as following:
 - Set up a AKS cluster wi

[2018-07-03 13:16] stigok commented on #501
I have success now with a 1.10.3 cluster. My 1.9.6 failed upgrade, so I created a new one starting from 1.10.3.

[2018-07-03 13:21] siliconcat commented on #501
Did you enable RBAC? Maybe the issue is related to 1.10.3 with RBAC enabled?

[2018-07-03 13:21] andyzhangx commented on #485
@cwoolum
it looks like you have input a wrong `aad-server-app-secret` in the AKS cluster setup, could you ssh into one agent node, and check whether `aadClientId`  & `aadClientSecret` under `/etc/kubernetes/azure.json` is correct?

[2018-07-03 13:28] stigok commented on #501
No, I did not. I did not have time to debug why it failed, but it left my cluster in an unusable (Failed) state

[2018-07-03 13:40] cwoolum commented on #485
I unfortunately ran out of time and had to tear down the cluster and use a standard SP instead.

[2018-07-03 13:40] #485 closed

[2018-07-03 14:33] jalberto commented on #477
Sorry I am out right now, I will provide as much info as I can:

- using k8s 1.10.3
- 3 nodes (DS8)
- I didn't try drain/delete but upgrade (for example change tag version)
- This is random (as you say it only happens when new pod goes to different node, but as more nodes you have, more possibilities)

I still think 1-2mins downtime is too much for this kind of process (as mount/umount is mostly i

[2018-07-03 14:47] wojciech12 commented on #501
I have upgraded 4 node cluster from 1.9.6 in west-europe. Works so far.

[2018-07-03 15:22] siliconcat commented on #501
With RBAC enabled?

[2018-07-03 15:24] wojciech12 commented on #501
No, I just used the default upgrade. I thought RBACs are not supported by AKS. By mistake, the AKS team activated it on my 1.9.6 and things went south - https://github.com/Azure/AKS/issues/418#issuecomment-401889100

[2018-07-03 15:38] siliconcat commented on #501
I see, the RBAC option is there in the ARM templates and not in the UI. For 1.9.6 it works fine, but as you say, it may not be properly supported yet and for 1.10.3 it just doesn't work...

Thanks all for the insight!

[2018-07-03 15:42] wojciech12 commented on #501
The worst thing about AKS is how unpredictable it is. The AKS team seem to touch the k8s worker nodes a lot. Sometimes they introduce bugs and then you, a poor dev or ops, have no idea what has happen.

[2018-07-03 16:00] weinong commented on #326
@carloreggiani @kblooie @chechiachang @rafaelmluz can you guys provide subscriptionID, resource group, and AKS name for me to take a look? Any yaml to share with me to repro?

[2018-07-03 18:14] sauryadas commented on #418
@wojciech12  Can you please tell us what error you are seeing ? and how you got to the error? Best if you can file a support ticket.

[2018-07-03 18:53] sauryadas commented on #468
This is expected as we are standing up new nodes and not doing an in place upgrade.

[2018-07-03 19:17] derekperkins commented on #468
That may be expected from the engineering side, but certainly not from the user perspective. I have labels and taints carefully applied to nodes to make sure that my pods are running where I need them to be. If this is expected behavior, then almost every single cluster upgrade is going to cause a large percentage of my pods to either come back as unschedulable or running in locations that may be

[2018-07-03 19:41] sauryadas commented on #468
Complete agree ... i have added a WI to track fixing this issue

[2018-07-03 21:06] sakthi-vetrivel commented on #481
I'm also having the same issue when using the cluster-autoscaler on AKS. After the nodes scale, seem to lose authorization to communicate with kube-apiserver.

[2018-07-03 21:21] sauryadas commented on #480
Changing AAD credentials for an existing cluster is not supported at this time.

[2018-07-03 21:22] sauryadas commented on #466
@mboersma can you please take a look at this?

[2018-07-03 21:23] sauryadas commented on #494
if you are still seeing this issue , i recommend filing a support ticket

[2018-07-03 21:29] sauryadas commented on #449
do you still see the issue?

[2018-07-03 21:30] sauryadas commented on #460
Ipv6 addresses are not supported yet. On the roadmap. the limit of ip addressed in a custom vnet has increased to 16k

[2018-07-03 21:31] sauryadas commented on #463
if this is not resolved, please file a support ticket with details so we can debug.

[2018-07-03 21:37] kvpt commented on #494
Still the same.
I am currently using credits included with my MPN subscription for testing the managed kubernetes solution, and technical support are not included in this offer.
I am in a dead-end.

[2018-07-03 21:47] sauryadas commented on #494
Did you enable RBAC in the cluster? If yes, follow steps in the link below to fix it
https://pascalnaber.wordpress.com/2018/06/17/access-dashboard-on-aks-with-rbac-enabled/

[2018-07-03 21:55] mboersma commented on #466
I can reproduce the problem as described. I'm guessing @JakobStruye is on the right track with the annotation change. I'll get this fixed.

[2018-07-03 22:20] kvpt commented on #494
Yes I have enabled RBAC to use with RabbitMq chart provided by Bitnami.
I followed the documentation on their web site :  https://docs.bitnami.com/azure/get-started-aks/#optional-configure-helm-to-use-charts-with-rbac

I tried the solution described in your link with no success.
As it is for testing I think I will recreate a new cluster.

Have you an official documentation to enable RBAC correctly

[2018-07-03 22:23] brantb commented on #179
AKS resources in the Resource Manager API now have a property named `nodeResourceGroup` that seems to contain this information. We've been returning it as the output from our ARM template like this:

[code]

[2018-07-04 01:35] patrickmslatteryvt commented on #68
I opened a case with MS and provided copious logs for them to dig through. They refused to acknowledge that there is a problem with `az aks browse` and blamed this issue in Kubernetes instead:
https://github.com/kubernetes/kubernetes/issues/63727
However I cannot replicate this issue on any Kubernetes cluster bar those on AKS...

[2018-07-04 02:09] novaterata commented on #68
Yeah I don't have an issue with kubectl proxy, only az aks browse

On Tue, Jul 3, 2018, 9:35 PM Patrick M. Slattery <notifications@github.com>
wrote:

[2018-07-04 07:05] angrox commented on #501
tunnelfront is still crashing randomly

[2018-07-04 08:46] angrox commented on #449
@sauryadas Sadly yes. I had the issue of crashing tunnelfront today in a newly deployed AKS Cluster, 1.10.3

[2018-07-04 09:10] IanMoroney commented on #486
Depending on the number of public IP addresses you have in your load balancer, you may be hitting the public IP address limit (10 by default in the LB).
You can raise a support request to get the load balancer limit increased from 10 to 30. Public IP addresses should then automatically provision without you needing to recreate the services.

[2018-07-04 09:10] IanMoroney commented on #486
To confirm this, search the kube-controller-manager log for events similar to:
`External error while updating load balancer: network.LoadBalancersClient#CreateOrUpdate: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="LoadBalancerFrontendIPConfigurationCountLimitReached" Message="A load balancer cannot have more than 10 Fr

[2018-07-04 10:31] IainColledge commented on #477
Using AKS 1.9.6
Location West Europe
4 Nodes

It's taking a long time for disk attaches, normally with ACS I could work around by scaling up by one, shutting down the nodes in sequence and manually clearing any disks still attached, starting them up and finally scaling the cluster down by a node.

When I look at attached disks of nodes in the portal they are "updating" for a long time.

This basic

[2018-07-04 11:16] gorrog commented on #501
@angrox It's crashing for us too :(

[2018-07-04 12:43] amandadebler commented on #221
I am still having this problem with a cluster created today in West Europe, version 1.10.3.

[2018-07-04 13:10] kapopken commented on #221
@amandadebler can you post more details?

[2018-07-04 13:11] cgroves commented on #68
Our experience is the same, this doesn't occur in on-prem Kubernetes. Only when using az aks browse.

[2018-07-04 13:31] Grigsuv commented on #486
@sauryadas  this way?

`apiVersion: v1
kind: Service
metadata:
  name: osrm
spec:
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 5412
      targetPort: 3500
  selector:
    app: osrm
---

[2018-07-04 13:37] Grigsuv commented on #486
I tried to add service principles as contributer to my cluster,I get endpoints but there is no response from server

[2018-07-04 14:09] nunojsferreira commented on #402
I am experiencing the same problem with an app that serves as HTTP hook which would then keep track of client IP. With this limitation the container no longer has visibility on the client IP.

We've also tried change the service spec to
`externalTrafficPolicy=Local`

and even recreating the SVC with that configuration. But without success so far...

[2018-07-04 15:06] wojciech12 commented on #501
@gorrog I had the same issue. A temporary solution was to delete all pods with kube-dns, kube-svc-redirect and tunnelfront. After they were recreated, it worked for few days. After that I have restarted one node after another. I do not have any issue since (my nodes: k8s 1.9.6, Ubuntu 16.04.4 LTS, Kernel: 4.13.0-1012-azure).

[2018-07-05 00:28] aaron-bozit commented on #491
@saad-msft Out of interest, what classified it as a bug?

[2018-07-05 02:02] rite2nikhil commented on #455
We have rolled out fixes, please provide feedback if there are issues with new cluster creates

[2018-07-05 02:04] rite2nikhil commented on #451
This issue should be fixed for new cluster creates in all regions. Please provide feedback if it is still not working.

[2018-07-05 02:43] amanohar commented on #465
@jdogg89 I couldn't find any cluster in resource group `Infra` but did find several creates in `InfraDev`. All clusters created on June 21st or before didn't have AAD or RBAC enabled. However, I see that creates after June 21st are showing AAD enabled. Are you still running into this issue?

[2018-07-05 02:53] jdogg89 commented on #465
Thanks for checking. Rbac is enabling now, not sure why this was failing
initially. incident can be closed.

On Wed, Jul 4, 2018, 9:43 PM Anubhuti Manohar <notifications@github.com>
wrote:

[2018-07-05 05:59] vogelinho10 commented on #477
We are also experiencing this issue when updating helm charts and the pod gets recreated on a different node. Downtime is always between 3 and 10 minutes which is not acceptable in our opinion.

[2018-07-05 06:05] andyzhangx commented on #477
@vogelinho10 what's your k8s version and node size? From v1.9.2 and v1.10.0, the detach or attach of one azure disk could cost around 30s, so one disk detach from one node and attach to another node would cost around 1 min, so if you have 4 disks for example, total time of these 4 disks attach/detach would cost 4 min.

[2018-07-05 06:10] vogelinho10 commented on #477
@andyzhangx
AKS 1.9.6
West Europe
3 nodes (DS3 v2)
The pod only has one pvc / disk attached.

[2018-07-05 06:13] andyzhangx commented on #477
@vogelinho10 could you provide `kubectl describe po POD-NAME` logs?

[2018-07-05 06:17] vogelinho10 commented on #477
@andyzhangx yes:

[code]

[2018-07-05 08:11] andyzhangx commented on #477
Update:
I tried on West Europe, one singe azure disk attachment would cost 2min25s, that's too much time, as comparision in region `westus2`, it only costs 30s. @jalberto what's your region, then?
I will file a ticket to azure VM team.
FYI @brendandburns @khenidak

[2018-07-05 10:03] jalberto commented on #477
@andyzhangx westeurope too (that info is in the description of this issue)

In other hand, about your math of 4mins for 4 disks, I guess if umount+mount optimal time is 1min (still too much TBH) N disks should take same amount of time, as operations should be parallel not sequential, so 1 disk should take 1min as 5 disk should take 1min too

[2018-07-05 10:07] IainColledge commented on #477
Here is one of mine, the events expired but generally just failing to attach and you can see it takes about 1:40 per pod to attach a disk:

[code]

[2018-07-05 10:32] mobius127 opened #502 "Service can´t be reach"
Hi there,

I´m using AKS 1.10.3 version.

I have an mvc application running normally, but when I deploy an api rest service, when I try to access via HTTP, the result is 404.

This is MVC deploy config:
`
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dockerapp-deployment
  labels:
    app: dockerapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dockerapp
  template:
    meta

[2018-07-05 11:01] andyzhangx commented on #477
@jalberto I could confirm attaching multiple disks is not parallel, it's sequential. You may try `westus2` region if possible, attach/detach disk is much faster in that region.

[2018-07-05 11:03] StianOvrevage commented on #455
We had problems with 1.10.3 and the prometheus-operator chart. Will try again today on a new cluster.

https://github.com/coreos/prometheus-operator/issues/1514#issuecomment-402685553

[2018-07-05 11:05] jalberto commented on #477
I cannot, all my data should be in EU

On Thu, 5 Jul 2018 at 13:02, Andy Zhang <notifications@github.com> wrote:

[2018-07-05 11:49] lfshr commented on #421
@sauryadas any updates on this? I've updated the OP to include details to reproduce the issue.

[2018-07-05 11:49] emanuelecasadio commented on #14
Same problem here. Sometimes I just cannot use kubectl.

[2018-07-05 13:01] andrew-dinunzio commented on #455
Is this fix only for 1.10.3 clusters? We still have the watch timeout issue on 1.9.6 for a default installation of Istio (rbac enabled in AKS)

[2018-07-05 13:02] sauryadas commented on #421
@JunSun17 Can you take a look and recommend if we should increase the timeout?

[2018-07-05 13:06] StianOvrevage commented on #455
Created a new AKS cluster now and try to install prometheus-operator:

[code]

[2018-07-05 13:08] sauryadas commented on #486
do you see logs similar to what ian points out above?

[2018-07-05 13:11] sauryadas commented on #469
thanks for the feedback. we will add it on the roadmap. can you use cloudshell?

[2018-07-05 13:11] #465 closed

[2018-07-05 13:14] sauryadas commented on #449
@rite2nikhil can you please take a look?

[2018-07-05 13:44] marrobi commented on #422
@sauryadas @aanandr getting a similar issue, AKS K8S v 1.10.3, not an internal IP, specifying a public IP for the load balancer, the IP is in a different RG. This did work earlier, same k8s version, but this was a fresh cluster. could do with some more detailed error about "the condition".

[code]
I've tried deleting and recreating the Service.

[2018-07-05 14:54] marrobi commented on #422
Just tried with brand new cluster, and new IP address, same issue.

If I create a service with no IP specified the LoadBalancer gets created.

If I add the IP back, I get:

[code]

Anyway I can get more logs?

[2018-07-05 15:02] IainColledge commented on #477
Just did another deploy:

[code]

[2018-07-05 15:24] Grigsuv commented on #486
I had similar logs before adding service principles

[2018-07-05 15:43] janbols opened #503 "grpc: the connection is unavailable"
I'm running a cassandra cluster of 2 pods on a 5 node AKS.
After a while certain pods fail with the following events:
[code]
After that the pod remains in `Terminating` state.

In addition, I have a cluster of 3 zookeeper pods, deployed on the same AKS cluster. One of the nodes is also unresponsive:
[code]

Both failing pods are running on the same node:
[code]

Any clues what to do next?

[2018-07-05 20:56] mboersma commented on #466
As a temporary workaround, this command seems to properly enable GPU support on an AKS 1.10.3 cluster:

[code]

[2018-07-05 21:46] joaocc commented on #110
As of earlier this week, and after upgrading to 1.10.3, the issue seems to have been resolved. Anyone else with the same experience?

[2018-07-05 21:49] necevil commented on #493
@przemolb some information on this issue can be found in my post over here:
https://stackoverflow.com/questions/50726534/unable-to-connect-net-http-tls-handshake-timeout-why-cant-kubectl-connect

That being said I have seen some indication that the AKS move to GA (general availability) and an upgrade to your cluster may solve the issue.  I have experienced the problem myself since I started docume

[2018-07-06 00:18] JunSun17 commented on #422
@marrobi @vyta I checked and can not re-produce this issue. Specifying an IP or not in the lb yaml, both work for me without issues.

Just from the timeout error message, is your back end pod running fine? Can you also try to delete the ILB svc and recreate it to see if it works?

[2018-07-06 00:29] JunSun17 commented on #357
Portal has add a fix to automatically add SP as contributor to the subnet used in creating AKS cluster. Confirmed the fix. Will close this issue now.

[2018-07-06 00:29] #357 closed

[2018-07-06 02:09] derekperkins opened #504 "Enable apiserver metrics"
When trying to report on metrics using the prometheus operator, the apiserver isn't reporting any metrics. https://github.com/coreos/prometheus-operator/issues/1522

There's a related issue for kubedns metrics here #345

[2018-07-06 05:16] rite2nikhil commented on #449
Can you folks send me your resource id (subid, resource group, resource name) to nbhatia@microsoft.com

[2018-07-06 05:17] rite2nikhil commented on #449
Also please post the tunnelfront logs after ssh onto the node and the use docker logs <tunnelfront container id>

[2018-07-06 09:17] mleneveut opened #505 "Cluster-user can't access to AKS cluster with RBAC enabled"
We followed this procedure to enable RBAC in our 1.10.3 AKS : https://docs.microsoft.com/en-us/azure/aks/aad-integration#access-cluster-with-azure-ad

We did the procedure with a global admin account, as with a "normal" admin it was not working.

We can access the cluster as a cluster-admin :
  * az aks get-credentials --resource-group myAKSCluster --name myAKSCluster --admin
  * kubectl get nodes

[2018-07-06 09:20] mleneveut commented on #494
@kvpt https://docs.microsoft.com/en-us/azure/aks/aad-integration#access-cluster-with-azure-ad

[2018-07-06 09:49] marrobi commented on #422
I've tried to reproduce this morning a number of different ways - everything fresh - and all works as expected. Will update if I see it again, but could do with some guidance on getting additional logs should it occur.

[2018-07-06 10:43] marrobi commented on #422
Something isn't right. I have no Load Balancer in the resource group. Deploy the exact same YAML, LoadBalancer is now stuck in pending:

[code]

And no events if do a describe:

[code]

It seems to be if I deploy a service - the first one on a cluster, delete it, then recreate it the LB doesn't get created. Similar to what @VincentSurelle says. Will try verify further.

Happy for you to ping me of

[2018-07-06 12:08] jonaspetersorensen commented on #505
@mleneveut On a sidenote
You might want to use
[code]
so you do not have to mess with administering roles and role binding for specific users.
Example: we use groups like "platform_users" and "platform_developers" as it is much easier to then manage membership of the groups then role binding for each user.

[2018-07-06 12:10] mleneveut commented on #505
@jonaspetersorensen Yes I know, but we can use groups only with AAD basic or premium, so about 1€ per user per month. Free AAD doesn't support groups.

So users level it will be for testing :)

[2018-07-06 12:15] jonaspetersorensen commented on #505
That said, we also see strange behavior now.
We have configured rbac to provide cluster-admin to a specific ad group.
As a member of this group I still have to use ```az aks get-credentials --admin``` to be able to use ```kubectl get pods```.
What does "--admin" actually do?
Why do I need to use it when my user is part of a group that has the role cluster-admin?

[2018-07-06 12:32] marrobi commented on #422
I've narrowed down the situation in which I get the issue,  and can reproduce, it's something specific around RBAC and SPs so might not be the case for all the above situations.

If you initially don't have the right rights assigned to the SP to VNets/RGs then the LB creation fails and get a semi useful error in events. this is as expected.

If I then correct the SP assignment, delete and recreate

[2018-07-06 12:41] andyzhangx commented on #477
looks like the disk attachment time issue has been resolved in West Europe region

- Attach one disk costs about 30s
[code]

 - Drain two disks from one node to another costs about 2min
[code]

[2018-07-06 12:51] kvpt commented on #494
Thanks, closing the issue for now.

[2018-07-06 12:51] #494 closed

[2018-07-06 13:11] mleneveut commented on #505
The --admin says to aks to get the credentials corresponding to the clusterAdmins.

In your .kube/config you will see `user: clusterAdmin_{resource_group}_{cluster_name}` for this context. Instead of `user: clusterUser_{resource_group}_{cluster_name}`

Why they do a difference is a good question :)

[2018-07-06 13:35] lfshr opened #506 "Advanced Networking: networkProfile.serviceCIDR CidrStringParseError when agentPoolProfiles.vnetSubnetId is not present"
There is a non-descriptive error returned when trying to create a managed cluster with the networkProfile block is specified and the agentPoolProfiles.vnetSubnetId

Error message should be something more along the lines of "agentPoolProfiles.vnetSubnetId not present"

[2018-07-06 14:12] IainColledge commented on #477
Yup, back to normal, thanks.

[2018-07-06 14:45] jalberto commented on #477
Do we know why this happened?
Is there any measure in place so we don't need to open this issue again?

On Fri, 6 Jul 2018 at 16:12, Iain Colledge <notifications@github.com> wrote:

[2018-07-06 14:50] andyzhangx commented on #477
pls try again in West Europe, and I will contact with support about your concern, thanks.

[2018-07-06 15:47] dave-hillier commented on #183
I have this same problem, except this is the 3rd ingress I'm creating.

NAME                              HOSTS                                                                   ADDRESS        PORTS     AGE
release3                 xxxxxx.westeurope.aksapp.io                          80        1h
release2                 xxxxxx.westeurope.aksapp.io   51.144.73.49   80        16d
release1

[2018-07-06 16:35] przemolb commented on #493
@necevil it was working before I did an upgrade to 1.10.3. After the upgrade it was still working. And then after a few days I lost control of the cluster.
I found your post but it it didn't help me.
I raise a support call with Azure and after 2-3 days they fixed it. But it was 2-3 days without the cluster. I wish I could treat GA as production ready but in this case I cannot really fully trust it

[2018-07-06 16:41] JunSun17 commented on #422
@marrobi Thanks for the detailed update!

Why do you:
az role assignment create --role "Reader" --assignee $CLIENT_ID --resource-group $RG

I think by default the SP should have owner role on RG, do you have to change role assignments here?

[2018-07-06 16:52] marrobi commented on #422
As in my example the IP is in another RG the SP needs adding. You are correct that Reader isn't sufficient (it needs to be network contributor, but not necessarily Owner) . What I'm trying to show is if initially the SP has incorrect assignment, even when corrected the load balancer still had issues. It seems to be related to caching.

If you leave it for say 20mins, it does seem to sort itself ou

[2018-07-06 18:34] NicolaiPetri commented on #345
Hi.
I got this partially working on my aks cluster by doing the following:

`kubectl edit deployment -n kube-system kube-dns-v20
`

and then inserted the following setting
        env:
        - name: PROMETHEUS_PORT
          value: "10055"

This makes polling of port 10055 work.

[2018-07-06 18:48] niwsa commented on #387
Experiencing this in West Europe cluster.

[2018-07-06 21:04] dave-hillier commented on #437
I have the same problem --Ingresses created 16 days ago work, today not

This isnt from today, but its all the log contains
[code]

[2018-07-06 21:36] dave-hillier opened #507 "HTTP Application Routing lacks sufficient permissions to work when in Advanced Networking"
I had to add permissions for the created service principal to change the DNS

I got this error in the logs:
[code]

[2018-07-06 22:08] dave-hillier opened #508 "Ingress stops getting Endpoint with Advance networking & HTTP application routing"
I've got a cluster created around ~19 days (at least that's my oldest ingress). At some point it stopped assigning Endpoints to my ingresses.

I created a new cluster with the same setup and applied the same charts. They work.

I was able to reproduce this using the [party-clippy](https://docs.microsoft.com/en-us/azure/aks/http-application-routing) example.

I note that my old cluster's DNS zone h

[2018-07-06 22:40] weinong commented on #436
this one has been fixed. please retry it again!

[2018-07-06 22:40] #436 closed

[2018-07-06 22:48] amanohar commented on #478
@vishnoisuresh @shahiddev some cases where AAD application is in a different tenant than the user is not supported at this time (this is an example of B2B collaboration: https://docs.microsoft.com/en-us/azure/active-directory/b2b/claims-mapping). Support will be added for this at some point.

[2018-07-06 23:14] weinong commented on #507
https://docs.microsoft.com/en-us/azure/aks/networking-overview

### Advanced networking prerequisites

**The service principal used for the AKS cluster must have Contributor permissions to the resource group containing the existing VNet.**

There is an improvement in Azure Portal such that it will create the proper role assignment for you when you use advanced networking

[2018-07-06 23:35] amanohar commented on #505
@mleneveut can you share your cluster resource name and resource group name to help with debugging on our side? Also is the AAD user in a different tenant than the AAD application? Can you also share an approx. time window when the AAD user tried to interact with AKS cluster using `clusterUser` kubeconfig?

@jonaspetersorensen regarding:

A successful AKS cluster create configures two kubconfigs w

[2018-07-07 09:11] dave-hillier commented on #507
Given that the Portal created both the VNet and the SP it seems like this could do with improvement in the portal, even if it's a note that you must do this.

[2018-07-07 09:40] holmesb commented on #507
"There is an improvement in Azure Portal such that it will create the proper role assignment for you when you use advanced networking" - Are you sure you haven't broken cluster creation for SPs with only Contributor rights?  Changing role assignments requires more than Contributor rights.

We can no longer create AKS clusters due to error:

[2018-07-07 09:45] holmesb commented on #507
"Service Principal used for the AKS cluster must have Contributor permissions"..."There is an improvement in Azure Portal such that it will create the proper role assignment for you when you use advanced networking" - I think you've broken cluster creation for SPs with only Contributor rights.  Changing role assignments requires more than Contributor.

We can no longer create AKS clusters due to e

[2018-07-07 10:08] holmesb opened #510 "Lack perms to create cluster - SP has Contributor"
Hi,

Since yesterday we can no longer create AKS clusters with Advanced Networking.   Are getting error:

[code]
No permissions changes have been made on our side.  We have the same Contributor-level access as two days ago when cluster creation was working fine.  Tried creating using Portal and applying ARM Template.  Seems the cluster creator now trying to write to the subnet's roleAssignments.

[2018-07-07 10:46] jonaspetersorensen commented on #505
@amanohar Thanks for the detailed answer :)

And I just now figured out our problem with assigning an AAD group with cluster-admin role.
In the ClusterRoleBinding yaml I had specified the group name. To make it work I need to use the group guid.

[2018-07-07 11:15] holmesb commented on #510
Created successfully using AZ CLI, so seems to just affect Portal\Template method.

[2018-07-07 15:20] pavius commented on #438
I'm using AKS w/nginx-ingress configured with a static IP bound to the AKS load balancer (installed nginx-ingress chart with `controller.service.loadBalancerIP=<the IP>`, after having received this IP address as per [this guide](https://docs.microsoft.com/en-us/azure/aks/static-ip).

I initially tried to assign `nginx.ingress.kubernetes.io/whitelist-source-range` in one of my ingress resources but

[2018-07-07 23:57] yaakov-h commented on #437
After upgrading from Kubernetes 1.9 to 1.10 - which also spins up new nodes, drops the old ones, and thus recreates every single pod - HAR seems to be working again. My Ingresses now have IP addresses and DNS records are being created as expected.

[2018-07-07 23:57] yaakov-h commented on #508
Possibly related to #437.

[2018-07-08 07:41] MovGP0 commented on #116
I get the same error with Kubernetes version `1.10.3` on Docker version `18.05.0-ce-win68 (18263)`

[2018-07-08 08:10] MovGP0 commented on #116
I solved the issue by restarting docker. Also this issue should probably be reported in the [kubectl issue tracker](https://github.com/kubernetes/kubectl), since it not only affects Azure installations.

[2018-07-08 09:07] dave-hillier opened #511 "Intermittent networking issues with job"
I have had intermittent networking issues but it is easiest to see with a Cron Job. I have noticed this problem on an older cluster (20 days old) and a 1 day old cluster.

I have a Cron Job that creates a container every 5 minutes. Occasionally, one of the containers won't be able to resolve DNS or connect to any other container simply getting a timeout.

Even weirder, this failure caused that one

[2018-07-08 09:31] dave-hillier commented on #508
I upgraded the cluster to 1.10.3 and now these ingresses have endpoints assigned.

[2018-07-08 16:29] blackbaud-brandonstirnaman commented on #455
Can confirm @StianOvrevage's comment. Cluster created yesterday (1.10.3) fails the same.

[code]

[2018-07-09 07:20] mleneveut commented on #505
@amanohar We actually deleted it in the mean time, but it was :
[code]

AAD users are in the same AAD than the client and server applications.

We did a lot of test last week, so it was for example friday the 6th of July at 1:15 PM CET (France)

[2018-07-09 07:31] mlda065 opened #512 "RBAC "Learn More" link is broken"
# Steps to reproduce

1. Create a cluster in the portal
1. At the "Authentication step" click on the link [Learn more about authentication and authorization in Azure Kubernetes Service](https://go.microsoft.com/fwlink/?linkid=872881)

# Expected behaviour

The link takes me to a page talking about RBAC on Kubernetes generally, or RBAC on Kubernetes specific to AKS.

# Actual Behaviour

The link ta

[2018-07-09 07:36] mlda065 opened #513 "az interactive doesn't know much about aks"
`az interactive` seems unaware of a lot of options.

* `az aks create --d` doesn't have a prompt for `--disable-rbac`. I think that flag is ignored by the AKS backend anyway, but `az` error messages claim it's an option.
* `az install-connector --resource-group $AZ_RG --name ` doesn't give you a prompt for the list of AKS clusters in that resource group (or the list of all clusters)
* `az install-

[2018-07-09 07:48] amandadebler commented on #221
Turned out that the Service Principal the cluster was created under did not have (Network) Contributor on the VLAN the cluster subnet was in. Our subscription owner is very hesitant to give the suggested permissions to us, so we're trying to work out the absolute minimums.

His biggest concern is that our own accounts or the Service Principals are able to make changes to the Network Security Group

[2018-07-09 11:39] EraYaN opened #514 "Heapster nanny fails to start after/during scaling on v1.9.6"
When I scale a cluster. the heapster pod heapster-nanny template has a bad command line options.

It fails with the following message:
[code]

Manually updating the replicasets will cause a new replicaset to be created immediately. I'm at a loss.

EDIT: And upgrade to 1.10.3 "fixed" it. But I can't say it's a real fix.

[2018-07-09 13:45] kylel commented on #232
I saw the same issue today after scaling from 1 to 3 nodes.
"kubectl -n kube-system delete po -l component=tunnel" Has fixed the issue but I'm not sure if this is permanent

[2018-07-09 13:58] stroon2 commented on #212
+1 We need this feature too. :-)

[2018-07-09 14:46] andyzhangx commented on #442
By a deeper investigation, I found the acrProvider will refrech every 12 min, so if this error exists, just wait at most 12min, this issue would disappear.
[code]

[2018-07-09 15:44] akolodkin commented on #449
We have same problem with tunnelfront.

docker logs

[ 15:41:58 ] INF: Ssh to tunnelend is not connected.. attempting to connect
Permission denied (publickey).
[ 15:41:58 ] WRN: Was not able to establish connection to tunnelend
[ 15:41:58 ] INF: going to sleep for:[5] Seconds
[ 15:42:04 ] INF: Tunnel front and end both server.version == local.version, no rotation needed
[ 15:42:04 ] INF: ssh-agent

[2018-07-09 19:04] erewok commented on #293
Hello, I'd like to be able to get logs from an ingress-controller which has been deployed into the `kube-system` namespace. Is there anyway to enable to logs in that namespace for particular deployments, etc.?

[2018-07-09 19:08] erewok commented on #293
I did the following:

[code]

Is there any way to enable log-collection for a particular set of deployments in `kube-system`? I imagine ingress controllers are one place where people are going to want to search logs. Is the only answer that we should deploy the controller in another namespace?

[2018-07-09 19:12] vishiy commented on #293
@erewok - currently there is no way to collect logs selectively inside 'kube-system' namespace. its turned off for kube-system namespace. For the future, we are looking into exposing that as a setting in the Ux to easily control.

[2018-07-09 19:17] erewok commented on #293
okay, thanks for the help. I'll try to solve this problem in some other way.

[2018-07-09 21:15] sauryadas commented on #510
@JunSun17 did we make any changes for this to happen?

[2018-07-10 07:55] MarkTopping opened #515 "AKS RBAC seems to have stopped working for AD Group bindings. (Forbidden error)"
Hi.

Summary:
Newly provisioned 1.10.3 clusters (which exactly replicate a existing 1.10.3 clusters) forbid user to interact with AKS resources when Cluster Role Bindings are setup using Azure AD Groups. Everything works fine when the same users are added to the bindings individually as Users. Authentication works correctly in both cases (via the AD Server/Client App Registrations), but authorisat

[2018-07-10 07:57] colemickens commented on #515
Possibly relevant: https://github.com/Azure/AKS/issues/505#issuecomment-403206781

[2018-07-10 09:50] #177 closed

[2018-07-10 12:49] arianitu commented on #29
I'm running into this when trying to configure the Jenkins Kubernetes Plugin, I've tried:

`https://kubernetes.default.svc`
`https://kubernetes.default`
`https://kubernetes`

I get hostname not verified each time. I had to select `Disable https certificate check` for it to work.

Any ideas on how to fix this?

[2018-07-10 13:03] holmesb commented on #510
SP was pre-existing.
1. Not sure exactly how SP was created, but has Contributor rights to subscription, so I expect used command `az ad sp create-for-rbac --role="Contributor" --scopes=<sub>...`
2. Grant your user account Contributor rights to the sub you are creating AKS cluster in (not sure if this is necessary).
3. Then try to create an AKS cluster using Portal or ARM Template, typing SP's App

[2018-07-10 15:29] arianitu commented on #434
@rite2nikhil I have an existing cluster, is there a way to patch this?

[2018-07-10 16:43] bryanlikes commented on #515
They decided that AKS would no longer accept group names for the rolebindings and only accept group guids on new cluster deployments.  Clusters deployed before the change should still work with display name.

[2018-07-10 16:44] wojciech12 commented on #501
@gorrog @angrox again, DNS resolution stopped working in my cluster, next the tunnelfront... it was a dev cluster, so I just restarted node one by one. My nodes are on:
[code]

[2018-07-10 16:56] dasuma opened #516 "update image and status is always pending"
hi

i was update my images for my services AKS but today dont working

![image](https://user-images.githubusercontent.com/7833341/42525198-2a52eaba-8438-11e8-8d06-d2faa00566db.png)

the state always is pending

any solution?

[2018-07-10 18:30] bryanlikes opened #517 "kubernetes-dashboard-minimal role allows access for create, update, delete on all secrets in kube-system"
Using the azure cli (az aks browse ...) to open a connection to the AKS kubernetes dashboard allows too much access to secrets in kube-system. The configuration that is generated for the dashboard access uses the kubernetes-dashboard service account and its associated role.

As you can see in the output of the role, kubernetes-dashboard is allowed to get, update, create, delete all secrets in the

[2018-07-10 19:00] bryanlikes commented on #517
According to k8s dashboard documentation, these are the minimal privileges needed:
https://github.com/kubernetes/dashboard/wiki/Access-control#default-dashboard-privileges

- create permission for secrets in kube-system namespace required to create kubernetes-dashboard-key-holder secret.
- get, update and delete permissions for secrets named kubernetes-dashboard-key-holder and kubernetes-dashboard

[2018-07-10 19:08] kblooie opened #518 "Question: Using NodePort service instead of LoadBalancer"
I'd like to know if it would be possible to expose NodePort services to the internet. I understand that there is not an automated solution for this, but would like to see what would be required to get a solution in place.

We have a requirement that hundreds of our pods each need a dedicated port to receive TCP traffic from other systems external to our network. We started by using a LoadBalancer

[2018-07-10 22:45] sauryadas commented on #480
Closing this issue for now. Will revisit this in the future.

[2018-07-10 22:45] #480 closed

[2018-07-10 22:46] sauryadas commented on #516
We have no understanding of what you are running in that container. Have you tried looking at the logs? kubectl logs pod?

[2018-07-10 22:47] sauryadas commented on #514
Do you still see this issue? I looked at a couple of 1.9.6 clusters and didnt see this issue.

[2018-07-10 22:57] sauryadas commented on #513
@yugangw-msft  can you please address these issues?

[2018-07-11 01:45] amanohar commented on #515
@MarkTopping, as @colemickens mentioned this might be due to AKS now using AAD group's unique id instead of group display name in the rolebinding. The documentation has been updated: https://docs.microsoft.com/en-us/azure/aks/aad-integration and all current AKS customers that have a running AAD cluster should have received at notification (cc: @sauryadas )

[2018-07-11 03:10] yugangw-msft commented on #513
@sauryadas , can you please confirm `az install-connector` and `az aks create --disable-rbac` are indeed azure cli commands/flags. I can't find them in the latest cli

[2018-07-11 07:31] carloreggiani commented on #501
I tryed to upgdare from 1.9.6 in west-europe a working cluster: failed.

Destroyed and recreated ... error in deploying :(
I'm using the same name and the same VNET custom subnet, I'll trying to change some parameters. Not really an easy step.

[2018-07-11 07:46] valorl commented on #212
This is absolutely necessary when using the SMB or any other flex volume. In the case of [`microsoft.com/smb`](https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume/smb), `jq` and `cifs-utils` need to be installed.
VMs are recreated on upgrade and these dependencies are lost.

[2018-07-11 08:02] katerinapsperm opened #519 "Cluster lost one of the nodes and does not recover"
AKS, kubernetes version 1.9.6
3 nodes Standard F4s_v2 series
We used the cluster almost 2 month. What was going on with the cluster by the end of the 2nd month:

1. At first cluster lost heapster, its pod coutinued with 'CrashLoopBackOff'
2. One of the nodes reported DiskPressure with the following warning in 'Events':
`Warning  ImageGCFailed  4m (x3491 over 12d)  kubelet, aks-nodepool1-38432401-1

[2018-07-11 08:15] wojciech12 commented on #418
@sauryadas I have submitted the ticket. The support told me that the "fix" is the right way to go with this issue.

[2018-07-11 08:28] alexandruradovici commented on #405
I am experiencing the same issue, several pods in Terminating status for more than 10 days. Running
[code]
displays the following message:

While pods disappear from the resource list, there is still a possibility that they are running on the nodes. Any idea on how to check if they still run?

[2018-07-11 08:58] andyzhangx commented on #212
@valorl microsoft.com/smb already supports custom extension installation, while it's not in AKS yet, see:
https://github.com/Azure/kubernetes-volume-drivers/blob/master/flexvolume/smb/README.md#option1-use-azure-custom-script-extension-to-install-smb-driver-on-every-agent-vm
And I have already made a PR to install [blobfuse driver](https://github.com/Azure/kubernetes-volume-drivers/blob/master/fle

[2018-07-11 09:13] valorl commented on #212
@andyzhangx Thanks, I must have missed that in the README. I assume I'll still have to run this after every upgrade?

As for my use-case, yes, we have some on-premise shares we need to be able to access (we're also using Site-2-Site VPN).

[2018-07-11 09:33] devkws opened #520 "Heapster missing rbac roles for kube-system namespace"
With a new rbac cluster heapster is constantly throwing missing role errors for kube-system namespace.

``
deployments.extensions "heapster" is forbidden: User "system:serviceaccount:kube-system:heapster" cannot update deployments.extensions in the namespace "kube-system"
``

[2018-07-11 10:57] andyzhangx commented on #212
@valorl currently you need to run that custom extension script for new node, I will add this smb driver(and also cifs-utils) into acs-engine first, and after a few weeks, AKS will have smb driver. Thanks for providing the info, that's helpful to move things forward.

[2018-07-11 10:58] valorl commented on #212
@andyzhangx Thanks, much appreciated.

[2018-07-11 11:23] markwaldkat opened #521 "helm install breaks nondeterministically"
Hi,
I created a AKS cluster like this:

[code]

but when I install our companies software via multiple "helm install ..." calls at least one fails always and it seems it's nondeterministic which one.

Error messages look like this:

- Error: release excited-scorpion failed: the server could not find the requested resource (get pods)
- Error: release quieting-saola failed: the server could not find

[2018-07-11 12:07] sauryadas commented on #481
@shrutir25 need to investigate this . we have a cluster with this error if you want to debug

[2018-07-11 12:08] sauryadas commented on #521
@technosophos Can someone from your team take a look at this?

[2018-07-11 12:10] sauryadas commented on #513
@yugangw-msft  @mboersma can confirm that these are indeed azure cli commands.

@mlda065 --network-plugin does not support calico yet

[2018-07-11 12:20] mlda065 commented on #513
I didn't expect calico to work.

When I saw `--network-plugin` as an option, I was surprised. `az interactive` didn't tell me what the options are, and that doesn't sound like it matches anything in the Portal. So I assumed it was for Calico, Flannel, Weave etc.

The lack of prompt for that is not a huge issue. I'm just letting you know.

[2018-07-11 12:46] Nuke1234 commented on #490
Hey,
it is actually crucial for inter-cluster communication and dns resolution. not only aesthetic reasons. or is there a viable workaround?

[2018-07-11 14:20] suonto commented on #174
Encountered this issue today. I debugged the certificates with openssl and concluded that ca was simply invalid. Recreated the cluster and after that `az aks get-credentials` returned valid credentials (and certs). Please fix this.

[2018-07-11 15:00] mjhoffman65 commented on #501
tunnelfront is crashing for me today is west europe

[2018-07-11 16:03] agolomoodysaada commented on #348
it seems to handle all SSH connections, and kubectl port-forward, logs, etc...

[2018-07-11 16:16] rdtechie commented on #3
I agree with @NathanNZ . Some customers of mine are looking to AKS with interest, but the fact that they don't control the naming of the resources is holding them back. The answer to the question if this is a operational issue is no, not really. But, these customers use strict naming policies and their operational teams are used to use these names to search something in the portal/command line. It

[2018-07-11 19:01] mboersma commented on #513
@yugangw-msft  in the current `az` CLI `az aks install-connector --location` and `az aks create --disable-rbac` are valid options.`--debug

There *is* interactive tab-completion for the `--disable-rbac` argument, but it probably collides with `--debug`, `--dns-name-prefix`, `--dns-service-ip`, and `--docker-bridge-address` so it's behaving badly. There isn't tab-completion support for the `az aks

[2018-07-11 21:43] adamreese commented on #521
Looks like namespace is being set to an empty string

`/apis/extensions/v1beta1/namespaces/[missingnamespace]/deployments`

[2018-07-11 22:37] prydonius opened #522 "Custom controllers appear to not get updates from shared informer after some time"
We've very recently been noticing an issue in our AKS clusters (as well as freshly created ones) where custom controllers unsuspectingly stop responding to events on Kubernetes API resources. For example, we've seen the issue with [Kubeapps](https://github.com/kubeapps/kubeapps), where users are unable to install Helm Charts or sync Helm Repositories after some time. The [Helm CRD controller](http

[2018-07-11 23:17] nomisbeme commented on #522
I'm seeing similar symptoms using kubeapps v1.0.0-alpha.4 on vanilla, fresh AKS clusters in eastus and centralus using the "az aks create" defaults which currently dispenses Kubernetes v1.9.9 in my account.

The problem doesn't manifest immediately, but after an hour or so of very light usage, deploying a few community charts, seems to be reliably reproduceable.

Is there some logging that can be

[2018-07-12 06:38] andyzhangx commented on #212
FYI @valorl https://github.com/Azure/acs-engine/pull/3455 has both blobfuse & smb flexvolume drivers installed in acs-engine

[2018-07-12 07:03] ronnytag233 commented on #407
it is happening to me when I try to scale up the nodes from the UI.

[2018-07-12 07:35] mwaldkat commented on #521
I removed the namespace for this bug report because of privacy reasons and added a placeholder that is swallowed by the rendering on this page because I didn't properly escape it.
It is /apis/extensions/v1beta1/namespaces/\<some_actual_working_namespace\>/deployments.
Thanks, but this is not the problem.

[2018-07-12 07:57] maetthu commented on #501
Same here. Freshly deployed 1.10.3 cluster (RBAC & advanced networking enabled), tunnelfront is crashing a lot:

[code]

[2018-07-12 09:23] SamirFarhat commented on #3
Hi,

Can we at least specify tags on the RG crated automatically, any update ?

[2018-07-12 11:53] devkws commented on #520
An update: after some digging, running the following rbac yaml fixes the issue. It is my opinion that this should be run by Microsoft during the creation of the heapster deployment.

https://github.com/kubernetes/heapster/blob/master/deploy/kube-config/rbac/heapster-rbac.yaml

[2018-07-12 14:13] calvaradocl commented on #385
We are experiencing the exact same issue in our cluster, and the Disk reads increase to 30 GB with CPU. The only way to reactivate our clusters is with a restart.

We don't have any load (it's a development environment) with images of Redis, SQL Server and MongoDB and other services, but none of them except for the login are being used.

Is this a bug or a recurrent process of kubernetes or azure?

[2018-07-12 15:18] ohdihe commented on #76
@andrew-vandenbrink Does this include using aci-connectors? I thought that with aci-connectors, you can run either Linux and Windows containers.

[2018-07-12 19:33] derekperkins commented on #363
Any insights here? I ran into this after upgrading my cluster and neither of these were recreated properly and broke my applications.

[2018-07-12 19:46] derekperkins commented on #363
It looks like it has already been implemented in both core k8s AND acs-engine, so I'm surprised that it isn't already in AKS. For reference:
- Add wildcard tolerations to kube-proxy https://github.com/kubernetes/kubernetes/pull/56589
- Improvement: fluentd-gcp to get same toleration as kube-proxy https://github.com/kubernetes/kubernetes/issues/44445
- Modifying toleration on Kube-Proxy Daemonset r

[2018-07-12 20:02] akolodkin commented on #449
any recommendations on resolving this issue, tunnelfront sometimes is getting up and works, next day it will crash into a loop... we cannot proxy, or tunnel into pods

[2018-07-12 20:05] benbuckland commented on #385
Hey @calvaradocl, I never got to the bottom of the issue but after monitoring a bunch of statistics I noticed that as the total memory used by all containers on a particular VM got close to the VM's memory limit I saw the weird behaviour. I implemented memory limit's for each containers (causing the container to be restarted when memory limit reached) and I have not seen the issue since.

Hope thi

[2018-07-12 20:06] akolodkin commented on #449
just an update from our side, we update image from docker.io/deis/hcp-tunnel-front:v1.9.2-v4.0.3 to docker.io/deis/hcp-tunnel-front:v1.9.2-v4.0.4 and it seems like this resolved issue for now.

[2018-07-12 20:18] sauryadas commented on #449
thanks. will close it .

[2018-07-12 20:18] #449 closed

[2018-07-12 20:29] weinong commented on #507
@holmesb that error message means the user who was creating AKS doesn't have that permission to perform role assignment.

[2018-07-13 02:36] joelsjolly opened #523 "AKS failed to provision in WestUS, works (sometime) for CentralUS, any known issues?"
Deployment error when trying to deploy WestUS
{ "status": "Failed", "error": { "code": "ResourceDeploymentFailure", "message": "The resource operation completed with terminal provisioning state 'Failed'.", "details": [ { "code": "ControlPlaneNotReady", "message": "{\n \"error\": {\n \"code\": \"ControlPlaneNotReady\",\n \"message\": \"Pods not in Running status: etcd-5b4769fb144af80001251fff-0001,

[2018-07-13 06:41] andrew-vandenbrink commented on #76
@ohdihe Before aks, there is container service
https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-windows-walkthrough
That one support windows I think

Then there is aks,
https://docs.microsoft.com/en-us/azure/aks/faq#can-i-run-windows-server-containers-on-aks

![image](https://user-images.githubusercontent.com/12871379/42676383-4b48d7ec-8678-11e8-844d

[2018-07-13 07:07] ohdihe commented on #76
@andrew-vandenbrink. I was able to run Windows container on AKS using aci-cennectors today. Aci-connectors acts like a virtual node in the AKS cluster. Also, I created a kubectl secret to grant AKS cluster permission to my private ACR in other to pull the windows image and run it.
I created the kubectl secret by using a SPN that has owner role scoped at the registery resource instead of the resour

[2018-07-13 08:54] maganuk opened #524 "Slow Response Time"
I deployed two Kubernetes clusters, one on Google Cloud (1 vCPU, 4GB Memory) with 2 nodes and the other cluster on Azure Container Service (B2MS) with 2 nodes.

I deployed the same container on both clusters. The app connects to a Azure SQL database, and both clusters are in Europe.

The response time on the Google Cloud cluster is extremely swift (80-100ms), whereas the same endpoint on azure has

[2018-07-13 09:31] baracoder commented on #511
I also experience networking problems with AKS v1.10.3, which might be related.
The nginx ingress controller sometimes won't update the configuration. I tried restarting it, it immediately failed because it could not connect to the kubernetes api. Then restarting the pod again, it worked.
Also sometimes other pods can only reach some of the replicas of a service, even though accessing the pods by

[2018-07-13 09:43] jsteenbeek opened #525 "Unable to create PersistentVolumeClaims in RBAC enabled cluster"
When creating an RBAC enabled cluster, the Service Account persistent-volume-binder is not granted permissions on the Secrets store. This permission is required when creating a PersistentVolumeClaim on an Azure file share.

1. Create a cluster with RBAC
`az aks create -n myname -g myrg --node-count 1 --enable-rbac`

2. Create a file share
[code]

3. Note the provisioning of the PersistentVolumeCla

[2018-07-13 10:14] IanMoroney opened #526 "Cluster does not work after changing vnet address space"
Deployed a brand new 1.9.6 AKS cluster in West Europe with VNET.
Realised that I had provisioned the wrong IP range required for my peering needs.

- Added a new dummy address space to vnet
- added new dummy subnet
- changed each of the 3 virtual machine hosts to use the new subnet
- removed old subnet
- removed old address space

- Added new address space (real one)
- created new subnet called "d

[2018-07-13 10:22] marulm commented on #511
Even we are facing similar issue on both AKS v1.10.3 (w/RBAC and w/o RBAC) and v1.9.6 (w/RBAC and w/o RBAC) where ingress endpoints are not getting updated with newly created pods. This issue is first observed on 10-Jul-2018. All these clusters are at least 2 weeks old and we never faced this issue before.
If we restart ingress controller pod, endpoints are updated correctly.
Not sure if its relat

[2018-07-13 11:08] andrew-dinunzio commented on #235
@maximbaz Did you remember to label the namespace for automatic injection?.

You may also run into issue #455. To get around the "watch closed before time-out" for now, you'll need to deploy a DaemonSet with the hyperkube image needed by the postinstall jobs before doing the helm install. Then it shouldn't time out.

[2018-07-13 11:19] maximbaz commented on #235
Of course I didn't, that was it, thank you very much!

For others doing the same, here's the missing step in my commands above:

[code]

#455 does seem what I was getting with istio `1.0.0`, thanks for letting me know about the workaround 🙂

[2018-07-13 11:36] andrew-vandenbrink commented on #76
@ohdihe yes, what you described also in the faq...

[2018-07-13 11:41] devkws commented on #318
This is still an issue with AKS running K8s 1.10.3

[2018-07-13 12:44] dave-hillier commented on #511
@marulm that sounds like a different issue I raised: https://github.com/Azure/AKS/issues/508

[2018-07-13 12:49] dave-hillier commented on #511
I suspect this might actually be an Alpine bug...

https://bugs.alpinelinux.org/issues/8025

I'm going to switch my containers to Ubuntu

[2018-07-13 12:58] hazsetata commented on #522
Same happens for me with [Argo project's](https://github.com/argoproj/argo) CRD controller (AKS cluster created with az tool in Cloud Shell, Kubernetes 1.10.3 in Europe North). The logs from the controller doesn't show any problem.

[2018-07-13 15:41] hassanselim0 opened #527 "Changing the Service Principal associated with the AKS Cluster"
I just moved the Azure Subscription that contains my AKS Cluster to another account. This in turn removed all Service Principals (I don't know why). Which in turn made K8s fail to manage external load balancers.

I could create a new Service Principal, but how can I tell AKS to use that new one?

[2018-07-13 16:47] edernucci opened #528 "No space left on device"
Hi there,

I'm experiencing this issue and seems to be related (or exactly) this one:

https://github.com/moby/moby/issues/29638

My machines have a good disk free space and a good inode usage count. Every time I face this issue on kubelet log my /proc/cgroups are using 2500+ cgroups and I have to drain and restart the node. After reboot the cgroups usage is at 100 again and after some hours (some

[2018-07-13 19:47] edernucci opened #529 "Unable to change VM Size after cluster creation"
After creating the cluster we realized that we would need a VM with higher RAM capacity. The need was solved by resizing the VM using Azure CLI. After this change we noticed that Azure has classified our cluster as faulty and does not allow us any more changes (like upgrading kubernetes).

Changing the size of one or more VMs is a basic need and it is not acceptable to have to re-create the cluste

[2018-07-14 06:38] qike-ms commented on #374
There can be many reasons lead to this. Can you run:
kubectl describe <pod name>

with pod name being the pod stuck at ContainerCreating stage. Error message will be printed at the bottom of the description of the pod.

[2018-07-14 06:39] qike-ms commented on #529
We are working on supporting multiple agent pool.

[2018-07-14 06:49] qike-ms commented on #523
This meant it timed out while waiting for all control plane pods to be ready. Try to use az aks to interact with the cluster. If it works, it's fine. If not, please delete the cluster and retry creation.

[2018-07-14 06:53] qike-ms commented on #519
Please email aks-gh-feedback@microsoft.com with the following info:
1. subscriptionID
2. resource group
3. cluster name

[2018-07-14 06:56] qike-ms commented on #527
You can not. AKS does not support changing service principle, at least right now. You need to create a new cluster and redeploy all deployments, assuming you keep all your deployment yaml scripts.

[2018-07-14 14:12] marekr opened #530 "portal node status has stopped working"
Overall 7 days
![image](https://user-images.githubusercontent.com/1838013/42725222-27a95e66-874e-11e8-94e8-e181b8d3c841.png)

And then last day

![image](https://user-images.githubusercontent.com/1838013/42725217-1a1daaae-874e-11e8-9c9d-40e0a0aa221e.png)

I have noticed the cluster connectivity is weirdly intermittent for kubectl, but I haven't touched anything that should affect that.
The nodes a

[2018-07-15 05:44] pavius commented on #522
We are experiencing this as well. A ~2 week old cluster suddenly started to display behavior of controllers handling state updates many minutes after they would happen. I would delete or create an ingress and `nginx-ingress` would not receive it for some time. Same for `Nuclio` functions. At some point I even saw state updates with stale data (contained the content of the resource prior to the upd

[2018-07-15 14:47] hassanselim0 commented on #527
I have all my deployment yaml files, but I didn't want to go through the config steps for `ingress-nginx` and `cert-manager`, so I did a few kubectl gets with `--all-namespaces` and `-o yaml`, then manually removed all `ClusterIP` fields and anything in the `kube-system` namespace.
It took a few hours but it's done.

I posted a suggestion on the uservoice to enable changing the service principal.

[2018-07-16 06:38] raghur commented on #522
This just happened to me. New AKS cluster with k8s v1.10.5 in EastUS
1. Deployed nginx-ingress chart with
` helm install --namespace kube-system -n nginx-ingress stable/nginx-ingress --set controller.publishService.enabled=true --set rbac.create=false`
1. Created ingress to jenkins instance; Address is allocated and can browse jenkins instance successfully.
[code]
2. after a few mins, deleted the

[2018-07-16 07:37] katerinapsperm commented on #519
aks-gh-feedback@microsoft.com - Recipient address rejected, may be some other e-mail to contact?

[2018-07-16 08:21] paulbouwer opened #531 "AKS - kubenet issues with Kubernetes 1.10.x"
### Is this an ISSUE or FEATURE REQUEST?

ISSUE

### Relevant information:

- Kubernetes 1.10.3, 1.10.5
- Service Principal used in configurations has Contributor role at Subscription scope.
- Azure CLI version is 2.0.41
- RBAC enabled for all configurations
- No monitoring enabled (via portal configurations)
- No http application routing enabled (except where explicitly mentioned)
- Multiple regi

[2018-07-16 08:45] azzaka commented on #116
I had the same issue on my cluster and it has been plagiung me for the past few months. My cluster is not on a Cloud Based provider, it's a Bare Metal Installation. I ran the command **curl -v8** which in turn showed my it wasn't a tls/cert issue (_really bad error message_.)

This lead me to look at other issues, such as the API server/gateway, nodes and so forth. It turns out that the the error

[2018-07-16 08:57] gugu91 commented on #449
@sauryadas Reading this thread is not very transparent what the official guidelines are from MS in order to solve the issues. Looks a bit odd to close the issue without it, especially considering I got an email this morning from MS support stating that the investigation is still happening and the root cause has not been identified.

[2018-07-16 09:09] maetthu commented on #449
@gugu91 In a newly provisioned 1.10.5 cluster (which includes hcp-tunnel-front:v1.9.2-v4.0.4), the issue seems to be resolved - at least I didn't see any tunnelfront crashes so far, but it has been only a couple of days since creating the cluster with only moderate test workload. In 1.10.3, tunnelfront was crashing right away though, so it does seem fine now.

[2018-07-16 09:16] gugu91 commented on #449
@maetthu We have been dealing with this for quite a long time, and we have applied different fixes which always turned out to be mitigations after a certain period of time. Considering this is not a minor issue, and I imagine everyone is planning to use AKS in production systems with significant economical impact in case of downtime, I think there needs to be an official guideline from Microsoft.

[2018-07-16 09:46] gugu91 commented on #449
@maetthu sorry, didn't mean to undermine your feedback, just stressing I would like an official guideline from MS.

[2018-07-16 09:53] StianOvrevage commented on #455
Looks like this might be working on 1.10.5:

[code]

[2018-07-16 09:54] shm007g commented on #326
I have this for many times when I test aks.
Retry don't always help.

![image](https://user-images.githubusercontent.com/16999665/42752696-4caaa2ea-8921-11e8-9a15-3e3982351748.png)

[2018-07-16 10:33] shm007g commented on #360
I got this in AKS and it really hurts me when i'am re-test AKS. I don't know what happend when my domain name can't reach service. Then I know it. I manually edit svc and get load-balancer a new external IP, then my AKS work again.

[2018-07-16 12:00] gorrog commented on #501
Update - the Azure team restarted the API layer on our cluster and this sorted it out. After upgrading we haven't had the issue happen again.

[2018-07-16 12:20] Raistlix commented on #360
@shm007g I'm assuming your making the edits within the Kubernetes portal. What type of edit to the service?

[2018-07-16 13:48] shm007g commented on #360
`kubectl edit svc ${name}`  to edit svc type from `LoadBalancer` to `NordPort`, then change it back, see if service will load again. But it doesn't work.

Then i search the statement `external ip invalid`. So, i ping my external IP, which i timeout.  Reason Found !!

Then I edit svc again, delete the static external ip i put with key `LoadBalancerIP`. It load quickly to another reachable external

[2018-07-16 14:55] rite2nikhil commented on #449
Folks thanks for all the feedback.

Firstly what it means when tunnel-front is in crashloopbackoff is beacause of readiness probes failing. The readiness probe validates a healthy tunnel which allows k8s functionality like logs exec

So because of any external reason e.g network, the connection can be broken. With a recent tunnel front version 4.4 as @maetthu pointed out we have made it more resil

[2018-07-16 16:03] TiagoJMartins commented on #531
Experiencing the same issue on westeurope. Tried 1.10.5 and 1.9.9.
azureproxy's nginx can't resolve the upstream kubernetes api endpoint.

[2018-07-16 16:21] di9383 opened #532 "ILB Frontend IP configuration does not changes while updating service"
AKS version 1.8.7

How to re-produce:

AKS service is created using .yaml manifest. ILB is described as it is shown in the documentation:

[code]
ILB instance with the "kubernetes-internal" name is created with a correct private IP address pointing to the service described. If I change the "loadBalancerIP" to another internal IP address and re-deploy the service, the last is deployed with the corr

[2018-07-16 17:14] gomker commented on #178
Running into same issue doing testing as I destroy and recreate ACS clusters using Ansible. I have to delete the existing configuration before I test.

[2018-07-16 20:20] mbrancato opened #533 "Advanced networking pods getting wrong IPs"
We've identified an issue when using the advanced networking and custom Vnet that pods are getting assigned the wrong IPs. This causes a number of issues in the cluster when deploying apps.

This is likely deployment specific as we have deployed with the Portal and seen it work correctly, but with Terraform we're seeing these issues. We're currently working thru a support request to identify a cau

[2018-07-16 20:57] Strandedpirate opened #534 "Troubleshoot/bring masters back online upon failure and basic transparency for AKS masters"
Last month (6/19) we had a brand new AKS cluster go offline and there was no major load being put on it. After a lot of troubleshooting it was clear that the master was unreachable but we have no way of getting any details about the masters now on AKS like we did on ACS.

* Rebooting the single agent node had no affect.
* Scaling the agent nodes up to 2 had no affect.
* We had no insight into the

[2018-07-16 22:32] cpuguy83 commented on #528
/cc @seanknox

[2018-07-16 22:56] mbrancato commented on #533
I've confirmed this same issue when creating an advanced networking cluster using the Azure CLI 2.0.41.

[2018-07-16 23:15] mbrancato commented on #531
hey @paulbouwer , can you run some of your `kubectl get pods` commands with the `-o wide` option to show their IP and node? I think you're having the similar issues we've been experiencing in #533.

[2018-07-16 23:56] iandvt opened #535 "AKS RBAC - Debugging"
I've followed the on-boarding instructions for [Integrate Azure Active Directory with AKS](https://docs.microsoft.com/en-us/azure/aks/aad-integration) with partial success. Any advice on how to triage the Azure CLI AAD callback coming back with the the following error?

Unable to connect to the server: acquiring a token for authorization header: acquiring a new fresh token: waiting for device code

[2018-07-17 01:05] seanknox commented on #528
@edernucci can you provide some information about your cluster?

* node count
* kubernetes version
* description of cluster workloads

[2018-07-17 09:07] markwaldkat commented on #521
With this script it can reproduced.
It seems the API server is responding with 404s under load.
I can match up requests logs in azureproxy with the access logs on the apiserver side as long as the response code is HTTP 200. I can't find the corresponding access log on the API server side if the HTTP response code is 404 though.

consul_install.sh:
[code]

[2018-07-17 09:32] HK-Zhang commented on #132
it is disappointed to know the Verticle Scaling is not supported in AKS.

[2018-07-17 11:39] MarkTopping commented on #515
Took me a while to get round this this since i'd applied a workaround which took the pressure off. Anyhow, just confirming...

Using the AD Group Object Id instead of Group Name worked.

Thanks.

[2018-07-17 11:59] MarkTopping opened #536 "Pods fail to deploy. Error: NetworkPlugin cni failed to set up pod. (v 1.10.3)"
**What happened**:
At random, both our clusters (nonprod and prod) have at some point failed to provision new pods upon applying a deployment. We've witnessed this issue 3 or 4 times now across 2 clusters.

The pods concerned were stuck in a 'Container Creating' state, and upon inspecting the pods concerned, the events showed this error:

Warning  FailedCreatePodSandBox  3m    kubelet, aks-agentpo

[2018-07-17 12:13] marekr commented on #530
Updated to 1.10.5 from 1.10.3 just for the hell of it (not expecting ndoe status to change)

And it's gone from working to being intermittent from time of upgrade when it was blank for the last 2 days.

![image](https://user-images.githubusercontent.com/1838013/42816540-322a94b6-8999-11e8-8e74-dc40565d70f9.png)

[2018-07-17 14:09] borstibacon commented on #430
Sorry for answering that late. I was afk for holidays.

Thanks to @StianOvrevage  for the link.
I created the cluster again and than it worked fine!

Also thanks @sauryadas
The SPN has the needed rights. So it seems that it was another problem.

Thank to all for the support.

[2018-07-17 14:09] #430 closed

[2018-07-17 14:36] dstrebel commented on #535
Typically this means that it doesn't have permission... Did you click on the "Grant Permissions" in the portal UI when setting up the app registration? It's not totally clear from the documentation and can easily be missed.

[2018-07-17 14:59] ErickWendel opened #537 "Intermitent Problem - CreatingLoadBalancerFailed"
**What happened**:
Error to expose Services as LoadBalacer type

`kubectl describe svc mongodb`
[code]
`kubectl get svc `
`mongodb-svc                 LoadBalancer   10.0.208.59    <pending>        27018:32303/TCP`

**What you expected to happen**:

Generate Ip Addes LoadBalancer
**How to reproduce it (as minimally and precisely as possible)**:
[code]
`kubectl create -f svc.yaml`

**Anything else

[2018-07-17 18:16] sauryadas commented on #515
Closing this since this is now working

[2018-07-17 18:16] #515 closed

[2018-07-17 18:18] sauryadas commented on #132
@HK-Zhang thanks for the feedback. Please see above for a proposed alternative solution. We will also discuss the vertical scaling internally but there is no ETA. FWIW GKE doesnt support vertical scaling Closing this issue for now.

[2018-07-17 18:18] #132 closed

[2018-07-17 18:29] northtyphoon opened #538 "[Question] Auto assign DNS name label on generated public ip resource"
I deployed an nginx ingress. k8s auto created a static public ip resource in MC_* resource group and use the ip for the load-balance.

Now I want to configure the public ip as a traffic manager endpoint but it requires the public ip has DNS name label.

Is it possible to let k8s auto assign a DNS name label (eg, random guid or based on annotation) on the public ip?

[2018-07-17 19:03] sauryadas commented on #537
Are you able to deploy a simple nginx app with type lb and expose it through a public ip on your cluster?

[2018-07-17 19:57] neumanndaniel commented on #538
Don't use Azure endpoint as type for the Traffic Manager endpoint. Just switch to external endpoint and you can specify the public ip without having a DNS name label for it.

[2018-07-17 21:04] mvmalderen commented on #131
We're experiencing similar behavior as described above on a 4-node AKS cluster. Before we scaled up from 3 to 4 nodes the issue was there too. After running a Spark workload on our cluster we're seeing all sorts of odd things happen ranging from nodes getting in NotReady but still having running pods, to pods stuck in Unknown or Terminating states. Rebooting the underlying VM of the Azure scale se

[2018-07-17 23:25] #531 closed

[2018-07-18 07:47] programmersommer opened #539 "AKS with AAD authentication in service"
I have deployed AKS with nginx-ingress. Everything is working fine except one thing.
My docker service has AAD authentication. Just to clarify - I mean just authentication. I am not talking about AAD access to Kubernetes.
My AKS ingress is using LetsEncrypt for SSL certificate creation. More or less everything is done based on this article: [HTTPS Ingress on Azure Kubernetes Service (AKS)](https:/

[2018-07-18 10:34] MarkTopping commented on #536
Allow me to extend the information I've provided in case it is useful.

The issue has just arisen again on one of my clusters.

We deployed successfully into the first namespace; but then seconds after the CNI error occurred when deploying into the second namespace.

We then progressed the deployment into the 2nd cluster and this deployed successfully.

Any repeated attempts to redeploy into the f

[2018-07-18 11:16] StianOvrevage commented on #345
@NicolaiPetri s workaround works here. I also added the sidecar container that exposes dnsmasq metrics.

Here is how to apply both workarounds and this makes default prometheus-operator setup to automatically start scraping both metrics. Save the following file as `kube-dns-metrics-patch.yaml` and run `kubectl patch deployment -n kube-system kube-dns-v20 --patch "$(cat kube-dns-metrics-patch.yaml)

[2018-07-18 13:22] mmisztal1980 commented on #3
I'd apreciate na update on this. We have a strict naming policy in our company and we'd like to have the option to create all of the resources in the resource group of our choosing.

[2018-07-18 13:37] wouterhund commented on #285
I'm getting the same for any kind of `kubectl port-forward` where the TCP socket is idle for few minutes.

[2018-07-18 15:26] sjdweb opened #540 "Issues with ACR authorization when AKS cluster created with SP name not appId"
I found issues with the Azure ACR/AKS Service Principal auth integration.

The cluster was created with the clientId set to the SP name (e.g. `http://appname/`) instead of the appId (e.g. `0000-000-000`).

I ran through my problem with @andyzhangx and found that the only way this worked was to create a brand new cluster with the clientId set to the SP appName.

The docs do say this should be possi

[2018-07-18 15:38] murraypete commented on #510
Hit against this just now as well.

My contributor level user account cannot create an AKS cluster in a custom vNet - it errors with the same subnet roleAssignments message as above. Fails at the validate step in the GUI (and if you push on through fails on build). Happily created clusters previously with the same account and same options selected.

Granting my user Owner perms on the target vnet/

[2018-07-18 15:41] andyzhangx commented on #540
@neilpeterson

[2018-07-18 16:48] necevil commented on #455
I can confirm that (as of today) in my case upgrading to 1.10.5 via the docs over here (https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster) fixed my issue and I was able to install prometheus via helm.

[2018-07-18 17:14] holmesb commented on #510
I have a support ticket open for this and Microsoft PS have been liaising with me directly.  Yesterday they told me that a fix should be applied next week.  They also said:
"The error that you received does have one by-design scenario – not the one associated with your case – but there are some circumstances in which this error would be thrown.  Let me know if you’d like to discuss"

I suggest MS

[2018-07-18 18:55] mnadeau2 commented on #243
What is the status on this issue ? having the same problem. AKS in subscription A, ACR in subscription B. Role assignment is visible in the ACR permission, but it doesnt pull the image. Any workaround ?

[2018-07-18 20:33] brusMX commented on #442
I know this is not a solution to this problem, but I just wanted to share a workaround for anyone that wants to provide access to an ACR created after the k8s cluster provision.
You can just create a secret (if you have the kubectl access). This effectively doesn't solve this issue, but might unblock you if you need to add an ACR:

[code]
Source: https://github.com/MicrosoftDocs/azure-docs/blob/ma

[2018-07-18 21:22] ams0 commented on #401
Bumping this up, also because I'm looking into https://github.com/gluster/gluster-kubernetes and while I can (sort of) get it to run in acs-engine, it will be great to have volumes in AKS nodes that I could use for a hyper-converged storage.

[2018-07-18 21:44] HartS commented on #115
Ran into this issue recently in the East U.S. region. I'm using the cluster for testing and am turning the VMs off and back on as part of this testing (to work around other suspected AKS issues). This last time it came back up `kubectl logs` and `kubectl exec` were both not working, with the same timeout message as in the original report.

After turning VMs off and back on yet again, `kubectl logs

[2018-07-19 03:00] northtyphoon commented on #538
Thanks @neumanndaniel . If I remove the nginx deployment from k8s, will the external endpoint be auto-removed from the traffic manager? If I use Azure endpoint, it is auto-removed.

[2018-07-19 03:42] andyzhangx opened #541 "Change default VM size to 2 CPU cores at least in azure portal of creating AKS cluster page"
**What happened**:
As I could see in azure portal, when creating an AKS cluster, the default VM size is `Standard DS1 v2 (1 vcpus, 3.5 GB memory)`,  actually according to my [investigation](https://github.com/Azure/AKS/issues/166), VM size with 1 core would have issue, the system is very slow, could you change default VM size to 2 CPU cores at least, e.g. `Standard D2s v3 (2 vcpus, 8 GB memory)`

[2018-07-19 03:43] andyzhangx commented on #166
@slack I filed a new issue here to "Change default VM size to 2 CPU cores at least in azure portal of creating AKS cluster page":
https://github.com/Azure/AKS/issues/541

[2018-07-19 03:44] andyzhangx commented on #166
As I could see in azure portal, when creating an AKS cluster, the default VM size is `Standard DS1 v2 (1 vcpus, 3.5 GB memory)`,  actually according to my [investigation](https://github.com/Azure/AKS/issues/166), VM size with 1 core would have issue, the system is very slow, could you change default VM size to 2 CPU cores at least, e.g. `Standard D2s v3 (2 vcpus, 8 GB memory)`

Moreover, I think w

[2018-07-19 06:37] neumanndaniel commented on #540
The docs are misleading or the az cli output in general, when you are using az ad sp create-for-rbac --skip-assignment. In the output "name" has the value of the reply URL and that would never work during an assignment, referencing the SP via the reply URL. If you look at the SP via the Azure portal you will recognize that the "name" of the SP is the same as the "displayName" output of the az cli

[2018-07-19 06:49] tomkerkhove opened #542 "Azure Portal Experience - Scaling cluster failed & cluster entered "failed state" due to core quota"
**What happened**:
When trying to add a new node via the Azure Portal it failed and mentioned that the cluster went into a failed state. After contacting Azure Support it turns out that this was because we've reached our core quota for that VM family.

**What you expected to happen**:
The portal should provide equally information as what the `az aks scale` command does:
[code]

This would make it

[2018-07-19 07:35] uday31in opened #543 "Allow Secrets to be stored inside Key Vault"
Allow Following properties to be stored inside KV.
[code]

Using KV ref- deployment fails with following error despite spec allows it at least for servicePrincipalProfile.secret

https://github.com/Azure/azure-resource-manager-schemas/blob/9f722c074baa6c54d272f292f56ffce5f1d464b4/schemas/2018-03-31/Microsoft.ContainerService.json#L197

 "status": "Failed",
  "error": {
    "code": "ResourceDeploym

[2018-07-19 07:41] sjdweb commented on #540
I see @neumanndaniel. I've used the `name` value as the clientId in earlier ACS clusters also without problem as the docs recommended it too.

The ACS and AKS clusters always functioned fine using the SP `name` (e.g. `http://azure-cli-2018-07-06-15-00-13`) it was only the newer ACR integration that failed.

[2018-07-19 10:12] markwaldkat commented on #521
Enabling accelerated networking on the VMs improves the situtation.
Would be great to have this as the default setting.

[2018-07-19 10:23] baracoder commented on #285
Experiencing the same with `kubectl logs -f`, if the pod does not log anything for a couple of minutes, the connection freezes up.

[2018-07-19 11:57] svollath commented on #412
When I tried the initial described commands yesterday (that was with kubernetes 1.9.9) they worked for me.
I would like to change our documentation back to the safe solution of modifying "/etc/default/grub.d/50-cloudimg-settings.cfg" and run "update-grub" - however I'd somehow prefer a confirmation that images are considered fixed (from xy on) before.

Btw. here's a more safe way to add "swapaccou

[2018-07-19 17:19] MarcosMMartinez commented on #510
Visibility for @weinong - Cecilia Zheng / Jenna Netland are on this.

This issue has been acknowledged internally through **IcM 76423232**.

The issue is currently reproducible when you try to deploy an AKS cluster with advanced networking when logged into portal as a Contributor -- completely irrespective of the rights of the SP being entered.

The scenario in which this error is acceptable:

- C

[2018-07-19 18:56] mbrancato opened #544 "Redeploy tunnelfront after NodeLost"
I've been able to reproduce (not by choice) a couple times where a high load (memory pressure) on a node will cause a NodeLost scenario. I can recover the node and cluster, but the cluster sometimes (maybe 2 out of 3, I'm not *trying* to discover this) will never function correctly again because `tunnelfront` will continue to fail liveness probes.

In some cases, deleting the pod will fix it when

[2018-07-19 19:29] mbrancato opened #545 "AKS deployed kubelets do not evict and have no system-reserved resources"
I've noticed that even when 'free' memory runs less than 100MB (I observed 82MB), the kubelet does not evict pods. I'm not sure if this an an upstream issue, this was with AKS and 1.9.9. By default, AKS sets `--eviction-hard=memory.available<100Mi` for memory.

That said, AKS has QoS enabled but does not set *any* `system-reserved` resources for memory or CPU on the kubelet runtime. I've had this

[2018-07-19 20:38] iandvt commented on #535
For a sanity test - I deleted my AKS cluster, my resource group, my AAD Applications, and went through this entire process again. Unfortunately, I hit the exact same error.

What would be the next course of action for me? Is this worth opening up a Azure Ticket?

[2018-07-19 21:42] weinong commented on #326
can you guys send AKS details including subscriptionID, resourceGroup, resourceName to aks-gh-feedback@service.microsoft.com so that we can take a good look?

cc: @jdogg89 @shm007g @carloreggiani @kblooie @chechiachang @rafaelmluz

[2018-07-19 22:23] dsalamancaMS commented on #528
@edernucci, can you provide the following outputs:

cat /proc/cgroups
docker ps | wc -l
systemd-cgls memory | grep docker-containerd-shim | grep -v | wc -l
systemd-cgls memory | grep pod | grep -v grep |grep -v kubepods | wc -l

[2018-07-19 22:48] sauryadas commented on #522
@ultimateboy Can you please look into this?

[2018-07-19 23:57] dtzar opened #546 "Pods unable to quickly communicate with API server"
**What happened**:

Deployed the traefik helm chart and looking at the behavior and logs immediately after deployment, it is not able to communicate with the API server to pull down the ingress rules until after about 15 minutes it seems to revert to the alternative authentication mechanism and succeed.  After it works the first time, it also has a longer delay to update the ingress rules.

**What

[2018-07-20 02:52] tamalsaha commented on #546
Dup https://github.com/Azure/AKS/issues/522 ?

[2018-07-20 04:17] SnehaJosephSTS commented on #14
**I am still facing this issue while running the "kubectl get nodes" command.** I have tried the following but with no luck :(
1. Upgrading Kubernetes Version
2. Increasing node count via portal and then running "kubectl get nodes".
3. Re-logging via "az login"

[2018-07-20 05:58] andyzhangx commented on #442
@brusMX yes, that's a common way to store registry secret. I already got a fix for this: https://github.com/kubernetes/kubernetes/pull/66429

Here is the root cause:
after granting sp access to azure ACR , pull image from ACR would fail, and **after wait about 15-30min, pull image would succeed**. Root cause is that `servicePrincipalToken` needs to be refreshed when doing `registryClient.List`, ot

[2018-07-20 08:14] Cherishty commented on #136
Still occurring this issue on kubenetes v1.9.9 with azure file pvc..

[2018-07-20 08:19] andyzhangx commented on #136
pls check upstream issue for details: https://github.com/kubernetes/kubernetes/issues/58413
@Cherishty

[2018-07-20 09:29] digeler opened #547 "Lets encrypt not working with aks built in ingress "http-01 self check failed for domain""
**What happened**:
trying to pull certificate from acme without success getting : http-01 self check failed for domain

**What you expected to happen**:
Certificate to be issued automatically

**How to reproduce it (as minimally and precisely as possible)**:
1. Create aks cluster latest version with ingress enabled.
2. follow this guide but skip the ingress part : https://docs.microsoft.com/en-us/

[2018-07-20 10:38] neumanndaniel commented on #540
Good to know. I have run into issues in the past relating to the names. Even using what we proposing in the docs. So, I switched to the appId. :)

[2018-07-20 11:50] amandadebler opened #548 "Deployment fails when Role Assignment already exists"
**What happened**: Cluster creation failed because Role Assignment failed; RoleAssignmentExists

**What you expected to happen**: Cluster creation to succeed, with perhaps a warning about the existing Role Assignment; choose another Role Assignment identifier if the default one is already in use

**How to reproduce it (as minimally and precisely as possible)**:
1) Create cluster named ClusterA in

[2018-07-20 19:16] omgsarge commented on #14
@SnehaJosephSTS - we had to re-create our cluster after AKS went GA. Haven't had the issue since then. Upgrade for us did not work, nor did scaling.

[2018-07-20 22:01] weinong commented on #326
@rafaelmluz are you using advanced networking? k8s cloudprovider should have created the IP for you...

[2018-07-20 23:14] rafaelmluz commented on #326
I created a traditional cluster of the k8s.... after I created public IP
and later, applied the .yaml settings.

Exactly in the step.

Em sex, 20 de jul de 2018 19:01, Weinong Wang <notifications@github.com>
escreveu:

[2018-07-20 23:19] technosophos commented on #521
I've asked the AKS team to look at a few performance things to see if we can make any more progress on this. We're seeing similar issues with other tools like Brigade, and wondering if they are triggering some condition that is causing latency.

[2018-07-20 23:47] weinong commented on #326
hey folks, the control plane logs like controller manager logs are accessible to you for debugging

check this out!
https://medium.com/@weinong/azure-kubernetes-service-control-plane-logs-f8ffa449fd

[2018-07-21 01:17] seanmck commented on #379
It doesn't look like there's any more action required here, so closing.

[2018-07-21 01:17] #379 closed

[2018-07-21 01:29] seanmck commented on #220
AKS is now available in Japan East.

[2018-07-21 01:29] #220 closed

[2018-07-21 01:30] seanmck commented on #93
A `--max-pods` switch is now available on `az aks create`.

[2018-07-21 01:30] #93 closed

[2018-07-21 01:32] #144 closed

[2018-07-21 15:15] danielrmartin commented on #14
I am getting the error this morning. while trying to get nodes on a new cluster in eastus.

[2018-07-21 17:09] khenidak commented on #522
@rite2nikhil has been actively engaged in this. We believe we have found the problem. It was misbehaving niginx acting forward proxy to forward `kubernetes default service` to the hosted control plane. We have started patching the clusters with the solution. Please allow sometime before all clusters gets the patch

[2018-07-21 17:13] khenidak commented on #548
@weinong FYI

There is a an on going bug with CLI that it attempts to re-assign roles. Until we can get this fixed. Please try using arm template deployments. Apologies.

[2018-07-21 17:20] jdogg89 commented on #326
I ended up opening a support ticket, it was an issue where when creating a
cluster with advanced networking, the service principal didn't have
contributor access in the resource group the cluster was created in. This
is obviously a bug with AKS

On Fri, Jul 20, 2018, 6:47 PM Weinong Wang <notifications@github.com> wrote:

[2018-07-21 21:02] rfum opened #549 "AKS Nodes default installed Docker version support"
I've just realized that AKS nodes are using an old version of docker engine. Does any update plans exists? Or do we have to update the engine our own? Because it's blocking our pipeline we cannot build multistaged dockerfiles.

Here is the output of `docker version` :
[code]

[2018-07-22 00:16] rite2nikhil commented on #522
@prydonius the cluster you shared on feedback email has been patched, can you see if that fixes the issue you reported.

Other who want expedited patch for their cluster can send the sub id, resource group, cluster name to aks-gh-feedback@service.microsoft.com

Thanks all for reporting the issue.

[2018-07-22 00:17] rite2nikhil commented on #546
If you want expedited patch for your cluster can send the sub id, resource group, cluster name to aks-gh-feedback@service.microsoft.com

[2018-07-22 00:19] rite2nikhil commented on #544
Can you please send your sub id, resource group, cluster name to aks-gh-feedback@service.microsoft.com

I can take a look

[2018-07-22 17:55] weinong commented on #545
We have plan to enable `--kube-reserved` on kubelet. This will probably go live in two weeks.

[2018-07-22 17:58] weinong commented on #547
Quoting @brendandburns from internal thread

[2018-07-22 17:59] weinong commented on #547
assign to @sauryadas for doc update

[2018-07-22 18:03] weinong commented on #543
AKS does not support `keyVaultSecretRef`. It's a bug in AKS swagger.

That being said, passing secure value in Keyvault in template deployment should work. Have you tried that?
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-keyvault-parameter

[2018-07-22 18:06] weinong commented on #548
Yes, it's a cli bug.

@khenidak @amandadebler i think we can have option to skip the role assignment to the subnet as some customers may want to a narrower role or even custom role. Thoughts?

[2018-07-22 18:37] weinong commented on #540
This seems like a bug in upstream. @khenidak ?

[2018-07-22 19:03] weinong commented on #538
try this
[code]
This [PR](https://github.com/php-coder/kubernetes/commit/e686b634654e4d74aeb4b245899d6ebcc1485b85) implemented this.

[2018-07-22 19:07] weinong commented on #549
We are investigating to update the docker version.

[2018-07-23 08:02] AaronFriel opened #550 "Default storage class consistently resets back to `default`"
**What happened**:

I ran the following command against my kubernetes cluster:

[code]

**What you expected to happen**:

I would expect the `default` class to have the annotation: `"storageclass.beta.kubernetes.io/is-default-class":"false"` and for the change to persist.

It does not.

**How to reproduce it (as minimally and precisely as possible)**:

Apply the patch in the description.

**Anythi

[2018-07-23 10:14] yossaa commented on #326
Same issue. Caused by Public IP limit. Kubernetes reports:
Error creating load balancer (will retry): failed to ensure load balancer for service default/heat-lb: timed out waiting for the condition

Azure activity log shows:
Cannot create more than 20 public IP addresses with static allocation method for this subscription in this region.

But... I already have one static IP -it was assigned to a s

[2018-07-23 10:32] amandadebler commented on #548
@weinong We would *love* to have the option to skip the role assignment, because right now, I can't create a cluster unless I'm an *Owner* of the Resource Group that the vnet (and subnet) is in, and our security team is really not happy about that.

[2018-07-23 10:49] yaron-idan commented on #549
We are also interested in a way to upgrade docker version on the AKS clusters. Specifically because we aim at migrating from acs-engine since our nodes met this issue - https://github.com/moby/moby/issues/31768, and moving to AKS with the same docker version seems to increase the odds of meeting this issue again.

[2018-07-23 10:55] wouterhund commented on #68
@khenidak This is a big problem for `kubectl port-forward`. Gaining access to in-cluster resources becomes really difficult if the TCP sockets get killed every minute or two. This problem does not exist for any other kubernetes deployments I've used.

[2018-07-23 10:57] amandadebler commented on #548
@khenidak I encountered this error when using the Portal, not the CLI.

[2018-07-23 13:14] richerlariviere commented on #522
@rite2nikhil Is there a release date for this patch?

[2018-07-23 13:54] khenidak commented on #68
This has been fixed few weeks back and we are rolling out steadily since. @ritetonikhil can add more details

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Wouter <notifications@github.com>
Sent: Monday, July 23, 2018 03:55
To: Azure/AKS
Cc: Khaled Henidak (Kal); Mention
Subject: Re: [Azure/AKS] Tunnel dies quickly after issuing az aks browse (#68)

@khenidak<h

[2018-07-23 14:53] mvasilenko commented on #245
@jackfrancis any update on this issue? Thank you

[2018-07-23 15:57] vdice commented on #521
We believe we've identified the issue and have a fix intended for rollout this week.  Pre-existing clusters will need manual patching, however.  cc @rite2nikhil @khenidak

[2018-07-23 15:58] vdice commented on #524
We believe we've identified the issue and have a fix intended for rollout this week.  (See https://github.com/Azure/AKS/issues/522)

Pre-existing clusters will need manual patching, however.  cc @rite2nikhil @khenidak

[2018-07-23 16:14] weinong commented on #548
for the time being, can you use ARM template to deploy?

[2018-07-23 16:52] jackfrancis commented on #425
Hi @vishnoisuresh, did your scale up operation (`az aks scale` etc...) to 4 nodes succeed? The symptom you are describing suggests a cluster node that wasn't successfully installed, so I would expect you would have received an error response from the scale attempt.

[2018-07-23 18:11] wouterhund commented on #68
@khenidak Glad to hear! Looking forward to seeing this fixed in the westeurope region. By the way, that `@mention` seems to have failed.

[2018-07-23 19:43] aidancbrady commented on #309
Just ran into this issue while trying to create a cluster in East US. Seems to happen sporadically.

[2018-07-23 20:54] rsnj commented on #548
I'm having the same issue. I've tried to create a new (from scratch) AKS cluster in both the Azure Portal and via the JSON ARM templates. It fails every time with the FailedRoleAssignmentCreation error.

[2018-07-23 21:04] AaronFriel commented on #550
Please make it not the default?

[2018-07-23 21:08] sauryadas commented on #547
@iainfoulds Can you please update the docs to indicate the let's encrypt doesn't work for azure.com domain ?

[2018-07-23 21:16] edernucci opened #551 "Unable to read manifest path "/etc/kubernetes/manifest""
Hi there,

We are seeing this log (as error) from kubelet every 30 seconds, on every node. Seems that is something easy to solve (as you can see in this issue from our friends https://github.com/heptio/aws-quickstart/issues/117).
Can you help us?

Regards

[2018-07-23 21:51] edernucci commented on #528
@dsalamancaMS unfortunately the error appear after some hours/days. But here is how it are now:

[code]

[2018-07-23 23:53] jackfrancis commented on #245
This should be in AKS by default for all new node cluster operations (create/upgrade/scale)

[2018-07-23 23:53] #245 closed

[2018-07-24 00:52] dewnull commented on #293
Is there away to exclude pods or namespaces from Log Analytics?

[2018-07-24 03:49] mbrancato commented on #533
@sukrit007 This is an issue related to the pod-cidr value and network-plugin values. Make sure you set `--network-plugin azure` when using the CLI. That should get you going with the CLI.

The Terraform issue here is being handled by https://github.com/terraform-providers/terraform-provider-azurerm/issues/1434

[2018-07-24 03:49] rite2nikhil commented on #522
The fix is expected to rollout to production by 07/27, this will fix new cluster, the older clusters will be patched in next few weeks as it will be a slower rollout process, however an update / scale or upgrade operation after 07/27 should apply the patch on current clusters as well.

[2018-07-24 05:42] rite2nikhil commented on #68
We are in process of rolling out a fix for this. Thanks all for your patience

[2018-07-24 07:33] RossJayJones commented on #428
Apologies for the noob question, but I assume that the controller.service.loadBalancerIP value provided needs to be an available IP address on that subnet. Is that correct?

[2018-07-24 07:37] RossJayJones commented on #428
Ok never mind. From https://docs.microsoft.com/en-us/azure/aks/internal-lb

_The specified IP address must reside in the same subnet as the AKS cluster and must not already be assigned to a resource._

So that answers it :)

[2018-07-24 07:55] oportingale commented on #274
Hi, I am also experiencing this on a freshly built cluster Kubernetes version 1.10.5.
Started with 3 nodes and configured autoscale with a maximum of 10 nodes. I increased replicas of my deployment and nodes scaled up to 5. I then changed replicas down but the autoscale down didnt work.
I ended up manually scaling back down so the VM's have been deleted in the resource group however kubectl now li

[2018-07-24 08:11] RossJayJones commented on #428
I am getting stuck when with trying to allocate the private IP

`Error creating load balancer (will retry): failed to ensure load balancer for service kube-system/loitering-emu-nginx-ingress-controller: user supplied IP Address 10.51.16.125 was not found in resource group <resource group name>`

Should I somehow be creating this IP before running this command?

[2018-07-24 08:19] sukrit007 commented on #533
Thanks @mbrancato   that worked like a charm!

[2018-07-24 08:32] Mumrau commented on #428
@RossJayJones yes you need to create the IP Azure Resource and put it inside the resource groupe where your vms (nodes) are (usually MC_clustername_location (or something like that)).

[2018-07-24 08:35] yungezz commented on #548
i met same error when using az cli and portal to create a brand new aks cluster, with default new service principal.

[2018-07-24 09:18] Mumrau commented on #153
No update on this?
This is not the first time I'm having issues getting a proper working cluster.

The most annoying is the azureproxy being down since it looks like it is one of the uttermost importance.
If anyone knows the real purpose of this component, I would be interested into it.

[2018-07-24 12:17] ccanuel commented on #421
I'm coming in from issue 391. I don't see the relation but I'm willing to play the game.

How can i replicate the DNS timeout to confirm that this is my issue and not something else?

[2018-07-24 12:36] lfshr commented on #421
@ccanuel see OP.

[2018-07-24 13:00] ccanuel commented on #421
OK confirmed-ish

recycling the dns pods worked

[2018-07-24 15:01] markusdresch opened #552 "kubernetes.default.svc endpoint ip 172.31.x.x does not respond"
**What happened**:
I installed coreos prometheus-operator, fixed connection issues to kube-dns but connection to apiserver still yields error "context deadline exceeded".

**What you expected to happen**:
Connection to apiserver should succeed.

**How to reproduce it (as minimally and precisely as possible)**:
Install coreos prometheus-operator helm package, add ingress rule to view kube-prometheu

[2018-07-24 16:32] jawahar16 commented on #14
I am getting the same issue in eastus. I enabled "rbac" with the AKS create command.,

az aks create --resource-group my-AKS-resource-group --name my-AKS-Cluster --node-count 3 --generate-ssh-keys --enable-rbac

[2018-07-24 18:22] JunSun17 commented on #421
@jackfrancis @CecileRobertMichon if take longer than 60s to download, can we increase the timeout value?

[2018-07-24 18:22] tomasr opened #553 "Deploying Container Health agent during AKS cluster creation with ARM fails"
Currently testing out an ARM template to provision an AKS cluster. I wanted to include the Log Analytics Container Health solution as part of the template, based on the instructions [here](https://docs.microsoft.com/en-us/azure/monitoring/monitoring-container-health?toc=%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json). However, I'm running into some unexpected problems.

T

[2018-07-24 18:43] jackfrancis commented on #421
There are some downsides to increasing the timeout: for example, we degrade our ability to "fail fast" when there is a real problem with sourcing the image.

40 seconds seems a long time to wait for DNS resolution. Perhaps we should consider reconfiguring the DNS layer to step through its configured resolvers more quickly, like after 5 seconds, for example.

[2018-07-24 19:49] lfshr commented on #421
@jackfrancis is there a specific reason you're killing the docker executable and not trusting it's ability to error handle?

[2018-07-24 20:14] jackfrancis commented on #421
@lfshr do you mean why are we wrapping it inside a `timeout` call?

The answer to that, if that's why you're asking, is to enforce per-command time limits in the event of transient, as-yet-unidentified errata, particularly in the OS layer. Those time limits are aids towards achieving the trade-off of "do a best effort" plus "fail fast" that we are aiming to achieve by paving the application layer

[2018-07-24 22:34] marekr opened #554 "Cluster networking gone intermittent"
I was mucking about with kubectl proxy earlier on a cluster that otherwise worked just fine. And I don't think it would be related but I went from a perfectly healthy cluster to one now having very intermittent networking.   It did somehow break the dashboard pod and it went into a restart crash loop with log messages about not being able to talk to the api server even though I could access just f

[2018-07-25 02:52] kamalgrover commented on #87
@slack : Does AKS GA supports network policies through Project Calico?

[2018-07-25 04:41] mkfsn opened #555 "How to upgrade AKS cluster to GA?"
I have created some AKS clusters and as AKS has gone to GA, how do I migrate/upgrade my existing clusters?

Does it mean that I need to create further clusters and then move my services to the newly created cluster? Or I only need to upgrade my existing cluster to a specific version of kubernetes e.g. `1.9.9`?

[2018-07-25 06:46] MarkTopping commented on #549
@rfum I've previously raised this as an issue since I needed to achieve the same thing.

These issues might be of interest to you; but it isn't good news (or wasn't):
https://github.com/Azure/acs-engine/issues/2589#issuecomment-397424928
andd
https://github.com/Azure/acs-engine/issues/3213#issuecomment-402318304

[2018-07-25 06:51] markusdresch commented on #552
An even simpler way to reproduce it. Get the apiserver endpoint:
[code]
Curl the endpoint from a pod:
`> kubectl exec [somepod] -- curl https://172.31.31.195/metrics -k`
Auth header can be passed too, but doesn't make a difference, since endpoint does not respond.

[2018-07-25 07:04] markusdresch commented on #552
https://github.com/Azure/AKS/issues/504

[2018-07-25 07:56] markusdresch commented on #552
i can't find a 172.* IP anywhere in the AKS configuration. where does this endpoint IP come from? is there a way to change this IP to something accessible from within the AKS vnet?

[2018-07-25 08:21] jakidomi commented on #411
+1

[2018-07-25 08:23] jalberto commented on #525
I have same problem in AKS 1.10, probably related to: https://github.com/kubernetes/kubernetes/issues/59543
maybe @andyzhangx can help :)

[2018-07-25 08:45] jalberto commented on #525
thanks @andyzhangx, your previous workaroudn did work well, I don't know if is a good idea to remove previous workaroudn to add new one while there is alreadt PVCs running.

It seems there is not mechanism or process to sync bugfixes between ACS & AKS and that causes lot of back and forth and noise. I suggest to take care of this too.

[2018-07-25 09:07] GSTZ commented on #3
Does the Azure SDK for .NET provide the way to get the auto-generated resource group name?If yes, how?

[2018-07-25 09:09] tomkerkhove commented on #411
Feature requests have moved to UserVoice. I've created a request for Azure Monitor Autoscale support - https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34897312-support-for-azure-monitor-autoscale

@feiskyer CLuster Autoscaler is great but I like to have all my autoscaling configured next to my other Azure resources such as App Plans, API Management, etc. Monitor a

[2018-07-25 10:45] timwebster9 opened #556 "Automate login to AAD-enabled AKS cluster"
**What happened**:  After logging in as a service principal, running `kubectl ...` again prompts for login.

**What you expected to happen**: As I'm already logged in, it shouldn't prompt for a second login.  I had to login as myself (the cluster admin) and therefore could access everything, instead of only the restricted namespace as intended.

**How to reproduce it (as minimally and precisely as

[2018-07-25 12:31] andrewcole commented on #525
thanks @andyzhangx this workaround worked for me too

[2018-07-25 13:58] marekr commented on #554
Ok, the new node I spawned to replace the failing node has now started failing networking as well :(((((((((((((((((

[code]

This is absolutely a disaster.

[2018-07-25 15:14] schweikert commented on #381
What is maybe also interesting is that it takes apparently much longer to add a node (41 minutes) than to create a single-node cluster (18 minutes). I tested with Standard_B2s VMs.

[2018-07-25 16:31] ipalazzi opened #557 "Terraform: Unable to Assign Static IP to a Service Load Balancer"
**What happened**:

I'm building a AKS cluster with Terraform. I'm able to create the Cluster (azurerm_kubernetes_cluster), adding a Replication Controller (kubernetes_replication_controller) and creating a Service (kubernetes_service).

The Service exposes a Load Balancer in order to make it public.

I'm trying to assign a previously created Azure Public IP to this Service but it fails.

To be mo

[2018-07-25 17:08] sukrit007 commented on #357
Just ran into this issue with aks CLI and I assigned the owner permission to MC_* group and subnet did not seem to be working for us for existing cluster and the addon-http-application-routing-nginx-ingress-controller pods still seem to be in CrashLoop.   (Note:  We did not pass the service principal in CLI and az cli had created the principal for us.  ```azure-cli (2.0.42)```

[2018-07-25 18:10] sukrit007 commented on #427
@WeidongZhou   We were having the same issue. After adding SP to MC_* resource group, did you have to recreate the cluster?

[2018-07-25 18:20] WeidongZhou commented on #427
@sukrit007 I did recreate the cluster during the test. However, got the exact same issue in the new cluster. I provided the solution in my blog at
https://weidongzhou.wordpress.com/2018/06/27/could-not-get-external-ip-for-load-balancer-on-azure-aks/

Please note, even with my workaround solution, it could still take 10 minutes to get an IP for internal balancer if doing internal cluster IP or exte

[2018-07-25 19:01] rnkhouse opened #558 "Use existing AKS loadbalance ip address to create nginx-ingress"
**What happened**:

I am trying to use existing AKS loadbalance ip address to create `nginx-ingress` or any service.  I don't want service to create a new external IP address every time.

It's creating a new IP address.

**What you expected to happen**:

Run nginx-ingress controller on existing loadbalance IP address.

**How to reproduce it (as minimally and precisely as possible)**:

Just run abo

[2018-07-25 20:41] JackQuincy commented on #381
@schweikert I think that is a red herring where the original cluster is in a bad state. Our additive scale code literally does the same things as create just minus a couple steps. there are some small additional things we do but those won't be time consuming. I hope to address the nodes going unready as I work on cluster autoscaler. Which I should start back up next week. Not sure on ETA though.

[2018-07-26 06:47] andyzhangx commented on #442
Update:
The [fix](https://github.com/kubernetes/kubernetes/pull/66429) has already been merged in upstream, and also cherry-picked to v1.9 - v1.11

[2018-07-26 06:50] andyzhangx commented on #243
There is an [upstream fix](https://github.com/kubernetes/kubernetes/pull/66429) would also solve this issue, it's in cherry picking to older k8s versions now.

[2018-07-26 07:11] mlda065 commented on #513
I can confirm that there is now a prompt for `--disable-rbac`. Great!

[2018-07-26 07:20] iosif-koidis commented on #547
I tried with an azure.com domain following this guide https://docs.microsoft.com/en-us/azure/aks/ingress reading the comment above I tried with a custom domain name of mine but still the only thing I get is

 Conditions:
    Last Transition Time:  2018-07-26T06:53:15Z
    Message:               http-01 self check failed for domain "domain-deducted"
    Reason:                ValidateError
    Stat

[2018-07-26 09:46] Daryltp commented on #318
Still an issue on 1.10.5 too

[2018-07-26 11:01] katerinapsperm commented on #519
ping

[2018-07-26 14:51] sukrit007 commented on #427
@WeidongZhou   Thanks for the blog post.  That worked.

[2018-07-26 15:55] brusMX commented on #442
Thank you so much @andyzhangx !

[2018-07-26 17:31] sauryadas commented on #318
We are working on enabling metrics server for >1.9.x versions in the next couple of weeks

[2018-07-26 18:33] #376 closed

[2018-07-26 18:43] digeler commented on #547
i managed to fix the issue here is the full guide :
https://github.com/digeler/letsencrypt-application-routing-aks

[2018-07-26 21:14] BenniG123 opened #559 "'az aks create' command needs to fail faster"
**What happened**:
I tried unsuccessfully to create an AKS resource 2 days ago using default command line options via az on powershell (az aks create ….).  I tried 10 times maybe.  Every single time, the command seemed to be accepted (Running...) and then after 20-30 minutes, the command would fail with a variety of error messages (Cluster create failed - 200, Incorrect number of nodes for this re

[2018-07-26 23:12] tomasr commented on #558
Are you creating the service on an IP Address that is already bound to another service, and that's how it got associated with the load balancer?

[2018-07-27 00:56] JuneZhao opened #560 "IP list for NSG on AKS cluster"
By default, the AKS service creates a NSG with rules 100 (allow_kube_tls) and 101 (allow_ssh). Our information security department mandates that we need to restrict access to the cluster so we need to understand if these rules can be deleted or if they are needed by AKS to do cluster management. If they are indeed needed, we need to restrict them to the minimum required IPs instead of all/all.

[2018-07-27 01:00] JuneZhao commented on #560
@rite2nikhil @khenidak

[2018-07-27 01:12] krancour opened #561 "Internal apiserver calls blocked by Istio-- only on AKS"
Cross posting: https://github.com/knative/serving/issues/1730

[2018-07-27 01:19] weinong commented on #559
why would this combination fail?

[2018-07-27 01:21] jeremyrickard commented on #561
This is also happening on my clusters.

[2018-07-27 07:34] Mumrau opened #562 "Network profile configuration needs empty ids in 2 ranges?"
Hello,

I'm having a question about networkProfile configuration in AKS.
Let's pretend I have this configuration alongside a subnet that resides in 10.10.0.0/16:
[code]
Does this implies that I need my VNET (the one containing the subnet) needs to be "free" on `10.100.0.0/16`, and thus have no subnet over this range, or does this simply implies that the network that resides inside the cluster will

[2018-07-27 08:31] amandadebler commented on #560
We have the same requirement, as well as stricter outbound rules - where can we find the IP ranges for Azure Container Registry for each region, or will this be available as a Service Endpoint soon? The Service Endpoint was originally planned for Spring 2018: https://github.com/Azure/acr/blob/master/docs/acr-roadmap.md#performance--scalability

[2018-07-27 09:16] C123R opened #563 "Custom VNET - Nginx Ingress Controller & Cert Manager not receiving events from API Server"
Nginx ingress controller and Cert manager is not receiving events from API Server.

To give you brief overview, we have recently created new AKS Cluster hosted on custom VNET. AKS cluster was created using Terraform and due to known terraform issue #400 with custom VNET, subnet association with route table was made as workaround mentioned in issue.

We have analyse the issue further and somehow it

[2018-07-27 13:02] neumanndaniel commented on #562
From the Azure docs:

That means you have to make sure that no one uses 10.100.0.0/16 in your entire on-premises and Azure network, when you would like connect your AKS via VNET peering, ExpressRoute or VPN to other resources.

But it does not require to create a second subnet in the VNET with CIDR 10.100.0.0/16. The K8s service network is used internally in the K8s cluster.

-> https://docs.micro

[2018-07-27 13:38] stdistef commented on #560
So for **outbound** NSG rules, there is a concept of _Service Tags_. https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags
One Tag is called **Internet**:
Internet (Resource Manager) (INTERNET for classic): This tag denotes the IP address space that is outside the virtual network and reachable by the public Internet. The address range includes the Azure owned public

[2018-07-27 13:49] krancour commented on #561
Another datapoint: Using [these instructions](https://medium.com/@weinong/azure-kubernetes-service-control-plane-logs-f8ffa449fd), I've been unable to find any apiserver log entries that appear to relate to this.

[2018-07-27 15:32] edernucci commented on #529
@qike-ms Nice to hear! Do we have an ETA?

[2018-07-27 16:48] rnkhouse commented on #558
Nvm. `nginx-ingress` is already running under `kube-system` context (addon-http-application-routing-nginx-ingress-controller).

[2018-07-27 17:02] timmydo opened #564 "addon-http-application-routing options documentation"
I'm using ingress with addon-http-application-routing. Sample config below. Are there a list of documented options/annotations anywhere? I'm trying to disable port 80/http because I only want to serve over 443 with my host names (the allow-http option doesn't seem to exist). Thanks

[code]

[2018-07-27 17:45] davidwmartines commented on #335
Hi @seanmck.  I'm glad to know this is on the roadmap.  So far AKS seems awesome.  Any idea of the timeline on when this hybrid capability will become available?    My company is depending on this being a reality for our deployment strategy due to having legacy .NET framework containers in the mix.  As it is, all of our attempts to create hybrid clusters via swarm mode have failed due to HNS issue

[2018-07-27 20:30] Mumrau commented on #562
Thanks for you reply, your words made it clearer.

Le ven. 27 juil. 2018 à 15:02, Daniel Neumann <notifications@github.com> a
écrit :

[2018-07-27 20:32] #562 closed

[2018-07-27 23:51] AaronFriel commented on #541
I don't think 1-cpu nodes should be forbidden, it's easy to imagine they could be useful as a non-primary node pool.

[2018-07-28 04:17] abizake commented on #411
The support of Cluster Autoscaler in the control plane which is missing in the AKS forces to still use ACS(which also indirectly forces to manage the master nodes ) over AKS in various scenarios.

[2018-07-28 14:13] MarluanEspiritusanto commented on #413
I have this error:

`Starting Azure Container Service / Kubernetes Service Deployment
Delete Kubernetes management config file /var/lib/jenkins/workspace/hello-world/kubeconfig-300833223531956089
ERROR: ERROR: Status code 403, {"error":{"code":"AuthorizationFailed","message":"The client '7912b768-a178-4996-b6e6-38912a9b90da' with object id '7912b768-a178-4996-b6e6-38912a9b90da' does not have autho

[2018-07-28 17:17] Pinox commented on #218
MSI should be working in AKS pods like in App Services. What the point of having key vault in Azure when it does not work also in AKS pods.

Same applies to Reserved IP addresses , should also work in AKS Load balancer , current solution to use Static IP is to create one on AKS  cluster. Note - generated one not one used from Reserved IP's

So Reserved IP's and MSI are currently not working as int

[2018-07-28 22:43] ritazh commented on #218
To access keyvault content from a pod, take a look at https://github.com/Azure/kubernetes-keyvault-flexvol This mounts content from keyvault into your pod and works with pod identity.

[2018-07-29 02:21] liuxiaopiao commented on #411
I am confused that currently can we use  https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md#aks-or-acs-deployment to auto scale in AKS?  Do we need to run the cluster autoscaler in  the control plane? @JackQuincy, could you please give me a hand on this? thanks a lot

[2018-07-29 08:26] MXClyde opened #566 "RBAC inadvertently enabled while upgrading cluster from 1.8.x>1.9.9"
**What happened**:

- Cluster running without RBAC on 1.8.x (1.8.6 if I recall correctly) was upgraded to 1.9.9 using the Azure Portal
- During the upgrade RBAC was inadvertently enabled.
- As a result, the nginx load balancer, Kubernetes Dashboard and running commands like "kubectl logs" all failed with permissions errors.
- Subsequently upgrading to 1.10.5 didn't fix the problem
- Manually addin

[2018-07-29 13:49] derekperkins commented on #566
I had the same experience and ended up recreating my cluster. It was very frustrating.

[2018-07-29 14:44] relferreira commented on #411
I'm a little confused too!
It is not recommended to follow this tutorial?
https://docs.microsoft.com/en-us/azure/aks/autoscaler

[2018-07-30 07:59] pengzhisun commented on #198
@ultimateboy since the AKS is already GA, do you have any documents about how we manage the master node internals inside the AKS, my customer also want to make sure our design met their requirements, especially for following 2 questions:

1. what's the HA design and implementation
2. how we isolate the kubernetes cluster networks across tenants, are all master nodes inside AKS are belong to a shar

[2018-07-30 09:42] compulim commented on #418
Same here on 1.10.5.

[code]

[code]

[2018-07-30 11:19] rgreil commented on #327
I was under the impression, that PodSecurityPolicy is available after GA but it's still not working. Is there any information when this will be available in AKS?

[2018-07-30 11:31] denniszielke commented on #327
Support for PodSecurityPolicy is still on the roadmap. You can look up the currently supported admission controllers here https://docs.microsoft.com/en-us/azure/aks/faq#what-kubernetes-admission-controllers-does-aks-support-can-this-be-configured

[2018-07-30 12:17] StianOvrevage commented on #455
This is now failing again on 1.10.5:

[code]

:(

[2018-07-30 13:45] lukasmrtvy opened #567 "Reverse proxy in front of API server address ?"
Hello,
What exactly means this AKS API endpoint: my-custom-aks-somestring.hcp.westeurope.azmk8s.io ?
Is it some kind of internal ingress (on managed server) controller which is not listed on agents ?
I am able to use Proxy Verb to access service from this URL like: `https://my-custom-aks-somestring.hcp.westeurope.azmk8s.io/api/v1/namespaces/my-namespace/services/myservice:port/proxy/`

Problem is

[2018-07-30 14:09] rite2nikhil commented on #522
The fix has not rolled out yet as it did not make it to the realease last week. apologies for the delay, I expect it to start rollout today and rollout to all production regions by end. To expedite patch mailto:aks-gh-feedback@service.microsoft.com
with sub id, resource group and resource id(cluster name)

[2018-07-30 14:16] rite2nikhil commented on #455
The fix has not rolled out yet as it did not make it to the realease last week. apologies for the delay, I expect it to start rollout today and rollout to all production regions by end. To expedite patch mailto:aks-gh-feedback@service.microsoft.com
with sub id, resource group and resource id(cluster name)

[2018-07-30 16:05] AaronFriel opened #568 "Occasionally pods cannot create outbound connections"
**What happened**:

Pods running on AKS occasionally are unable to connect to external hosts, as in these logs from a GitLab runner:

[code]

Restarting the pod in question (or retrying the job) eventually resolves the issue.

**What you expected to happen**:

All pods should be able to connect to external hosts by default.

**How to reproduce it (as minimally and precisely as possible)**:

I have

[2018-07-30 16:05] AaronFriel commented on #568
Hypothesis:

Is the Azure CNI plugin not working correctly with the additional IP addresses?

[2018-07-30 16:36] AaronFriel commented on #554
Are you seeing symptoms like #568?

[2018-07-30 16:54] marekr commented on #554
That was one of the symptons. And every now and then a job will fail because it can't connect to a managed sql database on azure itself (lol)

[2018-07-30 17:46] ritazh opened #569 "New AKS 1.10.3 cluster with gpu failed to start"
Creating a new AKS cluster v1.10.3 with one agent node of size Standard_NC6 failed to start.
`az aks create --name mygpucluster --resource-group mygpucluster --dns-name-prefix mygpucluster --node-vm-size Standard_NC6 --kubernetes-version 1.10.3 --node-count 1 -l westus2`

Output:
[code]
Same issue can be reproduced in `westus2` and `eastus2` and when upgrading from a cluster v1.9.6 to v1.10.3

Err

[2018-07-30 18:14] devkws opened #570 "Restarting Node Resets NSG Inbound Rule to Default"
I am not sure if this is a bug or intended functionality, but restarting an AKS node reverts all network security group rules associated to that node back to their default, specifically on the rules auto created by AKS when using a load balancer type service.

steps to reproduce:
1. create service of type loadbalancer, wait for external ip to be created
2. modify nsg inbound rule for the auto crea

[2018-07-30 18:46] SurushS opened #571 "Problems outbound connection"
**What happened**:

We've created a cluster that facilitates lots of api's. I've read a lot of documentation on the fact that all the pods in the cluster use the first public ip on the auto generated AKS loadbalancer as outbound ip. We're experiencing some issue that i think might have to do with the fact that all our api's have a single outbound ip on AKS as documented here (https://docs.microsof

[2018-07-31 08:36] lukasmrtvy opened #572 "AKS API server address with Private IP address ?"
There is currently no option to set private IP for API server address.
What else, is not even possible to use NSG to control FW rules to allow/deny traffic for this endpoint.
Although is possible to put AKS in VNET, API server address is still reachable from public internet.
Any workaround ?

[2018-07-31 09:40] bramvdklinkenberg commented on #449
We had simular issues and upgraded our aks cluster from 1.9.6 to 1.10.5 and that has the newest version of tunnelfront with (I guess) the neccessary fixes.

[2018-07-31 12:28] Mumrau commented on #438
@YvonneArnoldus 503 is Service Unavailable which differs from 403 being Access Forbidden.
I suspect that your problem is due to a misconfiguration in the target service, in addition to the (eventually) resolved as suggested (and worked in my configuration) by @joakimhellum-in .

I suggest you check the ports and the configuration of the target.

[2018-07-31 12:42] YvonneArnoldus commented on #438
Hi @Mumrau,

I've updated to kubenetes 1.10.5 on Azure and stable/nginx-ingress 0.23.0 and installed it with helm install stable/nginx-ingress --namespace kube-system --set controller.service.externalTrafficPolicy=Local

And now it works fine. So it seems it is solved in either 1.10.5 kubernetes on Azure or stable/nginx-ingress 0.23.0

[2018-07-31 12:45] Mumrau commented on #438
Oh all good then.
May I suggest closing the issue?

[2018-07-31 13:15] onpaws commented on #503
I created my AKS cluster two weeks ago and all was well, until today when
`rpc error: code = 14 desc = grpc: the connection is unavailable`
started happening for `kubectl` pod-related commands.

After not getting much anywhere with kubectl, using the Azure Portal I restarted the VM running the agent-pool. However that was apparently a bad move b/c now my Ingress says 'bad gateway' for the Service

[2018-07-31 13:27] #438 closed

[2018-07-31 13:40] onpaws commented on #503
Update: after waiting around 15-20 minutes post VM restart, things appear to be kind of working again.
Not sure I'm all set though - seeing some lingering weirdness with certain pods (not all though).

E.g. am occasionally getting some errors on two of the backend pods that reads:
[code]

[2018-07-31 13:43] thezultimate commented on #522
@rite2nikhil I sent an email (with cluster information) for patching our cluster. Has it been patched? Thanks.

[2018-07-31 15:42] EamonKeane commented on #427
Thanks @WeidongZhou this got me half-way there. As I had a subnet, I also had to add the cluster as an owner of this. I debugged this by using `kubectl get events` and saw similar to the below. Deleting the nginx service and running `helm upgrade --install mynginx nginx` did the trick to kick start the installation.

23s         1m           3         cluster-svc-nginx-ingress-controller.15467bc11

[2018-07-31 15:52] yossaa commented on #352
Looks like https://github.com/Azure/acs-engine/issues/3534

Does missing cluster.local in:
--server=/cluster.local/127.0.0.1
send all dns requests to the upstream server? And if upstream server says that domain doesn't exist, it's cached because we have no: --no-negcache

[2018-07-31 16:19] WeidongZhou commented on #427
@EamonKeane Interesting tips. Thanks for sharing the tips.

[2018-07-31 17:17] saykumar commented on #454
I'm struggling with the blank Azure Monitor charts too... Don't want to deploy another agent as OMS Agents' are already running on the cluster... Looking forward to improvements in this space.

[2018-07-31 17:27] AceHack commented on #413
I just created a new cluster and I am owner of the subscription and I cannot connect and get this error.  Any suggestions?

[2018-07-31 17:29] AceHack commented on #413
The client 'xxx@xxx.com' with object id 'xxx' does not have authorization to perform action 'Microsoft.ContainerService/managedClusters/accessProfiles/listCredential/action' over scope '/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.ContainerService/managedClusters/xxx/accessProfiles/clusterUser'.

[2018-07-31 17:55] keikhara commented on #454
@saykumar is this OMS or Azure Monitor - container health? They are 2 different products.

With Azure Monitor - container health, we've added the following charts. There will be more enhancement on these going forward. Let us know if you have any questions.

![image](https://user-images.githubusercontent.com/19479703/43477484-298afa22-94b0-11e8-80d0-1fc4e0e340da.png)

[2018-07-31 19:08] saykumar commented on #454
Thanks, I did confuse the two products. I can see those charts on Azure Monitor - container health. I was thinking we could see create Metrics and graphs on OMS also, and that's where I was running into challenges.

[2018-07-31 20:56] StephanX commented on #548
Hitting this as well.  Created a cluster, deleted the cluster and associated resources, and attempted to re-create using the Virtual Network.

[2018-07-31 23:09] ritazh commented on #569
Verified latest AKS updates deployed in westus2 created the cluster successfully.

`az aks create --name myaksgpu --resource-group myaksgpu --dns-name-prefix myaksgpu --node-vm-size Standard_NC6 --kubernetes-version 1.10.3 --node-count 1 -l westus2`

[2018-07-31 23:09] #569 closed

[2018-08-01 03:28] abizake opened #573 "Installing KVM on Agent Nodes"
**What happened**:
I want to run VM as a pod in the AKS for which KVM should be installed in the Agent Nodes. Is KVM by default present  in the Agent nodes ? If Not , can something be done to install the same at the time launching the cluster ?

**What you expected to happen**:
VMs to run as pod in the AKS
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need t

[2018-08-01 08:37] saschak094 opened #574 "High latency on pod-to-pod communication using Servicetype LoadBalancer"
**What happened**:
We have a deployment that communicates in three layers, meaning traffic from pod-to-pods. When we expose the service via ClusterIP the latency of the application stack is low, but when we expose the service via LoadBalancer the latency is high (dealing with seconds for request that should be done in 10ms).  Additionally an ``` apt update``` or ```apt install``` takes an enormous

[2018-08-01 11:33] gurvindersingh commented on #10
I have a similar use case where we have our own OIDC provider and would like to use it with AKS cluster and have same RBAC policy rules as our on prem cluster with user and groups having the same identity across clusters. So any ETA on this would be great.

[2018-08-01 11:46] Nuke1234 commented on #132
Hello! Is there some other thread where i can track the progress on the solution proposed from @sauryadas?

[2018-08-01 13:09] marekr commented on #554
@AaronFriel A support guy is claiming it was due to OOM on one node in my case. (Which is true due to node logs). Though I do recall explicitly checking for OOM but only in the kubernetes dashboard. Its possible the node had something go bad and eat the memory outside kubernetes. I did have the issue that even after draining the node of pods, it was still eating 20% cpu that only went away once th

[2018-08-01 15:07] edernucci commented on #132
@Nuke1234 unfortunately MS is not giving us any ETA on any AKS issues. This is really frustrating.

[2018-08-01 15:11] sauryadas commented on #132
We are hoping to have node pool support by the end of September

Thanks
Saurya
________________________________
From: Eder Nucci <notifications@github.com>
Sent: Wednesday, August 1, 2018 8:07:48 AM
To: Azure/AKS
Cc: Saurya Das; Mention
Subject: Re: [Azure/AKS] Changing node vm-size of existing cluster (#132)

@Nuke1234<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2F

[2018-08-01 15:30] abizake opened #575 "[Azure] [AKS] Cluster not Scaling up with error "Node group agentpool is not ready for scaleup""
Failed to scale up: failed to increase node group size: containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="PropertyChangeNotAllowed" Message="Changing property 'enableRBAC' is not allowed."

Additional info
There are currently 2 nodes in the cluster.
I created the Cluster Auto

[2018-08-01 16:00] seanmck commented on #573
This is not a supported scenario in AKS today. Feel free to add a feedback entry at https://aka.ms/aks/feedback.

[2018-08-01 16:00] #573 closed

[2018-08-01 16:02] seanmck commented on #572
This is not available today but is something we intend to enable. Please add a feedback entry at https://aka.ms/aks/feedback.

[2018-08-01 16:02] #572 closed

[2018-08-01 16:06] seanmck commented on #560
Yes, you can remove those entries in the NSG. The first one (allow_kube_tls) is a historical artifact that we intend to remove from new deployments. The second (allow_ssh) will obviously prevent you from SSHing to the agent nodes, but you should generally not need to do that anyway.

[2018-08-01 16:06] #560 closed

[2018-08-01 16:07] seanmck commented on #555
There is no notion of upgrading to GA. Simply continue upgrading to new Kubernetes versions as they are released and you should receive the new capabilities of the service.

[2018-08-01 16:07] #555 closed

[2018-08-01 16:08] abizake commented on #575
Also tried the latest version of AKS(1.10.6) and Cluster Auto Scaler (1.3.1).
Still facing the issue.
logs :-
containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="" Message=""
W0801 16:02:23.327898       1 clusterstate.go:223] Disabling scale-up for node group agentpool until 2018-08-01 16:07:23.327890748 +0000 UTC m=+1003.28599997

[2018-08-01 16:09] seanmck commented on #549
You can upvote this request and follow status here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34917076-increase-kubernetes-node-docker-version-to-17-05-x

[2018-08-01 16:09] #549 closed

[2018-08-01 18:17] gumaflux commented on #215
Any update on this?

[2018-08-01 18:54] qiangli commented on #77
Hitting same issue. Portal reports correct number of nodes but kubectl always reports the wrong old count.  It behaves like kubectl and portal are using different data store/cache which are out of sync and rerunning scale with the same node count does not update the value. Tried a number of different "solutions", this is what "worked":  rescale down to a different node count and up again  to force

[2018-08-02 02:39] alanjcastonguay commented on #287
Cross reference https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34917127-support-multiple-node-pool

[2018-08-02 05:26] #538 closed

[2018-08-02 05:27] seanmck commented on #529
Should be within the next couple of months. You can track the feature here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34917127-support-multiple-node-pool

[2018-08-02 05:27] #529 closed

[2018-08-02 06:36] markwaldkat commented on #521
My cluster got patched, but the problem persists.

[2018-08-02 07:36] digeler commented on #521
here are the latest logs :
from tiller :
kube] 2018/08/02 06:31:05 Pod is not ready: d065865q3msexpedite/vora-consul-0
[kube] 2018/08/02 06:31:07 Pod is not ready: d065865q3msexpedite/vora-consul-0
[tiller] 2018/08/02 06:31:09 warning: Release "exasperated-rottweiler" failed: the server could not find the requested resource (get services vora-consul)
[storage] 2018/08/02 06:31:09 updating release

[2018-08-02 07:59] digeler commented on #574
any updates after the upgrade ? ,are you still facing the same ?

[2018-08-02 10:27] EamonKeane opened #577 "[westeurope] Intermittent Ability to Communicate with API Server"
**What happened**:
Communication with API server is very patchy. E.g.  a `helm install` will work one moment, but then the next minute a `502 bad gateway` is returned from `nginx-ingress` (version `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.15.0`). Another example is:

[code]

**What you expected to happen**:
API server requests work as normal.

**How to reproduce it (as mini

[2018-08-02 10:56] lgomezgonz commented on #427
Thanks all for your help.
I have followed your tips, but still got 401 error when the nginx service trying to generate the LB.
Finally I found the cause: the key for the service principal I was using expired one day ago (the cluster was one week old).
I tried to find a way to update the key in the cluster using the console, az CLI...but there seems to be no available oprions to do this.
This produ

[2018-08-02 11:35] stdistef commented on #572
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35010421-secure-aks-api-from-public-internet

[2018-08-02 13:53] fredshino commented on #570
We're having the same issue. This needs to be fixed.

[2018-08-02 14:03] devkws commented on #570
I have spoken with premier support and was told this is intended functionality. I am actually quite shocked.

The reason is people were getting locked out of their cluster after scaling up and down, so microsoft purposely writes over the security group rules each time. It sounds like the "fix" and i use that term loosely, is to delete your cluster, re-create with advanced networking, dont use k8s

[2018-08-02 15:51] seanmck commented on #59
This is available now in preview form.

https://docs.microsoft.com/en-us/azure/aks/autoscaler

We're working on making it a cluster add-on that runs in the control plane.

[2018-08-02 15:51] #59 closed

[2018-08-02 15:54] seanmck commented on #125
Closing out old issues. Please reopen if you are still seeing this.

[2018-08-02 15:54] #125 closed

[2018-08-02 15:54] #128 closed

[2018-08-02 15:55] seanmck commented on #136
Closing this since the issue is tracked upstream.

[2018-08-02 15:55] #136 closed

[2018-08-02 15:57] seanmck commented on #114
https://docs.microsoft.com/en-us/azure/aks/view-master-logs

[2018-08-02 15:57] #114 closed

[2018-08-02 15:58] seanmck commented on #95
Please add this request in our feedback forum:

https://aka.ms/aks/feedback

[2018-08-02 15:58] #95 closed

[2018-08-02 16:03] seanmck commented on #194
For those components, you will need to upgrade your cluster to new Kubernetes patch releases as they become available in AKS. Eventually, we intend to offer auto-upgrade for path releases, but it's not there yet.

[2018-08-02 16:03] #194 closed

[2018-08-02 16:05] seanmck commented on #184
Yes, please follow the FAQ. We will also be adding a doc article specifically focused on what is meant by "managed" in the AKS context. Finally, if there are specific requests you have, please add them to our feedback forum so we can prioritize:

https://aka.ms/aks/feedback

[2018-08-02 16:05] #184 closed

[2018-08-02 16:07] seanmck commented on #161
Pod Security Policy is planned for later this year. Please add other requests to our feedback forum so we can prioritize:

https://aka.ms/aks/feedback

[2018-08-02 16:07] #161 closed

[2018-08-02 18:59] seanknox commented on #9
Closing due inactivity. Feel free to re-open.

[2018-08-02 18:59] #9 closed

[2018-08-02 19:00] seanknox commented on #10
AAD/OIDC is supported in AKS now. No current plans to enable feature gates for the API server, but will take it under consideration.

[2018-08-02 19:00] #10 closed

[2018-08-02 19:01] #44 closed

[2018-08-02 19:01] seanknox commented on #68
Believe this fix is now rolled out globally. Please re-open if you're still having issues.

[2018-08-02 19:02] seanknox commented on #77
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:02] #77 closed

[2018-08-02 19:02] seanknox commented on #83
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:02] #83 closed

[2018-08-02 19:03] seanknox commented on #84
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:03] #84 closed

[2018-08-02 19:05] gurvindersingh commented on #10
@seanknox can you point me to the docs which can help to setup my OIDC provider with AKS, as that can solve my current use case without needing API sever options. As from docs, I could see only Azure AD support.

[2018-08-02 19:08] seanknox commented on #90
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:08] #90 closed

[2018-08-02 19:08] seanknox commented on #89
No ETA currently. For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:08] #89 closed

[2018-08-02 19:09] seanknox commented on #102
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:09] seanknox commented on #104
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:09] #104 closed

[2018-08-02 19:09] seanknox commented on #106
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:09] #106 closed

[2018-08-02 19:10] seanknox commented on #110
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:10] #110 closed

[2018-08-02 19:10] seanknox commented on #111
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:10] #111 closed

[2018-08-02 19:10] seanknox commented on #115
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:10] #115 closed

[2018-08-02 19:11] seanknox commented on #116
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:11] #116 closed

[2018-08-02 19:11] seanknox commented on #118
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:11] seanknox commented on #122
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:11] #122 closed

[2018-08-02 19:12] seanknox commented on #164
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:12] #164 closed

[2018-08-02 19:12] seanknox commented on #162
For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:12] #162 closed

[2018-08-02 19:13] seanknox commented on #160
For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:13] #160 closed

[2018-08-02 19:13] seanknox commented on #157
For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:13] #157 closed

[2018-08-02 19:13] seanknox commented on #155
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:13] #155 closed

[2018-08-02 19:13] seanknox commented on #152
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:13] #152 closed

[2018-08-02 19:13] #151 closed

[2018-08-02 19:14] #150 closed

[2018-08-02 19:14] seanknox commented on #148
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:14] #148 closed

[2018-08-02 19:14] seanknox commented on #141
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:14] #141 closed

[2018-08-02 19:14] seanknox commented on #138
For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:14] #138 closed

[2018-08-02 19:14] seanknox commented on #133
For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:14] #133 closed

[2018-08-02 19:15] seanknox commented on #131
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:15] #131 closed

[2018-08-02 19:15] seanknox commented on #130
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:15] #130 closed

[2018-08-02 19:15] seanknox commented on #126
Closing due inactivity. Feel free to re-open if still an issue.

[2018-08-02 19:15] #126 closed

[2018-08-02 19:17] seanknox commented on #10
Sorry I misspoke, OIDC is not yet supported I believe. For feature requests, please go here: https://aka.ms/aks/feedback

[2018-08-02 19:49] damienwebdev commented on #131
@seanknox I think a basic response regarding the nature of "self-healing" nodes in an ACS availability set or an AKS cluster would help. Do note that I'm not referring to the nature of self-healing AKS containers, as they're managed by replication controllers in k8s.

What I, and I think the majority of people on this issue, are wondering is IF I were to kill a node (either manually or by murderin

[2018-08-02 20:08] ilanpillemer commented on #152
I still have the issues. cluster has 5, aks shows 5. kubetctl get nodes only gives 4.

[2018-08-02 20:10] ilanpillemer commented on #77
I still have the issue:

- az aks, and portal says I should have 5 nodes.
- kubectl get nodes, and all kube stuff shows I only have 4

[2018-08-02 21:45] woodsaj commented on #545
so we just had our services taken down because Azure decided to go and apply --kube-reserved to all of our nodes reducing our capacity by 20%.

We had a 3 node database cluster running in AKS, with each database POD on a dedicated k8s node and configured with 85% of the allocated memory.  So as soon as this new --kube-reserved setting was applied all 3 of our database PODs where evicted from their

[2018-08-02 22:44] ilanpillemer commented on #152
How do I re-open since this is not fixed by any stretch of the imagination?

[2018-08-02 22:49] seanknox commented on #152
@ilanpillemer please file a new issue.

[2018-08-03 00:17] lostllama commented on #150
@seanknox It takes you guys 8 months to day this?

[2018-08-03 04:46] eboregelna commented on #362
I've encountered this error report with Standard_F16s_v2...

[2018-08-03 05:28] seanmck commented on #218
Closing because the pod identity and keyvault flexvol projects should suffice for this. Note that intend to integrate these directly into AKS in the coming months.

[2018-08-03 05:28] #218 closed

[2018-08-03 05:30] seanmck commented on #290
Please add this as a feature request in our feedback forum so we can prioritize it:

https://aka.ms/aks/feedback

[2018-08-03 05:30] #290 closed

[2018-08-03 05:31] seanmck commented on #335
Sorry, no concrete timelines to share yet. You can upvote this request and follow it here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34973563-add-support-for-windows-nodes

Closing this issue as we're trying to keep this repo scoped to issues with the shipped functionality.

[2018-08-03 05:31] #335 closed

[2018-08-03 05:33] seanmck commented on #366
You can upvote and track this enhancement here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34893970-enable-accelerated-networking

[2018-08-03 05:33] #366 closed

[2018-08-03 05:34] seanmck commented on #432
Please add this to the feedback forum so we can prioritize it:

https://aka.ms/aks/feedback

[2018-08-03 05:34] #432 closed

[2018-08-03 05:36] seanmck commented on #411
We are working on enabling the cluster autoscaler as an add-on to the control plane.

[2018-08-03 07:06] tomkerkhove commented on #432
Done - https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35019439-support-for-event-grid-events

[2018-08-03 07:30] ans-cst commented on #221
I am also having an issue using ARM template to deploy an AKS cluster.

Loadbalancer is created but does not configure the backend pool to point to the avSet of the AKS nodes.

[2018-08-03 08:31] IanMoroney commented on #148
@seanknox was the validation fixed in the GUI?

[2018-08-03 09:16] tlycken commented on #151
@seanknox Do you have any details to share on this issue? What has changed, that motivates closing this issue?

Not questioning your decision, just asking for info :)

[2018-08-03 11:56] SnehaJosephSTS opened #578 "az aks create silently fails - no error message/ notification."
**What happened**:
Running the following az aks create command from my linux machine **silently fails**
az aks create   --name myAKSCluster     --resource-group myResourceGroup     --node-count 1     --generate-ssh-keys     --service-principal <appId>     --client-secret <password>

No AKS cluster created; no error message shown.

**What you expected to happen**:
Creation of a kubernetes cluster/

[2018-08-03 13:02] iMartyn commented on #575
I also have this error (400 with no message) with 1.10.6 and 1.3.1.

I am getting some poor help from Azure support, but nothing so far that fixes it.

[2018-08-03 16:16] seanmck commented on #424
Duplicate of #316.

Also, please file feature requests at https://aka.ms/aks/feedback so we can prioritize them.

[2018-08-03 16:16] #424 closed

[2018-08-03 16:17] seanmck commented on #415
You can track the request to update the container runtime here:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/34917076-increase-kubernetes-node-docker-version-to-17-05-x

[2018-08-03 16:17] #415 closed

[2018-08-03 18:11] brbarnett commented on #413
I have a workaround. Create a custom role in your Azure tenant with two specific permissions (please see the gist here).

Create via Azure CLI: `az role definition create --role-definition /path/to/AKSClusterConfigurationReader.json`

Definition reference: https://gist.github.com/brbarnett/6e5d13a1c9961833e48bf8ddd95019e8

[2018-08-03 18:50] swgriffith commented on #413
@brbarnett .....literally just hit this and you saved me. Thanks!

[2018-08-03 23:00] creasewp opened #579 "Submitting spark job to AKS cluster results in 'Error: Could not find or load main class SparkPi"
**What happened**:
Trying to follow the instructions here: https://docs.microsoft.com/en-us/azure/aks/spark-job
to run a spark job in my AKS cluster. I am able to submit the job to spark, and the driver pod is created, however it always reports an error: Error: **Could not find or load main class SparkPi**
I have tried storing the JAR in azure blob storage and embedding in the docker container and

[2018-08-04 09:31] alexandruradovici commented on #405
is there any update on this? Any pod that we try to stop hangs up in Terminate state.

[2018-08-04 11:57] DenisBiondic commented on #577
I don't know if it is related, but here is an example log output from tiller running inside a k8s cluster (west EU as well):

[code]

kubectl executes the queries completely fine, but I suspect that connectivity inside the cluster to 10.0.0.1 is not working properly all the time. I've seen similar issues when using other containers that query the api server directly.

[2018-08-04 20:10] maximbaz opened #580 "Allow selecting disk type when creating AKS cluster"
There is no way to select disk type (Standard or Premium) when creating an AKS cluster via Portal or Azure CLI, by default the Premium managed disk is created.

For development clusters I would like to be able to select a Standard managed disk.

For example, you could add a new argument `--node-osdisk-type` to be in line with the existing argument `--node-osdisk-size`.

I believe it is possible to

[2018-08-05 12:59] yanivoliver commented on #455
@rite2nikhil - The issue is still occurring in a newly created AKS cluster.

[code]

[2018-08-05 13:03] yarinm commented on #455
This happens to me as well with a a newly created cluster.

[2018-08-05 13:44] #524 closed

[2018-08-05 15:00] ravicm commented on #522
I am seeing similar behavior with AKS in west Europe

Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77dcceb0723", GitTreeState:"clean", BuildDate:"2018-06-21T11:34:22Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-08-06 09:13] talhairfanbentley opened #581 "TLS Timeout"
I'm randomly getting TLS Timeout, fixing on it's own after a while. But in the mean time the kubernetes get unreponsive, like no response is returned from CLI. My cluster is in WEST US

[2018-08-06 09:39] saschak094 commented on #574
Did the upgrade to version 1.10.6, but the issue still persists

[2018-08-06 10:41] Imransysg commented on #575
I am also facing the same issue..
kubernetes 1.10.6 and cluster-autoscaler:v1.2.2

[2018-08-06 11:05] ckanljung commented on #455
This still happens for me with the post-install stage of prometheus-operator on a newly created cluster. I've tested with both version 1.9.6 and 1.10.6.  Worked on a newly created cluster last week though.

[2018-08-06 11:29] cmendible commented on #437
I'm also had trouble on July with a cluster with both RBAC and HTTP Application Routing enabled. K8s version is: 1.10.5

Running:

[code]

showed a token related issue:

[code]

Hope it helps...

[2018-08-06 12:03] iMartyn commented on #575
@Imransysg https://github.com/kubernetes/autoscaler/issues/1105#issuecomment-410578049
known issue, fix "soon"

[2018-08-06 13:35] andremelim commented on #545
@woodsaj Can you share details on which region / version of AKS you are using?
 I'd like to have the reservations on our new clusters as we have experienced outages due to over use of memory/cpu.

[2018-08-06 13:58] theobolo commented on #581
Yep same here, sometimes the Master API is really slow or basically just not available during 5 or 10min, sometimes it's longer ... have you some trouble about master scaling on your side @Azure ?

I'm experiencing this since 2 weeks by the way, it's very important that your master servers are 100% available since a lot of services are using k8s API for different things ... for the moment i can sa

[2018-08-06 13:59] theobolo commented on #577
Same here guys but on North Europe, i posted another message on a more recent issue also :

[code]

[2018-08-06 14:03] talhairfanbentley commented on #581
No, I have no issue scaling the cluster up or down. But I don't know how to check the status of master node, can you guide me?

[2018-08-06 14:09] theobolo commented on #581
@talhairfanbentley No i was asking Azure Team if they have some trouble with their k8s masters on AKS because apparently there is some :)

[2018-08-06 14:10] talhairfanbentley commented on #581
well, hope they fix it soon.

[2018-08-06 14:12] theobolo commented on #581
Same ... that's a big issue for AKS.

[2018-08-06 15:28] EamonKeane commented on #577
AKS is basically unuseable for me as for example Jenkins builds fail around 50% of the time if a step which involves API communication doesn't get a response. The exact same setup works on GKE.

I haven't had time to investigate other configurations, my impression is there are some ghosts in the azure data centre networking machine. I basically need some reliable way to run kubernetes on Azure. Ha

[2018-08-06 16:06] dtzar commented on #581
This is a known issue and been happening for a while.  It is currently happening for me and just filed a support ticket.  Cluster scale up/down worked for me with no issues, but still having the same problem.

Linking together existing issues:
https://github.com/Azure/AKS/issues/493
https://github.com/Azure/AKS/issues/416
https://github.com/Azure/AKS/issues/324
https://github.com/Azure/AKS/issues/

[2018-08-06 16:44] sjdweb opened #582 "Azure SP with multi-subscription access fails to pull ACR images from other subscription"
`Service principal` has access to `subscription 1` and `subscription 2` with **Contributor** role.

`Subscription 1` has:
- container registry
- AKS cluster 1
Both in their own resource groups.

`cluster 1` can pull from container registry fine with service principal out of the box.

`Subscription 2` has:
- AKS cluster 2

`cluster 2` **cannot** pull from container registry (`rpc error: code = Unkn

[2018-08-07 03:18] JuneZhao opened #583 "tunnel front pod port explanation"
I noticed on tunnelfront pod there are some ports definition which i am not sure what is for

tunnel_front_listen_port=2222 #if you change that make sure that the changes are reflected in Dockerfile of tunnel-front
tunnel_end_reverse_port=9090
hcpServerPort="9000"

I noticed that inside the container this is the process:

root       295  0.0  0.1  47352  3728 ?        Ss   01:29   0:01 ssh -i /tmp

[2018-08-07 08:07] neumanndaniel commented on #580
Node OS disk type is derived from the selected VM size. If you select e.g. a Standard_D2s_v3 then the OS disk type is Premium managed. If you select a Standard_D2_v2 then the OS disk type is Standard managed.

HTH

[2018-08-07 08:36] maximbaz commented on #580
I see, but I still want to override it. To be more specific, I want a node Standard_B2s with Standard disk. If I create a plain VM, I can select such configuration. If I create an AKS cluster with Standard_B2s node, I can stop the node and change the disk type to Standard, but I cannot select Standard_B2s + Standard disk while creating AKS cluster.

[2018-08-07 09:32] neumanndaniel commented on #580
Ok. Fair enough and in regards to the Standard SSDs a good point.

-> https://azure.microsoft.com/en-us/blog/preview-standard-ssd-disks-for-azure-virtual-machine-workloads/

[2018-08-07 12:22] gurvindersingh opened #584 "support for networkpolicy"
**What happened**:
On creating networkpolicy to block network traffic among pods/namespaces does not work.
**What you expected to happen**:
I expect AKS to support standard kubernetes network policy to filter/block network traffic among pods.
**How to reproduce it (as minimally and precisely as possible)**:
Create a namespace, deploy networkpolicy to block all traffic in it. Deploy an nginx pod an

[2018-08-07 15:04] seanknox commented on #170
As others have mentioned, Tiller is not preinstalled on AKS clusters. We have a feature request to do so.

[2018-08-07 15:04] #170 closed

[2018-08-07 15:05] seanknox commented on #185
Closing due to age; please reopen if still an issue.

[2018-08-07 15:05] #185 closed

[2018-08-07 15:08] seanknox commented on #187
Moved to our feature request forum: https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35051083-add-way-to-query-which-feature-flags-are-enabled

[2018-08-07 15:08] #187 closed

[2018-08-07 15:08] seanknox commented on #188
Closing due to age; please reopen if still an issue.

[2018-08-07 15:08] #188 closed

[2018-08-07 15:08] seanknox commented on #182
Believe this has been fixed; please reopen if still an issue.

[2018-08-07 15:08] #182 closed

[2018-08-07 15:10] seanknox commented on #180
This was likely a major factor; your workloads exhausted the node resources. We've also implemented untouchable reserves for Kubernetes components so workloads don't stomp over critical system components.

[2018-08-07 15:10] #180 closed

[2018-08-07 15:11] seanknox commented on #174
Believe this has been fixed; please reopen if still an issue.

[2018-08-07 15:11] #174 closed

[2018-08-07 15:12] seanknox commented on #167
Believe this has been fixed; please reopen if still an issue.

[2018-08-07 15:12] #167 closed

[2018-08-07 15:12] seanknox commented on #124
Believe this has been fixed; please reopen if still an issue.

[2018-08-07 15:12] #124 closed

[2018-08-07 15:43] sauryadas commented on #584
Network policy support is coming in the next couple of months. We will make a blog announcement .. closing this issue

[2018-08-07 15:43] #584 closed

[2018-08-07 19:08] JackQuincy commented on #583
this is used for the AKS hosted control plane to be able to talk to the nodes. It is setting up a tunnel from where we are hosting the control plane into this vnet so that "kubectl logs", "kubectl exec" and other functions can work.

[2018-08-07 19:08] #583 closed

[2018-08-07 19:13] weinong commented on #578
what is your azure cli version? have you tried to add `--debug`?

[2018-08-07 19:14] #475 closed

[2018-08-07 19:17] JackQuincy commented on #582
This is a known issue. It has been fixed upstream. Here is the upstream PR https;//github.com/kubernetes/kubernetes/pullreuest/66429 . That has been cherry picked into the 1.10 and 1.11 branches so the next versions we update to should have the fix.

[2018-08-07 19:18] weinong commented on #581
Can you guys send subscriptionID, resource group, resource, and region to aks-help@service.microsoft.com for us to take a look? thanks!

[2018-08-07 19:19] sauryadas commented on #468
Can you please add this to the user voice?
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks
We plan to track enhancements and feature requests on the forum. Thanks.

[2018-08-07 19:27] sauryadas commented on #546
@dtzar i am going to close this issue .. please send your cluster details to the email address nikhil posted above.

[2018-08-07 19:27] #546 closed

[2018-08-07 19:28] mboersma commented on #513
I think we've updated and fixed everything described here except the `az aks install-connector` tab completion. I created an issue to track fixing that at Azure/azure-cli#6978.

[2018-08-07 19:28] #513 closed

[2018-08-07 19:29] sauryadas commented on #561
We are working on enabling cluster autoscaler in the next 2 weeks. Havent had a chance to try out knative serving autoscaling yet. For any feature requests/enhancements please use user voice ..

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 19:29] weinong commented on #577
Can you guys send details like subscriptionID, resource group, resource name and region to aks-help@service.microsoft.com for us to take a look?

[2018-08-07 19:30] JackQuincy commented on #570
This is a upstream issue with the Azure cloud provider code. Can you file an issue there?

[2018-08-07 19:31] sauryadas commented on #268
Are you guys still seeing this issue?

[2018-08-07 19:33] weinong commented on #566
It's a known issue for some old clusters. All new clusters since GA will not have this. That being said, we can see if we can fix your clusters. Can you guys send details like subscriptionID, resource group, resource name and region to aks-help@service.microsoft.com for us to take a look?

[2018-08-07 19:34] mboersma commented on #482
@ivalexa I can reproduce this. I created a new AKS 1.10.6 cluster, saved your manifest above as "test.yaml", and published it:

[code]

[2018-08-07 19:35] JackQuincy commented on #567
For AKS we host the control plane on our servers. The *.azmk8s.io is the endpoint we stand up to allow communication. We also stand up a tunnel from the control plane into the vnet. so you should be able to use standard k8s service discovery for the kubernetes service and just call that. reopen the issue if that doesn't work

[2018-08-07 19:35] #567 closed

[2018-08-07 19:36] weinong commented on #548
@yungezz you hit the issue during an outage in one of our dependent service. It should be OK now.

[2018-08-07 19:36] sauryadas commented on #241
if you are still seeing issues please file a support ticket. Old issue i am going to close this.

[2018-08-07 19:36] #241 closed

[2018-08-07 19:39] lenadroid commented on #579
I'll try it with the newest AKS version and write back!

[2018-08-07 19:41] sauryadas commented on #411
Please file feature requests and enhancements in the link below.
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

this feature will roll out by the end of the month

[2018-08-07 19:41] #411 closed

[2018-08-07 19:41] mboersma commented on #523
There isn't any service outage or provisioning problem specific to WestUS that we know of. I'm going to close this issue since it's a month old, but please re-open if problems continue.

[2018-08-07 19:41] #523 closed

[2018-08-07 19:41] seanmck commented on #469
This is expected as the `browse` command opens an SSH tunnel to port-forward from the browser. You can't do that from within the container. You will need to use the native CLI for this command.

[2018-08-07 19:41] #469 closed

[2018-08-07 19:42] weinong commented on #557
This is not related to AKS. Can you please ask this question in Terraform repo?

[2018-08-07 19:42] #557 closed

[2018-08-07 19:43] zqingqing1 commented on #564
Here is the link for the list of annotation: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
If you go through it, unfortunately, there is no `allow-http` tag.

[2018-08-07 19:44] sauryadas commented on #463
closing this since i havent heard back

[2018-08-07 19:44] #463 closed

[2018-08-07 19:46] sauryadas commented on #392
@rbitia can you please take a look? also request that this be moved to the vk repo

[2018-08-07 19:46] #392 closed

[2018-08-07 19:47] mboersma commented on #409
This should have been fixed in recent CLI builds. I'm going to close this, but @neutrongenious please re-open if this is still ongoing.

[2018-08-07 19:47] #409 closed

[2018-08-07 19:47] #564 closed

[2018-08-07 19:49] sauryadas commented on #239
closing this as this is an old issue. if you still see the issue please file a support ticket with azure

[2018-08-07 19:49] #239 closed

[2018-08-07 19:50] mboersma commented on #197
AKS added a PATCH endpoint that allows for updating tags. I verified that this is working in the Azure Portal now.

![screen shot 2018-08-07 at 1 50 05 pm](https://user-images.githubusercontent.com/73019/43798768-d3e7946a-9a48-11e8-9c1d-367d353fc9a3.png)

[2018-08-07 19:50] #197 closed

[2018-08-07 19:51] weinong commented on #556
kubectl and az aks get-credentials use different authentication path. so your observation is completely expected. in the meantime, you can provide feedback to https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks for us to evaluate.

[2018-08-07 19:51] #556 closed

[2018-08-07 19:52] zqingqing1 commented on #541
Can you put your suggestion in the voice link [https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks] to see how people is thinking about this?

[2018-08-07 19:54] sauryadas commented on #248
Closing this as this has been fixed

[2018-08-07 19:54] #248 closed

[2018-08-07 19:54] #541 closed

[2018-08-07 19:56] devkws commented on #570
@JackQuincy this is surprising to me. As I stated premier support is telling customers that this is scenario was specifically implemented by AKS (always overwriting the network security group). So are you confirming now that this is in fact a bug? And not an issue with AKS directly? Could you provide any further details?

[2018-08-07 19:57] weinong commented on #504
please provide your feature request at https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 19:57] #504 closed

[2018-08-07 19:57] sauryadas commented on #377
In general we believe that lets encrypt doesnt work on Azure ... try this documentation https://github.com/digeler/letsencrypt-application-routing-aks

if not use your own .tld and root domain.

[2018-08-07 19:57] #377 closed

[2018-08-07 19:59] weinong commented on #527
Closing it as it's being tracked on user voice.

[2018-08-07 19:59] #527 closed

[2018-08-07 19:59] rite2nikhil commented on #518
For the ingress controller consider using
			--set controller.publishService.pathOverride="namespace/name" \
			--set controller.service.type="NodePort" \
			--set controller.publishService.enabled=true \

This will allow ingress controller to update the ip address for the ingress, and the you can use external dns to register the fqdn ..hope this helps,
General links
https://github.com/helm/charts

[2018-08-07 19:59] #518 closed

[2018-08-07 20:00] mboersma commented on #222
This isn't an error we've seen generally, and there hasn't been an update on this issue in five months. @mfaizanse I'm going to close this, but please re-open if this issue still persists.

[2018-08-07 20:00] #222 closed

[2018-08-07 20:01] rite2nikhil commented on #537
If this fails consistently please send the cluster information (subscription id, resource group and resource name) to aks-gh-feedback@service.microsoft.com

[2018-08-07 20:01] #537 closed

[2018-08-07 20:02] sauryadas commented on #530
Thanks for the feedback. There are some issues with rendering the portal graph. We are looking to fix this.

If kubectl get nodes is returning nodes in ready state and you are able to deploy pods that should suffice. you can also check the overall health of nodes and pods if you have azure monitoring enabled.

cc @jenetlan  FYI

[2018-08-07 20:04] sauryadas commented on #336
looks like an old issue we have fixed .. if you are still seeing an issue please file a support ticker.

[2018-08-07 20:04] #336 closed

[2018-08-07 20:05] rite2nikhil commented on #522
@ravicm  The has been rolled out for this issue, doing any update to you cluster and bouncing(deleteing) the kube-system/azureproxy pod would apply the fix to your old clusters for this specific issue.

[2018-08-07 20:05] weinong commented on #445
I'm closing this comment. Let's follow the issue I open in acs-engine.

[2018-08-07 20:05] #445 closed

[2018-08-07 20:07] mboersma commented on #219
@joaocc thank you! We're tracking feature requests for AKS at our "user voice" forum where they can be voted on and prioritized. I added this there:

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35053906-install-havegd-on-nodes-to-prevent-low-entropy-sit

[2018-08-07 20:07] #219 closed

[2018-08-07 20:08] mboersma commented on #311
This is a duplicate of earlier issue #173. I'm closing this so we can track progress of the Kubernetes upstream fix there.

[2018-08-07 20:08] #311 closed

[2018-08-07 20:12] JackQuincy commented on #570
We work on upstream as well. So it is still an issue the AKS team should get fixed. I'm not an expert on the NSG rules the kubelet sets up though. My understanding is it is by design. The kubelet on start up makes sure all ports etc it needs to support k8s services are open, apparently it considers your changes taints that need to be cleaned up. So under a feature request instead of bug.  A work a

[2018-08-07 20:12] #570 closed

[2018-08-07 20:13] mboersma commented on #284
@tomasherceg I can't reproduce this. I also can't think of a reason adding the `--kubernetes-version` argument would change the behavior. This seems more likely to be a transient error. If there were a problem with the node type, that results in a fairly specific error, which we didn't see.

I'm going to close this since it's over four months old, but please re-open if you still see this behavior.

[2018-08-07 20:13] #284 closed

[2018-08-07 20:15] weinong commented on #552
@markusdresch Can you guys send details like subscriptionID, resource group, resource name and region to aks-help@service.microsoft.com for us to take a look?

[2018-08-07 20:15] rite2nikhil commented on #497
Can you please send your cluster info (subscription id, resource group, resource id) to aks-gh-feedback@service.microsoft.com

[2018-08-07 20:17] mboersma commented on #309
I'm not aware of a general issue like this since AKS was made generally available. @Zimmergren if you still see problems like this, could you please send details and subscription ID, Azure region, resource group name, and cluster name to aks-help@service.microsoft.com?

[2018-08-07 20:17] #309 closed

[2018-08-07 20:18] rite2nikhil commented on #563
Please perform a update operation on your cluster (upgrade [same k8s version]/scale [to same # on nodes]) and the bounce kube-system/azureproxy pod should help you get the patch to fix this issue.

[2018-08-07 20:18] #563 closed

[2018-08-07 20:18] weinong commented on #535
closing the issue as there has no response. please reopen if the issue persists.

[2018-08-07 20:18] #535 closed

[2018-08-07 20:19] mboersma commented on #286
@r-moiseev if `helm` is still misbehaving for you, could you send details with subscription ID, resource group name, cluster name, and Azure region to aks-help@service.microsoft.com so we can investigate? Thanks!

[2018-08-07 20:19] #286 closed

[2018-08-07 20:26] mboersma commented on #292
@neildonkin sorry! We haven't heard of `upgrade` causing any issues like this, so I'm not sure what's going on.

Could you send details with subscription ID, resource group name, Azure region, and cluster name to aks-help@service.microsoft.com so we can investigate?

[2018-08-07 20:26] #292 closed

[2018-08-07 20:27] weinong commented on #553
I believe your observations are the result of many dimensions. However, I don't think container health solution dependency would impact AKS creation. Can you retry it again?

Also, can you guy send details like subscriptionID, resource group, resource name and region to aks-help@service.microsoft.com for us to take a look?

[2018-08-07 20:29] mboersma commented on #453
@Vlatombe I've created AKS clusters in the portal with monitoring enabled and didn't see this problem. Maybe something's been fixed since then?

If not, could you send details with subscription ID, resource group name, Azure region, and cluster name to aks-help@service.microsoft.com so we can investigate further?

[2018-08-07 20:29] #453 closed

[2018-08-07 20:29] tomasr commented on #553
I tried it 3 different times, with the same result each time. Unfortunately, I had to delete the failed cluster.

Happy to share privately the ARM template that was triggering the issue, though, if you're interested.

[2018-08-07 20:30] sauryadas commented on #370
AKS clusters are secure by default by design. you can disable by using the disable rbac flag if needed. closing this issue as i believe folks know how to get this to work.
1) either disable rbac when creating a cluster OR
2) deploy tiller with a default service account ...
kubectl delete deployment tiller-deploy --namespace kube-system
helm init --upgrade --service-account default
helm install sta

[2018-08-07 20:30] #370 closed

[2018-08-07 20:31] rite2nikhil commented on #533
Closing the issue itself as see resolution, @mbrancato please re-open if this is not the case

[2018-08-07 20:31] #533 closed

[2018-08-07 20:32] #322 closed

[2018-08-07 20:32] mboersma commented on #450
@j03wang I moved this feature request to https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35054089-support-podpreset-alpha-feature where it can be tracked and voted on. Thank you!

[2018-08-07 20:32] #450 closed

[2018-08-07 20:33] rite2nikhil commented on #502
Please check your NSG rules if it is blocking the requests on this port. Please re-open if this still repros

[2018-08-07 20:33] #502 closed

[2018-08-07 20:33] weinong commented on #550
Can you post the feature request at https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:33] #550 closed

[2018-08-07 20:34] sauryadas commented on #217
this was by design ... i think you can modify the exisiting NSG... if the solution doesnt work for you please file a feature request in the link below.

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:34] #217 closed

[2018-08-07 20:34] rite2nikhil commented on #574
Can you please share your cluster info (sub id, resource group, resource id) @  aks-gh-feedback@service.microsoft.com

[2018-08-07 20:35] sauryadas commented on #87
Calico support is coming .. encourage you guys to add feature requests in the link below.

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:35] #87 closed

[2018-08-07 20:35] mboersma commented on #451
"upgrade request required" has been fixed in AKS. @timwebster9 please re-open if you don't see this behaving properly now.

[2018-08-07 20:35] #451 closed

[2018-08-07 20:38] mboersma commented on #516
@dasuma it's hard to know from that information whether this is an AKS or Kubernetes issue, or if it's application-specific. Could you send logs and details with subscription ID, resource group name, Azure region, and cluster name to aks-help@service.microsoft.com so we can investigate further?

[2018-08-07 20:38] #516 closed

[2018-08-07 20:39] rite2nikhil commented on #554
Please perform a update operation (upgrade to same k8s or scale to same number of nodes) and bounce the kube-system/azureproxy pod, this would fix the issue you are seing, closing the incident, if this does not fix send your cluster info to aks-gh-feedback@service.microsoft.com with (subid, resource group and cluster name) and feel free to reopen the issue

[2018-08-07 20:39] #554 closed

[2018-08-07 20:41] mboersma commented on #514
@EraYaN I also can't reproduce this. Could you send details with your subscription ID, resource group name, cluster name, and Azure region to aks-help@service.microsoft.com so we can investigate further?

[2018-08-07 20:41] #514 closed

[2018-08-07 20:41] sauryadas commented on #291
This looks like an old bug and i am going to close it since there has been no activity. Please create a new one if you are still seeing issues

[2018-08-07 20:41] #291 closed

[2018-08-07 20:44] rite2nikhil commented on #519
@katerinapsperm  Please send the info @ aks-help@service.microsoft.com

[2018-08-07 20:47] mboersma commented on #425
@vishnoisuresh it sounds like the new cluster didn't exhibit this behavior, and the old one isn't around to look at. I'm going to close this, but if you see it again could you please send details with subscription ID, resource group name, cluster name, and Azure region to aks-help@service.microsoft.com so we can investigate further?

[2018-08-07 20:47] #425 closed

[2018-08-07 20:47] rite2nikhil commented on #455
The fix for helm/tiller will get rolled out by end of next week, so if this is urgent Please send your cluster info @ aks-gh-feedback@service.microsoft.com

[2018-08-07 20:47] MXClyde commented on #566
My cluster was indeed pre-GA and it has already been fixed through Support. I think this issue can be closed?

[2018-08-07 20:47] #566 closed

[2018-08-07 20:48] weinong commented on #474
Can you try to add
[code]
I believe it's supported on Azure as well.

[2018-08-07 20:48] #474 closed

[2018-08-07 20:51] rite2nikhil commented on #418
Please do an  update (scale(same # of nodes) or upgrade to (same k8s)), which should get the fix for this issue

[2018-08-07 20:51] #418 closed

[2018-08-07 20:51] weinong commented on #441
this has been improved from the portal to create role assignment to the subnet.

[2018-08-07 20:51] #441 closed

[2018-08-07 20:51] sauryadas commented on #405
can you send your cluster details to aks-help@service.microsoft.com

[2018-08-07 20:52] sauryadas commented on #401
@ams0 i am closing this here. Please create a feature request in the below link . Thanks

https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:52] #401 closed

[2018-08-07 20:52] rite2nikhil commented on #361
Closing this issue, please reopen if this still exists

[2018-08-07 20:52] #361 closed

[2018-08-07 20:53] mboersma commented on #493
It sounds like Azure support was able to fix this cluster. I hope you're working now @przemolb, but if not please re-open this issue or send a support request to aks-help@service.microsoft.com so we can investigate further.

[2018-08-07 20:53] #493 closed

[2018-08-07 20:53] weinong commented on #443
Do you guys still have repro recently? Can you send details like subscriptionID, resource group, resource name and region to aks-help@service.microsoft.com for us to take a look?

[2018-08-07 20:54] rite2nikhil commented on #348
There was a reduction  in the poll interval which reduces the cpu utilization of the pod, closing the issue, reopen if needed

[2018-08-07 20:54] #348 closed

[2018-08-07 20:55] weinong commented on #373
there was some issue related to the CDN. we have shied away from it.

[2018-08-07 20:55] #373 closed

[2018-08-07 20:55] rite2nikhil commented on #296
Yes that is correct, the keys get rotated

[2018-08-07 20:55] #296 closed

[2018-08-07 20:55] weinong commented on #337
please post feature request to https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:55] #337 closed

[2018-08-07 20:57] sauryadas commented on #289
@baracoder @seniorquico if you are still seeing this issue please let me know. I am closing this issue as it seems to be working fine.

[2018-08-07 20:57] #289 closed

[2018-08-07 20:57] weinong commented on #327
please post feature request to https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-08-07 20:57] #327 closed

[2018-08-07 21:03] Nuke1234 commented on #522
@rite2nikhil  i updated (scaled) one of our 1.10.6 aks clusters, bounced the azureproxy pod but deployments are still failing randomly...

first try:

helm upgrade --install --namespace cds  --wait --timeout=1800 --values system/values.yaml --set tags.stage1=true cds-system-1 cdsrepo/cds-system
Release "cds-system-1" does not exist. Installing it now.
Error: release cds-system-1 failed: the server