[2019-06-05 12:59] #1041 closed

[2019-06-05 13:12] pixelicous commented on #643
Hi, we passed the half year mark for this, i am used to MS and dates not being friends, but still, this is such a basic functionality, cant work with global vnet peering and SLB

[2019-06-05 13:23] jnoller commented on #643
We understand, and SLB support is coming in several weeks.

[2019-06-05 13:31] ams0 opened #1042 "[Calico] Typha pods spits out a lot of errors about missing CRD"
**What happened**:

On calico-enabled clusters (tried with and without PSP) calico-typha pod in kube-system floods the logs with errors like:

[code]

**What you expected to happen**:

Normal level of logging.

**How to reproduce it (as minimally and precisely as possible)**:

Just deploy a calico-enabled cluster (I tried with kubenet but I suppose it can be reproduced on AzureCNI clusters too).

[2019-06-05 13:58] cwebbtw commented on #1041
Hey @jnoller, thanks for looking into this for us, the ticket we have created is: 119060526001363

[2019-06-05 14:22] jnoller commented on #1041
Thanks!

[2019-06-05 14:31] vaustral commented on #643
I think we all get it about dates, most people here go through the same motions - but is there is an alternative to manage egress IP's until this is sorted?  I have a project i'm delaying because of an unsuitable way to manage this on AKS... and i'm not sure i can wait another 2 months.

[2019-06-05 15:11] jnoller commented on #643
@vaustral There is not an alternative

[2019-06-05 15:24] vaustral commented on #643
@jnoller  bummer...worth an ask, i didn't think so, but miracles happen :)

[2019-06-05 15:30] weinong commented on #326
@spacem , what k8s version? do you have controller manager log when it was stuck?

[2019-06-05 15:35] HippyRock commented on #1034
All Linux pods are in the same subnet that is specified in cluster template. The services have type LoadBalancer:

[code]

[2019-06-05 16:06] pixelicous commented on #643
@vaustral you have a solution, i am in the same boat, but i am not going to wait, from 10years of experience you are going to wait a very long time to get it, and when you do, it will miss features or support that will take another year to solve.. going to shift this load to eks

[2019-06-05 16:14] jnoller commented on #643
I understand you are upset @pixelicous, and the AKS team is _painfully_ aware of the problems with Basic Load Balancers, and we are also aware that getting SLBs in place has slipped and that they have critical capabilities we, and customers need.

That said, this repository is not for venting. Please keep the comments on-topic, not personal, etc. We have a code of conduct in place and we will remo

[2019-06-05 16:36] pixelicous commented on #643
@jnoller Actually came back to edit and add a thank you for the prompt response :) Sorry not upset and it wasn't a vent but expressed my opinion on the subject, on top of it i also provided a viable solution for somebody, even if it is just a workaround. With today's current stack of technologies it is very easy to copy your IAAC between cloud providers to be able to support your customers, until

[2019-06-05 17:35] Senai-T commented on #1034
generally speaking, internal loadbalancers are best for connecting workloads outside your cluster (BUT inside your VNET) to services inside the cluster (sounds confusing right!). For this particular situation I'd recommend assigning both pods a clusterIP, this will expose them cluster-wide (modify as needed) :
web clusterIP:
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  type: ClusterI

[2019-06-05 17:53] Senai-T commented on #1034
generally speaking, internal loadbalancers are best for connecting workloads outside your cluster (BUT inside your VNET) to services inside the cluster (sounds confusing right!). For this particular situation I'd recommend assigning both pods a clusterIP, this will expose them cluster-wide (modify as needed) :
p.s. idk why my dashes are coming out as bullet points :(
web clusterIP:
apiVersion: v1

[2019-06-05 18:55] Senai-T commented on #1040
I recreated the issue and you're completely right, the container terminates after about two seconds of running, I even tried it with the restart policy set to Never and it still terminated with a status code of 0 meaning that the termination signal is most likely coming from the container. I ran the same scenario using a different image  (mcr.microsoft.com/azure-functions/python:2.0) just to be su

[2019-06-05 18:56] HippyRock commented on #1034
Thanks, I tried ClusterIP type and result is the same as for LoadBalancer, connection works only when both pods are on the same node...
In my test environment, I have nginx running on node 1 and busybox1 and busybox2 running on different nodes respectively.
nginx has ClusterIP=10.0.79.54 and ExternalIP=10.245.194.200

[code]
PS: I was not able to access ClusterIP from outside cluster from my jump

[2019-06-05 19:45] Senai-T commented on #1034
yes the clusterIP is limited to the cluster only. Could you provide me with the yaml of the pods/deployments I'm going to attempt to recreate them and see what's what.

[2019-06-05 19:55] HippyRock commented on #1034
Ok, I have two Linux nodes with name=linux1 and linux2 labels respectively. And run kubectl apply for the following:

NGINX:
[code]

and BUSYBOX
[code]

After everything up and running, you can try to connect to busybox pod and try to connect NGINX via ClusterIP or External IP by using wget, if connection works you should see something about index.html in the output:

[code]

[2019-06-05 22:14] Arvinduppar commented on #1030
Hi,
AvBee I reproduced the issue. Then I ran the "dmesg | tail" command  I could see "ioctl error in smb2_get_dfs_refer rc=-5". This link would help you https://www.ckode.dk/linux/switching-from-ubuntu-to-fedora-part-2-cifs-vfs-ioctl-error-in-smb2_get_dfs_refer/ to solve that error. In the the create storage class Annotations:   "mountOptions":["dir_mode=0777","file_mode=0777","uid=1000","gid=1000

[2019-06-05 22:15] Arvinduppar commented on #1030
Hi,
AvBee I reproduced the issue. Then I ran the "dmesg | tail" command I could see "ioctl error in smb2_get_dfs_refer rc=-5". This link would help you https://www.ckode.dk/linux/switching-from-ubuntu-to-fedora-part-2-cifs-vfs-ioctl-error-in-smb2_get_dfs_refer/ to solve that error. In the the create storage class Annotations: "mountOptions":["dir_mode=0777","file_mode=0777","uid=1000","gid=1000","

[2019-06-05 22:17] spacem commented on #326
@weinong it is 1.12.8 - sorry I don't believe I have additional diagnostics logging enabled

[2019-06-05 22:20] Senai-T commented on #1034
so here is what I did, I threw the nginx pod on one node and two busybox pods on another node and then attached a ClusterIP to the nginx pod and then attempted to ping it using the cluster IP, it simply did not work but what DID work was using was using the endpoint (kubectl get ep)...I think this has to do with the networking structure of Kubenet  networking structure and the way IP address are s

[2019-06-06 00:47] brobichaud commented on #1029
I am now seeing a very high percentage of failures of pod startups to resolve DNS. Rebooting the cluster nodes does help, but does not solve the problem. And over time the problem definitely gets much worse. All of my deployments have readiness and liveness probes disabled. I'd appreciate any advice you might have on how I can deal with this.

[2019-06-06 03:11] karataliu opened #1043 "VMSS scaling created node didn't get updated credential"
1. Create a VMSS cluster
2. Use 'az aks update-credentails' to set new credential
3. Scale VMSS node
4. The new created node still has old credential in '/etc/kuberentes/azure.json'

[2019-06-06 05:35] will-beta commented on #643
@pixelicous @vaustral In our senario, as a workaround, we setup a VM with socat in the VNet to relay traffic to the Basic Load Balancer. Hope this helps!

[2019-06-06 11:03] KIRY4 commented on #972
Hi @xizhamsft. Could you please confirm that next release with your fix will be between 10-16 june? In our company we are waiting for this fix very much!

[2019-06-06 13:47] HippyRock commented on #1034
So, for you access to endpoint works from both nodes? I tried that and result is the same, no access to endpoint from pod that is on the other node...

I tried to troubleshoot DNS issues per this [guide ](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/)and resolving "kubernetes.default" doesn't work from pod or node:
[code]
Also coreDns pod doesn't receive any routing

[2019-06-06 14:26] jnoller commented on #1034
First, thank you for reaching out to the AKS team.

AKS Github issues must be generally re-creatable (e.g here is the YAML/settings/packages/etc installed, can recreate the issue on existing clusters as well as newly created clusters). Unfortunately, this issue is cluster-specific.

For cluster specific issues (those that will require support and on-call staff to access you Subscription and cluste

[2019-06-06 14:26] #1034 closed

[2019-06-06 17:29] jluk commented on #363
@derekperkins and @janbrunrasmussen could you both give this scenario another try? We've made some changes and fixes that should resolve this issue, would be good to get your confirmation.

[2019-06-06 19:23] janbrunrasmussen commented on #363
@jluk Could you be more specific - which version? which region?

[2019-06-06 20:01] jluk commented on #363
@janbrunrasmussen any region should work, but it may require a new cluster to guarantee the latest changes. Could you please try spinning up a new cluster and rerunning your scenario?

[2019-06-06 20:02] jluk commented on #363
Any supported AKS k8s version should be fine

[2019-06-06 20:18] lenisha opened #1044 "AKS limited egress preview - additional URLs required"
*What happened**:
Provisioning AKS in custom VNet force tunneled thru FW and need precise list of urls to be whitelisted

**What you expected to happen**:
Expected list of urls posted at https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic to cover everything

**How to reproduce it (as minimally and precisely as possible)**:
Create cluster with firewalled access to internet

Following U

[2019-06-06 20:28] jnoller commented on #1040
@srrengar Virtual Node issue

[2019-06-06 20:33] sauryadas commented on #1044
One customer has reported that docker.io is required as well

The specific error they see in the tunnelfront pod is:
  Warning  Failed     25m                  kubelet, aks-cgprodpool-26424830-0  Failed to pull image "docker.io/deis/hcp-tunnel-front:v1.9.2-v4.0.7": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/deis/hcp-tunnel-front/manifests/v1.9.

[2019-06-06 20:37] jnoller commented on #1044
Pinned issue. AKS is aware of the URL changes for the egress filtering feature preview.

[2019-06-06 21:03] sauryadas commented on #1042
@feiskyer  is looking into this.

[2019-06-06 21:22] protomech opened #1045 "Validating AKS against external AAD fails to find client service principal"
**What happened**:

When validating or deploying an AKS cluster configured to use an external Azure AD, we receive an error stating that the client service principal was not found in the external directory.

Service principals were created in this external directory according to the instructions here:
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

The external directory was i

[2019-06-06 22:04] srrengar commented on #1040
@mostafaez can you take a look

[2019-06-06 23:39] jonathonmg commented on #413
Similar to what @rtargosz said except that specifying --subscription in the login command did not work for me. However specifying --subscription for the aks get-credentials command did solve the exception.

[2019-06-07 04:21] joetechbob commented on #212
I have Windows nodes and need to install dependencies. As priveleged containers aren't possible on Windows, using a DaemonSet doesn't seem to be an option there.

Does anyone have a workable solution for Windows nodes? One idea was to use VMSS and custom script extensions...But it feels like we would fall more inline with what aks-engine was setting up if there was simply an option to run addition

[2019-06-07 11:21] feiskyer commented on #326
There's a Kubernetes bug on https://github.com/kubernetes/kubernetes/issues/53451.

The fix https://github.com/kubernetes/kubernetes/pull/78262 would be alpha in v1.15 and beta in v1.15.

[2019-06-07 12:39] MikkelHegn commented on #1037
What's the version of the aks-preview extension you are using? I cannot reproduce the error using 0.4.1.

https://docs.microsoft.com/en-us//azure/aks/windows-container-cli#install-aks-preview-cli-extension

[2019-06-07 14:19] sauryadas commented on #1045
can you register container service in the subs of the external directory and check if it works?

az provider register --namespace Microsoft.ContainerService

[2019-06-07 14:39] gossion commented on #1044
thanks @lenisha for reporting the issue. let us whitelist these endpoints.
@sauryadas , it is wired to see the error `Failed to pull image "docker.io/deis/hcp-tunnel-front:v1.9.2-v4.0.7"`, tunnel-front should be in ACR `aksrepos.azurecr.io` rather than docker.io. which region does customer see the issue? let me try to reproduce and see why this error happened.

[2019-06-07 15:09] t0mmyt opened #1046 "Azure CNI and a default route seems to break k8s networking"
I am trying to bring up a cluster in a pre-existing VNet peered with another VNet containing an Azure Firewall.  The VNet for AKS is empty.

Adding a default route to the route table on the cluster subnet appears to prevent pods from being able to talk to any service endpoints (including the k8s api), removing the entry (i.e. leaving an empty route table) lets everything work again (but obviously

[2019-06-07 17:56] tereio commented on #232
Same issue here.  Tried all fixes above to no avail.  This has been open a year and still see reports everywhere.  When is MS going to get serious about their k8s!

[2019-06-07 18:06] protomech commented on #1045
Oh wow. That worked for us!

We had deployed AKS (non-AAD) on the working external directory, so we must have somehow enabled AKS for the subscription. I gather it's not enabled by default if we had to run this, as we have never deployed AKS in the new subscription.

**Future reference** - run `az provider register --namespace Microsoft.ContainerService` on new clusters!

[2019-06-07 18:07] #1045 closed

[2019-06-07 18:26] janbrunrasmussen commented on #363
I ran through a couple of scenarios, and for me it seems to work - that is, I am able to add a taint, force restart of the proxy pod on the tainted node(s) in various ways and see the proxy pod come back up.
Thanks for resolving the issue (even if it took over a year to fix). I am not sure if others in the issue are facing slightly different use cases though.

[2019-06-07 18:32] jluk commented on #363
@janbrunrasmussen thanks for confirmation and the patience, we've been tracking through a long backlog of things to fix and will be moving onto fixing many more to improve the experience. Closing this issue out based on feedback - if folks still hit issues please feel free to reopen.

[2019-06-07 18:32] #363 closed

[2019-06-07 19:30] Senai-T commented on #1046
this is an interesting issue, my default assumption is that something might be getting NAT'd out somewhere in the mix or the firewall is conducting some sort of source/destination check and dropping packets when they fail to match. I hope this might be of [assistance](https://docs.microsoft.com/en-us/azure/aks/egress) but i'll keep looking into it.

[2019-06-07 19:34] jnoller commented on #1046
First, thank you for reaching out to the AKS team.

AKS Github issues must be generally re-creatable (e.g here is the YAML/settings/packages/etc installed, can recreate the issue on existing clusters as well as newly created clusters). Unfortunately, this issue is cluster-specific.

For cluster specific issues (those that will require support and on-call staff to access you Subscription and cluste

[2019-06-07 21:13] rnkhouse commented on #558
@tomasr No. It's not associated with any other service.

[2019-06-08 13:26] hiroshi1000 commented on #1037
This is the version on my MacBook Pro.
`$ az extension list
[
  {
    "extensionType": "whl",
    "name": "aks-preview",
    "version": "0.4.1"
  }
]
`
This issue happens with CLI on Azure Cloud Shell, as well.

[2019-06-08 15:39] thomassampson commented on #658
This would sure be a valuable feature!! 👍👍👍

[2019-06-08 16:45] jeremych1000 commented on #658
Velero now supports Azure Managed Disks - so that might be a better solution now.

[2019-06-09 01:18] artisticcheese commented on #1029
This seems to be issue with Windows 1809 servercore image itself running in AKS. ACI also runs in AKS and hence issue is showing up here as well https://github.com/MicrosoftDocs/azure-docs/issues/32209
Currently DNS is completely broken as far as I can see in windows containers. I have to add below to YAML config before actual runtime to make it work

[code]

[2019-06-09 13:44] dazmsft commented on #983
Can you confirm that this is for both Windows and Linux VM's in the node pool.

[2019-06-09 18:14] patrickmslatteryvt commented on #1039
We had to special request the allocation of the LS_v2 VMs in our region and wait a few days for them to be allocated to us.
Even then they don't show up in the portal but you can use the `az aks create` CLI to create a cluster with them.

[2019-06-09 18:14] #1039 closed

[2019-06-10 12:25] andyzhangx commented on #1030
question is does xfs file system supports following mount options?
[code]
I think you may try remove those mount options and then try again.

[2019-06-10 14:29] t0mmyt commented on #1046
Following the steps I posted should be able to re-create it.  This is AKS using Advanced Networking with a default route via an Azure Firewall.  Either I'm doing something wrong or Azure CNI doesn't work with Azure Firewall.

[2019-06-10 17:13] brobichaud commented on #1029
Hmm, this is a pretty interesting hack to work around this rather huge hole in AKS. Do you have a working example of your full dockerfile I could see and use as a template?

[2019-06-10 17:15] artisticcheese commented on #1029
I work with customers image (not dockerfile) and inspecting an imaged showed that /run.ps1 was used as entrypoint, so I just prepended it with setting up DNS.

[2019-06-10 20:34] kkopuru opened #1048 "Azure Aks: Windows Authentication using GMSA"
We are trying to verify windows authentication using GMSA with AKS.

"https://kubernetes.io/docs/tasks/configure-pod-container/configure-gmsa/"

Since the feature in alpha state, it is disabled by default.

Did anyone try this with AKS? How to enable feature gates with AKS?

[2019-06-10 23:05] tedgoddard commented on #961
There appears to be no bug here under normal conditions. It turns out that the configuration script is fine, but stale values in ~/.azure caused it to fail. If possible the  problem in ~/.azure could be detected.

[2019-06-10 23:05] #961 closed

[2019-06-11 07:44] MikkelHegn commented on #1037
Can you try changing the `--node-vm-size` parameter to use casing similar to what's in this output `az vm list-sizes -l westeurope | jq .[].name` for the size you ant to use. It's probably a casing mismatch in the command. For the size you are using it should be `Standard_B4ms`

[2019-06-11 07:53] will-beta commented on #643
@pixelicous @vaustral Azure Application Gateway also helps!

[2019-06-11 08:55] pdressel commented on #1009
Until there is a fix, you can reliably rotate the credentials by resetting the client secret [directly via the cli](https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-the-service-principal-credentials):

[code]

this generates a password without incorrectly parsed characters. You can then update the cluster like above with:

[code]

[2019-06-11 09:21] AVBee commented on #1030
@Arvinduppar in my case i already bound to PVC but can't be mounted to pod.

That's worked. Seems xfs doesn't support these IDs.

@andyzhangx thank you

[2019-06-11 09:21] #1030 closed

[2019-06-11 10:30] AliYusuf95 commented on #552
@levilugato put it in helm values

[2019-06-11 11:25] neerajkrshukla opened #1049 "Tunnelfront egress communication to API Servers - Provide IP Range to be whitelisted in Azure Firewall"
**What happened**:
When Provisioning AKS in custom VNet, the tunnelfront connection (TCP Port 22/9000) to AKS API Server  thru Firewall (Egress Preview) needs precise list/CIDR of IP addresses to be whitelisted as Firewall.

**What you expected to happen**:
In Firewall network rule collections, we should specifically provide the IP Range of AKS API Servers as URLs can be provided only for applicat

[2019-06-11 11:32] hiroshi1000 commented on #1029
I have been facing the same problem and put the setting below in k8s YAML file for "first aid". This is working properly.

[code]

The IP address is the static address of Azure DNS server for vNet written in a MS document.

[2019-06-11 11:44] t0mmyt commented on #1046
@jnoller - can you re-open this?  This is 100% re-creatable following the above steps and is not cluster specific.

[2019-06-11 12:05] BoSoeborgPetersen opened #1050 "Scale/create node pools to size 0 for auxiliary node pools via AKS API"
It should be possible to scale a nodepool to zero through the Azure Cli, not just through Azure Portal.

**What happened**:
Received error ("Can't scale down to 0 node.")

**What you expected to happen**:
Scale down to zero nodes.

**How to reproduce it (as minimally and precisely as possible)**:
"az aks nodepool scale -g <group_name> --cluster-name <cluster-name> --node-count 0 -n winvms”

**Anyt

[2019-06-11 12:14] ams0 commented on #1050
It's possible operating on the VMSS scale directly:

[code]

[2019-06-11 12:17] BoSoeborgPetersen commented on #1050
Good to know, but it should still be fixed.

[2019-06-11 12:51] artisticcheese commented on #1029
This seems to be better solution in the interim instead of overriding entry point

[2019-06-11 16:24] brobichaud commented on #1029
Indeed this seems to work well with servercore images, thanks so much @hiroshi1000! It's a mitigation for a significant problem and not a solution, but it does allow me to move forward. 👍

However nanoserver does not support powershell so it fails there. Does anyone know of an equivalent version of this that works from a simple command shell?

[2019-06-11 18:13] andyzhangx commented on #804
@RenaShahMSFT do you have timeline about when create file share action would **not** be considered as data-path operation?

[2019-06-11 21:03] thebitguru opened #1051 "AKS 1.14 (preview) - unable to create new native thread"
**What happened**:
Java applications seem to have a problem creating native threads.  I realize that 1.14 is in preview and, in my case, this is not related to a production cluster.  I use protractor/selenium for automated testing and the same webdriver was working OK in 1.12, but upgrading to 1.14 preview causes this error.

[code]

I am seeing a few more reports of a [similar behavior with sonar

[2019-06-12 03:50] itszakko opened #1052 "AKS API server support of standard load balancer (not user deployed services)"
**What happened**:
When using the [Kubernetes Python API](https://github.com/kubernetes-client/python), after approximately 5 minutes of inactivity, the connection stops working. The packets are seemingly dropped on the other end.

In the case of the Python API, this causes the request to block for 15 minutes until the Linux Kernel forces the socket closed with "Errno 110 Connection timed out". Th

[2019-06-12 05:40] alanjcastonguay commented on #1052
This becomes especially noticeable when using watches, as the connection seems to remain open but stops receiving events. That connection is expected to be idle for many minutes between events. I've noticed it with the python client not inside and outside the cluster, connecting to the public master FQDN.

[2019-06-12 06:17] vedant-khandelwal commented on #868
I'm using the FQDN. Could this issue be because we've configured the
kubernetes load balancer to route external requests internally

On Fri, 17 May, 2019, 11:24 PM Robbie Zhang, <notifications@github.com>
wrote:

[2019-06-12 06:36] LennartHaggkvistHM opened #1053 "AKS Upgrade should ensure that enough IPs are available before upgrading"
**What happened**:
Cluster got in invalid state after upgrade failed due to too few available IP adresses

**What you expected to happen**:
AKS should not try to upgrade if there is not enough available IPs to create the additional node.

**How to reproduce it (as minimally and precisely as possible)**:
Create subnet with less available IPs that is required for another node.

**Anything else we ne

[2019-06-12 09:19] feiskyer commented on #1042
Confirmed the issue, and it would be fixed in next AKS release.

[2019-06-12 09:19] #1042 closed

[2019-06-12 12:13] edwinbdr commented on #232
Qouting from the message in my inbox on the deleted comment frgom @tereio:

@Azure why do you delete the above comment without proper justification? This does not seem to offend anyone, except perhaps the pride of the AKS developers?

I risk this comment to be deleted as well (except in the mailboxes of the people who commented on this issue or are watching it). But this issue, which seems a rathe

[2019-06-12 12:53] jnoller commented on #232
I am locking this thread. I am sorry that this issue is not being resolved at the speed you’d like (or that the AKS team likes). To be clear, SLB support is entering final testing to go into preview. The current timeout issues, as communicated are directly tied to the Basic LB timeouts and behaviors.

Issues on this repo are not places to vent at the AKS team, state that we’re not taking the produ

[2019-06-12 15:12] cwebbtw opened #1054 "Unauthorised access to Kubelet API"
**What happened**:

Kubelet API seems to be unauthorised even to pods that have a service account with the cluster role binding `system:kubelet-api-admin`.

This is restricting the use of utilities like *splunk-connect-for-kubernetes*.

See https://github.com/splunk/splunk-connect-for-kubernetes

**What you expected to happen**:

Expect that pods should be able to authorise with the kubelet API if

[2019-06-12 16:02] antoinne85 commented on #921
It looks like the issue wound up being that I was fully qualifying the resource group name (e.g. `/subscriptions/xxx/resourceGroups/xxx`) when all I really needed was the resource group name.

[2019-06-12 16:02] #921 closed

[2019-06-12 16:18] hiroshi1000 commented on #1037
I tried as you suggest but unfortunately the result haven't changed.
`az: error: unrecognized arguments: --node-vm-size Standard_B4ms`

The exact name of the VM size was found in the output.
[code]

[2019-06-12 19:07] hassanselim0 commented on #527
Just wanted to inform anybody who stumbles upon this that the UserVoice request has been completed!
Docs: https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2019-06-12 19:33] digeler commented on #1052
The basic nlb that uses the API has 4 Min idle timeout.
This is going to be changed in near future.
You might want to use init container with your deployment

Something like this:
initContainers:
        - name: "sysctl"
          image: "busybox:latest"
          resources:
            limits:
              cpu: "10m"
              memory: "8Mi"
            requests:
              cpu: "10m"

[2019-06-12 19:56] neginmr commented on #972
Is this fix released?

[2019-06-12 21:04] xizhamsft commented on #1037
@hiroshi1000 , could you rerun your az command with --debug and share with me the logs? I can't repro the issue on my side.

[2019-06-12 21:27] pixelicous commented on #643
@will-beta Thanks for your comments

[2019-06-13 08:19] hiroshi1000 commented on #1037
@xizhamsft All ritght. I've already done it last night. These are the outputs.

`$ az aks nodepool add     --resource-group ********     --cluster-name ********     --os-type Windows     --name *******     --node-vm-size "Standard_B4ms"     --node-count 1     --kubernetes-version 1.14.0 --debug`

`$ cat /Users/hiroshi/.azure/commands/2019-06-13.01-20-23.aks_nodepool_add.3774.log`

[2019-06-13 10:14] umeshpawaros commented on #428
Adding --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-internal"='"true"' to below helm install command will create a internal load balancer and it will pick available IP from the private VNET from azure portal which used while creating aks cluster.

helm install stable/nginx-ingress --namespace ingress-basic --set controller.replicaCount=1 --set controller.

[2019-06-13 18:53] antoinne85 opened #1055 "Cluster Autoscaler - support additional flag customization"
**What happened**:
The autoscaler scaled my cluster up by 1 instance.

**What you expected to happen**:
The autoscaler would scale my cluster up enough to schedule the unschedulable pods.

**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster with the autoscaler enabled. Drop a deployment onto the cluster that has many replicas and resource requests such that several p

[2019-06-13 21:05] jimoneil commented on #980
Is there a more detailed timeline of support or features? For instance, do we expect full parity in terms of support for kubenet at GA?

[2019-06-13 22:32] jnoller commented on #1052
This is directly related to the use of Azure Basic Load Balancers for AKS clusters. https://github.com/Azure/AKS/issues/643 and is on the public roadmap: https://github.com/Azure/AKS/projects/1

[2019-06-14 11:27] mschuurmans opened #1057 "RBAC on AKS: kubectl keeps asking for login every command"
**What happened**:
We're on AKS with RBAC enabled. Executing any kubectl/helm command that connects to the k8s cluster, i have to reauthenticate. Output:

[code]
This succeeds but then when i execute the next kubectl command i have to reauthenticate again.

**What you expected to happen**:
Authenticate and use that token for more than one command.

**How to reproduce it (as minimally and precisely

[2019-06-14 11:49] mschuurmans commented on #1057
After digging deeper found that there was a `config.lock`. When removed this issue went away.

[2019-06-14 11:49] #1057 closed

[2019-06-14 12:28] nmehlei commented on #980
@MikkelHegn We are currently evaluating it as the basis for a few of our planned production systems, which are planned to go online in August/September this year. Obviously, we're very skeptical about doing this if it is still in (Public) Preview.

Our evaluation currently did not yet go far enough to specify which (additional) features we will need but in general, we need an infrastructure to hos

[2019-06-14 15:55] Xorima commented on #756
thanks for pointing me here @jnoller

as per my previous comment could we all please get an update on this as it is a major security risk ...

[2019-06-14 15:56] jnoller commented on #756
It is on track for 2019 delivery.

[2019-06-14 19:51] Senai-T commented on #1054
is the pod deployed on the kube-system namespace?

[2019-06-14 20:01] Senai-T commented on #1053
totally understandable, the general consensus is that you should either use basic networking (kubenet) which will have a different CIDR distribution than the VNET they reside in (essentially your nodes and pods won't be on the same CIDR) thus freeing up a lot more address but at the cost of some cloud features or to use advanced networking with some planning that includes extra IP address to be dy

[2019-06-14 20:42] KIRY4 opened #1058 "Aks autoscaling node pool with VirtualMachineScaleSets maxcount"
AKS version: 1.14.0
AKS preview: enabled
Node pools: 1
VMSS: enabled
Max count: 5

Hi. How I can increase MaxCount value? I want to have a bigger nodepool capacity. I checked:
https://docs.microsoft.com/bs-latn-ba/azure/aks/use-multiple-node-pools#scale-a-node-pool

And was surprised that I have MaxCount column in my output... Is it bug? What will happen if I scale my cluster manually to 10 nodes

[2019-06-14 20:44] jwall2000 commented on #1053
I think this is feedback / enhancement idea on how an upgrade process could work. Enough available IP addresses for an extra node is maybe a sanity check that could be conducted by the AKS upgrade process as a prerequisite / test before actually starting the upgrade as extra protection and fail the upgrade prematurely without touching the cluster.

[2019-06-14 20:47] jnoller commented on #1053
@jwall2000 is correct - in fact this is something that has already been patched/fixed in later AKS versions. We double-check available quota, subnet space and more. If you encounter this issue on a new cluster, please reopen this

[2019-06-14 20:47] #1053 closed

[2019-06-14 21:30] sbrierly opened #1059 "Unresponsive readiness checks and external service endpoints for clusters with over 4 nodes."
**What happened**:
New AKS clusters I create (both k8s versions 1.12 & 1.13), I add a service and a deployment with a single replica of a Python flask app running behind gunicorn with a readiness check that simply responds 200 "okay."  If I scale to 1-4 nodes, the service external IP endpoint responds quickly when hitting the HTTP readiness check described above.  Also, I do not observe any readin

[2019-06-14 22:10] xizhamsft commented on #972
@neginmr, yes. It is released. Please give it a try

[2019-06-14 23:19] xizhamsft commented on #1037
@hiroshi1000, this seems to be a bug in az cli because no requests are sent to AKS yet. I noticed that you are using cli version 2.0.64. Could you try updating your CLI and aks-preview extension to the latest version and see if that fixes your problem? If not, could you try using cloudshell from portal and see if you can repro?

[2019-06-15 00:30] KIRY4 commented on #972
@xizhamsft hi maybe you know when autoscale for multiple node pools will be released? I mean for example I have 3 node pools and each of them autoscaling enabled and have min/max-count to limit autoscaling?

[2019-06-15 00:38] xizhamsft commented on #972
@KIRY4 , per nodepool autoscaler release is done this week. You can start trying it now using azure cli extension. Make sure to remove and reinstall aks-preview to get the latest cli extention. The help will show you how to enable/disable/update per node pool auto scaler settings.

[2019-06-15 12:31] hiroshi1000 commented on #1037
@xizhamsft I updated Azure Cli to 2.0.66, aks-preview extension to 0.4.4 on my MacBook Pro and tried to again. Nothing changed. The problem was reproduced.
I also tried the same operations on Cloud Shell with the latest Azure Cli and aks-preview extension, unfortunately, the result was also no change. The same error occurred..

[2019-06-15 14:45] #1058 closed

[2019-06-15 15:17] andyzhangx commented on #1048
it's not possible to enable feature gates on AKS, not supported

[2019-06-16 23:39] IsharaPannila commented on #1048
What do you mean by feature gates not supported by AKS. Is it only for this feature?
Cant we add feature gates as following?
https://github.com/Azure/aks-engine/blob/master/examples/feature-gates/kubernetes-featuresgates.json

[2019-06-17 02:46] andyzhangx commented on #1048
We cannot add any feature gates in AKS, while aks-engine supports feature gates customization.

[2019-06-17 07:15] SychevIgor commented on #224
didn't help me
VM dropped, Cluster scaled. This partiacular error goes away, but Dashboard still is not accessible.

aks version 1.14

[2019-06-17 11:43] zeroX-tj commented on #52
We also have the issue that we would like a second node pool for jobs. So when there is no work the pool should be scaled down to 0. We used it like this on GCP.

I understand that this can't be allowed for clusters with only 1 nodepool. But this essential for the setup I have. Using ACI is also not an option since these machines are limited in memory.

[2019-06-17 12:02] cwebbtw commented on #1054
I wasn't aware that the pod needed to be deployed to the `kube-system` namespace as well as the right role permissions to authorize against the Kubelet API. Can you confirm this is the case?

[2019-06-17 14:06] kkopuru commented on #1048
Thanks for the confirmation.

Can we use docker compose with AKS? There is way to pass credential spec with Docker Compose, we already tested this Swarm.

[2019-06-17 14:49] jnoller commented on #1048
Closing as invalid, AKS and AKS-Engine while sharing underlying components do not expose the same functionality. Additionally, Alpha/Beta features within Kubernetes are not supported on AKS until such time as they are GA.

[2019-06-17 14:49] #1048 closed

[2019-06-17 16:36] joshua-alday commented on #1051
I get similar issues with jboss/wildfly and maven builds in certain situations.

[2019-06-17 17:55] xizhamsft commented on #1037
@hiroshi1000, sorry for this. Just noticed that you have an extra No-Break space in your node-vm-size parameter.

From your logs, note the bolded \xa0:
Command arguments: ['aks', 'nodepool', 'add', '--resource-group', '', '--cluster-name', '', '--os-type', 'Windows', '--name', '*******', '--node-vm-size**\xa0**Standard_B4ms', '--node-count', '1', '--kubernetes-version', '1.14.0', '--debug']

That

[2019-06-17 18:22] Senai-T commented on #1054
typically, that would be the case but at this point it's conjecture as I have never setup Splunk on K8s and i can't in good faith recommend you deploy something to the kube-system namespace without seen your entire infrastructure and running through scenarios. The link in your post recommends using a helm chart to deploy, helm has the necessary permissions to automate all of the process and permis

[2019-06-17 18:24] poochwashere commented on #883
I have the same question. Did you receive a response?

[2019-06-17 18:34] tomkerkhove commented on #883
FYI @keikhara, this might interest you.

[2019-06-17 20:28] keikhara commented on #883
@tomkerkhove  thanks. :D Let me also add that info as our guideline on what would be good with Prometheus with CI vs what is not and what is OOB + what is free.

[2019-06-17 20:31] joshua-alday commented on #1051
I just want to confirm that I'm seeing this problem as well with more details.

**What happened:**
When using kubernetes 1.14, executing JVM based applications will randomly result in OOM: Unable to create native thread. Running maven builds will sometimes run fine, but running wildfly will always result in this issue. Monitoring the applications, there seems to be no major uptick in memory consum

[2019-06-17 21:50] jnoller opened #1060 "Multiple Availability Zone Support (Multi-AZ)"
Multi-AZ support within AKS tracking issue, in plan for 2019 delivery.

This feature enables a create-time cluster property to choose 1-3 zones for a cluster to be deployed into. The region chosen must support AKS and zones. The feature when turned on offers increased availability of the control plane and worker nodes within AKS. New nodes created will be best effort balanced across zones.

[2019-06-17 22:26] #1010 closed

[2019-06-17 22:30] jnoller opened #1061 "Support for setting taints per node pool that persist through scale up/down"
AKS recently added support for taints and tolerations. Taints are preserved/copied/applied through all operations (eg upgrade) except for scale up/down operations. This is a tracking issue for the in-progress work.

[2019-06-17 22:30] jnoller commented on #971
This work is completed, follow on bug: https://github.com/Azure/AKS/issues/1061

[2019-06-17 22:30] #971 closed

[2019-06-17 22:48] cwebbtw commented on #1054
Let's not focus on splunk but moreover the issue that with a pod signed a service account with a role binding mapping a `system:kubelet-api-admin` role, a call to the kubelet API on port 10250 returns 401. Has this method of authorisation been disabled? The port used to be fairly vulnerable to misuse but I can't locate any documentation around this on AKS. The mention of the splunk utility is an e

[2019-06-18 00:09] ubercow commented on #1052
@jnoller Thanks for your reply. Glad to see the team is aware and has plans to remedy it.

I'll follow along at #643

[2019-06-18 01:15] alanjcastonguay commented on #1054
The Datadog agent running in DaemonSet pods also touches the kubelet of the AKS node it's running on; maybe this RBAC model is appropriate for Splunk too?

https://github.com/DataDog/datadog-agent/blob/master/Dockerfiles/manifests/cluster-agent/rbac/rbac-agent.yaml

[2019-06-18 07:16] Azadehkhojandi commented on #725
[code]
I'm getting same error - I have ran `helm repo update` but no luck!

[code]

[2019-06-18 07:47] mohdumaira commented on #950
@adhodgson1 : Can you please share the ARM template and param file you are using. I am facing similar issue. Version seems to be correct as per document https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-02-01/managedclusters

[2019-06-18 09:34] neumanndaniel commented on #1046
Can you follow this blog post?
https://medium.com/@denniszielke/setting-up-azure-firewall-for-analysing-outgoing-traffic-in-aks-55759d188039

[2019-06-18 10:42] cwebbtw commented on #1054
I will look at whether the datadog agent is communicating on port 10250 on AKS and get back to you.

[2019-06-18 14:40] fvztdk commented on #68
If you have 2FA enabled this should give you plenty of time to input it. The type of jerry rig that you need to come to make something working on Azure impress me everyday
[code]

[2019-06-18 17:06] boarder981 opened #1062 "Support for custom log options"
**What happened**:

Noticed container logs were getting large on my AKS cluster.  Viewed `/etc/docker/daemon.json` on one of the nodes.  It looks like the defaults are:

[code]

**What you expected to happen**:

I would like the ability to set custom log options during `aks create...` and/or a separate CLI command that would do the same.  If this is currently possible, please let me know.

**How t

[2019-06-18 17:17] bitsofinfo commented on #1062
would like this as well

[2019-06-18 18:00] levilugato commented on #1013
Hello, second time that this happens to me ? i couldn't recreate de hole cluster, I want a solution

[]s

[2019-06-18 18:58] tarioch opened #1063 "coredns crashloop - an error on the server ("") has prevented the request from succeeding"
**What happened**:
coredns, kubernetes-dashboard and metrics-server are in constant crash loops looks like the api they are calling returns an empty response.

[code]

It looks like any pod that tries to access the api server fails. E.g. if I try to run kubectl version in a pod if fails as well with the same error. Running kubectl -v=8 version shows that it got back an empty response from the api

[2019-06-18 19:21] tarioch commented on #1063
Looks like we're hitting the same issue as #1046

[2019-06-18 19:21] #1063 closed

[2019-06-18 21:57] kim0 commented on #984
@jnoller .. To be clear, is there absolutely no way today to un-register those preview features ? That would be a bummer!

[2019-06-18 22:09] kim0 commented on #667
I just hit this, and `single-request-reopen` does seem to make it go away! This is on a recent fresh `1.13.5` aks cluster. Not sure why the DNS server gives the wrong answer to begin with. Is this a coredns issue ?
Thanks @juan-lee for the work-around 👍

[2019-06-18 23:12] sujitdmello commented on #688
Any update on this? Is it still on the roadmap?

[2019-06-18 23:54] poochwashere commented on #646
+2 Same issue with a 3 node cluster...

I tried deleting/recreating the pods in `kube-system` and that did nothing. I also rebooted the node that was hosting `tunnelfront` and same same.

I deployed a brand new cluster from scratch and I do not get the dialup error on those pods.

*shrugs*

I opened a ticket with support several hours ago but have yet to receive a response.

[2019-06-19 02:34] kim0 commented on #972
@xizhamsft .. Thanks just updated and see `az aks nodepool` has the needed options. Will a cluster created today, with multiple nodepools, and cluster-autoscaler, be upgradeable into a supported cluster once those features GA ? Thanks!

[2019-06-19 07:31] m2000ank opened #1064 "Patch for CVE-2019-11477"
Regarding the recently discovered [CVE-2019-11477](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11477), I have problems finding information on patch status for AKS. According to the [FAQ](https://docs.microsoft.com/en-us/azure/aks/faq#are-security-updates-applied-to-aks-agent-nodes), patches are automatically applied, but we have to restart nodes ourselves. Have relevant patches been ap

[2019-06-19 11:42] kim0 commented on #667
Hi @weinong .. I deployed a cluster a few days back, and still hitting this. So I think it's still not fixed. Is there any update when a fix is expected to land.
Also taking a chance and pinging @jnoller

[2019-06-19 13:10] relferreira commented on #1040
Hello @jnoller, any news about this issue?

[2019-06-19 14:03] jnoller commented on #102
PLEG Unhealthy is a known defect in Kubernetes upstream with patches looking like they will land in k8s 1.16:
https://github.com/kubernetes/kubernetes/issues/45419
https://github.com/kubernetes/kubernetes/issues/61117

[2019-06-19 15:16] alanjcastonguay commented on #1064
Patches are regular Ubuntu DEB packages. Installation of those may (and for the kernel, will) require a reboot to take effect, and so apt creates the file `/var/run/reboot-required`. You can poll this file and pick a good time to rolling-reboot each node. Or use kured: https://docs.microsoft.com/en-us/azure/aks/node-updates-kured

To determine what kernel package will be installed soon, you could

[2019-06-19 15:19] jnoller commented on #1040
@relferreira Virtual Nodes/VK/ACI are outside of my scope, we're waiting on followup from @srrengar and @mostafaez

[2019-06-19 15:35] jnoller commented on #984
Correct

[2019-06-19 16:02] srrengar commented on #1040
@relferreira have you opened a support case on this - is it still occurring? this is odd that it would occur with the image in the sample

[2019-06-19 16:47] relferreira commented on #1040
Hello @srrengar, the ticket ID is 119050923001565

[2019-06-19 17:09] jluk commented on #972
Closing this issue as the fix looks good.

@kim0 yes, if your cluster is only utilizing GA features then it will be a supported cluster. Please reference this document for full details: https://docs.microsoft.com/en-us/azure/aks/support-policies

[2019-06-19 17:09] #972 closed

[2019-06-19 17:13] jluk commented on #688
Ack, still on roadmap but we're prioritizing features such as SLB support and GA quality for VMSS clusters, multiple node pools, cluster autoscaler.

[2019-06-19 22:30] jnoller opened #1065 "AKS Guidance for CVEs 2019-11477, 2019-11478, 2019-11479 (SACK)"
Note: _This issue will be updated as new information is available_

On Monday June 17th security researchers announced 3 critical security issues impacting the Linux kernel. These are:

* CVE-2019-11477: SACK Panic
* CVE-2019-11478: SACK Slowness
* CVE-2019-11479: Excess Resource Consumption Due to Low MSS Values

These CVEs have been patched by all major linux vendors. This means your clusters mu

[2019-06-19 22:46] jnoller commented on #1064
Sorry for the delay all; please see issue #1065 which has our current guidance.

[2019-06-19 22:46] #1064 closed

[2019-06-19 23:58] jluk commented on #1061
@jnoller isn't only taints in scope since tolerations are a pod property?

Taints to persist on scale out via node pool should be good though via the June API: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-06-01/managedClusters.json#L1418

Understandable if we want to wait until CLI support lands bef

[2019-06-20 00:00] jluk commented on #1050
Node pools have a minimum size of 1 within AKS today during preview. We plan to support size zero node pools but this requires additional work - FYI @xizhamsft

[2019-06-20 00:00] jnoller commented on #1061
@jluk removed tolerations (c/p error from the parent) - will wait until CLI landing to close.

[2019-06-20 14:59] BoSoeborgPetersen commented on #1050
Then why is it possible to scale to 0 nodes using the portal (on the AKS resource)?

[2019-06-20 17:28] jluk commented on #1050
@BoSoeborgPetersen can you explain the steps you're using to do that via portal? You can scale to 0 from the VMSS clients, but that isn't supported given it's IaaS held outside of AKS as @ams0 mentioned.

From AKS portal you have a min required size of 1 node for node pools. If you only have one node pool you need at least one node.

![image](https://user-images.githubusercontent.com/3340350/59866

[2019-06-20 19:53] chaitanyaphalak opened #1066 "AKS trusted certificates"
**What happened**:
AKS uses self signed certificates for kubelet api

**What you expected to happen**:
AKS uses trusted certificates for kubelet api

**How to reproduce it (as minimally and precisely as possible)**:
I have a http microservice which get metrics from kubelet api endpoints. Tried connecting to the rest api securely, which is not possible with self signed certs.

**Anything else we ne

[2019-06-20 22:02] masonhuemmer commented on #984
Would unregistering the Container Services Provider and re-registering provide a workaround to this issue?

[2019-06-21 10:55] mjhilton commented on #1029
Have been seeing the same deploying images based off windows/servercore:ltsc2019, especially when deploying multiple pods simultaneously or in rapid succession.

30-60% of the pods deployed in bulk operations (eg Deployment with many replicas, or many Deployments with a single replica each) seem to end up with an irreparable failure on DNS resolution. The pod needs to be torn down and redeployed f

[2019-06-21 12:56] artisticcheese commented on #1029
@mjhilton do you mean workaround above does not work for you? Or you mean your DNS works without any workarounds unless you deploy fast?

[2019-06-21 18:23] ifle opened #1067 "Why 2 nodes has different memory limit?"
I have cluster with 2 nodes D2 V3 - 8GB memory
Why the one node has 2.133 Gb memory limit and second 550 Mb?

![image](https://user-images.githubusercontent.com/1140474/59943321-9e03bc80-946a-11e9-8150-fdb1862440b7.png)

[2019-06-21 18:48] bhicks329 commented on #1067
I believe that will be the total of the limit ranges set on the pods running on the nodes.

https://kubernetes.io/docs/concepts/policy/limit-range/

[2019-06-21 21:07] jnoller opened #1068 "Intermittent / Random node communication issue - iptables conflicts"
AKS Engineering has identified an bug that can cause networking issues with customer cluster that are running the `kube-svc-redirect` deployment and two (2) or more of the following:

* Azure network policy enabled clusters
* Calico CNI enabled clusters
* Azure Active Directory Pod Identity

Specifically, if customers are running `kube-svc-redirect` and one or more pods that attempt to update ipta

[2019-06-22 10:40] ifle commented on #1067
Thanks for your answer.
It's not clear for me, where is defined resource limit for node? I have reource limit for pod

I have :

- 2 nodes, each node is  D2-V3 8 GB Ram
- 1 Pod with 2 replicas.

I defined memory limit for my container
[code]
I expect that limits of nodes should be identical.
I see that my pods runs on first node and memory limit is 161%
![image](https://user-images.githubuserconte

[2019-06-22 20:34] bhicks329 commented on #1067
There are more pods than the ones you scheduled. The total limits set for the pods running on the first node are just higher than the available node memory.

If you execute a “kubectl get pods —all-namespaces” you will see all the pods running. From there you can describe the pods and see their requested resources.

[2019-06-23 22:25] chaitanyaphalak commented on #1066
@jnoller Can you let us know if its possible, the AKS docs does not indicate the usage of trusted certificates.

[2019-06-24 01:09] mjhilton commented on #1029
I meant the [above workaround ](https://github.com/Azure/AKS/issues/1029#issuecomment-500801909) didn't work for me. Will give it another go today to confirm I didn't do anything silly.

[2019-06-24 01:11] artisticcheese commented on #1029
It worked for me 100% of the time. I did not deploy hundreds of pods but about 10 may be and it was working fine.

[2019-06-24 03:12] mjhilton commented on #1029
Sorry @artisticcheese, I was wrong. The workaround does work.

Take [my comment above ](https://github.com/Azure/AKS/issues/1029#issuecomment-504384707) to be a big +1 to needing to find a fix on the root cause :)

[2019-06-24 05:43] LennartHaggkvistHM commented on #1053
@jnoller - what do you mean with "later AKS versions"? Was it fixed but not released to all AKS deployments/clusters or does it actually matter which version of AKS and/or Azure AKS "backend" that is used?

Which version was it fixed in?

[2019-06-24 13:13] turowicz commented on #224
@SychevIgor @jnoller  same here

[2019-06-24 14:16] neumanndaniel commented on #984
Afaik not.

[2019-06-24 17:26] vpopescu opened #1069 "Resetting credentials puts cluster in failed mode"
**What happened**:
I am trying to set up a script to update a cluster with SP credentials that may have changed. When I run "az aks update-credentials" I get:

[code]
and the cluster is in failed mode.

**What you expected to happen**:
The cluster should be updated with the new credentials.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a service principal
2. Create a

[2019-06-25 08:04] WebSpider commented on #786
Just confirming this seems to work again using az version 2.0.67

Command output:

[code]

[2019-06-25 08:30] dbourcet opened #1071 "Unable to use existing Load Balancer"
**What happened**:

I created a AKS cluster with Terraform. I want the cluster to have a LoadBalancer and a static public IP, and I want those to be pre-existing to my Ingress Controller / LoadBalancer Service definitions, as I don't want them to be created/deleted dynamically by Kubernetes manifests.

So I also created with Terraform a LoadBalancer and a static public IP, in the node resource gro

[2019-06-25 09:45] victornoel opened #1072 "az aks install-cli installs a kubectl version inappropriate for the AKS server version"
**What happened**:

[code]

**What you expected to happen**:

That `kubectl describe ingresses.extensions` shows me the ingresses description.

**How to reproduce it (as minimally and precisely as possible)**:

See above.

**Anything else we need to know?**:

- It is an AKS cluster created on June, 20.
- I enabled node pools, monitoring, virtual node and AD integration
- I ran the commands while b

[2019-06-25 13:12] fredgate commented on #725
I have same problem as @badalk with a script executing same commands.
It fails the first time with same message, but succeeds the second time. I feel like it's because the pods of the chart `svc-cat/catalog` are not completly up and ready. However this chart is intsalled with th eoption `--wait``

[2019-06-25 15:16] victornoel commented on #1072
For the record, as someone on Slack recommended, here is the version of kubectl I'm using:
[code]

kubectl was installed with `az aks install-cli`, I am expecting it to install something correct…

[2019-06-25 15:34] amandadebler opened #1073 "Unable to get pod logs on clusters created after mid-June 2019"
**What happened**: kubectl logs fails with this error:

Error from server: Get https://aks-nodepool1-20679802-1:10250/containerLogs/kube-system/tunnelfront-df74775c4-nnqsp/tunnel-front: dial tcp 10.115.71.35:10250: i/o timeout

**What you expected to happen**: kubectl logs pulls the logs from the pod requested

**How to reproduce it (as minimally and precisely as possible)**:
Create new cluster in

[2019-06-25 15:49] rudolphjacksonm opened #1074 "Create AKS Cluster with Dashboard Disabled by default"
Hello,

I'd like to propose a new feature for AKS. Currently whenever a cluster is created (either via the Portal, CLI, or Terraform) the dashboard is always enabled. It would be preferable to disable the dashboard via a flag in the CLI. This could then be replicated by the good folks working on the azurerm provider. Something like this would be ideal:

[code]
This matches some of the existing fla

[2019-06-25 15:59] jnoller commented on #1038
@MikkelHegn ^

[2019-06-25 16:00] jnoller commented on #1049
@sauryadas ^ private cluster req

[2019-06-25 16:01] #788 closed

[2019-06-25 16:01] jnoller commented on #1055
@feiskyer ^

[2019-06-25 16:03] jnoller commented on #1066
Providing validly signed (CA) root certificates/etc for the kubernetes API server/etc is not currently on the roadmap.

[2019-06-25 16:04] jnoller commented on #1069
Hotfix for this issue is being prepared for all regions.

[2019-06-25 16:05] jnoller commented on #1073
First, thank you for reaching out to the AKS team.

AKS Github issues must be generally re-creatable (e.g here is the YAML/settings/packages/etc installed, can recreate the issue on existing clusters as well as newly created clusters). Unfortunately, this issue is cluster-specific due to the custom VNet/UDR configuration, the error you shared is a generic error when trying to route traffic to the

[2019-06-25 16:05] #1073 closed

[2019-06-25 16:26] MikkelHegn commented on #1038
The sample is wrong, in that memory suffixes should be stated using upper cases: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-memory.

Opened a doc issue to fix this: https://github.com/MicrosoftDocs/azure-docs/issues/33953

The fact that it works on Windows - well - Windows is not case aware, so... :-) I really have no opinion as to whether this

[2019-06-25 16:43] spboyer commented on #1038
@MikkelHegn - we should fix this in AKS for sure. @PatrickLang has some ideas how to catch/fix.

[2019-06-25 16:56] MicahMcKittrick-MSFT commented on #1038
PR was submitted on the doc

https://github.com/MicrosoftDocs/azure-docs/issues/33953

[2019-06-25 20:54] jluk commented on #643
SLB support has landed in public preview. Documentation is below, please review limitations to see if your scenarios are covered currently. We'll be making more improvements through preview.

aka.ms/aks/slb

[2019-06-25 21:08] inuvano-labs commented on #986
I can confirm that this was the same issue for us too - specifying the resource Id of the subnet was the problem.

[2019-06-25 21:08] #986 closed

[2019-06-25 22:58] ridhoq commented on #1009
+1. This is documented in this blog post: https://www.jbmurphy.com/2019/03/13/aks-you-update-credentials-and-cant-pull-from-your-acr/

[2019-06-25 23:53] feiskyer commented on #1055
@antoinne85 The cluster autoscaler is managed by AKS, hence you won't see any pods running on your nodes. May I ask what parameters are you trying to tune?

[2019-06-26 00:35] antoinne85 commented on #1055
@feiskyer Thanks for getting back to me! To be completely honest, I'm not 100% super which parameters, _in particular_, I'd be looking to tune, but I can describe to you the situation that made me start looking into what my _options_ are.

### TL;DR Version
I don't know _what_ parameters I need/want to tune. What I _do_ know is that I pushed a Deployment onto the cluster that would have required s

[2019-06-26 00:44] antoinne85 commented on #1055
I should probably add, since I didn't _really_ answer your question--

If I were to _guess_ at the specific parameters that I think I would find useful, they'd be:
* Some way to overprovision (e.g. the equivalent of 2 nodes worth of resources must be free on the cluster at all times)
* Some way to control the minimum time between scaling actions (probably different values for up/down)
* Have it sc

[2019-06-26 03:53] alanjcastonguay commented on #643
Is this preview covering Standard Load Balancer for Service objects or API-Server or both? https://aka.ms/aks/slb implies only the former while #1052 was about the latter.

[2019-06-26 08:14] Mandur commented on #293
Hello,
we are facing a similar issue, is there a solution to exclude pods from log gathering now?

[2019-06-26 14:43] feiskyer commented on #1055
For overprovisioning, please refer the detailed guide on CA [FAQ](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler).

For the various options (e.g. intervals), AKS has set default values for them and they're not exposed for customers. cc @jluk for evaluating whether they could be exposed.

[2019-06-26 15:52] vishiy commented on #293
This has just started to be rolled out this week. I see the roll-out complete in AUS as of 8:00 AM PST 6/26/2019. All other Azure regions will be rolled out by the end of the week/beginning of next week.
The agent version that has this feature is ciprod06142019.

You can find the documentation here : https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config

[2019-06-26 16:01] jluk commented on #1055
Agree with @feiskyer we can look into exposing additional flags, have heard this from other folks as well. Let us take a look while we work on improving CA on AKS to GA quality.

[2019-06-26 16:36] amandadebler commented on #1044
The change to requiring additional ports for Tunnelfront should have been announced in the AKS Changelog. Having only newer clusters appear to be created without problems, but then to have i/o issues turn up once developers tried using them, and previously deployed clusters continue working without problems made this particularly difficult to trace - the Azure app platform team at my company does

[2019-06-26 18:04] Senai-T commented on #1071
here is a really good doc to setting up an [LB in AKS](https://docs.microsoft.com/en-us/azure/aks/static-ip) but at the risk of sounding insulting, why in the world is the load balancer static IP googles' DNS service!????

[2019-06-27 04:44] chaitanyaphalak commented on #1066
Thanks

[2019-06-27 04:44] #1066 closed

[2019-06-27 06:15] amandadebler commented on #1049
We have the same requirement, as our firewall is also IP and not FQDN-based. As in likely many large corporate IT departments, my team had absolutely no control over that choice.

A Microsoft-managed Service Endpoint for the AKS masters would be absolutely ideal - those are working well for us for other Azure services (Cosmos DB, Key Vault, SQL..)

[2019-06-27 06:30] dbourcet commented on #1071
Thanks for the answer but it is not relevant to the issue, as I am seeking a way to have the LoadBalancer not created under the hood by the Service but having the Service using a pre-created LB.
For Google DNS: I changed the real IP by a dummy one for the sake of the example, of course this IP is not given by Azure!

[2019-06-27 07:31] deepaksood619 opened #1075 "Allow users to mutate default storage class"
**What happened**:
1. `kubectl edit sc/default`
2. Changed `reclaimPolicy: Delete` to `ReclaimPolicy: Retain`
3. Saving using `:wq` gives error `error: storageclasses.storage.k8s.io "default" is invalid` and reopens the edit mode.
4. Have to cancel the edit using `:q`
5. `kubectl describe sc/default` shows old configuration

**What you expected to happen**:
Change the reclaimPolicy to Retain, and

[2019-06-27 11:19] johan-dupreez opened #1076 "AKS with custom CNI and windows nodes"
**What happened**:
When I submit the below cli I get the following error.
"The request did not have a subscription or a valid tenant level resource provider."
This happen in both West Europe or South Africa North locations.

az aks create \
    --resource-group K8SE-DevSA-RG-02 \
    --name AksCluster \
    --dns-name-prefix K8S-Dom \
    --location southafricanorth \
    --admin-username Aks-User

[2019-06-27 11:22] local-master commented on #1050
@jluk This is scaling through "Kubernetes service" in Azure Portal. We are talking about Scaling one nodepool from the VMSS ( Virtual machine scale sets ) It is possible to scale pool to 0 nodes over the Azure Portal.

[2019-06-27 11:27] antoinne85 commented on #1055
@jluk Thanks!

Do I need to submit something on UserVoice for the purposes of tracking any development or communication around this topic? I guess, basically what I'm asking, is that I'd prefer not to annoy you every 3 weeks or so with "any update?" and instead just have a clear understanding of how I should expect further communication to arrive. And if you've said nothing I'll assume there's not

[2019-06-27 12:00] johan-dupreez commented on #1076
Additionally I worked from this article:
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni
then I get the same error:
The request did not have a subscription or a valid tenant level resource provider.

Command as per article
az aks create
--resource-group K8SE-DevSA-RG-02
--name AksCluster
--network-plugin azure
--vnet-subnet-id “/subscriptions/some SID/resourceGroups/K8SE-DevSA-RG-02

[2019-06-27 15:40] sshakhtour commented on #601
I faced same issue. You need to run this command
kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard

[2019-06-27 16:24] jnoller commented on #1029
@MikkelHegn  @craiglpeters ^

[2019-06-27 16:36] jluk commented on #1055
@antoinne85 this issue should be good! I've assigned myself and a few labels on this, to set expectation I'm hoping to have an update in 4-6 weeks as we're pushing through some existing backlog work but I am onboard with this ask. Feel free to chime back in on this with new related ask / scenario specifics to help us drive it.

[2019-06-27 16:43] jluk commented on #1050
@local-master understood, that screenshot is on the AKS blade which calls the AKS API to scale. To clarify, the only way to scale a VMSS to 0 is via the VMSS blade which calls the VMSS API directly and it is not supported.

As you'll see in the docs it only uses the AKS clients, not the VMSS clients which use a separate API.

Renaming the issue to be more accurate which is something we want to sup

[2019-06-27 17:51] sauryadas commented on #1049
after you create a cluster you can update the network rule to the api server endpoint by getting it through $kubectl get endpoints

[2019-06-27 18:02] PatrickLang commented on #1029
one issue with that workaround - that's setting an external DNS only. If you want to rely on DNS to resolve Kubernetes services, it will fail.

[2019-06-27 18:08] artisticcheese commented on #1029
Workaround is calling to use Azure provided DNS service instead. If image would have worked properly would it point to AKS hosted DNS?

`Set-DnsClientServerAddress -InterfaceIndex (Get-NetAdapter).IfIndex -ServerAddresses ('168.63.129.16')`

[2019-06-27 19:04] brobichaud commented on #1029
It would be great to hear from the AKS team as to where they think this problem resides. Is this a Windows v1809 issue, a K8s networking stack issue, an AKS-Engine issues, an AKS service issue?

That is if the problem is understood?

[2019-06-27 22:53] seanmck commented on #1067
Yes, there are a number of system pods that run in the kube-system namespace. If you do:

[code]

You'll see all the system pods and which node they're running on. If you were to describe each of those pods and look at their container limits, it should add up to the number you're seeing in the dashboard.

Note that a container's _limit_ refers to the maximum amount of the resource that it can use,

[2019-06-27 22:53] #1067 closed

[2019-06-28 02:18] ahsan3216 commented on #3
Hi - I believe there is no way to provide node-resource-group in ansible `azure_rm_aks` module as well. It is failing when there is resource policy defined to add mandatory tags. Any workarounds?

[2019-06-28 03:10] neerajkrshukla commented on #1049
@sauryadas - this can be updated later on with correct IP but I raised a support request for this and support engineer confirmed that the IP assigned is not persistent and may change in updates.this can be problem when we wish to use it for production and also in cases when we are creating clusters first time with firewall already enforced.

Also we are opening port 443 for all communications (whe

[2019-06-28 03:29] sauryadas commented on #1049
it is possible that the api server ip might change. i forgot to mention that.
when we try restricting to only FQDNs published in documentation, metrics server and dashboard pods were failing <- do you have a support case on this?

[2019-06-28 13:30] alexlvovich opened #1078 "Pods stdout/stderr logs are not sent to Event Hub"
I'm setting up cluster logging solution: I have a cluster with omsagent enabled and Diagnostic Settings sending logs to:
- Log Analytics
- Event hub

I'm sending log entries to standard output from the app running in the cluster. I can see the entries in Log Analytics however not in Event Hub. I expect to have same volume of logging on both targets.

What do I miss?

**Environment**:
- Kubernetes

[2019-06-28 19:33] patrickmslatteryvt commented on #1073
We encountered this as well.
The root cause is that TCP port 22 is being swapped out for TCP port 9000 without being properly communicated to users.
See: https://github.com/MicrosoftDocs/azure-docs/commit/543f1bc8e365d7dfbc6b7b845d93e4ddbb28b079#diff-b6f22987cfa00b6b3e2fc647db3b75f7

[2019-06-30 13:08] tapanhalani commented on #667
Hi people. Is this issue fixed with kubernetes 1.13.5? I wanted to upgrade my AKS cluster to the said version, but I am using multiple deployments with alpine-based images.

[2019-06-30 17:25] flamingboo opened #1079 "Support enable/disable of Azure Policy on AKS via ARM template"
I see Azure Policy is available in preview:
https://docs.microsoft.com/en-us/azure/governance/policy/concepts/rego-for-aks

However, the only option to enable to it is through Azure CLI (as per above link) using addon.

Is there a way to implement this via ARM template ... like oms agent or http application routing addson:

addonProfiles": {
       "omsagent": {
          "enabled": "[parameters('

[2019-07-01 15:32] MiyKh opened #1080 "Unable to tag Resource Group AKS via Python API call"
I have an existing AKS cluster and working on tag standardization across AZURE ressources.
I noticed that the RG MC_* which is automatically created by AKS Service doesn't have the tags passed to the "parent" RG, so, I would like to tag the RG MC_* throught Python API.
I have the error below for all MC resource group created by AKS:
[code]
Here is a similar issue, but the ticket has been closed: #

[2019-07-01 15:39] przemolb commented on #1065
Then how to apply all the updates to AKS clusters deployed with VMSS ?

[2019-07-01 15:41] zuehlke-dea opened #1081 "Validity of kubectl client certificate"
I have some questions regarding the validity of the client certificates received by the az aks get-credentials command. We saw that we do not need to renew them for a while and so I checked the validity of the certificate with openssl:

Validity
            Not Before: May  3 00:15:52 2019 GMT
            Not After : May  2 00:15:52 2021 GMT

This looks like this certificate is valid for 2 years.

[2019-07-01 15:53] Farzad-Jalali opened #1082 "Windows Authentication in AKS with or without gMSA ?"
Hi,

I'm using the latest version of AKS and I need to communicate with some of my resource e.g. Microsoft dynamic web services in my network.

unfortunately, some of my other resources's security model are based on the active directory user.

is there any (working) feature that can help me in AKS?

[2019-07-01 16:22] ferantivero commented on #1073
@jnoller same here. This is what I've done to workaround this https://github.com/Azure/AKS/issues/642#issuecomment-424245323

[2019-07-01 16:39] jluk commented on #1080
This is a roadmap item which should be shipped in the next 1-2 weeks. Closing this for now as it is a known feature gap to not propagate the tags to the MC_* resource group. Note this fix coming up only replicates the tags to the AKS managed resource group. Please ref the AKS roadmap/release notes for latest changes.

[2019-07-01 16:39] #1080 closed

[2019-07-01 16:42] jluk commented on #1076
@johan-dupreez could you verify you have the Microsoft.ContainerService namespace registered on the subscription being used?

This document explains how to query and register if it is missing:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-supported-services#azure-cli

[2019-07-01 17:30] patrickmslatteryvt commented on #1073
The AKS support engineer that we worked with looked at tunnelfront very early on but ultimately rejected that as being the issue, in our case we had an egress firewall (as any sane network has) and while it had been told about port 22 it was never told about port port 9000 (since it wasn't documented for non-preview usages)

[2019-07-01 18:58] gun1x commented on #1072
I see the same issue on AWS:
[code]

[2019-07-01 23:54] RenaShahMSFT commented on #804
We are targeting this in ~Q3 CY 2019

[2019-07-02 02:28] alanjcastonguay commented on #1081
See #397.

[2019-07-02 06:16] victornoel commented on #1072
I have updated the title to better reflect the problem.

A workaround is to explicit the version number when calling `az aks install-cli` but I don't consider that a solution because the whole point (at least for me) of using `az aks install-cli` is to get a binary coherent with AKS.

[2019-07-02 06:47] johan-dupreez commented on #1076
That is correct. I did register the feature

az provider show -n Microsoft.ContainerService
{
  "authorization": {
    "applicationId": "some app ID",
    "managedByAuthorization": {
      "allowManagedByInheritance": true
    },
    "managedByRoleDefinitionId": "Some role ID",
    "roleDefinitionId": "some Role def ID"
  },
  "id": "/subscriptions/Some subscription ID/providers/Microsoft.Containe

[2019-07-02 06:47] zhichuanxun opened #1083 "Can an application be deployed through ARM template?"
**What happened**:

Well, I got a question that whether the application can be deployed through ARM template.

**What you expected to happen**:

 I know there is a "custom script" extension in VM resource that can help to implement an automatic deployment. I wonder if there exists some interface or some trick approaches in AKS(managedClusters) to achieve the function like "kubectl apply -f some.ya

[2019-07-02 06:49] ams0 commented on #1083
You can use Terraform kubernetes or helm provider to apply a configuration right after cluster deployment, or have a look at Bedrock: https://github.com/Microsoft/bedrock/

[2019-07-02 07:54] zuehlke-dea commented on #397
Hi, is there any way to reset the clusterAdmin credentials? Currently the sent certificates are valid for 2 years and we have people left the company with theoretically still access with this certificate. When I get this right only with clusterUser a AAD check is done, so when having the clsuterAdmin credentials you can access the clusters even you AAD account is locked.

[2019-07-02 07:57] zuehlke-dea commented on #1081
Thank you. The first link was already helpful, but I still have the problem that I could not revoke the clusterAdmin certificates. I tried to use "resetADDprofile" but this does not change the credentials.

[2019-07-02 08:00] zuehlke-dea commented on #1081
But it seems I found the "solution" https://github.com/Azure/AKS/issues/756

[2019-07-02 08:00] zhichuanxun commented on #1083
Thanks a lot for your kindly suggestions. However, I would like to know if there is a way to integrate the applying script like "helm install" into the ARM template. So we can publish the arm file into Azure Marketplace which contains not only Azure's resources in IaaS filed but a kubernetes cluster as well

[2019-07-02 08:01] zuehlke-dea commented on #756
It is possible to reset the credentials with a support ticket? We have the problem that people left the company having the admin credentials. Theoretically they still have access to production environments. We were not aware that the certificates are valid for such a long period.

[2019-07-02 08:33] bramvdklinkenberg opened #1084 "Ingress controller: Error creating loadbalancer with Public IP Prefix"
**What happened**: I tried deploying the nginx ingress controller helm chart with a specific public ip but the loadbalancer doesn't get provisioned.
The public ip I created is via the Public IP Prefix service, so not the via the Public IP service.

See attachment for error:
[error.txt](https://github.com/Azure/AKS/files/3349074/error.txt)

So it sees the IP but cannot create the LB. Is that becaus

[2019-07-02 08:38] bramvdklinkenberg commented on #1084
It works fine when I provision a public ip directly (so not via public ip prefix).

[2019-07-02 13:29] jimbeauh opened #1085 "Bad Request'. Details: Changing property 'servicePrincipalProfile.clientId"
I'm following the AKS tutorial and cannot create an AKS cluster. I keep getting the following error message:

Bad Request'. Details: Changing property 'servicePrincipalProfile.clientId

I've tried the posted solutions I've seen on StackOverflow with no luck.

[2019-07-02 15:01] johan-dupreez commented on #1085
I had a similar problem and then created a new SPID

az ad sp create-for-rbac --skip-assignment.

Rgs

Johan

From: jimbeauh <notifications@github.com>
Reply-To: Azure/AKS <reply@reply.github.com>
Date: Tuesday, 02 July 2019 at 15:30
To: Azure/AKS <AKS@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Azure/AKS] Bad Request'. Details: Changing property 'servicePrincipalP

[2019-07-02 15:18] Aadryn commented on #756
Does this solution will support the behavior of just-in-time (JIT) access available with the component of Azure AD PIM ?

[2019-07-02 15:59] alanjcastonguay commented on #1081
Yeah, this is a straight duplicate of #756 - close it as such?

[2019-07-02 16:07] victornoel commented on #1065
@jnoller I second this question. I think that upgrading the whole cluster just to reboot the nodes is not acceptable.

[2019-07-02 16:08] zuehlke-dea commented on #1081
yes it is ok thank you

[2019-07-02 16:08] #1081 closed

[2019-07-02 19:29] b4rkieMS commented on #959
Hi Jesse, any idea when this will GA? Also, what's the long term implications of managing a set of restrictions?  For example, if a new port/address is added or changed then what is the mechanism to get notified before a cluster potentially fails to update/patch?  Thanks.

[2019-07-03 03:26] georgewen commented on #1082
I am also trying to find out the answer, in the docs regarding aks limitation, it says the worker node has to be joined to the domain however it is not mentioned anywhere if it is possible to domain-join a worker node under AKS...

[2019-07-03 04:01] JohnOnTheWeb commented on #1082
FYI the documentation says that gMSA is not supported for AKS ate this time
and if necessary use ACE.

On Tue, Jul 2, 2019 at 10:26 PM georgewen <notifications@github.com> wrote:

[2019-07-03 04:29] georgewen commented on #1082
thanks John,  can you advise what's ACE? @JohnOnTheWeb

[2019-07-03 08:31] victornoel commented on #1065
For the record, here is the discussion where it is said that kured can't be used with VMSS node pools: https://github.com/MicrosoftDocs/azure-docs/issues/33657

[2019-07-03 11:14] neerajkrshukla commented on #1049
the project for which I was working on this is not completed with solution that we will have Ports 22/9000 and 443 open for all egress traffic so I would leave it to admins/maintainers to choose whether to close this. however for community help I can provide inputs here.

@sauryadas - the support request id is 119061123001789

[2019-07-03 11:36] MikkelHegn commented on #1048
https://docs.microsoft.com/en-us//azure/aks/windows-node-limitations#aks-limitations-for-windows-server-node-pools

The open-source, upstream aks-engine project does currently provide gMSA support if you need to use this feature.

[2019-07-03 11:38] MikkelHegn commented on #1082
ACE (Azure Container Engeine) now AKS-Engine: https://github.com/Azure/aks-engine.

Enables you to easily bootstrap K8 clusters in Azure. gMSAs are not supported in AKS: https://docs.microsoft.com/en-us//azure/aks/windows-node-limitations#aks-limitations-for-windows-server-node-pools

The open-source, upstream aks-engine project does currently provide gMSA support if you need to use this feature.

[2019-07-03 11:38] #1082 closed

[2019-07-03 11:40] immunochomik commented on #1065
@przemolb here is how to do it for an vmss deployment
# to get the new image data. that is if you are using images provides by microsoft-aks, the provider will be probably different in your case.
az vm image list --all -p microsoft-aks -l northeurope

az vmss update \
  --resource-group <resourceGroup> \
  --name <vmssName> \
  --set virtualMachineProfile.storageProfile.imageReference.version=2019

[2019-07-03 11:41] MikkelHegn commented on #1076
I would suggest opening a support case to look further in to this.

[2019-07-03 11:42] #1006 closed

[2019-07-03 11:43] MikkelHegn commented on #1037
Please let us know if this is still an issue

[2019-07-03 11:43] #1037 closed

[2019-07-03 11:50] MikkelHegn commented on #1029
Ref: https://github.com/Azure/aks-windows-private-preview/issues/31 with an update.

There are two scenarios, one will result in dns / networking never coming up, the other in delayed dns configuration (a few seconds). The first can hit if a container reuses an ip address of a previously deployed container, the latter is a design impact.

The first issue is resolved in the update mentioned in the

[2019-07-03 11:54] MikkelHegn commented on #1015
FYI: https://github.com/Azure/AKS/issues/1029

[2019-07-03 11:56] MikkelHegn commented on #1014
Please reach out if readiness probes issue are blocking: mikhegn@microsoft.com - thx...

[2019-07-03 13:14] djsly opened #1087 "--authentication-token-webhook is set to false, which is preventing the prometheus to scrape pod metrics over 10250"
**What happened**:
I deployed the prometheus-operator chart : https://github.com/helm/charts/tree/master/stable/prometheus-operator

**What you expected to happen**:
My kubelet metrics to be scraped. both `/metrics/cadvisor` and `/metrics` on port secure https port `10250`

**How to reproduce it (as minimally and precisely as possible)**:
`helm install stable/prometheus-operator`

**Anything else

[2019-07-03 13:23] vflopes opened #1088 "AKS support for node labels as part of agentPoolProfile to persist labels through upgrade/scale"
**What happened**: Can't put labels on node

**What you expected to happen**: A documentation or guide explaining how to define labels for nodes trough nodepools

**Anything else we need to know?**: I'm using `az aks` commands to manage and deploy AKS clusters.

**Environment**:
- Kubernetes version: 1.12.8
- Size of cluster (how many worker nodes are in the cluster?): From one to any size (we're

[2019-07-03 13:24] Vitorspk commented on #1088
I have the same problem when trying to scale nodes

[2019-07-03 13:25] przemolb commented on #1065
@immunochomik
asking to be sure: does the `az vmss update` command applies to AKS VMSS automatically ?

[2019-07-03 13:26] przemolb commented on #1065
And if it will update all the nodes at once **it is not acceptable** ...

[2019-07-03 13:37] victornoel commented on #1065
yes, the problem is that in the context of AKS, there are some kubernetes specific things that must happen for the reboot of a node to be correct (such as cordoning the node and moving the pods out of the node before restarting it). I'm not sure it is a good idea to directly interact with the VMSS apis…

[2019-07-03 13:38] victornoel commented on #1065
See https://github.com/MicrosoftDocs/azure-docs/issues/33657#issuecomment-506042419 more precisely.

[2019-07-03 13:55] zhiweiv commented on #1029
I can’t open https://github.com/Azure/aks-windows-private-preview/issues/31, could you please text here what is the update in https://github.com/Azure/aks-windows-private-preview/issues/31.

[2019-07-03 14:18] montebhoover commented on #970
I see that this has feature has moved to Public Preview in the roadmap - is there a particular argument to force this to take effect?

In a subscription with aks-preview enabled, I'm running:
[code]

`mc_kub1` is created but it does not have `tag1` (nor do any of its resources).

In particular I am looking for a way to create the node resource group with specific tags in order to comply with my su

[2019-07-03 15:40] MikkelHegn commented on #1029
Sorry - that was a blunder on my side... Here's the text :-)

Initial testing looks to have improved startup issues with DNS. If you still encounter issue after having updated the nodepools, please open a support case, so we can get access to debug the issues.

[2019-07-03 16:20] artisticcheese commented on #1029
How do you update node pools if version of kubernetes did not change?

[2019-07-03 16:37] jluk commented on #1076
@johan-dupreez could you rerun your initial create attempt with "--debug" at the end and share the output? It's possible we are sending a malformed URI as well.

[2019-07-03 17:01] immunochomik commented on #1065
@victornoel  yes but if you do not update VMSS then on scaling events the new nodes will start up with the old image. It is not acceptable as @przemolb put it.  It seems to be possible to set up rolling updates for vmss, but it is not trivial in kubernetes context, as we need to set up application extension for health checks and then somehow provide an http endpoint on every node that will respond

[2019-07-03 17:34] zhiweiv commented on #1029
Create a new pool, drain and delete the existing one, will this work?

[2019-07-03 17:40] artisticcheese commented on #1029
I expected process to be automated per Microsoft docs they do it for you during cluster upgrade

[2019-07-03 19:23] seanmck commented on #1084
Yes, it is likely due to SKU mismatch. Can you try creating a cluster with the standard LB?

https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard

[2019-07-03 19:37] sauryadas commented on #1049
@neerajkrshukla i followed up with the case owner and it looks like opening up port 443 fixed your crashing pods. 443 is required for the node pool to take to the api server end point.

Can i close this issue?

[2019-07-03 23:42] jluk commented on #970
@montebhoover could you try this again? We've recently turned on this ability today, but the scope is only to persist the tags onto the MC_* resource group, not all the child resources.

[2019-07-04 08:44] montebhoover commented on #970
Thanks @jluk!  This works for me when testing on a cluster in CanadaCentral:

[code]

[2019-07-04 09:05] bfraku opened #1089 "Cannot see CPU or memory metrics after upgrade to 1.13.5"
Today I upgraded our cluster from 1.12.8 to 1.13.5. Now the dashboard no longer has any metrics for CPU or memory.

How can I fix this?

[2019-07-04 10:26] archmangler opened #1090 "AKS cluster deployment with AD integration fails with: "VM has reported a failure when processing extension 'cse-agent-2'""
**What happened**:

AKS cluster deployment with AD integration fails with this error:

[code]

- The cluster is in failed state following this.

Deployment command is this:

[code]

- However if the cluster is deployed without AD integration, it succeeds:

[code]

**What you expected to happen**:

AKS cluster should be deployed and in healthy state.

**How to reproduce it (as minimally and precise

[2019-07-04 11:05] archmangler commented on #1090
I've tested this wiht 1.14.0 of AKS kubernetes, this issue seems fixed in that version. 1.12.7 is still an issue though.

[2019-07-04 11:09] neerajkrshukla commented on #1049
Sure Saurya... you can close this and thanks for your valuable insights and quick turnarounds..

[2019-07-04 12:28] yossaa commented on #1065
It shouldn't when you have manual upgrade mode:

Then you have to re-image all your worker nodes and everything is upgraded. Kured won't help in this case, but it's doable with custom scripts and it should work from the VMSS perspective. I'm trying to get an answer for questions:
- will it work from AKS perspective
- how to find *proper* VM for my AKS cluster. az vm image list has no information a

[2019-07-04 13:51] hiroshi1000 commented on #1037
@xizhamsft @MikkelHegn Thank you for the advice! I checked the command line carefully and I found there is the special character in the line. When I edited the line on VS Code for Mac, it might have been mingled.

[2019-07-04 14:13] rudolphjacksonm commented on #786
@WebSpider @jnoller can confirm this is working just fine now in `2.0.67` 👍

[2019-07-05 01:34] bfraku commented on #1089
Here are the logs from metrics server:

[code]

[2019-07-05 04:38] bfraku commented on #1089
Here are the logs from kubernetes-dashboard:
[code]

[2019-07-05 05:05] johan-dupreez commented on #1076
I cannot recreate the command as something must have changed. I get the following output after running the command:

"The request did not have a subscription or a valid tenant level resource provider"

[2019-07-05 05:50] bfraku commented on #1089
I resolved the issue by installing heapster to the kube-system namespace:
`helm install --name heapster stable/heapster --namespace kube-system`

AKS is still running kubernetes dashboard v1.10.1, and metrics server support is coming in [the next major version (v2)](https://github.com/kubernetes/dashboard/releases/tag/v2.0.0-beta1).

[2019-07-05 05:50] #1089 closed

[2019-07-05 07:48] johan-dupreez commented on #1076
What I can confirm are as follow:
When I execute the command below the cluster create and everything seem fine

az aks create
--resource-group AKS-WEU-RG
--name AksCluster
--network-plugin kubenet
--vnet-subnet-id "/subscriptions/removed/resourceGroups/AKS-WEU-RG/providers/Microsoft.Network/virtualNetworks/K8S-QA-WEUVnet/subnets/10.240.8-subnet"
--pod-cidr 10.240.0.0/21
--docker-bridge-address 172

[2019-07-05 07:59] MikkelHegn commented on #1076
This seems to be the combination of Windows auth (setting your cluster up for Windows) and using kubenet, which is not supported. If you switch to Azure-cni, it should work.

Bullet two here: https://docs.microsoft.com/en-us//azure/aks/windows-node-limitations#aks-limitations-for-windows-server-node-pools

[2019-07-05 08:09] johan-dupreez commented on #1076
One would think that and I have tried with the outcome is always the same:

az aks create

--resource-group AKS-WEU-RG
--name AksCluster
--node-count 1
--enable-addons monitoring
--windows-admin-username Win_Us3r
--windows-admin-password SomePassword!
--network-plugin Azure-cni
--enable-vmss
--vnet-subnet-id "/subscriptions/c6af1ccb-removed/resourceGroups/AKS-WEU-RG/providers/Microsoft.Network/vir

[2019-07-05 08:23] johan-dupreez commented on #1076
herewith the debug log

Command arguments: ['aks', 'create', '--resource-group', 'SparZA-AKS-WEU-RG', '--name', 'SparZa-AksCluster', '--admin-username', 'SparZaAks-User', '--windows-admin-username', 'SparZaAks_Win_Us3r', '--windows-admin-password', 'P@s5worD123!', '--nodepool-name', 'spazanodep', '--service-principal', 'da2013fb-af03-4dd8-a376-e69b59d032d1', '--client-secret', '017d0ff8-c1f6-4fd7-

[2019-07-05 08:32] johan-dupreez commented on #1076
Please find debug log (logs has been sanitized)

Command arguments: ['aks', 'create', '--resource-group', 'AKS-WEU-RG', '--name', 'AksCluster', '--admin-username', 'Aks-User', '--windows-admin-username', 'Aks_Win_Us3r', '--windows-admin-password', ‘a password!’, '--nodepool-name', 'nodep', '--service-principal', ‘Some SPID’, '--client-secret', ‘some scret’, '--network-plugin', 'Azure-CNI', '--enab

[2019-07-05 09:00] MikkelHegn commented on #1076
It's the same error you get

The network-plugin argument must be `--network-plugin azure`. Make sure to remove the pod_cidr argument, as the pod ip's are assigned from the subnet when using Azure-CNI.

[2019-07-05 09:16] johan-dupreez commented on #1076
Thank I will do so and provide feedback a little later.

kind regards

Johan du Preez

On Fri, Jul 5, 2019 at 11:00 AM +0200, "Mikkel Mork Hegnhoj" <notifications@github.com> wrote:

It's the same error you get

Operation failed with status: 'Bad Request'. Details: Windows agent pools can only be added to AKS clusters using Azure-CNI.

The network-plugin argument must be --network-plugin azure. Ma

[2019-07-05 09:29] Neroroms opened #1091 "Azure aks no rbac with hashicorp vault"
**What happened**:
1. I had create aks cluster with rbac disabled for use azure dev space
2. After 1. I had create service account for use vault hashicorp
3. I already had jwt , kube ca, and complete create role and access policy.
4. I finished setup vault and it work fine.
5. I test 'v1/auth/kubernetes/login' vault api with JWT and role and I receive this message

{
    "errors": [
        "Post

[2019-07-05 12:37] johan-dupreez commented on #1076
Thank you for the assistance. It worked as recommended.

Regards

Johan

From: Mikkel Mork Hegnhoj <notifications@github.com>
Reply-To: Azure/AKS <reply@reply.github.com>
Date: Friday, 05 July 2019 at 11:00
To: Azure/AKS <AKS@noreply.github.com>
Cc: Johan du Pré <johan@dupreez.online>, Mention <mention@noreply.github.com>
Subject: Re: [Azure/AKS] AKS with custom CNI and windows nodes (#1076)

It's

[2019-07-05 13:02] evenh opened #1092 "Cluster creation with existing service principal fails with 'not found'"
**What happened**:

When creating a RBAC enabled (AAD) AKS cluster with [terraform](https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html) using a custom service principal, I often encounter this error
```Service principal clientID: <REDACTED> not found in Active Directory tenant <REDACTED>```.

Using `az ad sp list` I can verify that the expected client ID is present. The clus

[2019-07-05 13:43] artisticcheese commented on #1029
How one verifies if new node pool is using updated engine? I just created a new node pool with Windows nodes but have no understanding how to verify version of AKS/base image on it as per notes for AKS release

[2019-07-05 14:15] markusdresch commented on #125
same here, trying to delete two aks clusters. first aks and its vmss instances are all in "deleting" state, after about 45 min it's in "failed" state. tried in portal and in cli.

[2019-07-05 14:21] MikkelHegn commented on #1029
`kubectl describe nodes | grep -E "Name:|Kernel"`

[2019-07-05 14:23] #1076 closed

[2019-07-05 14:27] artisticcheese commented on #1029
Here is return of that statement. Does it mean it's latest I'm not sure how to tell

[code]

[2019-07-05 14:34] MikkelHegn commented on #1029
No, that is the March version of Windows, updated version would be: 10.0.17763.557. We're trying to figure out if we have a bug in the upgrade code, as right now it looks like only new clusters will get the new version. I'll keep you posted here when we know more.

[2019-07-05 15:44] johan-dupreez opened #1093 "Cannot add monitoring add-in via CLI in South Africa North"
My expectation was that according to the article https://azure.microsoft.com/en-us/updates/general-availability-azure-kubernetes-service-in-south-africa-north/?cdn=disable AKS with custom CNI and Windows nodes and agent pools would be supported for aks preview.

I executed the command as follow:
az aks create
--resource-group K8SE-DevSA-RG-02
--name Aks-SANorth-Cluster
--node-count 1
--enable-addo

[2019-07-05 16:24] earwax commented on #642
We still experience this problem on 1.11.9.

[2019-07-05 17:09] artisticcheese commented on #1029
When you add a new node pool, is not AKS supposed to create a new backend pool as well? I see in managed resource group single nodepool with Linux node. And all services I have running on windows nodes as result are inaccessible since there is no mapping to underlying VMSS.
![image](https://user-images.githubusercontent.com/13176884/60736676-617d9980-9f1d-11e9-8579-3bd161e8f540.png)

[2019-07-05 17:34] jluk commented on #970
Awesome thanks for confirmation @montebhoover!

[2019-07-05 18:49] PatrickLang commented on #1015
A new Windows image is rolled out. Can you try creating a new cluster and see if DNS is working better? Right now we're digging into issues blocking node pool / cluster upgrades with VM scale sets so you'll need a new cluster to get this change.

Windows version 10.0.17763.557 has some fixes that improve reliability of Pod -> Kubernetes service connectivity which also fixes DNS since it's a K8s se

[2019-07-05 19:39] AdamGlass commented on #1092
try removing this: $HOME/.azure/aksServicePrincipal.json

It's listed in the troubleshooting section here: https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal   .

[2019-07-06 17:43] rishabhvipul007 opened #1094 "Getting error " NetworkPlugin cni failed to set up pod "apache-546bf54d7c-hhrb4_default" network: open /run/flannel/subnet.env:""
Getting error " NetworkPlugin cni failed to set up pod "apache-546bf54d7c-hhrb4_default" network: open /run/flannel/subnet.env:" , Any help is appreciated.

i am using my default network so i have not used pod network during "kubeadm init"

Thank for your help in advance.
![Getting error during pod creation](https://user-images.githubusercontent.com/50710036/60759480-b0bdea00-a043-11e9-9b38-72358b

[2019-07-06 18:50] alanjcastonguay commented on #1094
`kubeadm` xor AKS - not both. Did you make this in the wrong repository?

[2019-07-07 01:22] zhiweiv commented on #1029
I created a new cluster, Windows version is stil the old one, **Version: 1809.0.20190314** from Azure Portal(vmss -> Operating system).

[2019-07-07 15:34] Sam123ben commented on #935
Is this still open? Can anyone please test and merge it. This will be a big win

[2019-07-08 03:20] JuneZhao opened #1095 "traffic shaping between pods"
When will AKS support traffic shaping between pods?

https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#support-traffic-shaping

[2019-07-08 03:21] JuneZhao commented on #1095
label:feature

[2019-07-08 04:35] Neroroms commented on #1091
Sorry for trouble. I found error is from myself.

[2019-07-08 04:35] #1091 closed

[2019-07-08 07:04] chunliu opened #1096 "Cannot upgrade nodepool from 1.12.8 to 1.13.5"
**What happened**:
When I tried to upgrade the nodepool from the current version 1.12.8 to 1.13.5, I hit the following error:
[code]

**What you expected to happen**:
The nodepool should be upgraded successfully.

**How to reproduce it (as minimally and precisely as possible)**:
On a cluster with 1 nodepool which is on version 1.12.8, run the following command:
`az aks nodepool upgrade --resource-

[2019-07-08 08:06] MikkelHegn commented on #1029
The roll-out is still in progress. It was paused during US holiday end of last week.

[2019-07-08 08:18] monaka commented on #1051
As I commented to [the another issue](https://github.com/SonarSource/docker-sonarqube/issues/265#issuecomment-509124540), this will be cause by the too small value to `pod-max-pids`.
I think it's better to increase it more than 100 (current) because each native thread will be counted as pid.

[2019-07-08 08:42] srv-twry opened #1097 "Windows Server Containers : Pods running but Container doesn't"
**What happened**: I am working on deploying a .NET console application as a Windows Server Container on AKS. The application's main role is to monitor an Azure storage queue every 30 seconds, pick a set of entries from the queue if available and do some processing on it. I am also automatically scaling the number of pods up and down depending on the number of entries in the Azure storage queue th

[2019-07-08 13:08] MikkelHegn commented on #1093
Looks like it's tied to the monitoring add-in. Try rerunning without that requirement. Let me check if this is somethign we need to fix in the cli extension.

[2019-07-08 13:19] johan-dupreez commented on #1093
Thank you for the feedback. I will attempt the deployment shortly and provide feedback.

kind regards

Johan du Preez

On Mon, Jul 8, 2019 at 3:09 PM +0200, "Mikkel Mork Hegnhoj" <notifications@github.com> wrote:

Looks like it's tied to the monitoring add-in. Try rerunning without that requirement. Let me check if this is somethign we need to fix in the cli extension.

—
You are receiving this be

[2019-07-08 13:27] MikkelHegn commented on #1097
There's a know issue with terminating containers on Windows, which was fixed in this update: https://support.microsoft.com/en-us/help/4497934/windows-10-update-kb4497934

If you create a new cluster in either Australia, US or Europe (currently rolling out to the rest of the regions), you should get a fixed Windows OS on the Windows node pools. Alternately install the patch manually on your Windows

[2019-07-08 13:29] local-master commented on #1096
Hi @chunliu

You need to run "az aks upgrade" first then run "az aks nodepool upgrade"

I've faced the problem recently as well.

[2019-07-08 14:49] kiall commented on #1092
@evenh are steps 1+2 done with terraform? If so, this was an issue in the Terraform Azure Provider until very recently:

https://github.com/terraform-providers/terraform-provider-azuread/issues/4
https://github.com/terraform-providers/terraform-provider-azuread/pull/86

However, the fix should be included in the 0.4.0 azuread provider update...

[2019-07-08 14:56] chunliu commented on #1096
Thanks, @local-master ! It works. So I guess their doc needs to be upgraded.

[2019-07-08 14:56] #1096 closed

[2019-07-08 15:49] jnoller commented on #756
@zuehlke-dea  It is not.

[2019-07-08 15:52] zuehlke-dea commented on #756
ok. Thank you. Then we have to wait for the feature.

[2019-07-08 16:00] jnoller commented on #786
Ugh, thanks - I missed closing it.

[2019-07-08 16:00] #786 closed

[2019-07-08 16:29] #1085 closed

[2019-07-08 16:36] #1095 closed

[2019-07-08 16:52] MiyKh opened #1098 "Check aks-engine and aks version"
Is it possible to extract aks-engine and aks release version from a managed AKS cluster metadata?

[2019-07-08 16:56] jnoller commented on #1098
Not at this time. Improvements in this area are tracked in #995

[2019-07-08 16:56] #1098 closed

[2019-07-08 19:05] edernucci opened #1106 "Error message unclear: 'ManagedClusterAgentPoolProfile.count' must be greater than 1 but should be Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 0."
**Describe the bug**
Validation message is **Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 1** but should be **Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 0**.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Environment summary**
[code]

[2019-07-09 03:01] johan-dupreez commented on #1093
Thank you the built went through successful. Kindly close ticket.

[2019-07-09 04:42] dnauck commented on #223
This problem is also with the Premium SKU. It's a little bit faster .. but not useable a pod storage.
Also a 100 GB min size for a simple workload is a little bit oversized.

[2019-07-09 07:38] MikkelHegn commented on #1097
Roll-out has completed, all regions now have the new Windows version.

[2019-07-09 07:40] MikkelHegn commented on #1029
Roll-out completed to all regions...

[2019-07-09 08:14] zhiweiv commented on #1029
It is 17763.557.20190604 now.

[2019-07-09 08:20] MikkelHegn commented on #1029
Let us know how the DNS is looking. Please note there is still a know issue with DNS configuration being delayed in the containers: https://github.com/kubernetes/kubernetes/issues/78479

[2019-07-09 08:27] zhiweiv commented on #1029
The first issue never occurred in my cluster. For dns delay issue, I have some codes at each application's start to ensure dns.

[2019-07-09 09:55] local-master commented on #223
I've run some tests recently and for me, Premium Azure File is unusable. I've tested on 100gb and 5120gb file share and the Premium Azure File was around 20 times slower then Premium Azure storage. when doing same benchmarks as above. My application would take Xmin and few restarts cause of health probe failure before they could start on Premium Azure File back-end storage.

[2019-07-09 14:44] moebius87 commented on #223
I know it's an alpha version but could the [blobfuse-csi-driver](https://github.com/csi-driver/blobfuse-csi-driver) be a viable alternative? @andyzhangx could you tell us something about its performance?

[2019-07-09 15:06] andyzhangx commented on #223
[blobfuse-csi-driver](https://github.com/csi-driver/blobfuse-csi-driver) won't be faster than azure file as I  tested.
In stead, you could try [Azure NetApp Files](https://azure.microsoft.com/en-us/services/netapp/), it is a managed NFS service on Azure, and it could be used in AKS now.
As I tested this exact same scenario, it has about 5x faster than azure file.
You could follow steps here:
https

[2019-07-10 03:29] jstafford5380 commented on #852
A multi-master quorum would be game changing imo. For example, you have an east cluster and a west cluster. The masters for each talk to each other to coordinate workloads between regions. So if service A in the east region is unavailable, those requests can be served by the west region cluster. If any master goes down, the remaining masters can pick up the slack. I guess the challenge here would

[2019-07-10 06:59] MikkelHegn commented on #1038
https://github.com/kubernetes/kubernetes/issues/79950

[2019-07-10 07:07] zhouwenyang opened #1099 "How to enable CORS for Kubernetes API (AKS)"
I'm tring to call kubenetes api from javascript.
but get cors problem.
1.how can I enable cors on AKS.
2.Is it possible to change kubernetes api-server flags.
add --cors-allowed-origins

[2019-07-10 08:01] guhuajun commented on #1097
Thanks for sharing!

[2019-07-10 15:20] jnoller commented on #1099
AKS does not support alteration of Kubernetes API server kubectl flags at this time.

[2019-07-10 15:20] #1099 closed

[2019-07-10 16:09] jnoller commented on #970
Closing fixed, see https://github.com/Azure/AKS/releases/tag/2019-07-01

[2019-07-10 16:09] #970 closed

[2019-07-10 17:28] karajas commented on #901
Hi there, this is Karthik from the ACI team.

So currently the 2 ips is by design for ACI. The first IP is assigned based on the AKS cluster network. The second IP is required to establish public outbound connectivity since the first IP is on a virtual network. The 10.x.x.x is used for internal resolution while the other one is for outbound connections.

As a workaround, can you do a check for thi

[2019-07-10 20:06] sirdank commented on #218
MSI auth to key vault from inside the pod is working as expected for me.

[2019-07-10 22:21] npnelson commented on #901
@karajas The two IPs are definitely going to confuse some applications (selenium being one of them). If you can't eliminate the second IP, apps will just have to deal with it.

What about the DNS issue also documented in this issue? (In hindsight, I guess I double dipped issues with DNS and multiple IPs, sorry if that is a foul).

 Can anyone address the DNS differences? That will cause problems t

[2019-07-11 07:50] lowtech81 commented on #173
Any updates?

[2019-07-11 08:48] johan-dupreez opened #1100 "Windows Node compatibility - Host OS + Container OS + AKS Node"
**What happened**:
We did a build in AKS with a Windows Node pool and when I execute
kubectl get nodes -o wide the output display
OS-IMAGE: "Windows Server Datacenter"
KERNEL VERSION: "10.0.17763.557"

In a previous post of 8 days ago (When adding Windows node pool, need to specify version #1006)
I note your reply:
"We only support Windows Server 2019 (1809): https://docs.microsoft.com/en-us//azur

[2019-07-11 11:03] dariuszbz commented on #980
I'm lost. Is it GA or still preview? Can i run production system or I need wait until GA? Clear message please :) Thank You so much.

[2019-07-11 11:12] MikkelHegn commented on #980
The issue is not closed, so the work is not done, so it's not GA :-)

[2019-07-11 13:49] jnoller commented on #173
Please see the comment above: https://github.com/Azure/AKS/issues/173#issuecomment-429014619

[2019-07-11 17:19] poochwashere commented on #967
Hi Jesse,

We are very much looking forward to this functionality. Is there a _rough_ ETA as to when this may be GA?

Thanks

[2019-07-11 17:53] jnoller commented on #967
@sauryadas

[2019-07-11 22:11] sauryadas commented on #967
possibly end of September.. but you should be able to use it now.. create a cluster with a SLB and whitelist the IP address created along with the CIDR range you want your api server accessed from. We are in the process of updating the API server authorized range docs with the above.
[SLB docs](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard)

[2019-07-11 22:55] MikkelHegn commented on #1100
Take a look at these links to understand the relationship between host and container OS compatibility:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility#matching-container-host-version-with-container-image-versions

https://docs.microsof

[2019-07-12 01:15] johan-dupreez commented on #1100
Thank you Mikkel.

kind regards

Johan du Preez

On Fri, Jul 12, 2019 at 12:55 AM +0200, "Mikkel Mork Hegnhoj" <notifications@github.com> wrote:

Take a look at these links to understand the relationship between host and container OS compatibility:

https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility

https://docs.microsoft.com/en-us/virtualiza

[2019-07-12 01:19] thehappycoder commented on #620
It's been almost 1 year. I am going to move to Google Cloud or AWS.

[2019-07-12 06:32] dariuszbz commented on #980
Oooooook.

When do you plan to release GA?

On Thu, 11 Jul 2019, 12:12 Mikkel Mork Hegnhoj, <notifications@github.com>
wrote:

[2019-07-12 10:42] MikkelHegn commented on #1093
I'll reopen and change the title to reflect the issue with monitoring add-in in southafricanorth.

[2019-07-12 10:44] MikkelHegn commented on #1093
@keikhara - is this a WI you need to fix?

[2019-07-12 12:29] JoaquimFreitas opened #1101 "Cluster creation fails with - 'Bad Request'. Details: Windows agent pools can only be added to AKS clusters using Azure-CNI"
**What happened**:
Initial AzureCLI step of AKS cluster creation fails with strange error ~ 'Bad Request'. Details: Windows agent pools can only be added to AKS clusters using Azure-CNI
**What you expected to happen**:
AKS cluster created as expected, as it worked in the past.

**How to reproduce it (as minimally and precisely as possible)**:
az aks create --resource-group myAKSResourceGroup --nam

[2019-07-12 12:29] johan-dupreez commented on #1093
Thank you Mikkel, yes it would be. Let me know of the status should there be a change and monitoring is allowed.

Regards

Johan

[2019-07-12 12:33] johan-dupreez commented on #1101
Hi have a look at this ticket. I had similar challenges and it was resolved in this ticket.
https://github.com/Azure/AKS/issues/1076

In the ticket there is a response in exactly what was wrong and how to fix it.

[2019-07-12 12:37] johan-dupreez commented on #1101
The network-plugin argument must be --network-plugin azure. Make sure to remove the pod_cidr argument, as the pod ip's are assigned from the subnet when using Azure-CNI.

[2019-07-12 14:33] JoaquimFreitas commented on #1101
Hi @johan-dupreez
I've already checked your ticket first but this situation is stranger as I'm only using a simple creation statement that worked in the past and now don't work.

I use the --network-plugin azure and don't use any pod_cidr argument, the command is the simples one, presented on:
https://docs.microsoft.com/en-us//azure/aks/windows-container-cli

The region I use is northeurope.

az a

[2019-07-12 14:38] JoaquimFreitas commented on #1101
If we use everything as stated at:
https://docs.microsoft.com/en-us//azure/aks/windows-container-cli

_The behavior of this command has been altered by the following extension: aks-preview_
**Operation failed with status: 'Bad Request'. Details: The value of parameter orchestratorProfile.OrchestratorVersion is invalid. Please see https://aka.ms/aks-naming-rules for more details.**

Central/East US

[2019-07-12 15:13] jnoller commented on #1101
@MikkelHegn

[2019-07-12 15:15] jnoller commented on #1094
Kubeadm is not a component of or supported with AKS

[2019-07-12 15:15] #1094 closed

[2019-07-12 15:16] jnoller commented on #1092
Closing as resolved per @kiall

[2019-07-12 15:16] #1092 closed

[2019-07-12 15:18] jnoller commented on #1075
@andyzhangx for triage

[2019-07-12 15:20] jnoller commented on #1078
@keikhara for 👀

[2019-07-12 15:28] jnoller commented on #1083
Currently there is not a method to do application deployment as you wish with AKS. We are evaluating options for vendors and partners when using AKS and marketplace. When we have more information is will be linked in the roadmap. https://github.com/Azure/AKS/projects

[2019-07-12 15:28] #1083 closed

[2019-07-12 15:30] jnoller commented on #1088
This is on the roadmap for 2019. Adding to in progress in https://github.com/Azure/AKS/projects

[2019-07-12 15:31] andyzhangx commented on #1075
This is by design, the built-in storage classes cannot be changed.

[2019-07-12 15:55] ganga1980 commented on #1093
@johan-dupreez ,  looks like you are on old version of the CLI. can you please upgrade to latest Azure CLI version and let me know if still this is an issue?

[2019-07-12 16:15] deepaksood619 commented on #1075
@andyzhangx why is this? For starters it would be difficult to change all pvc to different storage class if they found about this later in the development process. We then have to migrate all the data.

What's the right way to change a PVCs storage class to a different one with all the data intact. What would be the migration step?

[2019-07-12 18:38] poochwashere commented on #967
The problem with my org using the SLB is that we cannot preserve our sticky Public IPs that we need to control for partners to access our APIs.

Per the SLB docs...
[code]

[2019-07-12 19:12] nopjmp opened #1104 "AKS ClusterRoleBinding is not created for system:azure-cloud-provider"
**What happened**:

1. Tried to delete a load balancer
2. Load balancer failed to delete since it was attached to a public IP
3. Event wasn't logged as the azure-cloud-provider service account didn't have the right permissions.

`I0712 12:37:07.439245 1 authorization.go:73] Forbidden: "/api/v1/namespaces/[redacted]/events/[redacted]", Reason: "no RBAC policy matched"`

**What you expected to happe

[2019-07-12 19:34] palma21 commented on #1051
@monaka is correct.
And we are increasing that value, expect it to be fixed as we bring 1.14 to GA on AKS.

[2019-07-12 20:40] jnoller commented on #1060
Initial AZ Support for AKS clusters is in public preview: https://docs.microsoft.com/en-us/azure/aks/availability-zones

This issue will remain open until all work in scope is done

[2019-07-14 09:08] gqdw opened #1105 "azure pvc with Access Modes "readwriteonce" can mounted by two pod"
**What happened**:
i create a pvc with Access Modes "readwriteonce", but I can mount it in two pod .
[code]
it mounted by two pod: mypod, mypod2

**What you expected to happen**:
is this wrong ?

**How to reproduce it (as minimally and precisely as possible)**:
create pvc like
[code]
mount it on two pods.

**Anything else we need to know?**:
it is azure aks in China.
[code]

**Environment**:
- Kub

[2019-07-14 10:12] dariuszbz commented on #1105
Attach container yaml. Pvc looks ok.

On Sun, 14 Jul 2019, 10:08 YueMing Qin, <notifications@github.com> wrote:

[2019-07-14 11:43] gqdw commented on #1105
[code]

[code]

[2019-07-15 03:30] seanmck commented on #1106
Moved from CLI repo since I believe this is an RP error message.

[2019-07-15 14:39] victornoel opened #1107 "Support deleting the first node pool of a cluster"
Currently with AKS, it is impossible to delete the first node poll that was created with a cluster, even if other node pools exist.

There does not seem to be any business requirement for this to be and I suppose it is like this for technical reason.

This issue is to track the resolution of this situation so that customers can delete the first node pool of a cluster and get some feedbacks from th

[2019-07-15 16:07] bergmeister opened #1108 "Creating AKS cluster from terraform - error when using example from Docs"
**What happened**:

I already opened an issue on the docs repo [here](https://github.com/MicrosoftDocs/azure-docs/issues/35143) but since I believe this might be a product bug, I am also opening an issue here.
I followed the following docs on how to create an AKS cluster: https://docs.microsoft.com/en-us/azure/terraform/terraform-create-k8s-cluster-with-tf-and-aks

**What you expected to happen**:

[2019-07-15 16:36] ganga1980 commented on #1093
@@johan-dupreez @MikkelHegn, Investigated. This issue only in AKS-Preview extension since the AKS-Preview modifies the behavior of the Azure CLI. If AKS-Preview removed or the files under **/.azure/cliextensions/aks-preview"** removed no issue.  I will try to work with AKS team to get the fix.

[2019-07-15 17:14] ams0 commented on #1084
I’m interested in this too. I have a StandardLB-enabled cluster, I have a prefix created in the same RG (MC_*) of AKS with 52.255.212.152/30 range.

When I specify:
  loadBalancerIP: 52.255.212.152/30

[code]

and if I specify:
  loadBalancerIP: 52.255.212.154

[code]

so how to specify a range?

[2019-07-15 21:00] macolso commented on #1101
@JoaquimFreitas, @jnoller:  try using --kuberenetes-version 1.14.1 or 1.13.7. For some reason, when --kuberenetes-version 1.14.0 is used, "Operation failed with status: 'Bad Request'" is thrown.

[2019-07-16 07:44] johan-dupreez commented on #1093
Thank you very much.

From: ganga1980 <notifications@github.com>
Reply-To: Azure/AKS <reply@reply.github.com>
Date: Monday, 15 July 2019 at 18:37
To: Azure/AKS <AKS@noreply.github.com>
Cc: Johan du Pré <johan@dupreez.online>, Mention <mention@noreply.github.com>
Subject: Re: [Azure/AKS] Cannot add monitoring add-in via CLI in South Africa North (#1093)

@@johan-dupreez @MikkelHegn, Investigated. T

[2019-07-16 08:57] masyanru opened #1109 "(preview) can't upgrade linux nodepool from 1.14.0 to 1.14.3"
**What happened**:
I tried to upgrade the linux nodepool from the current version 1.14.0 to 1.14.3 and get the following error:

[code]

I have already run "az aks upgrade --resource-group k8s-mix --name k8s-mix-cluster --kubernetes-version 1.14.3" - everything is ok, then updated the windows nodepool - ok.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[code]

[code]
"Orc

[2019-07-16 12:37] uday31in opened #1110 "Error Provisioning new cluster - invalid memory address or nil pointer dereference"
[code]

[2019-07-16 13:39] victornoel commented on #1050
For the record I tried the following (tl;dr it broke my cluster):
- I added a second node pool to my cluster
- I cordoned the sole node of the primary node pool then drained it
- everything went as expected on the other nodes
- I scaled to zero via the VMSS portal and the cluster simply stopped answering on the public ip that was used by the ingress service configured via `LoadBalancerIP` even tho

[2019-07-16 14:12] srv-twry commented on #1097
@MikkelHegn Thank you for the info.
Unfortunately, my internship period at Microsoft came to an end and hence am unable to verify if it fixed the issue.
You can close the issue as per your wish.

[2019-07-16 15:21] jnoller commented on #1110
First, thank you for reaching out to the AKS team.

AKS Github issues must be generally re-creatable (e.g here is the YAML/settings/packages/etc installed, can recreate the issue on existing clusters as well as newly created clusters). Unfortunately, this issue is cluster-specific.

For cluster specific issues (those that will require support and on-call staff to access you Subscription and cluste

[2019-07-16 15:21] #1110 closed

[2019-07-16 15:32] Vandersteen opened #1111 "How to override default coredns config"
As the proxy plugin has been deprecated and is giving us issues, we would like to use the forward plugin instead. However I would need to be able to override the coredns config for this.

So:

From

[code]

To

[code]

However, as noted in the documentation, we cannot edit this information, only 'extend' it.

Is it possible to change this ?
If so would this suffise ?

[code]

Or should it be like:

[2019-07-16 15:39] Vandersteen commented on #1111
https://github.com/coredns/coredns/issues/3010

[2019-07-16 16:06] ball-hayden commented on #646
I've seen this on a cluster with CNI and azure netpols enabled.
I've a ticket open with support, and we're trying to reproduce this in the agent's subscription.
So far, it's looking like the issue doesn't occur on the agent's subscription despite it repeatably occurring on mine (same commands to create the cluster, same workload in the cluster, same vnet config used, etc...).
I'll report back if w

[2019-07-16 16:15] joaocc opened #1112 ""Changing property 'platformFaultDomainCount' is not allowed" on upgrade"
**What happened**:
While trying to upgrade a cluster from 0.11.8 to 0.11.10, we got the following error:
[code]
Not only that, but the underlying VMs disappeared (but the OS disks and NICs are still there).
We tried to do the upgrade via the portal.

**What you expected to happen**:
A normal upgrade.

**How to reproduce it (as minimally and precisely as possible)**:
N/A

**Anything else we need to

[2019-07-16 16:54] mboersma commented on #1112
Both of the issues mentioned above were specific to the `aks-engine scale` command, and aren't relevant to the fix that was deployed for AKS.

[2019-07-16 18:35] jnoller commented on #1111
The syntax should be the same for `proxy` and `forward`:
[code]

[2019-07-16 18:35] #1111 closed

[2019-07-16 21:01] slynickel commented on #841
Just so others don't think they can be smart about this, currently the config map for coredns that is deployed with AKS has the `reload` plugin in it. This is from AKS v1.12.8:

[code]

The problem is stated in the [coredns reload plugin documentation](https://github.com/coredns/coredns/tree/master/plugin/reload#bugs):

changes the *reload* plugin is ignorant of that fact.

Since any customization

[2019-07-16 23:21] joaocc commented on #1112
Thx @mboersma. I'll remove the links to prevent confusion.

[2019-07-17 05:36] hri123 commented on #602
@msdotnetclr : Hi, Can you please paste your yaml here, I am having the same issue to forward both UDP and TCP ports on the same loadbalancer IP.

[2019-07-17 08:00] Lachlan-White commented on #782
Hi All, sorry for the delay, this can be removed as it now works on newer versions and has been correct

[2019-07-17 09:40] johan-dupreez commented on #1100
Hi, please close the call the articles explained what was needed and the deployment worked as anticipated. Thank you for your assistance.

[2019-07-17 09:40] #1100 closed

[2019-07-17 09:49] johan-dupreez commented on #1093
Hi in response I am using azure-cli 2.0.59 with aks-preview 0.4.3 and aks-virtual-node 0.2.0.
I perform the update this afternoon and do a test deployment with the --enable-addons monitoring and will let you know what the outcome was.

[2019-07-17 10:04] will-beta commented on #947
@jnoller Any updates on the possible ETA?

[2019-07-17 11:13] tomkerkhove commented on #947
Will it come with capability to configure cluster autoscaler via ARM / Azure Portal?

[2019-07-17 12:14] AGFincom commented on #1109
experiencing the same issue, are the nodes supposed to get the update?

with version:

[code]

noticed when new servers are provisioned and\or new pool created they are created with the new version.

since these are managed server in the nodepool (preview feature) we cant access the servers in a straight way (no public IP.. or control)  there should be a way to trigger the rolling upgrade,
is the

[2019-07-17 12:53] masyanru commented on #1109
some new stranger things. ;)
In azure portal I opened "Virtual machine scale set" and tried to update "Latest Model" from No to Yes. Azure portal returned "The resource operation completed with terminal provisioning state 'Failed'." And you know what's happened next? The linux primary agentpool was disappeared.

kubectl get nodes shows only one k8s node
NAME           STATUS   ROLES   AGE     VERS

[2019-07-17 12:55] markl11 commented on #683
Here's an example that I found:

https://github.com/Azure/aks-engine/blob/master/examples/ipvs/kubernetes-msi.json

[2019-07-17 14:49] EwanNoble opened #1114 "Can't create file share with Premium Azure File storage"
**What happened**:
PersistentVolumeClaim stuck in pending with errors in events

**What you expected to happen**:
PersistentVolumeClaim created successfully

**How to reproduce it (as minimally and precisely as possible)**:
Storage Class
[code]
RBAC
[code]
PVC
[code]

Run `kubectl describe pvc azurefiles-premium`, see following error in events:
[code]

**Anything else we need to know?**:
Storage a

[2019-07-17 16:00] DBarthe opened #1115 "How persistent volumes work with fault domains ?"
Hello ! :)

This is a specific question about the way managed disk / PV works.

A managed disk is supposed to be located in the same fault-domain as the VM it is attached to.

When a stateful pod is rescheduled to another node, the managed disk is re-attached to the corresponding VM. What happens if they are in different fault-domains ? Will the VM and the disk end up in separated fault-domains ?

[2019-07-17 16:45] jnoller commented on #959
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters - this document tracks all required ports and URLs.

[2019-07-17 16:45] #959 closed

[2019-07-17 23:02] Sam123ben commented on #935
BDW, I have my own small script which does the task nicely for aks/eks and gke. Though the EKS recently introduced the auto taint/label feature and its still a bit buggy though but it works. AKS we expect to have somehting similar.

[2019-07-18 12:12] gitkoyot opened #1116 "Controlling egress ip for pods in AKS with multiple load balancers"
Hello,

I have 5 node AKS service with following services and I wanted to control which IP is used for egress for my pods (like this article suggests -> https://docs.microsoft.com/pl-pl/azure/aks/egress )

[code]

When I deploy It, after some time all pods contain ip of load-balancer-test1. Now If I deploy something similar :

[code]
I am unable to bind and control egress of multi-load-balancer-te

[2019-07-18 15:30] mariojacobo commented on #708
@omerlh  - how do you manage to achieve this ? The article in question refers to services of type "LoadBalancer", but this does not work for ingresses (nginx). I would assume that the annotation needs to be added to the Nginx ingress service declaration, however that did not work. AKS still complains that the IP is not in the MC* resource group.

My setup is: NGINX ingress > Service (type ClusterI

[2019-07-19 11:51] msdotnetclr commented on #602
@hri123 sorry I do not have it anymore - I left my previous job and the code is left with my ex-employer

[2019-07-19 15:16] jeremych1000 commented on #1068
Can we get slightly more information on this? What are some of the symptoms?

Our client has no access to the underlying AKS nodes - how else can we debug this?

[2019-07-19 21:40] Sayshu opened #1117 "Error while creating AKS:"code": "ServiceCidrOverlapExistingSubnetsCidr""
**What happened**:
I was unable to create an AKS cluster either from Portal or through ARM template using custom Service CIDR which already exists in my VNET.

**What you expected to happen**:
I used to create AKS clusters using pre created Service CIDR subnets in my VNET without any issues, But now i can only create with the expected ServiceCIDR only if i delete it first from my VNET
**How to rep

[2019-07-20 02:30] andyzhangx commented on #1114
@EwanNoble the minimum size of azure premium file is 100GB, that' the reason why it failed, pls try with size bigger than 100GB

[2019-07-20 02:37] andyzhangx commented on #1115
@DBarthe yes, azure disk PV works with fault domain, if the disk re-attached to the VM on another fault domian, DiskRP needs to create a new account to accommodate the disk that would cost around 20s

[2019-07-20 02:45] andyzhangx commented on #1105
@gqdw the `RWO` pvc could be mounted by two pods, `ReadWriteOnce`  accessModes is only used in PV/PVC matching process, it's only a tag, user decide how to use that PVC. For azure disk PVC, you could even set as `RWX` since it's only a tag, while pls remember azure disk can only be mounted to one node, if your two pods are in two nodes, the second pod could not start up.

[2019-07-20 14:17] gqdw commented on #1105
it can mount two node , that's why i push the issue .

[2019-07-20 14:22] andyzhangx commented on #1105
@gqdw one PVC can only mounted to one node, if it's mounted to two nodes, one pod would fail to start.

[2019-07-20 14:45] gqdw commented on #1105
@andyzhangx do you try with aks in china ?

[2019-07-20 19:03] artisticcheese commented on #1029
Am I supposed to deploy a new cluster or a new nodepool to get updated version of Windows? I just added a new nodepool and it's still old version.

[2019-07-21 00:33] zhiweiv commented on #1029
It is maybe caused by https://github.com/Azure/aks-engine/issues/1638, I think AKS will update to fix this soon.

You can create a new cluster to verify dns problrm.

[2019-07-21 01:25] andyzhangx commented on #1105
@gqdw it should be same as global AKS.

[2019-07-21 06:55] omerlh commented on #708
No, this has to be nginx settings. If you use the chart, you can configure the controller using the following settings:
[code]
Of course, nginx service has to be of type load balancer - but I guess you already did that.

[2019-07-21 18:05] artisticcheese commented on #1029
Yes, the only way to get new windows nodes is to start from scratch unfortunately. I tried upgrading nodes, upgrading master nodes to 1.14.3 but nothing worked. Only complete cluster recreation gave access to updated windows nodes.

[2019-07-22 10:00] timja opened #1118 "Azure monitor + CoreDNS metrics prometheus"
**What happened**:
Expected coredns metrics in azure monitor after enabling prometheus feature:
https://azure.microsoft.com/en-us/blog/azure-monitor-for-containers-with-prometheus-now-in-preview/
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config#overview-of-configurable-prometheus-scraping-settings

**What you expected to happen**:
CoreDNS metrics to be

[2019-07-22 10:11] spaelling commented on #3
When will we see this? It is fairly annoying having to disable a policy that enforces certain tags on an entire subscription just to create the AKS cluster.
If the resource group is completely empty and has no conflicting tags it should be ok.

[2019-07-22 13:50] bitsofinfo opened #1119 "aks: enable docker insecure registries?"
Are docker insecure registries enabled on AKS clusters? If not how can I do this?

Im following this guide to install jenkins-x on a pre-existing AKS cluster: https://jenkins-x.io/getting-started/install-on-cluster/

and they state this:

```If not using the aws or eks providers, then we need to make sure that insecure Docker registries are enabled. This is so that pipelines can use a Docker regis

[2019-07-22 15:23] J0F3 commented on #400
Hi all,

I just ran in the same problem but in a slightly different constellation. However the root cause is, I think, very similar or the same.
In my case I use ARM templates to deploy a vNet and to deploy an AKS to that previously created vNet respectively vSubnet.
Now I noticed that when the templates are deployed for the first time the Routing Table is assigned to the subnet in which the AKS i

[2019-07-22 15:34] idhruvs commented on #428
Update for whoever comes here searching for a resolution:
The following command worked for me:

`helm install stable/nginx-ingress --namespace kube-system --name eic-dev-team1 --set rbac.create=false --set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-internal"="true"`

PS: I had tried all the different commands mentioned in this thread and found out that the ke

[2019-07-22 15:52] ChaosGramer commented on #223
@andyzhangx I can't access your repo. Server return 500 when trying to access it. Have you turned it offline?

[2019-07-22 16:28] jnoller commented on #1104
Is this an aks-engine or AKS cluster? We have not seen any other reports of issues like this

[2019-07-22 16:35] nopjmp commented on #1104
This is an AKS cluster. It's not a major issue as the effect that happens is the events are not properly logged. We didn't realize what the error was until I resolved this permissions problem. It's in the kubenetes repo for the plugin as well as aks-engine to be applied to the cluster, but it doesn't seem to be applied when the cluster is created.

Without this permissions, `kubectl get events` wo

[2019-07-22 16:42] jluk commented on #3
We recently released functionality that will pass tags set on your AKS RG through to the underlying IaaS RG which the service creates. Could you try a deployment with the policy enforced tags on the AKS RG at cluster create time to see if it passes your policy setting?

A quick write-up on this release was included here:
https://github.com/Azure/AKS/releases/tag/2019-07-01

[2019-07-22 17:03] spaelling commented on #3
I just did that today. Both the AKS RG and the node RG should have the same tags, so that part did not work. I did the deployment using an ARM template, does it only work with `az aks create` (preview version i presume)?

[2019-07-22 17:24] JunSun17 commented on #400
@J0F3 if your ARM templates re-deploy vnet/subnet, yes currently there will be no attempt to re-associate the AKS created route table to the new subnet. This association is only done once when the AKS cluster is created, and the association is to the subnet given in the AKS data model when the cluster is being created.

If the subnet is re-deployed, it might introduce downtime since AKS VMs will l

[2019-07-22 17:30] jluk commented on #3
It should work with ARM template, could you share a few things to help us debug?

1. the snippet for the tags on the template
2. examples of the policies being applied
3. exact error returned upon deployment

[2019-07-22 17:58] Huge opened #1120 "Kubernetes node count incorrect and errors when halting nodes via portal/arm and then performing scale-up"
**What happened**:
After stopping all worker nodes via the Portal ie. goint to mv_my_rg and opening the virtual machines an clicking Stop on them, then I got the cluster up again doing `az aks scale .. -c 3` which seemed OK and I saw the VMs in the RG. Though, I saw:
[code]
after an hour or so, though, I'm seeing:
[code]
which still is not correct, yet better.

**What you expected to happen**:
Eit

[2019-07-22 21:49] chelnak opened #1121 "VMSS cluster randomly lost network connectivity"
**What happened**:
I have a VMSS enabled cluster that has randomly lost network connectivity. Pods can no longer resolve each other via core DNS and services with external address cannot be reached.

Setting the name server of a pod to 8.8.8.8 (or configuring the dnspolicy) appears to fix name resolution for public services but internal communication does not work... and this obviously does nothin

[2019-07-23 07:36] spaelling commented on #3
It works when tagging the AKS cluster itself during creation, those tags do carry-over. Tags on the resource group does nothing.

[2019-07-23 09:47] bigbrozer commented on #1075
Would be good to have the possibility to set a different default storage class via `storageclass.beta.kubernetes.io/is-default-class=true` but it seems that any edited value are reverted (which is something I understand as it is storage class provided by AKS service).

[2019-07-23 10:20] waltherg commented on #360
I have the exact same issue in the West Europe zone. Including the weird traceroute behaviour for the assigned public IP address.

[2019-07-23 11:10] chelnak commented on #1121
We have made some progress with this issue.

It appears that the network outage occurs when an agent pool template is deployed.

We have observed the following:

1.	The arm template deployment for an agent pool is initiated
2.	The kube-proxy-* pods in the kube-system namespace begin to terminate
3.	You can see that the route tables are being torn down and recreated at the same time
4.	In the activ

[2019-07-23 12:40] sagivle opened #1122 "AKS support of Azure NAT Gateway as outboundType option"
**What happened**: i have kubernetes in aws , and they have nat service(gw).
all pod outbound traffic uses the nat gw ip.
in azure aks the outbound uses the nlb ip

**What you expected to happen**:
allow a feature like aws nat gw so my pods will be using the nat gw ip address for outboud traffic

**How to reproduce it (as minimally and precisely as possible)**:
create a simple pod and use curl ifc

[2019-07-23 14:07] chelnak commented on #1121
So I think we have got to the bottom of this.

It looks like the ARM template deployment fails to re add the subnet reference to the route table.

After re associating the missing subnet and rebooting the nodes connectivity was restored.

[2019-07-23 14:21] alanjcastonguay commented on #1122
See issue #1116

[2019-07-23 14:36] cwebbtw opened #1123 "Creating a cluster when logged in using a machine identity fails"
**What happened**:

When provisioning an AKS cluster from a virtual machine where the currently logged in user type is a user managed identity, an error occurs:

[code]

**What you expected to happen**:

The cluster to be created successfully

**How to reproduce it (as minimally and precisely as possible)**:

1. Assign a user managed identity on a virtual machine where the user managed identity ha

[2019-07-23 15:30] jnoller commented on #1123
MSI is not currently supported: https://github.com/Azure/AKS/issues/993

[2019-07-23 15:48] jluk commented on #3
Could you please share a repro with an example policy? I'm not 100% clear on which resources are not being passed and if your policy is an append. If a resource can't be created because an error is kicked back the enforce handling needs to be looked at, which we can do if we can get repro details.

An alternative option is you can open a support ticket on this with details for us to gather details

[2019-07-23 15:55] cwebbtw commented on #1123
I had a quick read of #993 - that seems to be focused around using a managed identity instead of the service principal block:

[code]

[2019-07-23 16:07] DBarthe commented on #1115
Thank @andyzhangx for this information :)

[2019-07-23 16:10] cwebbtw commented on #1123
It looks like this is possible via the CLI so this may be an issue to raise against the terraform provider.

[code]

[2019-07-23 17:07] cwebbtw commented on #1123
It seems this issue is related https://github.com/MicrosoftDocs/azure-docs/issues/35586

[2019-07-23 17:13] MicahMcKittrick-MSFT commented on #1123
Following :)

[2019-07-24 06:20] J0F3 commented on #400
Thank you @JunSun17
Yes the manual re-association of the route table would work. However it is very hack and during the deployment the ASK is in a bad state until e.g. a script runs which does the association again.
For me the logic of the vNet resource provider is also not really logical. When deploying something in "incremental" mode I would expect that anything existing is not changed. But for

[2019-07-24 07:05] spaelling commented on #3
The policy effect is

[code]

could that be the reason? It does append tags from the cluster itself, so it works fine for me.

[2019-07-24 12:25] dstockton commented on #642
Me too! 👎

[2019-07-24 14:47] Xorima commented on #205
👍

[2019-07-24 16:19] JunSun17 commented on #400
@J0F3 I think the gap is when re-deploy vnet/subnet, it does not first read the current state of the vnet/subnet and then apply the incremental changes. Therefore it is not aware of changes happened after the initial deployment. For your workflow, maybe some workaround can be done if you can integrate the current state bit into the new template you deploy.

[2019-07-24 22:06] tjcrone opened #1124 "The total number of secondary ipconfigurations in network profile for scale set XXX exceeds the maximum allowed value of 256"
I have VMSS being scaled by AKS and got the following error when trying to scale from 2 to 3 nodes: `The total number of secondary ipconfigurations 500 in network profile for scale set XXX exceeds the maximum allowed value of 256.` My cluster has a VNET with /16 subnets for all the various components. Am I missing some sort of setting here? Can I increase the number of "secondary ipconfigurations"

[2019-07-24 22:49] jnoller commented on #946
Audit log support is now GA, enable master logging via: https://azure.microsoft.com/en-us/updates/aks-control-plane-audit-logs/

[2019-07-25 00:43] ronaldmiranda commented on #400
+1 please guys, fix this.

[2019-07-25 08:08] akazemis commented on #253
how about the **private** ip addresses? could we use a static private ip address? I tried to do so but I'm getting this error in my service:

Error creating load balancer (will retry): failed to ensure load balancer for service XYZ: user supplied IP Address 12.5.100.253 was not found in resource group MC_ABC....

[2019-07-25 09:15] adhodgson1 commented on #1123
I have been seeing this error and I deploy using ARM templates.  I have managed to (possibly) fix this by setting the API to 2019-06-01, I am not sure what API Terraform is passing in.  I can reproduce the error when using 2019-02-01.  I don't use a managed identity, I log in via the CLI using an SPN.

[2019-07-25 09:25] tjcrone commented on #1124
When deploying this cluster via the CLI I changed max-pods to 250, which I believe is the maximum. But for some reason Kubernetes reserves all of these addresses when a node is created. So we had 500 secondary IP addresses at the outset. Is this expected behavior? I am expecting this cluster to scale to dozens if not a hundred nodes for short periods of time, so regardless of what max-pods is, it

[2019-07-25 09:34] shanoor commented on #1117
I have the same issue, it's a kinda breaking change. The infra as code written for previous successful deployments is not working any more.

[2019-07-25 16:10] jnoller commented on #1120
We do not currently support dropping clusters to zero nodes in this way. We understand the cost argument and have been evaluating it. The state drift you mentioned (ARM vs Kubectl) is an issue we are aware of that will need to be resolved as part of this.

[2019-07-25 16:14] jnoller commented on #1119
Azure offers Azure Container Registry, however these are not added by default - we are evaluating registry options to provide one by default after current committed work is complete.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks

Marked enhancement for tracking

[2019-07-25 16:19] jnoller commented on #1118
@keikhara @vishiy

[2019-07-25 16:24] jnoller commented on #1115
Closing

[2019-07-25 16:24] #1115 closed

[2019-07-25 16:24] jnoller commented on #1114
Closing issue per @andyzhangx

[2019-07-25 16:24] #1114 closed

[2019-07-25 16:25] jnoller commented on #1112
This should now be patched / resolved. Please reopen if not

[2019-07-25 16:27] jnoller commented on #1108
Closing per documentation comment on https://github.com/MicrosoftDocs/azure-docs/issues/35143

[2019-07-25 16:27] #1108 closed

[2019-07-25 16:27] jnoller commented on #1107
We do not currently have this on the roadmap short-term. I will label this as a possible future enhancement.

[2019-07-25 16:31] bergmeister commented on #1108
Ok but as the comment also says, the error message should be clearer and state that 'uniqueness' means uniqueness across the whole of Azure, not just the subscription/tenant.
https://github.com/MicrosoftDocs/azure-docs/issues/35143#issuecomment-514179683

[2019-07-25 16:45] #1049 closed

[2019-07-25 16:49] jnoller commented on #1059
@JunSun17 ^^

[2019-07-25 16:53] jnoller commented on #1121
Please see https://github.com/Azure/AKS/issues/400 - there is a known limitation with user defined routes and ARM, AKS only auto-associates on initial create and if no existing rules on the subnet conflict. If you are doing an update like this via arm you will need to disassociate the UDR first, apply the update and then re-apply the UDR.

[2019-07-25 16:53] #1121 closed

[2019-07-25 16:54] vishiy commented on #1118
@jnoller - Can you please track this - "the prometheus endpoint was exposed on the kube-dns service (but it currently isn't"
I will track the issue to collect kube/core-dns metrics from our side , but for us to collect it, it needs to be exposed (which is what the issue above is).

[2019-07-25 16:58] jluk commented on #1121
@chelnak thanks for the debugging, could you confirm that this was occurring on an update done via ARM template to confirm the issue was an expectation of automatic RT association when it is only done on cluster create by the service?

[2019-07-25 16:58] jnoller commented on #1118
@vishiy The core DNS / DNS metrics are exposed - @weinong enabled them months ago to support the DNS autoscaler. However, AKS runs CoreDNS inside of a deployment named kube-dns, so the naming may not match prometheus expectations

[2019-07-25 17:23] chelnak commented on #1121
@jluk Yes. The issue is occurring when we reapply (update) a node pool arm template. We can replicate this.

https://github.com/SkillsFundingAgency/das-platform-building-blocks/blob/master/templates/aks-agent-pool.json

@jnoller We haven't added any UDRs above what is deployed along with AKS.

I'm now not 100% sure about my comment here: https://github.com/Azure/AKS/issues/1121#issuecomment-514225

[2019-07-25 17:54] vishiy commented on #1118
@jnoller @weinong - Can you please advice which end point/port we can get the kube/core dns metrics ?
I see that they are exposed as <pod_ip>:9153/metrics, but the issue is discoverability. There are no pod annotations for this managed pod (so prometheus cannot discover).

[2019-07-25 19:05] bitsofinfo commented on #1119
nothing to do w/ ACR, i'm referring to the ability to tweak this setting in the docker daemon on AKS nodes, and it being obeyed across node scales, and node re-provisioning https://docs.docker.com/registry/insecure/

[2019-07-25 20:01] joaocc commented on #1112
Hi. Unfortunately nothing changed on our side. The issue with Azure is still open (escalated to product group it seems). I just checked and both clusters are still in a failed states (no VMs since 16th July - yes, 10 days ago).

[2019-07-25 20:07] jnoller commented on #1112
@joacc Can you post the support ticket ID number so I can look?

[2019-07-25 20:12] joaocc commented on #1112
@jnoller Yes, just sent via email. Thanks

[2019-07-25 20:16] jnoller commented on #1112
@joacc I found the issue in our support system - PG provided a response. We found a bug that you triggered. Specifically, the first agent node was shut down / deleted and then a scale up command was executed. The mitigation provided to support was the following:

1. If the agent nodes is turned off, turn on them and do upgrade/scale - in this case, it's deleted so please see:

2. If the agent node

[2019-07-25 20:16] #1112 closed

[2019-07-25 20:30] timja commented on #1118
@jnoller from the current setup released in monitor it either needs the annotation added or exposing the metrics on the service

[2019-07-25 20:42] joaocc commented on #1112
@jnoller Thanks for the prompt response. The workaround (delete nodepool1-availabilitySet) worked.
Unfortunately this means we were left w/o any kind of service for 10 days, with appalling response from support. And this is not the first time (even if I only consider GA).
We had to move the services to another non-AKS instance in a rush, which is clearly undesirable and very disappointing from the

[2019-07-25 20:42] jnoller commented on #1118
@timja Yup, @vishiy just mentioned that :)

[2019-07-26 00:53] jluk commented on #1123
Thanks @cwebbtw and @adhodgson1 for the info and report, this does look to be scoping into a terraform issue if it is not repeatable outside of the TF provider. Is there an Azure Terraform issue opened for it? Happy to help drive a resolution from MSFT side if we can confirm it is a TF isolated issue.

[2019-07-26 01:31] jluk commented on #1123
We looked into this and want to rule out if it is related to an issue that has now been mitigated in West Europe specifically. @cwebbtw could you retry this with your terraform deployment in West Europe again and let us know your results?

[2019-07-26 08:53] cwebbtw commented on #1123
Thank you for getting involved in this Justin/Jesse.

I will run deployments in northeurope/westeurope back to back for the next few hours and report back on the success/failure rate.

[2019-07-26 14:11] patpicos commented on #1044
Azure firewall Application rule collections do not support UDP and TCP ports, only http/https/mssql.

How do we restrict:
ntp.ubuntu.com    **UDP:123**
*.hcp.<location>.azmk8s.io    HTTPS:443, **TCP:22, TCP:9000**
*.tun.<location>.azmk8s.io    HTTPS:443, **TCP:22, TCP:9000**

[2019-07-26 14:18] Sleepy-GH opened #1126 "Kube-proxy emptyacrsecret missing Auth field"
**What happened**:
While installing Flux CD I ran into an issue concerning kube-proxy that is installed on a new AKS cluster. Flux CD expects the Auth field to be present in addition to Username, Password and Email in any dockerconfigjson secret. The one provided by AKS does not contain this field. The field was added to Kubernetes in [this](https://github.com/kubernetes/kubernetes/pull/72344/file

[2019-07-26 15:32] cwebbtw commented on #1123
I haven't been able to reproduce this all day in both **westeurope** and **northeurope**. I can confirm that it is over **two** times slower for us to create the same cluster in westeurope though:

[code]

That being said, the time taken to create the cluster is not a concern of this story.

@jluk Are you able to confirm that a change was made to westeurope?

[2019-07-26 16:23] jluk commented on #1123
@cwebbtw thanks for rerunning that, we did make a change to west europe so if it is successful now that is great. we can take a look into the latency specifically as well, but I'm going to close this issue for now. If it happens again please feel free to re-open.

[2019-07-26 16:23] #1123 closed

[2019-07-26 18:01] jluk commented on #1106
Thanks for report @edernucci we're on it.

[2019-07-27 00:49] tedescomicchidev commented on #400
Hi all
As an intermediate "fix" you can deploy a linked ARM template to get the subnet association and then re-apply this every time you re-deploy the VNET via ARM template.

This is my linked template, which I use to get the current RouteTable.Id and make it ready via output:
`{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion":

[2019-07-28 19:40] alanjcastonguay commented on #946
https://azure.microsoft.com/en-us/updates/aks-control-plane-audit-logs/ still says it's Preview, not GA. Where's the GA documentation?

[2019-07-28 20:25] paviad commented on #857
@sNathan13 can you please describe your solution? What is Name based virtual hosting?

[2019-07-28 21:30] andrewglind commented on #990
Hi all, I have this working by using the agent data collection for Azure Monitor. Detailed instructions are here: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config. The relevant line to change in the ConfigMap is:

[code]

which exposes the kube-state-metrics metrics endpoint. Metrics will then become available in Log Analytics, e.g.

[code]

[2019-07-29 04:00] zhiweiv opened #1127 "When will k8s 1.14.4 for Windows be shipped?"
k8s 1.14.4 fixed a memory leak https://github.com/kubernetes/kubernetes/pull/78594 in Windows kubelet, I have to restart the Windows nodes every few days due to this bug, When will this be shipped to AKS?

[2019-07-29 11:27] som-nitjsr opened #1128 "AKS Ingress rule for .Net Framework (4.6)"
I have .net Framework(4.6) based Web API service. i am hosting them in azure AKS.

I am using nignix and  written  Ingress Rule  like this.

host: abc.com
    http:
     paths:
      - path: /EmailAPI
        backend:
          serviceName: esolvitemailapi-svc
          servicePort: 80

Now My web api is expecting URl

http://service/api/controller/action

But i think Ingres in sending the URI as

[2019-07-29 22:27] xizhamsft commented on #1106
ok. Just did some investigation. This error message is not from RP. It is actually from the validation code in python SDK (src\aks-preview\azext_aks_preview\vendored_sdks\azure_mgmt_preview_aks\v2019_04_01\models\managed_cluster_agent_pool_profile_py3.py). The python SDK is generated from swagger, which has the correct min value (1) and max value. I think the right fix should be blocking 0 count i

[2019-07-30 05:38] nishitasikka1995 commented on #90
How was this issue taken care of ?

[2019-07-30 05:39] markusdresch commented on #1128
less an AKS question than a nginx ingress question. simply add this to your ingress rule metadata:

[code]

[2019-07-30 07:31] victornoel commented on #1124
@tjcrone have you figured a way to increase the max number of "secondary ipconfigurations"?

I want nodes with more than 30 pods by default, but at the same time I want to be able to put more than 2 nodes in my node pool.

[2019-07-30 09:57] andreygolev commented on #642
Same there

[2019-07-30 11:23] tjcrone commented on #1124
@victornoel, my problem was a little different. I never figured out what was going on, but it's possible that Kubernetes was trying to reserve IP addresses for twice the number (500) of the maximum pods allowed per node for this cluster which was at the time 250. I think it might have gotten confused.

Anyway, the good news is that you can increase the maxumum number of pods when creating a cluste

[2019-07-30 11:52] bHacklv commented on #642
issue is not fixed.

[2019-07-30 12:07] victornoel commented on #1124
@tjcrone hmm, the `--max-pods` configuration is per node pool, so you can create new node pools with a different value for this parameter.

I believe the problem here is that if you set `--max-pods` to 250, then you can't scale your node pool to more than 2 nodes, because of the bug we both encountered.

[2019-07-30 12:35] djsly commented on #1014
@MikkelHegn , we are getting a lot of timeout with the probes as well on Windows.

[code]

Could also be caused by the port exhaustion of the readiness probe ? (we have the readiness probes enabled as well)

[2019-07-30 13:21] tjcrone commented on #1124
I'm not sure that was my experience. The [documentation](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest) indicates that this is the maximum pods per node. The default quota for secondary IP addresses (256) is also per NIC, meaning per node. But perhaps you are right that this is a bug that crops up under certain circumstances.

[2019-07-30 13:39] victornoel commented on #1124
@tjcrone at least we are in agreement about max pod being per node yes.

I don't know about the quota for secondary ip addresses, where did you find this information? As per the error message, I thought it was a quota par scaling set, not per NIC (hence the error, since if it was per NIC, things would work because 250 is less than 256 :).

[2019-07-30 14:03] michael-burt opened #1129 "Cannot create an AKS cluster from Portal UI"
**What happened**:

Same as in issue 453

**What you expected to happen**:

I am trying to create an AKS cluster within a ResourceGroup that I do not own.

**How to reproduce it (as minimally and precisely as possible)**:

My user does not have admin privs on the resource group. I am trying to create an AKS cluster, but it fails with:

```Resource group 'DefaultResourceGroup-EUS' could not be foun

[2019-07-30 15:55] jnoller commented on #1129
Users must have access - read/write/etc on the RG per the documentation.

[2019-07-30 15:55] #1129 closed

[2019-07-30 15:56] michael-burt commented on #1129
Can you link those docs?

It is confusing because I can create the cluster, I just cannot enable monitoring of it and the error message is not helpful

[2019-07-30 16:38] porrascarlos802018 commented on #518
Exposing a node port to internet is not feasible yet, however you have several options that could allow you to accomplish your goal.  Some of them are:

HTTP application routing
https://docs.microsoft.com/en-us/azure/aks/http-application-routing

Create an HTTPS ingress controller on Azure Kubernetes Service (AKS)
https://docs.microsoft.com/en-us/azure/aks/ingress-tls

Create an application gatewa

[2019-07-30 18:18] som-nitjsr commented on #1128
Thanks i will try it out.

[2019-07-31 00:29] jeffmartinxyz opened #1130 "Guarantee OMSAgent schedules successfully on user tainted nodes"
**What happened**:

AKS users may apply taints on some of their nodes, and apply tolerations to kube-system Pods to allow them to be continued to be scheduled there. These tolerations persist in all cases, except for OMSAgent.

**What you expected to happen**:

Tolerations should persist on OMSAgent Pods as well.

**How to reproduce it (as minimally and precisely as possible)**:

Taint a node, app

[2019-07-31 08:33] frbimo commented on #518
@porrascarlos802018 but it's documented https://docs.microsoft.com/en-us/azure/aks/concepts-network. I was wondering why it is present in the document but not feasible as you've said.

[2019-07-31 12:15] Benjiiim commented on #935
Isn't it related to https://github.com/Azure/AKS/issues/1061?

[2019-07-31 12:28] markusdresch opened #1131 "Node memory usage too high - autoscaler can't kick in"
**What happened**:
I have autoscaler enabled on AKS, starting with 3 Standard_B2s nodes running around 30 pods, min count is 1, max count is 5. The pods show about 1.8 GiB of memory:
[code]
This should fit nicely on one single node. However, the nodes show this:
[code]
where does this memory usage come from? i have requests and limits set, but they are far from requiring 3 nodes:
[code]

**What yo

[2019-07-31 12:56] pankajagrawal16 commented on #326
What is the workaround for this issue until its fixed ? 🤔

[2019-07-31 13:46] pankajagrawal16 commented on #422
I am also facing the same issue.
I also generated a private load balancer ip and that was success.

Then i deleted my helm release and tried installing it again and since then its stuck with time out or waiting error

[2019-07-31 13:53] sam-cogan opened #1132 "Windows Node Updates"
If you follow the FAQ page here - https://docs.microsoft.com/en-us/azure/aks/faq it indicates that to apply Windows updates to your Windows VM nodes you have to use the AZ AKS nodepool upgrade command, which recreates the nodes with the latest OS image.

This is fine, except that AZ AKS nodepool upgrade only does this if you specify a kubernetes version newer than the one you have deployed to that

[2019-07-31 17:31] sesispla commented on #1117
+1 same issue here. Infrastructure, as code broke because of VNETs and Subnets, are manually created prior to the AKS Cluster.

[2019-07-31 23:03] brobichaud opened #1133 "Creating Windows nodepool with availability zones fails"
**What happened**: Trying to create a Windows nodepool that utilizes availability zones in a newly created cluster that uses AZ's and Standard LB. I am receiving this error when trying to create the nodepool:

**What you expected to happen**: For the nodepool creation command using az to complete and spread nodes across zones.

**How to reproduce it (as minimally and precisely as possible)**:
1. C

[2019-07-31 23:46] stevendstark commented on #118
Hello, I'm also running into the same issue. Has anyone been able to change the default storage class from AKS?

[2019-08-01 02:44] djsly commented on #1109
the removed 1.14.0 from the list if available version and it broke a bunch of stuff for :)

[2019-08-01 02:45] som-nitjsr commented on #1128
Hi @markusdresch i think this redirecting to the default backend only.
this is my ingress rule by default i wanted my request to go to the front end service but when i call the apis from front end it should go to the respective service.

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-dev
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingr

[2019-08-01 02:45] djsly commented on #1101
version 1.14.0 was removed from their available version list...

[2019-08-01 05:15] markusdresch commented on #1128
so /EmailAPI/ should route to /api/email/ ? or /api/EmailApi/ ? if it's the latter, you simply use `nginx.ingress.kubernetes.io/app-root: /api`. if it's the former, the easiest way would be to create a different ingress rule for every service and use `nginx.ingress.kubernetes.io/rewrite-target: /api/email` etc.

[2019-08-01 06:39] jluk commented on #1133
Thanks @brobichaud we're looking into this bug

[2019-08-01 08:25] newparul commented on #339
Error creating load balancer (will retry): failed to ensure load balancer for service default/hello-world: timed out waiting for the condition

getting this error while creating load balancer service in kubernetes cluster. have attached SP to the subnet both as contributer and subnet contributer but nothing helped...

[2019-08-01 13:52] ChrisRG711 commented on #1117
I am running into this issue as well from az aks create as well as the portal. is there any workaround at all?

[2019-08-01 23:00] xizhamsft commented on #1133
Found the problem. Will fix in next week's release.

[2019-08-01 23:02] brobichaud commented on #1133
Will the fix work with existing clusters that were created to support AZ's by creating a new Windows nodepool?

[2019-08-01 23:55] xizhamsft commented on #1133
Yeap. It should

[2019-08-02 00:00] brobichaud commented on #1133
@xizhamsft thank you! I'd appreciate it if you could update this issue when the fix is deployed. I am anxious to try it out. :-)

[2019-08-02 00:04] uipo78 opened #1135 "`matchLabels` under `NetworkPolicy`'s main `podSelector` section is matching by ANY label match, not EVERY label match"
**What happened**:

`matchLabels` under `NetworkPolicy`'s main `podSelector` section appear to select labels by ANY matching, not by every label matching that's under that section. This contradicts [this section of the Kubernetes docs.](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements)

**What you expected to happen**:

All lab

[2019-08-02 02:38] zhiweiv commented on #1132
Per https://github.com/MicrosoftDocs/azure-docs/issues/34407, it should be on the way.

[2019-08-02 04:38] akazemis commented on #224
still having the same issue, the thing is it was working until it didn't!

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4ca210618a89a555b6e7e9", GitTreeState:"clean", BuildDate:"2018-11-26T14:38:32Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitC

[2019-08-02 07:46] jluk commented on #1133
Xiaofang made a fix and set for release next week. Will let you know next week when to retry to confirm resolution.

[2019-08-02 15:26] kthompsonpros commented on #589
Can we get a confirmation on this? I too would like to verify if that is the case. Thank you.

[2019-08-02 16:01] jnoller commented on #589
That is correct, only the options (Kubenet, CNI and Calico) documented here are supported in AKS. We do not have current roadmap items to add Cillium or other support. https://docs.microsoft.com/en-us/azure/aks/use-network-policies

[2019-08-04 22:39] tmbgreaves commented on #1061
Great to see this is imminent -- thank you, a greatly appreciated feature!

Do you know roughly when this is expected to land in the CLI?

[2019-08-05 14:46] Shreyasnie opened #1136 "deprovision a single device from an enrollment group"
Regarding deprovision a single device from group enrolment we followed steps as described in below link

https://docs.microsoft.com/bs-latn-ba/azure/iot-dps/how-to-unprovision-devices

Devices were getting disabled previously but we tried to disable a device  last week its not working, individual enrolment is getting created for device with same deviceID even though it is disabled device status st

[2019-08-05 15:05] jnoller commented on #1136
This repository is only for AKS (Azure Kubernetes Service) and not other services such as IoT

[2019-08-05 15:05] #1136 closed

[2019-08-05 15:06] Pizzajongen commented on #1061
@jluk Creating new node pools with taints works great via the api but i can't seem to update my pools with new taints, is this a bug or this by design?

[2019-08-05 16:03] jluk commented on #1061
@tmbgreaves hopefully this month, but latest update will still be through this issue as we're working through the backlog.

@Pizzajongen great question, this is by design that node taints are a create-time property only. We'll update the documentation to clarify this!

[2019-08-05 16:18] jluk commented on #861
@jeffmartinxyz resurrecting this - so this is about manual scaling (not the cluster autoscaler) correct? Any updates on this front, trying to catch up to see the broader impact this issue may be having today.

[2019-08-05 21:21] brobichaud opened #1137 "Common Horizontal Pod Autoscaler events in AKS cluster"
**What happened**:
I am frequently seeing warning events regarding metrics and the horizontal pod autoscaler as seen below:
[code]

It's unclear to me whether this is truly an AKS setup issue or is really a k8s or hpa issue, so I'm starting here. I didn't see these when I had a raw AKS-Engine based cluster not long ago.

**What you expected to happen**:
For the HPA to successfully acquire metrics

[2019-08-06 07:03] alexmg commented on #224
I'm also seeing the same issue regularly from an Azure DevOps pipeline run on hosted agents. Looking at the logs from various containers *inside* the cluster I can see they are also failing to connect to the API.

[2019-08-06 07:10] Shreyasnie commented on #1136
Sorry My bad

[2019-08-06 09:15] sundipnair commented on #1133
@xizhamsft , Have you created a new issue for this or should I watch this issue?

[2019-08-06 10:00] MikkelHegn commented on #1101
This doc [](https://docs.microsoft.com/en-us//azure/aks/windows-container-cli) has been updated to reflect the change in available versions.

[2019-08-06 10:00] #1101 closed

[2019-08-06 11:26] rrskris commented on #450
Good Day,

Is the PodPreset feature available on AKS yet ?

[2019-08-06 11:29] SychevIgor commented on #366
As it was mentioned

"AKS Team (Product Manager, Microsoft Azure) responded  ·  November 13, 2018
This is now enabled automatically in AKS for supported VM SKUs."

[2019-08-06 12:15] ball-hayden opened #1138 "Network policies are incorrectly merged"
Searched for existing default-deny network policy issues, but couldn't find anything.

**What happened**:

Define the following resources:

<details>
<summary>Resources</summary>

<pre>
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: console-netpol
spec:
  podSelector:
    matchLabels:
      console: "console"
  policyTypes:
  - Egress
  - Ingress
  egress:
    - {}
  ingres

[2019-08-06 13:45] immunochomik commented on #945
Just wanted to say that autoscaling based on load is a necessary feature of a managed k8s cluster. So VMSS is extremely important to AKS users!

[2019-08-06 14:32] ngrigoriev commented on #1014
As a workaround, should we consider "exec" liveness probes instead of httpGet? Although this "exec" will most likely will still do an HTTP request inside of the containers so I am not sure if it will make a difference.

[2019-08-06 15:09] derekrprice commented on #750
This is currently happening to us and crashing our cluster weekly.  I would really appreciate that DaemonSet workaround if you could provide a complete implementation.  A fix on the AKS side would be even better!

[2019-08-06 15:12] derekrprice commented on #750
@marekr, can you provide the DaemonSet configuration that you use to do this?

Thanks!

[2019-08-06 15:24] zerda commented on #323
How about [Dynamic Kubelet Configuration](https://kubernetes.io/blog/2018/07/11/dynamic-kubelet-configuration/) ?

I'm using `--authentication-token-webhook=true` to enable service account tokens to be used to authenticate to the kubelet.

It's required by `kube-prometheus` to scrape the kubelet metrics.

[2019-08-06 16:01] tomkerkhove commented on #945
@immunochomik 	That is correct, do you have a concern on this? Because it's already available in public preview.

[2019-08-06 17:34] jluk commented on #945
@jnoller can we scope this issue a bit? Is this one meant to be closed upon VMSS GA?

[2019-08-06 18:27] jnoller commented on #945
@rewt if you have an issue, please file a new bug or otherwise raise a support issue. This is a feature card and not related to any other bug.

[2019-08-06 19:27] nwbt commented on #646
@poochwashere any update worth sharing?

I see this happening in a cluster with tunnelfront on version v1.9.2-v3.0.6, but not occurring on a cluster with version v1.9.2-v4.0.7. Is there a way to have the AKS cluster update to the v4.0.7 version?

[2019-08-06 20:01] michael-burt commented on #52
I would really like to see this feature. It is already supported on GKE and EKS and we use it extensively there. The only workaround I have come up with at AKS is to delete the node pool and then rebuild it when I need to use it again... luckily I already had to write this functionality because AKS (unlike EKS and GKE) also does not support vertically scaling the node pools.

I think you guys shou

[2019-08-06 20:07] jnoller commented on #52
We are evaluating options for scaling to zero after we complete the committed roadmap items listed here: https://github.com/Azure/AKS/projects/1 when we have further line of sight on how and when, we will add this card to the roadmap linked for tracking.

[2019-08-06 20:20] sauryadas commented on #1138
@song-jiang This is expected behavior right ?

Order of creation appears to be important. Creating the default-deny policy, then adding the test-netpol works as expected. Creating them the other way round causes the pod to be inaccessible.

[2019-08-06 20:37] michael-burt commented on #52
Thanks. I am glad to see API server ingress and multi-AZ support on there.

[2019-08-06 20:42] ball-hayden commented on #1138
I'll see if I can find a better reference, but I'd argue this is not expected behaviour.

https://serverfault.com/a/952221

[2019-08-06 20:52] ball-hayden commented on #1138
From the K8s API reference (my bold):

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#networkpolicyspec-v1beta1-extensions

In the case above both network policies' podSelector matches `test-deployment` pods. When attempting to access the pod, at least one of the ingress rules matches so traffic should be allowed (regardless of order of creation of the network policies).

[2019-08-06 21:01] matthew-horrocks opened #1139 "When using virtual nodes pods are not created if the Downward API status.podIP value is requested in the yaml file"
When using virtual nodes, it's not possible to access the [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/) ```status.podIP``` value.

If you try and use the ```status.podIP``` value in your ```.yaml``` file, the pod ends up in a ```NotFound``` state and another pod is created. This cycle goes on and on and on and on.

[code]

I r

[2019-08-06 21:55] bobrundle opened #1140 "Why ingress only on Linux nodes?"
I'm setting up an AKS cluster with Windows agent nodes.  The limitations document https://docs.microsoft.com/en-us//azure/aks/windows-node-limitations says to schedule ingress controllers only on Linux nodes.

However I have the cluster completely set up with ingress controllers on the Windows nodes and everything seems to be working fine.

This seems to be more a recommendation than a limitation.

[2019-08-06 23:20] jluk commented on #643
This issue is about service objects, defer to @jnoller if the control plane use of SLB should be captured in a separate issue.

[2019-08-07 01:59] KhoaNPA opened #1141 "Expose service on AKS via Istio Ingress - Error 500"
**Bug description**
I tried to expose my services on AKS with Istio Ingress, but I think I misunderstood something when routing services.
When I test my api, it returns 500 error.

![smartid](https://user-images.githubusercontent.com/17474501/62588912-abc5b200-b8f1-11e9-86ca-2831c858aa6c.png)

**I also create issue on Istio github [istio/istio/issues/16069](https://github.com/istio/istio/issues/16

[2019-08-07 02:59] alanjcastonguay commented on #1140
I doubt it's anything to do with Ingress and everything to do with Network Connections or availability of a Windows Ingress Controller. Which ingress controller are you running on a Windows node?

[2019-08-07 04:22] andyzhangx commented on #1105
let me know if you have any other question

[2019-08-07 04:22] #1105 closed

[2019-08-07 09:51] arjovanramshorst commented on #1009
When using the method specified above, I get the following error:

[code]
Any idea what causes this and if there is a workaround? I currently am unable to pull new images from the ACR, since the old secret has expired, and have been struggling with this now for a while

[2019-08-07 11:40] bobrundle commented on #1140
I've written my own ASP.NET Core ingress controller.  As some point I will put it in a Linux container and see if it performs better on the Linux node.  I would prefer not to do that however.  I just have this feeling that keeping everything Windows will simply deployment and a lot of other stuff.  As it is however, I have one Linux agent VM in my cluster that does nothing and that bothers me also

[2019-08-07 16:18] cwebbtw opened #1142 "AKS should allow upgrade to v1.13.9 release to address CVE-2019-11247, CVE-2019-11249"
I'm sure the team are aware of this, but creating a github issue against AKS to ensure we can track this.

https://groups.google.com/forum/m/#!topic/kubernetes-security-announce/vUtEcSEY6SM

The following issues have been closed on the Kubernetes project, but require upgrade to 1.13.9.

https://github.com/kubernetes/kubernetes/issues/80983
https://github.com/kubernetes/kubernetes/issues/80984

Cur

[2019-08-07 16:37] chelnak opened #1143 "PodNodeSelector support"
This is more of a question than an issue.

Does AKS support PodNodeSelector configuration?

It would be nice to be able to assign specific namespaces to nodepools.

Thanks
Craig

[2019-08-07 21:52] jnoller commented on #1142
Thank you @cwebbtw - we're working on a release with the patched versions as we speak. When those are rolling out to all regions we will update this issue.

[2019-08-07 21:58] gbreeze opened #1144 "Azure File - Premium_LRS - ProvisioningFailed - no such host"
Hey

I'm getting the following error if I use azure-file with Premium_LRS. Everything is fine with Standard_LRS.

[code]

Any suggestions?

[code]

[2019-08-08 06:28] ams0 commented on #1138
Tried to repro, it works. Deleting and recreating the `test-netpol` policy has the desired effect (deny/allow traffic). Using Kubenet+calico on 1.14.3.

[2019-08-08 06:32] ball-hayden commented on #1138
Interesting. I was using CNI and Azure backed network policies.

[2019-08-08 11:47] liamfoneill commented on #1117
+1 On Terraform

[2019-08-08 14:06] rivetmichael commented on #642
same with 1.13.5

[2019-08-08 15:41] derekrprice commented on #750
@reaperes's systemd cgroup cleanup code from kubernetes/kubernetes#64137 seemed the cleanest and most surgical of all the workarounds that I've found documented for this and the related issues, so I've converted it into a DaemonSet that runs the fix hourly on every node in a cluster.  You could set any interval that you like, of course, but the script isn't very resource intensive and hourly seeme

[2019-08-08 15:58] #1097 closed

[2019-08-08 19:03] brobichaud commented on #1029
@MikkelHegn we've now had a cluster with the 10.0.17763.557 Windows release running for about a week and it does seem to have cleared up the pod startup DNS issues we were seeing. Thank you!

We do still see the port exhaustion issue when liveness probes are enabled, as referenced here: https://github.com/Azure/AKS/issues/1014

[2019-08-08 21:16] xizhamsft commented on #1133
@sundipnair , @brobichaud , the fix is  available in US regions now. Please give it a try. It will reach all regions by end of this week.

[2019-08-08 21:33] sauryadas commented on #1138
thanks for confirming.

@aanandr Can you please take a look at this?

[2019-08-08 22:15] palma21 commented on #205
Today you can restrict outbound connectivity as per https://aka.ms/aks/egress.
Inbound connectivity is not required.

For this you can use NSGs or FWs: eg. https://aka.ms/aks/secure

We will evaluate providing support to define proxy settings at create time and fully disconnected create options.

[2019-08-08 22:20] jnoller opened #1145 "AKS guidance/updates for Kubernetes vulnerabilities CVE-2019-11247, CVE-2019-11249"
Note: This issue will be updated as new information is available

On Monday August 5th (2019-08-05) the Kubernetes development team disclosed two critical security issues (CVE-2019-11247, CVE-2019-11249). These CVEs require customers to upgrade both their AKS clusters and the `kubectl` command line tool. The CVEs are:

* [CVE-2019-11247][1]: "API server allows access to custom resources via wrong

[2019-08-08 22:36] palma21 commented on #444
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#networking

[2019-08-08 22:36] #444 closed

[2019-08-08 22:42] palma21 commented on #405
Most of the issues above have been individually rooted to upstream bugs already solved, long disk detach times and others.

If you still have an issue make sure to open a support ticket and we will follow up directly, if you think it's widespread please open a new ticket with the specifics of you case and following:
https://github.com/Azure/AKS#bug-reports-

[2019-08-08 22:42] #405 closed

[2019-08-08 22:44] brobichaud commented on #1133
@xizhamsft I've tried to create a new nodepool a few times and am seeing errors like this:

Here's the cli command I am using:
`az aks nodepool add -g mygroup --cluster-name mycluster -n win5 --os-type Windows --node-vm-size Standard_F8s_v2 --node-count 2 --node-zones 1 2 3`

The cluster itself was created (as described in this initial issue with these options:

[2019-08-08 22:45] #417 closed

[2019-08-08 22:48] palma21 commented on #517
Today the dashboard SA has not privileges by default.
We recommend token auth to avoid privilege escalation.

[2019-08-08 22:48] #517 closed

[2019-08-08 22:48] caruccio commented on #1124
Have you guys found the solution? I've noticed AKS creates a second resource group for the node pools with address space's CIDR  10.x.x.x/24, which matches the `maximum allowed value of  256`.

[2019-08-08 22:52] palma21 commented on #520
Fixed

[2019-08-08 22:52] #520 closed

[2019-08-08 22:56] palma21 commented on #558
Possible today:
https://docs.microsoft.com/en-us/azure/aks/ingress-basic
or
https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip

[2019-08-08 22:56] #558 closed

[2019-08-08 22:57] palma21 commented on #561
Fixed

[2019-08-08 22:57] #561 closed

[2019-08-08 22:58] palma21 commented on #606
Fixed

[2019-08-08 22:58] #606 closed

[2019-08-08 23:00] jluk commented on #861
@jeffmartinxyz I am closing this issue as it looks to only happen on VMAS + cluster autoscaler. this configuration is not supported in AKS given VMSS is a pre-requisite to use the CA feature.

[2019-08-08 23:00] #861 closed

[2019-08-08 23:05] palma21 commented on #621
Have you removed the lock and deleted the service? Or deleted the IP or LB manually?
Alternatively create the IP manually and specify it at svc manifest, so the lb will pick this new IP

And to avoid this, place the IPs in a different RG than the cluster, so you can leave a lock in the cluster RG but not on the IP RG.
Define the IPs on the svc manifest using annotations as per:
https://github.com/

[2019-08-08 23:05] #621 closed

[2019-08-08 23:12] #624 closed

[2019-08-08 23:32] palma21 commented on #646
@nwbt please run `az aks upgrade `to a newer version

@ball-hayden that looks like the np could be blocking the needed api-agent comm.
no np applied should just work.
If you have a cluster without network policies that sees this please check firewall, proxy or nsg stopping traffic. If nothing is stopping traffic and you have no np, please open a ticket and feel free to report back. Ask for an esca

[2019-08-08 23:32] #646 closed

[2019-08-08 23:33] palma21 commented on #652
Fixed

[2019-08-08 23:33] #652 closed

[2019-08-08 23:45] palma21 commented on #717
Fixed. Portal/CLI/ARM/SDK no longer accepts dots

[2019-08-08 23:45] #717 closed

[2019-08-08 23:59] palma21 commented on #800
Stopping the VMs is not a supported config as per our documentation. You should leverage only AKS APIs and not the underlying platform APIs.
Nonetheless we added some logic to make this more resilient.

A better way would be scaling to the minimum. Or at least scaling to 1 and powering off.

let us know if you still experience these issues regularly

[2019-08-08 23:59] #800 closed

[2019-08-09 00:20] palma21 commented on #843
What is the RoleBinding for the user and the group?

[2019-08-09 00:22] palma21 commented on #1031
Could you please open a support ticket?

[2019-08-09 00:24] palma21 commented on #869
Fixed

[2019-08-09 00:24] #869 closed

[2019-08-09 00:26] palma21 commented on #958
Closing since the support for the requested feature is there

Any feature request for terraform support can be done directly in
https://github.com/terraform-providers/terraform-provider-azurerm

[2019-08-09 00:26] #958 closed

[2019-08-09 00:31] palma21 commented on #1140
Linux VM is required for k8s and AKS system components that are only available on Linux today.

If you wrote your own windows ingress controller you can totally use it on the windows nodes.
We'd love to see it btw :)

[2019-08-09 00:33] palma21 commented on #1071
You can use pre-created IPs but not pre-created LBs. Today the LB is created by the service and controlled by k8s.

Could you explain a bit the use case for creating the LB yourself?

[2019-08-09 00:37] palma21 commented on #1090
That is an error initializing kubelet. Could you follow the official AKS documentation with e.g another version like 1.13 and see if it works or not?
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

[2019-08-09 00:44] palma21 commented on #179
Added property as noted by brantb

[2019-08-09 00:44] #179 closed

[2019-08-09 00:46] palma21 commented on #207
You can now pass tags as you create aks and they will be persisted on the MC resource group.
This is possible via Portal, CLI or ARM

Additionally you can also use Azure Policy to enforce your tags.

[2019-08-09 00:46] #207 closed

[2019-08-09 00:57] #211 closed

[2019-08-09 01:12] xuto2 commented on #1084
I think this is limitation from k8s Azure cloud provider. Right now the cloud provider always assume the user provided ip is a public ip address in the node resource group. So
1. "52.255.212.152/30" is a public ip prefix but not a IP, cloud provider won't recognize it
2. "52.255.212.154" is a public ip within the prefix range, but you probably didn't create it yet. It needs to be shown in the reso

[2019-08-09 01:14] xuto2 commented on #1084
Re: "It works fine when I provision a public ip directly (so not via public ip prefix)."

I bet if you create the public ip from the public ip prefix, then you can assign that public ip to the service.

To create public ip from ip prefix:
https://docs.microsoft.com/en-us/azure/virtual-network/manage-public-ip-address-prefix#create-a-static-public-ip-address-from-a-prefix

[2019-08-09 02:16] yuwzho commented on #621
I don't think this is a solution for this issue, since as a user I must clearly knows what's the Azure resources' behavior when I wanna manage the K8S resources. That's is all because the new created k8s resources goes to check previous one's log, which doesn't make sense. For instance, when you create an Azure resource A, and put it in a poor condition then delete it, after that you wanna create

[2019-08-09 03:34] jluk commented on #782
Thanks for confirm @Lachlan-White closing as a result of your confirm.

[2019-08-09 03:34] #782 closed

[2019-08-09 03:36] jluk commented on #783
@jlpedrosa closing this since it looks like the TF issue referenced has been fixed.

[2019-08-09 03:36] #783 closed

[2019-08-09 03:45] jluk commented on #769
@patrickmslatteryvt closing as I believe this is addressed, but I have a few flags on my sub so it may not match yours. Closing for now but please re-open if not and I will take a follow-up action.

[2019-08-09 03:45] #769 closed

[2019-08-09 03:46] jluk commented on #756
Thanks for your patience folks, this is still on the plan and we are investing in it.

[2019-08-09 03:48] jluk commented on #728
@srrengar is this on the radar?

[2019-08-09 03:53] jluk commented on #897
@jnoller what resources prompt a double confirm? I know RG's do, but tried registry as well and it just goes straight to delete.

@jenetlan thoughts on this?

[2019-08-09 03:59] jluk commented on #854
@swapzero is this still occurring for you and are you using a VMAS or VMSS backed cluster?

[2019-08-09 04:02] jluk commented on #984
We've spoken with the ARM team who has acknowledged this ask and is working towards an ETA. FYI @KrisBash

[2019-08-09 04:03] jluk commented on #983
@dazmsft yes this should work for both, given it is in preview state let us know your findings though.

[2019-08-09 04:04] jluk commented on #975
@ChrisRG711 could you take a look at @palma21 advice above and let us know your findings if this is still occurring?

[2019-08-09 04:08] jluk commented on #937
@jberezanski-mdg could you give this a retry with the 2019-06-01 API? According to our release notes this should be supported now, I have a feeling it's not showing on the rest ref due to handling of the promo name types.

Closing for now, but please re-open if it does not work and we will take another look.

https://github.com/Azure/AKS/releases/tag/2019-07-15

[2019-08-09 04:12] jluk commented on #1040
@srrengar or @relferreira was this incident ever closed?

[2019-08-09 04:21] jluk commented on #1021
Thanks for report @asc-adean I tried a repro and was able to delete the nodepool. As a result closing this issue, but we will improve the error message kicked back from the false input provided.

[2019-08-09 04:21] #1021 closed

[2019-08-09 04:24] jluk commented on #1079
@flamingboo not currently as it's in a limited preview state. Setting this as a feature ask and will feed this into the preview feedback.

[2019-08-09 04:25] jluk commented on #1079
FYI @ritazh / @LizMS for discussion in next meetings

[2019-08-09 04:31] jluk commented on #1140
@MikkelHegn FYI feedback on Windows documentation.

[2019-08-09 04:35] jluk commented on #1131
@markusdresch would you mind trying to repro this and provide same output on a comparable non burstable (B-series) VM SKU?

[2019-08-09 04:38] jluk commented on #1130
@jeffmartinxyz as discussed internally this has been triaged. Matching the statement on the public issue, user tolerations set on AKS managed kube-system pods are not guaranteed to persist. However, system pods should be scheduling onto nodes regardless of the user defined taints and we will address the latter part of this. Updating the issue to reflect this.

[2019-08-09 07:34] Vandersteen commented on #607
When I turn this on in the configmap nginx stops working and throws errors like:

[code]

I turned this on by setting [use-proxy-protocol](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-proxy-protocol) in the configmap to true.

k8s: 1.13.5
nginx: nginx-ingress-1.3.1 (helm chart)

[2019-08-09 09:16] feiskyer commented on #326
There are a couple of issues on this page. @pankajagrawal16 Could you check kube-controller-manager logs and figure out what errors are reporting there?

[2019-08-09 09:40] MikkelHegn commented on #1140
Thx @bobrundle - This is a recommendation based on available ingress controllers in the eco-system. I'll get the doc updated to reflect this.

[2019-08-09 10:07] xavierrh commented on #68
Hi,
Same issue on our side. As a workaround, we launch the following command in another PowerShell prompt to keep the tunnel alive:
`while(1) { Invoke-RestMethod -Uri 127.0.0.1:8001 ; start-sleep -seconds 1 }`

Hope it helps in the meanwhile.

[2019-08-09 10:19] MikkelHegn commented on #1029
Thx for the feedback.

For upgrading node pools, existing node pools are non-upgradeable due to a change in the Azure image offering we use. The path to get new Windows OS for existing clusters are:

1. Upgrade cluster (control plane) to latest K8 version (1.14.5 is rolling out with a CVE fix).
2. Create a new node pool
3. Migrate workloads
4. Decommission old node pool

I will close this issue.

[2019-08-09 10:19] #1029 closed

[2019-08-09 10:20] MikkelHegn commented on #1014
Liveness / readiness probe issue is in the upcoming Windows image to be release on patch Tuesday in September. That image will be available in AKS soon thereafter.

[2019-08-09 12:26] ChrisRG711 commented on #975
@palma21 @jluk  I opened a ticket with MS Support and ended up walking through several things including using the cloud shell and bash. The fix was 2 fold. something in cap sensitivity for the subnet name and then post that changing the service cidr to prevent a overlap with another subnet

[2019-08-09 13:26] levilugato commented on #642
same problem hear 1.13.5, randomly we receive 504 gateway timeout , we have an aplication gateway in front of our internal load balancer and using Isitio Ingress

[2019-08-09 14:11] caruccio commented on #1124
Please ignore my previous post. It was totally unrelated to this issue.

[2019-08-09 16:49] mkostersitz commented on #1014
@ngrigoriev, @JocelynBerrendonner  is out on PTO. Let me try to answer this instead.

running a probe like action with exec is most likely not going to change the outcome I am afraid. I did a quick test on my cluster and saw a small statistically non relevant decrease in failed probes. especially because if the liveness probe failed the exec seemed to fail in 30-40% of the cases too in around 24 h

[2019-08-09 17:14] MikkelHegn commented on #1093
The non-preview version of the cli does not support Windows at this point. But using the preview-cli to create the cluster, and then add the add-on using the non-preview cli is an option: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-enable-existing-clusters#enable-using-azure-cli

[2019-08-09 17:15] mostafaez commented on #1040
The ticket was resolved long ago. The container was succeeding and had deployed with restart policy always.

[2019-08-09 17:19] ganga1980 commented on #1093
@MikkelHegn  @johan-dupreez,   I have made  an PR on the aks-preview CLI to fix this issue. I am waiting for the aks-preview  CLI owners to review to get this merged.

[2019-08-09 17:43] jenetlan commented on #897
Interesting - for individual resources the only one I know of is storage accounts, and that's because it always stores data so we wanted to be super careful. VMs and the vast majority of other resources offer the confirmation dialogue ("are you sure you want to delete the resource 'myResource'?") but don't require the user to re-type the names or anything more serious. I haven't heard of any issue

[2019-08-09 17:54] jluk commented on #897
@jenetlan I believe that is the case.

This one seems like a portal call, but I am supportive of double asking since AKS ties the cluster to the MC RG - it effectively behaves like an RG and deleting it has cascading deletes into compute/network/storage.

[2019-08-09 17:57] jluk commented on #1040
Thanks @mostafaez for confirm, closing this issue as a result.

[2019-08-09 17:57] #1040 closed

[2019-08-09 17:59] jluk commented on #975
@chrisrg711 thanks for confirming, I'm assuming this was resolved then so closing the ticket. If you need help with other service issues support tickets are always the fastest route to resolution, but we will try to respond to issues here as well. Thanks for initial report.

[2019-08-09 17:59] #975 closed

[2019-08-09 18:00] jluk commented on #1140
Closing this question given the action we will take to clarify it can be setup if custom handled.

[2019-08-09 18:00] #1140 closed

[2019-08-09 19:45] palma21 commented on #326
For the number of issues in this thread:

1) 403/404 issues have been fixed in https://github.com/kubernetes/kubernetes/pull/75256 and included in v1.14.0 and above versions

2) Azure LoadBalancer Finalizer is added in https://github.com/kubernetes/kubernetes/pull/78262 as an alpha feature in v1.15.x, so it would not available until it goes to beta in next releases.

3) For Nic error issues, pleas

[2019-08-09 20:25] djsly commented on #326
thanks @palma21 , regarding 2.  will AKS support a way for the user to enable selected Alpha feature eventually?

the LB finalizer is a long waited feature and it would be a bummer if the feature stays alpha in 1.16 and we only see it available in Kubernetes 1.17, hence almost in 1 year from now for AKS support.

If users control is out of the question for AKS, do you have run some selected Alpha

[2019-08-09 20:43] amadav commented on #945
Is there a way using java sdk to create cluster with VMSS enabled? I have already enabled the preview feature to be created from CLI. Would appreciate any pointers.

[2019-08-09 20:50] jluk commented on #945
@amadav this is defined by the agentpooltype, hope this helps.

https://github.com/Azure/azure-sdk-for-java/blob/master/containerservice/resource-manager/v2019_04_01/src/main/java/com/microsoft/azure/management/containerservice/v2019_04_01/AgentPoolType.java#L18

[2019-08-09 20:59] amadav commented on #945
Thanks a lot @jluk. I will try this. I am trying to enable cluster autoscaler on this aks cluster and figuring how to do that outside CLI would be my next part of exploration :)

[2019-08-09 21:35] pankajagrawal16 commented on #326
@feiskyer I did not checked that before redoing everything again by destroying AKS and recreating it. That worked in next time even thought not a ideal solution. I am guess that I was too quick to purge a helm release and re deploy it again which was supposed to create a internal load balancer ip on AKS before the cleanup of load balancer was even done.

Not sure though

[2019-08-10 03:47] andyzhangx commented on #1144
/assign

[2019-08-11 21:01] bergerx commented on #1143
Seems like "not".

You need the "PodNodeSelector" admission controller to be enabled to use it, but according to https://docs.microsoft.com/en-us/azure/aks/faq#what-kubernetes-admission-controllers-does-aks-support-can-admission-controllers-be-added-or-removed its not one of the enabled admission controllers. Admission controllers are not configurable in AKS, you cant add or remove.

[2019-08-11 22:12] bergerx commented on #1138
Could #1135 be related to this?

[2019-08-11 22:15] sauryadas commented on #1135
@aanandr can you please take a look?

[2019-08-11 22:16] sauryadas commented on #1135
@uipo78 Can you please confirm you are using Azure network policies?

[2019-08-11 23:52] uipo78 commented on #1135
I'm using standard Kubernetes network policies on clusters using the Azure CNI.

[2019-08-12 08:39] MikkelHegn commented on #1137
Could this be caused by this issue with slow response from the api? https://github.com/kubernetes/kubernetes/issues/75752

I've seen metrics become unavailable through kubectl top nodes, with e.g. 10 containers on a Windows node.

[2019-08-12 08:51] MikkelHegn commented on #1132
Correct - we are working on closing the gap to enable nodepool OS upgrades independent of Kubernetes upgrades. In the meantime, only option is to create new node pools and migrate workloads.

To clarify the upgrade flow, you first need to run a cluster Kubernetes version upgrade, then you will get the new OS versions available for nodepools. Same upgrade constraint existing for cluster upgrades. h

[2019-08-12 09:42] song-jiang commented on #1138
@sauryadas Sorry for the late response. Just back from vacation. Calico implements kubernetes network policies by converting them to calico network policies with priorities where default-deny will be made as least priority. The order of how user creating those policies does not affect policy priorities.

[2019-08-12 09:58] MikkelHegn commented on #1093
@ganga1980 Can you please ref the PR here for trackability? Thanks.

[2019-08-12 13:23] artisticcheese opened #1146 "New node pools are onboarded to Default Log Analytics workspace"
**What happened**:
AKS cluster created with custom Log Analytics Workspace, when added new nodepools to it they are onboarded automatically to Default Log Analytics Workspace and not inherit cluster Log Analytics workspace. This happens with Windows nodepool (might be happening with Linux too)

**What you expected to happen**:
New nodepools shall be sending logs to the same workspace as parent AKS

[2019-08-12 13:41] eidnirav commented on #1146
in this situation where I specified a workspaceID when creating an aks cluster, I actually have noticed that the new  VMSS is not added to any Log Analytics workspace, and I have to add the vmss manually.

[2019-08-12 16:48] athulase commented on #642
Same issue here. Receiving time out error, if the application is running for long time. If application runs for short amount time, it return perfectly and gracefully.

[2019-08-12 19:30] hdiass commented on #808
Is it safe to upgrade now from `v.1.11.10` to `v1.12.8` without any dns disruption (no custom kube-dns configs) ?

[2019-08-12 22:30] chelnak commented on #1143
Cheers. Hadn't seen that doc before. 👍

Hopefully it will come in the future.

[2019-08-12 23:00] jluk commented on #1043
@karataliu could you please give this a retry? We pushed a fix for this and it should be resolved. Closing as a result but please re-open if it is still hitting you.

[2019-08-12 23:00] #1043 closed

[2019-08-13 02:53] eidnirav commented on #1146
I updated the windows VMSS using "az vmss extension set", and got the following message when I browsed to the "insights" tab of the VMSS in the portal... looks like only some regions are fully supporting this. could this be root cause (why the workspace specified during aks creation is not propogated to its vmss)?

![image](https://user-images.githubusercontent.com/16802874/62911802-ab933f80-bd53-