[2020-09-03 21:25] alikor opened #1836 "Windows Containers that use livenessProbe & readinessProbe using ExecAction fail"
**What happened**:

When Attempting either a livenessProbe or livenessProbe exec action  like the following fail

          livenessProbe:
            exec:
              command:
              - "dir"
          readinessProbe:
            exec:
              command:
              - "dir"

Regardless of the actual command used and I have tried

- dir
- Get-Date
- c:\customs.ps1
- powershell -comm

[2020-09-03 22:51] palma21 commented on #1746
As Yun mentioned, k8s does not allow to use such labels on newer versions. Kubelet will reject them and fail. Please create new nodepools with different labels and delete these ones, then you can upgrade to 1.16 Or alternatively upgrade just the control plane and create the new node pools in the new version directly (and with the new labels).
 Also feel free to open a support ticket if you want us

[2020-09-03 22:51] palma21 commented on #1746
@yunjchoi could we have a detector for these labels as well?

[2020-09-04 02:43] andyzhangx commented on #1756
@cccs-jc could you run a container to do the test? I don't think it's related to AKS itself, it could be due to:
 - different download directory
 - different kernel setting between your container and VM

Here is an example how do we tuning kernel config for container running on VM:
https://github.com/andyzhangx/demo/blob/bceaba1d8020638216e04da6f8233ec61c889235/dev/sysctl_ds.yaml#L33-L34

[2020-09-04 03:05] zhiweiv commented on #1765
The fix has been merged to k8s 1.17 branch(https://github.com/kubernetes/kubernetes/pull/94042), the recent release should be 1.17.12 in this month, do you know when this will be inclued to AKS?

[2020-09-04 05:22] AljoschaP opened #1837 "Failure of Azure Policy/Gatekeeper leads to problems with the control plane"
**What happened**:
A failure of the Azure Policy/Gatekeeper webhook leads to problems with the control plane of k8s. In a complex scenario, e.g. with components who depend on the API-Server, this can cause problems with the running applications inside the cluster and impedes the control of the cluster.

**What you expected to happen**:
A failure of gatekeeper doesn't have an impact on the control

[2020-09-04 08:43] dhananjaya-senanayake commented on #1810
Following is the RCA provided by Azure Support on the 2nd incident.

- What caused the issue in NPM v1.1.5?

A typo in code caused this this issue. The feature customer using is called "named ports", NPM started supporting this feature from this May, version 1.1.1

https://github.com/Azure/azure-container-networking/pull/553

A change in v1.1.5 which has a typo in set type cause named ports featur

[2020-09-04 11:21] iamsoorya opened #1838 "az aks update attach-acr command failing with owner rbac requirement"
We are trying to automate the end to end AKS deployment. However, below command requires

az aks update --resource-group rg--prod-1 --name aks-grod-1 --attach-acr /subscriptions/9-6af2/resourceGroups/rg-cprod/providers/Microsoft.ContainerRegistry/registries/azurecr

2020-09-04T09:56:59.4720785Z Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role

[2020-09-04 14:31] SP-SuperPoney commented on #1517
[...]

In order to use this you must enable admin account :
`Run 'az acr update -n <ACR_NAME> --admin-enabled true' to enable admin first.`

BTW this is a bug.

In my case ACR is located in subscriptionA and I can't attach it to my subscriptionB AKS cluster...

[2020-09-04 15:54] jayush commented on #1835
+1, we cannot even update node labels on a node pool before we upgrade to address this problem.

https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools

[2020-09-04 15:58] jonathan-hurley commented on #1835
+1 We also saw this recently on a 1.15 to 1.16 upgrade.

We are unable to change our node labels to be compliant with 1.16, so our upgrade completely fails. We kind of need this ability so that:

- We can have a successful upgrade to 1.16
- We can adjust our `nodeSelectors` to the appropriate new labels so pods land correctly.

[2020-09-04 15:59] ncole commented on #1835
+1.  Ideally just upgrading from 1.15 to 1.16 should Just Work.  As it is the portal just hangs for over an hour until it fails with no meaningful information.

The ability to update node labels after creation is also critically important.  Not only setting the labels, but propagating the change to the existing nodes should be part of the update.

[2020-09-04 16:40] keikhara commented on #1830
Docker has log rotation for their logs. You can check this here: https://docs.docker.com/config/containers/logging/configure/

Also for Kubernetes, you will need to do set using following tool like NSSM:
https://nssm.cc/usage#File%20rotation%20tab

[2020-09-04 18:23] akosbalazs commented on #1565
@marwanad Thanks for the help & tips so far. We've been using NC6 (non-promo) instances and the scaling to/from zero works like a charm. Any ETA on when the fix for the `_Promo` suffix will be backported to 1.15? We can also consider upgrading to 1.16 if needed. 1.18 isn't available in the West Europe region yet and we need to keep our data inside the EU.

[2020-09-05 18:22] digeler opened #1839 "when enable private endpoint with aks vnet and private dns ,dns forward is not working correctly"
**What happened**:
i have enabled private link for two resources:  service.bus and documents.
i have pods that are having name resolution issues , happens only when i connect the link to the vnet.

**What you expected to happen**: forward the dns request to external if the record is not in the list of the private dns linked to this vnet.

**How to reproduce it (as minimally and precisely as possib

[2020-09-06 07:51] Win32Sector commented on #1826
It was my error.
The working Dockerfile is

[code]

[2020-09-06 08:05] andyzhangx commented on #1826
thanks for the confirm

[2020-09-06 08:05] #1826 closed

[2020-09-06 08:07] andyzhangx commented on #1834
FYI. The fix is already rolling out in next week's release, would be fixed on all regions in around 9/20

[2020-09-06 08:11] Win32Sector opened #1840 "How can I check why topologyKeys doesn't work"
Hello!

I'm trying to configure a pod from one Windows node through the service to access another pod on the same node.

I added in the service manifest

[code]

but the pod, which accessed the second pod through the service, still went to both endpoints - on the same node and on the other.

Does the topologyKeys functionality for services work on Windows nodes?
On the nodes I see topologyKeys lab

[2020-09-06 09:55] sumitKash commented on #173
Not sure if it is "Kubectl get cs" command issue or something is actually wrong in setup.

I am using kubernetes version v1.18.8
[code]
Or there's a change in kubernetes version 1.18.x? Port 10252/10251 are not in listning state if i check it using netstat command.

[code]
The same thing works on v1.17.4

[2020-09-07 00:23] lissff commented on #1819
@palma21 is the change gonna shown in AKS's release note?

[2020-09-07 01:29] zhiweiv commented on #1397
Keep this active since there is no update from https://github.com/microsoft/Windows-Containers/issues/35 yet.

[2020-09-07 01:40] JaeTLDR opened #1841 "AKS not following kubespec 1.16.x PriorityClassName unknown field"
**What happened**:
when creating a deployment with a priority class using Azure DevOps kubectl task it errors saying it does not match the deployment spec
`error validating data: ValidationError(deployment.spec.template): unknown field "priorityClassName" in io.k8s.api.core.v1.PodTemplateSpec;`
**What you expected to happen**:
A deployment with the correct priorityClass deployed successfully to ku

[2020-09-07 06:13] TomGeske commented on #1838
This error message is misleading. You need User [Access Administrator Permissions](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#user-access-administrator) on resource scope (in this example ACR scope)

@norshtein: can you adjust the error message?

[2020-09-07 07:01] #1074 closed

[2020-09-07 07:08] TomGeske commented on #1517
@SP-SuperPoney: If you are running latest CLI + extension and still see the problem, please open a support ticket with us.

[2020-09-07 08:00] SP-SuperPoney commented on #1517
Thanks @TomGeske for you comment.
I'm using Azure Cloud Shell which is at the latest version (I think...).
I'll open a support ticket.

[code]

Best regards.

[2020-09-07 09:25] MikkelHegn commented on #1522
Will update docs with this requirement and limitation on authorized ip ranges.

[2020-09-07 09:56] Mahesh-MSFT opened #1842 "AKS ARM template with property outboundType=userDefinedRouting results in validaiton failure related to subnet"
Issue with AKS ARM Templates.

### Issue Details
I did not find any example of AKS ARM template which uses `"outboundType": "userDefinedRouting"` property in its `networkProfile` section.

I have tried to create one with following `resources` section.

[code]

However, when I try to validate this template by running following script.
[code]
I get following validation error complaining about missin

[2020-09-07 10:58] timdeluxe commented on #1625
@jluk @palma21 Can you tell, when it is finally released? We already have nearly mid of september and we need 1.18 urgently, but also don't want to run on a preview.

[2020-09-07 15:27] irvinwang opened #1843 "Create service failed with error: failed to allocate a serviceIP: range is full"
**What happened**:
We have an existing AKS cluster. When we run helm install to install more pod/service, following error is reported
<pre>
Error: Internal error occurred: failed to allocate a serviceIP: range is full
</pre>

**What you expected to happen**:
We suspect this error means service CIDR is full. Because the service CIDR only includes 32 IP.
- Is it possible to change the service CIDR f

[2020-09-07 15:52] JonasJes commented on #1534
@UnluckyAj Yes, i can confirm that is the issue.
I have tested that updating AKS to 1.17.9 have fixed this issue to comply with the Chromes cookie security.

[2020-09-07 16:00] rolnick opened #1844 "Command Extensions are not avaliblive on volumes inside windows container"
Hi,

I am using azure disk as a volume inside windows docker container.

When i trying o create directory with subdirectories
[code]
I am getting :

By default we should have access to Command Extensions on volumes mounted to windows container.
Outside volume it works
[code]

09/07/2020  10:49 AM    <DIR>          agent
09/07/2020  03:57 PM    <DIR>          test

Information

Server Version: vers

[2020-09-07 16:02] Sviatik commented on #1841
Just faced with exactly the same issue.

## Environment
[code]

[2020-09-07 16:11] kamilzzz opened #1845 "Kubenet - bring your own VNET (without RT)"
**What happened**:

Created a cluster through ARM template and for `vnetSubnetId` I've used resourceId of an existing subnet inside of an existing vnet.
Cluster was created successfully but RT (created by AKS durign deployment) wasn't associated with subnet.

**What you expected to happen**:

RT to be associated with existing subnet.

**How to reproduce it (as minimally and precisely as possible)*

[2020-09-07 17:08] Mahesh-MSFT commented on #1842
I have also tried adding a route table to subnet.

[code]

Route table definition as below.

[code]

I am still getting the error reported earlier.

[2020-09-07 22:32] hlarubi commented on #893
Also, the same question as above for Terraform.

Thanks!

[2020-09-07 23:08] akosbalazs commented on #1565
@marwanad Thanks for the help & tips so far. We've been using NC6 (non-promo) instances and the scaling to/from zero works like a charm. Any ETA on when the fix for the `_Promo` suffix will be backported to 1.15? We can also consider upgrading to 1.16 if needed. 1.18 isn't available in the West Europe region yet and we need to keep our data inside the EU.

[2020-09-08 04:13] stmaute commented on #1741
hi @yangl900, thank you for the detailed explanation.
You mentioned that when a Pod uses a label selector it will wait or the buffer node to be ready. In our kubernetes deployment files we use a nodeSelector to schedule pods onto specific nodes. From my understanding the drain process should than wait until the buffer node is ready. Or do I miss something here?

[2020-09-08 06:17] Robert-Stam commented on #893
This feature is already a while in preview, Is there an ETA for GA, or a ballpark estimate?

[2020-09-08 06:25] Robert-Stam commented on #1565
Is there any ETA for this feature to land into GA?

[2020-09-08 06:28] Robert-Stam commented on #1570
Any new about this one?
We are waiting on it, see here why:
https://github.com/Azure/AKS/issues/1570#issuecomment-619372990

[2020-09-08 06:55] gkaleta commented on #982
Hey @jluk, can we move this to GA?

[2020-09-08 07:08] kamilzzz commented on #1845
Nevermind, I've deployed two more clusters and it's working fine. I must have missed something during first deployment.

[2020-09-08 07:08] #1845 closed

[2020-09-08 13:59] pofider commented on #1827
Yes, the cli based worked. I took a risk and triggered the upgrade despite the warnings in the documentation to don't upgrade over two minor versions.

This is now fixed for me, although the problem is probably still there.
Thank you for your comments.

[2020-09-08 15:44] kshke opened #1846 "Do we have any roadmap to support IPVS for kube-proxy in AKS？"
**What happened**:

In the current deployment because of the IPTABLES logic we’re seeing pod evictions because of load imbalance.
This is making us run with a larger number of pods against the planned resource usage.

More importantly, the application will not scale due to this networking restriction and will result in a SLA/commercial impact.

**What you expected to happen**:
Need to modify the k

[2020-09-08 15:53] yves-vogl commented on #1763
Hi,

I'd like to reopen this.

Using ```kube_admin_config``` means that the Terraform Kubernetes Provider is acting with cluster-admin privileges.

Now think of a multi-tenant environment in AKS were you hand out a AAD-integrated Azure Service Principal to a tenant.
This service principal has only restricted privileges on a certain namespace.

The tenant now wants to make use of this service princ

[2020-09-08 17:11] keikhara commented on #1461
@sussexrick we have implemented auto-repair on windows now.

[2020-09-08 17:40] jluk commented on #1625
@timdeluxe thanks for the ping, as an update this is actively rolling out now as of 9/8. We had a minor delay due to safe deployment requirements and delays in our publishing pipeline, but it should be globally set as GA mid-next week.

Apologies for the delay, if you need to urgently run on 1.18 you can upgrade now and as the update of version status from preview to GA won't impact any functional

[2020-09-08 18:43] jluk commented on #1837
@AljoschaP can you clarify 2 things here?

1. What did you run when you "Stop/Delay the gatekeeper webhook"?
1. What signal did you find that the control plane is no longer working? The error returned shows the output of the webhook which is acting by design to fail open, but I don't see the issues wrt the control plane not working? Can you confirm kubectl get pods continues to function instead of

[2020-09-08 19:30] jawa-the-hutt commented on #1517
I was encountering this error just now and went back through the `az login` process and then it worked.  Not sure if that was what actually fixed it or if it just needed some time to pass before I tried again.

[2020-09-08 21:54] robbiezhang commented on #1600
AKS upgraded the kube-dashboard to v2 (from v1) for 1.16 cluster due to the incompatible k8s API change. However, we find several issues with the v2 dashboard
1. HTTPS is enforced in the v2 dashboard
The old CLI implementation based on kubectl port-forward no longer works for HTTPS. We have updated the CLI and CLI extension to use kube-apiserver proxy in March 2020. Customer need to latest azure-c

[2020-09-08 22:03] ohorvath commented on #1774
That would be very useful, the current v3 offering if pretty outdated, the temp disk IOPS is way too low.

[2020-09-09 00:06] robbiezhang commented on #1534
Please reference https://github.com/Azure/AKS/issues/1600#issuecomment-689157392

[2020-09-09 02:00] matthewhartstonge commented on #1534
Closing as per @robbiezhang's comment.

[2020-09-09 02:00] #1534 closed

[2020-09-09 07:02] TomGeske commented on #1517
We experinced issues with az CLI token. Deleting .azure\accessTokens.json and loging in again solved it for us.

[2020-09-09 11:44] xavierrh commented on #1534
Same issue using Chrome, moving to Edge solved the issue after some headaches.

[2020-09-09 11:55] noose commented on #1591
Can you please a look
[code]

?
We also expiring this problem
[code]

[2020-09-09 12:02] #1838 closed

[2020-09-09 12:04] TomGeske commented on #1591
Thanks for your feedback. That's still not ready. We are working on enabling bring your own route table for managed identity. Current ETA is October.

[2020-09-09 14:16] BlackRider97 opened #1848 "Persistent volume Azure Files OSError: [Errno 524] Unknown error 524"
**What happened**:
Created PVC of size 1 Gi of Azure Files with following Storage class definition YAML

[code]

After that I have created 50 Pods with same PVC.
Few Pods are randomly getting `OSError: [Errno 524] Unknown error 524` error while creating directories or reading/writing file.

**What you expected to happen**:
Concurrent modification & read should be supported by Azure Files Standard_

[2020-09-09 14:36] andyzhangx commented on #1848
looks like it's throttled

[2020-09-09 16:02] jluk opened #1849 "Region: Australia Central"
This issue covers the support of AKS in the Azure public cloud region of Australia Central.

[2020-09-09 16:04] jluk opened #1850 "Region: France South"
This issue covers the support of AKS in the Azure public cloud region of France South.

[2020-09-09 16:04] jluk opened #1851 "Region: Brazil Southeast"
This issue covers the support of AKS in the Azure public cloud region of Brazil Southeast.

[2020-09-09 16:28] paulgmiller commented on #1835
We're going to try and take a look at this/reproduce. Seems like  node-role.kubernetes.io a common label that got deprecated.
https://github.com/kubernetes/kubernetes/issues/84912 maybe?

[2020-09-09 16:37] ohorvath commented on #1835
Yes, that's deprecated, but we can't remove it as node labels cannot be changed after AKS cluster creation. I mean we can try to manipulate them programmatically node by node or move the workloads to a new node pool, but that's a pain for existing environments. So all of those clusters are stuck with 1.15 forever.

[2020-09-09 18:13] marwanad commented on #1565
@akosbalazs should be available by end of this week.

@palma21 any timelines for GA?

[2020-09-09 18:54] TomGeske commented on #1669
To use kubelogin follow:

Download kubelogin from [here](https://github.com/Azure/kubelogin) and copy binaries into the same folder as kubectl.

# Run
1. az aks get-credentials -n {cluster-name} -g {rg-name}
2. kubelogin convert-kubeconfig

Your .kube/config should look similar like:
[code]
3. run kubectl get nodes to authenticate.

[2020-09-09 18:54] #1669 closed

[2020-09-09 20:24] paulgmiller commented on #1835
So we reprod that if you have a nodepool you created with

then that label will be handed of to kubelet which will handle it poorly (not sure if it's not starting or just not updating status).

Since we don't have a way to update labels (--labels not supported in az aks nodepool update ) the short term way to fix this is to create a new node pool and cordon/drain/delete the old one.

Longer term w

[2020-09-09 20:32] jonathan-hurley commented on #1835
I would personally like to see the ability for us to change the labels on node pools. This will allow us to prevent any problems during upgrade and also to continue to target certain nodes with our nodeSelectors.

[2020-09-09 20:52] ohorvath commented on #1835
I'd like to manipulate node labels through API calls or CLI commands before or during upgrade. Like so:

az aks nodepool upgrade --removelabel XYZ --addlabel XYZ

[2020-09-09 21:00] immuzz commented on #1836
@alikor Is the service reachable on the default path specified here?

[2020-09-09 21:02] ryedin commented on #52
is this GA yet?

CLI v 2.11.1 -> `Operation failed with status: 'Bad Request'. Details: The value of parameter agentPoolProfile.count is invalid.` when attempting to scale to 0

[2020-09-09 22:34] palma21 commented on #68
Closing stale issue after 30d inactivity

[2020-09-09 22:34] #68 closed

[2020-09-09 22:36] palma21 commented on #731
@jenetlan @chandraneel @abshamsft could you confirm if this validation is out?

[2020-09-10 04:20] jenetlan commented on #1758
And good news! This should now be fixed and fully rolled out. Thanks for your patience, and let me know if you run into any other issues here!

[2020-09-10 04:20] #1758 closed

[2020-09-10 08:41] temabu commented on #1680
How does this fit into the timeline to deliver GMSA support for AKS service?  We need this supported feature.

[2020-09-10 10:13] palma21 commented on #1827
Thanks for the report @pofider I'm reopening for Portal investigation if that's ok with you. Let me know if you'd rather me creating a separate issue so you don't get any emails :)

[2020-09-10 12:01] abshamsft commented on #731
This is already fixed in the portal

[2020-09-10 12:01] #731 closed

[2020-09-10 12:02] jonathan-hurley commented on #1835
Having the existing node labels automatically removed doesn't buy us much since our charts used them as nodeSelector targets. We'd definitely need the ability to adjust the existing nodepool labels.

[2020-09-10 17:31] PrabhuMathi commented on #968
Good news but still still why deprecating and it? it is better to leave it with user itself!

[2020-09-10 17:51] jluk commented on #893
This feature is generally available now, thanks for feedback! Closing as a result.

Official docs are here: https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade

GA Announce: https://azure.microsoft.com/en-us/updates/general-availability-azure-kubernetes-service-node-image-upgrade/

[2020-09-10 17:51] #893 closed

[2020-09-10 18:58] rajivml opened #1853 "AKS cluster w different zones per pool"
Hi,

We are POC'ing to move some of our kubernetes workloads from GKE to AKS and we have observed that the availability of GPU nodes under AKS availabilty zones are very limited and we also got to know that any new node type that is introduced will be non zonal first and it will be available under availability zones after some timeframe .

So, I have been exploring this scenario where I want to se

[2020-09-10 21:15] Robert-Stam commented on #893
Hi Justin @jluk,

Thanks for the post.

[2020-09-10 21:23] jluk commented on #1853
Yes, we do support clusters with mixed pools that have different zone specifications.

For the volume issues, can you share the spec? cc @andyzhangx if he can lend eyes

[2020-09-10 21:51] osi-cmorgan commented on #1517
This was the case with me as well.

[2020-09-10 21:52] jluk commented on #1565
The scenario to use this is GA, the closure of core CLI parity will be rolling on 9/22 with the next release.

As a result I'm moving this to GA state given the functionality is ready and we are closing the client gaps only.

[2020-09-10 22:06] paulgmiller commented on #1835
Current plan is to try and block upgrades/creates >=1.16 with these bad labels starting next week (2a). We want to let you update labels but needs more work and first priority is to keep people from accidentally destroying their agent pools.

[2020-09-10 23:26] #1565 closed

[2020-09-11 00:02] #1600 closed

[2020-09-11 02:16] andyzhangx commented on #1853
For azure disk, there is limitation that disk in zone#1 could not be attached to vm in zone#2 or vm in non-zone. Set volumebindingmode to waitforfirstconsimer in storage class is the correct way, so pod would be scheduled to the node first and then create PVC according to zone info. And pod in zone#1 vm could not be moved to zone#2 vm due to limitation of disk. You may use https://kubernetes.io/do

[2020-09-11 02:18] andyzhangx commented on #1848
close this issue since it's an Azure File issue

[2020-09-11 02:18] #1848 closed

[2020-09-11 05:15] sprab opened #1854 "Unable to SSH to AKS Nodes via Azure Bastion (other SSH ways works)"
**What happened**:
Unable to SSH to AKS nodes via Azure Bastion.
SSH to non-AKS Linux VMSS instances works just fine.

**What you expected to happen**:
Successful SSH to AKS agent nodes via Azure Bastion.

**How to reproduce it (as minimally and precisely as possible)**:
Create AzureBastionSubnet in the same VNET where the AKS worker nodes are running.
Create AzureBastion service on that subnet.
G

[2020-09-11 08:40] grove commented on #1391
We're also experiencing this issue. Our subnet CIDR is "10.240.128.0/17" (azure CNI).

[2020-09-11 09:07] bergerx commented on #1492
Any news on the ETA? If there is now a rough timeline for ETA, we may prefer wait a bit more rather than investing engineering time into something which would be obsolete soon after.

[2020-09-11 10:06] dhananjaya94 opened #1855 "[Feature Request] Support for Service Tags in AKS API Server Authorization"
# This request is to support Azure Service Tags in AKS API Server Authorization.

- Azure DevOps + AKS provides a seamless CICD experience.
- AKS API server authorized IP ranges https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges, is feature introduced by AKS to improve cluster security and minimize attacks and to make the API server should only be accessible from a limited

[2020-09-11 10:38] alikor commented on #1836
Yes

I was told by a Microsoft support guy to look at how omsagent-rs deployment works I attempted to simulate it but with no luck

[2020-09-11 11:49] LukeCarrier commented on #1391
We're also able to reproduce this:

* Pod CIDR: N/A (using Azure VNet networking; network address space `10.146.40.0/23` and node pool subnet `10.146.40.0/24`)
* Service CIDR: `10.146.41.0/24`
* DNS service IP: `10.146.41.10`
* Docker bridge CIDR: `172.17.0.1/16`

I'd be happy to DM the FQDN/resource IDs if helpful.

[2020-09-11 14:25] se7enack commented on #1480
@jluk Anything on this?

[2020-09-11 17:17] #1724 closed

[2020-09-11 17:17] #1731 closed

[2020-09-11 17:17] #1732 closed

[2020-09-11 17:19] palma21 commented on #1855
@aanandr @jluk

[2020-09-12 00:02] #397 closed

[2020-09-13 12:02] #1517 closed

[2020-09-13 14:30] btnguyen2k commented on #1565
A few notes:
- This only works with Azure CLI. On the portal, the min-node is till 0.
- You may have to create new node pool with the new scale setting.
- You can create new node pool with `--node-count 0` (cool!)

And does anyone know how long will it take for the nodepool to scale down to 0? I created new node pool with `--min-count 0`, have been waiting for >10 mins and my node pool still does

[2020-09-13 18:40] marwanad commented on #1565
@btnguyen2k

Thanks for reporting, will follow-up with the portal team on that to fix the slider.

If you're measuring from the time you created the pool, then assuming the pool has been empty - it would take around 20 mins. 10 min for scale down cool down period (this is because you just created the nodepool, so `scale-down-delay-after-add` applies) and then the `scale-down-unneeded-time` will st

[2020-09-14 04:48] danishsamad commented on #118
I have the same issue. Changing the default storage class only lasts for a minute or so, reverting back to using the default storage class ending in two storage classes marked as default

[2020-09-14 05:04] sharkymcdongles commented on #118
I finally solved this by switching to a nonterrible provider in GKE. Since
the switch we have opened 0 issue tickets compared to the weekly ones we
opened for AKS.

On Mon, 14 Sep 2020, 06:48 danishsamad, <notifications@github.com> wrote:

[2020-09-14 09:12] blame19 commented on #1854
Following

[2020-09-14 14:14] skynetrulz commented on #1832
Any updates?

[2020-09-14 15:25] eligne-pro opened #1856 "tunnelfront logs activity very high"
**What happened**: connecting the logs of an AKS into logz.io through fluentd, half of the total log amount is generated by
tunnelfront messages, in info modes, such as:
[ Mon Sep 14 15:14:58 UTC 2020 ] INF: Ssh to tunnelEnd is connected with pid: 25110
Log monitoring is billed based on volume, so having such an heavy traffic costs us twice the necessary price for effective log monitoring.

**What

[2020-09-14 18:20] sauryadas commented on #1571
@palma21 any update on this ?

[2020-09-14 19:14] cconkrig commented on #1484
We are now blocked by this bug as well. Any update on it? The default node pool should support the Taint "CriticalAddonsOnly=true:NoSchedule" and it does not. I am escalating this issue to our Microsoft rep as well.

[2020-09-14 20:01] palma21 commented on #1571
Planned for this semester.

[2020-09-15 05:48] yangl900 commented on #1854
@sprab it should work too for Bastion, what error did you get?

[2020-09-15 05:54] sprab commented on #1854
![image](https://user-images.githubusercontent.com/17014671/93171009-a0d38700-f76b-11ea-9b3e-403da4257288.png)

This is the error i am getting.

[2020-09-15 06:00] AljoschaP commented on #1837
Hey @jluk,

I try :-):

1. It was a behavior we saw when the latency of the network was increased. We didn't run a specific command or tool but maybe you have an idea how to delay/disable the webhook.

2. We couldn't connect to the cluster using k9s. kubectl worked but with high latency. We had a PostgreSQL database with patroni deployed which uses endpoints for leader election. We saw almost the

[2020-09-15 06:24] palma21 commented on #1854
Are you trying with password? With private key? Bastion has a few limitations in these areas.
That error is basically SSH was rejected by the target VM which is normally credentials and not connectivity.

[2020-09-15 06:27] sprab commented on #1854
I am trying with SSH keys.  The same keys work when I use it in a jump box VM to connect to the worker nodes.  So the SSH to the nodes work with the public and private keys.  When I use it in Bastion, it is not working.

[2020-09-15 06:31] yangl900 commented on #1842
hi @Mahesh-MSFT This is because when using UDR, AKS would need validate the subnet and its route table. E.g. the route table must have a 0.0.0.0 entry. This requires the route table pre-exits by the time you create the AKS cluster.

In this case, the ARM template contains all the resources, and at the pre-validation time the route table does not exists yet, thus failed the validation. This sounds

[2020-09-15 08:58] rvanmaanen commented on #1517
Had the same issue today. Got the message "Could not create a role assignment for ACR. Are you an Owner on this subscription?" when trying to attach the ACR to AKS. Managed to resolve it by giving the Service Principal the following API Permission: "Application.ReadWrite.OwnedBy". The nasty thing here is, is that the Azure CLI doesn't use the new Microsoft Graph API but the legacy Azure Active Dir

[2020-09-15 09:18] valkolaci commented on #1625
According to [https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#os-configuration-preview](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration#os-configuration-preview)
"Node pools on a supported Kubernetes version less than 1.18 receive AKS Ubuntu 16.04 as the node image, but will be updated to AKS Ubuntu 18.04 once the node pool Kubernetes version is updated to v1.18 o

[2020-09-15 10:00] iamsoorya commented on #1838
Thanks for your Reply.
1. User Access Administration RBAC at ACR level.
2. Contributor RBAC at sub level.

We do not want to provide Contributor RBAC at the sub level. Would you be able to suggest the correct alternative.

If you are able to provide the exact roles required to make it work, would be very nice.

Even if it custom role, we can create them.

[2020-09-15 11:15] ekarlso opened #1857 "Support for FeatureFlag to enable OpenID Connect via K8s API"
**What happened**:
FeatureFlag support request

**What you expected to happen**:
Be able to use k8s api for oidc with in-cluster service accounts

**How to reproduce it (as minimally and precisely as possible)**:
https://banzaicloud.com/blog/kubernetes-oidc/

**Anything else we need to know?**:
N/A

[2020-09-15 20:03] palma21 commented on #1846
No plans at the moment for IPVS support. Can you expand a bit more on the issues you're having which you believe are cause by iptables?

[2020-09-15 20:20] palma21 commented on #1841
It's very likely a kubectl mismatch issue. Can you try with a more up to date kubectl version? I just tried that same yamls on a 1.16 cluster with a 1.18.3 kubectl and 1.17.9 and it worked.

@Sviatik on your case there's a very big difference of the kubectl version and the server versions, you might want to try with a version within +-1 version of your API version. Also please have in mind 1.14.6

[2020-09-15 23:21] ohorvath commented on #1351
@jluk Could you please confirm how this should work from ARM templates?

[2020-09-15 23:34] jluk commented on #1351
Hey @ohorvath thanks for the ping, it should pass ARM template validation so let us take a look at this and get back to you

[2020-09-16 05:57] haocornell-ms commented on #1517
Same issue.  Tried  re "az login" as suggested above and it worked. Believe it is a bug.

[2020-09-16 07:27] zhiweiv commented on #1716
Any update?

[2020-09-16 07:59] hallgeirl commented on #1461
@keikhara Is this available for all new AKS windows nodes from now on? What version of Kubernetes do we need to select for our AKS node pool to get auto-repair? Anything else we need to do?

[2020-09-16 11:00] nboeckmann opened #1859 "OutBoundNAT ExceptionList is only populated with the first entry from the list of Address Spaces of the VNET of the cluster"
----
I have first logged it with aks-engine and they have already accepted it as a bug - but I'm on AKS, therefor I'm posting it here again (sorry about that!). Here's the reference to my original bug: https://github.com/Azure/aks-engine/issues/3789
----

In situations where there are multiple address ranges defined for a VNET there's only the first CIDR taken into the OutBoundNAT exclusion list o

[2020-09-16 14:24] NatGra opened #1860 "Cluster upgrade through Azure Portal does not upgrade node pool"
Hi AKS team,

I tried updating my cluster and the node pool, however, only the cluster got updated. It would be great if you could provide support, and thank you in advance.

**What happened**:
After a cluster upgrade from v1.14.8 to v1.15.12 via the Azure Portal, the control pane upgraded to version v1.15.12 but the node pool stayed at v1.14.8

<img width="341" alt="cluster-node-version" src="htt

[2020-09-16 15:26] marcoboffi opened #1861 "CoreDNS: how enable Prometheus metrics"
**What happened**: Prometheus don't scrape coredns metrics

**What you expected to happen**: _coredns_ deployment contains `prometheus.io/port: "9153"` annotation but it doesn't contain `prometheus.io/scrape: 'true'`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**: How is it possible to enable prometheus metrics? Could be metrics enabled by d

[2020-09-16 16:23] marwanad commented on #1716
@zhiweiv This should be available with the [September API](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#autoscalerprofile). CLI support + Docs slated for end of month. Note that the acceptable time unit is seconds so valid values are: 10s, 360s, etc.

[2020-09-16 16:30] jluk commented on #983
This feature is still in development and intending to GA.

A known issue in the experience is a reliance on the VMSS API to retrieve node public IPs. This is an active limitation of Azure Standard IP addresses not being supported by instance metadata service. Once this constraint is lifted, AKS will enable retrieval of IPs through AKS/K8s native methods.

[2020-09-16 16:34] jluk commented on #1860
Hi @natgra I believe you're hitting a few issues at the moment. One is the expected behavior of the portal upgrade pane, which targets the control plane of your cluster only. We're working through UI improvements to make it more clear what aspect of your cluster is upgrading.

The other issue is the failing upgrade via CLI and inability to make the nodepool upgrade via portal. It looks like you ar

[2020-09-16 22:30] guisesterheim commented on #1570
My scenario is that we are working with blue-green deployment, and the entire application environment (including AKS) goes up and down at every deployment.
Each AKS should have two node-pools for helping with billing (each company area pays the bills for each node pool).

But if I have 4 environments (already 8 node pools in the same region), I'll have my developers to wait for the oldest environm

[2020-09-17 01:01] zhiweiv commented on #1765
@palma21 @jluk
k8s 1.17.12 released today, it contains the fix for this issue. do you know when it will arrive AKS?

[2020-09-17 03:32] chris3081 opened #1862 "Multiple gateways"
Hi folks,

We are in the process of trying to move an k8s cluster to Azure from our on premise kit in this kit we have a number of networks that our pods need to talk to and for this we have been using the SBR metadata plugin to push pods out to different routers that aren't configured as the default gateway for the kube host. I'm wondering if this is possible in Azure?
![AK](https://user-images.g

[2020-09-17 06:06] palma21 commented on #1293
Hi folks, that should be the default behavior of drain in windows and linux, whilst in Linux you perhaps might not notice. Did you have any PodDisruptionBudgets in your deployment?

cc @AbelHu

[2020-09-17 07:53] sylr commented on #1846
I really think AKS should invest into kube-proxy in ipvs mode because iptables is not a lasting models.

Every papers out there show that the iptable mode does not scale when your number of services grows above 1K.

[2020-09-17 10:07] palma21 commented on #1846
For us it's not a question of investment, this is something that we're following closely, evaluating over time and investing on upstream. It's a question of maturity and enterprise readiness. In short iptables is a much older and very battle hardened piece.

We have dozens of thousands of clusters with more than 1k services running fine today, and that article does not seem to disagree with this,

[2020-09-17 11:40] NatGra commented on #1860
Hi @jluk thank you for your answer.

Yes, the initial information was a little misleading here, but nevertheless I figured out how to upgrade the node pool.

Your assumption is true, I targeted a node pool version 1.15 as my cluster is also running with the version 1.15.
I did not want to straight away upgrade my cluster to 1.16 as the error message said to only `upgrade one minor version at a tim

[2020-09-17 14:12] NatGra commented on #1860
When I run the upgrade command for the whole cluster including node pools, I get the error shown above:
[code]

[2020-09-17 15:18] jluk commented on #1860
@natgra Yes, please try an upgrade to 1.16 versions as 1.15 is no longer available. The command you ran should work with a 1.16 target version and bring all pools in sync with the control plane.

We found the misleading error message and will have a fix out in a few weeks that specifies when you're targeting an expired version correctly.

[2020-09-17 16:06] NatGra commented on #1860
Hi @jluk an upgrade with `az aks upgrade --resource-group myResourceGroup --name myCluster --kubernetes-version 1.16.13` worked. Both control plane and node pool are now at v1.16.

Thank you very much for your help!

[2020-09-17 16:43] brobichaud commented on #1293
In fact we do not have pod disruption budgets. I was unaware of their existence until just recently, but have not yet had an opportunity to implement them. I'm guessing that is the root of what causes this issue. I can close this and circle back if it turns out not to solve the problem or leave it open until I find time to test it. Do you have a preference @palma21?

[2020-09-17 23:10] alexeldeib commented on #1370
fyi: https://docs.microsoft.com/en-us/rest/api/aks/agentpools/createorupdate#osdisktype

[2020-09-17 23:58] jluk commented on #1860
Great news! Thanks for confirm, closing this issue and we are rolling fixes to the error message to be better!

[2020-09-17 23:58] #1860 closed

[2020-09-18 00:03] #1841 closed

[2020-09-18 00:09] jluk commented on #1625
Moving this issue to GA and complete as the rollout for 1.18 GA should be global now.

@palma21 can you speak to the question from @valkolaci ?

[2020-09-18 05:52] shankycheil commented on #1846
We have a product that is a collection of multiple pods (each hosting a different set of services). One of these pods hosts an aggregation/orchestration service and one other host a transactional service, the service times of which are dependent on the amount of data being retrieved.

The behavior we've observed is that when the downstream service is taking longer to respond due to data volumes, t

[2020-09-18 08:36] VijayRod opened #1863 "AKS auto-repair optimization prior to node re-image"
**What happened**: Failure within guest OS during node reboot attempt by auto-repair, triggered the repair service to reimage the node. However reimage too did not succeed due to network connectivity issue, thus requiring a delete/scale for mitigation.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Enviro

[2020-09-18 08:38] VijayRod commented on #1863
@alexeldeib

[2020-09-18 11:14] andyzhangx commented on #223
Azure file CSI driver already supports NFS protocol, that could be an option, see details here: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/nfs, as we tested, NFS client is more efficient on Linux node although they are based on same Azure file share.

[2020-09-18 13:55] tommyJimmy87 commented on #1695
any news on this? I have the same issue with 1.16 version

[2020-09-18 15:21] sikovatc commented on #1650
Any updates on the roll out? Specifically for EastUS2 and Central US. Thanks!

[2020-09-18 15:41] devteng commented on #1625
I have the same issue as @valkolaci. I still see Ubuntu 16 as the OS when deploying a new AKS 1.18.6 last week.

I just saw 1.18.8 as an upgradable version and will try to use aks upgrade and see if it upgrades the OS to Ubuntu 18.

[2020-09-18 16:26] devteng commented on #1625
AKS upgrade is still in progress on my side, but it looks like the OS is still on Ubuntu 16:
aks-ubuntu18pool-14147194-vmss000006   Ready                      agent   85d   v1.18.8   10.55.6.24    <none>        Ubuntu 16.04.7 LTS   4.15.0-1092-azure   docker://19.3.12
aks-ubuntu18pool-14147194-vmss000008   Ready                      agent   85d   v1.18.8   10.55.7.7     <none>        Ubuntu 16.04.

[2020-09-18 16:44] timdeluxe commented on #1625
Yep, OS ist still Ubuntu 16. We recently did upgrade to 1.18.8 and are still with Ubuntu 16.

[2020-09-18 18:02] #1853 closed

[2020-09-18 18:23] miwithro opened #1864 "CVE-2020-14386 Memory corruption can be exploited to gain root privileges from unprivileged processes"
**Description**
A flaw was found in the Linux kernel before 5.9-rc4. Memory corruption can be exploited to gain root privileges from unprivileged processes. The highest threat from this vulnerability is to data confidentiality and integrity.

https://nvd.nist.gov/vuln/detail/CVE-2020-14386

Am I vulnerable?
If the CAP_NET_RAW capability is disabled by default (which is the case with all RHEL produ

[2020-09-18 22:07] brobichaud commented on #1783
We've upgraded to k8s v1.18.8 now that it has gone GA in AKS and continue to see this problem.

[2020-09-19 00:03] andyzhangx commented on #1712
it's now in Preview now: https://docs.microsoft.com/en-us/azure/aks/use-ultra-disks

[2020-09-19 01:03] tecoholic opened #1865 "Excessive CoreDNS instances when running with Virtual Node enabled"
**What happened**:
I setup a single node AKS system for development with virtual node support. I noticed that there are 5 replicas of CoreDNS running reserving about 25% of CPU (the node is a B2ms machine). Upon checking the coredns-autoscaler configuration

[code]
It can be seen that the replicas should only be 2 as I have less than 512 cores and less than 8 nodes. But then I realized that I don'

[2020-09-19 18:22] sumonwhoami commented on #1573
it's also worked for me, thanks brother :-)

[2020-09-20 14:30] vidarw commented on #1408
This and related issues should still be a high priority from a security perspective. For larger organizations - it’s not viable to generate new login certs for the cluster every single time a user gets disabled or PIM has been invoked.

[2020-09-20 15:27] adhodgson1 commented on #1511
I have worked round this limitation by creating the first system node pool inside the agentPoolProfiles array, and any additional node pool will get created by using the Microsoft.ContainerService/managedClusters/agentPools API as a separate resource in the ARM template. This means we can add and delete node pools in the clusters without any issue and I have been doing this for several weeks now w

[2020-09-20 20:26] bitsofinfo commented on #1119
not stale

[2020-09-21 02:59] bitsofinfo commented on #1516
Not stale

[2020-09-21 03:12] andyzhangx commented on #1516
another solution is in azure file driver, if size is < 100GB for premium file share, set as 100GB, that could eliminate this error.

[2020-09-21 04:12] dhananjaya-senanayake commented on #1807
With Azure NPM v1.1.7 also the same issue occurs.

[2020-09-21 04:13] dhananjaya-senanayake commented on #1810
With Azure NPM v1.1.7 also the timeout issues are encountered.

[2020-09-21 12:40] rahulrai-in commented on #1802
I have written a blog post in it. It might help others who are looking to extend Azure Policy/Gatekeeper.

https://thecloudblog.net/post/dynamic-admission-control-in-aks-with-azure-functions/

[2020-09-21 13:54] marcoboffi commented on #1861
See also: https://github.com/Azure/AKS/issues/1364#issuecomment-616737413

[2020-09-21 18:30] devteng commented on #1625
Hi @palma21, would you have any comment on this? Thank you!

[2020-09-21 19:20] alexeldeib commented on #1370
The switch to use proper API types is about done, the 2020-09-01 API is available and the updates are included in the 0.4.63 aks-preview CLI. Probably pending some doc updates and will close this out.

[2020-09-21 20:45] palma21 commented on #1856
AKS uses this logs to maintain the health of the system or in this case a managed component, does logz.io not allow any sort of filtering or exclusion? Eg. Azure Monitor allows you to not pull logs from kube-system for example.

[2020-09-21 20:54] palma21 commented on #1625
Yes that is correct, the release had not finished yet (ETA was the 18th) which means the upgrades before wouldn't land on 18.04. We are now about to turn on the feature toggle since the release has finished but want to provide you with an option if you're already in 18.8 (you can still use the preview experience to get 18.04 and that will give you a supported cluster nonetheless).

I'll post here,

[2020-09-22 01:10] AbelHu commented on #1772
AKS will pick up the fix in the next monthly Windows VHD with the Windows Oct security patch.

[2020-09-22 08:45] nkolchenko commented on #1695
Is it going to be fixed at all?  Simple Yes/No will do

[2020-09-22 09:27] Shaybs opened #1866 "[Feature Request] Autoscaling at nodepool level"
Hi Microsoft team,

So our company is using EKS and AKS at the moment. However, we have an architecture where we are using two completely different nodepools. We are now seeking to make the nodepools autoscale. However, the scale-down-utilization-threshold is set at the cluster level. Whereas we require different settings for scaling down thresholds because the lower end of the nodepools' utilisat

[2020-09-22 10:33] andyzhangx commented on #1834
close this issue now since the fix should be ready

[2020-09-22 10:33] #1834 closed

[2020-09-22 11:24] thomasfrederikhoeck commented on #1052
@itszakko is your workaround simply querying it every 3rd minute or so?

@jluk is this fixed with the GA?

[2020-09-22 16:42] palma21 commented on #1695
This was not possible to be changed on the fleet for security concerns on clusters with 1.15 and prior. We'll take a look at this now that 1.15 has been removed.

[2020-09-22 17:33] marwanad commented on #1716
This should be now available in CLI 2.12.0, CLI-extensions 0.4.63 and via ARM templates.

Feel free to report back on this thread if you hit issues.

[2020-09-22 17:33] #1716 closed

[2020-09-22 17:36] marwanad commented on #1559
This should be available with the [September API](https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#autoscalerprofile).

For clients, it's available in CLI 2.12.0, CLI-extensions 0.4.63 and via ARM templates.

Feel free to report back on this thread if you hit issues.

[2020-09-22 17:36] #1559 closed

[2020-09-22 17:43] jluk commented on #1715
This feature is now GA and rolling across all regions. We will be placing updates to the active GA release on issue #1488

Closing as a result, if anyone hits additional issues with this feature please open a new issue. Thank you!

[2020-09-22 17:43] #1715 closed

[2020-09-22 17:45] jluk commented on #1606
Closing this issue, if new problems arise for users moving from v1 to v2 of Azure Policy just leave a comment and we will revisit.

[2020-09-22 17:45] #1606 closed

[2020-09-22 17:45] jluk commented on #1488
This feature is now releasing across all regions as GA. We will be updating the regional availability as it rolls globally.

Announcement: https://azure.microsoft.com/en-us/updates/ga-policy-addon-for-azure-kubernetes-service/

[2020-09-22 18:23] ruchikaguptaa commented on #1488
The feature is GA in the following regions. This is a live list that will be updated as we continue the rollout.
* West Central US
* Canada Central
* Australia East

[2020-09-22 19:58] DiegoBallve opened #1867 "AKS to respect mixed case in node labels"
Similarly to #1747, AKS is not respecting character case when defining node labels.

For instance:
$ az aks nodepool add --name authonlypool \
   --resource-group $AKS_RESOURCE_GROUP --cluster-name $AKS_CLUSTER_NAME \
   --enable-cluster-autoscaler --min-count 1 --max-count 6 \
   --labels "poolAvailability=single-zone" \
   --zones "1"

creates a pool with:
    "nodeLabels": {
      "poolavailabi

[2020-09-22 20:39] MikkelHegn commented on #1522
Doc update is in-flight in a private repo...

[2020-09-22 20:41] jluk opened #1869 "K8s 1.19 (preview) not compatible with Azure Policy add-on"
**What happened**:
Kubernetes 1.19 is not compatible with the AKS Azure Policy add-on.

1.19 clusters will return this error via gatekeeper controller and policy webhook pods.

[code]

**Anything else we need to know?**:

The fix is in-flight from AKS and details will be released in the coming week.

**How to mitigate?**:

Avoid using K8s 1.19 (preview) with the Azure Policy add-on. The add-on can

[2020-09-22 23:33] palma21 commented on #1650
Our release bot was about to close it in a couple of days :)
The release should be everywhere now. Let us know if you experience anything abnormal.

[2020-09-22 23:33] #1650 closed

[2020-09-23 02:02] zhiweiv opened #1870 "Windows image in Release 2020-09-21 does not exist"
Release 2020-09-21

However https://github.com/Azure/aks-engine/blob/master/vhd/release-notes/aks-windows/2019-datacenter-core-smalldisk-17763.1397.200904.txt is 404, there are only 2019-datacenter-core-smalldisk-17763.1397.200917.txt and 2019-datacenter-core-smalldisk-17763.1397.200820.txt.

[2020-09-23 02:03] zhiweiv commented on #1870
@palma21

[2020-09-23 02:14] AbelHu commented on #1870
Thanks for reporting this, @zhiweiv .
The link is https://github.com/Azure/AgentBaker/blob/master/vhdbuilder/release-notes/AKSWindows/2019/17763.1397.200904.txt.

[2020-09-23 07:37] shivangicloud04 commented on #118
I am running into the same issue. Can someone tell how to solve it for aks? I need to run kubeflow on aks cluster only.

[2020-09-23 07:43] andyzhangx commented on #118
Update: original storage class is set as `addonmanager.kubernetes.io/mode=Reconcile`, we are now switching to use `addonmanager.kubernetes.io/mode=EnsureExists`, the rollout would happen next Monday, it could be completed in around Mid Oct.
Try to use a non default storage class now is the workaround.

[2020-09-23 09:13] avpines commented on #1810
Having the same timeout issues with Azure NPM v1.1.7, cannot access pod logs.

[2020-09-23 09:15] mpeterson commented on #1810
I am experiencing the same issue with timeouts, also using Azure NPM v1.1.7

A ticket is open in Azure Portal about this and the support representative is aware of this ticket.

BTW, this is a blocker for going to Production for us.

[2020-09-23 12:33] vermegi opened #1871 "Stop AKS cluster does no properly stop the cluster"
I used the AKS start/stop preview feature using guidance at https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster, however my cluster was not stopped correctly.

When I query the state of the cluster through az aks show the powerstate property reports a value of 'null'.

I cannot stop the cluster a second time. This gives a BadRequest error:

ValidationError: Operation failed with status:

[2020-09-23 14:00] tomkerkhove commented on #1479
Any update on this?

[2020-09-23 14:59] ShachafGoldstein opened #1872 "Calico Log rules have no effect on AKS"
**What happened**: Defining Calico logging rules have no effect and no logs seem to output anywhere

**What you expected to happen**: Logs to show on stdout/err

**How to reproduce it (as minimally and precisely as possible)**:
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: log
spec:
  selector: all()
  ingress:
  - action: Allow
  - action: Log
    destination:

[2020-09-23 16:23] aanandr commented on #1810
@dhananjaya-senanayake @avpines @mpeterson - sorry to know that you are still seeing timeout issues with 1.1.7. I am working to get an Engineer investigate this. Stay tuned.

[2020-09-23 16:31] csfmomo commented on #1810
Hi @mpeterson , could you share the ticket number?

[2020-09-23 16:31] miwithro commented on #1861
We verified the workaround is sticky as posted in #1364

create a patcher file:
spec:
  template:
    metadata:
      annotations:
        prometheus.io/port: "9153"
        prometheus.io/scrape: "true"
then
kubectl patch -n kube-system deploy coredns --patch "$(cat coredns-patcher.yaml)"

[2020-09-23 16:33] csfmomo commented on #1810
Hi @jluk, could you share the ticket number for this time out issue?

[2020-09-23 17:34] akramwaseem commented on #1625
@palma21 -- Saw the announcement yesterday about 18.04 here: https://azure.microsoft.com/en-us/updates/ga-aks-support-for-new-base-image-ubuntu-1804/

I did try to bring up a new cluster with v1.18.6 and it still gives me Ubuntu 16.04.7 LTS
[code]

so, I tried upgrading it to v1.18.8 and I still see

[code]
Can you provide an update please ?

[2020-09-23 19:54] NickKeller commented on #1871
Hi there! Looking at the error message when you try to start the cluster, it looks like your cluster is using Availability Set nodepools. Would you be able to confirm that for me?

[2020-09-24 00:32] csfmomo commented on #1810
Hi @dhananjaya-senanayake, we have a ticket from your team and we are investigating it.

[2020-09-24 02:02] dhananjaya-senanayake commented on #1810
@csfmomo please find the ticket number `120092123000336`

[2020-09-24 02:07] zhiweiv commented on #1870
Windows 9B is not included in this image, anyway it is ok close.

[2020-09-24 02:07] #1870 closed

[2020-09-24 04:24] avpines commented on #1810
@csfmomo, relevant ticket number is 120092121000651.

[2020-09-24 07:09] neaggarwMS commented on #1810
@avpines we have looked into your support ticket (120092121000651).

We looked into the impacted AKS cluster details.
Region   : WestUS2
Resourceuri    : /subscriptions/b955cf73-2b1c-43d1-adbb-9d548b0d3d7a/resourceGroups/discovery/providers/Microsoft.ContainerService/managedClusters/discovery-discovery

It is not related to above issue. There are no NetworkPolicies in your cluster. @jluk Can you h

[2020-09-24 08:58] rcomanne commented on #688
Any progress update on this? We are nearing the end of 2020 and I haven't seen any changes since June.

[2020-09-24 09:13] avpines commented on #1810
@neaggarwMS please remove our internal information (such as resource URI) from this public page.

[2020-09-24 09:15] mpeterson commented on #1810
@csfmomo @neaggarwMS we are in the same group with @avpines so we share the same ticket id and I see he posted it.

@neaggarwMS There are no NetworkPolicies now because we removed them from the cluster after finding this issue and that in fact resolved the issue in our cluster. Thus, this is exactly the issue that is affecting us and we would very much want to put the network policies back inside

[2020-09-24 09:24] dhananjaya-senanayake commented on #1810
@neaggarwMS and @csfmomo , as @mpeterson mentioned this issue comes only when network policies are applied. The same exact network policy worked on v1.1.4, did not work in v1.1.5 and now in v1.1.7 as well. Since security and compliance are  considered high from our end we got the NPM version downgraded to v1.1.4 on both occasions through the AKS backend team.

[2020-09-24 10:43] zhiweiv commented on #1716
It should work now, I can see newPodScaleUpDelay in autoScalerProfile after update.

Will https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#using-the-autoscaler-profile be update to reflect this change?

[2020-09-24 11:01] zhiweiv commented on #1825
Node not ready was caused by another problem, close this.

[2020-09-24 11:01] #1825 closed

[2020-09-24 11:02] zhiweiv commented on #1397
The memory usage of svchost.exe looks good with following OS version, close this
[code]

[2020-09-24 11:02] #1397 closed

[2020-09-24 11:08] mainred commented on #1810
Hey @dhananjaya-senanayake , thanks for your feedback. I did not reproduce the problem with npm v1.1.7.
Do you mind sharing your pod definition here? Thanks.

Here are my tried manifests:
network policy you shared in https://github.com/Azure/azure-container-networking/issues/657
[code]

pod definition from the same namespace as the above network policy:
[code]

[2020-09-24 11:34] rakesh08 opened #1873 "apply audit policy to control the auditing of kube-audit logs."
Currently unable to apply audit policy[1] in AKS to control the kube-audit logs. Since end user can't make any customization to control plane, as it's managed by AKS. Requesting to provide a way for the end user to apply audit policy or control the logging of kube-audit logs.

[1] https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2020-09-24 11:36] rakesh08 commented on #1873
Similar issue was been reported https://github.com/Azure/AKS/issues/946#issuecomment-596982744. It has been closed.

[2020-09-24 11:57] dhananjaya-senanayake commented on #1810
@mainred , I have shared the deployment yaml spec in the support issue `120092123000336`. I have to add some additional info in to this issue. This timeout issue is not experienced as soon as the network policy is applied to the namespace. In the namespace in which the netpol is applied, pods come and go often with time according to our deployment (multi tenant pods running unknown logic) .  DNS r

[2020-09-24 15:16] pradeepbohra commented on #1854
Exactly the same issue I was facing and I got a response from Azure support telling its a known error. Now here I am seeing it is reported as an issue. Can Azure Bastion team explain this.

[2020-09-24 15:31] SteveLasker commented on #688
Hi @rcomanne,
We are continuing to make progress within the [Notary v2 project](https://github.com/notaryproject/nv2)
It will take some time as you can see in the root of the [notaryproject](https://github.com/notaryproject) the number of projects that will need changes:

- opencontainers/distribution-spec
- opencontainers/artifacts
- docker/distribution
- moby
- oras

Our progress continues with

[2020-09-24 16:13] leovms commented on #1871
I'm experiencing the same problem when I try to start the cluster and I can confirm that in my case I am using availability sets.

[2020-09-24 17:18] mrowken commented on #1487
From Release Notes it looks like Ubuntu 18.04 should be used by default with AKS 1.18.8, but it isn't.
I have created cluster several times in last week (West Europe), but it still uses old version: microsoft-aks / aks / aks-ubuntu-1604-2020-q3 / 2020.09.03
How to get cluster with Ubuntu 18.04, other than using Preview feature ?

[2020-09-24 18:36] curtdept commented on #1752
@palma21  CoreDNS on k8s 1.19 seems to be 1.6.6 still? Shouldn't it be 1.7?

[2020-09-24 18:42] ncole opened #1874 "Unable to Scale down node when dashboard-metrics-scraper is installed"
**What happened**:
After seeing https://github.com/Azure/AKS/issues/1565 I decided to try scale-to-zero.  I attempted two node pools, one CPU and one GPU and added deployments to both pools.  After scale-down the GPU node pool achieved zero nodes.  However, the CPU pool stayed available.

**What you expected to happen**:
CPU-based nodes should move to zero.

**Anything else we need to know?**:
The

[2020-09-24 19:19] jeanfrancoislarente commented on #1871
I'm using VirtualMachineScaleSet and running into the issue:

`managed cluster is in (Succeeded,Stopped) state, starting cannot be performed` when trying to start the cluster.

k8s v. 1.19.0

[2020-09-24 21:43] chris3081 commented on #1862
Is there nobody in the world that has a need to do this from AKS?

[2020-09-25 00:01] #1522 closed

[2020-09-25 05:26] palma21 commented on #1625
This Issue is about k8s 1.18, not 18.04 there's an update on the 18.04 item, it's still rolling it's a bit delayed but should be concluded by end of next week or early the following.

[2020-09-25 05:36] palma21 commented on #750
stale-close

[2020-09-25 05:36] #750 closed

[2020-09-25 06:33] palma21 commented on #1871
This feature is only supported for VMSS-based clusters. This should be the case for all new features in AKS.

@jeanfrancoislarente 1.19 just launched in preview so there might be something there, are you able to open a support ticket and share the ticket number here?
Otherwise [send me a DM](https://twitter.com/jorgefpalma) with your cluster details.

[2020-09-25 06:46] sivamca127 opened #1875 "AKS Cluster provision failed with kubenet & UDR with existing subnet and security group"
provider "azurerm" {
		version = "~> 2.15"
		features {}
	}

	data "azurerm_resource_group" "aks" {
		name     = var.resource_group
	}

	#fetch existing subnet
	data "azurerm_subnet" "aks" {
		name                 = var.subnetname
		virtual_network_name = var.virtual_network_name
		resource_group_name  = var.vnet_resource_group
	}

	resource "azurerm_network_interface" "k8svmnic" {
		name

[2020-09-25 07:43] valkolaci commented on #1625
My question was why the documentation page suggests the two things are connected when apparently they are not...

[2020-09-25 07:49] palma21 commented on #1625
They are totally connected, but the releases are not aligned due to delay on 1804, the documentation should be saying that you only get 18.04 by default on 1.18 clusters which is true, you'll never get it by default on older clusters, and this is the the version you'll get from now on from 1.18+. But that is only after 18.04 GA completes the rollout

[2020-09-25 09:39] mfabiani-av commented on #1871
I'm running a private VMSS-based cluster with K8s 1.16, same issue: aks stop results in a "null" status and then it cannot be restart. This is the command I use to create the cluster:
[code]

[2020-09-25 10:05] aelmanaa opened #1876 "Support for Azure secret store CSI"
Hello,

I see that there are efforts to include AZure file csi & Azure ad pod identity projects in AKS and make them part of GA.
Are there similar plans for AZure secret store csi? https://github.com/Azure/secrets-store-csi-driver-provider-azure

In fact, this project is really important as it allowas to directly fetchs secrets & certificates from Azure keyvault

thanks

[2020-09-25 12:42] mrSingh007 commented on #173
why this issue is closed? what is the fix? facing same problem:
[code]

[2020-09-25 15:23] jeanfrancoislarente commented on #1402
Any update on this @palma21?

We're trying to create a system-only node pool at cluster creation but taints are not supported during cluster creation and not supported on nodepool update.

Thanks in advance!!

[2020-09-25 15:46] sivamca127 commented on #1875
Can someone help me here?

[2020-09-25 15:51] erlucier opened #1877 "Private Cluster API server silently closes connection"
**What happened**: Attempts to use custom operator in private cluster to watch the cluster with long timeouts seem to lose connectivity with no connection reset being issued.

**What you expected to happen**: Connection reset be issued.

**How to reproduce it (as minimally and precisely as possible)**: Configure private cluster and use a custom operator to query the API server to watch the cluster

[2020-09-25 16:27] marwanad commented on #1874
@ncole the `dashboard-metrics-scraper` pod lands on a node in a system nodepool. The system nodepools can't be scaled down to zero. Can you share the agentpool profile section of your cluster? You shouldn't be able to set "minCount = 0" on a system nodepool.

[2020-09-25 16:33] shooker commented on #1052
I believe this is the same issue highlighted here: https://github.com/Azure/AKS/issues/1877

[2020-09-25 16:46] palma21 commented on #1487
Unfortunately the release hasn't finished yet, so you can't create 18.04 in another way right now. I'll update this issue as soon as it finishes and all 1.18 clusters start receiving it by default.

[2020-09-25 17:19] palma21 commented on #1752
Unfortunately 1.7 is not backwards compatible so we're still evaluating it. (this should not be related to above OP thought, so happy to tackle it on a separate issue?)

[2020-09-25 18:56] andig commented on #274
For the record: in my case we were working on this with support until I finally gave up using AKS. If a root cause is ever detected it would be great for MSFT/Azure to let us know here.

[2020-09-25 19:03] palma21 commented on #274
Happy to take a look at your support case (you have a number?) and a cluster where you see this today. Unfortunately this ticket is quite old (opened with 1.9) and mixes upstream issues with possible AKS older issues.
Nodes not ready can happen for a myriad of reasons a lot of them actually expected, so it's better to look at a case by case and I'm happy to assist with that.

[2020-09-25 19:38] jluk commented on #1488
This has rolled globally in public cloud, closing the issue as a result.

[2020-09-25 19:38] #1488 closed

[2020-09-25 20:00] andig commented on #274
Thanks @palma21 for stepping in. My ticket is older (2y) so not worth chasing today. Unresolved issue was the _running_ nodes became unresponsive during cluster scale-up effectively killing the running workloads. Probably not relevant any longer. Unfortunately I had to give up efforts the cluster was effectively useless for me.

[2020-09-25 20:13] curtdept commented on #1752
Only related in that there are several community reports 1.7 has some level of mitigation for these style of timeouts in addition of new concurrency limits which could help spread utilization more across instances and prevent latency spikes.

[2020-09-25 20:23] palma21 commented on #1752
Thanks for reporting that, we'll take a look

[2020-09-25 20:56] MateusAmin opened #1878 "Help Local Storage | Lsv2-series"
Duplicate

[2020-09-25 20:57] MateusAmin opened #1879 "Help | Local Storage | Lsv2-series"
How do I access the SSDs on Lsv2-series nodes in AKS? Needed for a distributed database deployment.

https://github.com/Azure/AKS/issues/105

https://webcache.googleusercontent.com/search?q=cache:yK4hQRXIJ0YJ:https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/36433282-make-lsv2-series-available-on-aks+&cd=4&hl=en&ct=clnk&gl=us

https://cloud.google.com/kubernetes-eng

[2020-09-25 21:05] MateusAmin commented on #1878
Duplicated, closing.

[2020-09-25 21:05] #1878 closed

[2020-09-25 22:02] csfmomo commented on #1810
Hi @dhananjaya-senanayake
We tried reproing the scenario as explained the Support ticket 120092123000336. However we are not able to repro it in NPM v 1.1.7.
Here is what we did
1. Applied the netpol as shared in the support ticket
`azureuser@k8s-master-19150917-0:~/npmPolicy$ k describe networkpolicies default-egress -n app-workspace`
[code]

2. Created a Pod in the same namespace

[code]

3. Ran

[2020-09-25 22:14] bvijaycom commented on #1517
I am also facing the same issue

Waiting for AAD role to propagate[################################    ]  90.0000%ValidationError: Could not create a role assignment for ACR. Are you an Owner on this subscription?

https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster

az aks create \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-count 2 \

[2020-09-25 23:41] thomasfrederikhoeck commented on #1052
I believe you are right @shooker

[2020-09-26 04:56] palma21 commented on #1402
@jeanfrancoislarente I have a separate issue for that one which we are working on right now. https://github.com/Azure/AKS/issues/1833

Will provide updates there soon

[2020-09-26 07:58] bplasmeijer commented on #1402
Thanks @palma21

[2020-09-28 02:08] dhananjaya-senanayake commented on #1810
Unfortunately we cannot reproduce this in our clusters since NPM version was downgraded to v1.1.4 when this issue occurred. With the next NPM version upgrade due to happen we will definitely face this issue. Will collect the data required for debugging in the next occurrence.

[2020-09-28 05:07] tomkerkhove commented on #1876
I fully agree!

[2020-09-28 08:52] mtparet commented on #1872
Logs are written to journald/syslog by iptables. You can use https://github.com/box/kube-iptables-tailer/ with the chart https://hub.helm.sh/charts/lifen/kube-iptables-tailer to push event about drop on the pods.

[2020-09-28 12:58] OvervCW opened #1880 "Feature request: allow host caching mode to be specified for agent pools"
We have different agent pools within our AKS cluster for different types of workloads and we would like to tune the host disk cache setting for this purpose.

For example, some nodes tend to run workloads that require large Docker pulls and we see that this causes them lock up while the cache is being flushed, and we could solve this problem by changing the host caching mode from `Read/write` to `

[2020-09-28 14:35] miwithro commented on #1873
Hello,
  There is already an audit policy applied to the AKS clusters.  There is no need to add one.   You simply just need to query the logs.

https://docs.microsoft.com/en-us/azure/aks/view-master-logs

Here is the applied audit policy:
https://github.com/Azure/aks-engine/blob/24244adcd09afcf452c2e16317999046a240e992/parts/k8s/addons/audit-policy.yaml

[2020-09-28 14:36] #1864 closed

[2020-09-28 15:33] davesmits commented on #1326
We are facing the same issue and changing the dnsconfig is not working as using a alpine image. If there is no solution we need to migrate to aws...

[2020-09-28 17:26] palma21 commented on #1862
+@aanandr

I'm not sure I completely understood your scenario. You want each pod to be able to communicate through a different NIC?

[2020-09-28 17:49] palma21 commented on #1752
FYI we confirmed the OP was caused by a DNS issue on that day. https://status.azure.com/en-us/status/history/

Creating a separate ticket for 1.7 and closing this one.

[2020-09-28 17:49] #1752 closed

[2020-09-28 17:53] deepakkhetwal commented on #1833
@palma21  Are we saying, Is it good to go applying - CriticalAddonsOnly taint, without any issues on system node pool?

[2020-09-28 21:30] jluk commented on #1837
Thanks for the info @AljoschaP do you have an open support ticket number you could share? If not do you mind opening one and sharing the number, I think we're going to need to take a look at your cluster to see what's happening.

[2020-09-28 21:48] jluk opened #1881 "Clusters with Calico & other add-ons enabled cannot be upgraded"
For any calico CNI cluster created before Jun 2020, the cluster's configuration of calico-typha is having issues being upgraded.

Impact: This issue may block other addon operations, including enable/disable/upgrade.

Validate if impacted: To check whether you are impacted, get the image version of the `calico-typha` deployment from the `kube-system` namespace. If it's on version `0.3.8`, you are

[2020-09-29 05:27] palma21 commented on #1833
This is the ticket to support it. Right now we block it if the taints are applied to all pools. We'll make an exception for this one so you can apply it to all pools (or just the default one)

[2020-09-29 05:37] thomasfrederikhoeck commented on #1052
Do you know if a fix is under-way @shooker ?

[2020-09-29 07:30] mcurko commented on #1871
Kubernetes 1.17.11 with VMSS - same problem!

[2020-09-29 07:41] palma21 commented on #1871
@mfabiani-av private clusters are not supported during private preview. We working to have it even before GA, it's next on our plate.
https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster#limitations

@mcurko is your case a private cluster as well by any chance?

[2020-09-29 08:02] mcurko commented on #1871
What qualifies a cluster to be private? I didn't know there was a distinction between "private" and (I guess) "public" clusters.

[2020-09-29 09:27] vermegi commented on #1871
A private cluster is one that has it's API plane not publicly available, but basically uses private link to make it available in your AKS subnet. Described at https://docs.microsoft.com/en-us/azure/aks/private-clusters

[2020-09-29 10:30] jeanfrancoislarente opened #1882 "Setting auto-scaler to min-count 0 will not scale up windows nodes"
**What happened**:

I've created a cluster with a system pool
[code]

one linux user pool

[code]

and one windows user pool

[code]

**What you expected to happen**:

- node count should be zero if no deployments
- deployment should trigger a scale up of windows nodes 0 -> 1

**How to reproduce it (as minimally and precisely as possible)**:

Create a cluster with the above commands (I create the

[2020-09-29 15:04] Win32Sector commented on #1840
Summary

Issue: How can I check why topologyKeys doesn't work

Details: Service Topology with topologyKeys has the following prerequisites.

Prerequisites
The following prerequisites are needed in order to enable topology aware service routing:

Kubernetes 1.17 or later
Kube-proxy running in iptables mode or IPVS mode
Enable Endpoint Slices
You can refer to the following link for more information:

[2020-09-29 15:04] #1840 closed

[2020-09-29 15:10] andyzhangx commented on #1879
try this open source solution: https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

[2020-09-29 15:12] andyzhangx commented on #1876
Answer is Yes, will update when there is any progress, it's now in early evaluation stage.

[2020-09-29 18:18] palma21 commented on #1882
We looked into the issue and found it. With the change from beta to stable on the selectors some haven't transitioned when CA is predicting the template (since there's no existing node to base itself on, it predicts).

If you use `beta.kubernetes.io/os=windows` this should work, and we'll correct this to make sure all the new built-in labels are captured.

[2020-09-29 18:33] jeanfrancoislarente commented on #1882
To clarify, I don't need to add labels to the nodepool, I need to change my selector to beta.kubernetes.io/os=windows ?

[2020-09-29 18:35] marwanad commented on #1882
@jeanfrancoislarente yup that should work in your case. If your pod nodeSelector was on the non-beta OS label.

[2020-09-29 18:43] jeanfrancoislarente commented on #1882
Thanks @marwanad!

I can confirm the workaround of changing my nodeSelector to beta worked and scaled up my "zero-node" windows nodepool!

Any chance on an ETA for the permanent fix? Do I go through the trouble of pushing my new helm charts through or are we talking a couple of days? :)

[2020-09-29 20:07] laurentgrangeau opened #1883 "Unable to create or update AKS with version 1.18.* and containerd enabled"
**What happened**:
Trying to create a AKS cluster with this command, and it fails
[code]

Here is the error message:
[code]

I have a similar behavior when I updated my previous cluster. All the pods were in state ```Container creating``` (RIP little cluster 😢)

**What you expected to happen**:
I expected to have a running cluster or an upgraded one

**How to reproduce it (as minimally and precise

[2020-09-29 21:42] palma21 commented on #1883
You beat us @laurentgrangeau :) we found this issue a few weeks back and patched it, it's releasing this week (will be on the release notes this week) and will take about 1.5wks from now to complete everywhere.

[2020-09-29 22:50] chris3081 commented on #1862
Hi palma21 a different gateway is what I'm chasing as we have overlapping ip addresses in the sites at this point in time. In our prem we use a slightly modified sbr plugin to cause containers to use a different gateway on the same network.

[2020-09-30 01:02] deepakkhetwal commented on #1833
Thank you @palma21 , Is there any ETA, when this would be resolved. Appreciate if this could be resolve sooner.

[2020-09-30 02:16] yunjchoi commented on #1746
We have delivered a validation for disallowed labels in 1.16 along with proper error message, hence, closing this issue.

[2020-09-30 02:16] #1746 closed

[2020-09-30 03:55] marwanad commented on #1882
@jeanfrancoislarente Not ideal but it would be with next week's release cycle(so ETA in all regions would be 1.5 weeks from that). Alternatively, but a bit more work is to disable CA, manually scale the windows pool to one node. Then re-enable CA with minimum count set to 0. It should pick-up on the correct templates in that case.

Obviously, modifying your helm charts would be the better short-te

[2020-09-30 03:56] nboeckmann commented on #1859
Hi,

this is a significant issue for me and is preventing me from upgrading my AKS culusters to the latest version. Can at least someone take a look at it and give an ETA on if/when this will be fixed?

Nils

[2020-09-30 07:47] swapnilpotnis commented on #1314
Re: With reference to the command "az aks update -g rg -n name --load-balancer-outbound-ips public_ip_address_path", what is understand is I would be able to set the outbound IP of AKS to the one which I have currently assigned to my service. But what if I have another service (for.eg SERVICE_B) with a Public IP(fore.g PUB_IP_2) assigned Load Balancer, and I wish the traffic for SERVICE_B to alway

[2020-09-30 08:51] sivamca127 commented on #1875
seems no one ready to help here?  its been 5 days but no response from the team.

[2020-09-30 09:17] TomGeske commented on #1875
Your worker nodes need outbound connectivity. userDefinedRouting needs either VirtualAppliance or VirtualNetworkGateway as next hopp. Why do you have **0.0.0.0/0** route to Internet?

[2020-09-30 09:20] nidiculageorge opened #1884 "Can we add Multiple container registries to AKS cluster"
Can we add multiple container registries to a single AKS cluster

az aks update -n myAKSCluster -g myResourceGroup --attach-acr <acr-name>

[2020-09-30 09:32] sivamca127 commented on #1875
Thank you @TomGeske for your response. As you Said , I've created VirtualAppliance and trying to create unfortunately its not creating load balancer while provision time.

if i've not added the Root **"0.0.0.0/0"**  then terrofm throwing error like route table must configured default route . so i've added it. I'm going to upload full  code snipped. Please have advise if i'm missing anything.

[2020-09-30 09:41] neil-south commented on #667
This is now effecting us. the workaround
[code]
seems to work, but obviously this is effecting lots of people (most of which wont even realise), and needs sorting!

Ive even tried creating a new v1.19 AKS cluster, and using the official `mcr.microsoft.com/dotnet/core/aspnet:3.1` docker base image (as of 29/9/2020) and the issue is still present.

[2020-09-30 10:21] jeanfrancoislarente commented on #1882
I've updated our charts for now, easy search/replace. Thanks!

[2020-09-30 12:03] PrabhuMathi opened #1885 "In containerd runtime, what is the alernate to mount unix sock with /var/run/docker.sock for logging"
**What happened**:
In AKS cluster enabled with containerd as a runtime. In current work we are using /var/run/docker.sock for connecting unix sock for pull logs. Is there any alternate option other than using azure monitor?

**What you expected to happen**:
Expecting a solution without changing current logging solution

**How to reproduce it (as minimally and precisely as possible)**:
Log are not

[2020-09-30 12:09] swapnilpotnis opened #1886 "Static egress for AKS Service"
**What happened**:
I have a Public IP(for.eg PUB_IP_2) Based Load Balancer assigned to a service(for.eg SRV_1) in AKS.
Lets say that service SRV_1 is calling another Service(SRV_XYZ) which is outside AKS and gets some response back. The outside service (SRV_XYZ) allows calls only from IP Address(PUB_IP_2) but it actually receives call from the Public IP(for.e.g PUB_IP_1) of AKS Cluster

**What you

[2020-09-30 12:16] davesmits commented on #667
We used the dnsCOnfig work around and initially it didnt work for us. It turned out that it only works with the non-alpine images.

[2020-09-30 12:33] andyzhangx commented on #1884
at least you can assign ACR permission to cluster identity(sp or managed identity), that's the way how it works.

[2020-09-30 12:35] andyzhangx commented on #1880
I doubt whether set caching mode could solve os disk throttling issue, could you try https://azure.microsoft.com/en-us/updates/public-preview-ephemeral-os-disk-support-in-aks/, it would help a lot.

[2020-09-30 12:55] djsly opened #1887 "Allow enabling Feature Gates"
**What happened**:
We are interested to use the following
https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/
and
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

both are not enabled on AKS since they haven't been GA yet, while some Alpha/Beta features are risky, I think some are no brainers and shoul

[2020-09-30 13:08] bplasmeijer commented on #1792
hi @keikhara

This feature is related to [Windows OS Version Support](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support) right?

Can we expect adding multi node pools with different kinds of Windows versions?
[code]

[2020-09-30 13:34] guillelb commented on #1477
The kubernetes documentation, since v1.15, clearly specifies that **you don't need to delete and recreate a Pod or deployment that is using an existing PVC**
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims
![image](https://user-images.githubusercontent.com/26138193/94691373-81bf2280-0331-11eb-9fae-dc24186706cc.png)

Is Azure breaking the K8S spec

[2020-09-30 14:10] andyzhangx commented on #1477
I would say resize for azure disk driver is partially supported, fully support is our goal.

[2020-09-30 14:18] wmayer commented on #1881
Suppose with 0.3.8 is meant mcr.microsoft.com/oss/calico/typha:v3.8.0. Is mitigation correct: If CNI is used, Calico version is older than 3.8.0 and e.g. an AKS upgrade is planned, then before the upgrade run e.g.:
`kubectl delete deployment calico-typha -n kube-system`

After some minutes with (planned) downtime then check Calico version is 3.8.0. If that is the case then proceed e.g. AKS upgrade

[2020-09-30 14:34] MaxCrank commented on #1484
We're using the default pool with a single node as a system "backup" pool one because of this issue, which is not very convenient. It is achieved having _CriticalAddonsOnly_ taint on the main system pool, _ServicesOnly_ taint on the service (user type) pool and also _ServicesOnly_ toleration on services. Additionally, we put specific label on the service pool and use corresponding node selector in

[2020-09-30 15:32] nidiculageorge commented on #1884
@andyzhangx thanks for the information is it possible to add two diffrent acr two one AKS cluster using the

az aks update -n myAKSCluster -g myResourceGroup --attach-acr <acr-name>

I am not sure about the cluster identity stuff

[2020-09-30 17:34] elsesiy commented on #1485
@palma21 I removed the rule and all public ingress IPs are not reachable after since the traffic doesn't originate from the `AllowAzureLoadBalancerInbound` rule. This rule is indeed needed unless you have a better solution? Happy to discuss this as part of our cadence.

[2020-09-30 18:19] maxfridbe commented on #1681
Also interested in this feature as we have dozens of namespaces that need newtwork isolation

[2020-10-01 00:02] #1861 closed

[2020-10-01 10:02] TomGeske commented on #1875
According to our [docs](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#create-a-udr-with-a-hop-to-azure-firewall) route configuration should look like:
[code]

[2020-10-01 13:41] ncole commented on #1874
This in fact was NOT a system node pool, that's what I'm reporting in this bug.  The `preferredDuringSchedulingIgnoredDuringExecution` was seemingly ignored.  The information in `requiredDuringSchedulingIgnoredDuringExecution` should include the system nodepool.

[2020-10-01 22:11] palma21 commented on #1487
Release arrived to:
australiea east, canada central and westcentral us regions.

will continue to update until it's worldwide.

[2020-10-02 01:00] #1390 closed

[2020-10-02 06:53] zhiweiv opened #1888 "Windows node pool with Basic Load Balancer"
[Release 2020-07-27](https://github.com/Azure/AKS/releases/tag/2020-07-27)

**Multiple node pool clusters with Basic Load Balancer is necessary for us, can you revert it back.**

We are running Windows containers, our services need static outbound ip, we bind Basic Load Balacer to Windows node pools to archive it(one BLB per pool), **we don't want to use Standard Load Balancer because it is charge

[2020-10-02 07:02] LudoNieuw commented on #1054
Has this issue been investigated further and what were the results of that investigation?

[2020-10-02 07:26] nidiculageorge commented on #1487
Is the relase available in North Europe as I have tried setting up cluster in NE and still showing old Ubuntu version

[2020-10-02 10:49] jeanfrancoislarente commented on #1785
Poke / prod @palma21

This one would be great in supporting our use case.

We have
- over 12 clusters spread across various Azure regions
- mix of Windows/Linux nodepools
- nodepools set to scale up/down
- deployments (install/remove) happen fairly frequently (dev, QA, demos, etc.)
- deployments are 7 pods (4 linux and 3 Windows)

Image pull time is killing us on a scale up

Thanks in advance for

[2020-10-02 12:54] bplasmeijer commented on #1677
Hi @palma21

issue related to #1785

[2020-10-02 12:58] PixelRobots commented on #1785
Any update on this?

[2020-10-02 13:14] LudoNieuw commented on #323
I'm curious about an update to this issue. I am myself facing issues with scraping the kubelet from <node-internal-ip>:2550/metrics (http scrape) but am getting a 'connection refused' message thrown back...

[2020-10-02 14:00] m1o1 commented on #323
I might be wrong about this but I believe the kubelet binds to localhost, so it's inaccessible to prometheus

[2020-10-02 14:02] slawekww commented on #1814
@palma21
I look for guidance how to upgrade calico on AKS node without updating anything else.
Noticed on AKS cluster that after upgrade from 1.14.x to 1.16.x, K8S processes have been upgraded but calico has not been upgraded and remains on version 3.5.

How to upgrade calico from 3.5 to 3.8 on AKS 1.16.x/1.17.x?

[2020-10-02 16:18] antst opened #1889 "Problem with pulling images from private acr"
I have aks created by terraform, with managed identities.
Googled it all. Tried to attach with aka-preview, tried to attach by granting role in terraform, tried to grant role manually, it is always looks exactly the same in AD, of course. But result is always the same also:

[code]

At the same time, I have no problem with deployment from guthub CI actions (of course they use different auth method

[2020-10-02 17:12] asubmani commented on #1814
@palma21 image scanning tools are also listing the current calico images deployed as "HIGH" severity

**CVE ID:** `CVE-2020-12723`
**Vulnerable Package version:** `5.24.1-3+deb9u5`
**Fix Status:** `fixed in 5.24.1-3+deb9u7`
**Description:** `regcomp.c   in Perl before 5.30.3 allows a buffer overflow via a crafted regular   expression because of recursive S_study_chunk calls.`

While upgrading woul

[2020-10-02 18:18] slawekww commented on #1814
Found AKS-engine project which really automates AKS upgrade:
https://github.com/Azure/aks-engine/blob/master/docs/topics/upgrade.md
(upgrade nodes, etcd, calico, etc)

I wish MS AKS upgrade to have the same level of features.

https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster
does not do the work.

[2020-10-02 21:25] ShachafGoldstein commented on #1872
Closing this, no idea why it didn't log anything before but now it seems to work.
Apologies for the waste of time.

for reference used the daemonset mentioned [here](https://gist.github.com/feiskyer/6e3104d3ca63d7b242ff70e90a133ed1) to retrieve the logs for tests

[2020-10-02 21:25] #1872 closed

[2020-10-03 03:48] qpetraroia commented on #1573
Hi everyone,

The reason why you are having issues using the Kubernetes dashboard is because the dashboard no longer uses the service account identity. This was a part of a security fix which you can read here https://github.com/kubernetes/dashboard/pull/3400. If you are just copying the clusterUser role or using the kubeconfig, a workaround you can implement is to grant permissions to clusterUser

[2020-10-03 08:52] sivamca127 commented on #1875
@TomGeske , i'll check and update you shortly.

[2020-10-03 12:27] andyzhangx commented on #804
close this issue since I have verified that this issue is fixed in AKS 1.19.0 and also with azure file CSI driver

[2020-10-03 12:27] #804 closed

[2020-10-03 17:59] #1873 closed

[2020-10-04 06:20] sadortun commented on #1558
@palma21 @luffykai2  Did you figured out the issue ?

[2020-10-04 08:19] tomkerkhove commented on #1744
Keep-Alive

[2020-10-05 06:02] #1573 closed

[2020-10-05 06:38] #1725 closed

[2020-10-05 06:38] nidiculageorge commented on #1487
@palma21 Is there any expected dates the releases will be rolled out in rest of the regions (Noorth Europe and South East Asia).

[2020-10-05 09:09] mpeterson commented on #1810
Might I say that it would be wise to leave this open until the underlying root cause is assessed and resolved? This GitHub ticket is what gave the pointer to bring up a better discussion internally with the Azure AKS team and can be useful for other people too.

[2020-10-05 11:49] r0bnet commented on #1686
Would like to know about the current state of this. We need to resolve not one but multiple AKS clusters from Azure but also from our on-prem DNS. That's why we have each privatelink (for AKS, Storage Accounts, MSSQL etc.) exactly once and they're all linked to the vnet where the DNS forwarder is connected to. But until we're able to specify an existing private DNS zone this won't help us.

[2020-10-05 11:55] aristosvo commented on #1487
@nidiculageorge Why so impatient?

In the post before yours it is perfectly explained that the post will be updated until it's released worldwide.

[2020-10-05 12:07] nidiculageorge commented on #1487
@aristosvo     "Why so impatient? "NOT THE RIGHT TERM to use as I just asked a question here

As we have deployed clusters in all NE and SEA regions and our application need to be tested based on the update that is Node Image version. So our testing is on hold, so just wanted to communicate the same to our stakeholders. That's why I asked for an ETA.

thankyou

[2020-10-05 13:22] aristosvo commented on #1487
@nidiculageorge Sorry, not trying to offend you and I was too quick with my comment. For myself I'd edit my first post instead of doing two separate posts, but that's a minor detail.

In another issue (https://github.com/Azure/AKS/issues/1625#issuecomment-698727404) @palma21 predicted that they would conclude rollout previous week or start of this week.

[2020-10-05 14:32] LudoNieuw commented on #323
Prometheus is in most cases deployed inside the cluster (also my situation), so it should be able to access it, but it turns out the http port is removed without any public mention in recent AKS rollouts...

[2020-10-05 20:00] thomasfrederikhoeck commented on #1877
It is mentioned in the comments of #1052  that this is probably related.

[2020-10-05 21:30] curtdept commented on #1889
@antst did you allow AKS to access ACR? there should be a terraform config for it as well on create.

https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration

[2020-10-06 01:00] #1205 closed

[2020-10-06 06:06] jstewart612 commented on #1326
Adding report.

[2020-10-06 06:22] deyanp commented on #1326
When can we finally remove the dnsConfig section from our deployment yamls? Is the Ubuntu 18.04 AKS node image going to remove the need for this workaround?

[2020-10-06 07:41] palma21 commented on #1485
I'm not sure I follow, as I said if you don't need ingress then that rule is not needed. But if you do as it seems to be the case they the kubernetes cloud provider will create the necessary rules for inbound and you cannot delete them.
What is you NSG look like? And what is the goal you're trying to achieve? Limiting egress is something you can do manually, by following the link I sent. Limiting

[2020-10-06 09:19] colin-lyman commented on #1485
@elsesiy - not sure if this helps.  But since this post I've setup AKS Standard LB with a static IP address by deploying nginx ingress using helm and attaching the Public IP using the annotations.

[2020-10-06 10:22] mtparet commented on #982
It is still not possible to run critical components (kube proxy/corends/calico/metric server/tunnelfront) on spot instances so it cannot be considered as GA now as it prevents a correct usage of spot instances on production.

[2020-10-06 10:30] 4c74356b41 commented on #982
huh? why would it matter? thats the whole point of spot instances. you cant have same service but cheaper. running system services is not supported on user node pools, only on system node pools. system node pools cant be deployed using spot instances.  so I'm not sure what you are talking about @mtparet

[2020-10-06 10:36] mtparet commented on #982
Because of this limitation in addition of `tolerations` to add everywhere, we also have to add `nodeSelector` to ensure pods will be running on the spot instance pools. Otherwise the no-spot instance pool could be filled up and critical components will failed to be scheduled.

[2020-10-06 10:39] 4c74356b41 commented on #982
you have priority classes for that, system components have a priority of 2000000000, you cant set such a high priority for non system\node components, so this doesn't matter as well.

[2020-10-06 10:53] mtparet commented on #982
If the node is already filled up, it will not evict already running pods to run pending pods, so the priority is not useful in this case.

[2020-10-06 14:34] neumanndaniel commented on #1889
As you mentioned you are using managed identities with AKS the TF part should look like this https://github.com/neumanndaniel/terraform/blob/master/modules/aks/main.tf#L134-L138 to grant the agentpool MI the appropriate permissions.

[2020-10-06 14:40] ohorvath opened #1890 "Provisioning issues with OMS agent add-on profile"
**What happened**:

We are using ARM templates to deploy AKS clusters including conditionally enable omsagent integration.

We experienced that even we use json('null') here, the analyticsWorkspaceID ends up as an empty string value after provisioning the cluster instead of null. After that point, any attempt to modify the AKS configuration like modifying API whitelists, adding new users to AAD RB

[2020-10-06 15:01] neumanndaniel commented on #1884
You can run the command multiple times and specifying a different ACR each time.

[code]

The parameter name is a bit misleading. The command does an Azure RBAC role assignment of the SP or MI on the specified ACR and grants the AKS cluster permissions to pull container images.

[2020-10-06 15:31] mtparet commented on #982
I think this is linked to https://github.com/Azure/AKS/issues/1719

[2020-10-06 16:14] 4c74356b41 commented on #982
[code]

thats just not right

[2020-10-06 16:28] mtparet commented on #982
cf https://github.com/Azure/AKS/issues/982#issuecomment-704182310

The system node pool could be filled up in this case and system services unable to be started because the system node pool is filled up.

Please stay nice, this does not help anyone.

[2020-10-06 16:33] palma21 commented on #1484
I can't speak for what terraform is doing, on the azure CLI, portal and ARM, the "default" node pool is system. That is the case when you deploy just a cluster with just one nodepool (you always have to have a system pool at all times)
There really isn't a default nodepool concept outside of terraform.

[code]
This issue is for soft taints support if you're interested in critical addons taint bein

[2020-10-06 16:56] palma21 commented on #1487
Rollout is now completed on:
 - westeurope
 - northeurope
 - japaneast
 - japanwest

[2020-10-06 17:14] denniszielke commented on #1591
Since we now have October - can you outline when MSI+ Kubenet + Outboundtype will be working?

[2020-10-06 17:29] nidiculageorge commented on #1487
@palma21 Thanks for the updates.

Will the node image versions get updated automatically to Ubuntu 18.04 for an already updated cluster (AKS vresion 1.18.8) ?

[2020-10-06 18:20] palma21 commented on #1802
That's awesome @rahulrai-in! Mind if I share?

[2020-10-06 19:17] miwithro commented on #1591
Before the end of October.  I can provide a better date next week.

[2020-10-06 19:42] rahulrai-in commented on #1802
@palma21 Feel free to share it. That's what it is meant for 🙂

[2020-10-06 20:24] asubmani commented on #1814
@palma21  any update on this? 2 of them are critical vulnerabilities. I have added the CVE number as well.

|CVSID         |Severity   |Description|
|--------------|-----------|-----------|
|CVE-2020-12723|High       |regcomp.c in Perl before 5.30.3 allows a buffer overflow via a crafted regular expression because of recursive S_study_chunk calls.|
|CVE-2020-10878|High       |Perl before 5.30.3 ha

[2020-10-06 21:04] palma21 commented on #1484
My point is there is nothing nor ever was on the AKS API that refers to "default node pool".
Before the concept of system pool documentation might have used that term to indicate the initial pool, but that was all it was, the initial pool, no API property refers to it as default. Hope this clarifies what I'm saying.

[2020-10-06 21:16] palma21 commented on #1814
AKS uses the same upgrade as AKS engine with some additions, some clusters (only upgrade) did not receive 3.8 because of incompatibilities on that cluster, if you create a new one you'll see 3.8. We always prioritize function over upgrade and breaking.
Those clusters are being manually patched so they receive 3.8 safely and that should finish over the next few weeks.

Calico components are managed

[2020-10-06 21:20] ronamosa opened #1891 "AKS-Managed Azure AD (AAD) Integration Authentication Issue: v1.19.0"
**What happened**:

When building an AKS-cluster implementing the new AKS-AAD integration as per https://docs.microsoft.com/en-us/azure/aks/managed-aad using Terraform, when using kubernetes v1.19.0 I get the following error after authenticating with a valid Azure account login:

[code]

I have retrieved the kubeconfig file via: `az aks get-credentials --name aks-cluster --resource-group aks-clust

[2020-10-07 00:02] #1883 closed

[2020-10-07 02:46] songkranj commented on #1687
A lot of clusters are waiting for this features.

[2020-10-07 07:03] fabiolune commented on #1871
Maybe I didn't properly understand how the cluster stop works, but when I stop a cluster (_powerState_ correctly shows 'Stopped'), my workloads are still running (and so all the VMs of the scale set).

[2020-10-07 09:50] thomasfrederikhoeck commented on #1052
I note that you are the signee @jluk . Do you have any information about any fix for this? 😄

[2020-10-07 10:05] jornh commented on #1871
+1 on the experience @fabiolune reports (last week I think `az aks show` gave me `"powerState": { "code": null }` - but now it's reporting correctly `"Stopped"`) - so progress there.

This triggered me to look a bit into the `MC_<my_rg>_<my_cluster>_westeurope` resource group in the Azure portal. I saw the VMSS was indeed still running. When trying to manually stop-start the VMSS in the portal, it

[2020-10-07 11:24] sivamca127 commented on #1875
@TomGeske , i've modified the routes as you suggested and route table related issues are resolved now but outbound connections issues are not still exist.

Even i'm also struggling a lot with couple of issues with respect to UserDefinedRouting (Custom subnet and Routetable).

Here is error info:

Error: creating Managed Kubernetes Cluster "aks-tf" (Resource Group "aks-tf"): containerservice.Manage

[2020-10-07 11:52] nidiculageorge commented on #1487
Hello Team,

I have done the upgrade in our env

Points that i come across during the upgrade

1. A cluster which is already upgraded to 1.18.8 and the node image version which is old for a particular nodepool cant be changed. We have to add a new Nodepool which will take the correct Nodeimage version

[2020-10-07 13:01] #1727 closed

[2020-10-07 13:05] asubmani commented on #1814
Thanks for the update @palma21. Is it documented/tracked somewhere which **supported** cluster versions are compatible with latest supported version of calico?

I have deployed 1.16.7, 1.16.10  over the last 4 months; with the most recent being 3 weeks ago. I can confirm that Calico version on the AKS cluster is v3.8.0

I will open a support incident to speed up the update, but some visibility int

[2020-10-07 15:43] ncole commented on #1874
@marwanad - you are correct on both counts, the pod MAY land on a system pool, but in this particular case, it isn't (it's on my worker node). I see that exact message in the CA logs.

[2020-10-07 15:46] devteng commented on #1487
Is this done with the --node-image-only option? (https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade)

[2020-10-07 16:40] elsesiy commented on #1485
@palma21 maybe the problem statement is not clear enough so let me try explaining it again.
When AKS is created there's also the agentpool NSG created in the `MC_` resource group. This NSG is attached to the NICs of the worker nodes. Then there's the SLB that gets a public IP that is used for egress traffic only. This is all fine and I'm not talking about any of that.

We have a custom VNET and Su

[2020-10-07 17:39] marwanad commented on #1874
@ncole Did you add the annotation to the pod or the deployment object? The annotation needs to be on the deployment itself. It will probably get reset in your case though.

The fix is rolling out currently and I'll circle back here when its completed.

[2020-10-07 18:15] ksandermann commented on #1487
@nidiculageorge @devteng
I am experiencing the same issue - can't find a way to move an AKS 1.18.8 cluster with 16.04 to 18.04.

According to MS support, the --node-image-only option only works if you already are on 1.18.8 with 16.04.

Is there really no other option to upgrade other than waiting for a newer version than 1.18.8 (and would this even work?) or adding a new nodepool?

[2020-10-07 18:43] cpunella commented on #1545
Hi there, any news about it?

[2020-10-07 18:44] palma21 commented on #1487
The rollout has now reached all public regions.

Node image version will never change your underlying base image, that could render some unexpected cases on prod clusters where apps might have some untested kernel dependency.

For clusters already on 1.18.8 you can add a new pool and delete the old one if you want 18.04. When you delete we do cordon and drain as well, so it's a process similar to

[2020-10-07 19:13] JuanKRuiz opened #1892 "RBAC Azure AD - not working with Kubectl on Windows"
**What happened**:
We're using AKS + RBAC, for getting the credentials we run this on any command prompt

`az aks get-credentials --resource-group teamresources --name aksrbac`

And the result is

`Merged "aksrbac" as current context in C:\Users\THEUSER\.kube\config`

Until there all is normal, then when trying to run any command from `kubectl` an authorization is required, this way

[code]
But on

[2020-10-07 19:40] JuanKRuiz commented on #1892
**Update**

There is an error on the Kubernetes website
https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl-on-windows

The link that they offer for last version (19 at this time) is really downloading v14.

`curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.19.0/bin/windows/amd64/kubectl.exe`

I downloaded the right v19 and that one is working.

[2020-10-07 19:41] #1892 closed

[2020-10-07 23:06] matthewi commented on #1719
This would be very useful outside of spot pools. (and/or PodNodeSelector)

[2020-10-07 23:24] matthewi commented on #1484
I actually ran into this issue and am peripherally involved with the azure terraform provider. My understanding is that the method used by the provider requires the creation of a nodepool (the default node pool). This node pool is always a system pool by default. However, despite suggestions in the provider documentation you can not add taints to it since you are not allowed to taint all node pool

[2020-10-07 23:27] matthewi commented on #1484
My workaround is to provision a single node "default" pool with a small VM to minimize cost. I have a later step in the provisioning process that cordons and drains this node once my subsequent node pools are up. Switching this to User and scaling to 0 is futile in terraform as it reverts to System and 1 node on subsequent runs and seems to ignore the lifecycle rules to ignore changes (probably be

[2020-10-08 03:58] nidiculageorge commented on #1487
@ksandermann

1. Is the cluster upgraded to 1.18.8
2. If yes,please add a new nodepool to existing one which will automatically take the new Node IMage version (18.04) version

[2020-10-08 04:04] #1884 closed

[2020-10-08 07:01] #1544 closed

[2020-10-08 08:27] hallgeirl commented on #1454
Is there any updates on planned rollout of newer Windows images for AKS? Don't mean to be "that guy" that keeps nagging - but since the last post indicated "probably a few months out", and it's been 4 months since then, I figured it's acceptable with a followup :-)

[2020-10-08 08:31] audunsolemdal commented on #1891
I already had AAD auth enabled and working in my cluster. AKS upgraded from 1.18.6 to 1.19.0 using ARM template.

The upgrade seems to be successful based on Az activity logs, but I am getting the same issues as the OP.

[code]

[code]

Azure CLI version 2.12.2

[2020-10-08 08:36] IainColledge commented on #1738
This would be a fantastic capability to have autoheal and autoscale across two close regions.

I'm currently investigating how to make our DR more cloud native and as we have just put AKS in operational usage then this was the first capability I looked for to have our DR "just work" with no or minimal intervention.

[2020-10-08 08:41] audunsolemdal commented on #1891
[code]

....

[2020-10-08 09:27] Habulinec commented on #1832
Same issue here. Already created a customer message, if somebody's interested: 120090424001884.

[2020-10-08 09:58] mrowken commented on #1487
I can confirm that @palma21 instructions works fine to add another system node pool, change the previous pool to mode "User" and delete it.
It required me to be patient waiting for rollout to regions, but finally I was able to get new Ubuntu nodes on running cluster.
I can only admit that using `az aks nodepool upgrade` did nothing for me. I have no idea what is expected behaviour and use case of

[2020-10-08 10:13] ksandermann commented on #1487
@nidiculageorge Yes its upgraded to 1.18.8 but still running 16.04

Adding another nodepool and replacing the existing one is not a feasible option for us and probably a lot of other users as well - As we are using terraform and this is not possible natively in the terraform azurerm provider (https://github.com/terraform-providers/terraform-provider-azurerm/issues/7093).

However, if moving from 1

[2020-10-08 10:36] Mahesh-MSFT opened #1893 "AKS system components upgrades"
I understand that [AKS does not support the configuration of system components to ensure the SLOs and Quality of Service](https://github.com/Azure/AKS/issues/1595#issuecomment-664329475).

I have following questions.

1. Is there a list of such components documented anywhere?
1. Are system components upgraded after AKS cluster upgrade?
1. What is the upgrade schedule/frequency for system component

[2020-10-08 11:02] mrowken commented on #1487
@ksandermann I'm also using Terraform and was able to achieve it, but in ugly way. I hope MS listen to us and make it easier in the future. Especially it would be easier, if there is no single `default_node_pool` in `azurerm_kubernetes_cluster`, but you can specify a list or use only map of `azurerm_kubernetes_cluster_node_pool`.
My procedure:
1. If you have limited network capacity, scale down yo

[2020-10-08 11:18] ksandermann commented on #1487
@mrowken Thanks for the hint - I also read that approach on the terraform github issue.
Unfortunately it's not a feasible option for us running 60 production clusters :/

[2020-10-08 12:15] EPinci commented on #1487
@ksandermann Maybe you can give a try on building a script that does:

[code]

The tricky bit would be passing to the last create parameters to make it exactly as you defined on terraform (the defaultpool parameters) so that on its next run it wont be detected as new and/or require redeployment.
You can code some delays or more elaborate cross scalings and you can then apply it to all your cluster

[2020-10-08 18:05] ksandermann commented on #1487
@EPinci much appriciated, that definetly sth that might work after some finetuning on development clusters.

Anyway, as 1.18.9 will completely fix all our clusters out-of-the box, we decided to wait for it :)

[2020-10-08 20:43] keikhara commented on #1792
@bplasmeijer This is for Windows OS Version Support. Linux is already there. You should expect a similar syntax as Linux for Windows OS. Once the OS is being upgraded, you will have the features like Hyper-V isolated and containerd.

[2020-10-09 00:02] palma21 commented on #1871
@fabiolune do you have support case open by any chance? We'd need to take a look a your specific case. (feel free to DM me your cluster FQDN on twitter as well @ jorgefpalma)

@jornh the OP error is expected as explained above since this feature does not support AVSets. We've since explicitly blocked the operation to run on those cases.
In your case it seems you're running VM scale sets, please ne

[2020-10-09 00:02] #1802 closed

[2020-10-09 01:35] borkod opened #1894 "Using Terraform to create an AKS cluster with "SystemAssigned" identity and aci_connector_linux profile enabled does not result in a creation of a virtual node"
**What happened**:

Using Terraform to create an AKS cluster with "SystemAssigned" identity and aci_connector_linux profile enabled does not result in a creation of a virtual node (ACI)

**What you expected to happen**:

I would expect a virtual node to be created.

**How to reproduce it (as minimally and precisely as possible)**:

Terraform code used:
[code]

**Anything else we need to know?**:

[2020-10-09 05:20] jornh commented on #1871
Got it regarding both OPs AVSet not being supported and going forward never using the VMSS API directly. Not toying around on services underneath the managed cluster makes sense (was only done here on my dev environment to educate myself and debug the case a bit further).

Yes correct, like fabiolune I could confirm:

1. Workload on VMSS was still running (it responded to incoming requests)
2. As

[2020-10-09 10:47] sikri-eic commented on #667
Is there a solution/workaround for this issue for Alpine based images? We tried `dnsPolicy: Default` to no avail. We are also using Azure CNI.

Kubernetes cluster version: `1.18.8`
OS Image: `Ubuntu 16.04.7 LTS`

A newer version of OS image (18.04) has been deployed very recently, would it help to upgrade?

[2020-10-09 10:52] timja commented on #667
@sikri-eic deploying nodelocaldns fixed it for us.
18.04 didn't solve it in our case

[2020-10-09 11:04] sikri-eic commented on #667
@timja Thank you for the prompt response. I will take a look at `nodelocaldns`. The documentation sounds like it may actually address this problem.

[2020-10-09 11:26] jmorcar commented on #223
Sorry, what NFS version have you tested? Azure FileStorage, when you register this:
Microsoft.Storage/AllowNfsFileShares                     Registered
Microsoft.Storage/PremiumHns                             Registered

Then , new fileshare menu permit select between SMB or NFSv4.1 ... Is this version, right?

[2020-10-09 11:34] bplasmeijer commented on #1792
We have many use cases that I want to test out.
Any ETA for this great new feature @keikhara?

[2020-10-09 11:45] neumanndaniel commented on #1891
Root cause: https://github.com/kubernetes/kubernetes/issues/95211

[2020-10-09 12:33] ams0 opened #1895 "Using another AAD tenant than the tenant the AKS cluster is to authenticate with AKS fails with "InvalidAuthenticationTokenTenant"."
**What happened**:

Using another AAD tenant than the tenant the AKS cluster is to authenticate with AKS fails with "InvalidAuthenticationTokenTenant".

**What you expected to happen**:

I used to be able to spin up an AKS cluster in a sub in a tenant, and keep the AAD authentication (users/groups) in another tenant. This seems not be working anymore with the new AAD authentication:

`az aks creat

[2020-10-09 12:47] jmorcar commented on #223
When you documented this example, why you use manual procedure via https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-master.md

AKS have a documentation guide for csi-storage-drivers here:

https://docs.microsoft.com/en-us/azure/aks/azure-files-csi

Is the same right? Both install CSI drivers in AKS nodes, or Is there any differents in drivers?
I imagine A

[2020-10-09 12:56] andyzhangx commented on #223
@jmorcar at that time I commented, https://docs.microsoft.com/en-us/azure/aks/azure-files-csi is not ready. That link requires you to install CSI driver on AKS cluster creation, and if you already have a AKS cluster, you can only install CSI driver manually, follow by: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-csi-driver-v0.9.0.md

[2020-10-09 13:05] jmorcar commented on #223
Have you thought to continue with your another project ? https://github.com/Azure/kubernetes-volume-drivers/tree/master/flexvolume
Flexvolume for SMB and Blobfuse is OK, but NFS could be great solution too, right?

[2020-10-09 13:23] ezYakaEagle442 opened #1896 "RFE: Specify an existing resource group for the node Resource Group"
**What happened**:
[https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group](https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group)
**As you work with the node resource group, keep in mind that you cannot:
•	Specify an existing resource group for the node resource group.**
•	Specify a different subs

[2020-10-09 13:38] mac8005 commented on #1891
Have the same issue and in my case i use the same aad tenant then in v18.1.8.

[2020-10-09 14:23] Vandersteen commented on #667
@timja Did you have to do anything special to install nodelocaldns on aks ? Seems like you need to mess around with IPtables or something

[2020-10-09 14:30] timja commented on #667
It depends if you're using kubenet or azure cni,

kubenet works with just the standard config,

azure cni:

add the -setupebtables flag

ref:
https://github.com/Azure/AKS/issues/1642

example config for azure cni (note it took months for a release after our changes so we're using a forked image but looks like upstream have released now):
https://github.com/hmcts/cnp-flux-config/blob/master/k8s/nam

[2020-10-09 14:44] adhodgson1 commented on #1591
Hi guys,

I need a little assistance with creating an ARM template that uses the user assigned identity.  Here are relevant portions of the template, the user assigned identity is being created in the same resource group as the AKS cluster:

[code]

I have also tried with the ID of the identity instead of using a variable, though the end goal will be to have all these parameterised.

Here is the e

[2020-10-09 14:55] adhodgson1 commented on #1591
Fixed this, for those getting the same issue the correct syntax is:
      "identity": {
        "type": "UserAssigned",
        "userAssignedIdentities" : {
          "[variables('managedIdentityId')]": {}
        }
      }

[2020-10-09 15:32] andyzhangx commented on #223
@jmorcar flexvolume driver is in maintenance mode, we recommend using blob and smb csi drivers:
https://github.com/kubernetes-sigs/blob-csi-driver
https://github.com/kubernetes-csi/csi-driver-smb

[2020-10-09 15:44] patrickheinzelmann commented on #223
@andyzhangx When will https://docs.microsoft.com/en-us/azure/aks/azure-files-csi support other regions? For example Europe West and Europe North?

[2020-10-09 16:53] tkinz27 opened #1897 "External DNS managed addon"
ExternalDNS is a very common project to install in a kubernetes cluster for automatically managing DNS entries for ingress objects in the cluster. It would be really nice to not have to install this manually myself.

Be nice if the managed addon could support multiple dns zones too.

[2020-10-09 17:05] fabiolune commented on #1871
@palma21 sent you a twitter DM
In my previous post I forgot to mention an additional detail: after stopping the cluster with `az` cli and getting a correct "Stopped" status, as I said the VMs and the workloads are still running, but I cannot reach the cluster with `kubectl`

[2020-10-09 23:39] kbayannapelitas commented on #1573
It works for me. Thanks for saving my time.

[2020-10-09 23:56] palma21 commented on #1741
The issue here is likely that you have more than one node with the label you select, so it's really up to kubernetes scheduler to select which node to go to, both before or after the node is ready. If only this node has that label, kubernetes has no other choice but to wait for it to be ready.

The reason it doesn't artificially wait for the specific buffer node to be ready is to expedite things,

[2020-10-10 05:50] blushingpenguin commented on #1755
this was still happening as of a few days ago

[2020-10-10 12:10] arsnyder16 commented on #1755
@blushingpenguin I was experiencing this as well. At one point it was very intermittent and then it started happening consistently. I was advised by the AKS  team to configure my watches to be lower than 4 minutes. This is the default request timeouts for the azure load balancer, this did resolve my issue. Unfortunately these silent failure are problematic in that there are internal workloads with

[2020-10-10 14:18] curtdept commented on #667
Here is a version for AKS, runs on everything except virtual node.

https://github.com/curtdept/aks_nodelocaldns/blob/main/nodelocaldns.yaml

[2020-10-10 19:01] #1087 closed

[2020-10-11 01:01] #1322 closed

[2020-10-11 01:01] #1308 closed

[2020-10-11 07:01] #1595 closed

[2020-10-11 11:11] ramki88 commented on #1814
I have the same issue. With Kubernetes v 1.18.8 the calico components are of the below version;
mcr.microsoft.com/oss/calico/node:v3.8.0
mcr.microsoft.com/oss/calico/typha:v3.8.0

But AKS PG has confirmed that vulnerability fixed version are
mcr.microsoft.com/oss/calico/node:v3.16.2
mcr.microsoft.com/oss/calico/typha:v3.16.1

Even in the public preview of 1.19 the versions remain the same.

[2020-10-11 12:51] iMoses commented on #1477
this solution doesn't work in my case...

[2020-10-12 02:05] nboeckmann commented on #1859
Hi,

ping...

Nils

[2020-10-12 06:02] #1741 closed

[2020-10-12 07:38] aviramha commented on #1326
Facing this too.

[2020-10-12 08:14] timja commented on #1326
see https://github.com/Azure/AKS/issues/667#issuecomment-706556195

[2020-10-12 08:42] aelmanaa commented on #1605
Hello ,

what do you think about my answer of August 4th?

[2020-10-12 08:45] MohitBaj opened #1898 "Cluster Autoscaler taking too long to scale"
For adding the 1st new node in a nodepool, cluster autoscaler took 15 minutes to add the node, but for the 2nd node addition, it took around 5 minutes. Could you please tell me the reason for this?
Also for scheduling a pod on already present node, time take was in second(5-10 seconds), but to schedule the pod on a new node, it is taking around 5 minutes(after the node was ready, node also took ot

[2020-10-12 09:14] slawekww commented on #1814
The only update about calico version is AKS changelog:
https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2020-07-27
It started that supported version is calico 3.8.

But it is deployed (calico 3.8) only during new AKS cluster creation.
Once AKS upgrade is called (from 1.16.x to 1.17.x/1.18x), calico remains on the same version as initially used (calico 3.5).

[2020-10-12 11:12] GerryWilko commented on #1765
Do msft have any update on when this fix will be included in AKS?

[2020-10-12 11:18] zhiweiv commented on #1765
I guess it should arrive soon, it have been 20 days since last release.

[2020-10-12 12:47] AbelHu commented on #1765
AKS will release it with Windows 10C patch.

[2020-10-12 13:32] thomasfrederikhoeck commented on #1755
@blushingpenguin  I'm experiencing it when I have long-lived applications in the cluster where the application deploys  k8 jobs using inter-cluster comms. It times-out after 4 min silently.

[2020-10-12 14:43] pauloleary57 commented on #173
Same here. Using 1.18.8:
[issue.txt](https://github.com/Azure/AKS/files/5365802/issue.txt)

[2020-10-12 15:05] MiyKh commented on #1829
Do you have any update on this topic?
The lack of this feature prevent us from using private cluster at entreprise scale

[2020-10-12 16:11] marwanad commented on #1898
@MohitBaj the bottleneck for adding a node could be due to various factors. SKU, capacity in the region, etc all come into play. Can you file a support ticket so we can look into the issue?

You should also be able to monitor the newly added VM on portal until it gets to "Succeeded" provisioningState on portal which should give you some indicator.

[2020-10-12 16:35] curtdept commented on #1492
@bergerx this will make you happy :)

https://github.com/curtdept/aks_nodelocaldns/blob/main/nodelocaldns.yaml

[2020-10-12 19:00] #925 closed

[2020-10-12 19:23] pauloleary57 commented on #173
Same here. Using 1.18.8:
`$ kubectl get componentstatuses
NAME                 STATUS      MESSAGE                                                                                     ERROR
scheduler            Unhealthy   Get http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: connect: connection refused
controller-manager   Unhealthy   Get http://127.0.0.1:10252/healthz: dial tcp 127.0.0.1:

[2020-10-12 19:31] pauloleary57 commented on #173
Same here. Using 1.18.8:
`$ kubectl get componentstatuses`
`NAME                         STATUS       MESSAGE                                                                                                                      ERROR`
`scheduler                   Unhealthy   Get http://127.0.0.1:10251/healthz: dial tcp 127.0.0.1:10251: connect: connection refused`
`controller-manager   Unhealthy

[2020-10-12 19:40] pauloleary57 commented on #173
Same here. Using 1.18.8.

[2020-10-12 19:49] palma21 commented on #173
Please see the comment from @mitchellmaler  https://github.com/Azure/AKS/issues/173#issuecomment-664430043

[2020-10-12 19:57] palma21 commented on #1871
Hi @jornh / @fabiolune we checked both your cases and it's because cluster autoscaling (CA) was enabled on both cases. So CA prevented your nodes to ever be fully scaled down.

This is actually a scenario we're working on right now and will be fully supported at GA but for now please disable CA before stopping the cluster.

[2020-10-12 20:43] palma21 commented on #1524
BLB also has a public IP involved, you just don't see it. UDR without an actual UDR (or a UDR to the Internet) is not possible, in fact UDR to internet is already part of the default UDRs in a route table, but again without a public IP there's no way to SNAT to the internet.

There's two things to call out here:
1) AKS requires some outbound access for things like MCR (Container Registry) and pack

[2020-10-12 20:43] #1524 closed

[2020-10-12 21:16] fabiolune commented on #1871
Thanks @palma21 for checking
In any case something has changed because my daily job that tries to stop the cluster now fails with
[code]
but `az aks show` still returns powerState.code `Stopped` (as you sad presumably because CA is enabled)

[2020-10-12 21:50] palma21 commented on #1871
Yes, that's the same, essentially your control plane stops but CA is fighting back on removing the nodes :)

[2020-10-12 23:51] palma21 commented on #323
AKS will soon provide for more bootstrap options to confiture the node OS and kubelet.

[2020-10-12 23:52] palma21 commented on #1824
Will be solved by:
https://github.com/Azure/AKS/issues/323 which will allow you to set that param to false.

Closing this one. Let me know if you have any additional questions/comments.

[2020-10-12 23:52] #1824 closed

[2020-10-13 01:00] #1733 closed

[2020-10-13 04:23] PrabhuMathi commented on #1497
Please advise on below queries:
When this is expected to be in GA?
What would be the planned default k8s version this will get default? Is it going to be 1.18.8 like ubuntu 18.04 for node pools?

[2020-10-13 07:01] #1227 closed

[2020-10-13 08:03] MohitBaj commented on #1898
I have raised the support ticket. Though would these factors affect node addition timing?(When nodes are of same type and configurations in same nodepool)

[2020-10-13 08:24] jornh commented on #1871
Thank you @palma21!

I see you even listed this under limitations during preview in the docs: https://github.com/MicrosoftDocs/azure-docs/commit/32b17629b2e707423b1a5698e82cd48ad9cb63c3#diff-d00d6ff5887a8cd73fd804c70802d50b7f327f3283ac0aae493b9e9de6f271b5

Happy to hear you’re working on resolving the limitation before GA.

[2020-10-13 10:12] slawekww commented on #323
More options should be available for other K8S services:  allow to configure additional parameters for kube-api, kube-controller-manager etc. If AKS shall play production grade cluster, we need to have capabilities to setup parameters according to guidelines.

[2020-10-13 11:40] andyzhangx commented on #1018
it's permission issue, try set to narrow down:
[code]

What's your image userid?

[2020-10-13 13:06] anurag-arya commented on #1461
We suspected to have the same issue and we've also upgraded one of our clusters with kubernetes version 1.17.9 and still see several cni failure logs on windows nodes kubelet logs. Only rebooting resolves this issue temporarily.
`failed to read pod IP from plugin/docker: networkPlugin cni failed on the status hook for pod `

[2020-10-13 15:56] aristosvo opened #1899 "Network restrictions limitations of Azure Storage Account with AKS"
**What happened**:

We installed Velero with the Azure plugin (https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure) with AAD Pod Identity. First PoC worked amazing, until we changed to an Azure Storage Account with IP restrictions with our AKS outbound static IP in the allow list.
[code]

**What you expected to happen**:
IP limits on the connection to Azure Storage from user space sh

[2020-10-13 16:21] ncole commented on #1874
I set it on the deployment itself.  I'll keep a lookout.

[2020-10-13 18:03] asubmani commented on #1814
@palma21 > If supported version is 3.8, that is IMHO the issue here. v3.8 is a really old version of calico (Jun 2019)

The vulnerabilities reported are all from 3.8.0 version of calico (which seems to be the latest Azure supports). I am unable to track when the next caclico upgrade is scheduled.

I made a case for Calico over Cilium because Calico was managed by AKS and Clilium was a manual setup

[2020-10-13 19:29] neumanndaniel commented on #1899
@aristosvo Why you are not using VNET Service Endpoints?

-> https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-service-endpoints-overview

I assume the AKS cluster and the Azure Storage Account are in the same Azure region?

[2020-10-13 20:27] jluk commented on #1351
This is set to GA in public cloud in Q4 2020

[2020-10-13 20:35] jluk commented on #1075
This should be completed per the following announcements, closing as a result.

https://azure.microsoft.com/en-us/updates/azure-kubernetes-service-mutate-default-storage-class-feature/

https://docs.microsoft.com/en-us/azure/aks/azure-files-dynamic-pv#create-a-storage-class

[2020-10-13 20:35] #1075 closed

[2020-10-13 20:37] jluk commented on #1074
The K8s dashboard is disabled by default for any new clusters created on 1.18 or higher. Existing clusters upgrading versions will maintain the dashboard, but it can be manually disabled with these docs:

https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#disable-the-kubernetes-dashboard

[2020-10-13 20:50] aristosvo commented on #1899
@neumanndaniel Thanks for the suggestion and it is probably the right solution for this problem 👍  AKS and SA are in the same region, so it definitely should work 🎉

In general, besides needing a technical solution for this particular problem I'm also a curious person and it would probably help future decision making if people know why this isn't working. In my experience it was a bit harder to au

[2020-10-13 21:03] neumanndaniel commented on #1899
@aristosvo As AKS and Azure Storage are in the same region you only can use the VNET Service Endpoints approach.

The network restriction option where you whitelist the public IP isn't working, when both resources are in the same region. As the traffic is handled internally in the region itself and never leaves the network via the outbound public IP.

When you scroll through the issues in the Azur

[2020-10-13 21:48] bergeron commented on #1755
Seeing this too. I think it happens when the watcher receives no events for > 4 minutes.

I wrote a C# program that reproduces the problem: https://gist.github.com/bergeron/10c88fd26aa683619fc75cfd85f63acf

When I modify the watched resource <= every 4 minutes, everything works:
- The watcher receives the modification events.
- The watcher is closed after ~30 minutes (expected, the application sho

[2020-10-14 07:22] bergerx commented on #1075
@jluk I checked the linked pages but didnt get how to change the default storage class. First one just tells its enabled. Second just discuss about how to add new SCs. But neither tells how yo change the default SC.

[2020-10-14 08:48] andyzhangx commented on #118
With the fix roll out, here is the way how to change the default storage class on AKS:
 - prepare default storage class and save to your local env, e.g. `default.yaml`
[code]
 - Run following two commands consecutively:
[code]

 - check whether default storage class is changed:
[code]

For change other built-in storage class, make sure `storageclass.beta.kubernetes.io/is-default-class: "true"` is

[2020-10-14 08:48] #118 closed

[2020-10-14 08:49] andyzhangx commented on #1075
With the fix roll out, here is the way how to change the default storage class on AKS:
 - prepare default storage class and save to your local env, e.g. `default.yaml`
[code]
 - Run following two commands consecutively:
[code]

 - check whether default storage class is changed:
[code]

You could also use same way to to change other built-in storage classes, make sure `storageclass.beta.kubernetes.

[2020-10-14 08:51] andyzhangx commented on #1075
cc @palma21

[2020-10-14 08:51] andyzhangx commented on #118
@palma21

[2020-10-14 11:54] thomasfrederikhoeck commented on #1755
@bergeron  Someone created an very similar script (Python though) on  #1052 and only experienced it on AKS not on AWS EKS.

[2020-10-14 16:12] marwanad commented on #1882
Fixe has been rolled out. Feel free to comment on the issue if you're still hitting it.

[2020-10-14 19:25] #1851 closed

[2020-10-14 19:25] #1850 closed

[2020-10-14 19:25] #1849 closed

[2020-10-14 23:42] palma21 commented on #1785
We're targeting private preview in November.

[2020-10-15 04:35] Karadiavinay opened #1900 "No system node pool by default when use az aks create command ; MODE argument missing"
**Where I did the testing**
On Azure portal with below configuration
[code]

**What happened**:
Used below command to create an aks cluster with the assumption that it will create a default system node pool as mention on the Azure Documents [here](https://docs.microsoft.com/en-us/azure/aks/use-system-pools#create-a-new-aks-cluster-with-a-system-node-pool)
[code]

**What you expected to happen**:
G

[2020-10-15 08:20] nidiculageorge commented on #1487
Hi Team,

I did an Upgrade of the cluster to 1.18.8 .One of of the Nodes in Windows is in Not Ready State

![image](https://user-images.githubusercontent.com/43850474/96096295-4dc92d00-0eed-11eb-8f95-e57c1acc0150.png)

When I did a describe node

  Type     Reason                   Age                  From                      Message
  ----     ------                   ----                 ----

[2020-10-15 11:07] bplasmeijer commented on #1785
@jeanfrancoislarente, and I would really like to test the preview @palma21

[2020-10-15 12:34] liquidcowgithub commented on #1888
+1 although slightly different use case, we were using basic load balancers to prevent a public IP address being automatically assigned during creation.

[2020-10-15 14:44] nilo19 commented on #1755
I use the simple csharp app from @bergeron and I noticed that there is a TCP RST package after ~5min idle. Actually, this behavior is by design that the AKS underlay SLB would send a RST signal to the client after ~4min idle. The client must handle the signal and re-establish the connection. There are several ways to handle this:
1. turn down the timeout time to less than 4min
2. config TCP keepal

[2020-10-15 14:47] adhodgson1 opened #1901 "Bring your own identity with ACR pull"
Based on [this](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity) webpage, it states that bring your own user identity for the agent pool in AKS for ACR pulls is not currently supported. Is this a planned feature, and if so will it be part of the current BYO user identity that works for the control plane?

[2020-10-15 14:54] blushingpenguin commented on #1755
For #2 with the k8s c# client there is no way of turning on tcp keepalives as it uses HttpClient: https://github.com/dotnet/runtime/issues/31267.
I'm not sure what you mean by #1.

I also don't see a TCP RST (if there was a RST, the connection would fail on the client -- that would be ok as it just needs to restart the watch -- however as no RST is sent the connection actually stays open from the

[2020-10-15 20:59] jluk commented on #1351
Update: this feature is set to GA in public cloud by the end of October.

[2020-10-16 08:13] thomasfrederikhoeck commented on #1755
@nilo19  I never see a TCP RST. It almost seems like the SLB doesn't have RST enabled.  NOTE: that all this is in-cluster comms.

If apply the following python script

[code]
I get the following logs.

[code]

The following happens:

1. First call is a success
2. Waits for 5 min.
3. Call with same connection
4. Time-out after 15 min as no response was given from call.
5. Retyr connect.

[2020-10-16 08:19] palma21 commented on #1891
1.18 is not the same issue as this one, this is exclusive an issue in 1.19. For any other version please open a support ticket or another issue if it's reproable in any cluster.

The 1.19 fix has shipped this week.

[2020-10-16 08:27] palma21 commented on #1502
Revision limit is now set to 2 after this week's release. Thanks for the report.

[2020-10-16 10:24] slawekww commented on #1846
@palma21 Would you be so kind to share information if IPVS or cilium on any other network provider is considered on AKS roadmap? Just to get rid of iptables option in future.

[2020-10-16 12:50] devteng opened #1902 "Is there a version/date for when Docker as a container runtime will be deprecated?"
We are using Docker-in-Docker on Kubernetes to build our images and we saw that the default will be set to Containerd for AKS 1.19. Is there a final AKS version that ContainerRuntime=docker will stop working? It takes time for some companies to switch their Docker building workflow over and would be great if there is a timeline.

Also, are there guidance for customer using Docker and AKS to build

[2020-10-16 14:12] miwithro opened #1903 "Upgrade of an AKS cluster causes deletion of existing User Managed Identities"
**Summary**
In Managed Identity AKS clusters, when the cluster is scaled up/upgraded the identities that are associated with the underlying nodes are removed. This can cause applications that use the identity to fail while fetching a token after upgrade/scale.

Similar issue reported - #639 and #633

**Bug and Fix**
Yes, we had an issue about the role bindings removal on Oct. 5th 2020 and a remedi

[2020-10-16 14:13] miwithro commented on #1903
Opened issue for advisory purposes.  Closing issue now.

[2020-10-16 14:13] #1903 closed

[2020-10-16 15:08] bcho commented on #1903
for the cluster role / role binding to add back:

[code]

[2020-10-16 17:11] marwanad commented on #1755
@thomasfrederikhoeck are you capturing the tcpdumps on the node or the pod itself?

[2020-10-16 17:37] palma21 commented on #1843
Unfortunately no, the service range is a fundamental cluster bootstrap piece so you'll need to add an additional cluster in this case

[2020-10-16 23:46] palma21 commented on #1846
Yes, we're exploring both options so in that sense considering them, but our larger scale tests haven't really been too fruitful/successful to allow us solid conclusions and draft any plans yet, we expect to have a clearer expectation here by the end of the year.

[2020-10-17 19:26] syska commented on #1827
No sure if this have been fixes or it's just macically working again.
![image](https://user-images.githubusercontent.com/317770/96351911-3e99d900-10bf-11eb-8fe0-3f3667e18952.png)

I raised the issue with AzureSupport on twitter: https://twitter.com/mikaelsyska/status/1316401133053710336

But I will try the upgrade now ...

[2020-10-18 01:01] #1739 closed

[2020-10-18 01:01] #1157 closed

[2020-10-18 10:26] karok2m commented on #1705
@TomGeske, I will close this issue as I managed to get available Kubernetes versions with Fluent APIs, and it can also be done with REST APIs as you suggested.

[2020-10-18 10:26] #1705 closed

[2020-10-18 18:02] #1843 closed

[2020-10-18 19:15] wronda opened #1905 "nodeSelector constraint ignored on AKS on mixed node pools (windows/linux)"
**What happened**:

Tried installing a basic Nginx ingress using Helm by running the following command:

[code]

Shortly after installing I noticed the pod was scheduled onto a Windows node instead of a Linux node:

[code]

[code]

Running a `describe` on the nginx pod revealed that the field `Node-selectors` remains to be set to `<none>.`

[code]

**What you expected to happen**:

I expected the

[2020-10-18 19:52] wronda commented on #1905
I did some further digging and I found out that when we use `helm template` instead of `helm install` and inspect the resources in the generated .yaml file we can see that the` nodeSelector` property is only specified for `kind: Deployment` and **none** of the other resources it seems.

[2020-10-19 00:02] #1899 closed

[2020-10-19 04:19] PaulCharlton opened #1906 "AKS - Stateful set can not use pre-existing storage resources"
tried same configuration with redis, postgresql, minio and other helm charts which use statefulset controller

The auto provisioning of volumes works with the "default" StorageClass, but does not have the desired lifecycle.

Manual provisioning of azure_files and/or azure_disks, followed by manual PV, Secret and PVC shows that the PVC "bound" to the PV correctly, but the mount stage fails when the

[2020-10-19 06:14] audunsolemdal opened #1907 "Multi nodepool changes for load balancer"
**What happened**:
https://github.com/Azure/AKS/releases/tag/2020-07-27

[code]

[code]

**What you expected to happen**:

What exactly is the bug here? I've used multiple nodepools with success in the past with the basic sku load balancer.

Now you are causing me a headache because to use multiple nodepools again I have to

A) Have to recreate my prod cluster because load balancer sku cannot be u

[2020-10-19 06:16] palma21 commented on #1902
After Containerd GA in November all versions v1.19+ will default to containerd, so all new clusters created or upgraded to 1.19+ will only use containerd and not have access to dockerd.

Kubernetes 1.18 (the latest before 1.19) still has a 6month+ lifecycle as of today. We hope this provides enough time for folks to be able to drop DinD or Docker sockets in favor of solutions like buildx (that, to

[2020-10-19 07:15] thomasfrederikhoeck commented on #1755
@marwanad sorry, I don't understand what you mean. I run it as a Deployment on the cluster where I'm using the `python:3.7` image as base image. I then look at the logs and get the what I have described above. You might need to set up a Role and Rolebinding to allow connecting for the pod to the k8 api.

[2020-10-19 13:18] brobichaud commented on #1157
Nothing has changed and this remains a significant roadblock for migrating all of our workloads to AKS.

Knowing the incoming requests Client IP address is a pretty fundamental feature in some contexts. We have now moved all of our workloads to AKS in production form, with the glaring exception of any workload that relies upon client ip addresses. We are completely roadblocked on those.

I underst

[2020-10-19 14:01] sybrenromer commented on #1900
I had the same problem last week and couldn't find anything that could be wrong.

Then I uninstalled the AKS-preview extension from azure-cli and the command worked again.

[2020-10-19 14:53] MiyKh commented on #1492
My AKS cluster is actually running with kubenet, the DNS service IP is something like 172.17.80.10, but I cant' figure out what is `<node-local-address>` parameter, is it an IP from the service CIDR? pod CIDR?

[2020-10-19 16:27] marwanad commented on #1755
My bad if I wasn't clear enough. I was curious about the part "I never see a TCP RST." - how are you validating that?

[2020-10-19 17:02] djsly commented on #1887
I had a talk with @palma21 and he told me that a Static / Sandbox cluster feature is being worked on to provide the flexibility to users to test Alpha/Beta feature Gates,
I think it should be enough and acceptable since enabling Alpha/Beta features on production clusters makes it impossible to support.

[2020-10-19 18:06] marwanad commented on #1874
Fix rollout is complete. Feel free to re-open if you hit the issue.

[2020-10-19 18:06] #1874 closed

[2020-10-19 18:23] TamasSzerb commented on #1810
Same here. Can he have an update here?

[2020-10-20 04:12] palma21 commented on #1823
*Usually*, it's more likely the watches than HPA. Did you happen to open a support ticket? This is probably something it's better for us to look at your specific cluster.
If you did I'm happy to follow up and take a look, just share the ticket number and I'll check it out.

[2020-10-20 04:23] palma21 commented on #667
Marking these as duplicate/known-issue and adding the in-progress feature for it as well as well as @curtdept current workaround (thanks!)

https://github.com/curtdept/aks_nodelocaldns/blob/main/nodelocaldns.yaml

https://github.com/Azure/AKS/issues/1492

[2020-10-20 04:24] palma21 commented on #1326
Marking these as duplicate/known-issue and adding the in-progress feature for it as well as well as @curtdept current workaround (thanks!)

https://github.com/curtdept/aks_nodelocaldns/blob/main/nodelocaldns.yaml

#1492

[2020-10-20 04:29] palma21 commented on #1900
Yes, this usually would mean a too old version of the CLI or CLI extension that is using an older version of the API.

Let us take a note to add the minimum extension version to that doc as well. cc @jluk , @zr-msft

[2020-10-20 05:34] infa-ssaurabh commented on #1768
when are we expecting this feature?

[2020-10-20 06:40] sanderaernouts commented on #1785
@palma21 we would definitely want to participate in the private preview as well provided it will include support for Windows containers as well. Our setup is quite similar to what the author of #1532 describes. We run Windows docker workloads on-demand on our AKS cluster and see that the pull time when updating images or scaling nodes is long (10-20 minutes depending on the exact image). Sounds li

[2020-10-20 06:48] zhiweiv commented on #1785
Will this be available on AKS-Engine too?

[2020-10-20 09:56] zhiweiv commented on #1907
Please also see https://github.com/Azure/AKS/issues/1888.

[2020-10-20 10:14] thomasfrederikhoeck commented on #1755
@marwanad pardon my ignorance but what I meant was that the client never receives a message that the connection has been closed.

Isn't the issue you are pointing to the other way around, where the connection is intentionally closed by the client using the python kubernetes package (but then never really closed)?

I guess it would be pretty easy for someone from the AKS team to check if the SLB us

[2020-10-20 12:11] nilo19 commented on #1755
@thomasfrederikhoeck the TCP reset on our LB is on by default and the idle timeout is 4min. I create a watch and let it idled for 4min. Then I could collect a TCP RST using tcpdump. I believe the issue is introduced because the k8s client failed to handle the RST packet.

[2020-10-20 12:35] ekarlso commented on #1857
Any news on this?

[2020-10-20 13:02] thomasfrederikhoeck commented on #1755
@nilo19 Okay, that makes sense. Thank you (and @marwanad ) for the answers  😄

[2020-10-20 13:39] arsnyder16 commented on #1823
@palma21 I am seeing no issues within my cluster without the HPA, so i doubt the watches are causing an issue. I don't have the capacity at the moment for creating a cluster for debugging this, when i get a change i will recreate the issue by making a new cluster and adding in the HPA, then i will open a support ticket

[2020-10-20 16:19] #1177 closed

[2020-10-20 16:54] marcjimz opened #1908 "Node pools set to 0 do not get upgraded when rolling cluster-wide AKS upgrade"
**What happened**: Hi all - we're noticing that for node pools set to a scaleset of 0, when we run an upgrade to a later version of Kubernetes that the node pool does not upgrade itself.

**What you expected to happen**: We expect the node pool to upgrade without manual intervention. Instead, we have to scale the node pool up to 1 OR delete the node pool and recreate it to have the proper version

[2020-10-20 17:22] palma21 commented on #1907
Multiple nodepools and BLB were never supported, the fact they were possible of being created was an issue/bug.

The issue is that BLB simply does not support load balancing across multiple VMSS, it only supports 1. The only reason some scenarios still "work" is because the LB traffic would always land on the first vmss and then k8s would route it to the other pools. But this has uncountable edge

[2020-10-20 17:31] palma21 commented on #1888
Please see: https://github.com/Azure/AKS/issues/1907#issuecomment-713017870

@zhiweiv `service.beta.kubernetes.io/azure-load-balancer-mode` only works for Availability Sets, not for VMSS (multiple nodepools). The only way to achieve that with nodepools is by manually configuring the rules, which you can still do.
https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#loadbalan

[2020-10-20 17:58] keikhara opened #1909 "[Feature] Microsoft Defender for Container support on Windows AKS"
Placeholder for now. Parity with Linux on container scanning.

[2020-10-20 17:59] paulgmiller commented on #1908
Upgrading a 0 node agentpool _should_ work from mc or agentpool. I'm unable to repro locally with my own cluster.
Is this vmss or vmas? (I didn't think vmas could scale to zero but you did say "scaleset").
Would you be willing to share a clusters fqdn and time of the operation that didn't upgrade it?

[2020-10-20 18:52] jenetlan commented on #1827
Hi! You beat me to it - we did in fact roll out a fix but I was waiting until we verified that it was completely deployed before replying here :) This should now be working as expected, although if you encounter any other errors with this scenario please do let me know. Thank you!

[2020-10-20 18:52] #1827 closed

[2020-10-20 20:04] palma21 commented on #1194
Sorry about the delay. Is this still happening to any of you folks?

[2020-10-20 20:15] palma21 commented on #1126
do you still see this issue?

[2020-10-20 20:16] vishiy commented on #1389
Please look here - https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config#data-collection-settings , you can control this at cluster level using configmap for quite sometime (like a year +) now.

[2020-10-20 20:16] #1389 closed

[2020-10-20 20:35] palma21 commented on #1059
This should not be a wide issue, it's very likely a specific configuration case. It's easier for us to take a look at your specific cluster over a support case. Feel free to drop the ticket number here.

[2020-10-21 00:04] elpablete commented on #1517
Same problem too, using az aks update --attach-acr <acr-resource-id> to attach a registry on another sub (in which I'm also the owner)

[2020-10-21 00:15] Sleepy-GH commented on #1126
Sadly I no longer have access to the cluster as I switched jobs.

[2020-10-21 01:01] #1325 closed

[2020-10-21 01:15] lissff commented on #1905
@wronda please add following selector:

--set controller.admissionWebhooks.patch.nodeSelector."beta\.kubernetes\.io/os"=linux

[2020-10-21 01:18] zhiweiv commented on #1888
I have to say, service.beta.kubernetes.io/azure-load-balancer-mode works with VMSS pool, I got the solution from MS Support last year.
For example, below BLB was created by k8s via service.beta.kubernetes.io/azure-load-balancer-mode: "akswin2"

BLB
![p1](https://user-images.githubusercontent.com/22001089/96661276-45a23f00-137e-11eb-9285-32bf689258bd.PNG)

VMSS
![p2](https://user-images.githubuserc

[2020-10-21 02:02] zhiweiv commented on #1888
UDR with Azure Firewall is not an option because it is also charged per GB, custom NVA brings more complexity, we just want static egress ip with existing Basic PIPs(these PIPs have been sent to our customers long ago, it is not easy to change).

The solution https://docs.microsoft.com/en-us/azure/aks/egress with service.beta.kubernetes.io/azure-load-balancer-mode works perfect with our scanario.

[2020-10-21 02:09] AbelHu commented on #1772
The fix has been picked up by AKS in the RP release 20201019 and will be available in next days.

[2020-10-21 05:46] varks commented on #1485
@elsesiy you could add the exact rule that aks adds to nic level NSG to your vnet level nsg. However this is difficult to automate this as the public IP of the lb is not known ahead of time.

I would be interested to know if there is a way to query the frontend ips of kubernetes loadbalancer.

[2020-10-21 07:34] sprasad-microsoft commented on #1325
I did some digging into this issue and also discussed this in the linux-cifs mailing list.

The documentation on readdir reads (https://pubs.opengroup.org/onlinepubs/9699919799/functions/readdir_r.html):
If a file is removed from or added to the directory after the most
recent call to opendir() or rewinddir(), whether a subsequent call to
readdir() returns an entry for that file is unspecified.

S

[2020-10-21 08:14] alk-rniveau opened #1910 "Get cluster-autoscaler elements with kubectl"
**What happened**:

Based on this example https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/examples/cluster-autoscaler-aks.yaml, it seems when we enable cluster-autoscaler, some elements are created within the cluster.

Currently, I can only get the config map and watch events. I would like to know if it's possible to get other elements with kubectl (I ca

[2020-10-21 09:01] #1326 closed

[2020-10-21 09:01] #667 closed

[2020-10-21 10:24] slawekww commented on #1814
To force calico upgrade on existing AKS clusters (for example after AKS upgrade it is still 3.5 version):

1) upgrade AKS cluster to supported version

2) remove old calico-typha deployment
[code]

Then adds-on manager would reconcile and apply new AKS calico-supported version.
Tested on my clusters.

[2020-10-21 11:03] NileshGule opened #1911 "Add Horizontal Pod Autoscaler details to the Resource View"
**What happened**:
The Resource view is currently showing details about things like Pods, Replicasets, deployments etc.
**What you expected to happen**:
Please add a section related to Horizontal Pod Autoscalar under the workloads. I have attached a screenshot of a similar functionality available in Octant
**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything else we nee

[2020-10-21 11:39] wronda commented on #1905
This worked, thank you! I think the documentation should be updated here in case someone is running Windows nodes within the cluster: https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip

[2020-10-21 12:02] #1902 closed

[2020-10-21 14:59] sebader opened #1912 "AKS upgrade does not work as described - old nodes are not deleted but upgraded instead"
**What happened**:

The docs say [here](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#upgrade-an-aks-cluster):

However, after having tested this on multiple clusters, the behavior seems different:

1) a new node is added - which is running on the new aks version
2) An existing node is drained, the pods are re-scheduled on the new node
3) Now, instead of deleting the old node as descr

[2020-10-21 14:59] t3mi opened #1913 "Multiple nodepool creation/removal"
**What happened**:
During creation/removal of multiple nodepools in parallel there is a probability of the failed deployment with next error from api:
```"The operation was overriden and canceled by a later operation <operation GUID>."```
There is no [limitation](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#limitations) defined for how multiple nodepools can be added - sequen

[2020-10-21 16:02] westzipfel opened #1914 "Windows container does not start"
**What happened**:
Tried to start a windows container in a mixed AKS cluster. AKS Insights "live view" shows:

**Anything else we need to know?**:
 The same container worked some months ago on AKS and still working in a local docker environment (Windows 10/2004).

**Environment**:
- Kubernetes version 1.16.13.
- Size of cluster: one node, vmSize: "Standard_D2s_v3"
- Workload in the container: unma

[2020-10-21 16:23] NileshGule opened #1915 "Feature request : Display number of objects in resource view"
**What happened**:
The Resource View shows different objects in the AKS cluster example pods, deployments etc.
**What you expected to happen**:
It is better to show the number of objects (object count)
**How to reproduce it (as minimally and precisely as possible)**:
NA

**Anything else we need to know?**:
Attached is the screenshot of the similar feature available in Octant
![Pod numbers](https:/

[2020-10-21 17:17] marcjimz commented on #1908
pzi-gxus-n-ailabs-aks-d002-c47a4062.hcp.eastus.azmk8s.io @ 10/13 9PM EST

[2020-10-21 17:26] neumanndaniel commented on #1912
@sebader The documentation describes the process of upgrading an AKS cluster running VMs instead of VMSS.

But in the end the result is the same. During an AKS cluster the OS image of VMSS is replaced by a new one.

Just the docs as reference as they describe the automatic process that is not used by AKS but done in the same way manually controlled by the AKS managed control plane.

I agree that t

[2020-10-21 17:34] sebader commented on #1912
Thanks @neumanndaniel for your comments!
Where do you read from the docs that this is not applicable to VMSS?

[2020-10-21 18:07] palma21 commented on #1908
Thanks @marcjimz deleted the comment just to avoid having the FQDN stay here. We're looking into it.

[2020-10-21 18:28] paulgmiller commented on #1908
Looks like this came in through azure portal we see 4 requests. 1 for the cluster to just update controlplane . Then 3 each agentpool. This might be a problem in the portal calling code. Trying to confirm. If you can confirm the operation was kicked off  from portal that would help.

[2020-10-21 18:53] westzipfel commented on #1914
Further error:

incompatible with a 10.0.17763 host

Rolling back to base image mcr.microsoft.com/dotnet/framework/runtime:4.7.2-20200310-windowsservercore-ltsc2019 helped to  start the container as expected at least with low-level kubectl+yaml.
Further inspection of the helm template: may be statement (leftovers of temlpates for linux nodepools):

caused the error "The user name or password is in

[2020-10-21 18:53] #1914 closed

[2020-10-21 19:16] marwanad commented on #1910
@alk-rniveau the deployment you linked is for running your own (unmanaged) cluster-autoscaler in an AKS cluster. In the managed autoscaler case which you enable via `--enable-cluster-autoscaler` in CLI or `enableAutoScaling` in ARM templates - the only applicable resource you can view in your cluster is the configmap that gets created.

[2020-10-21 19:17] neumanndaniel commented on #1912
@sebader The process is the same, but the part with deleting the old node and replacing it with a new one is specific to VMs. I should have been more clear on that.

[2020-10-21 19:43] palma21 opened #1916 "Deploy AKS on Azure Dedicated Hosts"
Ability to deploy AKS on https://docs.microsoft.com/en-us/azure/aks/use-azure-dedicated-hosts

[2020-10-21 19:57] palma21 commented on #1912
Thanks for the callout, the docs themselves have a GH feedback page. The process you describe is correct. Always creating a new node would be redundant to do at every step and take twice as long, we essentially re-image the old (cordoned and drained) ones with the new image.

The PR with the update is out.

[2020-10-21 20:18] sebader commented on #1912
But wouldn't this at least make sense for when someone uses a high surge? Extreme case, using 100% surge. Once all new nodes have been created and all pods have been moved over to them, why are still the old ones being patched (and workloads moved once again afterwards) instead of just deleting the old ones?

[2020-10-21 20:50] marcjimz commented on #1908
@paulgmiller correct, we typically do AZ CLI but this was one done via the portal.

[2020-10-21 20:51] marcjimz commented on #1908
Thanks!

[2020-10-21 20:53] jenetlan commented on #1908
Thanks for the information - we'll look into the portal experience and I'll update here with what we find.

[2020-10-21 21:50] palma21 commented on #1912
That's the purpose of [max surge](https://docs.microsoft.com/azure/aks/upgrade-cluster#customize-node-surge-upgrade-preview) by default the value is one buffer node, you can configure it to whatever value you want. If you do 100% it will double the number of your nodes drain the old ones to the new and delete all the old ones at once.

This can be our default since this requires core quota to be a

[2020-10-21 22:18] SeryioGonzalez commented on #1916
This feature will be requested for high security workloads

[2020-10-21 22:27] asubmani commented on #1814
@slawekww >Did you try upgrading the cluster; or scaleout/scale in operations? Also doesn't this have other resources besides deployments?

[2020-10-21 23:30] paulgmiller commented on #1908
So it seems from our instrumentation in the portal you initiated
1) An upgrade of the cluster control plane
2) Upgrades of 3/4 of the agentpools but not the agentpool with 0 nodes.

Maybe the UI/docs aren't clear that #1 won't upgrade any node pools regardless of size?  There are valid reasons for a customer not to upgrade a nodepool.

[2020-10-21 23:50] keikhara opened #1917 "[Feature] AAD Pod Identity as a managed AKS addon for Windows"
It would be good to have built-in support for AAD Pod Identity for which we can opt-out during creation of AKS cluster on windows node pool.

By doing that, we could :

Assign Azure AD identities to AKS instance and automatically register them inside the cluster
Browse the Azure portal to see which Azure AD identities are available inside the cluster

[2020-10-22 00:17] marcjimz commented on #1908
@paulgmiller we can't upgrade the node pool, after selecting upgrade:

![Uploading image.png…]()

[2020-10-22 00:26] ZeroMagic commented on #1876
If someone uses SP and needs the feature, look at this issue https://github.com/Azure/secrets-store-csi-driver-provider-azure/issues/281, and feel free to add your comments.

[2020-10-22 00:34] marcjimz commented on #1908
@paulgmiller upgrading  to 1.16 is not an option

![Uploading Screen Shot 2020-10-21 at 6.18.09 PM.png…]()

[2020-10-22 00:38] immuzz commented on #1836
@keikhara are you aware of this?

[2020-10-22 01:36] zhiweiv commented on #1888
@palma21
Please see my comments above, just to double confirm is there any possible to bring multiple node pool clusters with BLB back.

If the answer is no, then we will need to seek alternatives.

[2020-10-22 01:57] zhiweiv commented on #1917
Any ETA? We have looking for this feature a long time.

[2020-10-22 02:58] palma21 commented on #1836
@marosset @jsturtevant any ideas?

[2020-10-22 04:18] palma21 commented on #1888
+ @yangl900

I mistyped when saying it didn't work, it should say it was not supported (nor documented for that reason). Support was incorrect to say that since this was never officially supported.

That egress behavior is not guaranteed though it normally is the preferred IP (this is what that article relies on)
Static egress with BLB is unfortunately not a guaranteed scenario from an Azure Netwo

[2020-10-22 04:32] david-freistrom opened #1918 "AKS not able to create outbound connections"
**What happened**:
Nodepool could not configured because of unable to create outbound connection

"Deployment failed. Correlation ID: 11a09b34-8fca-4bc7-b16c-83328932c306. Unable to establish outbound connection from agents, please see https://aka.ms/aks-required-ports-and-addresses for more information. Details: VMSSAgentPoolReconciler retry failed: deployment operations failed with error message

[2020-10-22 05:10] zhiweiv commented on #1888
We run **Backup** application(eg, backup our customer's Office 365 documents/files) in Windows containers, the inbound traffic would be very high, with TBs per day, it is definitely cost-saving with BLB.

[2020-10-22 05:28] zhiweiv commented on #1888
The linked is about internal Load Balancer, we use public Basic Load Balancer with Publib Basic IP, does it have problem too?

LB
![p1](https://user-images.githubusercontent.com/22001089/96828549-719aee80-146a-11eb-9ebd-45e1fd83e6f8.png)

VMSS
![p2](https://user-images.githubusercontent.com/22001089/96828564-752e7580-146a-11eb-87ec-4e53381f9279.png)

[2020-10-22 05:32] palma21 commented on #1888
Yes sorry I know, it's one of the few references to the BLB behavior that I could find still on the network docs, I really tried to find one on public too but no longer could. It applies the same principle too.

Thanks for your use case, let me follow up on that with the LB team and I'll revert back asap.

[2020-10-22 06:02] #1900 closed

[2020-10-22 06:02] #1830 closed

[2020-10-22 06:20] paulgmiller commented on #1908
Ack thanks that seems like a bug and we're looking

[2020-10-22 06:26] zhiweiv commented on #1765
@AbelHu
Will this be available in release 20201019 too? Our Ops team is getting crazy to restart error nodes everyday.

[2020-10-22 06:31] AbelHu commented on #1765
@zhiweiv new Kubernetes versions were not enabled in 20201019 for some issues. We are trying to add 1.17.13, 1.18.10 and 1.19.3 in 20201027.

[2020-10-22 06:42] asubmani commented on #1814
@slawekww > My AKS (1.16.15) still shows Calico 3.8 (which is a year old). Latest Calico is 3.16

which version did you get after deleting the deployment/HPA?  I tried deleting and it still re-created 3.8

Not sure if editing the deployment will revert it back to 3.8

[2020-10-22 07:01] #1513 closed

[2020-10-22 07:52] slawekww commented on #1814
@asubmani As I wrote, calico will be upgraded only to **officially supported calico version by AKS**.
Now it is calico 3.8.

For unofficial upgrade of calico to any version you wish,
please try https://docs.projectcalico.org/maintenance/kubernetes-upgrade
I've not tested it.

[2020-10-22 08:12] marcbaque opened #1919 "Multi-Attach error on rollout"
**What happened**:
We have a Kubernetes cluster deployed on AKS where a pod uses a PVC on Azure Disks.

The problem is that when we rollout a new image, the newly created pod tries to mount the pvc but it is still attached to the running one so it throws:

`Multi-Attach error for volume "pvc-*****" Volume is already used by pod(s)`

**What you expected to happen**:
It should manage correctly the r

[2020-10-22 08:27] tomkerkhove commented on #1917
It is being tracked on https://github.com/Azure/AKS/issues/1480

[2020-10-22 08:44] sebader commented on #1912
That's what I would expect as well on 100% surge. But this is not what happens

[2020-10-22 08:55] alk-rniveau commented on #1910
Thanks for your answer but here is my issue:

I would like to pause the CA during some periods as we can see here https://github.com/hellofresh/eks-rolling-update/ (yes it's for eks).

Why can't we watch deployment with the managed solution ?

[2020-10-22 09:57] zhiweiv commented on #1917
Seems there is no Windows support mentioned in #1480.

[2020-10-22 10:07] tomkerkhove commented on #1917
There is no Linux support mentioned as well :D

[2020-10-22 13:01] #1296 closed

[2020-10-22 14:16] PSanetra commented on #1492
@MiyKh the `<node-local-address>` is just some random and not-in-use IP in the `169.254.20.0/16` subnet. It will be used on each node and will not be reachable from outside the node.
See https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/#configuration

[2020-10-22 16:10] marwanad commented on #1910
@alk-rniveau it seems that this assumes the existence of cluster autoscaler in your cluster. With the managed solution, the actual autoscaling component .

Some alternatives you can consider:
- Simply disable autoscaler during those periods `az aks nodepool --disable-cluster-autoscaler`
- Use the [autoscaler profile](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#using-the-autoscale

[2020-10-22 16:25] alk-rniveau commented on #1910
My use case is the following:

Sometime I redeploy many deployments in the same time. This manipulation can cause a useless scaleup node. This is useless because once the burn phase is over (after the deployment), this node is scaled down.

It's not a load from bigger usage of the platform, but just due to the max surge behavior.

[2020-10-22 16:49] marwanad commented on #1910
@alk-rniveau would setting `new-pod-scale-up` delay overcome that case for you then? This basically says "wait until pods are x age old" before considering a scale-up.

[2020-10-22 18:02] #1907 closed

[2020-10-22 19:01] #1659 closed

[2020-10-23 06:32] palma21 commented on #1885
You're not required to use Azure monitor to use/log from  containerd-based nodepools, most monitoring tools should work with it with just a configuration change, several should work out of the box, Eg. for datadog https://docs.datadoghq.com/integrations/containerd/

Containerd sets up logging using the standardized cri logging format which is supported by most could native monitoring tools. Does y

[2020-10-23 08:13] JasonWhall commented on #1887
@djsly / @palma21 - was there a related issue to track the sandbox feature? I would be keen to test this once in preview. If not could this issue be re-opened to track once that work is complete?

[2020-10-23 08:52] alk-rniveau commented on #1910
this parameter is not is the doc https://github.com/Azure/AKS/issues/1716.
Sad :(
Do you know if terraform provider will be updated ? https://github.com/terraform-providers/terraform-provider-azurerm

[2020-10-23 15:19] miwithro commented on #1901
We have this feature planned for Nov of this year.  BYO User Identity is planned for this month, and BYO kubelet is Nov.

[2020-10-23 15:24] xopham commented on #688
Hi @rcomanne , @mfow ,
we ran into the same challenge to integrate image signing via DCT into Kubernetes in general and decided to build a small open source project for it: https://github.com/sse-secure-systems/connaisseur
Since we had to work around some minor deviations from standard notary (https://github.com/Azure/acr/issues/475), we added special support for it: https://github.com/sse-secure-

[2020-10-23 16:34] marwanad commented on #1910
Following up on the doc update now.

For the Terraform provider, it's better to open up an issue there. The Go SDK for the September API should be available and ready to consume by Terraform.

[2020-10-23 18:02] #1502 closed

[2020-10-23 18:59] djsly commented on #1520
Looking forward this to be available!

[2020-10-23 19:00] viveksi commented on #1573
Frustating it is, It was working before and suddenly it stopped and getting the above error

Stuck

[2020-10-23 20:01] #1891 closed

[2020-10-23 20:15] jsturtevant commented on #1836
@alikor can you try adding `cmd /c` or `powershell /c` to the commands?

A working example is:

[code]

[2020-10-23 20:41] palma21 commented on #1573
Please refer to @qpetraroia's comment for explanation and workaround

https://github.com/Azure/AKS/issues/1573#issuecomment-703040998

Please consider using the Azure Portal resource view instead of exposing and granting additional permissions to your clusterUser  or continuing to use the k8s dashboard

[2020-10-23 21:46] palma21 commented on #1915
Hi @NileshGule thanks for reaching out. I'm not sure I fully understood so allow me to ask a clarification. The Resource view should have a similar UX (pasting my example below (those are all my pods), which it seems is the same octant is doing.

Is the ask about allowing you to specify the number o pods (or other objects) per page? (and pagination)

![image](https://user-images.githubusercontent.

[2020-10-24 04:39] zhiweiv commented on #1772
Fixed in https://github.com/Azure/AKS/releases/tag/2020-10-19.

[2020-10-24 04:39] #1772 closed

[2020-10-24 06:03] palma21 commented on #982
A few updates

a) We just released pod toleration restriction to simplify the usage and the task of scheduling on Spot and other tainted pools
b) You can use https://github.com/awesomenix/drainsafe in order to listen to events and drain nodes automatically if an event comes in. We'll be working on having that by default on Spot Pools
c) GA is planned for November

[2020-10-24 07:01] #1155 closed

[2020-10-24 08:17] audunsolemdal commented on #1907
Fair enough, I see the issue.

My use case was typically to create an extra node pool  whenever I needed to (manually) start long running operations (e.g. copy files from blob storage to a PV). In such cases I would typically use another nodepool with VMs of another SKU to get better IOPS.

Also to test new features, e.g. Gen 2 VMs, Ephemeral  OS. A sort of sandbox without the need to route to act

[2020-10-24 09:06] ronamosa commented on #1891
Apologies for the late update - but I've re-tested and can confirm AAD and v1.19.0 work as expected (as per above) now. Thanks!

[2020-10-24 17:19] NileshGule commented on #1915
@palma21 Yes, the ask is to display the total number of objects e.g. 33 pods in my case. Pagination would also be good to have. The current resource view UI just lists the objects but there is no indicator of how many objects are there in the list.

[2020-10-26 08:59] #1910 closed

[2020-10-26 13:36] HeShaobo1 opened #1921 "[Issue when addon AGIC]"
Dear,

I faced an issue when i need to addon my APPGW to AKS, refer to the article:https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-existing

it seems that the reason is that AKS-IngressApplicationGatewayAddon, you can refer to the issue :

 [root@agicclient ~]# az aks enable-addons -n myCluster -g agicclient -a ingress-appgw --appgw-id /subscriptions/7

[2020-10-26 15:47] paulgmiller commented on #1790
You can't change this on an agentpool currently  but you can add a new agentoool with a higher value and delete the old one.

[2020-10-26 16:56] PaulCharlton commented on #1906
noting that this issue is being worked in MSFT ticket 120101821000253

[2020-10-26 16:56] palma21 commented on #1907
Would you be open to migrate to SLB in the near future?
We're planning on providing a feature to simplify that migration soon. That should enabled you to play with multiple nodepools at will (those scenarios make total sense for multiple nodepools)

[2020-10-26 16:58] palma21 commented on #1915
Gotcha, makes sense. We've added it to the roadmap.

[2020-10-26 17:06] palma21 commented on #274
Closing as stale.

[2020-10-26 17:06] #274 closed

[2020-10-26 17:30] palma21 commented on #1808
That terraform call is for VMSS scale. Not AKS/Kubernetes scale. That is not supported.
The right parameters for autoscaling an AKS cluster or nodepool would be
https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster_node_pool.html#enable_auto_scaling

[2020-10-26 17:30] gpictonmg commented on #1289
Hi @TomGeske -- sorry I didn't see this get pinged over the summer.

If I remember correctly when I wrote this ticket I had a cluster in a region that didn't support the metrics I was looking for.

I moved the cluster and everything worked out.

Please feel free to close.

Thanks!

[2020-10-26 17:32] #1289 closed

[2020-10-26 17:36] palma21 commented on #1798
Are you still having this issue?

[2020-10-26 17:43] palma21 commented on #1558
Not sure if there was a support ticket for us to look at (please paste if there was). Like the answers before, from the above the only thing that we can make an hypothesis on is IO or NW throttling (!= than saturation).

If you have the exact same issue, please open a ticket and paste the number here, happy to take a look at the cluster in that ticket to confirm

[2020-10-26 17:52] slawekww commented on #323
It is possible to update kubelet (any node config actually) via DaemonSet like example:
https://docs.nginx.com/nginx-service-mesh/setup/aks/

[2020-10-26 21:51] #1576 closed

[2020-10-26 21:52] qpetraroia commented on #1897
Hi @tkinz27,

Have you taken a look at [Http Application Routing](https://docs.microsoft.com/en-us/azure/aks/http-application-routing#:~:text=The%20HTTP%20application%20routing%20solution%20makes%20it%20easy,creates%20publicly%20accessible%20DNS%20names%20for%20application%20endpoints.)? You can easily add it to your cluster giving it the following command

`az aks enable-addons --resource-group m

[2020-10-26 23:41] tkinz27 commented on #1897
I was using the Application Gateway Ingress Controller since http application routing is not suggested for production.

[2020-10-27 00:16] palma21 commented on #1865
Unfortunately the core number is proxy metric, if all the pods that you can schedule in VN would do DNS queries then just the 2 replicas could not be enough, similarly if you have 100 nodes that amount for all those cores and do no DNS queries, than 2 replicas might actually be fine. We're always working to get more granular ways to scale and have some proposals being explored in kubernetes upstre

[2020-10-27 00:33] palma21 commented on #1897
Sounds like a nice feature request for App GW ingress controller!

Mind opening it here as well:
https://github.com/Azure/application-gateway-kubernetes-ingress

[2020-10-27 00:35] neaggarwMS commented on #1810
Unfortunately we are not able to repro the issue locally. If you have a repo then can you provide the details which are asked above (here: https://github.com/Azure/AKS/issues/1810#issuecomment-699176948)

[2020-10-27 01:38] tkinz27 commented on #1897
External DNS works with all ingress controllers though, not just the AGIC. It also works with load balancer services. Why restrict the service to just those specific ingress controllers?

[2020-10-27 02:49] palma21 commented on #1897
Definitely not restricted to those! But it should be part of one of the supported addons to be a supported and managed component, or otherwise it would be just an installer aka the same as a self install.

[2020-10-27 03:33] NileshGule opened #1922 "Feature request : Provide visual links between different resources in an AKS Resource View"
**What happened**:
AKS resource view provides options to check the different resources like Deployments, Pods, ReplicaSets etc.
**What you expected to happen**:
It would be nice to have a visual representation of these resources and the links between them. E.g. How a particular pod is linked to a Deployment / ReplicaSet and what other resources like Secrets or ConfigMaps are linked to the Pod.
**H

[2020-10-27 06:02] audunsolemdal commented on #1907
That would be great, also if you could support upgrade of PIP from basic to to standard SKU.

[2020-10-27 06:37] yangl900 commented on #1755
Hi @thomasfrederikhoeck , just want to let you know that I picked this issue and did somethings. I'm still doing more testing but I posted the current test code and results in this repo https://github.com/yangl900/knet#client-python-tests.

The findings I have is that:
* Specifically the k8s python client does NOT have tcp keepalive on
* Recently AKS deployed an improvement that RST packet will be

[2020-10-27 06:57] nboeckmann commented on #1859
Hi,

this is still an issue for me.

Nils

[2020-10-27 07:00] palma21 commented on #1859
Hi @nboeckmann sorry the delay. Please do open a support ticket for any urgent matters.

This is actually fixed in AKS already, I missed this issue to mention in on the release notes. (added it now)
https://github.com/Azure/AKS/releases/tag/2020-10-12

[2020-10-27 07:01] #1793 closed

[2020-10-27 07:03] nboeckmann commented on #1859
Hi @palma21 ,

thank you very much - it was getting more urgent but was nothing critical - otherwise I'd have made a support case.

Nils

[2020-10-27 07:10] palma21 commented on #1907
Unfortunately migrating/maintaining the PIP is something that is out of our control, but it's a request I know the LB team is looking at.

[2020-10-27 08:19] dhananjaya94 opened #1923 "[Feature Request] High Availability to AKS Link/Tunnel Front Service"
**What happened**:
We have 2 AKS clusters running, one used for non production and other one for production.
- Non-Prod AKS cluster  Uptime SLA not enabled
- Prod AKS cluster Uptime SLA is enabled

In Non Production cluster there is a pod named `tunnelfront` in kube-system namespace
In Production cluster there is a pod named `aks-link` in kube-system namespace.

From the support ticket `1200730230

[2020-10-27 11:46] tecoholic commented on #1865
Thanks for the update.

[2020-10-27 14:29] MiyKh commented on #1492
@PSanetra Thanks for the clarification.The node local dns is deployed into the kube-system namespace but it is deleted by Azure sync system, how can we force AKS to skip deletion on this component?

[2020-10-27 14:59] PSanetra commented on #1492
@MiyKh interesting. We still have those labels set on the daemonset, but it is not getting deleted. We are running AKS 1.17.11.

[2020-10-27 15:00] curtdept commented on #1492
Same here on 1.19

[2020-10-27 15:14] MiyKh commented on #1492
I have the same behavior than this issue: https://github.com/Azure/AKS/issues/1435

[2020-10-27 16:30] curtdept commented on #1492
What also version?

[2020-10-27 17:03] mboutet commented on #1923
I also observe frequent restarts of the aks-link pod, especially since this morning. I didn't experience an outage yet, but 1 or 2 times per hour, I have >30 events related to the HPA not being able to query the metrics API (resource metrics + external metrics) thus preventing proper autoscaling of my workloads. This cluster has been running fine for the last few weeks and nothing has been modifie

[2020-10-27 17:12] MiyKh commented on #1492
This is a 1.18.8 cluster with kubenet networking, removing the labels was the solution but I guess, I would still need to redeploy it after cluter upgrade.

[2020-10-27 18:41] franz-net opened #1924 "OMS Agent doesn't work on AKS with Kubernetes version 1.18.8"
**What happened**:
When creating AKS cluster using kubernetes 1.18.8 and enabling OMS integration, the OMS Agent pods fail with the following errors:

[code]

**What you expected to happen**:
OMS Agent should be collecting logs and metric information

**How to reproduce it (as minimally and precisely as possible)**:
Create AKS Cluster and enable OMS agent integration, sample below:
[code]

**Anyth

[2020-10-27 20:06] palma21 commented on #1823
Thanks. Let me know when you have the number and I'll follow up!

[2020-10-27 20:55] slynickel commented on #1923
We have a number of AKS clusters (more then 30) throughout Azure regions in the US and Europe. We are transitioning some of  them to use SLA and are experiencing similar issues on the clusters where we have SLA turned on.

We can put rough numbers to this and are noticing patterns of restarts across our clusters. We have been experiencing it for a number of days. Y-axis is openvpn-client container

[2020-10-27 21:27] slynickel commented on #1923
Last thing I'll add. I'm making this an explicit comment rather then editing my last post since it could useful for others. We correlated those restarts in my last post by Azure region. No eastus or eastus2 cluster we have has seen **fewer** then 7 openvpn-client container restarts in the last few days (25% of our SLA enabled clusters in eastus/eastus2). While other azure regions (westus, centralu

[2020-10-27 21:28] yangl900 commented on #1923
@slynickel @mboutet @dhananjaya-senanayake thanks for reporting the issue! I'm looking into this.

First I'd like to clarify the functionality of tunnel-front / aks-link. As the support engineer mentioned, the tunnel is used for the hosted API server talk to the worker node that lives in your private network. You will need it when you do `kubectl logs` or `kubectl top node` (as well as HPA). It do

[2020-10-27 21:42] mboutet commented on #1923
I went to the service health of my cluster on the portal and saw that there was an event this morning:
![image](https://user-images.githubusercontent.com/52334444/97365005-502b6f80-187b-11eb-8b0f-8ecba6565374.png)
The time of this event and the time at which my problems began (HPA not being able to get metrics, then followed by a restart of the aks-link pod) are approximately the same.

[2020-10-27 23:15] alexeldeib commented on #1753
Sorry I missed these comments, just circling back. We focused on ephemeral os first because we cache many images on the VHD to reduce provisioning latency. Temp disk loses that benefit (can't prebake content there). I'm circling back to this (no header), unfortunately was a little late for the November API but probably will ship in the one following that (either December or January). If you have a

[2020-10-28 05:25] palma21 commented on #1923
@mboutet that is very not related to the previous comments. Happy to tackle it on a separate issue or support ticket.
That specific event right there, means one of your nodes stopped responding (kubelet stopped posting live status to the API)
If that happened or if the node had an issue k8s might restart or move your pods.

@slynickel we can definitely investigate, anything more than 2/3 per week

[2020-10-28 05:40] dhananjaya-senanayake commented on #1923
To be more specific on this ingress related issue, only the ingresses with annotation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#service-upstream is affected. Other services exposed through ingress without that annotation worked fine, no down alerts were received.

[2020-10-28 08:20] yangl900 commented on #1923
@dhananjaya-senanayake thanks for the information, that was very useful. I think I have found something that might explain the outage you experienced. We are still looking to confirm. Did it start from UTC time `2020-10-12T18:40:00Z`?

[2020-10-28 08:42] dhananjaya-senanayake commented on #1923
@yangl900 following is the report of downtime from our external monitoring system. Its in PDT.
![image](https://user-images.githubusercontent.com/23645640/97411194-f338c380-1925-11eb-94f1-060298c264db.png)

the aks-link pod was in pending state more than 7 hours AFIR, when observed during the downtime. There was another aks-link pod which was running parallel ( old one in running state and the new

[2020-10-28 09:37] ohorvath commented on #1774
Any update on this? :)

[2020-10-28 13:01] #1538 closed

[2020-10-28 13:10] ohorvath commented on #1923
We have similar issues since last Wednesday. We've created at least 50 AKS clusters and all of them had issues with API access, frequent timeouts for kubectl, webhooks etc. We figured out that only clusters with uptime SLA had these issues, free tiers are not affected. All of our clusters had tunnelfront and not aks-link and sometimes tunnelfront restart solved the problem for a few minutes. It's

[2020-10-28 14:46] eehret commented on #1714
Apologies if I'm not supposed to chime in at this point, but this is happening to me too in Canada Central region

Terraform v0.13.4
+ provider registry.terraform.io/hashicorp/azuread v1.0.0
+ provider registry.terraform.io/hashicorp/azurerm v2.33.0

[2020-10-28 16:27] slynickel commented on #1923
@palma21

Ticket: 2010270040011710

[2020-10-28 18:01] #1808 closed

[2020-10-28 23:45] jenetlan commented on #1744
Thanks for the feature request! I definitely agree that information would be useful to include. We're looking at some possible updates to the upgrade experience so we'll take this into account. Unfortunately I don't have any dates or concrete plans I can share now, but I'll share an update later on when I have one. Thanks!

[2020-10-29 00:02] #1764 closed

[2020-10-29 04:29] #1918 closed

[2020-10-29 07:01] palma21 commented on #1923
@ohorvath are you saying you're SLA clusters have tunnelfront?
Do you happen to have any firewall/NVA in front on your clusters?

[2020-10-29 07:06] palma21 commented on #1923
@slynickel thanks, let me track it internally and communicate there.

[2020-10-29 07:40] palma21 commented on #1774
<2weeks

[2020-10-29 10:12] ohorvath commented on #1923
@palma21 Yes, that's correct. I've created tons of clusters an all of them have tunnelfront and most of the time it's very unstable. API calls take forever, tiller deployments failing etc. We also have a case open. No firewall, no UDRs.

`"sku": {
    "name": "Basic",
    "tier": "paid"
  },`

`tunnelfront-76569dd77f-qwq2j                 1/1     Running   0          145m`

[2020-10-29 10:38] markvr opened #1925 "Support Kubernetes Dashboard with AAD/RBAC enabled"
With reference to: https://github.com/kubernetes/ingress-nginx/issues/5654#issuecomment-674428819

AKS is deprecating use of the native Kubernetes Dashboard in favour of the Azure Portal.  However the native dashboard provides much greater functionality, and is much more familiar to Kubernetes users than the Azure Portal.

The dashboard can be installed manually (note I'm *not* referring to the ma

[2020-10-29 14:28] miwithro commented on #1889
@antst have any of the solutions provided worked for you?

[2020-10-29 15:29] tomstockton commented on #1634
Is there a recommended alternative method for cleaning up old k8s jobs in the absence of this alpha feature being available on AKS?

[2020-10-29 15:33] kidlj commented on #1477
Does the in preview Azure disk CSI driver support resizing PVC as expected?

https://docs.microsoft.com/en-us/azure/aks/azure-disk-csi

[2020-10-29 16:52] MattMencel commented on #1634
@tomstockton take a look at [cleanup-operator](https://github.com/lwolf/kube-cleanup-operator). It's what I'm using currently and I'm pretty happy with it.

[2020-10-29 18:53] palma21 commented on #1923
Ah, Thanks! We also just got your ticket from support. We know what happened, it's a bit different than this case and it was a bug on our side that was fixed last week, where your cluster didn't actually enabled the SLA so it remained with tunnelfront which causes immediate instability since tunnelfront is not compatible with the the new control plane architecture that SLA uses (we're migrating al

[2020-10-29 20:15] saswatac commented on #789
Is this supported now ? I created a cluster using terraform following https://docs.microsoft.com/en-us/azure/developer/terraform/create-k8s-cluster-with-tf-and-aks and i find it is not enabled.

[2020-10-29 20:19] ohorvath commented on #1923
@palma21 Thanks. Just FYI, I've created a few clusters today and still have tunnelfront with uptime SLA. :) I'm not sure if the fix already reached all regions.

[2020-10-29 21:23] di669 opened #1926 "Can't view metrics-server logs in log analysis"
**What happened**:

Is it possible to collect logs from the metric-server?

I got the Prometheus scrape config from here https://raw.githubusercontent.com/microsoft/Docker-Provider/ci_prod/kubernetes/container-azm-ms-agentconfig.yaml

I followed  https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-prometheus-integration and added

[code]
and applied to my cluster but I

[2020-10-29 21:23] ohadschn opened #1927 "NSG rule not created for LoadBalancer nginx-ingress-controller service"
**What happened**:
We installed [nginx-ingress](https://github.com/kubernetes/ingress-nginx), which adds a `nginx-ingress-controller` service of type `LoadBalancer` to the cluster. We can see the service is assigned a proper `EXTERNAL-IP`, but the corresponding NSG rule is not added to the NSG (the one with priority `500` and name like `a412lkjl4affe4e25944b68ae6085f89-TCP-443-Internet`). Looking

[2020-10-29 22:08] yangl900 commented on #1923
hi @ohorvath the fix is not rolled out to all regions yet. Please correct the creation template you use to set tier to "Paid" instead of "paid". The bug is a bit embarrassing, but that is the cause.

[2020-10-29 22:32] salehio opened #1928 "Exposing 3 pods in a stateful set under the same domain name, while allowing specific pod targeting by clients"
TL;DR: I can't find a good way to expose 3 pods in a stateful set under the same domain name (for SSL) while still allowing clients to be able to target pods individually.

**What happened**:
I'm running a stateful set (neo4j causal cluster) in my AKS cluster and I want to expose it to the internet.

Neo4j is a horizontally scalable graph database. It exposes itself over the bolt protocol normally

[2020-10-29 23:47] palma21 commented on #789
That means either that terraform version is old or terraform is using very old APIs (or there's an explicit setting to put RBAC off) since all recent AKS APIs and clusters have RBAC on by default.

The ability to migrate requires a cluster rebuild since the control plane needs a complete redeployment.

[2020-10-30 01:03] andyzhangx commented on #1477
@kidlj no, you can track this issue for any update: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/273

[2020-10-30 05:28] kshke opened #1929 "where example.hosts located? how to edit it in AKS?"
where example.hosts located? how to edit it in AKS?
I want to add many A record for coredns, according to the document, I can use host plugin, I have add a recored in custom-dns configmap and it works.

but what is this means "example.hosts must be a file" ?  where can I add or edit example.hosts? is it in coredns pod? base on my understanding, we can't edit coredns pod.  can I manage A record via

[2020-10-30 06:19] mikedizzle commented on #1303
Unstale!

[2020-10-30 06:43] yangl900 commented on #1877
hi @erlucier @thomasfrederikhoeck

With recent AKS release, we send RST for private cluster as well. I captured following tcpdump on my private cluster. Note the RST on `06:32:58.623539`. Please let me know if you can still repro the issue.

[code]

[2020-10-30 06:45] yangl900 commented on #1877
I used following deployment for testing. Source code available on https://github.com/yangl900/knet

[code]

[2020-10-30 07:09] yangl900 commented on #1755
Hi @blushingpenguin @bergeron @arsnyder16 - just want to let you know with recent AKS infrastructure release, you should see RST always. We still recommend client side turn on TCP keepalive, but I understand not all k8s client does that, e.g. python does not have it today. Please let me know if you still experience any issue with watches. I have some testing results posted on https://github.com/ya

[2020-10-30 07:14] yangl900 commented on #1927
Hi @ohadschn , I suspect this is because there is another service in your cluster blocked k8s service reconcile loop. You can enable diagnostic settings of your cluster and get the k8s controller manager logs. From there you should be able to see why some times NSG was not updated. If you describe all services in all namespaces, you may be able to find the problematic service, it should have some

[2020-10-30 07:19] yangl900 commented on #1912
Hi, @sebader you are right, I'm aware of that issue. You can observe the same behavior with one node cluster upgrade (which is 100% surge always, and ideally should just delete the old node). This is one optimization we haven't done, but it is in plan.

cc: @paulgmiller

[2020-10-30 07:36] palma21 commented on #1912
We always delete the buffer last or buffer batch last to avoid unbalancing a cluster in its zones or availability constructs or maintain the same spread, when using non 100% this is not noticeable but for the 100% case it's a special case where deleting the buffer will have the 2 drain noticeable consequence, we are looking into the optimization for this special case or create a new upgrade mode f

[2020-10-30 07:41] gtxistxgao commented on #1912
I think surge should have 2 algorithms. Assume surge percentage is P:
1) when P < 50%, one by one upgrade/reimage old nodes, then delete surge nodes in the end.
2) when P >= 50%, upgrade/reimage (100% - P) old nodes, then delete P portion of old nodes.

[2020-10-30 13:07] ohadschn commented on #1927
Thanks @yangl900, we should have Azure Monitor diagnostics enabled, I'll check the controller manager logs.

As for the blocking service theory:
1. How would a different service exactly block the reconcile loop? Does it run forever? If not, how long does it take to time out?
1. I don't see any failure when I run `kubectl get events --all-namespaces`.
1. `nginx-ingress-controller` is the only `Load

[2020-10-30 15:47] ohorvath commented on #1714
Happening again for us too. Today and yesterday at least 10 clusters failed with this error message. No terraform usage, mostly centralus region.

[2020-10-30 21:51] yangl900 commented on #1927
You can correlate the logs with code here: https://github.com/kubernetes/kubernetes/blob/4b65f70652849310ccaf443e480a9a3149c3b9dd/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L165

From there you can see if a LB service is reconciled, NSG will be reconciled for sure. Given we don't see NSG reconciliation, likely the controller manager did not reconcile this service at all

[2020-10-31 00:15] yangl900 commented on #1913
hi @t3mi , thanks for reporting the issue! This is a bug in AKS. We are fixing it and expect release in next a few weeks.

[2020-10-31 00:17] robbiezhang commented on #1929
`example.hosts` is just a dummy file. There is no such file in the coredns pod.
we add it in the example, because the FILE is required if you want to restrict the plugin to ZONE.
https://coredns.io/plugins/hosts/#syntax

If you want to specify multiple A records, you can define them in the INLINE section.

[2020-10-31 01:25] tkporter opened #1930 "AKS-managed AAD integration - cannot login"
**What happened**:

I followed [these instructions](https://docs.microsoft.com/en-us/azure/aks/managed-aad#upgrading-to-aks-managed-azure-ad-integration) to upgrade an existing AKS cluster to use the AKS-managed AAD integration, hoping to use that with RBAC on the cluster. I also followed [these instructions](https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac) to test out things working with

[2020-10-31 03:29] palma21 commented on #1895
Your error seems to indicate that on top of the command you also enabled `--enable-azure-rbac` ?

Managed AAD works across tenant, but Azure RBAC for k8s Authz does not.
See linked docs issue and the docs page for that.

Could you confirm?

[2020-10-31 08:02] #1869 closed

[2020-10-31 13:44] mkosieradzki opened #1931 "Add support for priority based expander in cluster autoscaler"
According to the [documentation](https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#using-the-autoscaler-profile) AKS currently supports only: `most-pods`, `random`, `least-waste` values for expander.

It would be great to be able to pick `priority` and manually provide `kube-system/cluster-autoscaler-priority-expander` config map as described [here](https://github.com/kubernetes/autosc

[2020-10-31 14:07] mkosieradzki opened #1932 "Add support for price based expander in cluster autoscaler"
This is related to #1931 and this can be used for spot-based scenarios without configuring additional config maps (in such a scenario).

According to the documentation AKS currently supports only: `most-pods`, `random`, `least-waste` values for expander.

It would be great to be able to pick `price` as described [here](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/proposa

[2020-10-31 14:11] mkosieradzki commented on #1931
The implementation can be done in two phases:
- *Preview*: Unblock the `priority` value
- *GA*: Update the tooling and ARM to automatically generate `cluster-autoscaler-priority-expander` config map

[2020-10-31 18:02] #1719 closed