[2022-08-09 02:37] andyzhangx commented on #3117
@AbelHu do you have any insight about windows container creation failure on windows node with below error:
[code]

[2022-08-09 03:07] AbelHu commented on #3117
@andyzhangx it does not contain enough info. Suggest collecting full nodes logs for advanced investigation. You may find the clue in kubelet logs

[2022-08-09 03:37] andyzhangx commented on #3117
@mbelt if you are using AKS managed CSI driver, the identity CSI driver using is `Control plane` identity.  Have you changed the `/etc/kubernetes/azure.json` file on every agent node? The right way is bring your own identity for the while control plane, follow guide here:  https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#summary-of-managed-identities

For the first and third issues,

[2022-08-09 06:00] thielef commented on #2830
Hi Microsoft, we are having exactly the same issue. Could you kindly take a human being look into this?!

[2022-08-09 08:46] BunkerHarb commented on #3070
[code]

[2022-08-09 13:19] MageshSrinivasulu commented on #2865
I am too facing a similar issue. There is an unnecessary validation happening over a different subnet.

Let's take two subnets for example.

- aks ( having enough ip)
- aks_dmz ( not having enough ip)

If I try to create a new node pool using the **aks** subnet. There is unnecessary validation is being performed over **aks_dms** subnet and the cluster creation is failing. This is becoming a pain w

[2022-08-09 15:38] zohebs341 opened #3125 "diskPressure - Azure AKS 1.21.9 - Node Standard_D4s_v4"
We are using Azure AKS 1.21.9 and the VMSS type is Standard_D4s_v4.

In Cluster Node Issues, I can see Node Insufficient Resources Detected and it's talking more about "diskPressure".

No of Events: 12 and Time Period: 500 Mins.

But when I logged into the node, I can see filesystems are not consuming more than 10%.

Mainly /var/lib/kubelet is <5% utilized.

Why this diskPressure is happening irre

[2022-08-09 15:47] manali1st commented on #1480
Hello @miwithro , as you stated earlier is it still on track for GA - 9/30 - for Workload identity release date

[2022-08-09 15:51] mbelt commented on #3117
@andyzhangx Ack on one and three.

For #2, no I haven't touched `/etc/kubernetes/azure.json`. My mistake claiming it was using node identity. This issue is occurring on a fresh cluster with no k8s specs deployed and no changes made to the nodes.

[2022-08-09 16:40] paulgmiller commented on #2865
@mracfa rafca @MageshSrinivasulu I can confirm that we do validate all nodepools on an agentpool operation mostly because historically they were shared so we have to check them but you're right we need not necessarily fail.
I am really curious how you got into such a failed state though. @mracfa  indicated some machines did not have all their secondary ips. Were they in a failed state?  If you wil

[2022-08-09 16:41] qpetraroia opened #3126 "AKS DevX Extension in VsCode"
The AKS DevX extension for VsCode (public preview) is out now! Check it out [here](https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.aks-devx-tools).

The DevX extension is all about enhancing your life as a developer on AKS. With the AKS DevX extension you can use Draft natively in VsCode to containerize your application as well as create the appropriate K8s manifests and Gi

[2022-08-09 16:50] mbelt commented on #3117
Kubelet logs contain one additional piece of information.

On nodes where the failing Pod is placed I am seeing:
`A virtual machine or container with the specified identifier does not exist.\" name=HcsOpenComputeSystem`

[code]

There are ~5x as many instances of the second error than the first, but the first does not occur on nodes where this pod is not assigned.

[2022-08-09 18:25] olsenme opened #3127 "Local static volume provisioner"
manages persistent volume lifecycle for pre-allocated disks, simplifying local storage management. Manages volumes under discovery directories by creating and cleaning up pvs

[2022-08-09 18:51] olsenme commented on #1879
We are currently exploring support for https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner and was wondering if we might setup some time with you to learn more about your use case?

[2022-08-09 18:55] olsenme commented on #1541
@amrragab8080 we are currently exploring support for the static provisioner and were wondering if we might setup a call with you to better understand your use case?

[2022-08-09 19:02] miwithro commented on #1480
@manali1st yes it is.

[2022-08-09 19:03] PixelRobots commented on #1480
GA with managed identity support?

[2022-08-09 19:16] miwithro commented on #1480
We are targeting 12/30.

[2022-08-09 20:29] robbiezhang commented on #2995
As I know, the Azure monitor doesn't exclude any logs from any namespace on AKS. @ganga1980 to correct me if I'm wrong.

Ganga, is there a doc about how to configure the log collection settings on AKS?
https://docs.microsoft.com/en-gb/azure/azure-monitor/containers/container-insights-agent-config

[2022-08-09 21:07] saaror commented on #2995
So by default AzMon exclude kube-system namespace. We should also exclude "gatekeeper-system". But for now you can exclude "gatekeeper-system" via config-map as documented here. https://docs.microsoft.com/en-gb/azure/azure-monitor/containers/container-insights-agent-config

[2022-08-09 21:28] asanjabi commented on #1480
So public preview 9/30 and GA 12/30?

manali1st's question asked about GA.

[2022-08-09 23:59] allyford opened #3128 "[Feature] Disable OutboundNAT on Windows"
Allow customers to [disable OutboundNAT](https://learn.microsoft.com/en-us/azure/aks/nat-gateway#:~:text=identity%20%24IDENTITY_ID-,Disable%20OutboundNAT%20for%20Windows,-Windows%20OutboundNAT%20can) when creating WS2019 and WS2022 nodepools.

Windows enables OutboundNAT by default. OutboundNAT can be configured in Azure CNI.

[2022-08-10 00:11] allyford opened #3129 "[Feature] Windows Azure Network Policy Manager"
The Azure Network Policy Manager (also known as Azure NPM) implementation supports the standard Kubernetes Network Policy specification. You can use labels to select a group of pods and define a list of ingress and egress rules to filter traffic to and from these pods.

[Documentation](https://docs.microsoft.com/en-us/azure/virtual-network/kubernetes-network-policies) on Network Policies.

[2022-08-10 01:01] #2970 closed

[2022-08-10 03:36] feiskyer commented on #2878
The issue has been fixed in https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2029 and would be included in AKS soon (ETA two weeks since this Monday).

Please upgrade the cluster to v1.22+ to have the fix.

[2022-08-10 03:36] #2878 closed

[2022-08-10 04:11] paulgmiller commented on #3013
@phealy

I hear your ask but the to be dynamic the podsubnet has to be delegated to a paricular use (aks  in this instance_ and can't share with resources like compute. So it's unlikely we'll be doing this in the near future.

Is it hard for you to get another subnet for pods?  (vnet fragmentation?)

Do your pod ips need to be addressable from other resources on your vnet or only other pods in the

[2022-08-10 04:30] paulgmiller commented on #2284
https://docs.microsoft.com/en-US/azure/aks/use-byo-cni?tabs=azure-cli
BYO CNI should allow you to set up flannel with minimal interference from us.
@mattstam

[2022-08-10 05:07] MageshSrinivasulu commented on #2865
@paulgmiller Hey paul, I have dropped you a detailed mail with the support ticket as well. Please do let me know if you need more details on this.

[2022-08-10 06:53] t-bzhan opened #3130 "[BUG] vnetSubnetID is not returned for kubenet networking plugin"
**Describe the bug**
Per the instructions in the AKS creation blade, AKS will create a new VNet underlyingly using default values.
![image](https://user-images.githubusercontent.com/61817681/183833456-3f7efb66-afd4-41a7-839f-f8fa021c56be.png)
However the created VNet Subnet Id is not available in all kinds of tools (Azure PowerShell, CLI etc.), that brings a lot of inconveniences. In our scenario,

[2022-08-10 07:11] 2b33rs commented on #3065
I'm having the same problem, are there any updates on this?

[2022-08-10 08:30] stijndehaes commented on #3013
@paulgmiller the reason I was asking for this was more for a migration use case. We had a cluster running in a relatively big subnet. To start using this feature, we wanted to use that big subnet for the pods and an smaller one for the nodes.
But this limitation stopped us from doing that, also we needed to create a new cluster and migrate everything over. This all of a sudden was a 2 step process

[2022-08-10 09:01] InDieTasten commented on #1785
For anyone who's interested in working around this issue, Amazons EKS (Elastic Kubernetes Service) does provide a way to inject pre-pulled/extracted images into node images. So when you scale up your nodes these new nodes can have a number of pulled images already present on the machine. Source: https://aws.amazon.com/blogs/containers/speeding-up-windows-container-launch-times-with-ec2-image-build

[2022-08-10 11:17] MageshSrinivasulu commented on #3117
@mbelt I came across this where some changes need to be done on docker file while using containerd https://github.com/containerd/containerd/issues/6300#issuecomment-988048374. Try it if it's of any help.

[2022-08-10 12:53] jobinjosem1 opened #3131 "Can't get notifications from GitHub App"
Can we have GitHub App installed for this repo to get slack notifications for releases?

Currently, if I try to setup notifications using /github subscribe azure/aks,  I get the error to install the app.

![image](https://user-images.githubusercontent.com/55230905/183906058-c80c1985-106a-4b05-95eb-c674e0540b84.png)

[2022-08-10 16:10] paulgmiller commented on #3013
Ack I hear you. We're looking at allowing allowing you to change the network mode (one way) and the add new podsubnet agentpools but that still isn't helpful in freeing your large nodepool subnet without creating a second large podsubnet since subnets aren't resizable.

[2022-08-10 16:45] #2284 closed

[2022-08-10 19:00] mbelt commented on #3117
@MageshSrinivasulu  Confirmed the root cause of the container failing to start was [containerd #5067](https://github.com/containerd/containerd/issues/5067 ).

The other error messages persist, but they must be unrelated.

[2022-08-10 19:00] #3117 closed

[2022-08-10 20:42] #3044 closed

[2022-08-11 04:55] AndreasDeCrinis opened #3133 "increase windows pod disk space"
**Describe scenario**
We are currently facing the issue, that the default 20GB pod disk space for windows containers are not enough for our build to run through.
[code]

**Question**
Unfortunately, I havent found a way how to increase the pods available disk space. On our onprem environment I can modify the docker service parameters and add `--storage-opt 50G`. How am I supposed to do that with AK

[2022-08-11 12:32] miwithro commented on #2827
@simplejackcoder you can follow #2897 we are updating to 22.04 with AKS 1.25 coming out in the next month or so. This will come with the 5.15 LTS kernel.

[2022-08-11 12:32] #2827 closed

[2022-08-11 12:34] miwithro commented on #2883
Duplicate of #2897 closing.

[2022-08-11 12:47] miwithro commented on #845
@JasonWhall thanks for the ask.  This would entail a very large engineering effort on the part of AKS and we have not seen alot of customer demand for this level of integration.  We will definetly continue to track this ask, and if there is further demand to decrease the implementation complexity, we can put this on our list.

[2022-08-11 14:18] phealy commented on #2931
Unfortunately, due to architectural requirements we're under at this time, we can't currently add customer API server addresses to a service tag. However, there may be an alternate solution that works just as well for what you need.

A question here: are you having trouble reaching the API server from applications in your cluster, using the in-cluster configuration? If so, you're running into the

[2022-08-11 15:49] juanp3053 commented on #2306
@kaarthis any updates on this?

[2022-08-12 01:36] dhirschfeld commented on #2883
@miwithro - #2897 has been closed and locked as a dup of *this* issue!

Until this feature is delivered, one or the other issue should probably remain open.

[2022-08-12 06:31] upasedharmaraj opened #3134 "Logging level to be disabled by default."
**What happened**:
Currently, AKS logging level is set to std out enabled for all namespaces, this causes lot of log ingestions and icreases total bill.

**What you expected to happen**:
AKS logging should be kept to error only by default and configured on demand using custom config map.
https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-agent-config

**How to repro

[2022-08-12 10:07] #3125 closed

[2022-08-12 10:21] pierluigilenoci commented on #2306
@justindavies @robbiezhang @CocoWang-wql @miwithro @palma21 @qpetraroia can you tell us who to ask to have news?

[2022-08-12 17:14] #2853 closed

[2022-08-12 20:42] ender1598 commented on #1785
Happy 2 year anniversary of the issue! Hopefully this third year of progress is the most productive. 😎

[2022-08-12 20:57] efzn commented on #1785
😂

![waiting](https://media4.giphy.com/media/FoH28ucxZFJZu/giphy.gif)

[2022-08-13 03:17] ewfian opened #3135 "[Question] Please upgrade virtual-kubelet"
The [azure-aci v1.4.2](https://github.com/virtual-kubelet/azure-aci/releases/tag/v1.4.2) was released on Jan 04, 2022, Please upgrade the default version

[2022-08-15 13:37] filbotblue commented on #2955
Any pointers as to which network policy was applied if it was a default policy? I am also experiencing a block of port 8089 on my AKS clusters preventing cert-manager from validating new ingresses.

[2022-08-15 14:47] prikesh-patel commented on #2759
Any updates?

[2022-08-15 15:18] MarkTopping commented on #3134
Hey @upasedharmaraj

I figured I'd just share with you my experience here.... when I configured the OMS Agent to only export stderr logs I still found the ingestion levels to be quite high (less of course, but still far higher than I expected). When I dug a little deeper I found that many K8s components were logging 'info' level logs to stderr instead of stdout. I think (IIRC) this was due to the

[2022-08-15 15:32] MarkTopping commented on #3085
You probably know this, but just in case... there is an annotation that you can specify on your K8s Service which allows you to specify which Subnet your Load Balancer IP will be taken from (should you not like the default).

[2022-08-15 18:34] zjpjack commented on #1200
@imtarunsingh please try again, the fix is rolled out to eastus

[2022-08-15 18:39] artisticcheese commented on #1200
What about other regions? Can you provide full list where it's supposed to be available?

[2022-08-15 20:28] mblaschke commented on #1479
Is there any target date for GA?

[2022-08-15 21:00] zjpjack commented on #1200
@artisticcheese other regions are available too

[2022-08-15 22:37] lilinvictorms opened #3136 "[BUG] Warning on NSG creation for ipv6 service with floating ip disabled"
**Describe the bug**
Created a new ipv6 service in AKS ipv6 enabled cluster, and got event saying that the NSG creation failed due to mixed address family.

**To Reproduce**
Steps to reproduce the behavior:
1. Create AKS cluster with ipv6/kubenet enabled, and deploy a new ipv6 service by running command `kubectl apply -f myservice.yaml`:

[code]
2. Run command `kubectl describe service/myservice-i

[2022-08-16 04:42] CocoWang-wql commented on #2018
https://github.com/Azure/AKS/issues/2898
The feature is in plan. We will leverage an extension to allow  only users in the aad group to ssh to the node

[2022-08-16 05:18] CocoWang-wql commented on #2898
Dup: https://github.com/Azure/AKS/issues/2018

[2022-08-16 06:50] tomkerkhove commented on #1479
Adding @raorugan  who is the PM of the add-on

[2022-08-16 07:01] #3000 closed

[2022-08-16 08:18] pierluigilenoci commented on #2306
Sorry @austonli, but I don't want to sign up anywhere.
I expect news, answers, and public information from the AKS team.

I don't understand why Microsoft always has to do it differently from the rest of the community every time.
What's the point of having public repositories on GitHub if you don't respond to issues and act so mysterious?

I want to point out that I have opened this issue for a ye

[2022-08-16 08:28] saaror commented on #2306
@pierluigilenoci we can share that information here as well but we do want to work closely with our private preview customers to take feedback when they try this feature; hence the ask. We have heard you and other customers and we have a private preview coming soon for this support.

Across community & other cloud providers there has been precedence of onboarding for new features through private c

[2022-08-16 15:07] nclaeys commented on #2976
Is there any update on this? Since it takes this long to make progress on this ticket, our current workaround is to run the cluster-autoscaler ourselves. This way we can ignore the remediator taints. For others having the same issue, you can take a look at: [autoscaler-helm-chart](https://github.com/kubernetes/autoscaler/tree/master/charts/cluster-autoscaler)
I ignore the following taints:
  - "ak

[2022-08-16 20:09] miwithro commented on #2879
@norbertkeri we rolled out a fix for this.  Are you still experiencing the problem?

[2022-08-16 20:22] marcindulak commented on #2962
:eyes:

[2022-08-17 08:03] norbertkeri commented on #2879
I no longer work on the project, but I'll ping folk who are still on it.

[2022-08-17 08:45] #3020 closed

[2022-08-17 11:55] fschmied commented on #2880
@kaarthis Please check this issue so it doesn't go stale. Thank you :) .

[2022-08-17 15:41] alexander-vie commented on #3035
I think we face the same issue with AKS 1.22.14 and existing ALB frontend configurations. kubectl describe of services with private loadbalancer IPs produce these messages permanently:
`HTTPStatusCode: 400, RawError: Retriable: false, RetryAfter: 0s, HTTPStatusCode: 400, RawError: {
  "error": {
    "code": "ResourceAvailabilityZonesCannotBeModified",
    "message": "Resource /subscriptions/xxx/re

[2022-08-17 20:31] miwithro commented on #2018
Track issue in #2898 closing as a duplicate.

[2022-08-17 20:31] #2018 closed

[2022-08-18 07:46] BenH-Puregym commented on #3021
@andyzhangx any update on this issue?

the problem with this not working is because AKS now uses containerD we cannot use Docker-outside-of-Docker and so have to install docker and cache from the pod level (DIND). We don't have any option to get caching for a node pool which has multiple nodes since azure file doesn't work and azure disk is tied to one node.

[2022-08-18 07:59] yoorock commented on #223
Azure file sync will not work in our case to speed up file loading times over network share as it is intented to be used in Windows server.

[2022-08-18 16:49] allyford commented on #1953
#3128 Is currently in development and will allow customers to disable Outbound NAT, resolving issues like this.

[2022-08-18 16:49] allyford commented on #1960
#3128  Is currently in development and will allow customers to disable Outbound NAT, resolving issues like this.

[2022-08-18 18:05] JonParton commented on #2484
Bump!

[2022-08-18 18:26] jayamahendran commented on #3003
AKS K8s 1.24 is not in GA yet. As per release calendar it suppose to be in Jul-22. Can you please suggest when it will moved to GA

$ az aks get-versions --location eastus2 --output table
KubernetesVersion    Upgrades
-------------------  ------------------------
1.24.0(preview)      None available
1.23.8               1.24.0(preview)
1.23.5               1.23.8, 1.24.0(preview)
1.22.11

[2022-08-18 21:11] #2134 closed

[2022-08-19 00:57] thejosephstevens commented on #2134
This is wonderful, thank you so much for releasing this! I get to delete a whole bunch of unneeded terraform code now!

[2022-08-19 03:39] SatyKrish commented on #1897
External-DNS can now be installed as AKS add-on using [Web Application Routing solution (preview)](https://docs.microsoft.com/en-us/azure/aks/web-app-routing)

However, External-DNS controller lacks support for `Azure Private DNS Zone`. This is a must for resolving internal facing ingress endpoint.

[2022-08-19 13:11] tomicooler opened #3138 "[Question] How to change registryPullQPS and registryBurst in kubelet configuration?"
**Describe scenario**

When multiple pod starts pulling docker images at the same time the image pulls fail with `pull QPS exceeded`.
[code]

The nodes run with the default configuration for registryPullQPS and registryBurst, `curl "localhost:8080/api/v1/nodes/aks--38921313-vmss000000/proxy/configz"`:
[code]

 - registryPullQPS is the limit of registry pulls per second.
The value must not be a neg

[2022-08-19 16:09] djpadz opened #3139 "[BUG] Grammatical error when enabling auto-upgrade on ineligible cluster"
**Describe the bug**
When attempting to enable auto-upgrade on a cluster that is not eligible, the second word in the error message is `enabled`, when it should be `enable`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `az aks update --resource-group myResourceGroup --name myAKSCluster --auto-upgrade-channel stable` (Make sure it’s run against a cluster that is not running k8s

[2022-08-19 17:33] olsenme commented on #1879
@MateusAmin  would you be willing to chat with the PG team?

[2022-08-19 17:34] olsenme commented on #1541
@amrragab8080 would you be willing to chat about your use case more with the PG team?

[2022-08-19 17:34] olsenme commented on #1879
@MateusAmin would you be willing to chat with the PG team?

[2022-08-19 20:46] alvinli222 commented on #2452
Hi folks, additionally, you can submit an `az aks update --cluster-name myAKSCluster --resource-group myResourceGroup` command with no flags to receive this update as well.

[2022-08-21 05:33] aelij commented on #2194
Not stale

[2022-08-21 13:57] timown commented on #2429
hey @lgmorand, was it added to the roadmap? couldn't find anything

[2022-08-21 16:05] #2687 closed

[2022-08-22 00:01] #1541 closed

[2022-08-22 08:43] dimbleby commented on #1972
stalebot is the worst

[2022-08-22 09:26] tcz91 opened #3141 "[Question] OSM add-on How does an version upgrade look like?"
**Describe scenario**
Enabling OSM add-on via terraform [open_service_mesh_enabled](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#open_service_mesh_enabled) flag seems to deploy latest feasible OSM version - for our AKS cluster it is v1.2.0 (checked with OSM client).

**Question**
Since the OSM add-on is neither an normal app-deployment, nor hel

[2022-08-22 09:57] tcz91 opened #3142 "[BUG] OSM add-on Bootstrap pod initialization error"
**Describe the bug**
Enabling OSM (v1.2.0) in a fresh AKS cluster (kubernetes v1.24.0) via [terraform](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#open_service_mesh_enabled) leads to an initialization error of the OSM bootstrap pod because of some missing MeshRootCertificates access permissions:

[code]

**To Reproduce**
Steps to reproduce the

[2022-08-22 10:03] edkirillov commented on #2525
Hi, is there any timeline for making the custom policy feature GA?

[2022-08-22 10:55] tcz91 opened #3143 "[BUG] OSM add-on Service to service traffic via mTLS does not work (by default)"
**Describe the bug**
Enabling OSM via [terraform](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster#open_service_mesh_enabled) provides no working service to service communication via mTLS by default. Although there is an OSM managed namespace with 2 pods within, each one with an running envoy sidecar, the communication between both is still plain h

[2022-08-22 14:56] SatyKrish opened #3144 "AKS cluster info must output identity used by Web Routing Add-on"
**Describe the bug**
AKS cluster output doesn't output the identity associated with `Web Application Routing` add-on.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command 'az aks show -g <my-resource-group> -n <my-aks-cluster-name> --query ingressProfile'
2. See the output of `webAppRouting` section

**Expected behavior**
Identity used by Web Routing Addon should be displayed in clust

[2022-08-22 16:45] ankitrgupta1 commented on #3122
Has there been any update on this? I can't see any documents getting updated related to the change, for any method to be used in place of loadbalanacerip yet. 1.24.3 is already GA and available for upgrade.

[2022-08-23 08:00] apoorvkapil opened #3145 "Limits on APP Gateway Path and host based routing."
**Describe scenario**
I have an AKS Cluster running an API management solution which is exposing multiple Enterprise APIs of different Internal Teams (Logically differentiated Deployments). The number of teams could be 500. **_I want to expose those API via a common app gateway URL while giving each team a unique Path or Host._** This could be done via **Path based or Host based routing in AGIC**.

[2022-08-23 10:22] tcz91 commented on #3143
OK, obviously there is no bug... that happens if somebody (me) is unable to interpret termshark output correctly :D
Sniffed plain envoy traffic was the traffic from/to the application container within the pod. Pod-to-pod traffic was encrypted indeed. So I missed the source+destionation port infos of analyzed packages. Sorry for bothering you!

[2022-08-23 10:22] #3143 closed

[2022-08-23 14:11] ricoberger opened #3146 "[Feature] Allow usage of strict zone balancing"
**Is your feature request related to a problem? Please describe.**

We created a new node pool in one of our cluster (Germany West Central, Zone 1, 2 and 3) and all new nodes where only created in zone 1 and 2. This caused some problems:

- PVCs from the old node pool could not be mounted on a node of the new node pool (because there wasn't a node in zone 3)
- Topology spread constraints could not

[2022-08-23 22:48] georgewfisher commented on #2812
First open bash on a pod and run the following to try to get the MSI token for your pod:
`curl -v "http://169.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://vault.azure.net" -H "Metadata: true"`

In my case, I got back:
`{"error":"invalid_request","error_description":"Multiple user assigned identities exist, please specify the clientId / resourceId of the identi

[2022-08-23 23:13] paulgmiller commented on #2818
As noted in https://github.com/Azure/AKS/issues/3132 the already exist warnings are fine and will be removed in current rollout.

But seems like you still couldn't connect. If this is still an issue please raise a support ticket

[2022-08-24 13:11] desek opened #3148 "[Question] Is it possible to enable Intel VAAPI/QuickSync devices on linux nodes?"
**Describe scenario**

We're running ffmpeg in containers and are looking into using hardware acceleration for video encoding.
When testing this we found that Intel GPU devices (i.e. `/dev/dri/renderD128`) are not available on the AKS nodes which makes them unmountable to containers and essentially disabled use of VAAPI and QuickSync hardware acceleration.

Nvidia and AMD GPU's are not an option f

[2022-08-24 18:24] lgmorand commented on #2429
@kaarthis awesome, that'd perfectly match the need of my customers. any card in the roadmap board ? I didn't find it.

 this way I could watch update during the monthly call :)

[2022-08-24 19:57] jackfrancis commented on #1515
@haitch @patsilva-msft how might one delete all taints from a node pool?

[2022-08-24 20:25] xtianus79 opened #3149 "Can you pull and use docker images from other registries rather than using ACR (Azure container registry)"
This issue (closed) asked a similar question.
https://github.com/Azure/AKS/issues/252

I still can't find a clear message on how to do this. Also, the reason why I am asking is that some images are just public images that have HELM or Docker compose already built in. Trying to then place those into an ACR seems counter intuitive but perhaps there is a reason.

For example, if I want to pull an ima

[2022-08-24 22:41] sanglt commented on #3149
Yes you can use any docker registry for AKS. Our company use mixed between DockerHub and our private GitLab registry.

To use a private registry, you need to setup a authentication like this guide: [Pull an Image from a Private Registry](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/)

[2022-08-25 06:55] SimonMisencik opened #3150 "[BUG] The connection to the server aks-....hcp.westeurope.azmk8s.io:443 was refused"
**Describe the bug**

If I create AKS cluster in azure and I connect into it with command:

az aks get-credentials --resource-group <resource-group> --name <name>

after couple of minutes of working I get this message on couple of seconds.
The connection to the server aks-....hcp.westeurope.azmk8s.io:443 was refused - did you specify the right host or port?

Because of this my CI pipeline on githu

[2022-08-25 11:26] hbuckle opened #3151 "[Feature] - Specify Node Image Version"
**Is your feature request related to a problem? Please describe.**

We upgraded the node image version in our staging environment, however when our pipeline got to the production environment a newer node image version had been released and the environments ended up different

**Describe the solution you'd like**

Ability to specify the desired image version as part of the [upgrade](https://docs.mi

[2022-08-25 19:52] jackfrancis opened #3152 "[BUG] kubernetes.azure.com/scalesetpriority:spot is user-overrideable"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AKS cluster with a spot node pool
2. Issue an AKS node pool label update against the spot pool, e.g.
[code]
3. The label update will be accepted, and the new (`foo=bar`) label applied to the pool, and to all of its nodes; but, the `kubernetes.azure.com/scalesetpr

[2022-08-25 19:53] jackfrancis commented on #3152
We might also investigate if the `kubernetes.azure.com/scalesetpriority=spot:NoSchedule` node pool taint is also subject to the same user-override pathology as labels, I haven't had time to look into that.

[2022-08-25 19:55] jackfrancis commented on #3152
cc @zmalik

[2022-08-26 08:48] NovemberZulu commented on #3152
I _believe_ no, at least I never observed lost taints, only labels were lost.

[2022-08-26 09:53] MattGarner-N commented on #2259
Is there a plan for this feature on Windows Nodes? I can't find any way to install custom CA certs on windows nodes...

[2022-08-26 12:59] reenakabra commented on #3121
@phealy Just wondering if you can update or share your thoughts if kdump should be installed by default on AKS worker node.

[2022-08-26 13:01] #2931 closed

[2022-08-26 14:16] MattGarner-N opened #3153 "[BUG] Init/Priveleged DaemonSet Pods will not deploy onto Spot nodepools"
**Describe the bug**
Init/Priveleged DaemonSet will not deploy onto Spot nodepools. Using this example it will not deploy onto any node pool that is spot:
http://hypernephelist.com/2021/03/23/kubernetes-containerd-certificate.html

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the daemonset in the link above and it will not deploy onto spot node pools.

**Expected behavior**
The Daem

[2022-08-26 14:54] dschniepp opened #3154 "[Question] Azure AKS Extension and Flux 2 version mapping"
**Describe scenario**
According to the result of `az k8s-extension show -g rg-xxx -c aks-xxx -n flux --cluster-type managedClusters` the extensions version for flux is `1.5.1`.

<details>
<description>Result</description>

[code]
</details>

**Question**
Where can I find a mapping between the Azure AKS Extension and the Flux 2 version? In the extension I see version `1.5.1` but flux2 doesn't have

[2022-08-26 17:20] zohebs341 opened #3155 "AKS - Migration of PVC/PV from custom storgae class to new one"
**Describe scenario**
We are using Azure AKS 1.21.x version and alot of data is residing in PVCs. And the provisioner of these PVCs is kubernetes.io/azure-disk. I want to migrate PVCs from this provisioner to new storage class with provisioner CSI. So that I can use snapshot features with CSI provisioner.

I can create new storage class with csi provisioner and update my statefulset to use it. But

[2022-08-26 17:54] vdiec commented on #3134
Hi @upasedharmaraj, this is an issue we are aware of and will be fixing. I will reply back here when the fix is rolled out. Thanks!

[2022-08-26 20:52] adamyager commented on #1479
@raorugan
Do you have any broad estimates on GA? We have this working well in non-prod but will not be brining it to prod until GA.

I am not asking for a date but an estimate. Dec of 2022, Feb-April of 2023, etc.

This is very helpful for planning

[2022-08-26 22:26] kaarthis opened #3156 "Planned Maintenance for Weekly Release"
This is very specific for only the AKS weekly releases and will provide integration with MRP.

[2022-08-27 01:28] andyzhangx commented on #3155
@zohebs341
follow this guide to do the azure disk migration: https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers#migrate-in-tree-persistent-volumes

[2022-08-27 09:36] zohebs341 commented on #3155
@andyzhangx Thanks for sharing details.

However if I tried moving/migrating LRS PVC of kubernetes io/azure-disk provisioner to CSI provisioner of ZRS storage class. PVC/PV got created under ZRS storage class.

But pod is not coming up. As the source PVC is from No AZ nodepool.

So the only option is migrate k8s/azure -disk to CSI lrs.

Convert csi-lrs to csi-zrs and then deploy in multi AZs nodep

[2022-08-27 09:37] ohorvath opened #3157 "[BUG] CoreDNS is failing to resolve reverse zones"
**Describe the bug**

The coreDNS version (1.8.7) included in AKS 1.22 and 1.23 has a bug which affects reverse DNS lookups. If you have a multi endpoint service, one of the endpoint IPs won't resolve correctly. You will get NXDOMAIN as a response.

**To Reproduce**
Steps to reproduce the behavior:
1. Create AKS 1.22 or 1.23 from Azure portal or from CLI.
2. SSH into any pods where you have host o

[2022-08-27 13:43] andyzhangx commented on #3155
@zohebs341 correct, k8s config change won't change the existing disk, the only way to convert lrs disk to zrs disk is using azure api derectly.

[2022-08-27 15:39] jeffreywstevens opened #3158 "Azure Key Vault Provider for Secrets Store CSI Driver Instructions Not Working - How to Fix?"
The instructions say an identity within the node azureKeyvaultSecretsProvider will get created after the cluster is create enabling the Secrets CSI driver.
![image](https://user-images.githubusercontent.com/637945/187037118-bb39fc0a-7b78-4d33-9c1d-7e3cf19fa73e.png)

The identity is null in my case after the cluster gets created.
![image](https://user-images.githubusercontent.com/637945/187037251-c

[2022-08-27 15:50] jeffreywstevens commented on #3158
I ran the command to enable the CSI driver for an existing cluster (same one I created), and now the identity is there in the JSON.

However, I did get a warning:
**"Could not find service principal or user assigned MSI for roleassignment"**

[2022-08-29 01:39] AbelHu commented on #2259
@MattGarner-N did you try to use windows host process containers (HPC) to install custom CA on Window nodes? HPC is supported in k8s 1.23+ and containerd 1.6+

[2022-08-29 06:15] maksim-paskal commented on #2667
tunnelfront is absent in AKS v1.23

[2022-08-29 06:15] #2667 closed

[2022-08-29 08:32] siegenthalerroger opened #3159 "[Feature] Using a defined subnet as the service CIDR"
**Is your feature request related to a problem? Please describe.**
I've read the documentation (and issues) regarding the service CIDR and keep coming to the same conclusion. I don't see a way to prevent the possible dual-usage of the service-CIDR range.
Of course there's an error warning if I define a service-CIDR that overlaps an existing subnet (https://github.com/Azure/AKS/issues/1117) and the

[2022-08-29 09:23] perosb commented on #2899
As I understand it there is a workaround in https://github.com/Azure/AKS/releases/tag/2022-08-21 that will try restart HNS service if it crashed. https://github.com/Azure/AgentBaker/pull/2085

[2022-08-29 15:43] VybavaRamadoss commented on #2864
@peterpogorski can you provide an update?

[2022-08-29 21:26] jmalkiew commented on #2569
@miwithro is there a new date planned for the feature?

[2022-08-29 21:31] miwithro commented on #2569
@jmalkiew Public Preview is targeted for the end of this month.

[2022-08-30 11:26] n-pedersen opened #3160 "[Question] Setting AKS agentpool linuxOSConfig / custom node settings using Bicep deployment."
**Describe scenario**
Hi,
We want to deploy AKS cluster agent pool with linuxOSConfig aka. customNodeconfiguration, using Bicep template and parameter file. We want to set sysctls.vmMaxMapCount = 262144. Which seems supported, according to docs. https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2022-06-01/managedclusters?pivots=deployment-language-bicep

It seems that no

[2022-08-30 13:36] BenjaminHerbert opened #3161 "[BUG] Unable to create an interactive shell on a linux node - unable to investigate node problems"
**Describe the bug**
I want to create an interactive shell on a linux node. I am following [this guide](https://docs.microsoft.com/en-us/azure/aks/node-access#create-an-interactive-shell-connection-to-a-linux-node).

I am running this command:
`kubectl debug node/aks-xxx-yyy-vmss000000 -it --image=mcr.microsoft.com/dotnet/runtime-deps:6.0`

The debug pod does not start and the following messages a

[2022-08-30 13:43] mazwettler commented on #1200
Is there a way to stop AKS from propgating tags to related resources?
We run into issues because we have a different on our route-table then on AKS, and AKS keeps overwriting the tags on the route-table.

[2022-08-30 14:05] nijave commented on #2883
Will this only target k8s 1.25 or will it target older k8s versions? 18.04 mainstream support runs out April 2023 and 1.24 and possibly 1.23 should still be supported then

[2022-08-30 14:53] cubed-it commented on #3161
I observe a similar issue. At first I thought our ACR was the source, but I could also generate the same message in two AKS systems against Docker Hub.

[code]

[2022-08-30 14:58] slynickel opened #3162 "[BUG] DHCP Issues leading to DNS resolving problems"
**Describe the bug**

We are experiencing this in two AKS clusters, in different Azure regions in our fleet of more than 100. Made a MSFT ticket as well but creating something here to see if we are alone.

We are finding a few AKS node VMs don't end up with DHCP leases. The most impactful result of this is that `/etc/resolv.conf` looks like this.

[code]

More specifically if you run ` netplan ip

[2022-08-30 15:06] amarkevich opened #3163 "Release notes contain wrong link to container image description"
Release 2022-08-14 https://github.com/Azure/AKS/releases/tag/2022-08-14
points to    https://github.com/Azure/AKS/blob/AKS/vhd-notes/aks-ubuntu/AKSUbuntu-1804/2022.08.10.txt
right link is https://github.com/Azure/AKS/blob/master/vhd-notes/aks-ubuntu/AKSUbuntu-1804/2022.08.10.txt

[2022-08-30 15:10] holophil commented on #3162
@slynickel Have you seen the note about the "emerging issue under Investigation" on the portals [service health dashboard](https://portal.azure.com/#view/Microsoft_Azure_Health/AzureHealthBrowseBlade/~/serviceIssues)?

it states:

`Azure customers running Canonical Ubuntu 18.04 experiencing DNS errors - Investigating
Starting at approximately 06:00 UTC on 30 Aug 2022, a number of customers running

[2022-08-30 15:22] slynickel commented on #3162
Ah, good call. We have all sort of alerting setup for service health alerts but not "emerging issues". Given what we see in DHCP we expected this to be the way to mitigate.

I'm going to close this since the eventual service health alert will probably be the thing folks should track.

[2022-08-30 15:22] #3162 closed

[2022-08-30 15:26] MattGarner-N commented on #2259
Hi @AbelHu, I did try but cannot find a way... No documentation on it either as Windows Node Pools are not widely used.

Please let me know if you have a solution! :)

[2022-08-30 15:27] alexeldeib commented on #2814
should be fixed now

[2022-08-30 15:27] #2814 closed

[2022-08-30 15:29] alexeldeib commented on #3106
we're working on a fix for this. TLS trust will be established before any network connections and we won't rely on a k8s secret. it will take some time still. cc @utheman

[2022-08-30 17:34] saloyiana commented on #3161
Facing same issue

[2022-08-30 17:49] lilinvictorms commented on #3136
Also tracked by https://github.com/kubernetes-sigs/cloud-provider-azure/issues/2218.

[2022-08-30 18:04] filbotblue commented on #2955
I noticed that for my issue, I had a TLS secret that was longer than _80 characters_ for the name. That seemed to break AGIC. I had to delete the configurations that created that TLS secret and then let AGIC figure itself out. Then after that, I had to redeploy my apps after removing them for it to work. Now Let's Encrypt and Cert-Manager are working.

[2022-08-30 19:00] zohebs341 commented on #3155
I mean to say, Dynamic Provisioning of PVC is not happening. If I am using existing PVC. (Which I've converted from kubernetes.io/azure-disk to CSI storage class)

[2022-08-30 19:11] zohebs341 commented on #3155
In a case where statefulset is having 3 replicas/3 PVC. In tree storage migration is fine. But the converted PVCs(CSI), we should be able to utilize. As there is a lot of data in it.

[2022-08-30 19:31] raghulmsft commented on #2166
Thanks for bring it to our attention. I am a PM with the AKS portal team and have passed it on to our team. Will share updates as we have them.

[2022-08-30 20:49] scottstout opened #3164 "[Question] What Causes Node Image Version to Lag Behind Node Pool Kuberentes Version"
**Describe scenario**
Reviewing the kubernetes version and node image version across many clusters.

**Question**
I see some clusters that are on very new kubernetes version but an older node image version, where others with an older kuberentes version have a much newer node image version. Is there something that explains when how this can happen or is this a bug?
![image](https://user-images.gith

[2022-08-30 20:55] zohebs341 commented on #3155
My Statefulset is having 3 replicas and I am using existing PVC, which I've converted from in-tree to CSI.

Pod-1 came up with existing PVC, but Pod-2 is also trying to use the same existing PVC and failing with Multi-Attach Error.

Events:
  Type     Reason              Age                  From                     Message
  ----     ------              ----                 ----

[2022-08-30 23:12] RolandlinAKS commented on #3106
Thank you @alexeldeib for reviewing this issue.

[2022-08-31 01:17] AbelHu commented on #2259
@MattGarner-N please update the PowerShell command and try to deploy below HPC pod in your Windows nodes
[code]

[2022-08-31 05:12] zohebs341 commented on #3155
@andyzhangx Appreciate your inputs on this?

[2022-08-31 05:58] andyzhangx commented on #3155
@zohebs341 azure disk pvc is ReadWriteOnce, one disk pvc can only be attached to one node, for pod 2, you need to use other disk pvc.

[2022-08-31 06:44] zohebs341 commented on #3155
@andyzhangx Yes exactly. But I am using existing converted PVCs in values.yaml. Once the first pod is up with PVC-0, the second pod should come up with PVC-1. But still, it is referring to the first pod PVC.

Dynamic provisioning of PVC is not working, if I use existing PVC. Instead, it is just trying to add the same PVC to all 3 pods and failing.

As in any values.yaml, there will be an option of

[2022-08-31 06:47] mazwettler commented on #1200
We have different teams for managing network resources and application resources like aks cluster. So network team wants to put tags like "created-by:noc" on the route table which gets overwritten once the aks is deployed by developers which use tag "created-by:dev-team".
Even if we change it afterwards again back to "noc" it instantly gets overwritten again by aks managed identity.

[2022-08-31 07:00] andyzhangx commented on #3155
I think you could use `volumeClaimTemplates` in statefulset, and then create the pvc in advance, the naming rule of `volumeClaimTemplates` PVC  is `volumeClaimTemplates.metadata.name-statefulsetname-num`
https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/statefulset.yaml#L34-L43

[2022-08-31 07:45] zohebs341 commented on #3155
@andyzhangx Great stuff and it worked for statefulset, I will explore how we can achieve it with helm chart(values.yaml).

A small addition to your comment, whatever the name we are providing in claim templates. It should match with volumemounts.

Thank you once again for your excellency.

[2022-08-31 08:33] tg123 opened #3165 "[BUG] cannot create azure lb when nodeport disabled"
**Describe the bug**

cannot create azure lb when nodeport disabled.
looks like health probe is based on nodeport

**To Reproduce**
Steps to reproduce the behavior:
1. Run command kubectl apply

[code]

2. See error

[code]

**Expected behavior**

lb created

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the following information):**

[2022-08-31 08:48] #3155 closed

[2022-08-31 08:48] andyzhangx commented on #3158
@ZeroMagic

[2022-08-31 09:18] pierluigilenoci commented on #2306
![mr-bean](https://user-images.githubusercontent.com/36044817/187644434-d67ae3da-b051-480f-80f4-4e332d67418d.gif)

[2022-08-31 09:42] mac2000 commented on #2181
Another good use case is current ongoing issue in Azure with DNS on Ubuntu 18.04

<details>
<summary>Azure customers running Canonical Ubuntu 18.04 experiencing DNS errors</summary>

</details>

The interesting part there is:

But there is no way to reboot nodes in node pool 🤷‍♂️

---

There are some workarounds like this one: [Restart a node in AKS](https://pumpingco.de/blog/restart-a-node-in-aks

[2022-08-31 09:44] TomBailey-N opened #3166 "[Feature] Kube-Bench returns: 3.2.11 Ensure that the RotateKubeletServerCertificate argument is set to true"
**Is your feature request related to a problem? Please describe.**
When Running [Kube-Bench](https://github.com/aquasecurity/kube-bench) for AKS - it returns a node remediation:

[code]

**Describe the solution you'd like**

It looks like rotation is actually enabled on recent clusters according to [this](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation)

But according to [this issu

[2022-08-31 09:50] zoroglucihat opened #3167 "Failed to load logs: Internal error occurred: Authorization error (user=masterclient, verb=get, resource=nodes, subresource=proxy)[BUG]"
Suddenly this happened when i create deployment and statefulset. And also pods are waiting pending status

Failed to load logs: Internal error occurred: Authorization error (user=masterclient, verb=get, resource=nodes, subresource=proxy)[BUG]

[2022-08-31 12:17] ivanthelad opened #3168 "All new node pools should inherit --enable-encryption-at-host configuration from AKS cluster"
When a AKS cluster is configured with --enable-encryption-at-host then all additional node pools added to the cluster should inherit this configuration. Today this is not the case.  all new nodepools do not get this configuration

[2022-08-31 13:29] zohebs341 commented on #3155
@andyzhangx It's just creating new PVCs with whatever the name we are providing in volumeclaimtemplates.

When I exec into the pod and validated data, it's empty pvc/new PVC. But the PVC which I've updated in volumeclaimtemplate was having data. It means, it's not referring to it and just created a new PVC dynamically with that name.

[2022-08-31 13:39] sri53 commented on #2181
If the feature available now it would have saved lot of time for the ongoing DNS issue :)

[2022-08-31 13:49] zohebs341 opened #3169 "AKS 1.22.11- Use of Existing/Cloned PVCs in statefulset [Question]"
**Describe scenario**
I've migrated in-tree storage class PVCs to CSI volumes. Now I want to use these cloned/existing PVCs in my stateful set, which is having 3 replicas. If I use the volume option in statefulset, then only the first pod is coming up with that PVC and the second pod is trying to use the same PVC(which the first pod has used). So the second pod is not coming up.

Dynamic volume pr

[2022-08-31 13:50] zohebs341 commented on #3169
@andy-anhnguyen It would be great if you can provide your input.

[2022-08-31 14:11] andyzhangx commented on #3155
@zohebs341 you should create PV, and then create PVC with naming like `volumeClaimTemplates.metadata.name-statefulsetname-num`, bound PVC to PV first, and then scale statefulset replica num

[2022-08-31 14:12] andyzhangx commented on #3169
@zohebs341 you should create PV, and then create PVC with naming like volumeClaimTemplates.metadata.name-statefulsetname-num, bound PVC to PV first, and then scale statefulset replica num

[2022-08-31 16:14] mllab-nl opened #3170 "[Question] What is the correct way to disable network access to azure metadata endpoint when using Azure CNI + azure Network policy"
**Describe scenario**
I have aks cluster with Azure NPM.
All the pods in the cluster can access metadata endpoint at http://169.254.169.254:80/metadata/instance?api-version=2021-02-01
Network policies are ignored, most likely because of these routes on each node
168.63.129.16   10.1.0.1        255.255.255.255 UGH   100    0        0 eth0
169.254.169.254 10.1.0.1        255.255.255.255 UGH   100

[2022-08-31 16:14] BenjaminHerbert commented on #3167
For us, this issue did resolve after we fixed the node DNS problems, please see https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1988119 for possible workarounds. :crossed_fingers:

[2022-08-31 16:17] urbantz-technical-support opened #3171 "[Feature] Graceful + Non-Graceful node shutdown with non-zero grace-period"
**Graceful node shutdown not working**
When restarting a VM from the Azure dashboard the node get's shutdown forcefully after 5 min and k8s doesn't have the chance nor doesn't even try to evict the pods in the node. [This ticket](https://github.com/Azure/AKS/issues/2282) made it look like the [feature](https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/) is enabled.

**To Reproduce*

[2022-08-31 16:22] zohebs341 commented on #3169
@andy-anhnguyen Can you please have a look at this, I've attached a documentation with screenshot FYR.

It is just creating new PVC. If we are using volumeclaimtemplate option as you have suggested.

Please refer attachement.
[volumeclaimtemplates-existingpvc-usage.docx](https://github.com/Azure/AKS/files/9463240/volumeclaimtemplates-existingpvc-usage.docx)

[2022-08-31 17:26] #3164 closed

[2022-08-31 17:53] Cpcrook opened #3172 "[BUG] Internal Load Balancers not functional"
**Describe the bug**
Internal load balancers are not responding to requests.  This became an issue on one of our clusters this past Sunday Aug 28, 2022.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the following manifest
2. Attempt to access the IP assigned to the LoadBalancer to view the voting example app

[code]
3. Describe new `azure-vote-front` service and get the LoadBalancer

[2022-08-31 18:48] #3158 closed

[2022-08-31 23:29] peterpogorski commented on #2864
Azure File Volume V2 is supported via Virtual Nodes and via ACI. We will update the documentation to make it clear that it is supported.

[2022-09-01 04:57] andyzhangx commented on #3168
hi, `enable-encryption-at-host` is a node pool property, so other node pool won't inherit, also there is vm sku limitation with `enable-encryption-at-host` feature, so it's appropiate to inherit this property if specific vm sku does not support enable-encryption-at-host

[2022-09-01 06:11] asubmani opened #3173 "[BUG]Restarting AKS changes the API server's public I.P Address"
**Describe the bug**
API Server's public I.P changes after a cluster restart.  This is causing our deployments to AKS to fail.

We were impacted by "Azure customers running Canonical Ubuntu 18.04 experiencing DNS errors (Tracking ID 2TWN-VT0)"

Deployments have been failing since the outage. The Automatic remediation changed the API servers I.P address. we stopped and restarted the cluster and the

[2022-09-01 10:54] brunomiguel-teixeira opened #3174 "[Question] HTTP Proxy being automatically injected into Pods"
**Describe scenario**
We are recently testing the HTTP Proxy Support added for AKS (https://docs.microsoft.com/en-us/azure/aks/http-proxy).
We deployed an AKS cluster with the HTTP_PROXY, HTTPS_PROXY & NO_PROXY defined (the values are not relevant here).

**Question**
As per the documentation, it was our understanding that these HTTP Proxy settings (http_proxy, https_proxy, no_proxy etc) were inte

[2022-09-01 10:57] andyzhangx commented on #3169
Here is the example about how to use existing volumes in statefulset:
[code]

[2022-09-01 10:57] #3169 closed

[2022-09-01 17:18] ohorvath commented on #3157
We've found the root cause of the issue. Not coreDNS but go-client causing the issues in coreDNS 1.8.7.

https://github.com/kubernetes/kubernetes/issues/109115

We think this version of go-client can cause random issues in other k8s related components also. We'd recommend to upgrade every component in your k8s clusters using this go-client.

For the AKS team, it should be a good idea to get rid of

[2022-09-01 20:17] jmalkiew commented on #2569
@miwithro by "the end of this month" I guess you meant end of September and not August;-)

[2022-09-01 21:36] Cpcrook commented on #3172
Turns out our cluster's VNET just randomly died over the weekend and stopped allowing external traffic despite peerings, and that appears to be the root cause.  Re-deploying another cluster to a new VNET resolved our issues.   Still waiting to hear back from our rep as to the root cause.

[2022-09-01 21:36] #3172 closed

[2022-09-01 21:49] WaitingForGuacamole commented on #2569
[https://azure.microsoft.com/en-us/updates/public-preview-ephemeral-os-disks-supports-hostbased-encryption-using-customer-managed-key/](url) suggests it's available now, but the referenced pages don't mention which preview feature needs enabling?

[2022-09-01 22:31] rammohanganap opened #3175 "dns"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2022-09-01 22:32] #3175 closed

[2022-09-01 22:33] rammohanganap commented on #3175
I thought, i was searching the issues but looks like it created the issue.

[2022-09-02 01:01] #2676 closed

[2022-09-02 02:42] AbelHu commented on #2820
I think that this needs upstream support. cc @allyford

[2022-09-02 03:33] ngbrown commented on #2792
The advice I've gotten from Microsoft employees is that our cluster's `networkPolicy` should be switched from `azure` to `calico` because of this and other issues aren't being taken care of.

[2022-09-02 15:11] megakid commented on #2259
I've tried this and it does not install the certificate onto the host.  I tried:

`& certutil -addstore -enterprise -f -v root C:\certs\root_ca.crt` => imported successfully but a separate image pull to our internal docker registry with self-signed certificate still reported x509 certificate error.

and

`Import-Certificate -FilePath "C:\certs\root_ca.crt" -CertStoreLocation Cert:\LocalMachine\Roo

[2022-09-03 06:01] #3168 closed

[2022-09-03 17:01] byteknacker commented on #1200
Ok, it is good to see that some users actually do not want the tags to be propagated. I think the problem is just that when you set up an AKS, Azure automatically creates some additional resources that you then can actually see inside the console having a somehow different lifecycle and tagging possibility. Maybe it is good to let the customer choose at the creation time whether or not to propagat

[2022-09-03 17:47] artisticcheese commented on #1200
Having tags on depended resources is not just housekeeping issue but it's also used for cost attribution and management. Regardless whether those are shown or not they need to have tags for cost purposes

[2022-09-04 00:13] EppO commented on #2892
@phealy: could you consider this feature request please?

[2022-09-05 06:10] perosb opened #3177 "[Question] 2022-08-21 mentions new "Added a scheduled task hns-remediator-task" but no updated windows image"
**Describe scenario**
The release notes mentions a "Added a scheduled task hns-remediator-task in AKS Windows nodes which will restart kubeproxy automatically when HNS service crashes." but there is no updated Windows image. https://github.com/Azure/AgentBaker/pull/2085

**Question**
How is this scheduled task installed and updated? I assume this is a workaround for my issue in https://github.com/

[2022-09-05 08:26] VMM-Mtech opened #3178 "[BUG] Cluster jammed to ReconcilingClusterETCDCertificates state"
**Describe the bug**
Our cluster shows Status as "ReconcilingClusterETCDCertificates (Running)". It has one node pool, which state is Succeeded/Running, but all nodes are "Not ready".

**Environment (please complete the following information):**
 - Kubernetes version 1.22.6

**Additional context**
We suspect that this is somehow related to https://app.azure.com/h/2TWN-VT0/6d038e.

We can't restart

[2022-09-05 09:42] rouke-broersma commented on #3173
If you want a static public IP, reserve a static public IP and pass it to AKS. AKS will then use this IP.

[2022-09-05 09:44] rouke-broersma commented on #3171
You should not be managing nodes directly using the vmss. This is an AKS managed resource and you should not expect graceful behavior when directly interacting with the vmss imo.

[2022-09-05 09:50] rouke-broersma commented on #3146
Using mixed-zone nodepools with persistent storage is not recommended. Rather create a nodepool per-zone and use `--balance-similar-node-groups` to balance nodes per zone. https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#use-the-cluster-autoscaler-with-multiple-node-pools-enabled

[2022-09-05 09:54] rouke-broersma commented on #3160
When we contacted azure support they let us know that this is a known issue that is being worked on.

[2022-09-05 09:58] rouke-broersma commented on #3122
@olsenme Seems you've recently edited the changelog. Could you get someone to take a look at this?

[2022-09-05 10:25] tomasgiden opened #3179 "[BUG] Autoscaler stuck in infinite loop"
**Describe the bug**
We are running jobs on GPU instances. For that we have set up multiple GPU enabled node groups. To save cost we have set up a few different ones as spot instances (called gpu1*) and 1 node group as you go with pay as you go instances (called gpu00). I have set up the expander to work with priority and configured the priority to prioritize the spot instances first and the pay a

[2022-09-05 10:59] urbantz-technical-support commented on #3171
Hey @rouke-broersma I agree, but I have no other option.

But as I mentioned in the [link](https://github.com/Azure/AKS/issues/2181#issuecomment-1232711437) I have no other options to restart the nodes.

What was I supposed to do? Plus whether I am suppose to do that or not I still expect that node graceful shutdown to work. I don't expect azure to use a much different system than the one I use to

[2022-09-05 11:03] rouke-broersma commented on #3171
Well what we did is cordon and drain the node, then restart the node once it's empty to make sure there was a graceful shutdown. I would expect any official restart API to do the same.

[2022-09-05 11:29] urbantz-technical-support commented on #3171
Let's see what AKS/Microsoft has to say about this

I am afraid I don't agree with you. You say you are not supposed to press that button because it is managed but you go ahead and do it yourself. Our difference in the expectations in that the history of github issue leads to believe customers it is fine to do so when in practise it is not.

Plus that mechanism is not always the best. There are da

[2022-09-05 14:54] deepak1185 opened #3180 "[Getting this error when running kubectl exec error: unable to upgrade connection: Authorization error (user=masterclient, verb=create, resource=nodes, subresource=proxy)]"
**Describe the bug**
Getting this error when running kubectl exec error: unable to upgrade connection: Authorization error (user=masterclient, verb=create, resource=nodes, subresource=proxy)] when running the belwo command

kubectl exec -it -n nginx-ingress nginx-ingress-controller-64bf68d79b-4sdwg -- /nginx-ingress-controller --version

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl

[2022-09-05 23:55] asubmani commented on #3173
Is that a new feature? AFAIK, you can’t assign a static public I.P to AKS for the API server.
I know this as I have requested this before and the PG turned it down, however in this case it is a restart / msft remediation of the Ubuntu outage of that caused the I.P change and not a re-deployment of AKS.

[2022-09-06 05:40] rouke-broersma commented on #3173
Oh my bad, I totally misread your issue sorry. You're correct I don't know if any way to get a static public ip for the api server.

[2022-09-06 07:00] perosb opened #3181 "[BUG] Node says "Ready" but doesn't respond."
**Describe the bug**
Node says "Ready" but doesn't respond.
I cannot connect to the node via RDP jump box.
Cannot shell into any of the pods.

The last log entries on the pods are from yesterday before "crash".

[code]

[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/982752/188566775-6db0d521-4b9e-4b87-925d-74675cc4e4fb.png)

CPU went up to 60% more than 12h ago
![image](

[2022-09-06 10:32] dtotopus opened #3182 "[BUG] kube-proxy metrics can not be scraped"
**Describe the bug**
Currently running AKS 1.22.11
According to https://github.com/Azure/AKS/issues/1695 issue was fixed long time ago but in the current version we can not see any config maps or exposed ports

**Expected behavior**
kube-proxy metrics available for prometheus

**Environment (please complete the following information):**
 - Kubernetes version 1.22.11

[2022-09-06 13:14] asubmani commented on #3173
The issue I am highlighting as a bug is:

- The API server public I.P changes on a restart of the cluster by the customer.
-  This is DIFFERENT from provisioning an AKS cluster with a PRE-Assigned public I.P (## Desirable feature, but not a BUG)
I can totally understand if the AKS team wants control over the pool of public I.P's available for AKS; however whatever got dynamically assigned should n

[2022-09-06 14:41] olix0r opened #3183 "[BUG] `set-kube-service-host-fqdn` at odds with k8s docs"
**Describe the bug**

[AKS 2022-07-17](https://github.com/Azure/AKS/releases/tag/2022-07-17) includes the following release notes:

This feature is at odds with the [documented Kubernetes client discovery behavior](https://kubernetes.io/docs/tasks/run-application/access-api-from-pod/#directly-accessing-the-rest-api):

While client-go currently maintains support for the legacy environment-based con

[2022-09-06 15:05] olix0r commented on #3183
Note also that client-go will sooner or later drop support for `KUBERNETES_SERVICE_HOST`, per https://github.com/kubernetes/client-go/blob/b8b620636cbbb3bf92696d3a9ba5efb7f60fe1f2/rest/config.go#L534-L540

[2022-09-06 15:48] #3065 closed

[2022-09-06 16:20] stephaneey opened #3184 "[BUG] Container Insights does not support the "Resource-level" access with underlying Log Analytics workspace"
**Describe the bug**
When enabling Container Insights, logs are ingested into a Log Analytics workspace. This workspace's access control mode is set to _Use resource or workspace permissions_. Despites of this, users that don't have direct workspace permissions cannot access Container Insights, which clearly states:

`You do not have required permissions to access Container Insights for this clust

[2022-09-06 17:09] benchwang commented on #3178
Sorry for the inconvenience. I'm dev from aks team. Would you share your subscription id, resource group name and cluster name? I will check and fix the Status. The fix won't impact your cluster. I'll check log and update back of the cause.

[2022-09-06 18:13] vdiec commented on #2599
Hi @Harshith-Bhaskar, this feature is now available in public preview https://azure.microsoft.com/en-us/updates/public-preview-use-managed-identitybased-authentication-to-enable-azure-monitor-container-insights/

[2022-09-07 00:32] bbrandt commented on #2452
@alvinli222 If I run that command in Azure Cloud Shell I get this error:
[code]

If I change `--cluster-name` to `--name` I get this error:
[code]

Are you testing with an unreleased version of az or something?

[2022-09-07 04:10] MartinForReal commented on #1122
Maybe you can try out userAssignedNATGateway option?

[2022-09-07 06:36] VMM-Mtech commented on #3178
Do you have a Microsoft email account where I could send those?

[2022-09-07 09:11] alexangas opened #3186 "[Feature] Single NSG rule for loadBalancerSourceRanges"
**Is your feature request related to a problem? Please describe.**
When setting `loadBalancerSourceRanges` for a service, each entry in the array appears to create a separate NSG rule. As there is one NSG shared by the AKS cluster, multiple services requiring this setting can quickly hit the [NSG 1000 rule limit](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscr

[2022-09-07 13:01] #2698 closed

[2022-09-07 13:37] AlexGoris-KasparSolutions opened #3187 "[Question] Why is cluster autoscaler not spinning up nodes to which pods have higher affinity?"
**Describe scenario**
I'm trying to setup my AKS cluster in way that will leverage spot instances when excess resources are available, but in a way that there is a possibility to fall back to on-demand pricing, I have done this by defining several node pools:

- Autoscaling 0-15 standard_e2as_v4 with max price of 0.03/hr
  These nodes will have the `my-prefix.com/pricing_tier=low` label
- Autoscal

[2022-09-07 16:44] raghulmsft commented on #2914
The links were updated in June!

[2022-09-07 16:44] #2914 closed

[2022-09-07 18:50] dciborow commented on #1480
@miwithro , interested in more details about your Public Preview for my own internal usage. Could you ping me to chat? dciborow@microsoft.com

[2022-09-08 00:24] asubmani commented on #3173
+ @palma21

[2022-09-08 00:32] asubmani opened #3188 "[Question] How are kube-system images built and maintained (for ARM migration)"
**Describe scenario**
Would like to get guidelines on image building and maintenance from various PG's within AKS practice. (omsagent, aadpodidentity, gitops addon etc.)

**Question**
How are the various product groups that have code in `kube-system`  building and maintaining their images.
I ask this as we are testing the newly released ARM architecture VM's and all of the MS released pods are run

[2022-09-08 01:29] catmanjan commented on #2819
I too noticed this limitation note, I am running 1.23.8, does it the + include 1.23 or is it only the 1.22 versions?

[2022-09-08 02:57] junjiezhang1997 commented on #2862
I use kubernetes `1.22.6` (the oldest version supported now) and also cannot reproduce the problem. I'm not sure whether the problem has been fixed with the upgradation of kubernetes version. @markdebruijne could you reproduce the problem now? If so, we may need more details of your operations and corresponding parameters. @chefcook also wish you to provide more details about how to reproduce your

[2022-09-08 03:29] CocoWang-wql opened #3189 "AAD enabled SSH"
Enable AAD with SSH. Only the members in AAD group have permission to SSH.

[2022-09-08 03:32] CocoWang-wql opened #3190 "Node Access (SSH Refinement) - Phase 3 update SSH key"
With this feature, we allow users to update the SSH key permanently for AKS all existing nodepools.

[2022-09-08 04:10] n3wt0n commented on #3167
We are still seeing this error, in our production ALS cluster.
Even on new nodes, which accordingly to the linked thread should not happen.

Also tried the workarounds, including this:
[code]
but no luck.

What I do when a Pod goes in `ImagePullBackOff` and the ` stream logs failed Internal error occurred: Authorization error (user=masterclient, verb=get, resource=nodes, subresource=proxy)` log is

[2022-09-08 04:28] n3wt0n commented on #3167
Also, seems like the pods on the nodes in which this is happening are not able to report their CPU / Memory usage

![image](https://user-images.githubusercontent.com/13121206/189034332-d43d22f7-c2e7-4c5e-a9ab-25ac40427cad.png)

the pods marked in yellow are the ones where the problem is at the moment

[2022-09-08 05:41] n3wt0n commented on #3180
Related to #3167

[2022-09-08 07:59] nweseloh opened #3191 "[BUG] Deleting Flux extension fails on AKS with Windows node pool"
**Describe the bug**
In an AKS cluster with a Windows node pool, the command `az k8s-extension delete -g RESOURCEGROUP -c CLUSTERNAME -n flux -t managedClusters --yes`  fails to delete the flux extension.

The command creates a 'delete-fluxconfig' job in kubernetes, which in turn creates a pod that is scheduled on a Windows node, where it fails to start (because it would require to run on a Linux

[2022-09-08 10:48] pdefreitas commented on #2934
Any updates on providing "startup taints"? Our current implementation broke functionality for our use-case.
In our use-case we need to modify node IP tables within certain Kubernetes nodes. Pods may not initialize until these node IP tables are setup.

[2022-09-08 15:51] olix0r commented on #3183
I've submitted a kubernetes website PR to correct the documentation https://github.com/kubernetes/website/pull/36691

[2022-09-08 17:16] hatfarm commented on #2690
Looks like this still needs attention.  I see the bot has been asking for months, has anyone looked at this?

[2022-09-08 22:46] alexeldeib commented on #3188
we build multiarch docker images for both amd64 and arm arch. the actual pipelines are not unfortunately public. but it's relatively easy with tools like buildx - https://docs.docker.com/build/buildx/multiplatform-images/

[2022-09-08 22:49] alexeldeib commented on #3174
The webhook is intentional, the fact that it causes so many issues with k8s native traffic is not. part of the issue is we don't know in advance all the namespace/service names end users will pick up.

Including cluster.local would work for in-cluster FQDN, but not for `$service.$ns` and similar for pods. We could change the webhook to inject _all_ namespace/service names, but doing pod names woul

[2022-09-08 22:52] alexeldeib commented on #3160
I believe this is because `agentPoolProperties.type != VirtualMachineScaleSets` ? I don't think we supported this on VMAS

not 100%

[2022-09-08 22:53] alexeldeib commented on #3104
we unblocked this, but note that AKS does not currently install GRID drivers, only CUDA drivers, so you would need to do that your own right now. something we are looking at in the future.

[2022-09-08 22:59] alexeldeib commented on #2883
^planned for 1.25 only right now but we are aware of that potential timeline issue, cc @justindavies

[2022-09-09 01:57] dustingrant commented on #2830
I am seeing this as well

[2022-09-09 02:54] alexeldeib commented on #1940
have you seen https://github.com/containerd/containerd/blob/main/docs/hosts.md#client-field?

that is unfortunately necessary right now, would be interesting to see if we can get containerd upstream to automatically reload those...

[2022-09-09 03:11] braunsonm commented on #1940
@alexeldeib That's for client certificates not auth tokens, identity tokens or username/passwords. You can get away with bas64 encrypted username/password with some registries but not all. Registries implementing OIDC authentication and [tokens limited to the scope](https://docs.docker.com/registry/spec/auth/token/) of the image being pulled (docker hub does this in most cases) would need clients

[2022-09-09 03:23] alexeldeib commented on #1940
hmm interesting point. does the mirror config + imagePullSecrets at k8s layer work for your use case?

at a glance, it seems like the CRI config still works but is deprecated and the only supported way to pass creds for image pull/push to containerd is via CRI API? @cpuguy83 is that accurate?

I'd rather not add support for deprecated config, but not sure I totally follow what the alternative is /

[2022-09-09 05:20] ShiqianTao commented on #3001
The issue was fixed. Close this issue.

[2022-09-09 05:20] #3001 closed

[2022-09-09 07:08] rouke-broersma commented on #3160
This is also not working for us with VMSS. IIRC this was reported here before as well, and we have also created a support case to investigate this. Only difference is we get no error, we simply have no result. We were told by azure support this was being looked into.

[2022-09-09 07:46] n-pedersen commented on #3160
Alright - it seems that I'm not the only one having issues with this.
We're also using a workaround that is mentioned #3051 . Azure Policy for Containers is not happy about it, but it works.

[2022-09-09 08:58] zioproto commented on #2181
This feature would have been useful to mitigate the DNS Ubuntu issue of [August 30th 2022](https://status.azure.com/en-us/status/history/) that also affected AKS.

The first proposed workaround was "reboot your instances": https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1988119/

[2022-09-09 11:07] markdebruijne commented on #2862
@junjiezhang1997 I don't have the ability (time) to attempt to reproduce it myself. But in general we've upgraded multiple AKS clustersto `v1.23.8` and still see unbalanced spread on Windows nodes. Also without explicit (thus default) `topologySpreadConstraints` configuration, while using mutliple nodes which are spread across availability zones
- ✅ Linux pods of a replicaset are spread across the

[2022-09-09 11:30] braunsonm commented on #1940
Yea exactly @alexeldeib

That doesn't work in my use case as I'm trying to automatically my AKS cluster authenticate with docker hub for all pulls to avoid rate limiting.

[2022-09-09 15:13] alexeldeib commented on #3163
@miwithro @justindavies mind fixing this?

[2022-09-09 15:15] alexeldeib commented on #3153
spot nodes have a default taint and require a toleration. have you added that? check out https://docs.microsoft.com/en-us/azure/aks/spot-node-pool#verify-the-spot-node-pool (scroll down a bit)

[2022-09-09 15:54] cpuguy83 commented on #1940
The deprecated config is the only other way to do this right now.
This *should* remain in place at least until 1.7 and would be removed after that in 2.0.

The only other approach at the moment is to use a registry cache which has the creds already.

[2022-09-09 16:00] braunsonm commented on #1940
You basically mean acting as a proxy right? A registry that sits on the AKS internal subnet without auth that can renegotiate with docker hub for the pull?

As far as I know there is no such offering in ACR

[2022-09-09 17:40] rogelioamancisidor commented on #3104
@alexeldeib  where do I find the instructions to install GRID drivers? I tried to ping into the SKU using
[code]
and then followed this instructions [link](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/n-series-driver-setup) but it did not work.

[2022-09-09 18:17] acortelyou commented on #2194
Not stale

[2022-09-09 19:20] cpuguy83 commented on #1940
@braunsonm Correct

[2022-09-09 19:46] #3131 closed

[2022-09-09 22:27] dileepyavan opened #3192 "[Question] AKS Regional presence in Taiwan and Israel"
**Question**
When will AKS have regional presence in Taiwan and Israel? If you can share the timeline, it would be very helpful.

[2022-09-10 01:01] #2846 closed

[2022-09-10 02:40] nehakulkarni123 commented on #3078
Hi @seenu433, I just wanted to share that today, you can view the compliance/non-compliance status on Azure Policy's Portal. We are also actively investing in a feature that will expose Gatekeeper violation messages (for both audit and denials) on Azure Policy's aggregated compliance dashboard, as well as surfacing component compliance status in Azure Resource Graph for users to create custom repo

[2022-09-11 16:37] CocoWang-wql opened #3193 "CVE-2022-35252: curl vulnerability"
### Vulnerability
When curl retrieves and parses cookies from an HTTP(S) server, it accepts
cookies using control codes (byte values below 32). When cookies that contain
such control codes are later sent back to an HTTP(S) server, it might make the
server return a 400 response. Effectively allowing a "sister site" to deny
service to siblings.

###INFO
This flaw in the code was initially introduced

[2022-09-11 23:38] Bessonov opened #3194 "[Feedback] Help | Local Storage | Lsv2-series"
@olsenme if you want a feedback from @MateusAmin or other members on https://github.com/Azure/AKS/issues/1879, then you should unlock the issue ;) Sorry, there is no other way to tell that.

[2022-09-12 11:16] ricoberger commented on #3146
Hi @rouke-broersma, thanks for your feedback. We are using one nodepool per zone now, so that the issue is fixed for us and can be closed from our side.

[2022-09-12 11:16] #3146 closed

[2022-09-12 17:56] sprilutsky01 opened #3195 "HTTP_PROXY configuration"
**Is your feature request related to a problem? Please describe.**
The way AKS HTTP_PROXY configuration works, it always try to go to the specified Proxy (unless you can specify it on NO_PROXY for specific app or 3rd party infrastructure feature (LinkerD, Grafana, Prometheus, Aqua Sec, etc).

**Describe the solution you'd like**
HTTP_PROXY config feature should be smart enough to figure out when i

[2022-09-12 23:53] HummingMind opened #3198 "Does AKS support the new Kubernetes Gateway API?"
I can't find any documentation or previous issues on this.

Does Azure support the new Kubernetes Gateway API? If so, how does it work? Do we just install the CRDs and we are good to go?

Thank you!

[2022-09-13 06:27] perosb commented on #2899
This is really sad that this is still happening. It basically makes AKS dead in the water for Windows containers.
No resolution after 5 months doesn't look good. Running a public issue tracker takes some effort from MS that clearly isn't there!

[2022-09-13 08:07] corstuur opened #3199 "[Feedback] Improve patch notes for breaking changes"
**Describe your scenario**
On 09-09-2022 we upgraded an AKS cluster to 1.24.3. After this we noticed that all our applications that were using a loadbalancer IP were broken and we could no longer access websites running on the clusters. It cost us a lot of time to figure out what the problem was. We looked at the patch notes but we could not find anything that was related to our situation or that

[2022-09-13 08:08] junjiezhang1997 commented on #2862
@markdebruijne Thanks for your response. I have several questions that need your further clarification:
1. As you mentioned "without explicit (thus default) `topologySpreadConstraints` configuration", does it mean the configuration shown in the `win-world`?
2. Since you at regular interval have Windows node that have pods remain in a Terminating state, we wonder that:
   1. Are the Windows pods in

[2022-09-13 12:55] zohebs341 opened #3200 "AKS 1.22.11 - Scaling down specific pods - Statefulsets [Question]"
**Describe scenario**
We are running mongodb statefulset in production and using Azure AKS 1.22.x version.

Scenario is like, mongodb is having 2 replicas and I'm trying to take snapshot of existing PVC by scaling down replica to 1 from replicas:2

It will terminate pod-2 and will become 1/1, I will take snapshot and will create ZRS volume with same PVC name and will scale back to replicas:2. Till

[2022-09-13 18:01] #3193 closed

[2022-09-13 19:36] CrispySipp opened #3201 "Unable to check ACR status in AzureUSGovernment"
From the Azure CLI, we are unable to check on the status of an ACR integration using the `az aks check-acr` utility in the AzureUSGovernment environment because the ACR FQDN is incorrectly appended with `azurecr.io` when calling the `--acr` switch, as in the following command:

`az aks check-acr --acr exampleAcrName.azurecr.us --name exampleAksName -g exampleAksRG`

results in:
[code]

`az aks che

[2022-09-13 19:58] kaarthis commented on #2181
Hi All ,

@sri53 , @zioproto  @mac2000

We are deciding a name for the newly proposed channel which will have 4 options
none | unmanaged | security-patch | node-image

None -  Customer chooses to do nothing. Opt out of all security updates.
Unmanaged - This is the current default which denotes Unattended Upgrades nightly.
Security-Patch: New and upcoming which means AKS will test all security patc

[2022-09-13 21:03] rouke-broersma commented on #2181
@kaarthis what do we choose if we want both node image updates and validated security patches?

[2022-09-13 21:46] carvido1 commented on #3201
Hello @CrispySipp

The past 30th Aug Azure experienced a problem with a [concrete Ubuntu version](https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1988119) related to DNS resolution.

I raised a case in Azure Support and the solution recommended was to [upgrade the node image](https://docs.microsoft.com/en-us/azure/aks/node-image-upgrade) or restart the nodes.

Have you tried this approach?

[2022-09-13 21:51] carvido1 commented on #3200
Hello @zohebs341 .

Have you tried to create 2 statefulsets with a label to point the service to them?
This way you can control each one in an independent way.

This is the unique way I'm thinking to resolve your problem without service disruption, considering you always need a replica working.
BR

[2022-09-13 21:59] kaarthis commented on #2181
Why would you need that given security patching is on the same VHD and Node image is typically installing new VHD both are mutually exclusive in that sense.  However you can choose say Node image / Security-Patch alongside K8S auto upgrade channel like Stable or Rapid which was previously not possible.

[2022-09-13 22:04] carvido1 commented on #3149
Hello @xtianus79 .

The reason of having the helm chart or docker container images in a private container registry is about security and trust.
When you push these images to your private container registry means you trust these images. This usually comes also with a container image scan with trivy for instance.

In addition, Azure has created [built-in policies for AKS](https://docs.microsoft.com/

[2022-09-13 22:11] carvido1 commented on #3087
Hello.

As part of an AKS upgrade, you need to upgrade the control plane as well as the agent pool profiles.
For the control plane you have specified the `kubernetesVersion`. To get the different agent pool profiles upgraded as well you need to add the [orchestratorVersion](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters/agentpools?pivots=deployment-lang

[2022-09-13 23:25] zohebs341 commented on #3200
@carvido1 Thanks for your response Carlos. For a statefulset with 2 replicas, I feel like it's not possible to bring down specific pod.

Actually I'm using bitnami helm chart for mongodb deployment, which will create 2-3 statefulsets for different purposes.

As mongodb work's in a clustered way, I've to maintain two replicas for that statefulset and cannot make it different statefulset with one -o

[2022-09-13 23:50] kaarthis commented on #1812
The GA is available : https://docs.microsoft.com/en-US/Azure/event-grid/event-schema-aks?tabs=event-grid-event-schema

[2022-09-13 23:51] kaarthis commented on #1812
Closing this will open a new issue for More upgrade related events into Grid. (Enhancements)

[2022-09-13 23:51] #1812 closed

[2022-09-13 23:54] kaarthis commented on #2743
This is released now https://docs.microsoft.com/en-us/azure/aks/manage-abort-operations?tabs=azure-cli

[2022-09-13 23:54] #2743 closed

[2022-09-13 23:56] kaarthis commented on #2744
@PDunbarCGI  This is now in Nodepool scope not covering Control plane.

[2022-09-13 23:59] kaarthis opened #3203 "Detect API Breaking changes before Upgrade"
Understand if customers use deprecated API calls. Fast fail on upgrade and potentially pause Auto upgrades especially if deprecated API calls are noticed.

[2022-09-14 00:58] CrispySipp commented on #3201
Carvido-

Thank you for this suggestion, will test this out and follow up!

[2022-09-14 01:47] esquare666 opened #3204 "Deleting Kubernetes secret when scale down the deployment - Secrets Store CSI Driver"
**Describe scenario**
We have deployed AKS and enabled with --enable-addons azure-keyvault-secrets-provider. We have created a SecretProviderClass, use the secretObjects field to define the desired state of the Kubernetes secret. All working fine.

**Question**
As per the document (https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver), When all the pods that consume the secret are d

[2022-09-14 03:35] CocoWang-wql commented on #845
KMS integrated with AKS cluster is GA.
It allows us to enable encryption at rest for Kubernetes secrets in etcd using Azure Key Vault with the Key Management Service (KMS) plugin.
https://docs.microsoft.com/en-us/azure/aks/use-kms-etcd-encryption

[2022-09-14 05:37] rouke-broersma commented on #2181
@kaarthis because security patches are probably available well before a new vhd is. Or am I misunderstanding?

[2022-09-14 05:55] tomkerkhove commented on #1812
Awesome, thanks for sharing!

[2022-09-14 06:57] qpetraroia opened #3205 "Automated Deployments in Azure Portal"
Automated Deployments in the Azure Portal is now out in Public Preview. Automated deployments simplify the process of setting up a GitHub Action and creating an automated pipeline for your code releases to your Azure Kubernetes Service (AKS) cluster. Once connected, every new commit will kick off the pipeline, resulting in your application being updated. Click [here ](https://docs.microsoft.com/az

[2022-09-14 07:01] qpetraroia opened #3206 "Kubernetes Version 1.25 GA"
The team is currently working on bringing Kubernetes Version 1.25 GA to AKS.

[2022-09-14 07:10] dennis-menge commented on #2181
Hey @kaarthis, sorry for way too late reply, my notification settings were messed up.

I like the approach you are suggesting and it makes total sense, I just want to propose one addition.

Can we still expose some kind of Nodepool API to manually trigger a VMSS restart (which respects current Surge Rate Settings) to be able to deal with special situations? Hereby, I am not only referring to the r

[2022-09-14 09:17] mifurm commented on #1480
@tomkerkhove - does this new feature will also favour Azure CNI over kubnet with respect to security? as with Managed Identity for AKS? (link for references: https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#using-kubenet-network-plugin-with-azure-active-directory-pod-managed-identities)

[2022-09-14 09:18] tomkerkhove commented on #1480
No idea, I'm not part of this team; sorry.

[2022-09-14 09:25] dhirschfeld commented on #3174
With terraform they suggest putting the nodepool subnet in the `NO_PROXY` variable which IIUC would mean any internal communication would bypass the proxy.

![image](https://user-images.githubusercontent.com/107382673/190115893-c60163c8-5a07-4ff7-8035-9b7d620b554f.png)

[2022-09-14 09:26] pinkfloydx33 commented on #1480
I would think it shouldn't matter. With pod identity, the network requests are intercepted by mic/nmi and translated into a request out to azure for a token. It has to know who/what you are based on labels on your pod as it works with an intercepted/rerouted request. (very simplistic explanation). ARP spoofing could cause podIdentity to think you're a total different pod.

With AZWI you get federa

[2022-09-14 11:22] miwithro commented on #1480
@mifurm Pod Identity is IMDS based on NMI/MIC use the node identity to translate the identity on the pods behalf.  Workload Identity is OIDC based, and with Service Account Token Volume Projection now you can inject a token of an identity directly into the pod, so there is no need for a node identity anymore.

[2022-09-14 11:25] dhirschfeld opened #3207 "[BUG] Do not automatically inject the API server into the `NO_PROXY` list"
**Describe the bug**
In our networking configuration, all external communication needs to go through our proxies. I was observing communication to the API server being blocked as containers not created by us didn't have the correct proxy config.

AKS provides for this by allowing to pass in proxy config, however I observed that my `NO_PROXY` config was being augmented and, in particular, the API s

[2022-09-14 15:27] seanmck opened #3208 "Azure CNI Overlay"
Tracking item for delivery of the Azure CNI Overlay solution:

https://docs.microsoft.com/en-us/azure/aks/azure-cni-overlay

[2022-09-14 15:32] phealy opened #3209 "[Feature] Automatic Host Port Assignment"
### GA ETA: TBD

**Status:**: This feature needs additional work and we are reviewing it at the moment, and will revert here with updates.

**Is your feature request related to a problem? Please describe.**
Assignment of host ports to pods requires management to avoid conflicts, as a host port can only be used by one pod at a time.

**Describe the solution you'd like**
An automated system to assig

[2022-09-14 15:54] #3102 closed

[2022-09-14 15:54] #1681 closed

[2022-09-14 16:08] ezYakaEagle442 commented on #3203
@kaarthis would this rely on [https://github.com/doitintl/kube-no-trouble](https://github.com/doitintl/kube-no-trouble) ?

[2022-09-14 16:54] jvargh commented on #2984
1. Upgrade groups should have a workflow mechanism for 3rd party components
- Looking for a pre-, post- hook mechanism to inject custom steps for 3rd party install/upgrade
- Compare to Cloud Services which has a bootstrapping mechanism to install 3rd party components
- Async mechanism to run applications that return pass/fail to move on

2. Upgrade groups should be able to specify clusters by subs

[2022-09-14 16:54] kaarthis commented on #2181
Thank you @dennis-menge  , speaking to some large customers from @denniszielke we are going ahead with the Security channel solution at this point and after this goes live if there is still some hesitancy and concerns happy to revisit the Restart API at VMSS level.

[2022-09-14 16:55] jvargh-msft commented on #2984
1. Upgrade groups should have a workflow mechanism for 3rd party components
- Looking for a pre-, post- hook mechanism to inject custom steps for 3rd party install/upgrade
- Compare to Cloud Services which has a bootstrapping mechanism to install 3rd party components
- Async mechanism to run applications that return pass/fail to move on

2. Upgrade groups should be able to specify clusters by subs

[2022-09-14 17:52] gdippolito commented on #2755
Just realised that this feature is now in progress. Exciting!

Would you know roughly when it will be available to Preview and GA?

[2022-09-14 18:23] MattGarner-N commented on #2259
@AbelHu  FYI see above

[2022-09-14 21:24] jvargh-msft commented on #2744
Below is customers upgrade scenario. Was told AKS doesn’t support rollback and new cluster with older release needs to be stood up. Will need older node pool to be reused/repointed during rollback,

1. Upgrade cluster Control Plane only to desired K8S release
2. Add a new (green) Node Pool with the desired K8S release
3. Cordon and drain the old (blue) Node Pool running on the older K8S release
4.

[2022-09-15 05:54] sanglt commented on #3090
This metric is from HPAContainerMetrics, which is still alpha feature: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#feature-gates-for-alpha-or-beta-features

I don't think AKS allow to use Alpha features yet. You can monitor to https://github.com/Azure/AKS/issues/2058 issue.

In the mean time, you need to change your HPA metric to Resource, not ContainerResource

[2022-09-15 06:29] paulgmiller commented on #3087
Yep @carvido1  is correct you can bring them both up in one go or often its preferred to bring up control plane first then each agentpool if you're being cautious. That's what autoupgrade does.

[2022-09-15 12:28] sevenam opened #3210 "1.24.0 loadbalancer health probe protocol issue when using ingress-nginx"
**What happened**:
After upgrading cluster to 1.24.0 external access through the loadbalancer stopped working.
Turns out the reason was because of the health probes of the load balancer.
These were set to use the protocols HTTP and HTTPS instead of TCP all of a sudden.

**How to reproduce it (as minimally and precisely as possible)**:
- Create new cluster at version 1.24.0 or 1.24.3.
- Do `helm in

[2022-09-15 13:10] geertn opened #3211 "[BUG] Privileged Access Group feature not updating access rights timely using AKS API"
**Describe the bug**
Using Managed AAD (https://docs.microsoft.com/en-us/azure/aks/managed-aad) in combination with functionality of Privileged Access Groups (https://docs.microsoft.com/en-us/azure/active-directory/privileged-identity-management/groups-features) only works properly when using the Azure Portal to see the Kubernetes resources (Workloads/Namespaces/...). When using the AKS API (e.g.

[2022-09-15 13:45] geertn commented on #3211
After more testing it seems that the seemingly different behavior of the portal interface and the AKS API interface is due to caching of access rights to various resources.

After deactivating the Group Membership it is possible to repeatedly execute a command for a long time. Eg:
`k delete pod nginx -n test`

However if I don't execute "k get pods -A" for a while it seems the cache is invalidated

[2022-09-15 21:04] thiagoreiss45 opened #3212 "[Question] Nginx ingress controller external ip is pending in private cluster"
**Describe scenario**
I'm trying to deploy services in a private aks cluster, but my nginx ingress controller dont give me a external ip (pending).

**Question**
Nginx ingress controller external ip is "pending"

![image](https://user-images.githubusercontent.com/43996425/190507556-f552a91d-e02c-4843-b61b-c914e07e653a.png)

This is the nginx service event log:
``
Error syncing load balancer: faile

[2022-09-15 21:21] olsenme opened #3213 "Disable CSI Drivers GA"
This feature allows you to disable one or more of the Azure storage CSI drivers.

[2022-09-15 22:02] alvinli222 commented on #1972
Hey folks, apologies for the delay. We've disabled this and are currently working on GAing a manual reconciliation feature.

[2022-09-15 23:06] miwithro opened #3214 "CVE-2021-25749: runAsNonRoot logic bypass for Windows containers"
### Issue Details

See the GitHub issue for more details: [https://github.com/kubernetes/kubernetes/issues/112192](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkubernetes%2Fkubernetes%2Fissues%2F112192&data=05%7C01%7CMichael.Withrow%40microsoft.com%7Cebc9a4d1b1744d77a1da08da975ea5ce%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637988730072970444%7CUnknown%7CTWFpbG

[2022-09-16 02:24] max-lepikhin commented on #2883
1.25 is out, any updates on timing of 22.04 image for AKS?

We need it for Intel SGX driver - linux kernel 5.11+ (vs current 18.04 with kernel 5.4).

[2022-09-16 05:21] AbelHu commented on #2259
@megakid Did you check whether the imported cert exists in the host? Could you manually pull your image in the host after confirming that the cert exists?

Can you run this command in the host successfully? (You can use a different node for the test)

[2022-09-16 05:48] marcindulak commented on #2125
:eyes:

[2022-09-16 06:01] jpc commented on #930
I am pretty sure this not is doing you guys a disservice - the issue is not stale, it’s work in progress. It is a bit funny though that your work in progress times are longer than your “stale” thresholds.

[2022-09-16 07:28] feiskyer commented on #3199
Release notes would be added by https://github.com/Azure/AKS/pull/3215.

[2022-09-16 07:28] #3199 closed

[2022-09-16 10:13] davidg-jellyfish opened #3216 "Cadvisor metrics not present when using newer AKS Node image versions"
Since upgrading to newer AKS Node image versions the cadvisor metrics have stopped reporting on container_cpu_cfs:

metrics no longer reporting:
[code]

If I log onto a container running on a newer worker node image I can see the cpu.cfs_quota_us set to -1
[code]

If I log onto a container using an older worker node image running the same deployment and container spec the cpu metrics are visible:

[2022-09-16 11:37] dkbhadeshiya commented on #2712
This would really be an interesting feature to support Azure/AKS

[2022-09-16 18:37] jameson-hearn commented on #2988
Hi team, looking for an update on this as I have been working with a customer who is experiencing the symptoms of this and is hoping for a more long term fix that doesn't require them to run the below mitigation:

Always run netsh int ipv4 add excludedportrange udp 65330 1 persistent in AKS Windows containers to exclude the UDP source port 65330 in starting the container. It does not work if you r

[2022-09-16 20:50] wangyira commented on #3212
@phealy could you take a look at this?

[2022-09-16 20:51] wangyira commented on #3211
@miwithro could you take a look at this?

[2022-09-16 20:52] wangyira commented on #3210
@phealy could you take a look at this?

[2022-09-16 20:54] wangyira commented on #3204
@miwithro could you help answer this?

[2022-09-16 21:05] wangyira commented on #3198
We don't currently support the Kubernetes Gateway API. We do support [Application Gateway Ingress Controller](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview). Is there a specific reason for why you're interested in the Kubernetes Gateway API?

cc @phealy

[2022-09-16 21:08] wangyira commented on #3194
It's unlocked, feel free to give feedback on #1879.

[2022-09-16 21:08] #3194 closed

[2022-09-16 21:10] wangyira commented on #3191
@allyford, @AbelHu can you help with this?

[2022-09-16 21:11] wangyira commented on #3195
@phealy can you take a look at this?

[2022-09-16 21:12] HummingMind commented on #3198
Hello @wangyira,
Because it is the future of Kubernetes Ingress that is actually going to replace the original ingress resource. It's already in beta and GKE already supports in as a preview. The Ingress Controller and the Service Mesh products I use in my setup already have full support for the beta, and I would like to start using it soon in my AKS cluster (assuming it works).

Hense why I was a

[2022-09-17 09:45] aldycool commented on #2125
I've tried patching the daemonsets / deployments with lower values, but they reset back to the original ones after re-deployment. This is greatly reducing on how much customers can use the (paid) resources...

[2022-09-17 11:25] mblaschke commented on #2125
@aldycool
Lower values might not help as you will run into overcommitment of memory.
Memory CANNOT be overcommitted, but CPU can (containers might be slow or starve regarding to processing power).

If you don't reserve the memory you're using and hit the 100% limit the Kernel will kill randomly your containers with a SIGKILL. This issue is about the fact that AKS services doesn't reserve the memor

[2022-09-17 12:03] aldycool commented on #2125
@mblaschke
Yes, actually my point is I was surprised that we as customers cannot change the preset values of the Azure specific resources manually, either memory or cpu. Because in my case, the offending part for me is the CPU limits reserved for the AKS resources. By default, Azure AKS deploys these containers with huge CPU limits (instance count is assuming using 3 nodes in a node pool):
- (kube

[2022-09-17 13:01] Bessonov commented on #1879
The local storage of Lsv2-series provide a very fast and comparatively cheap storage, but without redundancy. There many software components which maintain own redundancy and because of that, some teams can decide to make a trade-off between storage-based redundancy and performance per $. Some components examples:
- CockroachDB
- YugaByteDB
- Kafka/ZooKeeper
- Galera Cluster
- Cassandra
- ... many

[2022-09-17 15:13] yeturis commented on #2986
Kaarthi, will this also include showing linter errors as pre-validation and any autohealing actions?

[2022-09-18 21:35] samartzidis commented on #2020
You can use the **kubernetes_config_map_v1_data** resource.

[2022-09-19 01:41] AbelHu commented on #2988
@jameson-hearn Long-term solution will be provided by Azure network infra. The current ETA is by end of this year.

[2022-09-19 06:01] #3188 closed

[2022-09-19 06:47] singvey999 opened #3217 "[BUG]-aks 1.23.5 has this issue "MountVolume.SetUp failed for volume "kube-api-access-w428g" : object "poc"/"kube-root-ca.crt" not registered"
**Describe the bug**
MountVolume.SetUp failed for volume "kube-api-access-w428g" : object "poc"/"kube-root-ca.crt" not registered while creating a new pods and it threw the volume mouting issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Run command '...'
1.1 yaml conf file -test.yaml
apiVersion: batch/v1
kind: CronJob
metadata:
  name: example
  namespace: poc
spec:
  concurrencyPolicy

[2022-09-19 06:56] perosb commented on #3177
Since there is a complete vaccum on this issue tracker I'll respond myself.

The `hns-remediator-task` is included in the `kubernetes.azure.com/node-image-version=AKSWindows-2019-containerd-17763.3406.220913` windows 2019 image version.
However, this 220913 version is not mentioned anywhere, neither on the AKS release tracker, not in any AKS release notes and not in any vhd-notes  🤷
![image](https

[2022-09-19 06:56] #3177 closed

[2022-09-19 08:43] AbelHu commented on #3191
Thanks for reporting the issue, @wangyira. We have notified the owner of the flux extension.

[2022-09-19 09:46] singvey999 commented on #3217
Dear All,
Would you please help verify this issue?
Thanks.

[2022-09-19 12:07] rnemeth90 commented on #2988
@AbelHu Why is this fix taking so long to implement?

[2022-09-19 13:54] cgreenza commented on #2259
Hi, enabling as part of new cluster creation seems to work fine, but enabling on existing cluster/node pool does not (`custom-ca-trust` daemon set not created). In July @UtheMan mentioned that a fix for this is on the way. Any ETA for fix or temporary workaround? Thanks

[2022-09-19 14:08] brunomiguel-teixeira commented on #3174
Hi @dhirschfeld

Actually AKS itself populates the no_proxy fields with specific cluster deployment values. `kconnectivity, 127.0.0.1, SUBNET_CIDR` are all injected.

The thing is that even if you place subnet cidr in the no_proxy section, it will not be honored because clients rarely use IPs. Any client connecting via domain name (ex: my-awesome-service.default.svc.cluster.local) will go through

[2022-09-19 14:19] saswatmohanty01 commented on #3208
When can we expect for Windows as it is highly demanded feature for Windows where customers use AKS for Windows as Azure CNI only support Windows customers.

[2022-09-20 01:50] AbelHu commented on #2988
@rnemeth90 It is a general issue on Azure. AKS cannot fix it and relies on the infra team to fix it.

[2022-09-20 05:51] allyford commented on #2115
Windows Server 2022 is now GA on AKS.
Take a look at our documentation for guidance on [upgrading your workloads from Windows Server 2019 to 2022](https://learn.microsoft.com/en-us/azure/aks/upgrade-windows-2019-2022) and [adding new Windows Server 2022 nodepools.](https://learn.microsoft.com/en-us/azure/aks/learn/quick-windows-container-deploy-cli) Windows Server 2019 will remain default for node

[2022-09-20 05:51] #2115 closed

[2022-09-20 06:54] MaroWielki commented on #1480
@miwithro can you share the docs with me (marek649spam@gmail.com) please?

[2022-09-20 13:06] flavio-neves commented on #2980
Only 30 minutes?

Here, creation takes more than 2h.

![image](https://user-images.githubusercontent.com/35963484/191265429-cfa66922-5bf3-4425-8d46-e8bf8ec7db5e.png)

AzureRM version 3,23

[2022-09-20 13:07] tvdvoorde commented on #3184
Can confirm this problem - we observed it as well. We had to implement a custom role on the LAW to make Container Insights work, but not expose every table in LAW

[2022-09-20 13:10] flavio-neves commented on #2980
Same logic, but over CLI, takes less than 20 minutes.

[2022-09-20 14:14] miwithro commented on #1480
@MaroWielki we are going Public Preview on 9/30 we will have docs on AKS docs.

[2022-09-20 18:12] vdiec commented on #2995
Hi @ipg-informatik , we are working on this, and it's expected to be available by the end of October. I'll ping here with more details once it's available.

[2022-09-20 18:44] #205 closed

[2022-09-20 18:50] #845 closed

[2022-09-20 20:35] #1737 closed

[2022-09-20 20:36] #1700 closed

[2022-09-20 20:37] #1653 closed

[2022-09-20 20:39] wangyira commented on #1614
IPv6 Kubenet support is in public preview and available in all public regions: https://aka.ms/aks/ipv6

[2022-09-20 20:39] #1614 closed

[2022-09-20 20:39] #1613 closed

[2022-09-20 20:40] #1537 closed

[2022-09-20 20:51] #1943 closed

[2022-09-20 20:52] #1916 closed

[2022-09-20 21:01] wangyira commented on #1738
@shashank can you take a look at this?

[2022-09-20 21:03] wangyira commented on #2178
closed for duplication, docs are available - see #1943

[2022-09-20 21:03] #2178 closed

[2022-09-20 21:05] wangyira commented on #2171
Are you still seeing this issue? cc @qpetraroia

[2022-09-20 21:05] #2170 closed

[2022-09-20 21:07] #2098 closed

[2022-09-20 21:08] #2062 closed

[2022-09-20 21:08] #2061 closed

[2022-09-20 21:09] #2025 closed

[2022-09-20 21:12] #1967 closed

[2022-09-20 21:13] #2777 closed

[2022-09-20 21:13] #2776 closed

[2022-09-20 21:13] #2621 closed

[2022-09-20 21:14] #3014 closed

[2022-09-20 21:15] wangyira commented on #3003
@qpetraroia can you help take a look at this?

[2022-09-20 21:15] #2939 closed

[2022-09-20 21:17] #2526 closed

[2022-09-21 03:58] asubmani commented on #1480
Is there documentation on how to migrate to workload identity. It seems there will be 2 migrations
1) For replacing the existing OSS implementation with the addon (by the AKS operator); and remove the CRDs
2) Some change might be needed in the application code. Are there any examples of `old vs new` for popular languages (Java, C# etc.?)

All of the apps are Java or Spring based apps and use MSICr

[2022-09-21 04:42] smartaquarius10 opened #3221 "Failed to upgrade kubernetes service"
Team,

We have VMAS type AKS with 1 node pool having 7 working nodes and 1 spare which helps us at the time of upgrade. Networking type is Azure CNI. Currently, we are on 1.23.5 version and trying to upgrade (Control plane+all node pools.. VMAS allows only this option) to version 1.23.8 but getting this error regularly:

![image](https://user-images.githubusercontent.com/7824529/191415569-75e76e50

[2022-09-21 07:21] carvido1 commented on #3221
Hello @smartaquarius10
Can you tell us if you are usign Kubenet or CNI? As per information given, I can guess you are using CNI, that's why you have allocated private IP addresses belonging to that subnet.

From azure, we have the following article that can be insightful, [Configure Azure CNI networking in Azure Kubernetes Service (AKS)](https://learn.microsoft.com/en-us/azure/aks/configure-azure-

[2022-09-21 07:40] smartaquarius10 commented on #3221
@carvido1, Yes we have Azure CNI.

So basically when we have designed everything around 4 years back our azure architect created the AKS with manual scaling of 8 nodes.

So what we thought is use 7 nodes for our work and keep 1 count aside and never use it so that whenever we initiate the upgrade, AKS will scaled that count and use the extra node as a temporary node.

As shown in the node pool ima

[2022-09-21 08:07] naioja commented on #2948
up

[2022-09-21 08:33] smartaquarius10 commented on #3221
@carvido1, We have tried downscaling the nodes to 6 but still the same error and with different numbers..  Now 186 count is coming rather than 248. Neither its allowing us to scale down or scale up.

![image](https://user-images.githubusercontent.com/7824529/191456074-1be14fc9-d621-4c08-9017-b94152a7538c.png)

[2022-09-21 09:54] ilyatovbin-pp commented on #3006
just noticed we've been paying a couple thousand bucks a month more for no reason. nodes are extremely under utilized and there's no rescheduling or binpacking of any kind. this is problematic in small environments with intermittent scaleups. We'll be installing Descheduler immediately but if something like this could be implemented out of the box it cold be great.

[2022-09-21 10:43] carvido1 commented on #3221
Hello @smartaquarius10 .

We have a cluster working with nodepools instead of the VMSS. I have checked the`Max surge definition` for the nodepool and it can not be changed. We don't use CNI for this cluster.

Can you double check the max Pods per node property for the nodepool ?
Also, can you check if any other deployment is present on the cluster ?
Can you check the number of pods running in your

[2022-09-21 11:17] umeshbhatms commented on #3002
Is there any update on this?

[2022-09-21 11:39] Wuzyn commented on #1394
Hi all
I'm having the same issue. I'm hosting sftp server on AKS.

[2022-09-21 11:48] smartaquarius10 commented on #3221
@carvido1,
1. Max pods per node is 30
2. Deployments(including Microsoft and my company workload):- 8 belonging to AKS and 33 our application
3. Daemonsets(including Microsoft and my company workload):- 11 related to AKS and 1 is of prisma cloud
4. Number of pods :- 102
     - Node 1:- 15
     - Node 2:- 12
     - Node 3:- 15
     - Node 4:- 15
     - Node 5:- 14
     - Node 6:- 15
     - Node 7:-

[2022-09-21 13:02] miwithro commented on #1480
@asubmani yes there will be migration documents.  You are correct there are a couple of scenarios that will be covered.

1. Greenfield deployment
a. Using nothing before
b. Using an outdated sdk
2. Brownfield deployment
a. OSS migration
b. Pod Identity migration
c. using an outdated sdk

[2022-09-21 13:29] emilverwoerd commented on #3210
Could someon give an update on this issue since we are having the same issue and we are now forced to manually configure the loadbalancers to use TCP probing

[2022-09-21 14:29] cgreenza commented on #2259
Pods for `custom-ca-trust` daemon set are not scheduled on system nodes with `CriticalAddonsOnly=true:NoSchedule` taint. Please consider adding a toleration for this.

[2022-09-21 14:37] alexeldeib commented on #2259
ack, @utheman fyi.

[2022-09-21 15:26] Kapsztajn commented on #3120
Ok I managed to fix the issue. I removed metrics server via:
 `kubectl delete -f https://raw.githubusercontent.com/x1wins/CW-OVP/master/k8s-manifests/components.yaml`

and after that installed it again via:
`kubectl create -f https://raw.githubusercontent.com/x1wins/CW-OVP/master/k8s-manifests/components.yaml`

After that problem was resolved. Issue which helped me: https://github.com/kubernetes-s

[2022-09-21 15:26] #3120 closed

[2022-09-21 16:22] miwithro opened #3222 "CVE-2022-3172: Aggregated API server can cause clients to be redirected (SSRF)"
### Issue Details

https://discuss.kubernetes.io/t/security-advisory-cve-2022-3172-aggregated-api-server-can-cause-clients-to-be-redirected-ssrf/21322

Hello Kubernetes Community,

A security issue was discovered in kube-apiserver that allows an aggregated API server to redirect client traffic to any URL. This could lead to the client performing unexpected actions as well as forwarding the client’

[2022-09-21 17:49] #2675 closed

[2022-09-21 17:56] wangyira commented on #2810
@qpetraroia can you take a look?

[2022-09-21 17:57] #2599 closed

[2022-09-21 18:17] wangyira commented on #3072
@miwithro @CocoWang-wql

[2022-09-21 18:17] wangyira commented on #3076
@miwithro @CocoWang-wql

[2022-09-21 18:19] wangyira commented on #3107
@allyford @AbelHu

[2022-09-21 18:30] vdiec commented on #3184
Hi @stephaneey @tvdvoorde , we have added a story for this. I'll message back with more details once it's rolled out. Thank you!

[2022-09-21 19:27] JohnRusk commented on #3047
@arsnyder16  It would be useful if node-side issues could be eliminated as a possible cause. I notice that your test cluster has only two nodes, and they have only 2 cores each.  That makes me wonder if those nodes are getting overloaded (presumably with kube-system stuff) and if that node-side overload is triggering the problems.

Would you be able to do the same test, but with
* a system node po

[2022-09-21 19:46] arsnyder16 commented on #3047
@JohnRusk Hey John, my repro steps are certainly bare minimum and thats why there are only 2 nodes, but we see this issue many different productions clusters as well that have more nodes. So unfortunately node count does not seem related.

[2022-09-21 19:48] arsnyder16 commented on #3047
@JohnRusk I have should also mention that i worked Microsoft support at one point and we tried with 4 core machines as well. No luck.

I have yet to try running my workloads in a non system pool though, soi can test that for you

[2022-09-21 19:49] raghulmsft commented on #2902
This issue has bee fixed!

[2022-09-21 19:49] #2902 closed

[2022-09-21 19:55] JohnRusk commented on #3047
Thanks @arsnyder16 . That test will help us be sure that we're looking at the right things.

[2022-09-21 20:01] JohnRusk commented on #3047
@arsnyder16 If that test also reproduces the issue, could you please mention that fact here _and_ also email me directly.  My GitHub profile says how to construct my email address.

[2022-09-21 20:03] arsnyder16 commented on #3047
@JohnRusk Yea no problem, just setting up everything you mentioned to cover all bases

[code]

[2022-09-21 21:33] carvido1 commented on #3221
Hello @smartaquarius10

CSI driver was [announced in April](https://github.com/Azure/AKS/releases/tag/2021-04-22) that it will be default storage driver. In July this year, they released it to all Kubernetes clusters with versinon >= 1.21.

As you can see on the `default (default)` and `default-retain` storage classes, the provisioner is still the `kubernetes.io/azure-disk`. I would give a try to

[2022-09-22 06:40] smartaquarius10 commented on #3221
@carvido1, Sure.. I will try disabling the CSI driver as they are on no use to me. A ticket with microsoft is already open. The problem is that even if scale down approach works in lower environment still it seems to be a super risky approach in production.

[2022-09-22 06:43] smartaquarius10 commented on #3221
@carvido1 , Do we have to pass all these options for disabling CSI

`--disable-disk-driver --disable-file-driver --disable-snapshot-controller `

My prisma cloud is using default-retain and tagged with the persistent volume. Disabling all these options will not impact the old and existing volume right?

[2022-09-22 08:37] siegenthalerroger opened #3223 "[Question] AKS Update Rollout Policy"
**Describe scenario**

We run three clusters (DEV, QA and PROD), and were wondering a few things regarding the rollout of AKS updates. By this I mean updates to the managed services, not kubernetes or the nodes as these are covered elsewhere (and are user-manageable).

Concretely, the loadbalancer health probe changes for k8s 1.24+ are a point of contention where we were left wondering when this c

[2022-09-22 09:05] dmeytin opened #3224 "[Question] Gateway API support"
**AKS support of Gateway API**
Gateway API allows better segregation of concerns between Cloud Providers (Azure), Kubernetes administrators (SRE team) and service owners (SWE team). In addition, Gateway class allows to define multi-cluster Gateways that are capable to load balance between Kubernetes clusters at specific route granularity. Additional features are native support of canary and blue-g

[2022-09-22 09:17] markdebruijne commented on #2862
I mean a configuration without `topologySpreadConstraints` specified at all. In that case it will revert back to the Kubernetes deafult (I would assume) and that seems to be something like `maxSkew: 5` based on availability zone.

Not known in this stage.

Not sure about this. We think the chance increased when we deploy multiple K8s deployments at once

To summarize
- The spread issues seems to b

[2022-09-22 12:24] arsnyder16 commented on #3047
I am still able to reproduce the issue in both node pools as described in previous post. One thing to note is my cluster didn't have nginx ingress installed originally the workload ran fine for 15 hours, within an hour of adding the ingress (with zero replicas) the issue started. This seems to me to point to the public ip being provisioned  maybe related to the load balancer for the cluster?
[code

[2022-09-22 12:25] tomkerkhove commented on #3224
You might want to check https://github.com/Azure/AKS/issues/3198

[2022-09-22 16:00] hacst commented on #2934
@palma21 Definitely also interested in an update on the "startup taints" topic. We keep having to do imperfect/fiddly workarounds and it keeps popping up in useful third party things. E.g. while looking into deploying AppArmor profiles today I stumbled over https://github.com/phealy/aks-apparmor-daemonset by your colleague @phealy which unless I'm mistaken also assumes the no longer working behavi

[2022-09-22 20:30] Trubador commented on #3096
Is this available now?

[2022-09-22 20:43] JohnRusk commented on #3047
Interesting... Thanks for your email.  I just sent a reply.

[2022-09-22 21:00] sajidhawk commented on #3210
The new version of nginx ingress controller added appProtocol and its probe path has to be /healthz;
The new version of cloud-controller-manager added HTTP probing with default path / for appProtocol=http services.

Suggested solution and steps to mitigate your issue:
	1. Take a Backup of the yaml of your service
            kubectl get svc ingress-nginx-controller -n ingress-basic -o yaml >> back

[2022-09-23 00:01] #1753 closed

[2022-09-23 00:01] #1331 closed

[2022-09-23 00:01] #1009 closed

[2022-09-23 05:03] leogtx opened #3225 "AKS security patches and updates [Feature]"
This request is for specially for Azure managed services like AKS. Normally, when there is a vulnerability published for AKS or underlying Node Images or OS, we should have been informed such thing from Azure themself, rather we go through our threat intelligence forums and do the analysis for vulnerable versions running on AKS clusters.

Eg: Dirty Cred vulnerability- Here underlying image/ Operat

[2022-09-23 05:19] junjiezhang1997 commented on #3107
@xXBasti I think the solution of https://github.com/Azure/AKS/issues/1836 may be out-of-time due to the upgradation of version. I use the following example and it works as expected. Hope it can help you. cc @AbelHu
[code]
**Environment:**
Since the k8s 1.21.9 is not supported now, I use k8s 1.22.6 as the environment.

[2022-09-23 07:42] sevenam commented on #3210
Thank you @sajidhawk - just tried this and can confirm it works for us. The health probe path for the load balancer was changed from `/` to `/healthz`

[2022-09-23 08:06] emilverwoerd commented on #3210
For us it also seams to work changing the path from / to healthz

[2022-09-23 09:18] zohebs341 opened #3226 "AKS 1.23.8- PV in terminating State - statefulset [Question] #3169Question]"
**Describe scenario**
Workloads are running in Azure AKS 1.23.8 and it's statefulsets which are having PVCs/PVs attached.

Accidentally PVs got deleted and it's in terminating State and the reclaim policy is retain.

PVCs are still in bound state and PVs in terminating State.

**Question**

As reclaim policy is retain, as PVs got deleted. Hopefully still it will work as in backend the PV will be a

[2022-09-23 09:20] #3210 closed

[2022-09-23 09:33] JohnnyHuang2015 opened #3227 "[Question] Why not set fstype in default storage class"
**Describe scenario**
Currently we deployed the consul on azure stack with k8s version 1.22.7. However, we ran into a problem, saying permission denied when consul trying to write data to PVC. We checked out some materials and found out the our issue is quite similar with this one.

See below: https://learn.microsoft.com/en-us/azure-stack/aks-hci/known-issues-storage
Configuring persistent volume

[2022-09-23 11:23] samuel-form3 commented on #2934
Any updates on this ?

[2022-09-23 12:20] aceArt-GmbH commented on #3206
is there an eta?
I would like to test if the new node image based on Ubuntu 22.04 will fix a [bug with apache2](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=900821)

[2022-09-23 18:01] #2812 closed

[2022-09-23 18:01] #2623 closed

[2022-09-23 18:01] #2462 closed

[2022-09-24 01:37] JohnRusk commented on #3047
Progress update: we've identified that the delays are happening during the TLS Handshake.

[2022-09-24 17:42] paulgmiller commented on #3006
Does autoscaler not get you much the sam thing? It should scaledown underutilized nodes draining pods off before it reclaims them?

[2022-09-24 18:05] paulgmiller commented on #3008
We're considering this though we would probably set a max 24 hours is reasonable but beyond that its easy to get stuck. (luckily we're shipping a abort operation now)

I did find several that customers ask for this but then ask for this but don't realize they need to handle the first termination signal and abandon this when they relalize they need to change code.

[2022-09-24 22:04] stevehipwell commented on #2802
What resolution? I don't see a comment to explain anything?

[2022-09-24 23:10] rouke-broersma commented on #3051
@wangyira hi sorry but why did you mark this as resolved? The api is broken, it does not actually apply the setting.

[2022-09-25 15:11] alexeldeib commented on #3160
I believe this was a bug due to kube-proxy overriding this value on startup. We fixed that. Give it a shot now?

[2022-09-25 15:13] alexeldeib commented on #3160
sorry, was referring to nf_conntrack. as far as custom node config generally, we have e2e covering validation that the settings are applied and I've manually verified the same. the original error with `availabilityProfile` looks like VMAS vs VMSS. Otherwise, could you clarify the current issue?

[2022-09-25 16:25] carvido1 commented on #3221
Hello @smartaquarius10
If you want to disable the CSI driver you have to disable the three features.
You can enable them after upgrading the cluster, if it works...

Let me know how if this approach works for you.

[2022-09-25 16:37] carvido1 commented on #3217
Hello.

We experienced a similar issue running AKS 1.22.6 and 1.23.5. We found a similar issue on github [Kubernetes issue 105204](https://github.com/kubernetes/kubernetes/issues/105204). We resolved the problem upgrading to latest patch version 1.23.8 and this resolved the problem with configmaps.

You can try to upgrade your AKS version to the latest patch 1.23.8.

BR

[2022-09-25 16:46] carvido1 commented on #3212
Hello.

There is an Azure policy to avoid Public IP addresses assigned to NICs. You can find it on the [built-in azure policies](https://learn.microsoft.com/en-us/azure/virtual-network/policy-reference) by the name `Network interfaces should not have public IPs`.
Can you check that this policy does not affect the RGs and VNET where you cluster is deployed ?

BR

[2022-09-25 17:13] rouke-broersma commented on #3160
Sure, we will verify tomorrow.

[2022-09-25 17:52] alexeldeib commented on #3160
if it's not resolved, I can take a closer look. as we found with conntrack sometimes even with the settings plumbed down, edge cases exist ;)

[2022-09-26 01:01] #3057 closed

[2022-09-26 01:07] zhiweiv commented on #3133
https://github.com/kubernetes/kubernetes/pull/109702#issuecomment-1255319067

[2022-09-26 06:32] n-pedersen commented on #3160
We have exactly the same scenario here.
I haven't tried lately, but Microsft support just answered our case:
[code]
(We're already using a daemonset)

[2022-09-26 06:39] sebader commented on #3057
@raghulmsft was there any update/fix on this?

[2022-09-26 08:13] n-pedersen commented on #3051
This issue should not be closed, it's still an issue.

[2022-09-26 08:13] brunomiguel-teixeira commented on #3174
Hi @alexeldeib

Just gave it a sanity check and it does indeed work as expected. It beats just injecting empty envvars which can cause odd behaviour for some clients. We will be leveraging this toggle. Thanks a lot.

You can close this issue, or keep it open until this annotation its documented.

Cheers,

[2022-09-26 12:36] rouke-broersma commented on #3160
@alexeldeib I have added new node pools with the max map count setting applied through Bicep and I have migrated an elasticsearch node to the new node pool. max map count is not applied to the node:

Logging of one of our services that relies on a higher max map count:
`bootstrap check failure [1] of [1]: max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]`

[2022-09-26 13:59] ondrejhlavacek commented on #3008
24 hrs is reasonable. Thanks for considering!

[2022-09-26 17:53] paulgmiller commented on #2690
@phealy sicne two of these asks are network related. (app gateway and public ip)

In general though we're tyring to push customers away from touching things inside the MC group.

[2022-09-26 18:21] seyal84 commented on #2712
interesting and following this for future. Cannot wait to test this in AKS, whenever this feature is supported.

[2022-09-26 19:37] #1952 closed

[2022-09-26 21:11] kaarthis commented on #2429
https://github.com/Azure/AKS/issues/2181

[2022-09-26 21:13] huntergregory commented on #2857
Just noting that the fix for this was released in v1.4.32

[2022-09-27 02:49] Aaron-ML commented on #2934
@palma21 Would love an update on this also, the way this is set up currently seems intentionally rigid.

[2022-09-27 07:23] ondrejhlavacek commented on #2181
I can offer a different point of view, maybe a bit unrelated. We're running a SaaS platform on AKS. There's nothing like "outside business hours", our operating times are 24/7. It wasn't that difficult to make the app resilient over the years, migrating to Kubernetes didn't pose too many new challenges from this point of view. Maybe the opposite, it provided us with a predictable and testable infr

[2022-09-27 09:17] nickkotchauri opened #3231 "The Cluster is in a failed state."
The Cluster is in a failed state, But everything is OK.
Cannot upgrade version. thanks
![Screenshot from 2022-09-27 13-15-25](https://user-images.githubusercontent.com/59885287/192486618-229699e4-3c6e-49bf-95a5-4634c784a9dd.png)

[2022-09-27 09:59] johannordincab commented on #2988
hi, we just migrated to 2022 and experienced this issue again. how do i know if 7c is installed?

[2022-09-27 10:13] AbelHu commented on #2988
@johannordincab Please check the build date in nodeImageVersion of your Windows agent pool with the command `az aks nodepool show --cluster-name  clustername --resource-group rgname --name poolname`.  For example, AKSWindows-2019-containerd-17763.3406.220913 means that it was built on 220913 and should contain 7C.
If your image was built after August, please free to file a support ticket for your

[2022-09-27 10:26] johannordincab commented on #2988
thanks for the quick reply @AbelHu ! we were running 0810 so i updated to 0913 and we'll see what happens :)

[2022-09-27 14:50] andyzhangx commented on #3227
hi @JohnnyHuang2015 this is the issue on Azure Stack HCI, do you think AKS also have such issue?

[2022-09-27 14:52] andyzhangx commented on #3226
as I know, as long as pod is not deleted, pv won't be deleted. And you cannot recover that PV, just copy the PV config, delete pod, let pv get deleted, and then recreate pv with same config.

[2022-09-27 15:00] smartaquarius10 commented on #3221
@carvido1, Sure.. But, I got a response from Microsoft support team that this is the backend issue coming for multiple subscriptions in VMAS clusters. Microsoft is working on its resolution but they haven't share any timeline yet. Support team is following up with the product teams.

[2022-09-27 18:47] davem-git commented on #2934
Any updated on this would be appreciated. is there a method working for anyone?

[2022-09-27 20:58] antoineozenne commented on #3046
Same issue for us.

[2022-09-28 02:45] esquare666 commented on #3204
Any updates would be greatly appreciated.

[2022-09-28 05:07] sumitkute commented on #1785
One of my customer is facing the same issues for a 15GB image, they want to cache it or store it in the image so a new VM comes up in VMSS have the docker image already cached. AWS has it.. we need an alternative in AKS

[2022-09-28 06:01] #2123 closed

[2022-09-28 06:01] #1122 closed

[2022-09-28 07:52] siegenthalerroger commented on #3159
I raised a support request with Azure support about this and it is as I understood it that you can run in to IP conflicts (however unlikely) with the current setup. As such I'd still like to have this feature to prevent that from happening at all.

[2022-09-28 09:46] kiranmaiem opened #3232 "Overriding the forward option in coredns configuration in AKS"
**Describe scenario**
Our business use case mandates that for a given AKS cluster, we need to configure coredns forwarder to a custom DNS server.

**Question**
As i read in the documentation, AKS coredns configuration can't be overridden even with custom config map for core-dns. Is there any other way than changing it on the vNet. We can't take vNet approach as the vNet is shared by various servic

[2022-09-28 15:14] gertkjerslev opened #3233 "Deployment issue with Flux [BUG]"
When deploying AKS cluster with the flux extention the flux part of the deployment fails.

**To Reproduce**
Steps to reproduce the behavior:
flux.bicep

[code]

Error after [7m58s]
[code]

**Environment (please complete the following information):**
 -  Bicep CLI version 0.9.1
 - Kubernetes version 1.24.0

**Additional context**
Seems to work with kubernetes version 1.23.8, but the could be a coin

[2022-09-28 18:01] #2965 closed

[2022-09-28 18:01] #460 closed

[2022-09-28 20:01] #2919 closed

[2022-09-28 21:46] stack111 commented on #2194
@palma21 any chance we could have some response for this issue?

[2022-09-29 04:44] junjiezhang1997 commented on #2862
Still cannot repro the issue when I deploy multiple (three in my test) K8s deployments at once. @markdebruijne could you help provide a script with a high chance of reproducing this issue? cc @AbelHu

[2022-09-29 07:54] 616b2f commented on #1952
@miwithro does the closing mean that this is possible now?

[2022-09-29 10:07] maartengo commented on #3051
This issue is still relevant, and not yet resolved

[2022-09-29 13:01] #3024 closed

[2022-09-29 13:19] romlod commented on #2125
Is there already some idea how to deal with this? In my opinion the ranges are making no sense at all. We want to follow some best practices (e.g. 125% CPU overcommitted) but with these ranges, we already have near 40% committed on a 8vCPU machine just because of these Pods.

[2022-09-29 14:22] alexeldeib commented on #2486
dumb question, would simply exposing the current CA in the API (with some accounting for rotation) work?

I understand the ask for custom root CA and that it's possible elsewhere, but I don't fully understand if it's _only_ a matter of ensuring client trust, or if folks want custom CAs for internal compliance reasons, etc.

[2022-09-29 14:28] klolos commented on #3047
@JohnRusk Could you please share some more information on the issue you have identified? We could be bumping into the same issue in one of our own cluster, where several requests towards the AKS API server fail with a TLS handshake timeout, causing frequent failures to services running in the cluster:
[code]

[2022-09-29 19:51] justindavies opened #3236 "Serverless AKS / Zero Ops"
Tracking item for work to build AKS with minimal operational overhead (patching, scaling, updates etc.)

[2022-09-29 20:49] kxs-jnadeau opened #3237 "[Question] Is SeccompDefault kubelet feature planned to be enabled"
**Describe scenario**
The SeccompDefault  allows to enforce a default container runtime seccomp profile to all pods: https://kubernetes.io/blog/2021/08/25/seccomp-default/

**Question**
The feature moved to beta in 1.25 so I was wondering if we could make use of it in AKS.  This is a simple solution to bring back seccomp for all without requiring all users to add it to their pod security context o

[2022-09-29 20:50] JohnRusk commented on #3047
@klolos We have not found the root cause yet.

FYI, in the examples I've looked at, the issue is transient.  E.g. if the same operation is retried immediately after the failure it will succeed. I.e. it will sucessully create a new connection, and do a successful handshake.   Is that what you see?  Or do you see the problem happening over and over again in a short period of time?

[2022-09-29 20:52] kaarthis commented on #2984
What third party components are you referering pls elaborate @jvargh-msft with usecases

[2022-09-29 20:58] jvargh commented on #2984
@kaarthis 3rd party tools as Velero and Dynatrace primarily
User case: When new 3rd party installers available and need to be installed post-AKS upgrade then the workflow should account for this activity

[2022-09-29 21:27] havronl commented on #2984
The goal is to replicate something like Cloud Services Bootstrapper where the customer can install 3rd party apps or make adjustments through automation to all clusters.   As mentioned above right now it is to install DynaTrace or maybe even splunk for example.  The bootstrapper follows this config through installs and upgrades.  Having this service makes upgrades transparent for all config and an

[2022-09-30 04:25] jingai-db commented on #2883
friendly ping :-)

[2022-09-30 07:49] Wikiwix opened #3238 "Mention changed `appProtocol` handling for LoadBalancer Services in AKS release notes"
It would be great if the changed behaviour starting with 1.24 as described [here](https://github.com/Azure/AKS/issues/2907#issuecomment-1115721052_) could be mentioned in the AKS release notes.

We performed the upgrade (in a dev environment) based on checking Kubernetes and AKS Release Notes, but therefore missed this necessary change.

With `ingress-nginx` being widely, adding this information c

[2022-09-30 09:09] Wikiwix commented on #3238
The change is already reflected as of now, it was not yet, when we checked the changelog.

[2022-09-30 09:09] #3238 closed

[2022-09-30 09:36] klolos commented on #3047
Yes, the error seems transient. We are running recurring Kubeflow pipelines (which use Argo workflows), and once every few runs a pipeline step will fail because if this. Subsequent runs may succeed, so the error seems to be happening randomly.

[2022-09-30 11:47] zerodefect commented on #2883
Found this release announcement here - https://github.com/Azure/AKS/releases

Ubuntu 22.04 for x86, AMD and ARM64 architectures will be the default host.

[2022-09-30 16:26] tshaiman commented on #2441
@justindavies  : does the feature mean that we may be able to configure the CA to not go into backoff mode in case capacity is insufficient ?

[2022-09-30 21:38] KnicKnic commented on #1480
link?

[2022-09-30 22:42] markthebault commented on #2712
+1

[2022-10-01 04:50] andbaraks commented on #3232
Hello @kiranmaiem! Is this what you are looking for https://learn.microsoft.com/en-us/azure/aks/coredns-custom#custom-forward-server?

[2022-10-01 04:54] andbaraks commented on #3231
Hello @nickkotchauri! There may be other reasons for the cluster to get into failed state except the insights you posted. I would recommend you to open a support request so a support engineer will look closely into your cluster and clarify why it got into failed state. Thank you!

[2022-10-02 06:31] stevehipwell commented on #2802
@wangyira could you provide the resolution on the issue or remove the resolved label?

[2022-10-02 22:00] lerlacher-haylix opened #3239 "[BUG] Windows containers on AKS with containerd: 8dot3name short filenames resolved"
**Describe the bug**

In AKS v1.23.5 windows containers with containerd containerd://1.6.8+azure, 8dot3name short filenames are resolved.

This is a potential security issue and is unexpected.

**To Reproduce**

Steps to reproduce the behavior:

1. Run a test container: `kubectl run -it pwshtestcnt7 --image mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019`
2. In the test co

[2022-10-03 07:16] n-pedersen commented on #3051
Hi,
It's not resolved.

[2022-10-03 09:04] siegenthalerroger commented on #3223
After having Microsoft Support get back to me it's been verified that AKS really will deploy breaking changes to running clusters, with little to no warning. This is quite crazy behaviour IMO, the "planned maintenance" preview kinda helps here but not entirely so I am left wondering why this decision was made...

[2022-10-03 09:13] siegenthalerroger commented on #2984
Honestly I need this feature just for the ability to ensure that certain clusters are guaranteed to have the updates applied before some other cluster (QA before Production).

[2022-10-03 09:18] CTZHA commented on #3239
After testing in my environment, there is some information shared for your reference.
1. Test into the 1.23.5 AKS with the below images. Runtime is containerd.
- mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019 -> **There is the 8dot3 name issue.**
- mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 -> **There is no 8dot3 name issue.**

2. Test into the 1.

[2022-10-03 09:23] CTZHA commented on #3239
After testing in my environment, there is some information shared for your reference.

1. Test into the 1.23.5 AKS with the below images. Runtime is containerd.
- mcr.microsoft.com/dotnet/framework/aspnet:4.8-windowsservercore-ltsc2019 -> **There is the 8dot3 name issue.**
- mcr.microsoft.com/windows/servercore/iis:windowsservercore-ltsc2019 -> **There is no 8dot3 name issue.**

2. Test into the 1

[2022-10-03 14:10] ojordano opened #3241 "Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[data config]: timed out waiting for the condition"
Hello all;

I actually have an AKS running in Azure and have some application attached with disk automatically provisionned while launching helm charts.

I tried to backup one application disks, including a mariadb pv in case i need to restore if any issue.

Now, i have restored the backup to a disk and trying to deploy it as a PV volume disk attached to the AKS in a test namespace to see if it is

[2022-10-03 14:31] andyzhangx commented on #3241
so is that disk already attached to the agent node? follow this guide to create static pv/pvc: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/e2e_usage.md#azuredisk-static-provisioninguse-an-existing-azure-disk, and also make sure the cluster identity has write access to the disk

[2022-10-03 14:45] scottstout commented on #2540
Any ETA for GA?

[2022-10-03 16:59] joshuadmatthews opened #3242 "fluxconfig-agent Unhealthy Readiness probe failed: HTTP probe failed with statuscode: 500[BUG]"
**Describe the bug**
Flux config agent is unhealthy because it is unauthorized to pull configuration

**To Reproduce**
Steps to reproduce the behavior:
It started happening randomly so not sure if these are the actual repro steps, but I just create a private AKS cluster with UDR, dapr and flux extensions. Install ingress-nginx through flux heml, configured ingress resource with TLS and a SecretePr

[2022-10-03 21:08] timja commented on #1480
It's https://learn.microsoft.com/en-us/azure/aks/workload-identity-overview#how-to-migrate-to-workload-identity

[2022-10-03 21:16] joshuadmatthews commented on #3242
Closing for now. Seems to have stopped after upgrading my k8s version.

[2022-10-03 21:16] #3242 closed

[2022-10-03 22:01] JohnRusk commented on #3047
Thanks @klolos .  Your issue sounds like it could indeed be the same as what we are looking at in this GitHub issue.  We have gathered a lot of information in discussion with @arsnyder16.  The root cause does not seem to be in the API Server itself (my area of expertise) so I'm reaching out to some colleagues here at AKS.  It's a tricky issue, so the work may take some time.

[2022-10-03 22:42] wangyira commented on #3239
@AbelHu @allyford

[2022-10-04 00:54] asubmani commented on #1480
What about sequence of uninstalling the existing aadpodidentity (we are not talking about what developers need to do; but what the Kubernetes operator who will remove the existing aadpodidentity and next enable the workload identity need to do) I fail to see how existing pods that are looking for aadpodidentity references will continue to work?

This is where 90% of AKS customers are who use podid

[2022-10-04 01:05] pinkfloydx33 commented on #1480
As someone doing this currently, you can leave the podIdentity labels and get the the service account setup etc. This should be enough since the apps will now start using the oidc/federated token and not make (intercepted) requests out to imds/mic/nmi. You can follow it up with a pod identity exception for good measure and finally removing podid labels and deletion of the pod-identity (if using ak

[2022-10-04 02:38] helenanorback opened #3243 "ACN allocated ip addresses not visible in portal"
Hiya,

I'm currently using the acn.azure.com crd with a node subnet and a pod subnet.

The node subnet is behaving as expected. I've got 4 nodes up and running and I can see them as connected devices in portal. The pods also show that they're using the correct pod subnet

![image](https://user-images.githubusercontent.com/13727422/193722192-79bfd9f1-ece2-4f8d-a1ab-023fe8f67e85.png)

however the po

[2022-10-04 03:49] aroommen opened #3244 "Multiple critical CVEs with images in AKS with Kubernetes version 1.24.3"
**What happened**:
We have installed AKS with Kubernetes version 1.24.3. On running security scans on the images that we inhert from AKS, we have observed a number of 'critical' CVEs that potentially pose a security risk.
The list is as follows

Detailed break down of AKS related CRITICAL CVEs
1. Images -
[mcr.microsoft.com/oss/calico/kube-controllers:v3.21.6](http://mcr.microsoft.com/oss/calico/k

[2022-10-04 05:14] pavneeta opened #3245 "[Feature] AK Support for Load balancer with IP-based backendpool"
Azure Load Balancer support for IP-based backend pool management for SLBs connected to AKS Clusters.

https://azure.microsoft.com/en-us/updates/iplbga/

This will improve the performance of creating new LB backed services, update LB backend pools with new nodes when scaling the clusters/nodepools.

Load balance to resources in Azure via your private IPv4 or IPv6 addresses using Standard Load Balan

[2022-10-04 06:02] gertkjerslev commented on #3233
The issue persists with version 1.23.8, but more random.

[2022-10-04 07:34] AbelHu opened #3246 "[BUG] Regression Windows issue in k8s v1.24. Please do not upgrade your Windows clusters to k8s v1.24"
**Describe the bug**
Please see more details in https://github.com/kubernetes/kubernetes/issues/112836

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Kubernetes cluster v1.24 or higher with Windows nodes.
2. Create a Kubernetes Service with type "LoadBalancer" on Windows.
3. Delete one or more pods of the Service.
4. Observe stale load balancing rule left behind referencing endpoi

[2022-10-04 22:02] wangyira commented on #3135
@helayoty could you help with this?

[2022-10-04 22:43] craigktreasure commented on #2495
@kaarthis or @tonychen15, still looking for an update on this?

[2022-10-04 22:52] AlphaNoodleS commented on #2864
After discussing with Matt and Peter, updates made in the document to reflect V2 support and PR is open.

[2022-10-05 02:38] andyzhangx commented on #3241
@ojordano could you file an azure ticket to check why disk attach failed? pls check whether cluster identity has write access to the disk first, thanks.

[2022-10-05 10:22] valencetech commented on #3055
Good to have feature, critical for workloads that require time to stabilize i.e. Zookeeper, Kafka

[2022-10-05 10:23] alert101-gof commented on #1896
How about the possibility to specifying a role to be given to the creator (UPN/SPN) of the AKS instance's node resource group?

[2022-10-05 12:18] eikooc opened #3247 "[Question] cluster in failed state because of LoadBalancerProfileOutboundIPNotExist"
**Describe scenario**
My cluster appears to be in a failed state and I can't add new node pools or scale the current node pools, but many things appear to be fine.

When I run `az resource update --ids /id` I get the following error:
[code]

**Question**
How do I get out of this situation?

[2022-10-05 12:21] stevehipwell commented on #2802
@wangyira

[2022-10-05 14:41] DavidMtbg commented on #2819
So is this how HTTP Application Routing dies? Because East US region doesn't allow provisioning <1.22.11 at this point. 🤷🏻

[2022-10-05 15:01] ojordano commented on #3241
Hello @andyzhangx
tried the creation with example link shared.

The pod have the same error :

`Warning  FailedMount         86s (x2 over 5m58s)  kubelet                  Unable to attach or mount volumes: unmounted volumes=[data], unattached volumes=[data config]: timed out waiting for the condition`

The volume attachment state too is false :

<pre>
NAME                  ATTACHER               P

[2022-10-05 15:15] carvido1 commented on #3221
Hello @smartaquarius10
Do you have any news from the MS support team ?

[2022-10-05 15:35] andyzhangx commented on #3241
pls file a support ticket with any subsid or cluster info, without those info, we cannot tell what's going wrong

[2022-10-05 15:35] #3241 closed

[2022-10-05 15:42] illrill commented on #1737
I can confirm that `Microsoft.ContainerService/managedClusters` API version `2022-07-01` supports this.

[2022-10-05 15:45] smartaquarius10 commented on #3221
@carvido1, Asked yesterday, they are still working on it.

[2022-10-05 18:20] bbgobie commented on #3055
I think this is a useful feature, nodes might come up, but need time to balance, process, vote, etc for anything thats clustered.

[2022-10-05 20:35] JS-GERVAIS commented on #3031
Having the same issue in a fresh cluster, 1.24.6 with one node pool  (dev cluster).  Using CNI instead of kubenet.

 ingress-appgw-deployment pod in kube-system is restarting hundred times a day, and spams this log

E1005 20:19:16.104600       1 client.go:352] Error while getting virtual network 'XXXXXXXXXXdev-vnet': network.VirtualNetworksClient#Get: Failure responding to request: StatusCode=403

[2022-10-05 21:55] nanunna commented on #3031
@JS-GERVAIS  Could you pls answer the below questions to help us troubleshoot this issue further ?

- Did you also use your own vent & route table for the cluster ?
- Are you using managed identities or user-managed identities (Service principal) ?
- What role does the cluster identity has ? Contributor role or Read role over vnet & route table
- did you initially use the app-gw in a different vne

[2022-10-05 22:49] chitturs opened #3248 "[BUG] ImageCleaner bicep template needs interval specified"
**Describe the bug**
ARM deployment fails if the interval is not specified. https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/aks/image-cleaner.md needs to add that the default is not actually in effect. We need to add a value there.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a bicep template for an AKS cluster with imageCleaner setting.

**Expected behavior**
Defaul

[2022-10-05 23:57] iRootkit commented on #2934
use the AKS managment **REST API** its working for me:

HTTP operation: **PUT**
URL: https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/{{resourceGroup}}/providers/Microsoft.ContainerService/managedClusters/{{clusterName}}/agentPools/{{agentPoolName}}?api-version=2022-04-01

**body:**
` {
     "properties": {
         "nodeTaints" : [
             ""
         ],
     "mod

[2022-10-06 03:32] Kevin-Li-Webjet commented on #3246
Thanks, @AbelHu , we were blocked for upgrade by this

[2022-10-06 05:39] JungBin-Eom commented on #2712
+1 Really interesting feature👍

[2022-10-06 07:59] mllab-nl commented on #2857
Can confirm, v1.4.32 creates a rage:
tcp dpts:11000:11999 /* ALLOW-ALL-ON-TCP-TO-PORT-11000:11999 */

Thank you!

[2022-10-06 08:00] parthasarathi-pm commented on #2830
Any update on this issue, im seeing the same issue

[2022-10-06 08:31] parthasarathi-pm commented on #2830
This issue is common for any version of kubernetes or this issue is in latest version(1.23.x supported as of today) only.
im facing the issue in 1.23.8.

[2022-10-06 09:42] spdr870 opened #3249 "[BUG] Unable to deploy new AKS cluster with windows nodes using bicep, since docker is no longer supported"
**Describe the bug**
Bicep deployment fails when creating a aks cluster with a windows node pool. Windows nodepools no longer support docker (since kubernetes version 1.24). It is not possible to deploy a new nodepool using Bicep because setting the customheader is not possible.

Since bicep is a layer above ARM, it probably also fails when using plain ARM.

**To Reproduce**
Deploy a AKS cluster u

[2022-10-06 11:41] perosb commented on #2899
:man_shrugging:

[2022-10-06 11:59] andreadecorte commented on #2486
the fact of using a known CA let users avoid depending on az cli availability for cluster access, as you are able to build a kubeconfig with a valid chain of trust without it.
The fact of using a custom well known CA may also be needed for internal compliance, but I can't comment as I didn't have this requirement in my experience.

[2022-10-06 12:00] ivanthelad commented on #3051
@phealy this issue has not been resolved right? customers still need to use a custom daemonset to set maxconn

[2022-10-06 12:02] miwithro commented on #3244
![image](https://user-images.githubusercontent.com/50749048/194307622-632d7df1-890a-4eba-8d0f-417b56f97a51.png)

[2022-10-06 13:01] #3090 closed

[2022-10-06 13:39] saravanadel commented on #2830
I ended up using a different topology for maintaining a private cluster . (Smile)

[2022-10-06 13:57] AbelHu commented on #3246
@Kevin-Li-Webjet  We are working on the hotfixes with the fix https://github.com/kubernetes/kubernetes/pull/112839. After the hotfixes are available in all regions, we will unblock you to upgrade to v1.24.

[2022-10-06 14:34] #3226 closed

[2022-10-06 15:26] karlschriek commented on #2934
I have to agree with most of the comments here, in that taints being set on NodePool level by die AZ resource manager is in my opinion a very poor design decision. I think the length to which people here are going to try to get rid of those taints also illustrates that quite clearly.

One of the main use cases for spot instances is to use them in development environments, where you consciously cho

[2022-10-06 15:59] helayoty commented on #3135
@ewfian , thanks for reaching out. A new version fro virtual-kubelet/azure-aci (v1.4.5) has been deployed and is available on AKS.

[2022-10-06 16:10] phealy commented on #3051
@n-pedersen @maartengo @ivanthelad This should have been resolved around the middle of August. What behavior are you seeing now? If you look at your kube-proxy DaemonSet, you should see an initcontainer that sets the value appropriately on startup.

[2022-10-06 16:14] rouke-broersma commented on #3051
I think we might be mistakingly thinking this issue is the same as https://github.com/Azure/AKS/issues/3160 which has not been resolved.

[2022-10-06 18:05] alexeldeib commented on #2802
@stevehipwell sorry about the bot, removed the resolution label.

I'm still curious about the earlier question:

since syslog will contain a bunch of stuff from containerd, pod churn and user activity will affect the growth rate. I wasn't sure what a sane default would be.

we can probably just set `maxsize` and force rotation to run _way_ more often, like hourly or something?

[2022-10-06 20:44] joshuadmatthews commented on #3099
You aren't by chance using Azure RBAC for your cluster? I have noticed that flux-applier ServiceAccount in AKS isn't able to act as cluster-admin that it is assigned with a ClusterRoleBinding because the KubeGuard service is intercepting the request and returning with error "Azure does not have opinion for this user."

https://github.com/kubeguard/guard/blob/master/authz/providers/azure/rbac/check

[2022-10-06 20:53] Kannibalenleiche commented on #2934
This is curious - the spot taint could not be removed for me with this. Also all the other proposed "workarounds" are not doing it for me. The ability to run on spot-nodes would really help us.

[2022-10-07 07:30] elops-od commented on #2690
hi @hatfarm @paulgmiller
we need to install Linux diagnostic extension
if we  wont to do this via terraform, we need to know vmss id
for now this is not possible, because azure provider not allowed this
so we don't need to change something in vmss, just get full details about it

[2022-10-07 08:49] AbelHu commented on #3246
We have published new AKS RP hotfix releases which contain the new v1.24 packages with the fix https://github.com/kubernetes/kubernetes/pull/112839. Please upgrade your cluster to v1.24.6 or create new Windows agent pools to get the fix if your clusters are in v1.24 and have been impacted by this issue.

[2022-10-07 09:12] andyzhangx commented on #3227
could be related to https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/901#issuecomment-867451903, there is no such issue on AKS now, and also set `fsType: ext4` in default sc is not good since default sc should also work on Windows node.

[2022-10-07 09:12] #3227 closed

[2022-10-07 10:52] stevehipwell commented on #2802
@alexeldeib fundamentally log spam shouldn't be able to cause a denial of service and as these settings aren't customisable they should have good defaults which are correctly integrated with Kubernetes.

I'd suggest following the Kubelet pattern of providing a log max size and a maximum number of files, Kubelet is obviously managing it's logs separately. You should then know the maximum amount of

[2022-10-07 11:28] olljanat commented on #1896
@yangl900 afaiu earlier issue have been what was mentioned in here https://github.com/Azure/azure-cli-extensions/issues/2072#issuecomment-664518508 however since AKS release [2021-10-15](https://github.com/Azure/AKS/releases/tag/2021-10-15) it have been possible to detect those resource groups with tags `aks-managed-cluster-rg` and `aks-managed-cluster-name` so I would say that those together with

[2022-10-07 13:23] ReneRebsdorf commented on #3233
ip-here:443 doesn't look right :)

[2022-10-07 13:33] ivanthelad commented on #3051
@phealy  this is just a followup as the item is still open. we have not retested this again.
@rouke-broersma  this issue is nothing related to bicep but more a configuration been overwriten by the kublet

[2022-10-07 15:14] allyford opened #3250 "[Feature] Confidential VM support for Windows on AKS"
Bring Confidential VM support to Windows on AKS (Currently Public Preview for Linux)

https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-computing-enclaves

[2022-10-07 15:47] allyford opened #3251 "[Feature] Custom Node Configuration for Windows"
[Custom Node Configuration](https://learn.microsoft.com/en-us/azure/aks/custom-node-configuration) involves allowing customers to customize OS and/or kubelet parameters.

Custom node config for windows would allow a subset of customizations for relevant kubelet parameters.

[2022-10-07 16:57] smartaquarius10 opened #3252 "Certificate issues while upgrading Ingress controller"
Team,

We have AKS v1.23.5 and trying to upgrade kong ingress controller. But, regularly getting this error:

Key usages is same for both(my AKS cluster and kong) i.e.:
[code]
Any suggestions please.

Kind Regards,
Tanul

[2022-10-07 17:25] alexeldeib commented on #2802
agreed :)

I think we're mostly on the same page -- in terms of rsyslog rotation config, we already have `rotate 4` so logs should (?) get removed after 4 rotations. adding a `maxsize` of say `50M` similar to container log size default would trigger log rotation faster than daily if the logs grow too quickly. Increasing the invocation rate of logrotate to say, daily or hourly would ensure that it

[2022-10-07 18:56] davem-git commented on #2934
@iRootkit What do you use to run this? do you have a cronjob checking?

[2022-10-07 20:21] gabemeola commented on #2427
Hey Ryan, has this roadmap been released yet?
Pending on this ticket for https://github.com/knative/serving/pull/11636 closure

[2022-10-07 20:59] Kapsztajn commented on #2792
This should be addressed from MS side... 250m is way to much for CPU Request as it takes basically nothing...

[2022-10-08 00:07] AbelHu commented on #3246
Fixed it

[2022-10-08 00:07] #3246 closed

[2022-10-08 01:32] andyzhangx commented on #3021
@BenH-Puregym docker is not supported on AKS, are you still exploring DIND solution on azure file?

[2022-10-08 04:20] AbelHu commented on #3239
@lerlacher-haylix It seems like to be an issue of Windows containers but not AKS. You may need to file an issue in https://github.com/microsoft/Windows-Containers/issues. Could you help to confirm it?

[2022-10-08 08:12] ewfian commented on #3135
Thank you for help

[2022-10-08 16:43] asubmani commented on #3173
Any update?  One option would be to keep the I.P address mapped to a cluster API name for a few hours. I know some Azure services do this and you have to call a REST API to speed up the I.P Address deletion.

For AKS that would solve the problem of the API server public I.P randomly changing.

[2022-10-08 20:52] samssann commented on #2864
So you can now use V2 Storage Accounts with virtual nodes?

[2022-10-09 22:21] alexeldeib commented on #3104
we install the drivers now, would mark this as resolved.

the steps you shared sound reasonable, but without details/an error, hard to debug :)

[2022-10-09 22:21] #3104 closed

[2022-10-10 06:01] #3021 closed

[2022-10-10 07:51] p4ranoidandro1d commented on #3232
@andbaraks Documentation points out how to append additionnal configuration with the coredns-custom config map.
What @kiranmaiem is trying to do in my understanding is to override the current configuration of Corefile in coredns config map.

I m also looking for a way to add a policy to the forward plugin for ".:53" as were encountering a lot of problems with alpine based images regarding dns reso

[2022-10-10 09:14] byteknacker opened #3254 "Display K8s Resources on Azure Portal for Private AKS"
**Is your feature request related to a problem? Please describe.**
On the Azure Portal page for AKS, I cannot see any resources such as workload, namespace, services, ingress etc., because my AKS is private. Right now, it says that "Private clusters require that the browser is running on a machine that has access to the AKS cluster's Azure Virtual Network." Having this display capability reduces t

[2022-10-10 10:12] vishal-swarankar-sdl commented on #2712
+1 for it. happy to collaborate

[2022-10-10 12:38] lgmorand commented on #2849
Hi my customer has the same issue using PodAntiaffinity and the CA never triggering when pods cannot be scheduled.

To be sure, is it linked to this [issue](https://github.com/kubernetes/autoscaler/issues/3879) ?

[2022-10-10 12:39] brunomiguel-teixeira opened #3255 "[Feedback] Slow/HighDelay Azure LoadBalancer Ingress "allocation""
**Describe your scenario**
When creating a Service object of type LoadBalancer, probe & rules are successfully created in Azure Load Balancer. However, trying to ingress via that ALB rule takes a long time to start working.  We have use cases ranging from 5minutes to 27minutes.

**Environment**
**HTTP Client**
Location: Outside of AKS Subnet
Rate: 1 request per second

**AKS Cluster**
Kubernetes V

[2022-10-10 14:03] MGoedtel commented on #2864
@samssann - Yes, you can use V2 storage accounts with virtual nodes. The article has been updated to reflect this change and it goes live on 10/12 or 10/13 the latest. Thanks.

[2022-10-10 15:04] chris-milsted opened #3256 "[Feature] NVMe configuration for L8s machines"
I want to use machines with local NVMe drives for solutions like https://cloudnative-pg.io/ on AKS clusters. I want to be able to use a CSI provider which offers pools so I can select local NVMe disks or Azure disks. As an example [Ondat](https://ondat.io)

There are some example for other providers where "preBootstrap" commands can be run to do things like:

[code]
This would be run on the nodes

[2022-10-10 15:08] andyzhangx commented on #3256
Does this open source solution work for you? https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

[2022-10-10 18:06] nojnhuh opened #3257 "[BUG] Creating agent pool with invalid `nodePublicIPPrefixID` returns HTTP 500"
**Describe the bug**
A request to create an agent pool with a `nodePublicIPPrefixID` that is well-formed but does not exist results in a HTTP 500 response where a 4xx status code would be more appropriate. HTTP 500 triggers retry logic in the Go SDK which is not effective in resolving this particular issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an AKS cluster using a public

[2022-10-10 18:52] vamsivellanki commented on #3128
May we know when this feature will be GA?

[2022-10-10 19:01] #3119 closed

[2022-10-10 19:51] lgmorand commented on #2429
Hi @kaarthis

That's great because we can now update the OS image before a new image is available but regarding the first need, it does not seem the need is filled. How can we ensure to get:
- a node image upgrade automatically if a component needs to be updated (i.e. ContainerD)
- a kubernetes patch upgrade as soon as patch is available ?

From what I understand, we still have the same issue to c

[2022-10-10 23:42] vdiec commented on #3134
Hi @upasedharmaraj, please see instructions [here](https://learn.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-agent-config) on how to edit the ConfigMap file settings to only collect logs from stdout.

[2022-10-10 23:45] vdiec commented on #3134
Hi @upasedharmaraj , please see instructions [here](https://learn.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-agent-config) on how to edit the ConfigMap file settings to collect stdout logs from specific namespaces.  We will not be changing the default behavior since many customers are using it.

[2022-10-10 23:45] #3134 closed

[2022-10-11 06:01] #3244 closed

[2022-10-11 06:47] VMM-Mtech commented on #3178
Sorry for the late update. With the help from @benchwang our cluster was recovered.

[2022-10-11 06:47] #3178 closed

[2022-10-11 12:51] n-pedersen commented on #3160
Hi,
I just tried updating the Microsoft.ContainerService/managedClusters API to "2022-07-02-preview"
Doesn't seem to work still.
I tried deleting my AKS cluster and redeploying with node pool setting:
[code]

Still I get the following error:
[code]

[2022-10-11 14:07] alexeldeib commented on #3160
This bicep template works for me. `type: VirtualMachineScaleSets` seems to be required, which is a bug. But explicitly setting it as a workaround seems to get the job done.

[code]
[code]

[2022-10-11 14:26] alexeldeib commented on #3160
same for nf conntrack, although like I mentioned that did have a separate unrelated bug where kube-proxy overwrote the values we applied (now fixed)

[code]

[code]

[2022-10-11 14:26] alexeldeib commented on #3051
https://github.com/Azure/AKS/issues/3160#issuecomment-1274781494 as ref

[2022-10-11 14:27] alexeldeib commented on #3051
kube proxy issue should be fixed

[2022-10-11 14:27] #3051 closed

[2022-10-11 14:38] rouke-broersma commented on #3160
@alexeldeib one difference I see is that we don't run elastic on system node pools, so don't use the cluster agent pool profile to set this. We use the node pool resource to deploy the nodes with this configuration.

[2022-10-11 14:53] alexeldeib commented on #3160
if you have a minimal repro template happy to take a look, I stripped out some stuff from earlier example like private cluster for debugging purposes

[2022-10-11 15:13] alexeldeib commented on #3160
I'm pretty sure the associated fix has been rolled out to all public cloud for the kube-proxy issue, for the other settings, there was no fix yet, only the `type: VirtualMachineScaleSets` issue.

Tried in west europe with the same results.

[2022-10-11 15:52] pinkfloydx33 commented on #3156
We're having a bit of difficulty figuring out how this differs from "Planned Maintenance"? Does [this](https://learn.microsoft.com/en-us/azure/aks/aks-planned-maintenance-weekly-releases) not include the same sort of updates that [this](https://learn.microsoft.com/en-us/azure/aks/planned-maintenance) does?

The latter says it updates control-plane, node-images, etc. So doesn't control-plane update

[2022-10-11 16:04] marcindulak commented on #3156
An older issue asking for similar clarifications https://github.com/Azure/AKS/issues/2962

[2022-10-11 16:14] maartengo commented on #3160
I've just ran a test; we still get the issue even when setting the type. I'm not sure how helpful it is, but I've added our template in its JSON form as seen during deployment.

Our template in json:

<details>

[code]

</details>

With its parameters:

<details>

[code]

</details>

Deployment output:

<details>
vmMaxMapCountParameter:
262144

nodepoolProperties:

[code]

</details>

[2022-10-11 16:28] rogelioamancisidor commented on #3104
@alexeldeib  Do I need to create the DaemonSet again? or your solution only works using the AKS GPU image?

[2022-10-11 16:34] Welasco opened #3259 "[Feature] Allow create Private AKS cluster using custom domain name rather than azmk8s.io"
**Is your feature request related to a problem? Please describe.**
Many financial institutions have security rules which force them to access internal services using their own custom DNS names (ex: xxxx.local). Today the only possible to deploy a Private AKS is using one of these domains:
- privatelink.{region}.azmk8s.io
- {subzone}.privatelink.{region}.azmk8s.io
- {region}.azmk8s.io

**Describe t

[2022-10-11 17:59] alexeldeib commented on #3160
2020-09-01 api version is probably the issue there, 2020-11-01 was the first version supporting those fields.

[2022-10-11 18:23] leiningger commented on #3156
Currently wondering the same as well

[2022-10-11 18:52] rouke-broersma commented on #3160
Shouldn't we get an error then both in Bicep and from the ARM api during validation against the schema? We'll try a newer api and get back to you, thanks.

[2022-10-11 22:00] iRootkit commented on #2934
@davem-git bro i used postman to call management api, but whatever client its work for this
<img width="1326" alt="image" src="https://user-images.githubusercontent.com/35779689/195206189-d10c8605-8573-41ce-adcb-3c3341b880a1.png">

[2022-10-11 22:06] iRootkit commented on #2934
@Kannibalenleiche in my case i was used to remove this taint CriticalAddonsOnly=true:NoSchedule for a system node pool

[2022-10-11 22:26] davem-git commented on #2934
I need this to be automated, as our clusters scale in an out. manually having to do anything isn't acceptable

[2022-10-12 06:54] rob2universe opened #3260 "[BUG] Expose the services in an AKS cluster via only one external IP, letting nginx ingress use load balancer IP"
**Describe the bug**

The intention is to create an AKS cluster and expose the services in it via only one external IP by adding an nginx ingress.
The issue is very similar to https://github.com/Azure/AKS/issues/1791. This issue was closed and can no longer be commented on.

@palma21 commented that it would be fixed via an upstream issue, but no link to this issue was provided.
The next comment wa

[2022-10-12 08:33] maartengo commented on #3160
Ah, such a simple thing to overlook. Using a newer api version does indeed solve the problem for us.

[2022-10-12 08:45] djniu commented on #2259
one question, may this feature affects the pods in nodes? Do we need to trust again in pods if we need to trust custom CA in pods?

[2022-10-12 13:09] smartaquarius10 commented on #3221
@carvido1 , Its resolved now.

[2022-10-12 13:09] #3221 closed

[2022-10-12 13:17] normander opened #3261 "[Question] AKS admin kubeconfig"
**Question**
Do we have some best practice recommendations for AKS admin ```kubeconfig```?
This is related to this question: https://github.com/Azure/AKS/issues/1408

Is there any way to set the expiration for ```kubeconfig``` generated by ```aks get-credentials --admin``` ?

[2022-10-12 13:50] normander commented on #3261
Ok, I found a solution for this: https://learn.microsoft.com/en-us/azure/aks/managed-aad#disable-local-accounts

[2022-10-12 13:50] #3261 closed

[2022-10-12 14:06] scottstout commented on #2540
@kaarthis I have a strong need for this. Can you give any heads up when this might reach GA?

[2022-10-12 16:22] mdenhoedt opened #3262 "[BUG] omsagent-win frequent restarts"
**Describe the bug**
A clear and concise description of what the bug is.

[code]
[code]
[code]

These restarts happen quite often:
![image](https://user-images.githubusercontent.com/3847508/195396237-4c374ac7-24ca-455a-b2c4-ed1e4ce249e1.png)

**To Reproduce**
n/a

**Expected behavior**
No `omsagent-win` restarts.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Envi

[2022-10-12 16:53] shashankbarsin opened #3263 "[Feature] Fleet: Multi-cluster north-south L7 regional load balancing"

[2022-10-12 16:54] shashankbarsin opened #3264 "[Feature] Multi-cluster north-south L7 global load balancing"

[2022-10-12 16:55] shashankbarsin opened #3265 "[Feature] Multi-cluster east-west communication"
https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api

[2022-10-12 16:56] shashankbarsin opened #3266 "[Feature] Multi-cluster service mesh addon"

[2022-10-12 16:56] shashankbarsin opened #3267 "[Feature] Fleet level AAD workload identity federation"

[2022-10-12 16:57] shashankbarsin opened #3268 "[Feature] Region failover of fleet cluster"

[2022-10-12 16:58] shashankbarsin opened #3269 "[Feature] Staged upgrades of member clusters across environments"

[2022-10-12 16:59] shashankbarsin opened #3270 "[Feature] Create AKS clusters declaratively from Fleet's Kubernetes API"

[2022-10-12 17:01] shashankbarsin opened #3271 "[Feature] Fleet: Kubernetes resource propagation - Overrides"
# Feature Status: In Progress
- Alpha API: https://github.com/Azure/fleet/blob/main/apis/placement/v1alpha1/override_types.go

# Feature Description

Kubernetes Fleet Manager (Fleet) allows customers to propagate k8s objects from hub cluster to member clusters to easily distribute workload across clusters ([link](https://learn.microsoft.com/en-us/azure/kubernetes-fleet/architectural-overview#kuber

[2022-10-12 18:37] jkroepke commented on #2690
As I know, Azure Policies can be used to install VM Extensions automaticly. (In some way, Azure Policies are some kind of MutatingWebhooks) (Maybe https://learn.microsoft.com/en-us/azure/azure-monitor/vm/vminsights-enable-policy helps)

[2022-10-12 19:05] pavneeta commented on #2755
Azure Kubernetes Service has now increased the node limit per cluster by 5x to 5,000 nodes across all node pools. you can learn more about this limit increase below:

- [Running at scale best practices](https://learn.microsoft.com/en-us/azure/aks/operator-best-practices-run-at-scale)
- [AKS Service Quota limits](https://learn.microsoft.com/en-us/azure/aks/quotas-skus-regions)

[2022-10-12 19:05] #2755 closed

[2022-10-12 21:47] paulgmiller commented on #3013
@stijndehaes  when it GA's would you consider moving to the overlay network if we gave you an inplace upgrae path that didn't lose connectivity? https://learn.microsoft.com/en-us/azure/aks/azure-cni-overlay

You'd still have to create a new agentpool to free your old subnet but you can do it after your migrated at your leisure.

Or do you need pod ips to be in vnet?

[2022-10-12 23:29] joshuadmatthews opened #3273 "Patch Flux extension manifests/controllers"
### Discussed in https://github.com/Azure/AKS/discussions/3229

<div type='discussions-op-text'>

<sup>Originally posted by **pinkfloydx33** September 24, 2022</sup>
Is it possible to patch Flux-system controllers/customize manifests when using the Microsoft.flux (gitops) AKS extension?

For some workloads, such as Image Automation with reflector, it may be required to patch A. the controller argu

[2022-10-13 05:10] stijndehaes commented on #3013
@paulgmiller I would definitely consider moving to this. Not losing connectivity makes the upgrade that much easier for us. Otherwise we would either: need to introduce downtime, or migrate to a new cluster.

Creating a new agent pool is now problem.

Pods ips do not need to be in the vnet at the moment.

[2022-10-13 06:25] liamfoneill commented on #3254
You need to either use a jump box inside the azure aks vnet (or one peered to it) or if your own machine can connect to Azure via hybrid networking (vpn, expressroute) and the vpn gateway vnet is peered with the aks vnet you can also access it that way.

[2022-10-13 06:41] liamfoneill commented on #2988
@johannordincab did this fix your issue after the upgrade? I have a customer with similar issues but I don't want to recommend telling them to update without knowing it should help resolve the issue

[2022-10-13 06:44] johannordincab commented on #2988
@liamfoneill we have moved some of our applications to run on `ltsc2022` containers, running on `AKSWindows-2022-containerd-20348.1006.220913` nodepool image. We are still facing some issues resolving DNS occaionaly but havent started a case with azure support yet.

[2022-10-13 06:44] #3133 closed

[2022-10-13 08:19] joeybdub commented on #2745
Would be good to understand if there is a potential workaround on this. Seeing disruption with endpoint connectivity on private AKS using calico!

[2022-10-13 09:27] asaf-upstream commented on #2745
@joeybdub We are using a python cron script that checks and update the vpn entry every 24h to workaround this.... sadly could not find a better solution.

[2022-10-13 09:56] joeybdub commented on #2745
Thanks @asaf-upstream could you elaborate more on what the python script is doing?

[2022-10-13 10:10] nazarikus commented on #3255
+1 to the issue as we experience the same lag.

[2022-10-13 11:05] asaf-upstream commented on #2745
@joeybdub sure, we 1st get the new nic name and then new private ip(
https://learn.microsoft.com/en-us/cli/azure/network/private-endpoint?view=azure-cli-latest
https://learn.microsoft.com/en-us/cli/azure/network/nic/ip-config?view=azure-cli-latest#az-network-nic-ip-config-list
):

[code]

2nd part will use the vpn's product api's endpoints to update the ip entry of the resource..

Hope that helps.

[2022-10-13 11:11] asaf-upstream commented on #2745
@joeybdub our network plugin is Kubenet, not sure how much a difference does it make if you see the same behavior..

[2022-10-13 13:27] dvyas1 commented on #3206
Any update on when this will be rolled out to EAST-US? We are eagerly waiting for this preview as our application can't run on Ubuntu 18.04. This release is also supposed to bring Ubuntu 22.04.

[2022-10-13 14:02] joeybdub commented on #2745
Thanks @asaf-upstream

[2022-10-14 06:34] EugenFo commented on #3130
We have the same problem with terraform. The returned `vnetSubnetId` is not `null` but an empty string instead, but that's probably terraform doing conversions from null to empty strings. We are also using the `kubenet` network plugin.
![image](https://user-images.githubusercontent.com/44065655/195778116-9af2a65e-39fa-4e46-827e-d8a60b16118a.png)

[2022-10-14 08:17] CocoWang-wql commented on #2861
Update:
Azure Container upstream is planning to deliver this feature, then AKS will integrate the external identity provider from upstream.
The estimated public preview date for external identity provider on AKS cluster is August, 2023.

[2022-10-14 09:20] byteknacker commented on #3254
Ok sweet, I just managed to do that. I just have to connect my VPN Gateway locally and then the Azure Portal displays all the information. Consider this closed then.

[2022-10-14 12:43] tshaiman opened #3274 "[BUG] ImageCleaner (Preview) Crashes due to OOMKILL"
**Describe the bug**
we deployed the new AKS Preview for ImageCleaner but it crashes due to OOMKILL and we don't have API to increase Memory

**To Reproduce**
1. install ImageCleaner on large cluster with many stale images and many nodes
2. you will see that the eraser-controller-manager Pod can be in CrashLoopBack State due to Out Of Memory

**Expected behavior**
- Either let user Specify Request

[2022-10-14 13:59] rajeevpadinharepattu opened #3275 "[Question]what is the expected release date for kuberentes 1.25 version in AKS"
**Describe scenario**
A clear and concise description of what your scenario is.

what is the expected release date for kuberentes 1.25 version in AKS

**Question**
Your question

[2022-10-14 14:41] #3275 closed

[2022-10-14 19:40] #3200 closed

[2022-10-14 22:21] aydosman commented on #2759
bump

[2022-10-15 03:00] sprilutsky01 commented on #3195
Any update on the below?

Regards,
  Sergey Prilutsky
________________________________
From: Amanda Wang ***@***.***>
Sent: Friday, September 16, 2022 4:11 PM
To: Azure/AKS ***@***.***>
Cc: sprilutsky01 ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/AKS] HTTP_PROXY configuration (Issue #3195)

@phealy<https://github.com/phealy> can you take a look at this?

—
Reply to this email directly, v

[2022-10-15 03:29] andyzhangx commented on #3213
close this issue since it's already GA

[2022-10-15 03:29] #3213 closed

[2022-10-15 06:15] paulgmiller commented on #3130
This is currently intentional if you have a managed vnet rather than a byo vnet we hide vnet we make in your node resource group since its managed and our we don't believe it should be mutated.

[2022-10-15 12:37] 4c74356b41 commented on #3006
I dont think it does. I've deleted 4 nodes manually and it doesn't scale up (because there is still plenty resources available)

[2022-10-15 17:34] elkh510 commented on #2690
we tried this option - it doesn't work.
why not just return help information about the vmss?
if this is such a big problem for azure, perhaps you can make a data source where you can pass the cluster id (or name) and get REFERENCE information about the vmss

[2022-10-15 18:11] jkroepke commented on #2690
I mean, if you do changes on the default node pool, it will re-create your whole cluster. So do not expect such features in near future.

Not sure, why Azure policies wont work here ... I mention that Azure Policies also have some delay for new resources.

[2022-10-15 23:18] #2818 closed

[2022-10-16 01:01] #3126 closed

[2022-10-16 04:44] rpashko-lohika-tix commented on #2690
@jkroepke hi

If change noodepool - yes
But if change vmss - all good

Will try one more time, thank you

[2022-10-16 04:47] elkh510 commented on #2690
@jkroepke hi

If change noodepool - yes
But if change vmss - all good

Will try one more time, thank you

[2022-10-16 07:53] marcindulak commented on #2962
:eyes:

[2022-10-17 05:08] hterik opened #3276 "[Feature] Expose --ignore-taints option in autoscaler profiles"
**Is your feature request related to a problem? Please describe.**
Need to start nodes with custom taints, to allow required DaemonSets to start before scheduling any other pods onto the node.
When doing so today however, having the taint on the NodePool will exclude the pool from upscale since the template thinks the Pod will never be able to run on the Node due to the taints, even if eventually

[2022-10-17 05:32] hterik commented on #1394
Putting **LoadBalancer** in front of a HTTP server as many have done above you need to be aware of following.
The LoadBalancer health probe runs from each node in the cluster. It opens a TCP request, _holds it open, sends nothing, and then waits for 15 seconds before closing the connection_. I don't know if its the responsibility of the server or prober to close it faster, but most servers i seen

[2022-10-17 07:30] fschmied commented on #2880
Not stale.

[2022-10-17 08:07] aslafy-z commented on #223
Not stale

[2022-10-17 13:25] robin-wayve commented on #2883
So there isn't going to be a 20.04 image? Only 18.04 and then 22.04?

[2022-10-17 13:28] zerodefect commented on #2883
It looks that way. It would be nice to have confirmation.

[2022-10-17 15:31] jabbera commented on #2883
https://github.com/Azure/AKS/issues/2883#issuecomment-1199944067

[2022-10-17 19:51] asubmani commented on #1480
Do you have a blog post or some high level overview of the steps? Did you have to make any changes to kubernetes deployments that reference the aadpodidently label?

[2022-10-17 20:07] pinkfloydx33 commented on #1480
No blog, sorry... But it's rather simple:

1. Create federated credentials in Azure
2. Add labels and annotations to Service Account associated with deployment
3. Restart deployment

You can remove the pod identity labels whenever (or never). The above is dependent on your app using newer versions of the azure identity / msal libraries. For example if you have a dotnet app connecting to SQL server

[2022-10-17 21:46] asanjabi commented on #1480
@asubmani This might be helpful for you: https://learn.microsoft.com/en-us/azure/aks/workload-identity-migration-sidecar

[2022-10-18 18:15] ashmuck commented on #1767
Any updates on this?

[2022-10-18 18:44] austonli commented on #1736
Hi we are currently running our private preview to enable filtering data by frequency and namespaces.

Because this is still in preview, we require allow-listing the target subscriptions/clusters in order for this to work. Can you please fill out this [form](https://forms.office.com/r/1WLhGJaeJz), and we will be in touch shortly.

[2022-10-18 20:07] kaarthis commented on #2306
This is not in our plans as of now .  After some internal discussions we believe from Infra stand point we are unable to support this at this point in time.

[2022-10-18 21:27] carvido1 commented on #3276
Hello @hterik

To understand better your request.
* Does the DaemonSet that is configured on the tainted NodePool has a toleration ?
* Does the pod to be scheduled has a toleration as well ?

I'm not understanding the purpose of what you want to do. If you require to schedule pods to a nodepool after a DaemonSet pod has started maybe you can use an init-container that does a curl to a health check

[2022-10-18 22:09] carvido1 commented on #3260
Hello @rob2universe

First at all, when you create a AKS cluster the way you have created it comes without a namespace called `ingress-nginx`. Therefore when you are executing

[code]
it is not clear to me which IP address you are getting.

My thoughts are that probably you are getting the public IP address from an already existing kubernetes cluster that is setup as current context at that moment

[2022-10-19 00:28] #3191 closed

[2022-10-19 04:57] hterik commented on #3276
Yes, the DaemonSet that fully initializes the node will require toleration for the taint. Other pods should not have the toleration.
If initializing the DaemonSet takes very long, it may be better to schedule the pod on an old node, if such resources become available first. Otherwise the pod will be scheduled on the new node and wait very long for the DaemonSet to start up completely. In our case

[2022-10-19 07:11] AbelHu opened #3278 "[BUG] You may hit SSL/TLS handshake failures after updating to AKS Windows images 17763.3532.221012 (WS2019) or 20348.1129.221012 (WS2022)"
**Describe the bug**
You may hit SSL/TLS handshake failures after updating to AKS Windows images 17763.3532.221012 (WS2019) or 20348.1129.221012 (WS2022). It is a regression issue in Windows month security patch 10B in October, 2022 and is fixed in 10OOB.

Reference:
- WS2019: [October 17, 2022—KB5020438 (OS Build 17763.3534) Out-of-band](https://support.microsoft.com/en-us/topic/october-17-2022-k

[2022-10-19 07:55] johannordincab commented on #2988
@liamfoneill we have now started a case with ms. while waiting for that we have created a seprarated nodepool for our most important environments, which seems to have stabilized those somewhat. we think that the problems are connected to the amount of "movement" (ie deploys, scaling) on that node, hence separating dev-environments from our more important environments.

[2022-10-19 08:12] liamfoneill commented on #2988
@johannordincab that is exactly what my customer has ended up doing too (separating dev environments to separate clusters). It seems that with some of these inefficiencies in the HNS in Windows (and potentially other things), the more node, Kubernetes services etc you have in your cluster then any 'movement' seems to cause more issues the more things it needs to update (at least that is my underst

[2022-10-19 12:33] agronholm commented on #2732
Is there an open issue we could follow?

[2022-10-19 14:30] ethomson commented on #2715
This is definitely fixed. Please just close this so that I stop getting spammed for an azure PM to pay attention?

[2022-10-19 16:35] seguler commented on #2125
Hi @romlod, others

This feedback is valid. However, I'd like to understand a bit further about the overcommitment.

We strongly recommend customers use a [dedicated system nodepool](https://learn.microsoft.com/en-us/azure/aks/use-system-pools?tabs=azure-cli) for their cluster to be able to host these system pods. This is to ensure the system stability and reserve (I recognize the overcommitment)

[2022-10-19 16:45] romlod commented on #2125
Hello. We use a dedicated system node pool. However, even if running a node in a user node pool, each of these nodes minimally contain pods like omsagent, csi-*, kube-proxy, cloud-node-manager and azure-ip (maybe even more). If you look at the pod cloud-node-manager, it has a cpu requests of 50m but csn burst to 2000.

By having these kind of numbers, no need to take this into account. So having a

[2022-10-19 16:58] kaarthis commented on #2880
Since we are now in 1.24 version is it reproducible for the latter K8s versions too ?

[2022-10-19 17:06] kaarthis commented on #2014
Typically for Auto upgrade (Upgrader) can take upto 1 day (ideally few hours) from the start of the Window to effect the upgrades this is something we noticed internally and are looking to document it in the Public docs soon. We shall try to improve the accuracy of the upgrader wrt to schedule as best as possible in future.

[2022-10-19 17:06] kaarthis commented on #2962
Question 1:
Would an "unplanned/reactive" operation from the first point be also applied if no planned maintenance is configured by the customer? What are examples of such operations?

These are essentially super corner cases which should typically not happen (I have not seen this happen over the last year) . These maybe Infra issues (undetermined).

Question 2:
In https://github.com/Azure/AKS/iss

[2022-10-19 17:06] #2962 closed

[2022-10-19 17:06] #2014 closed

[2022-10-19 17:08] kaarthis commented on #2540
@scottstout  Looks like our dependencies may not be available to GA this till Mid of CY2023.  What is the strong business case / need we can consider that and help to prioritize it up the stack.
What is this blocking ? How is it being addressed today without the GA ? Any monetary / compelling business narrative will help here.

[2022-10-19 17:28] pierluigilenoci commented on #2306
@kaarthis sure enough.

![Sure enough](https://user-images.githubusercontent.com/36044817/196762330-aeafc854-06a8-4cc0-b09d-6ed054451c46.gif)

[2022-10-19 17:32] pierluigilenoci commented on #2306
It seems incredible to me that Microsoft hasn't been able to find a remnant of a time in 18 months to develop a feature to prevent its customers from wasting thousands of dollars.

![Money](https://user-images.githubusercontent.com/36044817/196763649-da5f7371-45cb-4bdf-95b6-7ba4e4069846.gif)

[2022-10-19 17:58] lupusllc commented on #2306
Is there any good reasons why this simple feature request, that will help to reduce wasted resources, is being denied?

[2022-10-19 20:24] rgarcia89 opened #3279 "[Feature] Set zoneBalance of virtualMachineScaleSets to true if multiple zones are selected"
**Is your feature request related to a problem? Please describe.**
I am a bit frusted with the AKS logic when it comes to creating a cluster that spreads over multiple availability zones. My problem is that I want a 3 node cluster to be spreaded over zone 1, 2, 3. So that each zones hosts one node. However things are looking differently currently as `zoneBalance` in the `virtualMachineScaleSets` i

[2022-10-20 07:49] mblaschke-daimlertruck commented on #2125
@seguler
AKS Pods are running on overcommit even on non System Nodes. As a possible fix AKS users have to run a pause container which just reserve the overcommit memory and only run AKS pods on system nodes and nothing else.
This leads to the question why system nodes are not tainted for other pods if they should not been used for other workloads.

But also on System nodes the AKS Pods are overcom

[2022-10-20 16:11] anhlqn opened #3281 "[Question] How to tie AKS release versions to the release notes"
**Describe scenario**
How to properly review and perform monthly AKS upgrades.

**Question**
Our procedure is to upgrade our AKS clusters to the latest patch version monthly. Since it's not the first time that upgrading to the latest patch version breaks some of our apps, we want to review the release notes instead of just upgrading and waiting for something to break. The challenge here is how to

[2022-10-20 17:28] CrispySipp commented on #3201
This bug is persisting.  Anyone from Microsoft interested in suggestions?

[2022-10-20 20:40] mandar-s95 opened #3282 "Fluentbit TLS verification broken on Azure"
**Describe the bug**
Fluentbit gets k8s metadata directly from the kubelet. On Azure, TLS errors were seen in fluentbit deployment (not seen on other providers).

**To Reproduce**
See error - Looks like a variation of [Error io after upgrading to fluent-bit 1.7.0 from 1.6.10: [filter:kubernetes:kubernetes.0] upstream connection error · Issue #3077 · fluent/fluent-bit](https://github.com/fluent/flu

[2022-10-20 23:54] AbelHu commented on #3278
AKS Windows images 17763.3534.221019 for WS2019 and 20348.1131.221019 for WS2022 are available in all regions. You can update the node image of your Windows agent pools to these versions to fix the SSL/TLS handshake issue in 17763.3532.221012 (WS2019) or 20348.1129.221012 (WS2022).

[2022-10-20 23:54] #3278 closed

[2022-10-21 05:46] sozercan commented on #3274
@jiashun0011

[2022-10-21 05:49] sozercan commented on #3248
@jiashun0011

[2022-10-21 15:25] joshuadmatthews opened #3283 "[BUG] DAPR extension - Update failed for this resource, as there is a conflicting operation in progress. Please try after sometime.""
**Describe the bug**

I have dapr installed with the AKS extension.  I can see in the helm history that it updated to 1.9.0 on 10/20/2022.

Since then whenever I do a Bicep deploy of my environment dapr fails with

[code]

There is no other deployment operation in process when the dapr extension deploy is running.

I don't see anything stuck inside AKS, and no events are being thrown in KubeEvent

[2022-10-21 20:06] MrImpossibru opened #3284 "[BUG] AMPLS with disabled public query breaks AKS Insights"
When Log Analytics Workspace for AKS Insights is attached to the AMPLS and have a disabled public query I'm getting errors trying to use AKS Insights. And I have access to the network and DNS resolves correctly.

**Expected behavior**
It works.

**Screenshots**
![image](https://user-images.githubusercontent.com/29628534/197280172-61f4d745-04c2-4261-b1a1-235e28bd41ef.png)

[2022-10-23 17:00] jkroepke opened #3286 "[Feature] Workload Identity MutatingWebhookConfiguration failurePolicy"
**Is your feature request related to a problem? Please describe.**
In some rare condition, pods are not mutated by the azure-wi-webhook-webhook-service, because the failurePolicy is set to Ignore by default.

**Describe the solution you'd like**
Set the failurePolicy to fail by default. This garantuees that pods with mentioned annotations get mutated. Otherwise, the pod misses the injected environ

[2022-10-24 06:27] mainred commented on #3027
1.23.5 was planned to be removed from AKS when the hotfix is ready, and it takes about 2 weeks to roll out aks release in all public regions. So there's a gap between we are supporting 1.23.5 and the release to remove 1.23.5 is rolling out.

Since the patch version 1.23.5 is now not supported in AKS, I kindly suggest you to upgrade your cluster to an supported version to fix the issue, thanks.  @s

[2022-10-24 07:47] denisp13 commented on #2712
+1 looking forward to having Karpenter onboarded to AKS

[2022-10-24 15:48] cargious commented on #2934
@allyford @palma21 can we have an implementation timeline for what @palma21 [proposed](https://github.com/Azure/AKS/issues/2934#issuecomment-1151621093)?

[2022-10-24 15:57] CocoWang-wql opened #3287 "Migration from non-RBAC to RBAC"
**Is your feature request related to a problem? Please describe.**
We used terraform to create AKS clusters which are not enabled RBAC by default. Now all the non-RBAC enabled clusters could not use many security features such as TLS bootstrap, cert auto-rotation.

Currently we need to rebuild but no other good choice to migrate cluster from non-RBAC to RBAC.

**Describe the solution you'd like**

[2022-10-24 17:41] dloftus98 opened #3288 "SNAT allocated ports reset during scaling operation"
**Describe the bug**
We scaled a node pool and or SNAT port allocation settings were reset.  We have a support tracking number: 2210170040007066 that we are not getting any traction on.

**To Reproduce**
Steps to reproduce the behavior:
Scale up a node in the node pool and observe the allocated SNAT port graph.  A screenshot is included in our support case.

**Expected behavior**
SNAT settings are

[2022-10-24 17:41] dloftus98 commented on #3288
Looks like this was an issue 2 years ago as well:
https://github.com/Azure/AKS/issues/1673

[2022-10-24 18:40] rehan2908 opened #3289 "AKS nodepool for ManagedCluster doesn't get upgraded even though control panel is upgraded"
AKS nodepool for ManagedCluster doesn't get upgraded even though the control panel is upgraded
-->

**What happened**:  when using ARM template, we are upgrading from 1.22.6 to 1.23.8 , AKS node pool for ManagedCluster doesn't get upgraded even though the control panel is upgraded

**What you expected to happen**: upgrade of AKS version of NodePool to 1.23.8

**How to reproduce it (as minimally an

[2022-10-24 19:01] joshuadmatthews commented on #3283
I attempted to uninstall and reinstall the extension, but it was getting stuck in Creating status when reinstalling. Ultimately, I had to tear down AKS and stand it back up, and after that I was able to redeploy without issue. This works for a test cluster but ideally there would be some other way to resolve this issue for production infrastructure.

[2022-10-24 20:56] #1426 closed

[2022-10-25 01:00] #2484 closed

[2022-10-25 06:53] aysabzevar commented on #3208
At the moment *Azure CNI Overlay is currently only available in US West Central region.*

Could you let me know when Azure CNI Overlay will be available for other regions, i.e. West Europe?

[2022-10-25 08:39] smartaquarius10 opened #3290 "How to clean stale images from containerd environment in AKS?"
Team,

As far as I know AKS now use containerd in the backend. There are lot of stale/unused images left in the container environment of our AKS nodes.

Is there any reliable, Microsoft suggested and production ready procedure to remove those old and vulnerable images.

Kindly suggest. Thank you.

Kind Regards,
Tanul

[2022-10-25 08:59] MaryamTavakkoli opened #3291 "Setting resource lock on a resource in MC_ resource group prevents nodepool from scaling down"
**Describe the bug**
We aim to add a Delete lock to the MC_ resource group. If the lock is set to the RG directly, it would be inherited to the all underlying resources in that RG by default. As a workaround, we set the lock to one of the resources under MC_ resource group and as a result the RG itself is also locked. This is accepted behavior, however, while there is no lock on VMSS, it still doe

[2022-10-25 09:58] stackErr-NameNotResolved commented on #2712
Would be very helpful

[2022-10-25 10:40] raorugan commented on #1479
We are planning to launch the KEDA add-on for AKS by end of December 2022. Will post more details as we get nearer to the launch date.

[2022-10-25 14:42] asubmani commented on #1479
would be nice to have migration guide (if applicable). We have KEDA installed manually in a few clusters and are looking for some high level migration plans.

[2022-10-25 16:29] flmmartins opened #3292 "[Feature] Upgrade - Allow node drain to be customised or change upgrade process due to PV/zone affinity"
**Is your feature request related to a problem? Please describe.**
We use Hashicorp Vault in AKS. We have a situation where Consul needs to be running in a specific availability zone due to PV. We have Pod Disruption Budget that says only 1 Consul can be unavailable. Even setting Pod Disruption Budget and MaxSurge in nodepools it gives downtime.

When upgrading via AKS:

**Nodepool Max Surge is 33

[2022-10-25 19:18] grzesuav opened #3293 "[Feature] Node should have label of corresponding Virtual Machine resource id / VM name"
**Is your feature request related to a problem? Please describe.**

Each Node in AKS cluster have corresponding VirtualMachine/ VirtualMachineScaleSet. This information should be exposed via label on the node object, to make it easy to identify the underlying resource in azure.

It would be needed to cross reference metrics from Azure Metrics portal with other metrics, exposed via i.e. kube-state-

[2022-10-25 19:51] smartaquarius10 commented on #3290
Can we update these values in existing node pool of VMAS cluster

https://learn.microsoft.com/en-us/azure/aks/custom-node-configuration

[2022-10-25 22:12] naioja commented on #1788
For AKS clusters deployed with CNI dynamic IP allocation I can see Azure Front Door PLS not working correctly, any hints what the issue could be?

[2022-10-26 06:10] mykolaichuk commented on #3291
I have the same issue. Is there any doc about how to treat resource locks against AKS properly? For example, overcoming the accidental removal of public IPs is crucial. But when we apply resource lock on at least one resource in the MC_RG resource group, on the AKS overview blade we see a message like this 'The infrastructure resource group 'RG-...-Resources' is locked or contains locked resources

[2022-10-26 07:48] BrianGuo987 commented on #2452
Hello guys,
Thanks for the new release.
We just upgrade from1.15 TO 1.22 then aks 1.23.12.
Now we have konnectivity and also tunnelfront.
Both are runnig. But the problem is we don't need tunnelfront anymore and it's still running and trying to ssh.connect to api server every 5 seconds. The tunnel front pod is restarting every 10 minutes.

Please can i know any advices on the resrarting tunnelfron