[2019-12-16 07:12] iocuydi opened #1356 "How to optimize cluster cost for infrequent batch compute?"
When using the command

az aks nodepool delete --cluster-name $mycluster --name $mynode --resource-group $mygroup--no-wait

I get this error:  Operation failed with status: 'Bad Request'. Details: AgentPool APIs supported only for clusters with VMSS agentpools. For more information, please check https://aka.ms/multiagentpoollimitations.

This caused me to accidentally get billed and spend $100 bec

[2019-12-16 10:53] kaluzaaa opened #1357 "Can't create a private cluster with byon and kubenet"
**What happened**:
Cannot create a private cluster with byon and kubenet using az cli
[code]
**Environment**:

az --version
azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
aks-preview                       0.4.24

[2019-12-16 13:54] EnricoOr commented on #1208
Hi @jluk We would really appreciate some ETA from Microsoft on this since are stuck on istio 1.2.x and the official support for this version ended last week.
We would like to update istio without a major change in the configuration like disabling SDS.

[2019-12-16 14:19] dpiessens commented on #1208
@jluk We have compliance requirements that are putting us into a corner between version support and security. We need this issue prioritized and released ASAP... 3+ months is too long to wait in Kubernetes world.

[2019-12-16 15:22] brudnyhenry commented on #1320
Hi,
In my case situation is now that DNS resolution works only on in pods scheduled the same node where CoreDNS pods are running (I have two nodes in AKS cluster).
As you can see two coredns pods are running on the same node
[code]

Shouldn't CoreDNS deployment be distributed across all nodes ? t

[2019-12-16 17:08] guitmz commented on #1320
That would be a better implementation IMO but no way to do it from our side. CoreDNS autoscaler configurations are not super clear (need to investigate further).

Since I've change my cluster to kubenet, I was not seeing this issue anymore but since 1h ago it started happening again suddenly. This service is not production ready by any means.

[2019-12-16 17:44] jnoller commented on #1320
The issue is still Azure Disk throttling of your OS disks. AKS defaults to 100gb OS disks for all clusters, you can increase this via ARM however the maximum is 2gb. This means that docker IO, logging, metrics, monitoring, the kernel, etc all share the single OS disk IO path.

As Azure uses network attached storage for OS disks these have both a hard quota on bandwidth *and* file operations / sec

[2019-12-16 19:30] jluk commented on #1356
@iocuydi can you verify your cluster is based on VMAS or VMSS? This should be available with a GET on the cluster which will populate a vm-set-type. Copy/pasting the sanitized output from an `az aks show` would help a lot.

[2019-12-17 09:12] iocuydi commented on #1356
{
  "aadProfile": null,
  "addonProfiles": null,
  "agentPoolProfiles": [
    {
      "availabilityZones": null,
      "count": 2,
      "enableAutoScaling": null,
      "enableNodePublicIp": null,
      "maxCount": null,
      "maxPods": 110,
      "minCount": null,
      "name": "nodepool1",
      "nodeTaints": null,
      "orchestratorVersion": "1.13.12",
      "osDiskSizeGb": 100,
      "osTyp

[2019-12-17 12:18] acaraion commented on #173
Hey there, any updates on this?

[2019-12-17 15:00] lomori commented on #1041
We are experiencing the same issue. Could you share how it got resolved?

[2019-12-17 16:21] jnoller commented on #1041
Please see this comment on next steps and details:

https://github.com/Azure/AKS/issues/1320#issuecomment-566166756

@cwebbtw  @lomori

[2019-12-17 18:14] jluk commented on #1356
@iocuydi I can't tell what the issue may be, my only other guess was the nodepool being targeted for deletion may have been a different resource unintentionally. Do you have a support ticket we can reference?

[2019-12-17 18:17] jluk commented on #1357
@sauryadas could you take a look at this?

[2019-12-17 18:18] sauryadas commented on #1357
@kaluzaaa which region are you trying?

cc @feiskyer

[2019-12-17 21:52] nicksc423 commented on #925
This might be better for a feature request, but the ability to change the log level would be nice

[2019-12-18 01:45] nilo19 commented on #1313
The bug has been fixed by https://github.com/kubernetes/autoscaler/pull/2613.

There will be a hotfix soon.

[2019-12-18 05:15] brudnyhenry commented on #1320
Hi,
Small result of the testing. When pod is running on the same node as CoreDNS pods:

[code]

But when pod is running on the same node as CoreDNS then everything works fine
[code]

We are using basic Networking and we don't use  VMSS.

[2019-12-18 06:44] Spaceman1861 opened #1358 "Live cluster monitoring "Node memory utilization %" does not match Non-Live"
**What happened**:
I have recently enabled live monitoring and noticed a difference between the live and none live memory graphs that I cant really explain.
**What you expected to happen**:
I would expect the charts to match each other for the same time period

![image](https://user-images.githubusercontent.com/7098812/71062160-8f962380-21b5-11ea-9b54-13ce2c8ed1c2.png)

**How to reproduce it (as m

[2019-12-18 07:13] kaluzaaa commented on #1357
@sauryadas west europe

[2019-12-18 10:13] heoelri commented on #205
@palma21 any news on this? I've another customer with a simmilar request. They want to route all egress traffic through their corporate proxyserver infrastructure. Is/will this be a supported scenario?

The options i was thinking about are using the regular egress filtering way via Azure Firewall + a deamon set that configures a few things (apt) to use a proxy server (but i'm not sure if that's a

[2019-12-18 10:53] nirp123 commented on #1050
+1
AKS multi node pools without node count = 0 is useless.
please hurry up with this feature

[2019-12-18 10:54] nirp123 commented on #52
**+1**

[2019-12-18 12:19] bnawijn opened #1359 "AKS deployments using ARM conflict with Kubernetes Load Balancer when using a static IP address"
**What is the goal**:
We want to deploy AKS using ARM and have the same static IP address for ingress and egress on the cluster.

**What happened**:
We were unable to use the same IP address for ingress and egress.

**How to reproduce it (as minimally and precisely as possible)**:
We have a static IP address deployed in it's own resource group within the subscription where we want AKS to be deploy

[2019-12-18 13:18] lomori commented on #1041
Not sure if that's the same issue. We found out yesterday that even communication inside the cluster is broken. DNS is failing because pods can not contact the DNS service in the first place. No service can be reached from any pod. Internal cluster routing is broken.

[2019-12-18 13:31] adamcarter81 commented on #980
Is there any update yet? It would be really helpful for scheduling an application release on AKS with Windows nodes.

[2019-12-18 19:26] iocuydi commented on #1356
@jluk I recreated the aks cluster with the same command as I had used previously, then used az aks show on that. I had to delete the entire original cluster right after posting the issue because it kept billing me. Is the fact that it is of type VMSS a problem? Should it be VMAS?

[2019-12-18 20:31] palma21 commented on #1280
Thanks for the update @kalioz

@maadtechie we are currently on image 1.0.30 (we had 29 in between) do you still see this? That is not expected.

[2019-12-18 21:22] syedhassaanahmed commented on #711
+1 to this issue. If we're to treat our AKS clusters as cattle and not pets, we should be able to provision them in reasonable amount of time. ~15 minutes is not a reasonable amount of provisioning time for a 3-Node cluster with default VM size.

[2019-12-18 21:40] jluk commented on #1356
Only VMSS clusters support the `az aks nodepool` commands, so the error above is expected when trying to operate with the nodepool cmd on a VMAS based cluster.

[2019-12-18 23:58] iocuydi commented on #1356
@jluk I think I may have accidentally made a VMAS cluster last time. My new one is VMSS. The aks nodepool delete command now returns "Operation failed with status: 'Bad Request'. Details: Primary agentpool cannot be deleted."

Is there any way to delete this primary nodepool? What I want is to be able to deploy code on kubernetes quickly, but not have to pay hundreds of dollars/month when it isn't

[2019-12-19 00:13] jluk commented on #1356
Got it - that makes more sense.

That error is accurate, as a control plane requires at least one active agentpool. There are system pods that are required to run for your cluster to function. You may find input elsewhere that you can scale the underlying IaaS tied to the cluster down to zero, however this is not a supported scenario in AKS. Doing this sends your cluster out of support and I don't

[2019-12-19 05:53] oak13 commented on #1069
Hi,

Has the hotfix been prepared?

Thank you

[2019-12-19 05:57] levimm commented on #1357
@kaluzaaa I just did a test create with byon in westeurope successfully. Could you try to create again? We had a transient network issue and your cluster is already deleted yesterday.

[2019-12-19 06:26] iocuydi commented on #1356
Thanks!! So for AKS at an absolute minimum I'd pay $50/mo to have a cluster just exist for a month and not be used?

I was trying to avoid just having a VM that I create/destroy every time, but may resort to this. Other than slightly long creation/deletion time, can you think of a downside of recreating AKS clusters each time? We these operations fail after a while/would I hit some kind of limit o

[2019-12-19 07:52] partha-sarathi-sarkar commented on #527
@hassanselim0 while provisioning AKS somehow i put wrong credentials of client id and secret.
I am assuming that if i update aks with correct service principal and i am assigning service principal for `ACR pull` role on ACR then AKS Cluster should perfectly without error coming `ImagePullBackOff`

[2019-12-19 12:29] kacurez opened #1360 "missing azure-ip-masq-agent deamonset deployed into aks cluster"
**What happened**:
I want to change nonMasqueradeCIDRs setting to allow pods connect to the whole vnet address space with own assigned IP address instead of node IP address. However I notice there is no `azure-ip-masq-agent` running in the kube-system deployment where it should be, see the following list of all pods running in the newly deployed aks cluster:

[code]

**What you expected to happen*

[2019-12-19 13:17] Kinjara opened #1361 "AKS Interal network Routing - dependency on subnet's ability to support egress to internet."
**What happened**:
Using "_kubectl -n default exec -it -c sleep <sleep-pod> --nslookup httpbin.default.svc.cluster.local_"

With the Egress NSG Rule (any, any, any, internet, deny) on the subnet in which AKS resides to block internet results in:
_Error from server: error dailing backend: dial tcp 10.2.0.5:10250 i/o timeout_

When removing the Egress rule for blocking internet is removed; the respo

[2019-12-19 17:39] palma21 commented on #1304
Thanks @RichardNixon52
we'll apply v1.6.2

We've finished patching all clusters and are just sending the last messages, we're currently in Holiday freeze and we'll proceed with the rollout in Jan. I'll post back here once it starts and finishes

[2019-12-19 18:04] jluk commented on #1356
I would agree the use case fits ACI very well. You can recreate AKS clusters as well as needed, if you're okay with that operation flow. You should have no issues in limits there.

What's the need for running docker? Do you need to do image building / use ACR build?

+ @dkkapur from ACI team for thoughts too

[2019-12-19 21:23] cartyc commented on #1355
I’ve used this method in the past successfully

https://github.com/coreos/tectonic-docs/blob/master/Documentation/admin/add-registry-cert.md

[2019-12-20 00:26] sauryadas commented on #948
Feature has been made available in preview in 7 regions listed in the doc.

https://docs.microsoft.com/en-us/azure/aks/private-clusters

I am closing this issue . Please let me know if you still want to keep it open for some reason

[2019-12-20 00:26] #948 closed

[2019-12-20 00:36] sauryadas commented on #756
There are 2 different items:
1) Rotating certs used for communication between API server, kubelet, etc. There was no way to rotate until early last month when we rolled this feature.
https://docs.microsoft.com/en-us/azure/aks/certificate-rotation

2) because there was no way to rotate certs or invalidate certificates, even if a team member got kicked out of a project and had his kubeconfig, he cou

[2019-12-20 00:36] #756 closed

[2019-12-20 00:38] sauryadas commented on #1044
@patpicos
you cannot restrict
ntp.ubuntu.com UDP:123
*.hcp..azmk8s.io HTTPS:443, TCP:22, TCP:9000
*.tun..azmk8s.io HTTPS:443, TCP:22, TCP:9000
ntp is required for time sync, and the other 2 to connect to the api server

Feature is GA now.
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-12-20 00:41] sauryadas commented on #1349
@feiskyer I think this was only implemented in the core cli >0.76 but not in the cli-extension. Do we need to manually port fixes in both core cli and cli extension or a new version of CLI extension always builds on the latest core cli version ?

[2019-12-20 00:42] sauryadas commented on #1357
@kaluzaaa can you confirm if this is still an issue ?

[2019-12-20 01:37] palma21 commented on #1253
Closing as the fix has rolled out.

[2019-12-20 01:37] #1253 closed

[2019-12-20 04:45] feiskyer commented on #1349
@sauryadas I think it's not when `--enable-managed-identity` is true. we may need to implement it first in the extension and then port to Azure CLI.

@norshtein could you work on this?

[2019-12-20 06:41] sauryadas commented on #1349
@norshtein please create a work item and work on this in this sprint if time permits. otherwise we can include it in the next sprint..

[2019-12-20 08:38] kaancfidan commented on #52
We need this functionality in our use-case too.

We are currently running multiple node pools in AKS and one of those contains GPU instances (NCv3) and they are quite costly. The GPU workload is only expected during work hours and I would like to be able to scale it down to 0 (while keeping the scales of the other nodepools non-zero) during night and scale it up again using a cronjob before work h

[2019-12-20 09:31] mlushpenko commented on #52
@kaancfidan my previous comment was hidden as maintainers found it disturbing, so not sure if you can see it. I'll put "constructive part" of my post here, I think you can use it, for now, to achieve what you want.

So, what we are doing manually for a single node per node pool, you could put in a cron job.

[2019-12-20 09:48] kaancfidan commented on #52
@mlushpenko Thanks for the pointer. Although I do not like to manually manage node status in a k8s environment, this might be a good workaround for the time being.

[2019-12-20 10:53] ball-hayden opened #1362 "Container creation intermittently takes a long time"
**What happened**:

A pod was suck in the "ContainerCreating" state for ~7 minutes.

The events for the pod are as follows:

[code]

**What you expected to happen**:

The container to be scheduled quickly.

**How to reproduce it (as minimally and precisely as possible)**:

Unknown. Intermittent fault after creating a new pod

**Anything else we need to know?**:

The event `FailedCreatePodSandBox:

[2019-12-20 12:22] mlushpenko commented on #52
@kaancfidan our prod cluster has 4 node pools, 3 of them with this hack and autoscaling enabled, works well so far, but we have less than 10 nodes in total and running it in production for a bit more than a month, so can't say too much about stability.

[2019-12-20 14:03] libudas commented on #1208
@jluk Please can we have date as the Istio world is moving fast and we are stuck with the old version because of this issue

[2019-12-20 16:42] ondrejhlavacek commented on #1339
possibly related to https://github.com/Azure/AKS/issues/1216 and probably not happened during the period i have indicated

[2019-12-20 16:55] bhicks329 opened #1363 "Node with SchedulingDisabled reported as "Ready" in the portal."
**What happened**:
Kured cordoned a node ready for a reboot and update. This didn't complete and the node was left with the status `Ready, SchedulingDisabled` and unable to take future workloads. This is not reflected anywhere within the portal nor in the metrics so cannot be alerted on.

**What you expected to happen**:
A node that is cordoned and cannot be used for workloads should not be marked

[2019-12-20 17:07] jnoller commented on #1322
Please see this comment for additional information: https://github.com/Azure/AKS/issues/1320#issuecomment-566166756

[2019-12-20 17:07] jnoller commented on #1362
See this comment for what is occurring, your worker node OS disks are throttled due to quota

https://github.com/Azure/AKS/issues/1320#issuecomment-566166756

[2019-12-21 12:42] ball-hayden commented on #1362
Thank you @jnoller.

Just to clarify is this an indicator that we've done something strange with our cluster config, or is this a general issue in the platform?

[2019-12-21 22:23] jnoller commented on #1362
It is a common IaaS misconfiguration (mis matched IaaS) largely due to lack of awareness of monitoring for these issues and load testing workloads with non synthetic load.

[2019-12-23 12:14] Kinjara commented on #1361
Never mind; its described functionality.

The endpoint has to be kept reachable for DNS;
"_UDP port 53 for DNS is also required if you have pods directly accessing the API server._" ~https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-aks-clusters

[2019-12-23 12:14] #1361 closed

[2019-12-23 15:36] davemedvitz commented on #205
Working with a Azure Gov customer who is required to go through a proxy for their AKS deployment.  They've waited months for AKS, only to not be able to use it.

[2019-12-23 16:33] rhollins opened #1364 "AKS CoreDNS + Azure Prometheus - can't see metrics in log analytics"
I applied following oms config as configmap and only changed this row:
```monitor_kubernetes_pods = true```
https://github.com/microsoft/OMS-docker/blob/ci_feature_prod/Kubernetes/container-azm-ms-agentconfig.yaml

I can see metrics config when running curl on coredns pod:
```dnstools# curl http://<coredns_pod_ip>:9153/metrics```

I also deployed nginx ingress controller and can see it's metrics j

[2019-12-24 01:51] eosfor commented on #205
@davemedvitz , I assume this might be an answer

https://docs.microsoft.com/en-us/azure/aks/private-clusters

[2019-12-25 12:48] GM12Tick opened #1365 "AKS Internal Load balancer long latency"
**What happened**:
Intermittent slow response when accessing services exposed on internal load balancer from another aks in same region.  (> 800ms )

**What you expected to happen**:
very low latency.

**How to reproduce it (as minimally and precisely as possible)**:

Unsure, this happens on our environment and happens every few minutes.
We setup the clusters as follows:
1. Cluster A - includes se

[2019-12-27 04:52] vishnujanardhanan opened #1366 "az aks scale not working as expected"
**What happened**: az aks scale is not working as expected
No of nodes in cluster - 3
Subnet size - /25

Upgrading the kubernetes version failed due to unavailability of ip address in my subnet. Only option was to scale down the nodes to 2 and upgrade and scale up.

Tried to scale down and ckuster didnt scale down. Then tried deleting the node from portal, but kubectl was still showing 3 nodes. Th

[2019-12-27 20:08] frankvdbh opened #1367 "Windows Nodes NAT exclusion 10.0.0.0/8"
**What happened**: When creating an AKS cluster with a windows node pool, the windows nodes with CNI have by default a NAT exclusion for 10.0.0.0/8 and the CIDR range of the vNET is not added. When creating AKS cluster in an existing vNET that is not in 10.0.0.0/8, this results in traffic destined for other subnets in the vNET being natted.
For example vNET is 15.0.0.0/8
Subnet for AKS is 15.0.0.0

[2019-12-28 17:36] vinodhbasavani commented on #1206
Any work around on this issue. First time terraform apply command is failing . On next run, it is becoming successful.

[2019-12-30 12:33] piostelmach opened #1368 "Cluster autoscaler not working"
**What happened**:

After enabled cluster autoscaler, autoscaler not working. Logs from diagnostic:
W1230 11:58:50.752093       1 azure_cache.go:177] FindForInstance: Couldn't find NodeGroup of instance {"azure:///subscriptions/xxx/resourceGroups/mc_xxx/providers/Microsoft.Compute/virtualMachineScaleSets/aks-infra-15047659-vmss/virtualMachines/0"}

Rest of details in SR119123022000925

[2019-12-30 23:39] palma21 commented on #772
Increased to fs.inotify.max_user_watches = 1048576

[2019-12-30 23:39] #772 closed

[2019-12-31 12:58] esHack commented on #1364
Also have the same issue

Seeing these logs on oms agent

[code]

Seems like not finding prometheus config map

[2019-12-31 13:10] kaluzaaa commented on #1357
@sauryadas I checked everything again and everything works fine now. Thanks!

[2019-12-31 13:10] #1357 closed

[2019-12-31 15:50] EldarSagirov commented on #1228
Hi @hallgeirl, could you explain how you managed to enable MicrosoftMonitoringAgent  and collect logs? I tried to enable it during cluster creation and then on additional windows node pool, but logs from containers are still not available while other insight's metrics are collected.

[2019-12-31 17:13] mkosieradzki commented on #1044
ntp.ubuntu.com UDP:123

@sauryadas nope. VMICTimeSync is the answer - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync -> VMICTimeSync

[2019-12-31 18:31] porrascarlos802018 opened #1369 "Enable jobs and nodelost status on AKS."
**What happened**:
ACS its capable of showing a describe for PODs in nodelost, meaning autoscaler deallocated a node.

**What you expected to happen**:
AKS Managed should be able to show a describe of a POD in status nodelost. Meaning the node where the POD completed is no longer available.

**How to reproduce it (as minimally and precisely as possible)**:
recording available on internal SD 119122

[2020-01-02 16:42] vishiy commented on #1228
@EldarSagirov - I guess you could enable microsoft monitor agent thru azure policy, so all new nodes will get it auto (elastic) ?

[2020-01-02 20:03] tetlika commented on #1349
having same issue: when creating AKS with --enable-managed-identity , this does not work: https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration; any info when it will be fixed?

[2020-01-03 03:14] feiskyer commented on #1349
/assign @norshtein

[2020-01-03 08:21] tetlika commented on #1349
hey, I have tried this way:

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-managed-identity#3-grant-the-identity-permissions-to-access-other-azure-resources

so basically:

az role assignment create --assignee <servicePrincipalID> --scope <registryID> --role acrpull

and it did the job

[2020-01-03 09:50] iocuydi commented on #1356
Yep, need docker to build images and push to acr. I'd heard the suggestion of build pipelines on that other thread, but there's a bunch of other stuff that has to happen as well that seemed trickier to do with build pipelines. For now I'm going with creating/destroying the AKS clusters each time. Takes a bit longer but isn't a huge issue. Thanks again for your help!

[2020-01-03 13:39] Shenderchuk commented on #1187
Is there a way how to check which exactly VMSS generating traffic of these requests?
We have more than 10 AKS clusters in subscription and faced with this yesterday, can not find the "problematic" one.

[2020-01-03 20:27] JasonHaley commented on #1307
I'm seeing the same thing the past 2 days in my cluster but it only seems to be effecting cronjob pods. Same version of kubernetes 1.14.6

[2020-01-03 22:40] xxxxavier commented on #1087
Is there any way to check the `--authentication-token-webhook`  flag by `kubectl`? I am working on prometheus and get a 400 error to grab metrics from pods. I suspect it is the reason, but couldn't find a way to confirm it.

[2020-01-03 22:49] #1298 closed

[2020-01-03 23:51] djsly commented on #1087
Ssh on a node to verify the kubelet command line as well as the kubelet logs

[2020-01-04 09:48] andyzhangx commented on #1187
there is an internal way to query those traffic by providing your subs id, time, k8s version. @Shenderchuk

[2020-01-05 12:21] kobyepistema commented on #1187
@andyzhangx - Is this "Internal way" can be used on my account? (We are facing the same issue)

[2020-01-05 12:24] andyzhangx commented on #1187
@kobyepistema pls file support ticket, provide:
subs id, time, k8s version, how may vmss clusters in one subs, what's the workload you are running(e.g. disk volume attach/detach)

[2020-01-06 09:18] MikkelHegn commented on #1038
Awaiting upstream bug being fixed

[2020-01-06 13:57] RichardNixon52 commented on #1304
Hi @palma21
just got a couple of questions, is there a specific Kubernetes version that is required to use v1.6.2 CoreDNS version?
Is it necessary to recreate the clusters to upgrade the version?

[2020-01-06 13:57] RichardNixon52 commented on #1304
Hi @palma21
just got a couple of questions, is there a specific Kubernetes version that is required to use v1.6.2 CoreDNS version?
Is it necessary to recreate the clusters to upgrade the version?

[2020-01-06 13:57] RichardNixon52 commented on #1304
Hi @palma21
just got a couple of questions, is there a specific Kubernetes version that is required to use v1.6.2 CoreDNS version?
Is it necessary to recreate the clusters to upgrade the version?

[2020-01-06 14:47] hameno commented on #772
@palma21 Could you please expand on what changed? Has this been rolled out to Azure AKS? If so, which version? How do we get the fix?

[2020-01-06 14:49] andyzhangx commented on #884
back to this question again, there are two kinds of `Multi-Attach error` issues:
 - `Multi-Attach error for volume "pvc-e9b72e86-129a-11ea-9a02-9abdbf393c78" Volume is already used by pod(s)` (by design issue)
two pods are using same disk PVC, this issue could happen even using `Deployment` with one replica, check detailed explanation and workaround here: https://github.com/andyzhangx/demo/blob/ma

[2020-01-06 14:49] #884 closed

[2020-01-06 15:06] djeeg opened #1370 "Feature Request: AKS + VMSS + Ephemeral OS Disk"
Would like to use an ephemeral OS disk, can't seem to change this flag after VMSS created

[code]

aks-engine
https://github.com/Azure/aks-engine/tree/master/examples/disks-ephemeral
https://github.com/Azure/aks-engine/blob/master/pkg/engine/virtualmachinescalesets.go#L678-L680
https://github.com/Azure/aks-engine/issues/2145#issuecomment-541099749

something like
[code]

[2020-01-06 16:03] ball-hayden commented on #1362
Apologies @jnoller - I'm not following.

Are you saying that our choice of AKS is poor for our workload (which I wouldn't have thought was particularly disk heavy nor abnormal, and is low load in general), or are you saying that something is misconfigured on your end?

Looking at our node graphs we are seeing disk saturation - are you able to recommend a way of diagnosing what is causing this, or

[2020-01-06 16:19] jnoller commented on #1362
@ball-hayden No, the issue is that this is a common pitfall with kubernetes deployments, there are improvements AKS is going to make to make this more obvious, simple and clear. While those changes are ongoing you can follow the guide I posted here:

https://github.com/Azure/AKS/issues/1320#issuecomment-566166756

Specifically, IO paths can be saturated - in this case, the primary OS disk of your

[2020-01-06 16:19] ball-hayden commented on #1362
Thank you - we'll give that a go.

[2020-01-06 17:13] jluk commented on #1206
We are planning the AKS-side short term mitigation for CLI and other clients such as Terraform now that portal has been resolved. I've reached out to Tom for us to figure out how to mitigate the SP propagation latency for TF.

The long term improvement for AAD propagation is being discussed from Active Directory.

[2020-01-06 17:15] jluk commented on #1369
@marwanad / @palma21 fyi

[2020-01-06 17:17] jluk commented on #1367
@MikkelHegn fyi

[2020-01-06 17:17] palma21 commented on #1368
Confirmed an issue with virtual nodes and CA, fixed and rolling out

[2020-01-06 17:17] #1368 closed

[2020-01-06 17:22] jluk commented on #1358
@vishiy could you take a look at this?

[2020-01-06 17:44] vishiy commented on #1358
@jluk - The issue here is our charts is calculating % usage based on allocatable resources, where as live (from metricserver) is based on capacity. So the former will show lower usage where as live will show higher (as seen in the screens above). We are aware of this inconsistency & will be fixing this soon.

[2020-01-06 17:58] jluk commented on #1358
Thanks @vishiy could you share an ETA or respond on this issue when released? Will mark as known issue.

[2020-01-06 18:02] vishiy commented on #1358
Not sure about ETA, yet.

[2020-01-06 18:03] jluk commented on #1354
@maertendMSFT could you upgrade the version of jx in cloud shell to latest?

[2020-01-06 18:22] palma21 commented on #1304
Any supported k8s version on AKS. You will not need to do a cluster upgrade, core dns is one of the managed components.

[2020-01-06 19:01] palma21 commented on #772
Sure
Done in this PR: https://github.com/Azure/aks-engine/pull/1801
Merged in AKS Engine Release: https://github.com/Azure/aks-engine/releases/tag/v0.42.0
Released in AKS in https://github.com/Azure/AKS/releases/tag/2019-11-18

[2020-01-06 19:02] palma21 commented on #772
Any upgrade done after the AKS release date (2019-11-18) will have this change (since it's a node setting change it needs an upgrade)

[2020-01-06 19:49] hameno commented on #772
Thanks, will trigger upgrades as soon as possible

[2020-01-06 19:50] djeeg commented on #1356
I'm also looking for an optimal way to run a cluster assuming:
- always leaving the primary agentpool scaled to 1 (to keep AKS supportable)
- primary agentpool could be tainted
- another nodepool with Standard_D4s_v3 instances would run most workloads
- east us region
- guesstimated with pay-as-you-go rates
- per month cost
- excluding other costs (ip, dns, lb, etc)

| VM | VM/m | Disk | Disk/m |

[2020-01-06 20:30] palma21 commented on #1369
I don't think that is an autoscaler issue.

Which version is being used on ACS? I think that is just a difference in k8s versions behavior

[2020-01-06 20:31] palma21 commented on #1187
Also, @Shenderchuk there doesn't need to be a problematic one necessarily, the limits are cumulative, so it might be that the overall number of calls from the 10 clusters concurrently are hitting these limits.

What k8s versions are you using?

[2020-01-06 20:33] jason-epp opened #1371 "az aks create shows outdated help text for LB / VM settings"
Previously, we were creating clusters without specifying --load-balancer-sku, and a basic LB was created.  This was the case as of Oct 8 '19.
Now it is creating a Standard LB

I don't see a default value defined for --load-balancer-sku in the documentation...

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create

and it kind of implies that 'Basic' is the default...

[2020-01-06 20:53] plytro commented on #1371
https://github.com/Azure/AKS/releases/tag/2019-11-11

This change was detailed in the release notes in November.

[2020-01-06 20:58] plytro commented on #1371
https://github.com/Azure/azure-cli/issues/11642

[2020-01-06 21:50] jason-epp commented on #1371
what if we havn't update to that version of az?

~$ az --version
azure-cli                         2.0.75 *

command-modules-nspkg              2.0.3
core                              2.0.75 *
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
aks-preview                        0.4.5
azure-devops                       0.7.0
log-analytics

[2020-01-07 02:36] sekikatsu36 commented on #52
I contacted MS support desk with this question. They told me that the number of nodes couldn't be set to zero yet and requested feedback from the request site.

So I made the following post:
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/39377356-support-zero-node-clusters

I link it to this issue. I look forward to supporting zero-node clusters.

[2020-01-07 07:52] hameno commented on #1177
Same issue here, missing all relevant data needed to filter.

[2020-01-07 09:18] bhicks329 commented on #1177
This is a planned change to container insights (although not well communicated). It’s duplicate information and has been dropped to save on log size.

[2020-01-07 09:19] hameno commented on #1177
@bhicks329  And where do we get this information now? How do we filter our logs for those informations? I couldn't find any column for that?

[2020-01-07 09:28] bhicks329 commented on #1177
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-faq#i-dont-see-image-and-name-property-values-populated-when-i-query-the-containerlog-table

[2020-01-07 09:37] bhicks329 commented on #1177
It may seem like a pain at first but when your log analytics workspace costs more than your cluster, it makes sense 😉

[2020-01-07 11:43] speciesunknown commented on #882
@jnoller

This is not a duplicate of #232

The error here is "no such host" whereas #232 is about timeouts.

[2020-01-07 12:32] bjorn-ali-goransson commented on #77
@slack We had this (?) issue some time ago on our production cluster, it was an expired SP who was the culprit. How come an upgrade is even allowed without checking the SP validity beforehand?

I mentioned this to support but they just said we should check it beforehand. Outrageous if you ask me!

Note to others, with an expired SP your VMs will be created but not added to the cluster successfully

[2020-01-07 14:06] zloeber commented on #1187
So what I've read here is that for perfectly legitimate use cases, you know, standing up a cluster and deployment of resources on the new cluster, you can DDOS yourself. I've spent the better part of a few days now looking into why a cluster that worked without issues prior to a rebuild suddenly fails. I think that the answer is that I built and deployed it too quickly?

[2020-01-07 16:36] bhicks329 commented on #1208
Just built up a new 1.17 server on AKS - still the same problems however I did notice this entry ...

Warning  FailedMount  45s (x14 over 13m)    kubelet, aks-agentpool-89678198-vmss000001  MountVolume.SetUp failed for volume "istio-token" : failed to fetch token: the API server does not have TokenRequest endpoints enabled

TokenRequest is a feature that has been enabled by default since 1.12. It

[2020-01-07 17:35] jluk commented on #1205
Also sharing the upstream blog from 7/19 for more information which also notes the planned v1.20 deprecation for Ingress (in the extensions/v1beta1 API group).
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

K8s API deprecation policy below.
https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api

[2020-01-07 17:45] jluk commented on #1371
@jason-epp for that old CLI build it should still deploy basic lb / vmas by default. is it deploying the new configs when you try? it's also possible the preview extension impacts the settings, so it's worth trying with preview turned off.

Regardless the best path forward is to update to latest and specify the exact config you wish to use if you want to use older defaults.

I'm updating the text

[2020-01-07 19:55] jdamata opened #1372 "Nodes removed from azure load balancer when updated"
**What happened**:
Updating nodes in a VMSS causes them to be removed from the Azure load balancer

![Screen Shot 2020-01-07 at 2 51 57 PM](https://user-images.githubusercontent.com/33775101/71924589-45bdaf00-315d-11ea-8322-ba14539f3941.png)

![Screen Shot 2020-01-07 at 2 55 09 PM](https://user-images.githubusercontent.com/33775101/71924796-b795f880-315d-11ea-9b3e-181d19bd6763.png)

**What you exp

[2020-01-07 19:59] jrudley commented on #173
Same issue here
k8s version 1.14.8
kubectl version:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"1da9875156ba0ad4

[2020-01-07 21:43] jnoller opened #1373 "AKS Latency and performance/availability issues due to IO saturation and throttling under load"
**edit**: Please contact Azure support to assess if you are impacted.

# Issue summary <a name="summary"></a>

AKS Engineering has identified an issue leading to customers reporting service, workload and networking instability when running under load or with large numbers of ephemeral, periodic events (jobs). These failures (covered below) are the result of Disk IO saturation and throttling at the

[2020-01-07 22:18] jdamata commented on #1372
If I update the remaining nodes in the VMSS, the VMSS is removed from the loadbalancer:

![Screen Shot 2020-01-07 at 5 14 59 PM](https://user-images.githubusercontent.com/33775101/71933970-5d9f2e00-3171-11ea-9275-906ea824ce19.png)

I then need to re-add the VMSS to the loadbalancer and update the instances once again.

[2020-01-07 22:52] jdamata commented on #1372
Seems to be resolved in https://github.com/kubernetes/kubernetes/issues/80365, just need to upgrade to 1.15.7

[2020-01-08 00:00] #1372 closed

[2020-01-08 06:47] palma21 commented on #1187
Depending on how many clusters you have in one subscription, their respective kubernetes versions, the number of calls they are making (scale, upgrade), Cluster Autoscaling, and disk attach/detach calls, yes, that can happen when the Azure API quota thresholds are exceeded.

Without this you would be fine

The case from OP had 50 StatefulSets with Azure Disks attached and 300 stateless pods + a sc

[2020-01-08 06:47] #1187 closed

[2020-01-08 07:36] palma21 commented on #1338
Do you have any details on around how networking breaks?

What plugin are you using?

[2020-01-08 09:03] akav commented on #394
If you are using Azure firewall it is possible that there is a deny rule which blocks https traffic on the subnet for the cluster. Reviewing the firewall logs will provide an insight if this is the culprit.

[2020-01-08 09:34] olavt commented on #147
I tried hitting TAB twice after the "-s" and it only appended " -" and I got invalid syntax. This was from Azure Cloud Shell (Bash).

[2020-01-08 09:44] djeeg commented on #1373
Would using ephemeral OS disks https://github.com/Azure/AKS/issues/1370 alleviate this?

when the current default nodepool is
- managed OS disk, P10, IOPS ~100

if moving the docker-root with knode
- managed OS disk, P10, IOPS ~100
- ephemeral temp storage IOPS ~2500-3300

with ephemeral
- ephemeral OS disk, IOPS ~2500-3300

(ephemeral IOPS numbers plucked from)
https://github.com/Azure/aks-engine

[2020-01-08 10:23] asbjorne opened #1375 "Port exhaustion on Windows node makes DNS stop working on Windows Pods"
**What happened**:
DNS/name resolving (both internally and externally) stopped working on windows pods on a specific node.

From pod (the error response is immediate)
[code]

DNS works properly when running nslookup from the node.
[code]
Looking into kube-proxy logs I found:
`E0107 21:00:30.725221    6840 proxier.go:1212] Policy creation failed: hcnCreateLoadBalancer failed in Win32: The specified

[2020-01-08 10:47] palma21 commented on #1314
So a few things:

If you want to use your already existing IP for outbound your second command should be correct.
`az aks update -g rg -n name --load-balancer-outbound-ips public_ip_address_path`

If by address path you mean the IP resource ID, but by your description it seemed to work correctly.

Then you install nginx and you want that IP to also be the Inbound IP for your Nginx per your OP so I

[2020-01-08 13:11] andyliddle commented on #118
is there any fix for this yet?   I don't want azure-disk to be default in my cluster

[2020-01-08 13:12] jnoller commented on #1373
@djeeg not exactly. The iops are still capped - for example the same effect is met if you use a 2tb regular blob disk. All you do by moving it is expand your ceiling until the failure occurs.

This is why we are adding metrics/monitoring/alerting *and* we recommend customers do the same in addition to isolating data paths for things like Docker IO and container logging off of the single IO path, e

[2020-01-08 13:17] mihsoft commented on #1320
We are experiencing this same issue when using the Kured daemon. When the node scheduled for reboot is cordoned and drained, the CoreDNS container fails due to the PodDisruptionBudget, this then causes multiple CoreDNS pods to be scheduled on the same node and hitting the replica count, thus when the other node reboots the coreDNS does not get scheduled on the node, the SchedulingDisabled flag is

[2020-01-08 13:38] jnoller commented on #1320
The documentation will not be changed, we will work to fix the scheduling issue

[2020-01-08 13:41] SergeBerwert opened #1376 "AKS Pod update removed accidentally "dns name label" on the static Azure IP"
I Started last night the Kubernetes update to version 1.15.7. after updating our app was not longer available on the internet because front door could not find the IP anymore. After searching I while we figured out the AKS removed the "dns name label" on the static IP that was associated with the Kubernetes Service Object. In the Activity log, we could see that it was removed by the cluster for wh

[2020-01-08 14:10] zhiweiv commented on #1375
I got same problem several times too, my SR is 119112223001068, it is still pending at azure support side.

[2020-01-08 16:02] jnoller commented on #1326
Please also see this issue for intermittent nodenotready, DNS latency and other crashed related to system load: https://github.com/Azure/AKS/issues/1373

[2020-01-08 16:02] jnoller commented on #1322
Please also see this issue for intermittent nodenotready, DNS latency and other crashed related to system load: #1373

[2020-01-08 16:02] jnoller commented on #1320
Please also see this issue for intermittent nodenotready, DNS latency and other crashed related to system load: #1373

[2020-01-08 16:02] jnoller commented on #667
Please also see this issue for intermittent nodenotready, DNS latency and other crashed related to system load: #1373

[2020-01-08 16:02] jnoller commented on #102
Please also see this issue for intermittent nodenotready, DNS latency and other crashed related to system load: #1373

[2020-01-08 18:24] curtdept commented on #1376
Confirmed, happened to me as well. So much for no outage upgrade!

[2020-01-08 20:16] jdamata commented on #1337
I didn't experience this problem with upgrading to 1.15.7

Maybe this has been fixed and can be closed

[2020-01-08 23:26] jluk commented on #1337
@jdamata confirmed we have a fix for this. It should be releasing starting next week on release 2020-13-01

[2020-01-09 10:10] ams0 opened #1377 "calico-typha missing on 1.17 with kubenet"
**What happened**:

Clusters with kubenet+calico are not working under 1.17(preview)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

By SSH'ing into the nodes and using `docker logs` this log line:
[code]

and of course:

[code]
No idea why, I think that manifest comes from the masters.

**Environmen

[2020-01-09 10:31] ams0 commented on #1377
Same behaviour on 1.16.4

[2020-01-09 12:21] ams0 commented on #1377
I think I found the culprit:

on 1.15.7 the typha deployment uses the old API:

[code]

which clearly breaks on 1.16+. Is there a way to have that deployment fixed?

[2020-01-09 12:35] ams0 commented on #1377
Confirmed also that network plugin doesn't matter, it happens with `azure` as well.

[2020-01-09 12:42] PashaPash commented on #1375
Got the same issue. For me it manifested in infinite pod restarts with the following message:

It was quite easy to reproduce - on a 10lin+2win node cluster with a 100+ k8s services scaling any any windows deployment to 20+ pods hits that dynamic port limit, causing pod restarts.

Manually connecting to each windows node and expanding dynamic port range helps, at least until the next re-image/upda

[2020-01-09 13:19] zhiweiv commented on #1375
As described in https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/common-problems#load-balancers-are-plumbed-inconsistently-across-the-cluster-nodes:

I guess DSR will probably be available in Windows Server 2022, so we have to wait 2 years for k8s Windows to production ready?

[2020-01-09 13:55] edalferes commented on #1376
Problem happened to me too, using regions eastus2 region

[2020-01-09 13:58] mihsoft commented on #1320
Thanks @jnoller - Took a look through the guidance, our disk queue length peaked at 10 (during creation of the node itself) but stayed <1 until now. Reads/Writes are minimal.
If you would prefer, would you like me to log this feedback in a separate ticket?

In our scenario we created a new cluster as follows:
2 Nodes - D2s_v3 - basic networking - kubelet

We then installed the kubed daemonset and

[2020-01-09 16:56] andyliuliming commented on #1377
will fix this soon.

[2020-01-09 17:21] palma21 commented on #1376
I'm guessing you added the DNS label manually to the IP? That was not AKS it was kubernetes reconciling the state it has internally. That IP is controlled by kubernetes

To give it a DNS label you need to do it in kubernetes via `service.beta.kubernetes.io/azure-dns-label-name` on the spec.

With this, the DNS label will persist.

[2020-01-09 17:36] curtdept commented on #1376
LOL so you make us create and generally manage the public IP manually, but then obliterate its state via k8s reconciliation.

That's really inconsistent design and implementation.

[2020-01-09 17:42] SergeBerwert commented on #1376
Is there more documentation about that topic? a quick research indicates that there is not a single word about that feature mention in the official documentation.

[2020-01-09 18:36] ams0 commented on #1377
Please fix also: `calico-typha-horizontal-autoscaler` deployment.

[2020-01-09 19:40] xuto2 commented on #1314
Agree with what @palma21's analysis above. If you still have the issue you can file a ticket to us and we can help confirm the issues.

[2020-01-10 08:52] MikkelHegn opened #1378 "kubelet and kube-proxy logs not being cleaned on Windows nodes"
There is currently no mechanism in place to clean kubelet and kube-proxy logs form Windows nodes. The implications are that the OS drive can run full. To resolve the scenario, you either have to re-image the nodes or manually delete the logs.

Log cleaning is being implemented in vhds built for Windows nodes: https://github.com/Azure/aks-engine/issues/2470

[2020-01-10 08:53] MikkelHegn commented on #1378
This is tracking for aks-engine release 0.46.0

[2020-01-10 08:55] MikkelHegn opened #1379 "Switch to using aks-engine provided vhd for Windows nodes"
As part of improving the experience using Windows in AKS, we are switching from a standard Windows Server image in Azure, to a purpose built vhd image for Windows nodes.

Once this change is released, existing node pool cannot be upgraded, and you'll have to create new node pools and migrate your workloads to the new node pool.

[2020-01-10 09:09] MikkelHegn commented on #1375
Following up internally as I know we've looked in to increasing the range in non-DSR mode for certain scenarios. Will post back once I get more details.

[2020-01-10 10:33] xXKeyleXx opened #1380 "Can't upgrade K8S cluster because OperationalInsights is missing"
**What happened**:
Failed to save Kubernetes service '\*\*\*\*\*'. Error: Unable to get log analytics workspace info. Resource ID: DefaultResourceGroup-WEU/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-\*\*\*\*\*-WEU. Details: autorest/azure: Service returned an error. Status=404 Code="ResourceNotFound" Message="The Resource 'Microsoft.OperationalInsights/workspaces/DefaultWo

[2020-01-10 10:41] shane-sullivan commented on #1373
Can you confirm that this statement is correct "Assuming I wanted four devices on my VM, each device would have a maximum IOPS of 3200 (12800*4) or a single device with a maximum IOPS value of 12800." If I had a DS3v2 with 3x P10 disks and 1x P40 disk, I would expect the P40 to perform up to its IOPS limit of 7500 IOPS.

[2020-01-10 12:34] MikkelHegn commented on #1367
This is a bug in how AKS provisions Windows nodes. We will look in to this as soon as possible, there is no way to work around this, but trying to manipulate individual node configurations. Please open a support ticket through the Azure portal if you need assistance in work around the issue.

[2020-01-10 12:41] MikkelHegn commented on #1277
Closing as support case has been closed. The node in question with excessive CPU usage dropped the usage. No conclusion to the root cause was made.

[2020-01-10 12:41] #1277 closed

[2020-01-10 13:04] jnoller commented on #1373
@Ginginho there are multiple quotas in play here. If you have 4 drives it doesn’t matter what their individual quota is (you’re right if you slam the p40 disk it will max for that device).

But!

If you saturate the p40 and not the other drives to the VM sku IOPS limit, you’ll hit the p40 limit first, the the VM iops limit. You can do both.

So yes, a p40 will max at 7500 iops max. So you have to

[2020-01-10 13:06] jnoller commented on #1373
You can not have 4 devices or a single device attached to a VM that exceeds the iops quota for the VM sku, then you need to account for the limit per drive

[2020-01-10 13:41] Benjiiim commented on #629
1.17.0 is now in preview in AKS. Should we consider SSE + CMK the best option or is there any reason to wait for the support of ADE?

[2020-01-10 13:44] andyzhangx commented on #629
SSE+CMK feature is already supported on AKS in some regions now, here is the draft dev doc: https://github.com/andyzhangx/demo/tree/master/aks/byok

[2020-01-10 13:45] andyzhangx commented on #629
BTW, we won't support ADE on AKS, it's not in the roadmap

[2020-01-10 13:49] aelij commented on #629
AFAIK SSE+CMK does not encrypt the premium disk [blob cache](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage-performance#disk-caching), nor the ephemeral drive, so ADE remains the only comprehensive disk encryption solution.

[2020-01-10 14:10] andyliuliming commented on #1377
fix merged, starting to rollout now.

[2020-01-10 14:47] kacurez commented on #1360
I finally find out(thanks to Azure portal support) that azure-ip-masq-agent is not deployed because we are deploying aks cluster with `calico` kubernetes network policies plugin. If we deploy aks with azure network policy(or none) and azure network plugin then azure-ip-masq-agent is deployed as well.

[2020-01-10 14:47] #1360 closed

[2020-01-10 15:01] jason-epp commented on #1371
Well, that version is deploying a std LB.
We had to change our scripts to include --load-balancer-sku set to 'basic' to force it to deploy a basic LB.

I want to point out that the default operations should not change when adding new functionality and options.   Especially considering it changes to use the paid option.  Many examples and scripts out in the wild are now rendered invalid and will de

[2020-01-10 16:41] jason-epp commented on #1286
Should the Standard_DS12_v2 be part of that list?  I don't see it in the file...
https://github.com/Azure/aks-engine/blob/master/pkg/helpers/helpers.go#L133

Our older non vmss clusters with the DS12_v2 have AN enabled.
Our newer vmss clusters with the DS12_v2 have AN disabled.

[2020-01-10 17:39] jason-epp commented on #1371
I am sorry, I made a huge mistake.

I was on the wrong vm when I ran az --version.  Our deployments scripts were moved to a new machine, and I was on the old one.

The new one has...

azure-cli                         2.0.78 *

command-modules-nspkg              2.0.3
core                              2.0.78 *
nspkg                              3.0.4
telemetry                          1.0.4

Pytho

[2020-01-10 17:56] daschott commented on #1375
DSR mode is already available in 1903. But some traffic paths will not work. The following should work on 1903/1909 DSR mode:
o	container to container traffic
o	container to service traffic
o	container to external traffic (Internet)

The following will not work on DSR mode K8s services until support is added in the next SAC release:
o	Host -> service traffic
o	Host -> pod traffic
o	Host -> NodePor

[2020-01-10 18:14] jluk commented on #1371
All good - if I'm reading this right the behavior is working for older cli builds to receive the same behavior? Going to close this but if thats not the case just comment and we'll revisit.

Thanks!

[2020-01-10 18:14] #1371 closed

[2020-01-10 18:36] xuto2 commented on #1359
It's an issue in k8s cloud provider that it doesn't reuse an existing front-ipconfig with the desired IP.

[2020-01-10 19:15] palma21 commented on #1376
@curtdept could you clarify what you mean by forcing to create and manually manage? If you just expose a service of type LB with the label. The IP will automatically be created, and its lifecycle managed for you.

@SergeBerwert thanks, we can get that added to the AKS documentation too.

I think you might have benefited from a bug in upstream k8s where the label was not being correctly reconciled

[2020-01-10 19:24] SergeBerwert commented on #1376
@palma21 I opened already an issue in the documentation github project https://github.com/MicrosoftDocs/azure-docs/issues/45878

[2020-01-10 23:57] gioamato commented on #1370
Any ETA on this?

[2020-01-11 11:26] andyliuliming commented on #1377
@ams0 fixed rolled out.

[2020-01-11 12:32] ams0 commented on #1377
Yes! Confirmed working, can be closed

[code]

[2020-01-11 12:32] #1377 closed

[2020-01-11 15:43] alonisser commented on #1376
@palma21 This also happend to us, a night of outages because of this issue
1. Because our clients need preknown ip addresses we need to create it outside and aks resource group (and this is being allowed with the annotation of `service.beta.kubernetes.io/azure-load-balancer-resource-group` I also would expect in this case that aks won't try to override stuff there
2. The actual [bug report](https:

[2020-01-11 18:40] mboutet commented on #1050
+1 Absolutely need this feature, especially for GPU node.

[2020-01-11 20:38] mihsoft commented on #1320
Update: 11/01/2020
Looks like same issue as #592 - unfortunately that issue never got resolved.

Checking the previously created clusters to see if they too are now failing after overnight updates and reboots.

[2020-01-12 05:20] AdamGlass commented on #1376
This broke our workflow/automation.  We relied on being able to set the dns name for the ip address as we have standardized pre-created CNAME records   This worked in the past.  Now, our DNS names is cleared off.

adamg@microsoft.com

[2020-01-12 18:25] sesispla commented on #1117
The solution we found is not to create the Subnet, but simply set the service_cidr in Terraform...

[2020-01-13 03:17] ThomasManson commented on #1349
I am unable to get my AKS cluster to pull images from ACR - looks like the same issue.
@tetlika I have created the role assignment, but that didn't solve my issue. Can you give me more details about how you solved it? Was this for an ACR task? I am trying run a helm upgrade command, and that fails with an auth issue with ACR

[2020-01-13 03:49] zhiweiv commented on #1375
@daschott

These paths are absolutely necessary. Just to confirm, they will work on Windows Server version 2003?

[2020-01-13 07:56] AlexanderViken commented on #614
Im haveing the same issue now... any update?

Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for subnet. Are you an Owner on this subscription?
Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for ACR. Are you an Owner on this subscription?

when calling with az a

[2020-01-13 08:02] AlexanderViken commented on #1180
Im having the same issue now as a AAD global administrator and subscription owner... any update?

Waiting for AAD role to propagate[################################ ] 90.0000%Could not create a role assignment for subnet. Are you an Owner on this subscription?
Waiting for AAD role to propagate[################################ ] 90.0000%Could not create a role assignment for ACR. Are you an Owner o

[2020-01-13 09:24] przemolb commented on #1107
Is it tracked somewhere ?

[2020-01-13 10:01] rudolphjacksonm commented on #1304
Is there a specific date in mind when these updates will go out? We're keen to implement a fix that requires this plugin 👍

[2020-01-13 11:45] mihsoft commented on #1320
Update 13/01/2020
After spending the weekend reviewing the clusters with the issue we found the problem.

The Route Table automatically created was not assigned to the subnet in our existing VNET, this prevented inter-node communication and explains why running the CoreDNS pod on the node temporarily resolved the issue.

To others experiencing the issue I would strongly suggest looking at the MC_

[2020-01-13 12:49] stromvirvel commented on #1278
Doesn't seem to be resolved on my AKS cluster v1.15.5.

[code]

Is there any follow-up issue since this one was closed?

[2020-01-13 12:59] andyzhangx commented on #1278
pls file a support ticket for this issue, per the events provided, I don't see there is `AttachVolume.Attach` operation happens from `attachdetach-controller`,are there other disk attach operations happening in parrellel? You may wait for a few more minutes to check what happened finally.

[2020-01-13 13:59] stromvirvel commented on #1278
@andyzhangx
Sorry, the event output might give the impression i didn't even wait 1m to wait the disk to mount. Actually I waited several minutes and then, desperately removed the Pod in the naive hope it will magically start to work :)

After waiting an hour or so, this is the output:
[code]

The whole cluster currently only has 3 PVCs, while 1 is unmounted (just used by a cronjob), and two should

[2020-01-13 14:03] andriktr opened #1381 "azure-npm container not running"
Deployed and AKS cluster (kubernetes version : "1.17.0") with network policy enabled (azure plugin used).
Pods controlled by azure-npm daemonset are not fully up because only 1/2 containers are running.
There are two containers azure-npm and azure-vnet-telemetry. According the kubectl describe pod something is wrong with azure-npm container image reference.
 _Normal   Scheduled      27m

[2020-01-13 14:22] skinny commented on #1278
Coming from 1.14.6 I upgraded two of my (luckily test) clusters today to 1.15.7 and start having these errors. No changes were made to the deployed manifests.

`  Normal   Scheduled           4m8s  default-scheduler                         Successfully assigned xxx-yyy-zzz/redis-ha-0 to aks-default-13451451-vmss000003
  Warning  FailedAttachVolume  4m8s  attachdetach-controller                   M

[2020-01-13 14:42] andyzhangx commented on #1278
@stromvirvel could you run following command, looks like one of your vmss instance is in limbo state:
[code]

[2020-01-13 14:53] andyzhangx commented on #1278
@skinny looks like there is disk detach issue when upgrade from 1.14.6 to 1.15.7, could you find which vm is `pvc-1bb2e8f6-230f-11ea-8427-12752f5c025d`  attached to, and then detach that disk from that vm manually? On 1.15.7, there should be `disk attach/detach self-healing` feature, it would `first check whether current disk is already attached to other node, if so, it would trigger a dangling er

[2020-01-13 15:06] skinny commented on #1278
Surprisingly the disk shows no attachment to a VM in the Azure portal. I did try to run the `vmssfix.sh` script I found earlier but that (obviously) didn't help either

[2020-01-13 15:13] andyzhangx commented on #1278
@skinny then could you run following command to update `aks-default-yyyy-vmss000003` instance?
[code]

[2020-01-13 15:17] skinny commented on #1278
Ok, ran it for all four nodes in the cluster :

[code]
No direct change visible, but do I need to redeploy the Pod ?

Current pod events :
[code]

[2020-01-13 15:20] andyzhangx commented on #1278
@skinny you could wait, it would retry attach, and if you want to make it faster, redeploy would be better, thanks.

[2020-01-13 15:25] skinny commented on #1278
Unfortunately the same timeout error appears some two minutes after redeployment. Will leave it at this for another bit.

Last week I had the same kind of issues on another (1.14.x) cluster which I resolved with a lot of these manual steps. I hoped upgrading to 1.15.7 would finally solve these issues.

[2020-01-13 15:26] andyzhangx commented on #1278
@skinny I was a little wrong, this `Multi-Attach error for volume xxx Volume is already exclusively attached to one node and can't be attached to another` error is due to some orphan pod stuck in one of your node(not removed correctly), related code is here:
https://github.com/kubernetes/kubernetes/blob/36e40fb850293076b415ae3d376f5f81dc897105/pkg/controller/volume/attachdetach/reconciler/reconcil

[2020-01-13 15:30] skinny commented on #1278
@andyzhangx That Multi-Attach error is always followed by a timeout message a couple of minutes later. Is there a way to clean this up ?

[2020-01-13 15:31] andyzhangx commented on #1278
@skinny
Update: it even could not to go to disk attach process due to that issue, are you trying to run two pods with same disk PVC? Could you file another new issue, paste your Deployment config? You may change your config a little per this instruction: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#25-multi-attach-error

[2020-01-13 15:38] skinny commented on #1278
@andyzhangx thanks, I will delete the deployment for now and let it  "rest" for a bit. Tonight I'll deploy the statefulset again and see if it works then.

- Azure portal shows disk not attached
- No other pods are using the PVC
- I see the 2nd kind of error (https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#25-multi-attach-error)  which would suggest it still has something

[2020-01-13 16:02] andyzhangx commented on #1278
@skinny I suspect one of your node status of `volumesAttached` is incorrect,  here is the way to check which node has that incorrect `volumesAttached` status of that volume:
[code]

[2020-01-13 16:45] kHRISl33t commented on #629
should I close the issue? Since the above seems to solve my original problem.

[2020-01-13 18:19] skinny commented on #1278
@andyzhangx It's getting weirder by the minute

- The grep you suggested comes up empty
- I scale the Statefulset from 0 to 1 and the PV actually gets attached (the grep shows `volumesAttached`
- However the `Multi-Attach error for volume ` still occurs followed by a timeout two minutes later.

[2020-01-13 19:19] stromvirvel commented on #1278
I missed your answer - anyway meanwhile I decided to destroy the whole cluster and recreate it from scratch, because there were a lot of disks (PVCs, not OS disks) still shown in the portal, sometimes in attached, sometimes in detached state, even though I entirely removed all PVCs in all namespaces and all PVs.
Anyway, now the cluster deletion failed but also somehow stuck in a deletion state 🤷🏼‍

[2020-01-13 21:38] Robert-Stam commented on #1050
+1 This would help me us well

[2020-01-13 23:46] palma21 commented on #1376
Re-opening for discussion of the implementation of https://github.com/kubernetes/kubernetes/pull/85318

Adding @feiskyer and @nilo19 as owners of the discussion. I think that is the behavior intended from the original proposal, but will let the folks chime in. If most folks feel the behavior should be different it might warrant a new proposal for this upstream.

[2020-01-14 01:50] anirudhgarg commented on #1031
Just wanted to mention that I faced the same issue that the GPU is not schedulable for N6 promo SKU

[2020-01-14 03:58] andyzhangx commented on #629
BYOK(SSE+CMK) is available now: https://aka.ms/aks/byok

[2020-01-14 03:58] #629 closed

[2020-01-14 04:40] anirudhgarg commented on #1031
Wanted to add that it works fine for N6 (non promotional)

[2020-01-14 07:45] rajurh opened #1382 "AKS Dashboard doesnt work"
I am trying to run AKS browse command which I have been using for the same resource in the past all of a sudden it leads to error

Error message:
Proxy running on http://127.0.0.1:8001/
Press CTRL+C to close the tunnel...
error: error upgrading connection: unable to upgrade connection: pod not found ("kubernetes-dashboard-5758d48c87-trljj_kube-system")

Cluster version: 1.17.0
Node pool kubernetes

[2020-01-14 07:53] andyzhangx commented on #1278
@skinny if it's already attached to one node successfully, why there are second attach which lead to `Multi-Attach error for volume`, is there two pods using same PVC?

[2020-01-14 08:07] nilo19 commented on #1376
Is this issue only in 1.15?

[2020-01-14 09:24] skinny commented on #1278
@andyzhangx nope, deleted all deployments/pod and only left the PVC intact. The grep for attached disks comes up empty before I try to use the PVC. Then for a few moments the disk actually is showing in the “attachedVolumes” output before disappearing again and showing the multi attach error in the events history

[2020-01-14 09:34] iboonox opened #1383 "AKS with SEP creation failed"
**What happened**:
AKS cluster creation fails when Service Endpoint Policy ( Storage ) is activated

**What you expected to happen**:
Create AKS clusters with custom vnet protected with SEP.

**How to reproduce it (as minimally and precisely as possible)**:
- Activate storage service endpoint
- Create a service endpoint policy to restrict access to "all accounts in subscription"
- Associate the po

[2020-01-14 10:00] asos-andrewpotts commented on #1373
I have a couple of clarifications I would like to check:

Could you clarify that? As I understand it, in Linux sockets are modelled _like_ a file but [do not actually](https://stackoverflow.com/questions/26568562/does-socket-io-involve-disk-io) operate _as_ files. In other words, even if I create local sockets, the data is transferred across memory and does not involve physical disk I/O.
Is it the

[2020-01-14 13:13] jnoller commented on #1373
@asos-andrewpotts everything is modeled after a file - Eg sockets and the *data* path is offloaded from the primary data path but the socket. If a service can not open, stat() or otherwise read it’s socket the system is still dead and throttled.

You won’t see the data path (actual bytes to the store) count against things but you will see the socket open/close/read/write all count against you and

[2020-01-14 14:27] PickleVirus commented on #1380
You need to disable monitoring addon for this cluster at first
az aks disable-addons -a monitoring --resource-group  b2bclouddevkubeclusters --name b2bclouddevrmqhandler

[2020-01-14 15:27] ElasticCoder commented on #1373
@jnoller - OK, I get it. So open(), stat() etc, will be counted against the Azure Storage Max IOPs, even though the socket send and receive don't persist to disk. And if the Max IOPs is exceeded, those operations will fail resulting in your container app being able to make an outbound call, or service a new incoming socket. Thank you!

[2020-01-14 15:29] asos-andrewpotts commented on #1373
@jnoller - OK, I get it. So open(), stat() etc, will be counted against the Azure Storage Max IOPS, even though the socket send and receive don't persist to disk. And if the Max IOPS is exceeded, those operations will fail resulting in your container app being unable to make an outbound API call, or service a new incoming socket. Thank you!

[2020-01-14 15:32] jnoller commented on #1373
@asos-andrewpotts  Yes... but not exactly. This is true for all Linux disk devices regardless of cloud / vendor - open, close, stat, etc on the socket will trigger IO operations (IOPS). But yes, in this example - it is **one** source of the total IO which is why the Docker container IO can 'starve' the socket files on the OS disk - once the IOPS peak is hit, all file calls to /dev/sda including wr

[2020-01-14 15:35] xXKeyleXx commented on #1380
That fixed it. Thank you!

[2020-01-14 15:35] #1380 closed

[2020-01-14 15:56] basclaessen commented on #1295
@feiskyer Thank you for fixing and backporting this issue. We just upgraded the AKS to version 1.15.7 and the health probes are now being attached to the load balancing rules 👍

[2020-01-14 15:57] schefs commented on #1107
@jnoller
Is there any thoughts on getting this feature developed in the future ?
Is there any complexity to achieve this capability ?
Right now for changing the default node pool type we have to recreate the cluster, rather then moving all workflow to another node pool with the new vm type desired and delete the first node pool.

Another solution could be the possibility to change the default node

[2020-01-14 16:08] jnoller commented on #1107
@schefs  @palma21 can speak to this more - but we will be adding support to allow users to mutate / move the default pool - you will not be able to delete it, but you will be able to migrate/upgrade the default nodepool as desired.

We will not be adding support for complete deletion of the first nodepool at this time

[2020-01-14 16:14] schefs commented on #1107
@palma21 @jnoller  is there another issue on GitHub referring this feature with more current or active information ?

[2020-01-14 18:13] jluk commented on #1208
Thanks for the patience everyone, our ETA is early Feb to support this. We're actively working on it.

[2020-01-14 18:21] jluk opened #1384 "[Feature] Support user definition of an outboundType for the network profile (skip public IP provision for SLB)"
**Current state**: Generally Available

**What happened**: Currently if using SLB with AKS, a public IP is provisioned and setup by AKS as Azure SLB requires a configured PIP for proper egress. Given today, clusters require outbound connectivity to pull cluster components such as system pod images, this is configured on creation by the resource provider.

**What you expected to happen**: To create

[2020-01-14 18:27] jluk opened #1385 "Feature Request: Support user definition of allocatedPorts and idleTimeout for the standard load balancer"
**What happened**: AKS defaults many SLB configurations on behalf of the user when creating an AKS cluster. Customization of the SLB directly through IaaS APIs and outside of AKS are not supported and may be reset by reconciliation actions taken by the AKS resource provider. Among these properties reconciled today are allocatedOutboundPorts and idleTimeoutInMinutes.

https://docs.microsoft.com/en-

[2020-01-14 18:29] jluk commented on #1338
@rhummelmose any details you can share on Jorge's question above?

[2020-01-14 19:12] edwa001 commented on #1376
Is there any instructions on how to set it with service.beta.kubernetes.io/azure-dns-label-name? I am trying to get our environments back online.

[2020-01-14 20:19] kyschouv commented on #223
I hate to dig this issue out again, but is there any progress on a faster out-of-the-box storage provider for AKS for this sort of scenario. Azure NetApp Files isn't really comparable price-wise with a minimum provision of 4TiB. We've been using rook-ceph, but that eats up a lot of resources, and has so far been a lot of work to maintain versus an Azure storage option.

[2020-01-14 20:20] curtdept commented on #1376
It goes in the annotation section with the dns prefix you had before.

[2020-01-14 20:21] curtdept commented on #1376
The IPs you have to manage that get overwritten by this are Public Static ones.

[2020-01-14 20:40] AdamGlass commented on #1376
We hit this doing new test installs of aks and the bits we run inside.  Wouldn’t folks doing an upgrade of their cluster hit this and have their dns names cleared?

________________________________
From: curtdept <notifications@github.com>
Sent: Tuesday, January 14, 2020 12:21:20 PM
To: Azure/AKS <AKS@noreply.github.com>
Cc: Adam Glass <Adam.Glass@microsoft.com>; Comment <comment@noreply.github.co

[2020-01-14 20:44] curtdept commented on #1376
Definelty, at least 3 of us on this thread got wiped out haha.

[2020-01-14 21:52] edwa001 commented on #1376
Hey @curtdept  i am unable to add it back as i had it. Its giving me a regex error and will not allow the '.' which is how i had it on my public IP Address resource

![image](https://user-images.githubusercontent.com/34496517/72385810-136bfe80-36d5-11ea-9fe6-0faebbda7d90.png)

Original Error: Code="InvalidDomainNameLabel" Message="The domain name label prod-silver.eastus.cloudapp.azure.com is inva

[2020-01-14 21:54] curtdept commented on #1376
@edwa001 not the full dns name, just the first part (<whatever>-prod-silver), the rest is predetermined by the region you are in.

[2020-01-14 22:40] michael-burt commented on #1088
Can we get an update on this feature?

[2020-01-14 23:11] michael-burt commented on #1050
This is a very important feature for many different use cases. Any update on implementation? AKS is the only manager Kubernetes offering that does not support this among the top cloud providers.

[2020-01-15 01:05] feiskyer commented on #1376
refer https://github.com/kubernetes/kubernetes/issues/87127, would improve this and won't remove the PIP dns if there's no service annotations.

[2020-01-15 04:58] nilo19 commented on #1376
Thank you @palma21, @SergeBerwert. I'll fix this.

[2020-01-15 06:01] asubmani commented on #1052
when this becomes GA; would this require a re-deployment of the AKS cluster? I would expect this to be an implicit change.
In case re-deployment is required, would enabling this need new commands in az cli/Terraform?

[2020-01-15 13:27] aelmanaa opened #1386 "AKS: Azure network policies are not always additive"
**What happened**:

For each namespace, I wanted  to implement default rules which are the least permissive. Then whenever needed, we can create new networkpolicies which open up ingress or egress traffic for specific podselectors. While testing this approach, I’ve remarked that in one case, the networkpolicies are additive and in one case they are not. See below (yaml files are in attachment):

[

[2020-01-15 13:31] aelmanaa commented on #1386
throubleshooting Scenario1, case B; I found out something interesting in the iptables:

Run “iptables save” & “ipset -L” on the node hosting my test (utils) pod

- In Ispset ,you'll find out that the pods utils (for instance, IP: 10.130.12.68) is refered in 2 different set. In my case: azure-npm-3863441321 & azure-npm-2377792723

-  you will find ou these sets in ip tables. in my case:

 -A AZURE-

[2020-01-15 13:39] aelmanaa opened #1387 "AKS - Networkpolicies: PodSelector does not only apply to provided namespace"
**What happened**:
When we define a networkpolicy manifest, we have to provide the namespace where it will be applied (otherwise it will be applied in the default namespace).  However , in some cases, policies applies to pods in other namespaces

**What you expected to happen**:
network policy should apply to only pods within the mentioned namespace

**How to reproduce it (as minimally and precise

[2020-01-15 13:42] aelmanaa commented on #1387
Here are my findings throubelshooting iptables & ipsets:

-  in iptables , I see a rule blocking egress traffic
-A AZURE-NPM-TARGET-SETS -m set --match-set azure-npm-2377792723 src -m comment --comment "DROP-ALL-FROM-app-name:utils" -j DROP

- •	In ipset, I see that this rule references 2 pods , which explains the behavior

Name: azure-npm-2377792723
Type: hash:net
Revision: 6
Header: family inet

[2020-01-15 15:42] bas-velthuizen commented on #614
I have exactly the same issue. Is there any news on this?

[2020-01-15 16:23] iverberk opened #1388 "Unable to assign an application security group to a nodepool VMSS"
**What happened**: Trying to associate a nodepool vmss with a custom application security group (ASG) results in the following error:

[code]
**What you expected to happen**: The nodepool vmss would be associated with an ASG so that we can manage the network traffic to/from the vm's.

**How to reproduce it (as minimally and precisely as possible)**: Run the following command:
[code]

**Anything el

[2020-01-15 17:21] obeyda commented on #1320
@mihsoft, that solved the problem for me

[2020-01-15 19:10] jaer-tsun commented on #1386
I believe this has been resolved [here](https://github.com/Azure/azure-container-networking/pull/466).

The bugged behaviour was that the egress all policy was treated as egress to all-namespaces. In that scenario, you're able to reach kubedns but not internet.

e.g. "ALLOW-ALL-FROM-app-name:utils-TO-all-namespaces" -j ACCEPT (reaches kubedns but not internet)
should be "ALLOW-ALL-FROM-app-name:ut

[2020-01-15 19:18] bhicks329 commented on #1338
I’ve experimented with this today and I was able to create a 1.17 (SLB, Azure CNI)  AKS cluster with multiple node pools in different subnets with Istio over the top utilising Egress Gateways to control the flow of traffic. I haven’t attempted to place any UDRs on the subnets yet, but will do soon. I’m interested to know if this is going to be a supported scenario in the future and also what @rhum

[2020-01-15 19:37] ncole commented on #1088
+1 for this update please

[2020-01-15 19:51] stromvirvel commented on #1075
It works if you do like this:
[code]

But I'm afraid I'm doing something unsupported as @andyzhangx wrote that the `default` storageclass cannot be changed.

Anyway, when deleting a PVC, the underlying PV and Azure Disk are retained. What's a pain for me here is that when manually deleting the PV object, the underlying Azure Disk **doesn't get** deleted. Which IMO is unexpected.

[2020-01-15 22:13] rhummelmose commented on #1338
Sorry guys I will have to stand up a cluster again and see if I can make it break. I will close the issue if I can't reproduce it.

[2020-01-15 22:15] jluk commented on #1338
I've set this issue to track this open feature ask, so let's keep this one open but update prev comments to remove the issue mentioned if its been resolved and can't be reproduced.

@bhicks329 this is actively being worked on to be a supported scenario.

[2020-01-15 22:40] akazemis opened #1389 "All environment variables end up in the logs by default regardless of being secrets or not"
Currently in AKS the environment variables containing critical data (including kubernetes secrets) are being submitted to the system logs. (say to the AppInsights). the reason being a parameter named "AZMON_COLLECT_ENV" in the containers' environment variables are assumed True. This would cause some kubernetes secrets appearing in the logs.

So I'm suggesting these options to resolve this security

[2020-01-15 22:48] edernucci commented on #1373
I didn't find the IOPS for the temporary disk on any official documentation. Is it the same of the OS disk?

[2020-01-15 23:26] jnoller commented on #1373
@edernucci So temp disk IOPS are special (and actually pretty great because ephemeral)

"it depends" - and its really not clear:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-storage

On most charts, you want to look at "Max cached and temp storage throughput: IOPS / MBps (cache size in GiB)"

Here's a screenie

![Screen Shot 2020-01-15 at 4 25 40 PM](https://user-images.gi

[2020-01-15 23:30] jnoller commented on #1373
@edernucci  But, this answers a secondary question: why not just use ephemeral OS disks? Ephemeral disks are limited to the max IOPS above and cache size. So, different limit, a lot higher - but its still going to be exhausted.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements

[2020-01-15 23:39] edernucci commented on #1373
@jnoller My production cluster has 100GB SSD for OS (500 IOPS limited) on F8s (v1) machines. Looking on that table I got 32000/256 (96) on Max cached and temp storage throughput: IOPS / MBps.

If I correctly understood, I can really get a lot more IOPS (something near the 32000 versus my actual 500) just by moving my docker temp files to temp disk.

Is this statement right?

Regards,

[2020-01-15 23:41] jnoller commented on #1373
@edernucci That's correct

[2020-01-16 01:09] edernucci commented on #528
Microsoft finally found the root cause of this issue: https://github.com/Azure/AKS/issues/1373

[2020-01-16 03:31] infa-ddeore commented on #1373
what is meaning of "cache size in GiB" in "Max cached and temp storage throughput: IOPS / MBps (cache size in GiB)"?

[2020-01-16 03:53] jnoller commented on #1373
@infa-ddeore cache size in gigabytes of the virtual machine (each machine type has different cache sizes). IOPs is as the main article states - IO operations per second. IOPs are all file open, read, write, close and so on. Mbps is megabytes (or bits, I may be swapping them) per second- megabytes or megabits per second is a definition of bandwidth, so if a hard drive has a size of two terabytes, i

[2020-01-16 06:54] marcostrullato commented on #1338
Hi @jluk I was with @rhummelmose when we experienced the issue.
If Rasmus can't help, I will: I'm sure I can reproduce the issue.

[2020-01-16 11:54] dhilgarth opened #1390 "Windows Container without network connectivity right after start"
We are currently investigating Windows containers on AKS and are coming across what seems to be a race condition.

We are creating Job resources. These jobs create a pod with a huge 15GB windows image (some containerized legacy software that needs a full windows).
The command of the container runs a .NET Core 3.0 commandline tool that tries to connect to an external API. This *sometimes* fails wit

[2020-01-16 12:12] dhilgarth commented on #1390
More info:

This is the code that we execute right after the start:

[code]

[2020-01-16 12:20] dhilgarth commented on #1390
I have just verified that `IsDhcpEnabled` is `false` when the first connectivity test succeeds:

[code]

[2020-01-16 12:30] dhilgarth commented on #1390
What I find very interesting is that the UDP connection to 8.8.8.8 succeeds in any case. Only the HTTP connection needs some time to be successful.

[2020-01-16 13:22] marrobi commented on #1292
@tblazina I had a similar issue, and found out:

"Version 4.15.0-1063 of the Ubuntu kernel doesn’t have the fix for the handle leak problem related to renaming files. The fix went into version 4.15.0-1064. Please upgrade your kernel to any version starting from that one to see if it resolves the issue in your scenario. "

Once I had a AKS cluster with the new kernel the problem disappeared. Be goo

[2020-01-16 14:27] robinkb opened #1391 "Martian packets logged by Linux kernel"
**What happened**:

I provisioned an AKS cluster of version 1.14.8, and then deployed a logging stack. I noticed a large amount of logs coming from the Linux kernel on every node:

[code]

There are many, many more logs like this.

**What you expected to happen**:

Martian packets seem to indicate that there is a problem with the netwerk configuration. I am not at all familiar with the low-level n

[2020-01-16 14:55] jnoller commented on #528
@edernucci issue 1373 doesn't fix the file handle limits

[2020-01-16 15:21] ncole commented on #1088
I checked the Azure SDK for Go and at the time of commenting it looks like v38.2.0 contains this functionality (possibly earlier versions, but I only checked that version).

[2020-01-16 18:15] jluk commented on #1338
That would be great @marcostrullato if you have any repro steps we can investigate

[2020-01-16 18:34] davemedvitz commented on #205
That might be, when private endpoints are in Gov...

But even then, there doesn't appear to be a mechanism to add proxy config to the nodes so that they can build properly.

[2020-01-16 18:53] whyvez commented on #1298
I'm wondering why this ticket was closed. I'm having the exact same issue with AWS EKS. The nodes added by scale-up don't seem to have the required docker secret references in the deployments. Once I regenerate the referenced image pull secret using the `kubectl create secret docker-registry` command the images are downloaded successfully. What am I missing?

[2020-01-16 20:07] palma21 commented on #1031
The OP Issue was for NC_promo
If I see correctly you are trying N_promo, is that right?

we can have that one added to the GPU driver list.

[2020-01-16 22:12] erotavlas opened #1392 "LoadBalancer External-IP stuck on <pending>"
I was following the .NET turorial on deploying docker container to Azure Kubernetes Service
https://dotnet.microsoft.com/learn/aspnet/deploy-microservice-tutorial/deploy

However after I run

`azkubectl apply -f deploy-myMicroservice.yaml`

The service never gets an external IP, it just hangs like this

[code]

I am using the VIsual Studio Professional Subscription

The only difference between the

[2020-01-17 00:34] wasker opened #1393 "DNS label is reset on the existing public IP after deploying ingress"
**What happened**:
After deploying stable/nginx-ingress with controller.service.loadBalancerIP set to a public IP that I've created with a specific DNS label, DNS label got removed from the IP address entity.

**What you expected to happen**:
DNS label left intact. I'm using that label as a CNAME in my DNS zone.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a new AKS

[2020-01-17 07:13] tarioch opened #1394 "Allow to disable loadbalancer health probes"
Currently there is no way to disable the loadbalancer health probes. It would be good if an annotation could be add to allow to disable the health probes. Either globally or for some of the ports.

[2020-01-17 08:22] marcostrullato commented on #1338
Ok I will restore the cluster with the IaC I had, and I'll check if I can make it available to you. I'll come back early next week.

[2020-01-17 08:56] marcoboffi commented on #733
+1 with AKS Cluster 1.14.8

[2020-01-17 09:06] robinkb opened #1395 "kube-proxy cannot be scraped for metrics"
**What happened**:

I configured Prometheus to scrape metrics from the kube-proxy pods in my cluster. Unfortunately, kube-proxy only accepts connections to its metrics endpoint from localhost, and Prometheus' requests are denied.

**What you expected to happen**:

Monitoring solutions like Prometheus should be able to scrape the kube-proxy pods for metrics.

**How to reproduce it (as minimally and

[2020-01-17 15:09] jnoller commented on #1394
Can you provide a use case/business justification for completely disabling all health probes?

[2020-01-17 16:42] tarioch commented on #1394
Sure. Our use case is that we're exposing jenkins jnlp. The health probes flood on the one hand the log files with unnecessary log entries and the other more important factor seems to be that the health probes are "too aggressive" and disconnect the connection where it should still be ok and jenkins is without that able to keep the connection open.

Right now we did the workaround from here: https

[2020-01-17 18:27] wasker commented on #1392
@erotavlas Speaking from experience with troubleshooting issues with ingress in AKS, `kubectl get events --all-namespaces` is very helpful when you're in this state.

[2020-01-17 21:16] wrkgm opened #1396 "Azure AKS Standard_ND6s VM has wrong amount of ephemeral storage"
**What happened**:
I created an AKS cluster using Standard_ND6s VMs. Described here, these are supposed to have 736 Gib of temporary storage.

https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/#n-series
My goal is to do ML training on the vm with a large dataset (~200gb). I first need to copy this dataset to the VM upon startup. When I do this with one of these VMs, it copie

[2020-01-18 09:39] mcambal commented on #1320
@mihsoft, that solved the problem also for me.

[2020-01-19 00:57] #1072 closed

[2020-01-19 01:16] zhiweiv commented on #1390
I think it is same issue with https://github.com/Azure/azure-container-networking/issues/341.

[2020-01-19 07:58] dhilgarth commented on #1390
I agree @zhiweiv

[2020-01-19 11:49] gioamato commented on #1373
@edernucci @jnoller moving working files to temp disk seems like a temp workaround. Why don't just allow users to spin up clusters/nodepools with ephemeral os disks (like in aks-engine)?

It could allow a better overall experience for users without particular needs that require persistent node os storage, plus it will be a great benefit for SMEs/NPO where os disk cost represents 5%-20% of the tota

[2020-01-19 14:59] gsirin commented on #1270
any news on this?

[2020-01-19 15:33] jnoller commented on #1373
@gioamato ephemeral disks have similar limitations. Even using ephemeral for the os means you need to isolate the correct data paths.

I can show this failure using ephemeral and even physical hosts and disks. This a design gap in the kernel/cgroups/container stack - there are lots of options to mitigate and isolate the data paths to maintain QoS, but the fact is the entire stack up to kube will f

[2020-01-20 09:28] zhiweiv opened #1397 "Memory leak on Windows nodes, svchost.exe consumed a lot of memory"
**What happened**:
We observed slowly memory leak on Windows nodes, for example on one Windows node, svchost.exe(a lot of them) used more than 8GB memory(16 GB total).

![Capture](https://user-images.githubusercontent.com/22001089/72714333-8380f580-3ba9-11ea-8e8e-27130deb6357.PNG)

**How to reproduce it**:
Nothing special, we ran about 10 pods on each Windows node.

**Environment**:
- Kubernetes v

[2020-01-20 09:29] jaygridley commented on #1195
I've tried workaround that @ritazh suggested, but still could not get it working.

Logs of gatekeeper are full of
[code]
The IP 10.184.216.46 is the tunnelfront.

I am trying this on AKS 1.15.7 with Gatekeeper v3.1.0-beta.4.

Did anyone involved here got GK working on AKS?

[2020-01-20 12:54] gioamato commented on #1373
@jnoller allright, isolating io paths seems like the best option right now. And knode represents a big help.

Ephemeral OS disks (to me, maybe i'm wrong) seems like a "cost friendly" alternative to your mitigation tip n.1:

Surely it must be applied together with the other suggestions.

Plus i'm sure it represents an excellent opportunity for the use case/business i talked about in my previous com

[2020-01-20 13:05] arminc opened #1398 "Using nodeSelector for AKS kube-system deployments (coredns/metrics/tunnelfront)"
**What happened**:
AKS doesn't allow any changes to the deployments which are created by AKS in the kube-system namespace. Currently, that are coredns, coredns-autoscaler, metrics-server, and tunnelfront.
When creating platforms in an enterprise that are managed by a central team there is a need to control where these pods land. The preference is that these should not land on nodes the team/custom

[2020-01-20 13:18] luddskunk commented on #1376
Hi,

I ran into this issue in my cluster which caused a lot of environment crashing. I must join into the choir and express my dissatisfaction regarding this undocumented change. However, I am grateful to the fact that there was a swift act of fixing this as well as an active community who helps to resolve the issue at hand.

A fast workaround if you do not have time to go into your service yamls

[2020-01-20 13:23] MikkelHegn commented on #1390
Let's keep it open here as a tracking item and we will update, once the problem get fixed upstream and new bits released to AKS.

[2020-01-20 13:40] bramvdklinkenberg commented on #1376
Any idea on when a new version with the fix from 87246 will be available for AKS?

[2020-01-20 14:33] lgarcia11 opened #1399 "Azure file storage class specify file share"
Is it possible to create a StorageClass with the desired storage account and specific a file share?
Maybe something like this?

[code]

[2020-01-20 14:49] bergerx commented on #999
I think this is a duplicate of #367, and can be closed.

[2020-01-20 15:00] bergerx commented on #367
@jnoller @jackfrancis any updates on this, we have internal security reviews and having at least some pointers could be really helpful for us in many ways?

[2020-01-20 15:36] mathieu-benoit commented on #367
Just in case @bergerx , have you seen the official documentation there: https://docs.microsoft.com/en-us/azure/aks/security-hardened-vm-host-image? Does that help?

[2020-01-20 17:11] grahamhayes opened #1400 "AKS Node intermittently failed to pull required system images"
**What happened**: AKS Node intermittently failed to pull required system images

**What you expected to happen**: All AKS images to be downloaded

**How to reproduce it (as minimally and precisely as possible)**:

1. Created 3 x AKS clusters, with 4 nodepools of 3 nodes each.
2. Kube Proxy fails to start on at least one node intermitently (see error below):

[code]

**Anything else we need to kno

[2020-01-20 18:12] bergerx commented on #367
@mathieu-benoit That document's focus is on linux distributions (specifically "CIS Distribution Independent Linux Benchmark" or maybe "CIS Ubuntu Linux Benchmark"), if there would be a similar one focusing on how AKS secures the Kubernetes control plane components (CIS Kubernetes Benchmark) and docker (CIS Docker Benchmark) server on nodes and host service configuration about related components, t

[2020-01-20 18:15] mathieu-benoit commented on #1393
Seems to be related to this https://github.com/Azure/AKS/issues/1376

[2020-01-20 18:48] cayohollanda commented on #173
Any updates??

[2020-01-20 18:52] jason-epp commented on #1392
I had similar issue.
Check the type of load balancer and the IP that was deployed.  The default LB type used to be 'basic', it is now type 'standard'.  The default IP type is still 'basic'.  These two have to match (basic & basic, or std & std ).  If you don't explicitly set the SKU for the LB, it will not match the IP type.

[2020-01-20 19:50] edalferes commented on #1376
As recommended, we now use the annotation service.beta.kubernetes.io/azure-dns-label-name

The change in CRD Voyager had an effect on the service and consequently on the public.

Then we made an attempt to change the dns using Helm, we saw that the annotation changes, but we did not have the change in the DNS of the Public IP.

Is this condition expected?

Regards

[2020-01-20 21:55] bergerx commented on #367
I was curious about the current status and just ran kube-bench on a 1.15.7 cluster (see the gist below about how I ran it), seems better then when this is initially reported, here is a summary:

[code]

You can see the full output here:
https://gist.github.com/bergerx/f8144c205a9d109ae3910b5b40fef503

[2020-01-21 01:18] lgarcia11 commented on #1399
It is possible, it seems that kubernetes docs are not up-to-date, all parameters can be found [here](https://github.com/kubernetes/kubernetes/blob/2e808b7cb054ee242b68e62455323aa783991f03/pkg/volume/azure_file/azure_provision.go#L163).

[2020-01-21 01:18] #1399 closed

[2020-01-21 08:51] chroth commented on #1398
Maybe a solution to this could be to taint the nodes you don't want coredns etc to be scheduled on: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2020-01-21 09:57] folkol opened #1401 "Tunnelfront and coredns fails to schedule when all nodes are tainted"
**What happened**:

Tunnelfront and coredns pods failed to be scheduled when all nodes were tainted.

**What you expected to happen**:

To have the ability of letting the kube system deployments tolerate a tainted node.

**How to reproduce it (as minimally and precisely as possible)**:

Set up a cluster e.g.:

[code]

- Taint the only node: `kubectl taint nodes -l agentpool=nodepool1 zone=nodepool

[2020-01-21 10:02] Sudharma commented on #76
@slack  still this does not work for us. I mean the behaviour is inconsistent. It works sometimes and after few deployments it fails and if we start the deployment again. it works. No idea whats wrong here.

The original SP is with Contributor role and the same SPN has the AcrPullRole. If I list the role assignment with `--all` then I can see the role

[2020-01-21 10:09] folkol opened #1402 "CLI request: set --node-taints for primary node pool via CLI"
**What happened**:

[code]

**What you expected to happen**:

I expected the primary node pool to be tainted in the same way as additional node pools can be tainted like this:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

See "What you expected".

**Anything else we need to know?**:

This is related to https://github.com/Azure/AKS/issues/1401.

[2020-01-21 11:05] arminc commented on #1398
@chroth Thanks for the tip, that might be a way to do this

[2020-01-21 14:55] mturzynski commented on #804
I've just run into this issue. I agree that static provisioning may be a workaround but it's not really convinent.

[2020-01-21 16:05] whatabout-bob opened #1403 "External LB service with static IP stuck in <pending> state"
**What happened**:
After deleting and recreating an external load balancer service with a static IP, the external IP was stuck in <pending> state with the following message:

`Warning  CreatingLoadBalancerFailed  43s (x6 over 25m)  service-controller    Error creating load balancer (will retry): failed to ensure load balancer for service my-namespace/my-service: timed out waiting for the condition

[2020-01-21 17:41] palma21 commented on #1313
Hotfixed rolled out

[2020-01-21 17:41] #1313 closed

[2020-01-21 17:50] jluk commented on #1402
Thanks for the request, today you can add your own taints to the first node pool after the pool is created. You are correct that functionality is not in the CLI yet, but can be set via ARM template after the cluster/pool is created.

Could you share what taints you plan to apply to primary pool and the scenario of tagging goals? Is it to try to isolate system-pods (or the like) to the primary pool

[2020-01-21 17:56] jluk commented on #1366
@vishnujanardhanan can you confirm if this support request was resolved?

Given this issue is coming up to 30d old, I am going to close it but if there are additional questions we can continue that on this issue.

[2020-01-21 17:56] #1366 closed

[2020-01-21 21:00] kyschouv commented on #1376
We experienced this last night as well, and it took a lot of effort to discover the issue. I've seen it before, and locking the public IP was the only way to prevent Kubernetes from changing it. I expected that since I had set up the IP address manually, Kubernetes would not need to change it to set up Load Balancing rules with it (and it hadn't in the past).

The [documentation](https://docs.micr

[2020-01-21 22:15] Aaron-ML opened #1404 "Azure AKS Upgrade fails due to VMSS network-acceleration change"
---
AKS edit to capture below issue/summary:

---
**What happened**:

 Started the upgrade through azure CLI using the following:

az aks upgrade --kubernetes-version 1.15.7 --name cluster1 --resource-group rg-cluster1--subscription K8s-Cluster

It runs for around 5 minutes, a few kube-proxys get restarted and then it reports successful. Although the nodes still report 1.14.8. If you check the VMS

[2020-01-21 22:15] Aaron-ML commented on #1404
**Support ticket submitted:** 120012124005728

[2020-01-21 22:23] sozercan commented on #1195
@jaygridley I have tested GK v3.1.0-beta.4 running on AKS.

Are you seeing this only on GK pod?

[2020-01-21 23:18] jaygridley commented on #1195
@sozercan Yes I do. Also the contraints seem to be ignored.

[2020-01-22 00:19] stvhwrd commented on #1206
I am no longer seeing this when creating a cluster via the Azure Portal GUI 👍

[2020-01-22 01:12] AbelHu commented on #1367
@frankvdbh Could you help to confirm whether this issue still exists now after Azure/aks-engine#2080 is fixed

[2020-01-22 09:02] folkol commented on #1402
I was not aware of the primary node pool taint through ARM templates — that's convenient. (We have instead tainted the individual nodes.)

Our goal with the taints is compartmentalization of the different components of our workload, and not directly related to the system pods. We wouldn't mind the systems pods to be scheduled on the same nodes as our public components — but right now it seems like

[2020-01-22 09:50] bramvdklinkenberg commented on #1376
@edalferes are you using an ingress controller or do you expose your services via type loadbalancer?

if you use an ingress controller with ingrerss resources then you need to set the annotation in the service of the ingress controller.

[2020-01-22 09:55] bramvdklinkenberg commented on #1376
@kyschouv see [87246](https://github.com/kubernetes/kubernetes/pull/87246)

[2020-01-22 10:25] Jyoti492 commented on #714
@andyzhangx  : I am also facing the same issue. have tried  all your above steps too. Can you please help me .

Mounting arguments: --description=Kubernetes transient mount for /var/lib/kubelet/pods/5e20b9c5-337c-457d-ba18-069647a9a945/volumes/kubernetes.io~azure-file/mcp-afs-pv-test --scope -- mount -t cifs -o username=mcptfsa,password=qDFI61uGxvcfTAg5GMcxX1fudQ8Z1K9nlqtcyZ2eldCMcZEIj/Ybf9iumWTG5

[2020-01-22 10:28] andyzhangx commented on #714
@Jyoti492 could you go to that node, and then try `mount -t cifs ...`, you could use [kubectl-enter](https://github.com/andyzhangx/demo/tree/master/dev#kubectl-enter), is your storage account blocking some subnets?

[2020-01-22 10:29] Jyoti492 commented on #714
@andyzhangx : we don't have access to the nodes :(

[2020-01-22 10:33] andyzhangx commented on #714
@Jyoti492 could you make sure your storage account name and key is correct, and is there firewall setting? https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-linux-file-connection-problems#cause-2-virtual-network-or-firewall-rules-are-enabled-on-the-storage-account

[2020-01-22 10:46] Jyoti492 commented on #714
@andyzhangx : thanks much for your quick responses. the Storage account and key name is correct also the AKS subnet is open for Storage endpoints

[2020-01-22 11:53] luddskunk commented on #1376
I tried setting `service.beta.kubernetes.io/azure-dns-label-name` in the edit mode of my service, however this caused me to lose this endpoint?

Do I need to redeploy the service in full? Right now I just Locked the IP resource.

[2020-01-22 11:55] bramvdklinkenberg commented on #1376
Hi @luddskunk , do you expose your service via type loadbalancer or do you use an ingress and ingress controller?
if you use an ingress controller with ingrerss resources then you need to set the annotation in the service of the ingress controller.

[2020-01-22 12:21] andyzhangx commented on #714
@Jyoti492 you could use [kubectl-enter](https://github.com/andyzhangx/demo/tree/master/dev#kubectl-enter) <node-name> to get into one node in case you could create a pod on one node, and then investigate

[2020-01-22 14:39] mikegoatly commented on #1376
So unless I've got the wrong end of the stick, PR [87246](https://github.com/kubernetes/kubernetes/pull/87246) that @bramvdklinkenberg mentions would suggest that this is going to be fixed in an upcoming release. What is the normal sort of timeframe for these releases to make their way to AKS as a supported release? (Not looking for an exact date, just an order of magnitude)

[2020-01-22 14:51] bramvdklinkenberg commented on #1376
@mikegoatly around february 11th.

[2020-01-22 14:52] bramvdklinkenberg commented on #1376
As a workaround you have to set the dns label in the service annotation.

[2020-01-22 15:48] Jyoti492 commented on #714
@andyzhangx thanks much I got that working in a static way(first created the file share and then used it in ovc) by adding the subnet id in the storage account but do you have any recommendation to create the dynamic file share like what all permissions it requires for eg : aad-pod-identity or any

[2020-01-22 18:53] giggio opened #1405 "Public IP not released when deleting cluster via Terraform"
I am bringing this over from https://github.com/terraform-providers/terraform-provider-azurerm/issues/4911

**What happened**:
It is not possible to delete an AKS resource if a public ip is attached to a k8s service of type LoadBalancer.

**What you expected to happen**:
When deleting the AKS resource, the IP is released and the resource is deleted.

**How to reproduce it (as minimally and precise

[2020-01-22 19:16] nidhi5885 commented on #400
Any solution to the original problem here?

My Problem Statement: Route Table is not getting created automatically when AKS cluster is deployed in custom VNet Subnet.

Any help will be appreciated.

[2020-01-22 19:24] edalferes commented on #1376
Hello @bramvdklinkenberg, I'm using Ingress Voyager

[2020-01-22 19:28] luddskunk commented on #1376
Hi, I'm using an nginx ingress controller and service. However, editing (not redeploying it) did not seem to work. Did you do a fresh re-deploy with a .yaml file or did edit the live configuration work for you?

Thanks

[2020-01-22 19:35] bramvdklinkenberg commented on #1376
Hi @luddskunk , we use an azure devops pipeline so the pipeline applied the new changes. So I didn't edit the svc live.

[2020-01-22 21:18] djsly commented on #1379
Once we are on the new Windows VHD logic. Should we expect the same upgrade experience for windows node pool as for the Linux node pool ?
@MikkelHegn

Also, do you think that this migration will see the day within the next two AKS release ? :)

[2020-01-22 21:27] devteng commented on #1364
I solve this in AKS for a adhoc deployment of Prometheus. My problem was that CoreDNS metrics were not being scraped by Prometheus. I was able to get atleast the in cluster deployment of Prometheus by adding prometheus.io/scrape: "true" annotation to the coredns deployment under .spec.template.metadata.annotations. Adding the annotation will causes the deployment to perform a rolling update. **Thi

[2020-01-23 01:20] jluk commented on #1402
Manually adding node taints via kubectl won't guarantee persistence/reapplication of those to new nodes created during scale or upgrade events, hence if you rely on a taint logic for scheduling you should set it through the AKS API definition for an agent pool.

Will leave this ticket open for tracking this CLI gap and jump to the related issue.

[2020-01-23 01:25] feiskyer commented on #1376
Update: https://github.com/kubernetes/kubernetes/pull/87246 has merged and cherry-picked to 1.15-1.17.

[2020-01-23 01:59] sozercan commented on #1195
@jaygridley do you mind opening an Azure support ticket for this from your AKS cluster resource? Please mention in the ticket that it is for the Azure upstream team and note the github issue, and let us know the ticket id and we can take a look at your cluster.

[2020-01-23 09:42] abidahmeds opened #1406 "Multus enablement for AKS Azure CNI"
Does anyone have a clue if Multus is supported as enabled in Azure CNI ? can i get that if so , how ?

[2020-01-23 10:15] mtparet commented on #1373
Our AKS cluster is not a VMSS cluster (created in 2018 july) and the support say that we cannot add a node pool but we cannot afford recreating it because it is much to large with volumes/load balancer/ IP etc..

What is the solution in this case ?

[2020-01-23 11:46] J0F3 commented on #400
@nidhi5885  When using a custom vnet make sure the service principal of the AKS cluster has at least the network contributor role on the custom vnet. Otherwise the AKS cluster has no permissions to make changes to your vnet. Thats something that I ran into when I was using a custom vnet.
Maybe that helps...

[2020-01-23 12:29] nidhi5885 commented on #400
@J0F3 , Thanks for your response. I actually tried the same. And even I've used service principal with contributor role at subscription level for creating AKS, but still no route table was created.

[2020-01-23 13:42] jnoller commented on #1373
@mtparet i apologize but the cluster should be re created.

[2020-01-23 13:46] pomberer opened #1407 "Collecting custom JSON logs not available when using omsagent inside AKS cluster"
When using OMSAgent inside AKS Cluster to collect logs from stdout/stderr it cannot be configured to be using JSON log format.

Especially when using a java based application multiline parsing needs to be implemented when collection a stacktrace for example.

[2020-01-23 14:34] qmalexander commented on #1367
@AbelHu we currently have this issue using "aksEngineVersion: v0.45.0-1" on our windows nodes. We followed https://azure.github.io/application-gateway-kubernetes-ingress/troubleshooting/ and it works when we host the app on the linux nodes. So it is cleary a issue with the windows nodes.

The application gateway points to the correct ip of the pod.
![image](https://user-images.githubusercontent.co

[2020-01-23 17:53] jnoller commented on #1373
@mtparet alternatively you can try using the knode utility I linked to offload the Docker IO

[2020-01-23 20:23] Aaron-ML commented on #1404
This has now happened in two regions: WestEurope and WestUS

[2020-01-23 20:42] alanjcastonguay commented on #397
https://docs.microsoft.com/en-us/azure/aks/certificate-rotation asserts the new `az aks rotate-certs` will rotate the cluster CA. This has the effect of the cluster no longer trusting certificates signed by the former CA, including that embedded in the `clusterAdmin` kubeconfig fetched with ` az aks get-credentials --admin`. The document suggests a 30 minute outage, so we probably don't want to ro

[2020-01-23 21:28] MikkelHegn commented on #1367
@qmalexander: as a workaround, could you try to change the NAT exception rules in C:\k\azurecni\netconf\10-azure.conflist?

In the below example remove the default 10.0.0.0/8 - and change the AKS Subnet to be the whole VNET range.

![image](https://user-images.githubusercontent.com/12242001/73025193-6bbaa300-3e2f-11ea-9302-cbe77fca441f.png)

A drain and reboot of the node should pick up the config

[2020-01-24 09:00] ball-hayden commented on #1373
@jnoller a slightly separate issue, but please can I emphasise that this really isn't an option for many of us and yet it seems to be the default stance for changes to clusters.

The complexity of doing on online migration, or the amount of downtime required for an offline migration, is simply unacceptable for those of us working in small businesses.

I appreciate it's difficult for Microsoft to d

[2020-01-24 09:16] frankvdbh commented on #1367
I deployed a new cluster. Using ALS Engine v0.45.0-1-aks
It still has the issue. The exception list in the conf file contains the AKS Subnet but not the whole vNET and has the default 10.0.0.0/8 exception instead of the vnet.
Anyway we can control the vNETCidr parameter for AKS-Engine? it should change this default exclusion.

[2020-01-24 15:47] dcvtruong commented on #624
Looks like this issue is unsolved and it it closed, why?

[2020-01-24 15:53] kmoussa opened #1408 "Allow --admin access via PIM and upon expiry the user can't use the access stored in the .kube config"
**What happened**:
   1. user "dev" got assigned Azure Kubernetes Cluster User Role and is eligible to be Azure Kubernetes Cluster Admin if requested through PIM.
   2.  by default they don't have Admin access so if user "dev" tries to use az aks get-credentials --admin it will fail generating the following error message.
3.  user dev requests Azure Kubernetes Cluster Admin through PIM since they

[2020-01-24 17:52] eox-dev opened #1409 "az aks browse now results in ERR_CERT_INVALID on 1.17 cluster"
[code]
This was working on a 1.14 I had. Made a 1.17 and now this doesn't seem to work. Just get this error:

![image](https://user-images.githubusercontent.com/59094233/73087092-cb906880-3e86-11ea-903f-e4067011a1a3.png)

Tried incognito, clear browse cache, [reseting the credentials](https://docs.microsoft.com/en-us/azure/aks/update-credentials), and also made sure to [ClusterRoleBinding](https:/

[2020-01-24 18:42] wasker opened #1410 "Multiple auto-created identities cause auth issues"
**What happened**:
aks-preview 0.4.27 started to auto-create and assign omsagentIdentity to node pools. This causes code that doesn't expect multiple identities present to fail (i.e. calls to metadata identity endpoint fails due to missing client_id/object_id).

**What you expected to happen**:
Limit the amount of auto-created managed identities to 1. If users need more than one identity on the po

[2020-01-24 20:06] jnoller commented on #624
@dcvtruong Because this is known / behavior for worker nodes we detect are hard failing. More than likely the actual cause of the failure (not the reboot) is this: https://github.com/Azure/AKS/issues/1373

the linked issue requires use modification of the worker nodes to resolve.

[2020-01-24 22:07] wasker commented on #1410
What's interesting is that azure.json on the node has `userAssignedIdentityId` matching the kubelet identity that I see in the output of `az aks show`. However queries to the metadata identity endpoint are failing if both kubelet and omsagent identities are configured on the VMSS.

[2020-01-24 22:11] dubuc commented on #1195
Works for me on AKS 1.15 in China and Gatekeeper v3.1.0-beta.4, didn't have to add the `control-plane: controller-manager`, since the kube-system namespace came already with the following labels:

[code]

[2020-01-24 22:35] sozercan commented on #1195
@jaygridley looks like your validating webhook configuration and service was renamed. certificates that gatekeper generates automatically have subject for `CN=gatekeeper-webhook-service.gatekeeper-system.svc`. If service is named differently, they won't match so validating webhook won't work.

If you can reinstall GK with default configuration, it should work as expected.

For diagnosing, you can

[2020-01-24 23:28] jaygridley commented on #1195
@sozercan That was it! I did not think that the name of the Service has a meaning. Excellent. Working smoothly now.

[2020-01-26 01:06] JoeJasinski commented on #1208
Hi all, I'm getting this error in minikube with k8s 1.17.

This looks like the same issue.
[code]
I gather from this thread that the "Service Account Token Volume Projection Kubernetes" feature needs to be enabled to do this. How does one go about doing that in minikube?

Thanks

[2020-01-26 19:17] ondrejhlavacek commented on #1402
@jluk How do you add a node taint to an existing node pool using ARM templates? I'm getting

[code]

[2020-01-27 09:30] jycamier commented on #1320
@mihsoft, me too

[2020-01-27 11:26] junaid-ali commented on #528
@edernucci issue should have fixed https://github.com/Azure/aks-engine/pull/1801

[2020-01-27 12:08] iverberk commented on #1388
Anyone from Microsoft Azure/AKS available to provide further input on this issue?

[2020-01-27 14:16] qmalexander commented on #1367
Hi @MikkelHegn, during the day we have tried with your suggestion but it did not resolve the issue.

**Our test**
To be on the safe side we deploy a simple iis container and added a loadbalancer using nginx. We can confirm that the iis works with both http and https when going to nginx but when switching to AG we get:

![image](https://user-images.githubusercontent.com/3501508/73181238-2213d600-41

[2020-01-27 14:53] qmalexander opened #1411 "502 Bad Gateway on windows nodes with AGIC"
**What happened**:
When deploying a container (Simple standard iis) using the new Application Gateway ingress everything seams alright but we are unable to navigate (http/https) to the container using AG.

**What you expected to happen**:
Should be able to access the website hosted in k8s with Application Gateway.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a clust

[2020-01-27 16:02] dariuszbz commented on #3
Hello All,

I have the same problem. Customer policy enforces new RG with tags. The node RG is not created and I'm getting an error: "Resource 'DefaultResourceGroup-EUS2' was disallowed by policy. Policy identifiers: '[{"policyAssignment":{"name":"Enforce ....."

my az cli:

    az aks create --resource-group $rg `
                  --name  $ClusterName `
                  --enable-vmss `

[2020-01-27 16:23] ondrejhlavacek opened #1412 "AKS validates against duplicate taint keys when setting node-taint on agentPoolProfile"
**What happened**: If I use multiple taints in a Node Pool ARM template and there is a duplicate key, e. g.

[code]
the deployment fails with this error message

[code]

**What you expected to happen**: A sensible error message would be handy.

**How to reproduce it (as minimally and precisely as possible)**: Just set two node taints with the same key.

[2020-01-27 16:33] jluk commented on #1402
@ondrejhlavacek apologies, my previous comment was incorrect that you can do a post-create update of pool taints. I've updated it.

This property is only set during pool creation - so you will need to define the taints on the first agent pool when the cluster is created in the ARM template.

[2020-01-27 16:36] ondrejhlavacek commented on #1402
@jluk Thanks for the clarification! Why is this property read-only during update?

[2020-01-27 16:38] mkosieradzki commented on #3
@dariuszbz nope. The error you are having is coming from creation of OMS workspace. Just add `--workspace-resource-id` and point it out to your existing OMS and you should be fine. It might also come from network creation... so you should also point out a: `--vnet-subnet-id` to an existing subnet.

[2020-01-27 16:42] jluk commented on #1402
Today it's not a mutable property because there is no reconciliation mechanism for cleanup/reapplication handling. We have that capability on the backlog, but we need to get some more important work done before supporting that.

[2020-01-27 17:47] jluk commented on #1410
@sauryadas could you take a look at this MI issue?

[2020-01-27 17:49] jluk commented on #1404
Thanks for sharing the SR, confirming on-call is looking into this and latest will be reported on your SR. Once that issue is confirmed clear we will close this related issue.

[2020-01-27 17:57] sauryadas commented on #1410
@norshtein will take a look at this when he is back from holidays next week.

[2020-01-27 18:08] Aaron-ML commented on #1404
@jluk I'd love to have this issue tracked somewhere, it can be in the SR or anywhere. This is the second time we've upgraded our production clusters and ran into a show-stopping issue.

[2020-01-27 18:20] jluk commented on #1412
Thanks for the report, agree AKS should capture this validation for duplicate taint keys. Backlogging.

[2020-01-27 19:50] jluk commented on #1004
Closing as AKS now supports 1000 nodes in a single cluster, with 10 pools at 100 each.

[2020-01-27 19:50] #1004 closed

[2020-01-28 01:52] jluk commented on #1404
Absolutely - we can use this public issue for broad awareness to make sure everyone has the latest info, your SR will also receive the latest information so we can do both. Your SR should also deliver an explanation specific to your cluster with the detailed fixes.

Does the below capture your scenario concerns? If so, I'll update the original comment and title to reflect this for readability.

Yo

[2020-01-28 07:32] J0F3 commented on #400
Hmm that is strange. Is the routing table not created at all or is it just not linked on the custom vNet?
(Note that the routing table is actually created in the "MC_" Resource Group and not in the Resource Group where you custom vNet resides.)

[2020-01-28 08:59] dariuszbz commented on #3
I found it ... I created "default" group manually. I run the command again
and all worked as expected.
Funny: no resources were created in "default" group. So .... "Lazy
development" I think but can't believe .

On Mon, 27 Jan 2020, 16:38 Marcin Kosieradzki, <notifications@github.com>
wrote:

[2020-01-28 09:19] pixxet commented on #614
same here !

`Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for ACR. Are you an Owner on this subscription?
`

[2020-01-28 11:09] nidhi5885 commented on #400
@J0F3 - Hi, Do I need to explicitly define the `azurerm_route_table` resource in the main_aks.tf?

[2020-01-28 11:48] ThorstenHans commented on #688
Is there any update regarding this one? I'm also working with a customer who wants to use ACR content trust from within AKS

[2020-01-28 11:48] derkoe commented on #1407
Would be great to see the traces for Java (and other languages) combined into one log entry. Currently reading the stack traces is quite cumbersome.

[2020-01-28 11:59] Rzpeg commented on #980
Is there any ETA for this feature GA? it's 2020 already

[2020-01-28 14:44] nmeisenzahl commented on #1381
Same here.

[2020-01-28 19:00] jason-epp commented on #1284
This is still an issue.
Also occurs with event hub/kafka.

nodepools are great, but things like this need to be addressed.

[2020-01-28 19:36] jjburr commented on #980
any sort of update would be nice.....

[2020-01-28 19:41] palma21 opened #1413 "AKS ARM/VMSS Throttling/429 errors"
# What is occurring?
AKS engineering is tracking a series of failures and issues related to subscription level throttling (error 429). This issue can cause disk attachment failures, scale up/down failures as well as failing any other API call to the underlying IaaS/services.

When a kubernetes cluster on Azure (AKS or no) does a frequent scale up/down or uses the cluster autoscaler (CA), those ope

[2020-01-28 22:31] BrainSlugs83 commented on #1413
Hi @palma21, quick question:
I'm seeing these kinds of issues when I *provision* clusters for the first time. -- is it possible for the AKS team to migrate the fix into my subscription for any cluster I create? Or does it have to be applied individually, for each K8S cluster in my subscription?

[2020-01-28 22:32] dariuszbz commented on #980
Can't agree more..... My company is heading to run prod Q1. It would be
very helpful to know the exact date.

On Tue, 28 Jan 2020, 19:37 jjburr, <notifications@github.com> wrote:

[2020-01-29 01:19] jluk commented on #1344
This capability has been released and is available to be set via ARM template. The CLI capability to set this is inbound and we will leave this issue open until that is complete.

[2020-01-29 07:42] marcostrullato commented on #1338
Apologize, I'm late. It's in our tasks list and will be done soon.

[2020-01-29 16:09] djsly commented on #1413
we are also affected by the creation of the new Clusters
![error](https://user-images.githubusercontent.com/4981802/73374154-ba30cd00-4287-11ea-8c99-65add348ab31.PNG)

Is it expected that this patch is in place already ?

[2020-01-29 16:18] jnoller commented on #1413
@djsly  @BrainSlugs83  the reason you are seeing this on new cluster creation is that the quotas in question (http throttling/limits) are tracked on a *per subscription* basis. This means if you have cluster A and B on the same subscription, a single cluster may starve the others.

[2020-01-29 16:24] coreywagehoft commented on #1413
We ran into multiple clusters in one subscription causing throttling a few months ago.  We ended up moving to 1 subscription per cluster, and we hit throttling limits again.  Glad to see this issue is recognized and Azure is working to mitigate it.

@jnoller Is Azure support able to reset our "penalty window" or reset our request counters completely?  We have been dancing in and out of this penalt

[2020-01-29 16:26] jnoller commented on #1413
@coreywagehoft No - support can not reset the window ☹️ this is a widespread issue and our number one product priority so long term fixes involve rationalizing the limits / call usage involved.

[2020-01-29 16:46] tombuildsstuff commented on #1413
👋 we're an awkward use-case so I think worth calling out here

We have a resource in Terraform for provisioning AKS Clusters to confirm both the Terraform AKS Resource & Azure API behave in the manner we're expecting - as such we run acceptance tests for this every night (and when it's worked on).

This involves spinning up ~100 AKS clusters - which we used to be able to provision ~30 concurrently

[2020-01-29 19:15] GarrettGeorge opened #1415 "Garbage collection policy for containers and their images"
**What happened**: Trying to find information about how containers and container images are garbage collected in a managed AKS cluster. When looking here, https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection, I'm not sure which defaults are changed, if any.

**What you expected to happen**: Get information about garbage collection settings in a managed AKS cluster

[2020-01-29 20:16] palma21 commented on #1413
@BrainSlugs83 @djsly that is correct, the throttling is subscription wide when doing calls to VMSS, so you'd experience this when creating new ones as well. The patch will fix your whole affected subs.

@tombuildsstuff while this patches would def help your case, I think I'd have to review your model better to understand if it would solve it, because in the end if you're doing a lot of GETs from T

[2020-01-29 20:18] palma21 commented on #1413
We are currently rolling out the fixes to all impacted subscriptions with existing support tickets.
As planned the fixes will be worldwide by end of week.

[2020-01-29 20:39] jlogsdon commented on #1311
Can we get any response on this? It's _still_ happening quite frequently for us.

[2020-01-29 20:44] jnoller commented on #1311
@jlogsdon Most of the tunnel timeouts I've root cause have been triggered by this: https://aka.ms/aks/io-throttle-issue

[2020-01-29 20:49] jlogsdon commented on #1311
Thank you for the link, I'll do the investigation steps and see if that is it.

[2020-01-30 06:32] kuttivinoth opened #1416 "Connecting to database outside the container is failing"
In AKS cluster deployed JBOSS application(image:daggerok/jboss-eap-7.1) and trying to connect MSSQL database  outside of container and it is failing

Connecting to database outside the container is failing

Should be able to connect mssql database hosted in azure

Try object kind of type external name and endpoint

[2020-01-30 07:54] kalyan123i commented on #1187
I have raised a support ticket to microsoft and got the below recommendation which worked for now. microsoft is working to fix in later version of aks.

remove autoscaling feature for aks clusters in subscription and wait for 2 hours to api to lower the throtlle.
keep resource limits for all deployments and make sure its not more than 80% of total available resources.

[2020-01-30 09:01] tombuildsstuff commented on #1413
@palma21 the support ticket we've got open is 120010124000024 (cc @katbyte)

[2020-01-30 11:26] Rzpeg commented on #980
@jnoller any update?

[2020-01-30 12:36] arminc opened #1417 "Reconcile and unify all system component labels"
**What happened**:
The core pods in kube-system on AKS azure-cni-networkmonitor, kube-proxy and use component=component while azure-ip-masq-agent, coredns and metrics-server use k8s-app.

**What you expected to happen**:
I would expect them to use one or another or both but not different labels. Therefore I am wondering why this is?

**Environment**:
AKS 1.14 cluster

[2020-01-30 12:42] arminc commented on #1395
I hit the same issue. Besides this, it also uses a different label so the label selector needs to be changed as well. https://github.com/Azure/AKS/issues/1417

[2020-01-30 15:21] nninja94 commented on #1413
Hi, we are affected as well. Support ticket number is: 120012824002666
Thank you!!

[2020-01-30 16:58] pplavetzki commented on #688
I also have a large client that wants to use signed ACR images with AKS.

[2020-01-30 17:08] jluk commented on #1187
Please reference this ticket as well capturing the latest for 429 VMSS throttling.
https://github.com/Azure/AKS/issues/1413

[2020-01-30 17:11] jluk commented on #1416
@kuttivinoth connection failures could be a lot of different reasons - can you please open a support request to have AKS SRE diagnose the issue? We won't be able to resolve this quickly through Q/A on github, so to favor getting your issue resolved as fast as possible open an SR.

I am going to close this issue in favor of that path as this looks like it is a specific issue on your cluster. If dur

[2020-01-30 17:11] #1416 closed

[2020-01-30 21:04] MohsenMahdieh opened #1418 "Kubernetes resource limitation for containers not working"
**What happened**:
I have a AKS cluster. I created a deployment with one container with following resource limitation options.
[code]
After some time when I execute the 'kubectl top pods' on the cluster, I could see that pod is taking more memory (around 500 MB in resident space) than allowed limit.

**What you expected to happen**:
Here as far as I have understood, this particular pod should not

[2020-01-31 06:57] seanmck commented on #1418
Are you sure you have the right values above? Trying to set a request higher than the limit should fail.

The request value is used by the Kubernetes scheduler as a minimum resource allocation to guarantee for the container. The limit value is set by the container runtime on the node where the pod is scheduled as an upper bound for what the container should be allowed to use. A container can grow

[2020-01-31 07:12] seanmck commented on #1382
If you rerun the browse command, does it still fail?

[2020-01-31 07:26] marcostrullato commented on #1338
Hi everyone, so we have replicated the situation once again.
You can find the IaC code here: https://github.com/marcostrullato/aksiac
Off course I've cleaned it from any reference, so be aware it might be hard to run.

The source of this IaC is the akscommander code from @rhummelmose.

Is there anything else I can do?

Cheers

[2020-01-31 10:55] dariuszbz commented on #1418
limits:
   cpu: 100m
   memory: 100Mi
 requests:
   cpu: 50m
   memory: 300Mi

it's wrong .... request can't be more than limit.

try the one:

limits:
   cpu: 500m
   memory: 500Mi

requests:
   cpu: 100m
   memory: 200Mi

and .... instead of memory leak: could you try to allocate in the proper
way more than 500, and run the test again, please?

On Fri, 31 Jan 2020 at 06:57, Sean McKenna <notific

[2020-01-31 15:06] embik opened #1419 "Fresh AKS cluster (1.15.7) with Azure NetworkPolicy has azure-npm pods in CrashLoopBackOff"
**What happened**:

We deployed a fresh AKS cluster (in eastus2) with Kubernetes 1.15.7, Azure CNI and Azure NetworkPolicy support. All azure-npm pods are going into crash loops immediately and don't recover.

[code]

The logs seem to indicate that something in the underlying node OS changed (or azure-npm has a bug now) and `iptables` fails:

[code]

**What you expected to happen**:

Well, azure-n

[2020-01-31 16:18] jluk commented on #1338
Thanks @marcostrullato for the pointer to repro - to help us diagnose can you explain what the situation is that is not working? Is it a failure of communication between agent pools, failure during setup/provision, or something else?

[2020-01-31 19:32] deuch commented on #1419
Same here with a 1.14.8 cluster with v1.14.8-hotfix.20200127. Exactly same errors with cluster created today ...

[2020-01-31 19:59] dubuc commented on #1419
Adding here that we can deploy on Azure China without having this issue, the same 1.15.7 version.

[2020-01-31 20:20] jnoller commented on #1419
Based on @embrik's container logs - I would recommend all of you log into your worker nodes and look for PLEG errors in the journalctl -u kubelet.service logs. They will look like this (text varies):

[code]

If you see errors like this - you are seeing the symptoms of this issue: https://github.com/Azure/AKS/issues/1373 - your OS disks on the workers are IO throttled.

I can re-create this at wil

[2020-01-31 21:10] jlogsdon commented on #1311
It's hard to tell if this is the same issue. I've tried with these different node pool setups and still have the tunnel timeout problem:

1. `Standard_D2s_v3` with a 100GiB disk
2. `Standard_D2s_v3` with a 500GiB disk
3. `Standard_D4s_v3` with a 500GiB disk

With the last one I've had issues getting prometheus-operator setup per the instructions in #1373, once I run the sed commands and restart ku

[2020-01-31 21:20] jnoller commented on #1311
You need to raise the size of the disk to at least 1 TB or ideally, 2TB to maximize the likliehood you won't get throttled. A 500gb OS disk has a max IOPS of 2300/s - so your OS disk to your VM is still throttled leading to the failure. If you look in the kublet logs on the nodes you will see errors like this:

[code]

In the docker logs, similar lifecycle failures:

[code]

You VM SKU is fine - i

[2020-01-31 21:27] deuch commented on #1419
I’ve created many cluster last week without issue (West Europe) (1.14.8 without the hotfix-20200127). Now, since this hotfix, we have issue on the first one ... I can try to create a new one to check, but i’m still skeptical. We have more than 60 clusters that runs pretty smoothly.

[2020-01-31 21:38] jnoller commented on #1419
@deuch Check Azure monitoring and the Azure insights disk IO metrics for your cluster(s) - unless you create the cluster using ARM and maximize the disk size to the 2tb max you will see random container runtime and lifecycle failures.

If you log into the nodes via SSH - you may see logs like this in the journalctl -u kubelet.service logs:

[code]

This shows that the deployment was picked up - an

[2020-01-31 21:46] deuch commented on #1419
Everything is created with Terraform. All out cluster has only 30GB of OS disk (60 clusters) for many months now.
Never had an issue like this (azure-npm in crashloopbackoff) before. And it happen at the creation of the cluster, not after 3 days :-)

I will check the logs.

Thank you for the input.

[2020-01-31 21:56] jlogsdon commented on #1311
I just did a test with a 1TiB OS disk and the issue persists.

This is where I get confused. According to metrics provided _by azure_ the IOPS usage hardly goes over 200! How am I getting quota limited if I'm ~2100 away from the limit?

[2020-01-31 22:00] jnoller commented on #1419
@deuch The only reason the version matters is to new/additional logging, features and metrics. All of these increase the IOPS against the OS disk, which you are now hitting. If you have 30gb OS disks, I would ask you to please check the metrics and for the errors I pasted.

[2020-01-31 22:07] jnoller commented on #1311
@jlogsdon The quota that you're throttled on is not the quota of the Virtual Machine, *its the maximum quota of the worker node operating system disks*:

![disk-sizes](https://user-images.githubusercontent.com/51528/73577714-e50f5280-443a-11ea-8c7f-2bb989426e98.png)
![vm-sizes](https://user-images.githubusercontent.com/51528/73577729-ee002400-443a-11ea-93d5-e6bb38b173bf.png)

Take an example DS3v2

[2020-01-31 22:22] jlogsdon commented on #1311
Okay, so taking my most recent test this should hold true:

1. The VM (a `D4s_v3`) has a maximum IOPS of 6400.
2. The OS disk (`1000GiB`) should be a P30, with a maximum IOPS of 5000.

This means the machine is limited to 5000 IOPS, correct? If the tunnelfront connection loss is due to disk quota throttling how are we hitting that with only _200_ IOPS used?

[2020-01-31 22:39] deuch commented on #1419
Ok i understand better, the new prometheus stuff kill the IOPS and throttling happens ... So now we have to pay for big OS disk (for AKS) that we never really use only to be able to install a cluster ...
We have 1 cluster per application, so we do not need to have big disk.

What is the size we need to use to avoid this issue ? 2TB ?

[2020-01-31 22:44] jnoller commented on #1311
Yes, the maximum would be 5000 - what is the disk busy VMSS view and Disk IO azure insights reports show for your system? I am not saying 100% my issue is your issue, but I've seen (and can recreate this on larger systems).

This is mine, to cause this I ran a `helm install <chart>` - the cluster is otherwise idle:

![p4-diskbusy-iops](https://user-images.githubusercontent.com/51528/73579359-6a950

[2020-01-31 22:48] jnoller commented on #1419
@deuch See the "Issue Mitigation" section of the original bug: https://github.com/Azure/AKS/issues/1373#mitigation I personally recommend testing with the docker IO path isolated:

## Isolate the Docker IO path

In examining this issue AKS identified that docker container IO was a major contributor to the saturation of the OS disks. We are looking at options for customers and examining the default

[2020-01-31 23:24] MohsenMahdieh commented on #1418
Thanks for having a look. My bad.. updated the issue. Anyway K8s wont let you set request more than limit and will fail validation.

[2020-01-31 23:27] MohsenMahdieh commented on #1418
I updated the issue. And in real world my container doesnt have memory leak and allocates memory more than limit. Simluate in any way you like.

[2020-02-01 00:13] jsmartt commented on #1200
The [release notes from 2020-01-27](https://github.com/Azure/AKS/blob/master/CHANGELOG.md#release-2020-01-27) say that now setting tags on the nodepool is allowed, and those will propagate automatically to all nodes in the nodepool. I haven't tried it yet, since that version isn't in the SDK I'm using, but it looks promising.

[2020-02-01 01:27] jluk commented on #1200
@jsmartt to clarify, that feature captures this: https://github.com/Azure/AKS/issues/1344

This one is referencing not just the VMs in a nodepool, but all of the dependent resources in a cluster like storage/networking as well.

[2020-02-01 01:30] mhyon opened #1420 "Feature Request: Email notification or query to know when a release has been applied to a specific cluster/region"
Submitting on behalf of a customer that would like to know when an AKS release, updates, patches, etc. have been applied to their specific clusters. Ideally, it would be through an email notification or some mechanism that can be automated by the customer (periodic query into their logs for example).

[2020-02-01 02:24] weinong commented on #1419
NPM was crashing due to the control plane patch we pushed.
AKS team has fixed it already. please check it again
cc: @jnoller @palma21

[2020-02-01 03:39] jnoller commented on #1419
@weinong 👍 - closing this one

[2020-02-01 03:39] #1419 closed

[2020-02-01 13:36] iMacX commented on #1419
What is the solution at the end? Cluster need to be created again in order to fix this? Thank you for the enlightenment.

[2020-02-01 14:05] jnoller commented on #1419
@iMacX once the release is in all regions and you create a new cluster ( @weinong can confirm if there’s mitigation for existing clusters/upgrades)

[2020-02-01 17:14] 0x53A commented on #1373
I have an AKS cluster with windows nodes and I think I hit this issue.

At the moment I am running a single ``Standard_B2ms`` node with the default OS disk size.

What can I do to mitigate this?

1) expand OS disk

![image](https://user-images.githubusercontent.com/4236651/73595796-b1a4f480-451c-11ea-998b-c12bc4591ff4.png)

The VM has a quota of 1920.

Looking at your table of the different disks,

[2020-02-02 01:09] #1104 closed

[2020-02-02 02:25] nilo19 commented on #1376
The bug has been fixed and corresponding docs have been added.

[2020-02-02 12:01] dariuszbz commented on #1418
Could you share the URL to your image please? Thank you.

On Fri, 31 Jan 2020, 23:27 MohsenM, <notifications@github.com> wrote:

[2020-02-02 20:56] MohsenMahdieh commented on #1418
I am afraid I cant because it is a private and wont work in isolation.
Cant you replicate the issue?

[2020-02-02 23:28] MohsenMahdieh commented on #1418
@dariuszbz The is the deployment yaml file if it helps.

`apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-x
  namespace: cw
  labels:
    app: api-x
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-x
  template:
    metadata:
      labels:
        app: api-x
      annotations:
        dapr.io/enabled: "true"
        dapr.io/id: "api-hash"
        dapr.io/port: "8080"

[2020-02-03 02:07] norshtein commented on #1410
This is expected behavior. All identities created by AKS are infra identities and are not expected to be used by end user. To use an identity in your application pod, you should use [aad-pod-identity](https://github.com/Azure/aad-pod-identity). If you do want to use AKS created identity in your pod, you should provide the identity client id to your pod and let your application pod send request wit

[2020-02-03 02:13] sauryadas commented on #1410
thanks @norshtein .. @wasker This is a deviation from the experience we had with SPN's (and by design) where anyone with access to the cluster could simply refer it. The whole migration to using Managed Identities and having individual identities for the cloud provider and each add on is to provide a separation of duties with each identity

[2020-02-03 02:13] #1410 closed

[2020-02-03 02:44] wasker commented on #1410
It looks like aad-pod-identity [is not supported by Windows containers though](https://github.com/Azure/aad-pod-identity/issues/242).

[2020-02-03 08:44] marcostrullato commented on #1338
Hi @jluk what is happening is a failure in communications. It's possible to reach one of the agent pool, where the other is inaccessible.

Let me drive you through the IaC code.

This is the code to define the vnets (https://github.com/marcostrullato/aksiac/blob/master/aks-commander/terraform/base/main.tf)

[code]

This is the code for the agentpools (https://github.com/marcostrullato/aksiac/blob/

[2020-02-03 09:00] embik commented on #1419
I can confirm that a new cluster built today doesn't have the issue anymore.

[2020-02-03 09:03] dariuszbz commented on #1418
Ok. Thank you. One more thing. What is the minimum your app needs? Once it
started and idle: What is the memory consumption?

On Sun, 2 Feb 2020, 23:28 MohsenM, <notifications@github.com> wrote:

[2020-02-03 10:40] MohsenMahdieh commented on #1418
I have around 15 services.. the one which is usual suspect uses around 50mb at start but goes up..I dont want this service to consume my whole memory!!

[2020-02-03 17:14] jluk commented on #1248
@vishnujanardhanan I'm closing this since it's been 3 months. If there's an ongoing issue though, please feel free to open a new one.

[2020-02-03 17:14] #1248 closed

[2020-02-03 17:17] #1245 closed

[2020-02-03 17:47] Shaked commented on #1050
Any idea when this will be available?

Also, what would be the best solution until this feature is released? We would like to make sure we are not wasting money on unused resources while our GPUs are not being used.

Thank you
Shaked

[2020-02-03 17:53] jluk commented on #1107
Re-opening to track this specific scenario of deleting the first node-pool by migrating which pool is defined as primary, which as Jesse mentioned is on the backlog.

[2020-02-03 19:04] jlogsdon commented on #1311
I can't find this Disk IO report anywhere, is there documentation on enabling the report? We use terraform, for what its worth.

I can't enable public IP addresses to SSH into a box and review logs, but I can tell you that the tunnelfront container does not restart. I'm in the process of recreating a cluster, the steps to enable prometheus-operator some how hosed the last one I made.

[2020-02-03 19:09] ianjirka opened #1421 "How to remove cached images on a node"
**What happened**: RFC - Some of our older clusters have cached container images from some time ago - these images are flagged as having security vulnerabilities and need to be removed (this is our security policy).

**What you expected to happen**:
I need some *supported* capability to remove the images.  Any solution is acceptable from deleting the image to reimaging a node, but it is not accept

[2020-02-03 19:28] jnoller commented on #1311
@jlogsdon We definitely need all of the log data from the nodes, but if you install the prometheus operator it should also show the key data.

Just confirming, this only happens when running helm/tiller commands - if so that matches my tests, I can cause a cluster to lose nodes and API connectivity running `helm install istio` or `helm install prometheus-operator`, and that is triggered by the Dis

[2020-02-03 19:40] Smushatron commented on #688
Any update on this, we have two clients that wish to use this feature.

[2020-02-03 20:00] jlogsdon commented on #1311
The helm install command is how we've been replicating, yes. It's not an instant failure, the deployments  take 3-5 minutes to fully initialize after which some helm hooks would normally run. What we see instead is tunnelfront reconnect and the tiller "watch" appear to freeze and eventually the install times due to the wait. When this happens all of the deployments will finish starting, but the in

[2020-02-03 20:05] jnoller commented on #1311
"The helm install command is how we've been replicating, yes. It's not an instant failure, the deployments take 3-5 minutes to fully initialize after which some helm hooks would normally run. What we see instead is tunnelfront reconnect and the tiller "watch" appear to freeze and eventually the install times due to the wait."

What you described is exactly what I see - during the helm process, the

[2020-02-03 20:37] jlogsdon commented on #1311
_sigh_ I ran our test again with D2s_v3 + 100GiB disk and the issue did not occur! I did see the load on the instance with tunnelfront reach ~7 or so, and some reports of slow `du` operations in kubelet logs.

The customer we are trying to resolve this issue with made an attempt about 4 hours ago (with a D4s_v3 + 1000GiB setup) and it failed with the timeout issue.

[2020-02-03 21:15] jnoller commented on #1311
@jlogsdon  Yeah - this will happen randomly - for example a working cluster will lose a node, that failure triggers IO spikes on the others which trips the throttle - then they die as well. What you may be seeing is a difference in logging, workload containers, etc - anything hitting the disk with IO (say, splunk or antivirus software).

This is *10000000* dependent on workload + cluster configura

[2020-02-03 23:29] sauryadas commented on #968
I doubt this will go GA given that there are plans to deprecate PSP upstream and roll it up with Azure Policy that leverages both OPA/Gatekeeper.

Deprecation is not finalized yet.. Take a look at the June 19th comments in the thread below
https://github.com/kubernetes/enhancements/issues/5

[2020-02-04 07:56] salmicrosoft commented on #1059
Maybe related - we're getting CRITICAL WORKER TIMEOUT in our gunicorn/django app even when it's barely doing anything. This just started coming up with no change. We have another cluster that is identical and it's not problematic. After scaling the nodes to 0 and back to 5 the problem went away for about 30 minutes. After this observation and reading several other threads on gunicorn's github, we'

[2020-02-04 09:10] huelsmannt commented on #980
Dear Microsoft-Team,
since here are already many questions when this feature gets GA I won't do the same.

But my question is: are there actually any issues with AKS Windows Node support? Kubernetes has production level support for Windows Nodes since 1.14. Where can I except problems to appear if we use Windows Nodes in productions?

Thanks!

[2020-02-04 09:54] tatazoe opened #1422 "AKS cluster can violate minimum value for node pool (30 pod) with scale down command."
**What happened**:
- Creating AKS cluster with "--node-count 1 --max-pods 10" fails due to AKS specification.

    Ref : Configure maximum - new clusters
    https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#configure-maximum---new-clusters
    **
    A minimum value for maximum pods per node is enforced to guarantee space for system pods critical to cluster health.
    The minimum va

[2020-02-04 10:27] rudolphjacksonm commented on #1304
Hi @palma21 , any news on when the upgrades will roll out to UK South and UK West? All of our clusters are still on v1.2.6, and one of them that was rebuilt recently is on v1.3.1.

[2020-02-04 11:28] palma21 commented on #1304
The rollout is 2/3 complete. We expect to reach all regions in the few couple of days.

We have actually already finished the UK. Can you confirm that you don't have any clusters using the proxy plugin?

[2020-02-04 12:08] palma21 commented on #1304
This is one of my clusters in UK South:
![image](https://user-images.githubusercontent.com/7065724/73743678-fccd2c00-4703-11ea-882d-7a7ebd9157e8.png)

[2020-02-04 12:17] RichardNixon52 commented on #1304
Hi @palma21,

all of our clusters are upgraded to v1.6.6.
Thanks for keeping us up to date!

[2020-02-04 12:43] petegrimsdale commented on #1088
@jluk Is there an estimate as to when this capability will be available?

[2020-02-04 15:41] jlogsdon commented on #1311
Thanks for all the help debugging this, we'd been at a loss for months so its nice to have some concrete information on whats going on.

How heavily has the `knode` approach been tested? We've already tried the first option, the second doesn't apply, and we've done what we can to reduce image size. I'm hesitant to recommend such a major change in how the cluster operates.

You say "our team" has d

[2020-02-04 16:37] dariuszbz commented on #1418
Ok. I understand. One comment: Let's say your service consumes more than a
resource quota. K8s will kill it then, and start again. Are you ready for
this - note: pod it's stateless.?
The next thing I have to start pod with resource request and quota
reflecting to the starting position. If service needs 50MB to start then
resource request setup 70MB, and limit 140MB. Remember K8s resource watcher
t

[2020-02-04 16:59] jnoller commented on #1311
Knode is in use by myself and other large scale customers. That repo doesn't exist under AKS / Azure because of timing and it is not a part of the core product. We are looking at adding it this year.

You can offload the docker IO, or resize the clusters/nodepools to maximize to the 2tb disk limit to temporarily reduce the likelihood of this happening, or distribute the containers/workload across

[2020-02-04 17:27] jluk commented on #1208
This is set for the AKS service release on 2/10. We'll close this issue once that is rolled globally.

[2020-02-04 17:30] desek commented on #1208
Will this be added transparently for customers or do we need redeploy AKS instances due to it being a control plane change?

[2020-02-04 18:03] jluk commented on #1208
No need to redeploy anything, existing clusters will be enabled.

[2020-02-04 18:58] #1025 closed

[2020-02-04 19:29] asubmani opened #1423 "AlwaysPullImages admission controller broken."
**AlwaysPullImages admission controller is not working as**: It seems the default setting is configured as "IfNotPresent

**The below command should return AlwaysPullImages**:

`kubectl get pod <any pod name> -n <namespace> -o jsonpath="{.spec.containers[0].imagePullPolicy}" `

**How to reproduce it (as minimally and precisely as possible)**:
The `AlwaysPullImages` admission controller is listed a

[2020-02-04 19:45] MohsenMahdieh commented on #1418
Mate.. request is how much i am requesting from k8s and if not available wont start the pod and stays in pending... it might go above that but according to k8s documentation if memory goes above limit specified it has to stop but it doesnt!!

[2020-02-04 22:08] ivanthelad opened #1424 "Support custom UDR tables in AKS with kubenet"
**What happened**:
when deploying a kubenet AKS to a custom VNET it should be possible to tell AKS to use a custom UDR table. AKS current generates its own UDR table.
**What you expected to happen**:
it should be possible to allow aks to make changes(kubenet routing entries) to an existing UDR  table.

[2020-02-05 04:09] wasker opened #1425 "az aks create without --service-principal arg picks some SP from the ones I own, uses it for multiple clusters"
**What happened**:
aks-preview 0.4.27 uses some SP from the ones I own when creating a cluster w/o --service-principal arg. When I'm creating multiple clusters in various locations, the same SP is being used. I.e., if I run az aks show on 2 different clusters, I get the same SP block:

[code]

After looking through AAD / App registrations - this is the SP that I've created more than 2 months ago.

[2020-02-05 13:06] karok2m opened #1426 "Enable Prometheus metrics scraping during AKS cluster creation."
I would like to have the ability to enable cluster-wide scraping of Prometheus metrics when I create an AKS cluster.

I am using management SDKs (.Net Core, `Microsoft.Azure.Management.ContainerService`) to create an AKS cluster. And I can enable log collection via `AddonProfiles`:

[code]

This will work similarly for ARM template as well.

It would be useful for me if I can enable cluster-wide s

[2020-02-05 14:25] dariuszbz commented on #1418
Yes. You want you service to start so requested must be more than your
service needs starting point. Right ?
Then limit - u r 100% right.
It works for me and pod "restart" once cpu or mem overloaded.

On Tue, 4 Feb 2020, 19:45 MohsenM, <notifications@github.com> wrote:

[2020-02-05 14:26] dariuszbz commented on #980
I think forget about it and run windows nod/pod in AWS or Google 😃🤪 it
works as GA

On Tue, 4 Feb 2020, 09:11 huelsmannt, <notifications@github.com> wrote:

[2020-02-05 14:36] brennerm commented on #1314
I'm having the same issue. Assigning the public IP to the AKS Standard Load Balancer and setting it in the nginx configuration results in the following error:

[code]

A similar setup with a Basic LB works just fine as I don't have to configure the outbound IP when creating the AKS.

[2020-02-05 15:20] zer0big opened #1427 "[Virtual Nodes] Unable to delete AKS due to inability to delete ACI network resources"
**What happened**:

Unable to remove AKS.
When attempting to remove an aks using command "az aks delete --name zerobigdemoaks --resource-group temp0130", the following error occurs:

`zerobig@ZEROBIG-NT800:/mnt/d/Azure-Study/20200205 - AKS$ az aks delete --name zerobigdemoaks --resource-group temp0130
Are you sure you want to perform this operation? (y/n): y
Deployment failed. Correlation ID: 86ee

[2020-02-05 15:31] brennerm commented on #1314
Current workaround is to let Azure create a public IP address and to let ingress-nginx create a second Frontend IP configuration in the LB. Still requires me to pay for two Public IP addresses instead of one.

[2020-02-05 17:31] jluk commented on #1427
@zer0big apologies for this issue, this is an active issue caused by the ACI service.

Could you please open a support request filed to ACI to resolve this?

[2020-02-05 19:55] wasker opened #1428 "az aks create with --enable-managed-identity breaks auth with ACR"
**What happened**:
My newly created clusters fail to pull images from a private ACR. First I noticed it on 1.17.0, but it reproduces with 1.15.7.

**What you expected to happen**:
Images successfully pulled from ACR.

**How to reproduce it (as minimally and precisely as possible)**:

Following assumes that you have an **image built from servercore:ltsc2019** and pushed to your private ACR (e.g. my

[2020-02-05 23:15] zer0big commented on #1427
@jluk This is the status of the worker node.

`zerobig@ZEROBIG-NT800:/mnt/d/Azure-Study/20200205 - AKS$ kubectl get nodes
NAME                     STATUS     ROLES   AGE     VERSION
virtual-node-aci-linux   NotReady   agent   6d14h   v1.14.3-vk-azure-aci-v1.2.1
zerobig@ZEROBIG-NT800:/mnt/d/Azure-Study/20200205 - AKS$ kubectl describe node virtual-node-aci-linux
Name:               virtual-node-aci

[2020-02-05 23:39] jluk commented on #1427
Thanks for confirming and the extra info, this looks to be the known issue with ACI with an inability to delete delegated subnets. The ACI team is aware of this - but please open a support request to the ACI service if you need immediate deletion.

[2020-02-05 23:43] zer0big commented on #1427
I see. thanks for your guidance.

[2020-02-05 23:54] ams0 commented on #1409
Confirmed, however, Firefox lets you go past the certificate. I was able to retrieve the `kubernetes-dashboard-token`, pass it and it did let me in.

[2020-02-06 00:02] MohsenMahdieh commented on #1418
Hmm. Can it be because if technology used? My container is .net core 3. Would it be related to that? It doesnt stop.. just churn memory..

[2020-02-06 00:20] wasker commented on #1425
OK, that explains how the SP gets assigned, but it's completely non-intuitive! There's no mention anywhere that if `--service-principal` was not specified, something from the local system will be used. This doesn't make any sense. :-\

[2020-02-06 00:30] jluk commented on #1385
This has been shipped, support in CLI 2.0.81. Documentation can be found at aka.ms/aks/slb-ports

[2020-02-06 00:30] #1385 closed

[2020-02-06 00:36] wasker commented on #1425
[Not here though](https://docs.microsoft.com/en-us/cli/azure/ext/aks-preview/aks?view=azure-cli-latest#ext-aks-preview-az-aks-create)

[2020-02-06 01:21] sauryadas commented on #1428
Cluster SP is AcrPull to myacr. <- by this you mean you performed a role assignment?

@norshtein

[2020-02-06 02:12] sauryadas commented on #1423
@jnoller would you know?

[2020-02-06 02:46] wasker commented on #1428
@sauryadas Correct. Let me update my comment to make it clear.

[2020-02-06 05:14] MohsenMahdieh commented on #1418
Hey mate. thanks for your help. Found the issue, apparently my pods have had another container injected to them and that container had memory leak - the container didnt have any resource constraint.
I am gonna close this issue then.

[2020-02-06 05:14] #1418 closed

[2020-02-06 07:06] dariuszbz commented on #1418
Ok.let me refactor my test with .net core 3.0

Very cool case we have here 🤯😃🤪

On Thu, 6 Feb 2020, 00:02 MohsenM, <notifications@github.com> wrote:

[2020-02-06 10:00] evenh commented on #694
Is there any update on single static IP per cluster (master API/control plane) @seanmck?

[2020-02-06 14:44] Rzpeg commented on #980
@huelsmannt Not only Kubernetes has production level support of windows nodes since 1.14, but both competing cloud platforms' managed Kubernetes solutions have them GA. We really need an update on this, @jluk

[2020-02-06 14:45] d4rkd0s commented on #1336
@henrylilei If you check here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/time-sync

Microsoft states that the nodes (running marketplace Ubuntu) will sync to ntp.ubuntu.com, the output you sent appears to be correct.

`Network time on: yes` ✅
`NTP synchronized: yes` ✅
`Synchronized to time server 91.189.91.157:123 (ntp.ubuntu.com)` ✅

Also appears it's been running and the serv

[2020-02-06 14:50] MikkelHegn commented on #980
We appreciate the interest in this feature, but I can only refer back to the comment above: https://github.com/Azure/AKS/issues/980#issuecomment-538943165

Regarding competitive offerings mentioned by @Rzpeg, I assume this refers to EKS and GKE. GKE announced beta support last week:

https://cloud.google.com/blog/products/containers-kubernetes/run-windows-server-containers-on-gke

[2020-02-06 15:01] Rzpeg commented on #980
@MikkelHegn
There should have been some sort of update, 5 months have passed, right?
Yes, GKE has it in beta and EKS in GA.
Anyways, thanks for the update.

[2020-02-06 17:04] arianmotamedi commented on #1373
Hey @jnoller, thanks for the write up. Regarding

How are these numbers determined? We're experiencing intermittent latency/timeout issues in our cluster and I noticed that in some periods over the last week some of the nodes have a queue depth of > 10. The times don't quite overlap with the timestamps of the timeouts, so I'm wondering how critical this queue depth metric is.

[2020-02-06 17:19] jeff1985 commented on #1373
I've been pointed to this issue by azure support, who has identified IO peaks on my cluster nodes where I've been seeing total crash of the nodes after appox. 2 days of running. Only able to resolve by rebooting the nodes.

After more analysis on our side, we found that the actual issue was that we had 1000s of zombie processes not properly cleaned up by one of our containers running in the cluste

[2020-02-06 17:38] jnoller commented on #1373
@arianmotamedi Yup - I have not had a chance to update this - but OS disk queue depth is *not a valid metric* - current I can only recommend the Prometheus-Operator Gradana "USE (Node)" report that shows *IO saturation* until I finish my investigation.

@jeff1985  What kind of process / workload? The process / zombie process list - this issue also directly causes processes and container orphaning

[2020-02-06 17:52] jnoller commented on #1373
I have updated the guidance to remove Queue Depth:

** UPDATE 02/06/2020**: Linux OS disk queue depth as represented in the portal - and in general - is not a valid indicator of this issue. We have invalidated this metric and are working deploying eBPF tracing and other metrics to assist customers with identification. For now we recommend using the `prometheus-operator` USE Method (Node) and Conta

[2020-02-06 18:13] 0x53A commented on #1373
@jnoller do you have any guidance for windows nodes?

[2020-02-06 18:15] jnoller commented on #1373
@0x53A  the same issue exists: boost the OS disk via ARM to the maximum allowed size - that will expand your IOPS count *enough* to reduce the failure frequency

[2020-02-06 18:46] weijuans-msft commented on #980
All - As someone directly driving Windows containers product development and making the technology best for our Azure and on prem customers, I am very excited to see the interest here. While the GA is TBD, if you'd like to talk to us, and share how you are using Windows containers, what are your top pains/asks, we are all ears. Please feel free to contact us at: win-containers@microsoft.com.

[2020-02-06 19:05] 0x53A opened #1429 "can I enable NodePublicIP in a Windows Node Pool?"
I have a few TCP based services and am interesting in connecting directly to the node instead of proxying it through the ingress.

So I was quite happy when i found the flag ``enableNodePublicIp``.

I registered for the preview feature and waited until it showed success: ``az feature register --name NodePublicIPPreview --namespace Microsoft.ContainerService``.

Then I tried to re-create my windows

[2020-02-06 19:39] palma21 commented on #1413
This is rolled out to all regions, and the above cases all have it (thanks for sharing the ticket numbers!)

[2020-02-06 22:35] AMoghrabi commented on #1376
Hey @nilo19 , can you elaborate a bit more on the bug being fixed? We are running 1.15.7 and I don't see an option to upgrade further than that. When do we expect to see this bug fixed on AKS? I assume we'll be able to receive the fix when 1.15.8 is released. Is that correct?

Thanks!

[2020-02-07 01:11] nilo19 commented on #1376
@AMoghrabi actually we're waiting for the release of k8s. We will add support to the new version on AKS after the release being rolled out.

[2020-02-07 01:12] feiskyer commented on #1376
refer https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#timelines for k8s patch release timelines.

[2020-02-07 02:26] jluk commented on #1429
@0x53A thanks for the request, you are correct in the limitation discovered above. In this preview state assigning an IP per node does not work with SLB, which is required for use of multiple node pools and as a result Windows pools.

Support of SLB with public IP per node is a GA requirement, which we are finalizing the date of. We'll get back to you once we have firmer timelines.

[2020-02-07 07:14] dariuszbz commented on #980
It was so easy to update this topic... Thank you Aws and Google, without
you they'd say nothing ..... Ahhhh thank you Microsoft for tracking and
giving the feedback.

On Thu, 6 Feb 2020, 18:46 Weijuan Shi Davis, <notifications@github.com>
wrote:

[2020-02-07 08:42] andyzhangx commented on #733
I found my namespace is in also in terminating state for a long time, and by using `k get ns name -o yaml`, could get some useful info, it's usually caused by finalizer, below is an example:

[code]

[2020-02-07 09:09] #733 closed

[2020-02-07 12:47] noamichael commented on #733
@andyzhangx Is your solution to remove the finalizer? There is usually some reason the finalizer gets stuck and I don't think this issue is resolved.

[2020-02-07 13:21] 0x53A commented on #1429
Thanks!

One more question - will a pod be able to discover the public IP of the Node somehow? Either through an Environment Variable or through some API call?

In my envisioned architecture a client will initially connect over HTTP (which gets routed through the normal loadbalancer, either nginx or Azure App Gateway). The pod will then respond with its own IP and another Port, and the client will

[2020-02-07 15:01] flamingboo opened #1431 "Update REST & ARM template reference for AKS API 2020-01-01"
<!--
I cannot see any documentation for AKS API 2020-01-01.
The latest I have is the 2019-08-01 version:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-08-01/managedclusters

Is there any link to get the 2020-01-01 version?

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes

[2020-02-07 15:03] flamingboo commented on #1431
I can only see the 2019-08-01 version as being the latest:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-08-01/managedclusters

[2020-02-07 16:39] jluk commented on #1431
@flamingboo we're on track to publish an update to the API reference docs for 2020-02-01 within 2 weeks. This should bring up the ARM template and REST references.

FYI @mlearned @zr-msft

[2020-02-07 22:13] aelmanaa commented on #400
hello @J0F3

"When using a custom vnet make sure the service principal of the AKS cluster has at least the network contributor role on the custom vnet. Otherwise the AKS cluster has no permissions to make changes to your vnet. Thats something that I ran into when I was using a custom vnet.
Maybe that helps..."

in my case as well, I noticed that there are no route tables. what is funny though is t

[2020-02-07 23:19] sauryadas commented on #1423
DenyEscalatingExec
AlwaysPullImages

The above 2 admission controllers are in fact not enabled. We have now removed them from the doc.

if you need to configure AlwaysPullImages, you should ideally create your own mutating webhook or wait for azure policy to support it.

[2020-02-07 23:19] #1423 closed

[2020-02-08 01:43] Shuanglu opened #1432 ""ERROR: argument of type 'NoneType' is not iterable" received when enabling addons via Azure CLI"
**What happened**:
failed to enable the addon of dashboard via CLI
**What you expected to happen**:
enable addon of dashboard
**How to reproduce it (as minimally and precisely as possible)**:
az aks enable-addons -a kube-dashboard -g xx -n xx

**Anything else we need to know?**:
I didn't enable the monitoring addon
debug output
WARNING: The behavior of this command has been altered by the followin

[2020-02-08 08:00] andyzhangx commented on #1421
try
[code]

[2020-02-08 08:08] andyzhangx commented on #733
@noamichael
try following steps to remove finalizers, need to mention this issue is not AKS specific, mainly it's due to wrong delete operations on objects, finalizers, etc.
  - Get all the resources in the namespace and delete if they’re some resources:
[code]
  - Delete finalizers:
[code]

[2020-02-09 07:38] przemolb commented on #1394
I also would like to be able to disable all health probes. In our case it is log flooding (and our developers hate it analysing logs in case of issues ....). But also just to have an option. Not really sure what is the a use case/business justification to enforce health probes ?

[2020-02-10 13:49] Kinjara opened #1433 "Kubectl log pod runs into i/o timeout without firewalls."
**What happened**:
I use the following statement to create an AKS cluster -
The principle used is [Monitoring Metric Publisher] and [Contributor] on an empty resource-group.

az aks create --resource-group $ResourceGroup --name $AKSClusterName --node-count 3 --zones 3 --max-pods 50 --network-plugin kubenet  --service-cidr 10.0.0.0/16  --dns-service-ip 10.0.0.10  --pod-cidr 10.244.0.0/16  --docker-

[2020-02-10 15:18] Kinjara opened #1434 "Azure Portal - broken link to git Changelog"
Greetings,

On the portal - [Kubernetes Service/Upgrade] has a link named 'view the kubernetes changelog' this refers to  https://go.microsoft.com/fwlink/?linkid=872876

The reference is on:
https://github.com/kubernetes/blob/master/CHANGELOG.md

where it should point to:
https://github.com/kubernetes/blob/master/CHANGELOG/Readme.md

with kind regards,
Sebastian

[2020-02-10 16:39] pixxet commented on #1107
if the vmss got deleted manually (which is allowed) it's gonna be missing anyway !

[2020-02-10 16:51] jluk commented on #1107
The operation can be done by calling directly to VMSS APIs outside of AKS as you mention, but it is not a MSFT supported action to take on the cluster. Those operations should leverage what exists in the AKS API. Please take note of the policies defined here carefully.

https://docs.microsoft.com/en-us/azure/aks/support-policies#managed-features-in-aks

[2020-02-10 16:54] jluk commented on #1432
Thanks for the report here, we have this issue open on the azure-cli as well for reference. We are scheduling fixes for this.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-10 17:14] jdamata opened #1435 "node-local-dns daemonset is automatically deleted"
**What happened**:
Deployed node-local-dns: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns

After ~ 50secs, the daemonset is deleted automatically.

**How to reproduce it (as minimally and precisely as possible)**:
Fill out and apply the k8s nodelocaldns manifest.

**Anything else we need to know?**:

[code]

[2020-02-10 17:28] jdamata commented on #1435
Removing these labels seems to prevent this:

[code]

[2020-02-10 18:11] 0x53A commented on #1373
I updated to a ``Standard_D4s_v3`` node (6400 IOPS) with a 1024 Gb OS Disk (5000 IOPS).
This did improve performance noticeably, the time to get a new node fully up was reduced from ~2 hours to ~45 minutes.

Just to note that this also about doubled the cost (I had a ``B4ms`` node with a 512 Gb OS Disk before).

The one error I still get fairly often is ``Unable to mount volumes for pod "########"

[2020-02-10 18:38] jluk commented on #1425
We'll revisit why the additional help isn't in the rest reference. Explained a bit more in the additional considerations section. https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#additional-considerations

Closing as this behavior is by design, but we have action to improve the cli ref. Thanks for the feedback.

FYI @mlearned @zr-msft for us to get these caught up.

[2020-02-10 18:38] #1425 closed

[2020-02-10 18:52] jnoller commented on #1373
I’d put money on you still being throttled at the OS disk; any os path latency above a few milliseconds will cause additional timeouts, however I know @andyzhangx is debugging other pvc latency

[2020-02-10 18:53] jnoller commented on #1373
Example https://www.youtube.com/watch?v=Uk_MtHLvLcA

[2020-02-10 19:20] Bougyz commented on #202
I peer the network yet I am getting 502

[2020-02-10 19:51] 0x53A commented on #1373
From https://stian.tech/disk-performance-on-aks-part-1/#Test1

![image](https://user-images.githubusercontent.com/4236651/74184159-989bf200-4c46-11ea-9a85-97970b475451.png)

----------

From https://docs.microsoft.com/en-us/learn/modules/caching-and-performance-azure-storage-and-disks/3-enable-and-configure-azure-vm-disk-cache-by-using-the-azure-portal

![image](https://user-images.githubuserconte

[2020-02-10 19:56] jnoller commented on #1373
No @0x53A  and disabling caching on any type of IaaS NAS (network attached storage) can lead to data loss and other _worse_ performance issues. The blog post you linked looks to have missed the NAS issues and the IOPS quota limits that would trigger the issues around latency.

[2020-02-10 19:59] ams0 commented on #1425
Out of curiosity, I made the `aksServicePrincipal.json` file non-readable by my user and `az aks create` failed; perhaps, it could gracefully continue without saving the local SP credentials. Why we need it locally after all? As long as the AppId can be retrieved as part of the cluster properties, I really don't need the SP password stored locally.

[2020-02-10 20:02] 0x53A commented on #1373
The Microsoft documentation linked seems to suggest disabling it for write-heavy disks, which the node os disk probably is.

[2020-02-10 20:11] jnoller commented on #1373
@0x53A Removing the cache layer is not an optimization / solution for this - it will still be exhausted at the IOPS level, no matter what or how you layout your disks. More importantly, the tests linked completely omit the fact your atomic file operations when hit with the throttle can push disk latency into the 1000+ms range - and with uncached IO that is a lot harder and faster, and more data lo

[2020-02-10 20:14] jnoller opened #1436 "Fork and add new NPD detectors"
Based on the PLEG / other log lines detected due to disk latency, I need to set up a custom fork of NPD to test new issue detectors.

[2020-02-10 20:20] jnoller commented on #1435
this is by design - AKS provides a managed service, and one of those components is core-dns which we maintain along with others inside of kube-system, deploying your own DNS system like this is not supported. DNS customization within AKS is documented here: https://docs.microsoft.com/en-us/azure/aks/coredns-custom

[2020-02-10 20:20] #1435 closed

[2020-02-10 21:17] jnoller commented on #1373
@0x53A  I took a bit more time to break down (and commit to re-testing and clarifying) that blog post here: https://github.com/jnoller/kubernaughty/issues/46

Specifically, the author missed the primary bottleneck - the OS disk of the VM itself. When you have chatty containers, logging, etc that is *all* slamming into the OS disk.

That trips the throttle - and will with *any* disk size, it's just

[2020-02-10 21:43] 0x53A commented on #1373
Couldn't an earlier backpressure still help to mitigate symptoms?

For example let's take image pull - with the write cache enabled, it will download as fast as it can and write to the azure cache until it is full. Then the whole node is blocked while the cache flushes.

Without the write cache, I would guess that it hits the IOPS limit faster and is throttled, but the kernel can then interleave o

[2020-02-10 21:53] jnoller commented on #1373
@0x53A  No problem! The issue with optimizing that path that way (removing the cache) is the sheer performance penalty you'd see (these are NAS devices after all), then there's the risk of data loss - finally, there's the issue that having disk latency as high as this causing *total node failure* which is unacceptable.

 I'm trying to work towards testing the caching mode, but right now I recommen

[2020-02-11 00:20] jluk commented on #1431
This has been updated for 2020-01-01

https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2020-01-01/managedclusters

[2020-02-11 00:20] #1431 closed

[2020-02-11 01:41] thisispaulsmith commented on #1376
We recently upgraded to 1.15.7 and this same issue has wiped out our production cluster. Scaling up the node count wipes out the DNS label. This needs a pretty urgent fix? Adding the label to services isn't an really a viable option for us.

[2020-02-11 02:55] davidmw commented on #1376
Our DNS label has been erased four times today, at random without any scaling activity or other known action triggering it.

[2020-02-11 04:25] norshtein commented on #1428
Acknowledge. In the design, kubelet should be able to pull the image from ACR as long as the identity is associated with the VMSS and the identity has Acrpull permission. Seems it is broken now. We're investigating what happened.

[2020-02-11 05:58] seanmck commented on #1434
Thanks for reporting. We will get this fixed.

[2020-02-11 06:20] seanmck commented on #1433
Without network contributor, we can't attach the AKS-created route table to the vnet. I think this is the feature you need: #1424. We are investigating offering that capability.

Feel free to reopen if I misunderstood the ask.

[2020-02-11 06:20] #1433 closed

[2020-02-11 08:57] Kinjara commented on #1433
Hi Sean,

*We manually added the UDR rules* - we can't work with traffic that is not routed to the central part for logging and audit-reasons so we used the standard Rout-table that only has a "Default
- 0.0.0.0/0" -rule extra.
The VNET also has a reference to our own DNS-server instead of default so we can (in time) chatter with other resources that are deployed.

With that said - the pods, node-

[2020-02-11 11:45] salami738 commented on #1351
we would like it too in our project.

[2020-02-11 13:35] flamingboo commented on #1079
@julk I cannot see the option of enable /disable Azure Policy in ARM template of AKS API 2020-01-01.
Is this still on the roadmap?

[2020-02-11 13:36] Superset1986 opened #1437 "0/4 nodes are available: 4 Insufficient pods"
**What happened**:

i upgraded my AKS cluster to  v1.13.11 and now i'm getting "0/4 nodes are available: 4 Insufficient pods"

**What you expected to happen**:
 I have 4 nodes with "default" deployment so my max pods allocation is 30 pr. node which should give me 120 total. When i count all my running pods i have 96.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2020-02-11 15:09] soccerjoshj07 commented on #427
Recreating the cluster  solved the issue for me too. Not sure what was broken.

[2020-02-11 15:37] ianjirka commented on #1421
Thanks @andyzhangx - I'm looking for a statement from the AKS team.  There are a number of approaches that seem to work but aren't supported.  Since these are production clusters, I want to know the supported path for these operations.

[2020-02-11 15:54] macolso commented on #1427
Hi @zer0big, so at this point it looks like you've tried to delete with "az aks" and Azure Portal. Have you tried these steps?
[code]

[2020-02-11 16:43] jluk commented on #1437
@superset1986 could you open a support request to resolve this? I don't think we'll be able to troubleshoot this quickly via github, but we're happy to send dedicated AKS SRE to troubleshoot faster. Apologies for the issues upon upgrade.

I'm going to close this in favor of SR, but if you have general questions feel free to open another issue.

[2020-02-11 16:43] #1437 closed

[2020-02-11 16:50] thovipe opened #1438 "Is it possible to have mutiple IPs with a ILB with AKS?"
**What happened**:
We have tried to deploy an internal load balancer with multiple IPs.

**What you expected to happen**:
We need to deploy some web apps with https bind, but diferent with diferent IPs. But the services does not bind, after one load balancer created.

**How to reproduce it (as minimally and precisely as possible)**:
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress
  na

[2020-02-11 17:31] jnoller commented on #1421
@ianjirka @andyzhangx  is part of the AKS product engineering team, his guidance is correct, if customers need to have custom cache/image rules, we recommend using daemonsets to accomplish this, alternatively SSH'ing into the nodes to do this is possible.

[2020-02-11 17:34] ianjirka commented on #1421
My apologies - and thank you very much.  This is helpful and we'll proceed with this as a solution.  Thanks!

[2020-02-11 19:22] jluk commented on #1079
@flamingboo this should be doable today, thanks for raising this back up. Could you give this a try?

It's not in the ARM reference because the addonprofile isn't captured in there.

[code]

[2020-02-11 19:24] wasker commented on #1307
I'm observing this in westus2 on k8s 1.16.4:

Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "f030eef484f83a7b1695e9f12e9702c41f51484513dc24005f097a293ae09108" network for pod "xxx-test-6cbd58d499-966pj": networkPlugin cni failed to set up pod "xxx-test-6cbd58d499-966pj_xxx" network: unexpected end of JSON input

[2020-02-11 19:32] oomichi commented on #614
I faced the same issue before, and I've solved my case.
In my case, the root issue is due to too small range of subnet(192.168.1.0/26) which was specifed as `--vnet-subnet-id` of `az aks create` command. And the command just shows `Could not create a role assignment for subnet. Are you an Owner on this subscription?` instead of showing the root issue.
I've made the subnet range bigger, then an AKS

[2020-02-11 20:03] simongottschlag commented on #1208
@jluk is this feature live?

[2020-02-11 20:23] jluk commented on #1208
Rolling out now, currently in Australia/Canada sectors. If in those sectors, you can give it a try now.

We will include it on this weeks release notes which are coming by tomorrow. This should be global in the coming 7-10 days. I will close this issue when that completes.

[2020-02-11 20:29] flamingboo commented on #1079
@jluk Perfect! I'll ask my team to test this tomorrow.
Thanks!

[2020-02-11 20:42] norshtein commented on #1428
Is the ACR in different subscription? Please check https://github.com/kubernetes/kubernetes/issues/87579.

[2020-02-11 21:20] ztasre commented on #1409
put `chorme://flags` into the url bar and enable the `Allow invalid certificates for resources loaded from localhost.` flag

[2020-02-11 22:42] fstugren commented on #1376
Will version 1.15.7 be patched or will it be retired and excluded from the options available when creating a cluster? Some of our clusters are on 1.15.5 and do not experience this DNS name wipeout issue. However we spent most of the day today figuring out what could have gone wrong when we deployed a new cluster on 1.15.7

[2020-02-11 23:30] romeelk commented on #367
I also ran it today and i can concur I got the following output. I have someone query this so i ran it:

== Remediations ==
2.1.1 Edit the kubelet service file /etc/systemd/system/kubelet.service
on each worker node and set the below parameter in KUBELET_SYSTEM_PODS_ARGS variable.
--allow-privileged=false
Based on your system, restart the kubelet service. For example:
systemctl daemon-reload
syste

[2020-02-12 02:34] saaror commented on #1426
@karok2m Currently we don't support enabling cluster-wide Prometheus metrics as the Add-on approach. However you can enable that post cluster creation as documented here. https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-prometheus-integration

We take this as a feedback & consider this scenario as part of planning.

[2020-02-12 07:01] bramvdklinkenberg commented on #1376
I think you will have to wait for 1.15.8 to be available for AKS. I think that will be available somewhere this month. Till then either don't use 1.15.7 or just set that annotation in your nginx svc or your application svc when using type loadbalancer.

[2020-02-12 07:10] seanmck commented on #1438
When you say "does not reach the app", do you mean it doesn't even reach the nginx controller or it doesn't reach the ultimate endpoint? Did you confirm it works before you add the 2nd IP?

[2020-02-12 07:49] estambakio-sc opened #1439 "AKS and nodepools creation became slower since February 2nd"
**What happened**:

After February 2nd I experience longer creation time for AKS and attached nodepools while its CI process was not changed.

I'm using CircleCI as CI server, and Terraform as executor. No configuration files for both were changed, as well as corresponding binaries or docker images. I'm creating and deleting AKS cluster nearly every workday and have noticed that time to create AKS

[2020-02-12 09:23] karok2m commented on #1426
Yes, that is what I am using currently. But I want to be able to do this at cluster creation time, since configuration for enabling the agent is already there.

[2020-02-12 12:56] porrascarlos802018 commented on #1411
Any update as for now?

[2020-02-12 13:21] thovipe commented on #1438
One thing I did was to only add the IPs and with that every IP on the ILB reaches the services.
This solves partially the issue, now we would like to isolate the daemonset per "environment". Do you a suggestion?

[2020-02-12 14:43] markthebault commented on #223
Why this issue is close, the problem still persists? Anyone found a solution to use Azfiles in a way where it is usable ?

[2020-02-12 16:49] jluk opened #1440 "GA of K8s 1.16 on AKS"
**What happened**:
K8s 1.16 is in preview on AKS. This issue captures the motion of moving 1.16 to a GA state within AKS, implying the deprecation of 1.13 to keep in line with N-2 support policy. The new supported window range will become 1.14, 1.15, and 1.16.

[2020-02-12 16:53] jluk opened #1441 "[Addon] AppGateway Ingress Controller Managed Addon"
**Status**: Public Preview

**Docs**: aka.ms/aks/agic

**What happened**:
Application Gateway offers an ingress controller enabling integration for the service into Kubernetes. This is available as an open-source project that can be user installed today.
https://github.com/Azure/application-gateway-kubernetes-ingress

This issue covers the capability to have that offering as a managed add-on, inst

[2020-02-12 17:10] elsesiy commented on #400
Can confirm this issue still exists in `1.43.0`. No route table is created in the MC_* group unless explicitly added in terraform and a custom association to link the subnets to the route table which leads to [this](https://github.com/terraform-providers/terraform-provider-azurerm/issues/2489) issue.
This leads to another unfortunate circumstance which is when peering with another VNet the route t

[2020-02-12 17:36] Benjiiim commented on #147
@neilpeterson, sorry to jump on this one 1y after completion but I can't find the corresponding documentation. Can you point me in the right direction? Thanks

[2020-02-12 19:16] sauryadas commented on #1428
@wasker Is the ACR in different subscription?

[2020-02-12 19:28] wasker commented on #1428
No, ACR is in the same sub.

[2020-02-12 19:35] jluk opened #1442 "K8s 1.17 GA (& removal of 1.14) - ETA: July 2020"
**ETA for GA**: July 2020

**Notice for deprecation of 1.14 issued**: [Release Note 2020-06-01](https://github.com/Azure/AKS/releases/tag/2020-06-01)

**What happened**:
K8s 1.17 is in preview on AKS as of [2020-01-27 release notes](https://github.com/Azure/AKS/releases/tag/2020-01-27). This issue captures the motion of moving 1.17 to a GA state within AKS, implying the deprecation of 1.14 to keep

[2020-02-12 20:02] ceejoyce commented on #223
I'd like to know if there is an alternative or solution too? I've tried using premium AZFiles for a wordpress front end and its awful (100gb provisioned), I'm still experimenting, turning off all but essential wordpress plugins etc but I'm going to have to go back to managed disks...

NetApp files looks to be prohibitively expensive...

[2020-02-12 21:18] ChaosGramer commented on #223
I strongly recommend you the managed disks.
We had maven builds running in aks with File shares. It was a disaster with azureFile adapter.
In peak we had 2 hours for a build that took normally 5 minutes.

Turns out the massive IO operations done by maven were the bottle neck when using File Shares.

We moved to ssd now everything is smooth and build times reduced by 80% thanks to the better IO per

[2020-02-13 01:27] AbelHu commented on #1411
@qmalexander what is the address space of the vnet (not subnet) for your cluster?
We have a known issue when the address space of the vnet does not belong to 10.0.0.0/8.
Please reference this issue: https://github.com/Azure/aks-engine/issues/2712

[2020-02-13 01:58] mscatyao commented on #1411
Hey @qmalexander, if @AbelHu's comment didn't help resolve your issue, I've got a few questions:
1. Which version of AppGW are you using? (v1 vs. v2)
2. Which version of AGIC are you using?
3. When you go to the "Backend health" tab for the AppGW in Portal, what error does it show under the "details" column for the unhealthy backend? Feel free to include a screenshot of the AppGW Backend health ta

[2020-02-13 02:04] jenetlan commented on #1434
Should be fixed now! Thank you for the very clear info in your report, and apologies for the issue!

[2020-02-13 02:10] AbelHu commented on #1411
@mscatyao , sorry, I should add the reference to below two issues. I think that it should be the same issue.
Azure/AKS#1367
Azure/application-gateway-kubernetes-ingress#535

[2020-02-13 04:13] AbelHu commented on #1367
@qmalexander Could you try below mitigation steps?
1. Remove all pods in the Windows node
2. Update `ExceptionList` in `C:\k\azurecni\netconf\10-azure.conflist` in the Windows node: Change the first `10.0.0.0/8` to the address space of the vnet (not subnet) used by your cluster.
3. Reboot the Windows node
4. Deploy a Windows pod to test it
5. You also can check the `ExceptionList` by executing the

[2020-02-13 04:22] #1434 closed

[2020-02-13 07:12] jayush opened #1443 "Enable AKS Control Plane Logging during AKS cluster provisioning"
**What happened**:
At present we have to first provision an AKS cluster and then via Azure Diagnostic Settings enable logging for AKS control plane.

**What you expected to happen**:
Ideally we should be able to enable AKS control plane logging with cluster creation request itself.

**How to reproduce it (as minimally and precisely as possible)**:
Refer az aks create --help and Azure Go SDK. There

[2020-02-13 07:29] jayush opened #1444 "GPU & AZ: 'The requested size for resource '<REDACTED>' is currently not available in location 'eastus' zones '1,2,3' for subscription '<REDACTED>'."
**What happened**:
Create AKS cluster with GPU nodepool with AvailabilityZones. Tried few combinations of GPU instance types and regions with same result. Nodepool creation fails even when a single availability zone is specified. Creating GPU nodepool in the same region without AvailabilityZones works.

**What you expected to happen**:
GPU nodepool creation should work with AvailabilityZones. If G

[2020-02-13 07:40] jayush opened #1445 "AKS Control Plane Logs don't work with ADLS Gen2 with Hierarchical Namespace"
**What happened**:
Repro Steps:
1. Install K8S service
2. Create ADLS Gen2 Storage Account with Hierarchical Namespace enabled
3. Enable Diagnostic Settings for K8S service to storage K8S control plane (kube-apiserver etc) logs to be stored in this storage account
4. Open Storage Explorer and notice that the top level folder gets created but are all empty. No logs are present.

Same steps work wit

[2020-02-13 09:32] mitchdenny commented on #1312
Just wanted to add to this as I'm playing with the managed identity preview. I've found that the following also doesn't work:

1. Scaling the cluster
2. Upgrading the cluster

Here is an example:

[code]

[2020-02-13 09:40] ceejoyce commented on #223
Managed disks are really fast yes but they are RWO and can't scale with pods; with a web app such as wordpress you need to share data between the pods, i.e. installing plugins, uploading a new document etc...

[2020-02-13 14:03] mathieu-benoit opened #1446 "Support of OCI container images (built with buildah and podman)"
**What happened**:

I'm building an OCI (Open Container Initiative) container image with [buildah](https://buildah.io) and [podman](https://podman.io) and then try do deploy that image on my AKS cluster: `kubectl run date --image mabenoit/date:buildah-1.13.2`.
With `kubectl get pod` then, you will see that your pod has the status `ImagePullBackoff`.
By doing a `kubectl describe` of this pod, you w

[2020-02-13 14:50] ams0 commented on #1338
Able to reproduce: adding a second pool in another subnet works:
[code]

However:

AzureCNI:
Pods can talk to each other across nodepools, services work with pods both pools.

Kubernet:
Services can route traffic to pods sitting on any pool, however, pods on the non-default pool have no connectivity to the internet, and no connectivity to other pods in other pools or service IPs. However, by manua

[2020-02-13 15:01] Daleck7 commented on #1376
I put a lock on the IP resource just the time to deploy the yaml with the annotation, then I removed the lock after a couple of minutes. Now working since 2 weeks without any interruptions.
I add the following annotation in my traefik-ingress-service configuration :

[code]

[2020-02-13 15:07] ams0 commented on #1338
Also, RT association survives scaling operations and adding another nodepool (but the latter requires additional association of course).

[2020-02-13 16:45] Aray47 commented on #1376
This happened to us as well. We had to add the dns name label back into the public IP address as the upgrade process got rid of them, and then add the endpoints back into the traffic manager profile.

[2020-02-13 17:47] dariuszbz commented on #1446
If it's Oracle something image then it is required nod Oracle something to
host your oci pod.

On Thu, 13 Feb 2020, 14:03 Mathieu Benoit, <notifications@github.com> wrote:

[2020-02-13 17:53] mathieu-benoit commented on #1446
Hi @dariuszbz, I just made more clear what the OCI acronym stands for, i.e. Open Container Initiative, not related to Oracle. Thanks for making me clarifying this.

[2020-02-13 18:31] jluk commented on #1338
Thanks for the input @ams0 this is in-line with what we're working on. The likely rollout is Azure CNI coverage first, Kubenet following that a bit later.

The general improvement for BYO RT for Kubenet is being worked on right now.

[2020-02-13 18:52] jluk commented on #1444
Thanks for reporting @jayush the error implies the VM creation could not occur due to allocation. I don't believe there is any blocker on using GPUs with Zones.

The error doc returned shows the msg is given if Azure quota can't meet the request. https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-sku-not-available#symptom

To help diagnose, can you try this deployment in

[2020-02-13 20:34] Danlewis3 commented on #1392
im getting the same issue at the moment. No changes to system for a while just a new service

[2020-02-13 21:10] aelmanaa opened #1447 "ProvisionState stuck in "Updating" since failure of ARM deployment"
Hello,

got a weird issue in west-europe : our devops pipeline started deployment of many ARM tempates (including an AKS template).
There were no changes in AKS ARM template so I was just expecting to run quickly. However, it broke in the middle with a weird error:

"properties": {
        "statusCode": "InternalServerError",
        "serviceRequestId": "xxxx",
        "statusMessage": "{\"code\":

[2020-02-13 21:23] HansK-p commented on #1158
I have problems I'm pretty sure are similar. I prefer to use both Egress and Ingress network policies as it is somewhat limited what can be achieved when using only Ingress or only Egress network policies in a namespace. This has worked well with Calico, but gives a (seemingly) unpredictable and unstable results in AKS v1.15.7 (and earlier) with azure networking plugins.

[2020-02-13 21:58] HansK-p commented on #1135
I must admit I'm also looking forward to a fix here. I have what I believe is the same problem in AKS v1.15.7 (and earlier versions).

My understanding and experience is that using both Egress and Ingress Network Policies gives a somewhat unpredictable and unstable result in AKS (it has worked fine with Calico for years).

This means that we have to choose between using Egress or using Ingress net

[2020-02-14 02:10] seanmck commented on #1446
Looks like you're hitting this:

https://github.com/moby/moby/issues/39727

I don't think this fix has rolled into a Moby version that AKS is consuming yet.

cc @cpuguy83

[2020-02-14 03:46] cpuguy83 commented on #1446
MS Moby 3.0.10 has this fix.

[2020-02-14 04:22] feiskyer commented on #1376
Update: 1.15.10, 1.16.7 and 1.17.3 are released. Since it's just released yesterday, it would need some time to have them in AKS. Before that, please use the annotation "service.beta.kubernetes.io/azure-dns-label-name" as a workaround.

[2020-02-14 06:44] nidhi5885 commented on #400
I can confirm that the service principal used in AKS cluster has full set of permissions to create custom VNET, as I have provided subscription contributor role to it.

[2020-02-14 08:41] mllab-nl commented on #903
You can disable container logs collection by monitoring plugin :
Read here: https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-agent-config

[2020-02-14 13:23] qmalexander commented on #1411
Hi @AbelHu,
Sorry for the delay.
I can confirm that I have the vnet address space 10.0.0.0/8.
![image](https://user-images.githubusercontent.com/3501508/74531489-0b4deb80-4f2d-11ea-9c64-f2853085eb5a.png)

[2020-02-14 13:25] AbelHu commented on #1411
@qmalexander, could you try the mitigation step I added in #1367

[2020-02-14 13:30] rudolphjacksonm commented on #1408
@kmoussa thanks for raising this, I was about to raise exactly the same issue. We're investigating Azure PIM for locking down access to most of our resources, AKS being the most important out of all of them. I tested this on my end and am seeing the same behavior; it looks like the admin token that's pulled down with `az aks get-credentials ... --admin` persists until expiry. @jnoller is there a w

[2020-02-14 13:33] qmalexander commented on #1367
**My vnet is 10.0.0.0/8 so i tested to remove it from the ExceptionList.**

**
PS C:\Users\testwesturopecluster> Get-HnsEndpoint | ConvertTo-Json -Depth 10
[
    {
        "ActivityId":  "CC37C6F4-D0E0-471F-ABE4-39B69D921D95",
        "AdditionalParams":  {

                             },
        "DNSServerList":  "10.0.0.10",
        "EncapOverhead":  50,
        "Health":  {

[2020-02-14 13:34] AbelHu commented on #1411
@qmalexander, so this is a new different environment and it is different issue from Azure/aks-engine#2712, right? If so, I think that you need to follow @mscatyao 's suggestion to provide more information.

[2020-02-14 13:42] qmalexander commented on #1411
![image](https://user-images.githubusercontent.com/3501508/74535930-41906880-4f37-11ea-9f9f-de99c82ba91b.png)

**mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:1.0.0**

![image](https://user-images.githubusercontent.com/3501508/74536201-dc894280-4f37-11ea-8cb6-459aef41217e.png)
![image](https://user-images.githubusercontent.com/3501508/74536228-eb6ff500-4f37-11ea-8287-2386da793548.

[2020-02-14 15:04] thomas-riccardi opened #1449 "GPU node-pool with nvidia.com/gpu taint: missing ExtendedResourceToleration admission controller?"
**What happened**:
The [ExtendedResourceToleration admission controller](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#extendedresourcetoleration) seems to be missing: Pods using `nvidia.com/gpu` extended resources don't have the `nvidia.com/gpu` toleration automatically added.

**What you expected to happen**:
I would expect that requesting a `nvidia.com/gpu` woul