[2019-08-13 06:08] aanandr commented on #1135
@uipo78 - the matching should be ANY mapping. Please see this link - https://kubernetes.io/docs/concepts/services-networking/network-policies/
However, if you don't specify an ingress or egress (or both policies) then all traffic should be denied. @saiyan86 - can you check?

[2019-08-13 11:09] DSalvigni commented on #433
Is there any news regarding this improvement??

[2019-08-13 11:45] anvarich commented on #1145
But there is no 1.13.9 version in any regions of AKS.

[2019-08-13 12:16] chelnak opened #1148 "Applying OS updates to VMSS enabled clusters"
**Describe the request**
It's currently unclear how to apply OS patches to VMSS clusters. The documents recommend using kured however there are multiple comments/articles that suggest it doesn't work as expected.

It would be good to have some clear guidelines for this.

**Explain why AKS Engine needs it**
See above.

E.g
https://github.com/Azure/AKS/issues/1065
https://github.com/MicrosoftDocs/az

[2019-08-13 13:25] aminGwork commented on #1145
Same thing here. 1.13.9 is not showing as an available upgrade for my clusters.

[2019-08-13 13:51] derekrprice commented on #1145
1.14.5 is missing too.

[2019-08-13 14:09] andyzhangx commented on #1144
@gbreeze could you check whether storage account `f46d638c8b95b11e984164e` is `Premium` and could you try to create a file share under that storage account, the storage account should be in the node resource group `MC_<resource-group>_<cluster-name>_region`

[2019-08-13 14:56] zhiweiv commented on #1127
I can create Windows pool with 1.14.5 now.

[2019-08-13 14:56] #1127 closed

[2019-08-13 15:46] jberezanski-mdg commented on #937
Unfortunately, it still fails for me, even with the 2019-06-01 API. I am using the Azure CLI with the `azure-mgmt-containerservice` package updated to the latest version so that this API version is used.

Here are my steps to reproduce:
1. create a fresh Windows 10 1809 VM
2. install Chocolatey
[code]
3. install the latest Azure CLI (2.0.71 as of today)
[code]
4. upgrade the azure-mgmt-containerse

[2019-08-13 15:48] jberezanski-mdg commented on #937
(@jluk I'm unable to reopen the issue)

[2019-08-13 16:24] jluk commented on #937
Thanks @jberezanski-mdg reopened and following up on this

[2019-08-13 16:41] jnoller commented on #1145
@palma21 - see above. All, this is rolling out to all regions actively per the release notes

[2019-08-13 17:42] palma21 commented on #1145
This is currently in Europe, Asia and Australia regions and will finish the rollout to US and South America Regions today. I'll post here once concluded.

[2019-08-13 18:04] vijaygos opened #1149 "VMExtensionProvisioningError when trying to scale the VMSS"
**What happened**:
When trying to create new VMs using the cluster autoscaler, we have been seeing the  "VMExtensionProvisioningError" often across different clusters spanning multiple regions and Azure Clouds.

_E0813 17:03:31.948077       1 azure_scale_set.go:164] virtualMachineScaleSetsClient.CreateOrUpdate for scale set "**k8s-gpupoolk80-428****-vmss**" failed: Code="c" Message="**VM has repor

[2019-08-13 18:06] gbreeze commented on #1144
Hey, my used location is "West Europe".
Problem was: The creation of the storage due to the kubernetes scripts did not set the "Account kind" to "FileStorage" (only blobs were supported). I created everything manually in the UI and it's working fine now.

[2019-08-13 20:02] palma21 commented on #1145
It's rolled-out to all regions

[2019-08-13 21:40] alexsandro-xpt commented on #642
I'm using Nginx Ingress, no problem here.

[2019-08-14 03:44] andyzhangx commented on #1144
@gbreeze what's your k8s version? From `v1.13.0`, `Account kind` would be set to `FileStorage` automatically if specify `Premium_LRS`:

https://github.com/kubernetes/kubernetes/blob/1b8435d5381d40b6faa4b50131ac0b66ed0e93ae/pkg/volume/azure_file/azure_provision.go#L176-L180

[2019-08-14 06:02] gbreeze commented on #1144
1.12.8 :-|

[2019-08-14 06:10] andyzhangx commented on #1144
@gbreeze that's expected, manual step is required fro k8s version before v1.13.0, I will close this issue, thanks.

[2019-08-14 06:10] #1144 closed

[2019-08-14 08:01] andreygolev commented on #946
Are there any plans to include configurable audit webhook?
That would be helpful to leverage Falco for tracking kubernetes state changes.

[2019-08-14 09:40] #1015 closed

[2019-08-14 10:13] dwd2019 commented on #189
We are facing similar problems to whitelist our AKS to access other PaaS like Azure AQL or Service Bus. Is there a way yo know this public IP associated to outgoing traffic?

[2019-08-14 12:44] levilugato commented on #642
@athulase @rivetmichael
What Ingress are using ?

[2019-08-14 13:56] tahovskym opened #1150 "Cannot change default value for --service-node-port-range"
**What happened**:

I created AKS on Azure and tried to deploy application, but it failed with error:
[code]

In AKS doc I can see, that it is possible to set
...
[--service-cidr]
[--service-principal]
...
but there is no option to specify
--service-node-port-range
to overwrite kubernetes apiserver default range 30000-32767

**What you expected to happen**:
It will be good to have options to overw

[2019-08-14 14:45] jluk commented on #1119
@bitsofinfo are we aligned that the ask is to enable content trust within AKS node pools? Essentially you want to set enable/disable for content trust on a specific node pool then every node upgrade/scale persists this docker check on new nodes.

If so this is a backlogged item and I can update the title/tags, if not please correct me on the ask.

[2019-08-14 14:47] bitsofinfo commented on #1119
No, please read https://docs.docker.com/registry/insecure/

[2019-08-14 14:55] jluk commented on #1093
Looks like this one: https://github.com/Azure/azure-cli-extensions/pull/856 asking folks to review

[2019-08-14 14:59] jluk commented on #1084
@bramvdklinkenberg could you try the above advice Tony mentioned? Would that resolve your issue?

[2019-08-14 15:01] jluk commented on #1071
@dbourcet could you elaborate on the need to BYO LB instead of having the service create/provide a dedicated one?

[2019-08-14 16:51] uipo78 commented on #1135
@aanandr I don't see anything about the behavior of label selectors in the docs that you referenced.

[2019-08-14 16:54] uipo78 commented on #1135
I'd also be surprised if label selectors behave differently for network policies than they do generally: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements

[2019-08-14 19:11] aanandr commented on #1135
@uipo78 - I misread your earlier description. My apologies. You are right - if there are multiple match labels to select a Pod then they should use the AND clause. This is a bug and it has just been reported by a few other customers too. We are actively working on a fix.
Thanks for bringing this to our notice and providing all this info. Appreciate it.

[2019-08-14 20:52] jluk commented on #937
A fix has been made within AKS-Engine, we'll work on releasing the support in AKS. I'll try to respond on here when it is done but our release notes will always be the best reference. https://github.com/Azure/aks-engine/pull/1752

[2019-08-14 21:09] xizhamsft commented on #1133
@brobichaud Sorry for the late reply. The reason for the failure is that Standard_F8s_v2 is not available for zones 1, 2, 3 in westus2 region. You have to choose another sku. I think E8-4s_v3 should work.

We need to improve the error message for this failure. I will work on that.

[2019-08-14 21:16] brobichaud commented on #1133
@xizhamsft ah, that makes some sense. Do you happen to know the cli or powershell query to discover what SKU's are available in each AZ within a region?

[2019-08-14 21:46] jluk commented on #1133
@brobichaud I think this is what you are looking for:
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-list-skus

Closing this issue now that we've resolved root cause and taken an item to improve the error message.

[2019-08-14 21:46] #1133 closed

[2019-08-14 21:57] brobichaud commented on #1146
I too am seeing that new nodepools do not get associated with the log analytics workspace the cluster was defined to use. However I was able to go the VMSS section of the Azure Portal, choose the Insights blade and select the correct log analytics workspace. It indicated success after a few minutes and looking at the VM blade of the Log Analytics section shows those nodepools are now associated wi

[2019-08-14 23:15] jluk commented on #1093
@ganga1980 it looks like your PR is now merged, we just need to align it under another version release and update the index files so users can pull the change.

[2019-08-14 23:47] jluk commented on #945
@amadav FYI we've generated a more recent API for the Java SDK below:

https://github.com/Azure/azure-sdk-for-java/tree/master/containerservice/resource-manager/v2019_06_01/src/main/java/com/microsoft/azure/management/containerservice/v2019_06_01

[2019-08-15 00:05] brobichaud opened #1151 "K8s version upgrade process on Windows cluster caused workload downtime"
**What happened**:
Upgraded the k8s version of the control plane and nodepools and experienced downtime of exposed service workloads running multi-instance pods.

**What you expected to happen**:
Graceful upgrade of k8s version without loss of any services that were hosted on multiple nodes within a nodepool. Following instructions on this page: https://docs.microsoft.com/en-us//azure/aks/use-mult

[2019-08-15 00:14] brobichaud commented on #1137
Hmmm, that issue is definitely suspicious looking, but it is hard for me to say if that would actually cause this. I do see "kubectl top nodes" return "unknown" on my Windows nodepool currently.

[2019-08-15 02:55] EmJayBee83 opened #1152 "kubectl x509 certificate has expired or is not yet valid"
Starting early this morning I have been unable to successfully connect to new AKS clusters using kubectl. Whenever I try to connect to the cluster (e.g., `kubectl get nodes`) I receive the following error:

`Unable to connect to the server: x509: certificate has expired or is not yet valid`

Info:
Trying to narrow things donw I spun clusters using the AzureRM provider for terraform, manually in th

[2019-08-15 04:28] vinaycs0035 commented on #490
Any news on this??

[2019-08-15 06:11] fethullahmisir commented on #1117
+1 On Terraform

[2019-08-15 07:52] cpunella commented on #1137
Hi, have you set resource limit in  the deployment yaml definition?

[2019-08-15 09:04] AmitDaniel-wsc opened #1153 "AKS windows dns issues"
**What happened**: Windows pods failed to resolve DNS

**What you expected to happen**: Pods should resolve DNS and access to remote endpoints

**How to reproduce it (as minimally and precisely as possible)**:

Create AKS windows cluster ( 1.14.5 version ) start any windows pod that should access public resource and you'll see the exception

For an example :

[code]

**Anything else we need to kno

[2019-08-15 10:22] dariuszbz commented on #1153
Hello,

I have a lot windows pods and no problem like you .

Could you share your's yaml you use to create ?
Do you use deployment with load balancer to get connection to/from internet?

Cheers

On Thu, 15 Aug 2019, 10:04 AmitDaniel-wsc, <notifications@github.com> wrote:

[2019-08-15 11:26] MikkelHegn commented on #1153
Can you please check if the proposed solution here fixes this? https://github.com/Azure/AKS/issues/1029#issuecomment-519866646

[2019-08-15 11:32] AmitDaniel-wsc commented on #1153
Hi @dariuszbz

This is the YAML i'm using.

[code]

[2019-08-15 11:32] AmitDaniel-wsc commented on #1153
Hi @MikkelHegn I tried to remove the node pool and upgrade the cluster to 1.14.5 but seems that i'm facing the same issue.

[2019-08-15 11:45] MikkelHegn commented on #1153
What's the kernel version of the Windows nodes? Should be .557 if on the latest.

`kubectl describe nodes | grep -E "Name:|Kernel"`

[2019-08-15 11:46] AmitDaniel-wsc commented on #1153
Hi @MikkelHegn looks like i'm running with the latest version

Amits-MacBook-Pro:pr_validation amitdaniel$ kubectl describe nodes | grep -E "Name:|Kernel"

[code]

[2019-08-15 11:53] MikkelHegn commented on #1153
Thx - there's still a scenario, where the networking stack can take a little while to set up in a Windows container. Can you try pausing before relying on the name resolution to complete?

E.g. for testing:
`kubectl run -it --rm --image=mcr.microsoft.com/windows/servercore:ltsc2019 --overrides='{"apiVersion":"v1","spec":{"Tolerations":[{"key":"windows", "operator":"Equal", "value":"true", "effect"

[2019-08-15 12:41] MikkelHegn commented on #1153
What's the base container image you're using?

[2019-08-15 12:50] AmitDaniel-wsc commented on #1153
Hi @MikkelHegn

First of all here are the results of the command you asked me to run:

1.

[code]

Second command :

[code]

Also the base image i'm using is : FROM mcr.microsoft.com/dotnet/framework/runtime:4.7.2-20190611-windowsservercore-ltsc2019

Thanks for all your help !

[2019-08-15 13:32] MikkelHegn commented on #1153
I think the dnsPolicy setting might be to blame here. If I set it to 'Deafult', my resolution also breaks.

The difference I see in the configuration in the container is the PrimaryDnsSuffix being empty when the dnsPolicy is not set, as opposed to being 'Node' when the dnsPolicy is set to 'Default'. Is there a particular reason you're overwriting that setting (Note: Default is not the default sett

[2019-08-15 13:34] AmitDaniel-wsc commented on #1153
@MikkelHegn What should be the default dnsPolicy ? I can change it and check if everything is good .

[2019-08-15 13:44] MikkelHegn commented on #1153
There is no should, only options depending on what you require :-). The default behavior is to set it to 'ClusterFirst', or not set it - please read the link I pasted above.

[2019-08-15 13:56] dariuszbz commented on #1153
Windows core, windows nano, with and without sdk and/or .net or core .
As said I have a lot.

On Thu, 15 Aug 2019, 13:41 Mikkel Mork Hegnhoj, <notifications@github.com>
wrote:

[2019-08-15 14:56] RehanSaeed opened #1154 "Add NetworkPolicy Support for Kubenet (Basic Network)"
**What happened**:

I tried to use NetworkPolicy with AKS using the Basic network configuration that uses kubenet.

**What you expected to happen**:

I expect this to work but according to the documentation, I have to use the Advanced network configuration that uses the AZURE CNI.

[2019-08-15 15:56] brobichaud commented on #1137
@cpunella Yes I do have both CPU and RAM limits in all of my deployments. Does that somehow affect hpa or access to metrics data?

[2019-08-15 16:04] jluk commented on #1151
@brobichaud I believe @MikkelHegn is going to try a repro, but in general the expectation for higher availability is you will need a min of 3 Linux nodes in your default node pool. This is due to critical system pods and their replicas needing proper hosts to run on, if you only allocate one than that single point of failure can cause worker downtime. We do cordon/drain, but if any dependency fail

[2019-08-15 16:20] brobichaud commented on #1151
@jluk Ah that would totally explain it. I do have a single linux node in the default nodepool. The service outage I saw was during the linux nodepool upgrade, and then the services started coming back online around the time I started the upgrade of the Windows nodepool. My thinking during the process was that since my Windows services went offline that maybe upgrading the Windows nodepool would so

[2019-08-15 16:33] AmitDaniel-wsc commented on #1153
@MikkelHegn Hi again :-)
Thanks for your help - I changed the dnsPolicy to be : ClusterFirst and all the pods are working as expected !!

[2019-08-15 17:01] jluk commented on #1151
Totally agree, to clarify we do manage your control plane for you but there are system pods that need to run on worker nodes on linux hosts to enable some functionality on the side of workers and outside of the control plane which we do manage.

We'll get some documentation updated for this - @MikkelHegn for thoughts on explaining this Linux dependency a bit better on the Windows specific nodes.

[2019-08-15 17:18] ams0 commented on #1154
It does work out of the box. The combination on the CLI/ARM of `--network-policy calico` and `--network-plugin kubenet` is valid.

[2019-08-16 05:34] andyzhangx commented on #1152
could you try again? it should be recovered now.

[2019-08-16 06:56] deepakramesh1985 opened #1155 "Virtual Node Support Init Container"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2019-08-16 08:01] #1153 closed

[2019-08-16 08:04] MikkelHegn commented on #1152
I had an issue caused by WSL2 on Windows, where time the was off, due to WSL2 pausing time when the computer sleep, causing new clusters certs to not be valid yet. Ref: https://github.com/microsoft/WSL/issues/4245#issuecomment-510238198

[2019-08-16 09:43] EmJayBee83 commented on #1152
@MIkkelHegn  That was it. The system clock on my deployment VM was off.  Thanks for taking the time to comment on this.

[2019-08-16 09:44] #1152 closed

[2019-08-16 13:36] RehanSaeed commented on #1154
According to the [docs](https://docs.microsoft.com/en-us/azure/aks/use-network-policies):

The Azure CNI basic option uses kubenet.

[2019-08-16 16:59] ngrigoriev commented on #1014
@mkostersitz Do I understand correctly that the fix is includes in 1.14.5? Thanks!

[2019-08-16 17:15] ngrigoriev commented on #1014
@mkostersitz Do I understand correctly that the fix is includes in 1.14.5? Thanks!

[2019-08-16 18:39] JocelynBerrendonner commented on #1014
@ngrigoriev, there is a known issue in Windows that impacts liveness probes. The fix is currently available in Windows 10 1903 (https://support.microsoft.com/en-us/help/4505903/windows-10-update-kb4505903), and should normally be available next Tuesday (August 20th) for Windows 10 1809. I will keep this thread posted once the fix is out.

I unfortunately do not know of any workaround for the liven

[2019-08-16 19:31] eidnirav commented on #1146
@brobichaud are you getting your logs in LogA? I thought this was working for me- could swear after I deployed a new cluster in a region supporting vmss node pools- that this worked. but i do not see any log messages from my linux AND windows nodepools. LogA says that the vmss's are associated, and the MMA extension is installed for the windows node pool (I think this is the extension that forward

[2019-08-16 20:10] brobichaud commented on #1014
@JocelynBerrendonner I did indeed disable liveness probes and it mitigates the problem. @MikkelHegn mentions the Windows update coming that will make it into AKS and resolve this problem. I have left liveness probes disables until this is fixed.

[2019-08-16 20:12] brobichaud commented on #1146
@eidnirav I am getting data in my workspace after manually connecting it to the VMSS. My current usage of Log Analytics with my cluster is Azure Monitors integration with K8s.

[2019-08-16 22:54] brobichaud opened #1157 "Client IP preservation fails with Windows + SLB and externalTrafficPolicy:Local"
**What happened**:
Running a new AKS cluster with k8s 1.14.5 and using a Standard Load Balancer. When creating a  service that specifies Local for externalTrafficPolicy my Windows pods are not seeing the true client ip address. Instead they are seeing the ip address of any one of the 4 nodes in my cluster (Linux and Windows nodes).

**What you expected to happen**:
Pods to see the true client ip o

[2019-08-18 06:45] zhiweiv commented on #1137
It should be the metrics api issue, you can check the metrics server pod logs in kube-system,
`kubectl logs -n kube-system --tail=100 metrics-server-66dbbb67db-vtzq9`

you will find something like:
`Failed to get kubelet_summary:10.10.0.252:10255 response in time`

[2019-08-18 07:04] ganga1980 commented on #1093
@jluk , I will reach out the AKS dev team to get this released.

[2019-08-18 12:40] feiskyer commented on #1154
@RehanSaeed Calico Network Policy works with kubenet, while both Azure Network Policy and Calico work for Azure CNI.

/cc @sauryadas We should update the docs that Calico network policy could be used togather with kubenet.

[2019-08-18 15:04] sauryadas commented on #1154
Its in the backlog

[2019-08-18 16:00] junaid-ali commented on #528
@edernucci still facing this issue on AKS (version: `1.13.7`). It appears the issue is due to inotify reaching its limit. Whenever more than ~15 pods are created on a node (Standard D16s v3 - 16 vcpus, 64 GiB memory), we start seeing this issue. I was able to workaround by increasing the inotify limit to `16384` from the default `8192`
[code]

[2019-08-18 20:19] roger-beathard commented on #1060
Is there any plans to for Multi-AZ support for the master nodes?

[2019-08-18 21:10] mhabegger commented on #93
In case someone is searching for the terraform variant and ends up on this thread:
https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#max_pods

[2019-08-19 01:06] NillsF opened #1158 "Inconsistency between Azure and Calico NetworkPolicy when combining Ingress and Egress"
**What happened**:
When deploying a combination of Ingress and Egress network policies there is an inconsitency between Calico and Azure NetworkPolicy. Design below:
![design](https://pbs.twimg.com/media/ECSdzj0UwAEayze?format=jpg&name=medium)

Ingress policy on label app=web, allowing traffic from trusted=yes
Egress policy on trusted=yes, allowing egress to env=dev

Behavior:
**Azure NetworkPolic

[2019-08-19 01:07] NillsF commented on #1138
I ran into the same today, and I compared Azure Networkpolicies and Calico Networkpolicies. My conclusion is the following:

Calico: follows kubernetes docs and allows traffic if it matches at least one rule.
Azure: doesn't follow docs, and if deny-all is deployed after a specific allow it denies traffic.

Let it be up for debate whose interpretation is correct - but there is at least a huge incon

[2019-08-19 08:56] cochiseruhulessin commented on #253
We have the same issue.

[2019-08-19 09:08] RehanSaeed commented on #1154
I'm using ARM templates. How do you set the network policy in an ARM template because it's not documented (not that I can find). Also what relation does `--network-policy calico` and `--network-plugin kubenet` have to Basic vs Advanced networking? This is all very confusing.

[2019-08-19 09:12] ams0 commented on #1154
Basic == kubenet
Advanced == AzureCNI

For both, you can either let Azure create the required VNET or bring your own; for both, you can have no kubernetes network policy support or add Calico. For AzureCNI only, you can choose Azure NPM instead of Calico. I hope it helps.

[2019-08-19 09:15] RehanSaeed commented on #1154
Thanks, that's really helpful.

How does one add Calico Network Policy support via ARM templates. BTW, the docs all show `az` command line examples. For production scenario's it's really important to also have ARM template examples.

[2019-08-19 09:17] ams0 commented on #1154
You can start here: https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#networkpolicy

[2019-08-19 10:13] peregrinius commented on #253
@cochiseruhulessin @akazemis is it because you're creating the IP address in the RG with the AKS resource or are you creating it in RG MC_ABC?

[2019-08-19 12:12] cwebbtw commented on #1142
This issue seems linked to https://github.com/Azure/AKS/issues/1145 which was created subsequent - I'm happy to close this now that it is possible to create clusters that do not have this vulnerability?

[2019-08-19 16:39] jluk commented on #1142
Thanks @cewebbtw closing this one!

[2019-08-19 16:39] #1142 closed

[2019-08-19 16:43] jluk commented on #1155
@srrengar / @rbitia for this ask.

@deepakramesh1985 could you share some more detail on why this enhancement request for virtual nodes is needed for you?

[2019-08-19 16:45] jluk commented on #1149
@vijaygos do you have a support ticket open for this? If not could you please open one so an engineer can take a closer look?

[2019-08-19 17:50] JocelynBerrendonner commented on #1014
Thank you for confirming, @brobichaud

Heads up that the Windows fix for the liveness probe issue is now available online at the following locations:
For Windows 10/Windows server 2019 version 1903, the fix comes as part of cumulative update KB4505903. Link: https://support.microsoft.com/en-us/help/4505903/windows-10-update-kb4505903
For Windows 10/Windows server 2019 version 1809, the fix comes a

[2019-08-19 18:14] brobichaud commented on #1014
@JocelynBerrendonner thanks for the update! Applying patches manually in AKS is a tricky business when you take into account scale-out/in of worker nodes, so I'd like to avoid that with our clusters. Could you update this issue when the newly patched Server 1809 version is available to AKS with new nodepool creations? That way we can test it within the constraints of normal processes.

[2019-08-19 18:18] daschott commented on #1014
@brobichaud FYI the fix should now be available on both Windows Server 1809 and 1903. Can you try it out and see if it resolves the issue?

[2019-08-19 18:27] brobichaud commented on #1014
@daschott yeah, thanks, I do get that the fix is available as a manual patch. But if I apply it to my nodes today, then scale out that nodepool (or create a new nodepool) I no longer have the fix consistently on my nodes. So end result is that it's too fragile for me. Once it is available to AKS officially then I am all over it! :-)

[2019-08-19 18:32] daschott commented on #1014
@brobichaud Understandable, @MikkelHegn or me should be able to confirm once it is available on AKS nodepools; feel free to ping again in 30 days if you don't hear back by then.

[2019-08-19 18:33] brobichaud commented on #1014
@daschott awesome, thank you!

[2019-08-19 19:37] danielvdende commented on #326
We suffered a similar problem with 2 of our AKS clusters. In our case, the LoadBalancer failed. We decided to setup a new AKS cluster, to get things back up and running, while debugging in the background. We now, however, can't remove the LoadBalancer, as it's in a failed state. We asked our admins (who have sufficient access) to remove the resource group that AKS spins, but that too is now blocke

[2019-08-19 21:32] brobichaud commented on #1137
Indeed @zhiweiv I am seeing events like:
`Failed to get kubelet_summary...`

mixed in with a ton of:
`No metrics for pod default/dev`

Thanks for the steps to confirm.

[2019-08-19 23:06] palma21 commented on #326
@danielvdende please open a suppor ticket as soon as possible so we can troubleshoot. Probably some operation is haging that we need to terminate, but support can help identify and act on that.

@djsly by dedinition AKS does not support alpha features, but depending on the actual maturity and stability of the feature vs. the current need/demand for it, we can make exceptions.
We are looking into i

[2019-08-19 23:37] palma21 commented on #1065
I believe this and all the linked threads have generated some misunderstanding.

To clarify the recommended method to upgrade in cases like this or not is the one documented here:
https://docs.microsoft.com/en-us/azure/aks/node-updates-kured

This should work for both VMSS or non-VMSS cases, regardeless.
I jumped to the linked threads to clarify as well.

[2019-08-19 23:37] palma21 commented on #1065
Closing

[2019-08-19 23:37] #1065 closed

[2019-08-19 23:45] palma21 commented on #1148
Same way as VMAS by using:
https://docs.microsoft.com/en-us/azure/aks/node-updates-kured

It does work, those articles refer a docs item that was not using kured but a custom component. And an issue in AKS-engine that presents the correct behavior of both kured and cluster autoscaler

Eg.
2 nodes - patched nightly. Kured will reboot them.
When it does so CA will scale a 3rd node to keep the needed

[2019-08-19 23:45] #1148 closed

[2019-08-20 00:26] aanandr commented on #1138
We dont support overlapping policies of this type - where you define a deny all for all pods and then selectively allow for certain pods (both these policies overlap for the pods that you want to allow traffic for). However, support for this is coming very soon.

[2019-08-20 03:11] sauryadas commented on #1158
Duplicate of #1135 will track 1135

[2019-08-20 03:11] #1158 closed

[2019-08-20 03:14] sauryadas commented on #1138
Duplicate of #1135 will track 1135

[2019-08-20 03:14] #1138 closed

[2019-08-20 03:24] worldspawn commented on #326
Regarding Basic vs Standard this seems like it might be relevant?
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-ip-addresses-overview-arm#sku

So I guess the azure load balancer that gets provisioned is done so with the Basic SKU?

[2019-08-20 04:39] deepakramesh1985 commented on #1155
Hi @srrengar / @rbitia
We are installing istio as a service mesh on aks cluster. In istio, application pods get injected with proxy containers. The proxy container get started with init container in same application pod .
The init container's work is to provide prerequisites to proxy container.
As we require azure virtual node for auto scaling of cluster, In peak load the application pods will not

[2019-08-20 05:13] palma21 opened #1159 "CVE-2019-9512 and CVE-2019-9514 - AKS Guidance and updates"
**Note: This issue will be updated as new information is available. The new versions are being rolled out.**

On Monday, August 19th (2019-08-19) the Kubernetes Community disclosed that a security issue has been found in the net/http library of the Go language that affects all versions and all components of Kubernetes. The vulnerabilities can result in a DoS against any process with an HTTP or HTT

[2019-08-20 06:41] danielvdende commented on #326
@palma21 Yeah we've opened a support ticket, but just flagging this here, as it seems related, and it would be good for us to get some insight into how and why we've ended up in this situation (and how we can prevent it from happening again).

[2019-08-20 06:59] chelnak commented on #1148
Nice! Thank you.

On Tue, 20 Aug 2019 at 00:45, Jorge Palma <notifications@github.com> wrote:

[2019-08-20 07:29] palma21 commented on #326
@worldspawn by default today AKS is created with BasicLB (and as such will required basic IPs).
You can create AKS using Standard LB (and standard IPs) by following: https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard

@danielvdende thank you! Will try to find it and follow up with our engineers.
This thread has forked a bit into many different (and unrelated in many cases) issues so

[2019-08-20 07:30] dariuszbz commented on #1148
I'm confused but....
Download clear image
Update
Push your solution to updated image
Tag new version
Update with kubectl

On Tue, 13 Aug 2019, 13:17 Craig Gumbley, <notifications@github.com> wrote:

[2019-08-20 08:24] victornoel commented on #1065
@palma21 as discussed in https://github.com/MicrosoftDocs/azure-docs/issues/33657#issuecomment-522888929, it may be a bit premature to think this question is clarified.

[2019-08-20 08:26] kdevesh commented on #485
Hi @andyzhangx can you tell me what is to be done if secret is different. In my case the client secret is expired and in the worker nodes the old expired secret is there.
How to resolve this issue shall i update the secret?

[2019-08-20 08:33] andyzhangx commented on #485
@kdevesh there are two ways: extend the original SP password for one more year or update current cluster with new SP:
https://github.com/andyzhangx/demo/blob/master/issues/sp-issues.md#update-service-principal-in-aks--aks-engine

[2019-08-20 08:47] kdevesh commented on #485
Thank you @andyzhangx It worked

[2019-08-20 11:00] Xorima commented on #1159
Is there a specific label we can follow to be alerted about these issues and updates on the repo?

[2019-08-20 11:15] bramvdklinkenberg commented on #1084
Hi @xuto2 and @jluk sorry for the late reply. But that is already how I tried it. So first created the prefix and then the public ip in the prefix. Then deploy the ingress controller with specifying that specific public ip.

[2019-08-20 13:17] ball-hayden commented on #1159
@xorima I'd recommend joining https://groups.google.com/forum/#!forum/kubernetes-security-announce if you haven't already.

Obviously that doesn't track Azure's reaction, but at least you're aware of the issues.

[2019-08-20 15:36] jluk commented on #287
This feature is set to GA in Q4CY19.

[2019-08-20 16:02] victornoel commented on #1124
According to some exchanges with the support, this is a bug and should be fixed in an upcoming version of AKS (they say maybe around the end of month…).

A workaround would be to, I cite:

I haven't looked into it yet though.

[2019-08-20 17:13] palma21 commented on #1065
Feel free to join the discussion there, I already replied there too. What I stated above remains true.
We rely on that method ourselves, so if there are specific issues you're facing with it, we're happy to look into them.

[2019-08-20 17:23] aanandr commented on #1158
@NillsF - there are conflicting policies here, where the ingress policy for "web" allows traffic from "yes" to "web" (so both dev and prod should receive traffic) but the egress policy for "yes" allows traffic only to dev. Are these policies in different files or the same file?
I am checking if my understanding is right. So please confirm. We are not handling conflicting policies properly but have

[2019-08-20 17:30] NillsF commented on #1158
Hi @aanandr : when I deployed them they were in different files. I deployed policy1 first and policy2 afterwards. I believe the policies aren't actually "conflicting", I believe they are distinct policies. 1 policy applies to the EGRESS traffic of trusted=yes // 1 policy applies to the INGRESS traffic of app=web.

[2019-08-20 17:42] palma21 commented on #1159
Joining the security groups is good to keep updated from upstream issues that are detected.
In this repo you can subscribe to the security label or the Releases.

A new release will be published today as we start the rollout, which will reference this issue.

[2019-08-20 17:44] srrengar commented on #1155
this is currently not on the roadmap for ACI but we will consider implementing this due to multiple customer asks  - https://github.com/virtual-kubelet/virtual-kubelet/issues/530

#please-close

[2019-08-20 17:46] jluk commented on #1155
Closing issue to conslidate request with https://github.com/virtual-kubelet/virtual-kubelet/issues/530

[2019-08-20 17:51] aanandr commented on #1158
It is implicit overlap because there are two policies for communication between yes and web.
Is this a customer scenario, i.e. has some customer configured it this way today? Frankly speaking the policy definition could be simpler for such cases.

[2019-08-20 17:51] bdlawrence13 opened #1160 "Needed patches still not there"
I saw that 7 days ago someone posted that all regions have been upgraded. However, when I view available versions of AKS in our region (East US), I get the following:
~$ az aks get-upgrades --resource-group xxxxxxxxxx1 --name xxxxxxxxx1-Kubernetes --output table
Name     ResourceGroup    MasterVersion    NodePoolVersion    Upgrades
-------  ---------------  ---------------  -----------------  ----

[2019-08-20 18:44] coreywagehoft commented on #1132
@MikkelHegn I didn't see independant nodepool OS upgrades on the AKS roadmap here on GitHub.  Will that be added soon, so I can track progress?

[2019-08-20 19:16] ball-hayden commented on #1158
@aanandr I've also experienced this, and feel that this is a very reasonable use case.

Good examples of where this is relevant is in the `redis` and `postgresql` stable helm charts. These define network policies that allow ingress from pods with a specific label.

If there is also a network policy targeting client pods, I would expect that egress from the client pods is controlled by that network

[2019-08-20 19:21] NillsF commented on #1158
@aanandr : my case isn't a specific client use case, I ran into it when playing around / learning about NetworkPolicies. Reported it as I believe other will run into it as the use case to be a valid one. It's only reasonable that network traffic gets filtered first outbound - and then again inbound. Different teams could be managing the egress/ingress applications and have different policies they

[2019-08-20 21:09] qike-ms commented on #1160
We do not support upgrade more than 1 minor version. So it's not that later minor versions are not available in the region, but it's not recommended to your cluster. You need to upgrade from 1.11 to 1.12 to be able to upgrade to 1.13 and so on...

[2019-08-20 21:09] #1160 closed

[2019-08-20 21:13] aanandr commented on #1158
Thanks @ball-hayden and @NillsF for the information. This is very useful.
We have added support for overlapping policies. We will test out to make sure this scenario also works with that change.

[2019-08-20 21:38] vijaygos commented on #1149
I have opened numerous azure tickets in this regard but the issue has simply been floating around. Please let me know if there is anything I can get you here to have this addressed.

[2019-08-20 22:32] amadav commented on #945
Thanks @jluk, but I am wondering how this is different than the azure-mgmt-containerservice jar that comes packaged as transient dependency with azure management libraries 1.24.1. Why do two projects exist for sdk and java-libs.

[2019-08-20 22:57] palma21 commented on #1159
New versions are being rolled out and have already landed in Canada, Australia, UK and Asia regions.

[2019-08-21 07:35] MikkelHegn commented on #1132
Tracking this here: #893

[2019-08-21 07:44] MikkelHegn commented on #1011
This is now live: https://docs.microsoft.com/en-us//azure/aks/rdp#allow-access-to-the-virtual-machine

[2019-08-21 07:44] #1011 closed

[2019-08-21 15:35] prbajrac opened #1162 "AKS External Connectivity Issue"
**What happened:** Unable to make external calls with curl from (pods) but able to do so from Node.

**What you expected to happen:** Able to connect externally from pods and nodes

**How to reproduce it (as minimally and precisely as possible):** AKS cluster 1.13.7

**Anything else we need to know?:**
This behavior was only observed on pods scheduled on node 1, 2 out of 3 nodes and node 0 was beh

[2019-08-21 15:37] prbajrac commented on #1162
sizes in GetVolumeLimits, plugin.host: aks-agentpool-22911574-1, location: australiaeast

Aug 04 19:59:57 aks-agentpool-22911574-1 kubelet[4128]: E0804 19:59:57.806541    4128 azure_dd.go:168] failed to list vmsizes in GetVolumeLimits, plugin.host: aks-agentpool-22911574-1, location: australiaeast

Aug 04 20:00:06 aks-agentpool-22911574-1 kubelet[4128]: I0804 20:00:06.107342    4128 container_mana

[2019-08-21 15:38] prbajrac commented on #1162
[log.txt](https://github.com/Azure/AKS/files/3526104/log.txt)

[2019-08-21 18:09] jluk commented on #1149
@vijaygos could you please give your cluster an upgrade and retry the scale? Or start from a new cluster and attempt again? Internally it looks like a few incidents about this occurred multiple weeks back and a fix was already made.

[2019-08-21 18:46] tjcrone commented on #1124
cc @yangsiyu007

[2019-08-21 19:20] jluk commented on #945
@amadav the referenced issue for active work on new support is below from @yaohaizh . He can speak to the difference between the two.

https://github.com/Azure/azure-libraries-for-java/issues/811

[2019-08-21 19:40] Hong-Revo opened #1163 "Did the error message change for service principal not found on cluster creation?"
Background: I'm the author of the [AzureContainers](https://github.com/Azure/AzureContainers) R package for working with containers in Azure.

Among other things, the package lets you create AKS clusters, by talking directly to the Resource Manager REST API. It also creates the necessary service principal by calling the Graph API, and then passing the details to ARM. Because there is a delay betwe

[2019-08-21 20:39] palma21 commented on #1159
Rolled out to all regions.

[2019-08-22 09:19] Marusyk commented on #477
@andyzhangx still reproducible in 1.12.8. could you please help?

[2019-08-22 11:38] andyzhangx commented on #477
If that `Multi-Attach error` lasts from more than 10min, that could be due to detach failure, it could be disk RP busy, controller manager crash, etc. Workaround is detach the disk in problem manually.

I just added `disk attach/detach self-healing` feature for azure disk driver, azure cloud provider would check and detach this disk if it's already attached to the other node, that's like self-heal

[2019-08-22 16:38] coreywagehoft opened #1164 "Authenticate with ACR from AKS Preview Failing With Error"
**What happened**:
I was attempting to setup the new preview for ACR authentication with AKS using the azure-cli for an existing AKS cluster.

https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration

Based on the documentation I used the following command:
[code]
I am using the resource ID because my ACR is in a different subscription than the AKS cluster.

The following

[2019-08-22 17:58] karyjac commented on #1124
might be related to https://github.com/Azure/aks-engine/issues/1741

[2019-08-22 18:05] uipo78 commented on #1135
I noticed that the most recent release includes this bullet:

Is that related to this issue?

[2019-08-22 20:35] stvhwrd opened #1165 "Service Principal creation lags behind final validation (ServicePrincipalNotFound)"
**What happened**:

When creating a Kubernetes cluster in the Azure Portal (GUI) and creating a new service principal  with defaults, the final validation fails:

[code]

After waiting a few minutes and re-running the validation (with no other changes), it passes successfully.

![image](https://user-images.githubusercontent.com/4117011/63547713-951e7e00-c4e1-11e9-83c3-a845e65b6c62.png)

**What you

[2019-08-23 08:20] graemechristie commented on #632
Looks to still be an issue. This is running on an Alpine linux POD (DotNet Core Runtime) on an aks cluster running 1.14.6 I just created yesterday.

Also occurs on the 1.14.3 cluster I created a month or so ago, but not on the 1.14.3 cluster I created a couple of weeks after it.

[code]

[2019-08-23 13:30] ansha1 commented on #324
@wanghui122725501 is there any way we can fix keeping the proxy ? because server i am using to communicate with k8s cluster is behind company proxy and which can't be removed.
Appreciate your help!

[2019-08-23 14:41] jluk commented on #1164
@sauryadas or @mlearned it looks like the doc advocates passing the resourceid as the --acr param, but it gets denied by acr name upper limits. Can you verify this doc/cmd is accurate?

[2019-08-23 14:53] feiskyer commented on #1164
The ACR resource ID is illegal, its format should be `/subscriptions/<subscription-d>/resourceGroups/<resource-group-name>/providers/Microsoft.ContainerRegistry/registries/<name>`.

Since it's not a valid Azure resource ID, the `--acr` thought it's an ACR name, thus the above error is reported.

Could you correct the resource ID and try again?

[2019-08-23 15:00] jluk commented on #1164
Thanks @feiskyer - Would suggest placing a placeholder value in the doc that has that format instead of "resource-id".

[2019-08-23 15:04] coreywagehoft commented on #1164
Thanks @feiskyer for giving me the correct format.  The command did not error out with the upper limits error I previously was given.

I did however get a new error.
`Deployment failed. Correlation ID: 962ccad4-bac0-4bca-a813-fd1665c2ae08. Internal server error`

[2019-08-23 15:30] feiskyer commented on #1164
@sauryadas Could you help to update the docs?

Not sure the reasons for this. @coreywagehoft Could you try again with same commands? If it's still failing, please open a support ticket for it.

[2019-08-23 15:33] sauryadas commented on #1164
Will make a pr later .. thanks for investigating

Thanks

Saurya

________________________________
From: Pengfei Ni <notifications@github.com>
Sent: Friday, August 23, 2019 8:31 AM
To: Azure/AKS <AKS@noreply.github.com>
Cc: Saurya Das <saudas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/AKS] Authenticate with ACR from AKS Preview Failing With Error (#1164)

Would sugges

[2019-08-23 18:53] CyberCastleQWT commented on #1165
Hi:

I have the same problem when creating the cluster,
![image](https://user-images.githubusercontent.com/42950596/63616548-c36d8d80-c5b5-11e9-8864-15441f869c29.png)

Greetings

[2019-08-23 20:14] vijaygos commented on #1149
So, we are looking at upgrading our cluster. But, given that we use AKS engine, bootstraping a new cluster might take time. For now, I have been mitigating these issues by draining all the problem nodes and allowing our autoscaler to scale once again.

[2019-08-23 20:58] jluk commented on #1149
Thanks @vijaygos given you're running it on engine, feel free to use the issues on their project to keep issue hygiene. I'm going to close this for now, but if you hit the same CSE errors on a regular AKS upgrade please feel free to open another support ticket.

[2019-08-23 20:58] #1149 closed

[2019-08-24 16:28] #820 closed

[2019-08-26 02:46] sauryadas commented on #1164
PR https://github.com/MicrosoftDocs/azure-docs/pull/37673
Should be merged tomorrow

[2019-08-26 07:08] vijaygos opened #1166 "Provisioning of VM extension 'vmssCSE' has timed out"
**What happened**:
VMSS status is set to 'failed' with error message - "Provisioning of VM extension 'vmssCSE' has timed out. Extension installation may be taking too long, or extension status could not be obtained."

As a result of this, SLB does not allow for binding of service (type Load balancer) with a public IP resource. The service status is always Pending:

**What you expected to happen**:

[2019-08-26 07:10] vijaygos commented on #1166
@jluk and @CecileRobertMichon could you guys please take a look at this issue? Happy to provide any info on the cluster or even access.

[2019-08-26 07:11] vijaygos commented on #1149
@jluk, could you please take a look @ #1166 ?

[2019-08-26 09:01] Hong-Revo commented on #1163
Seems to be working again.

[2019-08-26 09:01] #1163 closed

[2019-08-26 09:13] kim0 opened #1167 "az aks upgrade | all nodes upgraded except one"
**What happened**:
az aks upgrade -k 1.14.6

**What you expected to happen**:
Actually I expected it to only upgrade the control plain, it did that and also upgraded the nodepool. That caught me by surprise, but that's Ok! The real problem is that all nodes except one were upgraded!

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.5 => 1.14.

[2019-08-26 10:34] phpai opened #1168 "Gitlab Runner Pods on Virtual Node not starting"
**What happened**:
Pods spawned by gitlab-runner on a virtual node stay in Pending state. After a while they are being deleted.

**What you expected to happen**:
Pods spawned by gitlab-runner on a virtual node start successfully.
Is this a known issue? I haven't found anything in the documentation.

**How to reproduce it (as minimally and precisely as possible)**:
- Enabled virtual nodes following

[2019-08-26 11:26] hulvei3 commented on #1159
The original description is a bit cryptic. I'll expect that this cannot be fixed automatically by Azure because it affects the nodes other than master-node.

The above would make it seems that I don't have to upgrade when running 1.13.5 ??

[2019-08-26 11:57] tgraf commented on #589
For those finding this issue looking on how to run Cilium on AKS. Cilium has added chaining support to run on top of `Azure CNI`. The guide & documentation can be found here:
https://docs.cilium.io/en/latest/gettingstarted/k8s-install-aks/

[2019-08-27 06:23] vedant-khandelwal commented on #868
Yes this is still an issue. Can any of you please schedule a call to
discuss this issue? We have been unable to use ACI due to these issues.

On Tue, Aug 27, 2019 at 1:59 AM Sravan Rengarajan <notifications@github.com>
wrote:

[2019-08-27 08:00] MikkelHegn commented on #1014
@bobrundle - I haven't seen a scenario where you loose DNS after a while. Do you see this issue only for new container instances as they start up, or container instances running continuously?

The latest Windows OS version in AKS is .557 - if your on an older version, you'll have to first upgrade your cluster to a newer Kubernetes version, then create a new Windows node pool and migrate your workl

[2019-08-27 11:50] zffocussss commented on #607
me too

[2019-08-27 12:00] zffocussss commented on #607
I can get my local remote IP in the ingress-nginx-controller pod. when I set controller.service.externalTrafficPolicy="Local".
but we I curl inside my pod which is the same cluster as ingress-nginx-controller,internal IP 10.244.0.1 shows.is it normal

[2019-08-27 13:12] rivetmichael commented on #374
still an issue for me with kubernetes version 1.13.5 :/

[2019-08-27 13:24] MikkelHegn commented on #1014
You can upgrade the existing cluster by:
1. Upgrade the cluster 'az aks upgrade' to a newer K8 version
2. Create a new node pool
3. Move the workloads over to the new node pool

Are the clusters similar in size and resource usage? What's the state of the core-dns pods when this happens, does a new container instance also fail with DNS if deployed while the nodes are in this state?

Would be good t

[2019-08-27 18:55] mikemowgli commented on #1117
@Sayshu and all, Azure creates a Service CIDR with default value "10.0.0.0/16". The issue you get is because the subnet you have created upfront overlaps this range. You have two options:
1. attaching the AKS cluster to a subnet outside that 10.0.0.0/16 range
2. defining a custom value for the Service CIDR. In terraform, the setting is: "[service_cidr](https://www.terraform.io/docs/providers/azure

[2019-08-27 20:10] martin2176 opened #1170 "Login to AKS Node with priv key. Password expired"
Issue:
Trying to login to AKS Agent Node with SSH private key (pub key has been copied to AKS Node during the install). Today (I believe 90 days elapsed) the password less login is not working with the message password expired.
I believe by design this is not the intended behavior. The SSH PAM should be set up to not check password expiration for priv-pub key authentication.
Either password of azu

[2019-08-27 20:31] TiloGit opened #1171 "Upgrade AKS older Kernel"
Just did upgrade from 1.13.9 ti 1.13.10 and notice that the new nodes Linux Kernel is older:
Is that expected?

Would it be possible to apply the auto update and reboot new nodes before you mark them as ready in upgrade flow?

[code]

[2019-08-27 20:35] mikemowgli commented on #1117
@Sayshu , this is strange, since when I had the same issue than you had, I just had to change the range of the subnet to which AKS nodes are attached. Hopefully Microsoft people have an explanation...

[2019-08-28 07:03] chaos-panda commented on #1060
Is there any plan already having this GA?

[2019-08-28 07:04] chaos-panda commented on #947
Is there any ETA on having this GA?

[2019-08-28 07:05] vedant-khandelwal commented on #868
Yes I have. I have also provided all the information they asked for.
Haven't heard back from them for quite a while now.

On Tue, Aug 27, 2019 at 10:28 PM Sravan Rengarajan <notifications@github.com>
wrote:

[2019-08-28 10:58] carlossg commented on #1008
FWIW I have this issue with Helm v2.13.1 and kubectl v1.15.3 and v1.14.3
Upgrading Helm to 2.14 *seems* to fix the issue

I can reproduce just running

[code]

[2019-08-28 15:30] tomkerkhove commented on #947
@jluk Thanks! Looking forward to portal support!

[2019-08-28 22:43] maxkochubey opened #1172 "Unable to deploy AKS cluster with ed25519 SSH key"
**What happened**:
I tried to deploy AKS cluster with terraform (using recent azurerm provider) and specified SSH ed25519 public key.
Got error:
```Error: Error creating/updating Managed Kubernetes Cluster "aks-test" (Resource Group "aks-test-rg"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="InvalidParameter" Message="The

[2019-08-29 01:53] #1145 closed

[2019-08-29 07:41] ejstan opened #1174 "Unable to do AKS browse"
**What Happenned:** Using aks browse on our existing Azure Kubernetes Service is not working anymore. It was working before since August 23, 2019. Now encountering the following issue everytime I'm doing aks browse. There were no changes at all on our configuration for the past 2 weeks.

`Proxy running on http://127.0.0.1:8001/
Press CTRL+C to close the tunnel...
Forwarding from 127.0.0.1:8001 ->

[2019-08-29 08:30] JuneZhao commented on #101
Now the port of dashboard should be 8443 not 9090, someone changed the port

[2019-08-29 08:30] mb345345 opened #1175 "Question: if azure aks kubenet networks are internal, why shouldn't they overlap?"
Hi folks, after checking out [https://docs.microsoft.com/en-us/azure/aks/configure-kubenet](url), and following the advice there, it appears that for the services, pods and docker cidr's shouldn't overlap with any other addresses used (presumably within the same vnet), eg.

I'm just not sure why this should be. Are these ip's actually accessible on the vnet? I was under the impression that these c

[2019-08-29 08:48] gmacquillin opened #1176 "kube-svc-redirect crashing"
**What happened**:
kube-svc-redirect crashing

**What you expected to happen**:
kube-svc-redirect not to crash

**How to reproduce it (as minimally and precisely as possible)**:
Run AKS 1.14.6 with kube-proxy with /run/xtables.lock mount

**Anything else we need to know?**:

Upgraded to 1.14.6 from 1.13.7 over the weekend and everything was fine for a few days until kube-svc-redirector starts to c

[2019-08-29 15:08] MoergJ commented on #1176
Same for me, kube-svc-redirect pods keep crashing.
Daemonset's redirector doesn't even have mounts, only azureproxy:
[code]

[2019-08-29 17:52] artisticcheese opened #1177 "Log Analytics data missing container image etc."
**What happened**:
Log Analytics data does not contain information about image name, tag etc

**What you expected to happen**:
Log Analytics shall have that data

**How to reproduce it (as minimally and precisely as possible)**:
Upon container start up certain data is not being sent to LogAnalytics

**Anything else we need to know?**:
![image](https://user-images.githubusercontent.com/13176884/639

[2019-08-29 18:51] mvacha opened #1178 "Dashboard does not show cpu/memory metrics after upgrade to version 1.14.6"
**What happened**:
After updating cluster to version 1.14.6 the CPU/memory metrics no longer show up in the Kubernetes dashboard.

This issue has been already reported as #1089, but it is still present in the latest version (1.14.6).

**Solution:**
There are two possible solutions: either install heapster (as suggested in #1089) or update Kubernetes dashboard to the latest version (2.0 beta 4).

[2019-08-29 19:34] azureissues opened #1179 "run-kube-svc-redirect.sh crashes due to shell script syntax error"
**What happened**:

once upgraded to AKS v1.13.10, `run-kube-svc-redirect.sh` crashes with a bash error: `/lib/redirector/run-kube-svc-redirect.sh: line 166: //: Is a directory` on certain node of the cluster.

Notice line 166 below. Bash comments should start with `#` rather than `//`
[code]

This shell script is ran by `redirector` container from the `kube-svc-redirect` pod in the `kube-system`

[2019-08-29 19:38] jnoller commented on #1176
engineering is working on a hotfix for this issue, marking as known

[2019-08-29 19:39] jnoller commented on #1179
duplicate of #1176

[2019-08-29 19:39] #1179 closed

[2019-08-29 19:40] slynickel commented on #1179
@jnoller how so? It would appear this error message is different. Or is it just another known issue with the kube-svc-redirect changes?

[2019-08-29 19:40] jnoller commented on #1171
we are evaluating improvements here as part of the aks versioning enhancements later this  year

[2019-08-29 19:40] #1171 closed

[2019-08-29 19:43] jnoller commented on #1179
The errors/crash were / are caused by a regression on our side we are repairing @slynickel

[2019-08-29 20:30] jluk commented on #1166
@vijaygos could you please open up this issue on the aks-engine project per Cecile's post? I am closing this as a result of her info shared.

[2019-08-29 20:30] #1166 closed

[2019-08-29 20:34] jluk commented on #1167
@kim0 if you have a single nodepool, the az aks upgrade command will upgrade both control plane and pool just FYI. when you have multiple pools that is when az aks upgrade is CP only since if only one exists the assumption is keeping both in-sync.

could you check the clusterstate of this cluster / is the upgrade operation succeeded? this might even be a known issue being addressed with in-place u

[2019-08-29 20:36] jluk commented on #1162
@prbajrac we want to help you so I'm going to close this issue and request you open a support ticket for something like this. Our support engineer would need to take a look at the cluster hands-on and transferring the detail of info and logs to get at a network issue on github is going to be a bad experience for everyone.

[2019-08-29 20:36] #1162 closed

[2019-08-29 20:37] jluk commented on #1139
@srrengar or @rbitia could you look into this?

[2019-08-29 20:42] jluk commented on #854
@swapzero I'm closing this due to no response for 3 weeks, if you still see this reproduce on a 1.13 or 1.14 version please open a new ticket. Thanks!

[2019-08-29 20:42] #854 closed

[2019-08-29 20:45] jluk commented on #803
We absolutely agree @hectoralicea thanks for the feedback! I'm going to close this ticket as a dupe of #993 which Jesse linked so everyone can track the latest info there. Thank you!

[2019-08-29 20:45] #803 closed

[2019-08-29 21:18] kim0 commented on #1167
Yes .. the state for both the cluster and the nodepool is succeeded
[code]

[2019-08-29 21:41] NN-BT commented on #1176
@jnoller  thanks for the response, is there an ETA for the hotfix?

[2019-08-30 08:33] sarmadjari commented on #1165
I have the same issue when creating AKS cluster through the portal, did few tests with one of Azure Support Engineers and we confirm this issue.

[2019-08-30 09:10] gmacquillin commented on #1176
We've had new revisions of kube-proxy and kube-svc-redirect daemonsets applied this morning which seems to have fixed the problem. Both have been up without crashing for around 10 hours so far and no sign of the xtables error

Thanks for the fix

[2019-08-30 09:11] rivetmichael commented on #1176
@gmacquillin  can you give the version of the image that was deployed ? Our is aksrepos.azurecr.io/prod/kube-svc-redirect:v1.0.3 and still seems to be buggy.

[2019-08-30 09:27] gmacquillin commented on #1176
@rivetmichael Our version of kube-svc-redirect is the same - aksrepos.azurecr.io/prod/kube-svc-redirect:v1.0.3

Has your kube-svc-redirect/kube-proxy been updated? Maybe its rolling out overtime. Our cluster is in UK South

On kube-proxy under annotations the new release time is below. kube-svc-redirect doesn't have that field but I can see the revision change in daemonset history and prometheus
[

[2019-08-30 09:37] J0F3 commented on #993
Any news or an approximate ETA for this?
Thx!

[2019-08-30 09:45] MoergJ commented on #1176
For me, the still failing version is also
`aksrepos.azurecr.io/prod/kube-svc-redirect:v1.0.3`
With release-time
`aks.microsoft.com/release-time: seconds:1567128905 nanos:727484074`
Cluster living in westeurope, looking forward to the fix.

[2019-08-30 09:46] rivetmichael commented on #1176
`aks.microsoft.com/release-time:
seconds:1567151801 nanos:852873816` with a cluster in westeurope and still failing, thanks @gmacquillin for the tip about the annotations 👌

[2019-08-30 10:00] jorgeperona commented on #1176
Hi, our release time is aks.microsoft.com/release-time: seconds:1567126598 nanos:648735775 and redirect version is v1.0.3 and we still have the issue.

Can we force a daemonset update?

What is the patch version or patch release time?

[2019-08-30 10:22] henrylilei commented on #323
@jnoller I understand that certain configs are not suitable for managed AKS, but is it possible to have a blacklist/whitelist on the dynamic configurations? So that we can at least setup the cluster and VMSS better suited to the latency sensitive production traffic.

Some of the latency and perf related settings for AKS that I wish to be able to set when I have Cluster AutoScaler enabled,
- cpu-ma

[2019-08-30 10:44] AndrijaBenedik commented on #1131
I have the same problem at the moment, have you managed to resolve that by now?

[2019-08-30 10:58] rivetmichael commented on #1176
@jorgeperona I don't think we can force the update, that part should be managed by Azure

[2019-08-30 12:05] jnoller commented on #1176
The fix is landing in all regions which is why some are patched and some are not, we release into each region after the previous is validated. It takes over 24 hours for it to land in all regions

[2019-08-30 12:15] whut commented on #614
Shoudn't it be enough for the `az aks create` command to add Network Contributor rights on the subnet, in this case Owner is needed only on the Resource Group, not on the whole Subscription. Requiring owner on whole subscription is unrealistic requirement.

[2019-08-30 12:16] rivetmichael commented on #1176
@jnoller is there a status page or something where we can follow by ourself ?

[2019-08-30 12:36] subesokun commented on #400
Just tested this with a newly created AKS cluster (v1.14) and the RT got correctly assigned to the custom subnet 🎉But unfortunately, the NSG didn't get assigned to the custom subnet (only the network interfaces of the cluster nodes). My VNet consists out of two subnets and one of them has a custom NSG assigned but the subnet for AKS doesn't have any. Could that be an issue?

[2019-08-30 13:01] J0F3 commented on #400
@subesokun I think that how it should work. The routing table is assigned to the subnet and the NSG is assigned to the network interfaces of the cluster nodes. The resulting effect of the NSG is the same as it would be assigned to the vSubnet but while the AKS NSG is is assigned only to the network interfaces of the nodes you have still the ability to set a custom NSG on the vSubnet which is actua

[2019-08-30 13:12] subesokun commented on #400
@J0F3 Thanks a lot for the feedback! Ok, then everything looks good 👍

[2019-08-30 14:02] nicolas-marcq commented on #1176
Hi,
We are facing the same issue.
What is the procedure to follow to get our cluster back to functional?
Thanks

[2019-08-30 14:03] whut opened #1180 "Azure CLI requires Owner on subscription when creating cluster with advanced networking, while Azure Portal does not."
**What happened**:
When I create cluster with Azure CLI with `--network-plugin azure` I get:

[code]

This is basically the same issue as in closed #614. Like noted in comments in that issue, it should not be required to be an Owner on subscription to create AKS cluster.

1. It is not technically mandatory to be Owner on subscription:
   - it is enough to be Owner on the Virtual Network to be able

[2019-08-30 14:04] SteveCurran opened #1181 "NetworkPolicy support for Windows Containers"
I do not see this on the road map. Any information on when this will be supported?

[2019-08-30 15:06] texano00 opened #1182 "Visualizer tool?"
Hi, i'm searching an AKS tool to auto generate an UML (or other graphs) that shows the connections of the various created components.
It's very nice to immediately check the infrastructure flow. I'd like to stick it on a working board.

Someone know it?
Thank you in advance

**Edit:**
The output would be something like (described here https://blog.openshift.com/kdl-notation-kubernetes-app-deploy/)

[2019-08-30 15:38] ellispritchard commented on #1176
Is this related:

[code]

[code]

Image is `aksrepos.azurecr.io/prod/kube-svc-redirect:v1.0.3`

[code]

[2019-08-30 16:04] seanmck commented on #1175
If they overlap, then any applications running in the cluster will not be able to reach the endpoints outside the cluster because traffic will always be directed to endpoints backing the Kubernetes service IP. This guidance is defensive on the assumption that such interactions may be required. If you don't need anything running in the cluster to reach the endpoints in the overlapping network range

[2019-08-30 16:04] #1175 closed

[2019-08-30 16:10] feiskyer commented on #1131
@markusdresch CA is scaling cluster based on resource requests, not usage. If you describe all pods, you can calculate the total requests of memory. The [link](http://stian.tech/downscaling-aks/) @AndrijaBenedik shared has detailed guides for this.

[2019-08-31 00:38] stvhwrd commented on #1165
I reported the bug from within the Azure portal and received this response from Azure IaaS:

[2019-08-31 00:50] palma21 commented on #1051
Fixed with (and before) the GA of 1.14 as noted in
https://github.com/Azure/AKS/releases/tag/2019-07-29

[2019-08-31 00:50] #1051 closed

[2019-08-31 06:14] Plasma opened #1183 "Network Load Balancer (TCP) poor use case for HTTP routing"
**What happened**:
I created a LoadBalancer service to point to a deployment that had a few replicas of a web server pod (IIS).

This worked fine, but during rolling update, there was a moment where the replica being updated was still serving traffic due to TCP connections by web clients (via their web browser) to that replica. This caused site errors to the end users.

**What you expected to happ

[2019-09-01 12:23] Plasma commented on #1151
I recently scaled Linux nodes to 1 also since I didn’t need them; but reading they are needed for proper availability is surprising

[2019-09-02 06:26] #1131 closed

[2019-09-02 07:36] mb345345 commented on #1175
Thanks for clarifying this Sean :)

[2019-09-02 08:26] MikkelHegn commented on #1181
We currently do not have a timeline set for bringing this to Windows on AKS. It will show up in the road map, as soon as it's planned. Thanks

[2019-09-02 08:30] MikkelHegn commented on #1151
We've added some clarifying text to these docs: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#create-an-aks-cluster and https://docs.microsoft.com/en-us//azure/aks/windows-container-cli#create-an-aks-cluster

[2019-09-02 08:30] #1151 closed

[2019-09-02 09:10] MacTynow commented on #1088
Hi @jluk (reposting from [terraform azure rm provider](https://github.com/terraform-providers/terraform-provider-azurerm/issues/3907)) , I'm confused because I can see references to custom labels in https://github.com/Azure/aks-engine/blob/master/examples/kubernetes-labels/kubernetes.json as well as https://github.com/Azure/aks-engine/blob/8f5de6d71f67c1b3f618338626f7e86a8ea98727/pkg/api/types.go#

[2019-09-02 11:42] maadtechie commented on #224
Having the same issue on AKS from time to time, we've noticed that "tunnelfront" in kube-system namespace restarts and fails liveness probe. Deleting that pode (restarting) helps to solve the problem.

[2019-09-02 14:13] worldspawn opened #1184 "Cluster is unable to scale - "No expansion options""
**What happened**:
I had a cluster configured to use auto scaling and confirmed it was working but needed to change the size of the agent pool vms so I recreated it.

At load this was my only node out of a configured max of 5, min of 1:

[code]

**What you expected to happen**:
Auto scaling to continue to function.

**How to reproduce it (as minimally and precisely as possible)**:
🤷‍♂

**Anything

[2019-09-03 00:04] worldspawn commented on #1184
Solved
[code]

Note for newbs (like me). When look system events remember to set the namespace to kube-system 🤦‍♂

[2019-09-03 00:43] #1184 closed

[2019-09-03 03:25] henrylilei opened #1185 "kube-reserved cpu/memory are not set for newly added nodepool"
**What happened**:
Have a VMSS based Multi nodepool cluster and when adding new nodepool, the kubelet config doesn't have "--kube-reserved=cpu=109m,memory=9543Mi". The main nodepool that created with the cluster has it.

**What you expected to happen**:
1. in the new pool, --kube-reserved=cpu=109m,memory=9543Mi is set inside the /etc/default/kubelet
2. in the main pool, the memory reserved (9543Mi

[2019-09-03 07:25] Korijn commented on #1087
Confirmed, observed same problem on my AKS cluster.

[2019-09-03 09:07] lavanyaanbu001 commented on #922
Need this feature

[2019-09-03 10:15] wouterhund commented on #643
Could #1052 be re-opened if this still hasn't been resolved? We're still running into connection timeouts daily.

[2019-09-03 10:36] tomkerkhove opened #1186 "HTTP application routing creates DNS zones for default namespace only"
**What happened**: I was using [the HTTP application routing walkthrough](https://docs.microsoft.com/en-gb/azure/aks/http-application-routing) to get started with it but noticed that traffic was not routed correctly.

When looking at the created DNS zone I noticed that it mentions `external-dns/owner=default`:
![image](https://user-images.githubusercontent.com/4345663/64165843-21b42f00-ce46-11e9-9

[2019-09-03 16:45] jluk commented on #1088
@mactynow that would be the AKS Engine project which is separate from AKS. The label functionality you see as part of the agentpool is what we plan to bring into AKS, but until we do you won't have labels reapplied through upgrade/scale.

[2019-09-03 22:43] juerup opened #1187 "AKS VMSS scale with many disks fails with status 429 - TooManyRequests HighCostGetVMScaleSet30Min"
**What happened**:
We are running an AKS cluster with 27 nodes in 2 node pools with approx. 50 StatefulSets with Azure Disks attached and 300 stateless pods. We scaled one pool manually down from 25 to 20 nodes. After that most pods were crashing and not able to start again, because no disks could be attached. The pods showed errors similar to this:

Original Error: autorest/azure: Service returne

[2019-09-04 06:12] hallgeirl opened #1188 "Deployment fails with "Pod sandbox changed, it will be killed and re-created" on windows nodes"
**What happened**:
Newly deployed pods fail with "Pod sandbox changed, it will be killed and re-created.". This happens on at least two of my nodes that I've seen so far. Also, right after the pod is created, the readiness probe fails with: **container 70b25a2888a40baf46aea4dcc8fa2675abc9a23bb797726bdf175c8fabfea7c4 encountered an error during CreateProcess: failure in a Windows system call: The r

[2019-09-04 07:49] afrikaans commented on #433
Still no update on this one

[2019-09-04 09:35] blackbaud-brandonstirnaman commented on #1188
We've been seeing this in our Australian clusters since yesterday (and opened a Sev-B issue with MS support).. Now seeing it in clusters in EastUS2, CentralUS and in our european regions as of ~3AM eastern today.

[2019-09-04 09:47] schefs commented on #1119
I'm experiencing the same issue trying to connect to a private docker registry of my own inside my vnet, and set it as a mirror registry and as "insecure registry".
All I need to accomplish this is just a the ability to use a custom "daemon.json" docker config file on my aks nodes.
If I'll do it manually, any modification will be deleted on the nexus node pool upgrade or resize.
is there a way to

[2019-09-04 10:16] hallgeirl commented on #1188
Thanks for confirming that it's not only me! :)

I would love to hear what an eventual support engineer says about this issue, if you get any useful feedback on it...

[2019-09-04 13:17] MourIdri opened #1189 "Operational Threshold errors returned on AKS create in WestEurope"
hi there

we cannot deploy a k8s cluster with the following error :

`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \

[2019-09-04 13:19] kkopuru commented on #980
AKS 1.14 is in GA.

When can we expect Windows node support in GA.

[2019-09-04 14:05] piostelmach commented on #1188
Hi,
we have also the same problem, additionally node's show state not ready and few sec show ready. In this time pod are restarted.

aks ver. 1.13.5, cluster on westeurope and northeurope.
kernel version: 4.15.0-1052-azure
container-runtime: docker://3.0.6
os-image: Ubuntu 16.04.6 LTS

[2019-09-04 18:21] alonisser commented on #1117
This is horrible and broke our automated infra as code process. (ARM templates) can't find out how to fix that

[2019-09-04 18:34] jluk commented on #1130
Closing as this should be going out on this week's service rollout.

[2019-09-04 18:34] #1130 closed

[2019-09-04 19:32] jluk commented on #1052
Re-opening as this is separate from customers being able to deploy standard load balancers for their own services.

[2019-09-04 19:32] jluk commented on #643
@wouterhund just re-opened to track it in that separate issue, working on getting the timelines for when that issue will be resolved.

[2019-09-04 22:06] vishiy commented on #433
This is available for quite some time now, under 'Metrics' --> namespace=insights.container/pods;metric=podCount; split by (controllerName/Kubernetes namespace/node/phase)

![image](https://user-images.githubusercontent.com/10353076/64295201-9316df00-cf25-11e9-935c-adbe2f55a931.png)

[2019-09-05 03:47] BeigeBadger commented on #1129
I have just run into the same issue @michael-burt, I guess I'm turning monitoring off...

[2019-09-05 06:53] bramvdklinkenberg commented on #1189
Same issue here just a minute ago:

$ az aks create --resource-group bram-aqua-poc --name aqua-master --kubernetes-version 1.14.6 --node-vm-size Standard_DS3_v2 --ssh-key-value ~/.ssh/fullstaq.pub

The behavior of this command has been altered by the following extension: aks-preview
Deployment failed. Correlation ID: dce3fa22-a7ea-458c-8b65-1849331260dc. Azure Container Service is unable to provis

[2019-09-05 07:11] janschumann commented on #1189
Same issue here,  (since yesterday)

Error: Error waiting for completion of Managed Kubernetes Cluster "APWEDEVAKS001" (Resource Group "APWEDEVRGPAKS001"): Code="UnderlayNotFound" Message="Azure Container Service is unable to provision an AKS cluster in westeurope, due to an operational threshold. Please try again later or use an alternate location. For more details please refer to: https://github

[2019-09-05 07:13] bramvdklinkenberg commented on #1189
Mine worked after removing the failed aks resources and redeploying it.... don't know if I was lucky or not

[2019-09-05 07:51] hkailantzis commented on #1189
same here since yesterday. Although got same error also on Tuesday. please advise.

[2019-09-05 08:52] theres commented on #1189
yep, the same here.

[2019-09-05 08:54] matsisak commented on #1189
Same issue here thursday September 5th. I'm using the aks-preview for custom name on node resource group.

[2019-09-05 09:05] smed1na commented on #1189
By default, AKS cluster is created with 3 nodes. That error might be caused by a subscription quota limit. Try:
a) increasing the limits
b) delete some VMs
c) create the AKS cluster just with 1 node (az aks create --node-count 1)

[2019-09-05 10:42] stephaneey opened #1190 "HPA not working with auto-provisioned metric server on AKS 1.14.6"
**What happened**:
HPA not working with brand new cluster
**What you expected to happen**:
HPA should work out of the box
**How to reproduce it (as minimally and precisely as possible)**:
When creating a brand new cluster
az aks create --name aks5 --resource-group aks5 --node-count 1 --generate-ssh-keys --aad-server-app-id <anapp>--aad-server-app-secret <asecret> --aad-client-app-id <anapp> --aad-

[2019-09-05 10:55] cpunella commented on #1137
@brobichaud yes, I found that if you don't set limits in the deployment, metrics are not collected ...

[2019-09-05 10:55] bramvdklinkenberg commented on #1189
I deployed it with 3 nodes, it failed. Then I deleted the AKS failed resource and redeployed it again with 3 nodes and it worked. Like I said, maybe I was lucky

[2019-09-05 11:03] cpunella commented on #1190
Hi,

quick tip: have you set resource limit in the deployment yaml definition? There is a correlation between metrics and pod limit definitions...

[2019-09-05 11:23] stephaneey commented on #1190
Hello,

Thanks for your answer and yes...it's my bad! I had deployed the resources like this:
resources:
         limits:
          cpu: "1"
         requests:
          cpu: "0.5"
but when preparing a copy/paste for the issue, I noticed that further on in the same payload, there was another resource element like this: resources: {} which invalidated the former resource declaration. Didn't notice

[2019-09-05 11:23] #1190 closed

[2019-09-05 11:39] mihaimircea commented on #1189
After retrying the AKS (2 nodes) was created successfully in my case.

[2019-09-05 12:13] hkailantzis commented on #1189
2 nodes as before, but problem still persists.

[2019-09-05 14:35] hkailantzis commented on #1189
after several attempts looks OK for now...

[2019-09-05 14:43] tommydejong commented on #1189
Still receiving errors, even with only 2 nodes...

[2019-09-05 14:55] slynickel commented on #1188
Adding a bit more of what we are seeing. We aren't using windows nodes. Not sure if others are seeing that the agent nodes are rebooting nearly every 5-10 minutes. We only have a two node cluster and the issue is limited to just one of the two agent nodes.

Quick command to see if you seeing a lot of reboots (requires linux for the grep bit):
[code]

We do use kured but these aren't reboots initia

[2019-09-05 15:30] michael-burt commented on #1129
Yeah, docs please @jnoller  ??

[2019-09-05 15:33] jluk commented on #1189
Hey folks, the AKS engineering team is aware of this issue and is working on deploying a fix. In the interim please try to utilize a different region while we resolve this, we will provide more details and ETA as soon as possible.

[2019-09-05 19:04] weinong opened #1191 "The template variable 'agentPublicIPAddressName' is not found."
**What happened**:
There is a regression introduced in https://github.com/Azure/AKS/releases/tag/2019-08-26 such that AKS creation will fail with `The template variable 'agentPublicIPAddressName' is not found.` when `networkProfile.loadBalancerSku` is set to `Standard`. While the fix is implemented in `2019-09-02` release and pending to roll out, customers who are impacted can work around by setti

[2019-09-05 19:17] Gangareddy commented on #884
A similar issue arose in my cluster, the pod could not start as the PV corresponding to its PVC is bound to another node and it could not detach the disk(PV). This happened after changing the service principal on all my nodes. This seems very no-deterministic in nature, yet this happens occasionally in aks-engine generated clusters.

[2019-09-05 20:10] uipo78 commented on #1135
bueller?

[2019-09-05 22:33] jluk commented on #1050
@victornoel late reply, but taking the VMSS path sends the cluster out of support since it's an out of band operation outside of AKS. As you witnessed (or as I read your repro) you will always need nodes in your default cluster as that is where critical system pods end up.

We're still tracking to support this scale to 0 for auxiliary node pools, targeting before end of year.

[2019-09-06 04:42] andyzhangx commented on #884
@Gangareddy you may also change the service principal on the master node, otherwise detach disk operation could not succeed. In that condition, you could manually detach that disk from the agent node, and k8s will automatically attach disk PV to the new node.

[2019-09-06 06:26] landro opened #1192 "NetworkPolicy - using named NetworkPolicyPort with azure network policy provider not supported"
The following NetworkPolicy works as expected:

[code]

whereas the same one, using a named port instead, does not work.

[code]

According to the [NetworkPolicy API spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#networkpolicyport-v1-networking-k8s-io) and the [official Azure docs ](https://docs.microsoft.com/en-us/azure/aks/use-network-policies#differences-between-azur

[2019-09-06 08:07] vbrinza commented on #1189
Adding the cluster with only one node does not address the problem and it should not as the response is more about the Azure API reaching its limits.
I opened a ticket in Azure support too.
Let's see what the fix will be.

[2019-09-06 11:15] sparepu commented on #1159
@palma21 What do you mean by "We already took care of masters nodes".
Can we upgrade only master component in AKS without upgrading worker nodes?

[2019-09-06 12:09] andyzhangx commented on #1187
cc @feiskyer

[2019-09-06 13:56] carlossg commented on #1008
My workaround is to create a new shell session for helm, copy my `.kube/config` as `.kube/config-helm` and set `KUBECONFIG=.kube/config-helm`
Then I can use helm in that session and `kubectl` in other sessions with no issues

[2019-09-06 13:59] feiskyer commented on #1187
@juerup we need some cluster information for checking why so many requests are sent. Could you open a support ticket for it?

[2019-09-06 13:59] AnassKartit opened #1193 "View Kubernetes Dashboard Button in Azure Portal"
**What happened**:
Go to Azure Portal after Creating AKS Cluster

**What you expected to happen**:
A View Kubernetes Dashboard Button that allows you to copy AKS get credentials button appears

**How to reproduce it (as minimally and precisely as possible)**:
sometimes it appears sometime not , the issue is random

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2019-09-06 14:46] juerup commented on #1187
We already opened a Support Ticket 119090322002632 with Azure Support, but with no result. Does this help you identifying root cause?

[2019-09-06 15:44] brobichaud commented on #1137
But I do have limits on all of my deployments, yet metrics seem hit or miss...

[2019-09-06 16:02] jluk commented on #1189
The issue, which was a regional capacity issue, should now be mitigated and you should be able to create clusters in-region again. Closing for now, but please re-open or ping me if it is still repeatedly failing with this error. Thank you!

[2019-09-06 16:02] #1189 closed

[2019-09-06 20:49] jluk commented on #1192
I believe this is a known issue resolved in NP v1.0.27. Work is in-flight to release this new version into AKS, tagging @sauryadas.

[2019-09-06 22:28] seanmck commented on #1185
Thanks for reporting this. We are working on a fix.

[2019-09-09 02:26] prbajrac opened #1194 "Unable to delete Dynamic Azure Disk"
**What happened:**
Followed the instructions here to deploy a pod with dynamically provisioned Azure Disk
https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv
Attempted to delete the Pod, PV and PVC

**What you expected to happen:**
Based on this https://docs.microsoft.com/en-us/azure/aks/concepts-storage#storage-classes
once a pod using the PV is deleted then the underlying Azure dis

[2019-09-09 08:53] rayanebel opened #1195 "Enable users to install Gatekeeper themselves on AKS without Azure Policy feature"
**What happened**:

I'm working for a company which want to apply security policies on their Kubernetes clusters by using directly [Gatekeeper](https://github.com/open-policy-agent/gatekeeper) _(aka Open Agent Policiy)_. We tried to deploy Gatekeeper by ourselves and it worked but, when we apply our custom policies, they are ignored and it's not working.

If I don't make a mistake to work, `Gateke

[2019-09-09 09:53] empitesithum commented on #570
Something I check every 3 days in one of our production environment. I also think that changes made directly to the nsg should persist even after restarts.

[2019-09-09 11:42] landro commented on #1192
What do you mean, known issue? to whom? where is this issue being tracked publicly? @jluk

[2019-09-09 12:46] sundipnair commented on #1187
We are facing similar issues since last week. We worked around this by standing up clusters without VMSS.
Have raised a support ticket (119090422002737). The engineer on the other side has confirmed this as a Azure issues and that it is being resolved.

[2019-09-09 14:55] sauryadas commented on #1164
closing this as docs have been merged

[2019-09-09 14:55] #1164 closed

[2019-09-09 16:44] jluk commented on #1195
Hey @rayanebel I discussed this a bit with Rita last week. Currently there are some AKS design conflicts to users rolling Gatekeeper themselves into the service, we have some proposed work to enable this requested scenario but our current best estimate is next year to get there.

I'll leave this issue here for ongoing tracking, but hopefully this helps your planning.

[2019-09-09 16:46] brobichaud commented on #1157
Any thoughts on this? It's a significant roadblock for us in containerizing some of our workloads as we use IP Whitelisting for some key services. Everything I read says this should work with a Standard Load Balancer, but it does not seem to.

[2019-09-09 16:52] jluk commented on #1192
Known issue to the engineering team, @aanandr might have an issue on an azure networking repo. Looking to him or @sauryadas to confirm if this is fixed in the next NP release.

[2019-09-09 16:57] weinong commented on #1191
the bug has been hotfixed around 09/07 1am UTC

[2019-09-09 16:57] #1191 closed

[2019-09-09 17:07] henrylilei opened #1196 "Stuck at "Creating" when specifying Node Taints for the first NodePool"
**What happened**:
Created a managed cluster with Rest API, set node taints "key=value:NoSchedule" to the first nodepool, and nodepool is stucked at "Creating".

**What you expected to happen**:
First nodepool successfully created.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.6
- Size of cluster (how

[2019-09-09 17:07] Gangareddy commented on #884
@andyzhangx: I have updated the service principal on master nodes as well. Thought manually detaching disk would complicate self-healing nature of AKS. However, I was able to create additional disks from the snapshots of the disks that were stuck to the VM. Made changes to my PVs (persistent volumes) to use new creatly disks from snapshots. But I wonder,  Is a VM reboot necessary after changing se

[2019-09-09 20:57] jluk commented on #1167
Thanks @kim0 for the report, would you please open a support ticket for this? We have planned work to improve the reconciliation path for an agentpool that may not be synced to goal state. A support ticket enables us to take a look at the cluster itself to see if there is a specific bug causing the single node loss of upgrade. Closing here as a result of needing on-call inspection.

[2019-09-09 20:57] #1167 closed

[2019-09-10 01:34] jluk commented on #1196
Thanks for the report @henrylilei we're looking into this.

[2019-09-10 02:59] andyzhangx commented on #884
@Gangareddy pls follow this guide to reset service principal: https://docs.microsoft.com/en-us/azure/aks/update-credentials, on agent node, you only need to restart kubelet:
[code]

[2019-09-10 05:42] andrewschmidt-a commented on #772
We are experiencing this issue on our clusters. also when we run the above daemon set we get outages in our workloads.

How exactly does it do a rolling update do you have to ensure that there are replica sets that are spreading pods across nodes?

[2019-09-10 06:33] tdihp opened #1197 "Add Azure Policy alias for checking kubedashboard enabled status"
**What happened**:
Unable to enforce Azure Policy for checking if kubedashboard is disabled

az provider show --expand "resourceTypes/aliases" --query "resourceTypes[].aliases[].name" --namespace Microsoft.ContainerService

In which I found at the addon level we only have:
•	"Microsoft.ContainerService/managedClusters/addonProfiles"
•	"Microsoft.ContainerService/managedClusters/addonProfiles.azure

[2019-09-10 08:32] robinmanuelthiel commented on #1193
Can you confirm, that this is happening randomly? Normal behavior should be the the "View Kubernetes dashboard" button is only visible on clusters with **no RBAC enabled**.

[2019-09-10 11:02] henrylilei opened #1198 "Should be able to add https to Kubernetes-Dashboard with auto-generate-certificates"
**What happened**:
We added an "args: - --auto-generate-certificates" to the kubernetes-dashboard deployment with container port 8443, after changing the livenessProbe to port 8443 and HTTPS scheme, the livenessProbe in this deployment kept changing itself back to 9090 and HTTP.

**What you expected to happen**:
livenessProbe keeps at 8443 and HTTPS.

**How to reproduce it (as minimally and precis

[2019-09-10 15:47] uipo78 commented on #1135
@sauryadas @aanandr

[2019-09-10 19:37] aanandr commented on #1135
@uipo78 - yes we rolled out a bunch of fixes recently and one of them fixes the issue reported here. I can confirm that.

[2019-09-10 19:48] ball-hayden commented on #1135
Could you confirm the fixes have already been rolled out? I have been told by support that they won't be landing until 2019-09-20?

I also appear to still have the same version of azure-npm that I have had for the last couple of weeks - is there a version number they are fixed in please?

[2019-09-10 21:49] dstarosta commented on #904
There is no space before "-preview".
`az extension add --name aks-preview`

[2019-09-11 11:49] solomson opened #1199 "Pods with PVCs crash and fail to restart after drain"
**What happened**:

Pods with PVCs crash and fail to restart at the same time. Azure premium and regular disks are underlying PVs.
Similar issues have happened twice before in the last month. They troubles have all occured at 3.xx AM local time. We use [Kured](https://docs.microsoft.com/en-us/azure/aks/node-updates-kured) and run it to schedule restarts at 3.x AM. I am however not certain that the

[2019-09-11 13:13] mlushpenko opened #1200 "Propagate custom user assigned tags to every dependent resource used by AKS cluster"
**What happened**:
Specified tags are not used for all resources created during cluster provisioning. We have a policy that all resources should have a set of standard tags and it blocks creation of the cluster even though I specify needed tags.

**What you expected to happen**:
Cluster is created successfully and all resources have specified tags

**How to reproduce it (as minimally and precisely

[2019-09-11 13:35] andyzhangx commented on #1199
the error msg shows that at some time the disk is not attached to the node:
[code]

Could you also provide `dmesg | grep sdc` output on the agent node which has this issue?

[2019-09-11 14:19] uipo78 commented on #1135
This is the release to which I was referring @ball-hayden: https://github.com/Azure/AKS/releases/tag/2019-08-19.

I'm going to close this issue, since @aanandr confirmed that the fix is part of the release mentioned above (that's where my bullet point comes from).

[2019-09-11 14:37] solomson commented on #1199
Running the 'RunShellScript' through the azure portal

"0"-node

[code]
"1"-node does not respond to any commands. Stuck on `Script execution in progress...`

[2019-09-11 14:45] andyzhangx commented on #1199
looks like your node has sth wrong, what's your node vm size?

[2019-09-11 14:51] mlushpenko commented on #237
Just experienced this in westeurope - didn't maange to create a single cluster in 4 tests. I kinda gave up after waiting for 1 hour. Will try northerneurope

[2019-09-11 14:54] solomson commented on #1199
Standard DS4 v2 (8 vcpus, 28 GiB memory)

We have had the same problem before on Standard DS3_v2

[2019-09-11 15:05] jnoller commented on #1135
Heads up; this weeks build *does* contain additional fixes, i'll reopen and then link the release going out now when the release notes are published.

[2019-09-11 15:05] andyzhangx commented on #1199
is there any disk detach/attach happen when those pods were crashing? It's weird that k8s could not find that disk on lun0 suddenly. Disk detach/attach may happen when pods with disk mount move from one node to another.

[2019-09-11 15:13] andyzhangx commented on #1199
if you find sth wrong with the VM, pls file a ticket to the azure VM team, thanks

[2019-09-11 15:17] solomson commented on #1199
I am not sure if the disks were detaching or attaching when crashing. However we have 6 different pods with PVCs and all 6 crashed and were stuck. Unlikely that they all tried to restart on a new node.

In our experience azure disks are kinda slow when deattaching/attaching to a new node, typically takes 10 minutes to get the pod back up running. But rarely do we get stuck like this where it wont

[2019-09-11 15:35] andyzhangx commented on #1199
so you use kured to patch node and restart node? and it would drain pods to other node, and at that time, `WaitForAttach failed within timeout node` happens?

[2019-09-11 15:37] andyzhangx commented on #1199
And we have already fixed some disk attach/detach bugs, upgrade to the latest version may solve this issue.

[2019-09-11 16:49] zuehlke-dea commented on #845
We would also be interested in knowing that AKS does so.

[2019-09-11 19:02] brobichaud opened #1201 "Communication issues with K8s Api service"
**What happened**: We are experiencing flaky access to the Api service on an AKS cluster created 5 days ago. All had been very performant until Monday morning sometime. Since then we periodically receive the error below from simple "kubectl get pods" commands. Other commands experience the same.

When this occurs we often can retry and it will succeed, though sometimes it takes 4 or 5 retries. The

[2019-09-12 02:48] brobichaud commented on #1201
I am closing this as I have decided that Azure Support is a better route with this kind of thing.

[2019-09-12 02:48] #1201 closed

[2019-09-12 03:19] martin-displayr opened #1202 "aks upgrade get's stuck even when successful"
**What happened**:
Kubernetes cluster was upgraded, but the tool that upgraded it didn't exit.

**What you expected to happen**:
The upgrade tool should exit and report success/failure.

**How to reproduce it (as minimally and precisely as possible)**:
I typed in this command:
[code]
It says
[code]
**Anything else we need to know?**:
This happened last time about a month or so ago upgrading to 1.1

[2019-09-12 03:21] martin-displayr commented on #1202
az --version

[code]

[2019-09-12 07:03] cometta commented on #133
@githitesh1  , your second link is broken

[2019-09-12 07:42] sanojdev89 commented on #14
kubectl get pods --insecure-skip-tls-verify=true
works on jenkins server but fails while running via a jenkins job

[2019-09-12 19:19] jnoller opened #1204 "AKS Worker nodes continual reboot guidance (Kernel Panic)"
On September 4th 2019 the AKS team were notified that customer cluster worker nodes had entered a consistent and recurring crash and reboot of all worker nodes.

The investigation led to the identification of a recent regression introduced by upstream in the Linux kernel:

- [Ubuntu issue 1842447](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1842447)
- [Patched Ubuntu Kernel](https://launc

[2019-09-12 23:23] jnoller opened #1205 "Kubernetes API change: User action required - removal of extensions/v1beta1, apps/v1beta1, apps/v1beta2 APIs in 1.16"
In the Kubernetes 1.15.0 and 1.14.0 ([release notes](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.15.md#deprecations-and-removals)) the upstream team [set final dates](https://groups.google.com/forum/#!topic/kubernetes-dev/je0rjyfTVyc/discussion) for the previously planned removal of the extensions/v1beta1, apps/v1beta1, apps/v1beta2 APIs in Kubernetes 1.16.0:

- NetworkPolicy

[2019-09-13 18:08] jluk commented on #1060
This is expected to GA in Q4CY19. You can also expect 5 more regions to be supported in that same quarter to match the 10 that are available as of today, 9/13/2019.

[2019-09-13 18:10] jluk commented on #1060
@roger-beathard if you enable zones at cluster creation time, your control plane will also be spread across zones automatically. The best way to address the point of concern which I assume is control plane availability is to work off of the provided SLO defined below. Hope this helps.

https://docs.microsoft.com/en-us/azure/aks/faq#does-aks-offer-a-service-level-agreement

[2019-09-13 20:13] jnoller commented on #1176
fixed/verified all regions

[2019-09-13 20:13] #1176 closed

[2019-09-13 21:06] jnoller opened #1206 "Unable to create AKS cluster due to Service Principal Not Found occurring in multiple regions"
**Tracking issue for issue resolution tracking**

AKS and the larger Azure team have been investigating an issue when creating a new AKS cluster and not passing in a pre-created Service Principal (SP), cluster creation may fail with a **Service Principal Not Found** error.

This error impacts cluster creation in all regions as well as the CLI and Azure Portal.

Azure engineering has root caused th

[2019-09-14 08:48] bhicks329 opened #1207 "Source IP address does not persist for traffic outside of the local vnet"
**What happened**: When performing a http request to any resource outside of the vnet from a pod in the AKS cluster the source IP address is remapped to the node address

**What you expected to happen**: I would expect the source IP address to persist regardless of destination. This is the expectation set in the documentation

**How to reproduce it (as minimally and precisely as possible)**: Perfo

[2019-09-16 03:18] vlevitsky commented on #290
While unrelated to AKS, the GKE supports the feature flawlessly.

[2019-09-16 06:06] sundipnair commented on #1187
Any further update on this issue?

[2019-09-16 08:30] rayanebel commented on #1195
Hello @jluk
Thanks for your reply. It's really a blocking point for us. Do you plan to have a workaround until the problem is solved at the AKS level ?

Thanks.

[2019-09-16 08:55] mlushpenko commented on #1200
I am not alone here :) https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/37248499-mc-resource-group-should-have-option-to-inherit-a

[2019-09-16 09:09] bhicks329 opened #1208 "Trustworthy JWT Tokens (svc account token vol projection)"
I've just built a new AKS cluster running 1.14.6 in UK South and I've been testing with Istio 1.3. In this release they are enforcing the use of Trustworthy JWT tokens which require Service Account Token Volume Projection via a feature flag enabled on the API server.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

I beli

[2019-09-16 11:39] Vitorspk opened #1209 "horizontal-pod-autoscaler unable to get metrics for resource memory: no metrics returned from resource metrics API"
**What happened**:

While checking if the application was running I came across the HPA problem in cluster events.
Not autoscale node problems with HPA metrics

**What you expected to happen**:

For the HPA to successfully acquire metrics on every call.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy new aplication on node

    - kubectl get events

    - kubectl describe

[2019-09-16 12:47] feiskyer commented on #1187
@sundipnair @juerup Sorry for the late response. This is a known issue that the requests count may exceed the ARM throttling threshold. We're fixing the issue and it would probably be fixed with Kubernetes v1.17.

[2019-09-16 13:12] martin2176 commented on #1170
The important point here is, when an AKS cluster is built, the nodes are built with a random password which is secure because no one knows what the password is. Once the password expires and the customer is asked to reset the password, it becomes a security concern at that time, because now we have to worry about making sure the password meet guidelines, as well as since the password is a known pa

[2019-09-16 14:30] ayushoo7 commented on #1170
Please resolver I am facing same issue not able to login via azureuser inspite having azure credentials

[2019-09-16 16:26] jluk commented on #1195
AFAIK the best option would be to use the AKS-Engine project which enables you to design and configure everything: https://github.com/Azure/aks-engine

@ritazh for any other thoughts though

[2019-09-16 17:25] palma21 commented on #3
Hi,

I also could not repro, on the API I find the node_resource_group name I provided.

Could you provide repro steps or open a ticket with us?

[code]

[2019-09-16 17:54] IvanovOleg opened #1211 "AKS ARM template deployment causes kube-proxy reload on an existing nodes"
**What happened**:
When I run an incremental deployment of the ARM template with an existing cluster it forces existing kube-proxy pods to be rescheduled which is so annoying.

**What you expected to happen**:
Second execution of the ARM doesn't touch existing kube-proxy containers.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a basic AKS cluster from the example in th

[2019-09-16 18:00] juerup commented on #1187
Can you please clarify about the known issue:
Is there anything to avoid throttling which can be done be us?
Can this even happen while downscaling by one node?

[2019-09-16 18:37] jveski opened #1212 "Adding a new VMSS agent pool removes any non-AKS route table entries"
**What happened**:

Added a new agent pool to a VMSS-based AKS cluster.

**What you expected to happen**:

Manually created entries in the AKS-managed route table to be preserved.

**How to reproduce it (as minimally and precisely as possible)**:

- Create VMSS-based AKS cluster
- Add route to AKS-managed route table
- Create a second agent pool
- Confirm route was removed

[2019-09-16 18:37] jveski commented on #1212
Creating this to provide visibility to a known issue.

[2019-09-16 19:26] jluk commented on #643
Closing as SLB is now GA as noted in release.

https://github.com/Azure/AKS/releases/tag/2019-09-09

[2019-09-16 19:26] jluk commented on #945
Closing as VMSS is now GA as noted in release.

https://github.com/Azure/AKS/releases/tag/2019-09-09

[2019-09-16 19:26] #945 closed

[2019-09-16 19:26] #643 closed

[2019-09-16 19:52] jluk commented on #1200
Hey @mlushpenko

We're aware of this and it's in the backlog for now, but the provided functionality today only goes as far as propagating custom tags you set on your cluster's resource group to the MC resource group object. You can see more on this issue: https://github.com/Azure/AKS/issues/970

The underlying resources in there such as networking as you mentioned will not receive the tags propag

[2019-09-16 19:57] jluk commented on #1124
@tjcrone we made a release that should address an issue very similar to this and I think it should be resolved so I'm closing this. If you still reproduce though please comment and I will re-open to look back into it.

[2019-09-16 19:57] #1124 closed

[2019-09-16 19:58] jluk commented on #1212
Acknowledging it is being worked on and in-flight as part of fixes for the multiple nodepool preview.

[2019-09-16 20:03] jluk commented on #1109
@masyanru please open a support ticket for this issue as we can't troubleshoot this easily via github issues, it is a known problem that for the multiple agent pool preview there may be some split brain versions in a pool. We have scheduled work to reconcile these versions.

@djsly ack on the pain of the speed of supported versions sliding through, I assume you're using Terraform. We have features

[2019-09-16 20:03] #1109 closed

[2019-09-16 21:08] mlushpenko commented on #1200
Thanks @jluk. Could you explain why you consider this as a new functionality? To me this looks like an oversight or a bug. If I provide some tags to virtual machine, I expect network interface card or whatever direct children resources to get the tags as well, same for the cluster. Using policies is a best practice and now with this bug/feature the best practice can't be used easily (I've found on

[2019-09-16 21:17] mlushpenko commented on #1200
Also, I was writing some code recently using Azure API and providing tags to new resources, and from my limited knowledge, it's as simple as providing one extra parameter to each children resource. So, I am wondering how much work is it to fix this considering you already creating MC_* resource groups with proper tags. Don't know code complexity, but perhaps I could help?

[2019-09-16 21:28] jluk commented on #1202
@eugenestarchenko and @martin-displayr what's the time lag you see between the provisioningstate being updated and the upgrade command completing? There may be a small polling delay between the two but nothing substantial.

[2019-09-16 22:02] martin-displayr commented on #1202
@jluk the first time it never completed. I left the console open all day, this was about 6 weeks ago. The more recent time (when I opened the ticket), it closed a bit after the ticket, so maybe 30 minutes in total for that time.

The question is what was it doing between the services being up again and the program exiting. If it is doing housekeeping stuff or whatever, some progress information wo

[2019-09-16 23:13] jluk commented on #1093
@ganga1980 is this complete?

[2019-09-17 02:58] feiskyer commented on #1187
@juerup The issue is because Azure ARM API has [request limits and would throttle](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-request-limits) the client if there're too many requests are sent. When 429 happens, all the read requests are throttled, though there're already caches in Kubernetes codes, 429 blocks the cache refresh requests, which makes things worse.

[2019-09-17 08:39] juerup commented on #1187
is there already a ticket for the development of this fix?

[2019-09-17 09:35] bingosummer opened #1213 "Static tokens for existing cluster are invalid"
**What happened**:

I have an existing cluster whose kubeconfig has client certificates and static token. The token's username is `clusterAdmin`

I create the clusterrolebinding for the user `clusterAdmin`, and try to use the token to access the cluster. But it failed.

**What you expected to happen**:

I can use the token to access the cluster.

**How to reproduce it (as minimally and precisely a

[2019-09-17 09:36] bingosummer commented on #1213
It's a regression issue. AKS team is working on a fix.

[2019-09-17 10:52] martin2176 commented on #1170
Workaround you could hit the reset password on the virtual machine from the azure portal.
Once password is reset, hit the reset ssh key and use the same ssh public key.
These two steps will enable you to login to the nodes using password less ssh and be able to sudo -i  so that you can become root on the aks nodes

[2019-09-17 11:20] ams0 commented on #1170
A better approach would be use `nsenter` (as in this [article](https://itnext.io/get-a-shell-to-a-kubernetes-node-9b720a15a4fe). You can copy and `chmod +x` this [gist](https://gist.github.com/ams0/775bb279e8ae0811bf9a1c3b14087582) and run:

[code]
to gain access to the nodes.

[2019-09-17 11:41] Michael-Coetzee opened #1214 "Capacity errors returned on AKS create in WestEurope"
**What happened**:
Everytime we create a AKS cluster with terrafom we get this error:

Error: Error waiting for completion of Managed Kubernetes Cluster "<obscured>" (Resource Group "<obscured>"): Code="ResourcesOverConstrained" Message="Azure Container Service is unable to provision an AKS cluster in westeurope, due to an operational threshold. Please try again later or use an alternate location.

[2019-09-17 13:04] slynickel commented on #1188
I think this can be closed. It was fixed for us per https://github.com/Azure/AKS/issues/1204 the reason all there boots were happening was due to the kernel panic.

[2019-09-17 14:09] hallgeirl commented on #1188
For us this happened on Windows nodes - the referred issue here is for linux nodes. But could it be that the master node also was affected here, thus crashing everything?

[2019-09-17 16:11] venkatmamillapalli opened #1215 "how to sign the user certificate by aks cluster"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2019-09-17 17:40] Michael-Coetzee commented on #1189
Can we reopen this issue, it's still happening
https://github.com/Azure/AKS/issues/1214

[2019-09-17 17:44] coreywagehoft commented on #976
I saw this same situation today on a cluster.  I noticed we did an update on a nodepool that had our externally accessible pods.
[code]
We deleted the pods that are responsible for ingress and the NSGs were not re-created.

AKS Details:
v0.40.0-aks
Kubernetes: 1.14.5

[2019-09-17 18:50] jluk commented on #1189
@Michael-Coetzee since you already opened a new issue, let's follow-up there and leave this one to avoid dupes.

[2019-09-17 18:55] jluk commented on #1202
@martin-displayr could you shared the ticket # or open a new one? We'd like to take a look at the specific operation which requires your subID and a timestamp which we should share in a private forum.

[2019-09-17 19:02] jluk commented on #1214
@Michael-Coetzee could (1) share the TF deployment file you're using with necessary secrets removed and (2) confirm if you are enabling the IP whitelisting feature for this specific cluster?

[2019-09-17 20:11] Michael-Coetzee commented on #1214
Hey @jluk

(1) here we go

variable "cluster_name" {
}

variable "stepping_ip" {
}

variable "agent_count" {
}

variable "client_id" {
}

variable "client_secret" {
}

variable "env" {
}

variable "vmsize" {
}

variable "location" {
}

variable "kube_version" {
}

variable "ssh_public_key" {
}

variable "project" {
  type = string
}

variable "subscription_id" {
  type    = string
  default = "cae

[2019-09-17 21:51] jluk commented on #1214
Thanks @Michael-Coetzee this looks to be occurring because you have the defined IP whitelisting feature enabled which requires some specialized capacity right now.

For immediate mitigation/validation you can remove that feature and the cluster should be fine in that region, you can deploy to a separate region.

We have a fix for this IP whitelisting capacity which should be out next Wednesday if

[2019-09-17 22:35] Michael-Coetzee commented on #1214
Hey @jluk Taking your questions into account, i removed the whitelisting section and ran it again, it created the cluster successfully. I will script the api WL for now. Thanks again, looking forward to hearing from you next week with some good news hopefully

[2019-09-17 22:52] jluk commented on #1214
Thanks for testing to validate that was the issue, will get back to you once the fix is everywhere!

[2019-09-18 00:54] marcel-dempers commented on #756
Are clusters going to require a complete rebuild to use this feature once GA ?
Or should we hold off on moving our workloads to AKS because this is quite a big security risk for us.

[2019-09-18 09:32] Benjiiim commented on #1061
@jluk, would you mind to provide an update on this one? Thanks a lot.

[2019-09-18 09:33] Benjiiim commented on #1088
@jluk, would you mind to provide an update on this one? Thanks a lot.

[2019-09-18 10:05] olileger commented on #190
@slack could you please precise whether it's an issue related to the AKS cluster management capacity or related to the underlying VM capacity ?
Thanks
Olivier

[2019-09-18 10:06] vbrinza commented on #1189
It is happening again in West Europe.

  echo "${RESOURCES_LOCATION}: Create the Kubernetes cluster"
  az aks create --resource-group ${RESOURCES_GROUP_NAME}_${RESOURCES_LOCATION} \
  --name ${K8S_CLUSTER_NAME}-${RESOURCES_LOCATION} \
  --location ${RESOURCES_LOCATION} \
  --node-count ${K8S_NODE_COUNT} \
  --node-vm-size ${K8S_NODE_SIZE} \
  --vnet-subnet-id ${backend_subnet_id} \
  --kubernetes-

[2019-09-18 10:10] rverschuur commented on #1189
I can confirm that it doesnt work in west europe:

`PS D:\git\innotractor\docker> az aks create `

The behavior of this command has been altered by the following extension: aks-preview

Deployment failed. Correlation ID: abc35493-d2ee-4012-a1f5-ef6946c8175d. Azure Container Service is unable to provision an AKS cluster in westeurope, due to an operational threshold. Please try again later or use a

[2019-09-18 10:21] nbarrasson commented on #1189
Same here:
az aks create --resource-group aks_lab_1809 --name aks-lab-cluster-1809 --location westeurope --kubernetes-version 1.15.3 --generate-ssh-keys
Deployment failed. Correlation ID: cfbd7493-e9ce-4b3d-ad4b-b5dcc9cffb2e. Azure Container Service is unable to provision an AKS cluster in westeurope, due to an operational threshold. Please try again later or use an alternate location. For more de

[2019-09-18 10:27] rverschuur commented on #1214
We now have 2 tickets with the same issue. Since this one is open i repost my  comment on https://github.com/Azure/AKS/issues/38  here:

I can confirm that it doesnt work in west europe:

[code]

[2019-09-18 10:39] sumanentc commented on #450
Is the PodPreset feature available on AKS yet ?

[2019-09-18 11:46] cubed-it opened #1216 "Missing allocatable memory explanation"
**What happened**:
Describe node prints 4017088Ki capacity and allocatable states 2200512Ki.
So 45% are reserved.

**What you expected to happen**:
Find a answear how allocatable memory is determined like here https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture?hl=de#memory_cpu

**Anything else we need to know?**:
I would also like to know why AKS provides nearly 25% less

[2019-09-18 11:59] kewtree1408 commented on #1214
Hello, I have the same problem with West Europe. I'm setting up Azure Terraform. For debug, I used this [basic example](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/examples/kubernetes/basic/main.tf).

I've got the same error:
[code]

I've tried the same configuration for North Europe and it started working. But not for West.

[2019-09-18 13:07] marcinma commented on #274
Similar happens on atuoscaller with scale set, Nodes get into NotReady state; Restart takes sometimes hours; Upgrade doesn't work; Errors with "agent" communicating with VM; Possible workaround - scale to 0, scale again to number of replicas.
Unfortunately it looks like solutions from support are mostly "restart"/"reboot"/"creata again"

[2019-09-18 14:18] Xorima commented on #756
So to confirm it looks like it will take a year for a fairly major security issue to be resolved, is this the timescale we should expect for all authentication related issues with AKS or is this only for issues revolving around Administrator access revocation in future?

[2019-09-18 15:16] tbertenshaw commented on #1214
we have the same issue on all our subscriptions provisioning to `westeurope` `ukwest` and `northeurope` work fine

[2019-09-18 15:45] mihaimircea commented on #1189
I'm getting this in West Europe:
` Code="ControlPlaneProvisioningInternalError" Message="Internal server error"`
[code]

[2019-09-18 16:01] MrMCake commented on #1189
Same here. 3 Nodes in WestEurope and via ARM-Deployment

[2019-09-18 16:18] jluk commented on #1189
@mihaimircea and @MrMCake are you trying to deploy with the IP whitelisting feature turned on? If so please follow issue #1214.

If not please let me know and we'll take a look at it.

[2019-09-18 16:23] jluk commented on #1214
Thanks for the reports we're looking into it right now

[2019-09-18 16:25] sauryadas commented on #756
Apologies for the delay. We are planning to allow rotation of credentials in Nov. Users will need to create new clusters . Unfortunately there is no way to rotate the certificate today.

[2019-09-18 16:28] jluk commented on #1088
Hey @Benjiiim we'll get it before end of the year, that's my best estimate right now as we're wrapping up some important behavior for agent pools wrt quality of servicing and support of older/existing clusters. I should have a better estimate of timing in 4-6 weeks.

[2019-09-18 17:12] MrMCake commented on #1189
Hey @jluk, no we are not whiteling any IPs in the context of our ARM deployment.

[2019-09-18 17:14] jvermast commented on #1214
Just received capacity errors deploying an AKS cluster to West Europe as well.

At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.
Details:
Conflict: {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisi

[2019-09-18 17:15] gcarrarom commented on #1214
I'm re running into this issue as well for westeurope

```Azure Container Service is unable to provision an AKS cluster in westeurope, due to an operational threshold. Please try again later or use an alternate location. For more details please refer to: https://github.com/Azure/AKS/blob/master/preview_regions.md. ```

[2019-09-18 17:16] jluk commented on #1214
Confirming that there are ongoing capacity issues even for all clusters in this region, our on-call team is working on this right now to expand this. Thanks for your patience we will continue to provide updates here.

[2019-09-18 17:20] jluk commented on #1189
@mrmcake thanks ive updated issue #1214 to reflect the current state which is a capacity constraint for any cluster in west eu. Please direct comments into that issue our on-call is working on this to increase capacity.

[2019-09-18 18:25] bitsofinfo opened #1217 "disable anonymous kublet access?"
Is this configurable w/ AKS?

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/

[2019-09-18 19:39] leonardoads opened #1218 "Pods on Virtual Nodes only in Pending state"
**What happened**:
When a new deployment was created into the virtual node the status of the pod remains in Pending for ever.

**What you expected to happen**:
The status of the pod changed to Running.

**How to reproduce it (as minimally and precisely as possible)**:
Apply a new deployment to the nodename parameter by setting to virtual node name.

**Anything else we need to know?**:
Its possible

[2019-09-18 20:28] djsly opened #1219 "Kubernete 1.14.7 / 1.15.4 support"
**What happened**:
New kubernetes version were released with multiple Azure Specific and Windows Specific fixes

**What you expected to happen**:
I should have access to those new releases with AKS

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker

[2019-09-18 20:34] jnoller opened #1220 "All upgrades to clusters not using Pod Security Policies will fail upgrading to 1.15 preview"
AKS engineering has identified an issue impacting customers **not** currently using Pod Security Policies (PSPs) in all regions.

Currently, if a cluster **does not** have PSPs enabled, and upgraded to Kubernetes 1.15 (on AKS), any further updates to the cluster will be rejected and require remediation, please contact support if you are in this state.

A hotfix to the service is currently being va

[2019-09-18 20:39] jluk commented on #1218
@leonardoads please open a support ticket for this issue given Virtual Nodes is GA and there are many reasons it is stuck in pending state. Having engineers be able to look at your cluster hands on will be much faster. Closing in favor of that path.

[2019-09-18 20:39] #1218 closed

[2019-09-18 20:43] jluk commented on #1219
Tagging these with intention, acknowledge we will be bringing these in.

These releases came out 3 hours ago and are very new, so AKS and AKS-Engine will be working on testing/validation specific to Azure over the next 2 weeks before release. FYI @jackfrancis

[2019-09-18 20:51] jluk commented on #1071
Closing this now that its been a month since our last ask for more information. Please comment on here again with specifics and we can revisit/re-open.

[2019-09-18 20:51] #1071 closed

[2019-09-18 22:40] jluk commented on #868
@vedant-khandelwal I am closing this issue due to 3 weeks since last ask. Please feel free to open another support ticket for this virtual nodes issue, which is better handled through support ticket than github issue anyways. Thanks!

[2019-09-18 22:40] #868 closed

[2019-09-18 22:41] jluk commented on #858
@xinyanmsft can you please open a support ticket to dive into this issue if it is still occurring? It's difficult to debug without getting hands on the cluster, I am going to close this issue as a result. Please do open a ticket if needed.

[2019-09-18 22:41] #858 closed

[2019-09-18 22:43] jluk commented on #840
Closing this as I believe the functionality being asked for will be captured by node auto-repair as mentioned in previous comment. Please direct feedback onto that issue if there is a scenario you believe not covered by the feature, thank you @alanjcastonguay for the feedback! Closing to avoid the dupe.

[2019-09-18 22:43] #840 closed

[2019-09-18 22:44] jluk commented on #604
Closing as Jesse mentioned in previous comment.

[2019-09-18 22:44] #604 closed

[2019-09-18 22:46] jluk commented on #326
Closing based on the previous comment that it is resolved. Please open a support ticket as @palma21 mentioned if you are still seeing LB creation errors and our on-call will help.

[2019-09-18 22:46] #326 closed

[2019-09-18 22:55] jluk commented on #937
Closing as the fix has been released and verified. @jberezanski-mdg please try again and comment to re-open if you are still unable to deploy. Thanks!

[2019-09-18 22:55] #937 closed

[2019-09-18 22:59] uipo78 commented on #1135
Ah ok, perfect. I was going to reopen this issue anyway because it doesn't appear to be resolved in 1.14.6 as mentioned earlier.

[2019-09-19 00:15] djsly commented on #1219
Thanks Justin, this was indeed mainly to keep track as we are about to deploy a production cluster using 1.14.6, I wanted to see how long I could delay to get 1.14.7.  :). I’ll follow the issue !

[2019-09-19 00:20] jluk commented on #1214
This issue has been mitigated and new capacity is live. I will leave this open until tomorrow for folks to verify before closing. Thank you.

[2019-09-19 02:49] dpiessens commented on #1208
@bhicks329 Have you been able to get this to work? I have been getting this failure on any pods with an Istio sidecar:

" MountVolume.SetUp failed for volume "istio-token" : failed to fetch token: the server could not find the requested resource"

[2019-09-19 05:02] bhicks329 commented on #1208
That is exactly the issue I have.  As soon as the project and aud: fields
are set it fails to mount.

-Ben

From: Dan Piessens <notifications@github.com> <notifications@github.com>
Reply: Azure/AKS
<reply@reply.github.com>
<reply@reply.github.com>
Date: 19 September 2019 at 03:49:46
To: Azure/AKS <aks@noreply.github.com> <aks@noreply.github.com>
CC: Ben Hicks <bhicks329@gmail.com> <bhicks329@gmail

[2019-09-19 06:45] cubed-it opened #1221 "Preview versus production"
Currently the Multiple Node Pool Support and Windows Node Support are in public test and have to be activated explicitly.
I have two questions:

1) If I create a new AKS Cluster I can activate Multiple Node Pool Support without first activating the preview for my subscription as described in the documentation. How do I have to understand this? Is the preview implicitly activated? Or is this pretty

[2019-09-19 07:07] zuehlke-dea commented on #756
I am happy to hear that this feature will come. Nevertheless as it requires a recreation of the AKS it will not bring us too much benefit anyway. As we run 5 AKS with one in production it is really a bit annoying that we need to recreate it for every new feature. (and there are more we are waiting for)

As the admin context certificates (at least ours) expire in 2021, it is required for all AKS to

[2019-09-19 07:16] rverschuur commented on #1214
Good morning everybody,

Retried it based on the new status. I get an internal server error now (so something has changed):

[code]

[2019-09-19 07:35] DaveAurionix commented on #756
+1 for more new features to have the capability of deploying/upgrading/enabling in-place on existing clusters wherever possible.

Creating a second cluster, setting up new temporary dns entries, updating all software release pipelines to deploy to this second cluster, checking all software tests ran against new cluster, switching old DNS over to new cluster, tearing down old cluster and tearing do

[2019-09-19 08:03] zhiweiv commented on #1019
We can create AKS in USGov Virginia now.

[2019-09-19 08:08] bbcnt commented on #1214
Just thought I would share, I've successfully created a cluster in West Europe sing terraform. I had the same issue as everyone here yesterday. Thanks for fixing it guys.

[2019-09-19 09:48] henrylilei opened #1222 "Change reboot-sentinel to a different file after AKS upgrades itself and needs a reboot"
**What happened**:
Without prior knowledge of how AKS kernel upgrade works as stated in [node update guide](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/node-updates-kured.md), we installed Kured to our cluster for a totally different purpose and the recent kernel update to cluster nodes caught us off guard. Our Kured restarted the nodes at a time that it was NOT designed t

[2019-09-19 10:29] jberezanski-mdg commented on #937
It worked today, thanks for fixing!

[2019-09-19 10:32] przemolb opened #1223 "How to check what AKS engine has been used to create existing AKS cluster ?"
Hello,
(I am sorry if this is not right place to ask but I am not sure where I can ask this question ...)

we spin up new AKS clusters from time to time. We also can see that there are new AKS releases with new feature and bug fixes. How can we check what AKS engine has been used to create already existing AKS (with command `az aks create ...`). What version of AKS engine was used to create my clu

[2019-09-19 12:56] rverschuur commented on #1214
I can confirm it works now. The second attempt worked.

[2019-09-19 13:13] gcarrarom commented on #1214
Yes, working here as well. Clusters up and running 👍

[2019-09-19 15:18] jnoller commented on #1223
We do not currently expose the version of aks engine used, however we add the a release note to the existing aks release notes when we merge in a new engine version, you may see this under 'component updates'

[2019-09-19 15:18] #1223 closed

[2019-09-19 15:20] jnoller commented on #1019
USGov Virginia is now GA.

[2019-09-19 15:20] #1019 closed

[2019-09-19 15:21] jnoller commented on #967
This is now GA

[2019-09-19 16:28] jluk commented on #937
Thanks for the confirm!

[2019-09-19 17:11] scott1138 opened #1224 "AKS upgrade removes node prior to pods being rescheduled and ready"
During AKS upgrades we experience outages because the upgrade continues to the next node before all scheduled pods are in a ready state.

The upgrade should wait for all scheduled pods to be ready before continuing.

Upgrade any cluster running a significant number of pods.

It seems like all of the pod images downloading simultaneously on new nodes delay the pod start.  We have pod disruption bud

[2019-09-19 20:31] celamb4 commented on #976
+1 running into this issue.

[2019-09-19 21:18] saiyan86 commented on #1135
FYI the image contains the fix is ```mcr.microsoft.com/containernetworking/azure-npm:v1.0.27```

[2019-09-19 21:22] saiyan86 commented on #1192
@jaer-tsun

[2019-09-19 21:31] jluk commented on #1214
Thanks for the confirms everyone, apologies for this incident, we are reviewing the root cause and will be implementing fixes found through the post-mortem. Closing as impact is resolved and completed.

[2019-09-19 21:31] #1214 closed

[2019-09-20 07:57] przemolb commented on #1223
Why don't you expose the version of aks engine used to create AKS clusters ? What is a reasoning behind this ?

[2019-09-20 07:58] ghelyar commented on #1189
I'm still getting `Code="ControlPlaneProvisioningInternalError" Message="Internal server error"` from a terraform deployment in West Europe.

[2019-09-20 09:31] rayanebel commented on #1195
Hello @jluk,

In our case we can't use AKS-Engine and we can't ask to our customer to enable a preview feature on their production subscription. Maybe, AKS team can find a temporary workaround to repair the webhooks when tunnelfront pod or the node restart ?

When I discussed with @ritazh she try to think to this workaround while waiting for AKS team to correct the problem.

[2019-09-20 09:50] zirain opened #1225 "Can I increase an existing node Capacity"
Hey,

some capacity was two small when create node, how can I increase this?

![image](https://user-images.githubusercontent.com/4354057/65317723-f748cc80-dbce-11e9-8f9b-aadcb504fb2a.png)

[2019-09-20 12:37] dariuszbz commented on #1225
I see two options ...
Open portal find VM scale up .
Rebuild K8s cluster

On Fri, 20 Sep 2019, 10:51 zirain, <notifications@github.com> wrote:

[2019-09-20 14:56] ptemmer commented on #1155
I'm very much interested in this as well

[2019-09-20 16:17] Solvik commented on #997
UAE North availability was mentioned as Q3 on Azure's website, it is now Q4
The information was unreliable, is it now ?

[2019-09-20 16:32] jluk commented on #1155
Reopening with the owner @dkkapur assigned since 530 is closed and not moving

[2019-09-20 16:54] dkkapur commented on #1155
This is cool! Heard this request a few times so we're evaluating it from a product design perspective and will have more to share in terms of capabilities and timeline in the coming month. If you've got specific cases you can share that can help ensure the scenario is covered, please do share.

[2019-09-20 17:17] jluk commented on #1221
1. Feature registration occurs at the subscription level and is only done once. Unfortunately there is not an unregister option, but we have the open ask to the ARM team to support it. Was the issue that you were able to use multiple node pools on a sub that did not have the feature registered? If so, that is not intended behavior and we can look into it.

2. If by "after release" you mean "after

[2019-09-20 19:51] derekrprice opened #1226 "`az aks browse` Fails to Show All Nodes"
**What happened**:
I ran `az aks browse` and only 4 of my 6 nodes appeared in the Nodes tab.

**What you expected to happen**:
I expected to see data about all 6 of my nodes.

**How to reproduce it (as minimally and precisely as possible)**:
Run `az aks browse` with 6 nodes in an AKS cluster.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
`Clie

[2019-09-20 20:01] tahmmee commented on #719
Verified with 13.10 that we no longer encounter high retryDurations (ie 1-2mins), the highest was 8s.

[2019-09-20 23:31] seanmck commented on #1226
@derekrprice can you see them via kubectl?

[2019-09-21 00:17] seanmck commented on #1222
I'm not sure I understand the issue. Kured is the Kubernetes Reboot Daemon. What other purpose would you have for installing it, if not to perform reboots?

[2019-09-21 00:19] seanmck commented on #1225
We do not support VM scale up. The recommended approach is to add a 2nd node pool with the larger VM size and reschedule the apps there.

https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools

[2019-09-21 00:19] #1225 closed

[2019-09-21 01:11] henrylilei commented on #1222
You are right, it is for reboot but at a different time instead of after update. We modify the kubelet config to better serve our production traffic, e.g. disabling CFS. Once the node is autoscaled and provisioned, the Kured is introduced to restart the node and make sure kubelet config changes take effect. We only want the node to restart just once after they provisioned.

[2019-09-21 01:50] alanjcastonguay commented on #1222
Kernel package installation on Ubuntu with apt causes creation of the reboot-required sentinel file. https://serverfault.com/questions/92932/how-does-ubuntu-keep-track-of-the-system-restart-required-flag-in-motd

[2019-09-21 03:14] derekrprice commented on #1226
Yes. All six nodes appear via kubectl with a Ready status.

Sent from my mobile
Please excuse brevity and typos

[2019-09-21 08:59] adelwin commented on #550
I think this shouldn't be a feature request.

As an initial setup of AKS, yes it makes sense to set a default storage class, but we improve our pattern over time.

I have an AzureFile setup in my cluster, and due to the nature of it, I consciously want to set AzureFiles as the default storage-class, it's available as RWX.

I think the kube-controller-manager should only set back the default storag

[2019-09-21 12:39] martin2176 commented on #1170
I would not recommend the nsenter approach, at least not on the Clusters I would deploy in production :)
The nsenter-node script basically runs hostPID: true and privileged: true because its required for nsenter to join host name space and run privileged containers for the script to run commands on the host.
A properly secured K8S cluster should have pod security policy admission controller which

[2019-09-21 12:42] martin2176 commented on #1170
ID# | SE017 |  
-- | -- | --
Topic: |  
Requirement: |  
Constraints: |  
Notes: |  

[2019-09-21 12:42] #1170 closed

[2019-09-22 04:20] philcarbone commented on #1193
How do you get it to show with **RBAC enabled**?

[2019-09-22 11:16] robinmanuelthiel commented on #1193
@philcarbone You can't. With RBAC enabled, the dashboard is only accessible to those, who have the according to rights to do so.

[code]

For more information, see: https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#start-the-kubernetes-dashboard

[2019-09-22 11:46] archmangler commented on #610
When attempting to drain a node on an AKS K8s cluster using:

[code]

I get the following error:

[code]

Is there something extra that needs to be done on AKS nodes to allow draining?

(Context: This is part of an automation script I'm writing to drain a kubernetes node for maintenance operations without downtime, so the draining is definitely a prerequisite here)

[2019-09-22 11:49] archmangler opened #1227 "Draining a node fails with "Forbidden: node updates may only change labels, taints, or capacity""
**What happened**:
When attempting to drain a node on an AKS K8s cluster using:

[code]

I get the following error:

[code]

Is there something extra that needs to be done on AKS nodes to allow draining?

(Context: This is part of an automation script I'm writing to drain a kubernetes node for maintenance operations without downtime, so the draining is definitely a prerequisite here)

**What you e

[2019-09-22 12:54] cubed-it commented on #1221
Thanks for the info. It is currently possible to create a multi node pool cluster via azure portal without activating the preview feature.
A VMSS ist created and everythings runs fine. However I can see the first vmss under pools, but there is also a message that "my cluster is not supported by VMSS" and I cannot click the add button.
Does not look right for me :/

[2019-09-22 14:13] philcarbone commented on #1193
Hi @robinmanuelthiel - I do already have the roles setup and the dashboard working. What I'm looking for is a dummy button that will provide our portal users with the commands to access the portal (should they have access). It can be up to the user to know if they have access or not, I'm just looking for one-stop-shopping here. If someone is looking at an AKS resource, it would still be nice to pr

[2019-09-23 06:16] tomkerkhove commented on #1221
Thanks for the info @jluk! Very interesting.

[2019-09-23 11:35] kagkarlsson commented on #1135
When and how does this change propagate out to managed AKS clusters? I see we are currently at `azure-npm:v1.0.18`

[2019-09-23 13:25] ecoffman commented on #614
Any word on this?

[2019-09-23 13:53] hallgeirl opened #1228 "Azure Monitor extension to AKS does not fetch logs from windows containers"
**What happened**:
I enabled the Azure Monitor integration on my AKS cluster that has two node pools - one with Linux nodes, one with Windows nodes. The container logs from pods running in the Linux nodes show up, but the container logs from the pods running on the Windows nodes does not. Performing a "kubectl logs" on the Windows pods does indeed show that there are logs available.

I do see the

[2019-09-23 15:21] jluk commented on #1031
@itssimon we made some fixes for promo SKUs, but would like to know if your GPU case is still broken. Can you please comment if it is still occurring and if so, a support ticket #? Otherwise I will close if no answer in a week.

[2019-09-23 15:23] jluk commented on #1061
@Benjiiim taints should work for your agentpools, the only missing piece is the preview CLI which we're trying to close down in next 2 weeks. In the meantime though you can use ARM templates to deploy with taints defined, the multiple agent pool document has instructions too.

[2019-09-23 15:24] #935 closed

[2019-09-23 15:27] jluk commented on #728
Bumping and assigning to @dkkapur

[2019-09-23 15:32] jluk commented on #1221
@cubed-it

1) Today you must register the preview feature to use multiple node pools in portal. That feature should go GA before end of this calendar year, we're working on it currently. To separate features a bit, VMSS backed clusters are GA with a single node pool, could you post a screenshot of the confusing UI? I can help track that down.

2) Correct, moving from a VM Availability Set cluster

[2019-09-23 17:07] cubed-it commented on #1221
Thank you for the explanation.
So if I create a VMSS backed cluster today, I will - with high propability - be able to use node pools as soon as they are GA. However when I use a VM Availability Set, I have to hope for migration feature.

If you create a VMSS backed cluster and select your aks and then "Nodepool (preview)" there is a message like "This cluster is not supported by any VMSS and cann

[2019-09-23 17:07] #1221 closed

[2019-09-23 17:17] esunder commented on #1057
@mschuurmans what do you mean there was a config.lock? What exactly did you remove?

Thanks!

[2019-09-23 17:29] jluk commented on #1221
Correct, for VMSS -> multiple node pools. The only expected action once it goes GA is to do a k8s upgrade. For VMAS -> using multiple node pools, you'll need to rebuild the cluster and leverage your own migration task or wait for us to deliver one.

Thanks for the report on the portal message, I will follow-up on that FYI @jenetlan

[2019-09-23 17:33] jnoller commented on #1228
@MikkelHegn

[2019-09-23 20:29] yaariyuval commented on #967
@jnoller where can we find documentation describing how to enable this feature?

[2019-09-23 20:29] jnoller commented on #967
https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic

[2019-09-23 20:43] ahelwer commented on #1165
Even worse is that this issue is intermittent - You can run `Test-AzResourceGroupDeployment` until it stops spitting out the `ServicePrincipalNotFound` error, but then you run `New-AzResourceGroupDeployment` and it fails with `ServicePrincipalNotFound`. Please just add a large number of retries in the validation before saying the service principal does not exist!

[2019-09-23 20:52] slynickel commented on #967
Is that the right link? Limiting egress traffic controls outbound restrictions. This Github issue is tracking this feature, correct: https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges. Which would appear to still be in preview? Unless the doc on api-server-authorized-ip-ranges has fallen out of date?

[2019-09-23 20:58] nubesoltech commented on #3
I'm fairly new to AKS/Azure.  The MCS resource groups continue to be created when creating an AKS cluster.  If I'm migrating to a new subscription, do I have to account for both AKS resource groups?  The one I created and one that Azure created.

[2019-09-23 21:03] jnoller commented on #967
Oh heck (i stopped drinking coffee), you're right, and yes - the docs are not up to date (the ones you linked), we're waiting on the docs to build and publish.

[2019-09-23 21:16] jnoller commented on #967
@slynickel You're right - I inverted it. @yaariyuval https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges is the link and will be going GA soon. I closed the wrong issue.

[2019-09-23 21:34] scott1138 opened #1230 "Current clusters and node pools"
This is really just a question that I don’t know where else to ask. @jnoller or @jluk, can you tell me if using node pools once the feature goes GA will require a cluster rebuild?  We are considering a rebuild to get VMSS and SLB support but We also want Node Pools and I don’t want to have to rebuild twice in close succession.

Thanks for any help you can provide!

[2019-09-23 22:03] jluk commented on #1230
Receiving GA support of multiple node pools if already using the preview will only require a k8s upgrade.

[2019-09-23 22:03] #1230 closed

[2019-09-23 22:18] scott1138 commented on #1230
We don’t have the pools now, but we’d like to be able to add them later.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Justin Luk <notifications@github.com>
Sent: Monday, September 23, 2019 6:03:48 PM
To: Azure/AKS <AKS@noreply.github.com>
Cc: Scott Heath <Scott.Heath@freemanco.com>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [Azure/AKS] Current

[2019-09-23 22:27] jluk opened #1231 "Make the managed resource group (MC_RG) invisible to end-users, exposing only the AKS cluster resource."
**What happened**:
Today, AKS requires two resource groups. One for the AKS cluster itself and another to hold all of the dependent resources that makeup that cluster, commonly named MC_RG with a suffix. This is explained more here: https://docs.microsoft.com/azure/aks/faq#why-are-two-resource-groups-created-with-aks

**What you expected to happen**:
It is common for any exposed resources to requi

[2019-09-23 22:30] jluk commented on #1230
@scott1138 if you are using a cluster setup with VMSS and SLB, you'll be able to opt-into the multiple nodepools feature without rebuilding.

[2019-09-23 22:31] jluk commented on #3
This issue has gotten quite broad and has lost a lot of useful context given how old it is, so I am closing this in favor of new issues to be more concise.

* (Original ask) Remove the MC_RG required of clusters, which is visible to users: #1231
* Passing tags or naming a new RG for the MC_RG are features which should work, please open support tickets or new issues w questions if you have problems

[2019-09-23 22:32] #3 closed

[2019-09-23 23:15] xizhamsft commented on #976
@coreywagehoft , @celamb4 , could you clarify the issue? We deployed a fix recently that will make sure NSG/RouteTable are not changed during agent pool create. But seems like you are saying that agent pool update will overwrite your NSG too? If so, could you provider detailed repro steps?

[2019-09-23 23:19] ganga1980 commented on #1093
@jluk, yes, this has been merged on 14th Aug. validated latest version of the aks-preview has the fix.

[2019-09-23 23:23] seanmck commented on #1222
@henrylilei: can you just deploy kured with a non-default value for `--reboot-sentinel`?

[2019-09-24 00:09] scott1138 commented on #1230
Thanks Justin!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Justin Luk <notifications@github.com>
Sent: Monday, September 23, 2019 6:30:26 PM
To: Azure/AKS <AKS@noreply.github.com>
Cc: Scott Heath <Scott.Heath@freemanco.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [Azure/AKS] Will GA support of multiple node pools require a cluster rebuil

[2019-09-24 01:57] marto opened #1232 "RWX azurefiles contention"
We using `kubernetes.io/azure-file` on a AKS v14.15.5 cluster and having issues around reading files when there is a bit of contention on the file system.

We using a shared `RWX` storage to act as a crude file based shared cache between a small number of containers (less than 4) in a cluster. We have setup a custom storage class and are using it in a stateful set. No issues there, it mounts, when

[2019-09-24 06:46] itssimon commented on #1031
Thanks @jluk. Unfortunately I can't check as I'm no longer on Azure.

[2019-09-24 11:47] MikkelHegn commented on #1228
This is a current limitation of Azure Monitor in AKS and for some reason we missed getting this documented - I will get that fixed. @keikhara if she knows the road-map for support.

[2019-09-24 12:15] hallgeirl commented on #1228
Thanks @MikkelHegn for clearing that up.

That said.. I have found a workaround, which may be of use for others. I activated the MicrosoftMonitoringAgent extension on the VM Scale set for the windows pools. I do this now as part of cluster creation. Then I'm getting container logs, and the windows nodes report back to Log Analytics.

I would value some input if it's actually a good idea though, to

[2019-09-24 12:38] MikkelHegn commented on #1228
You sort of hit it :-)

The reason this does not work today, is because no agent is running on the Windows nodes. Azure Monitoring for containers is a container based agent, and we currently don't have a containerized Windows version.

We don't support changing the VMSS model / or using the VMSS APIs unless specifically directed by us to do so.

[2019-09-24 13:15] AnassKartit commented on #1193
sometimes I see it I am looking for the button that will show the command az aks get-credentials --resource-group *** --name *** as @philcarbone mentioned too.

by rbac you mean , controlling access using azure ad?
https://docs.microsoft.com/en-us/azure/aks/azure-ad-rbac
setting rbac to true ?

[2019-09-24 13:25] AnassKartit commented on #1193
Yes RBAC is enabled, but showing the button or not is not UI consistent and explained , it is a productivity feature.

[2019-09-24 16:47] bitsofinfo commented on #1157
update please? how can we see the external client IP making a request to a service in aks?

[2019-09-24 16:49] jluk commented on #1093
Great thanks for confirm, closing.

[2019-09-24 16:49] #1093 closed

[2019-09-24 16:54] jnoller commented on #1157
- Source IP for normal services exposed via type loadBalancer works.
- Users must set externalTrafficPolicy=Local
- If the user is not using an Ingress Controller, SSL pass-through works
- Source IP for services using ingress controllers (all):
  - SSL pass-through with ingress controllers will not work, this would be a man in the middle attack and break SSL
    - This is a known and accepted upst

[2019-09-24 19:50] jnoller opened #1233 "Container Insights live logs preview feature non-functional"
AKS engineering has identified an issue that impacts customers with AKS clusters who are using the Azure Container Insights `live logs` feature (currently in preview).

- The issue started on 2019-09-13 September 13th and is **ongoing**
- This issue only impacts customers with pre-existing clusters, new clusters are not affected.
- This issue does not impact normal cluster runtime operations.
- Al

[2019-09-24 19:52] #1213 closed

[2019-09-24 19:52] jnoller commented on #1213
#1233

[2019-09-25 01:13] seanmck commented on #1222
Closing pending further clarification on the ask.

[2019-09-25 01:13] #1222 closed

[2019-09-25 01:24] seanmck commented on #1226
Any filters in the dashboard which might be limiting what is shown? Can you look at the logs for dashboard pod and see if anything looks awry?

Ultimately, the dashboard calls the same API as the CLI does, so if there's something missing, it would be a bug in the [dashboard](https://github.com/kubernetes/dashboard).

Closing for now as I don't believe there's anything actionable for AKS here.

[2019-09-25 01:24] #1226 closed

[2019-09-25 09:21] MrMCake commented on #1214
Hey folks,
since yesterday I'm failing to deploy some of my clusters in a random fashion. To be precise, I have a test-pipeline running that deploys 2 clusters total and starting yesterday either one or both fail with the error message ```ControlPlaneProvisioningInternalError``` during ARM deployment.

The full error message is:
[code]

Does anybody experience similar issues?

[2019-09-25 09:25] cdemiguel commented on #1220
hello,
Could this error being not happening always or not?,
When I deploy via ARM template an AKS with nodes windows and linux 1.15 sometimes one node crashes when it updates to 1.15 version and the AKS doesn't create well,
thanks,

[2019-09-25 10:47] brobichaud commented on #1157
@jnoller as this issue describes, client IP preservation is NOT working as you indicate for me.

[2019-09-25 12:08] jnoller commented on #1157
Ok, @brobichaud - thanks for clarifying, Has a support ticket been opened so we can access the cluster? We will need to do that as this has been confirmed to work, so this may be specific to your clusters configuration or a potential regression

[2019-09-25 14:14] jnoller commented on #1214
@MrMCake please open a support ticket - internal server errors are not normal but not the same error as this.

[2019-09-25 14:48] hguerrier commented on #324
Are we saying that kubectl cannot be used behind a corporate proxy? Seem rather limiting don't you think?

[2019-09-25 15:13] jnoller opened #1234 "Kubernetes 1.10 end of life: Upgrade by October 25th, 2019"
Please upgrade all Kubernetes 1.10.x clusters to a supported version (1.11, 1.12, 1.13, or 1.14) by October 25, 2019. (Note: see issue #1235 for 1.11/1.12 deprecation plans)

Azure Kubernetes Service (AKS) released support for Kubernetes 1.14 on August 5, 2019. Because we support three previous minor versions, per our Kubernetes version support policy, support for Kubernetes 1.10.x clusters will e

[2019-09-25 15:16] jnoller opened #1235 "Kubernetes 1.11/1.12 end of life, supported version updates: Upgrade by December 9th, 2019"
On Monday, December 9th 2019 (2019-12-09), coinciding with the release of AKS Support for Kubernetes 1.15 GA, AKS will be removing support for Kubernetes versions older than the latest version (N), and two minor versions prior (N-2).

Please note: the date above is AKS specific and not related to any upstream/community dates for Kubernetes 1.15.

We are making this change now to align more closely

[2019-09-25 18:24] jluk commented on #1212
A fix is actively rolling out for this, will leave open until @jveski can test and ack resolution. The fix is in Canada/Australia thus far, but should be global by Monday at the latest.

[2019-09-25 20:40] coreywagehoft commented on #976
@xizhamsft when I performed an update to the node pool using the command above, it would complete the nodepool update.

I noticed that NSG rules that were created by the cloud-controller-manager for our external load balancer were removed.  We were using a basic load balancer at the time assigned to that specific nodepool.  We are currently moving to standard load balancers.

The only way I could

[2019-09-26 00:54] palma21 commented on #1157
Hi @brobichaud I can only repro this with Windows is that your understanding as well, or did you find any issues with Linux nodes?

[2019-09-26 04:02] ronaldmiranda commented on #240
This is happening again, im using westus2 today 26/09/2019

[2019-09-26 04:07] ronaldmiranda commented on #1189
Im getting the same message above on westus2

Code="ControlPlaneProvisioningInternalError" Message="Internal server error"

[2019-09-26 08:18] archmangler commented on #1227
Update: I have also tried with the --force flag, but  the failure message is the same:

kubectl drain ${node_name} --ignore-daemonsets --force

[2019-09-26 12:48] cristiklein commented on #607
@JamesBewley Did you find a way to preserve the source IP when exposing TCP or UDP services behind the ingress controller?

[2019-09-26 15:10] djsly opened #1236 "Nodes provisioned by Cluster Auto Scaler w multiple agent pools get de-provisioned when issuing an reset-aad command"
**What happened**:
I got rotated our AKS cluster’s AAD Server App Secret

the command was executed:

[code]

which caused all of our nodes to be deleted (the ones that were created by the cluster-auto-scaler)

**What you expected to happen**:
I would have expected that my service wouldn't be affected and that I wouldn't have lost ALL of my nodes.

**How to reproduce it (as minimally and precisely

[2019-09-26 17:35] jluk commented on #1224
@scott1138 currently in our upgrade flow we wait a maximum of 20 minutes for the drain to complete prior to removing the node to continue with upgrade, this is currently in place to avoid sending your cluster into a failed upgrade state.

Are your pods taking longer than 20 minutes to be rescheduled into a ready state or do you see nodes being removed faster than that and prior to pods being set t

[2019-09-26 17:42] jluk commented on #1187
Yes we've got these improvements logged, FYI @palma21 to reduce the API requests being made and the relation to cluster autoscaler.

@juerup would you mind if I updated this issue to refer to improving that and we can use this issue to track the api request reduction improvements?

[2019-09-26 17:46] jluk commented on #1061
To provide an update, we have the taints support for the preview CLI in PR below:

https://github.com/Azure/azure-cli-extensions/pull/962

[2019-09-26 17:47] jluk commented on #1055
Providing update here as more improvements are coming in this month for this feature - adding @palma21 who will be participating in this improvement.

[2019-09-26 18:06] jluk commented on #1202
I'm going to close this issue in favor of a support ticket - I've validated there is no known operation that should cause lag like this so we would need a specific support ticket so we can capture operationIDs from your subscription. Please do submit one if you hit this issue.

[2019-09-26 18:06] #1202 closed

[2019-09-26 18:07] jluk commented on #1236
@djsly thanks for the report, we are looking into this for the root issue and believe we've found a bug in the preview of cluster autoscaler. I will provide updates here for you.

[2019-09-26 18:28] ajlane17 commented on #1224
Hello @jluk , I'm @scott1138 's colleague and can provide additional details. We have a few clusters, but characteristically, they are all similar:
- Between 5-7 nodes
- Running 200-400 pods
- Front end services are configured with pod-level anti-affinity and multiple replicas, pod disruption budgets configured to 1 as the allowance, and custom readiness probes
- Each node hosts anywhere from 30-6

[2019-09-26 18:42] tmbgreaves commented on #1061
A word of appreciation for all your work and in particular for the regular updates. Thank you very much!

[2019-09-26 19:34] cwoolum commented on #394
I'm seeing this issue when adding a node to AKS. All of my pods were suddently evicted and all of my nodes have scheduling disabled

[code]

[2019-09-26 20:56] brobichaud commented on #1157
@palma21 yes, I'm running Windows workloads so am only seeing this in Windows pods. I have not tried with linux pods.

[2019-09-26 21:03] brobichaud commented on #1157
@jnoller I had not yet opened a support ticket as I was thinking for preview features this was the place to start. I've gone ahead and created ticket #119092626002914 that references this github issue.

[2019-09-26 21:14] djsly commented on #1236
Super. Glad you guys found it! This will prevent future outage I’m sure!

[2019-09-27 00:08] jluk commented on #1157
Thanks @brobichaud we'll follow on through the support ticket but leave this open for tracking eventual resolution for Windows preview. FYI @MikkelHegn

[2019-09-27 02:08] redliu312 opened #1237 "VMSS create in CLI 2.0.74 not returning a scale set cluster"
**What happened**:
the "Release Notes 2019-09-09 " mentioned the VMSS backed AKS cluster
feature is in GA. We tried to use the az (version: 2.0.74) to creatre the VMSS backed aks cluster
the command is:

[code]

but still got a non-VMSS cluster. Then we found we still need to follow the preview
[tutorial](https://docs.microsoft.com/zh-tw/azure/aks/use-multiple-node-pools#before-you-begin) to make

[2019-09-27 04:04] palma21 commented on #976
Hi @coreywagehoft @celamb4 we found the issue, it was a different one than OPs (that was fixed in May)

We fixed it and It's rolling out now and I'll update here once it is in all regions.

[2019-09-27 05:44] mingtwan opened #1238 "Cannot create PVC after subscription which the AKS host in has transferred to another tenant."
Warning  ProvisioningFailed  13s (x13 over 14m)  persistentvolume-controller  Failed to provision volume with StorageClass "managedssd-rwcache": compute.DisksClient#CreateOrUpdate: Failure sending request: StatusCode=0 -- Original Error: Code="InvalidAuthenticationTokenTenant" Message="The access token is from the wrong issuer 'https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/'. It mus

[2019-09-27 07:18] jpoizat commented on #1216
I don't know where this is coming from but EKS is much less hungry on memory :
Capacity:
...
memory:                      16038616Ki
...
Allocatable:
...
memory:                      15219416Ki

versus AKS:
Capacity:
...
 memory:                         16403296Ki
...
Allocatable:
...
 memory:                         12909408Ki

[2019-09-27 10:48] juerup commented on #1187
Thanks for keeping me updated.
@jluk feel free to use this issue in any way you consider helpful

[2019-09-27 11:17] patpicos commented on #1046
@t0mmyt did you end up opening an issue w/ support on this. I am experiencing the same. I will try w/o CNI this morning to isolate

[2019-09-27 13:41] mschuurmans commented on #1057
@esunder There was a file in my `~/.kube/` folder called `config.lock` which caused that the config file was not updated correctly after removing it `rm ~/.kube/config.lock` the issue was resolved.

[2019-09-27 13:44] marcinma commented on #1087
Is there a way to enable webhook? or is it one of this solution with "create from scratch" scenario?

[2019-09-27 13:58] timja commented on #841
This bug is fixed upstream in coredns, but needs an update to coredns
[code]

@jnoller any idea when the version in aks-engine will get picked up?
https://github.com/Azure/aks-engine/blob/7a29e45c531617a1a26ee4107bebb4d6f8d068e8/pkg/api/k8s_versions.go

We currently  have the following versions on different clusters:
1.2.6 on k8s 1.13.10
1.3.1 on k8s 1.14.x

[2019-09-27 14:08] blaw2422 commented on #1135
@aanandr , could you tell me if this bug would also cause *egress* traffic to be blocked?  If I use the example policy to "allow all egress traffic", I still have egress traffic blocked. https://kubernetes.io/docs/concepts/services-networking/network-policies/#default-allow-all-ingress-traffic

[2019-09-27 14:22] richardyoung2 opened #1239 "Self signed certificates used on management API"
**What happened**: non-trusted connection to Management API using KubeCTL

**What you expected to happen**: secure connection using a certificate backed by a certificate authority.

**How to reproduce it (as minimally and precisely as possible)**: connect to management API using KubeCTL

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.5
- Si

[2019-09-27 15:26] antoinne85 opened #1240 "HPAScaleToZero Feature Gate in K8S v1.16"
At my company, we have queue-based workloads that regularly go hours without any work to do. We've configured external metrics to track the length of these queues and are currently configuring our workloads to scale based off of those metrics. As part of that, we'd like to scale these workloads to 0 when the queue is empty.

In researching this, I discovered that scale-to-zero functionality is rel

[2019-09-27 15:29] jluk commented on #1187
@feiskyer it sounds like you've got planned changes to reduce the overall requests to avoid the chances of a 429. Assigning to you, but correct me if otherwise. As mentioned by @juerup please update this ticket title as needed and we can use this issue to track the upstream changes needed to reduce those request totals.

[2019-09-27 17:18] jluk commented on #1236
FYI @djsly we found the problem was actually related to the multiple node pools preview feature. Our fix is being worked on and should rollout with next week's release.

[2019-09-27 17:32] jnoller commented on #1240
All settings are documented in the official AKS documentation. Per our support policies here: https://docs.microsoft.com/en-us/azure/aks/support-policies we do not enable or support alpha or beta upstream features at this time.

AKS will enable this when the `HPAScaleToZero` functionality is released as a GA feature by the upstream team.

[2019-09-27 18:22] jluk commented on #1212
Note published for fix released: https://github.com/Azure/AKS/releases/tag/2019-09-23

@jveski I'm going to close this issue assuming the fix is good, but if you still hit this problem after Monday please comment and I can reopen.

Thanks!

[2019-09-27 18:22] #1212 closed

[2019-09-27 18:22] jluk commented on #1237
@redliu312 we were not able to reproduce that issue when deploying a VMSS cluster from a new subscription without feature registration, could you please double check the compute type of that created cluster?

[2019-09-27 18:27] antoinne85 commented on #1240
Thanks for your quick response and clarity.

[2019-09-27 18:51] redliu312 commented on #1237
Thanks @jluk , do you mean for the old subscription we still need to follow the preview vmss backed cluster guide?

[2019-09-27 19:18] jluk commented on #1237
@redliu312 re-reading your original post I think there is confusion about the features. VMSS back clusters are separate from using multiple node pools, which is the doc you linked.

VMSS backed clusters can be used without any additional registration. Multiple node pools still need registration of the multiplenodepools feature.

The document states you need to register the multiagentpool feature f

[2019-09-27 22:54] jnoller opened #1241 "Kubernetes 1.14 clusters with over 500 CronJobs/Jobs see execution failure"
AKS Support has identified an issue impacting customer running on **Kubernetes 1.14.x**. This issue manifests for customers with high numbers of CronJobs/Jobs (over 500). When the job count gets high enough **all jobs will fail to be scheduled**.

- The bug is tracked in upstream Kubernetes: https://github.com/kubernetes/kubernetes/issues/77465
- This issue is fixed in Kubernetes 1.14.7
- **AKS en

[2019-09-27 23:47] jluk commented on #1237
Closing this as the original report of VMSS enabled clusters deploy properly, but feel free to comment if it's not clear and I'll revisit.

[2019-09-28 07:44] bhicks329 commented on #1207
This also causes issues when reply traffic is not leaving via the load balancer ... for example
![Ingress Route Problem](https://user-images.githubusercontent.com/21193823/65813351-231a1280-e1cc-11e9-91f4-f1f24ccbfdf1.png)

[2019-09-28 07:45] bhicks329 commented on #1208
Any updates on this please?

[2019-09-28 13:14] mingtwan commented on #1238
resolved by updating Service Principal of AKS

[2019-09-28 13:14] #1238 closed

[2019-09-29 23:34] saiyan86 commented on #1135
Hi @blaw2422 the fix is here: https://github.com/Azure/azure-container-networking/pull/398
and will be released as v1.0.28.

[2019-09-29 23:34] saiyan86 commented on #1135
Hi @kagkarlsson it should be updated weekly. Did your cluster get the update?

[2019-09-30 02:20] henrylilei commented on #1222
Thanks for the explanation, and I was not aware that this is an 'official' reboot notifier file. Changing sentinel to a different path would solve this issue.

[2019-09-30 04:34] archmangler commented on #1227
Update:

I have further used the following options with the same error result:

{code}
"kubectl drain --timeout 5m --ignore-daemonsets --force --delete-local-data $nodename
{code}

[2019-09-30 06:40] kagkarlsson commented on #1135
Ok, good to know that it is supposed to be weekly updates. To be honest I cannot confirm we have gotten the update because we switched to Calico after running into what seemed like bugs with the other implementation.

[2019-09-30 06:52] vic4926 opened #1242 "After AKS ARM template deployment, subnet originally associated with routetable gets dissociated"
**What happened**:
After an ARM template deployment, it appeared to have a DNS issue across the cluster which led to consistent pod failures. Turned out the subnet associated with the route table of the cluster nodes was no longer associated.

**What you expected to happen**:
The associated subnet should still be associated after the ARM template deployment.

**How to reproduce it (as minimally an

[2019-09-30 13:15] cursorme commented on #68
Same issue here after deploying a postgresql helm chart:

kubectl port-forward --namespace default svc/xxxxxxx-postgresql 5432:5432
Forwarding from 127.0.0.1:5432 -> 5432
Forwarding from [::1]:5432 -> 5432
Handling connection for 5432
Handling connection for 5432
Handling connection for 5432
E0930 09:58:51.840461   22293 portforward.go:233] lost connection to pod

The kubelet has 4h timeout that s

[2019-09-30 14:34] tanwarsatya commented on #954
why these permissions are needed and if needed why they are not enabled by default when creating a service connection. Is this documented somewhere ?

[2019-09-30 15:05] ptemmer commented on #1061
Likewise here, thank you for the effort!
I've seen the PR was merged into master, however the latest version listed of the aks-preview extension is still 0.4.16, which doesn't include the taints support. As I'm not acquainted at all with the release procedure, I would appreciate if someone could shed some light on this.

[2019-09-30 16:01] jluk commented on #1061
@ptemmer @tmbgreaves thanks for kind words, it really is appreciated and happy to hear it's helpful.

As for CLI extension procedure, once the PR is merged we have to cut a release ourselves by doing some small updates so we'll be trying to get that done this week as v0.4.17.

[2019-09-30 17:34] hsmiranda commented on #112
i'm resolved this problem with setting proxy variables correct, oc, az or kubectl utilize proxy variables for connect to api even on localhost or remote connection.

[2019-09-30 21:45] alexeldeib commented on #1060
@jnoller what is manual failover in scenario 1? Customer gets a ping, can click something in portal to manually migrate nodes from Zone 1 to zone 2 during AZ outage?

@jluk that would seem to indicate AKS uses multi-master H, spread across AZ. Can you confirm that? There are at least two outstanding issues on the subject:

https://github.com/Azure/AKS/issues/852
https://github.com/Azure/AKS/issues

[2019-09-30 22:05] jluk commented on #1061
This is the PR that will get us there, upon merge it should cut a new cli extension release enabling you to upgrade to it and get the functionality.

https://github.com/Azure/azure-cli-extensions/pull/974

[2019-09-30 22:40] jnoller commented on #1206
AKS engineering, along with the AAD and Azure Portal teams have put mitigation in place for these errors and failures. Closing.

[2019-09-30 22:50] previ opened #1244 "Support kubenet for AKS Service with Windows nodes"
Currently AKS service support Windows nodes with Azure CNI only.

Azure CNI mandates a flat network for pods, services and nodes, which is not always desirable/possible.
In my use case, due to some restrictions in vnet/subnets address space, an overlay network (such as the one provide by kubenet) is a mandatory requirement.

Request
Support kubenet (or other network CNI which provides overlay netw

[2019-09-30 22:56] jnoller commented on #1206
Reopening, engineering teams have added mitigations in place for this failure in the Azure portal, customers using the CLI or other tools are advised to continue to use other mitigations

[2019-09-30 23:08] jluk commented on #1060
@alexeldeib the original post was a bit confusing with outdated information, so simplified a bit.

To help clarify (by exposing some implementation details) - our implementation of AZ support relies on VMSS zones. If a node dies due to zone failures the pods on nodes in that failed zone will get rescheduled by k8s to healthy nodes which reside in the healthy zone, utilizing zones for your cluster

[2019-10-01 00:11] alexeldeib commented on #1060
Thanks for the clarification, what you described is how I would expect the service to work.

Still curious about the Q for masters :)

[2019-10-01 07:19] leodotcloud commented on #456
Solution: Set `"networkPlugin": "kubenet"` instead of `azure`.
Reference: https://github.com/rancher/rancher/issues/22616#issuecomment-536903129

[2019-10-01 09:23] redliu312 commented on #1237
@jluk
The way I asked the question may confuse you. Let me redefine the question:
for the old subscription (created before the GA announcement), we noticed that  the vmss backed cluster can not be enabled on the portal or via the az cli even we enabled the vmss feature on portal or pass the parameter via az cli. The only way we found to resolve it is  to register the multiAgentPoolPreview feature

[2019-10-01 11:27] Vitorspk commented on #1209
any news about this?

I need to do that on my clusters because the problem still apear

[2019-10-01 11:33] tmbgreaves commented on #1061
@jluk In case the information is of interest/use to you our use case for this is for Jupyterhub instances where we're running a notebook service in education (university sector), needing to scale cluster size up and down in response to classes being in/out of session. We've been working with @leestott to develop our Azure use over the last year with a pilot class starting this week aiming to have

[2019-10-01 15:50] jluk commented on #1237
Thanks for clarifying @redliu312 that is definitely not expected behavior, you should be able to deploy a scale set cluster without any feature flag registration. Could you please open a support ticket so we can take a hands-on look at your subscription? Feel free to share the ticket # here and I'll chase it too.

[2019-10-01 16:03] jluk commented on #1061
Thanks for the context @tmbgreaves that's awesome. Are you using any other preview features by chance?

The CLI preview released so you can upgrade and set taints per node pool from the preview CLI now.

I'll leave this ticket open until it goes GA production ready. We're closing down on it within the next month.

[2019-10-01 17:04] IvoZheglov commented on #1232
This is an issue on the Linux CIFS side. See below:

https://patchwork.ozlabs.org/patch/1169516/
https://patchwork.ozlabs.org/patch/1169517/
https://patchwork.ozlabs.org/patch/1169518/

[2019-10-01 17:11] SteveCurran commented on #1209
Seeing the same problem. Using Kubernetes 1.14.5

[2019-10-01 18:48] Vitorspk commented on #1209
this issue change label trial to bug?

[2019-10-02 02:52] redliu312 commented on #1237
opened a  support ticket and finally knowing what happened here:
-  event if we create the VMSS backed cluster , but in the Node Pool(preview) page in the aks resource, it  shows it is not a vmss backed cluster
![image](https://user-images.githubusercontent.com/6196351/66014505-bd969080-e501-11e9-9b45-81535437044e.png)
- we can check the cluster is vmss enabled via check the VMSS  agent pool resou

[2019-10-02 04:35] paulgmiller opened #1245 "Upgrade failing with error of active upgrade/scale but no sign an active upgrade/scale occurring"
**What happened**:
Tryign to upgrade a 1.13.5 cluster

**What you expected to happen**:
Upgrade or tell me why you can't upgrade (maybe 1.13.5 is too old the cluster is not a failed or pending state.

**How to reproduce it (as minimally and precisely as possible)**:

![image](https://user-images.githubusercontent.com/1474379/66018436-eed87780-e493-11e9-921c-f55abf1272a4.png)

**Anything else we ne

[2019-10-02 04:48] jageshmaharjan commented on #529
Still not yet? I could not change the VM size still.
[code]

[2019-10-02 06:35] qike-ms commented on #529
You can add a new node pool with new VM size, then cordon and drain old
node pool

On Tue, Oct 1, 2019, 9:48 PM jagesh maharjan (马家杰) <notifications@github.com>
wrote:

[2019-10-02 07:45] TOTOleHero opened #1246 "I use 1Tb mounted azurefile see as full but it is empty."
**What happened**:

I use 1 Tb azurefile pvc mounted in POD. The empty disk see as full on pod.

In azure console i see ugly informations
![image](https://user-images.githubusercontent.com/657752/66026223-a30be980-e4f8-11e9-839c-4574e0e3291a.png)

In the pod
[code]

**What you expected to happen**:

I want to use azurefile as disk without problem.

**How to reproduce it (as minimally and precisely

[2019-10-02 08:27] tbertenshaw opened #1247 "Platform Image Not Available when upgrading cluster"
I have a AKS test cluster built using the cli which has one node pool with 2 nodes and AKS version `1.14.6`.

**What happened**:
After upgrading the cluster via the upgrade option on the nodepool. The cluster version was updated to 1.15.3 in a short period of time (5 minutes). However an hour and a half later the cluster status is still `Upgrading` and `kubectl get nodes` shows both nodes a status

[2019-10-02 08:33] ekarlso commented on #1208
+1

[2019-10-02 08:49] MikkelHegn commented on #1244
Is the main concern with Azure CNI, the reservation of ip-addresses on the cluster subnet? Or are there other requirements you have?

[2019-10-02 09:53] dariuszbz commented on #1246
What is you yaml file you did use to provision? Perhaps access policy is RO?

On Wed, 2 Oct 2019 at 08:45, Thomas Lecarpentier <notifications@github.com>
wrote:

[2019-10-02 12:22] archmangler commented on #1227
Additional information:

- This command is being run through ansible's shell module.
- When run directly in BASH it works

[2019-10-02 16:08] jluk commented on #1245
@paulgmiller the error should be accurate, in that there seems to be an active scale or upgrade operation. Did you submit previous upgrade or scales and can you check the state of the cluster now that some time has elapsed?

Also do you have cluster autoscaler enabled?

[2019-10-02 16:18] jluk commented on #1106
This has been fixed for both the az aks scale and az aks nodepool scale commands. Thanks for the report!

[code]

[2019-10-02 16:18] #1106 closed

[2019-10-02 16:33] uipo78 commented on #1135
I didn't get the update. We're running on kubernetes v1.14.6. The azure-npm image is still v1.0.27.

[2019-10-02 16:34] jluk commented on #1237
Thanks for follow-up @redliu312 I will re-open to close discussion.

@jenetlan can you please review this page?

[2019-10-02 16:38] jluk commented on #1196
We have a fix rolling out on this week's release

[2019-10-02 16:38] uipo78 commented on #1135
It's also worth mentioning that I reconstructed a cluster yesterday, and even then, the tag for `azure-npm` is still `v1.0.27`.

[2019-10-02 16:40] uipo78 commented on #1135
Is there a project manager that can provide accurate details on the release of this fix? At this point, it feels like we're conjecturing.

[2019-10-02 16:47] uipo78 commented on #1135
Just to confirm: we're observing this issue's original problem in `azure-npm:v1.0.27`.

[2019-10-02 17:21] saiyan86 commented on #1135
@jaer-tsun @matmerr

[2019-10-02 17:53] aanandr commented on #1135
@uipo78  - apologize for the inconvenience. The fix for this issue is currently in aks-engine and we are working with the AKS team to get it rolled out to AKS also.

[2019-10-02 18:14] previ commented on #1244
Yes the need to reserve a large, flat address space for pods/services is the main issue, since we have limited space to dedicate to AKS clusters and it is perfectly ok for our use case to have pods/services on an overlay, unreachable network.

[2019-10-02 18:17] MikkelHegn commented on #1244
We are working on reducing the reserved set of IPs for worker nodes (allowing to change the min. pod per node below 30). Would such a change suffice, or would you require overlay?

[2019-10-02 18:34] mkosieradzki commented on #993
https://azure.microsoft.com/en-us/updates/managed-identities-integration-in-azure-kubernetes-service-aks-is-now-in-preview/ - it seems to be live very soon.

However I see that it does only support System-assigned MI. If designed properly this should not cause any problems.

[2019-10-02 18:41] jnoller commented on #1239
You are correct that per the normal PKI specification dictates use of non self signed certificates for SSL transport. However, the reason we do not currently support fully signed certificates is:

1. Kubernetes requires the ability to self generate and sign certificates
2. Users injecting their own CA is known to be error prone in Kubernetes as a whole

We are aware of the desire to move away from

[2019-10-02 18:41] #1239 closed

[2019-10-02 18:52] paulgmiller commented on #1245
We run our own autoscaler in this cluster. But it seems pretty bored.  I could disable autoscaler and try again in another hour.

This cluster hasn't been touched manually in months. (either for scale or upgrade)
I still get the same error this monining.

[2019-10-02 19:39] previ commented on #1244
The best solution would be the overlay since a flat address space for pods/services is mostly a problem for our use cases, rather than a feature.
Also, the flat address space prevents the reuse of the same addresses for different clusters.

[2019-10-02 19:41] poddm commented on #1071
I'd like to be able to provision our infrastructure with terraform and associate the Standard LB to a privatelink.
https://azure.microsoft.com/en-us/services/private-link/

[2019-10-02 22:05] jluk commented on #1245
Thanks for the info @paulgmiller, could you open a support ticket so we can get our hands on the cluster? It's possible there's a bug if there is no active upgrade/scale and the error is still returning.

[2019-10-02 22:22] ajlane17 commented on #1224
To follow up, we've identified the "issue". As was mentioned, we have one large image (several GB) that runs a few replicas. All of our images are hosted in Azure's ACR. The bandwidth limit for the ACR service at the premium tier is 100Mbps, which is where the bottleneck is coming from. We upgrade multiple clusters in parallel, and these very large images are the root cause of the slow download pe

[2019-10-02 23:05] brobichaud commented on #1014
@MikkelHegn @PatrickLang, now that it is October is there any update on whether this is available to AKS clusters yet?

[2019-10-02 23:49] jluk commented on #1224
Thanks for the follow-up @ajlane17 and the details. I had a response that never sent, but it ran along the lines of investigating the image download. Glad you figured out the problem on the image download front, closing this issue.

I am however aligned AKS upgrade can improve so we are acting on it.

In the current model AKS does not block indefinitely for a drain to complete, but we have scoped

[2019-10-02 23:49] #1224 closed

[2019-10-03 00:06] jluk commented on #1242
@vic4926 can you please open a support ticket so our engineers can take a look? This is not expected behavior and we will fix it if discovered it's a bug. Having a ticket open allows us to take a look and get some better details as opposed to bouncing back and forth on github.

Closing but please do keep the cluster and ref it in the ticket.

[2019-10-03 00:06] #1242 closed

[2019-10-03 01:11] gtxistxgao commented on #1247
Hi @tbertenshaw can you try to update VMSS directly with the following commands and try the cluster upgrade again?

`az vmss update --name {VMSS name} --resource-group {MC resource group name} --set VirtualMachineProfile.StorageProfile.ImageReference.version="2019.09.25"`

`az vmss update --name {VMSS name} --resource-group {MC resource group name} --set VirtualMachineProfile.StorageProfile.ImageR

[2019-10-03 07:54] tbertenshaw commented on #1247
@gtxistxgao after the above steps. I could upgrade the node pool successfully to 1.15.3.  However the cluster still (whilst potentially working ok) has a red banner when you view it in the portal which says `This container service is in a failed state. Click here to open a support request`  Is it possible to remove this message if it is invalid?

Additionally is this normal procedure now for the V

[2019-10-03 08:26] vishnujanardhanan opened #1248 "Not able to enable cluster autoscaler after disabling"
**What happened**: az aks enable-cluster-autoscaler fails

**What you expected to happen**: enable cluster auto scaling

**How to reproduce it (as minimally and precisely as possible)**:
Disabled the cluster autoscaler - all good
--------
az aks update -n myCluster -g myCluster-rg --disable-cluster-autoscaler

Trying to enable the autoscaler back on - failed with the error
------
az aks update -n

[2019-10-03 09:51] git001 opened #1249 "Could not create a role assignment for monitoring addon."
**What happened**:

I create a AKS cluster with the following commandline.

[code]
After some runtime I get this warning.

**WARNING: Could not create a role assignment for monitoring addon. Are you an Owner on this subscription?**

The cluster is created but not the monitoring space.

**What you expected to happen**:

I would like to have a monitoring in my AKS cluster

**How to reproduce it (as

[2019-10-03 12:26] andyzhangx commented on #1246
to narrow down the issue, could you mount the azure file on one VM?
[code]

And then check the mounted dir is still full, it's more like an azure file issue.

[2019-10-03 15:09] jnoller commented on #1087
We will raise this to engineering to evaluate. This is marked as an enhancement as the current behavior and flags were deployed intentionally with this configuration. However, these values were set some time ago (we will evaluate this one for side effects with other customer workloads and other possible issues).

This is not a roadmap item as it is not a feature / this thread is the only report /

[2019-10-03 15:39] armbraggins commented on #1208
My understanding of https://istio.io/blog/2019/trustworthy-jwt-sds/ is that the BoundServiceAccountTokenVolume feature is also required to support an aud field, and that's still alpha in 1.13 (https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)
https://thenewstack.io/no-more-forever-tokens-changes-in-identity-management-for-kubernetes/ says "In Kubernetes 1.15 it will

[2019-10-03 16:29] sauryadas commented on #993
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

[2019-10-03 17:52] palma21 commented on #976
Closing after rollout

[2019-10-03 17:52] #976 closed

[2019-10-03 19:20] jnoller opened #1250 "AKS clusters created before Sept 20th using VMSS upgrade failure (PlatformImageNotFound)"
AKS engineering has identified an issue for customers using AKS + VMSS created before 07:20 UTC on 28 Sep 2019

**Azure teams are mitigating all impacted clusters and rolling out hot fixes to all regions to resolve this issue.**

- **Scope**: All regions
- **Impacted clusters**: All clusters created before this date using VMSS are impacted.
- **User action**: Customers running VMSS based clusters

[2019-10-03 19:45] mkosieradzki commented on #948
Hi @sauryadas ,

Is there any ETA for this feature? Can I assume this will allow to get rid of tunnel front?

Current documentation for AKS ingress is impossible to implement using Azure Firewall. Because it requires to make Application Rules for tcp (22, 9000) (based on wildcard FQDN) and obviously the only supported protocols are layer 7: http, https, mssql.

You basically need to open 22 and 90

[2019-10-03 20:42] jnoller opened #1251 "Intermittent cluster creation failure in EastUS due to Resource Group not found"
The AKS team identified an ongoing issue in at least the EastUS region. This issue is intermittent and does not impact workloads.

Customers attempting cluster creation in the EastUS region may encounter a resource group not found error - this resource group is the generated MC_* resource group created by AKS. Customers will see the create call take 2-3x as long ending in this error.

This failure

[2019-10-03 22:18] gtxistxgao commented on #1247
@tbertenshaw  It's not a regular procedure. There is ongoing issue: https://github.com/Azure/AKS/issues/1250

You can try get and put the same managed cluster using REST api. The state should be back to Succeed.

[2019-10-04 02:49] jenetlan commented on #1237
Thanks for bringing this up! We're working on a wording change so that the message accurately reflects the cluster. I'll update once it goes live.

[2019-10-04 12:01] archmangler opened #1252 "AKS reports a different nodepool O.S disk size than configured on agent nodes"
**What happened**:

- Even after changing the agentpool os disk sizes manually, AKS platform reports the original size of the disks.
- This results in tools like Terraform reading the wrong size of disks for agent pool nodes.
- and results in general failure of automation for AKS based on Terraform

**Background **

- Our AKS clusters are built using Terraform
- We have a requirement to periodical

[2019-10-04 12:01] archmangler commented on #1252
Relating issue: https://github.com/terraform-providers/terraform-provider-azurerm/issues/4511

[2019-10-04 12:48] desek opened #1253 "NetworkPolicy - Egress is not allowed by default and filtering inbound connections"
**What happened**:
When applying a NetworkPolicy in a Namespace with only an ingress policy egress network traffic stops working.

**What you expected to happen**:
Only ingress network traffic affected according to policy definition.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

Run a pod in Namespace ns1 and curl a public website, i.e. http://httpbin.org/status/418

*

[2019-10-04 14:09] jnoller commented on #1252
AKS does not support vertical scale-in place of node resources. If you need to expand the VM size of an existing cluster, add a second node pool and set up the new nodes in the new pool. You can then without any downtime, move the traffic from node pool A, to nodepool B and them completely remove the old node pool.

The reason why those changes do not take effect is that it is unsupported.

[2019-10-04 14:09] #1252 closed

[2019-10-04 17:24] iharrington commented on #1180
I added "Network Contributor" role to my Service Principal and I still get the warning/error.

[2019-10-04 20:40] jnoller commented on #1251
This issue has been mitigated by the ARM team in all regions.

[2019-10-04 20:40] #1251 closed

[2019-10-04 20:41] jnoller commented on #1250
The AKS and VMSS teams are manually mitigating this issue for all impacted clusters, updated releases with long-term fixes are in flight for all regions (14 regions have been patched) as of this writing.

[2019-10-04 21:42] faustos commented on #323
I would need to set ConfigMapAndSecretChangeDetectionStrategy

[2019-10-05 05:46] archmangler commented on #1252
This is not viable with existing production enterprise loads deployed before "multiple node pools" preview feature was registered.

Adding nodepools on existing AKS clusters running enterprise production loads will require business downtime risk we'd rather not face - i.e cluster rebuild.

The agent-pool nodes themselves support os disk expansion in-place very well. Only the platform reports the w

[2019-10-05 13:11] mlushpenko commented on #52
We are using another hack right now - for clusters with multiple node pools, we shutdown the first node and add [protection](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-instance-protection) from scaling down to that node due to this [behaviour]( https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-faq#if-i-hav

[2019-10-06 05:45] chintandalwadiwk commented on #980
@jnoller :  It is very helpful , if we have a tentative GA release date.  Without  GA date we can't plan to use AKS with Windows container. We thinking to release our application tentative  March-2020.

[2019-10-07 10:04] MahajanTushar opened #1255 "AKS 1.14.6, Deployment error"
The deployment is getting failed after AKS cluster upgradation from 1.11 to 1.14.6

**Following error is appearing -**

Upon execution of az aks get-credentials, the context is merged, as desired

Get credentials from Azure for Kubernetes
Merged "intradedev2" as current context in /root/.kube/config

But after this , while execution of deployment file and service file ( which was working earlier),

[2019-10-07 10:36] MikkelHegn commented on #980
The main features we are working on is to integrate Windows node support in the AKS offering, this is yet to be completed and stabilized. We're not able to publicly share a timeline for this work to complete. If you find bugs - please file a support ticket. We do offer support for preview features: https://docs.microsoft.com/en-us/azure/aks/support-policies#preview-features-or-feature-flags

If yo

[2019-10-07 13:30] dariuszbz commented on #980
Would be so useful if you can confirm: end of 2019.

On Mon, 7 Oct 2019, 11:36 Mikkel Mork Hegnhoj, <notifications@github.com>
wrote:

[2019-10-07 14:04] jemag opened #1256 "AKS autoscaler not scaling"
**What happened**:
Scheduled 9 pods above cluster resource limit, and although they are all pending no node is being added.
![image](https://user-images.githubusercontent.com/7985687/66318504-6e79a280-e8e9-11e9-9e93-c429bc7cb064.png)

**What you expected to happen**:
Cluster autoscaler should add a node in response to the failed scheduling due to insufficient resources.

**How to reproduce it (as

[2019-10-07 15:44] palmerabollo commented on #925
related to https://github.com/Azure/aks-engine/issues/2111

In our k8s clusters (aks-engine), calico generates around 40% of the logs in the system !!

[2019-10-07 17:02] premsonbaby opened #1257 "Unable to deploy Virtual kubelet with memory request and limit."
**What happened**:

Unable to deploy Virtual kubelet, with resource -> memory enabled.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: clamav
  labels:
    name: XXXX
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clamav
  template:
    metadata:
      labels:
        app: clamav
    spec:
      hostname: clamav
      containers:
      - name: clamav
        image: docker.io/X

[2019-10-07 19:48] jluk commented on #1236
Closing in reference of this release note fix: https://github.com/Azure/AKS/releases/tag/2019-09-30

@djsly the release is still rolling out, but if you still hit this issue after Wednesday please tag me and I will look at it again.

[2019-10-07 19:48] #1236 closed

[2019-10-07 19:52] jluk commented on #1196
@henrylilei this should be fixed on this release: https://github.com/Azure/AKS/releases/tag/2019-09-30

Please try again and let us know if not resolved and I will revisit. Closing for now.

[2019-10-07 19:52] #1196 closed

[2019-10-07 20:01] jluk commented on #1248
@vishnujanardhanan how long are you waiting between each of those commands?

There are 2 things to consider:
1. It takes a moment for the disable command to complete, if trying to manually scale or re-enable before that is complete you'll see errors similar to what you received.
2. Do you have multiple agent pools enabled on that cluster?

[2019-10-07 20:08] jluk commented on #1256
@jemag do you see any unhealthy nodes provisioned or any control plane logs about new nodes? We may need you to open a support ticket to see what is happening.

As for the VMSS portal scaling screenshot, that is by design that the VMSS has manual scaling setup. AKS has separate autoscaling configured which will call VMSS on your behalf, it does not utilize VMSS autoscaling so any autoscaling confi

[2019-10-07 20:27] MikkelHegn commented on #1157
Does anyone know if this is Windows specific or any node pool beyond the default first node pool? (If not I can go and verify)

[2019-10-07 20:37] palma21 commented on #1157
AFAIK It's only windows specific. Can't repro on Linux only.

[2019-10-07 21:13] djsly commented on #1236
thanks @jluk , how we can track that the patch is live ?

[2019-10-07 22:12] SteveCurran opened #1258 "Manual scaling down pods does not work when using multiple nodes in windows node pool."
**What happened**:
Manual scale replicas in deployment when only one windows node exists in the pool will work as expected. Pods are scaled up, and scaled down. When two nodes exist in the node pool then the pods are scaled up but are not scaled down. When scaling down you can see the pods terminating but new ones are created bringing the state of the deployment back to the original scale.

**What

[2019-10-07 22:27] jluk commented on #1236
We don't have a public way to track the release today, but it takes about 6-8 days after we cut each weekly release. Currently the fix is live in East US so if that is where you need to run, please try again and let me know how it is working.

[2019-10-07 22:39] djsly commented on #1236
Super thanks.

Anything that we need to apply / run normally post upgrade for any feature to work ?

Also what about base images, we saw that we have a new windows akswin OS image mode in our VMSS. Where can we find the change log for this image?

[2019-10-07 23:30] jluk commented on #1236
The action depends on the fix required, for this issue you do not need to take any specific action. Future AAD resets should not trigger de-provisioning.

For change logs, unfortunately this isn't captured in a public location yet. You can reference this issue which will capture much of that information, which we are readying to work on soon.
https://github.com/Azure/AKS/issues/995

As a sidenote

[2019-10-08 00:24] diepes commented on #642
Looking at tunnelfront container in kube-system namespace is see it has request: cpu: 10m,
but looking at kubectl top node it uses 88m cpu.

Maybe it is just deployed with the wrong cpu requirements, should probably be cpu: 100m

[2019-10-08 01:00] djsly commented on #1236
Super.  Thanks I will follow 995

[2019-10-08 05:54] MahajanTushar commented on #1255
Maybe this is issue due to CI/CD pipeline set using some other tool

[2019-10-08 05:54] #1255 closed

[2019-10-08 06:57] vishnujanardhanan commented on #1248
@jluk I did wait for the confirmation from az cli before triggering the scale command
I destroyed the cluster, so dont know how many agent pools it created. I can come back to you in few days on this query.

[2019-10-08 07:07] brudnyhenry opened #1259 "AKS cluster AutoScaling stopped working"
**What happened**:
AKS cluster autoscaler was working fine till yesterday- all clusters created with below options were able to be scaled-up automatically
[code]
However since yesterday the same cluster configuration does not provide cluster auto-scaling feature even though that enableAutoScaling option is set to true in cluster definition.

[code]

**What you expected to happen**:
In case of situ

[2019-10-08 07:30] vishnujanardhanan commented on #1248
@jluk I had only one node pool on the cluster, which was the default one created by aks. I didn't create a node pool as such. Is agent pool and node pool same?

[2019-10-08 14:22] jemag commented on #1256
There isn't any unhealthy nodes provisioned and so far I cannot find anything about new nodes in the control plane logs. I will open a ticket, as suggested, see if they can notice something I can't.

[2019-10-08 15:11] trdavidson opened #1260 "AKS - pod showing in portal, not using kubectl"
hi,

- using a simple jhub deployment
- recently no longer able to login
- closer inspection shows pod for username still exists on AKS-portal .
- however, does not show up using `kubectl get pods --all-namespaces`

How can i get rid of this pod?

[2019-10-08 15:42] jluk commented on #1256
Thanks @jemag we will get an engineer to take a look, I am going to close this as a result of that action. Thanks for the report, we'll follow up on your support ticket.

[2019-10-08 15:46] jluk commented on #1248
Thanks for clarifying - agent pool == node pool. @feiskyer or @palma21 do you know what could be happening here?

[2019-10-08 16:07] SteveCurran commented on #1258
UPDATE: If I execute "kubectl scale ..." a second time the pods on the second node terminate.

[2019-10-08 17:00] sauryadas commented on #756
We are working on removing the certificate entirely that is returned in the kube config file. The problem is that there is no way to invalidate the certificate in the config file. Instead in the new implementation we will replace the certificate with static tokens that can be rotated/invalidated once someone leaves the team or no longer requires access to a cluster. This will work with existing cl

[2019-10-08 17:09] sauryadas commented on #1253
@aanandr can you please take a look?

[2019-10-08 17:35] sauryadas commented on #1259
@palma21 PTAL

[2019-10-08 18:12] zuehlke-dea commented on #756
Thank you for this information. It is very valuable for our decisions.

[2019-10-08 18:44] cwebbtw commented on #756
The approach that Amazon EKS use has been very useful for managing users in AWS. The static token approach using webhook tokens seems like an appropriate solution, which is really good to hear. The diagram below highlights how the user authentication works and then how RBAC is authorised with EKS.

![image](https://user-images.githubusercontent.com/31657038/66422823-53e71c80-ea02-11e9-8585-2df0203

[2019-10-09 02:42] asubmani commented on #397
So what is the AZURE RBAC on the AKS cluster (IAM) that will allow a user to use the `--admin` option or using a POST action to `https://management.azure.com/subscriptions/${SUB_ID}/resourcegroups/${RG_NAME}/providers/Microsoft.ContainerService/managedClusters/${AKS_NAME}/accessProfiles/${ROLE_NAME}/listcredential?api-version=2018-03-31`  and get credentials.

Can a user with only "reader" access

[2019-10-09 12:11] matt-bentley commented on #967
is there any update on when this will be going GA please?

[2019-10-09 16:28] premsonbaby commented on #1257
The issue i faced because of the values and its Units.
The units such as M, G, T are based on power of 10 - multiplies of 1000 (1000M).
The units such as Mi, Gi, Ti are based on power of 2 - multiplies of 1024. (1024Mi)

[2019-10-09 19:42] palma21 commented on #1259
From above it looks like CA is enabled but the scaling events are not being triggered, can you check the CA logs and confirm you have quota?
https://docs.microsoft.com/en-us/azure/aks/view-master-logs

[2019-10-09 23:40] jluk commented on #1219
FYI this will be releasing on this week's service release

[2019-10-09 23:42] jluk commented on #1260
@trdavidson (1) what are you unable to login to? (2) could you post a screenshot of the aks portal that is confusing you?

[2019-10-10 01:07] djsly commented on #1219
Thanks a lot.

[2019-10-10 07:36] hallgeirl commented on #1259
We see a similar issue. Scale-up was triggered, but we don't get a new node.

For the record - The node count in the Azure portal for the node pool shows 2 nodes, but only 1 node is actually present when checking "kubectl nodes". Also, the VM scale set for the node pool also only had one instance.

I disabled autoscaling, and then scaled it back to 1 node through the Azure portal (since it was sho