[2019-10-10 07:40] init6tech commented on #1107
Is this feature added to AKS to delete first node pool from AKS cluster?

[2019-10-10 11:42] immunochomik commented on #1217
When I have ssh to a VM and check command thet kubelet was started with following command, it looks like the --anonymous-auth=false flag is set there

`/usr/local/bin/kubelet --enable-server --node-labels=kubernetes.azure.com/role=agent,node-role.kubernetes.io/agent=,kubernetes.io/role=agent,agentpool=default,storageprofile=managed,storagetier=Premium_LRS,kubernetes.azure.com/cluster=MC_speechmati

[2019-10-10 11:53] immunochomik opened #1262 "Any comments about billion laughs vulnerability CVE-2019-11253?"
Just a question if you could comment about the 'billion laughs' vulnerability ?

I think that the api server and kubelets are running with --anonymous-auth=false.
But the api server is exposed on the internet.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11253
https://thenewstack.io/kubernetes-billion-laughs-vulnerability-is-no-laughing-matter

[2019-10-10 12:46] decoverri opened #1263 "Azure-file provider expected storage account resource group"
**What happened**:
PVC that uses storage class with provider kubernetes.io/azure-file looks for a storage account in the automatically created resource group (MC_resource-group_aks-name_location).

**What you expected to happen**:
It should look for the storage account in the same resource group as the aks resource.

**How to reproduce it (as minimally and precisely as possible)**:
Create a storag

[2019-10-10 13:22] shibshibw commented on #1253
I ran into the similar probelm.
If a policy which contains "podSelector: {}" but does not contain Ingress nor Egress,
all out-bound communications are blocked.
This problem reproduced only when used Azure Network Policies.

Results
-  Bad : Azure AKS 1.15.3 + Azure Network Policies
-  Bad : Azure AKS 1.14.6 + Azure Network Policies
-  Okay : Azure AKS 1.14.6 + Calico
-  Okay : AWS EKS 1.14.6 + Cal

[2019-10-10 13:38] hallgeirl commented on #1259
Seems autoscaling started working for us again at some point during the day...

[2019-10-10 14:05] smira commented on #642
this seems to help with random timeouts on many AKS clusters in different regions. I wonder if it's just a bug?

[2019-10-10 14:33] jskii commented on #642
This should not matter or be needed, since it doesn't appear tunnelfront has a limit set on usage, only a request, meaning it can use more CPU if it needs it.

https://kubernetes.io/docs/tasks/administer-cluster/manage-resources/memory-default-namespace/#what-if-you-specify-a-container-s-request-but-not-its-limit

[2019-10-10 14:56] bramvdklinkenberg opened #1264 "az aks get-credentials --> ERROR: The command failed with an unexpected error"
**What happened**:
When running the az aks get-credentials command from an azure devops agent we get error:
[code]

**What you expected to happen**: The command to work

**How to reproduce it (as minimally and precisely as possible)**:
az login
az aks get-credentials --resource-group $RG --name $NAME --overwrite-existing

**Anything else we need to know?**:
When I run the command locally it works

[2019-10-10 15:47] aegershman opened #1265 "Internal LB generated resource name scheme/policy?"
**What happened**:

Provisioning the internal load balancer for `nginx-ingress` stuck in `<pending>` state due to generated LB resource name being too long (82 chars). The LB is associated to a subnet named `sandbox-centralus-xxxxxxxx-services-subnet`... I know, it's pretty dang verbose, but bear with me here 😉

**What you expected to happen**:

Now that I'm aware of the resource name limitations,

[2019-10-10 15:53] smira commented on #642
ah, so probably it only helps as it leads to tunnelfront restart

[2019-10-10 16:26] michaelbpalmer opened #1266 "Performance of running Azure Functions on AKS Virtual Nodes"
I have followed the instructions [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-kubernetes-keda) to set up an Azure Functions instance in a Kubernetes cluster running on a Virtual Node. Everything is working well except for the performance of virtual node creation. In all cases, it is taking the container 60-70 seconds to enter the running state.

My function has an HTTP t

[2019-10-10 17:24] jluk commented on #1185
This fix is being rolled out on this week's release. Closing.

https://github.com/Azure/AKS/releases/tag/2019-10-07

[2019-10-10 17:24] #1185 closed

[2019-10-10 17:28] jluk commented on #1219
Closing per this week's release note: https://github.com/Azure/AKS/releases/tag/2019-10-07

It's live in Australia and Canada, but will be live in US + EU by Monday. Thanks @djsly!

[2019-10-10 17:28] #1219 closed

[2019-10-10 19:55] palma21 commented on #1259
@hallgeirl that is what I suspected above that is an allocation failure, CA was trying to scale but not being able such as you manual step. For those cases I'd recommend opening a support ticket.

[2019-10-10 20:00] palma21 commented on #1259
@brudnyhenry all subscription have quotas. You can check them by navigating the the subscription in the portal and clicking quotas and limits
When you say there are not logs you mean you don't see any logs in Log Analytics from CA?

can you disable CA and try to do a manual scale to confirm?

[2019-10-10 20:59] aanandr commented on #1253
This is a known issue. It has been fixed and we are working to get it rolled out to AKS.

[2019-10-11 02:35] sukhong commented on #930
I also have the same problem.

I am running Kubernetes cluster in Azure with Standard_D8_v3, that is supposed to have 200GB Temporary storage.

However, I am only getting ~30GB available for us to use:

capacity:
      attachable-volumes-azure-disk: "8"
      cpu: "4"
      ephemeral-storage: 30428648Ki

[2019-10-11 02:45] sukhong commented on #930
https://github.com/Azure/aks-engine/issues/2145

[2019-10-11 06:28] brudnyhenry commented on #1259
Hi,
Sorry I meant no quotas are being exceeded.
I enabled Log Analytics for CA but did not get any result with below query:

[code]

Next I disabled autoscaling and tried to scale up manually and it worked:
Before:
[code]
After:

[code]

Like I wrote before- everything was working till this week, our deployment did not change.
Last week every time a pod was scheduled we could see at least below in

[2019-10-11 07:43] javitoHertfy commented on #274
This is still happening and is affecting our production systems. Please give us some feedback about how to solve the problem

[2019-10-11 08:31] FooBarWidget commented on #1264
I think this is a duplicate of https://github.com/Azure/azure-cli/issues/10812

[2019-10-11 08:34] bramvdklinkenberg commented on #1264
See Azure/azure-cli#10812

[2019-10-11 08:34] #1264 closed

[2019-10-11 08:48] premsonbaby commented on #1257
I have the cpu matrix working, but as you can see below its giving warnings and it looks like working intermittently. (HPA was able to increase count of podes from 1 to 2 only once it never happened again)

![image](https://user-images.githubusercontent.com/31508228/66635558-62eaec00-ec07-11e9-94d8-b03a71517b88.png)

Also in the management portal why its not showing memory details ? its same for y

[2019-10-11 16:27] brobichaud commented on #1014
@daschott is there any update on whether this update is available for AKS Windows nodepool upgrades?

[2019-10-11 17:33] tomasr commented on #1250
How can you tell if you have an affected cluster without attempting the operation and having it fail in the first place?

[2019-10-11 19:44] palma21 commented on #1259
Thanks for the investigation @brudnyhenry and glad it's back working.

Not sure I understood the last bit, you mean that on any new cluster you create you can't get autoscaler to work? (only after disabling and enabling again?)

[2019-10-11 20:42] juhap opened #1267 "Pod in virtual node gets killed immediately despite delay in preStop hook"
**What happened**:
I deployed the same pod to regular AKS node and virtual node (ACI). In the pod preStop lifecycle hook I issue "sleep 45" command. When I delete the pod with kubectl, the pod deployed to virtual node stops immediately. Pod deployed to regular node takes 45+ seconds to stop (as expected).

The pod also defines "terminationGracePeriodSeconds: 60"

**What you expected to happen**:
I

[2019-10-11 22:58] aegershman commented on #1265
Doing a bit of math; the uuid of a67f06444eb6f11e9b817000d3a4201b is 32 characters long + the - is 1. The suffix of -TCP-80 is -PROTOCOL-PORT. Assuming protocol is 3, and the max port number is 65535 which is 5 chars, we get a suffix of 10 chars in length.

33 + 10 is 43 of generated chars, then 80 - 43 is 37 as the maximum safe name length for the subnet you'd like to deploy the internal LBs into

[2019-10-11 22:58] #1265 closed

[2019-10-11 23:01] sasanmcp opened #1268 "Control over VMSS resources creation"
When I create a VMSS-backed AKS, Azure creates a bunch of required resources such as DNS, Load Balancer, VMSS, etc. these resources are created in a resource group called MC_**AKS Resource Group**____**AKS Name**__**AKS Location**_ and are assigned random names.

I want to control all these. I want to be able to tell Azure where to put these resources and what to name them. I couldn't find the tra

[2019-10-11 23:17] jluk commented on #1220
Closing as this issue is resolved and fixed in the service. If you continue to hit any issues with respect to 1.15 upgrades please open a support ticket.

Thank you.

[2019-10-11 23:17] #1220 closed

[2019-10-11 23:20] jluk commented on #1268
AKS manages these resources on your behalf, so customization of everything through ARM template of the managed IaaS is not exposed. Anything you may need to configure will need to be done from the AKS API. For VMSS for example, that logically maps to the agent pool in an AKS cluster. Within that object you'll see settings that can match-up to the underlying VMSS backing it like availability zones.

[2019-10-11 23:28] sasanmcp commented on #1268
So how? How do you define managed resource group name?

From: Justin Luk <notifications@github.com>
Sent: Friday, October 11, 2019 4:21 PM
To: Azure/AKS <AKS@noreply.github.com>
Cc: Sassan Hajrasooliha <Sasan_hj@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/AKS] Control over VMSS resources creation (#1268)

AKS manages these resources on your behalf, so customization of ever

[2019-10-12 07:21] brudnyhenry commented on #1259
Hi,
that is correct. It does not work until I disable it and enable again.

[2019-10-12 10:17] 99ACA opened #1269 "Very short timeout kubectl exec & port-forward"
**What happened**:
The session kubectl is too short,  kubectl exec/port-forward (as a result not able to work with Helm client).
The session duration around 10 sec.

**How to reproduce it (as minimally and precisely as possible)**:
- kubectl -n kube-system port-forward tiller-deploy-58c57448-c8np6 44134:44134
[code]

**Anything else we need to know?**:
-  The k8s netwotk is:  Basic (Kubnet)
- Had

[2019-10-12 13:34] Vitorspk commented on #1209
how this bug still in triage omg

[2019-10-14 07:51] hallgeirl commented on #1259
Hi,
Been following the thread here since we also had the same issue. Our cluster were also a new one. After my initial post I did switch autoscaling on again. I later mentioned that autoscaling started working again.

This seems consistent with @brudnyhenry observations - although I can't 100% confirm that the switching it off and on again was the exact thing that solved this.

We also use Azure C

[2019-10-14 08:24] jfcoz opened #1270 "kube-svc-redirect huge log volume"
**What happened**:

kube-svc-redirect is logging a huge amount of useless data. For example on one cluster, 874000 lines by day.

**What you expected to happen**:

Log only important things

**How to reproduce it (as minimally and precisely as possible)**:

Create an AKS cluster

**Anything else we need to know?**:

Already reported here and closed without any investigation :
- https://github.com/

[2019-10-14 08:29] jfcoz commented on #1270
Also related to https://github.com/Microsoft/OMS-docker/issues/92

[2019-10-14 08:49] ydye opened #1271 "nvidia-smi isn't mounted into pod through nvidia runtime"
**What happened**:  nvidia-smi isn't mounted into pod on GPU node in aks cluster through nvidia runtime.

**What you expected to happen**: nvidia-smi should be mounted into pod on GPU nodes in aks cluster through nvidia runtime.

**How to reproduce it (as minimally and precisely as possible)**:

create a job and reqeust 1 gpu in gpu aks cluster.

[code]

Yaml file
[code]

The image is from Azure's

[2019-10-14 10:39] bramvdklinkenberg opened #1272 "Cluster scale up --> We do not have sufficient capacity"
**What happened**:
We tried to scale our cluster to 30 nodes but we get the following error:
Provisioning failed. Allocation failed. We do not have sufficient capacity for the requested VM size in this region. Read more about improving likelihood of allocation success at http://aka.ms/allocation-guidance. AllocationFailed

**What you expected to happen**:
My cluster to be scaled to 30 nodes

**How

[2019-10-14 11:15] tomkerkhove commented on #1272
I think this is a good case for Azure Support to help you further

[2019-10-14 11:36] bramvdklinkenberg commented on #1272
I created a support ticket as well, but most of the times I get quicker response via Github :).
I thought maybe there is a resource issue in Azure for weste europe aks clusters.

[2019-10-14 12:42] #1272 closed

[2019-10-14 12:43] bramvdklinkenberg commented on #1272
We tried scaling back to 8 again, waited till the failed machines were removed and scaled back to 30 again. After a couple of tries it finally worked.

[2019-10-14 14:13] FilipeCoutinhoSantos commented on #1200
I agree with @mlushpenko this looks like a bug and not a new feature.
Is there any estimate to when it will be available?
Persisting the tags only at the MC_ resource group and not the child itens don´t make sense for a billing purpose.

[2019-10-14 14:28] tarioch commented on #1194
Looks like we have the same issue, did you figure out anything?

[2019-10-14 14:43] mlushpenko commented on #1200
We are using a workaround for now - a policy that targets MC_* resource groups and appends resource group tags to all children. And to me seems like a bug-proof solution as Azure guys can forget something similar in the future but our resources will still be tagged properly, so not even sure we will move away from it after the bug is fixed.

[2019-10-14 15:24] funnybirdman opened #1273 "Autoscaler causing race condition in route table updates when adding VMSS quickly"
**What happened**:
1. Deployed statefulset requiring 4 new nodes to be added.
1. Autoscaler added all four nodes simultaneously.
1. The routetable had near simultaneous updates as the instances came online. One of these happened first and succeed. The other three failed.
1. The three remaining calls continued happening constantly while the first was processing.
1. After the first call continued th

[2019-10-14 15:47] raesene commented on #1262
(Whilst I'm not MS I know a bit about this vuln)

The issue will occur wherever it is possible for a user to send YAML to the API Server or other service that will process YAML.  If `--anonymous-auth=false` is set the exposure will be limited to users/attackers who have rights to create or update objects on the API.

There are patches in upstream Kubernetes coming out and I believe they are due to

[2019-10-14 15:51] abenck commented on #1262
I did some digging into this and you can pull the config to confirm anonymous auth is false with this

`kubectl proxy --port=8001 &

NODE_NAME="YOUR-AKS-NODE-NAME"; curl -sSL "http://localhost:8001/api/v1/nodes/${NODE_NAME}/proxy/configz" | jq '.kubeletconfig|.kind="KubeletConfiguration"|.apiVersion="kubelet.config.k8s.io/v1beta1"' > kubelet_configz_${NODE_NAME}
`

[2019-10-14 16:10] raesene commented on #1262
That query will cover you for kubelet but probably not for the API server (not sure if there's a good way to see API server startup flags with AKS as it's a managed process)

You could get your public API server and hit it with curl though `https://[IP]:[PORT]/version` should return an unauthorized message if anonymous auth. is off, and return some form of version information if it's enabled.

Eve

[2019-10-14 16:25] jluk commented on #1268
It's a create time parameter, documented here:
https://docs.microsoft.com/en-us/azure/aks/faq#can-i-provide-my-own-name-for-the-aks-node-resource-group

Closing this issue with that instruction.

[2019-10-14 16:25] #1268 closed

[2019-10-14 19:15] bhicks329 commented on #1200
Changing the tags on child objects is not supported and causes your cluster to not be supported.

https://docs.microsoft.com/en-us/azure/aks/faq#can-i-modify-tags-and-other-properties-of-the-aks-resources-in-the-node-resource-group

[2019-10-14 19:28] mlushpenko commented on #1200
hm...I wonder if that is related to the resource group where you create a cluster or auto-generated one. But we are only appending our tags, so perhaps it's not the same as changing and so far haven't noticed any problems

![image](https://user-images.githubusercontent.com/2006610/66777406-3fef5f00-eec9-11e9-892d-7a582ac1be29.png)

And here is a policy if you'd like to test it as well:

[code]

[2019-10-14 19:34] chriskuech opened #1274 "AKS not using designated public IP with Standard Load Balancer"
**What happened**:
We configured our AKS instance (with a default Basic Load Balancer) to leverage an existing Public IP resource.  We redeployed our AKS instance using a Standard Load Balancer, but the redeployment created and uses a new Public IP resource (in the MC_* resource group instead of the resource group containing our AKS resource).

**What you expected to happen**:
Just as when we were

[2019-10-14 21:05] jluk commented on #1014
The update will be rolling out on this week's service release, so it should be global by 10/22 at the latest. We'll have the release notes up in a few days.

[2019-10-14 21:27] Blackbaud-TimMcVicker commented on #1259
We also saw this behavior today:

1. Created a new cluster with ```--enable-cluster-autoscaler --min-count 3 --max-count 13``` and an initial node count of 3
2. Scaled a deployment to 15 replicas (to force an autoscale), with 5 pods failing to get scheduled. This *did not* trigger a scale out at all. The ```cluster-autoscaler-status``` configmap was not created.
3. Turned the cluster autoscaler of

[2019-10-14 21:39] jenetlan commented on #1237
Update - should be live everywhere now :) Thanks again for reporting!

[2019-10-14 22:09] jluk commented on #1237
Closing thanks everyone

[2019-10-14 22:09] #1237 closed

[2019-10-14 22:37] brobichaud commented on #1014
Thanks @jluk, it would be great for this issue to be updated/closed when it's fully deployed

[2019-10-14 22:50] ritazh commented on #1195
Until Gatekeeper v3 is fully integrated with AKS as a managed feature, today if you want to deploy and manage OPA Gatekeeper v3 in your AKS cluster without hitting the tunnelfront pod restart issue, you can edit the `kube-system` namespace by adding the following label to the namespace: `kubectl edit ns kube-system`

[code]
This namespace label matches the default namespaceSelector as specified in

[2019-10-14 22:54] djsly commented on #1014
Will it be only a kube-proxy update or will it require a windows node upgrade ?

[2019-10-15 12:37] grahamhayes opened #1275 "Create NSG Service Tag for required AKS traffic"
**What happened**:

Creating a AKS cluster with a rule to block outbound internet traffic fails.

**What you expected to happen**:

A NSG Service Tag to be created to allow easy selection of exceptions to the default deny.

**How to reproduce it (as minimally and precisely as possible)**:

Add an NSG rule that blocks all VNet -> Internet Traffic, and try deploy an AKS cluster.

**Anything else we

[2019-10-15 16:43] solomson commented on #1199
No issues for a month. Upgrades seem to do the trick

[2019-10-15 16:43] #1199 closed

[2019-10-15 16:47] michaelbpalmer commented on #1266
How do I get traction on this? Is there somewhere else that I should open this?

[2019-10-15 17:00] jluk commented on #1274
@chriskuech this is the design of SLB, in that we have to explicitly configure the pip. By default AKS will provide you one and make it a managed resource (hence why it lives in MC RG). This is captured in the slb doc below.
https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#limitations

We support bringing your own IP though for this scenario, which is captured here.
https://docs.m

[2019-10-15 17:24] jluk commented on #1014
I'll be out of office next week but @MikkelHegn can confirm when rollout is complete.

@djsly it requires a node upgrade.

[2019-10-15 17:31] jluk commented on #1250
Closing issue as all regions have been patched for this.

[2019-10-15 17:31] #1250 closed

[2019-10-15 17:38] chriskuech commented on #1274
We will implement the bring-your-own-IP instructions, but isn't this still a regression as a feature that worked with Basic Load Balancers no longer works with Standard Load Balancers?

[2019-10-15 18:13] jluk commented on #1274
SLB is a separate feature over BLB so not a regression given the behavior of basic LB did not change and you're able to still use that scenario if needed.

We had to update the behavior to conform to BLB vs SLB differences.
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview#skus

Thanks for confirming you'll update to the BYOIP scenario, closing as a result.

[2019-10-15 18:13] #1274 closed

[2019-10-15 18:17] chriskuech commented on #1274
We deploy all our resources through ARM templates.  Do you plan to add this support to ARM templates, and if so, do you have a tentative timeline?

[2019-10-15 18:36] Eneuman commented on #1178
Now that 1.11 and 1.12 is coming to EOL (https://github.com/Azure/AKS/issues/1235) will this be fixed in 1.15?

[2019-10-15 19:47] jluk commented on #1274
Yes, SLB can be defined via ARM template using the load balancer SKU property.

https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#loadbalancersku

You should use 2019-08-01 API which contains the BYO IP capability.

https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#outboundips

[2019-10-15 20:41] palma21 commented on #1273
Thanks for reporting. Can you also repro this when you scale 3+ VMSS nodes manually or just with CA?

[2019-10-15 21:25] jluk commented on #1219
Hey @djsly it's live in all regions except for US which is rolling today. Should be live by tomorrow.

[2019-10-15 22:29] funnybirdman commented on #1273
We manually rescaled a cluster to immediately fix the problem when it happened again.
Issue has only happened with CA.

[2019-10-16 01:41] andyzhangx commented on #1263
@decoverri Since you have specified account name in your azurefile storage class, aks have to find that storage account name. If you want to use an arbitrary storage acccount under MC_ resource group, pls remove `storageAccount` parameter, AKS will search a suitable storage acccount under MC_ resource group

[code]

[2019-10-16 06:47] mousiefasil commented on #1208
As @armbraggins said it would be nice to know if this features is available in AKS with kubernetes 1.13 and 1.14.

[2019-10-16 12:07] ubreddy commented on #360
Restart the kube-proxy pods on each node by deleting the pods. It seems to refresh the data.

[2019-10-16 12:24] vipulnewaskar7 commented on #1071
I have a use case for manual creation of LoadBalancer :
We can have control over how a LoadBalancer is created, We can set rules, availability zone for the services.
(I know, availability zones can be set by other means also, but, we are getting one more layer to control this)

One more use case,
Which is same as of @dbourcet was talking about.
In AKS if we want to have services running in interna

[2019-10-16 12:52] mlushpenko commented on #528
Take a look at this script to do it for all nodes https://gist.github.com/brendan-rius/5ac9ec3dd7e196222c8b8b356f8973d2

[2019-10-16 13:10] chpspiir commented on #360
Same exact situation here. Tried restarting kube-proxy, but it didn't fix the issue

[2019-10-16 18:36] palma21 commented on #1071
In both cases you can define static private IP and zones at the kubernetes service definition.

AKS today creates SLB automatically when the cluster is created (the only one supported for private link) so you would just need to remove the network policies and create the private link service associated with the LB Ip config (which will exist as soon as you have a service). Unless I'm missing someth

[2019-10-16 20:59] brianxieseattle commented on #1259
Hi, we saw the similar behavior.
When we pass the autoscaler parameter to provision a new cluster, autoscaler does not work. There is no log for "cluster autoscaler"
We changed to manual scale and changed back to auto scaler in Portal UI. The autoscaler immediately worked. We can also see the cluster autoscaler master logs.
We tried three clusters and saw the same behaviors.

Is it a bug?

[2019-10-16 22:52] palma21 commented on #1248
Were you able to see this behavior again? I'm not being able to reproduce.

[2019-10-17 04:02] sideeksh commented on #791
Hi @misterjoshua - Microsoft does not have a first-party solution to your problem but you can see our latest guidance at https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-multi-region. I am currently determining the need for AKS BCDR and would love to dig deeper into your needs. Can you email me at sideeksh@microsoft.com with a couple of times that work for you this/next week? Tha

[2019-10-17 08:04] hallgeirl opened #1277 "High CPU usage for "other processes" in our AKS Windows node"
**What happened**:
We have an AKS cluster with a single Windows node (using it only for development at the moment). In Azure Monitor we see that the item "Other processes" uses almost a full CPU core (about 850m). Currently we only have 9 pods deployed on this node, which isn't a lot. Each of thse pods are mostly idle, so they consume less than 50m CPU each. It does seem like the "Other processes"

[2019-10-17 08:43] hallgeirl commented on #1277
Seems the CPU usage is actually increasing even more. Now it's on 1,5 core. In other words, it's consuming almost the whole node.

![image](https://user-images.githubusercontent.com/428446/66992901-f40c0800-f0ca-11e9-9068-f365f83931f0.png)

[2019-10-17 10:02] AnassKartit commented on #981
Hi Jesser, does that mean we can now provision AKS clusters in an existing RG or in the same RG along with node pools?

[2019-10-17 10:06] kwikwag opened #1278 "Disk attachment/mounting problems, all pods with PVCs stuck in ContainerCreating"
**What happened**:
Pods with PVCs are stuck in `ContainerCreating` state, due to a problem with attachment/mounting.

I am using a VMSS-backed westus-located K8S (1.14.6; aksEngineVersion : v0.40.2-aks) cluster. Following a crash for the Kafka pods (using [Confluent helm charts](https://github.com/confluentinc/cp-helm-charts) v5.3.1; see configuration below, under Environment), 2 of the 3 got stuc

[2019-10-17 11:19] vipulnewaskar7 commented on #1071
@palma21 , Yes, I tried providing loadBalancerIP: 10x.x.x, but, each time, I have to ensure that, that IP is not used by any of the pods/services in the AKS cluster. Since I am using Azure CNI for assigning IPs to Pods in AKS.
Is there any way to reserve one IP from Virtual Network for provision to loadBalancerIP??

[2019-10-17 16:56] lukasmrtvy commented on #946
Unfortunatelly kube-apiserver (not only) logs (stderr) multilines and Azure Diagnostics ( dunno what is behind it) stores record per line ( linefeeds ).
Not sure how to properly concatenate lines..

[2019-10-17 17:49] Aaron-ML commented on #1278
I'm also seeing this in west-europe. I can occasionally get them to connect over time, but it's hit or miss.

[2019-10-17 20:06] jason-epp commented on #1278
I have a similar problem.
Also using a VMSS cluster
v1.14.6
If the pod moves to a different node, the drive (pvc) is not detaching from the old node and reattaching to the new node.

[2019-10-17 20:28] palma21 commented on #1071
Yes, normally for that I recommend splitting the address space that you want for the ILB to a svc subnet and then pass that subnet to the service spec. The LB will receive an IP from that subnet (which can be as small or big as you want.

A thumb rule you can also use, if you want only one subnet, is since the VMs and pods receive IPs from lower to higher you can try to go from higher to lower to

[2019-10-17 23:35] worldspawn commented on #1278
I'm using a VMSS cluster, 1.14.6, australia south east. I have this same issue trying to start the redis helm chart. I made a simple yaml and also get the same problem.

[code]

[code]

[2019-10-18 04:52] jayush commented on #323
What is the latest status of this ask?

[2019-10-18 08:29] zuehlke-dea commented on #632
Seems it was fixed and is present again. We faced the problem. Researched and could not reproduce it. Now it occurs again on our clusters with 4.15.0-1060-azure kernel nodes.

[2019-10-18 08:52] rudolphjacksonm opened #1279 "Calico Horizontal Autoscaler CPU Getting Throttled"
**What happened**: We're seeing the calico-typha-horizontal-autoscaler pod constantly hitting the CPU limit that is set, which is `2m`. This seems like the limit isn't set high enough; in the public [Kubernetes repository](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/calico-policy-controller/typha-horizontal-autoscaler-deployment.yaml) the example deployment manifest has the

[2019-10-18 09:59] dazdaz commented on #1088
@jluk any update on the timeline for when this will be implemented ?  This feature be useful right now.  Thanks a lot.

[2019-10-18 12:57] sowens81 commented on #947
@jluk - do you have any more news on the GA for AKS AZ's. I have a customer in the UK who is keen on going live on AKS by December, but needs to reduce the risk of taking a preview feature into production.

[2019-10-18 15:21] kalioz opened #1280 "Azure-Network-Policies pods ressources quotas"
**What happened**:

We recently created a cluster with Azure Network Policies enabled (plugin: azure), and installed a certain number (30-40) of network policies. We recently discovered the pods created by the daemonset (azure-npm-XXXX) are using a heavy part of our resources (CPU / memory), with sudden increase we cannot match to any activity on our part (this is a test cluster with only 2 person

[2019-10-18 17:28] PatrickLang commented on #1014
The updated Windows image with this fix was in the 10/14 rollout. Can you try adding a deleting & creating a new nodepool and see if the problem is fixed there?

[2019-10-18 17:40] palma21 commented on #947
To clarify this thread if for Cluster AutoScaler not AZs.

Nonetheless both will be GA before December. :)

[2019-10-18 18:09] piotrgwiazda opened #1281 "Undocumented public IP in AKS-provisioned load balancer"
When switched AKS from Basic Load Balancers to Standard after #643 became GA I'm getting a strange public IP with tag type:aks-slb-managed-outbound-ip and it creates a backend pool in the public load balancer named aksOutboundBackendPool.

Please provide any documentation related to this. It becomes a second public IP to this load balancer as the other is created by my service. Please provide inst

[2019-10-18 18:11] jnoller commented on #1281
Please see this document:

https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#limitations

Limitations
The following limitations apply when you create and manage AKS clusters that support a load balancer with the Standard SKU:

At least one public IP or IP prefix is required for allowing egress traffic from the AKS cluster. The public IP or IP prefix is also required to maintain con

[2019-10-18 18:11] #1281 closed

[2019-10-18 19:12] piotrgwiazda commented on #1281
Thank you. Just a side note that this is not available via Terraform yet during create time https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html

[2019-10-18 19:22] AustinSmart commented on #1278
Same issue:
VMSS
West US
v1.13.10

[2019-10-18 19:22] palma21 commented on #1280
Hi @kalioz thanks for reporting. Known issue with the 1.0.27 image. We patched that image (you should be receiving the hotfix soon) and we are rolling out the 1.0.28 image.

[2019-10-18 19:26] sharkymcdongles commented on #1278
Also have this issue. Discussed there: https://github.com/Azure/aks-engine/issues/1860

but was sent back here.

Number of nodes in your cluster?
30

Number of disks attached to those nodes?
varies but we have 131 pvcs with 5 or so a nod
Is cluster auto scaler enabled?
no it is disabled
What operation did you run when this issue was triggered?
we didn't do anything. the cluster just stopped mounti

[2019-10-18 19:54] palma21 commented on #1262
Yes it's off on AKS

 --anonymous-auth=false

Thanks for your answers @raesene

I'll pin this for a while for info and then close

[2019-10-18 20:09] jluk commented on #1088
This is scoping for December, as we'll need to release a new API version.

[2019-10-19 00:52] andyzhangx commented on #1278
this could be a vmss issue, would you try Update Scale Set VM manually:
[code]

[2019-10-19 06:02] jayakishorereddy commented on #1278
Even after running the command. its the same issue.
 Provisioning of VM extension 'vmssCSE' has timed out. Extension installation may be taking too long, or extension status could not be obtained.

[2019-10-19 06:53] andyzhangx commented on #1278
@jayakishorereddy could you `kubectl-enter <node-name>` and then provide `/var/log/azure/cluster-provision.log`?

[2019-10-19 07:28] sharkymcdongles commented on #1278
@andyzhangx I tried this and it led to an internal execution error and couldn't complete. The cluster has only one VMSS and only 4 nodes show this error and are in failed state. Other nodes cannot mount the disks when moved off the failed nodes because azure says they are still attached to the failed node and throws a multiattach error and times out saying it is still attached to the failed node w

[2019-10-19 07:47] al3xisb opened #1282 "Stuck on creating AKS Internal LB"
Hello,

I created a Internal Load Balancer with this yaml (for instance the app run an elasticsearch container) :
[code]

IP was corretly assigned :
[code]

I tried to :
- reach the IP within the cluster with a busybox pod (ping or wget on 9200) but the IP was unreachable
- reach the IP through a peered vnet with the AKS vnet. Same behavior (FYI i can reach nodes IP)

Any clue to correct this ?

S

[2019-10-19 08:36] sharkymcdongles commented on #1278
Here is the `/var/log/azure/cluster-provision.log` from one of the failed nodes:

[code]

[2019-10-19 08:37] sharkymcdongles commented on #1278
@andyzhangx ^

Please lemme know ASAP because our cluster is in a bad state because of this.

[2019-10-19 11:12] sharkymcdongles commented on #1278
I deleted the failed nodes now manually and was able to at least get the vmss update command to run through. Disks that were on the drained and deleted nodes still show as attached to them despite them not existing. I was able to fix a few by running:

`az disk update --id `

[2019-10-19 15:24] doggvalera commented on #1278
Have the same issue with Prometheus. But the solution to delete the PVC doesn't help.
[code]

With PVC everything is ok. ```prometheus-main-db-prometheus-main-0   Bound    pvc-xxx   20Gi       RWO            default       ```

[2019-10-20 16:03] kwikwag commented on #1278
To update on the issue I was facing, first I wanted to mention that I noticed that all error messages involved a single volume.

     Cannot attach data disk 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx' to VM 'aks-nodepool1-xxxxxxxx-vmss_0' because the disk is currently being detached or the last detach operation failed. Please wait until the disk is completely detached and then try again or delete/deta

[2019-10-20 16:52] sharkymcdongles commented on #1278
@kwikwag sounds super simple and straightforward and 100% production ready.
:|

On Sun, 20 Oct 2019, 6:04 PM kwikwag <notifications@github.com> wrote:

[2019-10-20 21:09] worldspawn commented on #1278
Yeah I'm about to put a bunch of aks into prod. Not inspiring any confidence. Support ticket every week with some random failure

[2019-10-20 21:51] palma21 commented on #1278
There a few different possible issues here in play. A few of these clusters are being throttled by the VMSS API, see below, which can cause this, you might need some quota raises for the vmss api.

I see some of you have opened tickets already, could you share the numbers?
Additionally, feel free to send those/your details to my email directly. Would love to connect with you to make sure your prob

[2019-10-20 22:20] worldspawn commented on #1278
@palma21 119101823000010
Confirmed this still occurring on my (to be) prod cluster.

[2019-10-20 22:27] NithinPrasad-GEP commented on #1005
MS Team,

Is this feature now GA? If so can you please provide the documentation.

[2019-10-21 06:47] andyzhangx commented on #1278
@CecileRobertMichon have you noticed any useful info from the above `cluster-provisiong.log`, I could find below error logs:
[code]

[2019-10-21 06:50] andyzhangx commented on #1278
detach the PVC disk which has problem is always ok, AKS would try to attach back in a loop when pod is scheduling on the new node.

[2019-10-21 09:25] sharkymcdongles commented on #1278
After migrating the entirety of production via velero to a 1.15.4 cluster it seems to be okay for now in the new 1.15.4 cluster. No idea how long this will last though. It'd be nice to know if we can expect this to happen again or if a resolution is found. I am tempted to set all vmextensions for my vmss to autoupdate false after this as I suspect that was the root cause.

[2019-10-21 12:20] Equilibri0 commented on #804
any news ?

[2019-10-21 13:15] sylus commented on #1278
Can we get some sort of statement from Azure into what is going on? I think there are enough people this issue is happening to warrant some sort of explanation? I am super concerned about this.

[2019-10-21 13:21] sylus commented on #1278
It is pretty clear that scalesets are completely broken. We have had this issue now on every cluster across different subscriptions and even affects VMSS that are windows nodes and not just Linux. I am super worried that this has been about a week now with no clear answer as to what is going on or what changed.

[2019-10-21 14:22] decoverri commented on #1263
@andyzhangx I want to provide both AKS and the storage account through terraform, so the storage account is NOT on the MC_ resource group, but theres is no option to look for one outside of it. That is my issue

[2019-10-21 14:26] tommyJimmy87 commented on #205
Hi,
is this issue still on progress?

[2019-10-21 14:29] andyzhangx commented on #1263
@decoverri you could use a storage account from an external resource group:
[code]

[2019-10-21 18:06] palma21 commented on #1278
I provided a preliminar explanation above, without knowing your clusters and looking into them I can't make a definitive one. Could you reach out (provide options above) with your cluster details/case numbers so I can check if that is happening for your case as well and provide needed recommendations/fixes.

[2019-10-21 18:12] Smoove95 commented on #1278
@andyzhangx Andy Zhang? More like Andy Dang this junk ain't working...

[2019-10-21 18:19] sharkymcdongles commented on #1278
I still have both broken clusters provisioned in my subscription if anyone wants to take a look. @palma21

[2019-10-21 18:21] palma21 commented on #1278
I do, please open a ticket and send me the ticket number and I will take a look.

[2019-10-21 18:26] sharkymcdongles commented on #1278
@palma21 119102122002092 is support request

[2019-10-22 06:28] GramozKrasniqi commented on #205
Regarding better control on Egress (and for cases where we have to use a forward proxy because of security requirements) you can use a Service Mesh like Istio.

Using external HTTPS Proxy with Istio:
https://istio.io/docs/tasks/traffic-management/egress/http-proxy/#configure-traffic-to-external-https-proxy

Hope you find it helpful.

[2019-10-22 07:45] sharkymcdongles commented on #1278
Any word because we want to delete this cluster to not continue to accrue costs? @palma21

[2019-10-22 07:46] palma21 commented on #1278
@sharkymcdongles I confirmed your clusters from the case are being throttled (green-ish piece at the bottom) that started possibly as you created a few more aks/scale sets clusters in that sub some days ago perhaps?
![image](https://user-images.githubusercontent.com/7065724/67259407-7c333a00-f44a-11e9-8584-ba8441bd9985.png)

We can rate limit your clusters but it would make them quite slow, I reco

[2019-10-22 07:54] andyzhangx commented on #1278
if you got `vmssCSE time out` issue even after vmss update, you could use `reimage` vmss instance to mitigate, pls make sure no pods are running on that instance before reimage, you could run `kubectl cordon <agent-node-name>`

[code]

[2019-10-22 08:19] doggvalera commented on #1278
I also created a ticket.  @palma21
The ticket number is - 119102222000300. We have this problem in almost all subscription in our organisation. I absolutely agree with @sylus that looks like a common problem.

[2019-10-22 08:31] andreygolev commented on #1278
119102122000876 mine ticket please.
3 node cluster. Issue appeared yesterday itself after I installed Kured which rebooted OS on workers because of security updates.
Disks were in unattached state, but AKS wasn't unable to reattach them back.
Though today I noticed that one pod was able to attach volume after hundreds of attempts.
Second one which requires PVC still struggles :)

[2019-10-22 08:38] mtparet commented on #709
I asked the support and they said that I could edit the `default` and `managed-premium` classes to add `AllowVolumeExpansion: true`.

I did it and the setting seems correctly persisted! :tada:

[2019-10-22 09:03] 99ACA commented on #1269
The current issue isn't related only to k8s also SSH to VM and  Cloud Shell.

[2019-10-22 11:40] duckie commented on #52
Yes @mlushpenko, agree 100% with you, this is a real pain for service providers that would like to leverage AKS but gets roasted by customers because of this specific issue.

[2019-10-22 11:52] sdktr commented on #1278
Our case# is 119102122002108, vmss update failes on provisioning of VM extension vmssCSE.

`vmss update` and `vmss reimage` of the faulty node doesn't fix the issue

[2019-10-22 12:02] andyzhangx commented on #1278
@sdktr what's the result of `vmss reimage`? Is that VM in succeeded state after reimage?

[2019-10-22 13:08] bramvdklinkenberg opened #1283 "Public ip not always deleted when deleting a service of type loadbalancer"
**What happened**:
We have an ELB (Kubernetes) in front of our AKS dev cluster. During the day new service can/are deployed to the cluster and are exposed as type Load Balancer which creates a public ip attached to our ELB. This is done automatically when we create a Pull Reauest in Azure DevOps.
Each PR gets deployed in its own namespace.
When a PR is merged to master the PR namespace will be del

[2019-10-22 13:25] kalioz commented on #1280
Ok thanks ! I'll keep you updated once we receive the patch.

[2019-10-22 13:40] DavidZisky commented on #1259
Same happened for our client. Autoscaler configured properly, everything should work. But it didn't. We disabled autoscaler and enabled it again and it started working immediately.

[2019-10-22 14:33] JohnGalt1717 commented on #243
Is there documentation on how to make this happen? Az still won't let you do it between subscriptions that I can find based on the docs.

[2019-10-22 16:08] sowens81 commented on #947
My apologies, I had both issues open and messaged in the wrong one. Thanks for the feedback.

[2019-10-22 18:11] sdktr commented on #1278
I don't recall that exactly. We noticed that the drained node still had disks attached, we removed them using `az vmss disk detach` with mixed results over the complete cluster. One node was fixed after one disk was detached, other nodes didn't detach at all.

In the end my colleague executed the following steps to recover. The result seem to indicate that AKS rolled back to an older VMSS image as

[2019-10-22 18:21] bdschaap commented on #504
This seemed to work for my Prometheus scrape config.

    - job_name: 'kubernetes-apiservers'
      kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names:
          - default
      scheme: https
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_name, __meta_kubernetes_endpoint_port_name]
        action: keep
        regex: kubernetes;https

[2019-10-22 22:53] palma21 commented on #1259
Could  you folks open some support tickets so I can take a look at your specific clusters? We've not been able to repro and that would allows to find out what happened.

Also, I'm guessing in all your non-working cases, the CA config map has not been created?

[2019-10-23 00:11] Blackbaud-TimMcVicker commented on #1259
I've created support ticket 119102321000006 for our cluster, if that helps.

When this was originally not working, the configmap was not created. Once I turned it off/back on again, it was created.

[2019-10-23 00:19] marwanad commented on #1259
@Blackbaud-TimMcVicker are you able to repro this behaviour consistently? I've managed to get to this state once out of 8 tries. - just trying to get to the root cause here.

[2019-10-23 01:12] jason-epp opened #1284 "Pods depolyed to extra nodepool cannot connect to Azure Cache for Redis Service."
I have an image based on ubuntu:16.04 that has the redis-cli installed.
If it is deployed to the default nodepool1, it CAN connect to redis.
     redis-cli -h xxxx.redis.cache.windows.net -p 6379 -a xxxx
     xxxx.redis.cache.windows.net:6379>ping
     PONG

If it is deployed to the one of the extra nodepools, it CAN NOT connect to Redis.  It times out.
     redis-cli -h xxxx.redis.cache.windows.n

[2019-10-23 02:23] palma21 commented on #1278
Hi all, thank you for your patience and information, the root cause for this was a bit lower on the stack than we expected so we had to spend some time investigating with different teams.

On all your cases a detach/attach operation failed. In some cases due to throttling, in others due hanged operation on the VM Scale Set.
AKS normally self mitigates this but that did not work this time due to an

[2019-10-23 10:26] DavidZisky commented on #1259
@palma21 I've created 119102324001064, but in our case ConfigMap was there. Just the ScaleUp wasn't triggered at all (even tho all the nodes had almost 100% mem usage). We disabled and enabled autoscaler (with the same min/max nodes numbers), configmap was recreated and ScaleUp action got triggered immediately.

[2019-10-23 11:07] sdktr commented on #1278
Is this about a platform (AKS) update patch or upstream k8s version bump to 1.14.X? Read: is there anything we can/must to to get these patches?

Thanks for your effort and explanation on these issues, really appreciate it!

[2019-10-23 15:37] vikalpj commented on #1014
@PatrickLang @MikkelHegn @jluk As per the above mentioned release dates.

I can't find a way to get the nodes updated on AKS cluster. I already followed the steps mentioned in
https://github.com/Azure/AKS/issues/1014#issuecomment-525299366 .

The windows version I am always getting to is
<img width="813" alt="Screenshot 2019-10-23 21 00 20" src="https://user-images.githubusercontent.com/5318237/67

[2019-10-23 15:52] marcus-sa commented on #1278
Yeah I'm curious as to when these updates are gonna roll out, because we can't get our app deployed.
Even after creating an entire new cluster without any PVCs, a simple Redis helm chart can't even be deployed because of this issue.

[2019-10-23 16:31] Blackbaud-TimMcVicker commented on #1259
@marwanad I'm able to reproduce it, but not consistently. It happened 2/2 times last week, but only 1/4 times this week (using the same versions).

[2019-10-23 17:57] mcurry-brierley commented on #884
Unable to Attach PVCs to a basic K8s deploy in Azure, when is K8s going to be production ready?  This is just sad.
I am on 1.14.7, and I cant even run a basic cluster in Azure.

[2019-10-23 18:11] sylus commented on #1278
Yeah can confirm from AKS Engine point of view that v1.15.5 hasn't resolved anything.

[2019-10-23 18:30] nazarikus commented on #10
Can somebody reply regarding ETA for getting Priority Admission Controller/FeatureGate in AKS?

[2019-10-23 20:15] saiyan86 commented on #1278
Please see this: https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#20-azure-disk-detach-failure-if-node-not-exists

[2019-10-23 21:04] Aaron-ML commented on #1278
I've been having this issue since 13.10 on VMSS. So I'm not sure that those documents are accurate.

[2019-10-23 23:37] marcus-sa commented on #1278
@Aaron-ML you can't rely on any Azure documentation nowadays, as they're either outdated or invalid.

[2019-10-24 01:23] sylus commented on #1278
Since we are also getting this issue in AKS Engine we documented the whole issue, current environment, and attempts tried over at: https://github.com/Azure/aks-engine/issues/1860#issuecomment-545695647

[2019-10-24 01:31] samisq commented on #804
Any update on this issue? We really need this too

[2019-10-24 09:44] gmacquillin commented on #1208
Doesn't seem to be enabled from the AKS documentation

https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux

[2019-10-24 10:10] PirateBread opened #1285 "AKS Dashboard problems with 1.14.7"
We expose the Kubernetes Dashboard via an NGINX Ingress resource, secured with an oauth proxy integration for authentication.

This has been working well, however the upgrade to 1.14.7 has essentially broken this integration and we get constant 500 errors and timeouts.

When using the **az aks browse** tunnel, the dashboard works smoothly.

**What happened**:
Upgrade to 1.14.7 has broken Dashboard

[2019-10-24 10:42] onybo commented on #1216
We see similar behaviour as @cubed-it .

From my very limited numbers it could look like using small nodes in AKS results in a huge waste of memory resources 45%.
Also looks like it gets better with node size
All my numbers are from `kubetctl describe node <node name>`

Cluster 1:
capacity/allocatable: 4016988Ki/2200412Ki
Reserved memory?: 1816576Ki   or 45%
version: 1.15.3

Cluster 2:
capacity/al

[2019-10-24 11:54] jpoizat commented on #1216
There is a document explaining how it is done :
https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#resource-reservations

but agreed, the memory % reserved on smaller node is high...

[2019-10-24 13:34] MikkelHegn commented on #1014
The release has now been rolled out to all regions. To get a new Windows OS version, you have two options:

1. Upgrade the cluster to a new K8 version
2. Upgrade the clsuter to the same K8 version (repair), then new Windows node pools will be based off the new OS version.

[2019-10-24 13:34] #1014 closed

[2019-10-24 16:32] TheMacStack opened #1286 "AKS Clusters deployed with acceleratedNetworkingEnabled: False"
**What happened**:
2 out of 6 AKS Clusters (the production ones of course...) deployed on `Standard DS15 v2` Nodes have `acceleratedNetworkingEnabled: False`

**What you expected to happen**:
`acceleratedNetworkingEnabled: True` for all VMs on all clusters

**How to reproduce it (as minimally and precisely as possible)**:
Unknown

**Environment**:
Kubernetes version: 1.13.10
Ranging from 3 to 7 no

[2019-10-25 00:28] worldspawn opened #1287 "Brand new 1.14.7 clusters have broken metrics"
I just created two new clusters targeting v 1.14.7. Both clusters are unable to collect metrics, no scaling can be performed. `kubetcl top nodes` fails with `error: metrics not available yet`

**What you expected to happen**:
I expect brand new resources to be working perfectly.

**How to reproduce it (as minimally and precisely as possible)**:
Create new cluster targeting 1.14.7. Agent pool confi

[2019-10-25 02:57] dsudduth commented on #948
@sauryadas, @jnoller - Any updates or timeline on this? I ask because we're currently attempting to leverage AKS with advanced networking which has been troublesome. MSFT Solution Architects are referring to this feature as the defacto solution moving forward.

[2019-10-25 04:26] sauryadas commented on #948
private clusters should be available by early dec. What exactly are your issues with advanced networking?

[2019-10-25 05:19] dsudduth commented on #948
Hi @sauryadas - Thank you for the quick update!

I don't think the challenges have been a result of defects per se. I'm finding that the documentation would benefit from consolidation. For example, the best document regarding AKS CNI is https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni. However, it lacks requirements and considerations for firewall rules. Because of this, we had a tou

[2019-10-25 05:40] andyzhangx commented on #884
@mcurry-brierley could you provide more details about this issue? .e.g
 - pod description with error details
 - k8s verison
 - vmss or vmas (recently we hit a disk attach/detach issue in vmss, team are hotfixing this issue)

[2019-10-25 07:26] palma21 commented on #1287
I'm guessing your cluster is in Australia, sorry for that (and the two problems in a week, although the other one was lower on the stack it's not the experience we want to give).
The latest metrics server version does not work well in that region. We are hotfixing it right now. will update when done

[2019-10-25 07:28] palma21 commented on #1286
CC @CecileRobertMichon @jackfrancis

@TheMacStack recommend a support ticket, something abnormal happened during deployment for that to happen and it's better we find out and fix it with you

[2019-10-25 07:37] palma21 commented on #1278
Hello everyone,

Updating this ticket. I want to clarify there were two issues that were reported here as causes to disk attach and that the ETAs above are for one or the other. More below

**For the users experiencing disk attach/detach issues due to the Scale Set extension issue** the VMSS team is rolling out a hotfix to all affected clusters. No user action is required to apply this hotfix, on

[2019-10-25 08:24] OJezu commented on #1278
@palma21 we've been hit with 401 token refresh failure, not sure if this is connected to the fixes you have been rolling out

[code]

We are running 1.12.8, and our cluster has been otherwise stable for a while.

[2019-10-25 08:34] palma21 commented on #1278
Yours is different @OJezu, not an issue, your cluster service principal has simply expired. You need to rotate it :) https://docs.microsoft.com/en-us/azure/aks/update-credentials

[2019-10-25 10:45] OJezu commented on #1278
@palma21 thank you, that was indeed expired credentials in my case :roll_eyes: .

[2019-10-25 12:04] marcus-sa commented on #1278
@palma21 almost all your documentation for tasks in Azure Pipelines are invalid or outdated.
Take the Docker task as an example:
One page the Dockerfile input is referenced as `dockerfile` and then on another page it's `dockerFile`.
I find it awkward that I have to lookup the `task.json` definition of the Docker task just to figure out that the input key is actually `Dockerfile` even though it's n

[2019-10-25 12:55] sharkymcdongles commented on #1278
@marus-sa don't be so unreasonable about the documentation. They have to have something that actually works before they document it and as all of us alpha testers erm uh production customers know, it definitely doesn't work yet.

[2019-10-25 13:36] marcus-sa commented on #1278
Consistency is key @sharkymcdongles
What exactly do you mean by "alpha testers"?
The Docker task is above version 1 which is considered stable.
And what exactly is it people are supposed to know doesn't work?
I'm getting kinda confused by those statements.

[2019-10-25 13:56] sharkymcdongles commented on #1278
@marcus-sa did you not read the ticket you replied to? I was making a joke about how AKS and Azure as a whole has had so many problems with their disk implementation it is comical. When you run a kubernetes cluster and can't reliably count on storage being provisioned and moved between nodes for over a year then you can call it alpha quality at best. After 1.14 it has gotten better finally, but it

[2019-10-25 14:44] mcurry-brierley commented on #884
You can close this, as I have removed all resources and we have decided not to go forward with azure as a result.

On Thu, 2019-10-24 at 22:40 -0700, Andy Zhang wrote:

@mcurry-brierley<https://github.com/mcurry-brierley> could you provide more details about this issue? .e.g

  *   pod description with error details
  *   k8s verison
  *   vmss or vmas (recently we hit a disk attach/detach issue i

[2019-10-25 14:52] andyzhangx commented on #884
@mcurry-brierley I would say you may happen to hit this vmss disk attach issue which only happens in these two weeks, vmss team are hotfixing this disk attach issue. Just set up a VM Availability Set VM based cluster, I am pretty sure it won't have such issue. Just ping me if you hit such issue in slack.

[2019-10-25 15:30] vikalpj commented on #1014
@MikkelHegn Thanks for the confirmation.

The node seems to be updated now.

[2019-10-25 15:38] brobichaud commented on #1014
I have also successfully provisioned a new nodepool with the correct Windows version and moved all my workloads to it. I have re-deployed all of my pods with readiness probes re-enabled. I want to give it at least 48 hours to prove this fix is successful. I'll update this issue next week with results.

[2019-10-25 16:33] jason-epp commented on #1286
After reading this case, I reviewed my vms.
Accelerated networking is not enables ion clusters that were recently deployed.
I am having other network/conectivity issues.

Is this related to vmss enabled clusters?
Are you using extra node pools?

[2019-10-25 17:14] djsly commented on #1014
@ngrigoriev can we ask for the Probes to also be enabled on our side to reenforce the validation?

[2019-10-25 17:40] TheMacStack commented on #1286
In our case we are not vmss enabled or using extra node pools, we dont have any preview features enabled I dont think.

[2019-10-25 18:07] brobichaud commented on #1146
I created a new nodepool today and am seeing data flow into log analytics without having to manually connect it in the VMSS blade of the Azure Portal. I'm wondering if there was a fix on the AKS (or VMSS) side of things?

[2019-10-25 18:08] giggio opened #1288 "Enable Service Account Token Volume Projection"
**What happened**:

The Service Account Token Volume Projection is not enabled right now for AKS. According to the [docs](https://docs.microsoft.com/en-us/azure/aks/servicemesh-istio-install?pivots=client-operating-system-linux#install-the-istio-components-on-aks):

Because of this, support for Let's Encrypt with Istio does not work, as [it depends on SDS](https://istio.io/docs/tasks/traffic-manag

[2019-10-25 23:24] DreamRivulet commented on #1060
Is multi-zone master supported now?

[2019-10-26 01:36] palma21 commented on #1287
Closing, let me know if anything is not ok

[2019-10-26 01:36] #1287 closed

[2019-10-26 07:34] dbamaster commented on #1278
I'm having the same issue, deleted and recreated the PVC but it throws the same error.

[2019-10-26 11:18] #900 closed

[2019-10-27 07:53] worldspawn commented on #1287
Thanks @palma21. Everything seems to be working 👍

[2019-10-28 03:54] sauryadas commented on #948
@dsudduth thanks for the note. The private cluster work only enables a private network for the communication between the api server in our tenant and the AKS cluster in the customers tenant. Everything else remains the same.

AKS CNI is extremely helpful, but it does present some challenges when attached to a real-world, hybrid network (including express routes to on-prem), which is vast and not c

[2019-10-28 06:51] bhicks329 commented on #948
Hijacking this thread a little - please see this issue for details on some
problems with out of cluster communications.

Source IP does not persist outside of the vnet is a major issue. This
causes lots of issues when trying to apply different firewall rules to
nodes and subnets.

https://github.com/Azure/AKS/issues/1207

-Ben

From: Saurya Das <notifications@github.com> <notifications@github.com>

[2019-10-28 06:53] bhicks329 commented on #1288
Looks like a duplicate of https://github.com/Azure/AKS/issues/1208

Would be great to get a specific answer on this.

[2019-10-28 08:17] ronendayan commented on #1278
Any update about this ?

[2019-10-28 09:35] rmetzler commented on #585
@jskulavik I don't know how you do this all, but I think the faster clouds have pools of unassigned resources which don't need to be instantiated but can just assigned to tenants.

[2019-10-28 10:34] tommyJimmy87 commented on #205
Thanks @GramozKrasniqi for your answer but I hope that there are other way rather then set up Istio, which I don't really need in this case.

[2019-10-28 10:53] claudod commented on #968
Hi, thanks for this feature. The ordinary question: any idea on the ETA for GA ?

[2019-10-28 14:00] MikkelHegn commented on #1277
Hi @hallgeirl - to further diagnose the issue, please open a support case through the Azure Portal. Thanks - We can keep this issue open to post the result of the investigation back here.

[2019-10-28 14:21] jurgelionis commented on #1278
FYI Issue is still prevalent:
[code]

[2019-10-28 14:49] gpictonmg opened #1289 "Unable to enable insights.containers metrics"
Hi there

I have two clusters in one of my subscriptions.

One was made a few weeks ago and one was made much more recently.

I am unable to to turn on the metrics that show up under insights.containers/nodes or insights.containers/pods on the newer cluster.

I have tried using the cli to enable the roll as outlined here:
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insi

[2019-10-28 16:23] brobichaud commented on #1014
We've now been running for over 72hrs with readiness probes enabled and have seen no issues whereas we were seeing issues after just 36 hours in the past. Looks good!

[2019-10-28 16:46] marcus-sa commented on #1278
(1.15.5, 1.14.8, 1.13.12) that is in the process of rolling out this week (keep an eye on our release notes, I will also cross post here)

Still no patch released.
Why tell us that the patch will rollout by the end of last week when it didn't?

[2019-10-28 16:53] palma21 commented on #1278
Thanks @marcus-sa I will follow up on those, feel free to keep pointing any issues on the doc gh. The first one is not really on the AKS side but I'll reach out to the team. The second we will update, is the documented version not working for you?

With regards to versions, I meant that we started the rollout last week, not that it would conclude everyone, it's currently in several regions already

[2019-10-28 16:56] palma21 commented on #1278
@jurgelionis thanks for reporting, have you followed the above guidance to re-image and detach if necessary?

The VMSS fix mentioned above that will mitigate that issue is confirmed to land around end of this week to all clusters. I'd recommend doing the mitigation as it will be faster for everyone affected and will be a one time, after the affected VMs are re-imaged the issue would not happen.

[2019-10-28 17:10] gpictonmg commented on #1289
Cluster that has insight.containers metrics working version: 1.13.10
Cluster that does not work version: 1.13.11

[2019-10-28 19:43] denniszielke commented on #1207
Is the order of AppGW and AzFW relevant to you? Since AppGW cannot forward traffic from internal to external having a fixed source ip address on the pods will probably not help you. However if you put the AppGW in front of the AzFw it should work.

[2019-10-28 22:49] dsudduth commented on #948
@sauryadas Thanks for the updates!

Again, no bugs here. But, the barrier to entry for Azure CNI is a bit steep. To introduce a single cluster, you must:

1. Dedicate a subnet large enough to handle node count, container IPs (30 per node if staying with the default), and IPs for the internal load balancer.
2. Meet the Kubernetes Service address range requirements:
    - Must not be within the virt

[2019-10-28 22:55] vijaygos commented on #884
@andyzhangx , we seem to be hit by this on our production environments as well. I'll ping you on teams (internal) to see what we can do with this problem. In general, I agree with @mcurry-brierley on how annoying this is. We have had way too many issues with VMSS in the last 6 months and I am really tempted to track their team down and ask them for their SLA and where they have been wrt to the SLA

[2019-10-28 23:21] huangyingting commented on #118
@andyzhangx and @jnoller , do we have any updates on this to change default storageclass from AKS?

[2019-10-29 02:05] griffinator76 commented on #1180
I am getting the same error trying to update an existing cluster to attach an ACR:
[code]
generates the error
[code]
I have the "global admin" role.

[2019-10-29 08:05] hallgeirl commented on #1277
@MikkelHegn - Thanks, I have done that now. Ticket number: 119102921000300

[2019-10-29 09:40] jurgelionis commented on #1278
I have tried all the options apart from re-imaging, as in my mind that would be a last resort solution.
However, since that is your recommendation and our cluster has been in an unhealthy shape for quite some time now, I'll re-image all of my affected VMSS and update this comment with how successful (or unsuccessful) that process was.

Thank you for your comment!

[2019-10-29 11:26] 99ACA commented on #1269
The issue was not related to Azure.
The service-provider had close the connection.

[2019-10-29 11:26] #1269 closed

[2019-10-29 11:46] asbjorne commented on #1014
I'm having similar issues and want to check the windows version of the nodes.
What is correct windows version of the node (with the mentioned corrective windows update) and how do I verify that my nodes are running this version? I have RDP access to the nodes.

[2019-10-29 12:17] djsly commented on #1014
Check the OS profile in the VMSS tab using the azure Portal.

[2019-10-29 12:25] asbjorne commented on #1014
Thanks! The version of my new nodes is 17763.557.20190604 (nodepool created yesterday). I'm currently running 1.14.6. I'll try to do an upgrade and re-check the version number after.

[2019-10-29 12:45] vishnujanardhanan commented on #1248
@palma21 i'll test and come back in few days.

[2019-10-29 12:50] hockeykozo commented on #1278
@palma21
[code]
Is this issue only for 1.13.X - 1.15.X, not for 1.12 and earlier version?
Similar disk detach issue happens at similar timing at version 1.12.8 cluster.

[2019-10-29 13:15] marcoboffi commented on #1060
just a clarification..if pod has got some volume mounted (example dynamic pvc with azure disk ZRS), are volumes remounted after pod switch?

Regards

[2019-10-29 13:27] sylus commented on #1278
Problems again today with 5 of our 6 VM's in a failed state and can't even reimage as get this error. I also did launch a few AKS clusters over the weekend and as soon as turned off over night, they all are in failed state with disk issues. Really hoping a fix is forthcoming, this is plainly reproducible.

[code]

[2019-10-29 13:31] brobichaud commented on #1014
@asbjorne you are looking for Windows version 10.0.17763.737 on your Windows nodes. After upgrading to 1.14.7 of k8s you'll want to create a new nodepool to get the new version. It may also work to then upgrade your nodes to the latest image in the VMSS blade of the Azure Portal.

[2019-10-29 13:55] andyzhangx commented on #1278
@sylus when did you create the new AKS cluster? VMSS team has just completed a hotfix deployment on 10/28 10PM PT except following 3 regions, after that time, there should be no such disk issues.
  	useast
	uscentral
	asiasoutheast

For the old cluster, scaling up the vmss instance count to n+1 may solve this issue per vmss team's statement.

[2019-10-29 14:05] ngrigoriev commented on #1014
@asbjorne I have noticed that the "systeminfo" command shows N/A instead of complete version number. I do not fully trust what is shown in the portal :) But I have found that "ver" command actually does show the complete version:

[code]

[2019-10-29 14:54] brobichaud commented on #1014
@ngrigoriev using this command gives you the detail you need:

`kubectl get nodes -o wide `

[2019-10-29 16:38] palma21 commented on #1259
Hi all, apologies on the delay for update but we were working on it. We identified the race condition at create and this was shipped on last week's release. We don't expect you to encounter this problem again during create. Please let us know otherwise.

Closed as fixed.

[2019-10-29 16:38] #1259 closed

[2019-10-29 16:58] mlushpenko commented on #1121
Also had this issue today. Not sure if it's exactly the same, but errors were identical, restarting some nodes helped and then when one pod kept crashing, we drained the node and then on another one it worked just fine. Any suggestions on how to prevent it in the future?

We are using cilium for network policies, I think it adds some routes, so maybe that is somewhat related.

@chelnak

[2019-10-29 17:05] palma21 commented on #1278
@jurgelionis glad it's solved! Unfortunately Re-imaging is really required is most these cases as it allows the extension to have the latest version.

@hockeykozo it's not k8s version related (https://github.com/Azure/AKS/issues/1278#issuecomment-546240356)
It's related to an extension issue for some nodes created before Oct 18th. Mitigation step of re-imaging and above steps should mitigate in al

[2019-10-29 17:21] CecileRobertMichon commented on #1286
@TheMacStack do you have nodes of the same size (Standard DS15 v2) that have accelerated networking enabled? I can confirm that accelerated networking is supported on that VM size and should get enabled by default on AKS nodes of that size according to https://github.com/Azure/aks-engine/blob/master/pkg/helpers/helpers.go#L133. Will look out for your support ticket.

[2019-10-29 18:17] chelnak commented on #1121
Couple of interesting things that we learnt here:

We deploy AKS to an existing subnet that is managed as part of another
lifecycle. AKS Is responsible for managing the route table that attaches to
this subnet. However, the virtual network deployments are not in anyway
idempotent. The route table would get removed from the subnet each time we
deployed our virtual network and blow up the cluster.

[2019-10-29 19:20] TheMacStack commented on #1286
Hi @CecileRobertMichon yes we have 5 other clusters all on same node type that it is enabled (all in different subscriptions and built a few weeks earlier).

The response on the ticket was that it was something that has been patched and the clusters will need to be rebuilt or manually enable for current + new nodes until we can justify another rebuild.

[2019-10-29 20:39] asbjorne commented on #1014
After doing upgrade of k8s on the node pool, it's now running version 10.0.17763.737. Hopefully this resolves our issues with the node loosing network connection ability outside the cluster.

Thanks everyone for your help!

[2019-10-30 03:33] mingtwan commented on #102
We are experiencing the same issue when I deployed some statefulSet which contains some PVC, seems disk provisioning caused this problem, in the node's "Resource health" page it says "We're sorry, your virtual machine is unavailable because of connectivity loss to the remote disk"

[2019-10-30 03:54] oak13 opened #1290 "Allow Key Vault Flexvol to be mounted on Windows pods and nodes"
**What happened**:
When trying to use Flexvol with Windows pods we receive error below:
Unable to mount volumes for pod XYZ timeout expired waiting for volumes to attach or mount for pod

**What you expected to happen**:
If flexvol was vailable for Windows pods and nodes, we would expect to use the Flexvol.

**How to reproduce it (as minimally and precisely as possible)**:
Create a Flexvol and dep

[2019-10-30 06:51] chelnak commented on #1121
The unknown health check error is a know issue apparently. It’s iptables
related.

I was told that they had deployed some sort of mitigation for this.. but am
still seeing it in one of the newest versions.

Are all of your clusters in the same resource group? Just curious.

On Tue, 29 Oct 2019 at 21:28, Maksym Lushpenko <notifications@github.com>
wrote:

[2019-10-30 10:19] mlushpenko commented on #1121
Nope, resource group per cluster (and then extra resource groups created by AKS itself). I guess they could be in the same group, but we created a terraform module which creates all of that together.

[2019-10-30 11:13] chelnak commented on #1121
I was just curious because you mentioned the thing about the activity log.

Did you manage to get the bad node back up?

On Wed, 30 Oct 2019 at 10:20, Maksym Lushpenko <notifications@github.com>
wrote:

[2019-10-30 11:17] mooperd commented on #102
I'm fairly convinced this problem is due to disk performance getting so
slow that the nodes can't write logs fast enough.

On Wed, 30 Oct 2019, 03:34 mingtwan, <notifications@github.com> wrote:

[2019-10-30 12:08] jnoller commented on #102
@mooperd you’re probably right. If you have a cluster with a 1 tb disk, that I think is a p4 class premium disk with a maximum iops of 200, which means that the OS disk IO is so high due to disk IO contention this occurs.

[2019-10-30 12:22] mooperd commented on #102
I think its more a problem of the underlying infrastructure. I have seen
disk r/w down to 10Kb/s on Azure instances.

Lower standard IOPS on nodes wouldn't necessarily be a problem as the
writing wouldn't be synchronous - the operating system would stream them to
disk.

Anyone seeing this issue should have a look at top on all the nodes (not
just the one affected) and see if any of the processes a

[2019-10-30 12:35] jnoller commented on #102
@mooperd I've been debugging this for the service. You're right in most normal IO cases, and top will not show the underlying throttling of the OS disk. Go back to my example:

Node, 1tb OS disk, running linux.

A 1tb disk on that page has a maximum IO - but it also has a maximum IOPs - 5000 Max Iops per disk, and that is **your OS disk**

Now, factor in the size of the containers - larger docker

[2019-10-30 13:06] mlushpenko commented on #1121
Nope, we cordoned it, drained and then cluster autoscaler removed that node. Hope new nodes won't have similar problems.

[2019-10-30 16:35] #1118 closed

[2019-10-30 17:53] ramakrishnateja opened #1291 "az aks nodepool add with cluster autoscaler failing when node taints are specified"
aks node pool provisioning in failed state after 1 + hr when creating them with node taints and cluster autoscaler enabled.

This is for a cluster with basic kubenet networking and standard load balancer enabled and network policy of calico.

az aks nodepool add --cluster-name $config.name `
         --name $nodePoolToAdd.name `
         --resource-group $config.resourceGroup `
         --enable-c

[2019-10-30 20:38] tblazina opened #1292 "Copying file into a directory in pod linked to Azure File Share more than two times using kubectl cp throws error"
**What happened**:
I have copied a local file to a directory in a pod which is VolumeMount of a PVC linked to an Azure File Share using `kubectl cp some_file <some-namespace>/<some-pod>:/volume_mounted/directory/in/pod`, changed the file once copied it again, and changed  and copied it a third time and received the following error:

[code]

After this if I `exec` into the container and go to where

[2019-10-30 21:47] misterjoshua commented on #791
Hi @sideeksh. Thanks for getting back to me. Sorry for the delay. I've been on sick leave. I sent you an email just now.

[2019-10-30 22:04] palma21 commented on #1278
All regions are patched by the VMSS team this morning. You still need to do a PUT to the VMSS to intake it. (scale up and down would do it)
If the cluster is already on a bad state you might have to do the mitigation above.

[2019-10-30 22:32] pkrishnath commented on #733
+1

[2019-10-31 02:52] brobichaud opened #1293 "Windows nodepool upgrade did not wait for pods to start - causing downtime"
**What happened**: Upgrading a Windows nodepool to a new k8s version and Windows version caused downtime of my workloads.

**What you expected to happen**: For the upgrade process to complete without any downtime of my workloads that have multiple replicas.

**How to reproduce it (as minimally and precisely as possible)**: I upgraded the cluster control plane from k8s v1.14.6 to v1.14.7. All went

[2019-10-31 13:20] porrascarlos802018 opened #1294 "API REST calls failing for customer, support team not defined for documentation."
Documentation
https://docs.microsoft.com/en-us/rest/api/aks/agentpools/createorupdate#create/update-agent-pool
lacks of additional clarification on if it is supported or not, internally iis not clear if this is supported or not .

is it possible to use the REST API to scale up node pools using automation account runbook? What are the limitations or requirements?
154428323

**What happened**:

**Wh

[2019-10-31 13:27] basclaessen opened #1295 "Service feature externalTrafficPolicy: Local is not always preserving the client source IP for a UDP service"
**What happened:**
For a UDP service of type loadbalancer with the feature externalTrafficPolicy: Local enabled the client source IP is not always preserved. Also the UDP packet is not always routed to a running pod.

**What you expected to happen:**
The client source IP is always preserved when enabling the feature externalTrafficPolicy: Local.
All UDP packets sent to the loadbalancer will be rou

[2019-10-31 14:05] andrei-dascalu commented on #141
this happens constantly to me on newly created AKS cluster

[2019-10-31 19:51] jluk commented on #1294
This API is for multiple nodepools, which is in preview. Preview features are supported to the below standard, however the good news is the multiple nodepools feature is entering GA next week so it will be fully supported and open for support tickets if needed. Hope this helps.

https://docs.microsoft.com/en-us/azure/aks/support-policies#preview-features-or-feature-flags

[2019-10-31 19:51] #1294 closed

[2019-10-31 19:54] jluk commented on #1291
@ramakrishnateja could you open a support ticket for this issue? It is not expected that the nodepool would fail provisioning entirely and we'd need to get our hands on the cluster. Closing this issue in favor of using the support path.

[2019-10-31 19:54] #1291 closed

[2019-10-31 20:11] ramakrishnateja commented on #1291
Hi jluk,
you can replicate this pretty easily using the below arm template. Its not specific to a single cluster. we are able to consistently replicate this

{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "string",
            "metadata": {

[2019-10-31 21:56] jluk commented on #1291
@ramakrishnateja I tried a repro with the below test command and had it run successfully. Can you share the error you received? I can try to help diagnose via github, but you'll get the most rapid resolution via support ticket.

[code]

[2019-11-01 00:23] hockeykozo commented on #1278
@palma21  Thank you for the comment. Let me confirm one more thing.

I think this comment is for the problem "For the users experiencing disk attach/detach issues due to the Scale Set extension issue" (All regions are patched by the VMSS team and VMSS scale up / down will resolve this issue.)

What about "the users experiencing attach/detach issues due to API throttling issues"?
Is this issue only

[2019-11-01 13:54] ramakrishnateja commented on #1291
@jluk  I would suggest trying out with the arm template i have pasted. If i run the same arm template with out node taints on agentpools its working fine and provisioning quickly

Here is the error i have got

Deployment failed. Correlation ID: b5b492d4-854d-447e-971b-e0891281f426. Not all nodes reached Ready state. Expected: 0, Actual: 2
command ran in 2733.714 seconds.

[2019-11-01 14:35] wronda opened #1296 "BROKEN: kube-proxy iptables restore verbose spamming updates to endpoints"
**What happened**:

I perform log-collection with Datadog and I've noticed kube-proxy is very verbose when it comes to logging. It appears an iptables restore is ran every 30 seconds outputting the following. What's more is that it's interpreted as an error.

[code]

**What you expected to happen**:

Can we control how verbose kube-proxy is or increase the interval at which those rules are checked

[2019-11-02 00:45] BernieWhite commented on #1282
@al3xisb Can you confirm that the AKS service principal (used to set up the cluster) has the network operator in the for the `aks-subnet` subnet of your virtual network.

[2019-11-04 10:49] akhan4u commented on #632
I am still facing the same issue. The DNS is throwing intermittent 403 errors.

[code]

[2019-11-04 16:27] dror-weiss commented on #52
@xenalite , I agree, but with a very logical change.

If the node count is at least 1 the masters should cost nothing just like the current offering, but when the nodes count is set to zero the customer should pay for keeping the masters alive.

For our use case, this is the optimal solution. We use GPU-based node (expensive VMs), and forcing us to pay for the control plane will cost much less tha

[2019-11-04 16:31] IanKnighton commented on #318
I'm also having the same issue. I'm in the process of moving from GKE to AKS and I can't finish the move until I can sort out this issue with the HPA.

[2019-11-04 16:32] jluk commented on #287
This feature is now generally available, thank you everyone for your patience and feedback on this important feature. Documentation can be found at aka.ms/aks/nodepools. Closing.

[2019-11-04 16:32] #287 closed

[2019-11-04 16:35] jluk commented on #1060
This feature is now generally available, please visit aka.ms/aks/zones for more information.

@marcoboffi you will need to specify the pod deployment to request for a volume. Details are in the below kubernetes documentation about persistent volumes and claims.

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#lifecycle-of-a-volume-and-claim

[2019-11-04 16:35] #1060 closed

[2019-11-04 16:38] yaariyuval commented on #1050
@jluk any update on this issue now that multiple node pools are GA? Thanks in advance!

[2019-11-04 16:39] jluk commented on #947
This feature is now generally available. Closing, if you encounter any further questions or issues feel free to open a new issue.

[2019-11-04 16:39] #947 closed

[2019-11-04 16:55] slynickel commented on #967
Is this still in preview or is it now GA? I've noticed that the documentation for this features no longer states `(preview)` in the name and no longer requires turning on a preview feature gate. If this is not GA I'll open a doc issue.

https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges

[2019-11-04 17:55] jluk commented on #1050
@yaariyuval this work is still in planning, we expect to complete it but was not a GA blocker for the all-up feature. Be on the lookout in the coming months for us to close on this one.

[2019-11-04 18:29] sauryadas commented on #967
Its GA now.. You can now enable the feature at create.. docs for that should be updated by early next week ... You can install the azure cli v 2.0.76 and try out the create scenario.
https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.0.76

[2019-11-04 18:29] #967 closed

[2019-11-04 19:09] asbjorne commented on #1293
I experienced the same behaviour. Our images are about 2 GB in size. In some cases it might take 10 minutes downloading them on a new node.
I think I've experienced this also just by creating a new node and draining an old one without doing an upgrade.

[2019-11-04 23:42] jeff1985 commented on #323
Custom kubelet config would also allow to solve #686 which is failing an important deployment on my cluster

[2019-11-05 00:16] sharkymcdongles commented on #118
I also need a fix for this @andyzhangx pretty plz <3

[2019-11-05 01:52] henrylilei commented on #323
I settled with updating the kubelet config using Kured, please check out this [gist](https://gist.github.com/henrylilei/733e4b2b5256c348a2c5ca46a48175da). It works with VMSS and HPA/CA, but this feels like a hack to me and I would love to see AKS to support this natively.

[2019-11-05 03:17] djendrju87 opened #1298 "AKS Docker Hub secrets can not be used on new nodes deployed by autoscaler."
**What happened**:

I am dealing with some issues on Kubernetes on Azure (AKS) using Autoscaler and secrets for pulling images from Docker Hub.
I created the secret in my applications namespace while having 3 nodes enabled (initial cluster status).

`kubectl create secret docker-registry mysecret --docker-server=https://index.docker.io/v1/ --docker-username=<docker_id> --docker-password=<docker_pa

[2019-11-05 09:08] xinity opened #1299 "typo in latest release link"
Hey there,

Thanks a million for the latest release, looking at the changelog,
see below, perhaps it would be cool to fix it ?

**What happened**:
seems there's a typo somewhere:
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-rangesa
**What you expected to happen**:
https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges
**How to reproduce it (as minimally a

[2019-11-05 11:56] abelal83 commented on #610
@andyzhangx how does this affect scaling? For example, if the initial cluster was created with 100GB disk, we then manually expand disk to 200GB but then add another node will that still create a agent with 100GB?

There has got be a better way of changing node settings such as pod count and disk space, the solutions that are always given is "recreate cluster" which is easier said than done when w

[2019-11-05 12:18] andyzhangx commented on #610
@abelal83 are you running out of os disk or data disk? it's quite different.

[2019-11-05 12:28] abelal83 commented on #610
@andyzhangx I believe it's OS disk space but I'm not a Linux expert (yet!)

$ df -H
Filesystem      Size  Used Avail Use% Mounted on
udev             17G     0   17G   0% /dev
tmpfs           3.4G  2.9M  3.4G   1% /run
/dev/sda1        32G   28G  3.8G  88% /
tmpfs            17G     0   17G   0% /dev/shm
tmpfs           5.3M     0  5.3M   0% /run/lock
tmpfs            17G     0   17G   0% /sys/fs/

[2019-11-05 12:35] andyzhangx commented on #610
32G os disk is really too small, we cannot expand os disk for an existing cluster. You may create another new agent pool(make sure you first agent pool is vmss) specifying `os-disk-size` as a bigger space. Back to your case, there are two ways may help:
 - `du /var/log/* -sh`  # clean up /var/log/ files
 - use a daemonset to clean up unused docker images more aggressively
[code]

[2019-11-05 12:48] abelal83 commented on #610
yeah 32GB is small indeed, tbh the guy who set this up (much like the rest of us at the time) didn't really know what he was doing.
Is there any way to expand the disk? Even if it means we manually do it each time a new node is added when scaling?

[2019-11-05 12:53] andyzhangx commented on #610
You cannot change os disk size of existing cluster, pls add another agent pool with bigger os disk.
The daemonset is automatic, it will clean up unused images every 60s, while if your running docker images are big, it may not help.

[2019-11-05 13:14] ncole commented on #1088
Is this still slated for December?

[2019-11-05 13:26] abelal83 commented on #610
not an option for us to add another pool as cluster was setup before node pools were available :(
will try that daemonset and hopefully it makes a difference.

I've have to be very honest here about AKS, we've been using it for 2 years now and almost everything that is useful is only available if we create a new cluster, I have no idea how MS expect people to keep creating new clusters then migrat

[2019-11-05 13:48] jluk commented on #1088
As of today, this is still on plan by end of December. This is subject to change but will update this issue if it does.

[2019-11-05 14:04] mlushpenko commented on #1114
@andyzhangx  would it be an option to improve the error message about the minimum size requirement? Thanks for your reply, worked like a charm after setting the proper size.

[2019-11-05 14:14] al3xisb commented on #1282
@BernieWhite thanks ! i think you got it (Microsoft.Network/virtualNetworks/subnets/join/action and Microsoft.Network/virtualNetworks/subnets/read)

[2019-11-05 14:14] #1282 closed

[2019-11-05 14:41] feiskyer commented on #1295
opened a bug on Kubernetes here: https://github.com/kubernetes/kubernetes/issues/84800. Let's use Kubernetes issue for tracking.

[2019-11-05 14:41] #1295 closed

[2019-11-05 15:38] sharkymcdongles commented on #1278
I went to upgrade my cluster to get it to have the aks-engine version that had the fix applied (0.41.5). I used az aks upgrade command going from k8s 1.14.7 to 1.15.5. Now I see tons of these api throttling issues:

`  Warning  FailedAttachVolume  116s (x13 over 119s)  attachdetach-controller  AttachVolume.Attach failed for volume "censored" : compute.DisksClient#Get: Failure responding to request

[2019-11-05 17:22] palma21 commented on #1278
@hockeykozo you are correct. For the trotting issues you should start using kubernetes versions 1.13.12, 1.14.8 or 1.15.5. https://github.com/Azure/AKS/releases/tag/2019-10-28

[2019-11-05 17:30] davestephens commented on #1278
@palma21 @sharkymcdongles I'm on the phone to MS support now, I'm seeing the same API request limit issue as you after upgrading to 1.15.5. Will update as I know more....

Side node, my cluster autoscaler is totally broken too, not sure if that's a feature you're using.

[2019-11-05 17:47] palma21 commented on #1278
To be clear the API limit is exactly the same, that is by VMSS design, those versions just adjust the call pattern to mitigate. You don't have any other clusters in that sub using VMSS as well?
Cluster autoscaler also needs to be on the latest version as it's one of the main API callers.

For the throttle, I would propose using a dedicated issue, I can walk you through it. Do send the ticket # if

[2019-11-05 18:00] davestephens commented on #1278
There is 100% a bug in your implementation of the disk mounting in 1.15.5, which is causing the autorest API to issue a throttle, which in turn is causing PVCs to fail to mount. eg right now I see:

[code]
I'm not saying the API limit has changed, I'm saying your disk mounting code in 1.15.5 is broken:

`x1430 over 8m26s`

1430 times? In 8 minutes?

[2019-11-05 18:08] sharkymcdongles commented on #1278
@palma21 I have opened a request here: 119110522002379. The 429 is back with the same error:

`Warning FailedAttachVolume 116s (x13 over 119s) attachdetach-controller AttachVolume.Attach failed for volume "censored" : compute.DisksClient#Get: Failure responding to request: StatusCode=429 -- Original Error: autorest/azure: Service returned an error. Status=429 Code="SubscriptionRequestsThrottled" M

[2019-11-05 18:18] davestephens commented on #1278
Totally agree with everything @sharkymcdongles has said - disk mounting has been rubbish for as long as I've been using AKS - every single mount starts with a "failed to mount", and eventually works after an indeterminate amount of time.

I'm currently running a large POC and we're looking at using AKS for a pretty serious production application - and there's literally no way I could put my name t

[2019-11-05 18:27] jayush commented on #1088
Thanks @jluk for the update. Will this feature be released as a preview feature or GA feature in December?

[2019-11-05 18:49] marcus-sa commented on #1278
@davestephens AKS doesn't know how to delete K8S resources properly either, so good look using Helm.
I have to manually delete Stateful & Replica Sets, because AKS doesn't do it.
Yeah, and there's several other issues with their loadbalancers and IPs.
Overall AKS is no where production ready.

[2019-11-05 20:19] sharkymcdongles commented on #1278
I finally was able to get my cluster back online after 26 hours from hitting y on the upgrade dialogue to start the process. It took a bunch of manual actions where I would use az cli to reconcile what azure portal/api had vs what k8s thought was going on. They seemed badly out of sync when it came to which disks were where and this lead to all the bad api calls from what I can see.

**Useful comm

[2019-11-05 21:48] jpushpanathan commented on #614
When I tried creating aks cluster using kubenet plugin and custom vNet I got the above mentioned error : Could not create a role assignment for subnet. Are you an Owner on this subscription?
Deployment failed. Correlation ID: xxxxxx-xxx-xx-xx-xx. All nodes did not reach Ready state. Expected: 2, Actual: 0
The service principle has  roleassignment permissions on the ResourceGroup on which the AKS i

[2019-11-06 01:53] vaikzs commented on #1284
We are facing the exact same issue. Try removing VMSS (multi-node pool extension) feature and have only 1 node pool

[2019-11-06 07:13] abidahmeds opened #1300 "single instance of Tunnelfront pod not enough , AKS cluster is not completely HA"
whenever the Tunnelfront pod has a issue or upgrade happens or restarts once in a while, even if it is for few minutes - cluster access to logs, helm /tiller execution , container attach etc fails. When a cluster is in production environment with 24/7 testing or production payload, logs pulled or charts created , even if for few mins tunnelfront pod is down or being replaced with a new image or re

[2019-11-06 12:24] easkay-castlight commented on #1274
@jluk I would recommend that the [docs for specifying static egress IPs within AKS](https://docs.microsoft.com/en-us/azure/aks/egress) should be updated, as there is no mention of the special cases of standard load balancers compared to basic.

Even just a note with a link explaining that there is a difference would be helpful. Is this something that could be done please?

[2019-11-06 12:39] kalyan123i commented on #274
HI, I have similar issue yesterday and have observed in all the environments which are using same vnet.

[2019-11-06 13:27] jluk commented on #1274
Ack, in-flight @easkay-castlight FYI @zr-msft / @mlearned on priority for updating this egress doc

[2019-11-06 13:38] jluk commented on #1299
Thanks for the callout, we've updated it!

[2019-11-06 13:38] #1299 closed

[2019-11-06 13:45] jluk commented on #1260
Closing this as stale after a month, if you hit this again please comment with requested info. Thanks!

[2019-11-06 13:45] #1260 closed

[2019-11-06 14:28] abelal83 commented on #610
after being in a desperate situation we die this succesfully and recovered over 60% disk space

[code]

I think what happened for us is the image layers and dockers own reference went out of sync, so while docker prune cleared some space it wouldn't do it all unless we manually removed from overlay2 folder.

Hope this helps for anyone else in a desperate situation!

[2019-11-06 14:59] jluk commented on #1168
@phpai can you share the pod spec that is deploying the runner?

From this error are there any updates being attempted?
[code]

[2019-11-06 15:02] jluk commented on #1290
@ritazh does flexvol support Windows? I'm not positive that is expected support.

[2019-11-06 15:06] davestephens commented on #884
@vijaygos @andyzhangx Has there been any progress on this? VMSS are totally unusable with AKS, which obviously means multiple nodepools are out of the window.

Following a lengthy support call with Andy Wu in your support team, he advised I give up on my previous cluster and create a new one. As a test I've deleted a pod to reschedule it elsewhere, and already seeing the `Volume is already exclusi

[2019-11-06 15:10] RicardoNiepel commented on #1168
Cross linking two related GitLab issues:
- https://gitlab.com/gitlab-org/gitlab-runner/issues/4664#note_230497049
- https://gitlab.com/gitlab-org/gitlab-runner/issues/3256#note_135771816

[2019-11-06 15:14] jason-epp commented on #1284
Thank you for your suggestions.  That is what we end up doing to make it work.

[2019-11-06 15:25] andyzhangx commented on #884
@davestephens Your issue `Volume is already exclusively attached to one node and can't be attached to another` looks like a different issue, the error info is from k8s volume controller which means the volume is not unmounted from the previous node. Could you open a new issue and provide more details, e.g. aks version, vmas or vmss, full describe pod info, etc.
VMSS issue has been resolved last we

[2019-11-06 16:06] mcurry-brierley commented on #884
@vijaygos and I have a point.  This is a production product?
Asking me to completely remove and redeploy a kubernetes cluster just because your cloud isn't properly configured is not acceptable.  Also attaching a PVC is a BASE FUNCTION.  It not working for ANY amount of time is UNACCEPTABLE.  Dont offer services if they are not enterprise grade.

[2019-11-06 16:54] jeremypsncf commented on #1296
I have the same problem with AKS 1.13.10. Have you a reponse of this problem ?

[2019-11-06 17:24] xtrc commented on #1296
@jeremypsncf No response yet.

[2019-11-06 17:26] ritazh commented on #1290
Unfortunately, Key vault flexvol does not work on Windows yet. Here is the issue we use to track this feature: https://github.com/Azure/kubernetes-keyvault-flexvol/issues/103

[2019-11-06 19:51] jluk commented on #1290
Closing as a result, please reference the dependent flexvol issue shared. Thanks.

[2019-11-06 19:51] #1290 closed

[2019-11-06 21:36] ramakrishnateja commented on #1291
@jluk  Not sure why you closed this bug. as its a clear bug in AKS. it can be replicated with setting the network policy as calico. What if I do not have the support plan in Azure.  How do i address this issue. I am able to  so consistently replicate the issue.

Its so baffling how the issue is closed and asking me to go through support route.

[2019-11-06 21:39] ramakrishnateja opened #1301 "User supplied noSchedule taints break calico networking pods"
please use the arm template to clearly replicate the issue and please do not close this bug with out trying to replicate and asking me to go to resort to support for this.

{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "string",
            "metadata": {

[2019-11-06 21:40] ramakrishnateja commented on #1301
@jluk  can you please look in to this issue

[2019-11-07 01:45] mathieu-benoit commented on #1154
Looks like this one could be closed since the associated (https://docs.microsoft.com/azure/aks/use-network-policies) has been updated, @jluk @sauryadas

[2019-11-07 09:23] #1154 closed

[2019-11-07 13:09] sharkymcdongles commented on #1278
Still crickets on this? Way to stand by your product guys. :+1:

[2019-11-07 13:12] ruedigerp commented on #70
Create Static IP with --sku Standard. Without --sku Standard IP is created with SKU Basic.
Basic Static IP cannot use for Loadbalancers.

Take a look into the activity log, you see a warning like this:

Standard sku load balancer /subscriptions/55aa..../resourceGroups/MC_kubernetes-dev-kubernetes-dev-cluster_northeurope/providers/Microsoft.Network/loadBalancers/kubernetes cannot reference Basic sk

[2019-11-07 14:03] epa095 commented on #642
It can use more CPU if needed **and if there is cpu available**. In a high-load situation it is not guaranteed more than requested, so it should definitely request at least what it needs to have to operate properly in a high-load situation.

[2019-11-07 14:07] jluk commented on #1291
@ramakrishnateja the goal was strictly to keep expectations on resolution for github issues. Opening a support ticket will 100% lead to dedicated people to resolve it, github is best effort from product folks who are most often outside of regular working hours answering these and does not guarantee the fastest path to resolution.

My goal was to ensure you have one source of truth for getting help

[2019-11-07 14:15] jluk commented on #1301
Acknowledging we're working with our support team to diagnose the problem. The latest info should be able to be found through the SR (119110624005588) but I will try to relay the same information here.

[2019-11-07 14:20] juerup commented on #1278
There definitly is a serious problem with disks in AKS 1.15.5
I created a very simple 4 node cluster, deployed a statefulset with 32 replicas and disks there. After draining two nodes disk information  between Azure vm and k8s was inconsistent, deleteing statefulset and pvc brought all pv in state failed, vmss instances show messages like

'VM: '/subscriptions/xxx/resourceGroups/MC_sdaf_dd_westeur

[2019-11-07 14:21] andyzhangx commented on #1263
let me know if you have any question, close it now

[2019-11-07 14:21] #1263 closed

[2019-11-07 14:26] jnoller commented on #642
If you are seeing tunnel front failures and other errors in your worker node logs, this will be due to IO pressure and contention on your OS disk. Each disk size for the OS has a set cap of IOPS which is a hard quota. If a VM has an IOPS max higher than the disk the disk limit takes precedence.

Look in the portal at host level metrics. More than likely the OS disks are saturated leading to docker

[2019-11-07 14:56] invidian opened #1302 "Allow to control upgrade policy for VMSS pools"
Currently, when you create AKS cluster with VMSS node pool, the pool has `Upgrade policy: manual` set and it seems there is no way to set that during creation time. Additionally, when changed after creating the cluster, the upgrades won't trigger the cordoning on the node, as [kured](https://github.com/weaveworks/kured) would do. I have a following question:
- if I use Kured, which will reboot the

[2019-11-07 15:35] eivim commented on #632
Same observed with nodes running on 4.15.0-1061-azure. Intermittent 2.5 second DNS lookup delays. Using alpine images almost exclusively, so had to move our traffic to GKE for the time being. Works fine there.

[2019-11-07 19:12] jluk opened #1303 "[Feature] Cluster automatic upgrade for K8s versions"
**What happened**: Today, cluster upgrades require manual intervention and explicit setting of the major.minor.patch versions for Kubernetes. This process must be done at semi-regular intervals to stay within the supported window of Kubernetes versions and would benefit from reduced friction.

**What you expected to happen**: User is able to opt-in to using automatic upgrades for a given AKS clust

[2019-11-07 19:21] jluk commented on #997
Closing as this went live as of 11/4.

[2019-11-07 19:21] #997 closed

[2019-11-07 19:21] jluk commented on #996
Closing as these regions went live as of 11/4.

[2019-11-07 19:21] #996 closed

[2019-11-07 19:22] jluk commented on #1001
Closing as these 2 regions went live as of 11/4.

[2019-11-07 19:22] #1001 closed

[2019-11-07 19:47] palma21 opened #1304 "CoreDNS - use forward plugin instead of proxy plugin moving forward"
AKS will update the coredns images to v1.6.6 on the upcoming releases.

The use of the "proxy" plugin in CoreDNS is deprecated in [CoreDNS v1.5.0](https://coredns.io/2019/04/06/coredns-1.5.0-release/)+ in favor of the "forward" plugin.

AKS asks that all users leveraging the deprecated "proxy" plugin replace it with the "forward" plugin.

AKS will notify customers to use the "forward" plugin to fo

[2019-11-07 19:59] jluk commented on #1266
Adding @MikkelHegn who is driving virtual nodes work, @michaelbpalmer my best guess is the delay you are witnessing is incurred by image pull/decompress. What's your image size / base?

AFAIK the premium ACR storage will help with concurrent pulls if making on the order of hundreds simultaneously, but won't increase throughput of individual pulls.

[2019-11-07 20:18] jluk commented on #1301
We believe it is due to a calico daemonset not tolerating all possible taint permutations with noSchedule that could land on a node. The gap caused by this is an inability to use Calico networking with user defined taints which specify noSchedule, you can only use noExecute taints until this gap is resolved.

The work to fix noSchedule scenarios with calico has been logged and this issue will rema

[2019-11-07 20:48] jluk commented on #1288
Closing this as a duplicate of #1208, let's converge on that issue to track the latest for this. Thank you everyone.

[2019-11-07 20:48] #1288 closed

[2019-11-07 20:49] jluk commented on #1208
Thanks for report and consolidation to this issue.

We're planning on enabling this functionality for users, acknowledging this request as we work on this internally.

Once we have a reasonable ETA we will share, thanks for your patience.

[2019-11-08 01:27] DreamRivulet commented on #450
any update for the podpreset support？

[2019-11-08 06:49] zuehlke-dea commented on #632
As moving our workloads to another cloud provide is no option for us we have added this workaround for now:

`dnsConfig:
    options:
      - name: single-request-reopen`

added in the spec for the deployment.
See also https://github.com/Azure/AKS/issues/667

The DNS issue was really a problem for us, as some service had timeouts lower than 5 seconds configured for connections which caused a lot o

[2019-11-08 07:54] jeremypsncf opened #1305 "AKS Worker Load Average Exploding randomly"
**What happened:**

Randomly one or two worker exploding the Load Average and CPU, what causes the liveness probe in timeout and all pod on the node reboot in same time. The load grow to 150-200.

there is no load or application pods that increases resource utilization.

![image](https://user-images.githubusercontent.com/54796343/68459144-db43cd80-0204-11ea-9b90-2f8f8acd9fd6.png)

What you expecte

[2019-11-08 11:36] piotrgwiazda commented on #274
Also able to reproduce it
[code]

Each node shows the same details
[code]

[2019-11-08 11:42] henrylilei commented on #1278
I am hitting this badly these past two weeks. Lots of 429s and vmssCSE timeout. We have production traffic serving on AKS and today support gives us cluster update commands that brought down entire traffic due to PV detach issues and 429s.

Any updates on this? Can you please at least inform support that update cluster/aksengine will trigger 429 so that support could raise the api threshold before

[2019-11-08 16:22] sylus commented on #1278
Is anyone else filing support tickets ? We are and having support look into it but really hoping others are. Really started to get worried that this is isn't visible to Microsoft when so many people are hitting this in AKS and AKS engine.

[2019-11-08 16:47] jnoller commented on #1278
@sylus We are painfully aware and working across Azure to resolve.

[2019-11-08 16:50] jnoller commented on #1278
This repository is governed by the code of conduct located here: https://opensource.microsoft.com/codeofconduct/. Continued personal and other attacks not relevant to issue identification and resolution will be deleted

[2019-11-08 19:40] sharkymcdongles commented on #1278
thanks for finally acknowledging the issue. wish the support team would do the same instead of ignoring my tickets...

[2019-11-08 22:48] rventuri76 commented on #601
I run into this as well
i simply had to delete the ClusterRoleBinding:
`kubectl delete ClusterRoleBinding kubernetes-dashboard`

and then I recreated it
`kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard`

[2019-11-10 19:07] epa095 opened #1306 "Use realistic resource requirements for Tunnelfront"
**What happened**:
I looked at the tunnelfront deployment resource requirements, and it shows
[code]
I do `kubectl describe` on the pod, and I see
[code]
137 means it has been OOM killed, so the requested memory is to little in certain situations.

**What you expected to happen**:
I expect the requests to reflect what tunnelfront will need in a high-load situation so it does not get killed when th

[2019-11-11 12:28] MikkelHegn commented on #1266
@michaelbpalmer - to narrow this down, what's the comparable spin-up time for the container directly against ACI? https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstar

[2019-11-11 14:06] arbreezy commented on #400
The issue that I have currently is, at the second run of terraform , it will try to dissociate the route table of AKS cluster from the vnet's subnet - using kubenet plugin.

Of course, having this life cycle policy resolves the issue.
`` lifecycle {
    ignore_changes = [
      "route_table_id",
    ]
  }``

Terraform version: 0.12.8
Azurerm provider: 1.34.0

[2019-11-11 15:32] uipo78 opened #1307 "Pod stuck in ContainerCreating state because of CNI failure"
**What happened**:
Pod stuck in `ContainerCreating` because `NetworkPlugin cni failed to set up pod "fluentd-fluentd-elasticsearch-98knf_logging" network: unexpected end of JSON input`.

**What you expected to happen**:
Pod starts up successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Not really sure. I don't even know why this is showing up in the first place.

**Anyt

[2019-11-11 15:34] midhun-mohan opened #1308 "Container Logging Backoff event to Log Analytics during scale down using HPA"
**What happened**:
We are using Horizontal Pod Autoscaler in our AKS cluster and is configured for CPU as  "  targetCPUUtilizationPercentage: 70".
HPA works perfectly during scale up.
But during the scale down , it logs event with following data to log Analytics
"""Reason: BackOff
Message: Back-off restarting failed container"""

**What you expected to happen**:
There should not be any events as a

[2019-11-11 15:39] immunochomik commented on #1308
We are seeing CrashLoopBackOff for omsagent-rs pod in k8s 1.14.8 after scaled down

[2019-11-11 16:20] J0F3 commented on #400
@arbreezy yes and I think it is actually the only way to “resolve” it currently (the lifecycle definition) because the route table association is something that is done by AKS outside of the scope of Terraform.

[2019-11-12 09:28] davestephens commented on #1278
@jnoller please can you give some sort of ETA and/or actions taken so far?

Myself and many others have wasted a lot of time and money on this (you guys refund infra costs but not people time costs) - so it'd be good to know what's *really* being done other than you telling us you're aware of the issue.

[2019-11-12 10:33] palma21 commented on #1278
Hello all,

We apologize on the time and issues this may have caused. This thread has branched into a set of multiple issues and respective causes, so will try my best to explain the few cases we received on this, their causes, mitigation and fixes.

1. The initial `the disk is currently being detached or the last detach operation failed` issue was a rollout bug cause by an incompatibility of a ne

[2019-11-12 12:40] sharkymcdongles commented on #1278
What about this error message?:

` Warning  FailedAttachVolume  3m28s (x58351 over 3h7m)  attachdetach-controller                  AttachVolume.Attach failed for volume "censored : azure - cloud provider rate limited(read) for operation:GetDisk`

58000 retries in 3 hours seems crazy.

@palma21

[2019-11-12 12:52] langecode commented on #884
We are actually experiencing something similar here. We had a failing instance in a VMSS based cluster. After deleting the instance it seems the Kubernetes control pane still sees the disks as attached. Looking in the Azure portal (or using the Azure CLI) the disks are unattached however starting up the POD we get the following status:

[code]

Its like Kubernetes has cached the information that t

[2019-11-12 15:11] djsly opened #1309 "AKS supports defining a system-pod node pool to prefer scheduling & consolidate per nodepool constraints"
**What happened**:
With the requirement to have a default node pool with AKS, we would like to create a small agent pool dedicated for the workload that AKS deploys.

**What you expected to happen**:
Right now, even though I can add a taint on the nodes for the default agent pool, I cannot provide extra configuration for the kube-system pods to add tolerations

**How to reproduce it (as minimally

[2019-11-12 19:10] mafischer commented on #510
@weinong I am experiencing this issue currently.

[2019-11-12 22:15] mustermania commented on #884
hi all, I'm not sure if this is the same issue or not... but, I performed a k8s version upgrade on our non-prod node today.  During that, one of the nodes died and caused problems.  After restarting that node, the service that runs on that node wouldn't redeploy and is stuck in a perpetual `Multi-Attach error for volume "pvc-77113250-15a7-11e9-ad5d-0a58ac1f0bbd" Volume is already used by pod(s) je

[2019-11-13 01:32] susanhuhu commented on #1278
we are still seeing this "FailedAttachVolume  13s (x6 over 31s)  attachdetach-controller  AttachVolume.Attach failed for volume "pvc-353cc50e-05a9-11ea-b782-000d3a6e45e1" : Attach volume "speech-develop5-dynamic-pvc-353cc50e-05a9-11ea-b782-000d3a6e45e1" to instance "/subscriptions/3a96ef56-41a9-40a0-b0f3-fb125c2b8798/resourceGroups/scm__speech-develop5/providers/Microsoft.Compute/virtualMachineSca

[2019-11-13 01:36] susanhuhu commented on #1278
We still see this. seems the issue is not solved. FailedAttachVolume  13s (x6 over 31s)  attachdetach-controller  AttachVolume.Attach failed for volume "pvc-xxxxx" : Attach volume "speech-develop5-dynamic-pvc-xxxx" to instance "/subscriptions/key/resourceGroups/scm__speech-develop5/providers/Microsoft.Compute/virtualMachineScaleSets/k8s-xxxxx" failed with compute.VirtualMachineScaleSetVMsClient#Up

[2019-11-13 01:38] palma21 commented on #1278
That is the same issue as above # 3)
Please try the manual mitigation script, we are working to push the fixes through the upstream gates as fast as possible.

[2019-11-13 01:53] djsly opened #1310 "Support SerialConsole for Agent Pool VMSS"
Feature Request

We would like to be able to control the DiagnosticSettings of the AgentPool when creating an AKS cluster.

Boot Diagnotics is required for Serial console debugging:
[code]

Right now: both https://github.com/Azure/azure-sdk-for-go/blob/master/services/containerservice/mgmt/2019-06-01/containerservice/models.go#L1747-L1784 and https://github.com/Azure/azure-sdk-for-go/blob/master/s

[2019-11-13 02:10] susanhuhu commented on #1278
In the migration script, it needs node name and PV name.  what is the node name please? is it the vm name?  and for PV name,  I followed https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv and it only has step on how to create PVC.  So should I use the PVC name to run the script?  Where shall the script be run please?  On any VM in the cluster?

[2019-11-13 02:15] andyzhangx commented on #1278
hi everyone, if you hit disk issues on vmss, pls provide your k8s version and error in brief, we already identified two disk issues:
•	attach/delete disk race condition: https://github.com/kubernetes/kubernetes/pull/84917  (meanwhile VMSS team are still working on ValidateAndProtect disk feature)
•	attach/detach disk dirty cache issue: https://github.com/kubernetes/kubernetes/pull/85158

Dirty cac

[2019-11-13 03:58] palma21 commented on #1278
@susanhuhu yes the node name is the VMSS VM name and the PV name you should find it in the above logs.

You can run the script from any machine, including your local machine, that has the azure CLI installed and logged in.

[2019-11-13 04:10] palma21 commented on #1278
If you are hitting the above disk issues and need help to mitigate or believe the issue should have already been addressed please open a ticket and provide your kubernetes version and ticket number.
As shared above we have already identified and PRed:
• attach/delete disk race condition: kubernetes/kubernetes#84917
• attach/detach disk dirty cache issue: kubernetes/kubernetes#85158
In specific the

[2019-11-13 04:14] palma21 commented on #1241
Closing this issue as fixed since patch versions <1.14.7 are no longer supported on AKS and all later patches have this fix.

[2019-11-13 04:14] #1241 closed

[2019-11-13 04:14] palma21 commented on #1262
Closing

[2019-11-13 04:14] #1262 closed

[2019-11-13 16:17] mcurry-brierley commented on #884
@langecode I still have not gotten a resolution.  See below:
[Azure Selling a Broken Cloud](https://www.mattcurry.com/2019/11/06/azure-is-selling-a-broken-cloud-k8s/)

[2019-11-13 16:29] jlogsdon opened #1311 "Tunnelfront connection failures causing tiller issues"
**What happened**: In the East US region my helm chart installation is consistently stalling while waiting for deployments to come up. Five times in a row I have seen the tiller pod stop output at a `2019/11/13 16:10:13 Pod is not ready` state. I've found that shortly after the last log is output in tiller I see this in tunnelfront:

[code]

Eventually the tiller deploy times out:

[code]

Purging

[2019-11-13 16:45] jluk commented on #1200
Revisiting - apologies for delay.

@mlushpenko if that work around covers your scenario that's great since it would be locked to the MC RG and it fits your deployment style. Mentioned previously placing custom action on managed iaas by AKS isn't a directly supported scenario so if certain resources or edge cases are not caught by that solution it is at your own discretion.

We are going to deliver

[2019-11-13 18:19] MicahMcKittrick-MSFT commented on #1216
@microsoftdocs/aks-pm

[2019-11-13 18:20] MicahMcKittrick-MSFT commented on #1216
Adding @jluk @sauryadas @palma21

[2019-11-13 19:56] susanhuhu commented on #1278
@palma21 ,  today the issue's sympotem changes. Now I got this when starting the pod.  It firstly says successful attach volume, then timeout waiting for volume to attach or mount. Is it still the same issue?

110s        Warning   FailedMount                    pod/qiohupwstest                                                                 Unable to mount volumes for pod "qiohupwstest_default(xx

[2019-11-13 20:13] gsandi commented on #339
There is change in the command that C123R has posted. Here is the latest command
`az aks update-credentials -g MyResourceGroup -n MyManagedCluster --reset-service-principal --service-principal MyNewServicePrincipalID --client-secret MyNewServicePrincipalSecret `

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-update-credentials

[2019-11-13 21:23] sram30 commented on #980
Do we have any update on GA date for Windows Container support in AKS?

[2019-11-14 01:56] palma21 commented on #1278
@susanhuhu from that log it looks like the attach succeeded, if not I'd need some info on the your cluster to take a look, if you have a support ticket please drop it here and I can use it to see those details.

@sharkymcdongles the amount of retries are an issue here due to the deadlock state from the above issues, but I agree it's too big. We are changing that on subsequent versions https://gith

[2019-11-14 02:39] giggio commented on #1278
I am having the exact same problem as @susanhuhu . My log is almost identical.

[2019-11-14 02:40] giggio commented on #1278
BTW, my cluster was created 15 minutes ago, on 1.14.8.

[2019-11-14 06:31] aelij commented on #629
As an alternative to Azure Disk Encryption, you could use a new feature (now in preview) - [Server-side encryption of Azure managed disks](https://azure.microsoft.com/en-us/blog/preview-server-side-encryption-with-customer-managed-keys-for-azure-managed-disks/), which encrypts the disks at the storage level and supports any OS.

[2019-11-14 06:46] andyzhangx commented on #629
We already added SSE+CMK support on data disk in k8s v1.17.0: https://github.com/kubernetes/kubernetes/pull/84605, os disk encryption support would also be on that version

[2019-11-14 08:47] slavizh opened #1312 "Applying Managed identity with ARM template fails on re-deploy"
Hi,
I have ARM template that I am deploying to create new managed cluster. I am specifying the creation of Managed Identity like this in the resource.

[code]

Creating the cluster for the first time succeeds and the MI is also created. Re-deploying with the same code fails with message:

Changing property 'identity' is not allowed.

this means that the resource provider does not honor ARM templat

[2019-11-14 10:01] mlushpenko commented on #1200
Thank for the reply @jluk. This policy has been working great so far for us. We just want all resources to be tagged per `environment`, `instance` and `tenant`, so that would include storage and networking as well. Those tags define our billing structure if I understood you correctly. The policy I shared does exactly what we need and what I put in issue description - propagates tags to every depen

[2019-11-14 10:27] anjz opened #1313 "AKS Cluster Autoscaler stopped working"
**What happened**:

We are using Kubernetes Cluster Autoscaler provisioned by AKS using the `--enable-cluster-autoscaler` flag.
After being working as expected for some time, it suddenly stopped working. It is not adding new nodes despite having Pending pods or removing nodes when they are underutilized.

This is the cluster autoscaler log message that we get every 10 minutes:

[code]

It looks li

[2019-11-14 10:29] immunochomik commented on #1313
We see the same issue in our cluster, the autoscler works for few hours and then stops
!!!

[2019-11-14 12:21] angrox opened #1314 "Standard SKU Loadbalancer does not use own static public ip as outbound IP"
I want to create an AKS cluster with the Standard SKU Loadbalancer. I have created a public static ip (SKU Standard) in another resourcegroup and want to bind the static IP address to the AKS loadbalancer as incoming AND outgoing ip address-

**What happened**:
Azure AKS Standard Loadbalancer creates managed IP and uses this as outgoing IP.

**What you expected to happen**:
I want my own public IP

[2019-11-14 12:22] angrox commented on #1314
I tried the following:

* Set managed IPs to zero: az aks upgrade -g <rg> -n <name> --load-balancer-managed-outbound-ip-count 0
-> does not work. No errors, just no effect. Managed IP still there.

* Deinstall nginx and publish my public ip as lb ip:
az aks update -g <rg> -n <name> --load-balancer-outbound-ips <public ip address path>
-> Sets my ip as first ip address in the lb. When I try to inst

[2019-11-14 13:21] slavizh opened #1315 "Error when MI is used along with agentPools API in ARM template"
When using Managed Identity and you create pools with ARM template and Microsoft.ContainerService/managedClusters/agentPools api you get error like

 "Provisioning of resource(s) for Agent Pool pool3 failed. Error: {\n  \"code\":
\"InvalidTemplateDeployment\",\n  \"message\": \"Deployment failed with multiple errors:
'Authorization failed for template resource 'akslz0001-agentpool' of type
'Micros

[2019-11-14 13:30] slavizh commented on #1315
In the resource group for the nodes there is one error about role assignment. I am not sure if it is related. the error is the following:

"statusMessage": "{\"error\":{\"code\":\"PrincipalNotFound\",\"message\":\"Principal 9a9e1bfc789f4673bec92c0d0c188ce2 does not exist in the directory 2e08e47d-98e2-4798-86a2-bbca94b25616.\"}}"

[2019-11-14 13:35] slavizh commented on #1315
Also I have tested adding additional pool with command :

az aks nodepool add --resource-group myResourceGroup --cluster-name myAKSCluster --name cls001 --node-count 3 --kubernetes-version 1.13.12

I am getting the same errors and this time operation fails even in CLI.

[2019-11-14 17:09] jmcshane opened #1316 "Issue creating AKS Cluster with Terraform - Service Principal Invalid"
**What happened**:

AKS cluster failed to provision with this error:

azurerm_kubernetes_cluster.aks: Error creating Managed Kubernetes Cluster "abc123" (Resource Group "zyx987"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending request: StatusCode=400 -- Original Error: Code="BadRequest" Message="The credentials in ServicePrincipalProfile were invalid. Please see https://aka

[2019-11-14 17:09] jmcshane commented on #1316
Created as per recommendation in https://github.com/MicrosoftDocs/azure-docs/issues/42742

[2019-11-14 18:17] mlushpenko commented on #1301
@jluk any way to confirm that we have the same issue? our cluster isn't working right now, we use calico and by isn't working I mean this issue in tunnelfront:
[code]

Because of this, `coredns` and `metrics-server` aren't running and therefore the whole cluster.

and we have one node with `nvidia.com/gpu=true:NoSchedule` taint, how could I validate if it's the same issue?

[2019-11-14 18:21] jluk commented on #1316
@jmcshane are you seeing this SP error when provisioning without Terraform?

I read the related TF issue and it looks like it gets resolved after adding a sleep, which is a known issue in Active Directory that SP propagation is extremely slow and it's described a bit in issue #1206. It's possible your issues is directly impacted by that.

[2019-11-14 18:22] jluk commented on #1315
@feiskyer do you know who from Thomas' team can help drive this feedback

[2019-11-14 18:28] jluk commented on #1309
@djsly thanks for opening this request, a few questions for folks.

1. Is your intent to dedicate the pool for the system-critical pods and not sched other apps to these nodes?
1. Is the cost impact of (1) a large issue if true or negligible? FWIW this is a good practice given isolation can help maintain health away from rogue apps without reqs/limits.
1. Is it important for you to be able to move

[2019-11-14 18:30] jluk commented on #1313
Thank you folks for the report, the AKS team is investigating and will communicate any discovery. Please upvote this comment if you started seeing this issue after 11/10.

[2019-11-14 22:53] AlexDHoffer opened #1317 "Clock skew detected in AKS clusters"
**What happened**:

- The Prometheus Node Exporter reports that there is clock skew detected. This occurs across multiple clusters hosted in the West US region through Azure.

**What you expected to happen**:

- Clock skew should be a non-issue with regards to the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy an AKS cluster and monitor the clock skew.

**Any

[2019-11-14 23:09] jluk commented on #1313
@anjz or @immunochomik can you please open a support request so our engineering team can take a look at your cluster? does it enter and stay in broken state or does it self-resolve at some point?

we've been unable to reproduce the issues provided on our own so would like to look at your clusters.

[2019-11-14 23:11] jluk commented on #1301
@mlushpenko this issue should only affect scheduling of calico pods so I don't believe it impacts tunnelfront, in order to get you the fastest help and resolution possible - could you open a support request to get some hands-on help?

[2019-11-15 04:16] djsly commented on #1309
our intent would be to leverage the default node pool as a static node pool where we could un system-critical pods related to the infra, no application pods/services.

The main driver is that the node pool can be easily created/removed except for that single one.
When performing VM upgrades, it is often the case where we will have to create a new node pool (windows) to get the latest base image, d

[2019-11-15 09:54] immunochomik commented on #1313
@jluk We have already done it

[2019-11-15 09:55] immunochomik commented on #1313
It is not a problem with our particular cluster, it is clearly a bug on your side just fix it pleas !!!

[2019-11-15 10:06] davidwneary commented on #1194
I've also run into the same issue - did either of you make any progress?

[2019-11-15 18:50] michaelbpalmer commented on #1266
Sorry for the delay -- I'll try to get results back to you by Monday.

In the interim, one question: Is there any caching done on your end? In other words, do I pay the full image download and container instantiation cost every time the container is spun up on the virtual node? If so, that's really a deal breaker for many of my use cases for Functions + AKS + Virtual Nodes.

[2019-11-15 20:31] jluk commented on #1313
@anjz Could you share your support ticket number so I can track for updates from my side?

We understand you are experiencing an issue, as stated I was unable to reproduce the problem. With your ticket we'll have on-call SREs investigate. By being able to reproduce or get details on the issue  from specific clusters we are able to faster diagnose and resolve the issue.

[2019-11-15 21:50] ams0 opened #1318 "InvalidApiVersionParameter when using Cluster autoscaler and managed identity"
**What happened**:

Cluster autoscaler (deployed with helm chart) throws an `InvalidApiVersionParameter` error

**What you expected to happen**:

CA to run fine

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy a 1.15.3 with `--enable-managed-identity` flag
- Retrieve the `principalId` of the MSI created and assign Owner role to the sub (overkill, I know)
- Deploy CA wit

[2019-11-16 23:57] giggio opened #1319 "Helm chart stable/mssql-linux fails with Sql Server 2019"
**What happened**:

If you try to run Sql Server 2019 on AKS using the Helm Chart `stable/mssql-linux` it fails. 2017 run fine.

**What you expected to happen**:

To run like 2017 runs.

**How to reproduce it (as minimally and precisely as possible)**:

Create the namespace:

[code]

Create the PVCs:

[code]

Create the release with Helm:

[code]

**Anything else we need to know?**:

The Helm Char

[2019-11-17 01:36] giggio commented on #1319
I did a little digging, and this is definitely related to the fact that the chart is mounting the master data file, by setting the env var `MSSQL_MASTER_DATA_FILE` (see https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-configure-environment-variables?view=sql-server-ver15#environment-variables).

This is only an issue on AKS, and only when using the 2019 tag. I can't figure out why this

[2019-11-17 06:58] feiskyer commented on #1318
@ams0 Thanks for reporting the issue, seems we need to make some updates in CA for compute api-version

[2019-11-17 07:41] feiskyer commented on #1315
@norshtein could you help to take a look?

[2019-11-17 21:05] marrobi commented on #709
Just hit this today, would be nice if ```AllowVolumeExpansion: true``` was in the pre provisioned storage classes.

[2019-11-17 21:17] agronholm commented on #709
Indeed. Sure, you can edit the storage classes and add that but why is it not the default when it works?

[2019-11-18 07:03] GuyPaddock opened #1320 "Existing AKS Cluster Suddenly not Resolving DNS"
**What happened**:
We've had an AKS cluster deployed since February 2019 that's been stable until tonight. As of 11:30 PM ET on 2019-11-17, it seems as though all DNS requests -- both for hosts inside the cluster (e.g. `redis.myapp-dev`) as well as hosts outside the cluster (e.g. `myapp.mysql.database.azure.com`) -- have stopped being resolved.

If I [SSH into a node](https://docs.microsoft.com/en

[2019-11-18 08:53] evenh commented on #1002
This region is GA tomorrow ;-)

[2019-11-18 09:38] MikkelHegn commented on #1266
If it's a custom container, then yes. What are your requirements for the container to be ready for this to not be a deal breaker?

[2019-11-18 10:21] anjz commented on #1313
Here the support ticket number: 119111522000486

[2019-11-18 13:13] mlushpenko commented on #1301
Opened ticket `119111822001379` in case you can see the details or help out with troubleshooting :)

[2019-11-18 14:45] GuyPaddock commented on #1320
Azure support had me take the following actions:

Not sure how this would restore DNS to a functional state, but I tried it. It did not have an effect.

As a last resort, I drained, rebooted, and un-cordoned each node in our three-node cluster one-by-one. After the last node came was un-cordoned, DNS seems to have come back up with it!

Although I am happy that a reboot of the nodes have mitigated

[2019-11-18 16:11] mlushpenko opened #1322 "Tunnelfront pod can't reach API server nor via DNS, neither via IP, so the whole cluster is broken"
**What happened**: I think node networking is somehow broken, `coredns` pod is constantly restarting and `tunnelfront` is running but can't reach API server.

**Anything else we need to know?**:

`coredns` logs taken from docker (as `kubectl logs` is hanging):
[code]

in this case, `coredns` can't reach Azure DNS. Same happens for the `tunnefront` pod:

[code]

I also tried to skip DNS via overrid

[2019-11-18 16:48] GuyPaddock commented on #1320
I did come across a post of another user on another provider having similar issues:
https://www.digitalocean.com/community/questions/kubernetes-coredns-not-working-for-external-address

They, too, fixed the issue by rebooting nodes but for them it was only a temporary fix. I am hoping that the issue does not become recurring.

[2019-11-18 19:25] jnoller commented on #1322
https://github.com/Azure/AKS/issues/102#issuecomment-547880117 - please see this comment. the failure above is usually caused by the workload saturating the OS disk IOPS and causing the crash.

[2019-11-18 19:53] GuyPaddock commented on #1322
I, too, ran into a CoreDNS that brought our cluster down last night. It seemed as though either traffic was not getting to CoreDNS or it was failing to resolve all requests. In my case, though, CoreDNS did not report any errors and was not cycling.

Linking here just in case these are related:
https://github.com/Azure/AKS/issues/1320

We were not doing any heavy IOPS-workloads at the time, though

[2019-11-18 21:04] jnoller commented on #1322
@GuyPaddock  You don't think it was IOPS intensive, but if you're using a DS2v_3 with a 100gb OS disk, the OS disk maxes out at 500 IOPS. That means 3-4 containers running (docker host IO counts are 3-4X the in-memory kube metrics data)

[2019-11-18 21:05] jluk commented on #1318
FYI @marwanad

As for the SP differences reported I *think* it's due to the preview limitation for MI right now which still requires an SP for add-ons but @feiskyer can correct me.

[2019-11-18 21:18] ormico opened #1323 "integrate backup and restore with Azure Recovery Service Vault"
I would like to be able to backup AKS like I do my VMs and other assets, perform restores as replace or restore copy. Backups should include all configuration as well as any volumes. Would also like to be able to restore to a different region.

[2019-11-18 21:23] GuyPaddock commented on #1322
Could be possible. In my case, I had to drain, reboot, and un-cordon each of the nodes in the cluster to get networking + DNS back up. I get that IOPS exhaustion can cause problems -- but I had been deploying and testing the same app throughout Saturday the 16th and Sunday the 17th without issue. It was only a final deployment at around 11:30 PM ET on the 17th where the cluster decided it was unha

[2019-11-18 21:25] jnoller commented on #1322
Yes, pod (container) imbalance would cause this especially on a small cluster. You need to enable monitoring for the IO queue depth, Host-level IOPs metrics - when the queue depth spikes, that's usually when SDN and other components get starved

[2019-11-18 21:28] scottymcraig commented on #1069
This is still happening.  However, my error is different:

`Deployment failed. Correlation ID: *****. Creating the customer provisioned DNS Zone failed. Details: autorest/azure: Service returned an error. Status=412 Code="PreconditionFailed" Message="The Record set ***** exists already and hence cannot be created again."`

[2019-11-19 01:28] ams0 opened #1324 "Scaling a MI-enabled cluster fails"
**What happened**:

Scaling of a cluster deployed with `--enable-managed-identity` fails.

**What you expected to happen**:

Correctly scaling up and down of the cluster.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a cluster with:
[code]

Scaling up fails with:
[code]

The funny part is that the objectID `49facfd4-19c2-4b38-91af-6263b285ca29` is nowhere to be found i

[2019-11-19 03:13] norshtein commented on #1312
/assign @norshtein

[2019-11-19 06:14] norshtein commented on #1324
Thanks for reporting, we found the root cause, the issue will be fixed soon.

[2019-11-19 06:15] norshtein commented on #1315
Thanks for reporting, we found the root cause, the issue will be fixed soon.

[2019-11-19 13:57] droessmj commented on #632
Seeing similar issues that we've worked around (temporarily for only a few services) with a `dnsPolicy: Default` setting. Will also try the single-request-reopen option specified above.

We're running debian based dotnet core 3 images, and our impacted hosts are showing kernel version 4.15.0-1063-azure

[2019-11-19 14:26] GuyPaddock opened #1325 "Alpine Linux Cannot Navigate Azure Files Mounts Reliably(SMB client issue in alpha image)"
When using Azure Files with Alpine-Linux-based containers on AKS, you may observe strange behavior when applications attempt to navigate folders containing more than 62 files. In fact, commands like `rm -rf` from CLI will fail with `rm: can't remove 'test': Directory not empty`.

A copious amount of more information (including repro steps, environment, etc) is available here:
https://gitlab.alpine

[2019-11-19 14:50] tehKapa commented on #318
Same here with v1.14.7

[2019-11-19 14:52] devkws commented on #318
@tehKapa @IanKnighton I was able to fix this by manually applying the kubernetes metric server.

[2019-11-19 15:09] tehKapa commented on #318
Did you apply this? https://github.com/kubernetes-incubator/metrics-server

[2019-11-19 15:10] devkws commented on #318
@tehKapa yes

[2019-11-19 15:17] tehKapa commented on #318
@devkws doesn't seem to be working

[2019-11-19 15:19] devkws commented on #318
@tehKapa remove your deployments, add the metric server, re apply deployments. It worked for me a week or 2 ago.

[2019-11-19 15:24] immunochomik commented on #1187
@jluk Could you tell us if that issue would affect a 'normal' workload when our cluster needs to scale up and down ~20 ~ 30 times a day  ? Can we monitor what is our usage of this limit ?

[2019-11-19 17:34] vishnujanardhanan opened #1326 "DNS lookup from aks pods takes more than 5 seconds"
**What happened**: DNS lookup from aks pods taken more than 5 seconds intermittently

**What you expected to happen**: DNS lookup should be quick

**How to reproduce it (as minimally and precisely as possible)**: ran a curl https://www.google.com and can see the name lookup taking time in curl's output. Attaching the curl output file.

**Anything else we need to know?**:

**Environment**:aks clust

[2019-11-19 17:39] cwebbtw commented on #1326
I've experienced similar on all AKS clusters provisioned in Azure.

A workaround has been to set `dnsPolicy: Default`, however with the dns policy set to `ClusterFirst` this is definitely able to be reproduced on 1.13.12.

[2019-11-19 17:39] aminekaabachi commented on #510
@weinong Experiencing the same issue.

[2019-11-19 17:46] jnoller commented on #1326
Please confirm that the OS disk on the worker nodes (core dns runs inside the cluster context) is not IO throttled. For additional information, please see: https://github.com/Azure/AKS/issues/1322#issuecomment-555169820 - I am working on full guidance on the issue.

[2019-11-19 17:58] cwebbtw commented on #1326
Thanks for your comment @jnoller.

I tested this by provisioning an AKS cluster with DS2_v2 nodes (x3) with only the default pods running on it.

Given I'm restricted to only choosing the machine type, is there a recommended **minimum** machine type that we should be using. I will check the IO asap and feedback.

[2019-11-19 18:10] jnoller commented on #1326
@cwebbtw  the VM SKU size doesn't actually dictate the OS disk IOPS, that's the *size* of the OS disk. Currently, your cluster has a default 100gb disk (P10 Premium SSD - 100 mbits/sec cap, 500 IOPS quota) - in order to change the disk size you can re-deploy the cluster using the ARM template and overriding the OS disk size setting (working on docs)

[2019-11-19 18:56] michaelbpalmer commented on #1266
All our containers are custom containers. We have two use cases (primary use case listed first):

1. The API is customer facing (called from our WebApp). In that case, we need the response time to be on the order of seconds (the time needed to instantiate the container). Even that is really too long, but we can do some tricks where we "warm up" the API in advance so that the perceived access time

[2019-11-19 19:35] cwebbtw commented on #1326
Thanks @jnoller, I wasn't aware that changing the disk size increased the IOPS.

I can see from the following capture that the disk size does determine the IOPS.

![image](https://user-images.githubusercontent.com/31657038/69179524-93298280-0b03-11ea-8aa0-680a3c70e49a.png)

I will check to see the current IO usage still.

[2019-11-19 20:09] arbreezy commented on #900
Do we have any update on this?
Having the same issue with two peered AKS clusters with azure cni network plugin.

[2019-11-19 21:25] ThomasComtet commented on #1320
Hi,
We've experienced exactly the same DNS problem last october 2019 on a production cluster with 5 nodes.
Kubernetes version was 1.11.x and still supported at the time.

Our reboot strategy was not perfect because the 5 nodes had to reboot the same night.
In the morning, the client call us indicating "my pods cannot connect to the database". Some nodes were not resolving and others did. The worki

[2019-11-19 21:36] jnoller commented on #1320
Please see this comment thread: https://github.com/Azure/AKS/issues/1326#issuecomment-555625505 - I suspect given the managed pods are fully functional, the latency spikes are due to IOPS quota throttling on the OS disk. I am working on full guidance for this.

[2019-11-19 22:30] jluk commented on #1187
I think previously it would be possible - but what version of k8s are you on now? @palma21 can correct me but the latest patch versions should have significant improvements on VMSS throttling.

[2019-11-19 22:33] jluk commented on #1301
This issue wrt calico scheduling should be resolved now per release notes: https://github.com/Azure/AKS/releases/tag/2019-11-11

[2019-11-19 22:33] #1301 closed

[2019-11-19 22:51] juerup commented on #1278
@palma21 can you please clarify about the current state of the mentioned fix to this?

You mentioned a patch for AKS 1.15.5 is pushed through upstream gates, how does this relate to https://github.com/Azure/aks-engine/releases which states AKS 1.15.5 is removed and we should go one step back to 1.15.4?

[2019-11-20 01:51] fhryo-msft commented on #984
Do we have an ETA on this?

[2019-11-20 02:14] DreamRivulet commented on #1060
May I know when availability zone will be available in South Africa? Is there an ETA for this ?

[2019-11-20 02:18] DreamRivulet opened #1327 "Availability Zone Support in South Africa."
Per the documentation: https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availability, Availability zones for AKS is not available in South Africa yet.
May I know there is any plan to enable this feature in South Africa? If yes, is there an ETA of this?

[2019-11-20 02:55] vishnujanardhanan commented on #1326
hi @jnoller, stats on OS disk seems to be below the thresholds for P10. Please find the screenshots - stats from 1700-1800 UTC. Time of test 1725-1728.

[2019-11-20 08:33] mleneveut commented on #1320
We just experienced the same kind of issue.

Our Datadog monitoring was not working any more, because the metrics-server was not able to find the API server.

[code]

[code]

We upgraded to 1.15.5 (North Europe) on 8th November, and it was working until recently (16th november looking at the lack of data in Datadog). We started to see the problem on Monday 18th November. I think there was Azure is

[2019-11-20 08:38] mleneveut commented on #1322
We had to kill all the kube-system pods to resolve a similar issue. The services had no endpoints and the deployments were saying 0/1 although the pods were saying Running without errors.

https://github.com/Azure/AKS/issues/1320#issuecomment-555897357

The symptoms were that the metrics-server pod could not reach the API server anymore.

`Error: Get https://xxx.hcp.northeurope.azmk8s.io:443/api/v

[2019-11-20 09:31] asbjorne commented on #1002
Norway East is available as a region when creating cluster now, but all node-sizes are unavailable.
Any idea when they will be available?

[2019-11-20 10:13] immunochomik commented on #1187
We are on 1.14.8

[2019-11-20 10:15] cwebbtw commented on #1326
I can confirm that we are also below the thresholds for P10 on the test cluster that I have created.

A quick thought on that matter regarding the workaround that I posted:

If the problem is IO throttling, then setting the dnsPolicy to Default shouldn't fix the problem should it, since DNS queries will still be going directly to the node.

[2019-11-20 10:37] aklepaker commented on #1002
What we did was open a quota request and we got access to the requested node types within a few hours.

[2019-11-20 11:07] mlushpenko commented on #1322
Thanks, @jnoller, we see some spikes on queue length
![image](https://user-images.githubusercontent.com/2006610/69232569-a2eca980-0b8b-11ea-8b36-c15206099d59.png)

We will try soon a new cluster with 512gb premium OS disks, is that a good size for production workloads? Seems a bit unfortunate that it's required to tune disk size to get reliable API server connection. I've found [best practices](ht

[2019-11-20 11:09] norshtein commented on #1312
Thanks for reporting. We figured out what happened, the issue will be fixed soon.

[2019-11-20 11:17] adam-yorwerth commented on #1326
Can confirm that we're also affected by this issue.

[2019-11-20 13:41] jnoller commented on #1326
Unless you are collecting the Linux host level IO metrics for the OS disk, and *not* looking at kube metrics, you’re probably throttled.

Unless you override the AKS disk size using arm from the default 100gb on the node the max IOPS quota is 500.

This means an e64v3 sku with say, a peak IOPs on the VM of 75000. If you have a 100gb drive, your max is in reality 500.

The disk stats your views are

[2019-11-20 14:38] jnoller commented on #1320
@mleneveut please see this comment from this morning: https://github.com/Azure/AKS/issues/1326#issuecomment-556008131

You need io queue depth on the vm worker level

[2019-11-20 15:24] KrzysztofKowalczyk commented on #1326
As we working with containers and don't care about persistence or hosts dying, can AKS be configured to use (and be bound by) the local (temporary) storage not by the NAS drive and it's size/IOPS?

[2019-11-20 16:03] mleneveut commented on #1320
@jnoller Our max disk queue depth on this cluster is 1.65 for the last 7 days.

![image](https://user-images.githubusercontent.com/3854415/69255072-79e20e00-0bb7-11ea-8ebc-123a911d9f82.png)

[2019-11-20 16:36] palma21 commented on #1187
Are you using the latest versions of cluster autoscaler? Do you have other clusters in this subscription with earlier versions of k8s?

[2019-11-20 16:42] jemag commented on #667
Still seeing the issue with kernel-version 4.15.0-1063-azure

[2019-11-20 18:26] jluk commented on #1060
@DreamRivulet currently Azure doesn't offer Zones in the South Africa region yet, I would advise tuning into the Azure Updates blog for when that would be available or checking in on the general IaaS zones document. https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

When Zones are available for general compute in Azure, you can expect AKS to follow up with support shortly after

[2019-11-20 23:10] GuyPaddock commented on #1326
@jnoller Assuming that an existing cluster is encountering this issue, what can be done? You mention customizing the OS disk size via ARM, but does this have to be done when the cluster is being created or can it be done when scaling the cluster?

[2019-11-21 10:58] ThomasComtet commented on #1320
hello,
I cannot confirm it 100% but I don't think we had IOPS throttling with our case.

[2019-11-21 12:14] yves-vogl commented on #1209
Has anyone solved this issue so far?

[2019-11-21 14:36] MikkelHegn commented on #1266
For the first use case it will be hard to meet that target with ACI through VN. You're currently better off with over provisioning VMs in a K8 cluster. And then eventually scale out to VNs (given you can buy yourself time with the over provisioned capacity). Another option would be functions or WebApps (but that would not meet your second requirement).

We are working on bringing both GPUs and Vir

[2019-11-21 16:18] jluk commented on #1327
Copying content from the other issue for others to see, Azure does not have zone support in South Africa. When that is enabled AKS is able to begin work to support this, this document will detail when Azure IaaS has that support.

https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

[2019-11-21 16:44] jluk commented on #1266
@MikkelHegn is there a way to use both cluster autoscaler and VN together today? That seems to be an important scenario but I'm not positive you can do it today due to toleration assignment forcing pods into VN and never triggering a CA scale event.

[2019-11-22 11:03] ezYakaEagle442 commented on #1303
Hi @jluk ,
This is very good news , this will make customer's life easier.
May I suggest that this new feature proposes as well some options to set some upgrade schedule rules , for instance not to perform upgrade/reboot during business hours on production cluster running mission critical apps ? The idea is similar to Kured [PR-66](https://github.com/weaveworks/kured/pull/66) giving new arguments

[2019-11-22 16:21] mikeeq commented on #1304
@palma21 when was the update supposed to take place? We recently updated our cluster to v1.13.12 and CoreDNS is still on v1.2.6.

[code]

[code]

[2019-11-23 01:29] palma21 commented on #1278
AKS while based on AKS-Engine is a managed service with an SLO so we patched the versions and you do not need to go back as you do on engine. Depending on which one you are using you should always follow the recommendation on the respective public GH.

All the aforementioned patches are already deployed on AKS https://github.com/Azure/AKS/releases/tag/2019-11-11

attach/delete disk race condition:

[2019-11-23 15:04] karok2m opened #1331 "Feature: az aks install helm"
**Is your feature request related to a problem? Please describe.**
I would like to have option to install and setup Helm through `az cli`, similar to installation of kubect through [az aks install-cli](https://docs.microsoft.com/cli/azure/aks?view=azure-cli-latest#az-aks-install-cli).

**Describe the solution you'd like**
* az cli operation similar to `az aks install-cli` to install Helm.
* An `az

[2019-11-24 02:54] silencev commented on #1278
@palma21 I had this issue last Friday and filed a support case 119112221000228.

The mount point suddenly became read only and lead lots of I/O error.

Do I need to upgrade from 1.14.7 to 1.14.8 to solve mount issue?

Thanks!

[2019-11-24 21:31] jacobvinzent opened #1332 "rewrite"
How can I make a rewrite from a an url to an kubernetes service. I see this example over and over again, but it is still not clear to me:

apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  test.server: | # you may select any name here, but it must end with the .server file extension
    <domain to be rewritten>.com:53 {
        errors
        cache 30

[2019-11-25 04:22] feiskyer commented on #1318
Right, this is due to MI is still under preview.

@ams0 May I know which region are you deploying the CA to? I rechecked the compute API, and found 2018-08-01 is supported on West Europe.

[2019-11-25 06:33] silencev opened #1333 "Persistent Storage Zone Issue"
**What happened**:
My AKS cluster was created in 3 different availability zones.
however, when I realize the Azure Disk is not able to cross zones,
I started to create another node pool with **zone 1 only**
[code]
When I deploy the StateFulSets with 2 replicas in newly created pool.
Only on replica create the PV in zone 1, another creates the PV in zone 3 or zone 2

[code]

**What you expected to

[2019-11-25 08:53] ruowan opened #1334 "Nodes allocatable status info all the same"
**What happened**:

I meet some issues about ephemeral-storage. Node has disk pressure and some pods are evicted due to the low ephemeral-storage. But I get node info about ephemeral-storage. All node has the same ephemeral-storage and I think it's sufficient. Is it correct?

**What you expected to happen**:
Every node has different allocatable ephemeral-storage.

**How to reproduce it (as minimal

[2019-11-25 09:39] delulu commented on #880
kindly ping on it, what's the latest status of this feature?

[2019-11-25 09:45] DaveAurionix commented on #767
@r-dilip Do you think this issue can be closed now?  The fix has been working perfectly for us for a while now (I didn't realise this was still open to be honest).  Thank you for addressing it.

[2019-11-25 10:03] frasmarco commented on #1087
Hello everybody,
any update on this?

[2019-11-25 10:12] Korijn commented on #1087
@jnoller to be clear, there are security implications to this issue: it's causing people to communicate between pods over http instead of https, which is a no-no in Kubernetes production grade security as far as I am aware.

[2019-11-25 11:16] Vandersteen commented on #667
I also am seeing this issue in kernel version 4.15.0-1060-azure

[2019-11-25 11:17] Vandersteen commented on #632
I can replicate this issue on a cluster with kernel version 4.15.0-1060-azure

[2019-11-25 13:23] ams0 commented on #1318
yes, was West Europe. Thanks for the link, I understand CA a bit more now (it would be great to have helm examples in that doc too).

[2019-11-25 16:35] juan-lee commented on #667
@jemag @Vandersteen Recently I've seen DNS timeouts being caused by high resource usage on the nodes where the coredns pods reside. Could either of you check your monitoring and see how saturated your CPU, memory, and disk are?

[2019-11-25 16:42] jemag commented on #667
@juan-lee I have  replicated this problem under various loads. Currently with all nodes under 18% cpu usage and memory at around 70% for each node the problem still happens intermittently. Disk usage is extremely low.

[2019-11-25 16:44] Vandersteen commented on #667
@juan-lee I have replicated this on 2 different clusters. 1 has 40% cpu usage & 60% memory usage. The other one has 20% cpu usage and 42% memory usage.

[2019-11-25 16:46] Vitorspk commented on #1209
No. still

[2019-11-25 21:03] EricMelcher commented on #980
I understand that you can't comment publicly on specifics, but this has been in preview for 6 months, which makes it difficult to plan for. Can someone give any indication of rough timeline? End of 2019? Summer of 2020? Never?

[2019-11-25 22:53] prestonvanloon commented on #1209
This comment solved it for me: https://github.com/awslabs/amazon-eks-ami/issues/55#issuecomment-470721555

[2019-11-26 02:02] GuyPaddock commented on #1326
To answer my own question, it seems you need to complete the following tasks with each node in the cluster:
1. Drain the node.
2. Stop the node from within the Azure portal.
3. Edit the OS disk attached to the node to increase its size.
4. Start the node from within the Azure portal.
5. Un-cordon the node.

In my case, my OS disk was set to 30 GiB (!), which is even worse than the 100 GiB number t

[2019-11-26 02:38] jnoller commented on #1326
Sorry @GuyPaddock - I’ve been out of office. Yes, that’s the resize process, but new nodes and upgrades will potentially change that back.

I am working on all info/docs for guidance this week

[2019-11-26 09:04] dariuszbz commented on #980
Kingdom for the day ....

On Wed, 13 Nov 2019, 21:24 sram30, <notifications@github.com> wrote:

[2019-11-26 15:25] droessmj commented on #632
Circling around to close to close the loop on the occurrence I reported. Our root cause was the implementation of an NSG rule which denied UDP traffic on the cluster subnet, which caused inter-node requests to timeout.

[2019-11-26 16:10] sram30 commented on #980
Microsoft Team, I was told that we can expect the Windows Container support in AKS will be available in Q4 2019. We are almost 2/3 into Q4 and still there is no announcement or communication on it. I am surprised that you still haven't figured out the GA date yet. There are a lot of folks awaiting on a response. Appreciate if someone can communicate back to us on this.

[2019-11-26 23:17] Aanuka commented on #1326
Can confirm that we also have this issue with interim 5 seconds delay.
If we loop an curl command (I.e 50 Requests) we can see mostly Low-Response Time with usually 1-2 of 5 seconds delay.

- Latest Kernel (4.15.0-1063-azure)
- 1.14.6
- Azure NPM 1.0.28
- 100GB Default Size
- Low-Load (14% CPU, 45% Mem over the board)
- No I/O Containers (Normal HTTP/Kestrel Workloads based on .NET Container from

[2019-11-26 23:23] jnoller commented on #1326
@Aanuka  You can not resize your OS disk. The default is 100gb with a peak IOPS of 500.

[2019-11-26 23:32] Aanuka commented on #1326
@jnoller I'm very aware of that without going through hops of steps.
In our case we scaled the cluster with more nodes and balanced the load, it did not make any effect.
In fact we also tried scaling the cluster and putting the CoreDNS Pods on that machine along with 1 Pod of another workload, it did not make any effect.

If we compare this to another cluster, which has more I/O Intense workloads

[2019-11-26 23:49] jnoller commented on #1326
@Aanuka I do think multiple issues are at play here. The kubenet vs CNI is an interesting one, as CNI is more IO heavy on the OS disk than Kubenet is. It is possible it is *also* an issue with NPM.

[2019-11-26 23:59] Aanuka commented on #1326
@jnoller Agreed. For the time being I can only check what metrics I have, and those give an average of 20 IOPS. As long as the portal aren't showing tremendously wrong, those figures do indicate that we are not near the IOPS Limit of a P10 Disk.

As stated before, we do not have any NetworkPolicys in place on the CNI cluster so uncertain on how that could affect the operations on that one.

[2019-11-27 02:07] jdamata opened #1335 "Set default storage class to WaitForFirstConsumer"
https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

volumeBindingMode:  Immediate
to
volumeBindingMode:  WaitForFirstConsumer

[2019-11-27 02:41] palma21 commented on #1304
Hi @mikeeq we're planning for a bit after the thanksgiving holidays, we're giving some time for customers to move away from proxy to forward and notifying all of them.

[2019-11-27 05:32] henrylilei opened #1336 "Node time off-sync"
**What happened**:
Node time is off-sync.

**What you expected to happen**:
Node time in-sync with each other.

**How to reproduce it (as minimally and precisely as possible)**:
One of my clusters in Mooncake has this issue.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.14.8

**Logs**:
● systemd-timesyncd.service - Network Time Synchronization
   Loaded: loaded (/lib/systemd/sy

[2019-11-27 07:37] silencev commented on #1333
resolve by adding `volumeBindingMode: WaitForFirstConsumer` in StorageClass
https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode

[2019-11-27 07:37] #1333 closed

[2019-11-27 12:23] crgarcia12 commented on #181
I just got this error. Deleting AKS did not delete the VMScale Set, so i cannot create another one.
Subscription 37e917ff-feb6-438c-abd9-bd4899906ad4

[2019-11-27 13:56] md2k commented on #1187
We have similar issues during rolling AKS with multiple pools (k8s version 1.15.5), Terraform 0.12.16, azurerm provider version 1.37.0

[2019-11-27 16:58] dariuszbz commented on #980
Kingdom for the date

On Tue, 26 Nov 2019, 16:10 sram30, <notifications@github.com> wrote:

[2019-11-27 17:05] palma21 commented on #1331
@squillace @bridgetkromhout what do you think?

seems like an interesting idea to simplify UX?

[2019-11-27 17:19] palma21 commented on #1278
Hi @silencev glad to check your case was resolved with our support team. Let me know if you need anything else.

As per the ask, yes I'd still recommend you move to 1.14.8 even despite the rooted issue

[2019-11-27 17:25] palma21 commented on #1278
Closing after all fixes from https://github.com/Azure/AKS/issues/1278#issuecomment-552834638 are rolled out and a week pinned to avoid mixing any new questions/issues.

[2019-11-27 17:25] #1278 closed

[2019-11-27 17:32] jdamata opened #1337 "Nodes have incorrect failure-domain.beta.kubernetes.io/zone label after upgrade"
**What happened**:
Upgraded AKS cluster from 1.14.6 to 1.14.8.

Pods are unable to mount PVCs because the node and label are mismatched

$ kubectl get nodes --show-labels | grep aks-f8spool1-11432044-vmss000000
aks-f8spool1-11432044-vmss000000   Ready                      agent   54d   v1.14.8   agentpool=f8spool1,beta.kubernetes.io/arch=amd64,beta.kubernetes.io/instance-type=Standard_F8s,beta.kub

[2019-11-27 17:46] ondrejhlavacek opened #1339 "Provide more flexible resource reservations for User Node Pools"
Running a staging AKS cluster with 3 Standard B2s nodes.
[code]

Between 22/11/19 and 26/11/19 deployments stopped working. The new pods are in Pending state saying `0/3 nodes are available: 3 Insufficient memory.`.

I'd swear nothing else changed on our side, but I have no factual proofs, apart from a successful deploy pipeline from 22/11/19. Number of pods is still the same, that hasn't changed.

[2019-11-27 22:26] Aanuka commented on #1326
@jnoller We took the time and implemented the same "workaround" seen in #632
I.e setting "single-request-reopen" with the deployment files.

This directly shaved of 5seconds on ALL Operations if we are looking at the 99th Percentile.

By the looks of it either the #632 issue has been reintroduced or we have something that the same work-around solves.

[2019-11-28 06:49] partha-sarathi-sarkar commented on #1137
Hi @brobichaud
Can you please try this script and let me know it is working or not

apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: dev-burns-portal-hpa
spec:
  minReplicas: 2
  maxReplicas: 4
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: <name of the devolpoment>
  targetCPUUtilizationPercentage: 80

[2019-11-28 09:45] rhummelmose opened #1338 "[Feature] AKS allows creation of NodePools in different Subnets (Azure CNI)"
As stated under limitations in the documentation, all node pools have to reside within the samee subnet.

The ask is to support assignment of a unique subnet per node pool in a cluster, but all shared from the same VNET.

[2019-11-28 11:01] Vandersteen commented on #1326
We also are encountering this issue right now.
Using the 'workaround' helps in our debian based images (asp.net core 2.2), however this does not help in our alpine based images

[2019-11-28 11:06] Aanuka commented on #1326
Then it seems to be almost the same issue as #632 with the same caveats around the "workaround" not working on some Alpine images as they don't support the "single-request-reopen" option.

[2019-11-28 13:42] djsly commented on #1313
this is my Support Request: 119111524000469 , 4th time we see this.  We need to disable and reenable the CA feature to fix it. since we cannot simply restart the pod (no access)

[code]

I have opened https://github.com/kubernetes/autoscaler/issues/2594

[2019-11-29 06:31] Abbott-fu commented on #1150
I am also facing this issue.  I also cannot find any CLI commands that can change/update  the setting of  --service-node-port-range.  And when create a AKS cluster using CLI command "az aks create ", there is also no option  to change this setting . I can see the help in https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create.
Could someone from Microsoft helps to answer

[2019-11-29 12:27] bbgobie commented on #1337
Watching this

[2019-11-29 12:37] LudoNieuw commented on #756
Hi there,
Checking in to ask when this feature will be released. I see it was first scheduled in 2018, last mention from MS side was November this year, and this month is now practically over.

I am asking because we will start production in a few months and have the ability to re-recreate our production environment before that and we really-really want this feature. Going live without the possibi

[2019-11-29 13:35] mariojacobo commented on #1316
Same issue here. It's happening intermittently. Luckily, we are running terraform inside a Jenkins pipeline and I've added a retry step for this particular stage in case of failure.  Adding a sleep delay may also work, but then you would need a local-exec to add the sleep and a depends_on for AKS to be executed after local-exec.

[2019-11-29 14:57] slynickel commented on #756
Could someone clarify what issue and planned fix this issue is tracking on the AKS team's Service Road Map (the Github project)?

Why I'm confused:

In Dec '18 @jnoller stated:

Currently in preview is the [ability to rotate certificates](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation). This would appear to roughly meet the resolution criteria defined from @jnoller's comment. *Of

[2019-11-29 17:00] NRDiaz92 commented on #173
Hey guys, is there any updates with this?

Has AKS done some workaround or something?

[2019-11-30 00:51] SCsnwbrdr commented on #1326
I found this thread the other day when a number of our pods were intermittently having a 5s delay as well.

I created a cron job that would intermittently (once a minute) do an http get request and report the result to app insights. The issue appeared regularly in app insights.

To make sure our environment config was not to blame, I tested a completely fresh aks cluster with the cron job I set up

[2019-12-02 04:02] MarcosMMartinez commented on #1216
@palma21 - any input here? I have an internal inquiry coming you way soon - it relates to this.

[2019-12-02 09:44] PSanetra commented on #1259
@palma21 This (or at least a very similar issue) happened today in our AKS, too.
A scale-up was triggered, but the new VM in the VMSS was too slow to start up (it was stuck in the ProvisioningState/creating state for a while). After some time the autoscaler deleted that VM again.

[2019-12-02 09:48] PedroAndrade89 commented on #688
Is this feature already available?

[2019-12-02 10:52] zuehlke-dea commented on #756
I just tested the new feature. I had a client cert valid to 2021 in my kube config and then rotated the certificates. After the rotation kubectl was not working until I recreated the config. That is very good, but also different to the statement posted above that existing certs are still working.

But what is really a problem for us is the 30 minutes downtime. We would really like to implement thi

[2019-12-02 13:23] carbolymer commented on #1292
I'm having the same issue with one pod running git-sync on azure-files mounted volume. @tblazina  have you found any workaround for this problem?

[2019-12-02 14:24] andyzhangx commented on #1292
one workaround could be delete that pod and azure file volume would be remounted.

[2019-12-02 16:01] tblazina commented on #1292
@carbolymer, unfortunately I have not found a workaround. What appears to be happening is that after 2 times of executing the copy, AFS marks it as having a file conflict.

[2019-12-02 17:10] ondrejhlavacek commented on #1339
@ritazh Oh, I'm sorry, thanks!

[2019-12-02 21:54] GuyPaddock commented on #1326
@jnoller Why did you indicate that the OS disks cannot be resized? Does the procedure I outlined in https://github.com/Azure/AKS/issues/1326#issuecomment-558424615 not apply for some reason?

[2019-12-02 22:11] #919 closed

[2019-12-02 22:41] mifurm commented on #1106
this issue also happens when you try to disable monitoring agent and one of your nodepools is 0.
So I run this (az aks disable-addons -a monitoring -n aks-prd -g akscluster-rg) and get: validation error: Parameter 'ManagedClusterAgentPoolProfile.count' must be greater than 1.

[2019-12-02 22:50] jluk commented on #1216
There has since been a v2 addition to the linked document describing the memory reservations.
I believe this should complete this open issue but defer to @MicahMcKittrick-MSFT

[code]

[2019-12-02 23:01] jluk commented on #1106
@mifurm thanks for report, what did you do to bring a node pool to size zero? Was it through calling the VMSS API directly?

cc @xizhamsft

[2019-12-02 23:02] mifurm commented on #1106
yes!

[2019-12-02 23:02] MarcosMMartinez commented on #1216
@jluk, it seems we're asserting the 750Mi isn't allocatable, though? My calculations also show the same.

![image](https://user-images.githubusercontent.com/29489962/70002286-8fe3bd00-152d-11ea-92db-ff3def3c895b.png)

In other words, it seems like we're specifying this value against --kube-reserved:

![image](https://user-images.githubusercontent.com/29489962/70002365-ce797780-152d-11ea-8a1c-0091f

[2019-12-03 03:24] andyzhangx commented on #1292
pls file a support ticket to azure file team, thanks.

[2019-12-03 07:56] mingtwan commented on #105
any update?

[2019-12-03 08:01] andyzhangx commented on #105
beta and stable k8s feature is enabled by default on AKS, so it's already supported on AKS:
https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/

[2019-12-03 10:25] cdesewell commented on #884
I'm also experiencing this problem intermittently when making deployments:

The following error is given:
[code]

We aern't in production yet but quite hesitant unless this issue is resolved.
Thanks

[2019-12-03 10:55] bramvdklinkenberg commented on #1084
@xuto2 and @jluk any update on this? still have the same issue.

Another question, is there a way of creating the IP address in the same RG as the AKS resource, instead of creating them in the MC_ RG?

[2019-12-03 10:59] andyzhangx commented on #884
the error info is from k8s volume controller which means the volume is not unmounted from the previous node. Did the volume attach succeeded finally?
BTW, the original vmss disk issue is already fixed.

[2019-12-03 11:22] Torbik commented on #360
Met the same issue. External IP for Nginx Ingress stopped working. IP was accessible from the cluster pods but not outside. Thanks to @shm007g fixed it by removing external IP from the services:

`kubectl patch svc nginx-ingress-controller -p '{"status": {"loadBalancer": {"ingress": []}}}'`

After saving, Kube pulled the same IP back and IP became accessible

[2019-12-03 11:32] bramvdklinkenberg commented on #1084
Never mind the last question, just need to add an annotation:

[code]

[2019-12-03 13:23] nordineb commented on #1192
Any news on that issue @jluk @aanandr @saiyan86 @jaer-tsun ? It's been 3 months since the issue was created.

[2019-12-03 13:47] Javacppc commented on #324
yes.Thank you! you solved my problem!

[2019-12-03 17:30] jluk commented on #688
Hi Pedro, not yet but acknowledging this is still on the roadmap to be completed after higher priority items. Thanks for your patience on this and we will keep the latest updates on this issue.

[2019-12-03 17:49] jluk commented on #1106
@mifurm it's important to note manual changes to managed IaaS for your AKS clusters are not supported, so scaling to size zero for the pool via VMSS is not a scenario we support today.

However, your ask to improve the error message is still valid and we'll work on getting that reproduced and fixed 👍

[2019-12-03 17:58] jluk commented on #1337
@jdamata do you have a support ticket number you can share? If not could you please open one?

cc @JunSun17

[2019-12-03 20:15] aanandr commented on #1192
Hi @nordineb - sorry for the delay. This slipped through the cracks. We still dont support this capability in Azure Network Policy implementation. I have made a note to address this in future. What other named ports were you planning to use? Can you workaround this limitation?

[2019-12-03 21:08] jdamata commented on #1337
119112624005495

[2019-12-03 21:21] jluk commented on #1337
Thank you our engineers are investigating and we can use the support ticket for latest findings. I'll leave this issue open until the ticket is resolved.

[2019-12-04 04:28] Pardhasaradhi-244266 commented on #765
how to downgrade the aks cluster version in azure

[2019-12-04 05:47] DreamRivulet commented on #1326
@cwebbtw  If you use the "Default" policy, then pods will use dns resolve setting on the node, you can check the /etc/resolv.conf on the node, i think it will not use the coredns svc ip as the nameserver.

From my point, this issue may be caused by：1） IO throttling on the node where the coredns pod is running， 2）race issue: https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts
3) oth

[2019-12-04 08:07] #1292 closed

[2019-12-04 11:40] andyzhangx commented on #1292
pls follow this guide to delete that azure file in problem: https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-windows-file-connection-problems#unable-to-delete-a-file-or-directory-in-an-azure-file-share
Let me know if you have any question.

[2019-12-04 14:09] tblazina commented on #1292
Great, I'll check out the link. thanks for the help @andyzhangx!

[2019-12-04 14:20] desek opened #1340 "Support for Spot VMs / VMSS"
With the deprecation of Low-priority VMs / VMSS a migration to Spot VMs / VMSS is needed.

Refer to the the aks-engine issue for details:
https://github.com/Azure/aks-engine/issues/2391

[2019-12-04 16:48] guitmz commented on #1320
is there a way we can run coredns in AKS as daemonset to mitigate this (at least try)?

[2019-12-04 18:17] juan-lee commented on #667
@jemag @Vandersteen we are looking into it. By chance are your clusters using azure cni? I'm only able to reproduce the issue with azure cni clusters.

[2019-12-04 18:20] jemag commented on #667
@juan-lee mine are indeed using azure cni

[2019-12-04 18:49] Vandersteen commented on #667
@juan-lee Yes we are using azure cni

[2019-12-04 19:54] soloitguy commented on #1331
Is this relevant with the release of Helm 3 and the removal of Tiller?

[2019-12-04 21:27] asubmani commented on #993
If we provision an AKS cluster today with MSI's AND keep the SPN for required services like monitoring etc. Can we AVOID a cluster re-deployment when the SPN dependency is no longer required?

[2019-12-04 23:14] xuto2 commented on #1084
@bramvdklinkenberg to figure out the exact reason we will need to look into the cloud controller log. Do you have an AKS cluster that experienced the issue recently?

(Without looking into the logs, one sanity check that you can do is that the public ip prefix where you create public ip from should be in the same subscription and the same region as the load balancer/aks cluster).

[2019-12-04 23:50] jluk commented on #1165
Hey folks, I'm going to close this in favor of issue #1206 as this looks like a duplicate. Please bring all comments into that issue to help consolidate. If you feel like it should be re-opened as a separate issue just comment and I'll revisit.

[2019-12-04 23:50] #1165 closed

[2019-12-04 23:58] jluk opened #1341 "Support programatic retrieval of cluster add-on information"
**What happened**: AKS has a set of add-ons which can be installed, but is not clear what options are available with descriptions.

**What you expected to happen**: An endpoint that returns add-on information.

[2019-12-05 00:09] jluk commented on #982
With the recent releases/updates to Azure low-priority and Spot, this feature is updating to the new Spot structure.

[2019-12-05 00:10] jluk commented on #1340
Thanks for opening @desek, I've updated issue #902 which tracks this new development. Closing this as a duplicate so we can use #902 as ongoing discussion/reference.

[2019-12-05 00:10] #1340 closed

[2019-12-05 00:11] alanjcastonguay commented on #1340
@jluk sanity check?  That doesn’t look like the correct issue linked above.

[2019-12-05 00:13] jluk commented on #1340
Thanks @alanjcastonguay indeed it's #982

[2019-12-05 06:30] partha-sarathi-sarkar opened #1342 "Not able to enable cluster autoscale after Aks Provisioning"
**What happened**:
I have created a AKS with custom template now i want to enable cluster autoscale but it is not working.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
I have executed commands : **az aks update --enable-cluster-autoscaler --min-count 1 --max-count 3 -g resourcegroupName -n clusterName**

But after executing this its throw err

[2019-12-05 10:55] tvdvoorde opened #1343 "Regular user with RBAC enabled cluster has system:masters role"
When I deploy an AKS cluser with RBAC enabled, but without AAD integration, and give a regular Azure AD user the 'Reader' role, and the "Azure Kubernetes Service Cluster User Role"  on the resource group that holds the AKS cluster, when I than login as that user with ```az login --use-device-code```, and do an ```az aks get-credentials -g <rg> -n <name>```, the certificate in the kubeconfig tells

[2019-12-05 11:32] dstockton commented on #1088
@jluk do you have any update, please? Is it still looking like the end of Dec for this?
Many thanks, David

[2019-12-05 11:50] andyzhangx commented on #1187
besides the azure cloud provider fix on throttling, we also found issue in AKS service side, if you have VMSS clsuter on different regions, there could be 12K list VMSS calls, AKS team are fixing this issue.

[2019-12-05 14:09] RichardNixon52 commented on #1304
Hi @palma21, any updates on this issue? Is there a rollout date for newer version of CoreDNS?

[2019-12-05 18:40] Starblade42 commented on #1313
We've been encountering this issue as well in our non-AKS Azure clusters that use the Cluster Autoscaler component. 1.15.1 in our case.

[2019-12-05 19:31] jluk opened #1344 "Support setting Azure tags per node pool to persist on upgrade/scale for new nodes"
This issue tracks the ability to define Azure resource tags in the agentPoolProfile. These tags will be set in the agent pool's model so new nodes brought into the agent pool during upgrade and scale will receive the tags at create time.

[2019-12-05 20:14] jluk commented on #1342
@partha-sarathi-sarkar I'm not able to reproduce that error when enabling or updating, could you share what version of Azure CLI you running by executing `az --version`?

When I try I get success:
[code]

[2019-12-05 20:40] lgmorand commented on #688
I do confirm that I have customers asking for it. I do hope, it will be back on the roadmap very soon

[2019-12-05 21:01] Rodske commented on #980
Any update on this? Any chance that the GA of AKS for Windows will coincide with https://azure.microsoft.com/en-us/updates/azure-container-service-will-retire-on-january-31-2020/ ?

[2019-12-05 21:53] sauryadas commented on #993
@norshtein Can you confirm? will an upgrade clean up the SPN and have the addons refer to the UA MI ?

[2019-12-05 22:02] juan-lee commented on #667
We are still working to get to the bottom of this issue. In the meantime, adding the following to your specs in most cases can help.

[code]

[2019-12-06 00:21] dewnull commented on #1259
disabling and reenabling it worked for me. I recently upgraded one of our clusters to 1.14.8
```az aks nodepool update --resource-group <>  --cluster-name <> --name nodepool --disable-cluster-autoscaler```

``` az aks nodepool update --resource-group <> --cluster-name <> --name nodepool --enable-cluster-autoscaler --min-count 4 --max-count 40```

[2019-12-06 10:02] guitmz commented on #667
This started to happen for me when we upgraded the cluster to v.1.14 (from 1.13). We had the same problem a year ago and it was fixed after the kernel was patched with the mitigations from https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts

is there a way we can run coredns in AKS as daemonset to try to fix this (at least try)? We need azure cni and we cant use `single-request-reo

[2019-12-06 10:13] guitmz commented on #1326
This started to happen for me when we upgraded the cluster to v.1.14 (from 1.13). We had the same problem a year ago and it was fixed after the kernel was patched with the mitigations from https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts

is there a way we can run coredns in AKS as daemonset to try to fix this (at least try)? We need azure cni and we cant use `single-request-reo

[2019-12-06 10:22] karok2m commented on #1331
Setup of connection is not relevant with Helm 3. But installation through `az` is still relevant in my opinion, particularly because a lot of AKS tutorials on docs.microsoft.com reference Helm.

[2019-12-06 13:42] xenalite commented on #1336
Does your AKS Subnet have an NSG applied? We found that we were blocking UDP Port 123 to time servers, so the nodes drifted out of sync.

[2019-12-06 19:36] jluk commented on #1088
Hey folks, thanks for bumping this. Labels support has been delayed a bit, looking at early in the new year for next ETA. We have just closed on setting agent pool tag support to be released by end of year, but rest assured this request for agent pool labels is firmly on the roadmap and will be delivered.

[2019-12-06 22:07] neumanndaniel commented on #1074
FWIW. Currently it is already possible to deploy an AKS cluster with the k8s dashboard disabled via Terraform or an ARM template.

-> https://www.danielstechblog.io/disable-the-kubernetes-dashboard-on-azure-kubernetes-service/

[2019-12-06 22:59] katbyte commented on #1206
@jluk is there any timeframe for this to be fixed as it still affects terraform?

[2019-12-07 00:58] jluk commented on #984
@KrisBash any ETA on this?

[2019-12-07 07:01] stvhwrd commented on #1165
Thanks @jluk 🤙

[2019-12-08 12:57] swani01 commented on #948
Could somebody please give me an example of a working deployment with Azure CNI? The one I'm using times out with Nodes not ready?

Here is my current one, if I leave out the --enable-private-cluster switch it deploys:
az aks create \
    --name "${ClientRG}k8s${ClusterType}" \
    --resource-group ${ClientRG} \
    --kubernetes-version "1.14.8" \
    --node-resource-group "${ClientRG}k8s${Cluster

[2019-12-08 14:01] rkrgarlapati opened #1346 "AKS - unable to upgrade to apiVersion: apps/v1 from extensions/v1beta1"
I am unable to upgrade to latest apiVersion apps/v1. Using Azure Kubernetes 1.14.x

new yaml file:

[code]

in Kubernetes browser i have clicked on 'View/edit YAML' option, surprisingly i see old apiVersion extensions/v1beta1 :

[code]

[2019-12-08 14:37] alanjcastonguay commented on #1346
That's expected behaviour. The client can request a resource in various versions, and the api-server will convert on the fly. And clients generally request the oldest version they support, which is `extensions/v1beta1`  in this case. See kubernetes/kubernetes#58131.

[2019-12-09 00:55] sauryadas commented on #948
this feature is not available yet..

[2019-12-09 01:48] prasenforu opened #1347 "kubelet endpoint not updating AKS v1.15.5"
AKS v1.15.5

After adding nodepool (paksinfranp)& scaledown old nodepool (nodepool1) kubelet endpoint not updated

[code]

[code]

[2019-12-09 03:00] greenpau commented on #1332
@jacobvinzent , where do you see this example?

[2019-12-09 04:25] bhicks329 commented on #948
Are there any updates on when this might be entering private preview?

-Ben

From: Saurya Das <notifications@github.com> <notifications@github.com>
Reply: Azure/AKS
<reply@reply.github.com>
<reply@reply.github.com>
Date: 9 December 2019 at 00:55:47
To: Azure/AKS <aks@noreply.github.com> <aks@noreply.github.com>
CC: Ben Hicks <bhicks329@gmail.com> <bhicks329@gmail.com>, Comment
<comment@noreply.git

[2019-12-09 05:38] amitabh-github commented on #1346
thanks for the info.

[2019-12-09 05:41] amitabh-github opened #1348 "AKS - load-generator busybox - unable to stop/kill it"
Kindly help. I am in trouble. There seems to be an issue with load test app.

Followed [this ](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/#increase-load)article to load test HPA.

Have done CTRL+c to stop the load run, got a message 'image deleted'. But load never stopped, it keeps growing. It's been 3 hrs, it never stops. Something is running in the back

[2019-12-09 09:48] jacobvinzent commented on #1332
@greenpau eg. here https://docs.microsoft.com/en-us/azure/aks/coredns-custom

[2019-12-09 14:38] partha-sarathi-sarkar commented on #1342
Hu @jluk Below is the version of azure cli
![image](https://user-images.githubusercontent.com/53785505/70444242-9808a300-1abf-11ea-9959-6e8d094e3d9f.png)

[2019-12-09 14:41] partha-sarathi-sarkar commented on #1342
@jluk Probably i found the issue my aks cluster are not vmss when i provisioned
After provisioning VMSS i am able to  enable/update autoscaling cluster.

I provisioned AKS from Deploy custom template so there should be option for enabling that , I have checked several time over there but there are no option to Provision AKS with VMSS.

[2019-12-09 16:59] jluk commented on #1346
Thank you @alanjcastonguay for sharing the information. It looks like the question is answered, so closing issue.

[2019-12-09 16:59] #1346 closed

[2019-12-09 17:56] ferantivero commented on #1338
If I am not wrong this issue is more to start validating requests since users could specify multiple subnets when it isn't currently supported.

But please let me mention that I love if this actually work instead of being a limitation. Already voted up for it in user voice 😸

[2019-12-09 18:07] jluk commented on #1342
Thanks for confirming the issue was not using a VMSS cluster.

For ARM deployments you can set the compute type with the agentpooltype property: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2019-10-01/managedClusters.json#L1528

For Azure CLI the parameter is this:
[code]

[2019-12-09 18:07] #1342 closed

[2019-12-09 18:41] jluk commented on #1348
@amitabh-github please check any active pods/services you have deployed that load-testing is not inadvertently deployed elsewhere. if you find any delete those. otherwise it can take some time for scale-down to occur so give it some time to react to decreased load placed.

[2019-12-10 03:47] henrylilei commented on #1336
The NSG is a default one and Outbound was allowed on Any Port Any Protocol.

[2019-12-10 06:37] nilo19 commented on #1313
It seems we got unregistered node unexpectedly after long time's running. Will add some log to gain insight into it.

[2019-12-10 07:13] norshtein commented on #993
After SPN dependency is no longer required, it's fine if you don't update current cluster. But disabling and re-enabling addons is needed, the purpose of this operation is to recreate addon pods and use new addon version to make addons use managed identity to authenticate. During this period, your addons will be offline for sometime but the cluster will keep online. If you don't disable and re-ena

[2019-12-10 07:14] norshtein commented on #993
@sauryadas yes, an upgrading operation will clean up the SPN.

[2019-12-10 09:10] JonasDeGendt commented on #1296
Also experiencing this, and regardless of the iptables restore, I feel like it's just too verbose in general. On a busy cluster with a lot of services it's outputting insane amounts of info, e.g. `[ Tue Dec 10 09:02:05 UTC 2019 ] INF: Ssh to tunnelEnd is connected with pid: 64405`.

This is easy enough to drop at the ingestion layer in Elasticsearch, but maybe changing the log level should be cons

[2019-12-10 10:56] maadtechie commented on #1280
We're experiencing the same problem with 1.0.28 version of the image on a newly created AKS cluster 1.14.8. One of azure-npm pods  consumes almost 88 G of RAM on Standard_E16s_v3 VM and we haven't added networkpolicies yet.
![image](https://user-images.githubusercontent.com/19853436/70523796-6db0f700-1b4c-11ea-8dd5-58aa19dcc6f6.png)

[2019-12-10 10:59] maadtechie commented on #1280
We're experiencing the same issue on a newly created AKS cluster (ver 1.14.8) even without networkpolicies. One of azure-npm podes consumes almost 88 Gigs of RAM!
![image](https://user-images.githubusercontent.com/19853436/70523956-cb454380-1b4c-11ea-8ca3-a06fb68f7126.png)

[2019-12-10 14:12] GeeWee opened #1349 "Using --attach-acr doesn't work with managed identity enabled"
**What happened**:
I'm trying to use the preview feature of managed identities, and I wish to deploy containers from an ACR registry. Minimal reproduction.
[code]

However, when not using managed identities, the following works.

[code]
Potentially related to [azure-cli-extensions/#1139](https://github.com/Azure/azure-cli-extensions/issues/1139)

**What you expected to happen**:
I expected to be a

[2019-12-10 14:21] kalioz commented on #1280
Hi, forgot to keep you updated
So it seems that for us the problem is gone, we are actually on `aksrepos.azurecr.io/mirror/hyperkube-amd64:v1.13.5`.
`kubectl top pods -l component=kube-proxy` :
[code]

@maadtechie you should edit the deployment to add custom resources limits while waiting for a fix

[2019-12-10 19:28] wildermuthn commented on #1050
This would be really helpful for GPU node pools for Kubeflow pipelines that aren't being run 24-7.

[2019-12-10 19:53] jluk commented on #1348
I am going to close this given it's a general k8s question with advice provided above. It seems you have some rogue synthetic traffic being placed on your cluster, please investigate with the advice shared and we can revisit if needed.

[2019-12-10 19:53] #1348 closed

[2019-12-10 20:21] palma21 commented on #1304
Right now we're looking at the first release of Jan, the number of clusters using deprecated plugins was higher than expected and we're looking to move all to forward.

Do you have a specific requirement around the next/new version?

[2019-12-11 00:30] kmoussa commented on #733
Any updates on this issue? it's still persists - AKS Cluster 1.14.6 and 1.14.7 ??!

[2019-12-11 11:47] RichardNixon52 commented on #1304
We are having issues with import reload, this should be fixed according to this thread https://github.com/Azure/AKS/issues/841 in v1.6.1.

What version is likely to be applied in the upgrade?

[2019-12-11 13:26] greenpau commented on #1332
@jacobvinzent , the rewrite you are looking for is rewrite regex with answer. I can help you out with this. The rewrite substring may not be the solution.

What is the request you will make, and what is the url for the service in k8s?

[2019-12-11 13:29] greenpau commented on #1332
@jacobvinzent , see the example with the answer rewrite in this section https://github.com/coredns/coredns/tree/master/plugin/rewrite#response-rewrites

[2019-12-11 14:27] guo897654050 commented on #642
similarity，so how to solve this problem

[2019-12-11 17:33] slynickel commented on #1235
Any update on the timeline for this one? 12/9 has passed and it would appear as of 12/11/19 17:30UTC in central US Azure region (I didn't check others) this update still hasn't been applied.

We are looking to use v1.15 once it's out of preview.

[code]

[2019-12-11 17:35] jnoller commented on #1235
@slynickel  It is shipping to all regions as we speak, and the deadline has passed. Release notes are incoming.

[2019-12-11 21:02] yamaszone commented on #1270
We are also seeing the same issue. ~20M logs per month being generated. Supper noisy and also pricy for SaaS log management. There seems to be some [mention of future removal](https://github.com/Azure/AKS/issues/732#issuecomment-449149114)  of `kube-svc-redirect`. Its strange that the ticket was closed without actually removing this!

[2019-12-11 21:04] yamaszone commented on #732
👎 👎 👎 for closing this without any resolution. @seanmck any update on this?

[2019-12-11 21:10] yamaszone commented on #1270
This was [reported in February](https://github.com/Microsoft/OMS-docker/issues/92) 2018 but no one seems to care!

[2019-12-12 02:29] gravityuser opened #1351 "[Feature] AKS node pool can be created with a proximity placement group (PPG)"
VMSS with AKS is recently GA. We'd like the ability to configure the VMSS when using this with AKS. This is currently not supported with AKS. Specifically we would like to use proximity placement groups with VMSS/AKS.

[2019-12-12 09:39] jacobvinzent commented on #1332
What I try to accomplish is all traffic from inside the K8s cluster on https://xxxx.com will be routed to an Kubernetes service eg.  xxxx.svc.cluster.local. This should be in a AKS Kubernetes cluster so the updates needs to be in the coredns-custom ConfigMap (https://docs.microsoft.com/en-us/azure/aks/coredns-custom)

[2019-12-12 10:58] param3sh commented on #1320
Hi I also facing same issue with Version "1.14.8" and with default version "1.13.12". Is there any solution for this.
Can some one tell me how to reboot nodes? do we need to ssh to them and reboot if so how to ssh to nodes?

Thanks in Advance.

[2019-12-12 11:14] bhicks329 commented on #1320
I'm seeing this as well at the moment. Random problems with DNS suddenly not resolving inside and outside the cluster.

[2019-12-12 11:21] guitmz commented on #1320
btw, this issue seems to only be present if you are using azure-cni, I've recreated my cluster without it (using only kubenet) and its working well now (got this hint from here https://github.com/Azure/AKS/issues/667)

[2019-12-12 11:52] heoelri opened #1352 "AKS with K8s 1.14.8 - VMSS/Node Pool creation on NC6s_v3 failed"
**What happened**:
We're deploying an AKS cluster with three node pools: servicepool (Standard_D4s_v3), agentpool (Standard_L8s) and gpupool (Standard_NC6s_v3) via Azure DevOps and ARM templates. We're using K8s version 1.14.8 and for our node pools we're using kubenet vnet-integration, VMSS and autoscaler is enabled. And everything get's deployed to West Europe.

The deployment went pretty well i

[2019-12-12 13:12] MichaelMcCoyTech commented on #1208
Please can we have an update on this Microsoft @jluk.   It is preventing us using Lets Encrypt in our cluster.   Are we likely to have this Kubernetes feature enabled  in January 2020 ?

[2019-12-12 13:47] greenpau commented on #1332
@jacobvinzent , I think it would be this:

[code]

[2019-12-12 14:05] IbraheemAlSaady commented on #10
Are there any updates regarding this?

[2019-12-12 14:49] gurrish commented on #1337
I also ran into this problem after adding a second node pool with three availability zones
`Node Affinity:
  Required Terms:
    Term 0:        failure-domain.beta.kubernetes.io/region in [westeurope]
                   **failure-domain.beta.kubernetes.io/zone in [westeurope-1**]`

`Labels:
                    beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/instance-type=Stand

[2019-12-12 16:03] Benjiiim commented on #1061
Hi @jluk ! It seems that https://github.com/Azure/azure-cli/pull/10809 did the trick, didn't it?
Shouldn't https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#schedule-pods-using-taints-and-tolerations be updated to add the taint with az aks nodepool add cmd and not with kubectl taint node cmd?
Thanks

[2019-12-12 18:43] jluk commented on #1235
@slynickel as Jesse mentioned it should be completed in global release by early Tuesday if you're looking for US/EU regions. It's live in Canada/Australia regions as of this moment.

Release notes noted here: https://github.com/Azure/AKS/releases/tag/2019-12-09

Closing this issue as a result of the release active in some regions, but I'll monitor for confirm from @slynickel that he sees 1.15 avai

[2019-12-12 18:43] #1235 closed

[2019-12-12 18:52] slynickel commented on #1235
@jluk all good to close. My previous comment was to check-in since the deadline around when the version change was supposed to occur had passed by a few days. We had planned a bit around that date so I wanted to find out if it was going to be lot longer.

[2019-12-12 18:57] jluk commented on #1061
Thanks for bumping this @Benjiiim you are correct! I am closing this issue as it is GA and I will open a PR on our docs to use this AKS native feature for setting taints. Thank you!

[2019-12-12 18:57] #1061 closed

[2019-12-13 07:01] param3sh commented on #1320
Hi @Guitmz, i have been using "kubenet" only. But i still have issue.
![image](https://user-images.githubusercontent.com/15013160/70776890-6a17ad00-1da4-11ea-8405-b56ab6947de6.png)

[2019-12-13 08:38] TomsonOne commented on #1320
Same problem here... and also using Kubenet...

nslookup hostnames returns errror with Kubernetes 1.14.8

[2019-12-13 08:47] ThomasComtet commented on #1320
Same here we use Kubenet.

[2019-12-13 09:04] heoelri commented on #1352
Closed - solved through a support case. Caused by too restrictive network security settings.

[2019-12-13 09:04] #1352 closed

[2019-12-13 11:32] guitmz commented on #1320
Interesting. No idea why its working for me, will take a closer look

[2019-12-13 12:05] guibirow opened #1353 "AKS VNet private IP conflict on different clusters"
**What happened**:

I have two clusters with exact same layout deployed into their own resource groups,
each resource group contains a vnet, with 2 subnets. One subnet host an application gateway and the other subnet host AKS. Both have the exact same network definition with different naming (DEV and PROD).

When I deploy an NGINX ingress into the DEV cluster, setting a fixed private IP as `172.16

[2019-12-13 17:26] guibirow commented on #1353
Closing down the issue, I have deleted the cluster and recreated it and the problem went away.
I still think this is a very strange the issue, but unfortunately I couldn't wait for an investigation to make it work without deleting the cluster.

[2019-12-13 17:26] #1353 closed

[2019-12-13 23:01] ankitgoelcmu commented on #1087
@jnoller Any update on this issue? `http` is NOT an option here, as this can cause security issue.
we need a way to set `--authentication-token-webhook=true` for kubelet

[2019-12-13 23:37] Vaccano opened #1354 "jx install fails on AKS"
**What happened**:
1. Created a cluster following this [MS Doc](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough) (Though I selected 5 nodes not 1)
2. Ran `jx install` from the Azure Cloud Shell (and selected "aks").
3. It installed several things correctly
4. It tried to run: `helm init --service-account tiller --tiller-namespace kube-system` and failed with this error:

NOTE: Ru

[2019-12-15 16:29] SambhavSacheti commented on #601
Thanks a lot! It worked for me

[2019-12-16 03:23] prabhu130986 opened #1355 "Add Self-signed certificate to AKS to connect to private registry"
I'm trying to setup a private docker registry with self-signed certificate. when i try to pull images AKS is giving an error as "Failed to pull image "********": rpc error: code = Unknown desc = Error response from daemon: Get https://*********/v2/: x509: certificate signed by unknown authority"

Is there a way to add the certificate to AKS to trust the private registry