[2021-06-10 08:45] chirangaalwis commented on #1479
@palma21 any update on this?

[2021-06-10 09:47] kucher-neocles commented on #1736
@vishiy any update on this? Also, I found the information that there is some "private preview" for a low-cost solution for AKS monitoring. But nobody answers emails to askcoin@microsoft.com.
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/38495200-aks-has-a-high-log-analytics-cost-azure-monitor

[2021-06-10 10:56] #2341 closed

[2021-06-10 13:17] akostic-kostile opened #2384 "metrics-server not working after cluster auto-upgrade to 1.20.5 (it's possible problem is with nodes/kubelets themselves)"
**What happened**:
After our cluster was auto-upgraded to 1.20.5 (was on version 1.20.2 while everything was working) metrics-server started acting up, it's randomly unable to pull cpu/memory metrics for nodes and pod. By randomly I mean sometimes i can get useful stuff by doing 'kubectl top node' and sometimes I get this:

(I've sanitized the output to remove sensitive information):

[code]

This

[2021-06-10 16:09] miwithro commented on #2368
@NickKeller can you look into this?

[2021-06-10 17:29] miwithro commented on #2171
@nickkeller please investigate

[2021-06-10 23:47] agowdamsft commented on #2363
@israel-gonzalezmedina we have identified the issue and are working to release this fix. When fix is rolled out adding the AKS Cluster API to the FW allowed list as documented here https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#azure-global-required-fqdn--application-rules. For time being you can either add the kubernetes cluster API IP address or allow 443 traffic as mentioned in

[2021-06-11 07:20] pierluigilenoci commented on #2306
Thank you @msftbot,
you make me feel less alone ❤️

![giphy](https://user-images.githubusercontent.com/36044817/121646986-2afc1200-ca96-11eb-9654-c77815cb027a.gif)

[2021-06-11 11:00] deyanp opened #2385 "azure-cni-networkmonitor has no requests/limits configured?"
**What happened**:
azure-cni-networkmonitor-xxxxx pod has no requests/limits defined (the only pod without such in my cluster ...)

**What you expected to happen**:
azure-cni-networkmonitor-xxxxx pod must have requests/limits

**How to reproduce it (as minimally and precisely as possible)**:
kubectl describe pod azure-cni-networkmonitor-xxxxx

**Anything else we need to know?**:

**Environment**:

[2021-06-11 12:02] #2136 closed

[2021-06-11 12:15] andyzhangx commented on #2383
it's most likely your secret does not have correct account name or key, would you remove that secret in namespace `elastic-system` and then
[code]

[2021-06-11 12:56] aristosvo commented on #1955
@miwithro Is it possible to assign an Identity per node pool or would you consider that a new feature request?

[2021-06-11 13:05] solacens commented on #2383
@andyzhangx Thanks for the support.

Unfortunately I have suspected the wrong credential given and try this before.

The created secret is a completely match with the secret manifest I applied.

I raise the ticket due to quite a few old pods, which has been fine before, suddenly misbehaving after restart.

It indicates that there are some underlying problem on the driver, but not the manifest itse

[2021-06-11 13:21] andyzhangx commented on #2383
@solacens `Permission denied` error is usually caused by incorrect account name or key, pls try above methods to recreate secret.

[2021-06-11 14:13] #2383 closed

[2021-06-11 15:09] miwithro commented on #2306
@robbiezhang thoughts regarding the addons?

[2021-06-11 20:47] lindhe commented on #2359
The release has not been rolled out to all zones yet, so I think it should stay open a little while longer.

[2021-06-12 06:41] SatyKrish commented on #1955
There is a hack to do it.  Use `az vmss identiy assign` command to assign user managed identity to underlying VMSS of the nodepool. Create `AzureIdentity` and `AzureIdentityBinding` k8s resource for the user managed identity.

[2021-06-12 17:56] israel-gonzalezmedina commented on #2363
thanks @agowdamsft . I tried the volumen option, because as is a production cluster I can not allow 443 traffic. However, I disabled the confcom addon and tried to deploy the sample job yaml with your considerations and it didn't work. I attached the file in the comment. What am I doing wrong?
`
apiVersion: batch/v1
kind: Job
metadata:
  name: sgx-test
  labels:
    app: sgx-test
spec:
  template:

[2021-06-12 18:02] #2145 closed

[2021-06-13 02:23] NileshGule opened #2387 "AKS container insights shows secrets in cleartext"
**What happened**:
Deployed MSSQL 2019 container on ASK cluster with SA password set as environment variable from a secret
**What you expected to happen**:
Secrets should not be shown in cleartext. The container insights section shows the SA password in cleartext under environment variables. This defeats the whole purpose of storing credentials as secrets. I have observed the same behaviour at my

[2021-06-13 07:02] SatyKrish commented on #2387
This is due to upstream kubernetes implementation of injecting secrets as environment variables. You can disable environmental variables collection for pods. Refer this:[how-to-disable-environment-variable-collection-on-a-container ](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-manage-agent#how-to-disable-environment-variable-collection-on-a-container)

[2021-06-13 07:24] SatyKrish commented on #2175
Starting in Kubernetes version 1.21, Kubernetes will use CSI drivers only and by default. These drivers are the future of storage support in Kubernetes.

@miwithro, will this have any impact to persistent volume implementations in existing clusters upgrading to 1.21?

[2021-06-13 09:12] NileshGule commented on #2387
@SatyKrish thanks for the quick response. It is ok to display the list of environment variables.
However, showing the secret in cleartext is not acceptable.

Here is an example from Octant which also shows the list of environment variables. But it does not show the values in cleartext.
![image](https://user-images.githubusercontent.com/1298374/121801506-3142e780-cc6a-11eb-9d0c-2d2a96940009.png)

I

[2021-06-13 17:58] annerajb commented on #1477
How can this be done if you modify the pvc class before realizing you need to shut down the pods so it unattached the disk?

[2021-06-13 22:25] agowdamsft commented on #2363
@israel-gonzalezmedina there are 2 workarounds until the fix is released

1. Add the AKS cluster API IP address to the allow list. Firewall logs should report the IP. When the rules are in place remove and add the addon.
2. Don't use the SGX add on and mount the SGX driver volumes directly
   Here is an flask application working deployment

apiVersion: v1
kind: Pod
metadata:
  name: app-sgx
  labe

[2021-06-13 22:30] agowdamsft commented on #2363
Here is the yaml raw file https://raw.githubusercontent.com/agowdamsft/confcontainerscsample/master/test-flask-sample-no-plugin.yml

[2021-06-13 23:19] frachel commented on #2339
Definitely would love this. Having to create a new nodepool and move deployments, then delete the nodepool, etc. just seems unnecessary when its just a VM scale set under-the-hood, and those can be resized.

[2021-06-14 07:20] sdktr commented on #2376
There actually is a public resolvable DNS that points to the controle plane IP of a private cluster. It is the record used for in-portal navigation to AKS resources. I've seen that record as output in AKS deployment details as well as in F12 browser debug:

`https://{{guid-ish?}}-priv.portal.hcp.westeurope.azmk8s.io/apis/apps/v1/deployments?limit=200`

Tagging allong on this issue because the priv

[2021-06-14 07:27] sdktr commented on #2358
Any specific TXT record you noticed this with? Like some in-cluster service discovery record? With which record(s) can we reproduce?

[2021-06-14 11:16] Panzki commented on #2249
Hi @danielsimpson,
we opened a support request in our Azure account and the support agent told us, that the fix should be released on 2020-07-02 for the West Europe region.

[2021-06-14 13:47] akostic-kostile commented on #2384
After another auto-upgrade to 1.20.7 the problem was solved. Closing the issue.

[2021-06-14 13:47] #2384 closed

[2021-06-14 14:04] israel-gonzalezmedina commented on #2363
I thank you for the answer @agowdamsft
the yaml you sent me works very well. However, my application stuck at containerCreating. The checking of the events creatingstamp returns
dev         18m         Warning   FailedMount            pod/dispatcher-7fd85b67b7-m6dj9    MountVolume.SetUp failed for volume "pvc-f41b627f-71e1-4708-b1aa-aae7172bba76" : mount failed: exit status 32
Mounting command: sy

[2021-06-15 03:57] akshaysngupta commented on #1960
@skrish24 are you still facing this issue ? This issue was addressed last year.

[2021-06-15 04:06] parallo-mattallford commented on #1960
@akshaysngupta, I faced this issue two months ago (May 2021). Microsoft Support SR 2103160060000233

[2021-06-15 07:43] JonasSame opened #2388 "PodIdentity not supporting GitOps provisioning of binding identity to namespace"
Hi,
we have previously used the Pod Identity v.1 which could be instrumented fully with YAML once the add-on was enabled for hte cluster. In version 2 this appraoch is not supported and we can't efficiently provision a pod identity to a specific namespace in the cluster. This breaks our GitOps approach and renders podidentity difficult for us to implement in a good way for our GitOps enabled multi

[2021-06-15 08:41] pierluigilenoci commented on #2306
Thank you too @robbiezhang

Azure response times have been getting dramatically long lately. Could it be due to the epidemic?

[2021-06-15 09:52] OvervCW commented on #2359
@lindhe Is it possible to see the rollout status somewhere?

[2021-06-15 13:06] mweibel commented on #1454
looking at [supported windows versions](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#windows-os-version-support) I also wonder when new windows versions are supported..

[2021-06-15 13:36] fdebuire commented on #2388
@JonasSame
see https://github.com/Azure/aad-pod-identity/issues/1017 and https://github.com/Azure/AKS/issues/2221

[2021-06-15 15:35] #2361 closed

[2021-06-15 15:35] JasonShenk commented on #2361
I'm closing this because it is moved to kubernetes

[2021-06-15 15:49] lindhe commented on #2359
No, unfortunately not. I spoke to Microsoft support regarding this (I had run into the same issue) and we identified that the patch had not been rolled out to all zones yet. I asked them if it was possible to see, but they told me the current rollout information was only available via an internal system on their end.

[2021-06-15 19:07] miwithro commented on #2378
@jwilder can you answer this one?

[2021-06-15 19:09] nlighten commented on #2215
Not sure if anyone is listing to you dear msftbot, but the issue has been resolved.

[2021-06-15 19:09] #2215 closed

[2021-06-15 19:10] nlighten commented on #2216
Thank you msftbot, the issue has been resolved.

[2021-06-15 19:10] #2216 closed

[2021-06-16 09:01] #2065 closed

[2021-06-16 09:01] #2356 closed

[2021-06-16 10:43] deyanp commented on #2385
So there is a recommendation by MS AKS Advisor to set requests/limits for every pod (which I did), however MS-own pod does not have these (and can eat all the CPU/memory of the node)??

[2021-06-16 12:37] arodriguezdlc opened #2389 "Pod Topology Constraints aren't being enforced if nodepools scale from 0"
**What happened**:

In an AKS cluster with nodepools on different availability zones, we have configured a statefulset with the following pod topology constraint:
[code]

However, k8s autoscaler and scheduler aren't aware of topology labels of the nodepools when they are scaled from 0 and no nodes were created before. For this reason, all pods are created at the same nodepool in the same zone, tha

[2021-06-16 13:24] justindavies commented on #2387
Hi there, as @SatyKrish said standard Kubernetes secrets are base64 encoded, and are exported as environment variables which is why you are able to see the password when looking at the pod environment.  Whilst this may seem alarming, being able to view these is based on namespace permissions.  You can take a look at aad-pod-identity and the Key Vault CSI driver for alternatives that allow you to a

[2021-06-16 14:16] copierrj opened #2390 "Hard to explain OOMKilled events while performing disk IO"
**What happened**:
We encountered hard to explain OOMKilled events while executing Argo workflows (https://github.com/argoproj/argo-workflows) with many large artifacts (> 10GiB) on AKS.

Steps in an Argo workflow consists of a single Pod with three different containers: init, main and wait. The init container retrieves data to be processed by the main container and the wait container waits for th

[2021-06-16 23:05] palma21 commented on #2279
cc @justindavies

Node PID limits are already planned we can definitely correct the docs and consider kernel.pid_max

[2021-06-17 01:19] jrefi commented on #2337
Why are you forcing the switch to containerd? Seems like it is causing nothing but problems... No Docker in Docker... Multiarch broken... I am very angry at AKS right now for this HUGE breaking change to the API.

[2021-06-17 02:35] 14sudharsan commented on #2247
Actually I tried to attach blob storage file share in all the nodes . If in
case scale up nodes we should attach blob storage in new node as well

On Wed, Jun 9, 2021, 5:50 PM miwithro ***@***.***> wrote:

[2021-06-17 05:32] AbelHu commented on #2236
@SteveCurran Could you try to set `--set controller.service.externalTrafficPolicy=Local` in your ingress and test it again?
**NOTE**: You only can enable WinDSR in your cluster with enabling Calico Windows.

[code]
Reference: https://docs.microsoft.com/en-us/azure/aks/ingress-basic

[2021-06-17 06:11] SatyKrish commented on #1508
We have a hub-spoke model, where each subscription has a dedicated spoke vnet. We are trying to create a private DNS zone at each subscription, and add vnet links to all Hub vnets. Any AKS clusters created in a subscription will use the pre-created private DNS zone.

While creating private DNS zone on more than one subscription, we get following error.

Deployment failed. A virtual network cannot

[2021-06-17 06:36] feiskyer commented on #1508
would you like to try https://docs.microsoft.com/en-us/azure/aks/private-clusters#create-a-private-aks-cluster-with-a-public-dns-address-1? It is a preview feature without dependency on private dns zone.

[2021-06-17 06:38] feiskyer commented on #2131
let's close this issue since there're no updates for a long time. Please open a support ticket if you have the issue again.

[2021-06-17 06:38] #2131 closed

[2021-06-17 06:58] SatyKrish commented on #1508
@feiskyer does '--enable-public-fqdn' make the private cluster discoverable outside the network? Documentation doesn't clearly explain private api server access via public fqdn.

[2021-06-17 08:36] ohorvath commented on #1508
Thanks, I'll try that out, sounds pretty good.

[2021-06-17 09:04] MCKLMT commented on #2357
@palma21 Could you take the question please?

[2021-06-17 09:19] feiskyer commented on #1508
@SatyKrish it would provision a public FQDN (together with private FQDN) for private cluster, and the FQDN would still be resolved to the private IP inside AKS subnet. If you also set "none" dns zone, then only public FQDN would be allocated for the cluster.

[2021-06-17 09:35] justindavies commented on #2357
Mickaël, without access to the metadata API the customer will not be able to use aad pod identity, I'll double check to see if there are other issues that could arise from this

[2021-06-17 09:37] MCKLMT commented on #2357
Thanks @justindavies this is exactly the question the customer is asking for.

[2021-06-17 09:38] justindavies commented on #2377
Hey, yes we are working on integrating Keda as an add-on.  Is your main concern having this as a supported add-on or is this for ease of installation/setup etc?

[2021-06-17 09:39] tomkerkhove commented on #2377
Both actually! But clearly, I'm biased since I'm a co-maintainer of KEDA but the ease of installation would be nice since it could be done through ARM then.

[2021-06-17 09:44] justindavies commented on #2373
Hi @zipper11 thanks for getting in touch.  Would you be able to let me know the size of the final image after creation? Regarding the error you are getting, for ACI scheduled nodes, the limit and request values need to be the same based on this GH issue:  https://github.com/virtual-kubelet/azure-aci/issues/17

[2021-06-17 09:48] justindavies commented on #2364
Hi @gkoudjou, can you take a look at the backend pod to see what URL is being requested through the ingress controller once the rewrite rules have been applied?  I've been through this before where what I expect to happen in a rule is not what is being passed to the backend service itself.

[2021-06-17 10:08] ohorvath commented on #2059
I've checked this again and I can repro the issue. AKS clusters with BYOD user assigned identities work fine with the run command. However AAD integration break this feature.

Failed to connect to MSI. Please make sure MSI is configured correctly.
Get Token request returned: <Response [400]>

I've changed nothing but the AAD integration.

[2021-06-17 10:50] justindavies commented on #2247
@14sudharsan, are you trying to mount a blob container on all nodes?  The best way to achieve what you are looking to do for your workloads to access shared storage is to either integrate with blob storage through the API, or use Azure files or Azure NetApp as a volume for those workloads to access: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

[2021-06-17 11:00] justindavies commented on #2276
A PR has been raised to enable this in the azure cli for the next release, and the documentation will also be updated.  I'll keep this open until this has been completed

[2021-06-17 11:02] justindavies commented on #2362
Hi @ruowan, do this issue happen consistently, or is it temporary?

[2021-06-17 11:13] justindavies commented on #2339
We are looking into this, and moving this to feature request

[2021-06-17 11:16] chirangaalwis commented on #2377
@tomkerkhove agreed, @justindavies it if for both

[2021-06-17 14:34] SatyKrish commented on #1508
@feiskyer we are considering custom Private DNS zone to resolve VMSS provisioning error during AKS cluster deployment. Using public FQDN (with private DNS zone ) is still causing cluster deployment to fail.

What is the purpose of public FQDN for a private Cluster? And how secure is this compared to using Private DNS zone?

[2021-06-17 15:14] ohorvath commented on #1508
Private DNS zone won't make your environment more secure. The public FQDN will resolve to a private IP which cannot be accessible from outside anyway. However it will make deployment easier as private DNS is too complex and unnecessary for most of us. I would love to see publicFQDN option for other managed services (SQL, Storage etc) too.

[2021-06-17 16:23] SatyKrish commented on #1508
Thanks @ohorvath . I asked that from the perspective that public FQDN can be resolvable outside VNet, but yes it resolves to a private IP which is not accessible.

Is this going to be a standard pattern for resolving private endpoints from VNet?

[2021-06-17 16:56] suraj2410 commented on #2368
@NickKeller any updates?

[2021-06-17 17:01] haitch commented on #2059
@ohorvath I am pretty sure you are using in azure cloud shell.  This is a known issue from cloud shell, I can find you the link to this issue.

[2021-06-17 17:10] haitch commented on #2059
here is the issue tracking from cloudshell side:

https://github.com/Azure/azure-cli/issues/11749
https://github.com/Azure/azure-cli/issues/17695

[2021-06-17 18:37] rudolphjacksonm opened #2392 "Azure Defender Support for VMSS-backed Clusters"
**What happened**: This is more a question around why VMSS-backed AKS clusters are not supported for Azure Defender host-level logs. As per the documentation (emphasis mine):

**What you expected to happen**: VMSS is the default configuration for AKS clusters. I would expect that since this is the default, we would be able to enable Azure Defender and get host-level threat detection. As stated in

[2021-06-17 18:42] miwithro commented on #2388
the az aks pod-identity add command supports the namespace and will give back the selector. You could run that in a script and then use the selector in the pod.

[2021-06-17 19:25] miwithro commented on #2260
@andyzhangx

[2021-06-18 00:04] #2290 closed

[2021-06-18 06:22] shreyasHpandya commented on #2059
Is it possible to call k8 API via this feature?

[2021-06-18 06:22] agowdamsft commented on #2363
@israel-gonzalezmedina seems like the problem is with this hello world job that is probably taking a dependency on the plugin components. If you have other SGX apps you should try running them.

Also just letting you know the release started this Monday an is in few US regions already. If you were unsuccessful with adding IP to FW and re deploying the plugin you can wait until end to this week for

[2021-06-18 06:30] haitch commented on #2059
@shreyasHpandya you can run kubectl and helm in this cli, kubectl and helm invokes k8s API behind the sense.

so it is possible.

but my question is why? this feature is designed for cluster admin to run simple, one off command without worrying isolated network (given you are authorized in ARM and have permission).

If you are going to have some app and work with k8s API, then why bother going thr

[2021-06-18 06:40] shreyasHpandya commented on #2059
Let's say I am developing a third-party CSPM tool that wants to scan their cluster for misconfigurations etc. my client has already given me access to their azure API, I want to use the same SP to extend functionality to AKS

[2021-06-18 06:45] haitch commented on #2059
that's not a designed scenario.

you should publish your app somewhere, then ask your client to install your app.

[2021-06-18 06:46] shreyasHpandya commented on #2059
Yes we do that currently, but this way we can reduce the pain of onboarding for client

[2021-06-18 07:36] haitch commented on #2059
for a normal cluster, if your client give you enough access to their AKS resource, then you should be able to call kubernetes API.

for a private cluster:
  - If you client give you access to both AKS resource and vNet resource, then you should also be able to call Kubernetes API from that vNet.
  - If your client give you only access to AKS resource without vNet resource, then you are cannot reac

[2021-06-18 07:41] andyzhangx commented on #2260
could be due to this issue: https://github.com/kubernetes/kubernetes/issues/94764#issuecomment-829150737, there is some corner cases that detach disk hang there and vm is in failed state until another vm update happened, disk detach succeeded.

[2021-06-18 07:48] andrewsali opened #2393 "Cluster-autoscaler support for HBv3 series"
**What happened**:

Adding a HBv3 nodepool disables the cluster autoscaler

**What you expected to happen**:

Cluster autoscaler should support HBv3 (it support HBv2), as it is GA in certain regions for more than 3 months (https://azure.microsoft.com/en-us/updates/hbv3series-vms-now-generally-available-in-east-us-south-central-us-and-west-europe)

**How to reproduce it (as minimally and precisely

[2021-06-18 08:15] SatyKrish commented on #2376
Private AKS cluster with Public FQDN is now in preview.

https://docs.microsoft.com/en-us/azure/aks/private-clusters#create-a-private-aks-cluster-with-a-public-dns-address-1

[2021-06-18 08:30] justindavies commented on #2167
Hi there, you cannot remove Azure CNI if that is the chosen networking option.  If you are looking for network policy enforcement please take a look at: https://docs.microsoft.com/en-us/azure/aks/use-network-policies for the supported options

[2021-06-18 08:32] michalgcc commented on #2358
Hello @sdktr

After upgrading our nodes from E2s_v4 to E2as_v4 DNS latency dropped to a reasonable amount.

After enabling CoreDNS logs we analyzed all queries, and most of the above 1 ms are about external hosts (Not within cluster), which might explain higher average latency.

On average the A and AAAA response times are slower and above 1ms which triggered Prometheus alert.

We are going to inc

[2021-06-18 08:32] #2358 closed

[2021-06-18 08:43] justindavies commented on #2173
Hi there, are you saying that the kubelet logs are empty after the restart of the nodepool worker?

[2021-06-18 08:46] bogdangrigg commented on #1916
This might have been blocked by the lack of VMSS on Dedicated Hosts.
But this was released late last year, so at this point it seems like a simple change.
Would it be possible to get an update on this one?

[2021-06-18 08:55] baptistepattyn commented on #2063
@PixelRobots maybe add something to your blogpost so the user knows to upgrade aks-preview extension. Nice blogpost btw :)

[2021-06-18 09:03] PixelRobots commented on #2063
Thanks. Updated now.

[2021-06-18 09:03] baptistepattyn commented on #2063
I am getting a python error telling me it cannot import ManualInterrupt.

![image](https://user-images.githubusercontent.com/48830942/122536404-c6f0c500-d024-11eb-8e0c-0169edbeab1e.png)

All my versions are up to date and the preview is registered

![image](https://user-images.githubusercontent.com/48830942/122536471-da039500-d024-11eb-9d43-040572487146.png)

[2021-06-18 09:09] PixelRobots commented on #2063
I would remove the preview extension and then add it again. You should get a line below the command saying you are using a preview extension, but it is not showing.

az extension remove -n aks-preview

az extension add -n aks-preview

let me know how you get on.

[2021-06-18 09:10] baptistepattyn commented on #2063
Thanks I just saw that I was getting errors with other commands too... Was just going to try the remove/add fix.

[2021-06-18 09:18] baptistepattyn commented on #2063
I believe there is an issue with the 0.5.19 version that is released. Using 0.5.12 I can remove the local accounts but when I use `az extension update -n aks-preview` and the 0.5.19 is installed I get an error...

[2021-06-18 09:30] PixelRobots commented on #2063
Strange. I have 0.5.19 and it is working. I would look at updating your az cli version or perhaps maybe even a full uninstall and reinstall. I have had that in the past.

[2021-06-18 12:43] jjindrich commented on #2334
Any updates please ?

[2021-06-18 13:42] justindavies commented on #2334
I'll move this to feature request and we'll keep you updated on where we get to.

[2021-06-18 13:48] justindavies commented on #2202
Hi there, would you be able to attach the changed file that you are using (post-edits)

[2021-06-18 13:54] justindavies commented on #2252
Hi @nicksc423 thanks for bringing this to our attention, and apologies for the delay in us getting to this.  I'll take a look and get back to you

[2021-06-18 17:40] jabbera commented on #1788
It should really be documented that this requires tearing down your cluster to enable.

[2021-06-18 17:48] jabbera commented on #2259
Just to add this SIGNIFICANTLY increases node startup time. The daemon set has to run then all the core images need to be pulled. I'm averaging 8 minutes for node startup. It's sad:-(

[2021-06-18 20:31] israel-gonzalezmedina opened #2394 "aks + firewall. How to route eggress trafic via multiple Ip address"
**What happened**:
Is not a problem I think.. Its more like guidance I believe

My basic problem is to run multiple containers that make HTTP requests to a test server. I need the source IP registered by the test server to be different for the request made by each container. I am using azure AKS. So far I follow the documentation from: https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffi

[2021-06-20 00:02] #2213 closed

[2021-06-20 06:44] mdg215199 commented on #1738
Couldnt you use m azire frontdoor and also global vnet and global ip (or just ip in multiple regions), which would make a determination if the closest route to aks.  From there, add the region name as part of the cni fqdn in order to attempt to find service pod that is within its region, and if not, find one of the next ones (we know jf two regions are paired, etc in order to find a quick determin

[2021-06-20 07:17] tomkerkhove commented on #1738
Everything is possible, but in that scenario your cluster and app management workload multiplies with the amount of regions that you have.

[2021-06-20 09:31] ahmad-hamade commented on #1508
Resolving private FQDN publicly is the way how AWS works in EKS and other resources such as RDS.

I would like to see Azure adopting this approach not only in AKS but also in other resources as well.

[2021-06-20 11:36] mayrstefan commented on #1940
Is there any progress/planning with this issue?

This seems very similar to [aks-engine #3961](https://github.com/Azure/aks-engine/issues/3941) which also requests to make the ability of containerd to configure mirrors available via configuration
I would also request to add private ca certificates for those mirrors. With docker on earlier AKS versions some people have used [DaemonSets](https://git

[2021-06-20 12:02] #2167 closed

[2021-06-20 18:14] asubmani commented on #1738
The main reason(s) why one needs multi-region /multiple clusters are:
Cluster upgrades can go wrong due to various reasons.
AKS requires more frequent upgrades (as upstream K8s evolve faster) and therefore increases the chances of operator/CI/CD induced errors etc. Operating Multiple clusters has been advocated in many books and it makes sense to have them in diff regions if you are going to opera

[2021-06-21 08:22] MCKLMT commented on #2357
Any news @justindavies please? My customer is waiting for this answer to push in production.

[2021-06-21 08:38] lindhe commented on #2359
@qpetraroia Can we reopen the issue since it's not fully rolled out yet?

[2021-06-21 09:11] kbjerke opened #2395 "[Autoscaling] Support for node PATCH operations on creation and scaling"
**What happened**:
We have a use-case for extending resources with our own property to limit the amount of services we schedule per node. Ref.: [Assign Extended Resources to a Container](https://kubernetes.io/docs/tasks/configure-pod-container/extended-resource/), this seems to be stable in release v1.21 of kubernetes, but it would require patching the node after it exists. Ref.: [Advertise Extend

[2021-06-21 09:51] alexangas opened #2396 "liveness-probe logs output to stderr on CSI storage drivers"
**What happened**:
Logs contain many repeated lines output to **_stderr_** of:

[code]

Due to the output of stderr, our logging solution is filling up with these messages.

**What you expected to happen**:
This appears to be an information level message. If true, the output is expected to go to stdout, some lower logging level, or not at all.

**How to reproduce it (as minimally and precisely as

[2021-06-21 10:18] EraYaN opened #2397 "API Server keeps bleeding Error budget while trying to connect to port 19100 on the node IPs"
**What happened**:

The logs gets one of these lines for every node every couple of minutes:
[code]

**What you expected to happen**:
There should be no error and no depletion of the error budget. Those requests should not be happening on that port at all. When SSH'ed in to the nodes there is nothing listing on these ports.

[code]
That does not even contain the port number.

**How to reproduce it

[2021-06-21 12:09] justindavies commented on #2369
Would you be able to paste the pod spec here for us?

[2021-06-21 12:36] justindavies commented on #2360
For the first issue, the creation of symlinks is not supported on Azure Files: https://docs.microsoft.com/en-us/rest/api/storageservices/features-not-supported-by-the-azure-file-service.  For the second one, symlinks are supported on NFS mounts, and I'm not sure what the error is relating to.  Does that error always occur on the first symlink?

[2021-06-21 12:49] justindavies commented on #2335
Hi there Kenneth, unfortunately, we don't have anything on the roadmap regarding being able to add extra modules to the host kernel for AKS.  Modifying the running kernel poses a number of problems from a support perspective as those modules may cause instability (which I admit would be unlikely).

Whilst technically there would not be an issue with you compiling the module and inserting it into t

[2021-06-21 15:25] aadeepaj opened #2398 "kubernetes secret created through csi driver is not identified by azure file share"
**What happened**:
- Created a kubernetes secret using values fetched from keyvault in default namespace.
          secretObjects:
              - secretName: fileshare-secret
                type: Opaque
                data:
                  - objectName: fileshare-access-key
                    key: azurestorageaccountkey
                  - objectName: fileshare-access-name1

[2021-06-21 23:24] jemag commented on #2397
We have had the same issue on our side too. Looking at the kube-audit logs it seems to be linked to prometheus
since it shows
`
userAgent | Prometheus/2.19.0
`
trying to call
`
requestURI | /api/v1/nodes/aks-main-42554519-vmss000038:19100/proxy/metrics
`

At first I thought it might be related to the Prometheus Operator running on our clusters, however I saw that the clusterrole referenced is ""sy

[2021-06-22 05:19] feiskyer commented on #2149
Close since there're no updates for a long time. Feel free to open a support ticket if you have met the issue again.

[2021-06-22 05:19] #2149 closed

[2021-06-22 08:43] andyzhangx commented on #2396
thanks for reporting, we will upgrade to csi driver v1.4 which has fixed this issue:
https://github.com/kubernetes-csi/livenessprobe/blame/v2.3.0/vendor/github.com/kubernetes-csi/csi-lib-utils/connection/connection.go

in original v2.2.0 liveness probe container, that log level is 2, and in v2.3.0, it would be changed to 5
The rollout of csi driver v1.4 on AKS would be in July, stay tuned.

[2021-06-22 08:44] andyzhangx commented on #2398
so is there a secret `default/fileshare-secret` created by secret store driver?

[2021-06-22 09:00] #2396 closed

[2021-06-22 09:30] Azbesciak opened #2399 "Access `clouddrive` by `hostpath` with NFS drive"
Hello, I would like to share `clouddrive` with my NFS service. I did a simple NFS service, like below
[code]
However, when I schedule this service, there is an error:

I thought that maybe relative path (`clouddrive/myOwnInnerDir`) might help, but rather no.

So a question - is it possible to somehow attach this `clouddrive` via `hostpath`? Or any other solution that I would be able to share it vi

[2021-06-22 12:30] kelly-brown commented on #1686
I've got DNS on prem working for the privatelink.<region>.azmk8s.io domain, but the portal seems to have stopped using that DNS name for the 'kubernetes resources' section of the portal.  It's using <guid>-priv.portal.hcp.<region>.azmk8s.io.  I see no reference to this domain in the documentation and support seems to be at a loss at explaining what it is.  If I resolve it from within Azure, it's r

[2021-06-22 13:14] jabbera commented on #1788
@aanandr @palma21 If you use an ARM Template to set the pod id you cannot re-rerun the template:

{
  "code": "DeploymentFailed",
  "message": "At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.",
  "details": [
    {
      "code": "ScaleVMSSAgentPoolFailed",
      "message": "We are unable

[2021-06-22 15:10] miwithro commented on #2204
@AbelHu can you address this one?

[2021-06-22 16:46] anhlqn opened #2400 "Support for Calico Enterprise on AKS Windows node pools?"
Hi AKS team,

We're using Calico Enterprise to secure AKS intra-cluster traffic for Linux workloads. Since Windows Server node pools in AKS have been around for a while, do you have any plan to support Calico Enterprise for Windows node pools?

The Tigera team (Calico Enterprise) mentioned that the AKS team needs to add functionality to the AKS node provision process that will enable them to deplo

[2021-06-22 21:18] skrish24 commented on #1960
@akshaysngupta I do not think this was fixed last year. This issue still persists

[2021-06-23 01:02] AbelHu commented on #2204
@cubed-it could you help to file a support ticket so we can investigate it?

1. ssh to the VM1 and run C:\k\debug\startpacketcapture.cmd
2. Reproduce the issue
3. ssh to the VM1 and run C:\k\debug\stoppacketcapture.cmd and then powershell C:\k\debug\collect-windows-logs.ps1
4. Collect the trace and logs to share it with CSS

[2021-06-23 01:33] feiskyer commented on #1686
@kelly-brown the FQDN used in Portal's kubernetes resources is a public FQDN, so you don't need to setup private DNS record for it. It would resolve to the same PrivateEndpoint IP, hence the Portal needs to be run within a VNet that could reach to the PrivateEndpoint IP.

[2021-06-23 03:51] andyzhangx commented on #2399
I think `/home/user/clouddrive/myOwnInnerDir` path is not on your agent node

[2021-06-23 04:36] Azbesciak commented on #2399
Yes, I am even sure of that because otherwise there would be no problem :)
So, do you have any solution for this? I suppose that `clouddrive` is in the cloud not without the reason?

[2021-06-23 06:37] deyanp commented on #2385
Seems the AKS team is helplessly overloaded as there is no response for 10 days(!), pity ...

[2021-06-23 09:32] ErikLundJensen opened #2401 "Scale nodepool to zero is (most likely) blocked by calico-typha pod"
**What happened**:

Given I have provisioned an AKS cluster with CNI Calico enabled
and added a nodepool with mode=User
and chosen Autoscaler with min=0 nodes.
Then node count can't scale to zero.

**What you expected to happen**:

I expect the nodes to be removed from the pool when no non-system related pods are running.

**How to reproduce it**:

Create an AKS cluster (1.20) with CNI Calico enab

[2021-06-23 09:51] EraYaN commented on #2397
It seems like we also upgraded to v1.20.2 from v1.19.3 and then the problem started:

![image](https://user-images.githubusercontent.com/1627021/123076135-2251f700-d419-11eb-9e44-375fd41bc4a8.png)

That date the 19th was exactly the same date the variable changed in our terraform specification.

We are at v1.20.7 now but that didn't fix anything.

[2021-06-23 12:02] #2357 closed

[2021-06-23 12:12] kelly-brown commented on #1686
@feiskyer thank you for the information.  So do I just need to get my DNS admins on prem to forward this domain to Azure?  There's nothing in the docs about it so I'm a little afraid to make changes without full understanding.  I believe that this used to use the privatelink.[region].azmk8s.io address.  What's the reason for the change?

[2021-06-23 13:21] emaildanwilson commented on #2134
This issue should not be closed.

[2021-06-23 14:20] israel-gonzalezmedina opened #2402 "Is there a way to really control the egress traffic from the aks"
**What happened**:
I need to deploy two pods in a AKS with curl request to a server that returns the source IP like:
apiVersion: v1
kind: Pod
metadata:
  name: curl-pod
  labels:
    app: busybox-curl
spec:
  containers:
    - name: test-container
      image: zhaoxy8/busyboxplus
      command: [ "/bin/sh", "-c", "for counter in $(seq 1 255000); do curl -s checkip.dyndns.org; echo  ; sleep 10 ; do

[2021-06-23 14:52] mahgo commented on #223
@jabbera Out of curiosity, what are the 3rd party solutions to this?

[2021-06-23 16:42] jabbera commented on #223
You could provision an NFS or CIFS server in your aks cluster that uses managed disks (for example).

[2021-06-23 18:02] #2312 closed

[2021-06-23 19:00] #2197 closed

[2021-06-24 00:12] jpweber commented on #2397
Having the same issue here. Doing some digging on AKS and "hcpService" Brought me here (https://docs.microsoft.com/en-us/security/benchmark/azure/baselines/aks-security-baseline#22-configure-central-security-log-management)
In particular this part

kube-auditaksService: The display name in audit log for the control plane operation (from the hcpService)
masterclient: The display name in audit log f

[2021-06-24 03:08] feiskyer commented on #1686
@kelly-brown No, you don't need to setup any additional DNS records (and private dns zone) as the public FQDN would be resolvable on the internet.

[2021-06-24 07:35] ErikLundJensen commented on #2401
Note, that autoscaling down from 2 or more nodes to 1 works fine. Maybe the error is more related to scale to zero than to "safe-to-envict".

[2021-06-24 11:57] jkroepke opened #2403 "fsGroup for StatefulSet volumes is ignored on AKS"
**What happened**:

I tried to install kube-prometheus-stack (https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) today. But everything works fine expect the prometheus instance could not write to the data directory.

[code]

It looks like fsGroup is ignored here.

I can confirm, I get the expected behavior on a onprem Kubernetes 1.19.

**What you expected t

[2021-06-24 12:47] miwithro commented on #2398
@aadeepaj are you able to verify if there is a secret present default/fileshare-secret?  Also have you ran through the troubleshooting steps here? https://azure.github.io/secrets-store-csi-driver-provider-azure/troubleshooting/

[2021-06-24 13:20] asubmani commented on #1486
@palma21 Is this GA?  I don't get any results for the below command
`az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AutoUpgradePreview')].{Name:name,State:properties.state}"`

However when I do `az aks update --help | grep auto` I can see  the `--auto-upgrade-channel`  I am using Az cli `2.25.0`

As per the GH project, this is still in public preview.

[2021-06-24 13:25] miwithro commented on #2390
@andyzhangx can you look into this?

[2021-06-24 13:26] miwithro commented on #2389
@marwanad can you look into this?

[2021-06-24 13:44] justindavies commented on #2340
I'll be taking a look at how well we can document these, as API calls have a different way of impacting load

[2021-06-24 17:00] vinisoto commented on #1972
@JohnRusk @palma21 we are hitting this pretty consistently in our automation. We are NOT using Terraform, just plain PowerShell scripts.

`E: ERROR: Deployment failed. Correlation ID: 80efda0d-7f45-4c04-bc76-df15d4e05b10. AKS encountered an internal error while attempting the requested Creating operation. AKS will continuously retry the requested operation until successful or a retry timeout is hi

[2021-06-24 20:39] JohnRusk commented on #1972
Vinisoto, This is being actively discussed. I don't have the answers to your questions I'm sorry. Maybe palma21 will have them.

[2021-06-25 03:20] AlanPPP opened #2404 "Test everything on 1.19.07 but it's EOS, should I test again on 1.19.11?"
We the whole team spend 1 month to test everything on AKS 1.19.07 but it's EOS now. Should I test everything again for 1.19.11? Can 1.19.11 perfectly replace 1.19.07 without any new bugs or performance issue?
Is there any possibility to create 1.19.07 again, I don't want the new patch.

[2021-06-25 05:08] kalyanteja19 opened #2405 "Continuous TLS Handshake error - AKS loadbalancer"
**What happened**:
We have exposed grafana service as loadbalancer using below YAML file. But we could see lot of TLS handshake errors on grafana pod for every 5 secs. It seems these are health check logs.

apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
  name: grafana-service
  namespace: xxxx-grafana
spec:
  externalTraff

[2021-06-25 06:33] andyzhangx commented on #2399
I think you need to set up a dedicated vm with clouddriver and then set up NFS service using that path.

[2021-06-25 06:43] Azbesciak commented on #2399
So, there is no option to share `clouddrive` across other nodes globaly?

[2021-06-25 06:46] andyzhangx commented on #2399
if you set up NFS service based on that clouddriver path, finally that NFS service could be shared across other nodes, that also means  `clouddrive`  is shared across all nodes.

[2021-06-25 06:53] Azbesciak commented on #2399
Yes, but first I would have to match some specific node to this service, right :) -- so, in general, `clouddrive` is not generally accessible, only from the 'main' node... ?

[2021-06-25 06:56] andyzhangx commented on #2399
yes, there is no such `clouddrive` plugin on k8s.

[2021-06-25 06:57] andyzhangx commented on #2403
are you using csi driver? what's the storage class this statefulset is referencing?

[2021-06-25 06:57] Azbesciak commented on #2399
Ok, thank you!

[2021-06-25 06:57] #2399 closed

[2021-06-25 07:15] jkroepke commented on #2403
I'm using the default settings and the Statefulset is using the default class. It's a newly provisioned 1.21.1 cluster.

This is the default StorageClass

[code]

Looks like I'm using the CSI driver.

[2021-06-25 07:23] andyzhangx commented on #2403
it's related to this issue, try set `fsType: ext4` would fix this issue on AKS: https://github.com/kubernetes-sigs/azuredisk-csi-driver/issues/901#issuecomment-867451903

[2021-06-25 08:02] #2363 closed

[2021-06-25 08:04] jkroepke commented on #2403
Should I modify the existing Storage Class or should I create a new one?

If I modify resources, created by "Azure" will be changes rollback at a later upgrade?

[2021-06-25 08:07] andyzhangx commented on #2403
create a new one, change built-in one is also ok, follow: https://github.com/Azure/AKS/issues/118#issuecomment-708257760

[2021-06-25 09:49] cubed-it commented on #2204
@AbelHu I'm sorry, but the cluster has long been updated by several versions and a workaround (we are using http instead of udp now) has been implemented for the problem. I am therefore unfortunately not able to contribute any further on this issue and from my side the issue can be closed.

[2021-06-25 09:49] #2204 closed

[2021-06-25 12:52] adrianmarinica commented on #1972
I am hitting the same issue, but for a different reason. While creating the cluster through Terraform, it fails with the following error:

Failed to resolve the domain name assigned to the cluster
**Error**  No such host is known.
**Domain Name**  <cluster-name>-dns-k8s-b2ebf992.hcp.westeurope.azmk8s.io
**Summary**  Encountered a SocketException while resolving the domain name. This means that the

[2021-06-25 12:55] jkroepke commented on #2403
if there is any downside by using the in-tree StorageClass "managed"?

Looks like, the CSI driver is marked as preview inside AKS.

[2021-06-25 13:01] justindavies commented on #2404
Hi @AlanPPP with minor releases there should not be breaking changes in Kubernetes that would affect your existing tests.  I would recommend taking a look at the Kubernetes Changelog here: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#changelog-since-v11910 so see if any of those changes would affect you.

[2021-06-25 13:01] #2404 closed

[2021-06-25 13:28] andyzhangx commented on #2403
it's better use csi driver storage class since we are going to turn on csi migration very soon. BTW, 1.21 is still in preview.

[2021-06-25 13:43] ernani commented on #223
As of now this example uses longhorn and AKS to deploy moodle. Please do test and report back on issues.|
https://github.com/ernani/MoodleOnAKS

I plan on adding versions for WordPress, Drupal and Magento in the future but no ETA.

Cheers!

[2021-06-25 13:44] jkroepke commented on #2403
By reading https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions#aks-kubernetes-release-calendar

AKS GA of 1.21 is Jun 2021.

but by running the az cli

[code]

It reports preview back. Thanks for the clarification. I guess we are reprovision our test AKS cluster with the latest supported kubernetes version for AKS.

[2021-06-25 13:48] justindavies commented on #2347
Hi @raeder1986 is this issue still happening on the cluster ?

[2021-06-25 13:48] miwithro commented on #2199
@jabbera is correct.  We are working on V2 of Pod Identity which will mitigate the issue above.  We are going to Private Preview of V2 late July, and are working towards announcing a Public Preview/GA date soon.

[2021-06-25 17:47] chirangaalwis opened #2406 "AKS Auto Repair Does Not Kick In"
**What happened**:
When conducting Gremlin based chaos testing against a sample Azure Kubernetes Service (AKS) cluster, we executed a scenario in which [one of nodes of the Kubernetes cluster user Pod node pool was shutdown](https://app.gremlin.com/scenarios/recommended/kubernetes-correctness-shutdown-a-node/hosts) to observe the behaviour.

<img width="1084" alt="Screenshot 2021-06-25 at 22 51 28

[2021-06-26 19:35] vowne opened #2407 "How to perform AKS upgrade for a private cluster from 1.18.14 to 1.19.11 which is having istio as a service mesh"
We are planning to upgrade our Private production cluster to 1.19.11 version and  before the upgrade, would like to clarify few items for safer side as this is for producton enviroment

**Current Setup Details.**

-  Its a private cluster and AZURE CNI enabled
-  We are using Istio 1.7.3 as service mesh

**Planned Upgradation process**

- As Istio version 1.7.3 is not supported for AKS 1.19.11, we

[2021-06-27 18:02] #2388 closed

[2021-06-27 18:02] #2199 closed

[2021-06-28 05:58] aelij commented on #2199
@miwithro Thanks. Can you please make sure that V2 doesn't have this issue?

[2021-06-28 07:26] nilo19 commented on #2288
hotfix released

[2021-06-28 07:26] #2288 closed

[2021-06-28 11:30] GeroL commented on #2369
Hi i have the same problem but on a local test cluster (not AKS). I tried several different helm3 charts, webservices, etc. All fail to deploy with the error above. I made a very minimalistic web api which just returns a test string on a path. I tried .Net 5 and .Net 6 latest preview. I normally use flux2 to manage apps on the cluster via git. I attached a simple manifest file which show this erro

[2021-06-28 12:36] miwithro commented on #2033
@juan-lee can you look into this?

[2021-06-28 12:37] miwithro commented on #2096
@yuzsun is this still an issue?

[2021-06-28 13:13] guy-microsoft opened #2408 "Updating worker nodes K8S version is sometimes not done node by node"
**What happened**: Updated K8S version using ARM template of both control plane and worker nodes. Nodes were updated simultaneously, resulting in disruption to running applications:
![image](https://user-images.githubusercontent.com/50947884/123641553-0b514180-d82b-11eb-9594-781a9ba6dd2d.png)

**What you expected to happen**: Nodes should be updated one by one to avoid disruption to running applic

[2021-06-28 13:26] aadeepaj commented on #2398
Thank you for checking on this, my issue was I was trying to connect with wrong credentials. The functionality works fine!

[2021-06-28 13:26] #2398 closed

[2021-06-28 18:17] #2346 closed

[2021-06-28 18:18] justindavies commented on #2408
Hi @guy-microsoft would you be able to let us see the arm snippet you are using to do the upgrade?

[2021-06-28 18:19] noahbirrer-8451 commented on #1338
@jluk We are in need of this feature. Our scenario is described below.

This feature would allow us to better allocate and plan IP space that is shared with our on-prem network via VNET peering.  We use Azure CNI and our current cluster strategy is to use a shared cluster for all workloads (those that require on-prem connectivity and those that do not). We would like to move the distinction of whe

[2021-06-28 18:23] justindavies commented on #2406
Hi there @chirangaalwis how was the node shut down for this experience to? Was it a VM power operation directly, or does gremlin manage to mess with the node to make it seem as a node failure?

[2021-06-28 18:26] justindavies commented on #2395
Hi thanks for raising this, I’ll take a look and will keep this issue updated

[2021-06-28 20:49] bkarakasdevops opened #2409 "calico-node containers show as unready (0/1) - K8's version 1.20.7"
**What happened**: _After upgrading Kubernetes cluster from 1.19.9 to 1.20.7, one of the calico-node container(daemonset) in calico-system namespace shows as unready(0/1). Upon checking the logs of the pod; "readiness probe failed" with no additional information. The issue is discussed with Tigera Engineers and they have referenced [this github issue](https://github.com/tigera/operator/issues/1324

[2021-06-28 21:01] thejosephstevens commented on #2134
@palma21 is there going to be any action taken on this? Being a bit blunt, the limitation of keeping us from performing in-place node pool upgrades creates a problem where there wasn't any before. If the block was removed and the link to https://docs.microsoft.com/en-us/azure/aks/spot-node-pool#limitations just said "AKS makes no guarantees of uptime when performing rolling updates on a spot pool"

[2021-06-29 00:07] nununoisy commented on #2409
Have you tried the solution in https://github.com/projectcalico/calico/issues/4525?

[2021-06-29 03:13] smithago opened #2410 "When will AKS support IPv4/IPv6 dual-stack"
Looks like k8s support is in beta https://kubernetes.io/docs/concepts/services-networking/dual-stack/

We are internal customer and to support private link on our app every team needs to go build a proxy to do this.

I see this feature is in backlog. Can we get a rough timeline on when this will be supported?

[2021-06-29 04:33] chirangaalwis commented on #2406
@justindavies Gremlin does a [graceful shutdown of the VM node](https://www.gremlin.com/docs/infrastructure-layer/attacks/shutdown/#linux).

[2021-06-29 06:39] mbhmirc opened #2411 "Kubectl does not support hybrid joined as a CA policy - No obvious way to exclude just this app in CA"
We are using AKS in Azure, and we have RBAC setup so our admins can login to the cluster.

We are logging into the cluster and trying something simple to list the deployments with:

az aks get-credentials --resource-group groupname --name aksname --subscription subid
kubectl get deployments --all-namespaces=true
When using kubectl get deployments --all-namespaces=true we are asked to open a browse

[2021-06-29 07:53] guy-microsoft commented on #2408
Hi @justindavies , sure:
[code]

[2021-06-29 09:52] kalyanteja19 commented on #2405
Hi Team, Any update on this request? Please.

[2021-06-29 14:14] miwithro commented on #2405
The below seems to be related.

https://github.com/grafana/grafana/issues/17758

[2021-06-29 14:45] erjosito commented on #2334
FWIW, this feature would be required for ESLZ deployments leveraging Virtual WAN. Another use case is when using routes advertised by NVAs via Azure Route Server.

[2021-06-29 14:51] bkarakasdevops commented on #2409
Thank you for reply.
That is different issue than we are having currently.

[2021-06-29 15:42] csiegris commented on #2369
@motim6026 @GeroL I'm experiencing this same problem and error message when local Docker installation is configured to work with _Windows_ containers, images are published to ÀCR via `docker build/tag/push` command chain but AKS is actually running _Linux_ nodes. Changing the Docker workflow on local box to _Linux_ containers resolved the problem for me.

[2021-06-29 15:48] anhlqn commented on #1681
Do we have an update for Calico Enterprise?

[2021-06-29 16:58] jabbera opened #2412 "Unable to delete cluster after using pod dedicated subnet"
Hi! I attempted to try out the PodSubnetPreview. After running into some issues I tried to delete my cluster and rollback to my previous configuration. The managed resource group was deleted as usual but the cluster continues to exist with the error: "This container service is in a failed state." It's locking my subnet dedicated to pods so I can't reclaim my peered address space to roll back becau

[2021-06-29 19:04] akaanirban opened #2413 "When will AKS support A100s for the nodepools?"
The general availability of A100 has been announced recently with the `Standard_ND96asr_v4` vm size.

I am also able to use these as VMs in `southcentralus` and `westus` .

However, are there any recent plans to bring them to AKS? If so , then can we get a rough idea about the timeline?

On trying to create a nodepool with Standard_ND96asr_v4 VMs I get the following error:
[code]

[2021-06-29 20:30] GeroL commented on #2369
@csiegris Thank you! That was the problem. I had my Azure DevOps build pipeline running on a windows image. Switching to Ubuntu solved the problem. I never would have figured this out on my own.

[2021-06-30 04:48] kalyanteja19 commented on #2405
Here, TLS handshake errors are from AKS Node IPs. These are Health checks from AKS nodes. Hence, please suggest on this issue

[2021-06-30 06:15] jmezach opened #2414 "Completed/Failed pods not being cleaned up"
**What happened**:
We are seeing pods that are run as part of a CronJob not being cleaned up, even though the Succeeded and Failed Job History Limit is set (to 3 and 1 respectively).

**What you expected to happen**:
When I have a CronJob with a Succeeded Job History Limit of 3 and a Failed Job History Limit of 1 I expect to see at most 4 pods for the CronJob, 3 in the Succeeded state and 1 in the

[2021-06-30 08:43] Bananenbieger1234 opened #2415 "Preserve source IP when exposing TCP or UDP services behind the ingress controller"
Hi!
There is this resolved issue (https://github.com/Azure/AKS/issues/607) which did not answer the question of how to preserve source IP when exposing TCP or UDP services behind an ingress controller in Azure AKS.
Does anybody know how to solve this issue with NGINX Ingress Controller?

Thanks for your help!

I have the following setup:
- AKS 1.19.11
- NGINX Ingress via Helm (v.0.45.0)

Here is t

[2021-06-30 09:00] JamesBewley commented on #2415
The source address gets set to that of the ingress controller and that is all my applications ever see.

The easy fix for http traffic was to set the x-forwarded header which the application will then be able to parse to determine the source.

Obviously a little more complicated for TCP traffic and I guess would need something like DNAT to preserve the source IP.  Not sure how feasible this is in

[2021-06-30 09:20] Bananenbieger1234 commented on #2415
Thanks for your reply @JamesBewley.

I want to restrict database access based on client ip. The only way I see right now is to bypass NGINX for that.

@cristiklein gave me a hint to expose the TCP services directly via service of type loadbalancer which means I need another public IP for that.

If this is the only way to do it - I am okay with that and I'll close the issue. I just want to know if

[2021-06-30 13:26] aelij opened #2416 "Azure Kubernetes Service RBAC Reader role contains a write action"
**What happened**:
The built-in role "Azure Kubernetes Service RBAC Reader" contains the write action "Microsoft.Resources/deployments/write".

**What you expected to happen**:
Reader roles should not have write actions.

[2021-06-30 13:59] jabbera opened #2417 "Intermittent issues deploying AKS cluster bicep template"
I'm trying to deploy 10 Pools in my subscription in a bicep template and I get this intermittently. I've gone as far as serializing the pools so they are only deployed 1 at a time and I still get this issue. Can you please re-try 429s in the backend. This is crazy town.

[code]

[2021-06-30 14:51] justindavies commented on #2408
Would you be able to raise a support request, this should work as expected.

[2021-06-30 15:58] guy-microsoft commented on #2408
Yes @justindavies, I will do it.

[2021-06-30 17:15] mikenri commented on #2408
@guy-microsoft  Something you should check is if you have Pod Disruption Budgets defined for your applications.
I ran in to a similar issue when upgrading AKS to a newer version of kubernetes and it was found that our DevOps team didn't define Pod Disruption Budgets for apps.

With pod disruption budgets in place, the cluster should ensure that there is always the desired number of pods in a ready

[2021-06-30 18:30] marwanad commented on #2389
I tested the above with the balance-similar-node-groups flag on and  I received 3 nodes in the 3 zonal nodepools.

[code]

Tested on both 1.19 and 1.20. Also, I've noticed that we are missing the population of the topology labels and will push a fix for that with next week's release.

While that theoretically should fix your case, I'm curious why I am not able to repro - are you saying CA fails to

[2021-06-30 18:31] marwanad commented on #2389
I tested the above with the balance-similar-node-groups flag on and  I received 3 nodes in the 3 zonal nodepools.

[code]

Tested on both 1.19 and 1.20. Also, I've noticed that we are missing the population of the topology labels and will push a fix for that with next week's release.

While that theoretically should fix your case, I'm curious why I am not able to repro - are you saying CA fails to

[2021-06-30 22:27] KannappanSomu commented on #2409
mitigation mentioned here helped me to resolve aks calico nodes

https://github.com/projectcalico/calico/issues/4611

[2021-06-30 22:42] asubmani opened #2418 "Latest nodeImages not listed by az cli"
**Unable to fetch latest release of nodeImage**:
As per release 2021-06-17, the latest Ubuntu 18 nodeImage is [AKSUbuntu-1804-2021.06.12](https://github.com/Azure/AKS/blob/2021-06-17/vhd-notes/aks-ubuntu/AKSUbuntu-1604/2021.06.12.txt)

THe below command returns ` "latestNodeImageVersion": "AKSUbuntu-1804gen2containerd-2021.06.09",` as the latest version.

[code]
`az cli version: 2.25.0`
`extension

[2021-06-30 22:45] asubmani commented on #2418
**UPDATE**: I removed the aks-preview extension and tried running
[code]

Same behavior: I am unable to fetch node image AKSUbuntu-1804-2021.06.12

[2021-07-01 03:13] #2403 closed

[2021-07-01 06:00] guy-microsoft commented on #2408
Thanks @mikenri, but we did defined a Pod Disruption Budget for every application with #replicas > 2 to ensure its minimal number of pods is 1 during the update. It's indeed interesting why there were disruptions in my service despite the Pod Disruption Budget when all nodes were updated simultaneously.

[2021-07-01 09:38] shurik-io commented on #2044
I've managing a cluster, which got on SSH key on creation time which was correct by then. But I'd like to replace this ssh key. Unfortunately the cluster will be replaced because of this change; I'm using Terraform to manage my AKS clusters. So it would be nice, to be able to change the ssh-key without replacing the whole cluster. A re-deployment of the nodes from a VMSS is totally fine and known

[2021-07-01 13:57] bkarakasdevops commented on #2409
Thank you for the reply.

I have seen projectcalico/calico#4611 issue before I post my issue here. I also double checked the mitigation steps again, but  looks like it is not the same case. ipv4 addresses are matching and I don't see the error in the logs for the failed pod as you posted there.

[2021-07-01 14:34] luddskunk commented on #2397
I am experiencing the very same errors. v1.19.7 is working fine, both 1.20.7 and 1.21.1 is causing the Error Budget to bleed. I enabled diagnostics for the cluster and see similar logs.

Did anyone open a support ticket or have any more updates to share?

[2021-07-01 14:39] giordyb opened #2419 "cannot add a new node pool with k8s version 1.19.7 via the azure portal, only options available are 1.18.19 and 1.18.17"
**What happened**:
When creating a new node pool from the azure portal on a cluster version 1.19.7 the only versions available are 1.18.19 and 1.18.17, not the version that the cluster is running.
I was able to create a node pool with the correct version a few months ago but now it's not working anymore.

**What you expected to happen**:
to be able to create a new node pool with the actual cluster

[2021-07-01 14:43] jemag commented on #2397
I have had a ticket open for about 2 weeks now, and the only suggestion I received so far was to enable the Uptime SLA, which should obviously not be related since everything worked fine for any version prior to 1.20.X. Nonetheless tried it and behavior is the same with or without Uptime SLA.

Perhaps someone here will have better luck with their own ticket.

[2021-07-01 14:58] luddskunk commented on #2397
Thanks for letting us know @jemag. I opened a ticket too, providing screenshots and log dumps. Let's see where it heads to. For now, I will freeze the upgrade of my other clusters.

[2021-07-01 17:57] Greigg opened #2420 "Allow Kube-System namespace Network Policy does not allow health probe checks"
**What happened**:
When setting network policies the health checks are not longer reach able. An allow Kube-System namespace network policy still does not allow access.

**What you expected to happen**:
Setting an appropriate network policy allows the health checks to be reachable.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod into a dedicated namespace with healt

[2021-07-01 21:19] aanandr commented on #1788
@jabbera - sorry for the delayed response. Can you describe what you were trying to exactly do?

[2021-07-02 00:46] nununoisy commented on #2409
Out of curiosity, do you see an image pull error for `calico/pod2daemon-flexvol:v3.19.0` in the logs?

[2021-07-02 01:35] feiskyer commented on #2239
Close since there're no activity for a long time. Please open a support ticket if you still have such issues since detailed logs would be required for it.

[2021-07-02 01:35] #2239 closed

[2021-07-02 07:40] justindavies commented on #1832
As this hasn’t been updated for a long time I’m closing this issue. Please reopen if this is still occurring

[2021-07-02 07:40] #1832 closed

[2021-07-02 07:42] justindavies commented on #2352
Hi there would you be able to give me an understanding of why you want to change the naming convention?

[2021-07-02 08:36] ropinheiro opened #2422 "Why aren't there automatic intermediate Kubernetes upgrades?"
**What happened**:

I tried to upgrade from a deprecated Kubernetes v1.18 version to a v1.20 version.

It didn't allowed me to do it. First I had to upgrade to a currently valid v1.18 version, then to a v.19, and finally to a v1.20.

**What you expected to happen**:

Azure taking care of all the "domino" upgrades required to reach the version I wanted, following the upgrade table.

[2021-07-02 12:41] to-kr commented on #2114
We have the same problem. Is there any workaround?

[2021-07-02 13:28] Greigg commented on #2420
This is a non-issue

[2021-07-02 13:28] #2420 closed

[2021-07-02 13:56] brobichaud commented on #2114
@to-kr my workaround is to manually upgrade by creating a new nodepool similar to the old, then draining each of the nodes in the old nodepool. If you do this after upgrading the control plane the new nodepool will be the new k8s version. It's completely lame to have to do this manually, but it works seamlessly.

[2021-07-02 14:22] bkarakasdevops commented on #2409
Yes, I see it in failed calico-node pod as;

`Failed to pull image "mcr.microsoft.comoss/calico/pod2daemon-flexvol:v3.19.0": rpc error: code = Unknown desc = failed to pull and unpack image "mcr.microsoft.comoss/calico/pod2daemon-flexvol:v3.19.0": failed to resolve reference "mcr.microsoft.comoss/calico/pod2daemon-flexvol:v3.19.0": failed to do request: Head https://mcr.microsoft.comoss/v2/calico/

[2021-07-02 19:10] jabbera commented on #1788
@aanandr This seems to be unrelated to the pod subnet preview. I'm now getting this error on clusters that don't have the pod subnet preview enabled.

[2021-07-02 21:00] robbiezhang opened #2424 "Azure Policy addon doesn't send/download data after changing the AKS cluster to use ManagedIdentity from SP"
**What happened**:
After a ServicePrincipal cluster is converted to use ManagedIdentity for authentication, the Azure Policy addon will stop sending/downloading data from the Azure Policy data plane service.
This issue only applies to the SP cluster which already enabled the Azure Policy addon, and is converted to use ManagedIdentity for authentication.

The workaround is to disable and re-enable

[2021-07-03 06:00] #2106 closed

[2021-07-03 09:37] chirangaalwis commented on #1479
@jeffhollan @palma21 Any update on this? Does AKS have a planned ETA for this task?

[2021-07-03 09:41] chirangaalwis commented on #2377
@justindavies @jeffhollan any update on the ETA for this task? The issue https://github.com/Azure/AKS/issues/1479 also seems to need attention as well.

[2021-07-03 10:27] Morriz opened #2425 "metrics-server not working on fresh 1.20.7"
Hi, I just installed a fresh cluster at version 1.20.7, but see no metrics. The metrics-server only shows errors:

[code]
(repeated for every pod it scans)

This does repair itself and then metrics go offline again.

The cluster was created with the following cli call:
[code]

With the ingress ip created up front. The install showed no errors. Note that I specifically wanted to install a 1.20.6+ c

[2021-07-03 16:12] paulgmiller commented on #2033
Azure NPM has had some improvements recently to try and address OOMs.
That said we also have a setting on outside that can boost memory limit so
if you're still effected file a support ticket and we'll try and help out.

@miwithro Neha Aggrawal (forget her github handle) is the best person to @
for these though you can throw me on too.

On Wed, Jun 30, 2021 at 11:02 AM msftbot[bot] ***@***.***>
wr

[2021-07-03 16:32] paulgmiller commented on #2114
<a spirit appears>

Mind sharing the particular 12 gig image you're pulling so we could try and reproduce? Even 12 gigs should move fairly quickly across the azure internal network and we'd love to make things faster rather than extending timeouts.

If this is a problem for many windows node pools we could give them a higher timeout but again making it faster is a priority. Also considering making

[2021-07-04 16:28] Morriz commented on #2425
The metrics came back later. Glitchy?

[2021-07-05 03:00] AbelHu commented on #2114
@brobichaud @to-kr Could you file a support ticket for your issue and ask CSS to contact me (my alias: abelch)? I think that we can increase the drain timeout for your subscriptions. After it works, I think that we can use a different drain timeout for Windows.

[2021-07-05 04:15] yazbekhe opened #2426 "[1.20+ AKS Cluster] headless service returining the IPs of NON ready pods"
**What happened**: when resolving headless service with core-dns it returns the IPs of pods that are not ready yet

**What you expected to happen**: it should return only the IPs of the ready pods

**How to reproduce it (as minimally and precisely as possible)**:
the manifests i have used for testing are attached
[svc.txt](https://github.com/Azure/AKS/files/6761588/svc.txt)
[nginx.txt](https://git

[2021-07-05 06:19] #2305 closed

[2021-07-05 06:29] mapdegree commented on #1338
We need to be able to scale out AKS deployment with the ability to add additional VNETs and subnets after initial deployment. Many organisations are just not 'buying' that migration to a larger VNET / subnet is the only option.
Could you please let us know when it will become GA?

[2021-07-05 06:55] ArgonQQ commented on #1338
I totally agree with @mapdegree . From the start of a project you already have defined your limitations in terms of pod count per Subnet. By default its relatively easy to scale a VNET (or add a CIDR range) but its currently not possible to extend a subnet if any resources are attached to it.

Therefore if you run out of IP-Addresses it is required to completely remove the subnet and create a bigg

[2021-07-05 07:00] #2234 closed

[2021-07-05 07:00] #1986 closed

[2021-07-05 09:18] aelij commented on #2199
Another thing to watch out for is that `az aks pod-identity add` essentially rewrites the cluster's object, making it non-idempotent. That is, when we deploy AKS via ARM, it writes the object without the pod identities, and then we have to add them again using the CLI. Which creates a period where the cluster has no MI assigned - and that causes service failures.

One way to resolve this would be

[2021-07-05 09:54] arodriguezdlc commented on #2389
Yes, that's true, I think is a scheduler issue. The problem seems to be that if no nodes of a nodepool has exist before, the scheduler doesn't know the correct topology, so it can't enforce the topology constraints.

[2021-07-05 11:39] luddskunk commented on #2397
Update on AKS Ticket from Azure Support:

"Please let me know if you’re seeing errors like this in your Prometheus monitoring.
[Prometheus]: [FIRING:1] KubeAPIErrorsHigh warning (monitoring/k8s nodes proxy CONNECT)
If you’re error is like this, then this is a known issue at our end. Hotfix for hasn’t been pushed to all the regions yet and expected to be pushed within 1-2 weeks. "

Hopefully this w

[2021-07-05 20:04] asubmani commented on #2418
To further test, I removed all az cli preview plugins, cleared my account using `az logout` & `az account clear`
Created a new node pool using
[code]
NEXT: I ran tje get-upgrades command again

[code]
## OUTPUT
[code]
I still see `AKSUbuntu-1804gen2-2021.06.09`  instead of `AKSUbuntu-1804gen2-2021.06.12`

[2021-07-05 22:45] jonstelly opened #2427 "Virtual Nodes - Pod stuck in Pending state when referencing status.podIP from downward API"
**What happened**:
Deploying a pod to an AKS Virtual Node, the pod is stuck in the Pending state if a container has:

[code]

I see the following error in the aci linux connector pod:

[code]

**What you expected to happen**:
For the pod to start up.  Below is a simple repro yaml for a job that displays the behavior.  You can comment out the SERVING_POD_IP variable and it starts as expected.  But

[2021-07-06 01:45] NirajCricket commented on #2332
HI @feiskyer , I am upgrading to 1.20.5 , till now I have no issues, can u confirm this bug is no longer exists in this version of AKS

[2021-07-06 01:58] feiskyer commented on #2332
@NirajCricket yes.

[2021-07-06 02:09] NirajCricket commented on #2332
In AKS we don't have 1.20.6 release , as I see in K8s release, does it mean ver 1.20.5 is impacted by the bug mentioned here?
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md
![image](https://user-images.githubusercontent.com/35249470/124531979-f1c77f80-de52-11eb-82a5-996453a6a7e9.png)

[2021-07-06 02:19] NirajCricket opened #2428 "upgrading AKS to ver 1.20.5 ---any know issues"
In AKS we don't have 1.20.6 release , as I see in K8s release, does it mean ver 1.20.5 is impacted by the bug mentioned here?
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md
image
![image](https://user-images.githubusercontent.com/35249470/124532700-65b65780-de54-11eb-9bf6-10e2b19138f0.png)

[2021-07-06 02:20] NirajCricket commented on #2332
submitted a new issue

[2021-07-06 02:42] feiskyer commented on #2332
you could upgrade to 1.20.7

[2021-07-06 03:30] NirajCricket commented on #2332
the version upgrade in the portal is showing 1.21 preview, what is recommended strategy n-1? which means 1.20.5?

[2021-07-06 13:00] #2012 closed

[2021-07-06 14:10] yazbekhe commented on #2426
kubernetes upstream says that the fix is released in 1.8.4 while aks installs 1.8.3

[2021-07-06 15:17] miwithro commented on #2218
@OrangeTimes .We couple the coredns version with k8s versions now. K8s 1.20 is now using coredns 1.8.3.  So please upgrade to that version.

[2021-07-06 17:07] Silvenga commented on #2362
We were also seeing the same randomly - the service was resolving to the correct IP. Killing the pod the service was pointing to allows other pods to one again use the service. I've only seen this problem under AKS, and not on bare metal clusters.

It was somewhat reproducible (from memory):

[code]

- Pod A crashes with OOM (or is killed by OOM).
- K8s restarts pod (ready probes pass).
- Pod B ca

[2021-07-06 17:16] aanandr commented on #1788
@jabbera - the original issue was related to Pod subnet creation. Can you please describe the exact problem?

[2021-07-06 17:32] lgmorand opened #2429 "[Request] Upgrade channel - being able to have patch and node images"
Currently, the [auto-upgrade channel](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#set-auto-upgrade-channel) makes you to choose between either an upgrade of k8s or an update of the node image.

It seems they are handled separatly which means you have to choose between having:
- the cluster up to date
- the node + aks layer up to date

A cluster upgrade (version) may create new nodes

[2021-07-06 18:40] jemag commented on #2397
Thanks for the update @luddskunk. Are these errors supposed to happen on Prometheus instances running in the cluster or the Azure Monitor Prometheus integration thing?

On our side we're using Prometheus Operator and I believe the alert "KubeAPIErrorsHigh" is not used anymore, but rather "KubeAPIErrorBudgetBurn", which we are indeed getting. I think "KubeAPIErrorsHigh" might still be used with Ope

[2021-07-06 21:37] jabbera commented on #1788
@aanandr hi! I deployed a cluster with the pod subnet feature turned on. I ran into some small issues so I decided to delete my cluster. The cluster managed resource group is deleted but the cluster continues to stick around, cannot be deleted, and won't release my subnet from my vnet so I can reclaim my address space.

[2021-07-07 04:38] dwene opened #2430 "Unable to upgrade node pool from version 1.14.6"
I'm trying to upgrade Azure Kubernetes Service from 1.16.13 to 1.18.x. Currently I'm unable to upgrade the overall Kubernetes version because one of the Node Pools is running Kubernetes 1.14.6, and an error indicated I can't upgrade the control plane more than 2 minor versions ahead of the node pools. I tried upgrading the offending Node Pool using portal.azure.com and using the `aks` cli, but was

[2021-07-07 07:43] luddskunk commented on #2397
Hey @jemag! Thanks for sharing your correspondence.

I also noticed exactly the same actually. I can see these type of error logs in one of my clusters which is running 1.19.7. Further on I noticed that 1.20.7 generates 500, but 1.21.1 generates 500/503's (Yes, I kept upgrading one cluster in order to see if the bleed issue was resolved)

I can also add that I this morning received a response from

[2021-07-07 11:18] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-07-07 12:30] israel-gonzalezmedina commented on #2402
I found that adding node pools with the option --enable-node-public-ip creates an outgoing IP for every pod deployed on any of its nodes. I can control where the pod is been deployed using labels and node selector.. However, this can be a kinda waste of resource if I need more IPs than processing.. Imagine I need 10 Ip for a simple server.. I will need 10 VM, each one in a different pool to cover

[2021-07-07 15:30] asubmani commented on #2418
ANy Update.. I have opened a Microsoft Support ticket on a seperate containerd issue and the enginneer asked me to perform a nodeImage Upgrade (which as per this GH issue won't pull the latest image).
The latest test was to test this from a brand new cloud shell, to rule out any preview providers interfering.

[2021-07-07 20:55] smnmtzgr commented on #2092
@mattstam / @paulgmiller any updates available here?

[2021-07-07 21:53] deepak-malhotra commented on #1876
The Helm chart deployments are usually supported earlier than the add-ons . Is there any ETA on support for using CSI via Helm ?

[2021-07-07 23:16] aanm opened #2431 "Add CriticalAddonsOnly=true:NoSchedule to az aks create"
**Describe the request**

Right not it seems it's not possible to create a cluster with pre-defined node taints on cluster creation given that `--node-taints` is not part of of [`az aks create`](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create). A workaround for this would be to create a cluster with 0 nodes, which is also not possible, and then create a node pool

[2021-07-08 01:23] aanandr commented on #1788
@palma21 - can you look into this?

[2021-07-08 01:26] jabbera commented on #1788
@palma21 2106220040006618 for the ticket. The cluster finally got deleted last night but the subnet is still hung up:

[2021-07-08 02:34] robincher commented on #2280
I support this.

I think we should allow only whitelist ips , instead of Service Tag (Internet) when an ingress controller (of LoadBalancer Type) is created.

[2021-07-08 07:22] Bananenbieger1234 commented on #2415
We fixed this by setting the PROXY param when [exposing TCP services via NGINX](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/).

`<namespace/service name>:<service port>::PROXY`

We additionally set `proxy-real-ip-cidr` to the address range where our nginx pod is running.

In our case we also needed to enable proxy-protocol-networks for our backend tcp service ([

[2021-07-08 07:22] #2415 closed

[2021-07-08 13:24] mumrau opened #2432 "AKS cluster Availability-Zone awareness check"
Hello,

We are using multiple AKS clusters that we created using `terraform`. These clusters have been upgraded all the way until `1.18.17`, but it shouldn't matter much. I am _confident_ that only one of my AKS is not zone-aware, but I need more than confidence.

My problem is that I cannot figure out whether my cluster control plane is `zone aware` as defined in https://docs.microsoft.com/en-us/

[2021-07-08 17:45] asubmani commented on #2418
Ok.. There was a new release of AKS yesterday and a new node image... [AKSUbuntu-1804-2021.06.19](https://github.com/Azure/AKS/blob/master/CHANGELOG.md#:~:text=AKS%20Ubuntu%2018.04%20image%20updated%20to%20AKSUbuntu-1804-2021.06.19.) . Unfortunately AKS get-upgrades still reports the latest image being 2021-06.09
[code]

I also noticed that calico is not getting updated at all and is still stuck a

[2021-07-08 18:00] #2218 closed

[2021-07-08 18:07] cavemandaveman commented on #2352
All of my resources have a standard naming convention according to company policy, but AKS resources are the only uncontrollable outliers. Besides policy, one use case is being able to set a variable for the VMSS name in terraform or ansible and then refer to to that variable for any subsequent references or modifications to the VMSS.

[2021-07-08 19:07] evelkey opened #2433 "AKS GPU node terminates after successfully pulling large image"
**What happened**:

After pulling a large (22GB) image for deep learning training / evaluation onto a GPU (Nvidia T4) node in AKS, the node stops any communication with the cluster. This means the cluster thinks the node is still healthy for a period and after that simply gives `Context cancelled` errors. This has been going on for weeks and we cannot run any workload on the cluster. This issue is

[2021-07-09 07:14] OvervCW commented on #2359
I just confirmed with support that this release is still not fully rolled out.

[2021-07-09 14:06] marwanad commented on #2359
@OvervCW which region and which k8s version are you using? This should have completed today.

[2021-07-09 14:13] marwanad commented on #2393
@andrewsali sorry for the delayed response - it will be rolling with next week's release so expect to see it in the release notes.

Also for completeness: The only thing that is "blocked/unsupported" is scaling from zero since that requires updating the SKU list with the new SKU capacities for CA to predict the resources on the nodes. We are also working on utilizing the SKU API so this static lis

[2021-07-09 14:14] marwanad commented on #2389
Yup, and it seems the `maxSkew = 1` will be satisfied with the scheduling decisions that it makes when those nodes exist. So as you said, it's a matter of scheduler not knowing the existence of the zonal pools with 0 nodes.

[2021-07-09 15:02] lindhe commented on #2359
Until very recently, it didn't work in West Europe.

[2021-07-09 16:41] saaror commented on #1926
@di669 are you still looking for help? If not we can close the issue.

[2021-07-09 16:44] saaror commented on #2005
We are already working on it. Windows nodes doesn't support memory RSS. We can provide memory working set. @toma567

[2021-07-09 16:47] saaror commented on #1924
The issues are fixed. Please re-open if you still find these issues.

[2021-07-09 16:47] #1924 closed

[2021-07-09 17:16] marwanad commented on #2359
@lindhe thanks for the detailed report. I'll give it a shot and report back here. This could be a different issue than the upstream bug fix linked above.

[2021-07-10 00:14] pavandamarapati opened #2434 "Need assistance on PureLB (standalone service LB controller) on AKS cluster - getting issues when tried to deploy on AKS"
We are trying to install a stand alone service loadbalancer controller. The reason is that this controller communicates with our NVA and is required to setup services on our NVA (Acnodal EPIC) The stand alone service load balancer controller is called purelb. Docs are at https://www.purelb.io  opensource version is at https://gitlab.com/purelb/purelb The version we are installing is a little bit d

[2021-07-10 01:15] AbelHu commented on #2236
The fix in kubeproxy is done in below PRs. I think that it will be fixed with Windows calico after the new k8s versions are supported in AKS.
1.22: https://github.com/kubernetes/kubernetes/pull/103138
1.21: https://github.com/kubernetes/kubernetes/pull/103140
1.20: https://github.com/kubernetes/kubernetes/pull/103139

[2021-07-10 14:18] miwithro commented on #2366
@robbiezhang

[2021-07-12 01:00] #2066 closed

[2021-07-12 01:59] marwanad commented on #2066
@brunoscota fyi - there will be an improvement for that scenario rolling out in two weeks time :) In regards to enforcing the minimum count by autoscaler.

[2021-07-12 02:37] nilo19 commented on #2301
Hotfix released.

[2021-07-12 02:37] #2301 closed

[2021-07-12 03:47] marwanad commented on #2359
@OvervCW @lindhe I just tested with your setup and it's always scaling up the correct pool for me. Can you test again? That was on 1.19 fwiw. You should also see a log line from the priority package but that seems missing in your report. Are you creating the configmap properly in the kube-system namespace?
[code]

Using 1.19 in southcentralus fwiw.

We can connect over email to get to the bottom o

[2021-07-12 06:04] scoof opened #2437 "Provide a feature toggle to disable all storage related resources in v1.21+"
**What happened**: When upgrading to 1.21 (preview), CSI drivers are installed with new storageclasses. This clashes with our defaults, and we don't want it.

**What you expected to happen**: I expected a toggle that would allow me to disable the addon CSI drivers

**How to reproduce it (as minimally and precisely as possible)**:
Upgrade to v1.21

**Anything else we need to know?**: Installing the

[2021-07-12 07:36] OvervCW commented on #2359
@marwanad Is it possible that it's still broken with 1.18 but fixed with 1.19, because that's the cluster version I'm currently running. I'm about to upgrade to 1.19 and then 1.20 this week, so I'll check if the problem is fixed then.

[2021-07-12 13:46] marwanad commented on #2359
@OvervCW I just verified with 1.18 as well. You can send me your cluster FQDN on the email listed on my GitHub or {myGitHubAlias}@microsoft.com and I can take a closer look.

[2021-07-12 16:20] justindavies commented on #2437
Hi there, CSI is going to be the storage interface moving forward for the Kubernetes community, and as stated here:
https://kubernetes.io/blog/2019/12/09/kubernetes-1-17-feature-csi-migration-beta/#what-is-the-timeline-status

"We expect to complete this project including the full switch to “on-by-default” migration by Kubernetes v1.21."

Is the issue that the Default storageclass in 1.21 is diffe

[2021-07-12 16:31] justindavies commented on #2422
Hi there, our concern with carrying out the jumps over major versions is that once the upgrade has happened, we cannot downgrade it.  So if there has been a workload issue, or a deprecated API you are using from one release to another you will end up with a broken cluster.

[2021-07-12 19:00] #1279 closed

[2021-07-12 19:19] scoof commented on #2437
The issue is that it's not a given that you even need storage in a cluster. The issue is that the driver is not configurable enough in the current form. The issue is that the default storageclass may not be the defaults that we want, and the hoops you need to jump through to change it are very convenient.

I read the "on-by-default" to be about migration. Not necessarily whether or not you force t

[2021-07-12 19:31] scoof commented on #2437
Just to be clear: we were already running CSI drivers in a different configuration, and your addon installation stomped all over that

[2021-07-12 23:28] marwanad commented on #2359
@OvervCW @lindhe I think I found the issue so it was a combination of both. It had to with the hot swap of the expander configs. Will get a fix rolled out. Sorry for that!

[2021-07-13 04:05] andyzhangx commented on #2437
cc @palma21

[2021-07-13 05:33] dwene commented on #2430
Hi @justindavies, thanks for the response.

Here's what I get when I try to create another node pool.
`az aks nodepool add --resource-group advisors-web --cluster-name advisors-kube --os-type linux --name b2mssystem --node-vm-size Standard_B2ms --node-count 2 --kubernetes-version 1.16.13 --mode System`

`Operation failed with status: 'Bad Request'. Details: Basic load balancers are not supported w

[2021-07-13 09:04] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-07-13 13:46] PixelRobots commented on #2431
I would like to see this also. I am currently having to create a new system node pool with taints and then delete the automatically created one. Wastes a lot of time.

[2021-07-13 15:17] brunoscota commented on #2066
great news!!!! thank you so much!

[2021-07-13 15:25] justindavies commented on #2419
Hi there, if you are only seeing 1.18, then I think there is something wrong.  Would you be able to open a support request please ?

[2021-07-13 15:29] justindavies commented on #2431
Hi would you be able to let me know the use case (what taints) you would need on the system nodepool?  This will help me to look at these from a feature perspective.

[2021-07-13 15:32] PixelRobots commented on #2431
For me it is this:
`--node-taints CriticalAddonsOnly=true:NoSchedule`
Which is referenced in the docs. https://docs.microsoft.com/en-us/azure/aks/use-system-pools#add-a-dedicated-system-node-pool-to-an-existing-aks-cluster

[2021-07-13 15:40] justindavies commented on #2431
Thanks, I'll get this added to the az cli

[2021-07-13 15:46] PixelRobots commented on #2431
Thanks. If you need someone to test, I am happy to help. I have a signed MVP NDA.

[2021-07-13 17:00] aanm commented on #2431
Hello @justaniles to me is to prevent application pods from being managed by CNI plugins that are installed by default. If users want to use Cilium, a CNI plugin, there's a concurrency issue where application pods might be managed by Cilium or by the default CNI plugin.

With a node taint, the application pods will not run until Cilium is deployed and removes the taint (`node.cilium.io/agent-not-r

[2021-07-13 17:31] SatyKrish commented on #1686
Hi @miwithro, I was referring to this limitation of having to create private DNS zone with exact `privatelink.<location>.azmk8s.io` name. This causes conflict when DNS zone is created on each Spoke VNet.

[2021-07-13 21:40] keikhara opened #2438 "[Feature] CIS Benchmark for Windows"
Running assessment for CIS Benchmark on Windows 2019

[2021-07-14 03:42] kseniyashaydurova opened #2439 "[Feature] Add possibility to authenticate to aks using github credentials with teleport"
**Add possibility to authenticate to AKS using GitHub credentials with Teleport or add documentation on its tuning if this feature already exists.**

The way it is done for AWS EKS :
https://aws.amazon.com/blogs/opensource/authenticating-eks-github-credentials-teleport/
https://goteleport.com/docs/kubernetes-access/helm/guides/aws/

[2021-07-14 04:30] asubmani commented on #2418
I can finally see the image from update

[2021-07-14 04:30] #2418 closed

[2021-07-14 06:44] andyzhangx commented on #1876
@ZeroMagic any rough ETA of secret store CSI driver GA on AKS?

[2021-07-14 07:00] #2089 closed

[2021-07-14 07:14] giordyb commented on #2419
Hi @justindavies,

I'd gladly open a SR but I'm on the basic support plan...that's why I opened an issue here.

[2021-07-14 07:35] ZeroMagic commented on #1876
After upstream project GA(https://github.com/kubernetes-sigs/secrets-store-csi-driver/milestone/5), will start the GA work of `AKS-AzureKeyVaultSecretsProvider` feature. The ETA is September/October.

[2021-07-14 08:27] omenv commented on #1477
It is a problem when it comes to a db operator (Mongodb, Postgresql, etc)

[2021-07-14 14:41] phillebaba opened #2440 "Network Polciy for webhook configuration"
**What happened**:
When setting up new network policies for Ingress Nginx I realized that I needed to allow traffic to the ValidatingWebhookConfiguration. This should have been simple but was made complicated by the way tunnelfront works. Allowing ingress from tunnelfront did not seem to be enough as it does not NAT the traffic. Running TCP dump on tunnelfront showed that traffic from 192.0.2.100

[2021-07-14 15:13] justindavies opened #2441 "CA support for VMSS scaling"
Support for VMSS metrics within Cluster Autoscaler

[2021-07-14 15:15] justindavies opened #2442 "Support for Autoprovision"

[2021-07-14 19:38] PixelRobots commented on #2442
Anymore information about this. The title sounds interesting.

[2021-07-14 20:34] helayoty commented on #2369
I have the same problem  building my docker image on Mac

[2021-07-14 23:57] paulgmiller commented on #1338
To give an update here. Kube-proxy currently expects one cluster-cidr and nats and does other things if you're not inside it.

This is a known issue
https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/2450-Remove-knowledge-of-pod-cluster-CIDR-from-iptables-rules

But there is already support to use the nodes pod cidr isntead of cluster
https://github.com/kubernetes/kubernetes/p

[2021-07-15 01:54] hasandogu opened #2443 "Unable to Delete Cluster due to public IP address"
Hi there,

**What happened**:

We have an AKS cluster that we would like to delete but couldn't achieve that through portal or CLI.

I have found a similar issue and followed the steps as we were also using ACI service for virtual nodes: https://github.com/Azure/AKS/issues/1427

Although we followed to remove everything related with ACI, we still cannot delete the cluster

The latest error we got

[2021-07-15 02:10] #2439 closed

[2021-07-15 02:38] kseniyashaydurova commented on #2439
Added issue inside Teleport project - https://github.com/gravitational/teleport/issues/7561

[2021-07-15 05:13] motim6026 commented on #2369
Yes I confirm that was the problem in my case, I built the image on win instead of on Linux

[2021-07-15 05:13] #2369 closed

[2021-07-15 06:00] #2389 closed

[2021-07-15 06:42] axelgMS commented on #2437
CRI 249064194

[2021-07-15 07:24] flbla opened #2444 "Starting with AKS 1.20 when a AKS cluster is created, it adds cluster tags on the UDR resource"
**What happened**:
Starting with AKS 1.20 when a node is created, it adds cluster tags on the UDR (userDefinedRouting) resource.

**What you expected to happen**:
No tags should be added (as it was with previous version of AKS)

**How to reproduce it (as minimally and precisely as possible)**:
Create a cluster AKS 1.20 or 1.21 with userDefinedRouting and check the UDR tags, cluster tags will be ad

[2021-07-15 07:57] ealogar opened #2445 "ASK with k8s version 1.20 and calico as network plugin breaks graceful shutdown of pods"
**What happened**:
The combination of aks 1.20.7 with calico as network policy is breaking the k8s graceful shutdown of pods.
When a pod is put in terminating state (after a delete or graceful) it should finish the pending requests before finally dying and respect the terminationGracePeriodSeconds.
We receive a timeout error when a long request is about to finish and the pod is terminatting (see b

[2021-07-15 12:21] justindavies commented on #2417
Hmm, I'm interested in what that template would be doing to hit ARM api limits.  Would you be able to paste it here?

[2021-07-15 12:23] justindavies commented on #2433
Would you be able to let me know the SR number ?

[2021-07-15 12:24] justindavies commented on #2416
@miwithro  for when you are back, any ideas why this is?

[2021-07-15 15:20] porrascarlos802018 opened #2446 "Provisioning state not shown in the portal for cluster nodepools, instead power state is shown"
please revert back and show the provisioning status for the nodepool , under the portal and add clarification on what status means and what are the possible status shown.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size

[2021-07-16 01:37] Shuanglu commented on #2444
should be related with this feature
https://kubernetes-sigs.github.io/cloud-provider-azure/topics/tagging-resources/
https://github.com/kubernetes/kubernetes/commit/b33715711ed4d77f540bb031cc004d6694a8a361#diff-625b77ef1678b3dbb9c92d4a1a4f95a3857c262a30681c758c3833f0460192e3

[2021-07-16 07:28] pierluigilenoci commented on #2306
@msftbot thanks...

![tenor](https://user-images.githubusercontent.com/36044817/125909201-155b69d1-ae34-4dd9-aa63-b84d1673d18e.gif)

[2021-07-16 07:31] pierluigilenoci commented on #2306
Let's see if, by disturbing some random people, we get some feedback.

@qpetraroia
@justindavies
@miwithro

![tenor](https://user-images.githubusercontent.com/36044817/125909709-e962606b-e3e4-486b-84c1-70a815e52861.gif)

[2021-07-16 07:37] justindavies commented on #2306
@pierluigilenoci apologies for the delay on this, we have a rather large backlog of issues we are trying to triage.  I would be concerned about dropping log information that may help during RCA on your and our side.  If this is a Log Analytics issue (too much data being stored, we may need to look at this in a different way)

@keikhara let's discuss this when you wake up to see if we can reduce ch

[2021-07-16 07:55] pierluigilenoci commented on #2306
@justindavies this is not a Log Analytics problem.

As I wrote it is a problem that pods produce tons of useless logs (INFO and DEBUG level). Too many logs just generate noise and drive costs up.

The first choice would be to be able to configure, for each pod managed by Azure, the log level of interest (in my case only WARN/ERROR/FATAL would be of interest).

In case of malfunctions, you can alwa

[2021-07-16 12:42] kethasid opened #2447 "AKS- Dynamic Provisioning not working for statefulsets using Azure file as storage class for replicas greater than 1"
-->

**What happened**:

We are trying to implement Azure file for our PV in aks cluster. We are trying to deploy a statefulset with 6 replicas,
We created a storage class for azure file and also PV which points to the storage account in azure.
When the statefulset gets deployed the first pod runs fine but the the next one goes into pending state.
Issue is that the second PVC is unable to get the

[2021-07-16 12:47] andyzhangx commented on #2447
the error shows you don't have listKeys permission to one storage account.

[2021-07-16 12:50] kethasid commented on #2447
@andyzhangx . Question is how come the 1st PVC is bounded to the PV ?
any suggestions as to how it will get resolved

[2021-07-16 12:56] andyzhangx commented on #2447
you have a predefined `pv-azurefile` pv, and 1st PVC is bound to that pv directly, and for the second PVC, azure file driver needs to create a new PV(file share)

[2021-07-16 13:03] kethasid commented on #2447
@andyzhangx So to resolve this the Service principal needs to have the role of Microsoft.Storage/storageAccounts/listKeys/action and then it would be able to create infinite no of PV for each of the replica. Correct me if I'm wrong

[2021-07-16 13:10] andyzhangx commented on #2447
also need write permission of that storage account since it needs to create file share inside that storage account

[2021-07-16 13:17] kethasid commented on #2447
@andyzhangx Thank you so much for your inputs. Will try to implement the same

[2021-07-16 13:17] #2447 closed

[2021-07-16 14:04] justindavies commented on #2428
This has been hotfixed into all available releases

[2021-07-16 14:04] #2428 closed

[2021-07-16 14:14] justindavies commented on #2413
Hi there, I wish I could give you a concrete date.  This is definitely in our backlog and we are working to get the A100's onboarded.

[2021-07-16 14:14] #2413 closed

[2021-07-16 14:16] justindavies commented on #2414
Hi there, this definitely shouldn't be happening, but I am unable to recreate the issue.  Would you be able to give me one of the yaml files for a CronJob so I can test with a dummy container.

[2021-07-16 14:24] justindavies commented on #2366
Hi there, are you seeing issues with coredns that you need a quicker turnaround than 10 seconds ?

[2021-07-16 14:32] jmezach commented on #2414
Sure thing, here's an example of a CronJob we currently have deployed:

[code]

I did just notice that we haven't explicitly specified the maximum number of pods to keep in the YAML, although I thought we did. But I believe there are defaults for those values, and if I describe this particular CronJob I'm seeing the following:

[code]

But if I look at the pods right now I'm seeing 51 succeeded an

[2021-07-16 15:53] porrascarlos802018 commented on #2446
Reference ID : 249828860

[2021-07-16 16:57] chandraneel commented on #2446
Thanks a lot for bringing this to our attention.
We are actively working on resolving this, will keep this updated as we make progress.

[2021-07-16 18:17] palma21 commented on #2437
From 1.21 and further versions onward CSI will be the only option, at GA it will have migration enabled to avoid clashes but CSI will be the only storage solution supported on AKS in the future. We will announce before in-tree is deprecated.

You are completely free to specify you own default storage classes an not use our own, they are just there for commodity if case you didn't.

[2021-07-16 20:40] aanandr commented on #2410
This is in our roadmap but i dont have clear timelines for its availability yet. It will most probably come only next semester.

[2021-07-18 03:13] Kerushi opened #2449 "ClusterIP Network Policies Cannot Match Selectors From Nodes in New Node Pool Subnet"
### **What happened**:

Network Policies unexpectedly broke existing traffic flows after creating two subnets (userpool & systempool) to separate out node pools.  Network calls from pods to ClusterIP services time out depending on the node the traffic originated from.

This is true for both Azure CNI with Azure Network Policies & Calico.

**Node pools created in a different subnet than initial nod

[2021-07-18 06:32] guy-microsoft opened #2450 "Calico pods stuck in CrashLoopBackOff in AKS 1.20.7"
**What happened**:
Upgraded an AKS cluster from 1.18.X to 1.19.11 and then to 1.20.7. After upgrading to 1.20.7 I see that some of the Calico pods are stuck in an infinite CrashLoopBackOff.
In their container logs I see (looks like something with IP collision between 2 nodes):
2021-07-18 06:11:58.517 [INFO][8] startup/startup.go 390: Early log level set to info
2021-07-18 06:11:58.517 [INFO][8] st

[2021-07-18 06:43] palma21 commented on #2416
@Anumita, @shashankbarsin

[2021-07-18 07:10] palma21 commented on #1486
It's still in preview, will be GAing soon.

[2021-07-18 07:14] #1520 closed

[2021-07-18 07:19] palma21 commented on #1742
For alpha flags: #2058

For those 2 HPA flags + @justindavies to evaluate

[2021-07-18 07:22] #1786 closed

[2021-07-18 07:25] palma21 commented on #1887
Duplicate for #2058

[2021-07-18 07:38] palma21 commented on #2266
Marking as solved for now with the above workarounds and dup for #2189

[2021-07-18 07:40] palma21 commented on #2377
Dup for #1479 which has been added to the backlog.

[2021-07-18 07:42] palma21 commented on #2410
Dup for #460

[2021-07-18 07:46] palma21 commented on #2444
It was a feature coming with 1.20, it's not on the notes because it's still missing a few adds to the experience, should be there soon.

You mention you'd like to have it disabled, this is just propagating the tag from the managed AKS resource to all its dependent resources, if no tag is there, there's no propagation.

Could you clarify more your use case?

[2021-07-18 07:50] #2380 closed

[2021-07-18 07:50] #2367 closed

[2021-07-18 07:51] #2354 closed

[2021-07-18 09:19] chirangaalwis commented on #2377
@palma21 do we have an ETA for this?

[2021-07-19 01:00] #2311 closed

[2021-07-19 01:00] #2294 closed

[2021-07-19 02:01] saaror commented on #2183
Thanks for looping-in! Ack, we will investigate the issue.

[2021-07-19 08:04] anurag4516 opened #2451 "AKS Service should expose VMSS ID /Name Created . So that we can codify"
**What happened**: I was trig to get name of VMSS created via AKS which was created via terraform

**What you expected to happen**: VMSS Name/ID is not exposed via AKS as per below link and comment
https://github.com/terraform-providers/terraform-provider-azurerm/issues/6217#:~:text=At%20this%20time%20AKS%20doesn%27t%20expose%20the%20ID%20of%20the%20VM%20Scale%20Set%20being%20used%20-%20as%20such%

[2021-07-19 08:56] scoof commented on #2437
To modify it, we would need to import it into our Terraform state, which is a manual operation. And even *if* we modify it to not be the default, it will still be named default and exist to confuse our users, since there is no way to permanently remove it.

The difference between the in-tree drivers and CSI is that it is now technically feasible to provide this ability to disable the driver comple

[2021-07-19 09:00] #2410 closed

[2021-07-19 09:00] #2266 closed

[2021-07-19 09:00] #1887 closed

[2021-07-19 10:15] lindhe commented on #2359
I'm on summer leave right now, so cannot test again until I'm back at work. Think I'll have to take another live session with our Microsoft support rep. to verify that I'm not doing something wrong.

[2021-07-19 13:28] phealy commented on #2430
@dwene Like the error says, you can't upgrade directly from a 1.14.x version to a 1.16.x version. Can you try upgrading your node pool to something like 1.15.12 as an intermediate step? Once you've upgraded that node pool through 1.15 to 1.16, you should be able to continue upgrading your control plane and node pool to current versions.

[Multiple node pools are not supported with a basic load bal

[2021-07-19 14:06] dwene commented on #2430
Thanks for the reply @phealy

I tried upgrading the existing nodepool to 1.15.12, but I get the same error.

`az aks nodepool upgrade     --resource-group advisors-web     --cluster-name advisors-kube     --name nodepool1     --kubernetes-version 1.15.12    --no-wait`
```Operation failed with status: 'Bad Request'. Details: Upgrade agent pool version from 1.14.6 to 1.15.12 is not allowed, you can

[2021-07-20 03:20] palma21 commented on #2437
Would it help if we change the name from default to something else that wouldn't confuse your users?

We can consider that, hard to support as an opt in, but would you like it as an opt-out all the same? It has a few harder to support edge cases as some higher level features rely on storage and would need to be blocked in these clusters.

A little bit harder, since working DNS is less of an option

[2021-07-20 03:30] #1570 closed

[2021-07-20 03:40] Slaiyer commented on #1638
I'm unable to [use the AKS specialized GPU image](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#use-the-aks-specialized-gpu-image-preview) due to this (using [Pulumi azure-native](https://www.pulumi.com/docs/intro/cloud-providers/azure/) for IaC, which generates resources from ARM Open API specifications). Is there any other way of using this besides the aks-preview CLI extension?

[2021-07-20 07:06] scoof commented on #2437
It would help, but having the option to remove them entirely (also without removing the CSI addons) would be better.

Definitely. It wouldn't really matter to us if it's one way or another, since we would encode the choice in our HCL.

Coredns may not provide the featureset that we require. But that is a discussion for another time.

[2021-07-20 09:03] pietervincken commented on #2397
We're running into exactly the same issue (including the KubeAPIErrorBudgetBurn alert).

[2021-07-20 09:57] flbla commented on #2444
Our UDR resources already have tags, for eg ENVIRONMENT (highercase).
The problem is, on our clusters with also have tag environment (but with lowercase).
Due to this nodes were not able to use the UDR and stayed in "not ready" state, trying infinitely to create the tag "environment" which already exist in capital letter.

Furthermore, in a near future we would like to create more than one cluster

[2021-07-20 10:13] evelkey commented on #2433
We've tested this in Germany West and West Europe regions, my support request ID is: `TrackingID#2106290050002650`. We tested with both v1.19.7 and v1.20.7 (Docker and containerd) non of them works. If a new VMSS-based nodepool is created, we simply cannot deploy any workload to it and the node becomes unresponsive. This error completely blocks all of our workloads on AKS and we needed to temporar

[2021-07-20 12:00] #2107 closed

[2021-07-20 14:27] MattJeanes opened #2452 "Konnectivity implementation timeline"
**What happened**:

Release 2021-06-17 states that starting on next weeks release Konnectivity will replace aks-link and tunnelfront for connecting the control plane and nodes, however this does not seem to have happened.

**What you expected to happen**:

I would have expected this rollout to have completed by now as per the timeline given on the release.

**How to reproduce it (as minimally and

[2021-07-20 14:36] MattJeanes commented on #2344
It seems that tunnel-front will soon be replaced with konnectivity (#2452) so hopefully this issue can be closed soon

[2021-07-20 17:30] justindavies commented on #2452
Hi there @MattJeanes, we are slightly delayed on getting this out.  We will update this issue when this is on its way

[2021-07-20 17:33] justindavies commented on #2451
Hey there, thanks for getting in touch.  Can I delve a little bit more into what you would want to do with the VMSS ID/name after you have it?  Direct work on the MC_ resource group isn't the best way to interact with the resources we spin up for AKS within your subscription

[2021-07-20 17:35] miwithro commented on #2299
@feiskyer can you please address this?

[2021-07-20 17:35] justindavies commented on #2450
Would you be able to confirm if there was an IP collision in the VMSS as you thought?  This will help us get to the bottom of this

[2021-07-20 17:37] justindavies commented on #2401
@qpetraroia let's have a chat about this

[2021-07-20 17:39] justindavies commented on #2424
@miwithro FYI

[2021-07-20 17:42] MattJeanes commented on #2452
That's perfect, thank you very much. Do you have an estimated timeline for this?

[2021-07-20 17:42] miwithro commented on #1995
@digeler are you still having this issue on the latest SDK release?

[2021-07-20 17:44] justindavies commented on #2452
I wish I could be very accurate on this, but at the moment the best I can say is in the short vs medium term for this to be rolled out.  We'll update this issue once we know it on the release track.

[2021-07-20 17:47] miwithro commented on #2076
@roy-work what AKS Version are you currently running, and is the issue still there?

[2021-07-20 17:48] justindavies commented on #2432
@palma21 does nodepool going AZ aware trigger the control plane too?

[2021-07-20 17:57] wangyira commented on #658
Hi @andyzhangx, are you able to link the doc for this? Thanks!

[2021-07-20 17:59] miwithro commented on #2337
@jkanczler is this still an ongoing issue?

[2021-07-20 18:18] wangyira commented on #1200
@palma21 Do you know if there's documentation on this?

[2021-07-20 18:20] wangyira commented on #1244
Looping in @justindavies and @keikhara here

[2021-07-20 18:23] wangyira commented on #1303
@palma21 Do you know if this in GA? The [doc](https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#set-auto-upgrade-channel) doesn't have preview in the title.

[2021-07-20 18:28] wangyira commented on #1388
@miwithro looping you in to take a look

[2021-07-20 20:35] miwithro commented on #1388
@iverberk I just tested the command against my 1.19.11 cluster and it worked.  Can you at least upgrade your azure cli and try again.

{
  "azure-cli": "2.26.1",
  "azure-cli-core": "2.26.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.23"
  }
}

[2021-07-20 23:15] adammal commented on #2146
This request would be very useful to us. We would like to make use of dedicated node pools and at present the NMI DaemonSet is not deploying to our tainted node pool.
Any idea when this might become available?

[2021-07-21 01:35] bcho commented on #2146
In AKS side, we already added these tolerations to the nmi daemonset:

[code]

[2021-07-21 01:45] feiskyer commented on #2299
This was caused by a known issue from PrivateLink service. Network team is working on the fix.

[2021-07-21 02:20] adammal commented on #2146
Thanks for responding. Unfortunately, no.
We have tainted our node pool with _key=value:NoExecute_

I've noticed that DaemonSets like kube-proxy and calico-node (for example) are configured as follows.

      tolerations:
        - key: CriticalAddonsOnly
          operator: Exists
        - operator: Exists
          effect: NoExecute
        - operator: Exists
          effect: NoSchedule

and t

[2021-07-21 03:01] adammal commented on #2146
I've also noticed that the same problem exists with the AKS-AzureKeyVaultSecretsProvider addon.

https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver

The two DaemonSets it establishes do not specify any tolerations and as a result do not deploy to tainted node pools either.

[2021-07-21 04:41] bcho commented on #2146
Hi @adammal Thanks for the feedback, I will update the nmi ds tolerations to align with the kube-proxy. For the secret store CSI driver, @ZeroMagic will update the tolerations settings as well.

[2021-07-21 04:48] adammal commented on #2146
Thanks very much guys! Really appreciate it.

[2021-07-21 06:16] guy-microsoft commented on #2450
@justindavies It seems that the nodes InternalIPs are different:
mynodep-75352824-vmss000001 InternalIP: 10.240.0.5
mynodep-75352824-vmss000000 InternalIP: 10.240.0.4

However, in mynodep-75352824-vmss000000 I see the following annotation:
`projectcalico.org/IPv4Address: 10.240.0.5/16`
which seems to point to the InternalIP of mynodep-75352824-vmss000001.
I'm not familiar with what this annotation

[2021-07-21 08:37] anurag4516 commented on #2451
Hi @justindavies  .
We are creating AKS via terraform , and using VMSS as nodepool client . We are using Terraform as IAAC to codify Infra .
After creation of AKS we want to monitor VMSS + attach user-assigned identities to it . As VMSS ID is not exposed , terraform is not able to fetch this ID and expose it so that we can retrieve it further for enhancements . Kindly refer following

https://gith

[2021-07-21 09:21] jkanczler commented on #2337
@miwithro, we converted our images to single arch images, so it's not a problem anymore. But it can be still an issue for others.

[2021-07-21 15:20] mumrau commented on #2432
@justindavies The documentation states that it does _not_.

Which is part of the issue, if the only trace of the AZ-awareness for the control plane resides in the `defaultNodePool`, the fact that this `defaultNodePool` is clearly mutable, and can be deleted as long as _another_ `nodePool` is tainted with `System` pool, the information is then completely lost.

[2021-07-21 17:01] scoof commented on #2450
We also hit this, and have an open support case regarding it, where we provided kubelet logs. There were no IP collisions, but the node ips in the Calico database were wrong. Restarting the calico pods on the nodes with the wrong recorded IP (i.e. not the host in CrashLoopBackoff) resolved it. Support request id: 121071925000234

[2021-07-21 18:02] phealy commented on #2289
Did you try deleting and recreating the pod to trigger an unmount and remount of the share?

[2021-07-21 18:47] ChiragPavecha opened #2453 "Support selection of nodes to remove when scaling down."
Support selection of nodes to remove when scaling down.

At the moment when you scale down, the oldest nodes will always stay and the newer nodes will be removed. Would be a nice feature to be able to remove a selected node when scaling down or maybe manually.

This will enable customers to remove an unhealthy node which is otherwise impacting the entire cluster.

Read more user scenarios here - h

[2021-07-21 20:50] northtyphoon commented on #2337
@jkanczler do you still have the multi-arch image itronicsp.azurecr.io/uiclearcollectionapi:19.02.1314.4515-ci.master?

[2021-07-21 21:32] sfc-gh-zchen commented on #2366
Hi,

Yeah, we would like to detect problems in CoreDNS sooner. We are trying to reduce this to 3 seconds. Otherwise, traffic may still be sent to a replica that is unhealthy for 10s.

Ziyuan

[2021-07-21 23:03] miwithro opened #2454 "CVE-2021-32760: Archive package allows chmod of file outside of unpack target directory in containerd"
https://github.com/containerd/containerd/security/advisories/GHSA-c72p-9xmj-rx3w

A bug was found in containerd where pulling and extracting a specially-crafted container image can result in Unix file permission changes for existing files in the host’s filesystem. Changes to file permissions can deny access to the expected owner of the file, widen access to others, or set extended bits like setuid

[2021-07-21 23:04] #2365 closed

[2021-07-22 06:00] #1638 closed

[2021-07-22 10:57] BobClaerhout commented on #1394
We are experiencing this issue as well. We have an mqtt port which is behind a loadbalancer. This mqtt port requires authentication and the health probe doesn't provide the authentication (of course) nor the correct protocol which results in logging (in the business application) of a faulty incoming request.
Since this has been updated 4 days ago, is this active now? If yes, what would be the rele

[2021-07-22 13:01] bergmeister commented on #1303
Still in preview but not for much longer, see https://github.com/Azure/AKS/issues/1486#issuecomment-882011208

[2021-07-22 13:34] pierluigilenoci commented on #2306
@justindavies

![tenor](https://user-images.githubusercontent.com/36044817/126647758-1caee835-9741-4ee3-8a61-edb0f7d191fd.gif)

[2021-07-22 13:44] MattJeanes commented on #2397
We're also seeing this on all 4 clusters we have (3 West Europe, 1 East US) - what is the timeline for this fix rollout, this is causing our alerting systems to fire off frequently with false alarms

[2021-07-22 16:14] seguler commented on #2453
Can you not delete the individual VM from the VMSS view on the Portal?

![image](https://user-images.githubusercontent.com/22362788/126672722-0a34e949-06aa-415f-9056-23604f4ad7a3.png)

[2021-07-22 17:20] dhei commented on #845
Hello AKS folks,

Any update of when AKS will support KMS provider? This issue has been opened for almost 2 years, it would be great to get an ETA on this feature request.

Thank you.

[2021-07-22 17:33] miwithro commented on #845
We are hoping to have a Public Preview by the end of Q3 2021.

[2021-07-22 18:36] miwithro opened #2455 "CVE-2021-25740: Endpoint & EndpointSlice permissions allow cross-Namespace forwarding"
A security issue was discovered with Kubernetes that could enable users to send network traffic to locations they would otherwise not have access to via a confused deputy attack.

This issue has been rated Low severity (CVSS:3.0/AV:N/AC:H/PR:L/UI:N/S:U/C:L/I:N/A:N), and assigned CVE-2021-25740.

Am I vulnerable?
If a potential attacker can create or edit Endpoints or EndpointSlices in the Kubernet

[2021-07-22 18:49] drzdbd1 commented on #2058
Interested as well, following.

[2021-07-23 07:00] #2408 closed

[2021-07-23 07:31] mohitsaxena2005 commented on #1846
We also have a scenario where we need to open long live connections to the clients may be > 10 hours and the new requests should move to least connected pod, Is there any alternate way that could be used if IPVS is not supported or could be enabled somehow in AKS.

[2021-07-23 08:41] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-07-23 10:16] EraYaN commented on #2397
Our support contact said that the fix has not yet been rolled out due to technical issues. Waiting for an ETA update now.

[2021-07-23 15:18] mrowken commented on #2175
@miwithro - do you know when v1.21 will become GA to install in West Europe ?
We're waiting to start scheduled upgrade, that's why it matters.
Referring to release notes 2021-07-15, it should be already available, but it isn't :

[2021-07-23 15:18] rmt commented on #1767
I'm not convinced that they understand what this ticket is asking for.  This is about user identieis.

In February this year, AWS EKS introduced the much requested feature.    EKS allows you to "Associate (an OIDC) Identity Provider" with a cluster.  To configure this, you provide an Issuer URL, Client ID, Username claim and Groups claim.

For example, https://oidc.mycompany.com/, myclientID, "use

[2021-07-23 15:26] miwithro commented on #2175
There is a 1 week delay in the deployment schedule due to the Olympics.  So we anticipate complete rollout by end of the week of the 26th.

[2021-07-23 16:18] MarcosMMartinez commented on #2450
Hit on 2107230040003040.

[2021-07-23 20:03] asubmani commented on #2450
Did you have to re-create the cluster?

[2021-07-23 21:21] Aaron-ML commented on #2397
Ah, Our support ticket engineer told us to upgrade to 1.20 to resolve these API errors, glad this was acknowledged by Microsoft with a hotfix due as we've been seeing these alerts page us for a few weeks now across all clusters.

[2021-07-24 00:00] #2146 closed

[2021-07-24 09:18] scoof commented on #2450
To fix it? No, just restart the calico nodes that are registered with a wrong IP

[2021-07-24 09:44] ekarlso commented on #2450
We've had this issue in several clusters after going to 1.20.x with it seemingly looking ok and then starting to crash randomly

[2021-07-24 17:40] aristosvo commented on #2451
/subscribe!

I was involved in the original [discussion](https://github.com/terraform-providers/terraform-provider-azurerm/issues/6217) and curious if BYO kubelet identity solves already half of the requirements of @anurag4516

[2021-07-25 08:00] #1923 closed

[2021-07-25 08:00] #1908 closed

[2021-07-25 15:53] anurag4516 commented on #2451
Hi @aristosvo
I have 2 issues
a) **After creation of AKS we want to monitor VMSS**
b)  **attach user-assigned identities to it**

Part A cannot be solved via BYO Identity

Though b part can be solved partially via BYO Identity , But we have different use-case , at beginning of cluster creation itself we are not aware of how many Identities we need to add to it . Depending on requirement we add ide

[2021-07-25 18:00] #1955 closed

[2021-07-25 18:00] #1791 closed

[2021-07-26 07:32] JJ11teen commented on #2450
We're seeing the same issue, and can confirm that restarting the non-failing calico pods seems to fix it.

I've had it crop up twice with the same cluster when scaling from 2->3 nodes, but I only restarted 1 (working) set of calico pods each time, so its possible that it just clashed with each IP in turn. Will update if it crops up again now all calico pods have been restarted.

[2021-07-26 08:04] kaplik opened #2457 "Monitoring addon / OMS agent - memory consumption, oom restarts"
**What happened**:
I'm facing issue with AKS monitoring addon (oms agent) which is restarting quite often. Possible cause is OOM.
The issue occurred probably after AKS upgrade (from 1.19.X -> 1.20.7). The OMS agent was updated automatically during AKS cluster upgrade to: mcr.microsoft.com/azuremonitor/containerinsights/ciprod:ciprod06112021

I did this upgrade on 3 AKS clusters, and all of them is

[2021-07-26 08:24] kaplik commented on #2457
Support request ID | 2107260050000609

[2021-07-26 09:51] CJJ69 commented on #1960
We are also facing this exact issue.

We created a standard Azure hub spoke topology; with AppGW in hub and spoke workload (AKS cluster) in peered VNet.
AGIC is configuring AppGW OK.
Linux containers work OK.
Windows containers are offline (backend unhealthy)

Manually bodging the AppGW subnet into the ExceptionList of OutBoundNAT endpoint policy (in file C:\k\azurecni\netconf\10-azure.conflist) o

[2021-07-26 12:08] CJJ69 commented on #1953
https://github.com/Azure/AKS/issues/1960#issuecomment-886551752

[2021-07-26 12:16] Vandersteen opened #2458 "AKS nodes losing connectivity daily"
**What happened**:
Daily network timeouts our applications between 08:00-09:00
This is likely due to disk IO spikes during the daily updates of the nodes

It also looks like the `Network Service` is restarted at that point in time (see journalctl logs below)

e.g.: (logged at 2021-07-24T06:13:50.9504147Z)
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version:  `Server

[2021-07-26 15:36] hron84 opened #2459 "az aks stop not in command group"
**What happened**:
I trying to follow the official Microsoft documentation for [stopping an AKS cluster](https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster). However azure cli says:

[code]
When I tried to use `aks-preview` extension, azure cli complained it cannot load the `aks-preview` extension.

**What you expected to happen**:

Successfully stop an AKS cluster

**How to reproduce i

[2021-07-27 10:36] sindrel commented on #2387
Hi @justindavies,

By namespace permissions, are you referring to Kubernetes RBAC namespace permissions? I set up a test scenario where I stripped a user of any permissions in Kubernetes RBAC, but the user is still able to view metrics and environment variables (including secrets) on all containers in the cluster in the Insights view. I expected it to not be able to view any metrics or environment

[2021-07-27 20:00] #2300 closed

[2021-07-28 05:03] kalyanteja19 commented on #2405
Hi team,

Updated please

[2021-07-28 15:27] Tbohunek opened #2461 "AGIC support for Kubenet"
**What happened**:
Application Gateway Ingress Controller is not supported with `kubenet` network plugin because AGIC subnet does not have kubenet routes.

**What you expected to happen**:
As proposed in https://github.com/Azure/application-gateway-kubernetes-ingress/issues/931, whenever AGIC receives new backend to add, it should check whether it has a route for that on its subnet and if no, copy

[2021-07-28 16:36] ganga1980 commented on #2457
Hi, @kaplik, I am investigating this from Monitoring addon team and  let provide the update and workaround for this issue soon.

[2021-07-28 19:26] ganga1980 commented on #2457
/assign @ganga1980

[2021-07-29 00:17] shanalily commented on #2397
The fix for the RCA referenced by @jemag has been rolled out to all public cloud regions and errors from scraping port 19100 should not contribute to error budget depletion anymore.

ETA for port 10257 error fix rolling out to all of public cloud is end of this week or early next week. It only affects cluster with Linux node VHD versions older than 2021.06.01.

[2021-07-29 00:17] #2397 closed

[2021-07-29 00:51] MattJeanes commented on #2397
Thank you for the update @shanalily - I can confirm that the 19100 port error is resolved in all my clusters across all regions. It is also worth mentioning that you can manually fix the 10257 error by upgrading the image on the node pools like so, as recommended to me by Azure support:

[code]

Or alternatively by upgrading the entire Kubernetes cluster which will also roll out new image versions

[2021-07-29 00:58] robbiezhang commented on #2426
probably cause by this issue:
https://github.com/coredns/coredns/issues/4594

[2021-07-29 01:27] ganga1980 commented on #2457
Hi, @kaplik,  I did investigate and couldnt find exact root cause, and discussed with support team who is handling the support ticket to schedule a meeting on your earliest convienent time so that we can investigate and understand whats causing this. Based on our telemetry, looks like you have upgraded the cluster 2021-07-14T20:14:00Z and our updated agent ciprod06112021 got deployed on 2021-07-15

[2021-07-29 06:33] guy-microsoft commented on #2450
@justindavies I found this comment in a relevant Calico github issue:
https://github.com/projectcalico/calico/issues/4611#issuecomment-880018862
Does it mean I should expect issue to be resolved?

[2021-07-29 08:42] kaplik commented on #2457
Hi @ganga1980,
thank you for your investigation. We have scheduled call with support engineer Punnet Dhir on Friday 30.7. 12:00-13:00 CEST (Europe/Prague), i would be happy if you could join us.

We have 3 AKS clusters which are affected by this issue, all of them have been upgraded by same procedure. Here is the timeline of the upgrade. All clusters are in the same subscription (151c879a-7d27-4fc

[2021-07-29 12:47] ohadschn commented on #1062
For reference, you can find the new properties here:
https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters?tabs=json

[2021-07-29 15:16] andre-lx commented on #2199
Hi. Any news on this? And why is this closed?

Right now, it's impossible to have assigned user assigned identities on arm templates (and terraform) on cluster creation. I already tried a lot of things, and updates works great, after inserting manually with:
[code]

But, I need to have this done at once, with the deployment, so I need to insert the pod user identities to the cluster automatically.

[2021-07-29 16:15] porrascarlos802018 opened #2462 "Enable Azure Site recovery for AKS or HA always on sync AKS clusters across regions."
Enable Azure Site recovery for AKS or HA always on sync AKS clusters across regions.

we currently have this recommendation, https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-multi-region , but do we have any alternative way to have two clusters in sync across regions?

can Azure site and recovery be enabled for AKS?
https://azure.microsoft.com/en-us/services/site-recovery/#overvi

[2021-07-29 23:00] ahmad-hamade commented on #2175
I don't see v1.21 at all in West Europe region from the portal.
The latest is v1.21.1 which is still in preview.

<img width="476" alt="Screenshot 2021-07-30 at 12 57 27 AM" src="https://user-images.githubusercontent.com/11910802/127575988-0c7ea3f4-f612-4ae9-a250-78937a4df696.png">

Is the rolling out still in progress? when do we expect to see 1.21 GA?

[2021-07-30 04:20] bcho commented on #2199
Hi @andre-lx , unfortunately, this is by design that current pod identity addon implementation doesn't support being enabled during the cluster creation, because it depends on the cluster identity, which is only available only after cluster creation. As a workaround, we could assign enable and assign the pod identities after the cluster creation by using az cli. This might need to modify your depl

[2021-07-30 09:12] andre-lx commented on #2199
Thanks for the quick response @bcho .

I already tried that, following a lot of tutorials and guides, mas maybe I'm missing something.

After cluster creation, I create the the AzureIdentity, AzureIdentityBinding and do the aadpodidbinding on the deployment labels:
[code]

But this is not working. Well, first, if I run again the template, the AzureIdentity, AzureIdentityBinding got deleted. But th

[2021-07-30 09:27] marcinkoperski commented on #2458
Similar problem is visible on our cluster running Kubernetes ver 1.20.7 . Today 6 out of 22 VMs were automatically upgraded (between 8 and 9 local time, between 6 and 7 UTC) and during that time pods running there were restarted due to healthcheck probes issues.
Ticket 2107300050000684

[2021-07-30 10:44] om3171991 opened #2463 "Error : Microsoft.ContainerService/AutoUpgradePreview is not enabled"
Hey Team,

We are getting the below error message while setting auto-upgrade for AKS:

➜  Library az provider register --namespace Microsoft.ContainerService

➜  Library az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AutoUpgradePreview')].{Name:name,State:properties.state}"
Name                                           State
----------------------------------------

[2021-07-30 12:13] balakrishna222111 opened #2464 "Aks pod couldn't able to connect to azure SQL database"
I have created a azure aks cluster with this command
`az aks create
    --resource-group $ResourceGroupName
    --name $AksClusterName
    --node-count 2
    --network-plugin azure
    --service-cidr 172.18.0.0/16
    --dns-service-ip 172.18.0.0
    --docker-bridge-address 172.17.0.1/16
    --vnet-subnet-id $SUBNET_ID
    --disable-rbac
    --node-vm-size Standard_DS3_v2
    --network-policy azure

[2021-07-30 12:55] balakrishna222111 opened #2465 "In aks pod can't able to ping 8.8.8.8 or any public ip with AZURE CNI plugin"
![image](https://user-images.githubusercontent.com/22685723/127655762-e2b7f087-27b9-49f6-9b47-f74c072c592a.png)

i can't to ping to google.com or 8.8.8.8 or any public ip

My aks cluster configuration

![image](https://user-images.githubusercontent.com/22685723/127655970-01da3d96-6430-4327-8528-202545a5ad67.png)

[2021-07-30 14:31] parbmatthews commented on #2300
I'm getting a similar error:

az aks nodepool add --name highmemnp2 --cluster-name somecluster --resource-group somerg --linux-os-config linuxosconfig.json --labels "mem: high" --node-taints "sku=e2asvfour:NoSchedule" --node-count 2 --node-vm-size Standard_E2as_v4

az: error: unrecognized arguments: --linux-os-config linuxosconfig.json

I've followed the steps in the link below:
https://docs.micro

[2021-07-30 15:49] haugerbr commented on #2446
@porrascarlos802018 we have started to release the change. If you would like to use it before it is fully released, you can use https://preview.portal.azure.com

[2021-07-30 16:05] seguler commented on #2458
This is expected. There was a systemd security update this week and hit many customers as a network blip (once per node) at around 6AM UTC.

[2021-07-30 16:05] Chiodood commented on #2245
Having the same issue with this, would love to see an update! :]

[2021-07-31 03:05] dstrebel commented on #2465
What did you set as the outbound type or did you not specify? Do you have any UDRs on the vNet? Is it an existing vNet or new vNet?

[2021-07-31 04:56] balakrishna222111 commented on #2465
Yes,
It's an **existing vNet** . In existing vNet only i configured aks

Below is  my subnet configuration for aks **i didn't configured any UDR**  on  vNet

![image](https://user-images.githubusercontent.com/22685723/127728903-4becb1a6-bd80-4a6b-98ff-44cb12d881cc.png)

 **agent pool Inbound and outbound rules**

![image](https://user-images.githubusercontent.com/22685723/127728929-6a37af46-8bf6-4

[2021-07-31 16:26] paulgmiller commented on #1972
@tombuildsstuff suggests we should turn a sup operation code and that he's discussed this with people on the aks team. Trying to follow up with @palma21. Do we have any examples of other azure resources doing this? I was nder the

As I mention in terraform-providers/terraform-provider-azurerm#12719 anyting that passes the syncronous put will be retried by aks even if the subsequent async operation

[2021-08-01 03:53] palma21 commented on #2245
That is correct because you passed it an ID, does the ID you passed on not exist? If so you can't refer to an existing AGIC and need to either allow for a new on to be created or pass a valid existing one.

Which from the 2 above is your goal?

[2021-08-01 16:55] paulgmiller commented on #2300
Do you have the preview cli installe?  Customize the node configuration for
Azure Kubernetes Service (AKS) node pools (preview) - Azure Kubernetes
Service | Microsoft Docs
<https://docs.microsoft.com/en-us/azure/aks/custom-node-configuration#install-aks-preview-cli-extension>

On Fri, Jul 30, 2021 at 7:31 AM parbmatthews ***@***.***>
wrote:

[2021-08-01 21:06] petegrimsdale commented on #2245
@palma21 The issue is when passing the ID of the application gateway that has been created earlier in the same template.  If the app gateway is created in advance the add on works as expected but in the same arm template there is an issue.

[2021-08-02 01:15] dsabsay opened #2467 "ARM template deployment of node pools does more than it should"
**What happened**:

I'm trying as much as possible to use a set of ARM templates (with some extra templating on top) as declarative "infra-as-code".

I created a new node pool for cluster (via an ARM template following instructions [here](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#manage-node-pools-using-a-resource-manager-template). I then drained and deleted all nodes in

[2021-08-02 06:37] akshaysngupta commented on #2245
@petegrimsdale Do have the `DependsOn` set in AKS resource pointing to Application Gateway ?

[2021-08-02 07:16] tombuildsstuff commented on #1972
@paulgmiller we've discussed a sub-status code with @palma21 previously since that matches other resources - we're actually meeting with @palma21 on Friday so perhaps he can forward the meeting invite?

In terms of examples of other Azure Services, IIRC both Kusto (which iirc returns more granular status about the Kusto cluster provisioning as a sub-status) and CosmosDB (which has a similar flag r

[2021-08-02 08:12] Vandersteen commented on #2458
@seguler It happens almost daily for us in the same cluster.
So it's not a one time `blip`

[2021-08-02 09:23] AresiusXP commented on #2245
@akshaysngupta You can see in the example thata there is a dependsOn instruction in there. I can tell you that I also have in my template.

[2021-08-02 15:11] phealy commented on #2465
- Do you have any network policies assigned?
- Do you have any network configuration or hostNetwork settings in your deployment spec?
- Can you reproduce the problem in a simple busybox pod like this one?

[code]

[2021-08-02 16:51] Chiodood commented on #2245
@petegrimsdale is correct. `dependsOn` does not seem to work in this case.

[2021-08-02 17:12] petegrimsdale commented on #2245
@akshaysngupta hi Akshay.  Depends on does not seem to have any impact when the app gateway creation is in the same template as the add on usage

[2021-08-02 22:49] wasker opened #2468 "AKS 1.21.x+ fails to sync load balancer"
**What happened**: After upgrading to v1.21.2 AKS fails to sync load balancer after Nginx deployment

**What you expected to happen**: Work as it worked in v1.20 or earlier.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create your own public IP in the RG you have control over.
2. Give Network Contributor access in this RG to kubelet/cluster managed ID.
3. Set public IP as

[2021-08-02 23:25] robbiezhang commented on #2426
reopen as the change is not yet adopted in AKS.

[2021-08-03 08:49] chi-qin opened #2469 "--max-surge parameter of az aks nodepool upgrade doesn't take effect"
## What happened:

When I use `az aks nodepool upgrade --resource-group $resourceGroup --cluster-name $clusterName --name $pool.name --node-image-only --max-surge 20%`  to upgrade vmss nodes os version, it seems that --max-surge doesn't take effect, it upgrades each node one by one.

## What you expected to happen:

I hope that each time, there are 20% of all the nodes upgrading.

## How to reprod

[2021-08-03 09:01] flo-02-mu opened #2470 "Migration to csi disk provisioner for custom storage classes"
**What happened**:
With the AKS version 1.21.2 the default storage provisioner has switched to CSI. All PVCs using the default storage class are automatically migrated to use the CSI disk provisioner. Custom storage classes that have been created prior to the cluster upgrade seem to remain on the azure-disk provisioner.

**What you expected to happen**:
It would be nice to have a way of migrating

[2021-08-03 09:11] axelgMS commented on #2342
if I'm right, that Fix is deployed in AKS since mid-June.
Bug 9927172: Cloud provider should not change VMSS capacity on updates to network.

[2021-08-03 09:52] aelij commented on #2416
Additionally, shouldn't this role also have the `Microsoft.ContainerService/managedClusters/listClusterUserCredential/action` action? Otherwise a user would not able to run `az aks get-credentials`.

[2021-08-03 12:08] jmezach commented on #2414
Any updates on this? I just noticed we had another weird issue with our cluster as well where a deployment had been deleted, but the replica set was still there. Deleting the replica set also didn't delete the pod(s) created by that replica set. As far as I know that is the default behavior right now?

[2021-08-03 16:35] flbla commented on #2444
I tested with 2 clusters 1.21 in the same subnet using the same UDR.
I have no problem on clusters, but the tags on the UDR are continuously updating with tags of cluster 1 then with cluster 2, then with 1, etc..
I don't know if there is other impacts

[2021-08-03 17:15] qpetraroia commented on #2459
Hi @hron84,

Glad to take a look at this. Can we get what version of the CLI you are running?

[2021-08-03 17:21] qpetraroia commented on #2451
Hi @anurag4516,

We are looking into this requirement, but using the VMSS API directly will always put the cluster in an unsupported state. To monitor AKS via the infra or the containers, you should use container native solutions such as Azure Monitor or any third party solution that monitors both the container metrics as well as the infrastructure.

[2021-08-03 17:26] palma21 commented on #2450
Yes, this should be fixed now for all new upgrades, anyone hitting it from past upgrades can still restart to fix it.

[2021-08-03 17:28] palma21 commented on #2449
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#add-a-node-pool-with-a-unique-subnet-preview

It is called out as not supported, but we're working on it for GA.

[2021-08-03 17:29] danimal521 commented on #2326
We have committed ipv6 to this semester here: https://github.com/Azure/AKS/issues/460

[2021-08-03 17:29] #2326 closed

[2021-08-03 17:29] palma21 commented on #2449
cc @paulgmiller FYI

[2021-08-03 17:35] danimal521 commented on #2047
@akshaysngupta were you able to look into this one?

[2021-08-03 17:37] danimal521 commented on #1973
@NickKeller any updates on this?

[2021-08-03 17:39] danimal521 commented on #2194
@palma21 can you look into this one?

[2021-08-03 17:43] danimal521 commented on #2262
@marwanad can you please respond to @Morriz question

[2021-08-03 17:45] danimal521 commented on #2344
Yes, you are correct we are in the final stages of rolling out konnectivity which will deprecate tunnel-front.

[2021-08-03 17:46] paulgmiller commented on #2223
https://github.com/projectcalico/calico/issues/4518. We're trying to take a new version of calico that fixes this in august/september.

[2021-08-03 17:47] danimal521 commented on #2217
@robbiezhang can you please respond to @JoeRistine? Thanks!

[2021-08-03 17:48] paulgmiller commented on #2445
projectcalico/calico#4518. We're trying to take a new version of calico that fixes this in august/september.

[2021-08-03 17:50] danimal521 commented on #2440
tunnel-front is being deprecated in place of konnectivity. This will allow you to standardize you network policy.

[2021-08-03 17:50] qpetraroia commented on #2443
Hi @hasandogu,

Are you still trying to delete your cluster? If so, please open a support ticket and we can get this resolved as soon as possible. Thank you!

[2021-08-03 17:52] danimal521 commented on #2080
@jcarnus were you able to file a support ticket? Were you able to resolve this issue?

[2021-08-03 17:52] marwanad commented on #2359
@OvervCW @lindhe the fix should be out now. I'll mark as resolved. Feel free to re-open if you're still facing issues.

[2021-08-03 17:56] danimal521 commented on #1807
@aanandr is this a known issue? Please address.

[2021-08-03 17:59] qpetraroia commented on #2429
Hello!

Thanks for this feature request, our team will look into it.

[2021-08-03 18:03] danimal521 commented on #2402
@israel-gonzalezmedina can you please provide more topology info like: are you using CNI or Kubenet, any UDRs? Thanks!

[2021-08-03 18:06] hasandogu commented on #2443
Yes, we are still trying. I am not sure if this issue really requires the
purchase technical support plan though. This is not something that is
caused by us since the instructions we are provided simply do not work for
this instance, as what cannot be deleted is not within our control (ACI
subnet).

On Tue, Aug 3, 2021 at 10:51 AM Quentin Petraroia ***@***.***>
wrote:

[2021-08-03 18:20] israel-gonzalezmedina commented on #2402
thanks for the response @danimal521
I am using now azure CNI, but I have no requirements for one or another

[2021-08-03 18:31] kyschouv commented on #223
We're experiencing this issue with WordPress as well, and I'd love to know if there's something we're just doing wrong. There's not many great alternatives, and the better ones have a pretty high operating cost, so we were hoping to use azurefile.

[2021-08-03 18:44] vishalsawale9 commented on #1394
I've similar requirement. I'm hosting a HTTPS application on Azure AKS cluster with gunicorn as flask running wsgi gateway, I'm continuously getting those socket error in pods, though app is up and running. I suspect thh health probes occupying some port and thus getting those errors almost at every 2-3 seconds.

[2021-08-04 02:13] feiskyer commented on #2342
yes, this has been fixed in AKS.

[2021-08-04 02:13] #2342 closed

[2021-08-04 07:15] santhoshparepu commented on #2458
@seguler When does this security update will get merged to base image used by AKS worker nodes? Any is there a reason for starting network service without following standard k8s drain process. Few applications will be really sensitive to network interruptions and behave in unpredictable ways.

[2021-08-04 11:27] dvdvorle opened #2471 "OMS agent on windows is created with securityContext.privileged: true"
**What happened**:
When creating a new AKS cluster with Azure Monitor integration enabled, the daemonset omsagent-win will have securityContext.privileged set to true. This results in:

**What you expected to happen**:
When creating a new AKS cluster with Azure Monitor integration enabled, the daemonset omsagent-win will have securityContext.privileged set to **false**.

**How to reproduce it (as

[2021-08-04 15:26] Keramblock commented on #2134
Same here

[2021-08-04 16:42] chandraneel commented on #2446
The fix is now deployed in all regions, hence closing the issue

[2021-08-04 16:42] #2446 closed

[2021-08-04 18:19] robbiezhang commented on #2082
AKS doesn't support customization of the parameters for the http application routing components, and http application routing addon  is not recommended for production purpose.
![image](https://user-images.githubusercontent.com/9003737/128233488-40b8a675-2b51-4196-ad27-6c110e54f359.png)

you can deploy your own ingress-controller and external-dns if you need customization.

[2021-08-04 18:19] #2082 closed

[2021-08-04 20:18] vamsee-konda commented on #2020
+1 to this issue, please fix.

[2021-08-05 00:07] circy9 commented on #1961
Closing this issue based on  Siddhu1096's reply.

[2021-08-05 00:07] #1961 closed

[2021-08-05 01:21] djsly commented on #2020
this is how we are working around this issue

[code]

[2021-08-05 04:48] kalyanteja19 commented on #2405
Hi team,

any update on this request?

[2021-08-05 13:00] #2419 closed

[2021-08-05 18:00] #2449 closed

[2021-08-05 18:00] #2344 closed

[2021-08-05 18:01] #2316 closed

[2021-08-05 20:18] vrapolinario commented on #2123
This service continues in Public Preview as we continue to make improvements to the tool and listen to customer feedback. We'll be moving to Generally Available later in this calendar year.

[2021-08-06 00:14] robbiezhang commented on #2402
@israel-gonzalezmedina , did you try to use the Standard Load Balancer? You can configure your cluster with your own public IP or prefixes as well.
https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#configure-the-public-standard-load-balancer

[2021-08-06 00:32] robbiezhang commented on #2471
It was caused by a bug fix in k8s 1.21. AKS is aware of the issue, and rolling out a hotfix.
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#bug-or-regression-3
Fix privileged config of Pod Sandbox which was previously ignored. (#96877, @xeniumlee)

[2021-08-06 01:28] bmenas commented on #1687
+1

[2021-08-06 07:49] asos-tonygorman commented on #1812
Correct link appears to be here: https://azure.microsoft.com/en-us/updates/public-preview-event-grid-integration-with-aks-3/

[2021-08-06 07:53] tomkerkhove commented on #1812
Yes, sorry about that - The link seems to be pulled a few days later.

Get started: https://docs.microsoft.com/en-us/azure/aks/quickstart-event-grid
Supported events: https://docs.microsoft.com/en-us/azure/event-grid/event-schema-aks?tabs=event-grid-event-schema

[2021-08-06 08:39] grafikkaos opened #2475 "Helm unable to deploy after Azure RBAC enabled"
**What happened**:
Hi,

I am relatively new to the world of Azure DevOps.  Up until this point, I have been able to set up AKS and use Helm to deploy applications.  However, once I enabled Azure RBAC, helm is no longer able to deploy applications.  I do  have a cluster admin created and I am able to access the cluster using Kubernetes Lens once I am authenticated.  I have searched for documentatio

[2021-08-06 09:35] evelkey commented on #2433
The problem is solved on all versions (tested with 1.19.7 and 1.21.2) with a workaround. This is however not a real solution but a workaround from our side. If a node is deployed with a bigger SSD then the built-in ephermal storage, then the image pull will succeed. However if the OS is stored on the ephermal storage, the node dies instantly and deterministically after pulling the large image.

Ep

[2021-08-06 10:18] dvdvorle commented on #2471
Ah thanks! I thought I checked all changelogs/issue lists, missed that one.

[2021-08-06 10:18] #2471 closed

[2021-08-06 13:33] sebader opened #2476 "Private Endpoint for private AKS cluster does not update private DNS zone"
**What happened**:

As @feiskyer stated [here](https://github.com/Azure/AKS/issues/1978#issuecomment-771277641) it is supported to create additional private endpoints on a private AKS cluster. I tried that in Terraform and indeed the Private Endpoint gets created, it gets an private IP address from a subnet that is not the node-subnet. So far so good.

However, the private DNS zone that I referenc

[2021-08-06 13:38] grafikkaos commented on #2475
Can this be closed, I have figured out what the issue was.  For those that may be interested, I created a new service principal for help to use, assigned the role "Azure Kubernetes Service Cluster User Role", configured my pipeline to authenticate with the new service principal credentials and everything worked.  The only pain point is having to authenticate manually in order for the pipeline to c

[2021-08-06 13:38] #2475 closed

[2021-08-06 13:48] vcariven opened #2477 "Private DNS management with private clusters does not give full control over API server address"
**Summary**

Private DNS management with private clusters (`--enable-private-cluster`) **does not give full control** over API server address.
We have several options, each one coming with its limitations.

In our case, we setup and operate an Hub and Spoke architecture for different clients with DNS forwarder in the Hub zones.
So we setup our on-prem DNS servers to forward a client-related list o

[2021-08-06 13:50] vcariven commented on #2477
Maybe linked to #1508

[2021-08-06 15:46] paulgmiller commented on #1972
ProvisioningState must be failed, but thre's a good chance we can set provisioningstatus to "willretry" or "autoreconciling" looking at code.

Also checking azure guidance to see if we can get a recommecdation so all RP's in azure can eventually follow the same practice here.

[2021-08-06 19:04] jessereinhart commented on #1687
+1!

I'm in a weird catch 22 involving somehow having two node pools and a BLB. I can't add a node pool because I've got BLB, so my memory-heavy workloads are forced to run on non-optimized instance types.

[2021-08-06 22:47] jquincy-manticore opened #2479 "Swagger has incorrect casing for containerLogMaxSizeMb"
**What happened**:
I tried to use the --kubelet-config preview flag and set the containerLogMaxSizeMb size to be 50,  The change didn't make it to the nodes.  This was because the swagger at https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2021-05-01/managedClusters.json#L4549 has containerLogMaxSizeMB.
**What

[2021-08-07 06:52] robincher opened #2480 "Unable to schedule CoreDNS pods to tainted user-defined node pool."
**What happened**:

Unable to resolve fqdn (both internally and externally) on user-defined node pool that are tainted.

**What you expected to happen**:

CoreDNS pod should be able to schedule into these node pools, or there is a way to configure it with tolerations.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create 2 user-defined node pools, one tainted and one not
2.

[2021-08-08 04:14] robincher commented on #2480
Will close this ticket, and it seems to be a transient issue at the networking layer for Kubenet.

After further investigation with the friendly Azure support, we realised that the subnet route table are missing the necessary routes that allows individual node pools to communicate with each other.

The routes should be like this.

<img width="1589" alt="Screenshot 2021-08-08 at 12 09 59 PM" src="h

[2021-08-08 04:14] #2480 closed

[2021-08-08 15:35] castleadmin opened #2481 "az disk update LinkedAuthorizationFailed"
**What happened**:
`az disk update` throws a `LinkedAuthorizationFailed` error when updating the SKU.

Background:
Currently, there is no direct way to set the AKS VM disk SKU (https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks/suggestions/35056588-allow-selecting-disk-type-when-creating-aks-cluste). However, when an AvailabilitySet is used instead of a VMSS then the disk SKU ca

[2021-08-09 03:05] feiskyer commented on #2376
Public DNS feature has been in preview and BYO public DNS is not supported.

[2021-08-09 03:05] #2376 closed

[2021-08-09 03:08] feiskyer commented on #2476
This is caused by a known limitation from PrivateLink side. AKS doesn't have permission to update the private DNS zone and customer needs to update it manually as a workaround.

[2021-08-09 03:08] #2476 closed

[2021-08-09 06:59] sebader commented on #2476
thanks @feiskyer A couple of follow up question then:
- Is it a stable workaround or can the private IP address change over the lifetime of an AKS cluster?
- Why does AKS require additional permissions compared to other services such as Storage or KeyVault? Why cant AKS use the same mechanism to update the private DNS zone?

[2021-08-09 10:11] justindavies commented on #2479
Thanks for raising this, I’ll get this updated in the cli

[2021-08-09 13:05] lindhe commented on #2359
Hi, I'm back again now! Thank you for your patience.

I tried it again now, and now it seems to work properly! I tried both with `1.19.11` and `1.20.7` and I was able to scale all the way up to the limit of the node pool and it scaled according to the priority. I guess the rollout was just slower than expected initially.

We can close this issue as far as I'm concerned. Well done.

[2021-08-09 13:15] OvervCW commented on #2359
Can confirm that it works for us as well, on our existing cluster!

[2021-08-09 14:23] miwithro commented on #2241
This command worked for me.  Can you tell me if you are still having this issue?  If so, what CLI version are you running?

[2021-08-09 14:32] miwithro commented on #2430
@dwene what upgrade options do you get when you run "az aks get-upgrades" against that specific cluster?

[2021-08-09 14:36] miwithro commented on #2477
@feiskyer another feature-request for subzone on private dns.

[2021-08-09 14:37] miwithro commented on #2414
@justindavies please follow up.

[2021-08-09 14:42] miwithro commented on #2402
We are about to officially support NAT Gateway which could be leveraged here as well.

[2021-08-09 15:39] dwene commented on #2430
Thanks for the response @miwithro. When I ran it, I either got an empty string, or null.

But it doesn't matter anymore. One day all the node pools went unavailable and all our production workloads went offline. Microsoft support team was unable to help, it was very foo-bar'd so I ended up just rebuilding the cluster.

[2021-08-09 15:58] lorenzo-biava opened #2482 "tigera-operator should have a priorityClass defined similar to Calico workloads"
**What happened**:

Observed a new addon being deployed by AKS in the tigera-operator namespace.
It's not showing any PriorityClass and being related to the deployment of Calico workloads it looks to be a somehow critical component as well.

**What you expected to happen**:

The tigera-operator/tigera-operator deployment should have a PriorityClass defined, to avoid any issues on the networking st

[2021-08-09 17:06] danimal521 commented on #2406
@gambtho this is still an issue in v1.20.7 (just confirmed), can you take a look / provide information on this.

[2021-08-09 17:50] #2393 closed

[2021-08-09 18:49] rukawata commented on #1876
@ZeroMagic When will `AKS-AzureKeyVaultSecretsProvider` be available for `AzureUSGovernment`

[2021-08-09 22:00] TahaSnoussi opened #2483 "Adding external plugins support for CoreDns"
**What happened**:
I set up a first AKS cluster for applications that exposes services to onprem infrastructure.
I used CoreDns ConfigMap to support a private dns zone and exposed the coredns as an internal load balancer service with static private IP 147.1.1.100.
On prem DNS servers were configured to redirect enterprise.cloud zone to 147.1.1.100.
Then, I added a second AKS cluster where I config

[2021-08-10 08:01] ZeroMagic commented on #1876
@rukawata  It will be the part of GA work.

[2021-08-10 08:08] saaror commented on #1926
Closing issue since we didnt receive any response. @di669 feel free to re-open the issue if you need any help.

[2021-08-10 08:08] #1926 closed

[2021-08-10 09:19] feiskyer commented on #2476
- the ip should not change unless the PE is deleted and recreated
- I'm not sure about other services, but AKS RP has a very limited permissions to customer resources

[2021-08-10 10:53] sebader commented on #2476
Other RPs use a built-in account called "Azure Traffic Manager and DNS" to update the private DNS Zones. See here for an example with Container Registry
![image](https://user-images.githubusercontent.com/11445087/128854709-bfb3aad8-70f4-4e91-8ba1-417090b9a27f.png)

[2021-08-10 11:24] JonParton opened #2484 "OMS Agent - define two prometheus cluster scraping configs with different interval cadences"
**What's Happening**:

I have a use case where it would be useful to be able to configure the [oms agent to scrape Prometheus endpoints](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-prometheus-integration) at 2 different interval cadences along with associated settings for each cadence.

The specific use case is to be able to scrape request metrics from the [N

[2021-08-10 12:03] rohitsakala opened #2485 "Pulling of linkerd container images takes a lot of time in AKS in a fresh cluster"
**What happened**:
Linkerd installation fails with timeout error.
I created a Azure Kubernetes Service and ran the following commands

```linkerd install | kubectl apply -f - && linkerd check```

**What you expected to happen**:

Linkerd to be installed correctly. But I face this error from `linkerd check`

[code]

**How to reproduce it (as minimally and precisely as possible)**:

- Create a AKS c

[2021-08-10 13:28] andreadecorte opened #2486 "Provide valid signed certificates for the API server"
Hi,
as of today the API server certificates are auto generated and self-signed.
Is there any plans to provide valid certificates for it?
I found some reasoning behind this choice on [https://github.com/Azure/AKS/issues/1239#issuecomment-537626373](https://github.com/Azure/AKS/issues/1239#issuecomment-537626373), but I would like to know if there is any update on this topic since 2019 and/anything

[2021-08-10 14:20] mikebranstein commented on #2059
I'm in agreement with @haitch. We have private clusters for a reason - we want to restrict access to internal networks only. I'm not opposed to this feature, but I wouldn't want the feature to be enabled by default.

[2021-08-10 18:02] miwithro commented on #2481
@andyzhangx

[2021-08-10 18:11] miwithro commented on #2336
@LochanRn we are deprecating tunnel-front for konnectivity.

[2021-08-10 19:38] sheshasb opened #2487 "Available parameters that can be specified for azurefile"
I am trying to use specific storage account and share when I use dynamic provisioning of the azurefile PVC. However, I get the error

 Failed to provision volume with StorageClass "my-azurefile": could not get storage key for storage account <MYACCOUNT>:

1. How can I specify the key ?
2. Where can I find all the parameters available ?

kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:

[2021-08-10 20:00] #2450 closed

[2021-08-10 23:31] miwithro commented on #2470
@andyzhangx

[2021-08-11 00:44] andyzhangx commented on #2470
the only way to do the migration is delete custom storage classes, and then create new storage class with csi disk provisioner, it's better leave this operation to AKS user since it would delete some customer data. And existing custom storage classes with in-tree disk provisioner still works.

[2021-08-11 00:49] andyzhangx commented on #2487
here are the parameter list: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/driver-parameters-intree.md
just set `skuName: Standard_LRS`, and this driver would search available storage accounts or create new storage account automatially:
[code]

[2021-08-11 00:52] andyzhangx commented on #2481
Allow selecting disk type when creating AKS cluster
There is no way to select disk type (Standard or Premium) when creating an AKS cluster via Portal or Azure CLI, by default Node OS disk type is derived from the selected VM size.

To be more specific, I want a node StandardB2s with Standard disk. If I create a plain VM, I can select such configuration. If I create an AKS cluster with StandardB2s

[2021-08-11 00:53] andyzhangx commented on #2481
that's a new feature request, use workaround `az disk update` could change the disk sku for a while; and after scale down & up or aks version upgrade, existing changes will be gone.

[2021-08-11 01:45] zhiweiv commented on #2470
If delete existing storage class, recreate a new one with same name and csi provisioner, will the already provisioned pv/pvc work without any problem?

[2021-08-11 01:50] andyzhangx commented on #2470
@zhiweiv yes, it would work, in-tree driver parameters are compatible with csi driver. Mainly we want user to do such migration manually since it requires deleting existing storage classes.
@miwithro what do you think?

[2021-08-11 03:50] sheshasb commented on #2487
With below storageclass.yaml, the PVC will be in pending state with no PV being created. When I describe PVC, I see the following event. I was expecting a new secret and a new file-share will be created.

Warning  ProvisioningFailed  9s (x7 over 104s)  persistentvolume-controller  Failed to provision volume with StorageClass "my-azurefile": could not get storage key for storage account <****>: cou

[2021-08-11 03:52] andyzhangx commented on #2487
you need to assign storage account write permission to your cluster identity, follow guide here: https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/master/docs/install-driver-on-aks.md#option2-enable-csi-driver-on-existing-cluster

[2021-08-11 03:53] paulgmiller commented on #2406
@juan-lee  @marwanad  can correct me but if the vm is intentionaly power down we don;t mess with it. There's even an upcomign autoscaler mode that will dellocate vms rather than delete them. Now if your vm is not ready but powered on we will try some remediations. So maybe we need to clairfiy the docs.

[2021-08-11 04:56] chirangaalwis commented on #2406
@paulgmiller yes better to mention it in documentation.

Does AKS determine how the particular VM was shut down (whether it was gracefully shut down or not) before taking any remediation action? How does it do this?

Appreciate if details of this process are elaborated.

[2021-08-11 11:29] digeler opened #2488 "Kubelet User Assigned Managed Identity arm template behavior"
am trying to utilize the following :
My own control plane Mi
My own Kubelet Mi

Using the cli it works ok :

az aks create   --resource-group testddcluster --name testddcluster --enable-managed-identity --assign-identity "/subscriptions/a9f4e502-9188-4e9c-857f-532dd66f5d0c/resourceGroups/PolyTstUseShellService/providers/Microsoft.ManagedIdentity/userAssignedIdentities/PolyTstUseShellServiceMi" --a

[2021-08-11 13:32] kvendingoldo commented on #1480
any news?

[2021-08-11 14:21] mblaschke commented on #2125
prometheus-operator always alerts on those Pods:

[code]

This should be fixed or somehow we should be able to configure it.

[2021-08-11 16:43] denniszielke opened #2489 "Feature request: AKS managed in-cluster ingress controller addon"
**What happened**:
There is no managed in-cluster ingress controller addon in AKS (since http routing addon is not supported)

**What you expected to happen**:
I as a customer want an managed in-cluster ingress controller (envoy would be nice, but nginx or traefik would be great too).
I would expect that AKS managed the lifecycle of the controller pods, supplies a default 404 backend and ensures a

[2021-08-11 16:49] AustinSmart commented on #2281
Pulling the relevant info from [#1813](https://github.com/Azure/AKS/issues/1813#issuecomment-679388447) (as far as I have experienced and understand the issue).

The `loadBalancerSourceRanges` are being reconciled in two spots. At the NSG level, and [at the node level as iptable rules](https://github.com/kubernetes/kubernetes/blob/2585d78c79054a6d85620eb5430a1498bb747967/pkg/proxy/iptables/proxier

[2021-08-11 17:32] tshaiman commented on #2281
@AustinSmart  this is great summery Austin . thank you very much.

I think the ticket can be closed as this is "by-design" issue

[2021-08-11 17:39] AustinSmart commented on #2281
If this is by design, then some clarification in the docs for the `service.beta.kubernetes.io/azure-allowed-service-tags` annotation may be needed. Currently the [documentation states](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#additional-customizations-via-kubernetes-annotations):
[code]
There is no indication that this flow would not complete for _all_  "Kubernetes service

[2021-08-11 17:42] tshaiman commented on #2281
@AustinSmart I agree and already opened a bug on the docs

[2021-08-11 18:01] #2402 closed

[2021-08-11 18:01] #2256 closed

[2021-08-11 18:01] #2104 closed

[2021-08-11 18:01] #2005 closed

[2021-08-11 18:58] lupusllc commented on #2306
For Calico, there was an addon for the AKS-Engine ( https://github.com/Azure/aks-engine/pull/3396 ). I imagine this change could also be used for managed AKS to fix this issue for Calico. I just tried editing and adding "CALICO_STARTUP_LOGLEVEL" to the environment variables for the Calico daemonset but the change immediately disappears.

The info default level for Calico is entirely too noisy and

[2021-08-11 19:11] brobichaud commented on #2114
@paulgmiller The 12GB image is mcr.microsoft.com/windows:1809, and it has actually frown to 15GB.

[2021-08-11 20:05] haysjp commented on #2299
@feiskyer is there any update on the timeline for this fix?  I have another Azure customer asking.  Is there a different issue/link to track for updates?  Thanks!

[2021-08-11 20:14] bridgetkromhout commented on #2175
Hi, @ahmad-hamade - Has your portal updated now? 1.21 should now be GA. This is what I see for the West Europe region now:
![image](https://user-images.githubusercontent.com/2104453/129096736-00e75c9d-62a0-48a4-bd64-ee0290e48c3e.png)

[2021-08-11 21:06] junkiebev commented on #2465
From experience, it's an issue w/ Asymmetric Routing. You either need a NAT gateway or public IPs on your nodes for ping to work.

[2021-08-11 21:39] alexeldeib commented on #930
(not finished)

[2021-08-12 00:24] AbelHu commented on #2114
@immuzz The Windows image becomes bigger and bigger and it should also be an issue in disk spaces.

[2021-08-12 05:20] Shuanglu commented on #2281
When loadBalancerSourceRanges have been set on service spec, service.beta.kubernetes.io/azure-allowed-service-tags won’t work because of DROP iptables rules from kube-proxy. The CIDRs from service tags should be merged into loadBalancerSourceRanges to make it work.

https://kubernetes-sigs.github.io/cloud-provider-azure/topics/loadbalancer/#loadbalancer-annotations

[2021-08-12 07:00] ahmad-hamade commented on #2175
Thank you @bridgetkromhout, It has been updated a few days back and I got the clusters updated to 1.21.2

[2021-08-12 07:35] feiskyer commented on #2299
@haysjp it is under rollout, ETA is end of next month.

[2021-08-12 08:01] pierluigilenoci commented on #2306
@justindavies

![FUjRaQe](https://user-images.githubusercontent.com/36044817/129160450-8addcaa7-0c94-4ca2-9fe3-8131263111f2.gif)

[2021-08-12 12:58] jabbera commented on #2488
I use kubelet identity via bicep, but I use a different identity then the cluster id. Have you tried allocating a second identity. There may be some arbitrary restriction where they can't be the same?

[2021-08-12 13:07] #2487 closed

[2021-08-12 13:24] jabbera commented on #2417
@justindavies I think I figured it out but I've made multiple changes since then. I'm using aad pod identity. because it couldn't be deployed when the cluster is first created I left the bicep template blank then ran an az command after deployment. I realized this was actually causing an outage because the identity was being removed and re-added. I've modified the logic to understand if it's the f

[2021-08-12 13:35] brobichaud commented on #2114
@AbelHu I am in the process of creating a ticket with support (which for me is painfully slow). Hopefully they will be in touch in the next day or so.

[2021-08-12 15:20] Sairam0402 commented on #930
@alexeldeib  Please let me know when this feature will be in GA .

[2021-08-13 00:00] #2309 closed

[2021-08-13 00:00] #2304 closed

[2021-08-13 04:40] weijuans-msft commented on #2114
@brobichaud you are right, the current Windows image is 15GB on the disk. It includes the ~8.9GB RMT layer and the latest monthly patch ~6.1GB.  The ratio of the patch layer size vs. the RTM layer size is unusually high. I am not sure what triggered this.

I am curious how you use that Windows image. What scenarios or apps?

For the upcoming new Windows Server 2022 release, we have a new image cal

[2021-08-13 04:55] brobichaud commented on #2114
@weijuans-msft we have one very specific workload that requires this base image. It utilizes image and audio processing and relies on some underlying Windows API's that are not available in ServerCore nor nanoserver. We haven't had the resources to do the work to try and extricate ourselves from those API's. Believe me I would love to remove the dependency and get down to ServerCore (or even nanos

[2021-08-13 07:11] zhiweiv opened #2490 "Windows Containerd: Pod StartError context deadline exceeded"
**What happened**:
In Windows Containerd node pool, pods failed to run due to following error, when this error occur, all new pods are unable to run due to same error, we need to restart node to recover. It occurs frequently.
[code]

There are a lot of errors in kubelet.err.log
[kubelet.err.log.zip](https://github.com/Azure/AKS/files/6980548/kubelet.err.log.zip)
[code]

**Environment**:
[code]

[2021-08-13 07:33] zhiweiv opened #2491 "Windows Containerd: Node Not Ready"
Windows node in Windows Containerd node pool ran into not ready state a few times in a week, need reboot to recover.
For example the node akswdjob000000:
[code]

When it is not ready, I can ping it's internal ip in jumpbox successfully, but remote desktop hang at Configuring remote session.
<img width="637" alt="NotReady" src="https://user-images.githubusercontent.com/22001089/129321072-252d6824-4

[2021-08-13 09:37] jobbnas opened #2492 "secrets-store-csi-driver add-on default tolerations"
In my cluster with 3 node pools (one system, two user pools).
We are currently using Secrets Store CSI Driver add-on ( https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers) , which is default starting with version 1.21.

Seems like secrets-store-csi-driver daemonsets are not subjected to the same standard add-on :NoExecute op=Exists and :Schedule op=Exists and CriticalAddonsOnly op=Exist

[2021-08-13 16:57] saaror commented on #2249
This is already resolved. Closing the issue. Feel free to open if you still see the issue.

[2021-08-13 16:57] #2249 closed

[2021-08-13 17:13] jsturtevant commented on #2491
When it hangs do you have memory/cpu consumption from the azure portal or other monitoring tools?

[2021-08-14 01:40] andyzhangx commented on #2492
the fix is already rolling out, should be ready in next week.

[2021-08-14 13:35] digeler commented on #2488
thanks all ,issue is resolved here is the updated template :
  "resources": [
        {
            "apiVersion": "2021-03-01",
            "type": "Microsoft.ContainerService/managedClusters",
            "name": "[variables('aksClsuterName')]",
            "location": "[variables('location')]",
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentit

[2021-08-14 13:35] #2488 closed

[2021-08-14 22:16] SteveCurran commented on #2236
@AbelHu Thanks for fixing this. We can now use nginx-ingress in aks 1.21.2 running windows calico.

[2021-08-14 22:16] #2236 closed

[2021-08-15 19:24] brechtvhb opened #2494 "Unable to attach or mount volumes: timed out waiting for the condition"
I have an AKS cluster (test environment) with 2 nodes. Mounting an NFS file share works fine on one node but when the POD gets moved to another node I do receive this error "Unable to attach or mount volumes: timed out waiting for the condition". On our dev environment everything seems to work fine. Everything worked fine before (for about 40 days before this error started occuring). The file shar

[2021-08-16 01:00] #1557 closed

[2021-08-16 06:30] feiskyer commented on #1768
this is now supported with public DNS https://docs.microsoft.com/en-us/azure/aks/private-clusters#create-a-private-aks-cluster-with-a-public-dns-address

[2021-08-16 06:30] #1768 closed

[2021-08-16 07:37] preetisingh110 opened #2495 "As per Microsoft Docs, agentPoolProfiles is not a mandatory parameter while creating AKS via arm template, but my arm deployment fails saying missing parameter : agentPoolProfiles."
**What happened**: Tried creating AKS via arm template and as per [doc ](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2021-05-01/managedclusters?tabs=json) agentPoolProfiles is not a mandatory parameter, Hence i didn't pass  agentPoolProfiles  . Rather i was creating agentPools via resources array section of arm template.But my deployment failed saying missing parame

[2021-08-16 07:52] marcinkoperski commented on #2458
@santhoshparepu I've got information from Microsoft that is should be included in AKSUbuntu-1804containerd-2021.07.25 . I've applied this image on Friday to our cluster and since then there was no network / healthchecks issue anymore.

[2021-08-16 08:48] roberthstrand commented on #2268
Just following this up, as it's been a while since the last update.

Does this mean that we are waiting for the daemonset so that Defender is actually useful for anything other than Arc enabled clusters that are manually set up? I'm referring to this point in the FAQ: https://docs.microsoft.com/en-us/azure/security-center/defender-for-kubernetes-introduction#does-azure-defender-for-kubernetes-supp

[2021-08-16 10:52] fayaaz commented on #2494
Same thing has started happening to our staging cluster as well

[2021-08-16 11:01] jkylling opened #2496 "Nodes with running pods stopped unexpectedly during kubernetes upgrade"
**What happened**:
When upgrading our kubernetes cluster from 1.18.14 to 1.19.11 three nodes with pods running on them stopped. A few minutes later the pod garbage collector deleted the pods, as they are were orphaned. The pods are protected by a PodDisruptionBudget that did not allow the pods to be interrupted. To our best knowledge this happened due to a scale-down of the nodes by the cluster au

[2021-08-16 11:13] miwithro commented on #2268
@roberthstrand that is correct.

[2021-08-16 14:49] learn2skills opened #2497 "Pods unable to mount persistent volumes on some nodes"
**What happened**: We have had a problem with pods restarting and not being able to mount persistent volumes they were able to before. The pods get stuck creating with:

 error "Unable to attach or mount volumes: timed out waiting for the condition"

We have found some node pools work while others do not - this has caused some specific parts of our system running on those nodes to fail when they w

[2021-08-16 15:33] roberthstrand commented on #2268
Alright, do we have some sort of estimate for this?

[2021-08-16 17:38] justindavies commented on #2497
Hi there, are the pods stuck at this point, or does this eventually get resolved/reconciled ?

[2021-08-16 18:04] miwithro commented on #2258
@SnehaAgrawal-MSFT can you answer this one?

[2021-08-16 21:53] immuzz commented on #2036
There is work in progress on MSDTC support in Windows Containers. For more updates please open an issue under this repo where Windows team is working on. https://github.com/microsoft/Windows-Containers

Please link the issue here once you have opened the issue and close it here as this will be tracked under Windows Containers

[2021-08-17 03:25] andyzhangx commented on #2494
try use following way to troubleshoot: https://github.com/kubernetes-csi/csi-driver-nfs/blob/master/docs/csi-debug.md#troubleshooting-connection-failure-on-agent-node
also you may get kubelet logs to get detailed nfs mount error msg.

[2021-08-17 08:25] zhiweiv commented on #2491
Per Azure Portal Monitor and our Monitor, the cpu and memory are all not high during the problem period.

[2021-08-17 10:32] fayaaz commented on #2494
This was fixed for us by recycling all the nodes in the affected node pools.

[2021-08-17 11:23] fayaaz commented on #2497
https://github.com/Azure/AKS/issues/2494 we also had this issue - the fix was recycling all the affected nodes

[2021-08-17 12:24] bkondek commented on #2223
We're facing this same issue and can't deploy production infrastructure without this fix. Could You please give us more detailed timeline than 2 months?

[2021-08-17 15:48] azureatemecloud01 opened #2498 "AKS autoscaler issue"
**What happened**:
- Autoscaler not working ax expected in any of my spot clusters where I have this feature enabled.

**What you expected to happen**:
- AKS Cluster autoscaler should to manage node scale-out based on pods resources requests.
- Including scaling scenario from 0 to n nodes

**How to reproduce it (as minimally and precisely as possible)**:
- Use of spot VMs
- Region : France Central

[2021-08-17 18:25] porrascarlos802018 opened #2499 "AKS portal expecting networking.k8s.io/v1beta1 instead of v1"
Portal yaml Editor expecting networking.k8s.io/v1beta1 instead of v1
kindly update once this has been fixed.
254262678

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster

[2021-08-17 18:43] arbhatta-blk commented on #2450
Ran into the same issue as described above. Restarting the pods solved the issue as suggested above.

Running the following command restarted the pods and fixed the issue for me:
`kubectl [-n K8s_Namespace_where_pods_are_failing] delete pods -l "k8s-app=calico-node"`

_Prior to restarting, I also observed a difference in `pod-template-generation` value in the pod that was in `CrashLoopBackOff` sta

[2021-08-17 20:23] vrenatop-acc opened #2501 "Docker inside container when running AKS 1.19"
Hi guys, not really a issue since it looks like its supposed to run containerd on k8s 1.19

But as for today we have a scenario where we do build images on our AKS cluster (Jenkins container inside) and also we use gradle docker plugin to build our images. So just wondering which approach has been used now to have docker running.

I've got a read on Azure recommendation with buildx, but didnt got

[2021-08-17 20:41] ti-mo commented on #2323
Hi, any chance of this getting any attention?

[2021-08-17 22:47] keymon commented on #1767
We would love to have this feature too. EKS has it and it is a game changer, to allow us to better integrate the developer workflows for our services and k8s in the same manner, without having to provide cloud credentials.

[2021-08-18 01:28] gregjhogan commented on #2401
does anyone have a workaround? I tried to manually scale to zero with `az aks scale` when the autoscaler is enabled but I get the error `Cannot scale cluster autoscaler enabled node pool.`

[2021-08-18 05:51] ruowan commented on #2362
@justindavies once it happened, it can not connect to other service consistently.  My solution is to disable pod schedule to the issued node. it works for me now.

[2021-08-18 07:14] trichling commented on #2465
Hi,

I have a similar problem. I created a VNet manually and assigned it to my kubernetes cluster. Running

kubectl run -i --tty --rm debug --image=busybox --restart=Never -- sh

any ping stalls forever. Running your Pod definition does not work either.  I am a little lost on how to procees.

Thanks for any help!

[2021-08-18 13:11] PixelRobots opened #2502 "Kubernetes v1.21"

[2021-08-18 16:21] chandraneel commented on #2499
Ack, we are looking into this and will update soon.

[2021-08-18 16:39] miwithro commented on #1785
Public Preview is planned for Sept. 2021.

[2021-08-18 16:43] PixelRobots commented on #1785
@miwithro  Is that including windows image support or just Linux?

[2021-08-18 16:44] keikhara commented on #2486
@klenje Unfortunately at this moment there are no updates. This may be revised at a later time.
Please check for any update to our AKS roadmap. https://aka.ms/aks/roadmap

[2021-08-18 16:44] phealy commented on #1973
@Djeramon are you still experiencing this issue? I believe this has been fixed in newer AKS releases.

[2021-08-18 16:45] miwithro commented on #1477
@andyzhangx what is the latest status here?

[2021-08-18 16:50] miwithro commented on #1506
@djsly have you enabled Uptime SLA for your clusters?  This will enable a higher level of HA/DR for the API Server which will mitigate the availability issues you have seen traditionally.

[2021-08-18 16:54] qpetraroia commented on #1953
@keikhara, @AbelHu, @mscatyao: do we have any updates on this?

[2021-08-18 16:57] miwithro commented on #2445
@paulgmiller is this on track for delivery in Sept?

[2021-08-18 16:57] phealy commented on #2017
@sfc-gh-jkhan A new portal view was recently released that shows each node in your node pool and what the current status is via the portal. By drilling down you can see what the workloads are on that node and get state/event information for them. This should help you troubleshoot any drain issues during an upgrade. Please let me know if there's any other followup you have on this issue!

![image](

[2021-08-18 17:00] phealy commented on #1946
If you deploy your cluster onto a node type with GPUs but don't use the GPU VHD image for it, you will get a nodepool with GPUs but no drivers. At that point you can then [manually install the device plugin](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#:~:text=image-,manually%20install%20the%20nvidia%20device%20plugin,-Warning) and configure it as needed.

[2021-08-18 17:01] qpetraroia commented on #2482
@mattstam Hey Matt, any update on this?

[2021-08-18 17:14] phealy commented on #2411
@mbhmirc

The device code authorization flow is not supported with the managed device requirement in conditional access.

You can find documentation on [configuring AKS with Conditional Access here](https://docs.microsoft.com/en-us/azure/aks/managed-aad#use-conditional-access-with-azure-ad-and-aks) - it shows the appropriate `Azure Kubernetes Service AAD Server` cloud app registration to select to

[2021-08-18 17:15] phealy commented on #2411
You may also consider using the [kubelogin plugin's ability to authenticate via Azure CLI's login](https://github.com/Azure/kubelogin#azure-cli-token-login-non-interactive) if you have Azure CLI working in your CA policies.

Does this answer your question?

[2021-08-18 17:24] mbhmirc commented on #2411
Hello,

In this case we have a corporate requirement that the device must use hybrid join when offsite. In this case this is our MFA. We have also opened a support case in regards this.  Since edge chromium and chrome can manage to authenticate in this manor why can’t kubectl use the same method?

[2021-08-18 17:45] miwithro commented on #1785
@PixelRobots it is for both.

[2021-08-18 18:16] gregjhogan commented on #2401
seems like `kubectl drain <node-name> --force=true` worked

[2021-08-18 18:21] djsly commented on #1506
Yes, actually the high SLA is one of the reason why we need to initiate control plane restart since having multiple API server instances causes potential discrepancies between both instances with regards to caches.

[2021-08-18 18:27] miwithro commented on #1506
Thanks @djsly that makes sense.

[2021-08-18 19:38] EPinci commented on #2483
Hey @TahaSnoussi, can you help out clarifying the ask here?

If the issue is in CoreDNS picking up the changes, please note that just changing the configmap will not trigger a pod restart (kubernetes behavior, see also [here](https://github.com/kubernetes/kubernetes/issues/22368)). In order to pickup changes to the custom configuration configmap you need to restart the coredns pods with `kubectl d

[2021-08-18 21:44] marwanad commented on #2498
What do the Pending pod events say?

[2021-08-19 00:00] #2052 closed

[2021-08-19 00:32] palma21 commented on #1754
Dup of #2174.

AKS is working on supporting multiple LBs that will allow you to control egress per node pool. Each nodepool can have it's own load balancer and respective outbound IP.

[2021-08-19 00:46] rishabhsaha commented on #2469
How many nodes are there in the nodepool? 20% of how many nodes?

[2021-08-19 00:47] qpetraroia commented on #2495
@preetisingh110, if you could pass your arm template to us, that would be great. Thanks!

[2021-08-19 00:55] hieumoscow commented on #2467
Thanks for notifying the issue, would be best if you can either provide the arm template or raise a support ticket for the team to check backend logs.

[2021-08-19 00:58] qpetraroia commented on #2494
Hi @brechtvhb,

Have you taken a look at @andyzhangx's troubleshooting docs?

[2021-08-19 00:59] rishabhsaha commented on #2464
Can you provide more details around the Azure SQL? Are there private links/private endpoints involved? Can you spin up a VM in the same VNET as the AKS cluster and connect /resolve to the SQL Server?

[2021-08-19 01:23] chi-qin commented on #2469
About 106, 106 too.

[2021-08-19 01:25] matucker-msft commented on #2485
Huh. I can definitely reproduce this. I am seeing signs that the issue is on the side of cr.l5d.io with both "connection refused" and "connection reset by peer" showing up in my kubelet logs. We might need to engage linkerd here to see what is happening on the registry side itself.

As a possible temporary workaround, we do have all these images hosted in Microsoft Container Registry: mcr.microsof

[2021-08-19 03:29] AbelHu commented on #1953
cc @justindavies

[2021-08-19 06:16] feiskyer commented on #1604
Even it is automatically created in k8s, you would still need additional steps to query the PLS information and then link PrivateEndpoint. Moreover, the service.status is not extensible to add additional PLS information.

Unless both PLS/PE lifecycle could be automated in kubernetes, I don't see why PLS creation should be part of Kubernetes.

[2021-08-19 06:41] AbelHu commented on #2114
We are planning to use a different drain timeout (30 minutes) for Windows by default.
@brobichaud WS2022 is in our roadmap and will be supported.

[2021-08-19 07:21] TahaSnoussi commented on #2483
Hi @EPinci
Thanks for the hint about the custom configuration. I use this already since it's clearly documented here https://docs.microsoft.com/en-us/azure/aks/coredns-custom.

For the alternate external plugin, I managed to build a CoreDNS with it. Then I tried to replace the AKS built-in Pods.
Do you think it's possible to add a new CoreDNS deployment side by side?
Can you help me with kubernete

[2021-08-19 07:49] andyzhangx commented on #1477
there is a private preview in Oct for this storage feature, will update this thread when it's ready in azure disk driver.

[2021-08-19 08:15] PixelRobots commented on #1122
Any update one this?

[2021-08-19 12:16] rishabhsaha commented on #2469
Hi @chi-qin - can you create a support ticket following the steps above to help the support team help debug? To clarify your issue - you have 106 nodes in each nodepool and the expectation is during the node image upgrade it should upgrade 21 nodes at a time. But in your case it's still upgrading one node at a time instead of 21 nodes. Is that the correct assessment?
@palma21 - FYI.

[2021-08-19 13:34] erjosito commented on #1604
@feiskyer Multiple reasons IMHO:
- Customers are not supposed to touch the node RG, where the ALBs live that support the k8s services, and the PLS is attached to the frontend IP in those ALBs.
- The lifecycle of the PLS is tied to the k8s service (through the frontend IP of the ALB). If the k8s service is deleted, the ALB frontend will be deleted, as well as the PLS should (or stay in Pending unti

[2021-08-19 18:19] mattstam commented on #2482
Looking into this though most likely going to separate it out from Calico v3.20.0 update rollout

[2021-08-19 22:25] paulgmiller commented on #2445
@mattstam  has a PR but w're wiating to make sure it's cached in vhd so still about 3 weeks  out.

[2021-08-20 06:00] Ayushri-wipro opened #2505 "Pod autoscaling doesn't make sense if load is not distributed automatically."
The pod scaling happen based on target cpu utilization but it doesn't distribute the load. I tried to create an echo server in the k8s pod which echos back(within a loop) when triggered from client side. This echo happens immediately when triggered but the scaling happens very late which shows that load is not distributed. This doesn't make sense.

[2021-08-20 07:27] tomkerkhove commented on #2505
Can you add a bit more information about your scenario please?

[2021-08-20 07:40] Ayushri-wipro commented on #2505
Hi,
In my case, I created a docker image with ncat listen command and a bash file which echo a message in a while loop(for 10k or 1million iteration) and deployed it to AKS. I tried to trigger it from my system using ncat <IP> <Port>.
In my hpa.yaml file I gave the targetcpuutilization param as 30%.

I wanted to test the scaling and load distribution while scaling for this connection. I receive th

[2021-08-20 07:48] tomkerkhove commented on #2505
Autoscaling is one thing, making your app compatible with it is another.

You'll need to make sure that:
- Your connections are not sticky and don't have long-running connections
- Don't connect directly but use a Kubernetes Service in front (ie `LoadBalancer`)

In terms of:

Scaling late might be fine because it must mean that it was not using enough CPU to trigger a scaling action, so why add mo

[2021-08-20 07:58] Ayushri-wipro commented on #2505
I am using Loadbalancer service to create an external IP which I am using at the client side.
Yes, I want to scale it based on traffic received on the already serving pod if its capacity is about to over that the scaling should happen to distribute the load.
Also How can I check if the load is getting distributed across the newly created pods? and when it scales, if the upcoming new requests are s

[2021-08-20 08:04] tomkerkhove commented on #2505
You won't cut it with an HPA since it doesn't have notion of your traffic volume.

You'll need to find a way to measure the # of requests across pods and scale based on that through Prometheus or some other provider. I think KEDA might be better to help here.

[2021-08-20 08:05] tomkerkhove commented on #2505
No, Kubernetes randomly kills. The only thing you can do is hook in to the SIGTERM signal and close all connections in your app then.

[2021-08-20 10:28] Krupakarreddin opened #2506 "Update action on kubernetes cluster objects is not allowed through azure portal"
Update action on kubernetes cluster objects is not allowed through azure portal even after being assigned to Azure RBAC roles and Kubernetes RBAC roles

[2021-08-20 14:41] liykfrank opened #2507 "Is it possible to enable AKS Autoscaler with multi nodepools"
We have a AKS cluster with multi node pool enabled.
The version of AKS is 1.19.*.

Is it possible to enable AKS autoscaler(https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/cloudprovider/azure/README.md) just for one of the node pool?

Thank you in advance.

[2021-08-20 14:55] SteveLeach-Keytree opened #2508 "Expose node pool cordonDrainTimeoutInMinutes via the API"
**What happened**:

I have an AKS 1.18 cluster that I am trying to upgrade to 1.19, with a Deployment of 4 pods that take quite a long time to start up as they load large amounts of data. I have set a pod disruption budget to ensure that 2 nodes are always running. During the upgrade the cluster provisions new nodes, deletes some of the old pods,  but then times out before the new pods have fully

[2021-08-20 18:00] #2017 closed

[2021-08-20 18:00] #1946 closed

[2021-08-20 20:30] mjaow opened #2510 "Pod is not able to access apiserver when AKS configured with firewall"
I follow the guide https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic to create AKS protected with firewall.  I succeed in all steps, but when I tried to deploy a pod (which will access apiserver to do something) into cluster, it crashed with error following. I've already exposed apiserverPublicIP:443 and *:1194 (udp) and *:9000(tcp). Although I can access apiserver with kubectl, but

[2021-08-21 00:41] liykfrank commented on #2507
The cluster autoscaler can be used together with multiple node pools enabled.
https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler#use-the-cluster-autoscaler-with-multiple-node-pools-enabled

[2021-08-21 00:41] #2507 closed

[2021-08-21 06:00] #1754 closed

[2021-08-21 12:00] #2483 closed

[2021-08-22 04:43] blacklabnz commented on #2371
This is exactly what I would request too. Currently having to set it up manually.
Please add this annotation, thanks

[2021-08-22 18:11] raeder1986 commented on #2347
Yep, previous error I solved only after rotating all certs of cluster like here https://docs.microsoft.com/en-us/azure/aks/certificate-rotation
Now I regular got errors with old-2-years clusters, cluster certificates for them are valid
`kubectl config view --raw -o jsonpath="{.clusters[?(@.name == 'XXX')].cluster.certificate-authority-data}" | base64 -d | openssl x509 -text | grep -A2 Validity

[2021-08-22 20:09] bgood57 commented on #2426
Does anyone have a workaround for this until it's incorporated into AKS?  Or a way to use a different version of CoreDNS that won't get forced back to 1.8.3 with this bug in it?  Thanks!

[2021-08-23 01:29] yazbekhe commented on #2426
simply update the deployment of core dns to use the newer version

[2021-08-23 01:34] bgood57 commented on #2426
@yazbekhe  That's what we thought too. When we do that, it starts 1.8.4, but then AKS (1.20.7) removes that deployment and forces it back to 1.8.3.

[2021-08-23 05:44] yazbekhe commented on #2426
@bgood57 the workaround i have used is: i have deployed a layer7 proxy "envoy" in front of the service where i can configure a probe

[2021-08-23 06:47] Ayushri-wipro commented on #2505
I need to try and check KEDA and hook into the SIGTERM signal and close all connections.
Thank you for your suggestions.

I have few more issues:
1. I am not able to stop AKS, tried command az aks stop --name <> --resource-group <>
I am using it for testing purposes which is costing a lot if the services are created and running. How to stop when not using without deleting.

2. I created pod along

[2021-08-23 07:46] guidola commented on #2371
@blacklabnz You can use https://github.com/kubernetes-sigs/external-dns to have DNS auto set up for your ingresses and services.
Although it would solve the need it seems to still make sense to have that annotation native as part of the AKS offering to avoid additional dependencies as with that you would need to deploy an additional controller.

[2021-08-23 08:25] EPinci commented on #2483
@TahaSnoussi,
you cannot replace the builtin CoreDNS of AKS: it is deployed as an addon an will revert changes you do it.
You can certainly add a new deployment of CoreDNS as a standard workload and eventually "wire it" to the built-in and the ones you need for your scenario.
You can get started on the deplyment by looking at [CoreDNS deployment resources](https://github.com/coredns/deployment).

[2021-08-23 12:01] pierluigilenoci commented on #2306
@justindavies could you please give us a feedback?

[2021-08-23 17:06] rbankole commented on #2020
any updates on this? hard to bootstrap without custom dns using terraform. thx

[2021-08-23 17:29] mboutet commented on #2485
Another workaround is to use their images hosted on GitHub's registry at https://github.com/orgs/linkerd/packages.

[2021-08-23 18:17] jabbera commented on #2327
Will this let me use the identity solely from init containers? It's something I'm missing in the current implementation.

[2021-08-23 19:33] miwithro commented on #2327
No but we have added feature request for this one too.  @aramase for tracking

[2021-08-24 12:35] andyzhangx commented on #2360
@Shaked could you try `docker pull alpine`? I find if it's a small image size(e.g. <2MB), nfs file share would report `/bin/lsof: remote I/O error`, while alpine image works since it's a little bigger. Anyway, I think that's an azure file issue, will loop azure file team to take a look.
cc @RenaShahMSFT