[2021-01-29 17:20] paulgmiller commented on #2052
Relevant disucssion of this in systemd issue: https://github.com/systemd/systemd/issues/13763
Someone else trying to use a daemonset to bypass systemd-resolve as mentioned above https://gist.github.com/levimm/c27a8940479e4f17e53da0d9d477defe#file-dnsresolv-yaml
Not vetted nor tested by AKS so use entirely at own risk.

[2021-01-29 18:01] paulgmiller commented on #2052
Also curious if setting ResolveUnicastSingleLabel=yes would unblock .local without completely disabling systemd. @xuto2

[2021-01-29 18:18] andriktr opened #2085 "Enable fast alerting experience on basic metrics for this Azure Kubernetes Services private cluster not working"
Hi,
I'm trying to enable [How to update Azure Monitor for containers to enable metrics](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics) on my private AKS cluster, but seems it's not working as expected. When i trying to enable from portal I receive an error `The role assignment already exists`.  Cluster resource RBAC assignments shows that `Monitori

[2021-01-30 01:50] schlbra commented on #1786
Do we have an estimated timeline for when this feature will be Generally Available?

Our organization finds this feature extremely useful but we are not able to actually use it in production until it goes GA. We appreciate any updates and efforts related to this feature.

[2021-01-30 09:15] dza89 opened #2087 "HCP-Tunnelfront activity"
We are running Falco on our clusters and this morning I saw three of these alerts in different clusters at the same time.
[code]

No container restarts but it looks like the ssh daemon was (re)started. Is this normal behaviour in AKS?

[2021-01-30 13:01] #1461 closed

[2021-01-30 13:24] anttipo commented on #1686
Has anyone gotten this to work reliably from inside of a module? I have a module which creates the AKS cluster and invokes this script over a null resource as intended. However, the processing order seems to be inconsistent and sometimes the script fires up first and starts waiting for the node resource group which never gets created. Is it just me? Whatever the reason, this doesn't really work fr

[2021-01-30 14:22] aristosvo commented on #983
@jluk How should we influence the NSG attached to the NICs of this IP? At this moment the only way seems to edit the AKS managed NSG manually, which seems a bit dangerous to me. See also: https://github.com/terraform-providers/terraform-provider-azurerm/issues/10233

[2021-01-30 18:11] PixelRobots commented on #1479
Any update on this?

[2021-01-31 00:37] miwithro commented on #2083
We already have a feature planned for this, which is currently in development.

https://github.com/Azure/AKS/issues/205

[2021-01-31 00:39] miwithro commented on #2011
@magooster we already fixed this.  Can you ensure you are running the azure-preview extension version 0.4.68 or later?

[2021-01-31 12:39] miwithro commented on #1948
We are introducing a V2 of Pod Identity which is based on OIDC Federation which will deliver this capability.  We will have a Public Preview at the end of Q2 2021.

[2021-01-31 22:29] viralpat218 commented on #1686
Like yourself I could not get the null_resource working. It just keeps looping for the `node resource_group`

[2021-02-01 03:24] NickLarsenNZ commented on #1338
Are you able to describe how you did it? We're looking at AKS (I'm familiar with EKS) and I'd like to have worker pools on different subnets for identifying traffic sources on legacy firewalls.

I was hoping to use Terraform but the provider doesn't suggest multiple subnets are supported yet (I assume because of that being a preview feature)

[2021-02-01 08:21] megharaikwar commented on #1686
@anttipo @viralpat218 I created a separate stage inside the pipeline in my Azure DevOps and ran AKS creation and script in parallel for the DNS Zone creation script and it worked well. null resource was'nt working for me too. Please let me know if you need further information about it.

[2021-02-01 09:15] andrewsali opened #2088 "AutoScaler support for NCasT4_v3 nodepools"
**What happened**:

In the latest release notes it is mentioned that NCasT4_v3 SKUs are supported. However when adding a node-pool with this SKU and turning on auto scaling, the auto-scaler is completely wiped out. The cluster-autoscaler-status configmap disappears.

Removing the auto-scaling for this nodepool makes the cluster autoscaler functional again.

**What you expected to happen**:

Cluste

[2021-02-01 12:43] miwithro commented on #2085
The only piece that does not work in a Private Cluster scenario is the Container Live Data, all other pieces of Azure Monitor for Container works.
https://docs.microsoft.com/en-us/azure/aks/private-clusters

Can you share more details about your deployment?

[2021-02-01 13:49] levimm commented on #1686
@anttipo @viralpat218 @megharaikwar
What's the error output if that example doesn't work?
I assume one possible reason is because the default kubernetes version 1.17.9 in that example is not supported any more. Could you add one more line in terraform plan `-var 'kubernetes_version=1.19.6'`.
Or could you share your subscriptionID and resource group name so I can look into your error details.

[2021-02-01 14:01] viralpat218 commented on #1686
@levimm
The null_resource runs in parallel to the aks cluster provision, but the shell script the null_resource is executing can't get past the first stage, which is where it is looking for the resource group. By that stage, the resource group is created, and the MC_XXXXX resource group has been created. The shell script running outside null_resource is fine, it's when running within the dns-zone.

[2021-02-01 17:24] marwanad commented on #2088
@andrewsali That release is still on-going and hasn't concluded yet as mentioned on the release notes. Which region are you hitting this in?

Are you creating that nodepool with zero nodes? The only dependency on the SKU types is when scaling from zero and there are no existing nodes (it uses the SKU information to predict the capacity) to build a template of.

[2021-02-01 18:29] andriktr commented on #2085
Hi @miwithro,
Thank for reply.
What kind of details you are interested in?
Insights blade for my aks show the following popup about fast alerting:
![image](https://user-images.githubusercontent.com/25537180/106500065-0ed5dc00-64ca-11eb-9289-f80c20c25289.png)
When I try to enable it I receive an error:
![image](https://user-images.githubusercontent.com/25537180/106500206-37f66c80-64ca-11eb-8a66-25a

[2021-02-01 19:03] miwithro commented on #2085
Essentially Fast Alerting requires Live Data which by default Private Clusters don't have access to.   The Role Assignment error is a little misleading there, but it is due to lack of connectivity to Live Data.  You should have been prompted to Enable Live Features after you tried to Enable Fast alerting in the Cluster tab.

![image](https://user-images.githubusercontent.com/50749048/106505439-521

[2021-02-01 19:49] andriktr commented on #2085
But when I set "live on" I see data:
![image](https://user-images.githubusercontent.com/25537180/106509320-26b35d00-64d6-11eb-97ac-ac714af06ede.png)
Doesn't that mean that live data feature is working?
Live data support public preview for private cluster was announced  in December 2020:
[https://azure.microsoft.com/en-us/updates/azure-monitor-for-containers-support-for-private-clusters/](https://a

[2021-02-01 19:57] miwithro commented on #2085
Yes it is now, after I enabled "Enable live feature".  Updating the AKS Private Cluster document as it has an outdated limitation.   Are you get it working doing the same?

[2021-02-01 20:02] andriktr commented on #2085
Nope, unfortunately expected metrics are still not visible for me.

[2021-02-01 20:08] jveski commented on #2067
Closing as a dup of https://github.com/kubernetes/kubernetes/issues/43916 since this isn't AKS-specific.

[2021-02-01 20:08] #2067 closed

[2021-02-01 20:27] anttipo commented on #1686
I'm gonna have to take my original comment back and declare that after some adjustments it seems to be working just fine. I'm running this on CI which was unable to create service principals due to missing permissions but I never got the failure message from that due to the local exec having no timeout and being stuck in the 'waiting for node resource group' loop. After I commented out the local-e

[2021-02-01 20:47] miwithro commented on #2085
Ok. I have a public and a private cluster setup and I see the same under "Metrics"
![image](https://user-images.githubusercontent.com/50749048/106516110-9872b300-64a4-11eb-8294-66f3b511a181.png)

I just did a basic deployment of each with Insights enabled and saw no difference in the Metrics.  How did you deploy the private cluster?

[2021-02-01 21:02] andriktr commented on #2085
I use terraform. Maybe it somehow related to the thing that I assign Monitoring Metrics Publisher to the cluster identity during deployment. This is to skip manual switch ON step of fast alerting via cli or in portal.
[code]

[2021-02-01 21:09] miwithro commented on #2085
Yes that is most likely the culprit.

[2021-02-01 21:13] andriktr commented on #2085
Will try another deployment without mentioned block and report back results.
Thanks for advices.

[2021-02-01 22:25] mprigge commented on #930
@alexeldeib Is the fix for this you refer to going to allow emptyDir volumes to utilize the /dev/sda temporary storage which currently mounts to /mnt? That's the issue that brought me here as that's something I could really use.

If there's a workaround to enable that sort of behavior short of whatever other changes are being considered, that would be helpful to know.

[2021-02-01 22:38] alexeldeib commented on #930
I think you mean the other way around, no?

/dev/sda -> os disk
/dev/sdb mounted at /mnt -> temp disk

you can take a look at https://github.com/Azure/AgentBaker/pull/414/files#diff-1f2ff99eb3c00905af727ae08e89679744166bdfa52bb09826cf8ec250cdd3b1 to see how to make this work with bind mounts and sytemd units. On a live node, you'd need to stop the kubelet service, copy /var/lib/kubelet to your des

[2021-02-02 01:22] feiskyer commented on #1978
Option 2 has already been supported now.

[2021-02-02 01:22] #1978 closed

[2021-02-02 03:22] mprigge commented on #930
Sorry - yes. Remembered it backwards. Perfect - exactly the breadcrumbs I was looking for. Thanks!

[2021-02-02 04:39] andrewsali commented on #2088
@marwanad hitting this in West Europe region

Yes, the nodepool is created with 0 nodes. However the autoscaler shuts down even before receiving a scaling request, just having a nodepool with this SKU with autoscaling turned on triggers the crash.

Manual scaling works OK.

[2021-02-02 05:36] levimm commented on #1686
@viralpat218 At that stage, is private dns zone get created in the MC_XXX resource group?
I think there might be something wrong with the parameter value that causes the cluster creation failed. So the private dns zone is not created. Could you share your parameter?

[2021-02-02 06:09] marwanad commented on #2088
@andrewsali The change haven't hit westeurope yet.

Yes, it builds the node template on initialization, and if you retrieve the CA logs you'll see the log line that indicates so. This behaviour is [by design](https://github.com/kubernetes/autoscaler/blob/8c315390007fac118d438c907ca3db0f49739476/cluster-autoscaler/core/utils/utils.go#L170-L173) upstream.

It will work for a pool with that SKU if yo

[2021-02-02 07:59] andrewsali commented on #2088
Great, thx for the feedback!

I will close this for now and reopen if still seeing the issue in a few days when the rollout should have completed.

I am still wondering though if the behaviour of the autoscaler to completely halt when there is an unsupported SKU is appropriate, especially that this is done silently.

[2021-02-02 07:59] #2088 closed

[2021-02-02 11:29] jorge-aguas commented on #2081
Hi @MCKLMT ,

You can find the necessary connectivity requirements for AKS (general requirements and some specific use cases) [here](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic)

Please note that the Azure NSG operates at layers 3 and 4 - you will be limited to working with ports as some of the IPs associated with the require FQDNs are subject to change. [service tags](https://

[2021-02-02 12:25] wout-scorito commented on #1009
Is there any update for a fix on this?

[2021-02-02 14:55] MCKLMT commented on #2081
Hi @joaguas,

My customer wants to assign a NSG to the subnet hosting the nodes. This is a supported scenario. We are not able to find any documentation about this except the egress documentation page which is on egress in particular.

Is there somewhere a list of all ports needed on a new cluster to still get it running and be connected to master?

Thanks

[2021-02-02 15:30] joaguas commented on #2081
@MCKLMT , the link above on egress traffic describes what's required between the worker nodes and control plane components, check the "Use" column for individual descriptions.

[Required outbound network rules and FQDNs for AKS clusters](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-outbound-network-rules-and-fqdns-for-aks-clusters)

As you can see some of those are achi

[2021-02-02 15:33] MCKLMT commented on #2081
@joaguas Is there a way to improve the documentation by separating the ingress from the egress? It can be useful when the customer wants to accomplish to same goal.

[2021-02-02 15:39] miwithro commented on #2081
The document that @joaguas linked walks through the egress options for the node to control plane communications.  What you are looking for is a document which walks through the ingress options for AKS worker nodes.   That is not something we have documented as it depends on the needs of the applications deployed within the cluster.  Simply put, if you deploy pods on the AKS worker nodes that need

[2021-02-02 15:47] MCKLMT commented on #2081
Thanks this is more clear now. Thanks again @joaguas for the side discussion.

[2021-02-02 15:47] #2081 closed

[2021-02-02 17:25] #2011 closed

[2021-02-02 19:28] paulgmiller commented on #1338
Sharing a preview of the updated limitations that wer're changing [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2Fuse-multiple-node-pools%23add-a-node-pool-with-a-unique-subnet-preview&data=04%7C01%7CPaul.Miller%40microsoft.com%7Cfa007e6406f2455687f608d8c703be24%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637478166210844637%7CUnk

[2021-02-02 19:56] alexeldeib commented on #2068
Can you double check the output with `az --debug`? I believe this was due to a bug which led us to return 500 for VMs which supported ephemeral os but had no cache disk. Fix should be rolling out imminently if not already finished.

If it supports ephemeral os it probably uses the temp disk which is a preview CRP feature. We would likely support that in the future but don't today.

[2021-02-02 20:43] #2083 closed

[2021-02-02 20:59] weng271190436 opened #2089 "[Announcement] Incoming Calico release starting from Feb 22 on k8s version 1.20 and above"
Starting from February 15 2021, AKS clusters using Calico networking policies in all regions will automatically be upgraded from Calico version 3.8.9 to version 3.17.2. This upgrade will cause a breaking change to the default behavior of all-interfaces Host Endpoints. If you are using all-interfaces Host Endpoints and you prefer to keep the default behavior from version 3.8.9, you can find more in

[2021-02-03 00:39] mscbpi commented on #1621
I support this. This prevents from sharing hostnames between http and non/http service. This could be very useful when it comes to TLS (1. certificate is issued with cert manager triggered by the http ingress controller 2. Certificate can be reuse for same hostname on a non-http service like redis or rabbitmq). This is impossible since we can't have the same IP, thus the same hostname.

[2021-02-03 04:45] feiskyer commented on #1621
This would be supported since v1.20.0.

[2021-02-03 08:07] mscbpi commented on #1621
I've seen the PR ! That's awesome.

[2021-02-03 11:17] t3mi opened #2090 "[Features] Please provide functionality through API to force drain node pool"
**What happened**:
In case of small sized node pool or tolerations on it which prevents re-scheduling of the pods configured with pod disruption budget from bigger node pool following error occurs during node pool removal:
[code]
**What you expected to happen**:
Node pool successfully removed.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy cluster with additional node po

[2021-02-03 14:00] chunliu opened #2091 "Disable the virtual node add-on should drain and delete the virtual node"
**What happened**:
When using `az aks disable-addons -a virtual-node` to disable the virtual node add-on, the add-on is disabled but the virtual node is still there and in the NotReady state.

![image](https://user-images.githubusercontent.com/2128551/106755925-a9b8ec80-6669-11eb-8793-f946b9c3fd77.png)

If there is a pod running on it, the pod will be stuck in the Terminating state. If the pod is

[2021-02-03 15:16] slawekww commented on #1846
Problem could be calico and big clusters/huge number of pods as for each pod IPTables rule is created.
Other competitors allow to configure Network Provider like calico, canal, etc.

Each AKS desired functionality would differ and customer should have options to choose providers depends on needs. Calico/IPTables could be bottle-neck.

[2021-02-03 17:34] dennis-benzinger-hybris commented on #2031
@palma21, we use kubenet and Calico with network policies which use pod selectors (the case described by @nooshin-mirzadeh above). Now after creating the daemonset I see that connections start to work, then break again and work again, etc.

Is that expected? Are Calico and your daemonset fighting over the right IPtables rules?

[2021-02-03 18:28] joshmue opened #2092 "[Feature] Bring your own CNI/--network-plugin none"
We are currently using Cilium in conjunction with Azure CNI.

When doing this however, there is the problem, that Pods already are started before Cilium is registered/installed inside of the CNI config. This leads to inconsistencies, as these Pods are not managed by Cilium and its network policies, which may be fixed by using some type of workaround: e. g. manually deleting such Pods.
This happens

[2021-02-03 19:10] josh-ferrell-sas opened #2093 "[Feature] Allow nodepool label updates via the AKS API."
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2021-02-03 20:16] ericxw opened #2094 "Update an AKS cluster to managed identities - BadRequestError after a couple weeks"
**What happened**:
I've been testing with pod-identity provided via Azure Preview with success (EnablePodIdentityPreview) and since my clusters were created with Service Principal, I updated it to use Managed Identity via MigrateToMSIClusterPreview. Everything was working fine and I could assign pod identity using "az aks pod-identity" command. Yesterday found out this no longer works after a coup

[2021-02-03 22:45] keikhara opened #2095 "[Feature] OSM addon support for Windows"
Support Open Service Mesh on Windows AKS on Windows OS 2022.

[2021-02-04 00:05] RamyasreeChakka commented on #1963
Thanks for reporting this issue. We will be fixing this in the upcoming release of the add-on.

[2021-02-04 00:17] jozamp commented on #2094
We're also seeing this behavior. We were able switch the cluster to system managed identity but when enabling pod-identity we're getting a bad request error, even though the kublet identity reports as proper .

[2021-02-04 01:54] ericxw commented on #2094
Did you recently just go through the conversion? My three clusters were converted over the past month with at least 1week between each other. The odd thing is that this happened to all three just this week. I was wondering maybe there was an issue with Managed Identity certificate renewal (every 45 days and 90 day expiry) but I'd expect an issue to happen well beyond 1 month.

[2021-02-04 04:46] yuzsun opened #2096 "Linkerd (HA mode) issue when updating K8s to 1.19"
**What happened**:
after we updated the AKS from 1.18 to 1.19, we re-installed linkerd with HA mode, and several linkerd pods were in "CrashLookBackOff" status, however, after we re-run the "helm chart", the pods turned int/o "running".

++ added the detailed story:
we were upgrading AKS from 1.17 to 1.19, at first we upgrade AKS from 1.17 to 1.18, and everything is fine. Then we upgraded from 1.1

[2021-02-04 07:01] #1704 closed

[2021-02-04 10:08] dennis-benzinger-hybris commented on #2031
@denniszielke, maybe you can answer my question above 😉.

[2021-02-04 10:36] dennis-benzinger-hybris commented on #2031
Looks like the connections were flaky only in the beginning. Over time it stabilized 🤔.

[2021-02-04 13:01] #2037 closed

[2021-02-04 15:13] dennis-benzinger-hybris commented on #2031
@palma21, is there an ETA ?

[2021-02-04 17:42] joaguas commented on #2056
Hi @elkh510 ,
Is this issue still happening? I'm unable to reproduce it either with azure cni or kubenet.

![image](https://user-images.githubusercontent.com/62766211/106932614-d9223480-670f-11eb-8c1c-c14c3fb0418a.png)

If this is still happening can you confirm that name resolution is working for the service (assuming you're not using svc ip) and that iptables rules are correctly translating serv

[2021-02-04 18:48] jozamp commented on #2094
Yes, we were starting our pod identity experimentation on one of our existing clusters yesterday and got stuck trying to enable pod identity. Maybe something broke in the cli recently, could be why we're both seeing this behavior now with different timings?

[2021-02-04 18:52] joaguas commented on #2052
Seems that pods are not affected by this issue, even when using hostNetwork:

![image](https://user-images.githubusercontent.com/62766211/106939908-ca8c4b00-6718-11eb-8b84-0c7e2e7d859f.png)

After digging for a while it seems it's `--resolv-conf=/run/systemd/resolve/resolv.conf` holding together meaning coredns or other hostnetworked will actually get the upstream resolvers effectively bypassing t

[2021-02-04 19:25] ericxw commented on #2094
I tested creation of a new cluster using Managed Identity from the start and pod identity works there without issues.

Was your cluster already using Managed Identity or using Service principal? The ones I'm having issues with was converted from SP to MI using MigrateToMSIClusterPreview.

[2021-02-04 19:27] miwithro commented on #2018
@djsly what about these options as an alternative to ssh?

https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad

[2021-02-04 20:07] jozamp commented on #2094
Yes, we used "MigrateToMSIClusterPreview" on an existing cluster using SPI, using the same methodology you described.

[2021-02-04 20:26] jawhites commented on #2094
@palma21 or @jluk can I ask for some eyes on this to help triage?

[2021-02-05 06:44] DevOps-zhuang commented on #1303
it seems the current preview version doesn't support setting the timeslot to enable the upgrade? like, I only want to upgrade during weekend.

[2021-02-05 11:22] rmorilha commented on #2072
Also facing the same issue with Terraform deployment

[2021-02-05 11:33] norshtein commented on #2094
@ericxw sorry for the inconvenience, this is a bug: for few clusters which has failed PUT managedCluster attempt may hit the issue that cluster can't be updated due to error "ChangeKubeletIdentityNotAllowed". We have fixed the issue for these clusters from our backend. Now you should be able to update your cluster without any issue. Could you please have a try?

The code fix for this issue will be

[2021-02-05 11:58] Raviteza7796 commented on #2072
Try passing the load balancer sku variable with standard as the assigned value in network profile
loadbalancersku: standard

[2021-02-05 12:10] rmorilha commented on #2072
@Raviteza7796 I've done it, no luck on deploying the cluster without a public loadbalancer.

[2021-02-05 12:14] rmorilha commented on #2072
When I specify loadbalancer sku as basic, I get this error from terraform.
However, There is no loadbalancer profile defined. And when I specify loadbalancer sku as standard, it deploys the cluster with Public IP attached to it.

Error: creating Managed Kubernetes Cluster "aks-d-sim" (Resource Group "rg-d-vps-sim-clust"): containerservice.ManagedClustersClient#CreateOrUpdate: Failure sending reque

[2021-02-05 13:04] joaguas commented on #1492
@4c74356b41 @djsly
Azure CNI now defaults to transparent mode which uses layer 3 routing which means pod-to-pod no longer relies on conntrack and will not be affected by its race condition. [This should mitigate the 5s delay on DNS lookups](https://docs.microsoft.com/en-us/azure/aks/faq#benefits-of-transparent-mode)

Upgrading a cluster still using bridge mode [will make it use transparent mode in

[2021-02-05 15:43] ericxw commented on #2094
This appears to have resolved the issue for me. Thank you!

[2021-02-05 15:52] djsly commented on #1954
How can we verify ? does the AKS resource's json container the info ?

[2021-02-05 15:54] djsly commented on #1492
@joaguas thanks! I asked a question about querying the status. Wondering how to check if our clusters consumed the update or not yet, since we did performed a few updates.

[2021-02-05 15:59] 4c74356b41 commented on #1492
you can just do `az aks nodepool upgrade --node-image-only`, this would rollout latest os base image with this fix for sure (no kubernetes version upgrade), if you already have it - it will just return success in 30ish seconds

[2021-02-05 16:00] djsly commented on #1492
ok so the CNI transparent mode is baked in the image. good to know. I will try to know which base image contains the fix then.

thanks @4c74356b41

[2021-02-05 16:01] joaguas commented on #1492
Hi @djsly , an easy way will be to get a shell in one of the nodes and check either the interfaces or route tables.
If there's an interface called `azure0` that means it's still using a bridge.

You can also check the route table (`ip route show`). If you see multiple routes for the veth interfaces (azvXXXXXXXX) that means the node is already running the L3 routing (transparent mode)

Thanks for t

[2021-02-05 17:11] Kenneth-Abrams commented on #1954
@djsly if you are running aks with vmss

az vmss run-command invoke -g $ResourcrGroup -n $VmssName --scripts "systemd-resolve --status" --command-id RunShellScript --instance-id 0 --output json

If you are running availability set nodes

Command is az vm run-command

[2021-02-05 17:54] keikhara opened #2098 "West US3 Zone Support"
Create new AZ in West US3 end of April.

- Details on current AZ: https://docs.microsoft.com/en-us/azure/aks/availability-zones

[2021-02-05 18:19] djsly commented on #2018
Hey @miwithro , I quickly glanced over the doc and looks good from an high level.

I definitely have questions on the access requirements and/or the networking requirements. (e.g. private cluster support / private vnet support / etc)

but this looks good, from what I have been told, the tunnel will also be leveraged to help with the direct node access.

[2021-02-05 18:24] djsly commented on #2062
I'm curious, what is this exactly ?

[2021-02-05 20:58] hasandogu opened #2099 "AKS nodes are not autoscaled before scheduling on ACI virtual nodes"
**What happened**:

Hello there,

I have asked this question on [KEDA discussions](https://github.com/kedacore/keda/discussions/1571) and also [SO](https://stackoverflow.com/questions/66069211/aks-nodes-are-not-autoscaled-before-scheduling-on-aci-virtual-nodes) earlier as I am not sure which repo would be causing this issue.

I am pretty new to Kubernetes and I am seeing some rather interesting au

[2021-02-05 21:00] miwithro opened #2100 "CVE-2021-3156: Heap-Based Buffer Overflow in Sudo"
A vulnerability was recently discovered in the Linux utility sudo, that may allow an attacker with unprivileged local shell access on a system with sudo installed to escalate their privileges to root on the system.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-3156

AKS Information:

1. AKS system pod images are using distroless images that do not have a shell, or images that don't contain

[2021-02-05 21:12] xuto2 commented on #2052
@joaguas  thanks a lot for sharing. It's true this doesn't affect pod traffic as we understand as well. The daemonset approach could be a temp mitigation while we're evaluating a permanent solution from aks node side.

[2021-02-06 02:54] joaguas commented on #2099
Hi @hasandogu

The kubernetes CA [does not consider "soft" constraints like preferredDuringSchedulingIgnoredDuringExecution when selecting node groups.](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#does-ca-respect-node-affinity-when-selecting-node-groups-to-scale-up) which is what is used to "favor" VM nodes over the virtual kubelet. Tainting the virtual node with

[2021-02-06 07:34] hasandogu commented on #2099
Thank you very much for the details and pointers @joaguas.

It is unfortunate the CA supports only the hard constraints. Are you aware of any plans to add support for these soft constraints as well? One would think having a weighted approach would be the initial way to implement the node affinity to also "prefer" rather than only "require" node groups.

Overprovisioning is certainly an interesting

[2021-02-07 10:08] r3econ opened #2101 "Adding Windows node pool does not work"
<img width="551" alt="gTekv" src="https://user-images.githubusercontent.com/505054/107143288-9c835280-6934-11eb-873d-972decfc275b.png">

I have a cluster that I created via the Azure Portal (not CLI). My pods are failing to use Windows based images.
I'm getting the following error:
`Windows node pools require a Windows authentication profile.`

From what I found out googling, I'd need to pass  `--

[2021-02-07 12:53] zycon opened #2102 "Assigning private ips for outbound traffic in AKS private cluster"
No possible way to create a private outbound load balancer for egress traffic.
Inbound address of pod's needs to be whitelisted in client firewall, but couldn't find any feasible way unless mentioning the aks cidr range

Either a internal NAT gateway for egress traffic or internal loadbalancer which supports egress traffic

AKS private cluster, and having custom checkpoint firewall which facilitat

[2021-02-07 19:01] #1912 closed

[2021-02-08 01:01] #1839 closed

[2021-02-08 08:02] #1795 closed

[2021-02-08 08:12] Tetradeus opened #2103 "Azure RBAC for Kubernetes Authorization without Managed Azure AD integration"
**What happened**:
When we want to create a private cluster with a custom private Dns Zone, it looks like we cannot use Managed Azure AD integration. https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone

If we want to use Azure RBAC for Kubernetes Authorization, we are forced to use Managed Azure AD principal.
https://docs.microsoft.com/en-us/azure/aks/manage-azur

[2021-02-08 11:28] pascalnaber opened #2104 "Lifetime of AAD credentials expires after 1 hour on Mac"
A couple of team members are using a Mac to connect to our AAD enabled cluster using Managed Identity.
They need to login every hour.
On Windows and Linux it works fine. But not on Mac. We all use kubectl v1.19.3

I'm still not sure if the Mac is the reason for the difference in behavior, but it's the only difference we see.

I've seen this issue, which is the same behavior:
https://github.com/Azu

[2021-02-08 13:21] MCKLMT commented on #1515
Hello all and @palma21,
Do we have additional information about this issue? My customer is awaiting this feature impatiently. :)
Thanks in advance

[2021-02-08 13:32] vanushah commented on #2070
Do we need take any action (in course of AKS Kubernetes upgrade lifecycle) to bring this change to our cluster?

[2021-02-08 14:27] bbgobie commented on #2052
I'm not sure if it would, but a fix needs to encompass more than just .local
As the systemd-resolv change seems to make our nodes not use the dns servers from the network we can also not resolve internal resources like private end points

[2021-02-08 16:46] adhodgson1 commented on #1999
I was receiving the following error messages when attempting to deploy the 2 metrics memoryWorkingSetPercentage and cpuUsagePercentage. I tried running the deployment after upgrading to AKS 1.19.7 in NorthEurope but continue to get this error. Am I missing something else?
[code]

[2021-02-08 16:53] aristosvo commented on #1999
Have you activated the [Monitoring Metrics Publisher role](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics) for your cluster?

[2021-02-08 17:07] MCKLMT commented on #1520
@palma21 Any idea on the GA timeframe?

[2021-02-08 17:13] MCKLMT opened #2105 "Kubectl delete node supported?"
**What happened**:

When I run the command ```kubectl delete node *** ``` it remove the node from the cluster but the VM is not removed from the VM ScaleSet. Is it by design?

**What you expected to happen**:

The VM should be removed from the ScaleSet.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a cluster with 3 nodes
- Execute the command ```kubectl delete node *

[2021-02-08 19:12] tomkerkhove commented on #2105
We've seen the same outcome which was not expected. Is this by design @palma21?

[2021-02-08 19:46] eriksywu commented on #2070
@vanushah
Yes your containerd nodes will need to reimaged with fix. You can do an either a k8s upgrade or a node image upgrade operation to pick up the new image.

[2021-02-08 20:10] eriksywu commented on #2031
@dennis-benzinger-hybris
The fix should reach all prod regions by weds.

Some context for how this kubenet snat issue effected calico+kubenet clusters:

For calico+kubenet clusters, the fix is only on the node side so you can pick up the fix via a node image upgrade (or k8s image upgrade). Previous to this fix, we first bootstrap nodes with the default kubenet cni before the calico daemonset finis

[2021-02-08 20:19] rbavery opened #2106 "attaching acr should not require Owner permissions."
this issue and many others relating to this should be addressed: https://github.com/Azure/AKS/issues/614

[2021-02-08 22:06] aristosvo commented on #2085
@andriktr It can also be related with https://github.com/Azure/AKS/issues/1999. What version of Kubernetes are you using? 1.19 seems to break a lot of stuff with regard to monitoring.

[2021-02-08 22:10] alexeldeib commented on #2068
Thanks for the reminder! I just opened a PR on the AKS side to fix this. It'll probably take a few weeks to roll everywhere.

You'll get an error like this usually for VM sizes with a cache too small for the requested size:

When there's no cache disk, it looks like this:

We can make it more clear than that if that's still ambiguous.

for now. we will eventually enable temp disk for ephemeral OS,

[2021-02-09 01:20] zhiweiv commented on #1888
Switched to AKS-Engine.

[2021-02-09 01:20] #1888 closed

[2021-02-09 07:01] #1835 closed

[2021-02-09 10:20] elkh510 commented on #2056
hi @joaguas

yes

yes(screen below)
![image](https://user-images.githubusercontent.com/60512579/107349445-e608a480-6ad0-11eb-97c3-4686f5465153.png)

yes, as i understand
![image](https://user-images.githubusercontent.com/60512579/107349681-2bc56d00-6ad1-11eb-8f8a-84eed2a57ab0.png)

[2021-02-09 11:59] JoshStead opened #2107 "multiple pod CIDR ranges - Non RFC 1918 IP addresses"
Hello

I'm trying to get an answer to understand if it is possible to replicate a feature that is possible in EKS where you can assign and use the network ranges 100.64.0.0/10 and 198.19.0.0/16 so that pods don't consume any RFC 1918 IP addresses in your VNet when using the CNI network plugin (VPC in AWS).

This link probably explains it better: https://aws.amazon.com/premiumsupport/knowledge-cent

[2021-02-09 12:16] adhodgson1 commented on #1999
@aristosvo I am creating the relevant RBAC entry as part of the deployment as the account that runs the ARM template doesn't have the capability to update RBAC.  Here is the Ansible code:

[code]
I can share the ARM template if required.

[2021-02-09 13:13] tehho opened #2108 "Azure file inline volume mount secret lookup is broken in aks 1.19.7"
**What happened**:
Upgrading to 1.19.7 broke azure files secret namespace lookup.

**What you expected to happen**:
When creating a azure files volume i expect the pod to search in its own namespace not default.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): aks 1.19.7
-

[2021-02-09 13:44] andriktr commented on #2085
Hi @aristosvo,
Problematic cluster is with version `1.19.3`, but another on ( which is working) is on `1.18.8`, so I believe this could be related to your mentioned issue. Thanks for pointing out.

[2021-02-09 14:01] aristosvo commented on #1999
@adhodgson1 the setup is the same as I have, it seems still broken in 1.19.7 😥

[2021-02-09 14:03] SebastianWilhelm commented on #2070
In the last AKS release 1.19.7, I can't see that this bug is included: https://github.com/Azure/AKS/releases/tag/2021-02-01, only #2031 is included, right?

[2021-02-09 15:10] miwithro commented on #2103
@Tetradeus no this works currently.  You can deploy 1.19, with a private cluster integrated with Azure.

![image](https://user-images.githubusercontent.com/50749048/107383470-07609500-6abf-11eb-8d7f-15b6a3d74838.png)

[2021-02-09 17:13] eriksywu commented on #2070
Yea we missed adding this fix into the release notes.

[2021-02-09 18:17] AlecDusheck commented on #2068
Ah gotcha. Super helpful to know that- I definitely skimmed over that notice. Thanks!

[2021-02-09 20:57] Pat-Ayres commented on #2100
Can I have a clarification on how the patch is applied to the VHD Image 2021.01.06?
I have clusters on this image and afaict, the base image that new nodes come up with version `1.8.21p2-3ubuntu1.3` (which is an unpatched version).  after running `apt update && apt list --upgradable` on the node I can see that the patched version is available
[code]

Does this mean that sudo will be patched in thi

[2021-02-09 23:05] sprab opened #2109 "AKS Nodepool with 1.17.16 defaults to Ubuntu 1804"
**What happened**: Adding a nodepool with k8s version 1.17.16 defaults to Ubuntu 1804.

**What you expected to happen**: It should create nodes with Ubuntu 1604

**How to reproduce it (as minimally and precisely as possible)**: Create a cluster with 1.17.16 or add a nodepool with 1.17.16 to an existing cluster.

![image](https://user-images.githubusercontent.com/17014671/107440207-5a9e1a80-6b87-11

[2021-02-10 00:40] zhiweiv commented on #2108
@andyzhangx

[2021-02-10 07:02] andyzhangx commented on #2108
that is actually a bug fixed in 1.19.7: https://github.com/kubernetes/kubernetes/pull/97417
pls specify `secretNamespace` in azure file PV or azure file storage class if pod wants to specify a different namespace other than `default`, here is an example: https://github.com/andyzhangx/demo/blob/master/pv/pv-azurefile.yaml#L12

[2021-02-10 07:27] tehho commented on #2108
@andyzhangx We dont use pv or cis.
Following [https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_file](https://github.com/kubernetes/examples/tree/master/staging/volumes/azure_file) we use the "Mount volume directly in Pod" option.
Tried to add secretNamespace to the azureFiles block but got an error saying the field is not supported.
Is there anyway to do a direct volume on

[2021-02-10 07:35] andyzhangx commented on #2108
@tehho pod spec(using inline volume) does not have `secretNamespace` field, why do you want to use pod, if node is down, pod would disappear, right? Use deployment + PV/PVC is common solution in production.

[2021-02-10 07:40] tehho commented on #2108
We use deployments but would like to use it inline on the deployment for least effort on the fix :)

[2021-02-10 07:43] pbloigu commented on #2108
This very same issue bit me just an hour ago and was a PITA to figure out. Please _at least_ add a line or two in the documentation about this.

My problem exactly. The volume is directly specified in the deployment w/o any PV/PVC. It used to work, and now suddenly it doesn't.

[2021-02-10 08:42] #1797 closed

[2021-02-10 08:48] palma21 commented on #52
https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster

[2021-02-10 08:48] #52 closed

[2021-02-10 08:57] andyzhangx commented on #2108
one workaround is create secret in `default` namespace, we are in the process of moving to Azure File CSI driver, in CSI driver, it cannot get the namespace of pod, so anyway it will break at last, if secret is not in `default` namespace, the `secretNamespace` must be specified.

[2021-02-10 10:01] pbloigu commented on #2108
Yeah, in the end I ended up moving the secret to the default namespace. My criticism was directed towards changing the current working implementation silently to something that works differently.

Now, when do you expect this Azure File CSI Driver becomes available? I'm currently considering updating the rest of my clusters and I need to decide between moving the secret to the default namespace vs

[2021-02-10 10:46] norbertkovacs commented on #2108
We can't use default namespace and tried to specify secretNamespace right below secretName value but getting the following error message.

error: error validating "something.yaml": error validating data: ValidationError(Deployment.spec.template.spec.volumes[0].azureFile): unknown field "secretNamespace" in io.k8s.api.core.v1.AzureFileVolumeSource; if you choose to ignore these errors, turn validat

[2021-02-10 11:31] palma21 opened #2110 "Brazil South Zone support"
3/15 likely - waiting for Azure Global to whitelist for external so we can publish to doc.

[2021-02-10 12:26] andyzhangx commented on #2108
@pbloigu I think you could move to PV+PVC with in-tree(default) azure file driver first, and set `azureFile.secretNamespace` in your config, does not need to wait for CSI driver, here is an example:
[code]

Inline volume only supports `default` namespace, original behavior(search for pod namespace) is actually an incorrect behavior(fixed by https://github.com/kubernetes/kubernetes/pull/97417), whe

[2021-02-10 13:01] TomGeske commented on #1940
@nmeisenzahl: You want to provide a 3rd party mirror during cluster create?

[2021-02-10 13:15] nmeisenzahl commented on #1940
@TomGeske Yes. To minimize external dependencies (Docker Hub rate-limiting, Downtime of external registries) as well as faster pull-times. Retagging external images sometimes is an issue due to missing upgrade strategies and processes.

That said, a managed mirror (provided by Azure, maybe ACR) would be the best solution.

[2021-02-10 13:18] TomGeske commented on #1940
Maybe @SteveLasker has some thoughts on this.

[2021-02-10 14:50] francoisboulaistva commented on #2100
Look like the "oms agent" container is vulnerable to CVE-2021-3156, even if we updated our AKS cluster and our node pool to the latest stable 1.18.14 version.

`root@omsagent-mstcz:/opt# dpkg -l sudo
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name

[2021-02-10 16:33] miwithro commented on #2100
@Pat-Ayres can you update to the 2021.01.28 VHD?  That contains the fix.

[2021-02-10 17:18] eriksywu commented on #2070
fix has reached all public prod regions

[2021-02-10 17:18] #2070 closed

[2021-02-10 17:19] keikhara opened #2112 "Germany West Central and South Central US Zone Support"
https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availability

[2021-02-10 17:21] keikhara commented on #2110
GA will be 3/15. If your customer wants access, please contact Azure Global. (Prab Sandhu)

[2021-02-10 17:23] keikhara opened #2113 "USGov Virginia Zonal Support"
GA 2/16. Once GA, the doc will be updated.
https://docs.microsoft.com/en-us/azure/aks/availability-zones#limitations-and-region-availability

[2021-02-10 17:48] vishiy commented on #2100
Thank you. we (omsagent addon) will include a fix for this in the upcoming release.

[2021-02-10 17:55] francoisboulaistva commented on #2100
Excellent, thanks @vishiy !

[2021-02-10 19:01] Pat-Ayres commented on #2100
@miwithro TY, I can confirm the 2021.01.28 VHD image is now available and a fresh node on that base image is on the patched version.

[2021-02-10 19:37] brobichaud opened #2114 "Windows nodepool update fails because of 10min drain timeout"
**What happened**:
Using the nodepool upgrade process (az aks nodepool upgrade) fails on a Windows nodepool with an error that the drain did not complete within the 10 minute timeout.

**What you expected to happen**:
For the drain to wait until all pods are successfully drained. Not to bail out after 10 minutes, which is clearly not long enough in all cases. My Windows nodepool hosts a mix of pod

[2021-02-10 19:48] tankovich commented on #1999
Same here, we just rolled a new 1.19.7 cluster and cannot see all metrics under `insights.container/nodes`.

[2021-02-10 19:57] vishiy commented on #1999
The fix for the monitoring addon for this issue is in the works. Once the addon is patched, >=1.19.7 & >=1.20.2 clusters will start to collect these metrics.

[2021-02-10 20:09] aristosvo commented on #1999
@vishiy Thanks for letting us know!

Is there a place where RCAs and mitigation of known issues like these are published, to inform my clients and manager about these kind of things?

[2021-02-10 20:25] vishiy commented on #1999
@aristosvo - Can you please share more on #2078 ?

[2021-02-10 20:26] vishiy commented on #2078
@aristosvo can you check the image version for the omsagent container between the two changes ? This looks more like a monitoring addon bug.

[2021-02-10 20:31] aristosvo commented on #2078
Bugged version: `mcr.microsoft.com/azuremonitor/containerinsights/ciprod:ciprod01112021`
I'll check for a working version..

[2021-02-11 00:35] miwithro commented on #2106
@rbavery we will be addressing this at the end of Q2/Q3 this year.   Thank you for following up.

[2021-02-11 04:11] FilBot3 commented on #1894
So, something like this won't work?
* https://gist.github.com/FilBot3/339a98c05f99a407b60c6d35848d700d#file-main-tf-L677-L687

[code]

[2021-02-11 08:08] Tetradeus commented on #2103
Hi @miwithro , yes it works.
But when you want to use a custom private Dns zone (not system assigned), you cannot use System assigned managed identity.
I did not really understand why System assigned managed identity is required to use Azure RBAC for Kubernetes Authorization, so I wanted to know if we could allow/enable it without System assigned managed identity.

Thanks.

[2021-02-11 17:47] keikhara opened #2115 "[Feature] Support WS2022 on Windows"
Windows AKS will be supporting the upcoming LTSC OS in addition to Windows Server 2019.

For guidance on upgrading your nodepool from WS2019 to WS2022, check out this [blog post!](https://techcommunity.microsoft.com/t5/itops-talk-blog/upgrading-your-container-app-from-windows-server-2019-to-2022-on/ba-p/3587990)

[2021-02-12 09:35] palmerabollo opened #2117 "pre-pulled docker images are not deleted during cluster provisioning"
**What happened**:

AKSUbuntu image comes with many pre-pulled docker images (https://github.com/Azure/AKS/blob/master/vhd-notes/aks-ubuntu/AKSUbuntu-1804/2021.01.28.txt#L47-L109) that should be removed. Unfortunately, the cleanup process in AKS fails, and nodes end up containin many useless images (see the list in the additional info section below) in the OS disk.

**What you expected to happen**

[2021-02-12 12:32] #2055 closed

[2021-02-12 14:36] antonmatsiuk commented on #1394
another use case is using bitnami helm chart for mysql. Health probes flood the log with `Got an error reading communication packets` messages

[2021-02-12 17:21] cheslijones commented on #2094
I'm running into this issue currently.

Similar scenario:
- Existing AKS cluster
- Want to enable Azure Key Vault <-> Azure Kubernetes Service integration
- Want to use Pod identities to accomplish this

Following the steps as they are outlined here:

https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity#register-the-enablepodidentitypreview

Recounting my steps from yesterday from

[2021-02-12 18:18] eriksywu commented on #2056
Hi @elkh510

Based on your pod ip I assume this is a kubenet cluster? Do you know how old the cluster is? There was a typo we fixed and rolled out in early Jan that was preventing proper network hairpinning.
https://github.com/Azure/AgentBaker/pull/503/files

Check /etc/cni/net.d/10-containerd.conflist. If the typo is there (promisMode, should be promiscMode) then you can do a node image upgrade t

[2021-02-12 18:20] eriksywu commented on #2117
I can take a look at this.
fyi @xuto2

[2021-02-12 19:37] hasandogu commented on #2099
I have now implemented autoscaler overprovisioning as @joaguas suggested [here](https://github.com/Azure/AKS/issues/2099#issuecomment-774385759) and set up nodes to be "ahead" based on a more aggressive polling of the Azure Storage Queue which KEDA uses to scale both the overprovisioning pods and the actual pods.

Set up the priority and pre-emption with a higher priority than the pause pods. I ve

[2021-02-12 20:39] az-policy-kube commented on #2077
@az-policy-kube would you be able to assist?

[2021-02-12 20:57] miwithro commented on #2077
@mo-saeed we will be pushing the deprecation date to 06.30.2021. So you can continue to use PSP until that date.  After that you will need to use Azure Policy.  I am in the process of updating the document to reflect that date as well.

[2021-02-12 21:23] mabicca opened #2118 "Use chrony + ptp for timesync within the Ubuntu images in AKS"
**What happened**:
We have been getting a few reports from customers about the behavior of NTP in AKS. Most customers that are upgrading from 1.17.x to 1.18.x notice a drastic change in NTP behavior. The changes are expected since Ubuntu changed from ntp.ubuntu.com to the *.ubuntu.pool.ntp.org pools (Open NTP project).

This is a drastic change for environments where NTP access is controlled by fi

[2021-02-12 21:24] mabicca commented on #2118
Created a gist with the list of IPs here -> https://gist.github.com/mabicca/a5ecd8a10bbb35c5cbd6b194d3ad66dd

[2021-02-13 01:00] #1871 closed

[2021-02-13 21:08] V4A001 opened #2119 "VMSSAgentPoolReconciler retry failed: does not have enough capacity for 101 IP addresses"
I used the sample to assign a subnet to use managed identities. Now I wanted to upgrade the cluster, but it seems not sufficient ip addresses are present:

I created this subnet and only have 30 containers/ pods running. Any ideas how to fix this?

az network vnet create \
    --resource-group $RESOURCE_GROUP \
    --name $CLUSTER_VNET \
    --address-prefixes 192.168.0.0/16 \
    --subnet-name $C

[2021-02-13 23:07] tomasr commented on #2108
Finding out this issue the hard way has been very disappointing. I can understand that it was a "bug", but it's been around for so long that fixing it now, this way, in a minor update, and with absolutely no heads up, was completely unacceptable.

I've now had to spend multiple hours sorting the mess this created on our system, and completely rewriting chunks of our provisioning infrastructure. I

[2021-02-14 00:31] JJ11teen commented on #1785
Any eta on when this will reach public preview?

[2021-02-15 08:34] elkh510 commented on #2056
hi @eriksywu
yes, update to 1.19.7 fixed the problem.

[2021-02-15 12:14] AbelHu commented on #2101
@r3econ Please check whether your cluster is using VirtualMachineScaleSets and Azure CNI. If either is not set, AKS will not generate the default WindowsProfile since it does not support Windows agent pools.
https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#create-an-aks-cluster.

[2021-02-15 12:49] LoicAG opened #2120 "Will the Stop/Start feature be compatible with the cluster autoscaler?"
Hello, this is a question regarding [the latest release](https://github.com/Azure/AKS/releases/tag/2021-02-08), and more specifically the Stop/Start feature, now GA.

[The documentation for the preview](https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster) mentions that the cluster autoscaler must be stopped; is this still the case, now that the feature is GA?

[2021-02-15 20:31] albamoro commented on #1686
Will at any point the BYO Private DNS Zone implementation support formats other than **_privatelink.\<region\>.azk8sm.io_**? I find it convenient to slice private zones by environment or application rather than service type.

[2021-02-16 00:48] #2045 closed

[2021-02-16 02:41] SpartyInDetroit opened #2121 "Unable to delete failed deployment"
**What happened**:

`az aks delete` is unable to delete my AKS cluster. This also fails when attempting to delete from the portal. Attempting to delete the resource group also fails but with a different error.

**What you expected to happen**:

AKS cluster should be destroyed.

**How to reproduce it (as minimally and precisely as possible)**:

I believe it's in a strange state because it was a pri

[2021-02-16 09:00] ankrause opened #2122 "User mode node pools should have the kubernetes.azure.com/mode label"
**What happened**:
Node pool in the "user" mode does not have a label indicating it's running in the user mode. System node pools have the label `kubernetes.azure.com/mode=system`.

**What you expected to happen**:

A node pool under the "user" mode should have the label `kubernetes.azure.com/mode=user`.

According to [this comment](https://github.com/Azure/AKS/issues/1309#issuecomment-617466555)

[2021-02-16 10:30] aravindarc commented on #2121
@SpartyInDetroit I am facing the same issue, I created the cluster through terraform, the private dns got deleted first. But when I try to delete the cluster from portal, the following error comes up.

`Error: privateDNSVNetLinkReconciler retry failed: azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to...`

Can you confirm if this is the same issue you are facing.

[2021-02-16 12:25] mo-saeed commented on #2077
@miwithro Thank you for your reply but that doesn't answer my question, even if AKS deprecates PSP will we still be able to use it in our cluster till it's deprecated in the upstream?

[2021-02-16 14:51] SpartyInDetroit commented on #2121
@aravindarc yes! This is the exact same issue I am getting.

[2021-02-16 16:39] miwithro commented on #2119
@V4A001 as long as your Virtual Network can support it you can change the size of the subnet.  That might be the easiest path.

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-subnet#change-subnet-settings

[2021-02-16 19:57] keikhara opened #2123 "[Feature] Azure Migrate for Windows AKS"
Azure Migrate is there for customers who wants to convert ASP.NET application onto Windows container, add to ACR, and then deploy to AKS.
https://docs.microsoft.com/en-us/azure/migrate/tutorial-containerize-aspnet-kubernetes

[2021-02-17 00:20] #2056 closed

[2021-02-17 00:20] xuto2 commented on #2056
closing since the fix is rolled out

[2021-02-17 02:23] xuto2 commented on #2056
to clarify - this is not related to kubernetes/kubernetes#94754

[2021-02-17 06:16] tomkerkhove commented on #1943
v1.0 is released - https://github.com/dapr/dapr/releases/tag/v1.0.0

Would be nice to have an official add-on for this.

Congrats @yaron2 & @msfussell with this release!

[2021-02-17 06:43] jrauschenbusch commented on #1480
Is there an ETA when this feature will goes GA?

[2021-02-17 06:47] jinstest1 commented on #1441
any ETA on the GA of AGIC Addon ?
Thank you :)

[2021-02-17 12:09] miwithro commented on #1480
The current implementation of Pod Identity (V1) is currently in Public Preview with CSS support.   We are working on Pod Identity (V2) which will leverage the native K8s OIDC federation.  Pod Identity V2 will go Public Preview in June 2021.  The intention is to take that to GA by end of the calendar year, and then deprecate Pod Identity V1.

[2021-02-17 12:22] feiskyer commented on #1686
No, that's not supported.

[2021-02-17 14:58] PiotrZalewski-TomTom commented on #1480
What about GA for V1?  Is this in plans or need to wait for V2?

[2021-02-17 15:08] miwithro commented on #1480
@PiotrZalewski-TomTom we have no plans to GA V1.  We onboarded V1 to support while we work to GA V2.

[2021-02-17 16:03] issacnitin opened #2124 "Cluster Autoscaler won't scale up if Load balancer is configured to use 64000 ports"
**What happened**:
Cluster autoscaling for nodepool fails when Load Balancer is configured to use 64000 ports and 32 ips for a nodepool of 10 nodes and a system pool of 1 node

**What you expected to happen**:
Cluster should auto-scale

**How to reproduce it (as minimally and precisely as possible)**:
Added a node pool for autoscaling to 10 nodes
Added 32 ips with 64000 ports per backend instance

[2021-02-17 16:47] IanMoroney commented on #2121
You could try updating/creating a new sp for the cluster:
https://docs.microsoft.com/en-us/azure/aks/update-credentials
and once complete, try to delete the cluster again?
The issue is most likely an ordering problem, where the SP gets deleted before it has a chance to delete the MC_ resources.

[2021-02-17 16:57] marwanad commented on #2124
@issacnitin thanks for reporting. Can you describe one of the pending pods and see the reason for the scale-up failure?

[2021-02-17 17:35] palmerabollo commented on #2117
In case it's helpful, we've also filed a support ticket 2102170050003709. We use 30GB OS disks and we get a lot of alarms in our monitoring systems because disks are avobe 70% usage (even when we really use ~2GB) due to this bug. Thanks.

[2021-02-17 17:36] mblaschke opened #2125 "Cost Optimized Addon scaling (CoreDns & Retina)"
**What happened**:
Many AKS maintained Pods are running with memory overcommitment, eg:

- omsagent (Daemonset; up to 375 MB)
- coredns (Deployment, up to 100MB)
- kube-proxy (Daemonset; unlimited?!)
- azure-policy (Deployment; up to 150MB)
- azure-policy-webhook (Deployment, up to 150MB)
- and others

for example OMS agent pods (from daemonset `omsagent`) are running with:

[code]

on high load a

[2021-02-17 17:36] issacnitin commented on #2124
@marwanad I just figured it's not issue with load balancer. Now when I try to add nodepool, it gives error "Invalid template, zone '' not in location eastus"

So i tried using availability zone(1) and even manual scaling is not happening

[2021-02-17 18:23] justin-sobanski opened #2126 "Required containers missing from OS image"
**What happened**: Building new private AKS clusters fails because at least one of the required system level containers isn't pre-loaded on the OS image. The zone where this is being built doesn't have access to the internet to pull down the image from mcr.microsoft.com. In particular, mcr.microsoft.com/oss/kubernetes/kube-proxy:v1.18.14 seems to be what is missing.

**What you expected to happen*

[2021-02-17 18:59] marwanad commented on #2124
@issacnitin so essentially you're unable to create nodepools/nodes in that region? If so, would you be able to open a SR ticket for that?

[2021-02-17 19:40] palma21 commented on #2105
Correct, that is not supported. The was to remove nodes or touch the infra is through the AKS API (scale in this case).

[2021-02-17 21:04] chrisj-platform9 commented on #1767
Plus 1 for this. EKS just added this https://aws.amazon.com/blogs/containers/introducing-oidc-identity-provider-authentication-amazon-eks/

[2021-02-17 21:19] palmerabollo commented on #2117
It seems to work fine in k8s 1.19 (containerd runtime). This is the `crictl images` output:

[code]

Disk usage is much lower:
[code]

[2021-02-18 03:38] zhiweiv commented on #1986
Any update?

[2021-02-18 04:45] aravindarc commented on #2121
Yes, let me tell you why this happens. So when you try bringing up a private cluster with terraform. when there is any issue with aks creation, it fails and the aks is not registered in the terraform state. So when you try destroying the terraform resources. the private dns zone registered with the aks gets destroyed but the aks is left as it is. After that when you try to delete it from portal it

[2021-02-18 05:53] issacnitin commented on #2124
@marwanad I realized there's some data center that went down in US, so VMs were unavaliable

[2021-02-18 05:53] #2124 closed

[2021-02-18 08:02] #2031 closed

[2021-02-18 08:11] dvob commented on #1480
@miwithro

Does this mean with V2 we can use service account tokens (projected tokens) to access azure resources? Or is there somewhere a document which describes how V2 is going to work? Since we are using V1 extensively we would like to know what we have to expect with V2.

[2021-02-18 10:21] albamoro commented on #1686
Thanks @feiskyer

[2021-02-18 16:07] gauravguliani opened #2127 "having issues with splunk connector after upgrading AKS version from 1.18 to 1.19"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Size of cluster (how many worker nodes are in the cluster?)
- General description of workloads in the cluster (e.g. HTTP microservices, Java app, Ruby on Rails, machine learning

[2021-02-18 16:15] miwithro commented on #2103
@Tetradeus this only works with User assigned Managed Identity.

[2021-02-18 16:22] miwithro commented on #1480
@dvob we are still working on the design, but yes that is the desire.

We are building "service identity federation" which will allow developers to provide AAD with a token from a foreign trusted issuer.

[2021-02-18 20:12] V4A001 commented on #2119
I get error that the subnet is in use. I try to change 192.168.1.0/24 to 192.168.0.0/23 (256 to 512)
Adding extra node is not possible for a basic network by the way.

[2021-02-19 00:39] vishiy commented on #2078
+ @ganga1980

[2021-02-19 05:27] lissff commented on #1687
@palma21  any ETA on the migration

[2021-02-19 08:32] Tetradeus commented on #2103
All right, so there is no plan to make it works without it ? I was not sure if it was heavily linked behind the scene.

[2021-02-19 08:48] MCKLMT opened #2130 "The feature 'StartStopPreview' could not be found."
**What happened**:

I follow the documentation to stop an AKS cluster : https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster
When I try to register the "StartStopPreviex" extension I received the error: ```The feature 'StartStopPreview' could not be found.```

**What you expected to happen**:

The extension should be registered successfully.

**How to reproduce it (as minimally and precis

[2021-02-19 09:37] ekhaydarov commented on #1480
If people use V1 will you just completely remove it like you removed the pod security policy preview for new clusters breaking workflows?

[2021-02-19 11:47] miwithro commented on #1480
@ekhaydarov the plan is to run V1 and V2 in parallel, and seamlessly migrate the Identities from V1 to V2.

[2021-02-19 11:49] whiskeysierra commented on #1480
But it sounded like in V2 there wouldn't be managed identities anymore but that kubernetes service accounts could authenticate as themselves directly to interact with Azure?

[2021-02-19 11:49] miwithro commented on #2103
Correct.  The main reason is customers won't know the object id of the system assigned identity before cluster creation, so the permission needed for BYO route table can't be granted before cluster creating, which will cause cluster creation error.

[2021-02-19 13:01] #1951 closed

[2021-02-19 14:28] kelvinatph opened #2131 "LoadBalancer sometimes not resolving correct remote IP despite externalTrafficPolicy:Local"
**What happened**: We have a Kubernetes Service object in front of our Pods that creates an Azure Load Balancer.  Our pods run an HTTPS service and we log the remote IP of each visitor.  The Service is configured with `externalTrafficPolicy: Local` and we noticed that almost all the time, the correct remote IP is logged; but occasionally, our HTTP service logs the public IP of the Load Balancer in

[2021-02-19 14:47] kelvinatph commented on #2131
To add a bit of info on frequency, over the last 24 hours, we had 4,428,192 http requests; of those, the loadbalancer IP was logged 4966 times, so about 0.1% of the time.

[2021-02-19 17:16] benc-uk commented on #1480
I don't think that's possible, if the identity doesn't exist in Azure & AAD there is no way it can't interact with Azure or the APIs (e.g. ARM)

[2021-02-19 18:33] r3econ commented on #2101
I figured it out on my own.

[2021-02-19 18:33] #2101 closed

[2021-02-19 21:21] arobass commented on #1686
@feiskyer , since the format won't change, would it be possible to add a prefix? :

<user defined prefix>.privatelink.<region>.azk8sm.io

qa.privatelink.<region>.azk8sm.io
dev.privatelink.<region>.azk8sm.io
and so on....

[2021-02-19 22:18] ganga1980 commented on #2078
Hi, @aristosvo,  can you please share the yaml snippet, how you are specifying the image under spec? and also if possible, can you please run below query on your log analytics and share the results ..

ContainerInventory
| where TimeGenerated > ago(15d) # try wider time window if you can repro old image
| summarize count() by bin(TimeGenerated, 1d), Image, ImageTag, Repository

[2021-02-20 02:28] feiskyer commented on #1686
@arobass custom defined DNS subdomain would be supported soon, e.g. `[custom-subdomain].privatelink.[region].azmk8s.io`. Do you think this works for you?

[2021-02-20 02:34] arobass commented on #1686
@feiskyer Yes this is exactly what we need, we need to be able to set the prefix of the privatelink dns zone.

Do you have an ETA of GA availability or public/private preview for this feature in Canada regions?

[2021-02-20 06:30] feiskyer commented on #1686
It would be public preview next month.

[2021-02-20 10:49] aristosvo commented on #2078
Hi @ganga1980:

- A cleaned up version of the deployment, part of Helm chart v3.21.0 for `ingress-nginx` v0.43.0
[code]

I've limited your query a bit:

[code]
|TimeGenerated [UTC] | Image | ImageTag | Repository | "count_"  |
|--|--|--|--|--|
| 2/20/2021, 12:00:00.000 AM | azuremonitor/containerinsights/ciprod | ciprod01112021 | mcr.microsoft.com | 4505
| 2/20/2021, 12:00:00.000 AM | sha256 | 38d

[2021-02-20 16:43] ekarlso commented on #1857
Yes if you want to use svc acct tokens to and oidc to verify the tokens for some services it is nice vs having to make Tokenreviewer

[2021-02-21 00:05] asubmani commented on #1967
how often would the gitops toolkit being used be updated?  I am interested in knowing the support lifecycle policy of updating these with upstream versions of the gitops tool (flux argo CD etc)

[2021-02-22 11:52] davidbarrowsatasos commented on #2130
I also have this problem after following the docs here:  https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster

[2021-02-22 15:31] bitsofinfo commented on #223
not stale

[2021-02-22 15:48] ThilinaManamgoda opened #2132 "HPA shows up abnormal behaviour when there is a rolling update"
**What happened**:
We have deployed the following HPA and we could observe that when there is a rolling update, HPA scales up the pod count even when the average memory consumption is lower than the target memory threshold 65%.  We tried the same thresholds with the HPA API version `autoscaling/v2beta2`, still we could observe the same behaviour.
[code]
**What you expected to happen**:
When there

[2021-02-22 16:55] miwithro commented on #1832
@skynetrulz      Is this still an issue?

[2021-02-22 16:58] miwithro commented on #1831
@dave-read are you good now?

[2021-02-22 17:00] miwithro commented on #2034
@vishiy @saaror any updates to the issue?

[2021-02-22 17:05] inohmonton99 commented on #2039
looks good now @TomGeske , thanks for looking into it

[2021-02-22 18:04] miwithro opened #2133 "CVE-2021-24094: Windows TCP/IP Remote Code Execution Vulnerability"
This vulnerability affects all Windows IPv6 deployments, but Windows systems that are ONLY configured with IPv6 link-local addresses are not reachable by remote attackers. IPv6 link-local addresses are not routable on the internet, and an attack would need to originate from the same logical or adjacent network segment.

https://msrc.microsoft.com/update-guide/en-US/vulnerability/CVE-2021-24094

AK

[2021-02-22 18:10] joaguas commented on #2130
Hi @MCKLMT and @davidbarrowsatasos ,

The start/stop feature is now [GA ](https://github.com/Azure/AKS/releases/tag/2021-02-08)
Using the feature no longer requires the cli aks-preview extension nor registering the preview feature (`az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService')]"` will no longer show this feature available, hence the error you're getting).

`jorg

[2021-02-22 19:47] JohnRusk commented on #2044
I just asked. The team is looking at this issue.

[2021-02-22 22:22] thejosephstevens opened #2134 "Add support to upgrade Orchestrator Version for Spot Node Pools"
**What happened**:
We're attempting to upgrade clusters to 1.19 from 1.18 with Terraform. On attempting to upgrade, the node pool refused to upgrade because it's a spot pool, stating that it can't guarantee uptime.
**What you expected to happen**:
I expected AKS to roll nodes with a best effort for maintaining uptime with no guarantee of full uptime.
**How to reproduce it (as minimally and precise

[2021-02-23 01:41] ganga1980 commented on #2078
Hi, @aristosvo , thanks for the details. When we moved from Docker API to Kubelet API for the container inventory. We have used "image" field under containerStatuses to extract Image, ImageTag and Repo field values in ContainerInventory. As you can see this, the image value is just sha256 value - sha256:38dca1cbd23197f591e58fc6c949110b53f7a003e15f6d4974d86e7f7a00815d.  We have fixed to use **Image

[2021-02-23 04:33] yuzsun commented on #2044
well done! @JohnRusk
by the way, may I know more about the "security credential" as mentioned?

[2021-02-23 04:35] JohnRusk commented on #2044
I just meant the SSH key.

[2021-02-23 07:39] aristosvo commented on #2078
@vishiy @ganga1980 Thanks, especially for the detailed and informative follow-ups! Amazing work, I can't imagine how much the changes in K8s (containerD, etc) must have affected you.

Good job 👍

[2021-02-23 09:58] ThilinaManamgoda commented on #2132
Related support issue ID: 2102170060003936

[2021-02-23 11:20] magooster opened #2136 "Clarification on Ephemeral OS Disk encryption"
When creating a cluster with ephemeral disk I  see the following when looking at the OS disk

<img width="1349" alt="Screenshot 2021-02-23 at 10 10 22" src="https://user-images.githubusercontent.com/12111442/108832816-ee2e0d00-75c3-11eb-8005-77d43812ac4e.png">

As I understand from another issue the Storage type is reflecting the storage type of the disk image used to 'seed' the ephemeral disk

No

[2021-02-23 11:50] dhananjaya-senanayake opened #2137 "[Feature Request] AKS Managed Service Mesh"
**What happened**:

A Service Mesh can be used for following scenarios
- Monitoring
- tracing -
- circuit breakers
- routing
- load balancing
- fault injection
- retries
- timeouts
- mirroring
- access control
- rate limiting, and more

In AKS a service mesh has to be installed and managed by the user.

- [https://docs.microsoft.com/en-us/azure/aks/servicemesh-about](https://docs.microsoft.com/en-

[2021-02-23 15:19] miwithro commented on #2127
@gauravguliani 1.18 is running Docker under the hood.  1.19 is running containerd under the hood.  I cannot find any reference to Splunk working with containerd.  So they need to provide a connector that works with containerd.

[2021-02-23 15:27] gauravguliani commented on #2127
Okay i will check that.

On Tue, Feb 23, 2021, 20:50 miwithro <notifications@github.com> wrote:

[2021-02-23 15:44] miwithro commented on #2126
@justin-sobanski can you tell me what version of the VHD you are running?  According to the latest release notes it there.

https://github.com/Azure/AgentBaker/blob/master/vhdbuilder/release-notes/AKSUbuntu/gen1/1804/2021.02.10.txt

Can you run  az aks upgrade \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-image-only

Then tell me if the problem still persists.

[2021-02-23 16:38] palma21 commented on #1866
Added the feature request tracker, we'd love to, unfortunately the upstream Cluster Autoscaler project doesn't have that concept and the settings/profile are done at the component level which affect all targeted node groups, we are however working upstream to the community to get this capability and architecture change considered upstream.

[2021-02-23 17:27] haizafrog commented on #1753
HI @alexeldeib
In our use-case, we want to create a node pool using Standard_L16s_v2, mount the Nvme local disk, and set the docker root to it. I understand it not supported yet, How we can achieve this?
Thanks!!!

[2021-02-23 18:09] alexeldeib commented on #1753
You can set the field "data-root" in the docker config file (/etc/docker/daemon.json) to change the default.

If you do this, you may want to clean up the docker images on the OS disk.

https://github.com/juan-lee/knode/blob/fa780d2ab1563838a7bc1e78e214a5a204c660f1/main.go#L258 shows one way to do it.

Daemonset can also help you format/mount the disk.

[2021-02-23 18:27] wsugarman opened #2138 "How do upgradeChannel and kubernetesVersion interact in an ARM template?"
I apologize if this has been answered elsewhere. I couldn't find it in the issues page, [Azure Docs](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/aks/upgrade-cluster.md#set-auto-upgrade-channel), or [ARM template documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/managedclusters). I

I see that `upgradeChannel` has been added to the ARM t

[2021-02-23 19:00] #1317 closed

[2021-02-23 19:02] justin-sobanski commented on #2126
@miwithro I did a clean build of a cluster in the same zone and ran into the same error. The CLI reports the image version as AKSUbuntu-1804-2021.02.10.

I did run that command against a slightly older instance that also had this problem and I didn't see the cluster come fully online, it looks like it ran into the same problem.

[2021-02-23 21:04] dhirschfeld commented on #1963
Looks like I just ran into this:
[code]

Unfortunately, the behaviour of the autoscaler seems to be to spin up my *default*, system node pool to it's max size rather than spinning up any of my user nodes without the taint. Hopefully there's a config I can tweak there to get a more sensible behaviour there :thinking:

I'm currently on 1.20.2. Is there an ETA for the new release?

[2021-02-23 21:43] capusta commented on #2130
does the resource provider have to be updated as well ? (for custom role assignments)

[code]

[2021-02-23 22:05] ams0 commented on #1753
This article might help you with NVMe preparation https://medium.com/cooking-with-azure/using-nvm-e-instances-in-azure-kubernetes-service-40c587dbd67b

[2021-02-23 22:09] alexeldeib commented on #1753
^that will work well for workload volumes, but less so for docker root. The initial setup will be exactly what the local provisioner does out of the box, detecting and mounting the drives.

[2021-02-24 02:40] vishiy commented on #1922
@NileshGule - Thanks for the feedbacks.

[2021-02-24 02:48] vishiy commented on #2034
@yene @chmill-zz Thanks for reporting. I will post back on investigation

[2021-02-24 03:08] amymariparker opened #2139 "Hi porrascarlos802018, AKS bot here :wave:"
Hi porrascarlos802018, AKS bot here :wave:
Thank you for posting on the AKS Repo, I'll do my best to get a kind human from the AKS team to assist you.

I might be just a bot, but I'm told my suggestions are normally quite good, as such:
1) If this case is urgent, please [open a Support Request](https://azure.microsoft.com/en-us/support/create-ticket/) so that our 24/7 support team may help you fas

[2021-02-24 03:09] #2139 closed

[2021-02-24 03:09] amymariparker commented on #2139
D

[2021-02-24 09:01] chrisbloe opened #2140 "kube-apiserver flags"
K8s offers the configuration of a variety of settings via kube-apiserver - https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

I understand that AKS offers a managed service, so doesn't expose the option of a user setting these values directly.

I have found a couple of other tickets that relate to these options...
- #1150
- #1993

...but the underlying request of a

[2021-02-24 09:05] Kraelog commented on #2120
Hello!

I would very much like to inquire if/when the issues with CA will be resolved.

Currently in my environment stopping an AKS cluster works without a problem.

However, when I start the AKS cluster through an ARM pipeline, the system starts more nodes then specified by the minimum configuration, at which point the cluster autoscaling blocks the extra node and the provisioning state of the cl

[2021-02-24 12:26] andyzhangx commented on #1333
To solve the disk creation issue in availability zone cluster, `volumeBindingMode: WaitForFirstConsumer` is already default setting in azure disk storage classes on new AKS clusters.

[2021-02-24 12:43] miwithro commented on #2125
Here is a document that talks about resource-reservations to the specific K8s components.
https://docs.microsoft.com/en-us/azure/aks/concepts-clusters-workloads#resource-reservations

I would recommend to use system node pool for the system pods (deployments), and application node pool for customer workloads. This will reduce the impact from the system components to their application.
https://docs

[2021-02-24 16:50] lastcoolnameleft commented on #1788
How does this issue differ from #1338 ?  This one show in Development for Azure Public and the other shows as Private Preview.

[2021-02-24 19:54] mblaschke commented on #2125
The problem here is:
There is no memory overcommit. You can overcommit CPUs but not memory (if you don't have swap which is strongly not recommended by Kubernetes).

So if the application Pods are using 99% of memory and eg. omsagent or even kubeproxy (which is not reserved at all) uses 2% more memory this will trigger the OOM killer on the host and kills a container or application more or less ra

[2021-02-24 19:56] tbertenshaw commented on #223
Any changes to this? Still looking for a readwritemany option which is performant.

[2021-02-24 19:58] mblaschke opened #2141 "Metric server runs with insecure "--kubelet-insecure-tls""
**What happened**:
Metric server runs with `--kubelet-insecure-tls` so it doesn't check the kubelet certificates when fetching metrics which makes it possible for TLS attacks.

**What you expected to happen**:
Ensure proper kubelet certificates and remove `--kubelet-insecure-tls` as this is insecure.

**How to reproduce it (as minimally and precisely as possible)**:
Spin up AKS and check the metri

[2021-02-24 20:14] mblaschke opened #2142 "Nodes should use less privileged service principal inside /etc/kubernetes/azure.json"
**What happened**:
The AKS ServicePrinicpal is used in every node VM inside `/etc/kubernetes/azure.json`. This ServicePrinicpal has at least Contributor permissions on the node ResourceGroup.

If an attacker can breach the container and can access this file on one node he could:
- delete VMs, VMSS, ManagedDisks, LoadBalancers, ...
- manipulate VMSS and the VMS
- access other VMs as this ServicePri

[2021-02-25 04:34] keikhara commented on #1454
@hallgeirl - Windows 2004 is a SAC release which will be deprecated this year. We decide to move to another LTSC later this year instead since this will be too disruptive. We have this new LTSC OS in our roadmap backlog since it is later this year. We will update more 2H of this year.

[2021-02-25 08:40] jmorcar commented on #223
Here a new improvement in Preview:
https://docs.microsoft.com/en-us/azure/aks/reduce-latency-ppg

This is for reduce latency via proximity nodepools in AKS ( or VM aswell it's possible) , but if it had the same for include proximity with storageaccount type Filestorage, then latency would be reduced a lot. Currently I don't known what proximity has a storageaccount in data center.

Another problem

[2021-02-25 12:59] doronmak opened #2144 "FailedToUpdateEndpointSlices aks 1.19.7"
Hello, we upgrade from 1.16.5 to 1.19.7 and we got some Warning about the Endpoint Slices.

the error is:
`
  Warning  FailedToUpdateEndpointSlices  49m (x12 over 4d3h)  endpoint-slice-controller  Error updating Endpoint Slices for Service default/**service name**: failed to update **endpoint name** EndpointSlice for Service **default/service name** Operation cannot be fulfilled on endpointslices.

[2021-02-25 13:51] tantweiler commented on #1303
Is there a way to verify to which upgrade channel the cluster has been set?

[2021-02-25 15:53] justinas-b commented on #1817
I think it is a feature of Calico Enterprise only

[2021-02-25 16:32] brobichaud commented on #1454
Not trying to be critical here, but since it was indicated this was targeted for mid last year ad now 4 months after someone asks about it again it is stated this is now another half a year away at least? You guys need to put way more effort into communicating your direction. This significant change of direction is extremely disappointing.

Are you indicating that you are not intending to support

[2021-02-25 18:02] #2103 closed

[2021-02-25 18:02] #2051 closed

[2021-02-25 18:02] #1928 closed

[2021-02-25 19:46] miwithro commented on #2077
No you will not.

[2021-02-25 19:54] carlsoncoder opened #2145 "Provide a way to modify the Audit Policy used by the kube-apiserver in AKS"
**What happened**:
I would like to know if there is a way (and if not, can we add a feature request) to make the Kubernetes audit policy used by managed AKS configurable.

Right now, I don't see any way to configure this.  I found [Issue #1873](https://github.com/Azure/AKS/issues/1873), where user @miwithro noted the following:

*********
Hello,
There is already an audit policy applied to the AKS

[2021-02-25 22:46] ckittel opened #2146 "Should nmi (Pod Managed Identity) add-on tolerate all taints?"
In my cluster with four node pools (one system, three user pools).  Two of the three user node pools share a taint. The remaining has it's own (different) Taint as well. This means that all user node pools have a taint. In this cluster workloads all need to have their appropriate tolerations (one or both of those). I was caught by surprise when `nmi` was subject to the taints. All other system add

[2021-02-25 23:30] coderplay opened #2147 "couldn't find key named key1 in storage account"
**What happened**:

I created a `shared-premium` StorageClass with below configuration in a AKS cluster. The only difference between this StorageClass and AKS's built-in `managed-premium` is that mine kind is `Shared`.

[code]

When I create a PVC of above StorageClass, I got errors  like this

[code]

From below `az storage account keys list` instruction, I can get a key named `key1` in storage a

[2021-02-26 00:01] #2130 closed

[2021-02-26 00:14] miwithro commented on #2126
@xuto2 can you assist?

[2021-02-26 01:53] mark-nexplore opened #2148 "Unable to provision PVC due to bad apiVersion ARM send from AKS"
**What happened**:
When trying to provision new deployment (I was loading prometheus via Helm3), there seems to be a problem for it to provision the necessary PVCs via ARM, as these events pops up:
[code]
It seems the ARM request sent is using a old version and thus failing.

**What you expected to happen**:
The Persistent Volume Claim should be created with the appropriate ARM apiVersion and retu

[2021-02-26 02:42] feiskyer commented on #2091
/assign @gossion

[2021-02-26 08:00] mvvveen commented on #2108
Hit the same issue yesterday and found out the hard way too.
Also i didnt make use of pvc/pv for azurefile as the documentation on both ms and k8s states

[2021-02-26 09:16] andyzhangx commented on #2147
Hi @coderplay `shared` kind is not supported any more since it can only create blob disk, while aks node is using managed os disk, it cannot attach blob disk.

[2021-02-26 09:27] andyzhangx commented on #2148
which region are you on? and could you provide your helm config?
I tried to use this example on aks 1.20.2 cluster, it could not repro. Would you try this example on your cluster, you only need to change `managed-csi` to `default` and then apply that statefuset: https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/example/statefulset.yaml#L38

[2021-02-26 09:28] andyzhangx commented on #2147
close this issue now since `shared` is not supported on aks.

[2021-02-26 09:28] #2147 closed

[2021-02-26 09:31] andyzhangx commented on #2136
@ramankumarlive  it looks like Ephemeral OS Disk is already encrypted by SSE+PMK by default from azure portal now, not sure whether it's correct, could you confirm? thanks.

[2021-02-26 09:42] mark-nexplore commented on #2148
HI @andyzhangx,

Our cluster sits on `eastasia`. I actually try to run the helm based on default that triggered this. Have not tried with managed-csi actually since it still preview I assume from reading the from docs.microsft.com.

As for triggering the repo:
[code]
The logs comes a few seconds when I do `kubectl get events --watch`

[2021-02-26 09:43] andyzhangx commented on #2148
just try this, does it work?
[code]

[2021-02-26 13:40] yevhen-kuras opened #2149 "AKS 1.17.13 UDP load balancing"
**What happened**: We are using load balancer service for UDP communication. Also we need stateful UDP datagrams distribution on the backend. So we are using Client IP persistence to achieve this goal. Previously on AKS 1.16.15 UDP packages was sent to the same pod w/o issues. Also we utilized **tcp-idle-timeout** configuration to keep stateful UDP flow for 4 minutes. So we gracefully relied on th

[2021-02-26 14:04] maartengo commented on #2138
Not sure if it answers your question, but about point 3; there are a few API's available to get a list of available upgrades:
https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/getupgradeprofile
https://docs.microsoft.com/en-us/rest/api/aks/agentpools/getupgradeprofile
https://docs.microsoft.com/en-us/rest/api/aks/agentpools/getavailableagentpoolversions

[2021-02-26 17:06] cmclopes commented on #2148
I'm also having exactly the same issue since yesterday. Any PVC (StorageClass=default) provisioning ends up with the same error on the event list:

`
"AttachVolume.Attach failed for volume \"pvc-36e33f32-bb4d-4119-9f47-c577503d6999\" : rpc error: code = Unknown desc = Attach volume \"/subscriptions/xxxxxxx-xxxxx-xxxxx-xxxxx-xxxxxxxx/resourceGroups/aks-hello-rg_nodes/providers/Microsoft.Compute/dis

[2021-02-26 18:01] arsnyder16 opened #2150 "Upgrading control plane causes api server to be unavailable"
**What happened**:
I have a web service that is running within AKS.
I recently upgraded a cluster from 1.17-1.18 using
`az aks upgrade --kubernetes-version 1.18.14 --control-plane-only --yes --name {}`

During the upgrade to the api server become unavaialbe for ~5 minutes. My cluster is configured to have uptime sla.

During this down time my ingress(nginx) and some custom controllers within the c

[2021-02-26 19:57] SatyKrish commented on #1955
Hi @miwithro , is this  feature released? I still  see auto-created UAMI without any roles assigned.

[2021-02-26 21:01] keikhara opened #2151 "South Africa North​ Zone Support"
Waiting for external facing whitelisting from Azure Global before publishing to docs.

[2021-02-26 21:46] justin-sobanski commented on #1686
When utilizing the "None" option for the private DNS zone, the cluster creates without failing using on-prem DNS in the VNET. However, after creation it seems like the portal no longer works to interact with the cluster.

Looking at network traffic, it looks like it's trying to find a DNS record with the format <guid>-priv.portal.hcp.centralus.azmk8s.io. That record doesn't seem to get created fro

[2021-02-27 01:06] andyzhangx commented on #2148
@cmclopes could you paste the activity logs of the disk attachment operation? looks like it's related to this PR: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/479, the azure disk driver takes this is AzureStack is using `2017-12-01` which is a too old version on public cloud.

cc @feiskyer @nilo19 I think we need to add a global flag to disable AzureStack support in AKS setting

[2021-02-27 01:15] andyzhangx commented on #2148
To workaround, delete original `default` storage class and use `provisioner: kubernetes.io/azure-disk`, below are the steps:
[code]

[2021-02-27 09:08] slenky commented on #1771
Reopen please? It's still an issue.

[2021-02-27 13:25] dprotaso commented on #1771
@Azure/aks-leads can you re-open this issue?

[2021-02-27 16:15] mayaherskovic commented on #2133
@keikhara would you be able to assist?

[2021-02-27 18:58] ganrad commented on #1520
Same question here.  Can we get a tentative timeframe for when this feature will be GA'ed ? One of our big AKS customers has been waiting on this feature for a while.  Appreciate your inputs.  Thanks.

[2021-02-28 10:37] magooster opened #2152 "Start-Stop of a 1.17 Cluster enabled CSI drivers"
**What happened**:

Started a stopped AKS cluster and see a set of CSI storage driver related pods

kubectl -n kube-system get pods | grep csi
csi-azuredisk-node-hv2gv                3/3     Running   0          32m
csi-azuredisk-node-l2jfd                3/3     Running   0          34m
csi-azuredisk-node-sqlrd                3/3     Running   0          34m
csi-azurefile-node-h5jmg

[2021-02-28 15:58] magooster commented on #2152
Just tried creating a new cluster (1.18) i'm seeing the same...

kubectl -n kube-system get pods | grep csi
csi-azuredisk-node-4dthc              3/3     Running   0          4h14m
csi-azuredisk-node-dv2tk              3/3     Running   0          4h14m
csi-azuredisk-node-r58wt              3/3     Running   0          4h14m
csi-azurefile-node-7r9vj              3/3     Running   0          4h14m

[2021-02-28 19:01] #1971 closed

[2021-03-01 01:46] gossion commented on #2091
there is only 1 virtual node, draining that node would make those pods have nowhere to run and lead to unexpected result.
instead of draining that node directly, it would be better to check the pods running on virtual node first before disabling the add-on:
1. if there is no pod running on virtual node, it is safe to disable the addon
2. if there are pods running on virtual node, raise an error an

[2021-03-01 03:13] levimm commented on #1686
@justin-sobanski Thanks for the issue reported. It's indeed a bug that portal dns not created. I'll fix that and should be available in next AKS release.

[2021-03-01 08:31] MCKLMT opened #2153 "KHV003 - Azure Metadata Exposure"
After having launched Kube-hunter on a AKS cluster, an issue ["KHV003 - Azure Metadata Exposure"](https://aquasecurity.github.io/kube-hunter/kb/KHV003.html) is reported.
According to the documentation, there is two ways to remediate this problem. The first is to use Azure Pod Identity, the second, [mentioned there](https://kubernetes.io/docs/tasks/administer-cluster/securing-a-cluster/#restricting

[2021-03-01 09:38] estambakio-sc commented on #1982
Today updated to 1.19.7, seems to work fine now. Closing.

[2021-03-01 09:38] #1982 closed

[2021-03-01 09:56] GerryWilko commented on #2152
I am experiencing exactly the same issue. CSI has been enabled on my cluster with a simple stop and start command.

This has crippled my cluster with these CSI pods eating all my max node count and resources.

[2021-03-01 16:18] cmclopes commented on #2148
The workaround works! Thank you @andyzhangx

[2021-03-01 18:25] ms-lolo commented on #1570
Hey just checking in here. It looks like the latest versions of Kubernetes support up to 5000 nodes. Does this change the work needed for more than 10 nodepools? Even before the work in this ticket is completed, is it reasonable to think a limit of 50 nodepools might be coming soon with the adoption of new kubernetes versions?

[2021-03-01 19:26] xhl873 commented on #2138
Hi @wsugarman, upgradeChannel is added recently and it's for out new feature auto-upgrade, which is in preview now. The upgrade channel won't influence k8sversion when you create the cluster, if k8sversion left unspecified, it will use the default version of that region. For 2, it will create the cluster 1.19.6, and because you enabled auto-upgrade by setting it to patch channel, later on, it will

[2021-03-01 19:27] paulgmiller commented on #2138
Keep in mind later on might be very soon after or many hours later. There is no guarantee on that.

[2021-03-01 20:01] #2109 closed

[2021-03-02 01:27] xuto2 commented on #2126
ack.

[2021-03-02 06:48] xuto2 commented on #2126
We fixed it. @justin-sobanski  Can you give it a try?

[2021-03-02 07:55] pakoAku commented on #2077
@miwithro can you clarify on this please:

How do I need to understand this:
06.30.2021 - all running AKS cluster, from all customer with any Kubernetes version will stop support PSP
or
06.30.2021 - all AKS Cluster which will be upgraded to Kubernetes 1.2x or get created after the 06.30.2021 will stop support PSP

I was in a discussion with the Azure Support and I understood it will stop working o

[2021-03-02 12:42] yevhen-kuras commented on #2149
After additional investigation I found that UDP flows are dropped after ~35 seconds. Therefore UDP packages are not received on appropriate pod of deployment behind load balancer service.

[2021-03-02 12:45] IulianToader commented on #2118
Hi there, is there any traction on this issue?

[2021-03-02 13:26] krs-gofore commented on #2152
We don't have CSI registered either and we just upgraded some of our clusters from 1.19.3 to 1.19.6 and suddenly there are CSI pods running.

[2021-03-02 13:29] alert101-gof commented on #2152
We don't have CSI registered either and we just upgraded some of our clusters from 1.19.3 to 1.19.6 and suddenly there are CSI pods running.

[2021-03-02 13:55] justin-sobanski commented on #2126
@xuto2 I tried again this morning and it looks like it's working great now. Thanks!

[2021-03-02 13:55] #2126 closed

[2021-03-02 15:45] GerryWilko commented on #2152
I had to ask support to manually disable CSI on my cluster. Seems to be an ongoing issue.

[2021-03-02 16:08] AWSmith0216 opened #2154 "AKS cluster has no default storage class"
**What happened**:
On 03/02/2021 I created AKS clusters using terraform and through the Azure portal. None of the clusters have a default storage class. For storage classes I'm seeing:

[code]

**What you expected to happen**:
For there to be a default storage class. Previously I had been seeing:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Create an AKS cluster throu

[2021-03-02 16:11] AWSmith0216 commented on #2154
The AKS doc at https://docs.microsoft.com/en-us/azure/aks/concepts-storage also implies there should be a 'default' storage class, just to confirm I'm not totally crazy.

[2021-03-02 17:48] wsugarman commented on #2138
Thanks @xhl873!

I think my team will want some interaction between these two fields before we take a dependency on it in production. For example, say we have an ARM template using the above values:

[code]

After this version has been deployed, at some point the cluster will be automatically upgraded to 1.19.7. So if our team wants to make changes to this ARM template, we would need to make sure

[2021-03-02 18:10] miwithro commented on #2077
Hello,
  To be more clear.

  After pod security policy (preview) is deprecated, you must disable the feature on any existing clusters using the deprecated feature to perform future cluster upgrades and stay within Azure support.  So in short, they can continue to use as long as they don’t upgrade.

[2021-03-02 18:43] b-odonoghue commented on #2011
@miwithro Are you sure this has been fixed? I don't find any extension called `azure-preview` but I do have the `aks-preview` at .0.5.2 and when I try the command from this issue it still fails.

[code]

[2021-03-02 19:21] SkinyMonkey opened #2155 "Throttling request took"
**What happened**:

I programmed a custom controller that sometimes receives the following error when talking with the kube server API endpoints:
"Throttling request took ", followed by a time that can take up to a minute!

Of what i understand the kube server API has a request-per-second limit or it could be Azure that is throttling the number of request.
I can throttle the number of requests mad

[2021-03-02 19:48] Joshhw commented on #2154
Im having the same issue as well suddenly today.

[2021-03-02 20:04] djsly commented on #2154
same issue, this is affecting us hard.

[2021-03-02 20:07] palma21 commented on #2154
This was a bug on our recent release, it's being fixed as we speak and should be concluded by today. Sorry for the issue

[2021-03-02 21:15] djsly commented on #2154
seems like it's fixed in eastus at least

[code]

[2021-03-03 01:00] eriksywu commented on #2117
The fix to prune out all non-target hyperkube and kube-proxy images will be part of this week's release. ETA for all regions is end of next week.

Just a note that we currently only remove baked in kubeproxy and hyperkube (the big culprit for taking up addition os disk) images. The latter is only present for docker-based images.

[2021-03-03 02:06] andyzhangx commented on #2154
fixe should be rolled out to all regions now

[2021-03-03 02:06] #2154 closed

[2021-03-03 02:09] andyzhangx commented on #2148
We are rolling out azure disk csi driver v1.1.1 to fix this issue from next week, stay tuned.

[2021-03-03 03:30] paulgmiller commented on #2138
This is a great point thanks for bringing it up. I think my prefernce would be #2 but I'll be discussing it with Xiahe and Charlie this week.

[2021-03-03 04:35] techbunny commented on #1972
@JohnRusk I would like to add that this issue has come up with another customer using Terraform as well, particularly with the addition of node pools. On the high level, TF takes a return status code of "failed" as the final word and failed resources do not (by design) end up in the TF state file.  Instead a future run of the same code will expect to deploy the missing resource and then update the

[2021-03-03 06:34] tomkerkhove commented on #2137
There's an OSM add-on coming, would that help? https://github.com/Azure/AKS/issues/1787

[2021-03-03 07:01] #1814 closed

[2021-03-03 07:14] vishnujanardhanan commented on #1062
@bowang-666 @palma21 Hi, is this feature available for docker based clusters? If so which preview feature contains it? can you please help?

az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService')].{Name:name,State:properties.state}"

[2021-03-03 07:42] pakoAku commented on #2077
Thank you for the clarification.

[2021-03-03 08:45] #2127 closed

[2021-03-03 08:45] gauravguliani commented on #2127
by changing log format to CRI it worked

[2021-03-03 11:55] l-rossetti commented on #2152
Same behavior here. Moreover the resource allocation is HUGE and is blocking new pods deployment:
Namespace                   Name                                              CPU Requests  CPU Limits  Memory Requests  Memory Limits  AGE
---------                         ----                                                       ------------  ----------  ---------------  -------------  ---
kube-sy

[2021-03-03 12:02] GerryWilko commented on #2152
The resource limits are enormous for these pods I really don't understand how anyone could support running these within their cluster without a huge compute expense.

MSFT are currently planning on these being enabled by default for 1.21 if that is to be the case AKS will become a much less attractive proposition.

Perhaps the team could explain the benefits of this CSI system? The documentation j

[2021-03-03 12:52] ripa1993 commented on #2152
I think those CSI pods have messed up resource limits and reservations configured.
As a comparison, here https://github.com/kubernetes-sigs/azuredisk-csi-driver/blob/master/deploy/csi-azuredisk-node.yaml the default limits are `cpu: 200m`  `memory: 200 Mi`

[2021-03-03 13:34] zycon opened #2156 "view kubernetes resources from private cluster in azure portal"
How to view workload and resources from AKS portal. Its working for public cluster but not for private one's. I couldn't find any documentations which supports this.

I see from browser, all the XHR connections are initiated  to the privatelink api server

#AKS #948

[2021-03-03 14:23] #2105 closed

[2021-03-03 16:26] b-odonoghue commented on #2011
My apologies I had been running the wrong aks-preview extension version. I needed to be on 0.5.3 or greater for the commands to work along with `--enable-pod-identity-with-kubenet`

[2021-03-03 20:25] JohnRusk commented on #1972
Thanks for the great description @techbunny .  cc'ing @miwithro since I'm not actually working on this aspect of AKS myself.

[2021-03-03 22:41] fab2903 opened #2157 "az aks create -with --attach-acr is creating Managed Identity by default"
**What happened**:  az aks create with --attach-acr is creating Managed Identity by default but it doesn't work properly until you manually add the ArcPull role on the ACR and on the Managed identity itself. (Even as an owner of the subscription).
As a second issue, az aks update to --attach-acr doesn't work either, even as an owner.

**What you expected to happen**: I expected that if I'm the own

[2021-03-04 02:51] zhiweiv commented on #1532
I found a feature which looks great.
https://github.com/kubernetes-sigs/cluster-api-provider-azure/issues/826
Integrate AzureMachine with AzureManagedControlPlane (BYO nodes on AKS)

[2021-03-04 09:42] palma21 commented on #1788
1338 is about creating nodepools in different subnets, the nodes and pods of those nodepools still use the same CIDR.

This feature is about giving pods different CIDRs then those of the nodes. And also dynamic allocation of pod IPs.

[2021-03-04 11:53] winromulus commented on #2108
Hit this problem today the hard way as well. The 1.19.7 version should still be in preview considering this kind of issue.

[2021-03-04 12:01] winromulus commented on #2108
@andyzhangx
Getting the following: `error validating data: ValidationError(Deployment.spec.template.spec.volumes[1].azureFile): unknown field "secretNamespace" in io.k8s.api.core.v1.AzureFileVolumeSource`
Is there something we need to update to support this?

[2021-03-04 12:09] tehho commented on #2108
"secretNamespace" is not supported on the direct volume mount, only with persistent volume mount.
I have made a PR (https://github.com/kubernetes/kubernetes/pull/98967) to fix this but since this would introduce a API change and direct volume is to be deprecated with the support for CSI it's not likely to be merged

[2021-03-04 12:14] winromulus commented on #2108
This completely breaks our system. We can't use the default namespace to host that secret since it conflicts and we rely on namespace isolation.

[2021-03-04 12:53] amjadaljunaidi commented on #2108
@winromulus could you please try to recreate the PV ( delete then create it )

[2021-03-04 13:02] andyzhangx commented on #2155
the code is in [client-go](https://github.com/kubernetes-sigs/azurefile-csi-driver/blob/b03365535aad360e68346ed9fd12c3dad87f39d6/vendor/k8s.io/client-go/rest/request.go#L590-L597), it would log when api call costs > 50ms
[code]

[2021-03-04 13:34] mihma commented on #1987
I can see it's been made GA but the actual login request comes to Azure Kubernetes Service AAD Client instead of Azure Kubernetes Service AAD Server hence the policy is not applied. Am I missing something?

[2021-03-04 16:22] weinong commented on #1987
@mihma Login can happen from other client app. So policy should be configured on the server app.

[2021-03-04 16:23] #1987 closed

[2021-03-04 16:37] winromulus commented on #2108
@amjadaljunaidi - We managed to fix this by moving away from directly attached volumes (inline) to PV+PVC but we had to break a lot of other things to work around this issue:
- PVs are cluster-level resources so we had to break the namespace level permissions in order to allow the deployment of the PVs (this defeats the entire purpose of Azure DevOps Environments for Kubernetes where the serviceAc

[2021-03-04 20:16] justin-chizer commented on #2120
I am having a similar issue. `az aks stop -g <rg> -n <name>` works fine.
But when I run `az aks start -g <rg> -n <name>` the cluster no longer respects the min count for the CA.

Using AZ CLI version: 2.20.0
AKS version: 1.19.6
Azure Region: westus2
[code]

Did I miss a step?

cc: @palma21

[2021-03-05 02:24] EppO opened #2159 "Add support for custom NTP servers"
Currently, AKS uses ntp.ubuntu.com as NTP servers. There are other use cases where using custom NTP servers would make sense:

- When using private AKS clusters, able to use internal NTP servers
- Use NIST NTP servers or pool.ntp.org

[2021-03-05 07:35] kortatu opened #2160 "SyncLoadBalancerFailed Tag value too large when creating several LoadBalancer services with the same IP"
**What happened**:
When creating multiple LoadBalancer services with the same IP (just a preview feature from February 2021), you can't get more than 10/15 (depending on the services names) because you get a `Tag value too large` error:

```Warning  SyncLoadBalancerFailed         5m22s (x7 over 14m)  service-controller    Error syncing load balancer: failed to ensure load balancer: Retriable: fals

[2021-03-05 07:49] Sviatik commented on #1894
I just tried and no, It doesn't work.
Looks like ACI create a separate Manage identity which doesn't appear in TF state.

So currently only one way to pull that id using `data`

[2021-03-05 08:59] zhiweiv opened #2161 "Windows DNS issue"
In Release 2021-03-01

As far as I know, it is has been an issue for a long time, see https://github.com/Azure/azure-container-networking/issues/341. Does this release note mean same thing? I am wondering why it is marked as Behavioral Change.

BTW, from my experience it may take more than 1 minute for DNS working when concurrent pod creation, you have to keep retry until it is ok, sleep ~1 second

[2021-03-05 09:25] MindaugasBudas opened #2162 "StatefulSet is not recreated correctly when node memory limit reached"
**What happened**:

StatefulSet pod reaches node memory limit and gets recreated with message:

"The node was low on resource: memory. Container X was using xKi, which exceeds its request of xGi."
Pod is started, but it has no network capabilities.

**What you expected to happen**:

Pod is started and is fully functional.

**How to reproduce it**:

Deploy statefulSet with no resource limits and co

[2021-03-05 13:51] miwithro opened #2163 "Just-in-Time Access to Azure Kubernetes Service"
What happened:
Customers would like to be able to configure Just-in-Time access policies for Azure Active Directory enabled AKS clusters.

What you expected to happen:
Customers should be able to configure the Just-in-Time access policy to provide restriction to AKS AAD Users.

Status:
We are working on documenting Just-in-Time Access.

[2021-03-05 14:02] mmisztal1980 commented on #2152
We are experiencing a similar issue. We are running a v.recently provisioned cluster v 1.17.16
We've had support remove the CSI pods for us, which worked fine and the limits went back to normal, however:

- our scheduled azure build agent cleanup failed to recreate the pods & volumes, upon examination we've found that a persistent volume binding was in `Pending` state.

[code]

Upon closer examina

[2021-03-05 14:12] andyzhangx commented on #2152
@mmisztal1980 pls run `kubectl delete sc default` and after a few mins, new `default` storage class with `kubernetes.io/azure-disk` provisioner will be created.

[2021-03-05 14:13] mmisztal1980 commented on #2152
@andyzhangx trying it now

[2021-03-05 14:14] mmisztal1980 commented on #2152
@andyzhangx an educated guess it to do the same with the remaining csi storage classes?

[2021-03-05 14:18] andyzhangx commented on #2152
just delete those csi storage classes since they are useless

[2021-03-05 14:20] mmisztal1980 commented on #2152
Leaving this for posterity

[code]

[2021-03-05 14:21] mmisztal1980 commented on #2152
@andyzhangx I can confirm that the `default` storage class appears to be using the correct provisioner now

[code]

[2021-03-05 18:03] denniszielke opened #2164 "Cluster autoscaler should delete oldest vms first on scale in"
**What happened**:
Currently the cluster autoscaler deletes the newest vm when it scale down the VMSS instances again.
This causes issues that the older VM of the VMSS stay there forever while the autoscaler always adds new vms and removes them when scaling in.

**What you expected to happen**:
The VMSS scaler has a scale in policy that can be configured to always delete the oldest vm on scale dow

[2021-03-05 19:00] #1985 closed

[2021-03-06 04:15] dhananjaya-senanayake commented on #2137
Any timeline for going on GA and available as a AKS managed add on ?

It is not in GA it seems https://servicemesh.es/

[2021-03-06 15:34] SkinyMonkey commented on #2155
While I understand that the client is logging this I fail to understand why the calls to the kubernetes API cost > 50ms.
And mostly, why some requests can take as much as 1 min to resolve.

My guess is that the raate limiter is stacking the requests but i don't get why even then it's too much for the server to handle.
At most, of my understanding, we get maybe 300 requests per second. Which does n

[2021-03-06 21:34] davefellows commented on #2150
Thanks for raising this @arsnyder16, we're looking into what might have caused this.

No, uptime SLA clusters have multiple replicas.

Do you mind sharing your cluster details so we can investigate further?

Thanks!

[2021-03-07 09:27] tomkerkhove commented on #1738
Bumping, any thoughts @seanmck @palma21 if this is coming?

[2021-03-07 18:53] ohadschn commented on #323
I would add setting logging verbosity (`--v`) to the list - could be invaluable for test clusters.

[2021-03-07 23:16] ohadschn opened #2165 "Logging Verbosity setting for kube* components"
The [following logs are available for cluster debugging](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/):
### Master
   * `/var/log/kube-apiserver.log` - API Server, responsible for serving the API
   * `/var/log/kube-scheduler.log` - Scheduler, responsible for making scheduling decisions
   * `/var/log/kube-controller-manager.log` - Controller that manages replication c

[2021-03-08 01:00] annerajb commented on #2163
I am confuse.. it says this is GA and done.

But ehh it says that you are still working on it??
If it's done why is there still work left?

[2021-03-08 07:01] #968 closed

[2021-03-08 10:31] jimmyjamesbaldwin opened #2166 "Viewing an AKS Deployment 'Changelogs' in the Azure Portal requires listClusterAdmin credential"
**What happened**:

In the Azure Portal in the AKS resource viewer, attempting to use view the Deployment "Changelog" without listerClusterAdmin permissions fails for any namespaces, throwing the error in the screenshot below:

_'Changelogs' option fails wanting listClusterAdmin_
![changelogs option fails wanting listClusterAdmin](https://github.com/jimmyjamesbaldwin/Kind-k8s-cluster-YACMT/blob/ma

[2021-03-08 11:52] amjadaljunaidi commented on #2108
@winromulus I totally agree with you and the reason for that changed because there is some modification in next version that could impact your cluster hence we started to that for this version

we will announce this in release notes in the future to avoid any conflict

[2021-03-08 16:10] markwooff commented on #2108
If inline file mounts are being deprecated, it should be made clear to AKS users since the documentation still shows this as the first way to mount File Shares onto a Pod: https://docs.microsoft.com/en-us/azure/aks/azure-files-volume

Will be looking at converting our inline file mounts to PV + PVC but would have been great to know before upgrading AKS versions.

[2021-03-08 18:15] marwanad commented on #2164
CA doesn't delete the newest VMs - it deletes the "unused" VMs with resource utilization below a configured threshold `--scale-down-utilization-threshold` so it's up to how the pods were assigned. Naturally, most of the time that will be the newest created VMs that were created to accommodate the workload.

Keep in mind, it doesn't scale down by setting the VMSS capacity and deletes particular VMs

[2021-03-09 02:55] monaminor opened #2167 "self hosted kubernetes networking on AKS"
i wanted to setup self hosted kubernetes network tool like (flannel and weavenet) on AKS.
even thouh there is kubenet or azure-cni, can i install flannel or weavenet??
i tried to install flannel and weavenet but azure-cni is also there. i am unable to delete azure-cni deployment on aks.

please let me know how to solve this issue.

[2021-03-09 07:22] andyzhangx commented on #2108
@markwooff sure, if you are going to upgrade to k8s 1.18.15, 1.19.7, 1.20.2, 1.21.0, pls change to PV/PVC(specify `secretNamespace` in PV) or move secret to `default` namespace. The inline volume mount is deprecated in CSI driver.

[2021-03-09 18:28] miwithro opened #2168 "CVE-2021-27075 Azure Virtual Machine Information Disclosure Vulnerability"
What type of information could be disclosed by this vulnerability?

Exploiting this vulnerability could allow a low privileged user to gain virtual machine credentials as well as credentials to extensions associated with the virtual machine.

https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-27075

AKS Information:

Containers not running in host network can no longer access wireserve

[2021-03-09 18:33] denniszielke commented on #2164
Ok that makes sense. I guess then the question is if we can influence the HPA to delete certain pods on scale in?

[2021-03-09 19:33] marwanad commented on #2164
There's an upstream KEP for that :) https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2255-pod-cost.

It's on the application owner though to implement a controller that would mutate those annotations.

[2021-03-09 20:23] keikhara opened #2169 "[Feature] New Region - Sweden South & Central"
End of May/June timeframe

[2021-03-09 23:15] jyee021 commented on #1338
Is there an anticipate GA date for this feature?

[2021-03-10 00:43] qpetraroia opened #2170 "NodePool Start/Stop"
Allow users to be able to stop a given nodepool in their AKS cluster.

[2021-03-10 03:07] palma21 commented on #2108
Hi folks, sorry for this. We've updated the docs, but more importantly this escaped our net. This was an upstream change in k8s, which impact we missed and so we didn't pre-announce / announce with the introduction of 1.19.7. We try to be diligent with these  and apologize for the big miss.
Even though we always recommend reading the upstream [changelog](https://github.com/kubernetes/kubernetes/bl

[2021-03-10 03:53] #1789 closed

[2021-03-10 03:55] palma21 commented on #2112
@keikhara good to close?

[2021-03-10 04:02] palma21 commented on #1317
Host-sync and chrony are now used from 2021-03-08 relese

[2021-03-10 04:09] palma21 commented on #995
Deprecated for an upcoming different feature issue.

[2021-03-10 04:09] #995 closed

[2021-03-10 09:22] FunkyFabe opened #2171 "AKS starting a stopped cluster fails"
**What happened**:
Starting a stopped AKS cluster with `az aks start -g test-bench-exam-scheduler -n aks-test-bench` fails.
(`az aks stop -g test-bench-exam-scheduler -n aks-test-bench` was used to stop the cluster before.)

**What you expected to happen**:
The cluster should start properly.

**How to reproduce it (as minimally and precisely as possible)**:
Create new AKS cluster. Then stop it and

[2021-03-10 12:32] miwithro opened #2172 "Standard Load Balancer per Node Pool"
Remove the limitation of a Single SLB per cluster.

[2021-03-10 12:33] #2172 closed

[2021-03-10 13:14] Sudharma opened #2173 "Azure Kubernetes Nodes restarts + kubelet logs lost after restart"
**What happened**: AKS cluster is running with `1.19.7`  version and suddenly Nodepool worker is restarted. I want to investigate what happened. audit logs did not help much hence I wanted to check kubelet logs but I see the logs are present only after restart.!

**What you expected to happen**: I expect the kubelet logs post restart of node.( If its already there I couldnt find any documentation

[2021-03-10 14:14] miwithro opened #2174 "Multiple Load Balancer Support"
### Public Preview ETA: Q1 2025*
  *ETAs are estimations and subject to change

Status: delayed for security priority work.

[2021-03-10 14:15] miwithro opened #2175 "Kubernetes v1.21"

[2021-03-10 14:16] miwithro opened #2176 "Simplified DNS for Private Cluster"

[2021-03-10 14:17] miwithro opened #2177 "Out-of-Tree Cloud Provider"

[2021-03-10 14:17] miwithro opened #2178 "Dapr Add-on"

[2021-03-10 14:17] miwithro opened #2179 "Additional Node hardening"
CIS Hardening and Attestation for Ubuntu and Windows.

[2021-03-10 17:26] miwithro opened #2180 "Disable SSH on AKS cluster nodepool level"
This feature will allow customers to disable ssh on aks worker nodes, or enable ssh if needed.  GA is planned for Sept 2024.

[2021-03-10 17:32] villanub commented on #1767
This is something we are looking to leverage for managing a large customer base. Any update on plans to support this? EKS has taken the lead and it would be good for AKS to catch up.

[2021-03-10 18:06] denniszielke opened #2181 "AKS NodeOSUpgrade Channel for Security patching and Node image"
**What happened**:
VMs have installed patches and now all need to be restarted. Problem is that I as a customer have to implement a reliable process that is properly restarting one vm after another.

**What you expected to happen**:
Basically I want something like a nodepool restart as an api (similar to node image upgrade - just without the image upgrade). That is iterating all vms of a node pool

[2021-03-10 18:58] brobichaud opened #2182 "ACR Integration requires ACR and AKS Cluster be in same subscription"
**What happened**:
I tried to enable ACR integration in AKS so that I do not have to create a docker registry secret. I immediately ran into a roadblock in that the ACR must exist in the same subscription as the AKS cluster.

**What you expected to happen**:
The ACR should be supported across subscriptions. We have multiple AKS clusters in different subscriptions (prod vs dev) but have a single AC

[2021-03-11 07:39] JoseFMP opened #2183 "Alerts not triggering"
My AKS alerts are not triggering. Set-up an alert to trigger whenever a pod has less 1 instance running. Never triggered. How can I obtain more information to troubleshoot?

According to the signal, it should trigger:

![image](https://user-images.githubusercontent.com/24405049/110752354-bf788d80-8277-11eb-8c2f-a033c03d4a8d.png)

Since the blue line is below the threshold. Right?!

But I get no al

[2021-03-11 09:31] Adolfi opened #2184 "Expired certificate AND unsupported Kubernetes version 1.17.7"
Hi.
I have an issue with one of my clients clusters.

The **Cluster Certificate** has expired 6 days ago, but when I try to rotate it using [these docs](https://docs.microsoft.com/en-us/azure/aks/certificate-rotation) I get an error saying:
_**"Deployment failed. Correlation ID: e210def7-3aa2-4af1-aa97-480a5725e8dc. Operation failed with status: 200. Details: Resource state Failed"**_
My resource

[2021-03-11 11:15] andyzhangx commented on #2184
pls file an Azure ticket, there is a bug in rotate-certs functionality, and hotfix is rolling out.

[2021-03-11 12:10] evmimagina opened #2185 "How to use an "Azure Private DNS Zone" with AKS?"
Hi,

We would like to use "Azure Private DNS Zone" for registering any service deployed on the AKS, Is there any way we can achieve this?

Many thanks and best regards,

[2021-03-11 13:02] norshtein commented on #2094
Already fixed.

[2021-03-11 13:02] #2094 closed

[2021-03-11 13:43] kundan1avaya opened #2186 "Vulnerable Kubernetes version detected during container scan"
**What happened**:
Scanning report found Vulnerable Kubernetes version
**What you expected to happen**:
It was expected to be latest version and near to client and server
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Target Container = 3d4929******
Container Name = k8s_tunnel-front_tunnelfront-****8b4647-d4hfc_kube-system_258ffc7a-575f-403a-

[2021-03-11 14:57] MCKLMT commented on #2153
@palma21 any idea?

[2021-03-11 16:40] antonmatsiuk opened #2187 "Autoscaler doesn't add Nodes in missing Availability Zones"
**What happened**:
Auto-scaler for node pools doesn't add new nodes into required availability zones. If a static PV has a constraint on a particular AZ (bound to a ManagedDisk in this AZ) auto-scaler won't trigger node scale-up to add a missing node into required AZ.

**What you expected to happen**:
Auto-scaler adds nodes into a particular AZ if Pod's PV is bound to this AZ

**How to reproduce i

[2021-03-11 17:16] antonmatsiuk opened #2188 "AKS adds/uses deprecated failure-domain.beta.kubernetes.io labels"
**What happened**:
AKS uses depreacted `failure-domain.beta.kubernetes.io` labels for availability zones

**What you expected to happen**:

According to this [doc](https://kubernetes.io/docs/reference/labels-annotations-taints/)
`failure-domain.beta.kubernetes.io/region` and `failure-domain.beta.kubernetes.io/zone` labels are deprecated in favor
of `topology.kubernetes.io/region` and `topology.kub

[2021-03-11 17:20] 0dragosh commented on #2020
Also encountering this, please fix it.

[2021-03-11 22:05] palma21 opened #2189 "[Feature Request] Pod Static IP"
Use a specific IP address for a pod.

[2021-03-12 05:57] palma21 commented on #2153
I don't think that issue flagging is correct.

this is correct for things running directly on the VM, not necessarily for pods.

this is not correct, AKS restricts the pod CIDR access to that endpoint. So the only way to access it as described would require the ability to run a privileged pod or host network, which are very elevated privileges that should be able to do that and have way more conce

[2021-03-12 06:00] Adolfi commented on #2184
Thank you @andyzhangx!
My client has contacted the Azure support and hopefully this will be resolved soon.

I was contacted by Microsoft Azure on Twitter asking me to extend this GitHub page with some screenshots that might be helpful when investigating this.

So, this is how it looks in the Azure portal:
<img width="1398" alt="Screen Shot 2021-03-12 at 06 48 45" src="https://user-images.githubuse

[2021-03-12 06:01] palma21 commented on #2153
FYI: https://msrc.microsoft.com/update-guide/vulnerability/CVE-2021-27075

[2021-03-12 09:04] 617m4rc commented on #2140
I can only reemphasize what has been said already. The ability to increase the time for retaining events is indispensable for us. Anyone who has ever done a post-mortem analysis on AKS will probably agree.

[2021-03-12 09:31] vavvolo opened #2190 "[Feature Request] Convert an existing AKS public cluster to a private cluster"
Allow converting an existing AKS public cluster to a private cluster without re-creating the cluster

[2021-03-12 13:01] #1983 closed

[2021-03-12 14:01] dennis-benzinger-hybris commented on #2181
And AFAIK there's no nice way to get the VMSSs. You have to look into the `MC` resource group and now the naming pattern.

[2021-03-12 15:48] ckittel opened #2191 "[Preview] 1.20.2 and Azure Policy (Gatekeeper) are not mixing"
Running on the preview 1.20.2 version and I'm experiencing some pretty significant issues with the Azure Policy addon.  The version of Gatekeeper installed (`3.1.3`) by the addon depends on `selfLink` being set on its constraint resources.  As of Kubernetes 1.20, [`selfLink` is no longer being automatically set](kubernetes/kubernetes#94397) on resources. This has been fixed upstream in Gatekeeper

[2021-03-12 19:24] miwithro commented on #2121
@SpartyInDetroit are you still having the issue?  Were you able to open a ticket with support?

[2021-03-12 20:01] #2152 closed

[2021-03-12 20:49] miwithro commented on #2161
@keikhara

[2021-03-12 20:51] brobichaud commented on #2161
Agreed, I was curious as well as to why this is pointed out as a change when it (or something very similar) has existed for years.

[2021-03-12 20:57] miwithro commented on #1973
@NickKeller

[2021-03-12 22:38] lazydino opened #2193 "Mixed protocol support"
I hope I reach the right channel for the answer of this issue mentioned as https://github.com/kubernetes/enhancements/issues/1435 or this [stackoverflow issue](https://stackoverflow.com/questions/65286712/kubernetes-aks-how-to-load-balance-both-tcp-and-udp-ports-for-same-ip-addres). I cannot find any useful info if this is currently supported on Azure as of March 12, 2021.  This enhanced network f

[2021-03-13 03:31] ganga1980 commented on #2078
Hi, @aristosvo , New agent ciprod02232021 which has fix should have been rolled to all of your clusters. please check and this issue should have been resolved. Please confirm.

[2021-03-13 08:17] palmerabollo commented on #1477
Not stale. The workarounds are not valid in some scenarios (for example, operators that reconcile the disk size such as elasticsearch doesn't work well on AKS)

[2021-03-14 12:02] #2153 closed

[2021-03-14 13:05] aelij opened #2194 "Allow updating node pools using ARM template"
**What happened**:
Currently the only option to add a node pool in an ARM template is by creating a separate child resource (`.../providers/Microsoft.ContainerService/managedClusters/aks1/agentPools/p2`). This presents a problem when trying to apply an update to the primary (system) node pool which requires recreating it, for example, to allow it to join an existing subnet or enable "encryption at

[2021-03-14 13:22] andyzhangx commented on #2188
we are still evaluating whether to change in-tree azure disk driver to use GA labels, there is a PR here: https://github.com/kubernetes/kubernetes/pull/99424#issuecomment-798905281

[2021-03-15 01:29] AbelHu commented on #2161
@zhiweiv @brobichaud Yes, it is still the known issue. We pointed it out in the release notes of 2021-03-01 because AKS tests failed for this issue with 2B/2C and it passed before 2B.

[2021-03-15 01:40] zhiweiv commented on #2161
Thanks for the information.

[2021-03-15 01:40] #2161 closed

[2021-03-15 06:35] alert101-gof commented on #2152
Would be nice to get an explanation how and why this happened, especially as many didn't have the preview feature registered? Fortunately we only upgraded two development clusters and these were using VMSS. But if we had happened to upgrade a production cluster (which are still using Availability Sets) this could have caused serious issues.

[2021-03-15 07:46] Musham-Aj commented on #1686
Hi, I have faced

Could you let me know, I have provisioned the AKS, post the AKS provision, I am facing this issue.
[{"code":"CreateVMSSAgentPoolFailed","message":"Agents are unable to resolve Kubernetes API server name. It's likely custom DNS server is not correctly configured, please see https://aka.ms/aks/private-cluster#hub-and-spoke-with-custom-dns for more information.

I am not including o

[2021-03-15 08:02] feiskyer commented on #1686
@Musham-Aj have custom DNS servers enabled on the VNet? if so, please follow https://aka.ms/aks/private-cluster#hub-and-spoke-with-custom-dns to setup DNS forwarding (and [here](https://github.com/Azure/terraform/tree/master/quickstart/301-aks-private-cluster) for example terraform manifests).

[2021-03-15 08:05] feiskyer commented on #1829
close since it is already supported.

[2021-03-15 08:05] #1829 closed

[2021-03-15 08:18] Musham-Aj commented on #1686
Thanks for the response @feiskyer

have custom DNS servers enabled on the VNet? if so, please follow https://aka.ms/aks/private-cluster#hub-and-spoke-with-custom-dns to setup DNS forwarding
In the above it is showing that DNS Zone should be linked to VNet which has DNS servers enabled, Yes, When I deployed AKS, the Private DNS Zone which has created by AKS itself has created a link to the VNet whe

[2021-03-15 08:46] feiskyer commented on #1686
@Musham-Aj yes. suggest using BYO Private DNS zone for such scenario:

[code]

[2021-03-15 09:43] aristosvo commented on #1999
Issue seems resolved in my clusters, thanks!!

[2021-03-15 09:48] aristosvo commented on #2078
Hi @ganga1980! The issue is resolved!

Thanks a lot!

[2021-03-15 09:49] aristosvo commented on #2078
Hi @ganga1980 The issue is indeed resolved!

Thanks a lot.

[2021-03-15 09:49] #2078 closed

[2021-03-15 11:06] kasbst commented on #1999
I can confirm this is now resolved for us as well - cluster version 1.19.7

[2021-03-15 11:07] malthe commented on #1062
@vishnujanardhanan seems like this would be enabled via "Microsoft.ContainerService/useContainerd".

[2021-03-15 11:21] kortatu opened #2195 "Ensuring LoadBalancer performance issue"
**What happened**:
We have a problem with the performance of LoadBalancing rules when using AKS/LoadBalancer services. For context, let me explain what our system requires:
We have a multi-region product with clusters all around the globe. Customers can create routes of video streaming connecting those regions and when a route is started, pods are provisioned in those regions with video endpoints

[2021-03-15 11:28] Musham-Aj commented on #1686
Thanks for the response you have provided.

Could you please tell me, what is the difference between if we use BYO Private DNS Zone and AKS-created Private DNS Zone itself in the node resource group.

Both DNS Zones are linking to VNet which has DNS Servers enabled right.

@feiskyer

[2021-03-15 11:41] adityasundaramurthy-maersk opened #2196 "Can I use LVM/RAID in AKS to address IOPS throttling"
**What happened**:
My workloads are I/O heavy and routinely run into IOPS limits, despite using large OS disks and large VMs that have high IOPS limits. This is a follow-up to #2069

**What you expected to happen**:
Workloads and nodes are not constrained by OS disk IOPS limits.

**How to reproduce it (as minimally and precisely as possible)**:
Run IOPS heavy workloads on AKS clusters with 2TB dis

[2021-03-15 11:48] miwithro commented on #1686
The BYO Private DNS Zone allows customers to pre-create a Private DNS Zone which addressed a bug in the AKS-created Private DNS Zone where the  private cluster creation fails for BYO VNet configuration when the DNS zone is not properly attached to BYO VNet or your Hub network.

Both DNS Zones are linking to the VNET which has DNS Servers enabled right?  The end state is the same for both correct.

[2021-03-15 11:53] viralpat218 commented on #1686
It still creates the Private DNS Zone as part of the AKS, so the issue still remains if you have custom DNS you still need to link the peering? Regardless of the pre-create Private DNS Zone

[2021-03-15 12:46] andyzhangx commented on #2196
Current disk driver does not support RAID, one workaround is using local disk, e.g. Azure LSv2 VM with NVMe SSD, follow details here: https://github.com/Azure/kubernetes-volume-drivers/tree/master/local

[2021-03-15 12:47] andyzhangx commented on #2184
confirmed that this rotate-certs issue was resolved on all regions now.

[2021-03-15 12:47] #2184 closed

[2021-03-15 13:08] Adolfi commented on #2184
Thank you!

[2021-03-15 13:24] anttipo commented on #1686
As far as I've understood the requirement for vnet link is not a bug, it's part of how the name resolution works in Azure. Pre-creating the DNS Zone allows you to also pre-create the vnet link, instead of having to rely on running bash scripts with local-exec or similar.

[2021-03-15 13:30] miwithro commented on #1686
@viralpat218  @anttipo you are both correct.

[2021-03-15 13:53] viralpat218 commented on #1686
So bash scripts with local-exec or similar would still be a requirement, as this would need to do the vNet link to the DNS Zone that is created part of the AKS cluster?

[2021-03-15 14:12] miwithro commented on #1686
Correct.

[2021-03-15 14:32] DenisBiondic commented on #1787
Is this going to support windows nodes / windows container workloads?

[2021-03-15 14:41] ondrejhlavacek commented on #1338
I have found out that Kubernetes Network Policies do not work between node pools in different subnets. We're running AKS with  Azure CNI and Azure networking policy. Is this related to this issue or should I create a support ticket?

[2021-03-15 17:18] saaror commented on #1999
Closing issue, the fix has been rolled out.

[2021-03-15 17:18] #1999 closed

[2021-03-15 17:20] marwanad commented on #2187
There's two limitations with respect to zones here:
1. You can't ask VMSS for a VM in a particular zone.
2. CA picks up a node from a nodepool and assumes all nodes in the same group are going to have the same blueprint with respect to the scheduling properties, resources, labels, taints, zones, etc

Thus, the recommendation is to have a nodepool per AZ and enable the `--balance-similar-node-group

[2021-03-15 20:01] #2023 closed

[2021-03-16 02:19] nilo19 commented on #2152
@alert101-gof this is due to a bug we introduced recently. We have hotfixed the bug.

[2021-03-16 07:07] SatyKrish commented on #1955
Hi @miwithro , can you share any documentation about this feature?

[2021-03-16 07:49] Musham-Aj commented on #1686
Hey @megharaikwar, Could you please tell me that, in your AKS Script you have kept "privateDNSZone" as None and parallel executed a script that creates a DNS zone and link to the VNet, May I know, How does it work, In the post-deployment of AKS it will search for API address to resolve but in your case, it can't search.

[2021-03-16 07:51] Musham-Aj commented on #1686
Is this option available in ARM templates, We are deploying the infrastructure using ARM Templates, So we can't go with the CLI, I see in ARM Templates that the "private-dns-zone" option is there, but could we add the resource ID in that place? rather than "none" or "system"

[2021-03-16 07:59] Musham-Aj commented on #1686
cam we create a DNS Zone post the deployment of the AKS cluster? Would that work
@feiskyer @miwithro @viralpat218 @anttipo

[2021-03-16 08:05] feiskyer commented on #1686
@Musham-Aj  ARM template is also supported, but you couldn't set it post the deployment as it is required during cluster provisioning.

[2021-03-16 08:09] Musham-Aj commented on #1686
May I know, what value I need to pass here then ""privateDNSZone": "*string*"", Should I pass "none" or "resourceId" ?

[2021-03-16 08:11] jbouzekri commented on #2171
I have the exact same issue. If stop/start the cluster without waiting too long (a few seconds) between the two actions, it starts again successfully. I assume that the stop action on the cluster level is really stopping everything (after a time) even the managed apiserver on Azure side. As a proof, this DNS issue on the managed apiserver. Then when we start the cluster again, the node are going u

[2021-03-16 08:22] TobiasXy commented on #2193
I upgraded one cluster to 1.20 preview and it seems the feature is not available. Probably because you would have to set the MixedProtocolLBService feature flag to true, which seems not to be the case for AKS.

[2021-03-16 08:37] Musham-Aj commented on #1686
Hello Team,

I kindly request you please help me out.

I am trying to deploy AKS Private cluster using ARM Templates in existing vNet which has DNS Servers set up. I am facing this issue.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/DeployOperations for usage details.","details":[{

[2021-03-16 08:41] feiskyer commented on #1686
resourceId should be put if you have already created the private dns zone.

[2021-03-16 10:52] kundan1avaya commented on #2186
[podslogs.txt](https://github.com/Azure/AKS/files/6148149/podslogs.txt)
[logs.txt](https://github.com/Azure/AKS/files/6148150/logs.txt)

[2021-03-16 10:57] Musham-Aj commented on #1686
I had passed resourceId in the "privateDNSZone" option like this, tried in below two ways, was still facing the same issue.
"privateDNSZone":  "/subscriptions/***/resourceGroups/***/providers/Microsoft.Network/privateDnsZones/***"
&
"privateDNSZone":  "/subscriptions/***/resourceGroups/***/providers/Microsoft.Network/privateDnsZones/***/virtualNetworkLinks/****"

Still facing the same issue.
@feis

[2021-03-16 11:37] aristosvo commented on #2085
@andriktr https://github.com/Azure/AKS/issues/1999 is resolved, maybe this one as well? 🤞

[2021-03-16 13:40] andriktr commented on #2085
@aristosvo  Thanks for heads up, I need to rise up cluster versions then will report back.

[2021-03-16 13:43] Musham-Aj commented on #1686
@feiskyer @miwithro Could you please suggest me.

As per the above discussions, I am understanding that we need to go for "BYO private DNS Zone" solution to overcome the error "Agents are unable to resolve Kubernetes API server name. It's likely custom DNS server is not correctly configured.". and I had followed the below approach, However, Still I am facing the same issue.

I am using ARM Templat

[2021-03-16 14:20] miwithro commented on #2186
We are in the process of replacing tunnel-front with Konnectivity service for 1.18 and above clusters going forward. Notice the screenshot from my 1.18.10 AKS cluster in East US2.

![image](https://user-images.githubusercontent.com/50749048/111324468-2ebbfc00-8641-11eb-822c-2a6e63aa7da6.png)

[2021-03-16 18:07] karyjac commented on #2171
Got same issue as well, not a private cluster, no NSG, no UDR, no custom DNS.

Deployment failed. Correlation ID: d9347991-56a4-445d-9fb6-719f5382f7d1. Agents are unable to resolve Kube                                                                                                                                                                                          rnetes API server name. It's

[2021-03-16 18:30] mattstam commented on #2089
For anyone experiencing the networking problems when using Calico with the Kubenet network-plugin on Kubernetes version 1.20+, here is a simple fix:

**First configure the IPPool to use vxlanMode**
Run: `calicoctl patch ippool default-ipv4-ippool -p '{"spec":{"ipipMode": "Never", "vxlanMode": "Always"}}'`

**Then to fix the kube-controllers crashing**
Drain the node the kube-controllers in running

[2021-03-16 18:35] miwithro commented on #1955
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#bring-your-own-control-plane-mi

[2021-03-16 18:36] benmoss opened #2197 "Support dry-run in the admission webhook"
**What happened**:
Tried to create a pod with [server-side dry-run](https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/), saw an error saying that it is not supported

**What you expected to happen**:
It should work!

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
Similar issues:
- https://github.com/elastic/cloud

[2021-03-16 20:32] bbgobie commented on #2052
1.17 End of Support is approaching pretty quick, is there official word from AKS on what they want us to do with this? We all run an unsupported daemonset to fix it?

[2021-03-16 22:15] xuto2 commented on #2052
we're disabling resolved on all new 1804 VMs, the change is in release and expected to be done by next week. AKS release notes https://github.com/Azure/AKS/releases/tag/2021-03-08 also mentioned it.

[2021-03-17 07:40] tehho commented on #1955
This guide does not replace the kubelet identity.

Tried workarounds that failed:
I've tried installing the user assigned identity with aad-pod-identity (with helm not addon) and a dummy pod, binding the user assigned identity to the pod.
But that does not seem to work for nodes and ACR, it does work for the pod.

Examples:
[code]

Why we need this:
We have a blue/green deploy on cluster level sin

[2021-03-17 08:02] #1963 closed

[2021-03-17 09:02] andyzhangx commented on #1553
this feature is already GA: https://docs.microsoft.com/en-us/azure/aks/azure-disk-customer-managed-keys

[2021-03-17 09:02] #1553 closed

[2021-03-17 16:06] kutsyk-neocles opened #2198 "Garbage collection on AKS with kubernetes version 1.19+"
**What happened**: Nodes disk memory is reachin peaks

**What you expected to happen**: nodes disk memory is not reaching top, but is in general low

**How to reproduce it (as minimally and precisely as possible)**: Use cluster and with a time node disks are becoming full

**Environment**:
- Kubernetes version (use `kubectl version`):  1.19.7
- Size of cluster (how many worker nodes are in the clu

[2021-03-17 19:04] aelij opened #2199 "Allow assigning pod identities on cluster creation"
**What happened**:
Trying to create a new AKS cluster in an ARM template with assigned pod identities results in an error:

[code]

This unnecessarily complicates initial deployments. We are using BYO managed identity, so why can't this just work?

**What you expected to happen**:
Allow assigning pod identities on cluster creation

**How to reproduce it (as minimally and precisely as possible)**:

[2021-03-17 19:43] xuto2 commented on #2118
It's being released and already hit the below regions. Please give it a try  on these regions

westcentralus
ukwest
uksouth
southeastasia
eastasia
canadaeast
canadacentral
australiasoutheast
australiaeast
australiacentral
eastus2euap
centraluseuap

[2021-03-17 19:46] karyjac commented on #2171
jbouzekri in which region is your cluster deployed?

[2021-03-17 19:47] jbouzekri commented on #2171
@karyjac : In francecentral

[2021-03-17 19:58] karyjac commented on #2171
@jbouzekri same, I guess this is a bug....maybe DNS replication but can say for sure.
@palma21 are you aware of any bug/know issue affecting this region?

[2021-03-18 07:47] aelij opened #2200 "Allow using the same system BYO managed identity for Kubelet"
**What happened**:
When using BYO managed identity, another identity is still created (in the generated resource group) for use by Kubelet to connect to ACRs. This makes it harder to buildout an environment and assign all permissions before the cluster is created (and keep them when it is rebuilt).

**What you expected to happen**:
Add a property that allows using the same user-assigned MI for bot

[2021-03-18 07:50] aelij commented on #2200
Kind of a duplicate for #1955, so closing.

[2021-03-18 07:50] #2200 closed

[2021-03-18 08:06] cforce commented on #2144
same/similar issue chart  ingress-nginx-3.24.0 0.44.0 on AKS 1.19.8 https://github.com/kubernetes/ingress-nginx/issues/6972

[2021-03-18 10:54] starkers commented on #1767
I was thinking about migrating from AWS to Azure and just found out AKS doesn't support something a vanilla k8s cluster does..  Zoinks :/

[2021-03-18 11:08] miwithro commented on #1767
We currently have:
https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity

We are currently working on OIDC Federation support in our V2 implementation.   Looking at a Private Preview in the end of Q2 2021.

[2021-03-18 11:29] miwithro commented on #2144
There is a Kubernetes Issues on this one:

https://github.com/kubernetes/kubernetes/issues/91072

According to that thread.  "I think the best option is what I proposed above (delete slices managed by controller during these transitions) for the EndpointSlice and EndpointSliceMirroring controllers."

[2021-03-18 11:33] miwithro commented on #2182
@norshtein can you look into this.

[2021-03-18 15:26] cforce commented on #2144
It seems to happen during nginx autoscale. I don't know how i can can improve here without even changing the original nginx helm chart. So is that a kubernetes/aks or  ngnix  problem?

[2021-03-18 19:16] motmot80 commented on #1394
another use case is using the load balancer for udp services with no http or tcp endpoint.

[2021-03-18 20:29] miwithro commented on #2185
@evmimagina the document below should answer all your questions.

https://docs.microsoft.com/en-us/azure/aks/private-clusters#configure-private-dns-zone

[2021-03-18 21:11] ekhaydarov commented on #1557
what has happened? its seems everything is jumbled up. slightly unrelated but managed identities are jumbled up.

[code]

the name trying to be deleted `data-core` is not the same as whats being referenced in the error `aks-ns-airflow-core`.
whats happening here?

[2021-03-19 05:44] dalavayi opened #2202 "Unable to access deployement on AKS using external IP, the deployment image is pulled from ACR"
**What happened**:
When i am deploying an image from AKS, which is stored in ACR, the pods are running fine and the container is created successfully, but i am unable to access the same using External IP.

**What you expected to happen**:
I tried the same thing where image is being pulled from msr.microsoft.com, then i can access the service from external IP. The same is to be expected when pullin

[2021-03-19 09:26] ekhaydarov opened #2203 "Pod-Identity management bug"
**What happened**: Pod identity is in a state where it cannot do anything to a managed identity role. it is stuck and getting mixed up between different roles.

The command to delete an identity named `aks-ns-data-core` references `aks-ns-data-mlp` in the error. ive granted  the cluster managed identity, the mc-xx resource group, everything possible to assign a `Managed Identity Contributor` has b

[2021-03-19 11:05] cubed-it opened #2204 "UDP packets are partially duplicated after upgrade to 1.19.7"
**What happened**: UDP packets generated from a Pod on VM 1 are received twice by another Pod on VM 1.

**What you expected to happen**: UDP packets should not be delivered twice.

**How to reproduce it (as minimally and precisely as possible)**:
Unfortunately, I can't give minimal instructions on how to reproduce it. In the specific case, it was noticed that - after upgrading from AKS 1.18.8 to 1

[2021-03-19 14:12] villanub commented on #1767
Feel free to reach out to me to participate in the Private Preview, happy to work on this as it is a critical piece of our requirement for success.

[2021-03-19 16:40] Baldro opened #2206 "Unable to attach volume - Timedout waiting for condition"
**What happened**:
On a just created AKS Cluster using k8s 1.18.14, every component that has a Persistent Volume Claim fails to install via helm reporting: `MountVolume.WaitForAttach failed for volume "pvc-e1a55145-07aa-4e86-8094-35a51f02d059" : timed out waiting for the condition`
Below an example while installing Bitnami/RabbitMq Helm.

Looking at the Events List for the given installation we ha

[2021-03-19 17:04] miwithro commented on #2203
@bcho

[2021-03-19 19:55] JaroslavMajera opened #2207 "Default azure disk storageClass VolumeBindingMode - WaitForFirstConsumer or Immediate"
**What happened**:
Newly created aks default azure disk storageClasses are created with VolumeBindingMode: **WaitForFirstConsumer**. I can't find any documentation that describes default azure disk storagaClass VolumeBindingMode. Is there change from Immediate to WaitForFirstConsumer?

**What you expected to happen**:
Default azure disk storageClasses are created with VolumeBindingMode: Immediate.

[2021-03-20 08:38] Baldro commented on #2207
We are facing similar behavior with 1.18.14 in the last days.
We have solved by deleting the default SC and creating it with VolumeBindingMode set to Immediate:

`
kubectl get sc default -o yaml > default-sc.yaml

# Change default sc volume binding mode to Immediate
sed -i 's/WaitForFirstConsumer/Immediate/g' default-sc.yaml

kubectl  delete sc default
kubectl  apply -f default-sc.yaml`

[2021-03-20 08:50] JaroslavMajera commented on #2207
We know about this workaround, but there is note in docs [AKS reconciles the default storage classes and will overwrite any changes you make to those storage classes.](https://docs.microsoft.com/en-us/azure/aks/concepts-storage#storage-classes)

[2021-03-20 10:58] magooster commented on #2207
This change was announced here [Release 2021-02-08](https://github.com/Azure/AKS/releases/tag/2021-02-08)

AKS fixed the issue with reconciling of the default storage class a wild back  see [Cannot set a different default storage class](https://github.com/Azure/AKS/issues/118)

[2021-03-20 11:07] JaroslavMajera commented on #2207
Thank you for info @magooster.

[2021-03-20 11:07] #2207 closed

[2021-03-20 11:32] magooster commented on #2207
One thing to note AKS still uses the deprecated topology labels

failure-domain.beta.kubernetes.io/region
failure-domain.beta.kubernetes.io/zone

so if your using any affinity rules you need to use those labels in your resource specs.

see [AKS adds/uses deprecated failure-domain.beta.kubernetes.io labels](https://github.com/Azure/AKS/issues/2188)

[2021-03-20 16:04] vishiy commented on #2005
@toma567 - This is in our backlog. We will look into it as we progress.

[2021-03-20 16:28] BL19 opened #2208 "Port Forward TCP & UDP on the same port"
**What happened**:
I am trying to forward a port that needs both udp and tcp on the same port. If i forward with `kubectl port-forward ...`, it works. But the port on the public ip is not working.

**What you expected to happen**:
I expect to be able to connect to the public ip of my cluster with that port and be able to use both UDP and TCP on the same port.

**How to reproduce it (as minimally a

[2021-03-21 11:54] manvkaur commented on #1686
Hi @feiskyer ,

We have created a private DNS zone linked to cluster VNet and hub Vnet - `privatelink.westeurope.azmk8s.io`
Create a new user assigned managed identity having access on the private DNS zone

Using ARM template API version - 2020-09-01
passing the private DNS zone resource Id  - `/subscriptions/<subscriptionId>/resourceGroups/<resourcegroup>/providers/Microsoft.Network/privateDnsZon

[2021-03-21 15:49] hjarvard opened #2209 "Is it possible to configure idle timeout for control plane?"
Hi, I have a software which watches cluster for changes, e. g. pods getting reschedules etc. Release 2020-11-09 enabled control plane to send RST packet for idle connections after fixed 4 min interval.
Can it be configured to a different value or is it implied that client must send send keep alive packets every <4 min?

[2021-03-21 19:23] HansK-p opened #2210 "AKS network policies with azure-npm:v1.1.8 doesn't seem to be production ready"
**What happened**:
There were network timeout issues affecting a namespace where Network Policies are applied. In this namespace there are only ingress network policies, but egress traffic was also affected when the incident hit us. This means that DNS lookups timed out, access to external and internal URLs timed out and access from the Nginx Ingress to the service timed out.

Removing and/or reap

[2021-03-22 00:19] feiskyer commented on #1686
please file a support ticket as customer information is required for checking cluster issues.

[2021-03-22 00:59] Musham-Aj commented on #1686
Hi,

In the arm templates, under apiServerAccessProfiles put privateDNSZone as 'none',it doesn't throw any error in deployment and it wont create the 'dnszone'. so that post creation of the aks cluster, we have to take up the private ip address (NIC card) from the MC-RESOURCEGROUP and FQDN of aks(you will get it from AKS page) and it in hosts file '/etc/hosts' from which server you want to manage

[2021-03-22 01:03] Musham-Aj commented on #1686
@manvkaur

Hi,

In the arm templates, under apiServerAccessProfiles put privateDNSZone as 'none',it doesn't throw any error in deployment and it wont create the 'dnszone'. so that post creation of the aks cluster, we have to take up the private ip address (NIC card) from the MC-RESOURCEGROUP and FQDN of aks(you will get it from AKS page) and it in hosts file '/etc/hosts' from which server you want

[2021-03-22 01:44] bcho commented on #2203
@ekhaydarov thanks for reporting this issue! I have a question for the managed identity `aks-ns-data-mlp` we are checking: did you delete this identity, **before** running the pod identity delete command?  If so, we suspect there is a bug that cause the cluster's pod identity reference are in a wrong state.

I will try repro in my end with following steps as well: 1. assign managed identity to the

[2021-03-22 02:44] feiskyer commented on #1686
@Musham-Aj For the failed cluster, could you login to one of the nodes and verify DNS resolution (e.g. by nslookup command)? I'm wondering why the DNS resolution doesn't work with BYO dns zone.

[2021-03-22 03:14] ekhaydarov commented on #2203
Hi @bcho
Pretty sure that delete was run only an the user assigned identity and the pod identity delete was missed altogether for a few days. This is because the identity was deleted through terraform. Pod identity is not available in terraform so was missed out. It was in a null resource but destroying that resource doesn't actually run pod identity delete

However, your colleague @aramase has al

[2021-03-22 03:21] bcho commented on #2203
@ekhaydarov thanks for the info! One more thing to confirm, did all your delete attempts send from terraform?

[2021-03-22 03:35] ekhaydarov commented on #2203
Delete attempts were az cli commands from the same container that runs terraform. I did attempt with my own user a few times. The subscription owner tried once too and still couldn't delete

[2021-03-22 04:12] bcho commented on #2203
@ekhaydarov I think I can reproduce this issue now, I tried following setup:

1. create two managed identities and assign to an AKS cluster with `aks pod-identity add`
2. delete both identities from portal
3. run `aks pod-identity delete` for to remove any one of above identities, we should see the command failed with complaining it cannot check the permission for another identity.

This usage tri

[2021-03-22 04:20] ekhaydarov commented on #2203
There are more identities that are stuck. And one more cluster in the same RG that had the same thing applied to it so pretty sure has stuck identities. I am not at my terminal but will post a full list of all pod identities to delete

Also would you be able to share the docs or steps to where I can open up a support case in the portal? I have not done it before

Thanks for your help

[2021-03-22 04:26] bcho commented on #2203
<img width="276" alt="Screen Shot 2021-03-22 at 12 24 38 PM" src="https://user-images.githubusercontent.com/1975118/111940409-a12d5000-8b09-11eb-9f09-5ab44e9fe4c6.png">

@ekarafezov we can open a support ticket in the AKS cluster resource page, from the sidebar. Please provide the full list of managed identities you want to remove in the support ticket, then I can remove them today, thanks!

[2021-03-22 08:08] manvkaur commented on #1686
Hi @feiskyer

I have a support ticket with Azure Premium Support Team already. Sharing the case Id - 2103120060003636

[2021-03-22 10:21] evmimagina commented on #2185
Hi @miwithro ,

Thanks four your reply. Unfortunatedly the link you provide is for registering the API URL as an internal DNS registry (if I'm not mistaken), the scenario I'm asking is about how could I use an internal Azure DNS Zone for registering kubernetes services (or pods) names.

Regards,

[2021-03-22 11:51] ekhaydarov commented on #2203
@bcho i cannot open a support ticket right now.
here are the pod-identities that need to be deleted
[code]

[2021-03-22 13:01] andriktr commented on #2085
Moving to 19.1.17 fixed the problem.

[2021-03-22 13:01] #2085 closed

[2021-03-22 13:09] bcho commented on #2203
@ekhaydarov I had manually updated both clusters, PTAL.

While we are working on the fix in AKS end, I would suggest we avoid deleting the managed identities before removing from the cluster; i.e. run `aks pod-identity delete` then `identity delete`. Sorry for the inconvenience!

[2021-03-22 13:12] ekhaydarov commented on #2203
Thank you, I managed to submit the support request for both the clusters and referencing this issue in the comments. Hope that is OK.

[2021-03-22 13:16] bcho commented on #2203
That's fine! I can handle the ticket. Yes I had removed these failed identities. We should be able to assign new pod identities to the cluster now.

[2021-03-22 13:24] jotavar commented on #2203
@bcho I was assigned this case, can you please reach out to me over Teams to discuss next steps?

[2021-03-22 14:19] miwithro commented on #2185
@evmimagina that is not a currently supported scenario.  We are looking into public dns which would support this scenario.

[2021-03-22 14:21] miwithro commented on #2080
@gunjanj @RenaShahMSFT any updates?

[2021-03-22 14:27] miwithro commented on #1924
@vishiy

[2021-03-22 14:27] #2039 closed

[2021-03-22 14:40] evmimagina commented on #2185
Hi @miwithro ,

Thanks for your reply.
In my opinion would be better if the feature is supported on Private DNS Zones first, after all, the goal would be to register services names or other elements within the K8S that would require to use a customized domain name (beyond editing core-dns settings... or using external-dns).

[2021-03-22 15:07] jabbera opened #2211 "Performance of Azure Premium Files (NFS/CFIS)/file.csi seems poor"
**What happened**: Local disk is 190X the performance of using a mount backed by Azure Files Premium NFS or CIFS

![image](https://user-images.githubusercontent.com/301208/112010827-09763480-8afe-11eb-93f4-0dc651150af4.png)

**What you expected to happen**: Mounts should be faster

**How to reproduce it (as minimally and precisely as possible)**:

Create pod with volume NFS\CIFS and emptyDir mount

[2021-03-22 15:09] jabbera commented on #2211
Whoops: https://github.com/Azure/AKS/issues/223

[2021-03-22 15:09] #2211 closed

[2021-03-22 15:09] jabbera commented on #223
This is really terrible. NFS doesn't seem to help in my case. Can anyone share their options that made this better?

[2021-03-22 15:18] tbertenshaw commented on #223
In the context of the moodle installation and post installation performance. Azurefiles was terrible. Even if i used a 1TB pvc ( for the IOPS) when i needed only 2GB.

Also tried the new CSI drivers and that didn't seem to make the installation any faster/usable.

What does seem to be possible i found whilst looking through @andyzhangx 's demo [repo ](https://github.com/andyzhangx/demo/) was [Azur

[2021-03-22 15:52] miwithro commented on #2082
@paulgmiller

[2021-03-22 15:59] patrickheinzelmann commented on #223
I'm also looking for a working and cost effective solution.

I wanted to speed up the Maven build processes of our Jenkins running on AKS. The most time consuming task is to download the build and project dependencies from the Internet. Therefore I wanted to cache the Maven Repository (".m2/repository") on a shared file storage, which can be linked into the dynamically created PODs running the Mav

[2021-03-22 16:29] palma21 commented on #2195
The LB operations are actually sent in parallel. But can only be executed in sequence by the LB. We are working with the Azure LB team to improve this.

[2021-03-22 16:39] patrickheinzelmann commented on #223
@andyzhangx As I understand the CSI will be default driver in future releases starting with Kubernetes 1.21. https://docs.microsoft.com/en-us/azure/aks/csi-storage-drivers

Does Microsoft activate the CSI driver during the upgrade to 1.21 or do I have to recreate my cluster to active the CSI driver?

[2021-03-22 16:55] gitflo1 commented on #2159
Hi @EppO .
Currently the private AKS nodes use the official NTP pool servers.
* AKS Kubernetes version 1.18.14
* AKS node SKU: aks-ubuntu-1804-gen2-2021-q1
* AKS node version: 2021.01.28

This is from my private AKS node's /etc/ntp.conf file:

[code]

A support for custom NTP server configuration would still be nice 👌

[2021-03-22 17:45] lagalbra opened #2212 "Upgrading to k8s version 1.18.10 leaves nodepool instances in warning state"
**What happened**:
Our AKS cluster was running k8s version 1.17.13, but after running `az aks upgrade --resource-group "${rg}" --name "${cluster_name}" --kubernetes-version "1.18.10"`, two of the instances in the VMSS resource show they are not on the "latest model":
![image](https://user-images.githubusercontent.com/21086952/112033577-c9fa1900-8afa-11eb-81b2-64a7fba2b34e.png)

I tried running `az

[2021-03-22 17:46] SteveCurran opened #2213 "Unable to access DNS when pod condition is not ready"
**What happened**:
When trying to make an http request in a container during start up the request is unable to resolve the host until the pod condition is "ready". Any other condition it appears DNS is not available. This is only happening in windows containers. This makes it impossible to use an init container to check whether other services are available.

**What you expected to happen**:
I woul

[2021-03-22 18:35] jabbera commented on #223
@patrickheinzelmann  I'm using the CSI drivers. They are not helping.

[2021-03-22 18:50] ekhaydarov commented on #2203
so we have a very bad workaround in terraform that looks something like this. We do not want this to be a long term solution.

[code]

The ideal solution is this terraform-providers/terraform-provider-azurerm#10206. However, what seemed like scheduled for imminent release has now been untouched for over a month with no sign of progress. Would it be possible to get any info on when we would be able

[2021-03-22 19:19] patrickheinzelmann commented on #223
@jabbera Good to know! This issue is know three years old and no working solution is available!

[2021-03-22 19:30] evtimmy commented on #223
We did try the CSI AzureFile storage and results are same - too slow! To summarize the fundamental issue that leads people trying this out is we are all looking for AKS storage solution with following characteristics:
1. Reasonable performance, at least measurable to the basic HDD/SSD managed disk performance
2. ReadWriteMany access mode
3. Reasonable cost ~= available in small sizes - one use cas

[2021-03-22 19:46] miwithro commented on #2149
@paulmiller

[2021-03-22 20:03] andrewsali commented on #223
For those looking for a more performant solution (especially for small
files / metadata) that is relatively easy to set up on AKS - CephFS via
Rook can be an option.

https://rook.io/docs/rook/v1.5/ceph-filesystem.html

However doing it at scale in production brings its own challenges (eg.
disaster recovery), so is definitely not comparably easy to a managed
solution.

On Mon, Mar 22, 2021, 20:30

[2021-03-22 20:15] patrickheinzelmann commented on #223
I always thought that the benefit of using a cloud provider is that you have to care about basic stuff like storage as this is managed by the provider ;)

[2021-03-22 20:50] miwithro commented on #2144
@cforce I don't know of another way other than changing the original nginx helm?

[2021-03-22 20:53] miwithro commented on #1506
@gsxmax @foobarnum @esunder @djsly have you upgrading to at least K8s 1.18?  We have made significant strides in the API server stability.  I would be curious if you are still seeing that post 1.18.

[2021-03-22 21:05] pragyaaneja opened #2214 "Validating webhook configuration "sgx-validate-config" denies pod creation request for customer workloads with no requested resources"
**What happened**:
As part of the confidential computing addon "ACCSGXDevicePlugin", a validating admission webhook was also deployed. This validating webhook configuration "sgx-validate-config" has a bug in validating customer workloads i.e pod configurations.
If a pod is deployed in any non-control-plane namespaces with no requested resources in any of the pod containers, the validating webhook

[2021-03-22 21:19] FanerYedermann commented on #1394
Almost the same case here. I have a raw socket that I don't want spammed.

[2021-03-22 21:43] pragyaaneja commented on #2214
@palma21 @robbiezhang

[2021-03-22 21:44] miwithro commented on #2185
Sorry I got confused on your ask. I deleted my previous response.

The answer to your question is that you can use external DNS as you mentioned yourself today, and we are looking at offer this as a AKS addon in the future.

https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/azure.md

[2021-03-23 06:56] benydc commented on #1687
@palma21 any update on the migration?

[2021-03-23 08:43] nlighten opened #2215 "AzureKubernetesService FQDN tag not updated after Azure Policy Egress changes"
**What happened**:
With #1969 changes where introduced regarding Azure Policy Egress traffic. Documentation was updated to reflect that the following two rules are additionally required:

data.policy.core.windows.net HTTPS:443
store.policy.core.windows.net HTTPS:443

It appears that the `AzureKubernetesService` FQDN tag has not been updated to reflect this change. We see denies in our Azure Firewa

[2021-03-23 09:58] nlighten opened #2216 "Documentation and AzureKubernetesService FQDN tag have wrong port for changelogs.ubuntu.com"
**What happened**:
We followed instructions for [limiting AKS egress traffic](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic) and configured `AzureKubernetesService` FQDN tag. After doing so we see denies for `changelogs.ubuntu.com` in Azure firewall logs:

[code]

At the same time there are no Allows for `changelogs.ubuntu.com:80` suggesting that this port is not used by the AKS

[2021-03-23 11:56] JoeRistine opened #2217 "Bring your own VNet - UDR naming being overwritten with lower-case name"
**What happened**: UDR case is being overwritten to all lower-case with bring your own VNet.

**What you expected to happen**: AKS should maintain naming convention, including case.

**How to reproduce it (as minimally and precisely as possible)**: Provision AKS cluster with bring your own VNet and route table, with a route table having all upper-case characters.

**Anything else we need to know?*

[2021-03-23 12:17] jabbera commented on #1788
Any idea when this is coming to EastUS2?

[2021-03-23 12:26] magooster commented on #1963
Has the fix been rolled out globally. Looking at a fresh deployment of AKS 1.18.14 (I see that webhook pod has the toleration but not the azure-policy pod)

[2021-03-23 12:36] miwithro commented on #1963
@RamyasreeChakka

[2021-03-23 12:44] miwithro commented on #2206
@andyzhangx @feiskyer

[2021-03-23 12:55] m1o1 opened #2218 "coreDNS failing to resolve headless services"
**What happened**:

We have a cluster in EUS, with issues pretty much the same as this [stack overflow post](https://stackoverflow.com/questions/64132288/aks-kubernetes-coredns-fails-to-resolve-headless-services).

We have some headless services, which are failing to be resolved to IP addresses. Last night we were seeing errors saying that it could not resolve the host when we try to curl it from

[2021-03-23 13:33] miwithro commented on #1961
@andyzhangx

[2021-03-23 13:38] mattcollier opened #2219 "Panic on sgx-webhook pod with only one confidential compute node"
Hello Team,

We have been utilizing SGX in some of our AKS clusters for a few months now. We had been using the following command to deploy clusters:
[code]

Although the cluster is provisioned with this command, it is not possible to add workloads.  There are two symptoms that I have identified:

### Panic reported on the `sgx-webhook` pod
https://gist.github.com/mattcollier/e63bc548fd3e44c96e3a1

[2021-03-23 13:39] mattcollier commented on #2214
related: https://github.com/Azure/AKS/issues/2219

[2021-03-23 13:43] miwithro commented on #2193
@lazydino Mixed protocol support is listed as an Alpha feature.  We have a planned feature to support Alpha clusters which would light up this capability.

 https://github.com/Azure/AKS/issues/2058

[2021-03-23 13:44] miwithro commented on #2204
@paulgmiller can you get someone to look into this?

[2021-03-23 13:51] petegrimsdale commented on #2047
A similar issue occurs when attempting to use a subnet created within an ARM template.  In this case the add-on is defined within the ManagedCluster resource as:

"ingressApplicationGateway": {
                        "enabled": true,
                        "config": {
                            "applicationGatewayName": "[variables('appGwName')]",
                            "subnetId": "[varia

[2021-03-23 13:52] miwithro commented on #1923
@ohorvath are you still experiencing the issue?

[2021-03-23 13:53] miwithro commented on #2047
@akshaysngupta, @mscatyao would you be able to assist?

[2021-03-23 14:59] akshaysngupta commented on #2047
@miwithro will take a look soon.

[2021-03-23 15:25] miwithro commented on #2099
@marwanad can you look into this?

[2021-03-23 15:56] djsly commented on #1506
@miwithro  we have been on 1.18 for a while now, and we still get often cases where we would need to issue a rolling restart of the apiserver

[2021-03-23 16:04] miwithro commented on #1506
@juan-lee

[2021-03-23 16:36] seguler commented on #2155
AKS clusters are defaulted to the free tier and come with limited resources. For free clusters, the current limits for an API server is 50 mutating and 100 non-mutating in-flight requests. We are constantly improving our service and we expect to increase these sometime later this year.

If you have a need for higher number of in-flight requests, please opt-in for the Uptime SLA / paid tier. Cluste

[2021-03-23 16:38] aanandr commented on #1788
@jabbera - we are aiming to make this capability available in all regions by mid-May.

[2021-03-23 16:53] seguler commented on #2198
Can you please share more about what is filling up the disk? You can calculate top level directory sizes and drill down to find the cause of it. `du -sh /`

[2021-03-23 16:57] miwithro commented on #2146
@aramase @bcho

[2021-03-23 16:58] jabbera commented on #1788
@aanandr many thanks! Can't wait.

[2021-03-23 16:59] kamilzzz opened #2220 "After scaling out VMSS outgoing connections are dropped"
AKS with 3 node pools in West Europe, each in separate availability zone.
Standard Azure Load Balancer used both for ingress & egress traffic.

Outbound rule's port allocation strategy is set to "Manually choose number of outbound ports" and ports are chosen by "Maximum number of backend instances". 3 public IPs are used as outbound IPs.

![image](https://user-images.githubusercontent.com/32141632

[2021-03-23 18:53] agowdamsft commented on #2219
@mattcollier we already have a fix in place that should be rolling out soon. Apologies for the inconvenience, the documented workaround in #2214  should help in the time being while we roll out a fix.

[2021-03-23 18:53] palma21 commented on #1972
We'll look into it, but in essence those are standard states from ARM that AKS adheres to, other Azure resources like VMSS can also report provisioning failures or timeouts and keep retrying to ensure the instance correctly starts (and only then bring the VMSS to succeeded).

It's likely better to discuss this with the specific client in this case, I see the thread is still open, and align with TF

[2021-03-23 19:10] mattcollier commented on #2219
@agowdamsft thank you for the information.  Can you describe what the behavior will be after the fix is rolled out?

Will an attempt to provision a cluster without the requisite 3 confidential compute nodes fail straight away?

Also, wrt to the 6 confidential compute vCPU requirement described here: https://docs.microsoft.com/en-us/azure/confidential-computing/confidential-nodes-aks-get-started#pr

[2021-03-23 19:31] whitlaaa commented on #2214
I'm not particularly familiar with SGX, so apologies for the possibly ignorant question. My understanding is that any SGX functionality should be limited to the DCS confidential compute SKUs, but we're seeing the `sgx-webhook` prevent pod creations/updates as mentioned in this issue and are not leveraging confidential compute in any way. Is that expected? I was caught by surprise when that new pod

[2021-03-23 21:22] keikhara commented on #1787
@DenisBiondic  yes. I added to our backlog roadmap.

[2021-03-23 21:24] keikhara commented on #1454
@brobichaud We will be supporting LTSC versions which makes sense since it will be less disruptive. For more information about SAC release support, please refer to the Windows container team on this.

[2021-03-23 21:28] agowdamsft commented on #2214
@whitlaaa thanks for bringing this to our notice. can you confirm if you have a confidential computing addon enabled on your AKS cluster but not DCSV2 node pools but still seeing issues deploying your workloads?. CC @Pengpeng-Microsoft  and @pragyaaneja

[2021-03-23 21:49] whitlaaa commented on #2214
@agowdamsft our clusters have the `accsgxdeviceplugin` added, but I don't see the `confcom` addon explicitly mentioned anywhere. The related output of `az aks show` is below.

[code]

[2021-03-23 22:14] agowdamsft commented on #2214
@whitlaaa would you be open to sharing the AKS cluster ID and Azure Sub id privately so we can review internal logs to see what's going on? please email at acconaks@microsoft.com

[2021-03-24 03:17] feiskyer commented on #2206
Please open a support ticket with required cluster information.

[2021-03-24 11:21] OrangeTimes commented on #2218
Our team has faced the same issue. Deployments that use headless services do not work randomly, and this affects crucial services. There is no way in AKS how to upgrade CoreDNS to version 1.7.0 (the fixed version). This is possible only if we will use AKS engine.

[2021-03-24 15:50] miwithro commented on #2087
Yes this is normal behavior.  We manage that component for you.

[2021-03-24 16:36] alexl2012 opened #2221 "AAD Pod Identity Preview - MIC Controllers Removed"
Hi,

Please see below issue raised regarding the design change/implementation of AAD Pod Identity. Please can the removal of MIC controllers and the new implementation be reconsidered?

https://github.com/Azure/aad-pod-identity/issues/1017

[2021-03-24 16:42] alexl2012 commented on #1480
Hello, please can i bring your attention to

#2221

[2021-03-24 17:15] lagalbra commented on #2212
@Azure/aks-pm without an answer to this, we are blocked on moving our clusters to a supported version of k8s before the deadline on April 30.

[2021-03-24 18:03] miwithro commented on #2090
@paulgmiller can your team assist?

[2021-03-24 19:13] benmoss commented on #2197
FWIW this can be worked around user-side with:
[code]

[2021-03-24 22:16] miwithro commented on #2218
@paulgmiller

[2021-03-24 22:40] robbiezhang commented on #2218
we are aware of the issue. However, 1.7.0 is backward-incompatible.
https://coredns.io/2020/06/15/coredns-1.7.0-release/
There are quite a few breaking changes introduced in 1.7. We are evaluating the impact.

[2021-03-25 03:24] dstrebel commented on #2210
@HansK-p Any reason why you would not want to use Calico Network Policy with AKS?

[2021-03-25 09:27] alexl2012 commented on #2221
Hi , i have noticed that MIC controllers have been removed as Pod Identity has been added to AKS as an Addon.

Please please reconsider this design changes, it comes with some serious limitations which make it a lot less clear and a lot less workable to use.

For example before we had a chart file that lives in the repo and was part of the service that it belonged to, this was created as part of a

[2021-03-25 10:35] HansK-p commented on #2210
That's actually a good question. I had the belief that Calico wasn't supported with Azure CNI, but I see that it is.

The reason not to use Calico now is that it is not officially supported by Azure/Microsoft as I understand it. From https://docs.microsoft.com/en-us/azure/aks/use-network-policies:
- Azure network policies support: Supported by Azure support and Engineering team
- Calico network po

[2021-03-25 12:38] ProNibs opened #2222 "[Feature Request] Create Service Tags for ALL egress traffic requirements for cluster nodes"
Not sure if write place to put in this request, but definitely worth a discussion here:

* Currently, you can optionally define what vnet+subnet your cluster nodes will spin up in. Typically, a NSG will be applied to the whole subnet.
* As noted in the [Control egress traffic for cluster nodes docs](https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic#required-ports-and-addresses-for-ak

[2021-03-25 17:32] joggeli34 opened #2223 "No outgoing connections possible after sigterm"
**What happened**:

As soon as the containers receives the sigterm, they lose all the outgoing connections. This way we are not able to terminate websockets gracefully and to save the current state to the azure storage. It's also not possible to open new connections (eg. to the azure storage)

**What you expected to happen**:

All outgoing connections staying open, so that they can be ended gracef

[2021-03-25 17:47] xhl873 commented on #2138
I've made the change to allow lower Kubernetes version in input, the changing is rolling out now. It will allow input has lower k8s versions than the current version, in this case, the lower input version will be ignored, after that, you should be able to don't need to upgrade version in ARM template if the version is already upgraded by autoupgrade. If the current version is not target version, a

[2021-03-25 18:02] #2193 closed

[2021-03-25 18:12] marwanad commented on #2099
As mentioned above, soft taints aren't considered. Even if it did, there's still a chance scheduler will schedule those pods onto those ACI nodes.

I think your best bet is probably using overprovisioning for this case.

[2021-03-25 20:42] verysonglaa opened #2225 "AKS Network Policies deleted but iptables rules were not removed on all nodes"
**What happened**:
Deleted networkpolicies in kubectl but iptables did not change on 1 Node:

kubectl (after policy deletion)
[code]

on Node aks-default-34356021-vmss000001 (this one still has iptable rules from deleted policies):
[code]

on Node aks-default-34356021-vmss000000 (this one is ok):
[code]

**What you expected to happen**:
Deletion of NPM rules leads to deletion of iptable rules in a

[2021-03-25 23:05] GinSiuCheng commented on #1686
Putting this sample here for people looking to deploy this via TF with hub-spoke requirements (where dns resolver lives in hub): https://github.com/GinSiuCheng/private-aks-deployment/blob/master/modules/azure_kubernetes_service/main.tf

[2021-03-25 23:19] GinSiuCheng commented on #2015
Putting this sample here for people looking to deploy this via TF with hub-spoke requirements (where dns resolver lives in hub): https://github.com/GinSiuCheng/private-aks-deployment/blob/master/modules/azure_kubernetes_service/main.tf

[2021-03-26 00:07] agowdamsft commented on #2219
@mattcollier thanks for the feedback. As this is an addon service to AKS we try to align with AKS release notes as much as possible . This release that is causing issues missed this communication path. Going forward we will make sure to be on the AKS board and release notes so you can have visibility on upcoming updates.

On the behavior of hotfix, if you have enabled the "confcom" addon on your A

[2021-03-26 00:20] mattcollier commented on #2219
@agowdamsft Thanks for the additional information.

To be clear, a cluster with a single Standard_DC2s_v2, along with the `confcom` add-on is a **valid** configuration.  Is that correct?

[2021-03-26 00:22] agowdamsft commented on #2219
That is correct. This cluster should receive an update when hotfix is released based on the region it is created.

[2021-03-26 01:32] EppO commented on #2182
It's supported and explained in the docs, you need to use a resource ID as argument (that will include the subscription ID).
Bottom line, what `--attach-acr` basically does under the hood is to create the `AcrPull` role assignment for the identity of the kubelet.
It could be achieved after AKS creation (need to get the kubelet Identity from the JSON response of the `az aks create` command) this wa

[2021-03-26 08:56] dimbleby commented on #1972
Am surprised to see this being closed.  @palma21 was that your intention when you added those labels?

From my point of view: we continue to hit the problem that this issue describes and - per your update - converation is active and ongoing.

[2021-03-26 09:01] matteocusinato opened #2226 "Cannot update my aks cluster service-principal"
Hi, I'm trying to update the service-principal cluster because it has expired.
I'm following the guide [Update or rotate the credentials for Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials)
I generated the new credentials but when I run the `az aks update-credentials` (with all the params)  comm

[2021-03-26 10:34] OrangeTimes commented on #2218
Is there any temporary workaround except trying to restart CoreDNS pods in AKS?

[2021-03-26 13:46] kamilzzz commented on #2220
Some additional informations:
- Azure CNI is used (in transparent mode I guess as it should be default right now), cluster was recreated one week ago
- AKS node image is up to date - AKSUbuntu-1804gen2containerd-2021.03.10
- After executing netstat -ano inside broken pod I can see Send-Q is growing:
![image](https://user-images.githubusercontent.com/32141632/112640143-58df9c00-8e41-11eb-852f-ad436

[2021-03-26 14:11] brobichaud commented on #2182
Ahhh, my bad, did not even try that approach as I avoid using the full resource id whenever I can. Thanks for the clarity. I may suggest in the docs that they call this out specifically.

[2021-03-26 14:11] #2182 closed

[2021-03-26 14:37] mattcollier commented on #2219
@agowdamsft can you provide a timeline for the hotfix deployment?  We are impacted by this in `useast` and `south-central`.  Thank you.

[2021-03-26 16:40] agowdamsft commented on #2219
@mattcollier hotfix deployments are almost done. south-central received the fix and useast will be done in couple of hours from now. Let me know if you continue to see any issues post 12 noon PST.

[2021-03-26 16:51] wsugarman commented on #2138
That's great news! Thank you for implementing this so quickly. When will this feature be live in all DCs?

[2021-03-26 17:41] denniszielke commented on #2145
It would also be great if we can provide an optional filter that allows to not receive all audit events which are generated by default system service accounts. Most of the time customers are only interested in activities from custom service accounts or actual users (authenticated by aad).

[2021-03-26 18:01] #2087 closed

[2021-03-26 18:02] jonathan-hurley opened #2227 "Managed Cluster Creation fails on Node Pool Creation"
**What happened**:
While creating a managed cluster, the agent pool initialization failed with a vmssCSE error. This moved the cluster into a `provisionedState: Failed` state. However, shortly after this, something auto-recovered the cluster and it retried automatically and moved into a `provisionedState: Succeeded` state.

**What you expected to happen**:
The provisioning step should not have ini

[2021-03-26 19:01] mabicca commented on #2118
Hi @xuto2 , thanks for the update. Is this going to be rolled out to other regions as well? It does look like it's working now the only thing that would probably be a good idea was to disable the ntp from startup since it still tries to connect a couple of times until systemd realizes ptp is being used and stops it. :)

[2021-03-26 19:09] lagalbra commented on #2212
From AKS team:
Not sure about the details of your specific case, but this used to be expected behavior due to VMSS + LB APIs: https://github.com/Azure/aks-engine/issues/1615#issuecomment-513232736

It avoids (avoided?) https://github.com/kubernetes/kubernetes/issues/71594

[2021-03-26 19:09] #2212 closed

[2021-03-26 19:40] kamilzzz commented on #2220
Looks like load balancer port allocation isn't an issue here as I observed the same behavior when I assigned a public IP per node for my VMSS (https://docs.microsoft.com/pl-pl/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools)

Now I'm even more confused.

[2021-03-26 19:48] palma21 commented on #2138
Also please refer to this one as something that is likely to help you in the future on ARM templates.
https://github.com/Azure/AKS/issues/1737

This is on the release notes and should be everywhere by end of next week the latest.

[2021-03-26 19:54] wsugarman commented on #2138
Oh, that'd be great too! Thank you both!

[2021-03-26 20:49] palmerabollo commented on #2220
@kamilzzz You describe the same issues we have been facing in the last few weeks. In case it's helpful, there is a [known service issue with tracking id 0TW1-9DZ in Azure](https://app.azure.com/h/0TW1-9DZ/4b67c4) that can cause intermittent, brief connectivity issues in your AKS nodes since Mar 9th. The affected regions are Brazil South; Central US; East US; East US 2; North Europe; West Europe; W

[2021-03-26 21:13] kamilzzz commented on #2220
@palmerabollo Thanks for the information.
Unfortunately link redirects me to the Service Health where I cannot find an issue with tracking id 0TW1-9DZ.

Also Resource Health blade for my cluster says that "There are no known issues affecting this kubernetes cluster."

[2021-03-26 21:48] DG007 opened #2228 "API FQDN naming different from the AKS name itself"
**What happened**: In our company environment, we use the AKS cluster naming structure as follows:
_clustername-buildnumer_ and the cluster gets created with the right API FQDN name and cluster name and the builds 1,2,3...7,8,9 worked absolutely fine as expected like so
pdicloud-9-pdicloud-9-xxx.hcp.westeurope.azmk8s.io
however starting with build number 10, I noticed that the cluster API FQDN nam

[2021-03-26 22:32] xuto2 commented on #2118
yes it's following aks service release train so it's probably everywhere at this moment.  This time we did it in a soft way, and yes we plan to stop it from the very beginning.

[2021-03-26 22:32] #2118 closed

[2021-03-26 22:38] mabicca commented on #2118
Alright, thanks for the update :)

[2021-03-27 03:02] #1944 closed

[2021-03-27 07:30] palmerabollo commented on #2220
Yes, resource health doesn't say anything about the issue. I see the notice under the global Service Health section, not associated to a specific resource. I'm attaching the screenshots just in case it helps. Good luck, @kamilzzz .

![Screenshot 2021-03-27 at 08 26 38](https://user-images.githubusercontent.com/673420/112713638-8d516780-8ed6-11eb-8a0c-9dacfa36907c.png)
![Screenshot 2021-03-27 at 08

[2021-03-27 08:34] Tbohunek commented on #1687
This would be great.

[2021-03-27 12:25] kamilzzz commented on #2220
Thanks for the details again.

I'm not sure if I'm impacted by this issue as it states that mounting or unmounting persistent volumes to and from Kubernetes pods may cause intermittent connectivity issues.

I'm not using any PersistentVolume mounts directly, however I'm using KeyVault Secret Store CSI driver to mount Key Vault secrets (https://github.com/Azure/secrets-store-csi-driver-provider-azu

[2021-03-28 18:02] #2219 closed

[2021-03-29 05:32] galiacheng opened #2229 "Can not access Services and Ingresses from azure portal"
**What happened**:access **Services and Ingresses** from azure portal, no service shown.
Error log from Browser Developer tools:
[code]

**What you expected to happen**: services are listed in portal **Services and Ingresses** page.

**How to reproduce it (as minimally and precisely as possible)**:

- Browser: Edge, Firefox, Chrome
- Open an AKS instance from azure poral.
-  Click Services and Ing

[2021-03-29 05:52] njuCZ opened #2230 "locations.json is not included in api version later than 2019-08-01"
in api version early than 2019-08-01, there is a `locations.json` swagger file.  In this swagger file, it defines en endpoint:
`/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators`

But in later version, this file is missing. So in all generated sdk, this rest api is missing.

May I ask is this rest api deprecated? or just replaced by other rest

[2021-03-29 07:42] HansK-p commented on #2210
Mostly FYI. Today I did a "kubectl rollout restart daemonset azure-npm -n kube-system" in order to solve a Network policies issue in one of our non-prod clusters.

So right now this seems to be the "universal" way to solve incidents created by this problem (but not validated sufficiently):
<pre>
kubectl rollout restart daemonset azure-npm -n kube-system
</pre>

[2021-03-29 08:05] nilo19 commented on #2148
Fix rolled out.

[2021-03-29 08:05] #2148 closed

[2021-03-29 08:51] bcho commented on #2203
Hey @ekhaydarov , currently we are focusing on the v2 version of this addon, therefore, we will keep the terraform implementation as-is.

[2021-03-29 09:11] vishnujanardhanan commented on #1062
@palma21 Created a cluster with k8s 1.19.7 and still dont find containerLogMaxFiles and containerLogMaxSize in az aks show. api doesnt show either. Should i enable any preview features to achieve this ?

[2021-03-29 10:16] kutsyk-neocles commented on #2198
@seguler the command is not finishing to execute and logs me out of node due to high CPU usage. But I can see that nodes disk is full:
![image](https://user-images.githubusercontent.com/61271706/112822684-8d916480-9088-11eb-98e5-b0456a6cc09c.png)

[2021-03-29 11:50] tehho commented on #1955
microsoft.ContainerService/CustomKubeletIdentityPreview? :crossed_fingers:
Datamining with az cli
[code]

[2021-03-29 12:54] NBroomfield commented on #1875
Any update on this?

I've been following your documentation on UDR and egress (https://docs.microsoft.com/en-us/azure/aks/limit-egress-traffic), but they use an Azure firewall which is too expensive for my needs, I'd like to remove this element, but then I get these same issue with the routing table.

Thanks

[2021-03-29 17:16] agowdamsft commented on #2214
Hotfix has been in place since 2/25. Existing AKS clusters should have received an update automatically.  This issue will be closed. If you see any issues please create open a new issue.

[2021-03-29 17:16] #2214 closed

[2021-03-29 18:14] robbiezhang commented on #2217
@JoeRistine , thanks for reporting the issue. Can you provide more information about your test, like region? AKS resource provider no longer update the BYO RT. We need to check who made the change.
In general, Azure resource names are case-insensitive. Can you explain your scenario that depending on the casing of the RT?

[2021-03-29 18:21] SkinyMonkey commented on #2155
Thank you @seguler That makes sense, I'll check with our op team what's the tier status of the clusters.

The requests are mostly reading requests.
We retrieve an pod in a controller, if it exists we use it, if it doesn't we create it before using it.

I think it can reach as much a 300 concurrent requests at some point and might go further later.
We're can try to mitigate this with a queue.
Are t

[2021-03-29 19:06] darthmolen commented on #1757
Any news on when this is GA?

[2021-03-29 19:08] darthmolen commented on #1479
Interested in this too. The current samples out there don't even work currently. (they give api errors)

[2021-03-29 19:15] PixelRobots commented on #1479
Hello, are you able to share some of the examples that no longer work. Will like to see if we can get them sorted.

[2021-03-29 19:27] tomkerkhove commented on #1479
Yes, happy to help as well

[2021-03-29 21:13] jayush commented on #2227
Any updates on this? This is being hit consistently and we also have a support case for it. Can we get some traction on this?

[2021-03-29 21:26] tnogueira opened #2231 "Port forwarding not working"
**What happened**:
I deployed a few services on a AKS cluster. The services are up and running, everything looks healthy, and i can start an interactive shell on any of the containers with no problems.

However, when i try to use `kubectl port-forward` to forward a local port to a pod, it does not work.

[code]

The output looks nominal
[code]

But i cannot access the service/pod using the local p

[2021-03-29 21:58] palma21 commented on #2227
We're following this issue at: 2103260010001839

Since this is isolated, if you're facing this/are on this thread and are not in this support ticket please open one and paste here, we'll follow up there as well.

[2021-03-29 22:14] jonathan-hurley commented on #2227
Yes, there is a support ticket already tracking this. How sure are you that this is isolated? Azure automatically retries the failures and moves the failed cluster's status from failed into succeeded. This wouldn't normally be visible to anyone using the portal since they are not digging into the cluster as it provisions. Our software detects the failure part way through which is why it's affectin

[2021-03-30 01:19] ammohant commented on #2166
@rachitb777  -  Can you pls help close this one ?

[2021-03-30 02:11] arsnyder16 commented on #2150
closing this was addressed after opening a Microsoft support ticket there  was a bug on the control plane side

[2021-03-30 02:11] #2150 closed

[2021-03-30 02:21] lissff opened #2234 "AKS service CIDR collapsed with AKS reserved CIDR"
**What happened**:
Cluster creation failure with no reason, when AKS service CIDR collapsed with AKS reserved CIDR.

**What you expected to happen**:
It took us days to realize the root cause for AKS creation failure is because of the conflicted CIDR. I know the documentations specified the limitation:
AKS clusters may not use 169.254.0.0/16, 172.30.0.0/16, 172.31.0.0/16, or 192.0.2.0/24 for the K

[2021-03-30 02:58] palma21 commented on #1972
Yup you're right, closed by mistake. Re-opening

[2021-03-30 06:55] cforce commented on #1924
same here

[2021-03-30 08:08] kamilzzz commented on #2220
@palmerabollo do you have any update on the 0TW1-9DZ issue?

I would like to retest my case after this issue is fixed but as I said before I cannot see it on my subscription.

[2021-03-30 08:14] BL19 commented on #2208
I got it working by setting up 2 loadbalancers, one for TCP traffic and one for UDP traffic on 1.20.2.
The performance was poor for my use case so I migrated to a VM instead.

[2021-03-30 08:14] #2208 closed

[2021-03-30 10:34] HansK-p commented on #2210
And had to restart those azure-npm pods also yesterday in a prod environment. I'm not going to write an entry here for each time I have to restart those pods. This is just to give an indication that Azure Network Polices is unstable in our environment, for more than one cluster and I doubt that our setup itself is the reason it is unstable.

[2021-03-30 14:44] osuketh opened #2235 "Cannot add "spot" confidential computing node pool to AKS cluster"
**What happened**:
By default, the Spot node pool adds a taint of `kubernetes.azure.com/scalesetpriority=spot:NoSchedule` .
Since custom toleration cannot be set for the daemonset of sgx-plugin,  the sgx-plugin pod is not scheduled for the Spot Confidential node and the SGX driver cannot be used.

**What you expected to happen**:
sgx-plugin daemonset also schedules pods to spot node pool.

**How t

[2021-03-30 15:39] vishiy commented on #1924
All - this original issue is due to misconfiguration for private clusters, which @sudharsanomprakash posted back with a solution.

@genpattonmd - this terraform issue is unrelated to this. Please open an issue for that and reference here and AKS team will look into it.

@cforce - Please share the issue you are seeing.

[2021-03-30 16:40] haitch commented on #2227
@jonathan-hurley this does means AKS control-plane provisioning is slower than AKS agentPool VM provisioning, I will try to investigate and fix.

also I want to understand how often does this issue bugs you? I don't expect this issue to be happening very often.

[2021-03-30 16:45] SteveCurran opened #2236 "Calico for Windows does not work with nginx load balancer or nginx-ingress"
**What happened:**
We are testing calico network policy for windows with 1.20.2. Our current configuration is a nginx load balancer directing traffic to nginx-ingress controllers in different AKS clusters. Unfortunately it appears since calico for windows requires and enables WinDSR it prevents network flow from nginx and nginx-ingress. Exposing the service with a public load balancer and making r

[2021-03-30 16:46] jayush commented on #2227
@haitch
This is repro’ing consistently over the past few days.

[2021-03-30 18:45] haitch commented on #2227
we suspect this could be azure network issue, can you try with different azure region? with same cluster setup.

[2021-03-30 18:54] SteveCurran opened #2238 "WinDSR enabled by default in 1.20+ can it be disabled?"
**What happened**: WinDSR enabled by default in 1.20+ causing nginx and nginx-ingress to no longer work

**What you expected to happen**: Can WinDSR be disabled or added as an "enable-addon" option when creating a cluster?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**: Linux/Windows node pools
- Kubernetes version (use `kub

[2021-03-30 20:20] sebastienc commented on #1477
Hi, we've got a couple of workloads (ES, prometheus, etc..) that got us in the situation of having a disk full which normally we'd have expanded and were required to do it "offline" like described in this ticket. Would really appreciate to have this prioritized and made available.

[2021-03-30 20:30] lynshi opened #2239 "Public IPs are not freed after Kubernetes resource deletion"
**What happened**:

We installed a Helm release including the following resource:
[code]

After some time, we deleted the release and namespace (thereby deleting the Load Balancer resource). A few hours later, we reinstalled the release with the same Helm values file as before. This time, the Load Balancer never became Ready due to a DNS name conflict.

[code]

**What you expected to happen**:
Del

[2021-03-30 20:41] agowdamsft commented on #2239
@palma21 can you help or tag the partner teams supporting CNI?

[2021-03-30 22:30] daviddesmet commented on #2148
I had been struggling with this problem all day until I found this issue and applied the workaround which worked nicely.

I'm reading that the fix is already rolled out, my question is how should I apply it since the cluster was created in Azure and most probably the azure disk csi driver came with it. The dates match with the AKS creation date.

[2021-03-31 01:00] jayush commented on #2227
We predominantly run our validation runs on westus2 region and consistenly see this issue. We can get back to you if we see this issue in other regions.

[2021-03-31 01:44] feiskyer commented on #2131
@kelvinatph does the issue still happen for you? if so, could you open a support ticket for it?

[2021-03-31 03:28] bcho commented on #2146
Ack and thanks for the feedback, we will add these taints for nmi deployment in the upcoming release. cc @miwithro